[2019-10-22 08:25] jacobopolavieja opened #4314 "After installing GraphQL plugin: "an error occurred during models config fetch""
**Describe the bug**
After installing the GraphQL plugin, I can't access the admin panel. I receive an error of "an error occurred during models config fetch" (translated from my language).
API seems to be working with Playground, Postman, etc.

**Steps to reproduce the behavior**
1. Install GraphQL plugin
2. Start strapi with 'yarn strapi start'
3. Use Playground
4. Go to localhost:1337/admin
5.

[2019-10-22 08:39] soupette commented on #4300
@dandv we are aware that the current WYSIWYG could be improved. However we are under active development of others features like the [dynamic-zones](https://portal.productboard.com/strapi/1-public-roadmap/c/9-static-content-types-pages). However, we the release of the beta.17 we have added a new feature which allows you to develop inside the administration panel so changing the current WYSIWYG has

[2019-10-22 08:40] soupette commented on #4301
@dandv I agree we are currently working on the content manager so we will take care of removing all the unnecessary capitalised words in the plugin.

[2019-10-22 09:34] #3596 closed

[2019-10-22 09:34] #3796 closed

[2019-10-22 09:34] #4000 closed

[2019-10-22 09:34] #1829 closed

[2019-10-22 09:34] #3382 closed

[2019-10-22 09:34] #2149 closed

[2019-10-22 10:21] jacobopolavieja commented on #4314
Nevermind... My fault.

To test with Playground I had installed the ModHeader Chrome extension as advised in Strapi's doc. It relies with the set configuration for the admin panel too, so it was trying to send the same Authorization headers to the admin panel as to the GraphQL Playground.

Unchecking the header in the ModHeader extension or just pausing ModHeader solved the problem.

Leaving this

[2019-10-22 10:21] #4314 closed

[2019-10-22 12:21] roycornelissen commented on #2350
@stefanmaretic did you ever manage to finish this Azure Blob Storage package?

[2019-10-22 12:30] stefanmaretic commented on #2350
I found this one that I contributed to:
https://github.com/sylvaingirardbe/strapi-provider-upload-azure

[2019-10-22 12:36] roycornelissen commented on #2350
@stefanmaretic thanks for the quick reply and the link. Installed the provider, but I can't figure out how to configure it - I'm kind of a Strapi n00b and the documentation on it is really scarce :(

[2019-10-22 12:39] #4289 closed

[2019-10-22 12:44] lauriejim commented on #1906
Hello @cube-dan !
Thank you for this feedback.
We will remove the UI of the settings manager to let all these configurations editable by updating the wite files directly.
We will document this issue and the fix.

[2019-10-22 12:51] lauriejim commented on #4292
Hello @darthzyklus .
With the info you gave me I will not be able to help you.
I need to know more:
- You data models
- Number of images you used
- And steps to reproduce your issue

[2019-10-22 12:52] daehruoydeef opened #4317 "Graphql undefined field when field has relation"
**Describe the bug**
When I query my user object with `users(id: "2)` and access the relation of the subfield strapi throws error.

`Your filters contain a field 'undefined' ...`

**Steps to reproduce the behavior**
1. create a contenttype groups
2. create a contenttype question with a title field called title
3. add relation so:

A group can have many questions, a question can only have one group

[2019-10-22 12:57] anmolmahatpurkar opened #4318 "Cant select an already uploaded file on media field in any content type"
**Describe the bug**
While adding content to any content type with a media field, the generated form does not have an option to select from the already uploaded files in the File Upload Section.

**Steps to reproduce the behavior**
1. Create a content type with a media field.
2. Try adding an entry in the content type.
3. In the media field, there is no option to select from the already uploaded f

[2019-10-22 13:12] RanaOsamaAsif commented on #4259
**Strapi version v3.0.0-beta.11**

@derrickmehaffy  I'm facing this issue as well when trying to update a user's profile picture via GraphQL mutation.

Here is the mutation I'm executing in the GraphQL playground
`mutation update{
  updateUser(input:{where: {id: "5daafac2c404f83532248be2"},
    data:{
      first_name: "New First Name"
      profile_image: "5daee5c70a977a5af9634129"
  }})
  {

[2019-10-22 13:17] soupette commented on #4318
@anmolmahatpurkar this is the expected behaviour, the possibility to choose between already uploaded files will come with the [media library](https://portal.productboard.com/strapi/1-public-roadmap/c/28-media-library-with-edit-crop-resize-capabilities) feature that is already planned.

[2019-10-22 13:18] #4318 closed

[2019-10-22 13:28] lauriejim commented on #4293
Hello @Cedric-Lefebvre !
I found the documentation example pretty clear [here](https://strapi.io/documentation/3.0.0-beta.x/concepts/queries.html#custom-queries).

In your code snippet, you just forgot the `.model` before the query.
It was documented.

[code]

[2019-10-22 13:28] #4293 closed

[2019-10-22 13:31] #3546 closed

[2019-10-22 13:58] derrickmehaffy commented on #4259
`Strapi version v3.0.0-beta.11` @RanaOsamaAsif always test with the latest version.

[2019-10-22 14:18] #4295 closed

[2019-10-22 14:29] lauriejim commented on #4297
Hello! Your `createdUser` relation looks strange.
What is the relation type you created?

[2019-10-22 14:57] lauriejim commented on #4303
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-10-22 14:57] #4303 closed

[2019-10-22 15:02] GrzegorzZajac000 commented on #4313
Okay, that's not a problem with CORS in Strapi. Closing

[2019-10-22 15:02] #4313 closed

[2019-10-22 15:12] arsen-ch opened #4322 "Groups don`t work with MongoDB"
**Describe the bug**
Entries with groups cannot be saved and fetched when use MongoDB. In the previous version, everything worked fine.

**Steps to reproduce the behavior**
1. Add group to a type.
2. Create new entry and fill group.
3. Press save: TypeError: Cannot read property '0' of undefined

**System**
- Strapi version: 3.0.0 beta 17.3
- Database: MongoDB

[2019-10-22 15:37] secretlifeof opened #4323 "Feature or help wanted: Query Image width/height to prevent browser reflow"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
I am wondering if it would be possible to receive the width of an image, from a GraphQL query? The image size can be queried. The reason being to prevent browser reflow

[2019-10-22 15:41] lauriejim opened #4324 "Review validation layer"
### Introduction
I create this issue to avoid other issues related to the same topic.

## Description
Currently, if you are adding a `min` / `max` limit or `default value`,  will not be applied in the REST routes.
Only `required` and `unique` constraints work.

`min` / `max` will only be applied in the admin panel.

## Contribution

If you want to work on this topic, I suggest you open an RFC on t

[2019-10-22 15:42] lauriejim commented on #4304
Hello @Palgie !
Thank you for this issue.

In fact, the password min length is configurable by using the [customization concept](https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html).
By updating the [User model](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/models/User.settings.json#L29).
You will be able to configure the `minLength` of

[2019-10-22 15:42] #4304 closed

[2019-10-22 15:46] lauriejim commented on #4306
Hello! This issue looks related to the `alpha.16.2` version of strapi.
We are not in `beta.17.2`. I suggest you update your application.
This issue doesn't exist in the last version.
(the alpha.x.x is not maintained so I close this issue)
Migration guides are available in the documentation.
Thank you.

[2019-10-22 15:46] #4306 closed

[2019-10-22 15:52] vHades0199 commented on #4297
![Capture](https://user-images.githubusercontent.com/10781752/67304747-8292e600-f51e-11e9-92a6-a977ae25d0f5.PNG)

[2019-10-22 15:57] vHades0199 commented on #4297
not only createdUser, all group by a ref content type is same error

[2019-10-22 16:00] TheRealBarenziah opened #4325 "Relationship issues migrating mySQL project from alpha to beta"
I am in the process of migrating a mySQL project from alpha to beta. I followed the migration guide and it solved most of my issues but not all of them. Afaik those come from the ORM and the way relations are established.
I have two separate problems that I'll gather to avoid spamming. **If you prefer that I post two separate issues please tell me & I will edit**. But as they both concern the migr

[2019-10-22 16:29] anmolmahatpurkar opened #4326 "Graphql: Nested objects returns null"
**Describe the bug**
Fetching for nested objects returns null in response

**Expected behavior**
Should return the respective data in the response

**Screenshots**
![Screenshot 2019-10-22 at 9 52 43 PM](https://user-images.githubusercontent.com/36692003/67308034-195ba480-f517-11e9-8808-0d72dd7be84d.png)

**System**
- Node.js version: v10.16.3
- NPM version:
- Strapi version: 3.17.3
- Database: Pos

[2019-10-22 17:04] RanaOsamaAsif commented on #4259
@derrickmehaffy Hi, thanks for replying. Can you kindly provide me with the link of migrating guide from Strapi version v3.0.0-beta.11 to beta.17.3. The only guide I could find was from beta.15 to beta.16.

[2019-10-22 17:15] iRoachie commented on #2497
Hey @derrickmehaffy is there any update on this?

[2019-10-22 17:19] derrickmehaffy commented on #2497
Last I spoke with @soupette he was in the process of adding in the buffetjs.io stuff. Once that is added it will be trivial to add in the new date stuff. No ETA yet but I think the buffet stuff will be in beta.18

[2019-10-22 17:21] derrickmehaffy commented on #4259
you would follow the same guide to the beta.17 stuff. Most updates don't require a migration guide on the beta you just change the package versions in your package.json

`rm -Rf node_modules .cache build package-lock.json yarn.lock`
`npm i` // `yarn install`
`npm run build` // ` yarn build` // `strapi build`

[2019-10-22 17:27] iRoachie commented on #2497
Is there an ETA for beta.18 though? I'm not seeing buffetjs stuff on the product board.

[2019-10-22 17:29] igigi opened #4327 "can GitHub provider redirect to api with code? then redirect to front end with token and user profile"
**Describe the bug**
GitHub provider can not redirect to api with code, then redirect to front end with token and user profile

**Steps to reproduce the behavior**
1. go to admin Roles & Permissions plugin config page
2.config GitHub provide with "http://localhost:8000/callback"
3. front end login with GitHub to "http://localhost:1337/connect/github"
4. after authorization, redirected to "http://l

[2019-10-22 17:33] derrickmehaffy commented on #2497
It won't be because it's not really a feature but a drop of legacy code and fixing with updated code. Not everything being worked on is directly in the roadmap. No ETA but typically distances between major releases is normally a few weeks.

I was testing out some of the new stuff in the develop branches and most looks okay but I know there is some other things in progress as well.

[2019-10-22 17:35] iRoachie commented on #2497
Very insightful! Thanks 🙏🏽

[2019-10-22 17:39] pedrocruzio commented on #4312
Unfortunately, this didn't work on my current project. I tried it with a fresh installation of Strapi and that it worked. So I'm not sure what the problem is, but closing the issue for now.

Thanks @derrickmehaffy!

[2019-10-22 17:39] #4312 closed

[2019-10-22 17:51] igigi commented on #4327
**Describe the bug**
GitHub provider can not redirect to api with code, then redirect to front end with token and user profile

**Steps to reproduce the behavior**
1. go to admin Roles & Permissions plugin config page
2.config GitHub provide with "http://localhost:8000/callback"
3. front end login with GitHub to "http://localhost:1337/connect/github"
4. after authorization, redirected to "http://l

[2019-10-22 18:26] pouyamiralayi commented on #4326
Hi! similarly i am experiencing [this](https://github.com/strapi/strapi/issues/3784) in v16.8.
mine is a simple delete mutation.
cheers!

[2019-10-22 19:43] gregorskii commented on #4311
So this is def a mongo driver issue, but I see in the mongoose hook code:

https://github.com/strapi/strapi/blob/master/packages/strapi-hook-mongoose/lib/index.js#L89

[code]

'false' as a string is truthy, I believe this will enable unified topology by default.

I have deployed a version where my database config includes a direct set for `useUnifiedTopology` to false in the json form. Watching my

[2019-10-22 22:13] alexgorgos commented on #530
+1

[2019-10-22 22:43] alexandrebodin commented on #4326
@anmolmahatpurkar Can you verify that when you are running only one query at once they work (e.g sites or logos) ?

[2019-10-22 23:21] alexandrebodin commented on #4252
Hi @sebastian-ludwig, Can you update your description with the exact query you are running and the error it shows I'm a bit confused between the update mutation and the count query etc :)

[2019-10-23 00:56] igigi commented on #4327
Can you open this issue?

[2019-10-23 04:01] eddiewang opened #4329 "Settings Manager Icon Asset Missing"
**Describe the bug**
A clear and concise description of what the bug is.

This asset is missing:
https://raw.githubusercontent.com/strapi/strapi/master/packages/strapi-plugin-settings-manager/admin/src/assets/images/logo.svg?sanitize=true

It's used across many Strapi versions.

[2019-10-23 04:07] derrickmehaffy commented on #4327
Ah sorry forgot to reopen

[2019-10-23 04:09] #4329 closed

[2019-10-23 04:09] derrickmehaffy commented on #4329
The settings manager is going to be removed and depreciated.

Marking as closed

[2019-10-23 05:42] leinue commented on #3739
I encoutered this error too.

[code]

[2019-10-23 06:41] soupette commented on #2497
We talked with @Aurelsicoko and @alexandrebodin and we will split the date into these three fields. The feature will be available when we release the dynamic zones features. And here's what the new [datepicker will look like](https://buffetjs.io/storybook/?path=/story/custom--datetime).

[2019-10-23 06:56] xstable opened #4331 "Fix your CI Enviroment"
Your CI-Enviroment stuck on an apt-get command. Maybe you need to manually fix this, so that CI work again.

The result of this issue is, that all PR's here in Github will get a `fail` notice for the CI-Check.

![image](https://user-images.githubusercontent.com/1778068/67365960-e6df9500-f572-11e9-9132-0579bc4f87ec.png)

[2019-10-23 06:58] anmolmahatpurkar commented on #4326
@alexandrebodin No they don't. Same issue when running one query at a time.

<img width="1141" alt="Screenshot 2019-10-23 at 12 12 46 PM" src="https://user-images.githubusercontent.com/36692003/67365070-852d2400-f58e-11e9-8bc5-2117446697a7.png">

Also important to note the `darkRectangle` is a group in this case.

[code]

[code]

[2019-10-23 07:21] lauriejim commented on #4308
Hello!

To access your uploaded files, you will need this `ACL: public-read`
If you change this option, you will not be able to see your files in the content manager.

To deal with what you want, you can create a `providers` folder.
In this folder, you duplicate the provider you want to custom.
And in the `package.json` you link the dependency via the file system.

I will add some documentation ab

[2019-10-23 07:21] #4308 closed

[2019-10-23 07:50] alexandrebodin commented on #4331
Hi @xstable,
I looked at multiple PRs that are open and the CI just runs correctly. Travis sometimes just fails for no reason and needs a restart of the jobs. you can push again on your branch to run them again (amend a commit for example)

I'm closing this as this is working fine in all the other PRs

[2019-10-23 07:50] #4331 closed

[2019-10-23 07:59] hasankhalid opened #4332 "My locally created content does not get pushed to heroku"
I just started strapi and am fairly new to it. After creating new content types i pushed the version to Heroku. Every time i push the application, my entered content disappears and Strapi asks me to setup the application again. Can anyone guide me what i am doing wrong?

[2019-10-23 08:02] derrickmehaffy commented on #4331
It's a travis problem their network can be really slow at times, which causes a stall and travis kills free users during the wait

[2019-10-23 08:31] rpalmite opened #4333 "naming a field "id" causes data loss"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Create a content type
2. Name a string field "id"
3. Create a couple other fields (say description etc)
4. Create a couple instances of the above type (including typing in ids)
5. View the new record and notice the id field is an auto-generated guid and not the id you entered into step

[2019-10-23 08:38] JelmerV-WFC commented on #4322
@alexandrebodin I can confirm that this is the case

[2019-10-23 08:48] alexandrebodin commented on #4322
@JelmerV-WFC I cannot reproduce can you share your json models to test ?

[2019-10-23 08:52] JelmerV-WFC commented on #4322
@alexandrebodin

Rsscolumn:
[code]

Column_deal:
[code]

[2019-10-23 08:55] JelmerV-WFC commented on #4322
@alexandrebodin the full error is:
[code]

[2019-10-23 09:15] alexandrebodin commented on #4322
@JelmerV-WFC I just don't have any errors with this model :( must be sth wrond in db. Have you change from a non repeatable to a repeatable or sth ?

[2019-10-23 09:17] JelmerV-WFC commented on #4322
@alexandrebodin I think it happens after updating from 16.8 to 17.x. And it is indeed database related I think because if I downgrade back to 16.8 I get the same error.

[2019-10-23 09:19] alexandrebodin commented on #4322
ok I'm pretty sure I know what's going on... it's because the kind value in some ref are in lowercase now and previsouly was in capitalize or sth of that kind...

[2019-10-23 09:21] Jimmy89 opened #4335 "JSON:API support"
**Description**
In older posts (from Strapi v2 announcements) I saw that JSON:API support (https://jsonapi.org/format/) was mentioned as a future feature (as a plugin, like GraphQL). I wasn't able to find back the link. In the current v3.0 beta release I cannot find anything about this topic. I'm wondering what happened with this feature and I'm curious what the rationales where behind the decisio

[2019-10-23 09:23] alexandrebodin commented on #4322
Well even when I switch from 16.5 to 17.3 I don't have any difference.

[2019-10-23 09:29] JelmerV-WFC commented on #4322
I can see in a git commit that a coleague of mine changed the name of the field `column_deal` to `column_deals` in the Rsscolumn model. Guess it has something to do with that? How do I test this, what do I need to change in the database?

[2019-10-23 09:41] alexandrebodin commented on #4322
Renaming didn't break anything for me. Could you send me an extra of the data (hoping you don't have too much data) via slack ?

[2019-10-23 09:46] JelmerV-WFC commented on #4322
@alexandrebodin sure. Can you message me on Slack what you need exactly?

[2019-10-23 10:21] Eric0201 commented on #4308
thanks you very much , please add documentation  about the customization.

[2019-10-23 10:36] #4332 closed

[2019-10-23 11:02] hasankhalid opened #4336 "Heroku Application Error"
I am trying to setup a Strapi application using MongoDB and PostGres SQL. I have created a local strapi project using MongoDB and it works fine but when i follow the deployment instructions the application fails. Here's the heroku log.

`2019-10-23T09:19:15.852272+00:00 app[web.1]: at Object.get (/app/node_modules/strapi/lib/core/store.js:55:47)
2019-10-23T09:19:15.852275+00:00 app[web.1]: at modu

[2019-10-23 11:09] AlexanderYW commented on #1443
@websocket98765 have you tried using setTimeout inside the function with a 100 or 1000 ms before executing the code?

That worked for me in the `afterCreate` function on Strapi 3.0.0-beta.16.8

[2019-10-23 11:19] derrickmehaffy commented on #4336
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-23 11:19] #4336 closed

[2019-10-23 11:44] hasankhalid commented on #4336
**Description of the issue**
I am trying to setup a strapi application and deploy it on Heroku. My application runs fine locally but when i use the deployment instructions in the documentation, it does not open on Heroku and gives an Application Error. A look at the Heroku logs shows H10 errors and an R10 error which says that Heroku could not connect to the specified port. There is also a warning

[2019-10-23 12:10] alexandrebodin commented on #4322
@arsen-ch are you using mongo atlas ?

[2019-10-23 12:47] RanaOsamaAsif commented on #4259
@derrickmehaffy I was able to successfully migrate to beta.17.3 and can confirm that this issue is resolved now. Using GraphQL profile picture on user's model was updated successfully.
Thanks a lot!

[2019-10-23 12:48] alexandrebodin commented on #4322
The error is coming from an update in mongoose 5.7.6 I'll try to reproduce in a sandbox to create an issue on there repo. in the meantime you should use lock the mongoose version to 5.7.4

I'll be release a new beta to lock the version and fix this.

[2019-10-23 13:03] #4322 closed

[2019-10-23 13:29] iRoachie commented on #2497
Looks great @soupette. I'm guessing these changes are being made internally and not by external contributors?

[2019-10-23 13:32] derrickmehaffy commented on #2497
Yes they are

[2019-10-23 13:33] iRoachie commented on #2497
Alrighty, was just wondering if I could help anyway, but cool! Looking forward to it 💯

[2019-10-23 14:15] mcanzerini commented on #3885
+1

[2019-10-23 14:22] Tcharlyson opened #4339 "uuid applied on relation if primaryKeyType is uuid"
**Describe the bug**
I have an id (primary key) type set to uuid and a column referencing another table column with the association "oneWay". Unfortunately, this second column (addressId) will take the type uuid instead of an integer.

**Steps to reproduce the behavior**
[code]
**Expected behavior**
An entity with a uuid as a primary key should be able to relate to another entity using the integer

[2019-10-23 14:26] Tcharlyson commented on #4339
Check line 388 of buildDatabaseShema.js from strapi-hook-bookshelf

[2019-10-23 14:34] Tcharlyson opened #4340 "uuid treated as a relation in backoffice entity configuration"
**Describe the bug**
When using uuid as a primary key, it is treated as a relation instead of a simple property (uuid). Icon for uuid doesn't exist as well.

**Screenshots**
<img width="824" alt="Screenshot 2019-10-23 at 16 33 27" src="https://user-images.githubusercontent.com/11333362/67403913-e4049480-f5b2-11e9-836a-b5e1db4f0588.png">

**System**
- Node.js version: 12.1.0
- NPM version:
- Strapi

[2019-10-23 14:42] Tcharlyson opened #4341 "As super-admin I can see the user password hash"
**Describe the bug**
As super-admin I can see the user password hash

**Expected behavior**
The password field needs to be empty instead of containing the hash of the user password

**System**
- Node.js version: 12.1.0
- NPM version:
- Strapi version: 3.0.0-beta.17.3
- Database: postgres
- Operating system: MacOS

[2019-10-23 15:01] derrickmehaffy commented on #4341
I did mention this to @soupette a while back. @alexandrebodin is this something better wiped from the backend of strapi-admin ?

[2019-10-23 15:03] derrickmehaffy commented on #4340
UUID support isn't entirely there yet @Tcharlyson.

[2019-10-23 15:05] alexandrebodin commented on #4341
Yes this should not be returned by the api. BUt if I do that the front breaks. This is a legacy thing for now.

[2019-10-23 15:05] derrickmehaffy commented on #4333
The ID name is. Reserved word, @soupette you want to add that to the list? I know the beta doesn't allow it.

@rpalmite strapi alpha is no longer supported, for that reason I am closing this as it won't be fixed on alpha.

[2019-10-23 15:05] #4333 closed

[2019-10-23 15:06] derrickmehaffy commented on #4324
FYI @lauriejim the default value also isn't applied to the REST either

[2019-10-23 15:09] lambertkevin opened #4342 "Hide / make private timestamps, _id, id and __v with MongoDB"
**Describe the bug**
There is no way with the beta to make private some of the attributes through the model's JSON

**Steps to reproduce the behavior**
- Create a a new model with timestamps for example.
- Try to add it manually to the attributes in the model's JSON.
- Make it private.
- The API response will still contain the timestamps.
(Also valid with id, _id, and __v)

**Expected behavior**
W

[2019-10-23 15:15] Tcharlyson commented on #4340
Okay thanks for letting me know ! @derrickmehaffy

[2019-10-23 15:17] Tcharlyson commented on #4341
The real problem here is, if we want to just modify the username of the user and we don't empty the password field, it will replace the password in database by the hashed one

[2019-10-23 15:21] alexandrebodin commented on #4341
Nope it wont :) there is a special check to avoid this. I agree with you that it should be removed but for now it doesn't cause issues

[2019-10-23 15:53] derrickmehaffy commented on #4341
The front breaks o_O

[2019-10-23 16:01] mswaidan commented on #4342
Have you tried using the `sanitizeEntity` function? [Docs](https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#utils)

[2019-10-23 16:11] mahish commented on #2551
@yurijmikhalevich Im about to start a new PUG project. Wanted to try Strapi. You might share your hook maybe? I would be interested!

[2019-10-23 16:18] mswaidan opened #4343 "buildQuery.js throws an error when deep filtering on a field that's not defined in the model"
**Describe the topic**
buildQuery.js thows an error if a field doesn't show on a model definition. I have a model `Event` that has a JSON field `properties` where I store data that varies widely from `event` to `event.` When deep filtering a query by one of those JSON fields, e.g. `properties.projectNumber`, this buildQuery logic causes the query to fail (If this logic is commented out, the query

[2019-10-23 16:43] anmolmahatpurkar commented on #4326
Just confirming. The issue still exists after upgrading to 3.0.0-beta.17.4.

[2019-10-23 16:54] greatwitenorth commented on #2723
This doesn't seem to be working anymore. If I install a package under a org namespace it does not show in the admin area. Was there a regression in one of the betas?

[2019-10-23 18:58] soupette commented on #4341
It doesn't really breaks it just won't let you update your user. I will take care of fixing that with the next feature.

[2019-10-23 20:39] alexandrebodin commented on #4341
The form expects data so if we don't send it, it will complain. That's why we need to change the code on both sides to avoid sending it.

[2019-10-23 20:41] alexandrebodin commented on #4326
@anmolmahatpurkar Can you share the json files of your models

[2019-10-23 20:44] anmolmahatpurkar commented on #4326
Logo.settings.json

[code]

Site.settings.json
[code]

[2019-10-23 20:57] igorasantos opened #4346 "Field labels, description and placeholders are not git trackable"
**Describe the bug**
After I create a data project aimed to reproduce it, the labels, descriptions and placeholders set on the "template project", and track then on a GH repo, they doesn't appear on a repo clone (only the content type fields).

**Steps to reproduce the behavior**
1. Create a new Strapi project
2. Start the git tracking (`git init`, `git remote add origin`...)
3. Create a new Conte

[2019-10-23 21:00] anmolmahatpurkar commented on #4326
@alexandrebodin Here's a small reproducible to confirm the issue. Will delete the repo once you are through with it.
https://github.com/anmolmahatpurkar/strapi-graphql-bug

<img width="1391" alt="Screenshot 2019-10-24 at 2 30 15 AM" src="https://user-images.githubusercontent.com/36692003/67433716-3de27a00-f606-11e9-8867-8c0f1c8a01b0.png">

[2019-10-23 21:02] alexandrebodin commented on #4326
Thanks !

[2019-10-24 00:58] websocket98765 opened #4348 "Enable Github Security Alerts"
Have you considered enabling Github's Security Alerts feature for the Strapi repo? When this is enabled, alerts will be visible to repo owners and it will automatically create PRs to bump versions of vulnerable dependencies.

![settings](https://user-images.githubusercontent.com/41795874/67444481-c35f2d80-f5f8-11e9-997c-2dd2004fee57.png)

When I pushed a forked Strapi repo, and I have this feature

[2019-10-24 03:48] obaidh opened #4349 "Bootstrap function in plugin error"
**Describe the bug**
strapi framework , itry to deployments to Heroky but I error massage like this :
`2019-10-24T03:36:45.969306+00:00 app[web.1]: [2019-10-24T03:36:45.968Z] error Bootstrap function in plugin "content-manager" failed`

I deployments with new projects its work fine only when I create strapi quick start, but when I create with manual setting and clean without adding anything or if

[2019-10-24 05:08] leinue commented on #3739
fixed

[2019-10-24 05:14] derrickmehaffy commented on #4346
This topic has been brought up a few times, those settings are stored in the database. I too would prefer to track these in Git and make them **not** changeable in production, but Strapi have stated for now that is how it is and they will likely add some way to dump them into files and reimport to a production database but they won't be "read" from the files.

[2019-10-24 05:36] Mikeez commented on #3739
Can you tell me how you fixed it :)? Also, can you tell me how you are using it to login LOL? The flow

[2019-10-24 07:28] MurzNN commented on #1736
@derrickmehaffy I can't find any card in https://portal.productboard.com/strapi about adding PascalCase feature to Models name, can you point to right card?

[2019-10-24 11:43] kgrosvenor commented on #1507
Suppose it's just a simple where query on a list of locales, and then if user adds locale in the URL it should filter the content like any other filter does, it's just that locale should be added automatically on the backend and then we can select which locale it belongs too, in essence you can kind of already do this, it's just that the filter UI is not intuitive and does not load the select opti

[2019-10-24 12:43] #4326 closed

[2019-10-24 13:04] dankostov opened #4353 "Graphql - querying deeply nested "has Many" One to Many relationship throws an exception"
**Describe the bug**
Objects located deeper than 3 levels with "has Many" one-to-many relationship always throw exception when querying using GraphQL.

**Steps to reproduce the behavior**
I have deeply nested objects.
building -> apartments (has Many relationship)
apartment -> rooms (has Many relationship)
The models are described in another bug (with the node that rooms are many-to-many relations

[2019-10-24 13:18] #4309 closed

[2019-10-24 13:18] lauriejim commented on #4309
This issue already exists, please browse the list of opened or closed issues before posting an issue.
Please check https://github.com/strapi/strapi/issues/978

[2019-10-24 13:31] lauriejim commented on #4310
Hello! When you start your application with `npm start` that not let you access the **Settings Manager** and the **Content Type Builder**.
It's not based on the environment you started your application.
You need to start your app with `yarn develop` to have access to this feature.

[2019-10-24 13:31] #4310 closed

[2019-10-24 13:43] lauriejim commented on #4287
Hello! I just created a new app and I added your `这些文字仅供测试` characters in a string and WYSIWYG input.
All works fine
![Screenshot 2019-10-24 at 3 42 52 PM](https://user-images.githubusercontent.com/5716596/67491287-f810ca80-f674-11e9-93f5-c32aba3261a0.png)

[2019-10-24 13:44] daehruoydeef opened #4355 "GRAPHQL cannot use where clause with OR"
**Describe the bug**
Filtering using a where clause and a OR folled by a array of filters are not working.

**Steps to reproduce the behavior**
1. create a content type called group with just a title
2. add 2 groups add the titles "one" and "two"
3 use query:
`query {
    groups (where: {
        OR[{title: "one"}, {title: "two"}]
    })
    {title}
}
`

**Expected behavior**
allow filtering using

[2019-10-24 13:56] lauriejim commented on #4302
Hello @danielamiir !
I suggest you read [this part of the documentation](https://strapi.io/documentation/3.0.0-beta.x/plugins/upload.html#install-providers) to install an upload provider that will send your file on AWS for example.

[2019-10-24 13:56] #4302 closed

[2019-10-24 13:57] Aurelsicoko commented on #4273
Hi everyone,

With the upcoming release of the Dynamic Zones, we will also implement a sticky bar both for the Content-Type Builder and Content Manager. Please find a screenshot of what it will look like.

![Dynamic zones   components](https://user-images.githubusercontent.com/4144726/67492411-a8cb9980-f676-11e9-83a1-24e7c5d5f4ce.png)

Note: in this screenshot, you can also see that we plan to hig

[2019-10-24 14:31] Aurelsicoko commented on #4301
100% agree on this! We'll remove that asap. It's a choice we made years ago. We were okay with it, but we changed our mind and we would like to change it. We will certainly follow the right way to write things. In other words, we will write "Create an entry", not "Create an Entry" or "Create An Entry".

[2019-10-24 15:05] lauriejim commented on #4317
Hello @daehruoydeef !

I reproduced your data models and I had no issue.

![Screenshot 2019-10-24 at 5 04 44 PM](https://user-images.githubusercontent.com/5716596/67498905-83438d80-f680-11e9-84a4-a6320c019165.png)

[2019-10-24 15:15] lauriejim commented on #4323
Hello! Thank you for this feature request.
Can you please add it as a comment of this roadmap feature card, please.
https://portal.productboard.com/strapi/1-public-roadmap/c/28-media-library-with-edit-crop-resize-capabilities

I close this issue.
Thank you for this insight.

[2019-10-24 15:15] #4323 closed

[2019-10-24 15:40] lauriejim commented on #4297
Thank you for this report @vHades0199 !

[2019-10-24 16:36] mswaidan opened #4356 "Deep filter and filter on date fail"
**Describe the bug**
A url query that contains both a deep filter and a timestamp based param always returns zero results.

**Steps to reproduce the behavior**
1. Send a query to a model with both a deep filter and a timestamp param, like `www.example.com/events?user.office=Beijing&createdAt_gt=2019-1024
2. Result will be an empty array.

**Expected behavior**
Result should be an array containing

[2019-10-24 16:39] mswaidan commented on #4356
How annoying, somehow github wiped the reset the text I spend 20 mins on back to the template. Will edit.

[2019-10-24 16:42] derrickmehaffy commented on #4356
No problem @mswaidan :P I won't close it :wink:

[2019-10-24 16:54] mswaidan commented on #4356
Thanks @derrickmehaffy ! Fixed.

[2019-10-24 17:15] slashvortal commented on #1443
Any updates on this topic or a temporary alternative to **model.set** with beforeUpdate or beforeSave?
_(Using PUT method)_

[2019-10-24 18:55] igorasantos commented on #4346
Hmmm
That's a little sad...
But thanks for the information!

[2019-10-25 01:40] serman commented on #3094
Hi! I found this patch because heroku is causing me a headache changing the POSTGRES database user/name ... from time to time

I removed (actually renamed to database.json.bak)  the *config/environments/production/database.json* and created the **database.js** following the instructions from @websocket98765
( https://github.com/strapi/strapi/issues/3094#issuecomment-538784881 )
but I get this erro

[2019-10-25 04:38] Eric0201 opened #4358 "How to set role to admin or login admin panel with role authenticated"
**Describe the topic**
Hello, I want set limit role for user login admin panel. Example i have 2 users, one administrator and one editor, i want editor can login admin panel but active role with content-types, hide all plugin content-types builder, content-manager, role permissions, upload ... Please suggest solution help me.

[2019-10-25 05:40] smwbtech opened #4359 "Question about one to one relation"
Hi there,

Just started to explore strapi, it looks greate. But got one question about one to one relation. For example, I want to create blog where one post belongs to one category. So I choose this relation type.

![Post to categories relation type](https://i.ibb.co/xYWY34N/2019-10-25-7-57-09.png)

And on post editing page I see the "category" drop down menu with options looks like ObjectId stri

[2019-10-25 05:41] derrickmehaffy commented on #4359
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2019-10-25 05:41] #4359 closed

[2019-10-25 06:33] lauriejim commented on #4325
Hello @TheRealBarenziah !

About your first issue, I haven't be able to reproduce. I cloned your repo and it works.
Maybe I missed something.

*Here is what I did:*
https://www.loom.com/share/9c38611c37c14d70a2b89e97eee15312

And for the second issue, It's due to your `extension`.
The controller code of the **Upload** plugin changed. You are using the alpha one I suppose.
So by deleting it, it wil

[2019-10-25 07:31] lauriejim commented on #4311
Hello @gregorskii !
I'm not sure because the `${process.env.USE_UNIFIED_TOPOLOGY || false}` is in `"..."` so it will be a string at the end.
I just followed the [documentation here](https://strapi.io/documentation/3.0.0-beta.x/guides/databases.html#mongodb-installation) and all works fine.
Have you a particular use case that causes this issue?

[2019-10-25 07:48] alexandrebodin commented on #3094
@serman You have set your connector to be strapi-hook-mongoose when copying the example but yours should be strapi-hook-bookshelf

[2019-10-25 08:19] lauriejim commented on #4327
Hello @igigi !
It's not how the OAuth works.
[Here is an article](https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2) that explains the 0Auth flow.
So what you are trying to do is not possible.

[2019-10-25 08:19] #4327 closed

[2019-10-25 08:25] daehruoydeef commented on #4317
@lauriejim thanks for having a look! seems like something different is wrong. I will try to recreate the issue. Maybe it happend because I was migrating the models from beta-3.0.0 up to .17.3.

[2019-10-25 08:31] alexandrebodin commented on #4335
Hi @Jimmy89 Thank you for suggesting this.

Right now this is not on our roadmap. It will certainly not be implemented as the default API standard in Strapi, but someone can eventually create a plugin that would generate APIs that implement the JSON:API standard.

Feel free to submit an idea on https://portal.productboard.com/strapi/1-public-roadmap/tabs/3-planned ;)

I'm Closing this issue as we

[2019-10-25 08:31] #4335 closed

[2019-10-25 09:53] derrickmehaffy commented on #4348
Per @alexandrebodin The alerts are enabled and are set to only be viewable by the Strapi team (I can't even see them) But in few I have looked through they don't require immediate attention.

Per the Strapi team closing this issue out. Thank you for the suggestion :)

[2019-10-25 09:55] derrickmehaffy commented on #4355
Or filters aren't supported yet in GraphQL, there was mention of support for it coming after the new DBAL layer is done.

[2019-10-25 09:57] derrickmehaffy commented on #4358
Hello,

Normal users can't login to the admin panel, you can see the following blog post that explains this: https://strapi.io/blog/why-we-split-the-management-of-the-admin-users-and-end-users?redirectPage=1

Eventually the adminUI users will have split permissions and allow for more "normal" type users that will be able to login (see this feature roadmap: https://portal.productboard.com/strapi/1-

[2019-10-25 09:57] #4358 closed

[2019-10-25 10:00] #4260 closed

[2019-10-25 10:03] derrickmehaffy commented on #4264
You will need to make the POST request with `multipart_form_data` (and will likely need to send that header as well so strapi knows what type of content it's getting).

For now marking this as closed, I would recommend you post this to [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi) as the issues on this repo are strictly for bug reports with Strapi. If you think this should be

[2019-10-25 10:04] derrickmehaffy commented on #4043
As we have had no more updates to this issue in some time I'm marking as closed, depends will be reviewed if there is an issue.

[2019-10-25 10:04] #4043 closed

[2019-10-25 10:05] derrickmehaffy commented on #3951
Marking this as closed as the settings-manager is being removed.

[2019-10-25 10:05] #3951 closed

[2019-10-25 10:07] derrickmehaffy commented on #3747
Closing this and linking it to the master Review Lifecycles Issue: https://github.com/strapi/strapi/issues/1443

It will be reviewed with all the rest of the Lifecycle issues. Thank you!

[2019-10-25 10:07] #3747 closed

[2019-10-25 10:08] derrickmehaffy commented on #3473
Closing this and linking it to the master Review Lifecycles Issue: https://github.com/strapi/strapi/issues/1443

It will be reviewed with all the rest of the Lifecycle issues. Thank you!

[2019-10-25 10:08] #3473 closed

[2019-10-25 10:08] derrickmehaffy commented on #3693
Closing this and linking it to the master Review Lifecycles Issue: https://github.com/strapi/strapi/issues/1443

It will be reviewed with all the rest of the Lifecycle issues. Thank you!

[2019-10-25 10:08] #3693 closed

[2019-10-25 10:09] #3329 closed

[2019-10-25 10:12] derrickmehaffy commented on #1443
I have updated the original post and am linking all other lifecycle callback issues here.

[2019-10-25 10:22] MarcWadai commented on #4264
Thank you for your answer. The things they do on the link is the same as I did, sending the file as multipartdata.
I started to dig in the strapi code, and figured out that the mime was not set after the createBufferize function. That 's why obviously I got the schema error.

But at the end, when I checked the public strapi upload folder, my image was well uploaded, and could be opened properly. I

[2019-10-25 10:35] serman commented on #3094
Thanks for your reply!
But I don't think that is the problem, since in the example that I am copying  ( https://github.com/strapi/strapi/issues/3094#issuecomment-538784881 ) the connector is:
[code]

[2019-10-25 10:41] alexandrebodin commented on #3094
@serman can you share your file ? just to check you aren't missing sth

[2019-10-25 10:50] derrickmehaffy commented on #4264
:thinking: the mime type wasn't set? Can you test with the latest beta version and see if you still hit the error?

[2019-10-25 10:51] serman commented on #3094
I removed the database.json and created the database.js
* Path: config/environments/production

[code]

Do I need to update strapi to the latest version for this to work?
I am testing this on a Strapi v3.0.0-alpha.26.2

[2019-10-25 11:03] liming commented on #3975
Hi, how did you solve this problem? I'm stuck here.

[2019-10-25 11:09] alexandrebodin commented on #3094
Ho yep you should use strapi beta now. Alpha is not maintained at all

[2019-10-25 12:35] lauriejim commented on #4339
Hello @Tcharlyson , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2019-10-25 12:36] jiv-e commented on #3628
Hi,
I want to chime in for this. I have worked with Drupal several years. I think it is the only major open source CMS with exactly the same problem space called "configuration management".

I have just started to work with Strapi. I hope that it can replace Drupal in many cases, if not all. It has many of the features I need and is also more slick and modern solution for my needs.

The database v

[2019-10-25 12:45] lauriejim commented on #4340
Hello @Tcharlyson !
Something that could be cool is asking to @Aurelsicoko to give you an icon for `uuid`.
And create a PR to fix it.
Thank you.

[2019-10-25 12:47] alexandrebodin commented on #3628
@jiv-e Thank you for this insight. Will be interesting to watch !

[2019-10-25 13:38] pouyamiralayi commented on #2956
Hi @lauriejim i am experiencing this issue on v16.8
when i delete my referenced file from **File Upload** section, then returning to my content type that holds a reference to that file, it will show me this:
![image](https://user-images.githubusercontent.com/53266765/67575108-b0f40980-f748-11e9-92ff-4a31621533e8.png)
this is the full error:
[code]
my content type has a media field with **allowed m

[2019-10-25 14:01] TheRealBarenziah commented on #4325
Hello lauriejim. Thanks for taking the time to go through this, it's much appreciated !

## About issue 1
I've been able to fix the `Code 500; ER_FT_MATCHING_KEY_NOT_FOUND: Can't find FULLTEXT index matching the column list` simply by [applying this advice](https://stackoverflow.com/a/21551787/11894221) (`ALTER TABLE x ADD FULLTEXT INDEX y (z)`) for each column of actions, upload_file & upload_fil

[2019-10-25 15:17] gregorskii commented on #4311
As far as I can tell strapi is converting the values in the json to actual Booleans, is that not true? If that’s the case is json really the best method for strapi config? Should it not be yaml?

After updating to this config I have not seen the error again. And yes I did have the specific error reported in the Mongo issue tracker above. It is hard to debug because all I get is the logs from my ap

[2019-10-25 15:44] gregorskii commented on #4311
Also looking at those notes it not using the mongo +srv url it’s using mongo 2.2 config.

I tried following those instructions and I could not get atlas to connect. I could try using the older connection string more. But the issues remains with the new connection strings with +srv in them (which is what atlas recommends for the version of mongo mongoose uses).

[2019-10-25 16:05] igigi commented on #4327
Article that you provide is very helpful, thanks.

maybe Expected behavior should be modified, it is that strapi api complete all  authorize work, then return user profile and strapi api token to front end.

is it possible?

My project is Gatsby react application and strapi api. GitHub login use strapi GitHub provider. like this:
https://store.gatsbyjs.org/

[2019-10-25 17:02] RanaOsamaAsif opened #4366 "Appending a value to an existing relation field array via GraphQL mutation"
**Strapi Version Beta.17.3**
I'm trying to add a user to my current user's following list which is a relation array but executing this mutation overrides the existing array and the value given in the mutation is stored in the array after mutation.

Is it possible? How can I add a new element in the array using mutation?

[code]
Variables:
[code]

[2019-10-25 17:47] websocket98765 commented on #4348
Honestly, I'd feel a lot better using Strapi if the team made a habit of clearing out known security vulnerabilities. I realize the alerts are only visible to owners, as I mentioned in the OP, but dependabot also creates PRs automatically to fix the issues...unless this is opted out of.

![auto fiixes](https://user-images.githubusercontent.com/41795874/67591276-9ae84800-f74c-11e9-8e4a-e366deb726e3

[2019-10-25 19:45] miguelangeltorresfp commented on #4103
I confirm I'm having the same problem.
`http://localhost:1337/upload/search/32bf4dce0c36426b8a37291966817d87 => Found`

[code]
And in the strapi console :

[code]

[2019-10-25 20:29] derrickmehaffy commented on #4366
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-25 20:29] #4366 closed

[2019-10-25 22:00] mtrucc opened #4367 "I added Json Field in Content Type but I can't submit data in json format in postman."
**Describe the topic**
I added Json Field in Content Type but I can't submit data in json format in postman.

**Your suggestions for this topic**
I want to submit a json formatted data and save it. If not, I will use string.

**Screenshots**
![2019-10-26 054535](https://user-images.githubusercontent.com/16724665/67607004-a58af780-f7b5-11e9-949b-98b7dbe682dc.png)
![2019-10-26 055538](https://user-i

[2019-10-25 22:31] Dhrumit14 commented on #680
To be more clear on this : You have to replace 'rm -rf' in package.json with 'rimraf'.

And If you have not installed rimraf package. I would recommend first install this package: npm install rimraf -g

[2019-10-26 02:50] theshanergy commented on #1779
How does one go about appending a new group entry to a piece of content via api? do you need to send your new object along with the full existing array and PUT the whole big array, or can you just PUT the new group data only somehow?

[2019-10-26 05:47] mengqing commented on #3615
In desperate need of this feature, does anyone know how / any directions I would go about implementing this?

[2019-10-26 05:48] cawoodm commented on #706
Can't find any such idea on your votes page so I've submitted the idea.

[2019-10-26 06:05] sgtpsibin opened #4369 "Image upload on custom CKEditor"
Hello all, i first time using Strapi, i tried to replace default editor with CKEditor by follow: https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi.

All look good, but i can't upload image. In the console, i see the warning about missing Upload adapter in CKEditor.

Image uploading is important. Do we have any solution for this?

[2019-10-26 09:56] lauriejim commented on #4342
Hello @lambertkevin !
Yes, you are right!

I don't think it will be a priority for us.
If you want this "feature", I suggest you open an RFC on [strapi/rfcs](https://github.com/strapi/rfcs)
And if the RFC is approved, open a PR to contribute to Strapi.

[2019-10-26 10:29] lucasmike opened #4370 "npx create-strapi-api fails to install dependencies on Windows"
**Describe the bug**
After running `npx create-strapi-app my-project` the installer hangs forever trying to install @buffetjs/styles@^1.0.0

**Steps to reproduce the behavior**
1. npx create-strapi-app my-project
2. See error: WARN tarball tarball data for @buffetjs/sty;es@^1.0.0 (...) seems to b corrupted. Trying one more time.

The installer cannot move past that point

**System**
- Node.js vers

[2019-10-26 10:36] alexandrebodin commented on #4348
Hi @websocket98765, I understand your concerns.

RIght now we are kinda short-handed to handle this dep updates as quickly as possible.

Dependabot creates PR depending on semver but some dependencies do not follow semver (e.g knex) So we cannot trust a patch or a minor depedency bump will not creating breaking changes. This is why we have to do the dep updates manually.

Just to reassure you, the

[2019-10-26 13:32] lauriejim commented on #4343
Hello @mswaidan, first, can you respect the [issue template](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).
In your issue, I don't know: your strapi version, the database you use. So I can't help you.

Normally I close the issue directly without answering.

But here if you try to filter on one key that is present in your JSON object, it's not possible to do tha

[2019-10-26 13:32] #4343 closed

[2019-10-26 13:38] mswaidan commented on #4343
@lauriejim I used the `discussion` template you provide since I'm not sure if this is a bug. I was hoping to discuss the issue. You should remove that template if you don't want community to use it.

The query _does_ behave as expected if I comment out the following lines, so Strapi definitely can do what I'm proposing - I'm using it on my project currently.
https://github.com/strapi/strapi/blob/e

[2019-10-26 13:43] derrickmehaffy commented on #4343
The discussion template is used to discuss issues with the community prior to making an RFC for change.

For non bug related questions you should use Slack or Stack overflow as the README.md suggests. :wink:

[2019-10-26 13:47] mswaidan commented on #4343
Got it. Will do so in the future, and am creating a slack message now about this issue.

[2019-10-26 15:14] lauriejim commented on #4349
Hello @obaidh !

I just followed this documentation about the deployment on Heroku https://strapi.io/documentation/3.0.0-beta.x/guides/deployment.html#heroku
And also the MongoDB Atlas database docs https://strapi.io/documentation/3.0.0-beta.x/guides/databases.html#install-on-atlas-mongodb-atlas

All work fine. Make sure your database configuration for the production environment is correct.

[2019-10-26 15:14] #4349 closed

[2019-10-26 16:22] lauriejim commented on #4353
Hello! I just tested with `3.0.0-beta.17.4` and it works fine.

In the query snippet your `apartments` key is not correct.
It should be `appartments` with 2 `p`

![Screenshot 2019-10-26 at 6 21 22 PM](https://user-images.githubusercontent.com/5716596/67622755-9a6bb200-f81d-11e9-94a2-15e62756a1be.png)

[2019-10-26 16:22] #4353 closed

[2019-10-26 18:03] lauriejim commented on #4356
Hello @mswaidan !
Can you please share your models, please.
It will help me to reproduce your issue.

[2019-10-26 18:10] zecka commented on #212
But by doing so, you add the data to the database. How to define a virtual property (calculated) without defining it in model.settings.json?

[2019-10-26 18:21] lauriejim commented on #4346
Hello, as Derrick said, we discuss a lot about this topic.
Some UI information is stored in a database. So they are not trackable via git.
There is the same issue with `permissions`. So the solution we will work on is a helper(probably a command line) that will help you to migrate your data.

In any case, thank you for this feedback.
I close this topic.

[2019-10-26 18:21] #4346 closed

[2019-10-26 20:02] pouyamiralayi opened #4372 "Deleting file from 'Files Upload' breaks any other content that has it as a 'Media' relation"
Hello there! i am facing the same scenario in [this issue](https://github.com/strapi/strapi/issues/2956).
i have already posted the [details](https://github.com/strapi/strapi/issues/2956#issuecomment-546357548) in the referenced issue.
cheers!

[2019-10-26 20:17] pouyamiralayi commented on #4367
Hi there! have you tried form-urlencoded instead of form-data?
cheers!

[2019-10-26 20:19] pouyamiralayi commented on #4369
Hi there! check this [integration guide](https://ckeditor.com/docs/ckfinder/demo/ckfinder3/samples/ckeditor.html).
cheers!

[2019-10-27 03:51] maxbaluev commented on #1762
Any updates?

[2019-10-27 07:19] sgtpsibin commented on #4369
Hi @pouyamiralayi, I am very happy to receive your support. I tried to config CKEditor with upload url of Strapi. And it still error. I hope to learn more from you.
![image](https://user-images.githubusercontent.com/50952024/67631114-921a8200-f8c4-11e9-85a0-d3c8b257fac6.png)

[2019-10-27 08:18] derrickmehaffy commented on #4369
As this is not a bug with strapi I'm marking this as closed. You can continue the discussion if you wish.

[2019-10-27 08:19] #4369 closed

[2019-10-27 08:41] santhosh34 commented on #747
Also interested....

[2019-10-27 08:57] lauriejim commented on #4355
Hello @daehruoydeef !
Thank you for this report. An issue already exist on this topic https://github.com/strapi/strapi/issues/3194

[2019-10-27 08:57] #4355 closed

[2019-10-27 09:01] lauriejim commented on #1443
Thank you for that @derrickmehaffy.

[2019-10-27 09:05] lauriejim commented on #3975
If you updated your application version, dont forget to rebuild your admin panel.
Run `yarn build` then try to restart your server with `strapi develop`

[2019-10-27 13:04] ChristopherLMiller commented on #3838
where is the hook.json located?  I'm experiencing this issue with mysql even.

[2019-10-27 13:12] lauriejim commented on #4325
Okay, thank you for these details.
I will close this big issue.

Can you please open a new one that only explains your issue with the dropdown entries load.
Thankk you for your time

[2019-10-27 13:12] #4325 closed

[2019-10-27 13:37] lauriejim commented on #4370
Hello @lucasmike !
Can you please share a screenshot with your error please.
I'm not able to reproduce the issue.

[2019-10-27 14:02] lauriejim commented on #4372
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-10-27 14:02] #4372 closed

[2019-10-27 14:04] lauriejim commented on #4367
Hello @mtrucc !
You have to use the `raw` format.
And after select the `application/json`

![Uploading Screenshot 2019-10-27 at 3.04.15 PM.png…]()

[2019-10-27 14:04] #4367 closed

[2019-10-27 14:49] mswaidan commented on #4356
Thanks for looking into this @lauriejim!

Two models in question here, neither model has modifications to the lifecycle callbacks. Let me know if there's anything else you need.

1. Event.settings.json:
[code]
2. User.settings.json:
[code]

[2019-10-27 15:13] jodacame commented on #752
## Follow the next steps for solve it.

Create new type (title) unique and required

![step_1](https://user-images.githubusercontent.com/3913367/67636737-984b3700-f8a1-11e9-8a93-5f460056ce3f.png)

Go to create a new entry and edit layout

![step_2](https://user-images.githubusercontent.com/3913367/67636740-9bdebe00-f8a1-11e9-8632-6271fd6012a6.png)

Set it like to picture

![step_3](https://user-im

[2019-10-27 18:24] hellsan631 commented on #3615
If your using graphQL, then you can use the field rename feature. Assuming an object `person`, with a field of `first_name`, we can use the following query to rename this to `firstName`:

[code]

You can also use this for the query names themselves:

[code]

[2019-10-27 20:44] maliksajid commented on #3838
I was experciencing the same issue ith all databases. I solved it by changing by project directory permissions.

`sudo chmod -R 777 strapi_cms`

strapi_cms is my project directory. Thank You

[2019-10-27 22:58] mtrucc commented on #4367
Hi, thank you very much for your help. I seem to have found the problem. I added the Content Type name to testjson.
Then submit the form to http://localhost:1337/testjsons
At this time, you can submit the content as Json Field in Content Type
However, if you are a registered user, submitting Json Field is not supported.
Need to submit it with the method you provided, so the problem is solved. Than

[2019-10-27 23:24] serman commented on #3094
ok, thanks!

[2019-10-27 23:32] mengqing commented on #3615
@hellsan631 Thanks for the reply,  however that's not what I'm after. I thought the purpose of this issue is to be able to map an attribute to another attribute.

Eg: I have an existing field in the table named 'reset_password_token', however with the users-permissions plugin, the attribute is named 'resetPasswordToken'. I want to re-use the existing field in the table, but I also want to referenc

[2019-10-28 04:03] arnoldgamboa opened #4373 "Admin login permission error on v3.0.0-beta.17.4"
**Describe the bug**
After I updated on beta 17.4, I can't login anymore and is getting a `403 permissions/init` error. See screenshot

**Steps to reproduce the behavior**
1. Upgrade to beta 17.4
2. Login to admin
2.1 This is particulary seen on instances I've deployed. Locally, It's weird that it's working.

**Screenshots**
![Screen_Shot_2019-10-28_at_11_58_16_AM](https://user-images.githubuserco

[2019-10-28 04:05] jmeviler opened #4374 "Compile error when i use local dependency"
**Describe the bug**
 Compile error when i use local dependency with `strapi-plugin-content-manager`

**Steps to reproduce the behavior**
1. Install local dependency  `npm install ~/xxxxx/strapi/packages/strapi-plugin-content-manager`
2. Install all dependencies `npm install `
3. Startup `npm run develop`
4. See error

**Expected behavior**
Strapi should startup.

**Screenshots**
![image](https://

[2019-10-28 05:31] derrickmehaffy commented on #4373
Generally this is caused by slow response from a remote database, can you try bumping up the wait timeout in `config/hook.json` to something like `10000`

[2019-10-28 05:32] derrickmehaffy commented on #4374
What kind of modifications are you doing?

[2019-10-28 05:33] arnoldgamboa commented on #4373
Database is within the same machine though, so latency is not an issue.

-Arnold

On Mon, Oct 28, 2019 at 1:31 PM DMehaffy <notifications@github.com> wrote:

[2019-10-28 05:33] derrickmehaffy commented on #4374
Ah nevermind I see you are using the example. I wouldn't normally recommend this that is there mainly to serve as testing not really for user usage.

[2019-10-28 05:35] jmeviler commented on #4374
I want to add  cascade for content type.  So, I need to use local dependency, but compile error when startup...

[2019-10-28 05:39] derrickmehaffy commented on #4373
We will need more information as to your setup as we had seen previous issues related to this and wasn't able to reproduce it outside an extremely slow database.

[2019-10-28 05:40] arnoldgamboa commented on #4267
Reopening. This is not a latency issue. I've tested this within the same VPS and same `403 Forbiden` issue is there when you access admin.

[2019-10-28 05:40] derrickmehaffy commented on #4374
I would recommend you setup a normal project and throw a copy of the CTM plugin into something like `packages/` at the root of the project then hard link it in the package.json.

Working from inside the monorepo is not a very straight forward (or recommended) process.

[2019-10-28 05:49] jmeviler commented on #4374
Tkx @derrickmehaffy .
I will try.  If have other errors, I will continue to comment...

[2019-10-28 08:17] #4205 closed

[2019-10-28 08:17] kolomu opened #4375 "jwt.json in .gitignore ?"
**Describe the topic**
Hello I just started a new strapi project. I wanted to use versioning on github for this project.
I looked over every file strapi-cli created and there was a "jwt.json" file in extensions/users-permissions/config

Is it safe to commit this file? There is a `jwtSecret` and I am not sure if this should be public.

**Your suggestions for this topic**
Add jwt.json to the gitigno

[2019-10-28 08:23] derrickmehaffy commented on #4375
@kolomu generally you would need to restrict access to this as your own level just like the database.json such as setting it via an environment variable:

[code]

As this file is needed for Strapi to work (and the code shouldn't be changed as it will fail to validate any existing JWT due to the encryption key no longer working) adding it to the .gitignore may mean that some users will lose their k

[2019-10-28 08:23] #4375 closed

[2019-10-28 08:26] alexandrebodin commented on #4373
@arnoldgamboa DO you have any error in your console so we can get more details ?

If you downgrade back to a previous version does it work again ?

[2019-10-28 08:47] arnoldgamboa commented on #4373
1. There's no console error. I know that's weird. It's most like a front
end issue I guess? But really it's not. I've tested this on other browsers
and also on Incognito to be sure. Same result.

2. Another weird thing is when I downgraded to 16, result is the same.

-Arnold

On Mon, Oct 28, 2019 at 4:26 PM Alexandre BODIN <notifications@github.com>
wrote:

[2019-10-28 09:01] alexandrebodin commented on #4373
@arnoldgamboa From what I gather the issue is because the init permissions isn't enable on the public role for some reason...

If you run this  query

[code]

You should get sth like

|type|controller|action|enable|policy|role|
|---|--|--|--|--|--|
|users-permissions|userspermissions|init|1|NULL|2|

Can you share your result ?

[2019-10-28 09:39] arnoldgamboa commented on #4373
So weird. I reinstalled everything, including the database, and it suddenly
worked. I don't know how to replicate it. I just hope it won't come back
again :D

-Arnold

On Mon, Oct 28, 2019 at 5:02 PM Alexandre BODIN <notifications@github.com>
wrote:

[2019-10-28 10:09] abdonrd commented on #1443
There are any ETA to fix this? Thanks in advance!

[2019-10-28 11:05] animatedcreativity commented on #1571
For me 1234567890 gets converted to 1234567890.0 even when field type is string. It keeps adding that .0 in the end. But, if I save A1234567890 then it will happily accept it as a string and will not add .0

Number checks should not be done on a value if its type is already string.
The same happens for text type also.

I changed the type to number and it got solved, but by data is a mix of charact

[2019-10-28 11:14] EloB commented on #3993
@SusilRamarao I don't remember... :(

[2019-10-28 11:15] soupette commented on #4374
@jmeviler if you want to use the `getstarted` app for development you don't need to modify the `package.json` however here's how to develop the administration panel;

[code]

Then, go to localhost:4000/admin.

[2019-10-28 11:15] #4374 closed

[2019-10-28 13:31] lauriejim commented on #4356
Thank you for reporting this issue.
Feel free to submit a PR event if you are not sure.

[2019-10-28 13:50] cadavre commented on #4271
I don't get it. We need to run development env to get into the CMS?

[2019-10-28 14:13] derrickmehaffy commented on #1443
@abdonrd no updated ETA yet. I think the DBAL layer is coming here soon (beta.18 I think?) but it's just the core stuff. However after it initially gets added I think @alexandrebodin will likely start poking at this a bit more. It's a fairly complex fix that almost needs a rewrite since the callbacks will change from being dependent on the upstream hook packages (mongoose/bookshelf) to the dbal la

[2019-10-28 14:21] fGencturk opened #4378 "How to migrate database changes in production?"
Hello,
I am currently using strapi in production. However, I have a problem while migrating changes I made in local to production.

I found the only way to carry changes from local to production is by exporting database in local and importing it in production or letting strapi build a brand-new database with no data inside. This, however, leads some overlapping situations where changes will not be

[2019-10-28 14:24] derrickmehaffy commented on #4378
Foot note to the below closure message, the short answer is Strapi itself doesn't have a migration process yet so you will have to do this manually for now. You can see the feature request related to this here: https://portal.productboard.com/strapi/1-public-roadmap/c/12-migrate-across-environments

Hello,

I see you are wanting to ask a question that is not really a bug report or a feature reques

[2019-10-28 14:24] #4378 closed

[2019-10-28 16:20] ramlez opened #4382 "Wrong logic of function `addRelationMorph` in '/strapi-hook-mongoose/lib/relations.js`"
Hello guys,
**Describe the bug**
I'm trying to use polymorphic relations in Strapi however every time when I save a document  strapi overrides the array with relations instead of adding new relations to it.

Relation details:
**Image.settings.json**
[code]

**Test.settings.json**
[code]

**Steps to reproduce the behavior**
1. Create a single **Image** document
2. Create 2 different documents based

[2019-10-28 16:55] websocket98765 commented on #3838
@ChristopherLMiller `./config/hook.json`

[2019-10-28 16:59] empeje opened #4383 "Upload API should be /upload not /uploads"
I got this response from strapi API:

[code]

I think the `url` should be `/uploads/83a589e3d54847378dec11e880412b95.jpg` not `/upload/83a589e3d54847378dec11e880412b95.jpg`

I think this documentation should be updated as well in here https://github.com/strapi/strapi/blob/d2105db70a8c7f0540fb4fdfb441022632bc433f/docs/3.0.0-beta.x/plugins/upload.md, what do you think?

[2019-10-28 17:07] derrickmehaffy commented on #4383
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-28 17:07] #4383 closed

[2019-10-28 17:20] empeje commented on #4383
Thank you @derrickmehaffy for your input, I'll update my issue

[2019-10-28 17:22] derrickmehaffy commented on #4383
No problem it just helps the contributors figure out what is going on and makes issues easier to read. I know your bug report is fairly simple but got to enforce the templates on everyone 😉

[2019-10-28 17:24] derrickmehaffy commented on #4383
That being said I can't even reproduce this O_o

https://api.canonn.tech/upload/files/1

[code]

[2019-10-28 20:31] jsonpj3wt commented on #4373
We are also seeing this in our production environment.  Works fine in dev even locally but once it is out on our servers, same problem.  We cannot just wipe the database easily since it is production.

@alexandrebodin We have three entries for what you asked for:
{
    "_id" : ObjectId("5db72274659c45c762f927e0"),
    "type" : "users-permissions",
    "controller" : "userspermissions",
    "action

[2019-10-28 20:40] derrickmehaffy commented on #4373
@jsonpj3wt include your error also because I think your code was different believe it was a 500 code not a 403

[2019-10-28 20:48] jsonpj3wt commented on #4373
ah ok:

We modified it to do some cleanup and do an npm run build to make sure everything is correct.  Now we are getting an error running admin <api-path>/users-permissions/init - response: 500.  Literally tried everything and it works locally just fine.  Only difference I can see is it is running in production.

Also, this works fine in another database instance and also works fine running the c

[2019-10-28 21:05] derrickmehaffy commented on #4373
@arnoldgamboa can you confirm you are also using AWS either as a host or for their managed database?

[2019-10-28 23:14] pouyamiralayi opened #4384 "Deleting file from 'Files Upload' breaks any other content that has reference as a 'Media' relation to that file"
**Describe the bug**
Suppose that we have a content type "Post".
In "Post" we have an "Images" field with type "Media" that has "Allow multiple files" checked.
If any of the files added in "Media" for a Post are deleted in the "Files Upload" section under Plugins, then the Post will no longer be editable; for any further visits upon Post content type, the admin panel will ouput this error:
[code]

[2019-10-29 02:08] yolio2003 opened #4385 "Trying to install strapi failed, multiple times in a year"
**win10 npx create-strapi my-project --quickstart **
i don't think we need the dep like 'cwebp' and anything that need node-gyp etc...
i hope, we can keep the deps as less as possible.

**Steps to reproduce the behavior**
1. npx create-strapi my-project --quickstart

**Expected behavior**
just use strapi easy and light

**System**
- Operating system: win10

[2019-10-29 02:16] omarzion commented on #4025
not exactly related, but typing in any record past the first 20 returns no results due to the _limit=20

[2019-10-29 04:35] michelhelms-tdg commented on #4385
I hate node-gyp as much as you do and I agree that strapi should try to get rid of it if possible.

You can try one of many guides though and I am sure you can make it work somehow. For example [here](https://spin.atomicobject.com/2019/03/27/node-gyp-windows/).

[2019-10-29 05:14] derrickmehaffy commented on #4385
@yolio2003 I know it can a tad annoying to fill out the bug report template but please do try to completely fill it out. Thank you :smile:

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the templa

[2019-10-29 05:14] #4385 closed

[2019-10-29 05:15] derrickmehaffy commented on #4384
@soupette @virginieky

[2019-10-29 06:11] badoet opened #4386 "Issue with view file and copy link of uploaded file"
**Describe the bug**
Wrong url composition in view file and copy link of uploaded file

**Steps to reproduce the behavior**
1. Go to 'Files Upload'
2. Click on the record to copy the link
3. the recorded link will be https://https://<host>:<port> ...
problem here is there is extra https:// at the front and also the additional `:port`

1. Go to 'Files Upload'
2. Click on the eye icon record to open

[2019-10-29 06:16] derrickmehaffy commented on #4386
@badoet what is the config of your proxy settings in `config/environments/*/server.js`

Here is the spot in the documentation that covers this: https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#server

And here is an example of a properly setup proxy setting:
[code]

[2019-10-29 06:38] badoet commented on #4386
got it thank you

[2019-10-29 06:38] #4386 closed

[2019-10-29 06:44] abdonrd opened #4387 "Can't aggregate count the User model"
**Describe the bug**

Can't aggregate count the User model

**Steps to reproduce the behavior**

1. Run this GraphQL query:

[code]

2. See the error:
`"message": "The model user can't be found."`

**Expected behavior**

Return the count.

**System**
- Node.js version: `v10`
- NPM version: `v6`
- Strapi version: `v3.0.0-beta.17.4`
- Database: MongoDB
- Operating system: macOS

[2019-10-29 07:31] geosigno commented on #764
Is this still not planned? I think this could very useful to be able to filtering items on manager list depending of relational fields.

I give you an example:
I have a "course" content type. This "course" has a relation with a "Level" content type. Currently I have no way to find which course has which level on the manager list. Nor filtering courses that are in the level 2 for example.

[2019-10-29 07:32] derrickmehaffy commented on #764
https://portal.productboard.com/strapi/1-public-roadmap/c/49-display-relational-field-in-list-view

[2019-10-29 07:37] geosigno commented on #764
nice, thanks (y)

[2019-10-29 09:27] abdonrd commented on #2644
Any news on this?

[2019-10-29 09:35] drilondrenica opened #4390 "Cannot edit felds"
Cannot  edit felds in my app, Bag in console is "TypeError: Cannot read property 'type' of undefined".

[2019-10-29 09:45] derrickmehaffy commented on #4390
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-29 09:45] #4390 closed

[2019-10-29 09:46] MartinN3 commented on #2644
@soupette JSON is valid with string, array, object as default... What thinking goes behind enforcing empty object then.

But of course, its json so no one in code can really depend on type set defaultly - on this argument default value by itself doesn't matter that much to me.

Maybe ppl what people want is to set default and enforce JSON type validation on first level.

[2019-10-29 09:52] yusuke-kogawa commented on #3212
FYI:
I had same error. and I resolved by update S3 permissions.

strapi-provider-upload-aws-s3 module upload file with hard-coded permission `public-read`.
This means you should set s3 "Block public access" to off .

S3 management console
 -> "Permissions" tab
 -> "Block public access"
 -> "granted through ACLs" settings set to Off

[2019-10-29 13:53] lauriejim commented on #4382
Thank you @ramlez for reporting this.
I ping @alexandrebodin.

[2019-10-29 13:56] lauriejim commented on #4025
Hello! There is another issue about this topic @omarzion.

[2019-10-29 16:28] mswaidan commented on #4356
👌 Will try to get one in this week.

[2019-10-29 16:50] mdacosta commented on #3682
I changed the column name.

[2019-10-29 16:50] #3682 closed

[2019-10-29 18:00] MurzNN commented on #761
Our company need this feature too! Create new models for each muti-value field is too expensive!
For example, simple popular `Contact` model already need this, for store object like:
[code]
Without this feature, we must implement new model "contactNumber" and make 4 queries to API for load the contact model?

[2019-10-29 19:46] derrickmehaffy commented on #4382
@ramlez you win my award for most detailed bug report I've seen in a while thank you.

Side note can you also test with the latest Strapi version, I don't think there was any changes to this but would be good to know. `Strapi version: 3.0.0-beta.17.1` Current latest is beta.17.4

[2019-10-29 20:32] suiteappdev commented on #2013
working on mlab editing  timeout on hook.json to 100000,  and setting port in connection as string work for me.

[2019-10-29 21:29] alexandrebodin commented on #4382
Hi @ramlez, I think you are right  :)

There is indeed an issue in this fonction. I won't be able to tackle it right away but If you feel adventurous you can try and make a PR to fix this ;)

[2019-10-29 23:49] savyir opened #4402 "Permissions setup fail on MongoDB"
hi,
**summary**
I want to edit one of my content types, but I got "an error occurred"

1. Go to content type builder
2. Click on one of content types
3. Click on add another field, fill it, and then click on Save button on top
4. See error "an error occurred"

**Expected behavior**
I want to change my model and add a new field or update one of them.

**Screenshots**
![image](https://user-images.gi

[2019-10-30 03:33] savyir commented on #4402
it works when I login with ip and port !

![image](https://user-images.githubusercontent.com/24469125/67826885-51e51a80-fae3-11e9-9726-ec5a89fd62db.png)

but with reverse proxy dosen't work

[2019-10-30 04:10] abdonrd commented on #4387
Thanks @lauriejim!

Mention that the same query works for me in other models.

[2019-10-30 07:14] mhelmetag opened #4403 "Is the "you should not be able to reach the administration panel" after setup warning still valid?"
**Describe the topic**
In https://github.com/mhelmetag/strapi/blob/master/CONTRIBUTING.md, there's a section where it says "If you've followed the recommended setup, you should not be able to reach the administration panel at http://localhost:1337/admin." The thing is... I can view the admin page from that URL (after creating a root user) and `yarn develop` says I can too (from the screenshot belo

[2019-10-30 07:26] iicdii opened #4404 "GraphQL filter on repeatable group"
**Describe the topic**
Filter on repeatable group on GraphQL seems not working. It doesn't seem to filter on array now.

**Your suggestions for this topic**
Support filtering on array.

**Code snippets**
Let's say you have content type **Restaurant** and field structure below.

"opening_hours" (group)
- "day_interval" (string)
- "opening_hour" (string)
- "closing_hour" (string)

[code]

[2019-10-30 07:32] derrickmehaffy commented on #4404
@iicdii can you please use the bug report template and not the discussion one.

[2019-10-30 07:33] derrickmehaffy commented on #4403
@lauriejim @Aurelsicoko this is what I brought up the other day the contrib docs need some updates. The process outlined in them doesn't work most of the time.

[2019-10-30 07:35] iicdii commented on #4404
@derrickmehaffy sure.

[2019-10-30 07:38] mhelmetag commented on #4403
FWIW, the contrib doc did work for me other than that. I just found that little detail confusing (but to be fair... a lot changes in a year when that was added).

Only other thing I've noticed is that `yarn develop` runs in the dev environment and `getstarted` is missing a `database.json` for that env. Not sure if that's intended or not.

[2019-10-30 08:04] iicdii commented on #4404
**Describe the bug**
Cannot filter on repeatable group on GraphQL.

**Steps to reproduce the behavior**
1. Go to "Content type builder" menu.
2. Create group **opening_hours** with below fields and save.
- "day_interval" (string)
- "opening_hour" (string)
- "closing_hour" (string)
3. Create new content type **restaurant** with below fields and save.
- "name" (string)
- "opening_hours" (group - che

[2019-10-30 08:38] abdonrd commented on #2935
@lauriejim can we reopen it? Thanks!

I am not sure of the best solution, but I would like to find a solution for this use case.

[2019-10-30 08:53] 42ae commented on #4311
I am facing the exact same issue, with mongoDb atlas as well. It could also be related to issue #4188

[2019-10-30 08:53] TheRealBarenziah opened #4407 "Content-Manager relation dropdown weird behavior"
**Describe the bug**
Relational dropdowns behavior were fine in alpha, but since beta they're pretty annoying to work with. This issue is about the annoyance because I couldn't reproduce my original issue (where I strictly couldn't get more than 21 elements in my dropdown).

**Steps to reproduce the behavior**
1. Get [this repo](https://github.com/TheRealBarenziah/strapi-reproduce-issue) (credenti

[2019-10-30 08:56] derrickmehaffy commented on #4407
@TheRealBarenziah can you submit a PR? Also you may want to check this code in the develop branch and make sure it hasn't been tweaked. beta.18 will have quite a few changes so it's possible this has already been addressed (haven't looked myself)

[2019-10-30 09:02] TheRealBarenziah commented on #4407
I can look into beta.18 and/or submit a PR this Friday; letting it open in the meantime. Insight from the author of this component would be welcome

[2019-10-30 10:53] JelmerV-WFC opened #4409 "Nested objects returning null with GraphQL"
**Describe the bug**
Queried nested objects still returning null with GraphQL. With REST it's working fine.

**Steps to reproduce the behavior**
1. Query items with nested objects

Data that is returned from the service `find` function:
[code]

Data returned by GraphQL:
[code]

**Expected behavior**
Return the object of the nested object instead of null

**Code snippets**
GraphQL query:
[code]

**

[2019-10-30 11:14] anmolmahatpurkar commented on #4409
Duplicate #4326
Fixed in #4347. Waiting for the release

[2019-10-30 11:15] JelmerV-WFC commented on #4409
Oh sorry about that. Thought it was included in the 17.4 release.

[2019-10-30 11:20] JelmerV-WFC commented on #4409
@anmolmahatpurkar I see that the fix is only for bookshelf, and I use mongoose. So this fix will not work for me I guess.

[2019-10-30 12:24] NerdyLuffy commented on #4138
@lauriejim I believe the present issue can be closed

[2019-10-30 12:32] rmaroun commented on #4138
Solved

[2019-10-30 12:32] #4138 closed

[2019-10-30 13:30] MarcinMiler opened #4410 "Cropping images inside strapi"
Hello, I need to implement cropping images inside strapi and there is my question, what would be the best way to implement this feature. Currently i'm trying to edit `InputFile` inside strapi-helper-plugin.

[2019-10-30 13:31] derrickmehaffy commented on #4410
Please see the following feature request: https://portal.productboard.com/strapi/1-public-roadmap/c/28-media-library-with-edit-crop-resize-capabilities

Marking this as closed as duplicate.

[2019-10-30 13:31] #4410 closed

[2019-10-30 14:11] MarcinMiler commented on #4410
@derrickmehaffy I can't wait :P I only need some hints, That’s it.

[2019-10-30 14:21] loongmxbt commented on #4369
@sgtpsibin Hi, any luck on image uploading?

[2019-10-30 15:14] lauriejim commented on #761
Hello @MurzNN.
Now the `group` field type is available for this kind of need.

[2019-10-30 15:27] MurzNN opened #4413 "Allow Repeatable field feature for all field types to store array of multiple values"
- [x] I have created my request on the Product Board, but it disappear after sending and I can't link to it here.

- [x] I have looked at all the other requests on the Product Board before I submitted this issue, and there are no issues exactly about this simple feature.

At now, `Repeatable field` option have only `Group` and `Media` field types, why it available only for two field types?

Is it

[2019-10-30 15:27] #4413 closed, assigned to nobody

[2019-10-30 15:54] lauriejim commented on #4404
Hello @iicdii !
Thank you for your issue.

It's more complicated than that.
Strapi uses a polymorphic relation to manage groups.
And we are currently not able to filter data based on this type of relations.

[2019-10-30 16:04] juliocesarpg92 commented on #2617
Hello, i already ran `npm run setup`, and followed the guide from @derrickmehaffy and when i try to access to /admin i get 404 error, i use strapi 3.0.0-alpha.26.2.
Regards

[2019-10-30 16:24] savyir commented on #4402
No, I just installed it with "yarn create strapi-app my-project --quickstart" directly last night.
I think it is latest version

[2019-10-30 18:38] 42ae commented on #4311
On my end, the bug occurs every 6 weeks or so, so I would guess they are not changing the replica set hostnames very often but still often enough to be annoyed by this issue.

[2019-10-30 18:44] gregorskii commented on #4311
Ah I see. So when they change the hostnames the primary fails and the internal mongo library will not detect the new one?

For me the MaxListenersExceededWarning is happening every week or so. So I do not know if its compounding or keeping the listeners active, or I just have the listeners configured incorrectly.

[2019-10-30 20:54] bdradu commented on #3776
@matthieusibille Heroku recreates the dynos every night so anything stored in the dyno that is not the result of the build process will be lost after 24h. If you had your db on the dyno it probably was deleted and created again like in the case of a fresh install.

[2019-10-30 21:03] lucasmike commented on #4370
Hello @lauriejim !
please see the screenshot attached - it has been hanging on this step for the last 40 minutes or so after the command `npx create-strapi-app my-project --quickstart`

I have also updated node and npm since I reported the issue the first time above but the behaviour is the same. My current system is:

Node v12.13.0
npm 6.12.0
Windows 10

![Untitled](https://user-images.githubuser

[2019-10-30 21:16] gregorskii commented on #4311
I am swapping this to the old 2.0 connection string. I will keep you updated to see if it does this again. It seems to be there are some issues in the mongo driver.

Even with useUnifiedTopology disabled I think there is another issue with the change descriptors per:

https://jira.mongodb.org/browse/NODE-1709

I think I might be seeing a different issue that you.

[2019-10-30 21:52] 42ae commented on #4311
I actually think I am facing the same issue, see my logs below.

[code]
[code]

[2019-10-30 23:32] LucasMatuszewski commented on #3971
As far as I know "next" versions are not for normal development. They are for Strapi team and contributors, to develope new features.

The latest version of strapi is beta.17.4 - please use this migration guide if you have v16 now:
https://strapi.io/documentation/3.0.0-beta.x/migration-guide/migration-guide-beta.16-to-beta.17.4.html

or this one if you have some older beta version (I was migrating

[2019-10-31 01:45] loongmxbt commented on #4369
I have do some searching.
https://ckeditor.com/docs/ckeditor5/latest/features/image-upload/image-upload.html
Official Image Uploaders
1. Easy Image - upload to a cloud CKEditor offers
2. CKFinder - a browser-based file uploader with its server-side connectors (PHP and ASP.NET).
3. Simple adapter - uploading images to your server using the XMLHttpRequest API with a minimal editor configuration.
4.

[2019-10-31 01:53] loongmxbt commented on #4287
Same problem. Have to copy and paste strings including Chinese Characters each time.
Weird is, didn't come across this probelm in initial beta version.

[2019-10-31 03:53] derrickmehaffy commented on #2617
@juliocesarpg92 alpha is no longer supported

[2019-10-31 04:14] qivhou opened #4415 "mongoose plugin not working after upgrading to beta.17.4"
**Describe the bug**
before update, I have a development set up in beta.14. In my dev, I had a mpath plugin for mongoose as following. (/config/functions/mongoose.js), I can use the functions by mPath, for example `getAllChildren()`, it attaches on mongoose document.

code as following,
[code]

config as below
[code]

But now, I got error as following
[code]

seems it's related with [updates](http

[2019-10-31 05:07] derrickmehaffy commented on #4415
@qivhou please follow the bug report template, also please include the required information to the **system** block I just edited onto your post

[2019-10-31 07:22] alexandrebodin commented on #4415
Hi @qivhou,

Using the strapi.query util won’t work in your case. To run full mongoose queries you can access your model through strapi.models.org and run any mongoose query.

Hope this helps you :)

[2019-10-31 07:36] qivhou commented on #4415
@derrickmehaffy report set up.
@alexandrebodin it worked before. you mean it's not working on new version ?

[2019-10-31 07:52] derrickmehaffy commented on #4415
There was lots of changes to the hooks @qivhou

[2019-10-31 08:10] alexandrebodin commented on #4415
@qivhou as you pointed out in your description, the data returned by the queries are now plain js objects an not mongoose or bookshelf documents.

[2019-10-31 09:52] kolomu opened #4416 "Path when using a custom upload service is always temp-folder"
**Describe the bug**
When using a custom upload service (with @koa/multer) the upload path is always my temp folder.

I created a repository showcasing my issue here: https://github.com/kolomu/custom-editor-strapi
The following files are important:
sample2.html (The upload html file)
[code]

api/custom
-   services/MyUpload.js
[code]
-  controllers/Custom.js
[code]
-  config/routes.json
[code]

**

[2019-10-31 10:04] Mario-Boss opened #4417 "Mongo DB authentication problem with Strapi installation"
**Describe the bug**

I have a Mongo DB authentication problem with my Strapi installation.

Strapi is running fine when Mongo authentification is disabled in my config file /etc/mongod.conf
but it's not running when I try to enable authentication.
I provided my config files below - do you need any other info?
I provided the error generated by the Nginx, Mongo and Passenger below - do you need oth

[2019-10-31 10:06] alexandrebodin commented on #4415
I'm going to close this issue as we just changed the way to do that but it is still doable.

Let us now if you need help.

[2019-10-31 10:06] #4415 closed

[2019-10-31 10:17] lauriejim commented on #761
There is no other solution for now. We are thinking about adding the `repeatable` option for other fields that just `group`.
But it will not be now.
So yes you will have to use a group for repeatable numbers.

[2019-10-31 10:19] lauriejim commented on #4413
Hello! If you sent this feature request on the product board, it's enough.
I don't think we need it also open in GitHub.
Thank you for this insight @MurzNN

[2019-10-31 10:21] krzysztofp commented on #4410
@derrickmehaffy the question here was about "the best way to implement" - as looks like @MarcinMiler wants to implement himself, so can you advise on some good practices here?

[2019-10-31 10:27] derrickmehaffy commented on #4410
I honestly am not sure but Github issues isn't the place for questions like this, as it's for Bug reports and feature requests. For general questions or suggestions you should use:

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

We try to limit the number of open issues to only those that require code changes within the monorepo. This featu

[2019-10-31 10:30] derrickmehaffy commented on #4413
Yup if it was submitted via product board then @Aurelsicoko will see it

[2019-10-31 10:30] lauriejim commented on #4402
Okay we fixed this issue for Bookshelf (SQL databases) but the issue still exists on Mongo.

The issue is: when strapi create the application, on the first start, we create the `jwt.json` file and when you update/create a new file, it triggers a server restart.
But the permissions database setup is not finished. So some permissions are missing (in your case permission to update a content type)

I

[2019-10-31 10:39] derrickmehaffy commented on #761
The manyWay is also useful for this @MurzNN

[2019-10-31 10:42] JelmerV-WFC commented on #4409
@lauriejim Sure!

This is my destination model:
[code]

And I added blogDetails in my custom GraphQL schema:
[code]

[2019-10-31 10:58] lauriejim commented on #4287
Can you tell me if I'm doing something wrong here? Looks working.

https://www.loom.com/share/df7bc66954d24bbca6af34a891316595

[2019-10-31 11:01] savyir commented on #4402
where is the "users-permissions_permission" collection?
I just see a folder called "users-permissions" in the extensions folder.

I guess there is something with request handling.
content-type update works when I login with ip:1337
I can give you ssh access if it helps.

[2019-10-31 11:05] derrickmehaffy commented on #4402
@savyir he means in the database.

[2019-10-31 11:08] Mateuszry opened #4419 "API register user mail validation"
**Describe the bug**
Strapi allows to register user with invalid email. Behavior depends on `email confirmation` config:
- **Case 1:** When `email confirmation` is disabled Strapi creates user with invalid email and `auth/local/register` returns `200`.
- **Case 2:** When `email confirmation` is enabled user with an invalid email is saved to the database, but the error occurs when trying to send a

[2019-10-31 11:11] derrickmehaffy commented on #4419
This will likely come with the validation layer, right now there is almost nothing that has any validation on it.

This was brought up with other things like default values, enum values, min and max settings, ect.

[2019-10-31 11:11] derrickmehaffy commented on #4419
https://portal.productboard.com/strapi/1-public-roadmap/c/14-validations

[2019-10-31 11:19] Mateuszry commented on #4419
In my opinion it is not validation feature. It is just a bug which misleads users, because they receive response 400 with strange message. Account is created in Strapi database, so they cannot confirm their account nor use the same username again.

[2019-10-31 11:25] luq10 opened #4420 "One model of error messages"
I integrate my frontend with API builded using Strapi. I want to get error message from API and show it for user. I noticed that errors messages send by Strapi don't have one model.

Examples:

`message` can be `object[]`
[code]

`message` can be `object`
[code]

As i see here: https://github.com/strapi/strapi/issues/4249
`message` can be `string`
[code]

I created a function for get user-friendly

[2019-10-31 11:32] savyir commented on #4402
I installed Strapi with --quick-start flag, so I don't know how to access the DB
should I reinstall it?

[2019-10-31 11:40] derrickmehaffy commented on #4402
you can use any SQL client like DBeaver/HeidiSQL to open up the SQLite DB file

[2019-10-31 12:23] loongmxbt commented on #4287
@lauriejim In my case, I update the beta version to the latest, at first the problem still exsits, may be cache? But today I cannot reproduce it again.

[2019-10-31 12:34] savyir commented on #4402
Thank you. I didn't know that.

@derrickmehaffy I tried what you said, but didn't work.
I installed Strapi with MySql,
created a new content-type and saved it,
when I go to update I got the same error.

I deleted the "users-permissions_permission" table from MySql DB and restarted Strapi (yarn && yarn build && yarn develop) , but the error still exists.

[2019-10-31 12:44] derrickmehaffy commented on #4287
I'll go ahead and close the issue out @loongmxbt but yeah it was most likely cached from your lock file. Do let us know if the issue comes back up

[2019-10-31 12:44] #4287 closed

[2019-10-31 13:41] qivhou commented on #4415
@alexandrebodin could you give some ideas on it ？ demo or some codes？thank you very much！

[2019-10-31 13:47] qivhou commented on #4415
saw the [models document](https://strapi.io/documentation/3.0.0-beta.x/global-strapi/api-reference.html#strapi-models) mentioned @alexandrebodin , will have a try ! Thank you guys for your amazing work!

[2019-10-31 14:33] lauriejim commented on #4416
Hello @kolomu !
This issue is not related to Strapi itself.
Can you please open this issue as a question on StackOverflow.
And add the tag `strapi`.
Thank you ;)

PS: To access to the data vs file in your request,
check the default controller logic for the `create` function.
https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#core-controllers

[2019-10-31 14:33] #4416 closed

[2019-10-31 14:43] lauriejim commented on #4416
Hello @kolomu !
This issue is not related to Strapi itself.
Can you please open this issue as a question on StackOverflow.
And add the tag `strapi`.
Thank you ;)

PS: To access to the data vs file in your request,
check the default controller logic for the `create` function.
https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#core-controllers

[2019-10-31 17:08] hkovacs commented on #2769
i am unable to log into the admin with my first user i created. i see the password hash is showing as per this issue.

any suggestions for a temporary work around until this issue is resolved?

[2019-10-31 17:20] lauriejim commented on #4419
Hello @Mateuszry !
Thank you for reporting this issue. Feel free to submit a PR to fix that.
Will really appreciate your contribution.

[2019-10-31 17:30] lauriejim commented on #4420
Helo! Can you tell me the request you did please.
I think the first one is an array to let you highlight the input that have an error (in this case email but could also be password)

[2019-10-31 18:12] luq10 commented on #4420
I send `/auth/local/register` request and get this first (`message` is `object[]`) and second (`message` is `object`) response.

[2019-10-31 19:19] hkovacs commented on #2987
im using Strapi v3.0.0-beta.17.4

this is still a problem.

i see the hashed value when i click the eye.

i also commented in 2769.

[2019-10-31 20:13] AnnieTaylorCHEN opened #4425 "My strapi server suddenly crashed, GraphQLError: Syntax Error: Expected :, found Name "_id""
Hi, I'm building a headless cms for a e-commerce project.

**System**

- Node.js version: 12.13.0
- NPM version: 6.12.0
- Strapi version: 3.0.0-beta.17.4
- Database: MongoDB atlas cloud
- Operating system: LinuxMint 19.2 Cinnamon
- Front-end : React 16.11.0

It has been working well during past two days, then today after I created some relation data (not sure if this is the cause), then my server

[2019-11-01 08:10] POPOEVER commented on #4287
Because you entered line breaks, which are also detected as Latin characters I think.

[2019-11-01 08:47] lauriejim commented on #4402
Can you try with another OS?
Your issue is really weird.
If you are signed in as an admin you have access to all API routes. So impossible to have a 403 error.

[2019-11-01 08:50] POPOEVER commented on #4287
No idea why this was closed, it's not fixed.

Of course I removed `/.cache`, `/build`, `/exports` and rebuild the admin dashboard after upgraded to 17.4, and also I cleaned up my browser cache as well, the issue persists.

The reproduction of the issue should be like inserting some Chinese characters then Save, just Chinese characters, no any other input like space, tab, symbols, line breaks, whic

[2019-11-01 09:08] hkovacs commented on #2987
my comment in 2769 can be disregarded.

i am curious why this is marked as closed if it is still possible to see the hashed value when i click the eye.

seems that if i click the save button, the password would be saved improperly.

[2019-11-01 09:10] derrickmehaffy commented on #4402
Make sure you don't have the mod header chrome extension installed

[2019-11-01 09:11] derrickmehaffy commented on #4287
@POPOEVER we need some help trying to reproduce the issue. It's extremely hard to track down a bug if we can't reproduce this on our own system.

[2019-11-01 09:13] derrickmehaffy commented on #2987
@hkovacs It was closed because it is a duplicate:

`same topic as this issue #2769` The other was closed from a PR however it doesn't exactly solve the direct issue so I will reopen that one to make a note.

[2019-11-01 09:14] derrickmehaffy commented on #2769
@soupette @alexandrebodin I'm going to reopen this until we remove the hash from the password field from showing. Other users have noticed this as well and I don't want to have duplicate issues being made. We can close this once a PR is made to exclude the data from showing on the admin.

[2019-11-01 09:24] hkovacs commented on #2769
i know it's picking nits, but the title of this issue is not the existing problem. should the title be changed?

i did a test and interestingly the password did not get improperly changed when i saved the edit form. so that's good news.

so the problem is only that the field needs better UX.

in other cms's, the password field is not immediately available, and a link is provided to offer the user

[2019-11-01 09:24] hkovacs commented on #2987
i did a test and interestingly the password did not get improperly changed when i saved the edit form. so that's good news.

[2019-11-01 10:59] AnnieTaylorCHEN commented on #4425
I found the one the of product model has a wrong name: product-types. I typed this in the adminUI and I think it caused the whole problem. Now I correct it in the code and can start my server again.
To avoid this issue, (as CMS will be used be a lot non-coders) I think it would be nice to have either notification, not hint on correct ways of writing, or automatically sanitation in the backend.

[2019-11-01 10:59] #4425 closed

[2019-11-01 13:02] davidkhierl commented on #4289
having also the same error with the content type of 'agenda'

[2019-11-01 15:09] huesoamz opened #4426 "Chrome lose session on a new tab on same admin url"
**Describe the bug**
After you login on Admin UI, if you wanna open in a new tab (in Chrome) with the same url of a content-type or any url of the admin you get redirect to the login.

The problem its that chrome dont store the session between tabs, but I dont know why dont store all in local storage like Firefox did.

**Steps to reproduce the behavior**
1. Go to Admin section
2. Click on any link

[2019-11-01 15:32] derrickmehaffy commented on #4426
Can confirm this, tad annoying when I want to open something in another tab

[2019-11-01 15:41] huesoamz commented on #4426
After to many test, I saw that the behaviour its related to the "remember me" function on the login, if you click remember me the APP store the jwt/userInfo on localstorage and this persist on tabs...but if  you dont the session is created only for current tab.

I closed the issue, because maybe its the correct behaviour of the remember me.

[2019-11-01 15:41] #4426 closed

[2019-11-01 16:08] joshvoll opened #4427 "couchbase db support"
just a question if there is a plan to add support to couchbase db ;)

[2019-11-01 16:12] derrickmehaffy commented on #4427
@joshvoll there is no current plans right now that I am aware of

Hello, please follow the feature request template.

A proper issue submission let's us better understand the purpose behind your feature request to better understand if it could be implemented.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. Please also submit

[2019-11-01 16:13] #4427 closed

[2019-11-01 16:57] POPOEVER commented on #4287
@derrickmehaffy I understand, and I'm 100% willing to offer my hand to help, just let me know how to, e.g, where does the editor's code lie?

But, I still believe the issue should only be closed when the author confirmed a valid fix or an unsolvable status, please correct me if I'm wrong, thank you.

P.S, speaking reproduce the issue, maybe you can add Simplified Chinese to your system language, a

[2019-11-01 17:10] derrickmehaffy commented on #4287
Editor code is in the content manager plugin I believe I'm not much of a UI guy myself. I'd imagine if you look at the docs (or was it blog post?) One explained how to change the editor over to ckeditor that would also be the place for the current.

Two birds one stone, if you can take a look at the current editor and also if you wanted to swap to a different one

[2019-11-01 17:11] derrickmehaffy commented on #4287
Also could you possibly record a short video of the error happening?

[2019-11-01 18:59] rares-lupascu commented on #1908
@acarrera94 @sorin89 Fargate (aws's docker) is not serverless ... it is a container (service based on tasks) that u bring up and stays up ... so putting strapi on fargate is totally doable, like on any other server / environmnent

i would have loved for strapi to be deployable to lambda ... but for that it would need to have the backend functionality truly separated from the frontend ... u could t

[2019-11-01 23:16] fl034 opened #4428 "Dates in list view are shown without time"
**Describe the bug**
Dates in list view are shown without time. In my use case I have a content-type that has many entries that differ only in time.
I guess adding the time wouldn't hurt anybody. But making it adjustable would be the nicer way, of course.

I'm creating this as a bug report since I think it just was forgotten. E.g. in relational field selection you can see the whole date time.

**S

[2019-11-01 23:25] enBonnet opened #4429 "Command yarn setup fail"
**Describe the bug**
I'm trying to follow [Contributin Guide](https://github.com/enBonnet/strapi/blob/master/CONTRIBUTING.md) but command `yarn setup` always fail.

**Steps to reproduce the behavior**
1. `cd strapi`
2. `yarn setup`

**Response**
[code]

**System**
- Node.js version: v10.16.3
- NPM version: 6.12.0
- Strapi version:
- Database:
- Operating system: MacOS Catalina 10.15.1

**Additiona

[2019-11-02 06:55] maliksajid opened #4430 "How to create a model or API with defining fields, validations and relationingship etc. via CLI"
Hello, I'm a fan of CLI and being a developer prefer CLI instead of GUI. I want a single command of Strapi CLI through which I can generate API or Model. But in the same command, I also wanna mention the name of the fields of the table, validation rules for these fields and relationship with other tables if any.

Thank You

[2019-11-02 07:53] sgtpsibin commented on #4369
I have back to default editor

[2019-11-02 11:58] fl034 commented on #2811
@soupette I guess this is fixed by displaying UTC everywhere?
Would be great to have timezone support for the front-end. I submitted an idea on the product board for it :).

[2019-11-02 12:35] Kriskator opened #4431 "Content Type with field name 'length' not working properly in Many-to-Many relations"
**Describe the bug**
This took me a while to find out:
Querying for data in a many-to-many relation returns no data if related model includes a column named 'length' **and** contains data (not null).

**Steps to reproduce the behavior**
1. Go to admin area to menu 'Content Type Builder' and add a random Content Type with a Number field named 'length'. E.g. Movie with String field 'name' and Number

[2019-11-02 16:56] brunovianna commented on #3891
I'm having the same problem. Here is a printout of the error:

`> strapi start

[2019-11-02T16:48:13.934Z] error Impossible to register the 'category' model.
[2019-11-02T16:48:13.935Z] error TypeError: Unknown SSL profile ''
    at Function.getSSLProfile (/var/www/strapi/cms/node_modules/mysql/lib/ConneconConfig.js:34:24)
    at Object.createConnection (/var/www/strapi/cms/node_modules/mysql/index

[2019-11-02 17:07] deebov opened #4432 "User password can be seen"
**Describe the topic**
Currently, admins can see and change users password. That is not secure, of course. I'd like to know if there's any way to hide users password so nobody can see or change them.

[2019-11-02 17:14] pouyamiralayi commented on #4430
[generate api](https://strapi.io/documentation/3.0.0-beta.x/cli/CLI.html#strapi-generate-api)

[generate model](https://strapi.io/documentation/3.0.0-beta.x/cli/CLI.html#strapi-generate-model)

it is easy to combine the above commands into one. use ``&&`` in between.
for the validation i am not sure of a way also there is commands for defining [policies](https://strapi.io/documentation/3.0.0-beta.

[2019-11-02 17:17] pouyamiralayi commented on #4432
admin sees the hash version of password, not the plain text.

there is an open discussion about this [here](https://github.com/strapi/strapi/issues/4341).
cheers!

[2019-11-02 17:17] derrickmehaffy commented on #4432
closing as duplicate of https://github.com/strapi/strapi/issues/4341

[2019-11-02 17:17] #4432 closed

[2019-11-02 17:18] derrickmehaffy commented on #4430
Hello, please follow the feature request template.

A proper issue submission let's us better understand the purpose behind your feature request to better understand if it could be implemented.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. Please also submit your feature request on the [Product Board](https://portal.produc

[2019-11-02 17:18] #4430 closed

[2019-11-02 17:40] deebov commented on #4432
Thanks for the reply. But showing hashed password won't solve the problem at all. Because admins can still change it and replace with a different hash or plain text

[2019-11-02 17:41] derrickmehaffy commented on #4432
The issue linked goes into detail about this, it's not intended and it will be removed eventually.

[2019-11-02 17:54] theshanergy commented on #3173
Was anyone able to get this working? I've got the same issue described above. Code is exactly the same as in the documentation and I'm seeing the same error as above.

`Something went wrong in the model `Comment` with the attribute `related`
Cannot read property 'nature' of undefined`

[2019-11-03 07:23] webcoderkz opened #4434 "model.set case insensitive?"
For example, if i have a field in database in this case "Title", using `model.set('title', 'asdads')` works as well, is that ok?

But if i use `attrs.title` - it doesn't work, i must use `attrs.Title`, is there a documentation on this api methods?

[2019-11-03 10:28] dkarski commented on #2870
@asotoglez, @ttawan Did you delete the .cache and build folders. before `yarn develop`.
[#rebuilding-your-administration-panel](https://strapi.io/documentation/3.0.0-beta.x/migration-guide/migration-guide-beta.16-to-beta.17.4.html#rebuilding-your-administration-panel)

[2019-11-03 11:54] deebov opened #4435 "fails to start when using database uri on production"
**Describe the topic**

My app is deployed on Heroku. I use Postgres as a default database. The problem is that Heroku updates the database credentials once in a while. So, it was not the best idea to use database credentials separately. I tried using the database uri as here:
![image](https://user-images.githubusercontent.com/28673719/68084627-feaff680-fe59-11e9-949e-c7c3b9521304.png)

It worked

[2019-11-03 12:03] kgrosvenor opened #4436 "500 error MongoError after about 1 - 2 months of running"
Hey guys, this is a pretty weird one.. just wondering if any light could be shed on this issue, after about 1-2 months of running strapi i get a 500 error, if i re run my pipeline with PM2 it's fine again, is this some kind of memory leak?

[2019-11-03 14:35] sefasaid opened #4437 "File upload doesn't remove old relations"
**Describe the bug**
I have a user model like this

[code]

it works on admin panel but when i upload from mobile device or post data from postman it doesn't remove old relations so when i remove profile image, old profile image comes. how can i resolve

**Steps to reproduce the behavior**
1. upload image from mobile device or postman
2. go on user detail in admin panel
3. remove profile just uplo

[2019-11-03 15:52] derrickmehaffy commented on #4429
https://github.com/nodejs/node-gyp/issues/1464
https://github.com/nodejs/node-gyp/pull/1940

This appears to be an issue upstream from Strapi. I'll leave this open until the Strapi guy can confirm.

[2019-11-03 15:53] derrickmehaffy commented on #4431
More than likely this would be a javascript reserved word. @alexandrebodin @soupette add it to the list?

@Kriskator I'd suggest you use a different name.

[2019-11-03 15:53] derrickmehaffy commented on #4434
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2019-11-03 15:53] #4434 closed

[2019-11-03 15:54] derrickmehaffy commented on #4435
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-11-03 15:54] #4435 closed

[2019-11-03 15:54] derrickmehaffy commented on #4436
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2019-11-03 15:54] #4436 closed

[2019-11-03 19:11] manu-4216 commented on #3716
I was able to fix this issue by manually editing `projectName/api/contentTypeName/models/contentTypeName.settings.json`.

The `yarn strapi start` works without that error

[2019-11-04 03:22] kiwimonk opened #4439 "Uploaded media does not follow on Content Type name update on MongoDB"
**Describe the bug**
Renaming a Content Type that has media uploads loses the media associated with it

**Steps to reproduce the behavior**
1. Go to 'Content Type Builder'
2. Rename a Content Type with Media
3. View the Content entries

**Expected behavior**
The upload_file.related.kind in the database should be updated when a content type is renamed.
If I change it manually in the database everyt

[2019-11-04 04:02] scottydev commented on #4005
Had this same issue, thanks for the answer. Wish this was updated in the step-by-step docs:

https://strapi.io/documentation/3.0.0-alpha.x/guides/deployment.html#the-ecosystem-config-js-file

[2019-11-04 10:13] 4strid commented on #752
it's all fun and games until you realize the beforeSave lifecycle method doesn't work. That said, adding it to beforeCreate was "close enough" for me, so thanks @jodacame

[2019-11-04 10:16] #4419 closed

[2019-11-04 13:35] mdacosta commented on #2971
Hi.
The issue is still present in 3.0.0-beta.17.4, but the error message is different:
`Error: XXX defined in resolvers, but not in schema`.

The problem seems to be located here: https://github.com/mdacosta/strapi/blob/master/packages/strapi-plugin-graphql/services/Resolvers.js#L62
We don't filter associations which are marked as `private: true` in the model.
A fix would be something like this:
[

[2019-11-04 14:22] TheRealBarenziah commented on #4407
Little update;
I haven't done a PR yet because I don't find my workaround satisfying enough. I mean, it makes it possible to live with the bug instead of really fixing it.

The problem seems common for most browsers (I've also tested Opera, Chromium, Firefox, Safari & Brave).

The thing is, `onMenuScrollToBottom` should trigger when you're already to the bottom & scroll down, and it doesn't. But I

[2019-11-04 15:29] savyir commented on #4402
@lauriejim @derrickmehaffy
 in chrome , firefox , desktop and phone , it doesn't work.
I'm using admin panel with proxy in address and works well.

[2019-11-04 16:05] brianadeloye opened #4442 "Security Vulnerability: authentication bypass in password reset routes"
**Describe the bug**
A remote, unauthenticated attacker can use the password reset mechanism to change both a single admin's password and a single unprivileged user's password without having a valid password reset code. This affects both `strapi-admin` and `strapi-plugins-users-permissions` via the following routes:
* [`POST /admin/auth/reset-password`](https://github.com/strapi/strapi/blob/a22f2c

[2019-11-04 16:25] derrickmehaffy commented on #4442
@brianadeloye thanks for this I've passed it up to the Strapi team

[2019-11-04 16:25] alexandrebodin commented on #4442
@brianadeloye Thanks you for reporting this issue. I'm going to delete the issue to avoid security problems and will be fixing this right away !

[2019-11-04 18:59] webcoderkz commented on #3891
Just faced the same issue `error Impossible to register the 'category' model.`. Hell, so many headaches to JUST deploy this CMS......

[2019-11-04 19:02] derrickmehaffy commented on #3891
@webcoderkz need the full error.

@brunovianna Your issue comes from an improper SSL setting on your database.json file

[2019-11-04 19:03] webcoderkz commented on #3891
@derrickmehaffy i have exact the same error as @brunovianna

[2019-11-04 19:05] derrickmehaffy commented on #3891
@webcoderkz post your database.json (the one that is actually being used based on your env start settings) and remove any private data.

[2019-11-04 19:06] webcoderkz commented on #3891
It's by default, i haven't touched it.

[code]

[2019-11-04 19:09] derrickmehaffy commented on #3891
Under your options object delete both those (not sure why you have a mongoDB setting in there for authDB)

Remove the SSL option under the default object unless you know your MySQL DB needs SSL. Also remove the srv option as well.

I'm assuming you are setting the host, port, database, username, and password via ENV variables properly when you start Strapi.

[2019-11-04 19:11] webcoderkz commented on #3891
@derrickmehaffy if it's not necessary (options object), then why it's here by default? To cause issues for DX?

[2019-11-04 19:27] derrickmehaffy commented on #3891
Most likely it's from the templates being merged, that error message looks to be coming from Knex (upstream change where they throw and error instead of ignoring keys that don't match valid options).

Yes Strapi for now needs at least 2GB of ram to build due to node-sass which if you take a look at the PRs is in the process being removed. This is not a "simple" and quick change that is being done

[2019-11-04 19:31] webcoderkz commented on #3891
@derrickmehaffy i do all the db operations manually, because all is strapi can do it's just creating tables... lol

[2019-11-04 19:46] derrickmehaffy commented on #3891
As I mentioned, upstream problem. Difficult to keep up with especially when people have `^` in their package versions which means knex could just update the next time you use `npm install`

As for creating tables, it's the same with Mongo but that should change in the future, just isn't a priority right now. Lots of other stuff going on. I'm going to close this issue as this should solve everyones

[2019-11-04 19:46] #3891 closed

[2019-11-05 03:08] farzer commented on #3842
thanks @lauriejim :)

[2019-11-05 03:22] pbjer opened #4448 ""Impossible to register the 'core_store' model" when following AWS deployment guide"
**Describe the bug**
When following the AWS deployment guide, I receive an error [at the end of step 6](https://strapi.io/documentation/3.0.0-beta.x/guides/deployment.html#_6-install-pm2-runtime) when I run `pm2 start ecosystem.config.js`

Error: `error Impossible to register the 'core_store' model.`

**Steps to reproduce the behavior**
Follow the AWS deployment guide to step 6 and start pm2 with

[2019-11-05 03:27] derrickmehaffy commented on #4448
Seems your DB is responding too slow. Try adding the following to your database.json (under options which is included in the object)

[code]

[2019-11-05 03:38] pbjer commented on #4448
@derrickmehaffy Thank you. Unfortunately I am still encountering the same error. I should have mentioned I already added these options while trying to debug last night, apologies as I forgot to include in my report.

[2019-11-05 03:57] derrickmehaffy commented on #4448
:thinking: That timeout directly relates to the connection to the database meaning the DB is responding too slow or the connections are being killed to fast

[2019-11-05 04:02] pbjer commented on #4448
Hmm okay - I went ahead and checked RDS to see if there was any output there and it looks like there are some error logs:
[code]
is this likely an RDS issue then?

[2019-11-05 04:26] derrickmehaffy commented on #4448
That would be my guess, that error you are getting about the pool timeout comes from Knex's pool management called tarn. https://github.com/vincit/tarn.js/

[2019-11-05 04:56] pbjer commented on #4448
**SOLVED:**

Issue was caused due to default security group applied to Amazon RDS. Strapi's current documentation assumes the AWS account is fresh/has no other security groups already set. If AWS account already has a security group, the RDS instance will not have the newly created security group applied by default and it must be applied manually.

[2019-11-05 04:56] #4448 closed

[2019-11-05 05:25] derrickmehaffy commented on #4448
Glad you figured it out :)

[2019-11-05 07:01] gvramesh2003 opened #4450 "Sort by date and not set default to current datetime in admin"
Sort record by date field in API response. Default date is not set in admin panel

[2019-11-05 07:20] JelmerV-WFC commented on #4409
Hi @lauriejim!

Did you had the time to test this?

[2019-11-05 07:41] brunovianna commented on #3891
If anyone needs a quickfix, you can just remove the SSL from the configs:
[code]

[2019-11-05 09:27] ChristophAnastasiades commented on #3471
I have the same problem with `audio`.

[2019-11-05 09:43] luq10 commented on #4420
Next example of error:

`/connect/google/callback?(...)` response me with status code 200 and `error=Grant%3A%20missing%20session%20or%20misconfigured%20provider` as string, not even an json...

[2019-11-05 10:26] davidemorra opened #4453 "Endpoint http://localhost:1337/admin not working"
hi, I have this issue but nothing is changed (or well.. yesterday I updated my Mas).

The error that I see is this:

`main.39e5d438.chunk.js:formatted:110926 Uncaught TypeError: Cannot read property 'email' of undefined
    at Module.<anonymous> (main.39e5d438.chunk.js:formatted:110926)
    at a (runtime~main.0418a51d.js:formatted:38)
    at t (runtime~main.0418a51d.js:formatted:21)
    at Array.r

[2019-11-05 11:06] HappyDaydayUp opened #4455 "hi I can't do the command of develop"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**

do the Quickstart command to create a Strapi project instantly:

1. Go to 'do the command npm develop '
  and the log is "

Building your admin UI with development configuration ...

✖ Webpack
  Compiled with some errors in 12.95s

Error: ./node_modules/strapi-helper-plugin/dist/eMfGAxAx.

[2019-11-05 11:44] slashvortal commented on #4267
Any updates on this issue?

[2019-11-05 12:23] slashvortal commented on #4267
@arnoldgamboa For some reasons, it was the MySQL db user privileges problem.
Unfortunately, I couldn't track the privileges changes when I granted ALL to the user. But after granting ALL everything worked fine!.

[2019-11-05 13:21] lauriejim commented on #4428
Hello! Thank you for reporting this.
I ping @Aurelsicoko and @soupette to give you the best advice on this topic.
Then I think you will be able to open a PR to fix it by following their instructions.

[2019-11-05 13:50] viheikki opened #4456 "Remove dependency to open-browser-webpack-plugin and deprecated "open" version"
**Describe the bug**
Strapi admin depends on a 3 year old open-browser-webpack-plugin package that is dependent on open@0.0.5 that has a critical security issue.
[code]
**Steps to reproduce the behavior**
1. Install Strapi with `npx create-strapi-app my-project --quickstart`
2. Run `npm install && npm audit` in the my-project folder

**Expected behavior**
Strapi dependencies should not have any hi

[2019-11-05 13:53] lauriejim commented on #4437
Hello! All works fine on my side (beta.17.5).
Before reloading, did you save your entry updates?

[2019-11-05 13:55] lauriejim commented on #4429
Ping @soupette and @alexandrebodin

[2019-11-05 15:24] lauriejim commented on #4439
Hello @kiwimonk !
Thank you for reporting this issue.

**Note:** This will only happen with MongoDB. It will work fine with an SQL database.
Due to relations are managed with specific tables in SQL.

[2019-11-05 15:45] lauriejim commented on #4407
@soupette will be the best person to help you!

[2019-11-05 16:00] lauriejim commented on #4450
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

And please check existing issues before pos

[2019-11-05 16:00] #4450 closed

[2019-11-05 16:01] snakom23 opened #4457 "Photos that erase themselves"
Uploading problem in the photos, the images are saved but after a while they are eliminated from the server remaining only as an entry in the DB.

Strapi last version and mongoDB. Strapi is hosted on heroku

[2019-11-05 16:16] lauriejim commented on #4409
Can you give me your blog model, please.

[2019-11-05 18:20] JelmerV-WFC commented on #4409
Here you go:

[code]

[2019-11-05 19:19] soupette commented on #4407
@TheRealBarenziah I have read the issue and it since the best way at the moment would be to remplace the components...
Do you feel like taking care of it?

[2019-11-05 19:21] soupette commented on #3471
@ChristophAnastasiades I am not unable to reproduce the bug with audio as name for a content type.

Maybe the error is coming from somewhere else.

[2019-11-05 19:45] soupette commented on #2644
@MartinN3 I agree the required option on the json field kind of seems odd, if think the only thing that needs to be checked is that the `JSON` format is valid

[2019-11-05 20:12] jedinrk opened #4459 "REST not producing the expected Output JSON for Group inside Content Type"
I have created two content types, Journey and Pages. Journey has relation with many Pages.
Pages has a Group field Variables which is repeatable.

On call of Journey REST API, the Group field under Pages are not getting listed or shown on the JSON

**Steps to reproduce the behaviour**
1. Create two content types. A & B, make B a relational field to A (one to many)
2. Create a group G and make it r

[2019-11-05 20:19] derrickmehaffy commented on #4459
@jedinrk can you please provide examples of what you see and what you expect to see?

[2019-11-05 21:12] soupette commented on #4456
@viheikki I agree this plugin should be removed as it is not maintained anymore, however command injections we could simply remove the plugin and the update the  webpack `devServer` configuration by enabling it ([see the doc](https://webpack.js.org/configuration/dev-server/#devserveropen)).

**cc/** @alexandrebodin

[2019-11-06 02:47] gianfigueroa commented on #4453
If the page redirect again to index, it is posible missed try strapi build

[2019-11-06 05:08] websocket98765 commented on #4457
Your node may be using ephemeral storage and losing static files after any redeploys. Your best bet is to use a persistent block storage like Amazon S3.

See "Install the Strapi Provider Upload AWS S3 Plugin" at https://strapi.io/documentation/3.0.0-beta.x/guides/deployment.html#amazon-aws

[2019-11-06 06:10] pbjer commented on #1069
@lauriejim I am experiencing this issue in latest version just installed today

[2019-11-06 06:20] jedinrk commented on #4459
@derrickmehaffy

My expect JSON would be
`[
  {
    "id": 1,
    "Title": "title",
    "created_at": "2019-11-05T19:35:49.095Z",
    "updated_at": "2019-11-05T20:35:44.575Z",
    "Group": [
      {
        "id": 10,
        "Key": "key1",
        "Datatype": "String",
        "Data": "data1"
      },
      {
        "id": 9,
        "Key": "key2",
        "Datatype": "String",
        "Data": "dat

[2019-11-06 08:10] lauriejim commented on #4453
Can you run `yarn build` or `npm run build` in your project.

And can you please follow the issue template and also well format your error messages.

[2019-11-06 08:14] lauriejim commented on #4455
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

Can you please clean you issue body it's n

[2019-11-06 08:14] #4455 closed

[2019-11-06 08:19] Mateuszry opened #4461 "Confirmation providers other than local"
**Describe the bug**
When "Enable email confirmation" option is enabled users created after login by Facebook or other providers are not confirmed and there is only one way to activate them manually with content manage(Turn on "Confirmed" and save user).

**Steps to reproduce the behavior**
1. Turn on and configure any of available login providers in Roles & Permissions
2. Correctly login with pro

[2019-11-06 08:53] lauriejim commented on #4457
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-11-06 08:53] #4457 closed

[2019-11-06 09:10] lauriejim commented on #4459
Can you please share your content types models, please.

[2019-11-06 10:02] jedinrk commented on #4459
@lauriejim

`{
  "connection": "default",
  "collectionName": "journeys",
  "info": {
    "name": "journey",
    "description": ""
  },
  "options": {
    "increments": true,
    "timestamps": [
      "created_at",
      "updated_at"
    ],
    "comment": ""
  },
  "attributes": {
    "vars": {
      "group": "variables",
      "repeatable": true,
      "type": "group"
    },
    "Title": {

[2019-11-06 10:42] JelmerV-WFC commented on #4409
@lauriejim If it speed things up I can send you a copy of my database and project files.

[2019-11-06 10:46] lauriejim commented on #4461
Hello! Thank you @Mateuszry for reporting this issue and submitting PR.

[2019-11-06 11:22] JRadl opened #4463 "Username already taken error, when registering a user"
**Describe the bug**
I'm trying to add a new user to my strapi project. When I do I always get an error, even though there are no users with the username in the database.

**Steps to reproduce the behavior**
1. Go to API documentation
2. Select /auth/local/register
3. Click "Try it out"
4. Click "Execute"

**Expected behavior**
- a new user is created

**Screenshot**

![image](https://user-images.

[2019-11-06 11:31] TheRealBarenziah commented on #4407
Are we talking about the whole SelectWrapper component?

I can look into it, but can't guarantee to succeed quick as I have a pretty busy month. On top of that I'm pretty junior so I assume it will take me a fair amount of time.

Afaik `react-select` is pretty mainstream as a library (used by 54k repos) so I still have some hope of fixing it w/o having to rewrite the whole thing.

If you still thi

[2019-11-06 12:00] jcousins-ynap commented on #4271
@cadavre I think you're expected to use `npm run start` to run the cms, it doesn't include the admin pages.

[2019-11-06 12:03] cadavre commented on #4271
I'm confused now, so `/admin` isn't the CMS? :) How can I get to the CMS then? :)

[2019-11-06 12:12] jcousins-ynap commented on #4271
There seems to be two parts to this application (please someone correct me if I am wrong).

The first part is the _admin interface_ which is a static website created by `npm run build` or `npm run develop`. This output is similar to the built output of a `create-react-app` application.

The second part is the _api_ which is a node application started by `npm run start`. This is the rest api betwee

[2019-11-06 12:19] lauriejim commented on #4459
I need your groups too.

[2019-11-06 12:19] davidemorra commented on #4453
I found the mistake (mine) in the packages.json the dep strapi-admin was a different version. Thanks and sorry for this!

[2019-11-06 12:19] #4453 closed

[2019-11-06 12:25] cadavre commented on #4271
Ok, so I think we can say `/admin` is CMS and Strapi itself is a headless-CMS. That's kind confusing.

The odd part (and my question) here is we can manage content via UI by visiting `/admin` – event if we're in production – we can manage the content. If we set proper rights we can make user group that will have access to only content edition and not model edition.

But with no `/admin` we have no

[2019-11-06 12:37] lauriejim commented on #4409
Hello, thank you for reporting this issue.
Can you please investigate this issue and submit a PR to fix it.
Will appreciate your contribution!

[2019-11-06 12:40] JelmerV-WFC commented on #4409
@lauriejim @alexandrebodin I already take a look, but I don't really know in what file this is probably happen. Can you give me a hint in what file this issue is probably occurring?

[2019-11-06 13:40] alexandrebodin commented on #4456
Yep you can remove it :)

[2019-11-06 16:28] #4340 closed

[2019-11-06 16:40] jcousins-ynap commented on #4271
The point is that the `/admin` is the GUI where you control the content, models, plugins, and endpoints.

[2019-11-06 16:46] JackMoseley2001 commented on #4463
Also experiencing this problem. I also wanted to remove the need to use a username (Using Issue #3757) however continuing to experience 'Username already taken' error

[2019-11-06 16:48] cadavre commented on #4271
And thanks to Roles & permissions we can give a user access only to Content creator, even in production.

[2019-11-06 19:20] srinair80 opened #4466 "Strapi with Mysql unique setting in model is not creating unique in DB for fields"
**Describe the bug**
As an admin when I am creating a new document and added a filed as unique it creates unique setting in model but its actually not unique in mysql DB.

**Steps to reproduce the behavior**
1. Go to 'content type builder'
2. Click on 'add content type finish the wizard to go to create fields'
3. Click on add field as string and in advanced mark the field as unique
4. Save and che

[2019-11-06 19:46] derrickmehaffy commented on #4466
@srinair80 Alpha versions are no longer supported only beta. The issue is known with beta and will be addressed. For now you would need to manually add the unique constraints.

Marking as closed as this was opened as an Alpha issue

[2019-11-06 19:46] #4466 closed

[2019-11-06 21:17] sbeyeler opened #4467 "Database SSL Config not working in Production mode"
**Describe the bug**
When running strapi in production mode, the configuration value for `connections.default.settings.ssl` is ignored, and strapi is forced into SSL mode

**Steps to reproduce the behavior**
1. Set up a base strapi project
2. Create a production and dev environment with settings in database.json
3. Set up postgres settings with `connections.default.settings.ssl` = `false`
4. Run `

[2019-11-06 21:34] derrickmehaffy commented on #4467
Can you try moving the ssl setting into the options object? I forget it's either mongo or the SQL databases that need it in the settings.

[2019-11-06 21:39] sbeyeler commented on #4467
Same result as before - actually as I am testing more, I don't think the `ssl` option is working at all. When I set `ssl` to `true` in development mode, it isn't using ssl.

It seems like it is defaulting to is essentially
[code]

[2019-11-06 21:40] derrickmehaffy commented on #4467
:thinking: That is odd, I'll look to see where that is set but I believe that entire settings is just being passed to Knex/Tarn there shouldn't be anywhere it would be hard coded.

[2019-11-06 22:30] sbeyeler commented on #4467
It looks like knex doesn't have an SSL config option for postgres 🤔
https://github.com/knex/knex/blob/af129408ca7173bfa0f4a777fb5d3206339cd634/types/index.d.ts#L1789

So this might actually be a bug with knex rather than strapi (or a intentional design decision, albeit a poor one)

[2019-11-06 22:32] derrickmehaffy commented on #4467
Indeed it does looks like a Knex issue, you may try passing an issue over there. My guess would be a limit of the clients being used? I'd imagine it comes from the pg package: https://www.npmjs.com/package/pg

[2019-11-06 22:34] derrickmehaffy commented on #4467
Looks like `pg` supports it but knex isn't using it: https://node-postgres.com/features/ssl

[2019-11-07 01:31] gigablack commented on #4370
I have the same issue.

Node v10.15.1
npm  v6.4.1
Windows 7

[2019-11-07 07:06] jedinrk commented on #4459
@lauriejim group model:

`{
  "info": {
    "name": "Variables",
    "description": ""
  },
  "connection": "default",
  "collectionName": "groups_variables",
  "attributes": {
    "Key": {
      "type": "string"
    },
    "Datatype": {
      "type": "string"
    },
    "Data": {
      "type": "string"
    }
  }
}`

[2019-11-07 08:19] #2971 closed

[2019-11-07 08:35] JelmerV-WFC commented on #4409
The `composeQueryResolver` function in the Query.js file of the GraphQL plugin is is returning the right data. Were is this data returning to when I run a query?

[2019-11-07 10:36] JelmerV-WFC commented on #4409
Found a way to do this with the help of @alexandrebodin. To make this work do the following in the `schema.graphql`:

[code]

With this piece of code the find and findOne overrides can be removed.

[2019-11-07 10:36] #4409 closed

[2019-11-07 10:43] matthieuowlie opened #4468 "Cannot build strapi admin"
**Describe the bug**
I'm unable to build Strapi admin with version 3.0.0-beta

**Steps to reproduce the behavior**
1. Go to strapi folder
2. npm install
3. strapi build
4. See error

**Expected behavior**
The build would have been successful

**Screenshots**
![strapibuild](https://user-images.githubusercontent.com/56551343/68381801-be4ec200-0152-11ea-955a-7694251b4dfc.png)

![config](https://user-

[2019-11-07 11:17] alhill opened #4469 "GraphQL multiple queries sometimes fail"
**Describe the bug**
When making a GraphQL query which calls several models sometimes it works but sometimes fails with an error (Expected Iterable, but did not find one for field Query.whichever.)

**Steps to reproduce the behavior**
1. Query multiple models through GraphQL
[code]

2. About 80% of times the query will work without problem
[code]

3. But the other 20%...
[code]

I don't know if it

[2019-11-07 11:49] Binnenhorster commented on #4468
I had the same issue yesterday. You will find the solution in this migration guide:

https://strapi.io/documentation/3.0.0-beta.x/migration-guide/migration-guide-beta.16-to-beta.17.4.html

but it leads to confusion that this guide says something different: https://strapi.io/documentation/3.0.0-beta.x/guides/update-version.html#upgrading-your-dependencies

the documentation in the second link needs

[2019-11-07 12:33] EloB opened #4470 "GraphQL plugin breaks if you have a content type named "map""
**Describe the bug**
GraphQL server breaks if you create a content type with name `map`. This will prevent any query sent to the server and return below error.
[code]

**Steps to reproduce the behavior**
1. Install a clean install of Strapi
2. Create content type and name it `map`. Create a string field and name it `title`.
3. Install official strapi Graphql plugin.
4. Run any graphql query to rep

[2019-11-07 15:19] sbeyeler commented on #4467
Okay after having done a few more tests, I think there might have been an issue with my original post's bug report, and I will clarify exactly what I think this issue is.

After running the create-strapi-app, the `config/environments/production/database.json` has the following structure
[code]

The issue with this configuration is that when `"ssl": "${process.env.DATABASE_SSL || false}"` gets reso

[2019-11-07 16:14] deebov opened #4473 "does not delete a field from database"
**Describe the bug**
I created and removed the `category` field from `Resources` content type. you can't see the removed field in strapi UI. but it is still in the database. When we try to add a `Resource` it gives us an error that says this:
![image](https://user-images.githubusercontent.com/28673719/68405908-bae32700-01a2-11ea-8017-97f460675637.png)

We even tried to re-create the `Resources` co

[2019-11-07 18:15] ilin-in commented on #4045
Experiencing the same issue, some of the content-types in application section of Roles & Permissions are disappearing (but still visible in content-types on top left bar) and appearing again only after restarting service.

[2019-11-07 20:25] lerototi commented on #4289
@davidkhierl Are you fixed it? I have a "anamnese" model, with this problem!

[2019-11-07 23:39] n8tb1t commented on #702
Hi, I have the same issue how I can invalidate the old JWT tokens?

[2019-11-07 23:43] n8tb1t opened #4474 "Logout option"
Strapi doesn't have the logout option, so if JWT token is compromised there is no way to prevent the hacker from accessing the protected content. Do you have a solution for this?
I think something like this could work:
https://stackoverflow.com/a/57522538

[2019-11-07 23:56] n8tb1t commented on #930
@piere129  so what's the solution?

[2019-11-08 00:34] muhaimincs opened #4475 "Heroku deploy with Yarn failed"
**Describe the bug**
[code]

here is the related from **yarn.lock**
[code]

**Steps to reproduce the behavior**
1. Git installed and set-up locally.
2. free Heroku account
3. `heroku login`
4. `strapi new my-project`
5. `cd my-project`
6. `git init`
7. `git add .`
8. `git commit -m "Initial Commit"`
9. `heroku create`
10. `heroku addons:create heroku-postgresql:hobby-dev`
11. `git push heroku mast

[2019-11-08 00:45] KKings opened #4476 "After request limit reached on a Relation field, the dropdown shows "No Options" when options are available"
**Describe the bug**
After you have selected the fetch limit on a Relation Field (SelectMany) and saved, the Add an item dropdown shows 'No Options' available, even though options are available.

**Steps to reproduce the behavior**

1. Create two content types, Category and Product
2. Create a many to many relationship from Category to Product (categories can contain many products, and products ca

[2019-11-08 00:56] KKings opened #4477 "Global search does not filter on SQLite"
**Describe the bug**
In the Search bar on the Strapi Admin interface, search does not filter items correctly

**Steps to reproduce the behavior**
1. Create a content type, Category
2. Create a field, category_name, with a type of string
3. Create two categories based on the Category content type, one called 'Appliances' and one called 'Electric'
4. In the search bar on the top of the strapi admin

[2019-11-08 01:09] derrickmehaffy commented on #4474
@n8tb1t There is no way to invalidate a single token, Strapi does not store them yet in any capacity (Memory or database) as it stores no session information. The only way to invalidate a token would be to change your JWT key in `extensions/users-permissions/config/jwt.json`. This will however invalidate all users.

I would suggest you update your original post and turn this into a feature request

[2019-11-08 01:09] #4474 closed

[2019-11-08 01:10] derrickmehaffy commented on #4474
I'm linking this issue: https://github.com/strapi/strapi/issues/3866 as it relates to storing session information in something like Redis with a fallback to the database itself.

[2019-11-08 01:14] n8tb1t commented on #4474
we can store the jwt secret in users data, and randomly generate it on log out. and use it in instead of process.env.JWT_SECRET...

[2019-11-08 01:15] n8tb1t commented on #4474
Also we can check if the user's IP is changed, and regenerate the secret as well

[2019-11-08 01:15] derrickmehaffy commented on #4474
The correct way would be to store the tokens in Redis (or fallback to memory/database) and implement a logout function to invalidate that token. We should never expose the JWT_SECRET to the user ever. As that is used to decrypt that jwt at the server to verify the information contained in it.

[2019-11-08 01:17] n8tb1t commented on #4474
I agree, about exposing the secret to users. so it could be stored in redis or in memory. but if a system has 1000s of users this will be a lot of data to store and verify.

[2019-11-08 01:18] derrickmehaffy commented on #4474
Aye yeah, JWT really isn't even designed as session storage to begin with. http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/

But the data storage problem no matter how you look at it would be something that a system like Redis is designed to handle (especially at scale)

[2019-11-08 01:19] derrickmehaffy commented on #4474
These are the main options for Stateful JWT: https://blog.indrek.io/articles/invalidate-jwt/

[2019-11-08 01:26] n8tb1t commented on #4474
Well, currently as a fix I'll create a model for storing secrets, and then regenerate them on logout. this model will only have one accessible method to authorized users, so the secret won't be exposed. and then inhttps://github.com/strapi/strapi/blob/9ae81b9dc943c5924a9184cad5dc3d60dc1c49ad/packages/strapi-plugin-users-permissions/services/Jwt.js#L54 I will use the key from the DB instead of  pro

[2019-11-08 05:44] chrisd666 commented on #4267
Hi,
I am currently facing this issue on my Windows machine. Recently I tried creating a new project at work on a Ubuntu machine and it worked without any issues. Are there any fixes for this?

[2019-11-08 06:57] sunithakarthikeyan opened #4479 "Required Validator required for Related Fields"
**Describe the bug**
Required True/False option is missing for Releated Fields
**Steps to reproduce the behavior**
1. Create a ContentType Category
2. Create a ContentType Recipe
3. Add a String Field and Mark Required True
4. Add another Field of Type "Relation" (Recipe has one Category) (How to set required true )

**Expected behavior**
Required True/False option is missing for Related Fields

*

[2019-11-08 07:08] sunithakarthikeyan opened #4480 "How to Push Error Message to Content Manager User"
- [ ] I have created an RFC on the [Strapi RFC Repo](https://github.com/strapi/rfcs)
- [ ] I have checked for existing RFCs before creating this discussion topic

**Describe the topic**
Want to add a Validation Logic in Before Save / Before Create Values in Controller. Example is the attribute value is some data , Want to throw the Error to the Admin Panel User. Hence they can correct the same val

[2019-11-08 09:23] deebov opened #4481 "Field names doesn't change in the database"
**Describe the bug**
Strapi does not rename the field names in the database when I rename them in strapi. I mean, if you change any fields name strapi will just ignore the old field no matter it contains any value or not. the old fields will stay in the database with their values. what actually strapi is doing is creating a new field instead of replacing it in the database.

**Steps to reproduce t

[2019-11-08 09:26] fl034 commented on #4428
@soupette thanks for pointing me in the right direction, it worked great :-).

For a quick workaround I'd suggest this. Later we could inject the user's locale globally so the date will be displayed nicely.
Making it adjustable per field would also be great of course :), like you mentioned.

[code]

Should I make a PR with this small edit?

[2019-11-08 12:25] mdacosta opened #4482 "Error with groups on model with "sku" as name"
**Describe the bug**
I have a model which name is `sku`. So the collection name and associated DB table are pluralized as `skus`.
[The `pluralize.singular('skus')` function returns `skus`, and this what is used when the column referencing the primary key of the `skus` table is created in the join table between the `skus` table and the group tables.](https://github.com/strapi/strapi/blob/master/pac

[2019-11-08 15:01] sysRoot opened #4483 "Entry title doen't change 3.0.0-beta.17.5"
**Describe the bug**
Changing the entry title has no effect on my setup, in either development or production.
`id` persists as the entry title for the relations lists, but it changes for what appears at the top of an individual entry in the backend. I first thought it was an artifact from converting from alpha to beta, and as I didn't have any sort of important data, I scrubbed both the database a

[2019-11-08 16:50] botzill opened #4484 "DATABASE_AUTHENTICATION_DATABASE is not set in database.json"
**Describe the bug**
When I set env `DATABASE_AUTHENTICATION_DATABASE=my_auth_db` I see that generated `database.json` does not contain
[code]
which fails to start.

**Steps to reproduce the behavior**
Using example https://github.com/strapi/strapi-docker/blob/master/examples/mongo/docker-compose.yml

**Expected behavior**
To start OK with a mongo DB

**System**
- Node.js version: v10.16.3
- NPM v

[2019-11-08 17:22] bolbosenco commented on #4353
I have the same problem. :(

[2019-11-08 19:18] saikrishnadeep opened #4485 "Load bootstrap function before defaults are loaded?"
I was just wondering what the expected before of `functions/boostrap.js` must be? In my boostrapi, I'm loading environment variables from `.env` file since there is no default support for it. However, I noticed that the `boostrap.js` is called **after** the default configuration is set, where `this.config.evironment` is already is set. As you can see here: https://github.com/strapi/strapi/blob/9ae

[2019-11-08 19:46] #4456 closed

[2019-11-08 21:08] derrickmehaffy commented on #4481
Closing as duplicate of https://github.com/strapi/strapi/issues/1114

@deebov Strapi does not rename or drop anything it will only create at this time. Migrations need to be done manually.

[2019-11-08 21:08] #4481 closed

[2019-11-08 21:11] derrickmehaffy commented on #4484
Please create the issue on the Strapi docker repo for this but you can set the field to
`"authenticationDatabase": "${process.env.DATABASE_AUTHENTICATION_DATABASE}"`

to allow usage with environment variables (the same applies to any setting in that file or globally within Strapi.

[2019-11-08 21:11] #4484 closed

[2019-11-08 21:13] derrickmehaffy commented on #4485
@saikrishnadeep please make sure you follow the template we need the information contained at the bottom of it related to versions and OS. Issues that don't follow the template are closed until the template is added.

Thanks :smile:

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issu

[2019-11-08 21:13] #4485 closed

[2019-11-08 21:18] derrickmehaffy commented on #4480
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

[2019-11-08 21:21] derrickmehaffy commented on #4467
I have a PR in place to remove those options from the templated config (they shouldn't be strings and they are disabled by default so there is no reason to put the false option in by default)

https://github.com/strapi/strapi/pull/4444

[2019-11-08 21:24] derrickmehaffy commented on #4461
Marking this as closed as the PR was merged

[2019-11-08 21:24] #4461 closed

[2019-11-08 21:25] niklasmh opened #4486 "Insert/Paste image into WYSIWYG Editor"
- [ ] **I have created my request on the Product Board before I submitted this issue** (I am not sure if this is a bug or a feature)
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

# Problem
I really, really like the insert/paste image function in the markdown/WYSIWYG editor, but as I am serving the website using your docker image `strapi/strap

[2019-11-08 21:26] derrickmehaffy commented on #4486
@niklasmh please adjust your issue to follow the bug report template and not a feature request.

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[2019-11-08 21:26] #4486 closed

[2019-11-08 21:27] vasydragan commented on #4455
same error for me 2

[2019-11-08 21:53] TomaszJaworski opened #4487 "Filtering data manyWay cause an 500 internal error with SQLite"
Hello,
I think i found some bug in deep filtering data with relations.

I have freshly installed new version of strapi cms on my computer and i create two new Content Types in it. In that case it will be Restaurants (width field name and description) and Tags (with field name). And now in Restaurants i create relations with Tags just like on image below
![relations](https://user-images.githubuserc

[2019-11-08 23:17] #4483 closed

[2019-11-08 23:18] sysRoot commented on #4483
Made a grave error in interpretation of problem, didn't see the other entry title option. My apologies.

[2019-11-09 01:25] tcvmdev opened #4489 "MongoError: E11000 duplicate key error collection with group field"
**Describe the bug**
Currently I have an "faq" group, which contain "question" and "answer" as fields.

This "faq" group is a repeatable field for a content type, "course". When creating faqs in the content type creator, there is a mongoose error thrown:

"MongoError: E11000 duplicate key error collection: project.groups_faqs index: question_1 dup key: { : "What is a course?" }"

**Steps to reprod

[2019-11-09 01:39] tcvmdev commented on #4489
I found out the issue!

For anyone else with this error, check your database. There may be some records that aren't showing up on the Strapi UI. It might be due to changing around what your data looks like.

After clearing all the records from my database that weren't showing up on the admin dashboard, adding the fields worked.

[2019-11-09 01:39] #4489 closed

[2019-11-09 01:40] tcvmdev commented on #4489
See above comment

[2019-11-09 05:10] botzill commented on #4484
But it should generate proper `database.json` file when we do `strapi new `, no?

[2019-11-09 05:22] botzill commented on #4484
Solved it by using `- EXTRA_ARGS=--dbauth= my_auth_db`, but yes seems to be a docker issue, thx.

[2019-11-09 10:02] animatedcreativity commented on #3971
Thanks for the help!
I had beta.15 and those guided really helped me to upgrade to beta.17.5

You must do this before doing `npm run build`.

[2019-11-09 10:53] 8byr0 opened #4490 "Wrong database.js generated if first attempt failed (mongodb)"
**Describe the bug**
Using npx create-strapi-app, I generated manually a project linked to a local mongo database.
While doing so I typed to quickly and set ssl to true (instead of false, since I'm running locally).
The second attempt (with ssl: false) was successfully able to connect to the db so my project generation ended up properly.

The issue is that when I used to start the development serv

[2019-11-09 11:54] gaurav1209 commented on #3600
@alexandrebodin could you please give the config for connecting to MySQL Db too? I am trying but it do not save anything in the database instead saves it in the data.db file in tmp folder. I am using it in production mode.

[2019-11-09 12:30] alexandrebodin commented on #3600
that should be the same just use mysql as client name.

[2019-11-09 12:43] gaurav1209 commented on #3600
I tried that too, but it causes error in building the admin panel.

Here is the production database.json

[code]

[2019-11-09 15:13] rnnyrk opened #4491 "Auth providers for (React) Native applications"
Hi,

Can the current docs be extended with a solution to use the auth providers with a native app? Currently it requires a client secret, but when making auth credentials for native apps there is not client secret provided. Would be really nice, since I've enjoyed Strapi for web, but would like to use it for native platforms as well

[2019-11-09 16:18] kgrosvenor commented on #126
I would suggest Vue JS for the front end too, due to its superior DX and extend-ability, react is great but it keeps reinventing itself because it can't fit all use cases, Vuehas it all without having to wrap hundreds of providers around each other, it has a simple to use API which would make extending the Strapi admin much easier then if it was written in react.

[2019-11-09 16:20] kgrosvenor commented on #126
Totally agree about bootstrap being complicated, however I've always like the grid system and spacing classes, they are so good, however creating an abstraction through components is always a bonus !

[2019-11-09 16:38] kgrosvenor opened #4492 "Have updated to beta 3.x and markdown editor has gone missing, no options to enable it again"
Markdown editor has gone missing, checkbox to enable also does not appear, is there anything that i am missing here?

EDIT: I notice there is now a RICH text type, how can i migrate data over?

[2019-11-09 16:53] #4492 closed

[2019-11-09 16:53] kgrosvenor commented on #4492
Been of an annoying breaking change, but i think i can work around it, why couldn't we enable on a text type like before, seems like duplication to me!

[2019-11-09 17:33] pouyamiralayi opened #4493 "wrong folder structure when generating models for plugins using CLI"
**Describe the bug**

Generating models for plugins using command line interface will nest models folder into an extra models folder.

**Steps to reproduce the behaviour**
1. create a new project: ``yarn create strapi-app test-strapi``
2. choose quick start (tested with postgres as well)
3. generate a new plugin: ``npx strapi generate:plugin test-plugin``
4. generate a new model for that plugin: `

[2019-11-09 18:03] derrickmehaffy commented on #4492
richtext type is the new WYSIWYG editor, it's no longer a setting in the database but hard coded in the file.

[2019-11-09 18:07] derrickmehaffy commented on #3600
[code]

[2019-11-09 22:38] n8tb1t opened #4494 "error ReferenceError: model is not defined"
in this example:
https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#core-controllers
[code]

I get an error: error ReferenceError: model is not defined

[2019-11-09 22:44] n8tb1t commented on #4494
if I change the code to

[code]
it works

[2019-11-09 22:48] scottydev commented on #4271
Thanks to @derrickmehaffy for the answer.

**Before** running `strapi().start()` you need to build the admin interface by running  `npm run build`.

Make sure all strapi processes are killed before running either command.

[2019-11-09 23:51] n8tb1t commented on #4494
`const model = strapi.models.article`
fixes the problem

[2019-11-10 02:04] derrickmehaffy commented on #4494
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-11-10 02:04] #4494 closed

[2019-11-10 03:55] animatedcreativity commented on #4477
I upgraded from beta.15 to beta.16 & then beta.17.5. Everything is working fine except global search.
Filters are working as expected.

[2019-11-10 06:44] webcoderkz opened #4495 "Disabling tutorials in admin panel has no effect"
**Describe the bug**
Impossible to disable tutorials in admin ui. Since a ".cache" directory is in a ".gitignore" and it's being created during `npm run build` (when building an admin ui), there's no way to set `SHOW_TUTORIALS = false` on production. Also ".cache/admin/src/config.js" has a comment in the upper section:

[code]
Why do not modify these options?

**Expected behavior**
There should be

[2019-11-10 07:11] derrickmehaffy commented on #4495
Create a file at `admin/src/config.js` (not .cache, which is overwritten on each build)

Add this:
[code]

And rebuild

[2019-11-10 07:18] webcoderkz commented on #4495
Thanks, i also nuked ".cache" and "build" directories, then run "npm run develop" and it's kinda working.

[2019-11-10 07:18] #4495 closed

[2019-11-10 12:19] webcoderkz opened #4496 "error Error: Undefined binding(s) detected when compiling SELECT."
**Describe the bug**
Trying to create a model entry through admin interface, but i'm getting an error: `Undefined column(s): [categories.id] query: select categories.* from categories where categories.id = ? limit ?`. I have 3 models: news, categories, videos. Every model gives the same error on creation, except the field name: categories.id, news.id, videos.id. I don't know why id is undefined? I

[2019-11-10 14:09] z-ax opened #4497 "Maintain NPM packages & security audit"
**Describe the bug**
A lot of NPM packages are outdated, moved or not secure to use.

**Steps to reproduce the behavior**
Have a clean `npm install`.

**Output: Install**

[code]

**Output: Audit**

[code]

**System**
- Node.js version: v10.16.3
- NPM version: v6.9.0
- Strapi version: v3.0.0-beta.17.5

[2019-11-10 16:28] pouyamiralayi commented on #4491
@rnnyrk what to do you mean? every auth provider will provide you with a token that can be stored locally on the mobile side.

[2019-11-10 16:40] BjoernRave commented on #4494
Hey, I came across the same problem. I think the line mentioned by @n8tb1t should be added to the documentation so the code snippets are complete.

[2019-11-10 17:04] 8byr0 opened #4498 "Update web admin to handle nested repeatable groups"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Description**
It would be really appreciable to have ability to use nested repeatable groups!
It is actually possible but not through web admin.

Here is the definition for wrapping group:
[code]

And the nest

[2019-11-10 17:16] alexandrebodin commented on #4498
Hi @8byr0 this feature will be available in our next release ~ december.

I’m closing this issue until then :)

[2019-11-10 17:16] #4498 closed

[2019-11-10 17:20] 8byr0 commented on #4498
Great, thanks a lot ! (I'm in love with stapi 😃 )

[2019-11-10 18:18] derrickmehaffy commented on #4497
Most of these are coming from Grant/Purest which is due to be replaced in the future.

There are quite a few issues related to this
https://github.com/strapi/strapi/issues/4348
https://github.com/strapi/strapi/issues/4260
https://github.com/strapi/strapi/issues/4043

Once Strapi moves to passportjs for all the 3rd party auth Grant/purest will be removed but it is quite a large rewrite of the users

[2019-11-10 18:18] #4497 closed

[2019-11-10 20:54] nboussarsaracn commented on #4477
Same problem is happening for me too. Some Content Types are `Global Search` `OK` whereas some are `KO`.

# Competency
Here is the content type called  `Competency` where it has a relation of type `Content has many Competencies`:
<img width="1680" alt="Competency - ContentType" src="https://user-images.githubusercontent.com/55238907/68550494-81f5bd00-0403-11ea-9362-be55ac642b27.png">

Here is the

[2019-11-10 20:58] nboussarsaracn commented on #4473
Hi ! I am having the same issue. I am manually removing the fields from the table currently but a fix should come. Thanks!

[2019-11-10 23:20] alexandrebodin commented on #4497
There is an update available for purest now but it requires a refactoring as it has a lot of breaking changes. If you feel like upgrading purest go ahead ;)

[2019-11-10 23:33] derrickmehaffy commented on #4497
https://github.com/simov/purest/blob/master/CHANGELOG.md#v300-20160717

[2019-11-11 01:32] z-ax commented on #4497
Alright @derrickmehaffy, how about the critical one with `open` package, which comes from `strapi-admin>open-browser-webpack-plugin`?

[2019-11-11 02:38] derrickmehaffy commented on #4497
@z-ax https://github.com/strapi/strapi/pull/4464 was merged two days ago and will be in the next release :smiley:

[2019-11-11 03:54] scottydev commented on #2497
This is really exciting, and just in time for our implementation 👍 Following

[2019-11-11 05:03] deepakgd opened #4499 "Change properties in Strapi API documentation plugin swagger"
**Describe the bug**
Unable to change properties in Strapi API documentation plugin swagger.

I have created custom API called auth/google which verify Google tokenId and generate JWT token for Front end react.

Now i like to have custom properties in swagger API. Currently it contains { foo: "string" } in request body and all responses

**Steps to reproduce the behavior**
1. created users-permiss

[2019-11-11 05:14] felixhamel commented on #3677
Will be fixed with : https://github.com/strapi/strapi/pull/4500

[2019-11-11 05:24] botzill opened #4501 "Display components fields in the List view"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
Not sure where to post this, so decided here. I was wandering if it's useful to have groups fields displayed in List View? For my use-case Is really useful to know the g

[2019-11-11 05:33] Selva1994cse commented on #2020
![Uploading buildings-with-trees.jpg…
![279f1e3c0f4f42ca9c8137add5ff4a80](https://user-images.githubusercontent.com/56438430/68563226-d8e6ab00-0472-11ea-8933-c970a19c6ae1.jpg)
]()

[2019-11-11 05:37] felixhamel commented on #4266
Fixed in https://github.com/strapi/strapi/pull/4500

[2019-11-11 05:58] yaoyonstudio commented on #4437
got the same issue

[2019-11-11 06:07] sefasaid commented on #4437
yes i did save. But issue is still there.

[2019-11-11 07:43] gengengengengen opened #4502 "Cannot trigger custom middleware when edit contents in Strapi UI"
**Describe the bug**
Cannot trigger custom middleware when edit contents in Strapi UI.

**Steps to reproduce the behavior**
1. Create Strapi App of version 3.0 beta.
2. Create path `.middlewares/middlewares_name/` and add the `index.js` to the folder.
3. Write code in `index.js` followed the initiate function of guide. Add some loggers for test.
4. Create `middleware.json` in 'config/environments/

[2019-11-11 08:37] rnnyrk commented on #4491
If you create an - for example Google - account in the dev console and you chose the iOS or Android option you won't get a client secret. But the client secret is required in the Strapi dashboard

[2019-11-11 09:32] devyourcar opened #4503 "Policies not working for graphql queries"
**Describe the bug**
Local strapi policies (e.g. api/config/policies/isOwner.js) do not work for graphql queries. The same policies work for mutations and rest endpoints however.

**Steps to reproduce the behavior**
1. Create a new api controller, with a custom function. (e.g. sample(){})
2. Create a custom local policy under config/isOwner.js
3. Create a config/schem.graphql.js file, create a new

[2019-11-11 10:00] abdonrd opened #4504 "Documentation about Extending a Model Controller has a not defined variable: model"
**Describe the bug**

The documentation about [Extending a Model Controller](https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#core-controllers) has a not defined variable: `model`.

Example with `findOne`:

[code]

What should be the `model`? `strapi.models.restaurant`?

**System**
- Node.js version: `v10`
- NPM version: `v6`
- Strapi version: `v3.0.0-beta.17.5`
- Database: M

[2019-11-11 10:15] Mario-Boss commented on #4417
hello
anyone can help ?

[2019-11-11 10:42] davidemorra opened #4505 "Create filter on nested models & relations"
hi all,
from documentation I cannot understand if is possible create a filter like this:

- model A: have a relation with model B (many-to-one)
- model B: have a relation with model C (one-to-many)

from list A is possible apply a filter for C? thanks

[2019-11-11 12:25] n8tb1t commented on #4504
`const model = strapi.models.restaurant`

[2019-11-11 12:41] pouyamiralayi commented on #4491
@rnnyrk you must enable ``Authorized redirect URIs``. the instruction is [here](https://github.com/strapi/strapi-examples/blob/master/login-react/doc/google_setup.md).
google console has changed and you find the referenced section under credentials, OAuth client ID.
cheers!

[2019-11-11 12:56] z-ax commented on #4497
That's something. Cool, thanks for replies, situation looks clear now.

[2019-11-11 13:08] rnnyrk commented on #4491
@pouyamiralayi  Like I said I would like to use it with a native app. When selecting iOS in the Google dev console there is no client secret
<img width="641" alt="Screenshot 2019-11-11 at 14 06 00" src="https://user-images.githubusercontent.com/4519142/68589616-aba6f680-048c-11ea-8789-14e380e6aa7b.png">

[2019-11-11 16:08] pouyamiralayi commented on #4491
@rnnyrk i see. it would require it's own provider on the strapi side that implements [this](https://developers.google.com/identity/sign-in/ios/backend-auth).

[2019-11-11 16:18] donwilly2010 opened #4507 ""Has One" Relation is not Woking on Strapi Beta"
Hi,

"Has One" Relation is not working in all the Strapi versions I have tried including the current beta version. It automatically converts "Has One" into "One to One"

This is a major bug. Strapi Beta version is already system built and cannot be modified to fix this issue as stated below. The fix below can only applied to Alpha versions:

https://github.com/strapi/strapi/commit/eff46b5cb1e46e48

[2019-11-11 17:02] abdonrd commented on #4387
I think I found the bug here:

https://github.com/strapi/strapi/blob/447594684d1ebcc283f19cc22f242e3684b2e583/packages/strapi-plugin-graphql/services/Aggregator.js#L361-L366

When the `modelName` is `user`, the query should be:

[code]

[2019-11-11 19:12] derrickmehaffy commented on #4507
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-11-11 19:12] #4507 closed

[2019-11-11 19:17] derrickmehaffy commented on #4505
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2019-11-11 19:17] #4505 closed

[2019-11-12 00:26] n8tb1t opened #4509 "How to get user context inside afterFetch callback or filter GraphQL output?"
Hi I need to filter graphQL results on server side and replace some object values with default parameters based on current user and some DB settings.

The problem is that is that if I try to filter the result array in a controller, the relational fields queried by GRAPHQL using some inner queries.

I can do what I need in afterFetch callback, but I NEED an access to user context, is there a way to

[2019-11-12 05:55] naveenlogiticks commented on #4459
@lauriejim Hi any update on this

[2019-11-12 06:23] webcoderkz commented on #1788
@rijn thanks for finding this out, lol. it's very nasty to find this in a production environment, though my dev database doesn't have `"provider": "local"` and uploads work, it's weird.

@lauriejim can you comment on this?

Strapi 3.0.0 - beta 17.4
Node 10, npm 6, local machine Cataina 10.15.1, production Ubuntu 18.04 LTS

[2019-11-12 06:43] derrickmehaffy commented on #1788
@webcoderkz this is a really old issue? Might be better to open up a new one if you are hitting an issue. This one is from alpha, and a lot of stuff has changed.

[2019-11-12 06:44] webcoderkz commented on #1788
@derrickmehaffy yes, it's an alpha bug that present on current beta, lol

[2019-11-12 06:56] webcoderkz opened #4510 "The provider package isn't installed. Please run `npm install strapi-upload-undefined`"
**Describe the bug**
After running a created project in production env we had this error
Error: The provider package isn't installed. Please run `npm install strapi-upload-undefined`
I'm using a local provider.

**Steps to reproduce the behavior**
Deploy your app from local machine to a production using this guide: https://strapi.io/documentation/3.0.0-beta.x/guides/deployment.html#configuration

[2019-11-12 09:07] sunithakarthikeyan commented on #4480
Yes added the same in Stack 4 days before still no answers. Kindly quide us to throw custom Error message on ContentManager (Save Data)
https://stackoverflow.com/questions/58776278/

[2019-11-12 10:05] victorlambert opened #4511 "UsersPermissions initialize bootstrap function is slow"
Hi there,

After upgrading to v3.0.0-beta.17.5 strapi is taking  ~20 sec to start with `strapi dev`.
Seems to be the UsersPermissions `initialize` bootstrap function causing this issue (~19sec).

**Steps to reproduce the behavior**
1. Create an app with 20 api/content types and 8 roles
2. Start the app with `strapi dev`

**Expected behavior**
It was taking less than 7 sec in v3.0.0-beta.11 with th

[2019-11-12 11:42] Nauman440 commented on #745
@eibrahim I was also having confusion while connecting S3 bucket with my strapi project because it's not properly explained in documentation.
First of all you have to create an S3 account and then install the external provider for S3.
You can follow this articles, it explains each and every step clearly.

https://www.mstweaks.com/how-to-connect-the-aws-s3-bucket-with-strapi-for-storing-data/

[2019-11-12 13:56] Tansito opened #4512 "Problem creating strapi application"
**Describe the bug**
Creating a project with `npx create-strapi-app` and `yarn create strapi-app` generates the next error while installing dependencies:
[code]

**Steps to reproduce the behavior**
1. Execute `npx create-strapi-app my-project`
2. Setup Custom with all the values by default and mongo as db

**Expected behavior**
Create the project correctly.

**System**
- Node.js version: v12.12.0

[2019-11-12 14:18] izzuddinnatsir commented on #4512
That error told you that autoreconf executable is not install in your system, install autoreconf first then try again

[2019-11-12 14:35] abdonrd commented on #4512
I can reproduce the issue!

[2019-11-12 14:40] Tansito commented on #4512
Installing the next packages do the trick:
[code]
The problem that I see is that without that libraries two days ago I could create projects without problems but now the process breaks following the steps that the documentation has. My assumption is that one of the dependencies of the project changed probably (and I don't know if this should be documented too).

[2019-11-12 14:52] pbjer opened #4513 "Admin path does not work for non-root proxy host"
**Describe the bug**
Admin dashboard non-functional when host proxy name includes subdirectory.

**Steps to reproduce the behavior**
1. Setup server config for production environment using proxy
2. Specify `proxy.host = 'www.website.com/example-path'`
3. Leave `admin.path = '/admin'`
4. Build admin dashboard with production settings
5. Start application

**Expected behavior**
Admin dashboard shoul

[2019-11-12 15:57] derrickmehaffy commented on #4512
Marking as closed as not a strapi issue but user environment.

Do feel free to continue the discussion.

[2019-11-12 15:57] #4512 closed

[2019-11-12 15:58] abdonrd commented on #4512
It's a little strange, because a couple of days ago this didn't happen to me.

[2019-11-12 16:06] lauriejim commented on #4463
Hello! I just tried and I had no issue.
Here is the [video record](https://www.loom.com/share/e275e057b3fe48bb900b21d974bc986c) but maybe I miss something 🤔

[2019-11-12 16:12] lauriejim commented on #4370
Arg it looks coming from Windows...

[2019-11-12 16:34] lauriejim commented on #4469
Haha, it's a horrible issue! "Sometimes" is the worst word for us.
Can you share with me your models, it will help me to "try" to reproduce.

[2019-11-12 16:39] lauriejim commented on #4468
Hello! Thank for this message @Binnenhorster .

I suggest you check the **Migration Guide** section.
If there is a migration guide available for you version update, you have to follow the guide insteead of this update guide.

[2019-11-12 16:39] #4468 closed

[2019-11-12 16:50] lauriejim commented on #4470
Hello! Thank you for reporting this issue.
I suggest you investigate in the GraphQL plugin to see what part of code break this issue.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2019-11-12 16:56] lauriejim commented on #4289
This issue comes from a plural issue. There is another issue open about it.
Try to fix it by using @alexandrebodin fix.

[2019-11-12 17:03] ph98 opened #4514 "cant connect to mlab"
![image](https://user-images.githubusercontent.com/6303786/68692503-dc6d5580-058a-11ea-8477-1cfa49c7f88d.png)

hey , i'm trying to connect a project to mlab but the error is this image.
[code]
am i missing something?

i checked the blog post but not working .
[https://strapi.io/blog/using-mlab-with-strapi](https://strapi.io/blog/using-mlab-with-strapi
)

and here is my package.json in case that ma

[2019-11-12 17:27] nboussarsaracn commented on #4477
@KKings could you please add the label 'type: help wanted' https://github.com/strapi/strapi/labels/type%3A%20help%20wanted%20%F0%9F%A4%B7%E2%80%8D%E2%99%82%EF%B8%8F

Thanks!

[2019-11-12 17:28] nboussarsaracn commented on #4473
@deebov could you please add the label 'type: help wanted' https://github.com/strapi/strapi/labels/type%3A%20help%20wanted%20%F0%9F%A4%B7%E2%80%8D%E2%99%82%EF%B8%8F

Thanks!

[2019-11-12 17:58] victorlambert commented on #4511
Here are some updates, it was so annoying that I had to dig into it 😅.
This is line is causing the issue.
https://github.com/strapi/strapi/blob/447594684d1ebcc283f19cc22f242e3684b2e583/packages/strapi-plugin-users-permissions/services/UsersPermissions.js#L392

Since we are using the query builder to retrieve roles, it autopopulates permissions and users by default, and I have 1800+ permissions and

[2019-11-12 19:07] derrickmehaffy commented on #4514
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-11-12 19:07] #4514 closed

[2019-11-12 22:08] n8tb1t commented on #4511
So this change won't affect the strapi work? can you please provide the extended roles model with the changes.

[2019-11-13 03:26] monico-moreno commented on #4473
This might be related to this 👉 https://github.com/strapi/strapi/issues/1114#issuecomment-386552097

[2019-11-13 09:32] MurzNN opened #4517 "Сontent id is not really unique, that bad for security"
Current id of created content at first time looks like unique id's, but really they are not unique! When users create content they only iterates buy +1, for example: `5dc16735bd5a00594ab3cbbf`, `5dc16740bd5a00594ab3cbc0`, `5dc16765bd5a00594ab3cbc1` like regular integer auto-increment field.

If we use unique ID's, they must be really unique and randomly generated, instead of iterated numbers, goin

[2019-11-13 09:54] victorlambert commented on #4511
Populated users and permissions do not seems to be used in this case. It may affect other strapi services dependent of this default behaviour but I haven't found any.

Everything is working fine since I extended the role model like this in `extensions/users-permissions/models/Role.settings.json` :
[code]

[2019-11-13 10:05] derrickmehaffy commented on #4517
Please update the issue following the template, also do feel free to submit a PR.

Hello, please follow the feature request template.

A proper issue submission let's us better understand the purpose behind your feature request to better understand if it could be implemented.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. P

[2019-11-13 10:05] #4517 closed

[2019-11-13 11:09] RicardsRikmanis commented on #1443
Is there any WIP available? Would be useful since we are thinking of fixing the missing relations on beforeSave actions while waiting for full rework.

[2019-11-13 12:26] martinstanojevic commented on #4455
Any news on this? I have the same problem.

[2019-11-13 13:07] n8tb1t commented on #4511
@victorlambert it should be extended after the project is ready and all the permissions already stored in the DB? What the `autoPopulate` means exactly, so now the permissions won't be cached in memory and strapi will check the db each time ?

[2019-11-13 13:08] MarcWadai commented on #4264
I was not able to solve the issue even with the latest beta version. So I gave up the python script and switch to a nodeJS script

[2019-11-13 15:02] victorlambert commented on #4511
@n8tb1t doing this, you are just overriding the role mongoose model of the users-permissions plugin.
More info here [https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html#plugin-extensions](url).

This is nothing about caching, `autoPopulate` is an undocumented feature that let you decide default mongoose population when using strapi queries ([https://strapi.io/documentation/3.0

[2019-11-13 15:19] #4387 closed

[2019-11-13 16:06] lauriejim commented on #702
Hum the easiest way could be to create a content type named JWT.
In this content type you add a will be able to add your JWTs you want to invalidate.

Then you will have to customize the code that check the JWT.
You will have to use this concept https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html

Here is the file you will have to update https://github.com/strapi/strapi/blob/m

[2019-11-13 16:10] omerfaran opened #4520 "POST requests to strapi returns 404"
**Describe the bug**
My strapi system resides in port 443. When I'm sending a GET request to http://mysite:443 it's working but a POST request reutrns 404.

**Steps to reproduce the behavior**
1. Go to https://reqbin.com/
2. Send an empty POST request

**Expected behavior**
Should not return a 404
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If ap

[2019-11-13 16:36] joelbqz opened #4521 "Infinite loading after admin registration on /admin"
When creating a new project using `yarn create strapi-app my-project` and selecting MySQL(It works well with SQLite) then after yarn develop, I open the /admin route, register a new admin and it keeps infinite loading without showing any log or error.

**Steps to reproduce the behavior**

1. `yarn create strapi-app my-project`
2. select MySQL
3. wait until installation finish, then open http://loc

[2019-11-13 17:06] TaylourPinard commented on #4370
I am also having this issue on Windows

[2019-11-13 17:09] lauriejim commented on #4475
Can you try with node 12 please?

[2019-11-13 17:13] lauriejim commented on #4476
Hello! Here is the same issue.
https://github.com/strapi/strapi/issues/4407
Thank you for reporting.

[2019-11-13 17:13] #4476 closed

[2019-11-13 17:14] lauriejim commented on #4479
Hello! Here is the same issue.
https://github.com/strapi/strapi/issues/557

[2019-11-13 17:14] #4479 closed

[2019-11-13 17:33] geosigno commented on #4327
+1
How to manage that http://localhost:ocalhost:1337/callback?code=xxxx send the token back to the client side?

[2019-11-13 18:13] gregorskii commented on #4311
I am getting this issue still. I switched to the standard Mongo URI scheme a couple weeks ago. On the clock about every week my GAE node crashes and my front end gets a 503 timeout due to Apollo client not canceling the request. The CMS times out on the GQL endpoint as it times out connecting to Mongo with the error:

[code]

[2019-11-13 18:24] gregorskii commented on #4311
Looks like mongodb fixed this in https://github.com/mongodb/node-mongodb-native/releases/tag/v3.3.4

Going to add a bug to Mongoose to update.

[2019-11-13 19:24] derrickmehaffy commented on #4520
@omerfaran we need more information. We need your actual strapi version, your database type and version, how are you running your server, permissions configured, model settings.

Right now I can't reproduce your bug without more information. Please update the original post with all the needed information then respond here and I can reopen your issue.

[2019-11-13 19:24] #4520 closed

[2019-11-13 20:44] MartinMuzatko commented on #2126
@lauriejim  My assumption was that when I install the plugin, that I have it available in the list of providers.
This is not the case with  strapi-email-nodemailer. @audiomancer

[2019-11-14 02:25] lucas-jg opened #4522 "Searchability for non-permission data"
**Describe the bug**
Content types without permission can be inquired.
Is this normal behavior?

**Steps to reproduce the behavior**
1. One-to-one relationship which is set to two types of content. [type name : public, private]
2. The 'public' content type has the 'find' privilege and the 'private' content type does not have the 'find' privilege.
3.
`
query {
  privates {
    title
  }
}
`
This qu

[2019-11-14 03:52] thanhzusu opened #4523 "Permission - How can we configure to secure data better with API Key and API Secret?"
**Describe the topic**
I'm currently using Strapi as my API server to manage my data. I also have three other parts which access to this server to get data such as a website, android app and ios app. There are some public data and some private data in my API server. For the private data, I can secure it by user-permission plugin. But I am wondering about my public data. I don't want who is outside

[2019-11-14 04:29] derrickmehaffy commented on #4523
@thanhzusu you can modify the endpoints to be looking for specific keys passed in the request. Although this isn't exactly "secure" as anyone who can reverse engineer the app can extract those keys.

If the data is public I'm not sure what it matters on how it's accessed.

The above being said questions about usage of Strapi should be done on slack or asked in Stack overflow, due to that I'm going

[2019-11-14 04:29] #4523 closed

[2019-11-14 04:30] derrickmehaffy commented on #4523
https://portal.productboard.com/strapi/1-public-roadmap/c/40-api-access-token-with-permissions

[2019-11-14 06:56] JelmerV-WFC commented on #4369
Hi @sgtpsibin!

I created a custom CKEditor build to make it work for strapi.

`yarn add ckeditor-build-with-simple-upload-provider-strapi`
or
`npm install ckeditor-build-with-simple-upload-provider-strapi`

Only thing you need to do is change the `./extensions/content-manager/admin/src/components/CKEditor/index.js` file:

[code]

If your upload route needs authentication then use the following `.

[2019-11-14 07:20] Nauman440 commented on #952
I faced the same issue in start then I switched to strapi beta version and everything works fine for me.
You can check this article for further reference
https://www.mstweaks.com/how-to-install-and-create-a-project-in-strapi/
Thanks

[2019-11-14 07:25] Nauman440 commented on #2213
I created a project with beta version and everything is working fine you can follow this article to create content types in your project.

https://www.mstweaks.com/how-to-create-content-types-and-fetch-data-through-api-in-strapi/

[2019-11-14 07:36] alexandercsmith commented on #744
* Just another bump for this feature 👍🏼

Just stumbled upon Strapi, I think it is amazing from what I have seen so far and what I have been looking for recently, but I would love a Import/Export feature to easily create a new and more organized schema with my previous data on Strapi, love the work and keep it coming!

[2019-11-14 10:56] ivp199 opened #4524 "Get nested content"
How do I get the nested data for all the nested content type when accessing the parent API.

E.g.: Let's say I have parent content type called 'Wrapper'. It has one to many relation with 'Child1'. 'Child1' has relation with 'GrandChild1'.
If I hit the api to get the content for Wrapper, I can see wrapper's content and child1's content. But do not see grand child's content.

How can I get this issu

[2019-11-14 11:34] sarneeh commented on #2586
@gustavpursche Worth to mention, that the documentation actually suggests Netlify as a deploy platform 😄

![image](https://user-images.githubusercontent.com/11553624/68853809-19486200-06db-11ea-97ee-1a7448451773.png)

[2019-11-14 11:39] vlad320 opened #4525 "wrong order of saved files"
Hello 👋

**Describe the bug**
When adding multiple files at once, their order does not match what was before saving.
The more files, the more likely that the order will be violated. When saving six files, the problem is observed 9 out of 10 times.

**Steps to reproduce the behavior**
1) create a file type field with a multiple mark
2) add multiple files to it
3) save item

**Before save**
1)
![ima

[2019-11-14 12:52] MartinPL commented on #4477
Looks like search don't work with the simplest configuration:
https://i.imgur.com/KinRbV2.png

[2019-11-14 13:20] admin-graycompany opened #4526 "Plugin - Auto generate class diagram with Mermaid.js"
First of all, thanks for the great work, Strapi is amazing!!

I have created this code snippet to auto generate a class diagram of my project using [Mermaid.js](https://mermaidjs.github.io/#/classDiagram). As I am not really a javascript developer, I would like to ask you guys to turn it into a plugin, so we can all see our projects with a nice diagram.

Here is the code, just need to run it on th

[2019-11-14 13:29] sarneeh opened #4527 "Accessing config in services"
**Describe the bug**
`strapi.config` lacks defined config in services declaration.

Let's say I have `config/environments/custom.json`:
[code]

Then I'd like to use it in `api/{name}/services/{service}.js`:
[code]

But `strapi.config` doesn't have the properties from config, which I think most developers would expect.

Am I doing something wrong, or is it some kind of a bug?

**System**
- Node.js

[2019-11-14 13:59] omerfaran commented on #4520
Hello Derrick I appologize for the trouble and it seems like the issue is regarding to something else, so thanks for replying and closing it

[2019-11-14 14:58] lauriejim commented on #4485
Hello @saikrishnadeep !
Well the bootstrap function is called after the configuration load and after the database connection.
This let you play with your data, before your server start.

Here is an issue that talks about `.env` https://github.com/strapi/strapi/issues/3558
Hope it will help you.

Thank you for your feedback about adding configs in the start function of Strapi.
It has been sent to t

[2019-11-14 14:58] motorvor opened #4528 "GraphQL policies don't seem to be executing"
**Describe the bug**
Global policies do not seem to be executing when included in the schema.graphql file for a specific model

**Steps to reproduce the behavior**
1. Create a default installation of Strapi. Also install the GraphQL plugin.
2. Through the admin app, add a few entries for `Model` with a `name` property
2. Create a file under `/config/policies` called `testpolicy.js`
3. Inside that

[2019-11-14 15:13] lauriejim commented on #4467
Hello! Can you send the error message, please.

[2019-11-14 15:20] loongmxbt commented on #3996
Same issue. `date_lt` returns all results. `date_gt` returns empty list []
https://api.ergystar.com/reports?date_gt=2019-09-19%2000:00:00
returns []
https://touzi-api.ergystar.com/reports?date_lt=2019-09-19%2000:00:00
returns all reports

[2019-11-14 15:22] lauriejim commented on #4486
Hello @niklasmh !
Here is a really similar issue there https://github.com/strapi/strapi/issues/978

[2019-11-14 15:24] sbeyeler commented on #4467
The error message is
[code]

As I said in an earlier message I am fairly certain this is caused by the fact that when you set
[code]

Knex interprets either state as a string which is truthy, and enables ssl because of it. I think a potential fix would be parsing the values that are needed to be a boolean with something like

[code]

[2019-11-14 15:30] jwynveen commented on #2972
This would be incredibly useful. Any chance this will happen? I see that the pull request previously made was not accepted because of architecture changes.

[2019-11-14 15:32] chernandezweb commented on #4369
Hi  @sgtpsibin,

I just tested  the solution @JelmerV-WFC  mentionned.

It works perfectly.

[2019-11-14 15:40] lauriejim commented on #4487
Hello @TomaszJaworski !
Thank you for reporting this issue!
Your query looks OK the issue probably comes from Strapi.

[2019-11-14 15:44] joelbqz commented on #4521
PD:  I tested again using MongoDB and the same issue is happening.

[2019-11-14 16:07] lauriejim commented on #4490
Hello! Thank you for reporting this issue.
I will try to fix it right now. I think it's an easy fix.

[2019-11-14 16:46] #4490 closed

[2019-11-14 16:48] lauriejim commented on #4493
Hello @pouyamiralayi !
Here is the same issue.
https://github.com/strapi/strapi/issues/3889

[2019-11-14 16:48] #4493 closed

[2019-11-14 16:53] #4511 closed

[2019-11-14 17:04] lauriejim commented on #4271
Okay an explanation of what happen with strapi.
- When you create an application using the `quickstart`  flag - it creates an application with `SQLite` as database. When the app is created, we automatically run `yarn develop`. This command checks if there is a built admin - if not - it runs `yarn build` - then it starts the server.
- When you chose to use a custom database, it will just create the

[2019-11-14 17:12] abdonrd commented on #4512
@Tansito you had previously been able to create applications? Or was it the first time?

[2019-11-14 17:38] lauriejim commented on #4496
Can you make sure your auto-increment ids are well setup after your data migration?

[2019-11-14 17:40] lauriejim commented on #4494
Thank you! I will udpate the documentation.

[2019-11-14 17:40] webcoderkz commented on #4496
Yeah, @lauriejim that's was the issue, i already fixed it, forgot to close this.

[2019-11-14 17:40] #4496 closed

[2019-11-14 17:58] Parka commented on #4384
For a quick fix you can delete the relevant row in upload_file_morph.
Example for SQLite, with same content type name and field name as in the example:
`DELETE FROM upload_file_morph WHERE related_type="posts" AND field="images"`

[2019-11-14 18:44] albertorcf commented on #4404
Why do you use a polymorphic relationship instead of a normal one?

[2019-11-14 20:00] joelbqz commented on #4521
Update: just tested changing my node version, downgraded from v11 to v10.x.x and it is working now.

[2019-11-14 20:15] Tansito commented on #4512
Yeah, I have created various applications before, even recently. That's why I opened the issue because it was a weird behaviour that I didn't expect after creating a good couple of apps.

[2019-11-14 20:35] derrickmehaffy commented on #4524
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2019-11-14 20:35] #4524 closed

[2019-11-14 20:39] derrickmehaffy commented on #4525
Strapi has no way to manage the order of files. Right now they just return in the order the database responds with.

There is already quite a few issues related to specific ordering that will be addressed in the future based on this blog post:
![image](https://user-images.githubusercontent.com/8593673/68894270-303f8200-06e4-11ea-88b9-62015838863d.png)

https://strapi.io/blog/monthly-update-septemb

[2019-11-14 20:43] derrickmehaffy commented on #4526
@admin-graycompany you are welcome to build a plugin for this. But not sure what you want by posting it here.

I'm going to go ahead and close this as it doesn't really relate to the strapi code base itself.

[2019-11-14 20:43] #4526 closed

[2019-11-14 20:48] derrickmehaffy commented on #2972
@jwynveen if someone wanted to pick up the old PR and refresh it for the new architecture they would be welcome to. For the moment it's not high on the Strapi team's priority list.

[2019-11-14 20:50] derrickmehaffy commented on #4521
Only Node LTS versions are supported. ("Even" Numbered releases)

So Node 12, Node 10 only. Marking as closed as was user environment issue.

[2019-11-14 20:50] #4521 closed

[2019-11-15 02:17] leedaga opened #4531 "when go to admin page ,see "Error: read ECONNRESET ""
**1** I installed nodejs  v12.13.0
**2** I use command "npx create-strapi-app lxyapi --quickstart" to create the banckend
**3** Just two warns appeared
"[2019-11-15T02:08:18.035Z] warn The bootstrap function is taking unusually long
to execute (3500 miliseconds).
[2019-11-15T02:08:18.037Z] warn Make sure you call it?"
Create your first administrator � by going to the administration panel at:
┌────

[2019-11-15 03:27] derrickmehaffy commented on #4531
@leedaga need to know what database type you are using. That ECONNRESET is a database error meaning that strapi couldn't contact the database

[2019-11-15 03:33] leedaga commented on #4531
@derrickmehaffy tks, i use the defaulte database sqlite,

[2019-11-15 03:34] lucas-jg commented on #4522
The striapi version of my release server was 3.0.0-beta.12, but the new version has a new relationship.
I think I can avoid the problem by using the 'has many' relationship.

[2019-11-15 03:39] derrickmehaffy commented on #4531
That shouldn't even be possible, SQLite is just a file storage, so unless something is going on with permissions.