[2020-07-30 16:58] #7267 closed

[2020-07-30 18:16] coderdix commented on #6909
Sorry guys I got sick :-(
reading through now - thanks for all your help

[2020-07-30 19:27] luvpack commented on #7252
Yes, I have a similar problem for /users/me

`{
    "statusCode": 401,
    "error": "Unauthorized",
    "message": "Schema hasn't been registered for model \"user\".\nUse mongoose.model(name, schema)"
}`

[2020-07-30 19:41] MakingStuffs commented on #7160
@soupette I can confirm that the issue is still present in the most up to date version of Strapi.

I can add that it seems to happen with any media browser when adding content. So, if I go to set the thumbnail on, for example, an article, and I want to get an image which exists in my database but is on the last page of the pagination it will fail.

[2020-07-30 19:49] MakingStuffs commented on #7242
This is very weird as it happens on the last page for me: https://github.com/strapi/strapi/issues/7160

[2020-07-30 20:12] ivanjeremic commented on #4045
I have the same issue when using the `strapi generate:api <name> --plugin <name>` I actually generate models for my plugin, and this collection-types are not listed in Roles & Permissions, any info on how to resolve this issue?

[2020-07-30 20:23] coderdix commented on #6909
@akhilmhdh so i read through everything I still feel like I'm totally lost and getting the same error. is the email suppose to send automatically without making an explicit request on the front end? Here's my submit code now

` onSubmit={async (values) => {
              try {
                await axios.post(`${strapi}/auth/local/register`, {
                  username: values.username,

[2020-07-30 20:30] akhilmhdh commented on #6909
@coderdix ok so if you have enabled confirmation required in settings. The confirmation mail is send automatically to the email. The confirmation mail will have a code and link to strapi to confirm it and you need to set a redirect url after confirmation in settings. Thus after confirmation user is sent to a confirmed screen. You dont need to sent email to it.

[2020-07-30 20:41] coderdix commented on #6909
@akhilmhdh that's what i thought but i'm still getting 400 error even with just the simple post req.
REGISTRATION ERROR:  TypeError [ERR_INVALID_URL]: Invalid URL: /auth/email-confirmation

[2020-07-30 20:48] akhilmhdh commented on #6909
@coderdix beacause you dont need to apply a post request over there.

[2020-07-30 20:48] nicksp commented on #7251
I use the following route config that works as expected (just tested with new Strapi `v3.1.2`):

[code]

The problem you experience is most likely to do with not set permissions for the `user=spermissions` plugin which you seem to extend. Remember to update allowed actions for the Authenticated user.

ANyways, the question doesn't relate to Strapi itself and should be asked on Stackoverflow as it'

[2020-07-30 20:49] coderdix commented on #6909
I now only have the single one to register not the email confirm.

[2020-07-30 20:50] akhilmhdh commented on #6909
So now did you check the db has the email or not already registered while testing in prev states

[2020-07-30 20:55] akhilmhdh commented on #6909
@coderdix now then try to redo it by setting the confirmation url off state. If its working fine now. Meaning user gets authenticated and res is 200 with db creation it means ur sendgrid which u said is your configured one is not properly setuped.

[2020-07-30 20:56] coderdix commented on #6909
K had to run out but will do when get back. All the other emails in the system are working fine though with sendgrid

[2020-07-30 20:58] akhilmhdh commented on #6909
ohhhh...well then that's weird i would say. Anyways check it out also update to latest version if possible.

[2020-07-30 21:12] bfops commented on #3552
I believe I'm hitting a similar issue; certain collections in our DB have become pathalogically slow to query via strapi, even for tiny collections and small simple queries.

I'm on the beta 3.0.0-18.7, but it looks like there's no mention of more recent versions having fixed this issue?

[2020-07-30 21:21] Acika00mk opened #7271 "Configure the view - not saved on git"
**Describe the bug**
When we change the view of the components, the changes are not saved on git.

**Steps to reproduce the behavior**

1. Go to any collection type'
2. Click on any field
3. Change description and/or placeholder
4. Click Save
5. Check GIT status
6. No items changed

**Expected behavior**
To save the fields placeholder and description

**Screenshots**
<img width="920" alt="Screen S

[2020-07-30 21:25] derrickmehaffy commented on #7271
Hello,

This is intended as you can change the view while in production (which isn't possible with things like the content-type-builder). There is a built in command to dump your content-manager views into a file and restore them.

Please see the following documentation for that: [dump](https://strapi.io/documentation/v3.x/cli/CLI.html#strapi-configuration-dump-config-dump) and [restore](https://s

[2020-07-30 21:25] #7271 closed

[2020-07-30 21:26] derrickmehaffy commented on #7271
Related to this, there is an entry in the FAQ that talks more about this: https://strapi.io/documentation/v3.x/getting-started/troubleshooting.html#can-i-store-my-content-manager-layout-configurations-in-the-model-settings

[2020-07-30 21:33] Acika00mk commented on #7271
Thanks for the info,
now it is easier with dump and restore.
[code]

[2020-07-30 21:54] maazkabir commented on #5267
@lauriejim  @alexandrebodin
Hey there second time contributor here( one of my PR's is in review stage)
Can I start looking into this?
Is this a feature that's on the table? Is this still needed?
Can I add a PR for this issue/enhancement?
If not, can you nudge me in the right direction I would love to contribute!

[2020-07-31 00:36] lschjeide opened #7272 "Forgot password email settings stuck on defaults"
Hello, thank you so much for all the great work happening at Strapi!

I found an issue in 3.1.0 that is also occurring on 3.1.2.  To reproduce:

1. I added Sendgrid plugin following the instructions here: https://strapi.io/documentation/v3.x/plugins/email.html#configure-the-plugin
2. I attempted to add a custom email template and "from" "replyTo" using the instructions here: https://strapi.io/docu

[2020-07-31 00:43] jandrescossio commented on #6908
I have the same problem with Graphql, and if you use REST api returns empty restult after applying more than 32 filter values

[2020-07-31 01:15] lschjeide commented on #7272
OMG... this is in the UI.  I'm closing but I think the docs should be updated since it still says to create an email template file that is actually never used.

[2020-07-31 01:15] #7272 closed

[2020-07-31 03:48] xiaoer3301 opened #7273 "3.0.6 upgrade to 3.1.2, run error: ER_TOO_LONG_KEY: Specified key was too long; max key length is 767 bytes"
**Describe the bug**
Running `NODE_ENV = production npm run start` reported the following error.

**Steps to reproduce the behavior**

1. Modify package.json strapi related version to 3.1.2
2. server.js
[code]
3. npm i
4. NODE_ENV=production npm run build -- --clean
5. NODE_ENV=production npm run start

**Code snippets**
[code]

**System**

-Node.js version: v12.18.3
-NPM version:6.14.6
-Strapi ve

[2020-07-31 04:31] derrickmehaffy commented on #7273
one of your models must have a very long name 🤔 are you using a lot of components?

[2020-07-31 04:37] izznatsir commented on #7229
Maybe add some hover tips to clear the confusions. I like @IPWright83 suggestion about making it clear that Users under Users & Permission plugin can only access through the API not admin panel. Mentioning some other aliases in the hover tip may also helps.

[2020-07-31 05:08] xiaoer3301 commented on #7273
Please look at this error.
[code]

[2020-07-31 06:02] alexdevmotion commented on #6570
@petersg83 The `Auth` controller inside `strapi-plugin-users-permissions` uses `strapi.config.server.url` to generate the `redirect_uri`:
[code]
That is why the `url` needs to be configured inside the `config/server.js` file.
I do confirm that after the latest updates to the plugin and after adding this to the server config file, the auth providers seem to work fine.

[2020-07-31 07:45] #7252 closed

[2020-07-31 07:55] #7229 closed

[2020-07-31 08:57] alexandrebodin commented on #5267
Hey, yeah you will need to upgrade the strapi-generate-new package to allow different database names based on the client type. get a look in this package and let us know if you feel like working on it :)

[2020-07-31 09:44] igghera opened #7277 "[RBAC] After migrating to 3.1.1, users with "Editor" role can't manage any content type"
**Describe the bug**
I have upgraded from 3.0 following the migration guide, and I'm able to use the new [RBAC](https://strapi.io/blog/announcing-3.1-role-based-access-control) which is the most-awaited feature (by the way, thanks for this, great work!).

The problem I'm facing is: if I create a new user and assign the "Editor" role to it, once I log into the administration interface with that use

[2020-07-31 09:55] igghera commented on #7277
Ok, I found it!

It was at the end of one of the short videos in the blog post and I had missed it.

Apologies for the useless issue, I'll just close it now.

![Screenshot 2020-07-31 at 11 52 19](https://user-images.githubusercontent.com/578103/89023771-667d6a00-d324-11ea-8d96-266ed5b91fa7.png)

[2020-07-31 09:55] #7277 closed

[2020-07-31 10:59] M4r-t1n4 opened #7279 "CORS issue - Strapi 3.0.4"
**Describe the bug**
Hello,
i have this problem with CORS.
In my REACT project I have a GET request with axios but this request generates this error:

_Access to XMLHttpRequest at 'http://localhost:1337/contents?kind=Resource' from origin 'http://localhost:8089' has been blocked by CORS policy: Request header field access-control-allow-origin is not allowed by Access-Control-Allow-Headers in prefl

[2020-07-31 12:00] lauriejim commented on #7007
The `.html` is missing in your url @fellz .
Where did you find this link ?
Here the correct one - https://strapi.io/documentation/v3.x/installation/digitalocean-one-click.html

[2020-07-31 12:00] #7007 closed

[2020-07-31 12:05] lauriejim commented on #2312
Here is the item in the roadmap - https://portal.productboard.com/strapi/1-public-roadmap/c/61-authentication-providers-sso

[2020-07-31 12:09] lauriejim commented on #7098
Hello! It's not planned to support this.
In fact, we should avoid the possibility to have other that Latin characters as Content-Type name (for now)
@petersg83 @alexandrebodin probably something easy to fix.

[2020-07-31 12:11] R0LA1mRifcF8yAkk commented on #622
Hello @rroblik @lauriejim and @crotel. Sorry to necro this, but can I please ask of you all to edit my old username out of your comments?

[2020-07-31 12:34] lauriejim commented on #7257
Hello! Thank you for reporting this issue.
@soupette probably something hardcoded somewhere 🤔

[2020-07-31 12:40] lauriejim commented on #7261
Hello! Thank you for this proposition.
I think if @alexandrebodin or @petersg83 valid that, you will be able to create a PR to update that according to every place this function is used.

[2020-07-31 12:47] lauriejim commented on #7262
Today notifications that are displayed in the admin are triggered because of a success request (for success messages) and in this case, the code is managed in the front-end of the plugins/admin.
The second case is because the response of the request is an error. and in this case, the notification content is managed by the response of the failed request.
In both cases, this is managed by the respon

[2020-07-31 12:47] #7262 closed

[2020-07-31 12:54] lauriejim commented on #7265
Hello! Thank you for reporting that.
Feel free to submit a PR to fix that. This should not be really complicated and a really good first issue to fix :)

[2020-07-31 12:56] #7035 closed

[2020-07-31 13:09] petersg83 commented on #7261
You're right, that would be nice, thank you :)

[2020-07-31 13:12] lauriejim commented on #7264
@soupette I can confirm this issue.
But it's only with npm, this will work if you use yarn.
Why... I don't know :/

[2020-07-31 13:33] lauriejim commented on #7251
Hello! I just tested and it works fine on my side.

Try to return some data in your function.

`PUT /users-permissions/wtf`

[2020-07-31 13:33] #7251 closed

[2020-07-31 14:46] nhatbao123 commented on #5974
So, how did we install the content management plugin version, please!

[2020-07-31 15:22] aksdevac commented on #7279
`Access-Control-Allow-Origin` header is set on server you don't need to pass it from client, default cors config should work for most cases, you don't need to specify it in middleware json, for me its working out of the box with this config:
[code]
Your issues seems to be on client side just remove `Access-Control-Allow-Origin` header from client code.

[2020-07-31 15:27] petersg83 commented on #7257
Hi :)
What was your version before?
I can make a fix for that. Out of curiosity, why do you use an absolute path?

[2020-07-31 15:44] ByungJun25 commented on #7262
Hello @lauriejim,

Thank you for answer about my issue. 👍

Ah, Okay, I understand now, the admin panel creates the notification message by response of request. :)

is there any API that I can create custom response of each request?

Because if I just throw the Error from model's lifecycle, although it shows error message well, a content-manager module always writes error log...

You can see the co

[2020-07-31 17:03] janlelis commented on #7257
Hi @petersg83 - I upgraded from beta19.5 to the latest stable (3.1.2)

I am putting all uploaded assets into a folder which the web server has access to (and which is part of the Front-end application) so that the web server can serve them directly to the users.

[2020-07-31 18:21] coderdix commented on #6909
@akhilmhdh so i updated to the latest version 3.1.3 & registration worked with a 200 code without the email confirmation. However with it, right back to the same error.

[2020-07-31 20:16] luiselarad opened #7283 "Required fields allow null values"
**Describe the bug**

Collection fields are set as required, but still allow null values ​​from http call through Postman application.

**Steps to reproduce the behavior**

1. Go to admin page
2. Create a collection type with required fields
3. Make a POST HTTP call from Postman with the fields defined but empty.
4. See error

**Expected behavior**

Show a validation error for the required field.

[2020-07-31 20:39] derrickmehaffy commented on #7283
Can you please update this with the bug report template? https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

[2020-07-31 23:02] alvics opened #7285 "error Error: listen EACCES: permission denied 0.0.0.0:1337"
Started getting this error? Strapi won't run anymore? Everything was working fine the day before, nothing's changed on my end?
Tried running it in a different terminal as admin, still without success.
Not sure why it's not playing all of a sudden, has been a smooth run until now?
Using:
Windows 10
Starpi 3.0.6
sqlite3
localhost
------------
Error log
[code]

[2020-07-31 23:29] pablocossioabastoflor commented on #6908
Same issue here using Graphql and mongoDB.

[2020-08-01 00:41] RyanPrentiss commented on #7035
Was this issue resolved?

With or without middleware.js, I found through testing I can upload up to approximately 900MB, but nothing more, whether it be locally (Windows 10) or the Heroku deployment.

    //version 3.1.1
    module.exports = {
      settings: {
          parser: {
            enabled: true,
            multipart: true,
            formidable: {
              maxFileSize: 5 * 1024

[2020-08-01 04:04] tiavina-mika opened #7286 "Cannot create a new app"
I have this error when creating new app with mongodb

`Connection test failed: Cannot find module 'C:\Users\ASUS\AppData\Local\Temp\strapi8b97a083d50c\node_modules\strapi-connector-mongoose\lib\utils\connectivity.js'`

npm@6.14.7
strapi@3.1.0-beta.0
create-strapi-app@3.1.0-beta.0
node@12.14.0

[2020-08-01 05:13] hamidjackal opened #7287 "I get a 500 error response but strapi makes an entry in the database"
**Describe the bug**
I get a 500 error response but strapi makes an entry in the database

**Steps to reproduce the behavior**

1. Create two collection types
2. Create a relation between them
3. Now make an entry with postman or some application like that with wrong **ID** in the relation field
4. The strapi send a 500 error but it creates an entry in the database

**Expected behavior**
The strap

[2020-08-01 09:21] anumber8 commented on #5559
@ghost i'm also on the same struggle been a week. Do you managed to succeed ?

[2020-08-01 09:46] aksdevac commented on #7285
its EACCES error may be another process is using that port, or run as admin issues.

[2020-08-01 09:54] lauriejim commented on #5974
I don't understand your question, this plugin is installed by default.

[2020-08-01 09:55] #7279 closed

[2020-08-01 09:58] lauriejim commented on #7262
There is no API to manage that.
But if you don't want that, it's really easy to customize your plugin to change the way that's managed.
Here is the documentation to follow - https://strapi.io/documentation/v3.x/concepts/customization.html

[2020-08-01 10:02] nhatbao123 commented on #5974
Now I have a way to solve this problem.Thank

[2020-08-01 10:13] lauriejim commented on #7283
@alexandrebodin what do you think about that behavior?
Thank you @luiselarad for reporting this.

[2020-08-01 10:21] lauriejim commented on #7286
Hello! What is the command you ran?

[2020-08-01 10:23] lauriejim commented on #7287
Hello!
Can you please provide the relation type, the content type names, the request you did.
With the current information, we are not able to reproduce your issue. or to see what's wrong.
Thank you.

[2020-08-01 10:23] lauriejim commented on #7285
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-01 10:23] #7285 closed

[2020-08-01 11:51] hamidjackal commented on #7287
Here is the link of a project I created to show you the bug. [https://github.com/hamidjackal/strapi-test.git]( https://github.com/hamidjackal/strapi-test.git)
Just clone this repo then after strating it in the development mode send this request in postman:
URL : http://localhost:3333/test-twos
with this body content:
[code]
If your "_id" field is some nonsense value, you will receive the following

[2020-08-01 15:40] petersg83 commented on #7257
Ok, thanks :)

[2020-08-02 03:08] guanghw opened #7290 "strapi-admin final client bundle size is 6.2MB ,event compile with production mode!"
strapi-admin  final client bundle size is 6.2MB ,event compile with production mode!Am I the only one who thinks the final compiled file is too big?

[2020-08-02 08:57] saisk73 opened #7292 "return 404 status code for findOne and params"
Endpoint of collection of findOne returns 500 error instead of 404.
If searched by params in end point
**for example:**
end point:/collection?title=data_not_on_list
it returns [] with status code 200
Instead of returning [] send 404 status code

[2020-08-02 11:14] simpleauthority opened #7293 "Date type shows as day prior"
**Describe the bug**
When you create a `date` type (not `datetime`, not `time`) and then apply a value, the displayed date is the day prior to the selected date.

I.e. if you choose October 1st, 2020, then the displayed date will be September 30th, 2020. It will still be saved as October 1st, 2020 in the data source.

**Steps to reproduce the behavior**

1. Go to 'Content-Types Builder'
2. Click `

[2020-08-02 11:24] simpleauthority commented on #7293
Cross-linking to slack thread https://strapi.slack.com/archives/C0BNGCDNH/p1596361843460300

[2020-08-02 13:27] ceefour commented on #1601
I think what @demobo-com is asking is how to create a Node **script** outside of a Strapi **web server**.

For example, to run maintenance operations.

This would be similar to `yarn run strapi console`, but without the console.

[2020-08-02 14:24] GabeL7r commented on #6570
Should there be a user created in strapi after successful authentication?

I am using the GitHub provider and I am able to go through the authentication flow by setting `url` in `config/server.js`. I verify at the end of the flow I get a redirect with the GitHub access token, however, there is no new user in Strapi. Are we supposed to implement the logic to create a user?

[2020-08-02 15:16] felipepatricio commented on #3377
This work to me. Thanks @juniorsdj

[2020-08-02 15:40] derrickmehaffy commented on #7292
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-08-02 15:40] #7292 closed

[2020-08-02 20:14] GabeL7r commented on #4954
I noticed when I set `The redirect URL to your front-end app` to `/auth/github/callback` the user gets created, however, they don't get redirected to my front end application. If I redirect to the frontend application the user doesn't get created.

[2020-08-02 20:53] bbrez1 opened #7295 "GraphQL createUser queries not working on 3.1.3"
**Describe the bug**

I have a fresh install of Strapi.

I'm just trying to create a new user using GraphQL Playground. Using simple queries from the tutorial.

**Code snippets**
`mutation {
  createUser(input: { data: { username: "John", email: "john@doe.com" } }) {
    user {
      username
      email
    }
  }
}`

Cannot return null for non-nullable field UsersPermissionsUser.username.

I'm ge

[2020-08-02 21:17] bbrez1 commented on #7295
I changed the required attribute on the username field to false and now I get the same error for email.

Cannot return null for non-nullable field UsersPermissionsUser.email.

[2020-08-02 21:51] reslear commented on #7098
thx for answer
unstable, but worked on previous versions (last beta), maybe need to make another text field label without pluralization and regexp check, for good visualization in the sidebar post types multi-language.
<img width="428" alt="Снимок экрана 2020-08-03 в 00 29 44" src="https://user-images.githubusercontent.com/12596485/89133295-61d2d480-d523-11ea-86cd-5d9e4203d017.png">

[2020-08-02 22:05] derrickmehaffy commented on #7295
`Strapi version: Latest` Please actually clarify what "latest" means from your package.json

[2020-08-02 22:22] bbrez1 commented on #7295
3.1.3

[2020-08-02 22:25] bbrez1 commented on #7295
I have just tried with a new install (quick start option) and I still get the same issue with graphql.

[2020-08-03 05:43] xiaoer3301 commented on #7273
After I upgraded the mysql version, this problem was solved. The available versions are: 10.4.13-MariaDB, libmysql-mysqlnd 7.4.8.
The upgrade process was painful and almost lost the database.

[2020-08-03 05:44] alpha771 commented on #7290
I think it is because the font awesome, i look the font awesome take almost the half of the size of bundle size

[2020-08-03 06:55] soupette commented on #7160
Thanks @MakingStuffs I'll take a look at it

[2020-08-03 07:30] Antoine-lb opened #7296 "Can't fix CORS blocking"
**Describe the bug**
Don't think is a bug but I just can't fix the CORS issue.

**Steps to reproduce the behavior**

1. Add:
[code]
in `config/security.json`
2. Re-lunch server (on localhost:1337)
3. Lunch frontend (Gatsby on localhost:8000)
4. Try a POST request
5. Get Blocked by CORS (Chromium and Firefox)

**Code snippets**
Front-end fetch:
[code]

**System**

- Strapi version: 3.0.5

**Additio

[2020-08-03 07:59] #7042 closed

[2020-08-03 08:01] tacomanator commented on #7042
Tried different versions of node and reinstalling this and that with no luck, but ultimately the problem was solved by a complete erase and OS reinstall.

[2020-08-03 08:14] AlexNasonov commented on #2491
The same thing happens with required boolean field

[2020-08-03 08:29] alexandrebodin commented on #7283
Hi,

An empty field shouldn't be interpreted as an undefined/null value. if you send `""` the validator considers the value is here. It is not the same thing as not sending the key or null. a user could want to send an empty string or a 0 value.

You can use the `minLength` validation to avoid empty strings.

I think we can close this issue as this is the intended behaviour.

[2020-08-03 08:51] tiavina-mika commented on #7286
npx create-strapi-app my-project then select mongo

[2020-08-03 09:30] lauriejim commented on #7287
Hello! I just tried, clone, and execute your request with your body content (just not the same ID value)
And everything is working fine ...

[2020-08-03 09:38] lauriejim commented on #7293
Hello can you please check the date format that is sent in your request. To make sure there is no timezone conflict between your file system (computer), your browser and your database timezone configuration.

[2020-08-03 09:46] lauriejim commented on #6570
Please check this file in the PR - https://github.com/strapi/strapi/pull/7132/files#diff-8434e8f791257802c2af54d99bc2f32d
This is the new detail about the auth process. You are in the middle of the process, you should request the Strapi backend with this token.
Please check the docs for more information.

[2020-08-03 09:56] lauriejim commented on #7295
Hello! when you create a user, you should have a `password` key.
I tried adding this `password` key and it works fine.

[2020-08-03 09:56] #7295 closed

[2020-08-03 10:06] saksham-kapoor commented on #3212
@clorichel Hi, where exactly do i have to add this piece of code? I'm fairly new to this, please help me out.

[2020-08-03 10:07] lauriejim commented on #7290
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-08-03 10:07] #7290 closed

[2020-08-03 10:17] #7283 closed

[2020-08-03 10:19] lauriejim commented on #7286
So why `3.1.0-beta.0`? I don't understand.
Do you have `strapi` install globally on your computer?

[2020-08-03 10:24] lauriejim commented on #7296
Hello! I'm not sure the way you managed the cors config is the right.
According to this docs - https://strapi.io/documentation/v3.x/concepts/middlewares.html#configuration-and-activation
Please can you check that format and tell me is the issue persists.

[2020-08-03 10:49] Antoine-lb commented on #7296
`./config/security.js`
[code]

`./config/middleware.js`
[code]

Same result, can you spot something weird so I can dig into it? It should be in the `middleware` or the `security` config?

[2020-08-03 12:02] #7257 closed

[2020-08-03 12:47] derrickmehaffy commented on #7296
The `./config/security.js` isn't used, those settings should be in that `middleware.js` file

[2020-08-03 12:48] derrickmehaffy commented on #7042
Quite the task, so something was borked in your user environment. 🤔

Glad you got it fixed.

[2020-08-03 12:54] francescofact commented on #5203
I tired to use it for a raw query.
These are my tables:
[code]

I tried:
`strapi.connections.default.raw("SELECT * FROM Messaggi").then(r => { console.log(r) }, error => {console.log(error)});`
to test this feature. Every time it gives me this error: " **error: relation "messaggi" does not exist** ".
If i try with something related to strapi's "backend" it works (ex table strapi_permission).
What'

[2020-08-03 13:11] tiavina-mika commented on #7286
It's globally installed by `npm install -g strapi@beta`, I've already tried with `npm install -g strapi` and even uninstall it but I've always got the same error.

[2020-08-03 13:29] petersg83 commented on #4954
Please, check out this PR where the doc is clearer about the login flow : https://github.com/strapi/strapi/pull/7132

[2020-08-03 13:41] derrickmehaffy commented on #6421
@gtamas No news yes, I will be putting in a PR to change the documentation to reflect the proper default (node memory) but in talking with @lauriejim and @alexandrebodin that middleware is older code that hasn't been updated and won't function correctly currently.

I'll leave this open to allow us to review it, but in the short term I will fix the docs.

[2020-08-03 13:49] derrickmehaffy commented on #5468
@dilukangelosl `heap limit Allocation failed - JavaScript heap out of memory` how much ram does this EC2 instance have, it looks like it's hitting an error when trying to rebuild the admin panel. Strapi currently needs ~2GB of memory to build

[2020-08-03 13:53] derrickmehaffy commented on #6182
@matrixersp in this case @hkovacs is correct, please open up a new issue, if it relates to an already closed one just reference it in the new issue.

[2020-08-03 13:55] coderdix commented on #6115
Having the same issue

[2020-08-03 14:39] ByungJun25 opened #7301 "A 'configure the view' button doesn't work correctly in Content-Types Builder."
**Describe the bug**
A 'configure the view' button doesn't work correclty in Content-Types Builder.

**Steps to reproduce the behavior**

1. Go to 'Content-Types Builder'.
2. Select any Collection types and click Configure the view. (First trying works well)
3. Click back button.
4. Select other collection types and click Configure the view.
5. See error.

**Expected behavior**
The function should

[2020-08-03 14:42] ByungJun25 commented on #7262
Thank you @lauriejim

I will try to customize it. :D

[2020-08-03 14:44] remi2j commented on #4082
If you're dealing with temporary files, you can store them in a `.tmp` folder at the root of your project. It won't cause restarts

[2020-08-03 14:48] Antoine-lb commented on #7296
Never mind, got environments messed up, thanks for the help

[2020-08-03 14:57] petersg83 commented on #7147
Hello, thanks for the issue!

Can you please tells us your strapi version?

[2020-08-03 15:12] petersg83 commented on #7091
Can you please fill the issue template so we can better understand and reproduce the issue.

[2020-08-03 16:12] #7061 closed

[2020-08-03 17:51] vladcazacu opened #7304 "error MissingSchemaError: Schema hasn't been registered for model"
**Describe the bug**
I'm getting this error: `error MissingSchemaError: Schema hasn't been registered for model "product".` when accessing the Products collection admin listing page. Somehow it seems related to the collection names, more details below.

**Steps to reproduce the behavior**

1. Go to the Content-Types Builder
2. Create a "Product" collection type
3. Create a new product
4. Create a

[2020-08-03 18:29] vejandla opened #7308 "Correlation ID concept."
- [x] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
how can I access ctx globally?

**Why?** I would like to assign a unique request id to every incoming request and wanted to use that request id whenever I log a request,

[2020-08-03 19:10] derrickmehaffy commented on #7301
Hello,

Thank you for the bug report, I was able to reproduce this on the latest version (v3.1.3) as you specified. For this issue I will ping @soupette and @HichamELBSI . If you would like to help by submitting a pull request you can. If you aren't sure where to start, no problem we will take a look into this ASAP.

[2020-08-03 19:44] derrickmehaffy commented on #7308
Hello, I'm going to mark this as closed as you already have an open discussion: https://github.com/strapi/strapi/discussions/7307

Lets keep the discussion there. Thank you!

[2020-08-03 19:44] #7308 closed

[2020-08-03 19:55] derrickmehaffy commented on #7296
No problem, glad you figured it out :)

[2020-08-03 19:57] derrickmehaffy commented on #4082
@lauriejim @alexandrebodin based on https://github.com/strapi/rfcs/pull/5#issuecomment-541531742 did we ever get this documented? If so I'm not finding it and if it's not I'll reopen this so we can document it.

[2020-08-03 20:51] amaneshi opened #7310 "URL parameter for Server not working (for Nginx proxy)"
**Describe the bug**
If you set "URL" parameter in [server configuration file](https://strapi.io/documentation/v3.x/concepts/configurations.html#server) admin home page become broken.

**Steps to reproduce the behavior**

1. Add "url" parameter to server configuration file (absolute path fragment, like "/api")
2. Rebuild admin panel with "strapi build" command
3. Open admin panel home page (like "

[2020-08-03 21:49] derrickmehaffy commented on #7310
@amaneshi the url key in the `server.js` doesn't change the prefix path on the backend, only within the admin. So when it's set since react is CSR it tries to connect to the backend via the url provided (which would be proxied by Nginx). With that key set, you won't be able to access the backend on localhost anymore and will need to use a proxy.

Can you provide your Nginx config, or does your con

[2020-08-03 21:50] derrickmehaffy commented on #7310
Something to note from the example I posted above:
`rewrite ^/api/(.*)$ /$1 break;` <--- This line cuts out the `/api` prefix before proxying the request to the Strapi backend.

[2020-08-03 21:53] derrickmehaffy commented on #7133
Hi @ms-eztut can you change the policy code to:
`module.exports = async(ctx, next) => return ctx.unauthorized();`
And see if that properly throws the error?

[2020-08-03 21:58] derrickmehaffy commented on #6998
@Aurelsicoko thoughts? Do you think we should try and contact the maintainer of https://github.com/yutikom/strapi-provider-email-nodemailer & https://www.npmjs.com/package/strapi-provider-email-nodemailer and see if they would be interested in merging with the core mono-repo?

(I do support us naively offering an SMTP package)

[2020-08-03 21:59] Ashot-KR commented on #6643
issue fixed (tested on strapi-admin@3.1.3)
![image](https://user-images.githubusercontent.com/899218/89231216-8bf0c900-d5ed-11ea-915b-ab5b92b878ae.png)

[2020-08-03 22:15] amaneshi commented on #7310
Thank you for quick response!
Yes, now my NGINX configuration set as in docs article that you provided. And I aware of Nginx rewrite instructions (tried it already).
But take a closer look at my problem/bug - I need use URL parameter to serve frontend on root location (I mean "domain/") and pass all requests that have prefix "/api" to proxy for strapi.
If I use url - I dont need rewrite at all (I

[2020-08-03 22:45] sergiooak commented on #3377
Vercel and Netlify are static hosting, not node hosting.
On the [official docs](https://strapi.io/documentation/3.0.0-beta.x/getting-started/deployment.html) have all major node hosting companies

[2020-08-04 01:34] azhariemuhammad commented on #4314
thank you @jacobopolavieja

[2020-08-04 03:25] simpleauthority commented on #7293
@lauriejim How should I check that? This happens in the admin dashboard.

I will try and look at the outgoing network requests in the developer console.

[2020-08-04 06:48] simpleauthority commented on #7293
Sorry, I see what you meant. I just edited the job again, and set the date to **October 1 2017** and end date **February 2 2019**

According to dev tools, this is the (relevant part of) the request payload:
[code]

(I removed the id and other bits)...

And the response (again other bits removed)
[code]

Interestingly, the request includes time info but the response does not...

[2020-08-04 08:04] cawoodm commented on #5011
The migration guide does not mention "GIN" indexes but says to `DROP INDEX SEARCH_UPLOAD_FILE ON upload_file;`
We have already done this and are still getting the error:

[code]

[2020-08-04 08:47] vladcazacu commented on #7304
Found the issue in `node_modules/strapi-connector-mongoose/lib/mount-models.js` on line 122, caused by `key.replace('_v', '')`. Removing the `replace` call fixes my issue, but I'm assuming it's there for a reason? Looks like this would break any relation with a "_v" in the name tho, would be good to get some advice on how to permanently fix this.

![image](https://user-images.githubusercontent.com

[2020-08-04 09:13] soupette commented on #6643
@Ashot-KR I am closing the issue then

[2020-08-04 09:13] #6643 closed

[2020-08-04 09:16] Antoine-lb commented on #7296
Hello again,
So it is working on local (it wasn't before). But when I deploy it to Heroku the CORS issue appears again.

Production built on my local computer works. Actually I can't even break it, cors enabled or disabled everything still works.

Even tried creating a differente env folder but nothing happens.

I'm not able to reproduce the error on my computer, only happens on Heroku.

Can it be

[2020-08-04 09:16] petersg83 commented on #6872
Hi, thanks for your issue!
I can confirm it wasn't working with 3.0.5 and that it works now with the latest version :)
I close the issue since the bug has been fixed

[2020-08-04 09:16] #6872 closed

[2020-08-04 09:22] soupette commented on #7160
@MakingStuffs can you show me the error you are receiving in the console and or server?

[2020-08-04 09:26] petersg83 commented on #6089
Fixed by https://github.com/strapi/strapi/pull/6546

[2020-08-04 09:26] #6089 closed

[2020-08-04 09:40] petersg83 commented on #3194
Fixed by #6965

[2020-08-04 09:40] #3194 closed

[2020-08-04 09:42] petersg83 commented on #3360
Hi,
This part of the app has been recently updated (not released yet). Can you please check the new documentation in this PR: #7132 ?
It may help you :)

[2020-08-04 09:44] ByungJun25 commented on #7301
Hello, @derrickmehaffy

Well, I find a reason now, but @soupette solves it before 24 minutes. ;D

Thanks strapi Teams! :D

Bynungjun Woo

[2020-08-04 09:49] petersg83 commented on #2030
Is this issue still ongoing?

[2020-08-04 09:51] petersg83 commented on #978
I think this bug has been fixed since then. I can't reproduce the issue.
@soupette Can you confirm and close the issue please?

[2020-08-04 10:00] petersg83 commented on #4670
Closing the issue for inactivity. Don't hesitate to reopen it if needed!

[2020-08-04 10:00] #4670 closed

[2020-08-04 10:05] petersg83 commented on #4813
Hi,
The admin panel search is not using full text search anymore, it uses the LIKE syntax :)
I close the issue as it seems fixed. If you still experience some problems, don't hesitate to reopen it or open a new issue

[2020-08-04 10:05] #4813 closed

[2020-08-04 10:14] soupette commented on #978
@petersg83 the issue has not been fixed (yet)

[2020-08-04 10:25] JuliaSterkeberg opened #7314 "Quote and heading styles in markdown editor are not saved in specific case"
**Describe the bug**
We use the markdown editor in strapi but have some trouble with saving the styles headings and quote. If a user adds the style heading or quote to his selected text, but does nothing apart from that, the style is not saved. In the PUT request you can see the style is also not in it.
This seems to apply to styles that only put a symbol in front of the text (e.g. ## Heading 2 or

[2020-08-04 10:45] MakingStuffs commented on #7160
@soupette Sure, the only error which is displayed on the UI is as above and the errors on the console are 500 errors, as follows:

[code]

[2020-08-04 11:01] roschaefer commented on #6998
Update: Together with @veitbjarsch and @saunved we updated `strapi-provider-email-nodemailer` here:
https://github.com/yutikom/strapi-provider-email-nodemailer/pull/14 and it has been released: https://github.com/yutikom/strapi-provider-email-nodemailer/releases/tag/v3.0.0

[2020-08-04 12:04] soupette commented on #7160
and what about your backend? Do you have any error in the terminal?

[2020-08-04 14:51] derrickmehaffy commented on #7296
@Antoine-lb is your code somewhere public such as a Github or Gitlab repo that I can take a look?

[2020-08-04 14:54] Antoine-lb commented on #7296
@derrickmehaffy [here](https://github.com/Antoine-lb/bc-backend/)

[2020-08-04 14:58] derrickmehaffy commented on #2030
I don't believe it's an issue anymore as we now pass along the tarn.js option parameters through to knex (connection pooling options). Going to mark this as closed, please let us know if we missed something and we can reopen.

[2020-08-04 14:58] #2030 closed

[2020-08-04 15:07] derrickmehaffy commented on #7296
Based on your config structure you shouldn't be getting an issue with CORS in production (do note though that your `./config/environments/*` folder will be ignored as that structure no longer applies, I assume this is just left over from before you migrated, there is a new system for the stable release).

The default CORS middleware settings should not throw any issues in any environment as it pre

[2020-08-04 15:18] derrickmehaffy commented on #7310
@amaneshi can you clarify where your frontend is?

In the best case scenario within the same server/Nginx instance:
- Nginx will proxy all requests to say `example.com/api` to Strapi (via that proxy block)
- Angular (depending if it's SSR or CSR) would either be served as static assets (not from within Strapi but directly from nginx) or you would have another proxy block to connect to a live runni

[2020-08-04 15:18] #7310 closed

[2020-08-04 15:30] lauriejim commented on #7296
Now it's `config/env` and not `config/environments` this could help I think.

[2020-08-04 16:10] derrickmehaffy commented on #6467
https://github.com/strapi/strapi/blob/master/docs/v3.x/deployment/nginx-proxy.md#L1

[2020-08-04 16:10] MakingStuffs commented on #7160
Sorry mate I should have added that, heroku logs have the following:
[code]

[2020-08-04 16:56] Philine commented on #5608
I ran into a similar issue.
From what I've experienced, the query params work if the filtered field is another collection with a relation to the 1st one, but not if it's a field with multiple entries defined on the 1st queried content type. I hope it helps to solve the issue or as a workaround for others in the meantime

[2020-08-04 17:26] cube-dan commented on #7121
Thanks Alex, and thanks for looking at this one. I'm working around the issue right now but It would be nice to be able to fiddle with populate before the findOne has been run.

**NOTE:** For anyone else hitting a wall with populate in beforeFindOne() I'm cheating by appending the data I need populated to {result} in [afterFindOne(result, params, populate)](https://strapi.io/documentation/v3.x/con

[2020-08-04 17:51] matheusramos commented on #2189
and yet, the bookshelf example updated url: https://github.com/strapi/strapi/blob/master/packages/strapi-connector-bookshelf/lib/build-database-schema.js

[2020-08-04 18:09] lauriejim commented on #5203
Hello! Can you please open a new GitHub discussion to talk about your use case.
https://github.com/strapi/strapi/discussions/new
Thank you for your time.

[2020-08-04 18:11] lauriejim commented on #7286
Can you please delete Strapi on your global stuff.
Then clean your npm cache.
And then re-run this command `npx create-strapi-app my-project`

[2020-08-04 18:11] #7286 closed

[2020-08-04 18:22] lauriejim commented on #6115
Hello! Please check this discussion - https://github.com/strapi/strapi/discussions/7231 - this can help you to customize the `/users/me` endpoint.

[2020-08-04 18:26] lauriejim commented on #7147
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-04 18:26] #7147 closed

[2020-08-04 18:27] lauriejim commented on #7091
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-04 18:27] #7091 closed

[2020-08-04 18:36] #7133 closed

[2020-08-04 18:40] michaelstokes commented on #5070
Hello,

I'm currently experiencing a similar issue and it seems following adding uid type columns to my tables. The reason for the addition was that I can generate a uid value such that I can reference a `person` via uid as opposed to id.

Regardless I'm experiencing the issue when deploying to heroku and the application works as expected in development.

Please see the following error message:

[

[2020-08-04 18:46] lauriejim commented on #5011
Hello, please can you please create a new issue and fill out the issue template to let us know everything about your application.

[2020-08-04 18:51] stentas opened #7319 "SQLITE_ERROR: duplicate column name"
**Describe the bug**
This is the first time I'm testing Strapi and the first time I try out SQLite (I've always used MySQL).

So I had created some fields and saved it. Then I regretted using CamelBack and I went ahead and modified the name to camel_back.

Upon saving Strapi throws the error "SQLITE_ERROR: duplicate column name: type" after modifying field name.
Now it seems I have to deelte the D

[2020-08-04 18:57] lauriejim commented on #7304
Helloè! I tried to reproduce your steps and it works on my side.
Can you please provide the "Product" and "Product Variant" models (need to know the attributes)

[2020-08-04 19:16] diwakersurya opened #7322 "Typo on custom admin guide in documentation"
**Describe the bug**
There is a typo on custom admin page in guides section where it show wold! instead of world!

**Steps to reproduce the behavior**

1. Go to https://strapi.io/documentation/3.0.0-beta.x/getting-started/introduction.html
2. Click on "custom admin" submenu under "guides" menu item
3. Click on section "Update the admin home page"
4 Search for "Wold!"

**Expected behavior**
A clear

[2020-08-04 19:22] jmaferreira commented on #2312
Is anyone working on this issue?

[2020-08-04 19:45] harshilparmar commented on #7261
@lauriejim @petersg83 Can I try this?

[2020-08-04 19:52] bryandandan opened #7325 "No permissions to see this field"
I'm getting a "No permissions to see this field" when trying to add content to a field I just created. How can I fix it?

[2020-08-04 20:06] derrickmehaffy commented on #7322
Hello as of right now we are not updating the beta documentation as the beta versions are no longer supported.

I will mark this issue as closed, but thank you for creating one.

[2020-08-04 20:06] #7322 closed

[2020-08-04 20:06] derrickmehaffy commented on #7325
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-08-04 20:06] #7325 closed

[2020-08-04 20:07] derrickmehaffy commented on #7319
Hello!

Please see the following issue, this one is a duplicate: https://github.com/strapi/strapi/issues/1114

For now I will mark this as closed, but if you want to quickly fix it, you will need to update the database manually for the moment.

[2020-08-04 20:07] #7319 closed

[2020-08-04 20:14] derrickmehaffy commented on #5070
@michaelstokes can you please open up a new issue or discussion so we can have a clean place to try and debug the issue.

Thank you

[2020-08-04 20:15] nnennajohn opened #7326 "Can't access bookshelf in bootstrap.js"
**Describe the bug**
A clear and concise description of what the bug is.

Can't access bookshelf in bootstrap.js as described in docs (https://strapi.io/documentation/v3.x/concepts/configurations.html#database-orm-customization)

Also unrelated, please tell how to get rid of APOLLO_KEY error, as I've added that key in my .env file, yet the error persists.

**Steps to reproduce the behavior**

Add

[2020-08-04 20:23] derrickmehaffy commented on #2312
@jmaferreira per the roadmap this isn't planned until likely sometime in 2021. When work starts on it you will see an update here, for the time being there is no current plans on it's development just that "we want to do it"

[2020-08-04 20:25] derrickmehaffy commented on #7326
Just to clarify, you are referring to this guide correct? https://strapi.io/documentation/v3.x/concepts/configurations.html#database-orm-customization

[2020-08-04 20:29] stentas commented on #7319
@derrickmehaffy The other one has been "This conversation has been locked as too heated and limited to collaborators." and no one has done enything about it since 2018...

[2020-08-04 20:35] derrickmehaffy commented on #7319
It is something that we are aware of and have discussed in that issue, but currently it's something we plan to review with the database changes scheduled for v4: https://portal.productboard.com/strapi/1-public-roadmap/c/73-database-layer-v4

[2020-08-04 20:54] nnennajohn commented on #7326
@derrickmehaffy correct. Updated. Thanks.

[2020-08-04 20:56] Antoine-lb commented on #7296
I tried everything, but nothing worked. Migrated from 3.0.5 to 3.1.3 and it worked.

[2020-08-04 20:56] #7296 closed

[2020-08-04 21:16] alexey-yunoshev commented on #556
This is the line that causes the error for me:
https://github.com/strapi/strapi/blob/ab77f264ae08c4862205113eafcac452f766d4b6/packages/strapi-connector-bookshelf/lib/relations.js#L398
@alexandrebodin Could you please explain why `deleteRelations` is important? I removed it and eveything seemed to work fine. If my company decides to use Strapi, I migth try and help fix it.

[2020-08-04 21:23] alexandrebodin commented on #7261
@harshilparmar go ahead :)

[2020-08-04 21:41] alexandrebodin commented on #5608
Hi @Philine thanks for the details, would you mind sharing example model settings json files so we can reproduce more easily ?

[2020-08-04 22:02] #6570 closed

[2020-08-04 22:45] derrickmehaffy commented on #7326
Can you please try adding the `const bookshelf = require('bookshelf') to the top of that file? then proceed as normal with any other custom configurations.

[2020-08-04 22:46] derrickmehaffy commented on #556
@yulafezmesi can you please open up a new bug report and follow the template, this bug report is quite old and the information from previous responses no longer applies.

[2020-08-04 22:59] simpleauthority commented on #7293
The database, hosted in Docker, was using UTC. My local system where I am testing strapi was using PDT.

Thus, when accessing Strapi, Strapi was showing the dates as PDT even if they were stored UTC in the db.

So, I solved this by editing `package.json` and changing the `develop` script to:
[code]

[2020-08-04 22:59] #7293 closed

[2020-08-05 05:25] pranab-witbybit commented on #6438
I didn't fix it. I browsed through their timeline, and saw they had decided to add the foreign key feature in April - Aug 2020, but later dropped the plan.

So I finally decided to drop Strapi from my project and chose **AdminBro** with **Sequelize** instead.

**AdminBro** & **ForestAdmin** both are pretty good alternatives of Strapi.

[2020-08-05 06:19] xiaoer3301 opened #7329 "The js file is too large and the page opens very slowly"
![00006D6D6F593DB00A859C2F8F604137](https://user-images.githubusercontent.com/49556560/89378336-27855500-d726-11ea-982c-eb687b8874b9.jpg)

Can developers optimize this file? Even if max-age=2592000, sometimes it still needs to be reloaded.
When the network is slow, it really takes a long time.
After some people pack it, main.js even exceeds 10M.

[2020-08-05 07:53] soupette commented on #7160
I see it's not a front-end bug then it's related to one of your file that is linked to a collection that seems to not be existing. I ping @alexandrebodin @petersg83 about it.

[2020-08-05 08:23] yogesh-dalvi opened #7332 "Load testing with thousands of concurrent requests"
**Load testing with thousands of concurrent requests**

If Load tested the application with **Jmeter** with 300-400 concurent requests then the application renders every requests but when the number of requests are increased to >500 then the appliction rejects most of the requests.

**Steps to reproduce the behavior**

1) Download Jmeter.
3) Create a new test plan and a new Thread group.
2) Increa

[2020-08-05 08:32] Philine commented on #5608
I created a basic "Example" type
[code]
And so this query:
[code]

Will return something like
[code]

[2020-08-05 08:33] vladcazacu commented on #7304
Hey @lauriejim, I've pushed the test project here https://github.com/vladcazacu/strapi-test-project. It's fully generated using the CLI and admin interface, haven't touched the code directly.

[2020-08-05 09:33] daanvanham opened #7334 "Missing DataLoader for `strapi::user` in GraphQL plugin for querying updated_by and created_by"
**Describe the bug**
When I try to add `updated_by` or `created_by` to my GraphQL query an error returns: `"Cannot read property 'load' of undefined"`. It looks like the DataLoader for `strapi::user` is missing (that's the `targetModel.uid` I saw while debugging a bit).

**Steps to reproduce the behavior**

1. Go to 'http://localhost:1337/graphql'
2. Do a query on one of your content types with `u

[2020-08-05 10:03] Naxos84 opened #7335 "Private fields of components are show in response"
**Describe the bug**
When adding a private field (advanced settings) to a component the field is still present in the REST response.

The field does not show up qhen querying it with GraphQL and private fields in content-types also do not show up as expected.

**Steps to reproduce the behavior**

1. Create a content-type
2. Add a private field to that content-type
3. Create a component
4. Add a pr

[2020-08-05 11:08] hendrikgaffo commented on #6654
@demobo-com Do you have any updates on this? I am getting the same error with system specs similar to yours (Ubuntu instead of macOS).
Unfortunately the workaround @iCarossio suggested did not work for me.

[2020-08-05 12:37] petersg83 commented on #7329
Hi, thanks for the issue :)

How did you build it?
If it was built using `yarn develop` the build is not optimized.
If you do `yarn build`, the build is optimized.
Can you compare the two version sizes please?

[2020-08-05 12:42] derrickmehaffy commented on #7332
We need more information here.

Strapi version, host OS, Database type, Database location (local/remote), type of deployment (IE where is it deployed).

In this case there is too many unknown variables to say for sure.

[2020-08-05 13:07] ms-eztut commented on #7133
Hey @derrickmehaffy, i've inserted your code and got the following error:
`Error while running command develop: undefined`

Then i've modified your code to this:
`module.exports = async (ctx) => ctx.unauthorized();`

aand the request goes right through the restriction and still be executed.

[2020-08-05 13:09] derrickmehaffy commented on #7133
@ms-eztut are you on a mac?

[2020-08-05 13:11] ms-eztut commented on #7133
@derrickmehaffy  does this issue also exist on linux?

[2020-08-05 13:14] #7332 closed

[2020-08-05 13:24] derrickmehaffy commented on #7133
I have tested on my own personal linux machine (Linux Mint 19.3), my Mac (Catalina), and my Windows machine (build 2004) and was not able to reproduce it, the last 2 users I saw with this issue were on macs. But I also have not seen this on any of the linux servers I have deployed nor tested on.

This is the same type of policy that I use in my [personal project](https://github.com/canonn-science/

[2020-08-05 13:46] pvk2410 commented on #5297
@lauriejim We have a requirement to upload the base64 encoded content to Strapi as an asset to be listed in the 'Media library'.

We are getting this base64 encoded content of the document (as a response from their REST end point) from a different system which we want to upload directly into strapi.
As i understand the files upload directive ( POST  /upload) accepts only buffer or streams.

Any su

[2020-08-05 15:02] basavarajdodamani opened #7352 "Webhook for fetch API calls"
Hello,
Q1: Do we have an option to send event for a fetch call on the API. As i understand webhook is at the global level.

Q2:I also would like to know if triggering of events can be controlled as per collection type.

Q3: I somehow cant get below implementation working mentioned in: https://strapi.io/blog/strapi-webhooks
I think URL mentioned in the custom.js is to be invoked when there is a pos

[2020-08-05 15:05] #3360 closed

[2020-08-05 15:33] lauriejim commented on #7296
Thank you for the update.

[2020-08-05 15:41] lauriejim commented on #7326
Hello! Warning the related documentation talk about a file named `./config/functions/bookshelf.js` and not `./config/functions/bootstrap.js`.

[2020-08-05 15:41] #7326 closed

[2020-08-05 15:45] lauriejim commented on #7293
Awesome thank you for this update.

[2020-08-05 15:48] lauriejim commented on #6438
Here is a related issue - https://github.com/strapi/strapi/issues/2006

[2020-08-05 15:52] Convly commented on #7335
Hello there, thanks for the issue!

I tried to reproduce your scenario but didn't succeed. In my tests, the private fields remain hidden from the public REST API.

Here are my models:

`./api/test/models/test.settings.json`
[code]

`./components/default/compo.json`
[code]

This is the entry I've created

![image](https://user-images.githubusercontent.com/25851739/89434610-06336180-d744-11ea-8a88-1

[2020-08-05 16:01] francescofact opened #7339 "Can't add bootshelf plugin"
Hi, i'm trying to add a plugin to my bookshelf.
i installed the plugin with
`npm install --save bookshelf-simplepaginate`
then i created the file in _config/functions/bookshelf.js_
with:
[code]

But strapi goes in bootloop saying:
[code]

What am i doing wrong?

[2020-08-05 16:26] Convly commented on #7335
Hello there, thanks for the issue!

I tried to reproduce your scenario but didn't succeed. In my tests, the private fields remain hidden from the public REST API.

Here are my models:

`./api/test/models/test.settings.json`
[code]

`./components/default/compo.json`
[code]

This is the entry I've created

![image](https://user-images.githubusercontent.com/25851739/89434610-06336180-d744-11ea-8a88-1

[2020-08-05 16:39] Convly commented on #7335
Follow-up: I've just tested with a dynamic zone instead of a simple component and I've successfully reproduced the issue.

[2020-08-05 16:49] lauriejim commented on #7304
Thank you for this resource.
Probably a conflict due to attributes's name `product`.
Ping @alexandrebodin about that.
[code]

[2020-08-05 16:54] lauriejim commented on #7334
Thank you for reporting this issue.
I ping @alexandrebodin about that.
I think it's something you can try to investigate in the code source of the plugin to fix this issue.
I really appreciate your contribution on that point.

[2020-08-05 16:57] lauriejim commented on #7329
Hello! I'm closing this issue, related to this discussion.
https://github.com/strapi/strapi/discussions/7290

[2020-08-05 16:57] #7329 closed

[2020-08-05 17:46] derrickmehaffy commented on #7339
@alexandrebodin @lauriejim do you have any suggestions here?

[2020-08-05 18:35] Naxos84 commented on #7335
I'm happy that you could reproduce it. Otherwise I would have checked tomorrow morning.
I think the mentioned component was in a dynamic zone. Though I'm not 100% sure and have to check that tomorrow.

Thx for your effort so far.

[2020-08-05 20:01] Maris1984 opened #7343 "3.1.3, Admin is unable to log into admin panel"
I've migrated to 3.1.3 and got stuck upon admin login, where the form now requires an email instead of an admin username. Had multiple users registered with the same e-mail address, so the reset password did not work.

Deleted admin user from SQLite table "strapi_administrator" and was able to register a new admin user, however - every time I try to login with the new admin user, it keeps redirect

[2020-08-05 20:46] jaakidup commented on #7334
Yes, I'm hitting the same errors.
Specifically when the created_by user is the adminUser <= not sure if this makes a difference

[2020-08-05 21:15] brondhaish opened #7346 "Subsequent Content Type creates fail with a PostgreSQL database"
**Describe the bug**
Post install of Strapi, I was able to create a Content Type (Collection) via the web Builder. Returning to my deployment at a later stage where I tried to create another Content Type (either Collection or Single). I was met with disappointment after clicking on it in the sidebar, under "Collection Types" heading.

**Steps to reproduce the behavior**
It cannot be as trivial as

[2020-08-05 21:19] daanvanham commented on #7334
Well I'm not sure how/where to fix this, even though I would love to contribute.

But I think I'm onto something... If I go to the `data-loaders.js` in the graphql plugin and log `Object.keys(strapi.models)` and `Object.keys(strapi.plugins)` it doesn't show the model for Users. I think this has something to do with the user/permission a few weeks ago. Anyway, I think all that should happen is add

[2020-08-05 21:34] derrickmehaffy commented on #7346
@brondhaish is your project somewhere public like github that we can test with?

[2020-08-05 21:41] derrickmehaffy commented on #7343
I will ping @alexandrebodin to explain in more detail if I'm missing something, but with the v3.1.x we had to change the identifiers that are allowed to be used to login to the admin as we have changed over to using passport.js in the admin panel.

Currently it only allows for and checks for the email, code from the admin for that: https://github.com/strapi/strapi/blob/7113f7f11f391c571a317004b63b

[2020-08-05 21:56] brondhaish commented on #7346
I can look to put an archive together/create a repo. What exactly is required that would be of help to you? The whole /strapi directory? Unfortunately DB access is not something I can provide you with, but perhaps a dump of the tables of interest would suffice?

[2020-08-05 22:09] brondhaish commented on #7346
One more, potentially crucial, point I realised I failed to mention is that originally I installed version 3.1.1 and hit this issue. After doing some debugging, I upgraded to 3.1.3, by updating the package.json file, deleted the `build` directory and started again with `npm run develop`. Funny enough, I was able to create a new Content Type upon starting 3.1.3, but then trying to create one more a

[2020-08-05 23:48] srsgores opened #7347 "Installer script fails on Windows"
**Windows Installation Fails**
Using the latest Node `14.7.0` on WIndows 10, installation fails using custom settings.  More specifically, `node-gyp` fails to compile its native binaries, even when `windows-build-tools` are installed:

**Reproduction Steps**

Ran the following:

**Expected behaviour**
App installations succeeds

**System**

- Node.js version: `14.7.0`
- NPM version: `6.0.0`
- Stra

[2020-08-06 06:12] MakingStuffs commented on #7160
Very weird as I am not specifying the file. I am just clicking the button to view the last page of the library of files which were uploaded using the UI

[2020-08-06 06:33] Naxos84 commented on #7335
I checked and can confirm that my configured component is used within a dynamic zone.
Sorry that I forgot that in the first place.

[2020-08-06 07:54] Maris1984 commented on #7343
I'm perfectly fine with having a one admin user only, however, I'm for some reason unable to log in with that user, even after registering a new admin user with a unique email address that's never used by any other user.

[2020-08-06 08:47] dalbitresb12 commented on #7335
@Convly I was doing some testing about this issue and found that the sanitizeEntity function isn't sanitizing dynamic zones because of this `allowedFieldsHasKey` in line 63:

https://github.com/strapi/strapi/blob/7113f7f11f391c571a317004b63b3daf5fc5e25e/packages/strapi-utils/lib/sanitize-entity.js#L62-L72

The function never enters the if statement because of it. Removing it works, but I don't kno

[2020-08-06 08:56] Convly commented on #7335
I'm working on this very file right now. The issue indeed comes from here.
I would rather try to makes `allowedFieldsHasKey` returns `true` here instead of removing the check.
(it might be due to the fact we're settings `allowedFields` to `includeFields || []` in `getAllowedFields` instead of `includeFields || model.attributes`)

[2020-08-06 08:59] acomagu opened #7348 "[Roles & Permissions Plugin] OAuth2 Compatible Login"
I request a OAuth2 compatible login way to API. It's useful when I use Postman or any other API tester because it can fetch JWT Token automatically before calling API if the service uses OAuth2.

[2020-08-06 09:16] dalbitresb12 commented on #7335
@Convly What I couldn't understand is what the `includeFields` parameter is for. While working on another PR (#7331) I also had to review it, but in the end I did not fully understand it.

[2020-08-06 10:00] tomastuser commented on #6332
Thanks  jjarcik for the idea. Because of a Strapi update it didn't work for me, but eventually I found a solution. Instead of modifing LeftMenuLinkSection file, i had to modify the generateModelsLinks.js file. This is what worked for me:

- Open file api/Nabidka/nabidka.settings.json (nabidka is your collection name)

- Add key displayName to info part of config
`"info": { "name": "Nabidka", "disp

[2020-08-06 10:20] alexandrebodin commented on #5297
Hi @pvk2410 you can create a custom route that will use the upload service to implement it on your side if you need to.

[2020-08-06 10:28] alexandrebodin commented on #7160
You have files in your db linked to content types you have deleted in the meantime. You will need to run a cleanup on your side as we do not provide theses utils yet :)

[2020-08-06 10:51] alexandrebodin commented on #7304
the issue is what @vladcazacu shared. This replace should ne be implemted like that it breaks the product_variants because of the **_v**.  as a workaround you can rename the field @vladcazacu  :)

[2020-08-06 11:04] matrixersp commented on #2086
It would be great if this also works for `create({...}, [])`, it'll save an extra query when creating a new record.

[2020-08-06 11:42] VelrinBlack opened #7355 "Auto logging out and deleting all elements"
**Describe the bug**
I've just installed new strapi project. I came to admin panel, signed up, created some content types and added some elements into it. The problem is, from time to time, when I open admin panel I am logged out and have to Sign up. When I do it with the (with the same data as previous) I don't have any elements, but I have content types.

**Expected behavior**
Content is not del

[2020-08-06 11:57] vladcazacu commented on #7304
Thanks for the feedback @alexandrebodin, I'll rename the fields for now. Is there going to be a fix for this anytime soon? Those names do make sense for my use case and I'd like to keep them when releasing the project if possible.

[2020-08-06 12:46] derrickmehaffy commented on #7347
Hello!

`Node.js version: 14.7.0` We do not currently support Node versions that are not LTS, v14 doesn't go LTS until October, so I would recommend you downgrade to v12.

[2020-08-06 12:46] #7347 closed

[2020-08-06 12:51] derrickmehaffy commented on #7355
Can you please edit your issue to follow our template? It gives us vital information to reproduce your issue.

Also are you using Heroku, and if so did you use `--quickstart` when you created the project. Please see the following FAQ: https://strapi.io/documentation/v3.x/getting-started/troubleshooting.html#why-is-my-app-s-database-and-uploads-resetting-on-heroku

[2020-08-06 13:06] Convly commented on #7335
Simply put, `includeFields` is an array of strings (_fieldA_, _fieldA.fieldB_, etc...) used to determine which fields you want to keep during the sanitation process.

If this variable is set to null, it means you want to keep every field.

Bear in mind though, it doesn't force the field to be present in the final response, it only allows it (a password will be removed even if `includeFields` is se

[2020-08-06 13:20] alexandrebodin commented on #7339
bookshelf.plugin must be called with a string not a required module :) try bookshelf.plugin('bookshelf-simplepaginate')

[2020-08-06 13:20] #7339 closed

[2020-08-06 13:25] alexandrebodin commented on #7334
@daanvanham If you are willing to make a PR your are right on point ;)

[2020-08-06 13:26] alexandrebodin commented on #7334
To be honest this info is not meant to be used as a public info though. as it really is meant only for the admin but if you really want to use it go ahead :)

[2020-08-06 13:32] alexandrebodin commented on #7304
@vladcazacu yes will write one soon :) you could convert to camelCase to keep the same name just not use the `_v` :)

[2020-08-06 13:46] derrickmehaffy commented on #7343
That is certainly something we should dig into @Maris1984 can you please update your original bug post and follow the bug template so we can try to reproduce it, normally we would close issues that don't follow the template as it provides us enough information to at least attempt to reproduce it.

[2020-08-06 13:50] derrickmehaffy commented on #7348
Hi @acomagu I will be marking this request as a duplicate as it relates to the following issue: https://github.com/strapi/strapi/issues/1819

We already have plans to eventually move to a provider system instead of grant/purest for 3rd party authentication and this request is already on our roadmap [ProductBoard](https://portal.productboard.com/strapi/1-public-roadmap/c/61-authentication-providers

[2020-08-06 13:50] #7348 closed

[2020-08-06 13:58] derrickmehaffy commented on #7352
Hi @basavarajdodamani in this case I think it would probably be better to custom build your own webhook process based on the model lifecycles: https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks

These are triggered when a `query` action happens (only the default queries are support, not custom ones), so in this case any time a service calls a `strapi.query()` action you will

[2020-08-06 13:58] #7352 closed

[2020-08-06 14:32] derrickmehaffy commented on #7339
Ah so our documentation is wrong: https://strapi.io/documentation/v3.x/concepts/configurations.html#database-orm-customization

I'll submit a PR to fix this, @alexandrebodin can you confirm if they need to require this package anywhere or just adding the name of the plugin and installing it into their package.json is enough?

[2020-08-06 14:36] alexandrebodin commented on #7343
I think the issue might be coming from using extensions on the users-permissions plugin

[2020-08-06 14:37] alexandrebodin commented on #7339
it is enough yes

[2020-08-06 16:23] fellz opened #7358 "Unable to authenticate user with Google API"
Hi
I follow this guide to add Google provider for authentication.
[https://strapi.io/documentation/v3.x/plugins/users-permissions.html#providers](https://strapi.io/documentation/v3.x/plugins/users-permissions.html#providers)

**Describe the bug**
Got Authorization Error from google. Error 400: invalid_request.
Invalid parameter value for redirect_uri: Missing scheme: /connect/google/callback.

**S

[2020-08-06 16:46] derrickmehaffy commented on #7358
Hello, in this case you need to set the `url` key within `./config/server.js` to tell the auth provider and your frontend what the public accessable URL is to contact Strapi.

So in your case that URL key should be `https://api.mydomain.com`

After you set this, you do need to rebuild the admin panel

[2020-08-06 17:37] ningacoding commented on #5297
i think "gallery" or "media" or "files", does not have a "good practices" documentation to do that.

The integration sould to be clean, plus, a custom service does not warranty the gallery plugins functionallity.

[2020-08-06 18:04] fellz commented on #7358
thanks,  i got correct Authentication page **but**  i got redirects to this page again and again if i choose account to authenticate. Something need to be added or fixed.

[2020-08-06 18:49] MatthewSbar opened #7360 "Field missing in API response for components in related content type"
**Describe the bug**
The bug is described here https://github.com/strapi/strapi/discussions/5769, but that issue was converted to a discussion despite it being a bug which has not been fixed.

Essentially, when getting data for a content type which has a relation to another content type, fields for components in the related content type are not returned in the API response. Fields which aren't nes

[2020-08-06 19:08] derrickmehaffy commented on #7358
There was a recently merged PR that will address some of the confusion within the docs an our examples here: https://github.com/strapi/strapi/pull/7132

There was also some code changes that should fix some common issues that will be released in v3.1.4

[2020-08-06 19:42] derrickmehaffy commented on #7360
I can confirm this, I've included a test project:
[test7360.zip](https://github.com/strapi/strapi/files/5037644/test7360.zip)

[2020-08-06 20:14] brondhaish commented on #7346
@derrickmehaffy I played with the `database.js` section `options`, namely by removing `useNullAsDefault: true` and `autoMigration: false`. It began working as expected.

[2020-08-06 21:13] derrickmehaffy commented on #7346
That is extremely odd :thinking:

[2020-08-07 02:00] iicdii opened #7361 "Populate query with [] has a problem in many-to-many relationship"
**Describe the bug**
When I query content-type with omitting many-to-many relation field in populate params, the result comes out without that field.

**Steps to reproduce the behavior**

1. Create two content types `business-area`,`subject`.
2. Add Many-to-Many field to `business-area` in content-type-builder.
3. Create data for each content-type.
<img width="953" alt="스크린샷 2020-08-07 오전

[2020-08-07 04:10] veerjainATgmail commented on #7206
Hello All, Im facing the same issue.. "{"statusCode":400,"error":"Bad Request","message":{"message":"No access_token."},"data":{"message":"No access_token."}}" with github provider.  (fetch('http://localhost:1337/auth/github/callback?)

https://github.com/strapi/strapi/blob/master/docs/v3.x/plugins/users-permissions.md
In the documentation
1) Google configuration - not able to configure for localh

[2020-08-07 07:36] daanvanham commented on #7334
But I'm not sure where the code should be, adding a model to the `strapi.models`. If you can hint me in the right direction :)

Then why is it in the model? Since you're always an AdminUser if you create content using the Strapi interface. That would mean that `created_by` and `updated_by` are only "valid fields" if content is created through the API with one of the UserPermissionUsers, don't thin

[2020-08-07 07:41] alexandrebodin commented on #7334
@daanvanham you need to run `this.createLoader('strapi::user')` in the intializeLoader like you mentionned :)

The info is in the model as we are using in in the Admin and is usefull in the Admin. What I mean is that it is not meant to be used as an `author` info but is for internal purposes. We could certainly remove it from the APIs but figured this could be usefull for some users.

[2020-08-07 07:49] #7335 closed

[2020-08-07 10:58] 1UPNuke opened #7369 "Leaving entry enum value as default causes "This field is required""
**Describe the bug**
Going to add an entry to a model that has a required enum field and leaving it as the default causes "This field is required" to appear, forcing you to select another enum and switch it back.

**Steps to reproduce the behavior**

1. Go to add an entry to a model with an enum
2. Do not change the value
3. Click save
4. See error

**Expected behavior**
Enum is left as the defaul

[2020-08-07 11:07] 1UPNuke commented on #7369
Turns out this was caused by accidentally leaving the default value as an empty string in the model.settings.json file.

[2020-08-07 11:07] #7369 closed

[2020-08-07 11:16] VelrinBlack commented on #7355
Thank you very much @derrickmehaffy
I read what you sent me and decided to use MongoDB instead of SQLite. But there is a problem with deploying it. In strapi docs, there is talking about these paths: `./config/env/development/database.js`, `./config/env/development/database.js` to set up database config. But the problem is, in current version of strapi, there's not `env` directory in `config` so I

[2020-08-07 11:46] harshilparmar commented on #7261
@alexandrebodin I couldn't figure out how to setup project locally,Can you help :) What to do after yarn setup? How to run ?

[2020-08-07 11:52] soupette commented on #6736
This issue has been fixed with the stable release. I am closing it

[2020-08-07 11:52] #6736 closed

[2020-08-07 12:13] virgil9306 commented on #1465
To tackle this scenario, I am deploying multiple Strapi on multiple VMs but always using the same Docker image I created.

You may want to try using "your" version of a Strapi deployment as a Docker image too, and updating that across many servers (using your favorite CI or something), instead of one deployment for all Tenants.

[2020-08-07 12:16] soupette commented on #2505
I am closing this issue as it has already been fixed.

![Screenshot 2020-08-07 at 14 15 52](https://user-images.githubusercontent.com/13311463/89644593-867ad380-d8b8-11ea-85bf-b2b7d27b9fe9.png)

[2020-08-07 12:16] #2505 closed

[2020-08-07 12:22] soupette commented on #6008
I am closing this issue as it has been fixed in `v3.1.0`

[2020-08-07 12:22] #6008 closed

[2020-08-07 12:22] soupette commented on #5111
I am closing this issue as it has been fixed with the rbac release. Feel free to reopen it.

[2020-08-07 12:22] #5111 closed

[2020-08-07 12:24] soupette commented on #6669
I am closing this issue as it has already been fixed.

[2020-08-07 12:24] #6669 closed

[2020-08-07 12:32] derrickmehaffy commented on #7355
Hello.

They are not created by default, you create them yourself if you need them.

[2020-08-07 13:19] derrickmehaffy commented on #7361
@alexandrebodin I was helping someone with a similar issue on the `manyWay`. Is this something we plan to look at with the database v4 stuff? I know it has to do with the populate code not populating the IDs from the intermediary table.

[2020-08-07 14:07] VelrinBlack commented on #7355
@derrickmehaffy
Ok, so I created them and it is still not working.

----
My file structure:

![Screenshot from 2020-08-07 15-54-33](https://user-images.githubusercontent.com/57812209/89653031-b335e780-d8c6-11ea-9d4d-d924106d35f1.png)

---
`env/development/database.js`
[code]
---
`env/production/database.js`
[code]
---
`env/database.js`
[code]
---

I ran:
`git add .`
`git commit -m "Database Setup"

[2020-08-07 14:12] NuclleaR commented on #6228
I faced with the same (or maybe not) issue
I created a custom email plugin

[code]

and receive a bootstrap error
`error Bootstrap function in plugin "email" failed
error Error: The provider package isn't installed. Please run `npm install strapi-provider-email-custom` --save`

[2020-08-07 14:28] lauriejim commented on #7304
Thank you @alexandrebodin for all these details.

[2020-08-07 14:40] NuclleaR commented on #6228
I managed to resolve the issue
my issue was that I have a bug in my code and run fails. but there is the problem in source code
[code]

in this case, if you have an issue like it was with, can not read property `x` of undefined, you lose all stack trace. I believe better to return exceptions that fail, instead of creating new one, because it's really unclear what is going on

[2020-08-07 14:58] #7334 closed

[2020-08-07 15:27] derrickmehaffy commented on #7355
There could be a problem with the URI you are using for the production, or your Atlas database may not have the correct security settings.

[2020-08-07 16:09] espansione8 commented on #7265
somebody else already did it :)

[2020-08-07 16:09] #7265 closed

[2020-08-07 18:20] ther3tyle opened #7376 "create-strapi-app error on macOS 10.15+ and its fix"
**Describe the bug**
Both commands will fail to find an Xcode; hence printing `gyp: No Xcode or CLT version detected!`
- `npx create-strapi-app my-project --quickstart`
- `yarn create strapi-app my-project --quickstart`

**Steps to reproduce the behavior**
Simply run any of the commands above on macOS 10.15+

**System**

- Node.js version: 14.70
- NPM version: 6.14.7
- Strapi version: latest
- Dat

[2020-08-07 19:40] kcouliba commented on #6654
Hi all, I just encountered that error today and I'd like to just share about what caused the error, and how I solved it.
In my case, I was writing a function in the function folder, and the error popped because I was using optional chaining syntax.
Going back with standard es5 solved the problem.

I didn't push the investigation way further on the reason why this is happening, and how the error me

[2020-08-07 20:02] thisispete commented on #6877
same problem following the steps for strapi using mongo atlas and heroku, it installs but it throws these errors on push to heroku, the app runs but it's missing buttons under create content type, its basically useless after install. `remote:        warning "strapi-admin > bootstrap@4.5.2" has unmet peer dependency "jquery@1.9.1 - 3".
remote:        warning "strapi-admin > bootstrap@4.5.2" has unm

[2020-08-07 20:10] derrickmehaffy commented on #7376
@ther3tyle would you make making a PR to the FAQ in the troubleshooting docs here: https://github.com/strapi/strapi/blob/master/docs/v3.x/getting-started/troubleshooting.md and try to clearly lay out the problem and solution?

[2020-08-07 20:23] thisispete commented on #6877
explicitly adding
`  "jquery": "^3.5.1",
    "koa": "^2.13.0",
    "popper.js": "^1.16.1",`
to package.json and re-pushing to heroku silences warnings but the admin still doesn't work properly (missing buttons to add new content types, etc)

everything works locally, just not on heroku.

[2020-08-07 21:23] girafffene opened #7377 "Gatsby & Strapi(deployed on Heroku): Request failed with status code 400"
**Describe the bug**
After deploying my project's Strapi server to Heroku I went to log into my Strapi admin page as prompted, however, when I entered my credentials it returned "An internal server error occurred".

![Screen Shot 2020-08-07 at 2 00 10 PM](https://user-images.githubusercontent.com/59903380/89688668-86c69f00-d8b7-11ea-8a2b-668acc16a581.png)

At first I thought my credentials were wr

[2020-08-08 02:23] ther3tyle commented on #7376
@derrickmehaffy ok, I will PR the doc. As it seems the problem is def consist, I need to investigate a bit further to find out what exactly causes this issue.

[2020-08-08 05:48] geekdada commented on #6126
@lauriejim I was experiencing the same issue, until I found out the ignored rules:

[code]

This is simply because the project folder named `admin`. I didn't find any workaround to this issue expect changing the project/folder name.

Maybe you should put this tip in the documentations.

[2020-08-08 06:38] aksdevac commented on #7376
No such error for me on Mac OS 10.15.6 & xcode 11.6 , & xcode-select path is `/Applications/Xcode.app/Contents/Developer`, tried yarn create command, may be specific to your machine/setup.

[2020-08-08 07:34] ther3tyle commented on #7376
@aksdevac I think the issue is present for systems where Xcode is not installed. I found following issue and series of similar symptoms reported; the exact error I have encountered. Maybe it's just me, but the solution worked in all 3 systems where 10.15 OR 10.16 installed.

Here is the link if you are interested.

[link to node-gyp issue](https://github.com/nodejs/node-gyp/issues/1927)

[2020-08-08 07:44] TheChileanKink commented on #1906
I'm not able to find those files either.

[2020-08-08 08:33] amorev commented on #6126
omg. that's was the problem. Renaming folder solved my issue

[2020-08-08 11:48] fellz commented on #7358
ok thanks will check 3.1.4 version for fix.

[2020-08-08 13:06] abdonrd commented on #4808
@alexandrebodin Any news here?

[2020-08-08 13:42] fwelz opened #7382 ""Forgot password" is not working as expected with others providers beside "email"."
**Describe the bug**
The end-point "/auth/forgot-password" not only changes the password of "email" provider's users, also changes the password of any other provider.

Also, if the option "One account per email address" is turned off, the behavior of this end-point is odd: if there is a user with the same email on differents providers, the password is changed randomly on just one provider.

**Step

[2020-08-08 15:10] juandl commented on #5706
@KonstantinKudelko do you find a way for this?

[2020-08-08 15:42] JustBeYou opened #7384 "Relation not created after collection update"
**Describe the bug**
I created a `user-profile` collection type and I am trying to add a one-to-one relation between it and `user` (from `user-permissions`). The logic is that when a new user is registered, a `user-profile` object will be created and linked with the user. I used `strapi.query(...).update(...)` inside the `afterCreate` hook of `user`, but it seems that the update has no effect, the

[2020-08-08 18:04] shea256 commented on #7177
Hi I'd like to second this.

My usecase:

I am maintaining a database where multiple authors will edit each object. I want to make the data available with a public API, but I don't want to reveal information about who has been creating and editing the objects.

Obfuscation is very valuable here.

[2020-08-08 18:16] juandl commented on #7384
Question, why are u sending `test:{id:test.id}` that is an object, for make a relationship should be a string type ID, also I'm not sure why "role:{id:2}" works, shouldn’t work too 🤔

[2020-08-08 18:51] VelrinBlack commented on #7355
@derrickmehaffy
Thanks very much! Thanks to you I figured out, that I have to use URI for older version of node in order to connect to strapi.
Huge thanks one more time!

[2020-08-08 18:51] #7355 closed

[2020-08-08 19:45] JustBeYou commented on #7384
@juandl it's the default db, Sqlite I think.
Also, could you give a concrete example of how a relation should be made? I couldn't find anything specific in the docs, that's why I tried the above thing.

[2020-08-08 19:48] juandl commented on #7384
@JustBeYou Well normally I made the relations with the "id"

Like

`test:"5ef2613ff7e26b4329cc000a"`

[2020-08-08 22:31] RileyMShea opened #7386 "mongodb: unique constraint not updated in production deployment"
**Describe the bug**
Adding a unique constraint to an existing field, via admin panel or models, is updated in development, but is not applied when deployed to production server via docker(as part of docker-compose stack).

**Steps to reproduce the behavior**

From dev server:

1. create a collection with a text field, no constraints.
2. add an entry to this collection
3. build into  production do

[2020-08-08 23:52] LuisOsta commented on #4498
@alexandrebodin Is there a limit to the current number of nested repeatable groups? I noticed on the admin panel that there seems to only be support for one level of nesting.

[2020-08-09 11:05] JustBeYou commented on #7384
@juandl well, thank you.
I see that there is an example in the docs here https://strapi.io/documentation/v3.x/concepts/queries.html#api-reference in the `create` tab. I did not see it as it is at the bottom and not indexed by the search. Maybe it will be a good thing to state it explicitly somewhere, I could do a PR if you find it reasonable enough too.

[2020-08-09 11:05] #7384 closed

[2020-08-09 11:41] juandl commented on #7384
Hi @JustBeYou, I hope everything works now well, about your request making explicit the instructions of relations, i think is already clear, we just need t read careful 😅.

[2020-08-09 16:30] kadiresen commented on #5877
can you try this again after you've created a simple cors middleware like this:

(config/middleware.js)

[code]

[2020-08-09 17:33] MarvanN commented on #2381
<img width="347" alt="Screenshot 2020-08-09 at 11 03 04 PM" src="https://user-images.githubusercontent.com/46482839/89738201-7d465e00-da94-11ea-939a-8abb96c22b73.png">

[2020-08-09 18:22] thisispete opened #7392 "Broken install on heroku."
**Describe the bug**
Following instructions to deploy to heroku using mongodb - results in broken admin. Missing options to add content type. Warnings are thrown during install on heroku.

**Steps to reproduce the behavior**

Setup app following instructions in documentation, configure app using yarn or npx command, input mongo db credentials, replace the /config/database.js file etc. init git, in

[2020-08-09 18:32] thisispete commented on #7392
additional steps taken:

added `yarn.lock` to .gitignore
deleted yarn.lock file
change engines in package.json to:
[code]

[2020-08-09 19:03] nnennajohn commented on #7326
Thanks @lauriejim . will check that.

[2020-08-09 19:31] #7392 closed

[2020-08-09 19:31] thisispete commented on #7392
damn, just saw this:
[code]

[2020-08-09 20:40] txbrown opened #7393 "null value in column violates not-null constraint when saving a content-type"
**Describe the bug**
 When saving a content-type an error is shown. A summary of that is - "_null value in column "latitude" violates not-null constraint_".

**Steps to reproduce the behaviour**

1. Create a content-type called venue (or something else)
2. Create a a component called location with fields `latitude` and `longitude` and set them to be of type number (float), with required as true an

[2020-08-09 20:44] txbrown commented on #7393
There is already an issue that was closed a couple days ago #556

[2020-08-10 06:53] kcouliba commented on #7172
Thanks for the explanation, that was very convenient since it allowed us to have permissions on about most content in the app.

[2020-08-10 06:53] #7172 closed

[2020-08-10 09:19] charshum commented on #7177
It will be a bit strange when the API is publicly accessible where the public can know the author's name from the API

[2020-08-10 09:34] lauriejim commented on #7261
It's really simple, just follow the CLI installation guide into the documentation.
Here is the link - https://strapi.io/documentation/v3.x/installation/cli.html

[2020-08-10 10:15] iamwebdev opened #7398 "Referenced Content type columns to be show"
**db: mongo
strapi: 3.1.0
os:linux
node:12**

Hello as per my knowledge, strapi admin's content type listing comes with only fileds which are added while creating content type.But what if i want to show some additional columns in listing? I have on content type bids where i have added a realtion with another content type "Property". So currenlty on "Bids" content type listing, i am able to see onl

[2020-08-10 10:17] Maris1984 commented on #7343
Updated the original post with some additional info.
Let me know, if there's anything else I can share, to help you determine the cause.

[2020-08-10 10:24] Berend-Kalberg commented on #7343
Same issue coming from 3.0.5. When I test the version locally. `[2020-08-10T10:14:55.608Z] debug GET /users-permissions/init (2 ms) 404`. Its is stuck on the loading animation. When I test on my production server I get past the loading animation but get an internal server error message at the top of the login fields when I use the right email address. When I use wrong credentials I get an error fo

[2020-08-10 10:57] gh0stsh0t opened #7399 "Documentation plugin will always write to full_documentation.json"
**Describe the bug**
Every time strapi-plugin-documentation/config/functions/bootstrap.js runs, it will write to full_documentation.json even if no update is created.

**Steps to reproduce the behavior**

1. create a new project with users-permissions and documentation plugin installed
2. start the server
3. it should edit full_documentation.json but only changing the`x-generation-date` info

**Ex

[2020-08-10 11:44] oomixoo commented on #7177
My case
I am using it with more than 1 database.
The program shows an error "strapi select distinct` strapi_administrator` doesn't exist ".

[2020-08-10 11:51] alexandrebodin commented on #7343
Do you have a custom implementation of the permissions.js policy inside the extensions/users-permissions/config/policies ? If so you need to update your extension accordingly after any upgrade as this can break internal code.

[2020-08-10 11:54] alexandrebodin commented on #7261
@harshilparmar to setup the local dev env you can follow the contribution guide . basically clone the repo / yarn setup go into getstarted and yarn develop.

[2020-08-10 11:55] harshilparmar commented on #7261
Thanks @lauriejim @alexandrebodin 👍

[2020-08-10 12:07] Berend-Kalberg commented on #7343
I have not done anything custom to my Strapi backend. All I did was create an admin user after create-strapi-app. Nothing custom at all. All I have in extensions/user-permissions/config (I dont have a policies folder) is a jwt.js file with some sort of key in there.

`module.exports = {
  jwtSecret: process.env.JWT_SECRET || 'KEY'
};`

[2020-08-10 12:14] Maris1984 commented on #7343
I indeed had custom implementation in permissions.js policy.
Updated the code accordingly and the login now succeeds.
Thank you!

[2020-08-10 13:01] CallMeLaNN commented on #7042
Probably there is another node service using the port. In my case if Blockstack app (on Mac) is running I got this error until I close the app.

[2020-08-10 13:30] derrickmehaffy commented on #6877
In your package.json for `engine` try setting that to a static version, it's quite likely that heroku is taking the `engine` default setting from Strapi and is trying to use node v14 (which isn't supported yet). Why in the world heroku tries to use a non-LTS version I have no idea, but v14 doesn't go LTS until October.

[2020-08-10 13:32] derrickmehaffy commented on #7377
`3.1.0-alpha.5` Can you please update to the latest v3.1.x release (v3.1.3 as of writing) and also can you provide your `./config/server.js`

[2020-08-10 13:36] alexandrebodin commented on #7361
Hi @iicdii This is a duplicate / similar to https://github.com/strapi/strapi/issues/4630 I'm going to close this one for now. @derrickmehaffy Sadly this is not something we can fix with the current ORMs we are using. Only returning ids means we actually load the relations first (so heavy perf hit) We need to think of possible solutions / approaches

[2020-08-10 13:36] #7361 closed

[2020-08-10 13:38] derrickmehaffy commented on #1906
Hi everyone, please open up a new issue (following the bug template) so we don't bring up old issues.

[2020-08-10 13:42] derrickmehaffy commented on #7382
Hello, Strapi doesn't currently support multiple providers for the same user (Normal User+Pass and any of the 3rd Party auth providers). Technically the `email` field should be unique so it shouldn't even allow for registration using a 3rd party provider if that email already exists. (And vice-versa).

[2020-08-10 13:45] derrickmehaffy commented on #7386
Closing as duplicate of: https://github.com/strapi/strapi/issues/5863
And also likely related: https://github.com/strapi/strapi/issues/1114

[2020-08-10 13:45] #7386 closed

[2020-08-10 14:06] ssayanm opened #7401 "Cannot add two decimals on number collection type"
**Describe the bug**
I cannot add two decimals on the number collection type

**Steps to reproduce the behavior**

1. Go to 'Create a collection type and enter a Display name'
2. "Select a field for your collection type" -> Choose Number and choose "Number format" as either "decimal or "float"
3. Scroll down to 'Collection Types' and try to add a number ending with two or more than two decimal pla

[2020-08-10 14:24] fwelz commented on #7382
Thanks for the response!

I'm pretty confused, because there is an option located on the tab Advanced Settings, on the Roles & Permissions plugin:

"One account per email address"
"Disallow the user to create multiple accounts using the same email address with different authentication providers."

This option can be turned on/off.

So, your are saying that I must keep this option always on? What's

[2020-08-10 14:39] derrickmehaffy commented on #7398
Hello, please see the following RFCs:

https://github.com/strapi/rfcs/issues/8
https://github.com/strapi/rfcs/issues/7

Currently this feature is not available, and work hasn't been started on it yet. We are actually looking for an outside contributor while we work on other higher priorities or until we get some time to work on it.

[2020-08-10 14:40] #7398 closed

[2020-08-10 14:42] derrickmehaffy commented on #7177
@alexandrebodin I'm thinking just sanitizing it from the response would be the best case here, adding a similar boolean to the generated API schema (and keeing it disabled by default) then passing that through the sanitize function to remove it (or even better is not requesting it from the database to begin with, as that is going to decrease query time on the database)

[2020-08-10 14:47] derrickmehaffy commented on #7343
Thank you for the update @Maris1984 I'm going to mark this as closed as you solved your issue (related to using extensions to the permissions policy)

[2020-08-10 14:47] #7343 closed

[2020-08-10 14:55] #7304 closed

[2020-08-10 15:07] qunabu opened #7405 "Plugin users-permissions providers Custom callback url doesn't work"
**Describe the bug**

Passing callback url instead of using the default registered provider callback doesn't seems to be working. In my case I'm using SPA on many domains with one API. In this case i need the API to redirect to correct SPA instance.

[code]
is not working as expected

**Steps to reproduce the behavior**

Follow tutorial on https://strapi.io/documentation/v3.x/plugins/users-permiss

[2020-08-10 16:13] willianjusten opened #7406 "Update UploadFile (Image) information, like `alternativeText`"
As I discussed on https://github.com/strapi/strapi/discussions/7359 and @lauriejim asked, I'm posting here as well.

---

It looks that we don't have any mutations to edit `UploadFile` informations like `alternativeText` and other stuff.

We can do it via Rest API but not via GraphQL. It would really great that we could do it in the same way using GraphQL.

[2020-08-10 16:46] derrickmehaffy commented on #7401
Hi @ssayanm I have spoken with our frontend team to make them aware of this issue, I believe we have a fix and should have a PR made shortly. You will see the PR attached to the issue once it's ready and should be included in the next release (of course you can make the change manually in the short term using the extensions system if you need it).

[2020-08-10 16:48] ssayanm commented on #7401
@derrickmehaffy thank you so much !

[2020-08-10 17:52] derrickmehaffy commented on #7382
@fwelz I had completely forgotten about that option I am sorry :see_no_evil:

@alexandrebodin It appears we aren't checking the provider, can you confirm that?

https://github.com/strapi/strapi/blob/e25a508b2bc090546186c7ea1b2f84a4b5b5c428/packages/strapi-plugin-users-permissions/controllers/Auth.js#L297-L309

So in this case if someone has a normal `local` provider and a 3rd party auth one, there

[2020-08-10 18:04] derrickmehaffy commented on #7405
Can you please properly fill out this section so that we can try to reproduce the issue?

[code]

[2020-08-10 18:08] qunabu commented on #7405
Done

[2020-08-10 18:13] derrickmehaffy commented on #7405
@petersg83 Is this already solved with https://github.com/strapi/strapi/pull/7132 and https://github.com/strapi/strapi/pull/7054 / https://github.com/strapi/strapi-examples/pull/164 ?

[2020-08-10 18:23] fellz opened #7412 "Email confirmation doesn't work with nodemailer"
**Describe the bug**
I don't recieve any confirmation emails when user is created.

**Steps to reproduce the behavior**
I follow this guide [https://strapi.io/documentation/v3.x/plugins/email.html](https://strapi.io/documentation/v3.x/plugins/email.html)
I installed this email plugin [https://www.npmjs.com/package/strapi-provider-email-nodemailer-v3](https://www.npmjs.com/package/strapi-provider-e

[2020-08-10 19:22] Moizsohail commented on #6220
Any solution?

[2020-08-10 20:09] derrickmehaffy commented on #7412
Hello @fellz we actually didn't create, nor manage that provider as it comes from: https://github.com/Saunved/strapi-provider-email-nodemailer. This is likely an issue you will need to talk to the provider maintainer about.

[2020-08-10 20:14] derrickmehaffy commented on #6220
In this case you don't actually need to use `.toObject()` and just need to make the query an async/await

[2020-08-10 20:21] dodo007 commented on #6220
await strapi.query.('model name').model.find({ use your query parameters })

The example in the docs is showing something different that does not work
at all. In the parameters, you can't use any of the strapi filters like
_limit, _contains.... You need mongo syntax.

Robert Lovreković

On Mon, Aug 10, 2020 at 10:15 PM DMehaffy <notifications@github.com> wrote:

[2020-08-10 20:36] derrickmehaffy commented on #6220
Ah yup I missed that, you are directly using the mongoose .model. :thinking: @alexandrebodin are our docs out of date here?

https://strapi.io/documentation/v3.x/concepts/queries.html#mongoose

[code]

It does reference `.toObject()`

[2020-08-10 21:05] derrickmehaffy commented on #6220
Just tested on a latest release Strapi v3.1.3 and the `.toObject()` does throw an error but is not needed anyway:
![image](https://user-images.githubusercontent.com/8593673/89831333-88d86a00-db12-11ea-95ac-8ee9ab2abdef.png)

[2020-08-11 00:04] tacomanator commented on #7042
Indeed Blockstack was running. I assumed port in use would be checked on startup, but the CLI gave no such warning.

[2020-08-11 06:23] fellz commented on #7412
Provider works fine, strapi not sending emails.

[2020-08-11 07:21] dawnerd commented on #7325
I just started getting this as well.

node v12.18.1 (npm v6.14.5)
"strapi": "3.1.3", (and all deps matching)
mongodb
strapi/base dockerfile

![image](https://user-images.githubusercontent.com/24781/89868295-6ae92480-db67-11ea-8403-98595fd9747f.png)
![image](https://user-images.githubusercontent.com/24781/89868592-ea76f380-db67-11ea-89b1-cc95690d1bb7.png)
![image](https://user-images.githubusercont

[2020-08-11 07:27] dawnerd commented on #7232
Seems related to #7325?

[2020-08-11 08:10] alexandrebodin commented on #6220
toObject is for single enties indeed so `results.map(entry => entry.toObject())`

[2020-08-11 08:29] lxndr opened #7414 "Repeatable component won't expand"
**Describe the bug**
In content editor, repeatable component created by default cannot expand. Attempt to save such an entity causes error:

[code]

I noticed that `x` is actually `RepeatableComponent`.

Entity:
[code]

Component:
[code]

The only workaround I found was removing the default component entry and creating a new one.

**Steps to reproduce the behavior**

1. Create component
2. Create

[2020-08-11 08:38] VInhHuong opened #7415 "Error: Blocked by CORS when connect by google provider from Nextjs web app."
Hello everyone, sorry for my bad English.
I am trying to login by google auth from my nextjs blog, when I open "https://strapiDomain/connect/google" in my browers it's wroking, but when I call from nextjs app I catch error "Access to fetch at 'https://accounts.google.com/o/oauth2/auth?client_id=clientId&response_type=code&redirect_uri=redirectToStrapiCallback&scope=email' (redirected from 'https:/

[2020-08-11 09:04] alessandrocaprarelli opened #7417 "Error when filtering by json field with Postgresql"
**Describe the bug**
I have a collection (`Resources`) with just 2 fields:
- `image`: file type
- `tags`: json type

When I search for a json field (`tags`) (`/resources?tags_contains=WR`) I get the following error:
[code]

**Steps to reproduce the behavior**

1. Basic installation of strapi
2. Connect the database to Postgresql
3. Create a Collection called `resources` with a json field called `t

[2020-08-11 09:05] alexandrebodin commented on #7417
Hello @alessandrocaprarelli the contains operator is not a json operator but a string operator. Right now we do not support json operators as it is not supported in many databases. You can however use custom queries if you need to do this.

[2020-08-11 11:07] laurenskling opened #7419 "server.js url is hardcoded in the admin build and that is confusing"
I am using this `server.js`:
[code]

In production, I am using a env value URL=example.com

this will make Strapi run on example.com and example.com/admin

But loading the admin panel will fail because:

```Mixed Content: The page at 'https://example.com/admin/login' was loaded over HTTPS, but requested an insecure resource 'http://0.0.0.0:1337/admin/init'. This request has been blocked; the conte

[2020-08-11 11:26] sheinzle commented on #1507
What is the status on content internationalization? We're currently evaluating different CMS'es, and i18n for content is a crucial component.

As a side note: we're a software development agency and would be more than happy to pay to use that feature.

[2020-08-11 11:39] DHvD-R commented on #6548
Sorry for my late reply. Is the PR from @maazkabir fine or should I still open a PR?

[2020-08-11 13:26] Saad-Abbasi commented on #4143
I am facing the same with online MongoDB Atlas

[2020-08-11 13:49] derrickmehaffy commented on #7325
@dawnerd can you please open up a new bug report and follow the bug report template so we can get the required information to reproduce the issue.

[2020-08-11 14:31] derrickmehaffy commented on #7419
@laurenskling I can certainly understand the frustration. Let me try to explain how that key is used.

There are multiple parts of the application that use that specific key:
- The admin for connecting to the Strapi backend (since react is CSR)
- Upload plugin for references in absolute URL scenarios
- Users-permissions plugin for 3rd party authentication
- Email plugin for sending absolute URL li

[2020-08-11 14:35] derrickmehaffy commented on #1507
From @Aurelsicoko on the slack:

Hey everyone, I hope you are all doing well :pray:
We've started working on the Internationalization feature to easily translate your content in multiple languages (locales). As you might know to make sure we will develop the right feature that fits your needs, we are used to run a survey.
Could you please take 3 minutes of your time to fill in it?

https://strapi.

[2020-08-11 15:15] michael-lawrence commented on #2818
I'm trying to do what was suggested here and I'm having issues. I get 403 errors when trying to PUT at /users/me. I've made sure to give access to this route in the admin for both authenticated and public users (just in case). I'm passing the jwt token the same way I do when calling the GET /users/me route. I even added a console.log statement inside of the User.updateme method to see if it's even

[2020-08-11 15:29] lauriejim commented on #4819
I will close this issue because it's the way it should work.
Based on the last policy functions that are in the core of Strapi.

[2020-08-11 15:29] #4819 closed

[2020-08-11 15:42] derrickmehaffy commented on #4143
@Saad-Abbasi can you please open up a new bug report as this one is from almost a year ago.

[2020-08-11 16:17] derrickmehaffy commented on #2818
@michael-lawrence can you open up a github discussion so we can work through the issue specifically for your usecase?

[2020-08-11 16:55] michael-lawrence commented on #2818
Sure thing. Thanks!

[2020-08-11 16:55] #5108 closed

[2020-08-11 16:57] derrickmehaffy commented on #7412
@fellz I tested the package locally on Windows, Linux, and Mac and was not able to reproduce this. Do you have any other information that may help reproduce the issue?

[2020-08-11 17:01] Morantron commented on #557
thanks @ByungJun25 !

[2020-08-11 17:20] #5470 closed

[2020-08-11 17:35] derrickmehaffy commented on #5470
Hello!

As we have not received any new or updated information in over 7 days we are marking this issue/discussion as closed. Should you have new information please feel free to respond and we can consider reopening it.

For others finding this closed issue and you have updated information, please open up a new bug report and simply reference this closed bug report so that we can get any new infor

[2020-08-12 01:36] kcouliba commented on #7346
I am currently encountering the pretty same issue except for that error pops up when I try searching for any content-type.
Unfortunately, I can't give more details on what causes the issue.

![image](https://user-images.githubusercontent.com/6125608/89965270-b3c6d900-dc4c-11ea-8351-4070c2dfd485.png)

[2020-08-12 02:12] sirdavidoflee commented on #4475
I found this answer on stack overflow that had a solution that worked for me: https://stackoverflow.com/a/56718624

In summary just run `yarn upgrade websocket-driver` and re-commit then run `git push heroku master` again.

[2020-08-12 04:27] derrickmehaffy commented on #7346
@kcouliba can you try updating to the latest release v3.1.3

[2020-08-12 06:48] fellz commented on #7412
Ok how i tested.

1. Installed plugin **nodemailer-v3**

1. Added
[code]
to the routes

2. Added handler

[code]
got result in my to inbox ( someemail@gmail.com) and in system messages "response: "250 2.0.0 Ok:"

3. Added Email confirmation **On** in Admin panel.
Result -> I didn't recive any emails after registration. I used the same email `someemail@gmail.com` i used in test.

[2020-08-12 08:38] robinComa opened #7434 "Slug field association with sub component"
**Describe the bug**

Slug field association with sub component  doesn't work

**Steps to reproduce the behavior**

1. Create componant SEO with title as a String
2. Create a collection Blog
3. Add a field seo as Seo componant on Blog
4. Add a slug as UID field on Blog
5. Link the slug field with seo.title text to autogenerate the slug => doesn't work

**Expected behavior**
Associated field from c

[2020-08-12 08:38] Jassu225 commented on #7027
Same issue here.

Adding a new field to a repeatable component after referencing it in a table is causing the issue for me.

Node.js version: 12.16.0
NPM version: 6.14.5
Strapi version: Strapi v3.1.1
Database: mysql
Operating system: macOS Catalina version: 10.15.6

[2020-08-12 08:52] robinComa opened #7435 "Collections relationship sub component field for view selection"
**Steps to reproduce the behavior**

1. Create component Seo a title field as string
2. Create OfferGroup collection with a seo Seo field
3. Create Offer collection with a offer group relationship 1-*
4. Manage form view of Offer collection
5. Select the OfferGroup field seo.title when you want to attach an OfferGroup to an Offer => not possible

**Expected behavior**
Sub componant field should be

[2020-08-12 09:18] Jassu225 commented on #7027
@soupette Happening only when timestamps option is set to false.

[2020-08-12 09:40] heri16 opened #7437 "Knex version does not match bookshelf"
https://github.com/strapi/strapi/blob/8d0c6848ba421680570e974e5d8606314735de3e/packages/strapi-generate-new/lib/utils/db-client-dependencies.js#L19

https://github.com/strapi/strapi/blob/97922f99ae858e1e3f4f792bb8d6a829adb82649/packages/strapi-connector-bookshelf/package.json#L29

[2020-08-12 10:00] alexandrebodin commented on #7014
Hi, You are not calling the function with the right parameters. it is expecting `{ contentTypeUID, field, value }` not `{ contentTypeUID, field, uid }`

FYI, ou are using internal code this can break on any given release.

Closing :)

[2020-08-12 10:00] #7014 closed

[2020-08-12 10:02] alexandrebodin commented on #7209
Closing in favor of https://github.com/strapi/strapi/issues/7177 so we keep things clean in the issues

[2020-08-12 10:02] #7209 closed

[2020-08-12 10:06] #7414 closed

[2020-08-12 10:07] #4300 closed

[2020-08-12 10:07] #7314 closed

[2020-08-12 10:07] #6641 closed

[2020-08-12 10:15] #7301 closed

[2020-08-12 10:16] #7108 closed

[2020-08-12 11:33] aksdevac opened #7439 "Improve admin's initial load time"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
Strapi main bundle size is around 6.6 MB for just viewing 'login' page on fast net it takes around 6 sec time.
It would be great If some components can be lazy loaded &

[2020-08-12 11:40] alexandrebodin commented on #7439
You are using the dev bundle. When run yarn develop it is not building with optimization.
Just run yarn build to get the optimized build :)

Closing the issue as this is intended. Let us know if you still think there is an issue

[2020-08-12 11:50] aksdevac commented on #7439
@alexandrebodin Hi, this is running on Production server, using 'yarn build' & prod env.  & I am also using latest strapi(3.1.3), its indeed loading 6.6 MB bundle on viewing 'login' page.

[2020-08-12 12:34] alexandrebodin commented on #7439
@soupette  @HichamELBSI might be wort a look

[2020-08-12 13:08] aksdevac commented on #7439
with `--no-optimization` flag in fresh project main bundle size is 10.2MB & without this flag its around 6.6MB,
If I enable gzip on server its around 2.1MB, but extracted size will still be 6.6MB.

[2020-08-12 13:51] #5490 closed

[2020-08-12 14:08] elliottross23 opened #7443 "admin reset password link has double slash"
**Describe the bug**
When requesting to reset my password on the admin panel I am receiving a double slash in the URL after the admin domain and before "auth":
https://mydomain.com//auth/reset-password?code=some_code

**Steps to reproduce the behavior**

1. Go to admin panel sign in page
2. Click on Forgot your password?
3. Enter your email address
4. Click Send Email
5. In the email, the link con

[2020-08-12 14:19] elliottross23 commented on #7443
weirdly after updating my config from:

[code]

to

[code]

it works just fine

[2020-08-12 14:22] #7443 closed

[2020-08-12 14:28] lauriejim commented on #5685
I'm closing this issue, I just tested and it works fine.
Successfully sent the file with your code.

ps: you have to update
[code]

[2020-08-12 14:28] #5685 closed

[2020-08-12 14:47] kcouliba commented on #7346
Upgrading to version 3.1.3 resolves my issue. Thanks @derrickmehaffy

[2020-08-12 14:56] lauriejim commented on #5762
I will close this issue because it's related to this topic - https://github.com/strapi/strapi/issues/6292
You already have data created, you switch required to true and the constrain doesn't match the data created.

[2020-08-12 14:56] #5762 closed

[2020-08-12 15:40] derrickmehaffy commented on #7412
Thank you @fellz I will try and test this again today, Just for reference so I can try to build an environment as close to yours as possible. Are you working on a hosted server/locally and what type of SMTP email server are you using?

[2020-08-12 15:43] zernonia commented on #5751
I'm using strapi "3.1.3" and still facing the similar issue. POST with the same api endpoint has no trouble, but with PUT.

PUT https://mysite.my/profiles/5f3406b23721b5290973e33f
[code]

[2020-08-12 15:52] derrickmehaffy commented on #7434
@alexandrebodin correct me if I'm wrong but this isn't currently possible due to how components are handled in the backend right? This would be a feature request?

[2020-08-12 15:56] derrickmehaffy commented on #7437
@heri16 can you make a pull request for this?

[2020-08-12 15:56] drj17 commented on #5995
The issue is that the `qs` library which is used by strapi has a default arrayLimit of 20.  Anything over that and it gets converted to an object.

I've added a PR to fix this issue by adding a customizable setting, but if you need a quick fix you can do this in the meantime:

note: According to the docs you can override the middlewares by adding one with the same name, but I couldn't get that to

[2020-08-12 16:07] airhead-dom commented on #2937
hi is there any update on the scrolling issue

[2020-08-12 16:43] EAdeveloper opened #7446 "Rename the users-permissions tables to conform the GraphQL and SQL naming standard."
<!--
Hello 👋 Strapi  team,

Please rename the following tables to conform the GraphQL and SQL naming standard.

1. **users-permissions_permission** should be rename to **users_permissions_permission**
2. **users-permissions_role** should be rename to **users_permissions_role**
2. **users-permissions_user** should be rename to **users_permissions_user**

![image](https://user-images.githubuserconte

[2020-08-12 16:44] alexandrebodin commented on #7446
Hello This issue does not follow the issue templates and cannot be triaged. Please update the issue description so we reopen it

[2020-08-12 16:44] #7446 closed

[2020-08-12 16:54] EAdeveloper opened #7447 "Rename the users-permissions tables to conform the GraphQL and SQL naming standard."
Hello 👋 Strapi  team,

Please rename the following tables to conform the GraphQL and SQL naming standard.

1. **users-permissions_permission** should be rename to **users_permissions_permission**
2. **users-permissions_role** should be rename to **users_permissions_role**
2. **users-permissions_user** should be rename to **users_permissions_user**

![image](https://user-images.githubusercontent.co

[2020-08-12 16:59] derrickmehaffy commented on #7439
Most of this from what I understand is related to the fonts being used so I'm not sure how easily we can decrease this especially since we need to use specific fonts for certain languages (Russian comes to mind).

[2020-08-12 17:07] derrickmehaffy commented on #5751
@zernonia can you open up a github discussion so we can talk about your specific usecase. Thank you!

[2020-08-12 17:09] derrickmehaffy commented on #7446
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-08-12 17:11] derrickmehaffy commented on #7447
Duplicate of: https://github.com/strapi/strapi/issues/7446

@EAdeveloper please follow our bug report template.

[2020-08-12 17:11] #7447 closed

[2020-08-12 17:50] alexandrebodin commented on #7434
Yes this isn't possible. components are separate in the db an have relation to their parent content types. There wouldn't be a good way to make the uid unique on the content type level inside a component. I don't think there is any way we will do that with component. I think we will need to introduce a new kind of fields (e.g nestedFields, that will have a component strucutre but be set inside the

[2020-08-12 18:02] cmosboss commented on #5297
Just incase anyone is wondering, for EXPO and React Native you can indeed upload images to STRAPI although it requires a few key ingredients that are hard to find online.
`const uri = 'localfileURI';
const CMSEndpoint = 'https://localhost:1337';
const formData = new FormData();
formData.append(
  'files',
  { uri, name: 'image.jpg', type: 'image/jpeg' },
);

try {
  const response = await axios

[2020-08-12 18:31] fellz commented on #7412
I try to send from local machine. I use smtp.yandex.ru and 25 port and then provide username ( wich is email that i registered at yandex.ru) and password. I guess gmail.com also will work.

[2020-08-12 20:07] herrbischoff commented on #7177
This is very similar to my planned use case.

I'm looking to replace an aging CMS using a separate frontend which consumes a public API. The API could be provided by Strapi. Multiple people are going to edit content and there is simply no need to see who's edited what. Additionally, it's simply careless to disclose more information than is necessary. This could also lead to GDPR and confidentialit

[2020-08-12 20:38] umutbozdag opened #7448 "Wrong route redirection when 'Configure the view' button is pressed"
**Describe the bug**
When i click 'Configure the view' button it redirects me to the wrong collection type view settings. But when i change the url manually i can view the desired page

You can see more in here:

![screen-capture-_6_ (1)](https://user-images.githubusercontent.com/43722871/90065366-d90f2200-dcf4-11ea-9327-bdb7c651a831.gif)
**Expected behavior**
Seeing the desired content type view

[2020-08-12 21:01] #6725 closed

[2020-08-12 21:11] derrickmehaffy commented on #7448
@soupette @HichamELBSI related to the other bug or is this already fixed just pending 3.1.4 release?

[2020-08-13 05:27] aksdevac commented on #7439
main js file has fonts? anyways we only want EN support, if we can pass option for this at build time it would be great.

[2020-08-13 07:16] #7141 closed

[2020-08-13 07:46] MartinMuzatko commented on #5995
wow! good catch!
I just wonder why different types of formats are wanted here either way, if they cannot be processed properly.
In this case, I would set it to `Infinity`. Unless there is a good use case for having two formats.

[2020-08-13 08:02] petersg83 commented on #7325
Duplicate of #7232

[2020-08-13 08:07] petersg83 commented on #7405
Hi, thanks for the issue!
I don't think it's solved, it may be a regression. I'll look into it as soon as I can :)

[2020-08-13 08:09] qunabu commented on #7405
@petersg83 If you think my proposed solutions looks fine I can create a MR.

[2020-08-13 09:18] lauriejim commented on #7376
Thank you for these details, I'm closing this issue.
Not related to Strapi itself.
Have a good day.

[2020-08-13 09:18] #7376 closed

[2020-08-13 09:20] lauriejim commented on #4808
Hello @abdonrd , we are not working on that topic right now.
And it's not a prio for us now so I don't know when or if we will work on it.

[2020-08-13 09:22] lauriejim commented on #4498
Yes that's it. The admin design/UX can't manage more than 2 levels. But the code (manage the content through the API) has no limit in terms of deep structure.

[2020-08-13 09:24] petersg83 commented on #7405
Yes that would be nice, thank you :) I'll take a look at it probably next week

[2020-08-13 09:36] lauriejim commented on #7399
Thank you for reporting it. Really happy to see you created a PR to fix that.
We will review it as soon as possible.
Have a good day.

[2020-08-13 09:45] lauriejim commented on #7377
And you will find here video resources:
https://www.youtube.com/watch?v=HHnRsZwFmR8&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=21&t=0s
https://www.youtube.com/watch?v=Qd-xpaT0c48&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=26&t=0s

And here the documentation to deploy your app on Heroku:
https://strapi.io/documentation/v3.x/deployment/heroku.html

All these resources should help you.

[2020-08-13 09:45] #7377 closed

[2020-08-13 09:45] lauriejim commented on #7361
Thanks for referencing this issue, you are right.

[2020-08-13 09:48] MakingStuffs commented on #7160
@alexandrebodin Ok any idea why this might have happened? I have only ever deleted media through the UI. When you say run a cleanup can you elaborate a bit please? Thanks mate :)

[2020-08-13 10:32] MakeBasic commented on #7448
have the same problem

[2020-08-13 11:07] jsjohann opened #7454 "Unable to access array fields of a component in a dynamic zone"
**Describe the bug**
We have got a single type `Home` with a dynamic zone field `Content` where it is possible to add custom components like displaying several `projects` (set up as a relation). These projects do have some array fields like `MetaData`, `MetaTags` or `TeaserImages` (see first screenshot), but these are not showing in the response for the `Home` query (see second screenshot).

**Exp

[2020-08-13 12:06] HichamELBSI commented on #7448
@umutbozdag @derrickmehaffy This one is already fixed for the 3.1.4

[2020-08-13 12:17] lauriejim commented on #7415
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

Second thing, please check existing issues

[2020-08-13 12:17] #7415 closed

[2020-08-13 12:59] christophemacabiau commented on #6586
This becomes necessary...

_Apps that use a third-party or social login service (such as Facebook Login, Google Sign-In, Sign in with Twitter, Sign In with LinkedIn, Login with Amazon, or WeChat Login) to set up or authenticate the user’s primary account with the app must also offer Sign in with Apple as an equivalent option._
https://developer.apple.com/app-store/review/guidelines/#sign-in-with-a

[2020-08-13 13:19] lauriejim commented on #6279
This has been fixed, you can't set `id` anymore.

[2020-08-13 13:19] #6279 closed

[2020-08-13 13:24] #6421 closed

[2020-08-13 13:31] derrickmehaffy commented on #7393
hi @txbrown I've tested this on the current latest release (v3.1.3) and could not reproduce it:
![image](https://user-images.githubusercontent.com/8593673/90140423-98cc9580-dd2e-11ea-99a7-6d6969161ad2.png)

[2020-08-13 13:32] lauriejim commented on #6488
Thank you for all these details! I really appreciate the app and steps to reproduce.
Really clear.

[2020-08-13 13:37] lauriejim commented on #6511
Hello here is a discussion about that topic - https://github.com/strapi/strapi/issues/5560

[2020-08-13 13:37] #6511 closed

[2020-08-13 13:38] #6538 closed

[2020-08-13 13:40] lauriejim commented on #6613
I don't know, sounds good if it works now.
I'm closing this issue.

[2020-08-13 13:40] #6613 closed

[2020-08-13 13:40] LuisOsta commented on #4498
@lauriejim So if I wanted to create a component that had 2 levels deep of repeatable groups would making a custom UI element solve that problem? I want it to be something a non-technical person could use.

[2020-08-13 13:41] #6638 closed

[2020-08-13 13:52] lauriejim commented on #6670
Hello! I just checked with the lastest version of Strapi (3.1.3) and it has been fixed.

[2020-08-13 13:52] #6670 closed

[2020-08-13 13:54] lauriejim commented on #6682
Closing in the favor of this one - https://github.com/strapi/strapi/issues/7219
Thank you for having reported it.

[2020-08-13 13:54] #6682 closed

[2020-08-13 13:56] lauriejim commented on #6710
I think we can now close this issue.

[2020-08-13 13:56] #6710 closed

[2020-08-13 14:00] #6749 closed

[2020-08-13 14:01] #6767 closed

[2020-08-13 14:04] yaroslavyal opened #7455 "Mark select input as not editable has no effect on update existed entity"
**Describe the bug**

I have a collection with the field of the Relation type. After upgrading to the latest version, disabling relational fields no more works.

**Steps to reproduce the behavior**

1. Create two collections
2. Add a relational type field to one of the collections.
3. Save the new record to the collection with the relational field.
3. Go to 'Configure the view' in Content-Manager

[2020-08-13 14:06] lauriejim commented on #6783
Hello!
Why do you want to change the data format that manages Strapi?
I'm closing this issue, Strapi will not be able to manage another format, so please keep the default one.
Thank you and have a good day.

[2020-08-13 14:06] #6783 closed

[2020-08-13 14:10] lauriejim commented on #6868
Hello! Thank you for reporting this issue,
can you please give us a the file to reproduce the issue and be able to fix it.
Thank you :)

[2020-08-13 14:14] lauriejim commented on #6874
Hum that's really weird...
thank you for the fix, I'm closing the issue.

[2020-08-13 14:14] #6874 closed

[2020-08-13 14:17] #6878 closed

[2020-08-13 14:55] lauriejim commented on #6883
Thank you for reporting this.
Related issue: https://github.com/strapi/strapi/issues/4630

@alexandrebodin @soupette The fact that we set `autoPopulate: false` affect every query even from the admin panel.
Do we have to do an exception here?

[2020-08-13 15:08] lauriejim commented on #6901
Hello! The guide says:
[code]

In your code you are not using `throw(error);` but `throw new Error("This error should be sent to sentry");`

If you call the correct function like this `throw("This error should be sent to sentry");` it will work.

[2020-08-13 15:08] #6901 closed

[2020-08-13 15:12] lauriejim commented on #6905
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-13 15:12] #6905 closed

[2020-08-13 15:30] lauriejim commented on #6908
Hello! I just created a new project using the last version of Strapi (3.1.3),
and executed your request and it worked well.
Same on MongoDB - please make sure you are using the last version of Strapi 3.1.3 at least.
Thank you.

[2020-08-13 15:30] #6908 closed

[2020-08-13 15:37] #6928 closed

[2020-08-13 15:55] lauriejim commented on #6931
Hello! I just tried with the latest version of Strapi `3.1.3` and everything is working well.
Can you please upgrade your project and see if it works.
I will close since it's working on the latest version.
I will open it again if the upgrade doesn't fix your stuff.

[2020-08-13 15:55] #6931 closed

[2020-08-13 16:58] dneckel commented on #2699
I tried the solution provided by **jaime8111** and **maxoyed**. It pointed me in the right direction however I ran into a Knex error:
`Error: ER_UNKNOWN_CHARACTER_SET: Unknown character set: 'utf8mb4_unicode_ci'`

I had a table creation pending and the server was not able to start back up.

In order to get it back to work i had to set the charset to:
`"charset": "utf8mb4"`

After I manually change

[2020-08-13 18:15] CharlieGreenman opened #7456 "Search ignoring category filtered by - bug report"
**Describe the bug**
When using the search api(`_q`) and filtering by category, the search API, will ignore category filtered by. Ideally it should search based on category filtered by.

**Steps to reproduce the behavior**
For this one, please do reference code below. Search + filter by category.

**Expected behavior**
When searching + filtering by category name, it should search based on category

[2020-08-13 19:00] iCianan opened #7457 "Quickstart Strapi Project Fails - "Cannot find module './_baseHas'""
**Describe the bug**
Following the quickstart guide the following command results in an error:
npx create-strapi-app my-project --quickstart

**Steps to reproduce the behavior**

1. Open a terminal
2. Enter the command: npx create-strapi-app my-project --quickstart

**Expected behavior**
Strapi starts and admin gui is reachable

**Screenshots**
![fail](https://user-images.githubusercontent.com/351

[2020-08-13 19:10] wesselvanderlinden opened #7458 "Can't edit an asset from SELECT section when it's not loaded in the BROWSE section"
**Describe the bug**
When I try to edit an already uploaded file from within the "selected assets" view, I get a JS error indicating it can't find my selected file.

**Steps to reproduce the behavior**

1. Go to a content type with a "multiple media" field
2. Click on the "+" icon to "add a new file"
3. Click on the "selected" tab
4. Click on the edit icon of a selected image

**Expected behavior*

[2020-08-13 21:04] CharlieGreenman commented on #7456
Closing this, as solved by upgrading to latest version of strapi

[2020-08-13 21:04] #7456 closed

[2020-08-13 21:34] derrickmehaffy commented on #7448
Since v3.1.4 was released today, going to mark this as closed. Thank you @HichamELBSI

[2020-08-13 21:34] #7448 closed

[2020-08-13 21:37] derrickmehaffy commented on #6749
Hello!
As we have not received any new or updated information in over 7 days we are marking this issue/discussion as closed. Should you have new information please feel free to respond and we can consider reopening it.

For others finding this closed issue and you have updated information, please open up a new bug report and simply reference this closed bug report so that we can get any new inform

[2020-08-13 21:37] derrickmehaffy commented on #6767
Hello!
As we have not received any new or updated information in over 7 days we are marking this issue/discussion as closed. Should you have new information please feel free to respond and we can consider reopening it.

For others finding this closed issue and you have updated information, please open up a new bug report and simply reference this closed bug report so that we can get any new inform

[2020-08-13 22:06] derrickmehaffy commented on #7434
@robinComa as confirmed by Alex, I would suggest you find an alternative for this use-case such as using the [model lifecycle](https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks) but you will likely want to move the title out of the component instead.

I'm going to mark this as closed as this isn't directly a bug with Strapi but simply that the feature doesn't exist with no

[2020-08-13 22:11] derrickmehaffy commented on #7454
@jsjohann I'm not sure I understand the problem here, can you please provide some more context?

[2020-08-13 22:15] derrickmehaffy commented on #4498
That is the case @LuisOsta yes, during testing when you had more than 2 levels of nesting we noticed extremely bad performance and thus limited it to only 2 levels, at this point in time that is all we support.

[2020-08-13 22:19] derrickmehaffy commented on #7455
Hi @yaroslavyal I tested on the latest release today (v3.1.4) and could not reproduce the issue:

![image](https://user-images.githubusercontent.com/8593673/90192761-70698900-dd78-11ea-96c3-388929b71cf4.png)

[2020-08-13 22:22] derrickmehaffy commented on #6783
You will want to review the following guide: https://strapi.io/documentation/v3.x/guides/custom-data-response.html

And you can use something like moment.js to dynamically convert them, (which Strapi uses to convert in the backend on save/fetch anyway)

[2020-08-13 22:27] derrickmehaffy commented on #7457
@iCianan I was not able to reproduce this on my systems:
- Windows 10 (build 2004)
- Linux Mint 19.3 (Ubuntu 18.04)
- macOS Catalina

This appears to be an environment issue.

[2020-08-13 22:28] derrickmehaffy commented on #7458
Please try to run a `yarn build --clean` or `npm run build --clean` as I was not able to reproduce on v3.1.4 on Linux Mint 19.3

[2020-08-13 23:02] wesselvanderlinden commented on #7458
That doesn't work for me unfortunately.

I think it has to do with the images loaded in the "browse" tab. If a selected image is not in there, the edit button will break.

[2020-08-13 23:30] malaDev commented on #4455
@lauriejim why this issue has been closed? many people still encountering this.

anyone has some insights?

[2020-08-14 03:08] hoangcd92 commented on #6882
Hi @devskope , I am experiencing the same error. Could you please tell me how do you resolve this issue?

[2020-08-14 06:24] yaroslavyal commented on #7455
Hi @derrickmehaffy ,  I've upgraded to the v3.1.4 and able to reproduce the bug. The disabling relational field works properly on creating a new entry. But after that when I go to update a saved entry, the relational field is not disabled.
I think this [condition](https://github.com/strapi/strapi/blob/331b73801f7e8fc3e4747b39aa1295f1964448ef/packages/strapi-plugin-content-manager/admin/src/compone

[2020-08-14 06:46] alexandrebodin commented on #7434
Actually I'm going to reopen as I think I misread the post. As long as the uid field is declared at the root of the content-type I think we could pretty easily allow the targetAttribute to be a component field.  @derrickmehaffy this should be made a feature request :)

[2020-08-14 06:51] laurenskling commented on #6725
Thanks @tudorilisoi  :)

[2020-08-14 07:21] iCianan commented on #7457
Seems to be a problem with yarn. Wouldnt install all the dependencies for some reason.  Updating to node 14.x and using npm install and now strapi is starting as expected.

[2020-08-14 07:21] #7457 closed

[2020-08-14 07:51] devskope commented on #6882
@hoangcd92    I had to drop all the documents in the db.  Somehow the relationship between some # documents got messed up.

[2020-08-14 08:06] hoangcd92 commented on #6882
In my case it's because I added Relation in the content-type after create some documents.
In these documents, the data in that relation field is empty, instead [ ].
I just need to insert [ ] to all of these missing documents, and the error is resolved.

[2020-08-14 08:15] lauriejim commented on #7034
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-14 08:15] #7034 closed

[2020-08-14 08:24] jsjohann commented on #7454
@derrickmehaffy We use the single type `home` for our landing page. The content of this page is organized as a dynamic zone to display several components. One of these components is for displaying references to some of our projects. So, this component basically is a relation to a certain project. If we now send a http request from our frontend to Strapi to fetch these components of the dynamic zon

[2020-08-14 08:34] fellz commented on #7412
So any thoughts ? @derrickmehaffy @alexandrebodin ?

[2020-08-14 08:49] fellz opened #7468 "Unable to get secretToken in new 3.1.4."
**Describe the bug**
I am trying to login to admin panel `http://localhost:1337/admin/auth/login` after updating to 3.1.4 and get error
**Error: secretOrPrivateKey must have a value**
`\node_modules\jsonwebtoken\sign.js:107:20)`

I do have a key in `/extensions/user-permissions/config/jwt.js`

**Steps to reproduce the behavior**

1. changed version of the packages to 3.1.4 in packages.json
2. dele

[2020-08-14 09:00] tudorilisoi commented on #7121
@cube-dan can you share your model, please?

[2020-08-14 09:21] alexandrebodin commented on #7468
Hello, It seems you didn't follow the migration guide. You need to add a config var :)
https://strapi.io/documentation/v3.x/migration-guide/migration-guide-3.0.x-to-3.1.x.html

[2020-08-14 09:21] #7468 closed

[2020-08-14 09:28] lauriejim commented on #6935
Hello! do you have the same issue when your app is running locally by uploading your 20 images?

[2020-08-14 09:42] lauriejim commented on #6943
Thank you for reporting this issue.
That's weird because we are using `(js|json)` in the regexp to load files so 🤔
Ping @alexandrebodin

[2020-08-14 10:04] lauriejim commented on #6964
This issue already exists, please browse the list of opened or closed issues before posting an issue.
Please check https://github.com/strapi/strapi/issues/6292

[2020-08-14 10:16] lauriejim commented on #7027
@Jassu225 I will close the `MatthewSbar` issue because of no answer base on `Soupette` question.
Can you please open a new one with all information and step to reproduce, please.
This will be easier to help you.
Thank you.

[2020-08-14 10:16] #7027 closed

[2020-08-14 10:17] lauriejim commented on #7080
Hello! Witch starter are you talking about.
We need more information to reproduce and help you.
Thank you.

[2020-08-14 10:18] #6964 closed

[2020-08-14 10:18] lauriejim commented on #7094
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-14 10:18] #7094 closed

[2020-08-14 10:21] lauriejim commented on #7119
Hello! I'm closing this issue because it's a duplicate of your own issue there - https://github.com/strapi/strapi/issues/5759

[2020-08-14 10:21] #7119 closed

[2020-08-14 10:26] lauriejim commented on #7148
Hello I'm closing this issue because it's the same as this one - https://github.com/strapi/strapi/issues/5479

[2020-08-14 10:26] #7148 closed

[2020-08-14 10:27] lauriejim commented on #7149
Hello! In your screenshot, I can see `datetime` so it's correct no?

[2020-08-14 10:28] lauriejim commented on #7152
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-08-14 10:28] #7152 closed

[2020-08-14 10:28] mitselek commented on #3839
different part of system, but problem is same - extra stringify somewhere:

`/srv/strapi/strapi-development# strapi configuration:dump`

results in "value" being stringified before assigning:

```[{"key":"plugin_content_manager_configuration_components::credentials.credentials","value":"{\"uid\":\"credentials.credentials\",\"isComponent\":true,\"settings\":{\"bulkable\":true,\"filterable\":true,\"

[2020-08-14 10:38] lauriejim commented on #7240
Do you have any error on your server-side?
Quite hard to help on this one...

[2020-08-14 10:41] #7273 closed

[2020-08-14 10:42] #7287 closed

[2020-08-14 10:51] MaffooBristol commented on #1105
I was trying to rebuild something from months ago which I clearly built using Node 10 or so, and then tried to run it with Node 14. Got this issue, downgraded to Node 10 and it's fine.

Could probably be sorted by reinstalling the node modules- for me this wasn't possible due to my actual issue being a package deleted from npm. But it might be of use to people scouring the issue queues.

[2020-08-14 11:38] ArneOb commented on #3690
Obviously there is a command somewhere, that tries to start any
xxxx.js
instead of
node xxxx.js
Thus the windows scripting host (WSH) tries to interprete it instead of nodejs.

[2020-08-14 12:12] adi90i7 commented on #7149
There's a hyphen in between.. it should be `date-time` instead of `datetime` according to openAPI standards.

[2020-08-14 12:27] adriatic commented on #5759
Hi Jim - I repeated the same issue because I wanted to make the point how this is really easy to fix and the bug is annoying to all newcomers - potential customers you would like to retain, not to send away :-) Hope you take this message for what it is meant to - benevolent remark.

[2020-08-14 12:34] alexandrebodin commented on #6943
hum maybe the char is removed with somehow in the parsing phase. Will have a look

[2020-08-14 12:37] lauriejim commented on #7435
Hello! Can you please provide an application with your data structure, it will be easier to debug.
Thank you.

[2020-08-14 12:38] alexandrebodin commented on #6943
Ok so path.extname('plugins.js~') is equal to path.extname('plugins.js'). this means we parse both files to the same plugins key and the ~ is overridding the main one.

[2020-08-14 13:39] XuluWarrior commented on #6901
@lauriejim Did you try raising a string exception?
Yes, in the example given the `sentry` middleware will receive an error.  But only because the `boom` middleware raises an `assert` error due to a string being thrown rather than an `Error`

[code]

I have created a branch which demonstrates using your proposed code
https://github.com/XuluWarrior/strapi-sentry-error/tree/string-error

[2020-08-14 13:43] derrickmehaffy commented on #5759
Can you submit a PR please?

[2020-08-14 13:45] lauriejim commented on #1762
Changed to feature request because we stoped the support of it.

[2020-08-14 13:54] lauriejim commented on #5995
Thank you so much for that 🚀

[2020-08-14 14:06] alfieqashwa opened #7477 "Authentication in Strapi using next-auth library"
How to create authentication using [next-auth](https://www.npmjs.com/package/next-auth) library?

I've been asking to the creator of next-auth Mr. @iaincollins and he was referencing me there some people were asking the similar questions. [#574](https://github.com/nextauthjs/next-auth/issues/574#issuecomment-673404573)

I think that would be good idea if you guys collaborate with. I love Strapi. I

[2020-08-14 14:09] XuluWarrior commented on #6863
I've created the PR.  Apologies for the delay.

[2020-08-14 14:25] MattieBelt commented on #7477
Hey @alfieqashwa, FYI:

Yesterday @ghoshnirmalya offered to provide the [strapi/community-content](https://github.com/strapi/community-content) with an article/tutorial about autehntication with Next.js [#123](https://github.com/strapi/community-content/issues/123).

[2020-08-14 14:27] derrickmehaffy commented on #7477
As I'm not largely familiar with the next-auth lib, was there something specific that is needed from us @alfieqashwa ?

(Thanks @MattieBelt I was gonna link that also and you beat me to it :laughing: )

[2020-08-14 14:33] iaincollins commented on #7477
@alfieqashwa Thanks for raising this!

@MattieBelt Oh that's great news! For context we have a bunch of folk ask about how to integrate NextAuth.js with Strapi which I think is entirely possible, but I'm not familiar with Strapi so haven't been able to help.

I really appreciate the input and issues @ghoshnirmalya has helped out with on NextAuth.js.

[2020-08-14 14:48] nemo369 commented on #3797
@centogram THNAK you so much

[2020-08-14 15:16] alfieqashwa commented on #7477
Hey guys. I'm so happy and can't wait for the [tutorial](https://github.com/strapi/community-content/issues/123#issuecomment-673627571).

Thank you @MattieBelt @derrickmehaffy @iaincollins @ghoshnirmalya for this good news.

[2020-08-14 16:12] adriatic commented on #5759
@derrickmehaffy I know that your polite offer had a [schadenfreude](https://en.wikipedia.org/wiki/Schadenfreude) component present. Nevertheless, I will not be afraid to restate my opinion "easy to fix:" was poorly chosen. I made this conclusion based on Jim's comment that this feature works fine on macOS; so I thought that the problem was in some os-dependency check for the `quickstart` flag.

Al

[2020-08-14 17:43] martinditzel opened #7480 "500 Error cannot create admin after successful deployment (Heroku, PostgreSQL)"
**Describe the bug**
After deploying my app successfully to Heroku, I cannot register a new admin & receive a 500 error (slug: '/admin/auth/register-admin'). This issue appears only after deploying (no admin issues in local development).

**Steps I took to fix it**
1. Given that I use the Heroku Postgres addon, I reset the addon & installed + configured a new db.
2. I followed the migration guide

[2020-08-14 18:39] psikoi opened #7481 "Incorrect code comment on users-permission register controller."
**Describe the bug**
Nothing major, this is probably a typo or an outdated code comment:

[code]

Link to snippet: https://github.com/strapi/strapi/blob/331b73801f7e8fc3e4747b39aa1295f1964448ef/packages/strapi-plugin-users-permissions/controllers/Auth.js#L415

As you can see, the comment says **two times**, while the error message AND the `isHashed` function say **three** is the correct amount.

T

[2020-08-14 20:05] derrickmehaffy commented on #5759
Hi! Nope there was no `schadenfreude component` from me, I thought you found the cause.

For the moment since this is a limited scoped issue isolated to just windows users, and only on an initial `--quickstart` run and not with the standard project generation (database) we have deemed the issue to be a low priority, and it's a good issue for newer contributors to learn the code base and basic code

[2020-08-14 20:25] adriatic commented on #5759
Sorry for misjudging your intent and please do not take me wrong - I understand the size of the team versus the size of the see of tasks in front of your team issue. I may try to address this problem, while I also have a huge task in front of me, task which if successful should mean more for Strapi (see **[full-stack-conversations/docs/README.md](https://github.com/full-stack-conversations/docs#do

[2020-08-14 23:40] LuisOsta commented on #4498
@derrickmehaffy Do you have any recommendations or resources I could look into on how to possibly restructure the data model? Also, would it be possible to have a repeatable group of dynamic zones? (I know that y'all get a ton of feature requests so I don't want to be that guy, I really love Strapi and the work y'all do).

[2020-08-15 08:44] #7358 closed

[2020-08-15 09:00] lauriejim commented on #7393
Hello, I also tried on my side and everything is working fine using a fresh new app with 3.1.3 version of Strapi.
Your issue is probably related to this one - https://github.com/strapi/strapi/issues/6292
I'm closing the issue for now.

[2020-08-15 09:00] #7393 closed

[2020-08-15 09:22] lauriejim commented on #7412
Hello! Can you please check your Strapi version `1.3.06` is not matching the current version of Strapi witch is `3.1.3`.
Then I just tried the email confirmation feature and it works fine.
Here is what I did : https://www.loom.com/share/5b7bca29b0164141ab2193244408c2a8
I used another provider to make sure "the feature" works. So your issue can come from the provider (which is not managed by us, th

[2020-08-15 09:22] #7412 closed

[2020-08-15 09:31] lauriejim commented on #7419
Here is also a video about the process to work on the admin and backend deployment in 2 different servers.
This will also help to understand the process.
https://www.youtube.com/watch?v=cokPsdyFpTU&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=2&t=0s

[2020-08-15 09:31] #7419 closed

[2020-08-15 09:50] lauriejim commented on #7454
Ho okay, I got it.
By default, Strapi gets data only with 2 levels of relations.
Here, in your case, your dynamic zone, and then your projects.

Can you please share your data structure to let us reproduce and make sure that's the reason.
If you want more data, you will have to customize the `population` attribute.
Here is a video about how to do that: https://www.youtube.com/watch?v=VBNjCgUokLk&l

[2020-08-15 09:58] lauriejim commented on #7455
Hello! Thank you for these details.
I confirm the issue is on the edit not on the create action.
Ping @soupette.
Can you please make sure the code you highlighted is the right one and submit a PR to fix this issue. Thank you.

[2020-08-15 10:08] lauriejim commented on #7458
Hello did I miss something?
Here is the video of what is did and it's working fine.
https://www.loom.com/share/17d9274537bb4de1849f6c4a5bd971b7

[2020-08-15 10:09] #7477 closed

[2020-08-15 10:15] lauriejim commented on #7481
Thank you, can you please submit a PR to update this comment.
Thank you.

[2020-08-15 10:22] lauriejim commented on #7480
Hello! Can you try with a fresh new project, just to make sure it comes from the migration of your app.
Thank you.

[2020-08-15 12:26] XuluWarrior commented on #7437
@derrickmehaffy
I created a PR for this (#7479) as it was bothering me too ;)

[2020-08-15 16:12] psikoi commented on #7481
Will do.

[2020-08-15 16:33] fellz commented on #7412
Solution! I was using wrong url to register users `/users`. Correct url is `auth/local/register`.  It's strange that there are two ways to register a user.

[2020-08-15 19:05] NicoHood opened #7484 "Crash when renaming case sensitive fields"
**Describe the bug**
The server crashs when you try to rename "Name" to "name" for example.

**Steps to reproduce the behavior**

1. Install strapi quickstart as described in the docs
2. Follow the tutorial BUT type "Name" instead of name" in step 3
3. Continue with step 4 (might not be required)
4. Try to rename "Name" to "name"

**Expected behavior**
The server restarts and the rename was succes

[2020-08-15 20:28] ningacoding opened #7485 "error MissingSchemaError: Schema hasn't been registered for model "inventory"."
**Describe the bug**
We have an **Inventory** model, the Strapi Admin Panel lists successfully the collection data (see screenshots), but when adding a custom code into controller using `strapi.services.inventory.find()`, Strapi throwing  error MissingSchemaError: Schema hasn't been registered for model "inventory".

**Steps to reproduce the behavior**
1. create a Model - Content Type "Inventory"

[2020-08-15 21:17] robinsimonklein commented on #7232
Hi everyone ! I had the same problem.
When I added new fields in a collection type from the "Content-Types Builder", those fields were hidden for the users with the role "Editor" or "Author".
<img width="1024" alt="Capture d’écran 2020-08-15 à 23 05 03" src="https://user-images.githubusercontent.com/36634414/90321655-f8ec5300-df4b-11ea-8360-cdfcbf00d6f2.png">

After looking, I noticed that the che

[2020-08-15 21:31] VukMNE commented on #5548
Are there any news about this? Is there a way to workaround this problem?

[2020-08-16 01:34] wesselvanderlinden commented on #7458
Here is a video to show how you can reproduce it: https://streamable.com/97dy0f
Note that the image I select to edit in the "Selected" tab is not loaded in the "Browse" tab

[2020-08-16 09:14] NicoHood opened #7488 "Author and Editor Role has no access to collections"
**Describe the bug**
Hi,
I wanted to try out the roles and permission feature of the strapi community edition. But that does not seem to work.

**Steps to reproduce the behavior**

1. Add a new User
2. Set his role to Author (or Editor)
3. Login with this user
4. The user does not see any collection, but he can upload media. In editor mode he also sees media from other users.

**Expected behavior*

[2020-08-16 10:02] cenap commented on #4996
When I do that I am getting:
`MissingSchemaError: Schema hasn't been registered for model "level"`

[2020-08-16 10:32] fellz opened #7489 "BadRequest 400 (invalid token) when login with provider (google)"
**Describe the bug**
When i use login with provider ( google) i got 400 error BadRequest, invalid token

**Steps to reproduce the behavior**
I follow this guide https://strapi.io/documentation/v3.x/plugins/users-permissions.html#providers

1. Created page loginprovider /loginprovider
2. Put there link to http://localhost:1337/connect/google
3. Created redirect URL to front-end app ->  `http://loca

[2020-08-16 15:08] fellz commented on #7489
The problem in **grant, purest, request** packages. It makes request to `https://accounts.google.com/o/oauth2/tokeninfo` with query string `?access_token=dfg...` but google doesn't accept `access_token` - correct query `?id_token=dfg...`.

[2020-08-16 15:13] abdonrd commented on #5182
There are no news here, right?

[2020-08-16 17:50] thisispete commented on #6877
thanks. I also didn't know content type modeling wasn't supported on production, everything probably was working on 14 after I installed those extra packages, I was expecting it to look the same as my localhost, but now I see that isn't expected behavior.. just set my engine to "node": "12.18.3" and it builds without warnings.

[2020-08-16 18:59] chihab commented on #5877
Make sure you're not already running something on 8000 (Gatsby).

[2020-08-16 19:44] ssuvorov opened #7491 "[Bug] GET users/me doesn't return avatar"
**Describe the bug**
After using **POST /upload**
[code]
the response is the following: **(avatar is null! I don't know why)**
[code]

**GET /users/:id** - returns avatar. This works fine. So if I request `/users/46` - avatar is an object.

**Current behavior**
**GET /users/me** - returns avatar: **null**

**Expected behavior**
**GET /users/me** - returns avatar: {object}

In Strapi admin, when I

[2020-08-16 20:54] fjkiani opened #7493 "Reset password and username"
**Describe the bug**
Hi there,

I keep receiving an "Invalid Credentials" message when the credentials I am using are correct. When I click "reset password", a reset link is never sent to me either.

Can someone please help on how I can reset these credentials?

**Steps to reproduce the behavior**

1. Go to https://strapi-mongodb-database.herokuapp.com/admin/auth/login
2. Click on username and pas

[2020-08-17 03:22] BrunoApparecido opened #7494 "Unit testing error: EBUSY: resource busy or locked, unlink"
**Describe the bug**
I running test and throwing this error: "EBUSY: resource busy or locked, unlink"

**Steps to reproduce the behavior**

1. npx create-strapi-app test-app
2. Configurate testing (https://strapi.io/documentation/v3.x/guides/unit-testing.html)
3. npm test
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/13833928/90354263-2c4be200-e01f-11ea-863b-f356

[2020-08-17 07:22] andrewchmr opened #7498 "Can't update content with date field"
**Describe the bug**

When I try editing existing content that has date field, then I can't save it because of validation error in date field (however it was not changed).

**Steps to reproduce the behavior**

Eg. from https://github.com/strapi/strapi-starter-next-blog

1. Go to admin panel
2. Choose one of the existing articles
3. Start editing any field
4. Try to save it
5. See validation error

[2020-08-17 08:11] JabStrapi commented on #7232
Hi everyone, This is not properly an issue. We had to make a choice regarding the default behavior when adding a field in a content type: would it be automatically included in the default roles' permissions set or not....?  We decided it would not and that the permissions would have to be updated each time the content model to manage would evolve (the opposite choice would have come with the same

[2020-08-17 08:23] madarche commented on #7206
@petersg83 I've finished to investigate and test, and Strapi **actually does work with any custom authentication provider**, even if it is not a *Grant* predefined provider.

I have updated https://github.com/madarche/my-project to document this for all interested parties.

The less obvious part was to totally define the *Grant* config as it is not an existing predefined *Grant* config:
https://gi

[2020-08-17 08:36] robinsimonklein commented on #7232
Ok, that makes sense. Thank you for the clarification ! 🙌

[2020-08-17 09:07] jsjohann commented on #7454
Thanks for your response!

The model of the homepage/landing page is like that:
![image](https://user-images.githubusercontent.com/3832460/90377977-14a14780-e079-11ea-9a0d-f94f277b6fd7.png)

A component looks like that:
![image](https://user-images.githubusercontent.com/3832460/90378304-7792de80-e079-11ea-9ad3-5b8cc1082635.png)

And the project type is defined like this:
![image](https://user-imag

[2020-08-17 10:31] NegativeIQ commented on #6960
Sorry for not clarifying problem a bit more. After double checking, indeed, strapi does show error in log, but it is kind of buried in the log. If your sql server is down, you have wrong credentials or server just refuses connection, strapi will return error, and then fail to start. Last thing you see on screen is NPM error:

`npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! moviex@0.1.0 start:

[2020-08-17 13:10] lauriejim commented on #7149
OKay thank you for this detail.
Can you please have a look at how the plugin works and submit a PR to fix it.
I will be happy if you can help on this issue.
Thank you.

[2020-08-17 13:31] lauriejim commented on #7412
One it to `create` a user, the other is to `register` a user.
It's not the same action.

[2020-08-17 13:32] lauriejim commented on #7484
Hello! I'm closing this issue.
It's related to this big, massive topic - https://github.com/strapi/strapi/issues/1114

[2020-08-17 13:32] #7484 closed

[2020-08-17 13:34] lauriejim commented on #7485
Hello! did you follow each migration guides one by one?

[2020-08-17 13:52] lauriejim commented on #7458
Can you confirm that this image is still in your media lib? Just not in the first page.

[2020-08-17 14:00] catalinaII commented on #7158
I've the same issue and I'm using this version for sqlite "sqlite3": "^4.2.0" in package.json

[2020-08-17 14:01] ningacoding commented on #7485
yes

[2020-08-17 14:32] derrickmehaffy commented on #7488
Hi @NicoHood

The default action when a new content-type is added is to not add permissions to the the Author or Editor roles (as a side point we will likely be renaming the `users-permissions` plugin to make it a bit easier to understand the difference between it and the Admin RBAC or Role Based Access Control).

If you navigate into the Settings => Roles => Author/Editor => Collection-Types, you

[2020-08-17 14:32] #7488 closed

[2020-08-17 15:03] NicoHood commented on #7484
Oh that is a bummer that the bug already exists 2 years and is not planned to get fixed :-(

[2020-08-17 15:58] derrickmehaffy commented on #5182
Hi @abdonrd not currently no this is something we will be looking into with the new database backend review for v4.

[2020-08-17 16:23] derrickmehaffy commented on #3839
Hello @mitselek !

Can you please create a new GitHub issue by using the GitHub issue template, providing all required information.

Your issue looks related to that topic but it's an old one. Using another thread (GitHub issue) will be able to manage your case.

Thank you and have a good day.

[2020-08-17 16:24] derrickmehaffy commented on #7240
Indeed @proloyhcs we need more information to be able to reproduce the issue and assist you here.

[2020-08-17 16:51] derrickmehaffy commented on #5548
Hi @VukMNE please open up a new discussion thread so we can properly help you with your specific environment.

[2020-08-17 16:52] derrickmehaffy commented on #4996
Hello @cenap !

Can you please create a new GitHub issue by using the GitHub issue template, providing all required information.

Your issue looks related to that topic but it's an old one. Using another thread (GitHub issue) will be able to manage your case.

Thank you and have a good day.

[2020-08-17 16:56] derrickmehaffy commented on #7489
The `access_token` should be sent to your frontend which then relays that back to Strapi to make the request. We have updated our `login-react` example here: https://github.com/strapi/strapi-examples/tree/master/login-react

That example should provide you with a better testing environment so you can see how the 3rd party auth works.

[2020-08-17 17:01] derrickmehaffy commented on #7491
Hello!

A few things to note here
- Node v13 isn't support only "even" versions and the current Node LTS is supported (in this case v12 as v14 doesn't go LTS until October)
- You will want to update to the latest version v3.1.4 for Strapi packages to use the below suggestion.

By default only the `role` is populated for the `/users/me` you can custom this using the [extensions system](https://stra

[2020-08-17 17:01] #7491 closed

[2020-08-17 17:01] anthify opened #7502 "Crashing in develop: strapiInstance.server.destroy is not a function"
**Describe the bug**
In develop mode when the app needs to restart, i.e. when  creating a new Content-Type the server crashes. When restarted manually the actions performed are successful.

The crash 💥
[code]

**My steps to reproduce the behavior**
1. Setup Strapi
2. Setup Docker MySQL
3. My `docker-compose.yml`
[code]
4. My `database.js`
[code]
5. Run start Docker and run `docker-compose up -d` i

[2020-08-17 17:07] derrickmehaffy commented on #7494
This appears to be an issue with windows locking interactions with the SQLite file :thinking: Can you please test this with one of the other databases?

- PostgreSQL
- MySQL
- MariaDB
- MongoDB

[2020-08-17 17:08] thisispete opened #7503 "HomePage always shows 'Create Your First Content-Type' messaging"
**Describe the bug**
When opening the admin the landing page always shows the same welcome message prompting you to create your first content-type, even if you already have content-types created

**Steps to reproduce the behavior**
open the admin page

**Expected behavior**
different messaging should be displayed here
the button to prompt creating content-types shouldn't be allowed on production e

[2020-08-17 17:11] derrickmehaffy commented on #7498
Please include all the fields when filling out a bug report on the `System`, In your case I'm guessing you are using an older version of the v3.1.x Strapi versions and this has been fixed in the more recent hotfixes.

Please update to Strapi v3.1.4 and this should resolve your issue, for now I'm marking as closed as without the proper information we cannot reproduce the issue.

[2020-08-17 17:11] #7498 closed

[2020-08-17 17:13] imkrunal commented on #7502
Having the same issue but I am using Postgres. It only happens when I try to run it with a docker. Also if I remove the volume from the `docker-compose.yml` it works.

[2020-08-17 17:18] derrickmehaffy commented on #6960
@petersg83 I believe Knex/Bookshelf provide support for relaying database errors back to the user, not sure on mongoose but is this something we could possibly add?

[2020-08-17 17:25] derrickmehaffy commented on #7485
I was unable to reproduce this. I created a beta.18 project, created the model structure, and followed the migration all the way up to v3.1.4 and didn't notice any issues.

[2020-08-17 17:30] derrickmehaffy commented on #7502
Hello, I will ping @alexandrebodin and @petersg83 about this issue.

Should this be transfered over to the Docker repo?

[2020-08-17 17:33] derrickmehaffy commented on #7493
Hello, the Strapi version you specified `Strapi version: 3.0.0-beta.19.3` is no longer supported, please update the latest stable release v3.1.4.

To see supported versions you can refer to our [Security Policy](https://github.com/strapi/strapi/security/policy)

To see migration guides to update your project you can refer to our documentation: https://strapi.io/documentation/v3.x/migration-guide/

[2020-08-17 17:33] #7493 closed

[2020-08-17 17:33] derrickmehaffy commented on #7503
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-08-17 17:54] wesselvanderlinden commented on #7458
@lauriejim yes it is, but on the third page in the "Browse" tab

[2020-08-17 18:09] anthify commented on #7502
After reading your message, @imkrunal, I tried to moving the volume to a different directory and it fixed the issue.

### Before
[code]

### After
[code]

It seems moving the `db_data` folder outside of the strapi application directory fixes this issue.

[2020-08-17 18:13] derrickmehaffy commented on #7502
That's what I thought (also from our slack chat), going to mark this one as closed since we found the problem and also transfer it over to the docker repo.

[2020-08-17 19:41] fellz commented on #7489
I saw example.
I implemented this call in my app. https://github.com/strapi/strapi-examples/blob/219e36b9a111cac587db0a65b11ab1eae1b1ea4c/login-react/src/pages/LoginRedirect.js#L15
[code]

It will not work because `location.search` will return `id_token=ssdf..` when it hits google and then 'No token provided' because

https://github.com/strapi/strapi/blob/b39709a6edee136047260aefca34069e4cf8b0f8/p

[2020-08-17 20:11] laurenskling commented on #7419
Thanks for the extensive response. I've given it some good thought the last couple of days. The `url` key is just not made to accept a `env()` and the documentation doesn't say you should do that either. So it's just my over-enving that caught up with me ;)

Keep up the great work!

[2020-08-17 20:14] derrickmehaffy commented on #7419
No problem, we know it's a bit confusing but over the next several months we will be doing a complete overhaul of the documentation so we will keep an eye out for anything like this that isn't described well :wink:

[2020-08-17 20:21] derrickmehaffy commented on #7489
Indeed I will ping @petersg83 to review when he gets a moment.

[2020-08-17 20:31] fellz commented on #7489
I found solution. This line shoud be changed

https://github.com/strapi/strapi/blob/b39709a6edee136047260aefca34069e4cf8b0f8/packages/strapi-plugin-users-permissions/services/Providers.js#L192

to `.qs({ id_token: access_token })` and it will work as expected )

[2020-08-17 20:35] derrickmehaffy commented on #7489
@fellz can you submit a PR? :hugs:

[2020-08-17 20:37] derrickmehaffy commented on #6727
Hello, can you please give an example from your `isAssigneeRead` policy so we can try to reproduce the issue?

[2020-08-17 22:56] sebastianjung commented on #4289
As I do not need the news model available on my graphql endpoint i disabled the shadow crud creation of the news model like so (inside the api/<model>/config/schema.graphql.js)

[code]

which makes the error disappear. Most of you might need to rename the model though. Just my specific case i wanted to share.

Read more about disabling the shadow crud feature here:
[https://strapi.io/documentation

[2020-08-18 06:58] sebqq opened #7505 "Add "Display name" to entities and their properties"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

Hello guys.

I was thinking about this feature where admin (during content-type building process) could assign something like "**Display name**" property.

_Especially

[2020-08-18 07:30] gutaku commented on #7158
I've the same issue and I'm using this version for sqlite "sqlite3": "^5.0.0" in package.json

[2020-08-18 07:42] kiwimahk commented on #7232
Hi, I also ran into this issue despite having permissions set correctly (I am following the tutorial here https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi ).

In my case it resolved itself when I added a second category and clicked save, triggering a server restart.

Therefore my best guess is that something went wrong during server restart after saving my first category. Just pos

[2020-08-18 07:47] dawnerd commented on #7232
Why would we have to do this if were an admin? Considering I had this similar this as a super admin makes me think there’s something else going on.

[2020-08-18 07:50] ssuvorov commented on #7491
@derrickmehaffy thanks! I created `extensions/users-permissions/services/User.js` with the following code
[code]

It works. However, it's a bit weird, that in the code I see only role selection `['role']`. I expected to see only role fields, but instead having an avatar too.

[2020-08-18 07:54] lauriejim commented on #7454
Can you please update your message by using the code in code blocks instead of images.
I can copy/past the content of images. This will save my time to have to code directly.
Thanks.

[2020-08-18 08:05] lauriejim commented on #7484
In fact, I think it's planned to be fixed when we will review the database layer of Strapi (we are currently working on it)
I will let @alexandrebodin give more details.

We know that thing is annoying.
The thing is that we are still a small team and we have a ton of topics to manage.
We are trying to juggle between, new features, important fixes, and architecture update to help Strapi to scale in

[2020-08-18 08:27] lauriejim commented on #6960
Hello!
I just tested each error case and here are the error messages I have.
I used a PG database here.
And messages are pretty clear I think.

If I'm using the wrong password:
[code]

If I'm using the wrong username:
[code]

If I'm using a database name that doesn't exist:
[code]

Ans finally the wrong port (so the same as if the database is not running ):
[code]

[2020-08-18 08:32] lauriejim commented on #7493
Hello! If you never receive an email, probably because you are using the default email provider.
I suggest you install a third party provider like SendGrid to send emails.
The default one can fail because it's not using a proper SMTP server...
Then when you installed and setup the email provider, you will be able to receive your link.
Here is the docs - https://strapi.io/documentation/3.0.0-beta.x

[2020-08-18 08:33] lauriejim commented on #7503
Can you please submit a PR to easily fix that.
And you already know where it's coming from 😁
This will help us. Thank you.

[2020-08-18 08:39] lauriejim commented on #7458
Can you try to go on the third page (to load the file) and then click on the button that shows trigger the error.
So, if the issue comes from the load of the image, you should not have the issue in this case.
Can you confirm that?

[2020-08-18 08:53] lauriejim commented on #7505
Thank you for this message, I'm pretty sure we already had it a few times.
Ping @JabStrapi @Aurelsicoko

[2020-08-18 09:02] Demonicious opened #7506 "Internal Server Error [500] on POST /auth"
**Cannot access Login, Register, Reset Password and other such routes**
I have installed a fresh copy of Strapi, created some collection types and some users to play around with. But the first time I tried testing the sign in feature with the route `/auth/local`, It resulted in a 500 error. I tried the Registration and Reset Password routes, but they resulted in the exact same error log.
[code]
I'

[2020-08-18 09:03] jsjohann commented on #7454
'Startseite' single type
[code]

Project collection type
[code]
'Meta Data' component as an example of an array field missing in the result
[code]

'Random projects' component

[code]

[2020-08-18 09:08] wesselvanderlinden commented on #7458
Yes I can confirm: https://streamable.com/

It only happens when the image is not in the Browser tab, if it is it works just fine.

[2020-08-18 09:18] martinditzel commented on #7480
Tried with fresh project and it works - so the issue originates from the migration. I'll just work with a fresh project, so I'll close the ticket. Thanks!

[2020-08-18 09:18] #7480 closed

[2020-08-18 09:29] Demonicious commented on #7506
Looks like the issue was just selecting the correct database during installation. My bad for not looking out for that.

Cheers.

[2020-08-18 09:29] #7506 closed

[2020-08-18 10:05] VukMNE commented on #5548
Hello @derrickmehaffy , I have the exact environment as @ciphercodes  specified, and I just wanted to know if there has been any breakthrough in solving this issue.

[2020-08-18 10:11] aksdevac commented on #7505
I think Its already supported you can click Edit icon besides collection type name to edit display name, & you can use different display name & collection name(in advance settings at time of create)

<img width="957" alt="edit-display-name" src="https://user-images.githubusercontent.com/2557058/90500881-206c3700-e169-11ea-9ea6-fdef512175bf.png">

[2020-08-18 10:26] bernhardw commented on #7505
@aksdevac The problem is, the "Display name" as shown in your screenshot is pluralized based on English rules.

In German for example the plural of events is "Veranstaltungen" and Strapi automatically adds an "s" to the end => "Veranstaltungen**s**" - which is not correct.

[2020-08-18 10:29] sebqq commented on #7505
Then maybe display name shouldn't be pluralized at all.

Also, it is already possible to assign display name to properties?

[2020-08-18 10:37] aksdevac commented on #7505
@sebqq yes using configure the view button, you can set label for property, there is different settings for Edit page & table view, so you might need to Edit at both place, below screenshot it for Edit page

<img width="1086" alt="property-label" src="https://user-images.githubusercontent.com/2557058/90503075-7db5b780-e16c-11ea-9b91-498eda3c497b.png">

[2020-08-18 10:50] mrtunes opened #7508 "An Error Occurred after Saving first Content Type"
**Describe the bug**
A small red error prompt after hitting save on a new content type. An Error Occurred

**Steps to reproduce the behavior**

When I run Yarn Develop I can make a content type (music), and then I add a field for Media and call it Mp3. When I hit save on this it says An Error Occurred (small popup).

**Expected behavior**
The content type would be created after hitting save

**Scr

[2020-08-18 11:06] weidox commented on #7177
It's also a hole for hefty fines for GPDR, for disclosing user personal details. Priority should be high, not low.

[2020-08-18 11:50] RileyMShea opened #7509 "x-generation-date gets updated on every server restart"
**Describe the bug**

In the `./extensions/documentation/documentation/vx.x.x/full_documentation.json` file, the `x-generation-date` field under `info` gets updated every time the server is restarted.  This happens even when there has been no change to the documentation or any other code in the project's codebase.

This causes problems because git tracks this file, so I am constantly committing th

[2020-08-18 12:09] sandoche opened #7510 "Blog post returns "502 Bad Gateway""
This page I found on twitter does not work and returns 502
https://blog.strapi.io/content-internationalization-with-strapi/

Twitter link:
https://twitter.com/strapijs/status/1041613814209421313?lang=en

Screenshot:
![image](https://user-images.githubusercontent.com/3635348/90511259-1a1f9000-e154-11ea-952d-b674a36ff5de.png)

[2020-08-18 12:22] abbeyseto commented on #4215
This might help someone to create an Audit trail using strapi middleware. https://medium.com/@adenleabbey/audit-log-trail-with-strapi-74f6bdf70daf

[2020-08-18 12:37] derrickmehaffy commented on #5548
As the beta version is no longer supported, we don't support this environment.

[2020-08-18 13:44] Goxiaoy opened #7511 "Morph 'ref' should use model name instead of collectionName"
**Describe the bug**
Current morph use and store model collectionName instead of model name, which may cause confuses when collecionName != name

**Steps to reproduce the behavior**

1. Go to content types builder, create new content type `test`, add media field , the default collectionName will be `tests`
[code]

2. upload and set `media` field, check out database table `upload_file_morph`

3. yo

[2020-08-18 14:02] ningacoding commented on #7485
the versions on the reproduce steps are different.

[2020-08-18 14:20] PascalHesselink commented on #7177
My API will be available for public use, it's necessary to hide the created_by and updated_by fields in the output response of the API. The authors and maintainers of a record should be private in my case. I will upvote for a feature request to make this configurable through the UI/Admin panel per model. Same for the timestamps. It would be even better if you decide to make this configurable per r

[2020-08-18 14:34] BrunoApparecido commented on #7494
I debugged the code and found that this problem happens when the test tries to delete the database file

`fs.unlinkSync(tmpDbFile);`

I did a test inside a linux container and the process worked normally

it may be a problem with windows and sqlite

[2020-08-18 14:36] lodisy commented on #7232
Also have this issue as a **superadmin**. Add a new field to the category content type and have no access to edit that field.

[2020-08-18 15:44] petersg83 commented on #7232
Hi, the **superadmin** should indeed have access to everything yes. I followed the steps of @lodisy but everything works find on my side. Can you please give more details ?

[code]

[2020-08-18 15:50] lodisy commented on #7232
Node.js version: 12.14.1
NPM version: 6.13.4
Strapi version: 3.1.4
Database: MongoDB
Operating system: Ubuntu 18.04.3 LTS

[2020-08-18 15:56] jandrescossio commented on #6908
Thank you very much Jim, I did the test with version 3.1.4, but the error persists, below I will detail it better
This is the query in graphql:
[code]
When less than 20 parameters are sent in the in the $where variable into the "specialties_in" key, Strapi returns data, but from the 21 parameters an error is obtained for the data but the count works correctly.
These are the variables:
[code]
This

[2020-08-18 15:56] dawnerd commented on #7232
I also attached information in the issue I linked above. Also only happens in production mode.

[2020-08-18 15:58] derrickmehaffy commented on #7491
Indeed it does look strange, I am aware of the cause but it is much farther up the cascading code tree that requires a much larger fix, alternatively if you want to populate all the relations you can just remove that array and all fields will be populated up to one level deep.

[2020-08-18 16:28] petersg83 commented on #7232
Can you please show me the entry in your database that correspond to the super-admin user ?
It should look to something like that:
[code]

Alos, do you have any warning in the logs when you start the server?

[2020-08-18 16:38] petersg83 commented on #7206
Thanks for your digging!
@derrickmehaffy @lauriejim A documentation update may be needed for the next users wanting to use the authentication provider for providers other than Grant predefined providers. Can I let you handle this? I can help if some more explanation is needed

[2020-08-18 16:48] petersg83 commented on #7489
Hi :)
Can you please show me the params you have put in strapi?
It should look like sommething like that:

<img width="930" alt="Capture d’écran 2020-08-18 à 18 47 04" src="https://user-images.githubusercontent.com/11708220/90541743-5b7b6400-e183-11ea-9975-f2c6af34bc63.png">

[2020-08-18 16:52] dawnerd commented on #7232
[code]

[code]

[2020-08-18 16:55] derrickmehaffy commented on #7177
@weidox and @PascalHesselink I hadn't actually considered the GDPR side of this when I originally opened the feature request but you do make a good point, though I am not familiar with GDPR laws as I am US based (and not a lawyer :wink: ) but since I have started working for Strapi now in an official capacity I have escalated the issue internally to our teams to see if there is at least a workarou

[2020-08-18 17:06] derrickmehaffy commented on #7206
@petersg83 @lauriejim we can certainly include some additional documentation for it, but the current docs:

https://strapi.io/documentation/v3.x/plugins/users-permissions.html#adding-a-new-provider-to-your-project

We mention that only grant provided ones **are supported** meaning for bug reports or issues with providers that grant doesn't support, is that something we should be. I'm looking at th

[2020-08-18 17:12] derrickmehaffy commented on #6960
I just tested on MariaDB and MySQL and I get the same @lauriejim so it looks like those log relays were already implemented, @NegativeIQ can you try testing with a fresh project? It's possible in this case it was just hitting a code error.

[2020-08-18 17:18] derrickmehaffy commented on #7485
@ningacoding even starting a beta.19.5 I wasn't able to reproduce this :thinking:

[2020-08-18 17:20] derrickmehaffy commented on #7494
That is my guess as well @BrunoApparecido windows appears to be locking the sqlite file. @lauriejim do you have any suggestions here. My only thought it putting a notice on the docs that the guide won't work with SQLite and Windows.

[2020-08-18 17:22] derrickmehaffy commented on #7232
[code]

Just a side point I see you are using the community `strapi-middleware-cache` wanted to just make sure there is no conflict, can you temporarily disable that middleware?

[2020-08-18 17:36] derrickmehaffy commented on #7508
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-08-18 17:37] derrickmehaffy commented on #7508
Can you please add any of your browser dev tools logs (F12 menu in chrome) so we can see the content of the 400 error message.

[2020-08-18 17:39] derrickmehaffy commented on #7509
I will ping @alexandrebodin and @petersg83 as this shouldn't be regenerated unless it's missing on the filesystem or the manual generation is triggered in the doc plugin admin menu.

[2020-08-18 17:42] derrickmehaffy commented on #7511
This is expected behavior because in this case it's not referencing the model but the other database table IE the collection name or name of the table.

I am closing because this is intended behavior but if you have any feedback on how we can make this more clear to others please let us know.

Thank you!

[2020-08-18 17:43] #7511 closed

[2020-08-18 17:52] sebqq commented on #7505
@aksdevac @lauriejim So if I change these settings (Add labels and display names) and afterwards use `git status` on project, no changes were made in folders that are not included in my project's `.gitignore` file.

So that means that changes were performed only in `build/` folder and these settings will be deleted whenever I make a fresh build. Am I right?

Thanks!

[2020-08-18 17:55] lodisy commented on #7232
[code]

[code]

[2020-08-18 17:56] derrickmehaffy commented on #6908
Hi @jandrescossio with the release of v3.1.4 there is now a configuration option for this coming from this PR: https://github.com/strapi/strapi/pull/7430

See the following docs to adjust your limits (default is still 20, you can customize this and increase it to what you need, but keep in mind you will want to prevent abuse): https://strapi.io/documentation/v3.x/concepts/middlewares.html#core-mid

[2020-08-18 17:57] derrickmehaffy commented on #7505
@sebqq these changes are stored in the database, specifically the `core_store` table/collection.

[2020-08-18 17:58] sebqq commented on #7505
I'm sorry. Changes were made for Entities display names. However, changes were not made for properties labels.

[2020-08-18 17:59] derrickmehaffy commented on #7232
Ah

[code]

@petersg83 I'm wondering if that's the problem, one of the other roles overriding the super admin one?

[2020-08-18 18:00] sebqq commented on #7505
@derrickmehaffy So even labels from properties are written directly into the database?

I'm sorry I'm working with docker for first time in my life so I'm not able to look directly inside my db right now. Firstly, I will need to find out how to access container's database :D

[2020-08-18 18:02] derrickmehaffy commented on #7505
All of the display names are stored within the database (any of those "configure the view" options) they are not saved to the model settings.

This was largely a workaround for now due to https://github.com/strapi/strapi/issues/1114 and related to this FAQ article that explains it in more detail: https://strapi.io/documentation/v3.x/getting-started/troubleshooting.html#can-i-store-my-content-manag

[2020-08-18 18:04] sebqq commented on #7505
@derrickmehaffy well, I'm feeling as a dumb right now. I should check a documentation first before taking your time. Thank you very much!

[2020-08-18 18:07] sebqq commented on #7505
So the only thing that left is probably to let developers choose if they would like to use plural form of collection display name or not as mentioned earlier.

[2020-08-18 18:12] lodisy commented on #7232
Super! It is resolved after removed the editor and author roles(need to logout and re-login).

But it's a bit confusing to me, when I submit a post, I need to asign the author, but the supera dmin does not show in the user(collection) list, so I need to creat one with the same email etc. So how about the role of this new created user?

[2020-08-18 18:34] Goxiaoy commented on #7511
I think it's more reasonable to rename `ref` to `refCollection` if you want to keep this logic. For most cases, developers will use model api instead of db layer api

And I am a little bit confuse about the plural format which makes me notice the difference . commented in https://github.com/strapi/strapi/discussions/6081#discussioncomment-52676

[2020-08-18 19:22] derrickmehaffy commented on #7505
This is a topic that we have discussed internally but not come to a conclusion, I'm wondering if this would be better suited to open up an RFC on to discuss properly.

https://GitHub.com/Strapi/rfcs

[2020-08-18 20:22] koskokos2 opened #7512 "Cannot get data through the API using valid token"
**Describe the bug**

I'm using `gatsby-source-strapi` to get data from Strapi API and it was failing for me with 403 (fails on this line `https://github.com/strapi/strapi/blob/1e67421668a8a8528d03e09a52057bae35534e03/packages/strapi-admin/middlewares/auth/index.js#L42`).

I can see that `/auth/local` is successful and token that is passed to the data endpoint (`GET /data-type`) is valid (is it pa

[2020-08-18 20:25] mrtunes commented on #7508
![image](https://user-images.githubusercontent.com/1292976/90561870-56141e80-e16f-11ea-9164-46d8b84c3097.png)

[2020-08-18 21:26] EAdeveloper commented on #7446
Where are the issue templates ?

[2020-08-18 21:34] derrickmehaffy commented on #7512
Is this for `gatsby-source-strapi` or is this via something like postman?

[2020-08-18 22:21] jandrescossio commented on #6908
@derrickmehaffy thank you very much

[2020-08-19 00:28] derrickmehaffy commented on #7446
When you create a new issue the template is added automatically or you can use this link: https://github.com/strapi/strapi/issues/new?template=BUG_REPORT.md

[2020-08-19 00:32] derrickmehaffy commented on #7508
Can you provide a bit more detail from those logs, with the current information I can't reproduce your issue

[2020-08-19 00:44] mrtunes commented on #7508
yep no problem - i should be expanding the logs in the developer tools screenshot above, right (hit more triangles)?

[2020-08-19 05:47] ly525 commented on #7158
I've the same issue and I'm using this version for sqlite "sqlite3": "^4.1.1" in package.json

[2020-08-19 07:57] weidox commented on #7177
It's enough to remove first and last names from created_by and updated_by, as that's the only private user information being exposed (I doubt if there was a technical reason to do that at all). The rest can remain, and probably that would not break anything then.
As of option for complete removal, the remaining data is not subject to GDPR as there's no user identifiable info remaining, so I doubt

[2020-08-19 08:22] petersg83 commented on #7232
I was able to reproduce it! Thanks a lot :)
I hear the confusion, maybe @JabStrapi can help making it clearer

[2020-08-19 09:24] Aurelsicoko commented on #7177
As I'm managing all the GDRP topics in the company, we (as the legal entity behind the project) are still compliant with the GDPR regulation. The GDPR only applies to data that we own/store or we have access to. However, for you as users of the software, it's different. Some personal user information are shared publicly due to our current public API design.

I would suggest to not expose these fie

[2020-08-19 09:32] psycoder17 commented on #7401
I am also facing this issue when trying to store latitude/longitude values. Can you be more specific on where I can make the change in the extension/plugin system? I took a look through some of the modules but couldnt find exactly what I was looking for. Thanks!

[2020-08-19 10:20] herrbischoff commented on #7177
@Aurelsicoko: That's perfect, thanks. This is my reading of GDPR requirements and also common sense with regard to exposing controlled data to public APIs. Ideally the filter would allow for exclusion of any key for maximum flexibility.

[2020-08-19 11:44] tarnacious commented on #4455
I had a similar issue to the was caused by Strapi trying to load swap files Vim was creating in the ./config/functions/ directory. This took a while to debug because the actual error was not being logged or displayed. This has recently been fixed so it displays the actual error. https://github.com/strapi/strapi/pull/7388/files

[2020-08-19 11:46] tarnacious commented on #6659
I had a similar issue to this that was caused by Strapi trying to load swap files Vim was creating in the ./config/functions/ directory. This took a while to debug because the actual error was not being logged or displayed. This has recently been fixed so it displays the actual error. https://github.com/strapi/strapi/pull/7388/files

[2020-08-19 11:46] tarnacious commented on #6654
I had a similar issue to this that was caused by Strapi trying to load swap files Vim was creating in the ./config/functions/ directory. This took a while to debug because the actual error was not being logged or displayed. This has recently been fixed so it displays the actual error. https://github.com/strapi/strapi/pull/7388/files

[2020-08-19 12:22] sandoche opened #7520 "Collection title not well pluralized"
I have a collection named `Post` pluralized properly to `Posts` and another one called `PostTranslated` it has been pluralized  to `PostTranslateds` instead of `PostsTranslated`

![image](https://user-images.githubusercontent.com/3635348/90633894-c6c64400-e21e-11ea-8e55-759d56492366.png)

Is there a way to override this value? I couldn't find this in the documentation.

[2020-08-19 12:39] lauriejim commented on #7458
Thank you for helping us to identify the source of the issue.
I will really appreciate your help if you can submit a PR to fix the issue.
It's the summer and a vast part of the team is OOO.
Thank you for your time.

[2020-08-19 12:41] lauriejim commented on #4215
Thank you for this article 🚀

[2020-08-19 12:49] lauriejim commented on #7494
Hello! Yes can you please update the documentation according to that @derrickmehaffy . Thanks.

[2020-08-19 12:55] lauriejim commented on #7510
I'm not able to find the article based on the slug.
blog.strapi.io is now strapi.io/blog
So migration issue probably.
Guys are mentioned here so they will receive a notification to manage that.
To keep the open issues related to the Strapi project (not on the blog or website) I'm closing this issue.
In any case, thank you for reporting this issue.

[2020-08-19 12:55] #7510 closed

[2020-08-19 13:08] koskokos2 commented on #7512
Needed it for `gatsby-source-strapi` and while I was debugging the route cause I checked on requests it is doing and was debugging through Postman

[2020-08-19 13:09] lauriejim commented on #7512
Hello! The first question is, did you migrate your app, or is it a fresh new one?
I highly suppose you migrated it and you use the same `jwtSecret` from the users-permission for the admin.
If it's the case, the reason come from there. You should have 2 differents value.

[2020-08-19 13:10] robinComa commented on #7434
Thanks :-)

[2020-08-19 13:10] robinComa commented on #7434
Thanks :-)

[2020-08-19 13:13] robinComa commented on #7435
Hello, sure !

### Offer collection

[code]

### Offer group collection

[code]

### SEO component

[code]

[2020-08-19 13:20] derrickmehaffy opened #7523 "Component loses category when switching to advanced settings"
**Describe the bug**
While creating a new component and adding a category for it, if you switch to the advanced settings tab and back to base settings, the category field will be missing.

In my case I was adding a single time with a component.

**Steps to reproduce the behavior**

1. Create a single-type
2. Add a component as a field
3. Set the name and category
4. Switch to advanced settings
5.

[2020-08-19 13:24] derrickmehaffy commented on #7454
@jsjohann if possible can you link to your github repo that contains these models? Based on the structure you gave above these are quite complex and will be difficult to properly reproduce (it appears you are missing some structure for some components that weren't shown above).

[2020-08-19 13:26] lauriejim commented on #7520
Hello! That's not really possible to customize that.
Please, check if `translatedPost ` works for you.

[2020-08-19 13:51] derrickmehaffy commented on #7401
@psycoder17 @ssayanm this should be fixed in the 3.1.4 release

[2020-08-19 13:59] ssayanm commented on #7401
@derrickmehaffy you mean 3.1.5 release right?
I am still getting that issue on v3.1.4

[screenshot](https://u.pcloud.link/publink/show?code=XZ4ASyXZSL4c358BAM8zOXj2Tp0SHfglRGqk)

[2020-08-19 14:09] psycoder17 commented on #7401
I am also on 3.1.4 and can confirm the issue has not yet been resolved. I'm happy to test any suggestions your team has.

[2020-08-19 14:11] derrickmehaffy commented on #7401
Hi guys I just tested with a fresh 3.1.4 project and it appears to work fine for me, can you try to run a rebuild of your admin?

![image](https://user-images.githubusercontent.com/8593673/90645743-2c004200-e1eb-11ea-80be-2757a514a99f.png)

[2020-08-19 14:18] derrickmehaffy commented on #7508
In the network tab when you make the request you should be able to see the full error message instead of just the console.

[2020-08-19 14:20] psycoder17 commented on #7401
Just ran an `npm run build`. Still receiving this popup message, and am unable to save the record.
<img width="491" alt="Screen Shot 2020-08-19 at 10 19 10 AM" src="https://user-images.githubusercontent.com/64004929/90646778-94f4b380-e205-11ea-8152-f9a350804585.png">

[2020-08-19 14:21] derrickmehaffy commented on #7232
I think in this case @petersg83 if an admin user is apart of the `super admin` role, the others should be completely ignored (since you cant change the super admin permissions anyway)

[2020-08-19 14:25] derrickmehaffy commented on #7401
Do you have any mix/max values?

[2020-08-19 14:27] ssayanm commented on #7401
![Screenshot 2020-08-19 at 7 55 33 PM](https://user-images.githubusercontent.com/4533076/90647545-0c523380-e256-11ea-8b71-99ee636567c6.jpg)
working on brave and safari but not on firefox, i cleared cache, rebuild a few times but still not working on firefox.

[2020-08-19 14:27] psycoder17 commented on #7401
I do not. Nothing is set in the Advanced Settings tab.

[2020-08-19 14:28] psycoder17 commented on #7401
I am also using FF. Let me try Chrome.

[2020-08-19 14:29] derrickmehaffy commented on #7401
Yup it's there on firefox (I generally use chrome) I will ping @soupette and @HichamELBSI and let them know.

[2020-08-19 14:31] ssayanm commented on #7401
thank you @derrickmehaffy

[2020-08-19 14:35] psycoder17 commented on #7401
Chrome seems to let me save the record, but still clips the decimal down to 2 decimal places after I press save.

[2020-08-19 14:37] derrickmehaffy commented on #7401
That is intended @psycoder17, currently the default accuracy level of decimal is only 2 places on certain databases (PG/MySQL/MariaDB) I already have an open request to allow configuration of this here: https://github.com/strapi/strapi/issues/1330

[2020-08-19 14:38] psycoder17 commented on #7401
Got it. Thanks so much for your quick help!

[2020-08-19 15:42] mrtunes commented on #7508
ok this line turned red -
{error: {contentType.name: [,…]}}
error: {contentType.name: [,…]}
contentType.name: [,…]

This field was media and it was called mp3, so I tried also adding a field as simple text and calling it title, and i get the same error. I tried it one more time and this error appeared as well

![image](https://user-images.githubusercontent.com/1292976/90657968-01c17b00-e211-11ea-8

[2020-08-19 15:51] projodesign opened #7526 "Updating a content type to have a required field with existing data fails at the database level, causes crash"
**Describe the bug**
This has happened twice, first time I had to do a fresh install and lost a lot of data I'd input into Strapi.
Using the one click solution provided by Digital Ocean, I get Strapi up and running without issues. Then suddenly I'll make a change that requires Strapi to restart itself - this is normally fine and it does it. However, twice it has told me "it's taking longer than ex