[2022-08-22 01:32] jcamilomnavia commented on #13237
Hey! I solved it changing the `tsconfig.json` and include TS files. I'm sure there's a simplified regex for the file extensions but here it is.
[code]
Hope it works for somebody else!

[2022-08-22 02:41] JWesorick commented on #10329
@aeadedoyin I don't understand Strapi enough to know why the current implementation was chosen. But if you look at my PR where I added all the requested locales I knew about you could add the ones you need easy enough. #13875

[2022-08-22 02:43] JWesorick commented on #10329
To any maintainer this issue can be closed as the Sámi locales were added in #13875

[2022-08-22 12:46] BroeDaniel commented on #13237
Hey. Issue is the same here.

Ran: yarn create strapi-app my-project --ts

Applied this `tsconfig.json` setting above with including "allowJs" in the compilerOptions, and error is still the same here

[2022-08-22 12:50] OmarMtya commented on #13237
Same issue, I tried the allowJs flag, it didn't work

[2022-08-22 13:22] chrift opened #14155 "z-index of true/false selector is higher than that of a select dropdown"
## Bug report

### Required System information

- Node.js version: 16.14.2
- Yarn version: 1.22.18
- Strapi version: 4.3
- Database: Postgres
- Operating system: Ubuntu

### Describe the bug
I have a dynamic zone. One component has a relation in, exhibited via a dropdown. Another component has a boolean, exhibited with a true/false selector. The z-index of the true/false selector is higher than th

[2022-08-22 13:23] OmarMtya commented on #13237
How did you fixed this?

[2022-08-22 13:27] chrift opened #14156 "Dark mode dropdown has white text on a white background"
## Bug report

### Required System information

- Node.js version: 16.14.2
- Yarn version: 1.22.18
- Strapi version: 4.3
- Database: Postgres
- Operating system: Ubuntu

### Describe the bug

When in dark mode, the dropdowns are white, and so is the text.

### Steps to reproduce the behavior

Have a relation on a type

### Expected behavior

Dropdowns are not white

### Screenshots

![image](https

[2022-08-22 13:29] gu-stav commented on #14156
@chrift on which version exactly are you on? This should be fixed in the latest release.

[2022-08-22 13:35] chrift commented on #14156
4.3.0
Ill update to 4.3.4 and update!

[2022-08-22 13:37] gu-stav commented on #14156
Thank you. I'll close this one in the meantime. Ping me, if you still experience it please :)

[2022-08-22 13:37] #14156 closed

[2022-08-22 13:44] jcamilomnavia commented on #13237
@BroeDaniel @OmarMtya it is not the allowJs flag to add, but the files in the `include` array. I edited the original comment to be more clear. I made the mistake to left the comment on the `allowJS` line, my bad. Hope it works now for you in the edited version.

[2022-08-22 14:21] rafaeljesusaraiva opened #14157 "SqliteError: insert into `files_related_morphs` - too many terms in compound SELECT"
## Bug report

### Required System information

- Node.js version: v16.16.0
- NPM version: 8.11.0
- Strapi version: 1.22.19
- Database: BetterSqlite
- Operating system: Ubuntu LXC

### Describe the bug

I have a collection for storing event photographic information (title, dates, images, ...) and when I insert already uploaded images (around 600), it returns a server error.

Full error is on the .

[2022-08-22 14:29] exotexot commented on #13237
I'll try this fix. However, I also receive this error and I'm NOT using typescript. However, I'll try to implement this and report back if it worked for me.

[2022-08-22 14:41] fdel-car opened #14160 "The sourceMap option in tsconfig file not supported"
## Bug report

### Required System information

- Node.js version: 16.13.0
- NPM version: 8.13.2
- Strapi version: 4.3.2
- Database: PostgreSQL 12
- Operating system: WSL 2 - Ubuntu 20.04

### Describe the bug

The `sourceMap` config in `tsconfig.json` is not supported by Strapi and the application crash.
My best guess is that `*.map` files are read by Strapi, and are parsed as routes/services/con

[2022-08-22 15:42] Convly commented on #9463
This is indeed what's happening. Every resolver's params are independent. If you want drafts and published offers, add this to the `offers` child resolver.

[code]

As far as I know, this is the intended behavior. One idea that has been proposed by the team was to add some kind of customization to allow the propagation of such filters, but it's still something that would need to be discussed more

[2022-08-22 22:43] haysclark opened #14165 "Typescript `Subscriber` typing doesn't allow `models` property."
## Bug report

### Required System information

- Strapi version: 4.7.4

### Describe the bug

Typescript service typing doesn't allow addition of custom services, when adding a new service such as follows:

[code]

[CodeSandbox example](https://codesandbox.io/s/strapi-typescript-4-3-4-typecheck-error-models-does-not-exist-in-type-subscriber-kock3w?file=/src/index.ts:0-845)

It throws a typing err

[2022-08-23 01:54] haysclark opened #14167 "Typescript lifecycle `Event` type missing `result` property for 11 Action types: eg: `afterCreate`, `afterCreateMany `, etc..."
## Bug report

### Required System information

- Strapi version: 4.3.4

### Describe the bug

The lifecycle `Event` types for the following `Actions` are missing the `result` property in their [Typescript type](https://github.com/strapi/strapi/blob/dd227e2b645901ff35aa8d599ecfe8bae27850ab/packages/core/database/lib/lifecycles/index.d.ts#L37-L41).

- [afterFindOne](https://github.com/strapi/strapi

[2022-08-23 06:05] jaysoni-ash42 commented on #14155
@gu-stav  can i work on this issue?

[2022-08-23 06:28] gu-stav commented on #14155
@jaysoni-ash42 Sure, I'd be happy if you would like to do it. Let me know if you need help of any kind (I'm available on discord too).

[2022-08-23 06:37] jaysoni-ash42 commented on #14155
@gu-stav  @chrift  i am not facing the same issue on my end you can look at this demo images  running the same strapi version.
<img width="702" alt="Screen Shot 2022-08-23 at 12 21 07" src="https://user-images.githubusercontent.com/68722497/186087852-334d08c9-edeb-48e4-935b-4327285107e6.png">
<img width="702" alt="Screen Shot 2022-08-23 at 12 21 07" src="https://user-images.githubusercontent.com/6

[2022-08-23 07:12] jaysoni-ash42 commented on #14155
@chrift  which browser are you using because i. am using chrome and was not able to recreate the bug.
<img width="702" alt="Screen Shot 2022-08-23 at 12 21 07" src="https://user-images.githubusercontent.com/68722497/186094484-49f72540-c0f1-4a09-adcf-115d996ce974.png">

[2022-08-23 07:52] Marc-Roig commented on #13184
If anyone needs to install python2 in MacOS:

[code]

[Source](https://stackoverflow.com/a/67274521)

[2022-08-23 09:08] ToeWaiPhyo10 opened #14171 "Images that are less than and equal to 150x150 can't get formats url from strapi"
Required System information

- Node.js version:14.7.3
- NPM version:7.24.0
- Strapi version:4.1.12
- Database:postgres
- Operating system:Window 10

Describe the bug

I uploaded an image from frontend to strapi and that image size is 150x150. When in the strapi CMS i can see the image but can't retrieve the url because i got the formats as null.

Steps to reproduce the behavior

1.upload the 150x1

[2022-08-23 09:11] OmarMtya commented on #13237
I tried everything that you guys say in this post, and it didn't work. The problem that I found was that when I try to start the server in production mode, for some reason the db configuration doesn't load, like @bang88 said. For me, the solution was starting the server with Docker in production, instead of using the [index.js/server.js like Strapi documentation](https://docs.strapi.io/developer-d

[2022-08-23 09:55] JulianAtTheFrontend commented on #12289
Still not working as of v4.3.4

[2022-08-23 09:58] Bassel17 commented on #12289
what are you exactly facing ?

[2022-08-23 10:01] JulianAtTheFrontend commented on #12289
The server still responds "UnauthorizedError" "Missing or invalid credentials".
When I reactivate user-permissions plugin it works perfectly.

[2022-08-23 10:06] chrift commented on #14155
We updated to 4.3.4 from 4.3 in order to fix the issue mentioned [here](https://github.com/strapi/strapi/issues/14156) and it looks like it has also fixed this issue 👍

[2022-08-23 10:06] #14155 closed

[2022-08-23 10:07] gu-stav commented on #14155
@jaysoni-ash42 Thank you for your support 🌻

[2022-08-23 10:08] Bassel17 commented on #12289
so you are not seeing the graphql playground ?

[2022-08-23 10:10] JulianAtTheFrontend commented on #12289
I can "see" the playground, but it doesn't connect to the server. (so no docs & schema visible)

[2022-08-23 10:16] Bassel17 commented on #12289
@JulianAtTheFrontend oh yes that's the normal behavior, by default nothing is public, unless you use the users & permissions plugin and you specify them as public. so when you remove the users & permissions plugin you will need to use the Api Tokens, generate a token and use it to make your requests

[2022-08-23 10:46] JulianAtTheFrontend commented on #12289
Ah ok! Makes absolutely sense!

[2022-08-23 12:07] petersg83 commented on #13900
hi @thedanielenrico
@bolg55 Did you test it with the latest version of Strapi (4.3.4)? I believe it was fixed already

[2022-08-23 12:44] sjoukedv commented on #12960
I believe I ended up adding a debug `console.log()` to the i18n plugin source to find out that I had a route (or controller) file with only commented out code in it. I'd suggest a try catch statement for that loop with a more clear error message.

FYI: I am on Ubuntu 20.04

[2022-08-23 12:57] #13453 closed

[2022-08-23 13:27] bolg55 commented on #14131
Can you amend this to include explicit steps to reproduce? Thanks

[2022-08-23 13:30] bolg55 commented on #14171
Can you please fill out the bug report form, including explicit steps to reproduce? I understand what you are describing, but for clarity to future viewers, it is helpful and will help us troubleshoot more effectively. Thanks

[2022-08-23 15:08] derrickmehaffy commented on #14126
I'll take your word for it, to me it sounds exactly like the problem in the other issue and that other issue isn't just limited to components.

[2022-08-23 15:40] petersg83 commented on #14126
Yes let's try. I created a fix for the other issue, so we can try to reproduce with the usecase here once the fix is merged

[2022-08-23 15:45] AdrianoCahete commented on #13044
As primary a UX, it is best for user to may have an annoying behavior IF they blur/change something and want to dispose the entered data, than users who make big/long changes and see their content go away because of a miss click and the UI does not warn/keep the user away from the error.

Comparing the learning curve from users, who will need to understand that the modal is only warning you when y

[2022-08-23 16:01] #14035 closed

[2022-08-23 17:37] Zedonboy commented on #12296
@salar-amr did you solve your issue?

[2022-08-23 19:30] Jae-Kae commented on #13507
I'm having the same issue

[2022-08-23 22:24] bartoszkrawczyk2 commented on #12837
This issue is still not resolved. I'm on version 4.3.4 and I get `TypeError: Cannot read properties of undefined (reading 'icon')` When opening any article in Content Manager. Removed cache and node_modules, reinstalled everything but the issue still persist.

[2022-08-24 04:06] emahuni opened #14183 "Admin Content Type Builder should not remove unknown attribute options"
## Bug report

### Required System information
- Node.js version: v14.20.0
- NPM version:
- Strapi version: 4.3.4
- Database: Postgres12
- Operating system: MacOS 12.4

### Describe the bug

I normally put custom options in attributes and schema.json files to be used by custom logic in the api, which the actual core code doesn't mind. However, the Admin content-type-builder seems to clear all thes

[2022-08-24 04:26] emahuni opened #14184 "Regex attribute validation doesn't work"
## Bug report

### Required System information

- Node.js version: 14.20
- NPM version:
- Strapi version: 4.3.4
- Database: Postgres 12
- Operating system: MacOS 12.4

### Describe the bug

The regex validation doesn't work as intended. When you put a regex validation on an attribute it doesn't validate it properly when you enter data in the content manager.

### Steps to reproduce the behavior

1

[2022-08-24 05:28] Crazysipu commented on #8317
how to solve this problem??

[2022-08-24 06:37] MatthewWu5 opened #14185 "The content list view filters shouldn't be removed after click on filter tag"
## Bug report

### Required System information

- Node.js version: v16.16.0
- NPM version: 6.14.17
- Strapi version: v4.2.2
- Database: Postgres 14.5
- Operating system: alpine

### Describe the bug

Filter should only removed by tag close icon, but not by click on the tag itself

### Steps to reproduce the behavior

1. Go to any content list view page
2. Apply a filter tag on filters part
3. Clic

[2022-08-24 07:01] gracebir commented on #14171
@ToeWaiPhyo10 please add the steps to reproduce

[2022-08-24 07:19] soupette commented on #12837
@gu-stav if it still related to the resolution of the helper plugin you might need to create singleton for each context provider to instantiate them only once.

[2022-08-24 07:27] gu-stav commented on #12837
@soupette Do you mean instead of doing:

[code]

we'd need to export?

[code]

Or do you have in mind we need to "cache" the context?

[code]

[2022-08-24 08:15] gracebir commented on #14171
@bolg55 , what value could we set as minimun size image and minimun width image?

[2022-08-24 08:25] WalkingPizza commented on #14184
You don't need the forward slashes when entering a pattern in the input field.
Just having `test` in there should fix your issue!

[2022-08-24 08:33] WalkingPizza commented on #14171
I believe this is intended!

The smallest default breakpoint is `small` with a value of `500px`, but since the image is 150x150, the smallest breakpoint is bigger than the actual image and thus it is not generated.

In this case, you can grab the default URL in the image's attributes rather than grabbing it from the `formats` object.

https://github.com/strapi/strapi/blob/78af3ebe621aec3658fc5a414

[2022-08-24 08:33] #13835 closed

[2022-08-24 08:42] soupette commented on #12837
eslint is going to complain if you using hook inside a statement, you can check out this [article](https://dev.to/kardysm/singleton-like-context-for-shared-components-managent-4112) how to create a singleton.

I have also seen this pattern:

[code]

[2022-08-24 08:52] WalkingPizza commented on #13856
I am trying to make a PR to improve this.
Should I pass an `ids` array in the results along with `count`?

PS: I have found a bug with `createMany`. Apparently, `this.createQueryBuilder(uid).insert(dataToInsert).execute()` does not return all of the affected IDs but just the last one.

[2022-08-24 09:03] bidoubiwa commented on #13856
That is a good idea, since the user could potentially add a very big amount of documents adding them as whole objects in the result field could be problematic. Whereas returning the `ids` only, provides the possibility to fetch the documents in batches in case there are too many added documents.

[2022-08-24 09:37] jaysoni-ash42 commented on #14185
Strapi team : i want to work on this issue but it should be worked on the design-system repo or this repo?

[2022-08-24 09:56] gu-stav commented on #14184
@WalkingPizza That sounds like a good solution to me.

[2022-08-24 09:58] gracebir commented on #14171
@WalkingPizza, I don't think we also to make a look image validation where the max size has been setting

[2022-08-24 10:07] WalkingPizza commented on #14184
@gu-stav a bit of an edge case, but do you think it'd be a breaking change for people who actually want to make sure strings begin and end with a forward slash?

[2022-08-24 10:10] gu-stav commented on #14184
@WalkingPizza I think we should normalize the string, so that for the user it doesn't matter whether `/` is included or not. We could also add a validation, checking if the string starts/ end with `/`: if so print an error. I'd need to check what our approach with the other fields is (permissive vs. strict).

[2022-08-24 10:49] emahuni commented on #14184
Oh I see. Thanks, but I think that should be documented in the schema attributes validation. I tried looking it up.

[2022-08-24 10:51] Marc-Roig commented on #13586
Hello!
I have been trying to reproduce this is issue without success.  So my guess is.. it is already fixed (not probable), or your strapi app has different configurations than mine.

I have tried with images, pdfs, videos and I get the sam result. Replacing them, multiple times, in cloudinary does not give me any error.

Could you try to update to 4.3.4 just to check?

[2022-08-24 11:11] gu-stav commented on #14184
@emahuni I agree. Where did you look for documentation if I may ask? I thinks it is worth adding there (along a better validation) ...

[2022-08-24 11:58] FieldMarshallVague commented on #14131
Done. Sorry, I thought it was clear enough but the above should help.

[2022-08-24 12:23] WalkingPizza opened #14193 "`useReturning` is not correctly set for the SQLite DB dialect"
## Bug report

### Required System information

- Node.js version: v16.16.0
- Yarn version: 1.22.19
- Strapi version: 4.3.4
- Database: SQLite
- Operating system: MacOS 12

### Describe the bug

The SQLite Dialect class does not definite a `useReturning` method, which defaults the value to `false` even though SQLite does support `RETURNING` statements.

This causes a series of issues, including `i

[2022-08-24 13:20] tailm0796 opened #14197 "Can not start strapi on version 4.3.5"
## Bug report

### Required System information

- Node.js version: v16.16.0
- NPM version: 8.11.0
- Strapi version: 4.3.5
- Database: Postgres
- Operating system: Ubuntu

### Describe the bug

I can not start strapi after excute:
[code]

### Steps to reproduce the behavior

1. Run
[code]

### Screenshots

![image](https://user-images.githubusercontent.com/45816446/186428812-0c2bdfc9-a587-44f1-9908

[2022-08-24 13:32] cyrusn commented on #10285
I have the similar setting with

I have a similar setting to you. I found that when I load the pages, the src of javascript files didn't change to `/strapi/admin`. I think that is why it crashed.

[code]

[2022-08-24 16:32] jaysoni-ash42 commented on #14184
@gu-stav can i work on this issue.

[2022-08-24 16:36] chrift opened #14202 "Relation dropdown search is case sensitive but only for items after first 20"
## Bug report

### Required System information

- Node.js version: 16.14.2
- Yarn version: 1.22.18
- Strapi version: 4.3.4
- Database: Postgres
- Operating system: Ubuntu

### Describe the bug

When selecting a relation via the dropdown, the search is case sensitive **only for items that are not in the first list of 20 that are loaded when the dropdown is opened** leading to misleading results bei

[2022-08-24 16:51] rodgeraraujo opened #14203 "API token type read-only not works as expected 🐛"
## Bug report

### Required System information

- Node.js version: `v16.14.0`
- NPM version: `8.5.4`
- Strapi version: `v4.3.6`
- Database: `postgres`
- Operating system: `MacOS `

### Describe the bug

Trying to create a plugin to extend a api route, get error 403 when using the API Token of type `read-only`. My route is a GET, like bellow:

[code]

For this request works, need to use a token of

[2022-08-24 18:26] ChrisMichaelPerezSantiago opened #14204 "When using the create service, the result does not return the author property, for example: createdBy"
## Bug report

- Node.js version: v14
- Strapi version: 4.3.6
- Database: postgres
- Operating system: MAC

When creating a record from the client (with nextjs) the data is inserted in the collection-type but it does not show information about the author, as you will see in the image:

<img width="206" alt="Untitled 2" src="https://user-images.githubusercontent.com/21962584/186493097-c386453a-efd8

[2022-08-24 19:06] gu-stav commented on #14197
`4.3.5` introduced a bug when the GraphQL plugin was not installed, which should be fixed by [`4.3.6`](https://github.com/strapi/strapi/releases/tag/v4.3.6). Please upgrade to this version.

[2022-08-24 19:06] #14197 closed

[2022-08-25 00:34] smoothdvd commented on #14204
@ChrisMichaelPerezSantiago what post body when you inserted in Postman?

[2022-08-25 02:07] btd1337 commented on #4378
There are any update in this feature?

[2022-08-25 03:34] GeovannyGil opened #14205 "Fix spelling of Usuarios of language es.json"
Why make this change?
Incorrect spelling of "Useuarios" in the Spanish language in the file es.json. change it to "Usuarios", file to change

packages/core/admin/admin/src/translations/es.json
![fix_spelling](https://user-images.githubusercontent.com/65850956/186568482-98aff59e-e6aa-4bef-b67a-b8f380d13033.jpg)

[2022-08-25 06:43] ChrisMichaelPerezSantiago commented on #14204
Hi @smoothdvd ,

It is an authenticated service, I am passing the payload as data and the token.

[code]

[2022-08-25 08:40] ChrisMichaelPerezSantiago commented on #14204
@smoothdvd ,

According to the documentation: https://docs.strapi.io/developer-docs/latest/guides/is-owner.html

There is an example where it is indicated that it must be passed (author property):
[code]

[code]

**Result**:

It does not return the author information (createdBy)
[code]

[2022-08-25 09:57] Convly commented on #13237
Hey everyone, I would be very interested if anyone could provide me with a simplified version of a repository (zip, repo, anything) and which commands to use to reproduce the issue.

[2022-08-25 10:19] WalkingPizza commented on #14202
I believe it's a duplicate of #13888.
You can find a PR that aims at solving this in that issue.

[2022-08-25 10:54] #13399 closed

[2022-08-25 11:38] blemoine167 commented on #13135
So basically do you plan to allow the user to choose a "no content versioning design" or are we stuck with this awkward design forever ? This is a crucial matter for us.

[2022-08-25 12:21] chrift commented on #14202
Yes, I would agree it is a duplicate. Marking this as closed.

[2022-08-25 12:21] #14202 closed

[2022-08-25 12:34] ArthurPedroti commented on #13237
@Convly

Clone this repo: https://github.com/ArthurPedroti/strapi-typescript-production-bug
Run `strapi build`
Run `node server.js`

[2022-08-25 12:35] akolbuszewski opened #14217 "useCMEditViewDataManager().initialData not populating relational fields after update (v 4.1.8 +)"
## Bug report

### Required System information

- Node.js version: 14.19.0
- NPM version: 6.14.16
- Strapi version: 4.3.6
- Database: Postgres
- Operating system: macOS

### Describe the bug

After upgrading strapi from version 4.1.0 one of our plugins stopped working. This is because `useCMEditViewDataManager().initialData` is not populating relational fields in newer version. This issue was pres

[2022-08-25 12:51] gu-stav commented on #14217
@akolbuszewski Thank you for opening this issue. We are currently working on moving relational fields from the sidebar into the main view and lazy-loading all of it's content. Would you explain me: 1) which plugin you are using 2) what your expectations are regarding `initialData` for relational fields, if these are lazily loaded?

[2022-08-25 13:27] akolbuszewski commented on #14217
It's a simple plugin created by us which is generating url based on data obtained from `useCMEditViewDataManager().initialData`. If those relational fields are lazy loaded I would assume that `useCMEditViewDataManager()` is exposing function that allows to load missing data.

[2022-08-25 13:58] galago commented on #14085
no change after installing 4.3.6. Still the same error

[2022-08-25 14:00] Namstel commented on #8564
I'm also running into this issue. Would love an ETA as well.

[2022-08-25 14:04] Convly commented on #13237
Thanks, as pointed out by the documentation (https://docs.strapi.io/developer-docs/latest/development/typescript.html#start-strapi-programmatically), could you please try to replace the content of your `server.js` file with the following snippet:

[code]

And tell me if it fixed your issue.
Have a nice day!

[2022-08-25 14:07] OmarMtya commented on #13237
If that's the solution, could you guys update the [Process manager documentation](https://docs.strapi.io/developer-docs/latest/guides/process-manager.html#install-pm2)?

[2022-08-25 14:17] gu-stav commented on #14217
Could you describe me a bit further what you'd like to do with these relations? Let's assume n relations are initially loaded: you'd expect to have 1) these n relations in initialData 2) a method to load n more? How would you use that?

[2022-08-25 15:57] StrapiShaun commented on #13237
Documentation PR is [here](https://github.com/strapi/documentation/pull/1082)

[2022-08-25 19:13] lgemc commented on #12615
That can also happen when instead of `createCoreController` `createCoreService` is wrongly placed

[2022-08-25 20:35] Esipode opened #14224 "Components injected into Content Manager Edit View do not render after filling in fields from another locale"
## Bug report

### Required System information

- Node.js version: 14.20
- NPM version: 6.14.17
- Strapi version: 4.1.8
- Database: Postgres
- Operating system: MacOS

### Describe the bug

When creating or editing a collection type, if you have a component injected into the edit view of the content manager and select the 'Fill in from another locale' button, the page will stop rendering the injec

[2022-08-26 01:24] smoothdvd commented on #14204
In restful-api, you can send
[code]
to add author.

[2022-08-26 04:37] yangfei4913438 opened #14225 "Error popping up when switching languages"
## Bug report

### Required System information

- Node.js version:  v16.15.1
- NPM version: v8.11.0
- Strapi version:  v4.3.6
- Database: sqlite3
- Operating system:  Apple M1 Pro

### Describe the bug

When I switch the display language in the collectionType list page of the content-manager function, the system pops up a full-frequency error warning, and I can't understand this error message.

##

[2022-08-26 04:43] nogumaruo opened #14226 "Records that are restricted by custom roles are not restricted through the Relation component."
## Bug report

### Required System information

- Node.js version:v16.14.0
- NPM version:8.6.1
- Strapi version:4.3.6
- Database:postgresql
- Operating system:mac OS 12.2.1

### Describe the bug
Records that are restricted by custom roles are not restricted through the Relation component.

### Steps to reproduce the behavior
## Prerequisite
strapi is Enterprise edition

## Steps
1. Create a List c

[2022-08-26 06:25] MatthiasDunker commented on #13300
Hey @Convly ,
Has this also been fixed for version 3?
It is a bug there, too.
Thanks in advance.

[2022-08-26 07:21] ChrisMichaelPerezSantiago commented on #14204
@smoothdvd, Could you provide an example (using strapi version 4) of what it would look like?

[2022-08-26 07:30] smoothdvd commented on #14204
[code]

[2022-08-26 13:40] emahuni commented on #7811
The way that Strapi is being used to create test harness is just not good. I am writing a plugin that I hope strapi team will adopt that simplify testing. It uses Vitest instead of jest. It enables us to run any test file and use just one strapi instance, which is loaded on setup. You can also use it to watch for changes. It's a simplified way of testing with Strapi.

I think most issues starts fr

[2022-08-26 13:55] emahuni commented on #7811
To see what is happening do this:

[code]
It will spit out what testing suite is swallowing.

[2022-08-26 14:04] Stofkat commented on #12418
Is there any update for this?  Still running into this issue while trying to run strapi containerized

[2022-08-26 15:21] emahuni commented on #14184
On the documentation site: https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#validations

[2022-08-26 16:23] vileen commented on #11919
@goodpixels perhaps the issue is that you're nesting fields?
My body looks like this:
`files: (binary)
ref: plugin::users-permissions.user
refId: 7
field: avatar`

without any wrapping in the `data` object.

Also, for the image to be replaced after the first upload, I need first to remove the old connection and then upload a new image.

[2022-08-26 17:21] #13455 closed

[2022-08-26 20:56] derrickmehaffy commented on #13135
To allow for users to disable or enable the content versioning system requires the usage of our schema design, so no you cannot convert to using a simple FK column.

Strapi is not building an API framework, it's being a Headless CMS and thus the use-cases we are targeting rely on bulk usability with minimal deep effort. This requires us to design things differently than one might in their own cust

[2022-08-26 21:20] ArthurPedroti commented on #13237
Taking advantage of this issue, Strapi documentation doesn't talk about good practices of running Strapi in cluster mode, that is one of the cases to optimize and take advantage of your server, where you can use the pm2, like the docs already mention.

Could one of you create a section to talk about cluster mode best practices in the documentation please?

I don't know if it's relevant, but in my

[2022-08-27 06:30] ChrisMichaelPerezSantiago commented on #14204
@smoothdvd,

There is no way to assign the author of the publication to a user created from the content-type User?
<img width="887" alt="Untitled" src="https://user-images.githubusercontent.com/21962584/187018075-05517f07-e1d0-4cb3-9760-e7f470430785.png">

It shows me an error in the relations of the db in assigning the ID to the user, since it only works with `id = 1`, which in theory is me.

[2022-08-27 09:10] OmarMtya commented on #13237
![image](https://user-images.githubusercontent.com/39967608/187023554-4df5461f-3a74-4fb6-94aa-e38de977dea4.png)
![image](https://user-images.githubusercontent.com/39967608/187023564-376c332d-cf36-4410-9b67-a18ffd2f1908.png)
It's happening again, it doesn't matter anyway if you're using or not pm2. As you can see is a new project with `latest` version

[2022-08-27 09:18] OmarMtya commented on #13237
![image](https://user-images.githubusercontent.com/39967608/187023863-f81f1283-aab1-4182-a1e6-2015b1013af5.png)
![image](https://user-images.githubusercontent.com/39967608/187023879-0b6919f8-b26f-4e62-b713-97bcc9058954.png)

The problem is typescript

[2022-08-27 14:57] wfamous commented on #13832
Unfortunately this local fix is not working for me.
When trying to receive Stripe webhooks I get this error:

`error: stream is not readable
InternalServerError: stream is not readable`

I'm using Strapi 4.3.2

[2022-08-27 15:23] emahuni commented on #7811
I have published the package as [strapi-plugin-vitest](https://www.npmjs.com/package/strapi-plugin-vitest) on npm, try it out, watch not working as expected, but can use a workaround with chokidar

[2022-08-27 17:20] sh13n commented on #13805
Instead cache level (step 2), you can try to disable Rocket Loader, it works in my case.

[2022-08-27 17:21] sh13n commented on #13636
https://github.com/strapi/strapi/issues/13805#issuecomment-1190288374
https://github.com/strapi/strapi/issues/13805#issuecomment-1229230964

[2022-08-27 17:22] sh13n commented on #13167
https://github.com/strapi/strapi/issues/13805#issuecomment-1190288374
https://github.com/strapi/strapi/issues/13805#issuecomment-1229230964

[2022-08-27 22:47] Zedonboy commented on #12286
I am getting Missing credential error from all my APIs.

How do i make it public?

[2022-08-28 03:36] smoothdvd commented on #14204
@ChrisMichaelPerezSantiago because of created_by_id / updated_by_id is associated with admin_users's id.

[2022-08-28 07:38] VinylVault opened #14236 "Unable to install Strapi"
## Bug report

### Required System information

- Node.js version: 16.13.1
- NPM version: 8.18.0
- Strapi version: latest v4 (as far as i know)
- Database: PG
- Operating system: win 10

### Describe the bug

unable to complete install either via `npx create-strapi-app@latest my-project` or running a starter as per docs

as detailed below, this appears to be an issue when trying to access the Font

[2022-08-28 08:21] leo-diehl commented on #14038
I'm having exactly the same issue. Upgraded the version, already had media uploaded,
`Error: ER_NO_SUCH_TABLE: Table 'strapi.upload_folders' doesn't exist`

[2022-08-28 08:31] leo-diehl commented on #14038
Update about this issue: it happened to me after upgrading strapi from `4.3.4` to `4.3.6`.
I downgraded it to `4.3.4` and the bug isn't present anymore.

[2022-08-28 09:47] VTFLAB commented on #11828
I have confirmed the operation based on this excellent example.
I was able to create an Activity for user registration by doing the following, just for reference

[code]

I think this issue has been resolved.

Strapi version: 4.3.6
plugin-users-permissions version: 4.3.6

[2022-08-28 13:00] donnierisk opened #14237 "Strapi crashes locally after creating content type"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: 8.15.0
- Strapi version: latest
- Database: Dockerised PostgreSQL
- Operating system: Mac OS

### Describe the bug

When I run Strapi locally first time using "npm run develop" it works fine. I register, then as soon as I click "save" after creating a new content type with a field, Strapi crashes.

My Strapi

[2022-08-28 13:45] WalkingPizza commented on #14225
This is actually an issue with the `Popover` component, specifically with this line of the `position` function, which is supposed to properly position the popover relative to the element that opens it.

https://github.com/strapi/design-system/blob/7da56a87f203fd228f2e482f47aa6da0b25b75a3/packages/strapi-design-system/src/Popover/Popover.js#L10

[2022-08-28 14:25] kraftdorian commented on #12225
was able to get it working for the relation field type, using the notNull operator on the related content type fields:

[code]

using Strapi v4.3.4

[2022-08-28 15:40] derrickmehaffy commented on #14236
You have setup the paid font awesome globally on your machine. Double check your npm config: https://fontawesome.com/docs/web/setup/packages

This isn't a bug with Strapi but the users environment, going to set as closed.

[2022-08-28 15:40] #14236 closed

[2022-08-28 17:05] VinylVault commented on #14236
@derrickmehaffy No, I havn't set them up.

[2022-08-29 05:29] StrapiShaun commented on #13237
Hello @ArthurPedroti! I added your request to our public [documentation requests](https://feedback.strapi.io/documentation/p/cluster-mode-documentation). Please feel free to visit the page and vote for the topic.

[2022-08-29 09:24] qunabu commented on #7811
I see that there are some test and it's documentation issues because there are breaking changes between version, and to be honest its impossible to maintain the documentation. There is no no focus on backward compatibility - what used to work in 4.2 is not working 4.3 and so on.

@emahuni What you did is just great, kudos

I'm maintaining this repository for both v3 and v4 of Strapi which is good

[2022-08-29 10:16] Slazerslaze commented on #10603
Is there any progress on this issue? Having the same problem with Strapi 4.

[2022-08-29 10:18] phollaki opened #14242 "Error message is not detailed enough when I create a content type"
## Bug report

### Required System information

- Node.js version: v14
- NPM version: 6.14.17
- Strapi version: 4.3.6
- Database: postgres
- Operating system: MAC (M1)

### Describe the bug

When I wanted to create an article content type with Title, Content, Thumbnail and Slug attributes I got a simple general error message. It took me 20-30 minutes to figure out where the error was coming from.

[2022-08-29 10:52] WebMamba opened #14243 "__component key those not appear on nested component"
## Bug report

### Required System information

- Node.js version: v16.17.0
- Yarn version: 1.22.19
- Strapi version: 4.3.6
- Database: mysql
- Operating system: OSX

### Describe the bug

If you request a Single-Type or a Collection-Type containing a component, and this component contains himself a component. With the api you can request to populate and get also this nested component. The parent

[2022-08-29 13:25] hummal commented on #13889
Even with absolute url its not working.

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/633711/187210567-d3b25c23-e98b-491f-b347-e16e9f907950.png">

[code]

[2022-08-29 13:48] danwritecode opened #14245 "Fields in nested component not rendering in UI but are shown in API response"
## Bug report

### Required System information

- Node.js version: v14.19.2
- NPM version: 6.14.17
- Strapi version: 4.1.11
- Database: mysql
- Operating system: Ubuntu 18.04.6 LTS

### Describe the bug

I have a content type called Page. Within page, there is a component available: page-heading. Within page-heading there are two other components: header and subheader.

When I'm in the page record

[2022-08-29 15:42] tilman opened #14249 "Admin settings roles page does not work anymore and throws an error with every safe"
## Bug report

### Required System information

- Node.js version: v14.19.3
- NPM version: pnpm 7.9.4
- Strapi version: 4.2.2
- Database: postgres
- Operating system: macOS

### Describe the bug / Steps to reproduce the behavior

I have created a new single type which I want to add to one of my configured roles under`/admin/settings/roles`.
Therefore I aktivated the tick in the top level view left

[2022-08-29 15:42] #13945 closed

[2022-08-29 15:44] emahuni commented on #7811
Yes that'd be great. Will pull soon.

[2022-08-29 15:47] jamesaphoenix opened #14250 "strapi-provider-upload-google-cloud-storage not able to edit video"
## Bug report

### Required System information

- Node.js version: v16.14.0
- NPM version: 8.3.1
- Strapi version: 4.3.3
- Database: CloudSQL (postgres)
- Operating system: Linux

### Describe the bug

Currently I am saving all of my media in cloud storage with the following cloud provider -  https://github.com/strapi-community/strapi-provider-upload-google-cloud-storage

Version: `"@strapi-commun

[2022-08-29 15:50] StrapiShaun commented on #14250
I am having the same issue with DigitalOcean (using the AWS s3 provider). Images and audio files can be selected, but the only way to select videos is the 'select all' at the top of the media library.

[2022-08-29 17:35] danwritecode commented on #14245
Resolved by upgrading to strapi v4.3.6 :)

[2022-08-29 17:35] #14245 closed

[2022-08-29 18:17] derrickmehaffy commented on #12911
I can confirm that using the v4 pagination does not currently work. As a temporary workaround you can use the old v3 synatx (confirmed working) with `start=1&limit=1`

[2022-08-29 18:19] derrickmehaffy commented on #13916
Adding the additional sort params would be the best method, again we are at the mercy of the database technology behind and how it handles paging. Keep in mind that databases (and strapi itself) are not context aware of previous queries. A request is made, a query happens, and a response is provided. All history of this action is gone when the next cycle happens.

[2022-08-29 18:19] #13916 closed

[2022-08-29 18:25] derrickmehaffy commented on #13184
@PaulBratslavsky this might help you

[2022-08-29 18:28] derrickmehaffy commented on #13507
Marking as confirmed due to number of users and moving to medium as no good workaround exists

[2022-08-29 18:30] derrickmehaffy commented on #8317
Because there are two entirely different lifecycle actions. One for regular delete and one for bulk

[2022-08-29 18:39] derrickmehaffy commented on #14085
Can any of you try reproducing this on a fresh project and try working through the migrations?

[2022-08-29 18:42] derrickmehaffy commented on #8564
Appears we aren't exposing it, reopening as enhancement

[2022-08-29 18:43] derrickmehaffy commented on #13300
We are not currently patching bugs in v3, see: https://github.com/strapi/strapi/security/policy

[2022-08-29 21:15] VaibhavPaliwal0007 commented on #12225
How can I combine notNull and my condition?
<img width="294" alt="image" src="https://user-images.githubusercontent.com/78612380/187300254-817ac0db-29fe-4310-b0c7-abf9ca33509e.png">
Basically if the array is not empty then check for id

[2022-08-29 22:26] aplr commented on #13237
TL;DR:

`ADD ./tsconfig.json /path/to/strapi/tsconfig.json`
`ADD ./src/index.ts /path/to/strapi/src/index.ts`

---

I also had this issue when using the typescript template. I put the `dist/`, `package.json` and `public/` into the final container, but I had the issue with `Unknown dialect undefined`.

The problem is not with typescript but with how bad the typescript out dir is detected really. Wh

[2022-08-30 05:52] Eventyret commented on #13889
How are you building the image?

[2022-08-30 06:27] sjoukedv opened #14251 "sanitize.contentAPI not populating relations"
## Bug report

### Required System information

- Strapi version: 4.3.6
- Database: Postgres

### Describe the bug

I am trying to populate relations on the user object by calling `api/users?populate=*`. Using the custom extension below:

[code]

<details>
  <summary>schema</summary>

[code]
</details>

Printing the user object before it is passed to `sanitize.contentAPI.output(...)` shows the obj

[2022-08-30 06:28] sjoukedv commented on #14251
FYI: I am using an extension to override the controller so that I could enforce the population of fields for `plugin.controllers.user.me ` with

[code]

[2022-08-30 09:51] reorx commented on #12130
I think the limitation or the length of 255 is fine, the real problem is, both the frontend and API do not validate the user's input, making it shown the "Internal Server Error" warning eventually. This is quite confusing because users do not understand such notice. Generally, it's an uncovered case about user interaction.

[2022-08-30 10:02] rubyjasmin commented on #13866
For anyone who is getting the following error on `next dev`:
[code]
Try moving `import "raf/polyfill"` to the top of _app.tsx

[2022-08-30 10:08] larbish opened #14257 "Call to /api/auth/github/callback?access_token=<token> returns a 400"
## Bug report

### Required System information

- Node.js version: v16.14.2
- NPM version: 8.5.0 (yarn 1.22.18)
- Strapi version: 4.3.6
- Database: pgsql
- Operating system: OSX

### Describe the bug

Using Github oAuth provider - the call to the strapi server for callback returns a 400

Response for `http://localhost:1337/api/auth/github/callback?access_token=<token>` is :

`{"data":null,"error":

[2022-08-30 12:40] hummal commented on #13889
Dockerfile
[code]

docker-compose.yml
[code]

[2022-08-30 12:47] MatthiasDunker commented on #13300
I see, thanks.

For those who need an updated version 3, here is what I did:

1. Add the following to `/packages/strapi-admin/controllers/user.js` into the `create` controller before the line `// Send 201 created` (around row 40).

[code]

2. Run patch-package. The description is in the Readme: https://github.com/ds300/patch-package

That’s it. From now on, invite links will have a token

[2022-08-30 13:11] antokhio commented on #13237
Hi, any news on eta that issue getting fixed without workarounds?

[2022-08-30 13:58] #14257 closed

[2022-08-30 14:23] yanniskadiri commented on #10001
Documentation has been updated through [this PR](https://github.com/strapi/documentation/pull/1085), I'm closing this issue.

[2022-08-30 14:23] #10001 closed

[2022-08-30 15:18] nu11secur1ty opened #14261 "CORS-vulnerability"
-snip-

[2022-08-30 17:21] ChrisMichaelPerezSantiago opened #14263 "Use of lifecycle error handling in production."
Node.js version: v14
Strapi version: 4.3.6
Database: postgres
Operating system: MAC

I am currently using the library:  For error handling in a lifecycle of a particular content-type.

[code]

The problem is the following, using the following code as a reference:

[code]

When I'm working on localhost (development mode) with NextJS the error is the expected *The identifier was not provided*, but w

[2022-08-30 17:45] AakashPat commented on #4045
Still running into this issue!!!

[2022-08-30 18:07] matthewdenison commented on #13237
`PS C:\dev> yarn create strapi-app strapi-4.3.6 --typescript --quickstart
yarn create v1.22.19
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
success Installed "create-strapi-app@4.3.6" with binaries:
      - create-strapi-app
Creating a quickstart project.
Creating a new Strapi application at C:\dev\strapi-4.3.6.
Creating file

[2022-08-30 18:09] matthewdenison commented on #13237
If I remove the typescript argument then the project creates fine. It is like Omar has said above. There is definitely a problem with Typescript.

[2022-08-30 18:18] sh13n commented on #11290
Please, submit your license key here so we can reproduce the issue.

[2022-08-30 18:18] sh13n commented on #11290
Please, submit your license key here so I can reproduce the issue.

[2022-08-30 20:03] a-witkowski commented on #14085
same bug on fresh installation https://github.com/a-witkowski/test-strapi

node: v16.15.1
windows: 10
database: postgres

<pre>
yarn develop
yarn run v1.22.15
$ strapi develop
Building your admin UI with development configuration...
Admin UI built successfully
[2022-08-30 21:55:51.090] debug: ⛔️ Server wasn't able to start properly.
[2022-08-30 21:55:51.092] error: Unknown dialect undefined
Error:

[2022-08-30 22:32] alexandrepaiva-dev commented on #12867
This same issue is happening with me too, I haven't found a solution yet.

[2022-08-30 22:35] alexandrepaiva-dev commented on #12867
This same issue is happening with me too when using Amazon SES, I haven't found a solution yet.

[2022-08-31 04:59] derrickmehaffy commented on #14261
Per our security policy, please report suspected vulnerabilities to security@strapi.io

[2022-08-31 05:00] #14261 closed

[2022-08-31 07:11] gu-stav commented on #12094
This issue was fixed with the release of [4.3.3](https://github.com/strapi/strapi/releases/tag/v4.3.3).

[2022-08-31 07:11] #12094 closed

[2022-08-31 07:28] OmnomnomTee commented on #12867
I had the same problem. In my case, it was a user error, but the error message was unhelpful. If you need to debug your issue go to the following file:

node_modules/@strapi/plugin-email/server/controllers/email.js
At line 50 replace

[code]
with:

[code]

This gives clearer error messages. In my case

[code]

Is now correctly logged as

[code]

For me the correct URL is: https://email.eu-central-

[2022-08-31 07:51] HmnSDR commented on #14257
Can you pls send me only one passord can connect to authe

[2022-08-31 13:11] gu-stav commented on #13086
@derrickmehaffy We looked at the issue briefly, because we are working on relations at the moment but didn't fully understand if this is a bug or a feature request: we settled on feature request, which is asking to allow configuring whether only published or also draft entities are displayed.

If you agree this is a feature-request: could you move it to Canny then please? 🙏🏼

[2022-08-31 13:57] bolg55 commented on #14249
I just want to clarify that I am taking the steps you've outlined. If so, I wasn't able to reproduce on the latest Strapi v4.3.6, but will roll back and attempt on 4.2.2 if you can verify that these are the correct reproduction steps.

https://user-images.githubusercontent.com/43022248/187695883-21705832-b27e-4877-969e-f1364adf44a6.mov

[2022-08-31 14:25] bolg55 commented on #14249
Ok, that's helpful -> I misread and thought you were using a custom role which is why I used an Ent version. I will try w/ the community edition. Thanks for the clarification

[2022-08-31 14:54] MoOx opened #14277 "GraphQL schema doesn't reflect usersPermissionsUsers query result"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.7.0
- Strapi version: 4.3.6
- Database: postres 14.2-1.pgdg110+1
- Operating system: macOS 12.5.1

### Describe the bug

I am doing a graphql query like `usersPermissionsUsers`

[code]

Schema says this query returns `UsersPermissionsUserEntityResponseCollection`

Which is

[code]

But in my case I don't r

[2022-08-31 15:06] bolg55 commented on #14249
I am unable to reproduce on v4.2.2 community edition. Creating a single type and enabling on both editor/author roles do not produce an error for me.

[2022-08-31 15:19] bolg55 commented on #14237
Which Strapi version explicitly are you using? is it v4.3.5 or v4.3.6? Does this still happen locally if you don't use a docker container?

[2022-08-31 15:47] bolg55 commented on #14157
Hello - can you please update your bug report with the correct Strapi version? It should reflect supported versions of v3.x+ or v4.x+

[2022-08-31 15:49] kasonde commented on #14250
Hi 👋🏾
Closing this issue as it's not a Strapi issue but an issue with the provider itself. [Here's the problem](https://github.com/strapi-community/strapi-provider-upload-google-cloud-storage/issues/132) . We're experiencing the same thing with DigitalOcean spaces with our S3 provider.

[2022-08-31 15:49] #14250 closed

[2022-08-31 16:17] derrickmehaffy commented on #14263
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-08-31 16:17] #14263 closed

[2022-08-31 16:23] derrickmehaffy commented on #14251
Please see this entry in the documentation: https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/rest/populating-fields.html#relation-media-fields

Specifically:

![image](https://user-images.githubusercontent.com/8593673/187729438-8226c24d-6fd3-4215-8ff6-5b99fb7de985.png)

Can you please confirm if you have enabled the find permission for the related content-ty

[2022-08-31 16:27] derrickmehaffy commented on #14243
Duplicate: https://github.com/strapi/strapi/issues/8453

[2022-08-31 16:27] #14243 closed

[2022-08-31 17:47] MoOx commented on #14277
Hummm. I faced something weird. Not sure what I did but it seems I am not able to reproduce this issue.

[2022-08-31 17:47] #14277 closed

[2022-08-31 17:52] kasonde commented on #14277
Hi @MoOx I think the issue was you queried a singular user. I'm referencing the image you shared here:
![image](https://user-images.githubusercontent.com/13610895/187746184-7f1b6b8f-0372-4110-96cd-c307d943330f.png)

[2022-08-31 18:43] derrickmehaffy commented on #13229
duplicate: https://github.com/strapi/strapi/issues/13103

[2022-08-31 18:43] #13229 closed

[2022-08-31 18:48] derrickmehaffy commented on #13900
Marking as closed as this should be fixed in the current latest versions, if the issue comes up again do let us know and we can reopen.

[2022-08-31 18:48] #13900 closed

[2022-08-31 18:57] alexgrant999 opened #14281 "App Crashes 500 Error when Registering user with duplicate email or username"
## Bug report

### Required System information

- Node.js version: v16
- NPM version: v8.1.2
- Strapi version: 4.3.4
- Database: MySQL
- Operating system: MacOS 12.0

### Describe the bug

When registering a user for with the same email or username a 2nd time, the app crashes and gives a 500 error instead of returning a message that there is a duplicate user:

`{
    "data": null,
    "error": {

[2022-08-31 18:57] derrickmehaffy commented on #14126
Just some additional confirmation before the fix is merged:

![Image](https://user-images.githubusercontent.com/8593673/187760423-dd1e714a-baeb-4837-899f-36e2e92f465e.png)

![Image](https://user-images.githubusercontent.com/8593673/187760438-6b453a18-7651-412e-adee-7e8cf1d3535b.png)

[2022-08-31 19:51] bolg55 commented on #14281
I'm not able to reproduce following the above steps

<img width="1242" alt="Screen Shot 2022-08-31 at 3 49 58 PM" src="https://user-images.githubusercontent.com/43022248/187769390-d2051022-d004-49aa-ad76-23e55bed3815.png">
<img width="624" alt="Screen Shot 2022-08-31 at 3 50 15 PM" src="https://user-images.githubusercontent.com/43022248/187769394-ac582b82-56d7-4c51-875e-e3c81b7948ac.png">

[2022-08-31 20:02] alexgrant999 commented on #14281
@bolg55
Strange, here are my screenshots:
<img width="883" alt="Screen Shot 2022-09-01 at 6 00 12 am" src="https://user-images.githubusercontent.com/4098580/187771118-5e6702f4-08c5-49d6-9a07-e6fbd517f82d.png">
<img width="981" alt="Screen Shot 2022-09-01 at 6 01 15 am" src="https://user-images.githubusercontent.com/4098580/187771317-3bf13c24-9e20-4952-8779-340e2b9cc4e4.png">

[2022-08-31 21:50] alexandrepaiva-dev commented on #12867
Thanks @OmnomnomTee! Doing this I was able to debug the error and fix it in Amazon SES. In my case it was related to the policy, I needed to update based on this answer:

https://stackoverflow.com/questions/63725466/aws-ses-user-is-not-authorized-to-perform-sessendemail-on-resource

[2022-09-01 00:27] guidolarosa commented on #11665
Hi, did anyone make any progress solving this issue? I added the entries programmatically using strapi-migration-plugin and the UID is displayed properly on the editor UI, but when I try to retrieve them using the API they return as 'null'.

[2022-09-01 06:19] JulianGoh5 commented on #14121
@kalwas123 would you be able to share the source code of what edits you made to fix? Facing the same issue

[2022-09-01 06:28] Krislunde commented on #13117
@derrickmehaffy Any updates on this? I see the workaround is to create shorter collection names, but it still makes me anxious to use in production for clients.

[2022-09-01 06:30] sjoukedv commented on #14251
@derrickmehaffy That is indeed the culprit. It might be a feature request to allow the population of relations as I might not want to 'open' all the items in a collection to a role, but just the ones that are linked (by means of a relation) to the up-user in this case. Right now, I will have to overwrite the find handler for this.

e.g. I have a user with collection item id 1 en 2 linked to it. As

[2022-09-01 08:19] Convly commented on #13653
Hi, I think the issue is mainly linked to how the read-only tokens work behind the scene. Currently, they're only checking for scopes ending with `find` or `findOne`, which doesn't fit the `listLocales` scope.

An idea would be to allow customizing the patterns for read-only tokens so that they can fit different application structures and user cases. (just have to think about how to handle REST vs

[2022-09-01 08:20] Convly commented on #13653
However investigating a bit this issue made me spot the fact we're not exposing the right scope right now for GraphQL > i18nLocales, I'll submit a fix for that

[2022-09-01 09:08] phollaki commented on #14242
@gracebir No. Just create a fresh react project with strapi with npx (with latest strapi version). Then create a new content type in strapi Admin UI.

[2022-09-01 12:51] antokhio opened #14286 "TS QueryEngine populate accepts only array type"
## Bug report
According to example from [docs](https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/query-engine/populating.html)

[code]

### Required System information

- Node.js version: 16.4
- Strapi version: 4.3.2
- Template --typescript

### Describe the bug

[code]
however property "populate" is ```(property) FindParams<AllTypes>.populate?: (string | num

[2022-09-01 14:27] yvipinaxioned commented on #13237
Same error with TypeScript. Any fixes yet?
Works fine with JS.

[2022-09-01 14:44] jwoodb opened #14287 "Cannot remove GraphQL mutations related to plugins"
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: 6.14.16
- Strapi version: 4.3.4
- Database: MySQL 8
- Operating system: MacOS

### Describe the bug

I am using Strapi with the GraphQL plugin.

I would like to remove all of the queries and mutations that are generated related to plugins (e.g. users-permissions plugin).

I have seen from [the docs](https://

[2022-09-01 14:50] mmathys commented on #11665
I have this issue as well.

[2022-09-01 15:19] raphaeldas commented on #12638
For everyone interessted: I solved this problem by adjust the controller of the desired single-type:

[code]

This code checks if the query parameter `locale=all` exists, then queries a list of all available languages from the i18n service. With these languages the find query gets made and collected in an array. this array then finally gets return.

[2022-09-01 15:47] StrapiShaun opened #14288 "S3 providers are transposing the bucket and endpoint for video uploads"
## Bug report

### Required System information

- Node.js version: 14.19.3
- NPM version: yarn 1.22.18
- Strapi version: 4.3.6
- Database: Postgres/SQlite
- Operating system: Mac OS 12.4

### Describe the bug

When uploading videos to Digital Ocean Spaces the S3 providers return the file address incorrectly. The bucket and endpoint are transposed in the address and `http` is missing (see screensho

[2022-09-01 17:01] ilosrim opened #14289 "Warning during installation"
Hello 👋
Such a warning appears during the installation of "Strapi":
[code]

[2022-09-01 17:13] derrickmehaffy commented on #14289
Thank you for the information but you can safely ignore this, likewise next time please follow the issue template

Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the is

[2022-09-01 17:13] #14289 closed

[2022-09-01 17:27] derrickmehaffy commented on #14251
It's a use-case we are widely aware of but cannot fix with the current plugin and we are evaluating building a new one but no ETA on that. Basically it resolves around this feature: https://feedback.strapi.io/feature-requests/p/field-level-permissions-end-user-management

Since you confirmed it I'll mark this as closed but I'll mention this issue on that FR

[2022-09-01 17:28] #14251 closed

[2022-09-01 17:29] derrickmehaffy commented on #13117
Currently no, I'm waiting on a response from our product and engineering teams. The workaround as you mentioned is to modify the collection name and use the manual migrations to rename the table during boot. You can see this WIP docs for the manual migrations: https://github.com/strapi/documentation/pull/889

[2022-09-01 17:35] derrickmehaffy commented on #13086
Created: https://feedback.strapi.io/customization/p/hide-component-with-relations-drafts

Will mark this as closed and lock it

[2022-09-01 17:35] #13086 closed

[2022-09-01 17:49] derrickmehaffy commented on #14152
duplicate: https://github.com/strapi/strapi/issues/10030

[2022-09-01 17:49] #14152 closed

[2022-09-01 17:49] derrickmehaffy commented on #10329
Thank you @JWesorick

[2022-09-01 17:49] #10329 closed

[2022-09-01 17:55] derrickmehaffy commented on #13586
Marking as closed for now until new reproduction steps are added

[2022-09-01 17:55] #13586 closed

[2022-09-01 18:06] derrickmehaffy commented on #14224
Can you please test this on the latest version, yours is quite old: `Strapi version: 4.1.8`

Marking as closed for now until the user confirms the issue on at least 4.3.x

[2022-09-01 18:13] derrickmehaffy commented on #14249
Also cannot reproduce. Going to mark this as closed for now until we can get clean reproduction steps.

[2022-09-01 18:13] #14249 closed

[2022-09-01 18:15] derrickmehaffy commented on #14157
Marking as closed as we don't know which version

[2022-09-01 18:15] #14157 closed

[2022-09-01 19:11] sjoukedv commented on #14251
Thanks for the quick reply!

Indeed this relates to the up-plugin. In hindsight, this also explains why I cannot `POST` an entry to a collection with a relation to which the role does not have access to. For up-users I need the `find` or `findOne` permission to do this, but this means that e.g. every authenticated user is able to fetch other user's details. I am hoping this gets more priority soon

[2022-09-01 19:31] gracebir commented on #13648
@WalkingPizza  what does `gu` and `sa` for as country code

[2022-09-01 19:55] Esipode commented on #14224
Retested on 4.3.6, issue is still present.

[2022-09-01 20:56] Paratron opened #14291 "Errors from provider-email-sendgrid are _very_ confusing"
I found a bug in provider-email-sendgrid which caused very confusing error responses when trying to create a user.

- Node.js version: does not matter
- NPM version: does not matter
- Strapi version: 4.3.6
- Database: does not matter
- Operating system: does not matter

### Describe the bug

I was trying to register a new user through the REST API. The API response was status 400: Forbidden.
The w

[2022-09-01 20:59] VladimirAndrianov96 commented on #13850
Hey, have you tried restarting the Strapi instance? I noticed it does not refresh a cloud instance after you create a new language using a local instance (cloud and local instances both use same cloud DB), this might help someone, that requires restarting Strapi in cloud manually

[2022-09-01 21:19] matthewdenison commented on #13237
In case anyone from the Strapi team is watching this issue.

I have tried numerous ways to create and run a fresh Strapi project using the --quickstart and --typescript parameters. I have tried on Windows 11 and Windows 10 (clean vm install) - both fail. The only way I can run it successfully is to use a linux based OS. If I use Ubuntu (WSL) or Docker I can get the new project running with no prob

[2022-09-01 21:31] WalkingPizza commented on #13882
This is tricky!

When using the `local` provider, the image's hash – which is just a random 5-character string and is not related in any way to the image's content, is actually appended to the filename to generate the URL at which the image is retrievable.

If the hash were to change, the URL would too, implying that you are not technically replacing the image, but rather deleting the old one and

[2022-09-01 21:47] WalkingPizza commented on #13832
Just tested this and it works properly on my test instance.

Are you sure you are importing `unparsed` from `koa-body/unparsed.js`?

[2022-09-01 21:56] AdrianFahrbach commented on #13882
We are using hashes to "detect" file changes on the client.
Our site is statically generated and images are cached (hard). So in our case only if the hash / the url of the image changes, the client sends a requests.

[2022-09-01 23:03] jsanta commented on #14038
Just updated to version 4.3.6
The error keeps jumping on, the only way I've found to trigger it is navigating in the Media Library. Cannot trace to the line of code where it is happenning in order to  at least place a console.log to know what's going on.

Anybody knows where the:

`select LENGTH(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE("path", $1, $2), $3, $4

[2022-09-01 23:11] mattpfeffer opened #14294 "Generated Typescript plugin wont run due to server import"
## Bug report

### Required System information

Node.js version: 16.16.0
Yarn version: 1.22.19
Strapi version: 4.3.6
Database: sqlite (dev environment)
Operating system: MacOS 12.5.1

### Describe the bug

Following on from issues like #13998. I think i found another problem with the Typescript version of the default generated plugin config. Initially generating the plugin works as expected with n

[2022-09-02 06:25] StrapiShaun commented on #14294
Hello @mattpfeffer did you run the `install` and `build` commands in the plugin directory? Details can be found [here](https://docs.strapi.io/developer-docs/latest/development/typescript.html#develop-a-plugin-using-typescript)

[2022-09-02 06:46] lolafkok opened #14295 "Updating nonLocalized-Field via EntityService is not working"
Node.js version: v14.19.1
Strapi version: 4.3.4
Database: MySQL

1. Create a collectionType with atleast 1 attribute that is nonLocalized.
2. Create an entry in your default-locale.
3. Create an entry in another locale.
4. In Strapi: Edit the nonLocalized-Attribute -> All entries are updated.
5. In Controller/Service: Use entityService or QueryEngineApi to update the nonLocalized-Attribute -> Not

[2022-09-02 07:09] mattpfeffer commented on #14294
@StrapiShaun Thanks for the reply. Yep, I realise can that be done and that's how I've been using it to get it working. I think my initial confusion extends somewhat from that page in the documentation, point two says:

_"Run yarn build or npm run build in the plugin directory src/admin/plugins/[my-plugin-name] to build the admin panel including the plugin."_

In reality, this is not my experience

[2022-09-02 07:58] WalkingPizza commented on #14295
I am also experiencing this on my test instance.

At the moment, the locale update/linking/creation are handled in the [Entity Service decorator](https://github.com/strapi/strapi/blob/main/packages/plugins/i18n/server/services/entity-service-decorator.js) which extends the `update` and `create` functions.

If my assumption is correct, since this decorator is only applied to the Entity Service, the

[2022-09-02 08:26] petersg83 commented on #14038
Hi @jsanta,
You'll find the corresponding code there: https://github.com/strapi/strapi/blob/main/packages/core/upload/server/services/metrics.js#L52

I haven't had time to work on it yet. Considering what was said, I guess it has something to do with the custom schema. Instead of replacing the schema with [overriding method](https://docs.strapi.io/developer-docs/latest/development/plugins-extensio

[2022-09-02 11:31] Vindeep07 commented on #13975
@derrickmehaffy I would like to work on this.
But I am not sure about solution for second error where webpack gives no input error, would be helpful if can direct for it.

[2022-09-02 13:27] ronildo commented on #14038
Thanks for you reply, I will try to fix my build today.

[2022-09-02 14:10] jsanta commented on #14038
The thing is my entities do not have any custom attributes, besides the ones that may have been added by some plugins I'm using.
Is there any way to manually check admitted attributes? Hopefully programatically, otherwise the only chance is comparing visually against the  generated json.

[2022-09-02 14:28] ahmadjoya opened #14302 "Strapi filter: the "or" works as "and" in graphql"
## Bug report

- Node.js version: 16.15.1
- NPM version: 8.11.0
- Strapi version: 4.3.6
- Database: postgreSQL
- Operating system: Windows

### Strapi filter: "or" works as "and" in graphql

hello community!
I am troubled while wanted to use complex filter using "or" for two fields.
here firstly I wanted filter by slug and setting an or operator that if the first filter is not working, than the se

[2022-09-02 15:07] Convly commented on #14302
Hi,

If you want to use `or`, you need to pass all the targeted clauses inside its array, putting the `or` next to another clause will create an `and` clause between the `or` components and the other ones.

Basically, what should work would be smth like: `or: [{ slug: { eq: $slug } }, { itSlug: { eq: $slug } }]`

[2022-09-02 15:24] ZhenFTW commented on #14281
![image](https://user-images.githubusercontent.com/17694257/188182440-46509f36-c05d-4e67-876e-2c3cf8bbae66.png)
Same issue

[2022-09-02 15:32] kibblerz commented on #5868
actionOptions: {
        upload: {
          ACL: "private"
        },
        uploadStream: {
          ACL:  "private"
        }
      }

    Just add this to upload.config in config/plugins.js. Problem solved :)

[2022-09-02 15:34] kibblerz commented on #5868
[code]

This lifecycle hook can overwrite the urls for usage with cloudfront. You can also do a findMany on the files during bootstrap, and replace the urls as Strapi boots to make the images work in the admin

[2022-09-02 16:08] petersg83 commented on #14038
Yes :)
You can run in your terminal
[code]
and then type
[code]

[2022-09-02 16:12] bolg55 commented on #14302
Closing as @Convly provided correct syntax. Not a bug.

[2022-09-02 16:12] #14302 closed

[2022-09-02 16:17] derrickmehaffy commented on #13143
Good catch! Indeed for most users that schema setting isn't needed but if your PG DB differs from the default that may be required.

[2022-09-02 16:18] derrickmehaffy commented on #13975
I'm more or less waiting on my engineering team to respond on if these files are required or not to determine what needs to be done.

[2022-09-02 16:58] petersg83 commented on #14288
@derrickmehaffy Did you reproduce the error? I couldn't find how to do it on my side

[2022-09-02 17:01] derrickmehaffy commented on #14288
Not me directly no but the issue has come up with @kasonde I believe.

Iirc it may depend on the file size (that might be another issue though)

[2022-09-02 17:09] StrapiShaun commented on #14288
Good catch @derrickmehaffy. I just tried again and small (<1mb) works, but larger clips still transpose the URL.

[2022-09-02 17:10] petersg83 commented on #13046
Hello! Sorry for the delay.
- Do you still experience this issue with the last versions of Strapi?
- Can you tell in the received data if there is some unwanted data? We had a bug where some entities would populate their parents but it should be fixed.

[2022-09-02 17:17] petersg83 commented on #14126
@derrickmehaffy do you mean you confirm the bug? What fix do you talk about?

[2022-09-02 17:42] derrickmehaffy commented on #14251
You can create a route policy or middleware to restrict actual find access but indeed the permission isn't ideal

[2022-09-02 17:44] petersg83 commented on #13129
Hello everyone :)
I'm not sure to understand how to reproduce it.
Could you do a screen recording of the problem?

[2022-09-02 17:49] jsanta commented on #14038
Ok further investigation lead to more questions:
1. Why is strapi calculating metrics even is telemetry is disabled?
2. Why are Promises  used in the optimistic way? This case is just the evidence that tells  async await may not  be the best way of managing Promises. I'll try some simple  error handling and some query debugging to see what happening underneath.

Ran the strapi console command, did

[2022-09-02 17:56] petersg83 commented on #14038
1. They are calculated but not sent, the check of if the telemetry is enabled or not is done later in the code. The best would be to check before doing the calculating I agree.
2. What part of the code are you referencing to? I'm not sure to understand what you refer to

So the schema was not changed by a plugin? It's so weird that everything works except that

[2022-09-02 18:13] petersg83 commented on #14288
I could reproduced. Interesting indeed, in one case the S3 returns an url with https `https://doproviderstestaug.fra1.digitaloceanspaces.com/video_6fc92eb8b5.mov` and on the other one without `fra1.digitaloceanspaces.com/doproviderstestaug/4dbaa904f4b1a03f2725417ca2fa05ba_4213e7bb7c.mov`.
I wonder what is going on.
Do we have to prepend the http ourselves

[2022-09-02 18:13] jsanta commented on #14038
File: `./node_modules/@strapi/plugin-upload/server/services/metrics.js`

[code]
got  this on line 51~
and on line 94 ~

[code]

Those await calls are not handling possible errors, ths making it even difficult for  debbuging.

[2022-09-02 18:17] petersg83 commented on #14288
I couldn't reproduce using directly S3.

[2022-09-02 18:19] petersg83 commented on #14288
Should we handle that in our side or should we tell DO and wait for them to fix it if it's on their side?<
@derrickmehaffy @StrapiShaun Do you know any way to contact them?

[2022-09-02 18:19] kasonde commented on #14294
Hi @mattpfeffer I'm curious to know what's going on. Was this a newly generated project? With typescript? Or did you move a JS project over to typescript? I didn't get that from the steps to reproduce

[2022-09-02 18:24] petersg83 commented on #14038
yes indeed there is no `try ... catch`. It would be cleaner to put one in the cron function in `registerCron` and only log the error.

[2022-09-02 18:28] derrickmehaffy commented on #14288
We have a shared channel with them in our internal slack.

[2022-09-02 20:07] ralphwest1 commented on #13237
I'm having same issue as about when try to create a new project on Windows 10 with typescript.
Please advise if a fix is WIP.

[2022-09-02 20:17] joh-sch commented on #8732
I'm having the same issue with Strapi 4.1.7

[2022-09-02 20:26] ScyDev commented on #13129
Post invalid JSON via the API to a content type that has a JSON field.

[2022-09-02 21:05] petersg83 commented on #13129
I receive an error when I try this
<img width="663" alt="Capture d’écran 2022-09-02 à 23 03 10" src="https://user-images.githubusercontent.com/11708220/188235023-5acd47ef-2ce8-4f43-9863-987a23196aef.png">

[2022-09-02 23:17] mattpfeffer commented on #14294
Fairly newly generated, I had done some of the usual things like setup one or two collection types but no major modifications. Both the project and plugin were typescript from scratch. I did try regenerating with similar result. I'll try again with blank project and report back.

[2022-09-03 00:38] derrickmehaffy commented on #8732
As this has already been patched in v4.3.x you will need to update.

[2022-09-03 01:55] alexgrant999 commented on #14281
@ZhenFTW @bolg55
I wonder if the problem has to do with koa or redis?
https://forum.strapi.io/t/strapi-auth-local-500-error/12958/5

[2022-09-03 02:04] mattpfeffer commented on #14294
Ok, so perhaps my initial report was a bit of a red herring, but I think it extended from an expectation I got from my reading of the documentation. Maybe this is turning into more of a docs feedback/feature request type situation 🤷🏼‍♂️

So if you read all the relevant sections in the docs about creating a project and then generating a plugin in typescript, you end up with a workflow something lik

[2022-09-03 07:16] RajatChoudhary999 commented on #14125
Hey, I'm new to open source can someone help to get Started? Thanks in advance!

[2022-09-03 12:58] Emyboy commented on #13237
⚠️HELP!⚠️  can't push to production

`Error: Unknown dialect undefined`

[2022-09-03 14:39] prodkt commented on #11860
This was the key for me. I got thrown one error missing APP_KEYS variables. I just hadn't generated them yet. Did that in 15 seconds tossed into in my .env and I was back online. Thanks man!

[2022-09-03 14:58] palbrecht1 opened #14305 "[Bug] Cannot get Strapi@latest to run with Typescript (step 1 of Getting Started)"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/getting-started/introduction.html

### Describe the bug

If you follow the Getting Started documentation but decides not to use the `--quickstart` flag, nor to use the _Starters_, you are unable to start Strapi.

You can replicate this issue by running `npx create-strapi-app@latest .` and going through the

[2022-09-03 15:52] rachasakr opened #14306 "Typescript `@strapi/typescript-utils`'s `getConfigPath` return false negative due to incorrect directory checking procedure in Windows"
## Bug report

### Required System information

- Node.js version: 16.16.0
- NPM version: 8.11.0
- Strapi version: 4.3.6
- Database: Postgres
- Operating system: Windows 10

### Describe the bug

When starting Strapi with a Typescript-enabled project, in the `getConfigPath` function, [`dirAbsolutePath = path.resolve(dir)`](https://github.com/strapi/strapi/blob/main/packages/utils/typescript/lib/ut

[2022-09-03 15:54] rachasakr commented on #14306
FYI, I've updated [the return line](https://github.com/strapi/strapi/blob/main/packages/utils/typescript/lib/utils/get-config-path.js#L26) to this and it's now working properly:

[code]

[2022-09-03 16:09] danquack opened #14307 "Abandoned ses provider core library"
The node module (node-ses) has been abandoned with the last contribution 2 years ago. The sole maintainer recommends not using this module anymore.
https://github.com/aheckmann/node-ses/issues/73#issuecomment-847081281

Provider: https://github.com/strapi/strapi/tree/main/packages/providers/email-amazon-ses

I am not sure the process that should be in place for maintaining plugins, but was hoping

[2022-09-03 16:09] rachasakr commented on #14306
Searching further in `typescript`'s repo, it seems they [strictly use forward slash](https://github.com/microsoft/TypeScript/blob/main/src/compiler/path.ts#L503) regardless of OS. So we either give in with TypeScrpt or do the path normalizing mentioned above.

[2022-09-03 16:12] rachasakr commented on #14305
Seems like this is caused by different slash things between Windows and other OS. I've opened [an issue](https://github.com/strapi/strapi/issues/14306) that you might want to check it out BTW.

[2022-09-03 17:29] rachasakr commented on #14306
PS: This issue might duplicate with #14088. But you might consider the solution mentioned above.

[2022-09-03 20:04] SzymonOwczarek commented on #12541
Similar issue here:

1. Create a single type
2. Create a repeatable component with some unique number (small int) field
3. Input multiple components with a unique number in each unique number field in the component
4. Save the draft
5. Publish the draft gives back an error saying that the field must be unique even though every number is unique.

For now, un-checking the required field is a workaro

[2022-09-03 20:52] palbrecht1 commented on #14306
Thanks a lot!!

[2022-09-04 07:20] derrickmehaffy commented on #14307
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-09-04 07:20] #14307 closed

[2022-09-04 07:41] ChrisMichaelPerezSantiago opened #14308 "Media Library UI: TypeError: Cannot read properties of null (reading 'split')"
# Bug report

I have problems accessing the Media Library from the UI in production (api hosted on AWS), the page goes blank and shows me the following error.

I did a test locally (localhost) and I can enter without problems or by building the API locally.

[code]

<img width="1390" alt="Untitled" src="https://user-images.githubusercontent.com/21962584/188302945-be270936-10e1-4383-b5a9-40a0f66681

[2022-09-04 09:35] blackinitial opened #14309 "Error lib better-sqlite3 on Mac M1"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: 8.18.0
- Strapi version: 4.3.6
- Database: Sqlite
- Operating system: Mac M1 Monterey

### Describe the bug

I have error when install `npx create-strapi-app@latest app-backend --quickstart` , im got error about better-sqlite3

### Steps to reproduce the behavior

1. npm install manually
2. remove repo and r

[2022-09-04 13:59] ohayak opened #14310 "slug set to null instead of empty String when using postgresql"
## Bug report

### Required System information
- Node.js version: 16
- NPM version: 8.15
- Strapi version: 4.6.3
- Database: postgresql 13 (pg: 8.7.3)
- Operating system: MacOS

### Describe the bug

when creating an entry with an empty slug using strapi UI, the slug value is set to null instead of empty String in the database. this is particularly troublesome for people using dynamic pages with N

[2022-09-05 01:04] kuizuo commented on #14309
I have a similar issue,also better-sqlite3 not to install. my system info is as follows:

Required System information
Node.js version: v16.15.0
NPM version: 8.18.0
Strapi version: 4.3.6
Database: Sqlite
Operating system: CentOS 7.9

[2022-09-05 02:55] am2222 commented on #4491
Hi, Any updates on this?

[2022-09-05 04:05] vikasvmads commented on #6475
Hello, If the issue is still open, I want to work on it. I am a first time contributor :)

[2022-09-05 04:18] vikasvmads commented on #14295
Hi, If the issue is open, I want to work on it. :)

[2022-09-05 04:18] vikasvmads commented on #14291
Hi, If the issue is open, I want to work on it. :)

[2022-09-05 04:28] vikasvmads commented on #14060
Hi, If the issue is still open , I want to work on this. :)

[2022-09-05 04:35] vikasvmads commented on #13693
Hi, If the issue is still open, I want to work on it. :)

[2022-09-05 06:28] Marc-Roig commented on #14060
Hi @vikasvmads  :) It is still open, and there is an ongoing discussion about how to fix this in https://github.com/strapi/strapi/pull/14081.

The current point of the discussion is, that we should return a 500 error, when filtering by a nonexisting field, to not leak the database structure.

[2022-09-05 07:28] AxeemHaider opened #14311 "Condition is not working for Users and Roles permission setting"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Strapi version: 4.3.6
- Database: MySQL
- Operating system: Ubuntu

### Describe the bug

I have enterprise edition of Strapi. I want to create new role for admin users.
Here is what I want. I want to create new role “Province” which can create sub admin users. But he can only create, read, update, d

[2022-09-05 07:34] ahmadjoya commented on #14302
Thank you so much @Convly

[2022-09-05 08:41] #14205 closed

[2022-09-05 08:48] gu-stav commented on #12541
@SzymonOwczarek We are still collecting use-cases to understand what a possible solution could look like. Do you mind describing what you are using the uid in components for and what your expectation would be in terms of how it works (maybe even combined with i18n)?

[2022-09-05 09:11] ahmedsliman commented on #14294
Hi @mattpfeffer

Thanks for your explanation,

when I run `yarn build` inside the plugin directory I got this error

[code]

Any idea if there is a missing step or so?

[2022-09-05 09:16] antokhio commented on #11998
Just came across this, with oneToOne relation, strapi version 4.3.2
Works:
[code]
Doesn't work:
[code]

Error message:
[code]

[2022-09-05 10:08] kasonde commented on #9463
Hi @Convly sure. let me reproduce this behavior and share it with you.

[2022-09-05 10:33] #14039 closed

[2022-09-05 11:50] kahrpatrick commented on #14249
I have encountered the same issue. This post solved it for me: https://github.com/strapi/strapi/issues/12842#issuecomment-1073462936

[2022-09-05 12:23] gu-stav opened #14312 "UID fields can not be created without an attached field"
## Bug report

@kasonde [reported internally](https://strapihq.slack.com/archives/CEN0F9WF6/p1662274230026039) that it is impossible to create uid fields, which are not attached to another field.

Shared loom video: https://www.loom.com/share/59e284d5a90b4ffd9cf7943f7e120eff

Backend error thrown:

[code]

It looks like as if this is a regression.

### Required System information

- Node.js versio

[2022-09-05 12:58] fdel-car opened #14313 "Crash in the admin panel if the i18n default locale is not set"
## Bug report

### Required System information

- Node.js version: 16.15.0
- NPM version: 8.11.0
- Strapi version: 4.3.2
- Database: PostgreSQL 14.3
- Operating system: macOS Big Sur

### Describe the bug

We're getting `TypeError: Cannot read properties of undefined (reading 'code')` on the create or edit content type page, if the default i18n locale is not set.

### Steps to reproduce the behavi

[2022-09-05 13:38] shmdhussain commented on #2246
Using strapi version 3.6.10

I am facing different issue in safari that is

In the response header "content-range: start-end/total_size_in_bytes", the total size value is incorrect in safari when the video is requested from uploads folder.

After restarting , issue is resolved, correct total size value is coming in content-range header.

Working good in chrome and other browsers. Only issue is in

[2022-09-05 16:36] matthewdenison commented on #13237
The 4.3.2 version also worked for me on Windows 10.

[2022-09-05 20:27] thomas-br opened #14318 "Cannot add component field to Content Manager Table/List"
## Bug report

### Required System information

- Node.js version: v14.19.3
- NPM version: 6.14.17
- Strapi version: 4.3.6
- Database: SQLite, MySQL, MariaDB
- Operating system: MacOS / Linux

### Describe the bug

In our Content-Type model we have created & used a component for a typical field to reduce duplication. The component contains a string field and a relation. Example: Model `Book`, cont

[2022-09-05 23:47] mattpfeffer commented on #14294
Sorry I didn't run into that issue, could be a seperate thing. Was this on a new or existing project? Have you modified anything?

[2022-09-06 00:59] chris-turner-datacom opened #14319 "Missing Language Code for Te Reo Māori"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Strapi version: 4.3.5
- Database: SQLite
- Operating system: Windows 10

### Describe the bug

Currently, when creating a Locale, Te Reo Māori (mi) is not an option for a language code in the dropdown.

### Steps to reproduce the behavior

1. Go to 'Settings>Internationalization'
2. Click on 'Add new

[2022-09-06 03:18] vikasvmads commented on #14060
Thanks, @Marc-Roig. I will wait for your response. :)

[2022-09-06 04:30] jaysoni-ash42 commented on #14312
@gu-stav  i want to work on this  do we need to remove the none field from the selector and add a validation for the attached field to be required?

[2022-09-06 08:01] gu-stav commented on #14312
@jaysoni-ash42 That sounds great, thanks! I think the first step would be fixing the validation error (which should not happen). I'm not sure if there will be follow-up tasks or if it will work out of the box. In case you hit any roadblocks, feel free to ping me here or on discord.

[2022-09-06 08:43] kasonde commented on #13237
I'm bumping this up only because there are *some* workarounds being shared here but I do think it's one that should be rectified on our side (from my general understanding of the cause).

[2022-09-06 09:59] AdrianFahrbach opened #14323 "Can't select text using the keyboard in some fields within a dynamiczone nested component"
## Bug report

### Required System information

- Node.js version: v16.14.0
- NPM version: v8.7.0
- Strapi version: v4.3.2
- Database: Postgres
- Operating system: MacOS 12.2

### Describe the bug

I can't select text using shift and the arrow keys when I'm editing a `string` or `text` field within a dynamiczone nested component.
It works fine within a `richtext` field and outside of the component

[2022-09-06 10:15] geekypratiky opened #14324 "Image text is overflowing out of box"
## Bug report

### Required System information

- Node.js version: 16.17
- NPM version: 8.15.0
- Strapi version: 4.3.2
- Database: mysql
- Operating system: Macbook Air M1

### Describe the bug

When I inside content manager and open any single type tab and if image is broken then text text is overflowing out of the box

### Steps to reproduce the behavior

1. Go to 'Content Manager'
2. Click on a

[2022-09-06 10:33] kasonde commented on #14294
Hi @mattpfeffer are you aware of steps 7 and 8 in [our docs about this](https://docs.strapi.io/developer-docs/latest/development/plugins-development.html#create-a-plugin)? Did you do that and still experience failure?

[2022-09-06 10:36] kasonde commented on #14294
Hi @StrapiShaun I think this could be a useful suggesting from @mattpfeffer.

@mattpfeffer I've read your response and as you mentioned yes you have to run npm install and build the plugin as well as your project. I'll go ahead and close this for now as the instructions are in the docs for anyone who might experience the same.

[2022-09-06 10:59] buden3000 commented on #12414
not sure what was using port 1337 on my machine as there was nothing in the list when i checked but changing the port has just got this running for me so would suggest this is a fix for some other unknown issue too possibly

[2022-09-06 11:35] AdilAmanat commented on #4378
Any update on this feature?

[2022-09-06 12:11] petersg83 commented on #14131
Hello,
Is there an error message?

[2022-09-06 12:24] yanniskadiri commented on #10780
For whoever will tackle this issue, it should be tested for all the searches and filters in the CM, Upload plugin and Settings.

[2022-09-06 12:28] #14193 closed

[2022-09-06 13:52] Louai99k commented on #12601
I'm facing the same problem right now and I'm totally agreeing on enabling the S3 direct uploading. Actually the problem with the upload service [here](https://github.com/strapi/strapi/blob/main/packages/core/upload/server/services/upload.js#L158) because the temp directory and the whole `fs-extra` things is taking a lot of ram I guess. So if there a config to stop all of the temp directory proces

[2022-09-06 13:57] FieldMarshallVague commented on #14131
Yes, the one above.  "The server had stopped with error code 1."

[2022-09-06 14:37] Sathyanarayanan-Dhanuskodi commented on #8151
Hi,
I am working on a new initiative. This project will have a UI that has all the applications in our organization. We have two application that uses Strapi cms.

Now if the user clicks the icon or application in the new application, it will then redirect the user to the application that he clicked. But the requirement is he **should not** log in using credentials in the landed application instea

[2022-09-06 15:35] derrickmehaffy opened #14328 "Typescript projects do not read the license.txt due to incorrect path"
## Bug report

### Required System information

- Node.js version: 14.19.3
- NPM version: 6.14.17
- Yarn version: 1.22.18
- Strapi version: 4.3.6
- Database: SQLite
- Operating system: Linux Mint 20.3 (Ubuntu 20.04.3)

### Describe the bug

When creating/running a typescript project the `license.txt` is not properly detected and the project will run in community mode instead of enterprise. When us

[2022-09-06 15:36] derrickmehaffy commented on #14328
Confirmed via @kasonde / @fdel-car via discord during the tuesday internal AMA

[2022-09-06 16:01] derrickmehaffy commented on #14126
I was doing this as a test to show reproduction steps on issues, ignore me @petersg83

[2022-09-06 18:28] chan-fullstack commented on #908
@gvr37leo Did you find a solution for this?

[2022-09-06 18:31] gvr37leo commented on #908
unfortunately not

Op di 6 sep. 2022 om 20:28 schreef Chan Fullstack ***@***.***

[2022-09-06 19:09] XaFaK-01 opened #14329 "How to fix No ‘Access-Control-Allow-Origin’ header is present on the requested resource?"
Like the title says.

I am using Strapi v. 3.6.10.

Today I am getting the error that says: “Access to XMLHttpRequest at “server_url” from origin “frontend_url” has been blocked by CORS policy: No ‘Access-Control-Allow-Origin’ header is present on the requested resource.”

Until yesterday everything was working fine and here’s the middleware.js configuration up till yesterday:

`module.exports = {

[2022-09-06 19:42] filson14-mq commented on #12296
@derrickmehaffy

This is definitely not a duplicate as linked issue is about swagger settings, not overriding API endpoits' response etc. That case seems still not solved while it is crucial, I guess. If we are not able to sync the documentation with all middlewares, plugins and customizations used in the API, it is a bit useless (with all due respect)

[2022-09-07 03:44] razaahmad333 opened #14330 "discord icon directs to slack URL on homepage of admin"
## Bug report

### Required System information

- Node.js version:  v16.15.1
- NPM version: 8.11.0
- Strapi version: 4.3.6
- Database: sqlite
- Operating system:  Microsoft Windows 11

### Describe the bug

On homepage,  `http://localhost:1337/admin/`
The discord icon in social links box at right side,  directs to  slack url `https://slack.strapi.io/`  instead of discord invite URL `https://discor

[2022-09-07 04:59] fuxianwei opened #14331 "Strapi Admin Management on CDN MP4 video hint has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
## Bug report

Access to video at 'https://yuncha-new.oss-cn-hangzhou.aliyuncs.com/upload/bg_video_b792fd773b.mp4?updated_at=2022-09-06T08:57:03.294Z' from origin 'http://admin.guohan.bnzhyl.com:1337' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
yuncha-new.oss-cn-hangzhou.aliyuncs.com/upload/bg_video_b792fd773b.mp4?updated_at=2022-0

[2022-09-07 09:48] GregorSondermeier commented on #13300
Before blindly using patch-package, be aware that this is a quite hacky workaround that I would not say is a sustainable, scalable solution. Use at own risk.

[2022-09-07 11:00] davefv opened #14336 ""Fill in from another locale" don't copy Number field"
## Bug report

### Required System information

- Node.js version: 14.19.1
- NPM version: 8.6.0
- Strapi version:4.3.6
- Database: mysql
- Operating system: Ubuntu 20.04

### Describe the bug

After create a new translation of a collection type I click on "Fill in from another locale" button, but a Nuber field don't fill successfully

### Steps to reproduce the behavior

1. Go to Settings > Intern

[2022-09-07 11:01] gu-stav commented on #14330
@razaahmad333 Please don't randomly ping people. We are happy if you want to work on the issue and I will assign you later. In case you need assistance feel free to ping me here or on discord.

[2022-09-07 11:16] davefv opened #14337 ""Fill in from another locale" don't copy Relation field"
## Bug report

### Required System information

- Node.js version: 14.19.1
- NPM version: 8.6.0
- Strapi version:4.3.6
- Database: mysql
- Operating system: Ubuntu 20.04

### Describe the bug

After create a new translation of a collection type I click on "Fill in from another locale" button, but a Relation field don't fill successfully

### Steps to reproduce the behavior

1. Go to Settings > Int

[2022-09-07 12:28] Chanaka-Sandaruwan opened #14338 "Can not import XML file into, Strapi fields (Migrate from WordPress to Strapi)"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.19.1
- Strapi version: 4.3.6
- Database: SQLite
- Operating system: Windows 10

### Describe the bug

My goal is to import posts from my Wordpress site into a custom NextJS site. My first step is to export the XML, convert it into JSON, filter all the content that I require, and then update the data into s

[2022-09-07 12:36] kasonde commented on #14338
Hi @Chanaka-Sandaruwan I'm closing this as it's not an issue but a question. Please feel free to reach out to our Community through either our [Discord](https://discord.strapi.io) server or our [Community Forum](https://forum.strapi.io)

[2022-09-07 12:36] #14338 closed

[2022-09-07 13:08] kasonde commented on #14336
Hi @davefv I've been able to confirm this and the issue you created about relations here #14337, I'm going to go ahead and close this and set is as related to that. These issues are seemingly related and we can have a discussion around the same in one issue. Thanks again for the report :)

[2022-09-07 13:08] #14336 closed

[2022-09-07 13:21] jbebe commented on #12137
Because npm uses '--' to pass parameters. So it's going to be `npm run build -- --no-optimization`

[2022-09-07 13:54] tit1 opened #14340 "New release - Updating from 4.3.6 to 4.3.7 - SQLite"
## Bug report

### Required System information

- Node.js version: 16.4.2
- YARN version: 1.3.2
- Strapi version: 4.3.7
- Database: SQLite
- Operating system: Mac OS

### Describe the bug

Im upgrading a dev environment form 4.3.6 to 4.3.7 and it appears that the migrations are not compatible with SQLite; please see below. I am getting around these issues by opening the DB directly adding the fiel

[2022-09-07 14:00] ChrisMichaelPerezSantiago commented on #14308
Bug fixed.

For unknown reasons the error was caused by broken images. After removing them using *postman* the problem was solved.

[2022-09-07 14:01] #14308 closed

[2022-09-07 14:32] kasonde commented on #14330
Hi @razaahmad333 thanks for the report: and as @gu-stav mentioned, please don't ping members of the team. If you'd like to contribute: please open a pull request and our team will be sure to review it.

[2022-09-07 14:48] kasonde commented on #14340
Hi 👋🏾 This has been fixed in v4.3.8 released a little less than an hour ago. Thanks for the report.

[2022-09-07 14:48] #14340 closed

[2022-09-07 14:51] kasonde commented on #14329
Hi thanks for the question. I'm closing this here however since it's not an issue but a question that is perfect for our [Community Forum](https://forum.strapi.io). Once you post it there, I and other community members will be happy to share our ideas.

[2022-09-07 14:51] #14329 closed

[2022-09-07 14:53] XaFaK-01 commented on #14329
Hi there! I posted it over there too. I mentioned it over here because I got no response over there. Here's the link: [https://forum.strapi.io/t/how-to-fix-no-access-control-allow-origin-header-is-present-on-the-requested-resource/21823](url)

[2022-09-07 14:54] XaFaK-01 commented on #14329
I need urgent help. I'll really appreciate your quick response.

[2022-09-07 20:23] dmsontcc opened #14347 "Cannot find module 'strapi-connector-bookshelf'"
## Bug report

### Required System information
Npm v8.9.0
Strapi v3.6.9

### Describe the bug

https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/data/mongo.html#prepare-the-migration-locally

When following the db migration guide, I get:

    [2022-09-07T18:51:13.130Z] error ConnectorError: connector "bookshelf" not found: Cannot find module 'strapi-connector

[2022-09-07 20:49] #14347 closed

[2022-09-08 01:16] derrickmehaffy commented on #6475
If the issue has not been closed, or you don't see an attached pull request, please feel free to work on it and submit a pull request.

Locking the issue from further comment as the error is quite clear and the issue is open. We don't assign issues to users, if you want to fix it then just put in a PR.

[2022-09-08 02:07] ghost opened #14348 "EntityId field returns incorrect data in localised versions of the Entity"
## Bug report

### Required System information

    Node.js version: 16.17.0
    NPM version: 8.15.0
    Strapi version: 4.3.8
    Database: SQLite
    Operating system: Windows 10

### Describe the bug

In a CollectionType called Test with localization enabled, adding a field called TestId returns the id of the parent Test instead of the TestId in objects contained in the localizations data array

[2022-09-08 03:26] smoothdvd commented on #14331
You should config cross domain policy in Aliyun OSS.

[2022-09-08 03:37] blackinitial commented on #14309
maybe the problem on better-sqlite3 only 🤔

[2022-09-08 04:45] fabianmu opened #14349 "Documentation Plugin Cannot read properties of undefined (reading 'contentTypes') when uninstalling plugin users-permissions"
## Bug report

### Required System information

- Node.js version: v16.17.0
- YARN version: 1.22.19
- Strapi version: 4.3.6
- Database: sqlite and mysql
- Operating system: macos 12.5.1

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. `yarn remove @strapi/plugin-users-permissions`
2. `yarn build`
3. `yarn develop`
4. See error

[20

[2022-09-08 06:36] fuxianwei commented on #14331
Thank you for your answer. I'll try it

[2022-09-08 06:41] dwaw18 commented on #14085
Same problem here. Last working Strapi version is 4.3.2, but since then I cannot upgrade to newer version because of this error.

[code]

My specs:
Strapi 4.3.8 TypeScript (same error on 4.3.4, 4.3.6, but not on 4.3.2)
DB: PostgreSQL
Windows 11
Node 16.17.0
Yarn v1.22.19

I've tried to understand this problem by going to addCreateLocalizationAction function located in node_modules\@strapi\plugin-i

[2022-09-08 08:22] byteHulk commented on #4760
+1

[2022-09-08 11:27] Nuli-byte opened #14357 "No CORS Headers"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: 6.14.17
- Strapi version: 4.3.8
- Database: SQLite
- Operating system: Windows 10

### Describe the bug

There is no CORS headers when i request the api.

### Steps to reproduce the behavior

1. Launch "npx create-strapi-app@latest strapi-4.3.8 --no-run"
2. Change the port ".env" to 3000
3. Start the app in

[2022-09-08 13:14] razaahmad333 commented on #14330
sorry, I will not anyone later on

[2022-09-08 14:40] fxmb opened #14361 "Missing collection entries from API Call"
Hi everyone 👋,
we are since recently facing an absurd problem:

We make a call to a collection and call all elements like so:` /api/providers/?populate=deep`. Basically, we want to fetch ALL entries for `providers`.  This worked perfectly fine, however, since recently Strapi is not returning all entries, sometimes one is missing, sometimes a couple, then some hours later everything works again. Th

[2022-09-08 15:01] XaFaK-01 commented on #7296
How to fix No ‘Access-Control-Allow-Origin’ header is present on requested resource?

I am using strapi 3.6.10 and here's the ./config/middleware.js configuration:

`module.exports = {
  settings: {
    cors: {
      enabled: true,
      origin: '*',
      headers: [
        'Content-Type',
        'Authorization',
        'Origin',
        'Accept',
        'Cache-Control',
      ],
    },

    p

[2022-09-08 17:26] AntonioDev152 commented on #10460
I have a similar problem.
When I make a request of type GET more than 3 times I get the same error.
` |   Error: Parse Error: Invalid method encountered`

System:
Node.js version: v14.20.0
Strapi version: v3.6.8
Database: Mongo  DB
Operating system: Linux 2

[2022-09-08 17:27] amityweb commented on #11637
@carloshs94

Ah man you saved me hours. 'strapi::security', was already in the middlewares file when I added the 'strapi::security' code above it so it got cancelled out, and I never noticed.

[2022-09-08 17:42] derrickmehaffy commented on #10460
Hello!

Can you please create a new GitHub issue by using the GitHub issue template, providing all required information.

Your issue looks related to that topic but it's an old one. Using another thread (GitHub issue) will be able to manage your case.

Thank you and have a good day.

[2022-09-08 19:08] jeffreytung7 commented on #12541
@gu-stav I am also looking for this feature. I have a collection of products, and it has a repeatable component called productSellers. Here you can add the name of the seller (for example, Amazon), the URL of the product, the price of the product, and the unique ID of the product provided by Amazon.

It's repeatable because I'd like to add other sellers (for example, Walmart). The IDs need to be u

[2022-09-08 22:40] tjuandev opened #14364 "Is there a better way to render dark mode logo?"
## Bug report

### Required System information

- Node.js version: 16.15.0
- NPM version: 8.8.0
- Strapi version: 4.3.6
- Database: Postgres
- Operating system: Ubuntu LTS

### Describe the bug

I'm trying to render a logo based on dark and light mode, when it's dark, the logo is white and so on... I'm currently using Local Storage to do that, but the STRAPI_THEME variable is "null" or non existen

[2022-09-09 01:45] derrickmehaffy commented on #14331
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-09-09 01:46] #14331 closed

[2022-09-09 01:50] derrickmehaffy commented on #14309
Not a Strapi issue, every macOS version upgrade, apple totally borks developer tools and rips out some dependencies.

https://stackoverflow.com/questions/35009531/xcrun-error-active-developer-path-applications-xcode-app-contents-developer

Marking issue as closed for now as the error message does state in this case that there is a problem with xcode.

[2022-09-09 01:50] #14309 closed

[2022-09-09 01:51] derrickmehaffy commented on #14309
It would be impossible for you to get this same error on CentOS as there is no xcode, double check the error message.

[2022-09-09 01:55] derrickmehaffy commented on #14361
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-09-09 01:55] #14361 closed

[2022-09-09 08:16] Jan080906 opened #14365 "Strange behavior when have multiple component with unique field inside"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: 8.15.0
- Strapi version: 4.3.2
- Database: sqlite
- Operating system: Window

### Describe the bug

I suspect some strange behaviors when have multiple component with unique field inside.

### Steps to reproduce the behavior 1

1. Create repeatable component name **"CompA"** and add unique text field name **

[2022-09-09 09:01] soupette commented on #14337
If I remember correctly this is an intended behavior when copying from another locale, we don't copy relations and password fields.

[2022-09-09 09:44] kasonde commented on #13850
Closing this as no response. This should be the source unless otherwise. I'll reopen it when we have more information.

[2022-09-09 09:44] #13850 closed

[2022-09-09 09:56] kasonde commented on #14167
Just a note, I've noticed the other TS issues you opened. Thanks for the reports. I've tagged those as help-wanted while I wait for input from members of our Eng team.

[2022-09-09 10:02] kasonde commented on #14171
Hi @ToeWaiPhyo10 I remember we had an issue about this and I had a chat with one of our PMs about this. It's intended behavior. I can't explain it better than @WalkingPizza already has.

[2022-09-09 10:02] #14171 closed

[2022-09-09 10:09] kasonde commented on #14204
Hi @ChrisMichaelPerezSantiago that created_by field is associated to Admin Users and not UsersPermissions users. I would go with @smoothdvd's recommendation for having that information related to the U&P plugin stored.

[2022-09-09 10:09] #14204 closed

[2022-09-09 11:09] kasonde commented on #14226
Hi @nogumaruo I believe this was intended for performance reasons. I've reached out to our Eng team to get more technical details around this.
cc @derrickmehaffy if you have those details in the mean time.

[2022-09-09 12:59] derrickmehaffy commented on #14226
It wasn't performance, it's more so that the relation fields in the admin aren't filtered currently, I would consider this more of a feature request than a bug for now.

[2022-09-09 13:36] goetzc commented on #12418
Come one guys, this is a basic practice to use environment variables in runtime, not in build time. This breaks the 12factor application:

https://12factor.net/config

[2022-09-09 13:52] fdel-car commented on #14328
I didn't test it but I think the issue is coming from [here](https://github.com/strapi/strapi/blob/760b396b7d7ea88f7dddde87829814e20bccab85/packages/core/strapi/lib/Strapi.js#L120). We're passing the dist folder as the location where the `license.txt`, but it's often not the case in TypeScript project.

[2022-09-09 15:03] derrickmehaffy commented on #12418
There is nothing specific in 12factor that says you can only use env vars during runtime, build time env vars are both extremely common and widely accepted. I mentioned before this would considered a feature request so I will lock this issue but please feel free to mention it on our FR site I linked above.

[2022-09-09 15:21] derrickmehaffy commented on #14085
Sounds like you are hitting this issue now: https://github.com/strapi/strapi/issues/13237 which is a known TS issue on windows.

[2022-09-09 15:28] derrickmehaffy commented on #13046
As there hasn't been an update here in a week I'll go ahead and mark this as closed but if someone else has the issue we can look at reopening this.

Thanks!

[2022-09-09 15:28] #13046 closed

[2022-09-09 15:54] ronronscelestes commented on #14364
hi @tjuandev thank you for taking the time to share this issue and this interesting use case! 🙂

[2022-09-09 20:04] kasonde commented on #14226
We are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://strapi.canny.io/admin/feedback/feature-requests/p/apply-rbac-conditionals-to-relations-list
If you are interested in this feature please feel free to go

[2022-09-09 20:04] #14226 closed

[2022-09-09 20:06] kasonde commented on #14365
Hi, I'm closing this as it's related to #12541

[2022-09-09 20:06] #14365 closed

[2022-09-09 20:30] kasonde commented on #14349
Hey @marcoautiero and @emilieringwald I've tagged this to both your squads. I wasn't quite sure which it falls under.

[2022-09-09 20:49] Aurelsicoko commented on #12499
What's the state of this? What's missing to be merged?

[2022-09-09 21:08] kasonde commented on #14324
Tagging this has help wanted while I wait for confirmation from our design team about whether this is a browser issue or an oversight in the design.

[2022-09-09 21:09] kasonde commented on #14319
Hi please submit a pull request to add your desired language in a future release of Strapi. We're still working on a better workflow for this but for now, this is the only way to get the language added.

[2022-09-09 21:09] #14319 closed

[2022-09-10 04:59] JohnFlorez25 commented on #3433
@derrickmehaffy If I want to have a **development environment** in a GAE with Strappi, How is the configuration project? I try to change the NODE_ENV, and enable **autoReload**, but continuously the deployment run in a **production environment**
![Screen Shot 2022-09-09 at 11 58 58 PM](https://user-images.githubusercontent.com/22262727/189469786-456f7b20-61b4-4b23-8a24-d2ae7b7e36e2.png)

[2022-09-10 16:40] xbeakmanx opened #14374 "How i delete username field in users"
I already modified the schema.json in src/extensions/users-permissions/content-types/user and it doesn't work for me, the field username don't show anymore but when I create a new user in strapi show me a warning: username is a required field

I also tried set username in attributes required: false, unique: false and still don't work

## Bug report

### Required System information

- Node.js versi

[2022-09-10 16:40] xbeakmanx commented on #14374
My schema:

{
  "kind": "collectionType",
  "collectionName": "up_users",
  "info": {
    "name": "user",
    "description": "",
    "singularName": "user",
    "pluralName": "users",
    "displayName": "User"
  },
  "options": {
    "draftAndPublish": false,
    "timestamps": true
  },
  "attributes": {
    "email": {
      "type": "email",
      "minLength": 6,
      "configurable": false,

[2022-09-10 16:58] derrickmehaffy commented on #14374
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-09-10 16:58] #14374 closed

[2022-09-10 22:00] darkmavis1980 opened #14375 "Cannot create new controllers using the createCoreController function"
## Bug report

### Required System information

- Node.js version: 16.17
- NPM version: 8.15.0
- Strapi version: 4.3.8
- Database: MariaDB
- Operating system: Windows 10

### Describe the bug

I'm trying to create a new controller with custom routes to handle some custom endpoints I want to serve via Strapi, and while if I just export a simple object in the controller, it works fine, if I try to u

[2022-09-10 23:00] darkmavis1980 commented on #14375
So after a some tries, I figured out that I had to create a content-types, with no attributes as I don't need to store any data for those endpoints, but essentially I had to add the following file:

[code]

Once this is created, Strapi will start normally, but maybe this should be stated in the documentation, or if it's stated somewhere (I couldn't find any reference about it), it should be made m

[2022-09-11 02:56] derrickmehaffy commented on #14375
Core controllers only exist for content types, you can still create custom controllers using the alternative syntax.

Anyway, closing as this isn't a bug.

Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [

[2022-09-11 02:56] #14375 closed

[2022-09-11 03:15] xbeakmanx opened #14376 "Cannot create a new user without field "username" after deleted from the schema"
## Bug report

I already modified the schema.json in src/extensions/users-permissions/content-types/user and it doesn't work for me, the field username don't show anymore but when I create a new user in strapi show me a warning: username is a required field

I also tried set username in attributes required: false, unique: false and still don't work

### Required System information

Node.js version

[2022-09-11 03:16] xbeakmanx commented on #14376
My schema:

{
"kind": "collectionType",
"collectionName": "up_users",
"info": {
"name": "user",
"description": "",
"singularName": "user",
"pluralName": "users",
"displayName": "User"
},
"options": {
"draftAndPublish": false,
"timestamps": true
},
"attributes": {
"email": {
"type": "email",
"minLength": 6,
"configurable": false,
"required": true
},
"provider": {
"type": "string",
"configurable": f

[2022-09-11 07:14] dz85 commented on #12805
It's September now. But what's the official advice from Strapi to add a new custom provider for users-permissions using the extensions forming? we are looking forward to it. T T And it seems that the src/extensions/xxx/strapi-server.js doesn't work for strapi 4.3.8(the latest version).

[2022-09-11 11:04] 3webbg commented on #14376
@xbeakmanx
username  is common field, it will be easier for you to create users with **username** - **email address**

user: jon@gmail.com
email: jon@gmail.com

[2022-09-11 17:35] jonathanschlitt commented on #12731
Hey, i have exactly the same error. All requests are working but only the filter (?populate=*&filters[Slug][$eq]=test) is causing this error.

I hope someone can help.

[2022-09-11 17:37] jonathanschlitt commented on #12731
I think you can open this issue again ;)

[2022-09-11 20:50] alucav commented on #14203
I can confirm this issue as well when trying to access the API via API Token generated by the Admin Panel:

/api/content-type-builder/content-types/plugin::users-permissions.user

When "read only" is set on the GET request, the response is:

[code]

When "full access" is set on that same GET request, the response is:

[code]

[2022-09-11 21:44] benlester opened #14377 "Admin 404 on JS bundle files behind nginx subfolder reverse proxy as per documentation"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: 8.15.0
- Strapi version: 4.3.8
- Database: Postgres
- Operating system:  Ubuntu 22.04.1 LTS

### Describe the bug

Full description of my issue raised on a [SO question here.](https://stackoverflow.com/questions/73681882/strapi-admin-api-on-subfolder-hitting-404-on-js-files-behind-nginx-reverse-proxy) Copied

[2022-09-12 00:18] mikelow commented on #9485
While I appreciate the link to that tool, I am baffled by the decision _not_ to store descriptions and layouts as part of the model itself. This is very inconvenient and requires extra work to preserve this important data in version control. I can't make sense of this decision from a design perspective.

[2022-09-12 00:27] nogumaruo commented on #14226
@kasonde @derrickmehaffy

Thanks for the answers and for moving this to the request list!

We needed this feature because we are going live this month for commercial use.
For now, we will get by with content-manager customization.

src/extensions/content-manager/strapi-server.js
[code]

[2022-09-12 06:19] JejomStark opened #14378 "Strapi Graphql plugin"
## Bug report

### Required System information

- Node.js version:  16.16.0
- NPM version: 8.11.0
- Strapi version: 4.3.4
- Database: PostgreSql
- Operating system: Linux

### Describe the bug
I encounter large latencies with the Graphql plugin. To be more precise, I made a simple benchmark with the same processor and the same RAM (1cpu/1g Ram), with the same data.
The result is telling compared t

[2022-09-12 07:41] lolafkok opened #14380 "Number Input not working correctly"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

### Describe the bug

Spin up a Strapi and create a Number Field with Type Decimal or go to the Number Input in Design System Storybook (https://design-system-git-main-strapijs.vercel.app/?path=/docs/design-system-components-numberinput--base).
Enter for example **0.

[2022-09-12 08:31] #13648 closed

[2022-09-12 08:52] Tina-otoge commented on #14281
I had the same issue but managed to fix it.
When using `strapi@4.3.8` but with `@strapi/plugin-users-permissions` pinned to 4.3.6, along with some of my other plugins, the issue was occuring.
I have set my strapi plugins to use version `latest` in my packages.json and only pin the strapi version, deleted my yarn.lock and reinstalled dependencies, and the problem is now gone.

[2022-09-12 09:21] laurenskling opened #14382 "model `tableName` is not respected"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: yarn 1.22.17
- Strapi version: 4.3.8
- Database: Sqlite
- Operating system: MacOS

### Describe the bug

the `tableName` field in my model is not respected. Whatever I try, the tablenames are autogenerated.
Note: I build ContentTypes in plugins

### Steps to reproduce the behavior

Create a `page.js`:
[code]

[2022-09-12 10:22] ErhanAbi opened #14384 "Bulk delete from admin interface isn't working"
## Bug report

### Required System information

- Node.js version: v18
- NPM version: 8.8.0
- Strapi version: 4.3.8
- Database: mysql
- Operating system: macOS

### Describe the bug

I have an entity type that has multiple components associated with. Not all instances of those entity types have the components data filled, ie. we can have some of those components set as null.

For example, we have

[2022-09-12 12:16] StellaKim1230 opened #14386 "Cant' install Strapi(4.3.8) with --quickstart, better-sqlite3 error"
## Bug report

When I try to install Strapi v4 from with `yarn create strapi-app my-project --quickstart`.
next step `cd my-project` and `yarn install`. I get the following error.

### Required System information

- Node.js version: 16.0.0
- NPM version: 7.10.0
- Yarn version: 1.22.10
- Strapi version: 4.3.8
- Database:
- Operating system: MacOS 12.5.1

### Describe the bug

### Error Code snippet

[2022-09-12 13:11] Prozi opened #14388 "[feature request] List View Context data getter for plugins"
Hello, I've created a custom strapi plugin

1. and it's working if I insert it into edit view with `app.injectContentManagerComponent('editView', 'right-links', { ... })` and `useCMEditViewDataManager()` for getting the context data

2. but now after moving it to list view with `app.injectContentManagerComponent('listView', 'actions', { ... })`
I can't get the data using `useCMEditViewDataManager(

[2022-09-12 14:29] vitormanfredini opened #14390 "v3 to v4 postgres migration script fails: relation "up_users_role_links" does not exist"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: 6.14.17
- Strapi version: v4.3.8
- Database: PostgreSQL 14.5
- Operating system: Ubuntu 20.04

### Describe the bug

After following the steps to migrate database from v3 to v4, the scripts fails with the following error:

`error: delete from "up_users_role_links" - relation "up_users_role_links" does not ex

[2022-09-12 14:44] vitormanfredini commented on #14390
I should also point out that I do have the plugin-users-permissions installed.

[code]

[2022-09-12 17:02] GaryFrazier commented on #12030
Another thing for me, make sure your path in the terminal matches the casing of your folders exactly. My folder was in "Dev" but my terminal was in "dev", same folder, bash had the wrong casing when I cd'd into it. Could be a cause.

[2022-09-12 17:50] alexandrepaiva-dev commented on #13388
I'm having this issue as well (Strapi v4.3.6). I'm going to try that db config proposed by @midas104 - hopefully that will fix it in my case too.

[2022-09-12 21:27] derrickmehaffy commented on #13388
It should be fairly small as you will just see a small latency around the TCP handshake: https://www.geeksforgeeks.org/tcp-3-way-handshake-process/

which should be only a few ms depending on your ping

[2022-09-12 21:29] derrickmehaffy commented on #12499
We are waiting on the author to make some changes on the PR @Aurelsicoko see: https://github.com/strapi/strapi/pull/12500

[2022-09-12 21:37] derrickmehaffy commented on #9485
To read more about this see this FAQ: https://docs.strapi.io/developer-docs/latest/getting-started/troubleshooting.html#can-i-store-my-content-manager-layout-configurations-in-the-model-settings

For now I'm going to lock this issue.

[2022-09-12 21:38] derrickmehaffy commented on #12731
Hello!

Can you please create a new GitHub issue by using the GitHub issue template, providing all required information.

Your issue looks related to that topic but it's an old one. Using another thread (GitHub issue) will be able to manage your case.

Thank you and have a good day.

[2022-09-12 21:56] derrickmehaffy opened #14395 ""Configure the view" on list view does not update table headers"
## Bug report

### Required System information

- Node.js version: 14.19.3
- NPM version: 6.14.17
- Yarn version: 1.22.19
- Strapi version: 4.3.8
- Database: SQLite 3
- Operating system: Linux Mint 20.3 (Ubuntu 20.04.3)

### Describe the bug

Previously (before https://github.com/strapi/strapi/pull/14111) when you pressed "configure the view" on the table from within the gear context menu and chan

[2022-09-13 08:56] Tikondra opened #14396 "numberParserRef.current.format is not a function"
- Node.js version: v14.19.3
- NPM version: 6.14.17
- Strapi version: 4.3.8
- Database: postgres
- Operating system: macOS

Help please, when I use inputNumber, I get a mistake

![image](https://user-images.githubusercontent.com/52007300/189857921-6bb851d4-0065-409b-b162-4ff9db5a7781.png)

[2022-09-13 13:52] maximiliano-gt commented on #2548
Looking for something similar, how can we group fields ?

[2022-09-13 15:16] ALWISHARIFF commented on #11509
Dear Strapi Team,
I am using The following specification of softwares.

    Node.js version: v16.17.0
    NPM version: v8.15.0
    Strapi version: 4.3.8
    Database: SQLite
    Operating system: Windows 10
I created my content schema using the content manager i now have a pubic route to fetch resources from the server.
The createdAt field that is automatically added by strapi is according to **UT

[2022-09-13 15:37] #14395 closed

[2022-09-13 15:55] #14125 closed

[2022-09-13 16:46] bilobrkk commented on #5044
In the repeatable component, you need to create a unique and required field, then you will have the option to choose a title as Entry title. :)
<img width="620" alt="image" src="https://user-images.githubusercontent.com/32678214/189959738-a9120bbe-05ee-49d9-a5cd-3a112951c76b.png">

[2022-09-13 16:56] ALWISHARIFF opened #14409 "Strapi timezone sqlite utc updatedAt field not in local timezone"
Dear Strapi Team,
I am using The following specification of softwares.

    Node.js version: v16.17.0
    NPM version: v8.15.0
    Strapi version: 4.3.8
    Database: SQLite
    Operating system: Windows 10
I created my content schema using the content manager i now have a public route to fetch resources from the server.
The createdAt field that is automatically added by strapi is according to **U

[2022-09-13 17:49] derrickmehaffy commented on #14409
SQLite requires you to manually set the value if you want to use timezones of which is not currently possible in Strapi.

This instead should have a call out in the documentation that it's not positive set timezones on SQLite3 (it's also generally advised against to change the database timezone as conversions should happen on the client side)

Please open an issue or a pull request on our document

[2022-09-13 17:49] #14409 closed

[2022-09-13 18:23] derrickmehaffy commented on #14038
Heads up to @petersg83 an EE customer with internal TID1864 also ran into this issue. Here is a snipped stack log:

[code]

[2022-09-13 18:54] GautierDele commented on #11892
We are nearly coming to a year of this issue, is this fixed by any other way right now or still there ?

[2022-09-13 21:03] emrahaydemir opened #14412 ""invalid geometry" error when inserting "geometry" type data to PostgreSQL"
Hello, I am using PostgreSQL as database. Everything works smoothly. I want to take advantage of the "geometry" data type that PostgreSQL provides built-in.

Coordinate information sent from the front-end should be converted to PostgreSQL geometry data type and saved. But when inserting data I get the following error: (from strapi):

`error: insert into "public"."deeds" ("geometry", "published_at"

[2022-09-13 21:13] emrahaydemir commented on #14412
I check via PostgreSQL whether the geojson data I sent with Postman is valid. PostgreSQL confirms this.

![image](https://user-images.githubusercontent.com/35865864/190009748-533d367c-ff55-42d2-8b44-7608b5fbcd1d.png)

![image](https://user-images.githubusercontent.com/35865864/190010260-f4efe783-7d4e-47c6-827a-9eb1358ffb21.png)

[2022-09-14 01:06] am2222 commented on #14412
@emrahaydemir can you wrap your query around `ST_MakeValid` ?
https://postgis.net/docs/ST_MakeValid.html

If this works I will update the plugin too. This is not related to the strapi and it is related to the postgis!

[2022-09-14 01:26] derrickmehaffy commented on #2548
No we have not added this

[2022-09-14 03:56] dz85 commented on #14396
I got the same mistake on `@strapi/design-system@1.2.2`, and it seems that `@strapi/design-system@1.2.1` is ok.

[2022-09-14 05:34] jsanta commented on #14038
Hardcoded an empty catch() on the computeMetrics await and captured the error, but that is just eye candy as it is still happening.

[2022-09-14 06:07] emrahaydemir commented on #14412
i just trid `ST_MakeValid` but didnt work.

I wanted to simplify the problem a little more. First, I sent the same GeoJSON data to PostgreSQL as a query. Added this successfully and I can see the polygon. Then I changed the data type of the "geometry" column to "text" to see the data coming from Strapi to PostgreSQL. So Strapi was able to add the content successfully. When I compared the two data,

[2022-09-14 06:13] smoothdvd opened #14413 "Float input field will cast length when loose focus"
## Bug report

### Required System information

- Node.js version: 16.x
- NPM version: 8.x
- Strapi version: 4.3.8
- Database: PostgreSQL
- Operating system: macOS 12.6

### Describe the bug

Float input field will cast length when loose focus

### Steps to reproduce the behavior

1. Create a field with type float
2. Go to add new row form
3. Input a float like 120.16267
4. Save
5. Edit
6. Focus t

[2022-09-14 06:13] smoothdvd opened #14436 "Float input field will cast length when loose focus"
## Bug report

### Required System information

- Node.js version: 16.x
- NPM version: 8.x
- Strapi version: 4.3.8
- Database: PostgreSQL
- Operating system: macOS 12.6

### Describe the bug

Float input field will cast length when loose focus

### Steps to reproduce the behavior

1. Create a field with type float
2. Go to add new row form
3. Input a float like 120.16267
4. Save
5. Edit
6. Focus t

[2022-09-14 06:13] emrahaydemir commented on #14412
Also, when I check before sending the geometry data, I don't see double quotes

![image](https://user-images.githubusercontent.com/35865864/190073915-f9b79f90-7780-4b0b-872f-9dbc0056f2ff.png)

[2022-09-14 06:15] emrahaydemir commented on #14412
Also, when I check before sending the geometry data, I don't see double quotes.

![image](https://user-images.githubusercontent.com/35865864/190074243-beb397d8-1c17-4517-9f43-cf235b1e4eb1.png)

[2022-09-14 07:19] AxeemHaider opened #14414 "Auto generate Field values."
Sometimes you want to generate auto field values based on other fields value. Here is a great example to generate auto slug for articles. [Auto Generate Slug field value](https://www.youtube.com/watch?v=Vul-0gsmINg)
But problem with this is it is only generated when you click on save button. Think users wants to see auto generated field value and want some updates init before saving.

**Use case:*

[2022-09-14 07:31] giang3010 opened #14416 "Error "relation already exists" when I try to run develop on centos7 with PostgreSQL"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: 6.14.17
- Strapi version: 4.2.0
- Database: postgres 14
- Operating system: windows

### Describe the bug

Catch when I try to run my project from local to centos7

### Screenshots

![image](https://user-images.githubusercontent.com/64892248/190089310-2f95e918-a67f-446c-b47a-4038a71a5a5f.png)

[2022-09-14 09:17] kasonde opened #14417 "Sharp - Media Upload Memory Leak"
## Bug report

### Required System information

- Node.js version: 14.19.1
- NPM version: 6.14.16
- Strapi version: 4.3.8
- Database: PostgreSQL
- Operating system: Linux (Heroku)

### Describe the bug

We have a website that depends a lot on media for each product and some products may have a lot of media types like videos audio and images and each one of them may reach 10 to 20 MB. When I try to

[2022-09-14 09:17] kasonde commented on #14417
We believe this is related to #12601

[2022-09-14 09:54] Chanvannak52 commented on #14416
ThonChanvannak

[2022-09-14 09:59] SudeepPatel-0812 opened #14419 "Strapi Component Media field Maps to Wrong Relations."
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: v6.14.17
- Strapi version: v4.1.8
- Database: PostgreSQL
- Operating system: Ubuntu 20.04 (Strapi runs in docker)

### Describe the bug

I have a component with details attached to collection. That collection contains media as a field, now if I post only 2 component with/without image it works as expected bu

[2022-09-14 10:40] gu-stav opened #14420 "Fresh npm installation prints deprecation warnings"
## Bug report

### Required System information

- Node.js version: not applicable
- NPM version: not applicable
- Strapi version: 4.3.8
- Database: not applicable
- Operating system: not applicable

### Describe the bug

A user reported on twitter that while installing Strapi, the package manager (npm) prints a few warnings, which might look scary in the eyes of a user:

[code]

I think we should

[2022-09-14 11:06] antokhio opened #14421 "DB Query \ Entity Service update with create relation"
## Bug report
Hi, so not sure, since there is no exact answer if this possible.
I'm trying to create relation via updating entity:
Models:
[code]
controller v1:
[code]
data:
[code]
error:
[code]

controller v2:
[code]
error
[code]
### Required System information

- Node.js version:
- NPM version:
- Strapi version: 4.32 template --typescript
- Database: Postgresql 13
- Operating system: Windows

So

[2022-09-14 11:30] emahuni commented on #14035
apparently there must have been a regression, this is no longer working.

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/7290508/190141525-59f316e2-698d-4dd3-beb4-000422b80cc7.png">

I was on Strapi 4.3.6, and now on 4.3.8 and in both versions it didn't work properly.

This removes that error, but then introduces the another one

<img width="976" alt="image" src="http

[2022-09-14 11:33] emahuni commented on #14035
even the code in this issue doesn't work

[2022-09-14 11:36] emahuni commented on #14035
putting any as the return type completely fixed the issue such that this works without a problem:

[code]

[2022-09-14 12:25] onexdata commented on #13237
I was having the same issue; typescript was not loading at all. Downgrading from Strapi 4.3.6 to 4.3.2 and running yarn again fails with a sqlite3 binding error, but deleting the node_modules folder and running yarn again works.

This looks like a bug was introduced after Strapi 4.3.2 that stops typescript from starting on some machine configurations.

I'm using Windows 10, Node 16.17.0 (also with

[2022-09-14 12:27] Shadoworker commented on #12238
Had the same issue .

SOLUTION :

Just give access to all endpoints for "Authenticated" role.

![image](https://user-images.githubusercontent.com/13294161/190153134-53cb2860-c2f0-491a-b9ef-56a86e54c360.png)

[2022-09-14 13:54] pandeyprafull opened #14424 "Unable to extend Strapi admin Model as per mentioned in Official doc Method"
## Bug report

### Required System information
- Node.js version: v14.18.1
- NPM version: 8.3.0
- Strapi version: 4.3.2
- Database: Mysql
- Operating system: Ubuntu

### Describe the bug

Unable to extend admin model in strapi v4 with plugin Extension

### Steps to reproduce the behavior

So, I want to add some additional fields in my *admin_users* collection with Plugin extension */node_modules/@

[2022-09-14 14:51] iamfaycal opened #14425 "Forbidden access error when using persistedQueries"
## Bug report

### Required System information

- Node.js version: 16.14.2
- NPM version: 8.5.0
- Strapi version: 4.3.8
- Database: Postgres
- Operating system: MacOS 12.4

### Describe the bug

When I enable persistedQueries in urql client, I get Forbidden access errors even though the permissions are correctly set up and the query works fine if persistedQueries are disabled

### Steps to reprodu

[2022-09-14 23:01] coolista commented on #14417
thank you, @kasonde Richard.

[2022-09-15 05:07] pandeyprafull commented on #14424
@derrickmehaffy help me please

[2022-09-15 05:45] iceteabob commented on #14380
I can confirm this issue.

Is there any way to get around this behaviour?

Same for me so far :(

[2022-09-15 05:45] zaychoer commented on #10699
I'm using strapi@4.3.2 right now, default type for JSON field on postgres for strapi is jsonb, so i update the field json to json . After saving JSON file, the order of objects was ordered as entered.

If you want your keys order not to change, you can use the json type that does not change the order of the keys when storing the data in the database.

Hope it helps.

[2022-09-15 05:48] officialrj18 commented on #13516
any update about it? i am facing similar issue

[2022-09-15 06:39] stentibbing commented on #4045
I had the same problem with my plugins content type not showing up in Admin -> Roles and therefore not being able to access the content via GraphQL. Took some digging around in the users-premissions plugin repo but got it solved.

As it turns out, the users-permissions plugin scans for controllers and routes and I had problems with both of them since I followed the tutorial on the Strapi blog: [(h

[2022-09-15 06:59] Erfan1995 opened #14427 "I cannot find en-PA or English(Panama) in @strapi/plugin-i18n. So I added one for my project using patch-package"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@strapi/plugin-i18n@4.1.1` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-09-15 07:05] sarangkkl commented on #13516
yes i have fixed the issue

On Thu, Sep 15, 2022, 11:18 AM Rajendra ***@***.***> wrote:

[2022-09-15 07:06] sarangkkl commented on #13516
i recommend not using strapi it have serious issue of database vanishing

On Thu, Sep 15, 2022, 12:35 PM sarang kkl ***@***.***> wrote:

[2022-09-15 08:19] petersg83 opened #14428 "Two join tables are created for many-to-many relations instead of one"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: 6.14.17
- Strapi version: 4.3.8
- Database: SQLite
- Operating system: macOS

### Describe the bug

Two join tables are created for many-to-many relations instead of one.
It is because the created attributes for the relation both have "inversedBy" instead of one having "inversedBy" and the other "mappedBy".

[2022-09-15 09:05] Martin-Eckleben commented on #13988
Even worse it says updated seconds ago but is not updated.
Reloading the page shows the old entry.

[2022-09-15 11:37] jramstedt commented on #13237
For me this was caused by #14079

[2022-09-15 12:24] markkaylor commented on #10719
Hi @doro0020 thanks for submitting this issue.

Yes a pull request would be very welcome you can ping me to review it

[2022-09-15 13:17] joshuaellis commented on #13043
Hey @selected-pixel-jameson I've been looking at this one for you & I'm unable to reproduce on the latest version of Strapi. Can you test with the latest version? If it's still not working it'd be helpful if you could fill this template in:

---

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

---

[2022-09-15 13:18] not-vainglorious commented on #14193
Can you check it out again? I`m getting node-sqlite3 does not currently support RETURNING clause with 4.3.8 while using sqlite in tests.

[2022-09-15 13:21] WalkingPizza commented on #14193
Are you using `better-sqlite3` or the legacy `sqlite3` package?

[2022-09-15 13:23] not-vainglorious commented on #14193
As referenced in (docs)[https://docs.strapi.io/developer-docs/latest/guides/unit-testing.html#install-test-tools]. I`m using `sqlite3`. Should i change it to `better-sqlite3`?

[2022-09-15 13:24] WalkingPizza commented on #14193
I would, yes, as it is generally better than `sqlite3`!
@alexandrebodin should we update that piece of documentation to mention `better-sqlite3` instead?

[2022-09-15 13:26] selected-pixel-jameson commented on #13043
@joshuaellis This issue seems to have resolved itself. I'm not sure what the function of the three little dots in the lower right corner is. I still cannot click on that element, but I'm not sure what it's purpose is so that might be working as intended.

[2022-09-15 13:28] not-vainglorious commented on #14193
Also you can change [this example](https://docs.strapi.io/developer-docs/latest/guides/unit-testing.html#strapi-instance)
This code is old
`const dbSettings = strapi.config.get("database.connections.default.settings");`
Now seems like it should look like this
`const dbSettings = strapi.config.get('database.connection.connection');`
--
`async function cleanupStrapi() {
  const dbSettings = strapi.c

[2022-09-15 13:36] derrickmehaffy commented on #13516
Please contact the author of the package as we cannot assist with 3rd party packages here.

[2022-09-15 13:57] joshuaellis commented on #13043
That should show you the length of your video (see screenshot).

<img width="353" alt="CleanShot 2022-09-15 at 14 56 23@2x" src="https://user-images.githubusercontent.com/37798644/190422905-2cf392fc-af65-4cf8-8157-97b80d92f369.png">

Thanks for confirming so quickly! We can revisit if the issue reappears.

[2022-09-15 13:57] #13043 closed

[2022-09-15 14:28] alexandrebodin commented on #14193
ping @pwizla  Could you have a look at this :)

[2022-09-15 14:39] #13038 closed

[2022-09-15 14:47] selected-pixel-jameson commented on #13043
Ah, that is a separate issue that I have yet to resolve then. The images and the  the videos don't actually load in the media library. I'm referencing them through a CDN and I believe there is some security settings that needs to be adjusted.

[2022-09-15 15:30] jhoward1994 opened #14433 "Axios error in admin portal when using Brave browser"
## Bug report

### Required System information

- Node.js version: v16.17.0
- NPM version: v8.15.0
- Strapi version: v4.3.8
- Database: SQL Lite
- Operating system: MacOS 12.5

### Describe the bug

An Axios error when running Strapi locally in Brave browser

### Steps to reproduce the behavior

1. Run `yarn develop` in `/examples/getstarted`
2. Run `yarn develop` in `/packages/core/admin`
3. Set

[2022-09-15 18:38] #13058 closed

[2022-09-15 21:09] alexgrant999 commented on #14281
I have tried updating the plugins to the latest and tried strapi version 4.3.6 and also 4.3.8, I am still getting the same error.
<img width="636" alt="Screen Shot 2022-09-16 at 7 08 03 am" src="https://user-images.githubusercontent.com/4098580/190509043-db4316a7-db96-4c7d-85ad-5e921272c86f.png">

[2022-09-16 06:04] ErhanAbi commented on #14384
Hi, any updates on this one?

[2022-09-16 07:26] Marc-Roig commented on #14433
Had the same behaviour with uOrigin adblock using Chrome.

I don't know if this is something we want, but there are services specialized in preventing analytics requests to be blocked, such as [DataUnlocker](https://dataunlocker.com/).

[2022-09-16 12:35] derrickmehaffy commented on #14306
In my attempt to reproduce, got the issue straight away on Windows 10

![image](https://user-images.githubusercontent.com/8593673/190639862-a91a5a92-38c2-4e44-951d-5e9e58012059.png)

![image](https://user-images.githubusercontent.com/8593673/190639712-dafccbcb-a46a-4b52-bde1-2b06cefb5f02.png)

[2022-09-16 12:35] derrickmehaffy commented on #14306
Also related to internal TID1832 for an EE customer

[2022-09-16 13:37] gu-stav commented on #14436
Moving this back from the design-system: the issue does not appear with the `NumberInput` here: https://design-system-git-main-strapijs.vercel.app/?path=/docs/design-system-components-numberinput--base, therefore the problem must be specific to Strapi.

[2022-09-16 13:53] ivanThePleasant opened #14438 "createCoreRouter breaks in plugin"
## Bug report
When generating new Content Type for a Plugin via CLI, the automatically added routes factory file breaks the plugin and crashes the application. Presumably, this is happening because `createCoreRouter` is being called earlier than it should.

### Required System information

- Node.js version: 16.14.2
- Yarn version: 1.22.18
- Strapi version: 4.3.8
- Database: SQLite
- Operating sys

[2022-09-16 17:07] derrickmehaffy commented on #14438
Not sure if this is expansion or DX honestly since it's plugin related but the issue likely comes from the core.

[2022-09-16 17:10] bportman commented on #8799
Does anyone have a solution that doesn't require recreating the indexes every time strapi is restarted?

[2022-09-16 17:35] blackinitial commented on #12045
@iafilin thanks a lot, its work perfectly

[2022-09-17 12:33] emrahaydemir commented on #14412
I think I solved the problem. First I create a data of type "string". After Strapi saves it to the schema, I force the data type of the table to be changed to geometry via POSTGRESQL. I don't know how healthy this is. But now it works fine

`alter table deeds alter column geometry type geometry using geometry::geometry`

strapi schema.json `"geometry": {
      "type": "string",
      "required": t

[2022-09-17 12:35] minhdao opened #14440 "Missing JWT_SECRET when creating Strapi project with Custom option"
I noticed `JWT_SECRET` is missing when creating Strapi project and then select manual settings option.

I think this is an issue because when deploying to some hosting provider like Digital Ocean, the `JWT_SECRET` is required when building and deploying the app.

Strapi version inside `package.json`:

[code]

Please refer to the images below for the options selected when running `npx create-strapi

[2022-09-17 20:08] derrickmehaffy commented on #14378
Can you add in a bit more information about the model structure?

Also was your database also hosted on the same machine?

[2022-09-18 01:18] lessborders commented on #13237
I get this on a fresh install @latest version. Typescript + MySQL

[2022-09-18 01:25] lessborders commented on #14305
Yeah Strapi TS setup is broken atm

[2022-09-18 03:39] alexgrant999 commented on #14281
@bolg55
OK, so I have just hacked into the file:
/@strapi/plugin-users-permissions/server/controllers/auth.js
Commented out the Throw new error, and it stops crashing and returns the expected 400 error.

Lines 308 - 324,
`
  const conflictingUserCount = await strapi.query('plugin::users-permissions.user').count({
      where: { ...identifierFilter, provider },
    });

    // if (conflictingUserCo

[2022-09-18 07:29] tpimh opened #14441 "Introspection queries in GraphQL Playground fail without users-permissions plugin"
## Bug report

### Required System information

- Node.js version: v16.17.0
- yarn version: v1.22.19
- Strapi version: 4.3.8
- Database: sqlite/postres
- Operating system: Alpine Linux edge

### Describe the bug

This is mostly related to GraphQL Playground and has very little to do with Strapi. When opening GraphQL Playground while not having user-permissions plugin installed, the "IntrospectionQ

[2022-09-18 10:06] garcipat commented on #13237
Same here. Wanted to switch from v3 to v4 and created a new project with typescript template. Will try to use and older version meanwhile.

[2022-09-19 09:55] kasonde commented on #14224
We currently have a few issues about "Fill in from another locale" that our product team is aware of. I'll close this as it's related to #14313 just so we can reduce the amount of threads for related issues. Thank you!

[2022-09-19 09:55] #14224 closed

[2022-09-19 10:09] themtaysw commented on #10676
works in a certain way for me... it tends to save some emojis normally, tho some of them are still as ????. any possible solution?

[2022-09-19 11:19] uniforx opened #14442 "SQLITE ERROR in 4.3.8"
## Bug report

### Required System information

- Node.js version: 16.13.1
- NPM version: 8.1.2
- Strapi version: 4.3.8
- Database: SQLITE
- Operating system: Debian 10 - Docker

### Describe the bug

After the update from 4.3.6 to 4.3.8 it is impossible to create new documents or update existing ones. In the log an error is show like:

[2022-09-19 08:20:33.052] error: insert into `urm_contacts` (

[2022-09-19 12:28] saevarb commented on #14079
I can confirm that this is an issue for us using 4.3.8 under Windows 10. We patched it ourselves with `patch-package`:

[code]

[2022-09-19 12:54] derrickmehaffy commented on #14424
We do not currently support, nor plan to support extending the admin model at this time.

---

Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strap

[2022-09-19 13:32] majjikishore007 commented on #12601
Hi, @Louai99k  is this issue resolved? if not I would like to work on this.

[2022-09-19 14:01] Louai99k commented on #12601
Hi, @majjikishore007 Me and Strapi team working on resolving this. Thanks

[2022-09-19 14:05] #14364 closed

[2022-09-19 14:13] majjikishore007 commented on #14357
Hi, @kasonde is this issue still there? if not resolved,  can I work on this

[2022-09-19 16:06] kepes opened #14446 "Typescript plugin generation problem"
## Bug report

### Required System information

- Node.js version: v16.13.0
- NPM version: 8.1.2
- Strapi version: 4.3.8
- Database: sqlite
- Operating system: osx 12.5

### Describe the bug

When Typescript Plugin generated with `npm run strapi generate` the generated code contains two error in `src/plugins/plugin-name/admin/src/components/Initializer/index.tsx`

1. `Cannot assign to 'current' be

[2022-09-19 16:31] vitormanfredini commented on #14390
Ok, I figured it out.
First thing that I did was to change table names in `v3-sql-v4-sql/migrate/migrateUsers.js` to match the right ones:
[code]
I don't know if the current names are valid in other circunstances, tho.

I also added double quotes to this SQL query in `v3-sql-v4-sql/migrate/helpers/migrate.js` (otherwise it throws an error if the tablename has "-"):
await dbV4.raw(
-        `SELECT

[2022-09-19 19:01] derrickmehaffy commented on #13237
Related to internal TID1832, raised from medium to high based on the number of responses

[2022-09-19 19:02] derrickmehaffy commented on #14305
duplicate: https://github.com/strapi/strapi/issues/13237

[2022-09-19 19:02] #14305 closed

[2022-09-19 19:03] derrickmehaffy commented on #14306
duplicate: https://github.com/strapi/strapi/issues/13237

[2022-09-19 19:03] #14306 closed

[2022-09-19 19:17] derrickmehaffy commented on #14382
I'm going to transition this to the documentation team as I think this is a docs issue, table name doesn't exist from what I'm aware of. EG a model I just generated locally as a test for another issue.

![image](https://user-images.githubusercontent.com/8593673/191097780-14a877b4-0890-42bf-ab7c-f2f0f33801c0.png)

[2022-09-19 21:41] heggland commented on #13237
Can confirm Typescript + sqlite dont work. dialect undefined.

Quickstart option works fine.

[2022-09-20 08:45] #14427 closed

[2022-09-20 09:37] #14160 closed

[2022-09-20 09:38] dirbacke commented on #12607
I have tested this with Strapi 4.3.8 and the error message is not shown to the user in lifecycle `beforeDelete` nor in the `beforeDeleteMany` lifecycle.

`
const { ApplicationError } = require('@strapi/utils').errors;
`

[code]

[2022-09-20 10:45] Matherss commented on #13584
@rallisf1 hello, have u got any solution for your problem?

[2022-09-20 10:53] rallisf1 commented on #13584
No

[2022-09-20 11:05] cache-your-dreams opened #14448 "Content type folders prevent the server from starting"
## Bug report

### Required System information

- Node.js version: v14.19.3
- NPM version: 6.14.17
- Strapi version: 4.3.8
- Database: SQLite
- Operating system: MacOS

### Describe the bug

I am unable to launch the server after I have created a content type and reverted the Untracked files created.

### Steps to reproduce the behavior

1. Launch the server from within the **example/getstarted**

[2022-09-20 13:36] Dan6erbond commented on #12805
Bump. I'm trying to extend the U&P plugin with a "simple" provider, but it's turning out to be a lot less simple than hoped. I can't even figure out how/where to register a new provider, let alone make sure it shows up in the UI, etc. and it's a must-have feature because my OAuth provider isn't one of the defaults.

[2022-09-20 20:57] lucasff commented on #14438
[2022-09-20 22:55:23.698] error: Cannot read properties of undefined (reading 'routes')
TypeError: Cannot read properties of undefined (reading 'routes')
    at Object.addCreateLocalizationAction (node_modules/@strapi/plugin-i18n/server/services/core-api.js:184:41)
    at @strapi/plugin-i18n/server/register.js:78:22
    at Array.forEach (<anonymous>)

[2022-09-21 02:20] SimDaeSoo opened #14450 "typescript-utils get-config-path function does not returned correct path in Windows OS"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: 6.14.17
- Yarn version: 1.22.19
- Strapi version: 4.3.8
- Database: mysql
- Operating system: Windows 10

### Describe the bug
typescript-utils get-config-path function does not returned correct path in Windows OS

`4.3.8 current code`
https://github.com/strapi/strapi/blob/477e7c12c2d934e83adb0174616a46ed312

[2022-09-21 02:35] SimDaeSoo commented on #14450
sorry this issue is duplicated https://github.com/strapi/strapi/issues/14079

[2022-09-21 02:35] #14450 closed

[2022-09-21 06:53] bjorniveTekZence commented on #8799
Found the cause in: node_modules\strapi-connector-mongoose\lib\mount-models.js
if (strapi.app.env !== 'production') {
      // Ensure indexes are synced with the model, prevent duplicate index errors
      // Side-effect: Delete all the indexes not present in the model.json
      Model.syncIndexes(null, handleIndexesErrors);"
}

Comment out the Model.syncIndexes and it will stop deleting indexes o

[2022-09-21 07:57] elena-rafailova opened #14452 "Media Library Bulk Delete Server Error"
## Bug report

### Required System information
- Node.js version: 14.18.1
- NPM version: 6.14.15
- Strapi version: 4.3.0
- Database: MySQL
- Operating system: Linux

### Describe the bug
When I try to delete few assets from Media Library with the bulk delete functionality, assets are successfully deleted but server return Internal Server Error 500. No matter if assets are related to something or I

[2022-09-21 09:34] vanishree165 commented on #13646
Hello Techie's 👩‍💻 🧑‍💻 ,

So for now i faced the same above issue while in deployment.

And I'm using

Node.js version: v14.17.5
Database: Postgres
Operating system: Heroku
Graphql version: 16.2.0

Hereby i attached screenshot for your reference . Kindly reopen/help to sort out this issue

<img width="1095" alt="Screenshot 2022-09-21 at 3 02 54 PM" src="https://user-images.githubusercontent.com/69

[2022-09-21 12:37] ronronscelestes commented on #14414
hi @AxeemHaider
let me know if I understood well your use-case but I think what you are looking for is the UID field:

https://user-images.githubusercontent.com/71838159/191458226-f1a4bee9-2c30-44a2-8f06-61e80a4b16c8.mov

after discussing it with the team, I think `beforeSave` and others [lifecycle hooks](https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#av

[2022-09-21 15:08] Alexnortung opened #14457 "Cropping images from media library potentially leads to uploading much larger images"
## Bug report

### Required System information

- Node.js version: 16.16.0
- NPM version: 8.11.0
- Strapi version: 4.3.2
- Database: sqlite
- Operating system: Linux

### Describe the bug

Might be related to #7990. When uploading an image that has been optimized with various tools (such as tinypng or imagify) and then cropping the image, the image will be much larger in file size and might even r

[2022-09-21 17:40] ConradP commented on #14377
do you have the url value set in your admin.js config?

[2022-09-21 18:36] biko8 commented on #14085
I tested in a MacBook and it works well, seems a bug inside Windows.

[2022-09-21 22:37] xargr commented on #11919
make sure you have enable the upload permission and then try the below…

[code]

[code]

cheers

[2022-09-22 05:47] Yu-Qi opened #14460 "Lose specific table on database after deployment"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Strapi version: 4.1.8
- Database: postgresql
- Operating system: Ubuntu

### Describe the bug
We deploy strapi by github action. And the some tables in the database are lost in the some cases.
For example, we have two feature branches A & B which has new table Ta & Tb.
First, after merging A branch t

[2022-09-22 08:01] davidenke commented on #14357
I'm having this issue as well, running 4.3.9 locally. Checked with Postman.

![Bildschirmfoto 2022-09-22 um 10 01 06](https://user-images.githubusercontent.com/275960/191691506-1b511bcd-387b-4a2a-a0d5-572f6d277d1f.png)

[2022-09-22 09:50] joshuaellis commented on #14323
related to https://github.com/strapi/design-system/issues/642 & https://github.com/strapi/design-system/issues/614

[2022-09-22 10:28] Punit0405 opened #14461 "Generic Servicetype error"
Hello Strapi , I have found a bug before 2 months and its not have been resolved by you. Solution to that bug is under the PR no #14208 . Please review that and merge as soon as possible so that we can upgrade.

[2022-09-22 12:43] alexandrebodin commented on #14442
Hello @uniforx We have noticed this bug when using the older sqlite3 package in v4.3.7+ versions. We are going to add a migration guide about this but you can switch your sqlite3 package for better-sqlite3 like mentioned at the end of this issue. https://github.com/strapi/strapi/issues/14193

Thank you for reaching out.

[2022-09-22 13:26] MaksZhukov commented on #14079
Any updates?

[2022-09-22 18:30] ad3rinto commented on #3797
I got the same error. Removed the "&w=majority " as recommended but still did not work.
Mine looked like this
const mongoURL = "mongodb+srv://<username>:<password>@cluster0.vdlpgxh.mongodb.net/?retryWrites=true&w=majority/userDB";

I fixed this by removing "/userDB" . ( This was defined by me)

[2022-09-22 19:02] specialblend commented on #12607
Seeing same issue on strapi `4.3.2` after `npm install @strapi/utils` which installed `^4.3.9`.

Installing `@strapi/utils` same version as `@strapi/strapi`  seems to resolve issue.

Are breaking changes expected on patch version changes or patch version mismatch between core and utils?

If not, do we track here or should I open new issue?

[2022-09-22 19:31] goodpixels commented on #14414
Sorry to hijack this thread, but search results brought me here.

I also have a similar use case, I need to calculate a distance for a city based on user input at runtime.

1. I've got a collection of items where each item has a `location` field, which stores `latitude` and `longitude`.
2. When user makes a request to this collection, they will pass their `latitude` and `longitude` in the query, l

[2022-09-22 20:44] vitormanfredini commented on #14446
Here's a temporary solution that I found:
Replace the code in `src/plugins/plugin-name/admin/src/components/Initializer/index.tsx` for the one in this file:
https://github.com/VirtusLab-Open-Source/strapi-plugin-comments/blob/master/admin/src/components/Initializer/index.tsx

Then `cd src/plugins/plugin-name/` and `yarn && yarn build` to build the plugin

Then `cd` back to the project root and `ya

[2022-09-22 20:54] goodpixels commented on #11919
Thank you all for contributions. This has now been resolved!

[2022-09-23 03:54] majjikishore007 commented on #14428
hi @derrickmehaffy  can i work on this

[2022-09-23 08:26] blackinitial commented on #14309
Thanks for your information, i was helped on install depedency on remix now

[2022-09-23 09:45] joshuaellis commented on #14323
After investigation, this issue is a duplicate of #12432 so I'm going to close this, for updates follow that issue.

[2022-09-23 09:45] #14323 closed

[2022-09-23 09:49] gorden0929 commented on #13237
I debug the node modules and found this issue for typescript.

dirAbsolutePath value:  C:\Users\user\Documents\strapi-test
configFilePath value: C:/Users/user/Documents/strapi-test/tsconfig.json

When it compare using .startWith() it will forever return undefined in this case.

Here are the code.
https://github.com/strapi/strapi/blob/2e44e15bc7d29756a6e0ee0b29ac50378f0a1328/packages/utils/typescri

[2022-09-23 10:11] joshuaellis commented on #12432
Hey everyone, we all appreciate everyone's patience, we've had some capacity to look into this and a PR is now open for review so hopefully this should be fixed soon 😄

[2022-09-23 15:13] coriolinus opened #14464 "Strapi generates "create table" error despite a fresh, empty database"
## Bug report

### Required System information

- Node.js version: v16.15.1
- NPM version: 6.14.15
- Strapi version: 4.3.8
- Database: postgres@14
- Operating system: `Linux 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

### Describe the bug

Trying to migrate a v3 strapi installation I inherited onto v4. As part of this, setting up for local devel

[2022-09-23 18:52] kadhumalrubaye commented on #13237
it's look like there is a problem in the new strapi version , when i try to create project with typescript support i faced same error ,

solution (1) :- compile config ts files with **tsc** `$ tsc .\config\database.ts .\config\server.ts ./ .\config\admin.ts` this will generates js files of these ts files

solution (2) :- downgrade your strapi to **4.3.2** version in the `package.json` file.

solut

[2022-09-23 18:56] dhruvsaxena1998 commented on #13237
Facing issues while setting up new project on windows 11

Options chosen
- sqlite
- typescript

[code]

[code]

[code]

[2022-09-23 19:33] goodpixels commented on #14414
Okay, so I got it working. The solution is very fragile, but it works for my POC. I wish there was a better way to do this.

Here are the steps, on how I got it working:

1) I've got a collection called `items` and inside it I've added a component called `address` (note that all fields are mandatory, which is not great, but I need those values to be able to query the database):

[code]
2) I create

[2022-09-23 19:33] kadhumalrubaye commented on #14306
it works  on local, thanks , but what if i deploy the project on a host machine ? the module folder will removed  and new one will be created on the host with the same error ? every time i deploy the code i should edit it manually ?

[2022-09-24 10:31] chakraskun commented on #10699
works like a charm 👍

[2022-09-24 17:02] claurennt commented on #13237
Thank you! I used option 2 and it solved the issue

[2022-09-24 18:25] FahmyChaabane commented on #13646
I am facing the same stuff without even having a Database.
I am just using a gql server as middle-man service.
And yes, i am in docker.

[2022-09-24 18:57] st33v3 commented on #13237
Strapi 4.3.9, Windows 10.
In file `.\node_modules\@strapi\typescript-utils\lib\utils\get-config-path.js` there is a line `return configFilePath.startsWith(dirAbsolutePath) ? configFilePath : undefined;` near end of file. Problem is that `dirAbsolutePath` uses Windows notation (backslashes) but `configFilePath` uses notation with ordinal slashes, therefore Typescript is never detected. Not sure tha

[2022-09-25 07:20] galago commented on #13888
Yeah, would be nice to have this bug fixed after so long.

[2022-09-25 13:44] komape opened #14467 "REST API with filtering option $contains returns objects with different value"
## Bug report

### Required System information

- Node.js version: v14.19.2
- NPM version: 8.17.0
- Strapi version: v4.2.3
- Database: PostgreSQL 14.5
- Operating system: Ubuntu 22.04 (LTS) x64

### Describe the bug

The Content-Type `artwork` has a field `materials` which is a repeatable component called `material`. That type has one enumeration field `value`. Two possible values are `pen` and `p

[2022-09-25 14:22] cristiangrojas commented on #14390
I've been having this issue for a while and was the only bottle neck on my migration process.

Thanks for sharing this solution.

[2022-09-25 14:29] komape opened #14468 "REST API pagination returns an object on page 1 and 2"
## Bug report

### Required System information

- Node.js version: v14.19.2
- NPM version: 8.17.0
- Strapi version: v4.2.3
- Database: PostgreSQL 14.5
- Operating system: Ubuntu 22.04 (LTS) x64

### Describe the bug

The REST API returns the same object on page 1 and 2. I can't see anything that could cause this. And it's probably not the best if I describe the content types in every detail here,

[2022-09-25 15:00] vitormanfredini commented on #14390
You're welcome.

Until my pull request isn't processed you can use this fork with the mentioned changes:
https://github.com/vitormanfredini/strapi-v3tov4-modified-migration-scripts

[2022-09-26 03:50] #14416 closed

[2022-09-26 06:04] rktyt opened #14469 "Typescript) Database interface does not contain connection"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version:8.19.2
- Strapi version: 4.3.9
- Database: mysql8
- Operating system: debian

### Describe the bug

I am using `strapi.db.connection.raw()` to execute raw SQL, but I get a type error.

Note:
I'm currently trying to upgrade from 4.2.3 to 4.3.9.

### Expected behavior

No type errors.

[2022-09-26 08:12] joshuaellis commented on #12768
Hey @jnunezKovix are you able to provide steps to recreate your issue & provide the version of Strapi you're using? I'm using `v4.3.9` and currently cannot reproduce the issue with the steps described above.

[2022-09-26 08:41] nicoXXXXXtitan opened #14470 "Application crash when deleting a filter on a contenttype."
## Bug report

### Required System information

- Node.js version: 14.19.3
- Strapi version:  4.3.9
- Database: sqlite
- Operating system: Ubuntu 20.04.5 LTS
- Yarn version: 1.22.19

### Describe the bug

Strapi is in a docker container.
I upgraded Strapi from 4.2.4 to 4.3.9. I'm not sure if this upgrade is related to the bug because we don't use the filter system much but here is the problem.
App

[2022-09-26 10:40] vanishree165 commented on #13646
I fixed this issue guys by adding "persistedQueries: false," in my configuration part

`const apollo = new ApolloServer({
    typeDefs: schema,
    persistedQueries: false,
    resolvers,
    context: async (req) => ({ auth: _.get(req.res.locals, 'auth.payload'), db }),
    plugins: [
      ApolloServerPluginLandingPageGraphQLPlayground({
        settings: {
          'request.credentials': 'inclu

[2022-09-26 12:39] nvoskuilen opened #14472 "error: insert into "files_related_morphs""
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.17.0
- Strapi version: 4.3.9
- Database: PostgreSQL @ DigitalOcean (managed)
- Operating system: DigitalOcean App Platform

### Describe the bug

We initially deployed strapi v4.3.4 where we did not (yet) encounter the following issue, but after we upgraded to 4.3.8 we noticed:

A "Warning: internal Server

[2022-09-26 13:16] JejomStark commented on #14378
I've a simple structure with 3 levels,

A category->book->author for example. If I want the author data from the category, there are latencies.

Database is a Postgresql on Google Cloud, no lantecy with it

[2022-09-26 13:24] haghighi251 commented on #12129
This reply solved my problem.

[2022-09-26 13:29] kulak91 commented on #13237
Thank you!` return path.resolve(configFilePath).startsWith(dirAbsolutePath) ? configFilePath : undefined;` worked for me

[2022-09-27 10:04] HitMeWithYourBestShot opened #14473 "REST API does not respect locale parameter for localized children"
## Bug report
Hello,

I'm not sure if this is a bug or the behaviour as designed, but I could not find anything in the docs about it.

### Required System information

- Node.js version: 18.8.0
- NPM version: 8.18.0
- Strapi version: 4.3.6
- Database: Postgres
- Operating system: Windows 11

### Describe the bug
When using the REST API in combination with the I18 plugin, the locale parameter is no

[2022-09-27 12:54] ronronscelestes commented on #13988
hi @nimajneb thank you for bringing up this issue!
it is caused by the way `i18n` and the `content-manager` work together - the `content-manager` is not supposed to know anything specific about `i18n`.
when we edit an entry localized with _"fill in from another locale"_ the state of the cm is overwritten, which causes the cm to lose its `initialData` making it then impossible to watch for differen

[2022-09-27 15:51] derrickmehaffy commented on #14428
We don't assign issues, and you don't need to ask. You can just submit a PR and add something like `fixes #14428` to the PR comment

[2022-09-28 01:12] hiteshujani2002 opened #14479 "Strapi is not allowing me to see Content Manager"
## Bug report

### Required System information

- Node.js version: 14.17.3
- NPM version:8.19.2
- Strapi version:4.1.12
- Database:
- Operating system:Windows 10

### Describe the bug

I am working with Next + Strapi project when am I ran strapi start in my terminal I get to go on the administration but when I click on the Content Manager it tells me that "You are not allowed to see this document"

[2022-09-28 03:24] datajango opened #14480 "Can't login version 4.3.9"
## Bug report

### Required System information

- Node.js version:v18.7.0
- NPM version:$ 8.15.0
- Strapi version: 4.2.9
- Database: sqlite
- Operating system: Windows 11

### Describe the bug
Unable to login

$ npm run develop

Building your admin UI with development configuration...
Admin UI built successfully

 Project information

┌────────────────────┬─────────────────────────────────────────

[2022-09-28 09:34] South-Paw commented on #13237
@st33v3 legend 👍

First time using Strapi tonight in a fair while and bit shocked that the TypeScript setup didn't work out the box...

[2022-09-28 09:59] gowthamik14 opened #14482 "Jwt expiry"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version: 4.3.8
- Database: mysql
- Operating system:

### Describe the bug
 This is one of the pen test observation where the user left the system for 40 hours  and still able to send Curl request with the jwt token and get response back successfully.

I would like to change the jwt expiry time on admin from

[2022-09-28 10:10] #12432 closed

[2022-09-28 10:26] goodhoko opened #14483 "Entity Service API returns null when used in a transaction."
## Bug report

### Required System information

- Node.js version: 16.16.0
- Yarn version: 1.22.19
- Strapi version: 4.3.9
- Database: Postgres:12.0
- Operating system: node:16 [Docker image](https://hub.docker.com/_/node).

### Describe the bug

The Entity Service API doesn't work well with transactions. For instance, this call:

[code]

returns the updated user when invoked _outside_ transaction

[2022-09-28 11:45] abeljrgit commented on #13237
Typescript strapi is not working as of September 28, 2022. Javascript strapi is working. I used postgres as my database. Same error as the above.

[2022-09-28 12:17] macrozone opened #14484 "cannot import css in custom plugin"
## Bug report

### Required System information

- Node.js version: v14.20.1
- NPM version: -
- Strapi version: 4.3.9
- Database: postgres
- Operating system: macos

### Describe the bug

In my custom plugin, import a css file using `import "my-module/path/to/file.css` . This worked in strapi 4.0.8. After upgrading to 4.3.9 this css import no longer works. Everything compiles without error, but the

[2022-09-28 13:42] Marc-Roig commented on #14417
@kasonde
I have made a quick investigation about this, I will leave some of my thoughts.

I am am uploading multiple images at the same time (10 of 5MB each) and my heroku dyno Ram gets to 400MB (starting from 200MB). I get a similar behaviour with Railway.

What I am not able to reproduce is that big spike you are reporting. **In that project do you use a Dockerfile you could share**? Or a Procfi

[2022-09-28 13:46] Marc-Roig commented on #14417
One other thing that could improve the spike of memory is disabling any image optimizations in settings.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/20578351/192795621-5b8ef237-76f8-4d7c-892a-c4bec193c7ae.png">

[2022-09-28 13:51] starkys-brzezina commented on #4548
@woutderooms please please do, I've been pulling my hair to make this work, oroginally thought there was a bug in graphql codegen, but eventually I realized I'm searching in the wrong heystack.. Any chance you could provide a patch? 🙏

[2022-09-28 14:24] #13975 closed

[2022-09-28 14:43] macrozone commented on #14484
as a workaround, i did it a bit funky:

- add `raw-loader` as dev dependency
- `import cssString from "!raw-loader!package/path/to/file.css";`
- then add a `<style>{cssString}</style>` tag to your custom plugin component

[2022-09-28 17:27] derrickmehaffy commented on #14287
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-09-28 17:27] #14287 closed

[2022-09-28 17:30] derrickmehaffy commented on #14310
Unsure of what logic we expect so assigning to content squad to confirm

[2022-09-28 17:34] derrickmehaffy commented on #14318
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [Canny](https://feedback.strapi.io/).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case some messages are posted there. But the most important is to have

[2022-09-28 17:34] #14318 closed

[2022-09-28 17:35] derrickmehaffy commented on #14376
I can confirm with @3webbg here, the U&P is specifically coded and expects the username field to exist. Closing as this isn't a bug but a custom modification.

Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to o

[2022-09-28 17:35] #14376 closed

[2022-09-28 17:39] derrickmehaffy commented on #14377
Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).
- feature requests should be directed to our [feedback and feature request database](https://feedback.strapi.io)

Please see the following contributing guidelines for asking a question [here](https://gi

[2022-09-28 17:39] #14377 closed

[2022-09-28 17:44] derrickmehaffy commented on #14386
Your node version is too old, can you try upgrading to v16.16.0 at minimum?

Marking as closed as this almost certainly is not a bug but an environment issue.

[2022-09-28 17:44] #14386 closed

[2022-09-28 17:44] derrickmehaffy commented on #14388
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-09-28 17:44] #14388 closed

[2022-09-28 17:45] #14412 closed

[2022-09-28 17:46] derrickmehaffy commented on #14390
migrating this to the migration scripts repo, not here.

[2022-09-28 21:00] derrickmehaffy commented on #14440
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-09-28 21:00] #14440 closed

[2022-09-28 21:01] derrickmehaffy commented on #14461
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-09-28 21:01] #14461 closed

[2022-09-28 21:05] derrickmehaffy commented on #14480
unable to reproduce on Windows 10 or 11 likewise can't reproduce on Linux Mint 20.3.

As stated, this is most likely an issue with a chrome extension or something. I would confirm by using an incognito window. For now without more information I'm going to set this as closed but if you are able to reproduce the issue with clear steps lets us know and I can reopen it.

[2022-09-28 21:05] #14480 closed

[2022-09-28 21:28] derrickmehaffy commented on #14482
Yes this is intended behavior as it's the nature of how JWT's work and the fact our admin panel is CSR not SSR. Every action is an API call to the backend while the admin panel is loaded in the users web browser.

In the future for security related concerns please forward these requests to security@strapi.io and not the github unless asked by us to open an issue.

For now I'll mark this as closed

[2022-09-28 21:28] #14482 closed

[2022-09-28 21:28] derrickmehaffy commented on #14479
Need more reproduction steps or information as I am unable to reproduce. Closing this until more information is provided.

[2022-09-28 21:28] #14479 closed

[2022-09-28 21:31] derrickmehaffy commented on #14460
Your schema is being modified and you are basically deleting the collection type from Branch A. I'm going to close this as it isn't a bug but please do feel free to open a thread in the community spaces about this as it sounds like you are having some issues in your source control.

---

Hello,

I see you are wanting to ask a question that is not really a bug report,

- questions should be directe

[2022-09-28 21:31] #14460 closed

[2022-09-28 21:32] derrickmehaffy commented on #14442
Migrating this to the documentation repo as a migration guide needs to be created.

[2022-09-28 22:50] fitraditya opened #14487 "Strapi won't start using ProxySQL"
## Bug report

### Required System information

- Node.js version: 16.3.1
- NPM version: 8.1.2
- Strapi version: 4.2.2
- Database: ProxySQL
- Operating system: MacOS Big Sur (Apple M1)

### Describe the bug

We tried to deploy strapi into production environment using ProxySQL (MySQL). When we run `yarn start`, we got following error:

[code]

It run well in staging environment with ProxySQL

### S

[2022-09-29 02:00] bawangxx opened #14488 "Server wasn't able to start properly"
`npx create-strapi-app@latest my-project --ts --quickstart`
![1](https://user-images.githubusercontent.com/8935765/192921457-87cb819c-44e6-40f7-a4c8-e6abee9579ec.png)

[2022-09-29 05:24] rktyt opened #14489 "Rendering issue: Custom fields are causing problems for other components."
## Bug report

### Required System information

- Node.js version: 16
- NPM version: 8
- Strapi version: 4.4.0
- Database: mysql8
- Operating system: debian

### Describe the bug

When custom fields and JSON,RichText fields are used together, the
JSON,RichText fields will go wrong.

JSON and RichText fields do not display values.
Click once to appeared.

and...

Overlapping line numbers are displa

[2022-09-29 05:28] mananzealousweb commented on #14472
I got the same issue when updating the page/articles. Did you find the solution to this @nvoskuilen ?

[2022-09-29 06:05] emrahaydemir opened #14490 ""invalid geometry" error when inserting "geometry" type data to PostgreSQL [Reopened]"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Strapi version: 4.3.4
- Database: PostgreSQL
- Operating system: Windows 10
- PG version: 8.8.0

### Describe the bug

Hello, I am using PostgreSQL as database. Everything works smoothly. I want to take advantage of the "geometry" data type that PostgreSQL provides built-in.

Coordinate information s

[2022-09-29 07:40] AnoirsGit commented on #13167
@dummydamn did you find where to change?

[2022-09-29 11:33] FieldMarshallVague commented on #12960
Antixrist is correct, it's the same issue (well, solution) as the above linked issue.  It can be fixed in my case (on windows, strapi 4.4.0) by changing these lines in the strapi package:

In @strapi/typescript-utils/lib/utils/get-config-path.js.  Comment out the return line on line 33 and replace with the following lines (line 33 included for reference).

[code]

[2022-09-29 12:48] #13360 closed

[2022-09-29 13:35] ShahriarKh commented on #12016
What about the REST? Is there a way to retrieve these additional fields when on login? (/api/auth/local)

[2022-09-29 18:08] UsmanAsif193 commented on #10147
Any solution till yet? Need to use the upload_large()....

[2022-09-29 20:02] Rabih-Alhousein opened #14499 "filling from another locale doesn't copy relational fields and keep them empty"
### Describe the bug:
I am using the "fill from another locale" feature to duplicate the content of the pages in different locales and to make small changes to the content of the other locale, it is working well except for relational fields, it keeps them empty even if the content of the relation field has content in the new locale.

**for example :**
In Products collection type, we have two relat

[2022-09-30 02:19] gorden0929 commented on #13237
The fix is going on but no update.
For more detail: #14088

[2022-09-30 05:24] AxeemHaider commented on #14414
First of all thanks for your precious time and consideration. You little bit misunderstood the usecase, definatly this is possible by UID field. But this is just an example case. There are many other cases where you need other fields value to generate another field value. I know there are some flaws in my PR, I will come with some better idea

[2022-09-30 05:35] romash1408 opened #14501 "IDEA shows ts errors in just generated plugin"
## Bug report

### Required System information

- TypeScript: 4.6.3
- Strapi version: 4.4.0

### Describe the bug

I generated plugin through `yarn strapi generate` and selected TypeScript.
And now Intellijie IDEA shows TypeScript errors in almost every generated file under `/src/plugins/<name>/admin/src/`

### Expected behavior

I think there should be `/src/plugins/<name>/admin/src/tsconfig.json

[2022-09-30 09:17] joshuaellis commented on #13974
Think this was resolved by #13993. If it's still an issue in the latest version of `strapi` then we can revisit.

[2022-09-30 10:30] xtina-art opened #14505 "/newanimated"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to hap

[2022-09-30 11:14] derrickmehaffy commented on #14505
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-09-30 11:14] #14505 closed

[2022-09-30 11:41] pankajSudoviz opened #14506 "Added new column from mysql workbench connected with aws RDS but not reflecting data update with Strapi"
I added new column in the mysql database of aws RDS which is connected with strapi APIs (to make manipulation in the data on the DB) but when I ran PUT request to add data in new added column the data is not reflecting in it.

I have appropriate routes in json file for it.
Any suggestions to fix this?

[2022-09-30 13:46] xenobytezero opened #14509 "Sizing of custom fields in "Configure View" is determined by backend type."
## Bug report

### Required System information

- Node.js version: 16.15.0
- Yarn version: 3.2.3
- Strapi version: 4.4.0
- Database: sqlite
- Operating system: Windows 10

### Describe the bug

When attempting to "Configure View" and entity that uses custom fields, I found that the ability to set the width of a field in the view appears to be tied to the underlying type of the field, rather than t

[2022-09-30 13:58] tekemustafa opened #14510 "Hellı"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to hap

[2022-09-30 14:11] #14510 closed

[2022-09-30 14:41] ihmpavel opened #14511 "Forbidden attribute naming keeps crushing the admin"
## Bug report
Naming sections attributes as `fields` causing error while getting data in a plugin.
_See `Example 1` below_

_Edit: Naming anything from https://github.com/strapi/strapi/blob/main/packages/core/utils/lib/convert-query-params.js#L239 is the problem - not just `fields`_

### Required System information

- Node.js version: 16.15.1
- NPM version: 8.11.0
- Strapi version: 4.4.1
- Databas

[2022-09-30 15:27] codymx commented on #13044
Going to second this. It's odd that this is set to happen on the `mouseup` event, and I've lost quite a bit of data due to this behaviour.

While I generally agree that the "default" behaviour of a modal is that it should close when the overlay is clicked, I think there are severities that need to be taken into account. For instance, a simple message modal should be closable by clicking the overla

[2022-09-30 17:09] hansoncyu opened #14512 "API token auth makes too many database calls"
## Bug report

### Required System information

- Node.js version: 18.6.0
- NPM version: 8/13/2
- Strapi version: 4.4.0
- Database: Postgres
- Operating system: Mac

### Describe the bug
With the new API token system introduced in 4.4.0, every single API call now makes 10 db calls related to api tokens before even accessing the content data. For comparison, when using an older strapi version, ther

[2022-09-30 22:13] ihmpavel commented on #14464
Hi, can you check whether you do not have multiple `components_generic_documents` components?

In my case I was having `case.json` and `cases.json` in `/components/others` both with name `components_others_cases` (`{ "collectionName": "components_others_cases" ... }`).

You do not see actual table, because it is running in transaction and everything is reverted after the error.

[2022-10-01 01:36] tekemustafa opened #14514 "Hello"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to hap

[2022-10-01 12:42] sinamoradi1375 commented on #13237
Is this problem ever gonna get any attention?

[2022-10-01 23:42] #14514 closed

[2022-10-02 03:24] fskarmeta opened #14519 "With google provider l'm able to create two users with same username and e-mail (nuxt/strapi)."
- Node.js version: v18
- NPM version: 8.15.0
- YARN version (used): 1.22.18
- Strapi version: 4.3.9
- Database: Postgres
- Operating system: Ubuntu

### Describe the bug

Using strapi/nuxt auth provider with google and register() function I can create users with duplicate e-mail, and even with duplicate e-mail and username.

Unique e-mail address constrain is ON in Advanced Settings.

### Steps to

[2022-10-02 05:43] thelovekesh opened #14520 "Add nvm config file"
As a NodeJS developer, it's common to work with different node versions. NVM is a helpful utility to manage such things.

# TODO
- Add a `.nvmrc` file
- Specify a node version that complies with current development standards.

[2022-10-02 05:45] thelovekesh commented on #14520
@derrickmehaffy  If it is deemed to be a fit, please assign it to me. I will be happy to raise a PR for this.

[2022-10-02 07:44] South-Paw commented on #14469
See #13237 ([local change you can make here to fix it](https://github.com/strapi/strapi/issues/13237#issuecomment-1258045747)) and there is a PR #14088 fixing this that was offered a month ago but Strapi team hasn't merged it for whatever reason.

[2022-10-02 08:13] South-Paw commented on #14488
See #13237, here is a local change you can make [to fix it](https://github.com/strapi/strapi/issues/13237#issuecomment-1258045747)

There is also PR #14088 which fixes this this that was put up a month ago but the Strapi team hasn't merged it for whatever reason which is really frustrating

[2022-10-02 08:16] South-Paw commented on #14079
See #13237, here is a local change you can make [to fix it](https://github.com/strapi/strapi/issues/13237#issuecomment-1258045747)

There is also PR #14088 which fixes this this that was put up a month ago but the Strapi team hasn't merged it for whatever reason.

[2022-10-02 08:22] South-Paw commented on #13237
Have found a few other duplicate issues and referenced them to this.

Apologies, know I'm being a pain but I find it hilarious that some other issues on this topic have been closed and marked as duplicates of this issue, but this issue, despite being marked "high priority" has not been progressed nor has the PR to fix it 😆

Hopefully making some noise will get those gears spinning again 👍

[2022-10-02 11:43] ecosse3 commented on #13237
The same issue to me while deploying production to render.com. After second/third try app is started.

![image](https://user-images.githubusercontent.com/17691791/193452216-28473748-87d4-4985-bea1-4526440b5b34.png)

I am not sure if `database.ts` config is related to this. I'm using `pg-connection-string` instead of the default approach.

[2022-10-02 17:37] tit1 opened #14522 "Missing Permissions for Uploads Folders"
## Bug report

### Required System information

- Node.js version: 16.4.2
- YARN version: 1.22.19
- Strapi version: 4.4.1
- Database: PostgreSQL
- Operating system: Mac

The is no permissions for Uploads/folders or permissions are not inherited from the Uploads permissions. I am working on a Strapi site with all APIs currently being public. When trying to access `uploads/folder` i get an unauthori

[2022-10-02 19:40] shestakov-vladyslav commented on #11665
I have the same issue
![image](https://user-images.githubusercontent.com/18069756/193473053-1bda36aa-27e0-4c38-8dd3-9d55dfc8cda0.png)

[2022-10-02 20:04] tit1 commented on #14522
Sorry updated my comment. I had the wrong URL `/api/upload/folders` instead of `/upload/folders`

[2022-10-03 04:11] derrickmehaffy commented on #14520
We don't assign issues, also all issues much follow our bug report templates. If you want to submit a PR, just do it.

[2022-10-03 04:11] #14520 closed

[2022-10-03 07:22] joshuaellis commented on #12768
Closing due to inactivity and being unable to replicate on the newest version of Strapi. If the issue does come up again, please open a new issue and follow the template accordingly.

[2022-10-03 07:22] #12768 closed

[2022-10-03 10:48] innerdvations commented on #14512
Thanks for the report! We'll have a fix for this as soon as possible.

[2022-10-03 11:23] SoulEvans07 commented on #13237
@st33v3 and @kulak91 seem to be correct. My "temporary" solution is to use [patch-package](https://www.npmjs.com/package/patch-package) with the following patch file [patches.zip](https://github.com/strapi/strapi/files/9696993/patches.zip)

[2022-10-03 19:09] anmol009a opened #14532 "Unique constraint not working in bulk Query create"
simple bug :
strapi.db.query('api::blog.article').createMany()

while using this method unique constraint does not work

[2022-10-03 21:52] ZarakiKanzaki commented on #5267
Hi! I'd like to know more about the status of this issue, I saw that the or were closed due a complete overhaul of the code. I would love to know more if I can contribute someway to this issue. Thanks in advance for your time

[2022-10-04 01:53] douglaslb commented on #4548
Hi @starkys-brzezina...I tried to use your patch, but it seems to be broken :(

[2022-10-04 04:37] Dule-mart commented on #14184
Does this mean that there is a gap in the documentation? I can help with fixing the gap.

[2022-10-04 04:40] CleberRossi commented on #14357
Hello,

I think the main cause is because Koajs/cors does not run all the options when the user does not send Origin header. However, following https://www.rfc-editor.org/rfc/rfc6454#section-7.3 , the header can be null.

Because of this I open a PR on koajs/cors: https://github.com/koajs/cors/pull/87

As soon as the PR is merged, if my fix is correct. We'll be able to fix this issue better.

We n

[2022-10-04 04:44] aschick82 opened #14533 "Data gets deleted randomly most of the times when Strapi server is restarted"
## Bug report

### Data gets deleted randomly most of the times when Strapi server is restarted

I am using Strapi v4.4.1 connected to a Postgres database.

Unfortunately, all of my data gets deleted randomly and this is very annoying.

This happens most of the times when the server is restarted or I run the app in development mode connected to my production database.

I had a lot of drafted data

[2022-10-04 04:48] ktt9117 opened #14534 "Error occurs when running after changing from sqlite to mysql."
## Bug report

### Required System information
- Node.js version: v16.14.0
- NPM version: 8.5.4
- Strapi version: 4.4.1
- Database: 10.5.10-MariaDB
- Operating system: macOS Monterey 12.5.1 (Apple M1)

### Describe the bug

Error occurs when running after changing from sqlite to mysql.

### Steps to reproduce the behavior
1. npx create-strapi-app@latest hello-strapi --quickstart
2. Register the fi

[2022-10-04 07:09] #14446 closed

[2022-10-04 08:23] callum-gander commented on #13977
Is this still being looked at? I can't upgrade to the latest versions until this is resolved

[2022-10-04 09:09] callum-gander opened #14537 "Documentation plugin doesn't work and prevents start up without uninstalling"
## Bug report

### Required System information

    Node.js version: 14.19.1
    NPM version: 6.14.4
    Strapi version: 4.2.2
    Database: Postgresql 14
    Operating system: Ubuntu WSL x86_64

Note, I'm on an out of date version due to existing unresolved issues updating, see #13977

### Describe the bug

The Documentation plugin doesn't work. The error below comes up and the server can no long

[2022-10-04 10:27] shivdhb commented on #3797
THU

[2022-10-04 10:29] dcr31000 opened #14539 "alter table `strapi_webhooks` modify `headers` json null"
## Bug report

### Required System information

- Node.js version: v16.16.0
- NPM version: 8.11.0
- Strapi version: 4.3.2
- Database: MariaDB
- Operating system: Debian

### Describe the bug

I created a new component in develop mode. When I want to deploy a new version of Strapi in the production environment, I got this error:
`
error: alter table `strapi_webhooks` modify `headers` json null, mod

[2022-10-04 12:10] CleberRossi commented on #14522
@tit1 Is everything right? Can you close the issue, please ?

[2022-10-04 12:29] luixal commented on #13812
Maybe a filter by file type would make more sense. Maybe a field with some options like "Images, Videos, Documents, ..." or even document type (text/word, spreadsheet, ...) so you can filter out the rest of uploads that doesn't match what you're looking for.

[2022-10-04 12:50] Erfan1995 commented on #14427
Thank you @ronronscelestes !

[2022-10-04 13:26] #13237 closed

[2022-10-04 13:45] derrickmehaffy commented on #14522
Marking as closed on the users behalf.

[2022-10-04 13:45] #14522 closed

[2022-10-04 15:46] #10780 closed

[2022-10-04 16:58] Rupesh-Darimisetti commented on #14534
may i know how to setup the project after yarn install , when I am trying to run yarn build it not work in and throwing build failed

[2022-10-04 17:30] samturrell opened #14542 "Relation count in the entity table is incorrect"
## Bug report

### Required System information

- Node.js version: v14.19.3
- NPM version: 6.14.17
- Strapi version: 4.4.1
- Database: mysql
- Operating system: mac, ubuntu

### Describe the bug

The relation count is incorrect in the entity list table.

In the following example, you can see that the relation column is showing that there are `148` items:

<img width="851" alt="image" src="https://

[2022-10-04 20:52] SalahAdDin commented on #12538
It should have been like this.

[2022-10-05 00:51] ktt9117 commented on #14534
After the npm install, I opened the `config/database.js` file to annotate the default connection object, made the following changes
[code]
and installed the mysql(`npm i mysql`) module. Nothing else has been changed.

[2022-10-05 04:01] PhuQuy opened #14543 "Yarn setup run into problem with window"
## Bug report

### Required System information

- Node.js version: **v16.15.0**
- NPM version: 8.5.5
- Strapi version: 4.4.1
- Database:
- Operating system: Window 10

### Describe the bug

Build admin has some errors.
### Steps to reproduce the behavior

1. Pull strapi git
2. cd strapi
3. yarn setup
4. See error: [@strapi/admin  ] Error: Module parse failed: Unexpected token (10:25)
[@strapi/admi

[2022-10-05 07:26] gu-stav commented on #13977
@callum-gander Unfortunately, I didn't have the time yet to look into the issue. I'll try to reproduce it this week ...

[2022-10-05 07:43] gu-stav commented on #13974
@joshuaellis I'd like to keep this issue open until we discuss how we want to treat floating point values in the CM. I will prepare something for an upcoming sync meeting.

[2022-10-05 08:15] #10356 closed

[2022-10-05 10:19] Namstel commented on #14281
I also ran into this problem while running locally. My solution was to remove the `/node_modules` folder and `package-lock.json` file and then perform another `npm i`. Somehow that fixed it.

[2022-10-05 12:49] hsnassaad commented on #11072
I have the same problem

[2022-10-05 13:44] joshuaellis commented on #13044
So there's a PR to fix the issue with the modal dismissing accidentally in cases like this:

And regarding the behaviour, we want to look into firing a confirmation alert in these situations to avoid accidental closures.

[2022-10-05 13:46] antokhio opened #14545 "Updating users-permissions user inconsistency. Needs data in body, and not in body.data"
## Bug report

Hi small inconsistency detected with user-permissions plugin:
Basically i want to update users data.

So normally i do (on any other conetent-type)
[code]
But on user permissions i have to do:
[code]

- Strapi version: 4.4.1

I would not say this is a major issue, however i think it should be noted for the further user-permissinons update or strapi v5

[2022-10-05 14:17] callum-gander commented on #13977
Thanks, if you need anything else, let me know

[2022-10-05 17:25] michelmfreitas opened #14548 "Strapi failed to compile in admin development mode"
## Bug report

### Required System information

Strapi Version: 4.3.8
Operating System: MacOS Monterey
Database: SQLite
Node Version: 16.17.1
NPM Version: 8.15.0
Yarn Version: 1.22.19

### Describe the bug

I've been using the strapi API for my application and the app works when not run on the admin mode (npx strapi watch-admin). But I need to run with admin mode and the application failed to comp

[2022-10-05 20:20] gregmarzio commented on #11072
This issue is due to the Strapi instance restarting after an upload.

If you are using Strapi via Node.js, ensure you are not running "strapi develop" command.

If you are using Strapi via PM2, ensure you are not running PM2 watch as true, or "strapi develop" command in your configuration file.