[2020-06-15 07:48] alexandrebodin commented on #6096
Hello, This is not something we will be adding to the default webhooks, mainly to avoid performance issue of loading / send too much data.

You can easily create a custom webhook using the lifecycles hooks and call your API.

You can check the lifecycle docs here: https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks

I'm closing this issue. Feel free to discuss it if you need

[2020-06-15 07:48] #6096 closed

[2020-06-15 08:39] podeig opened #6676 "Admin UI -> Plugins -> Email -> settings are not available"
I have installed email provider:
**npm i strapi-provider-email-sendgrid**

Under /config I created a file **plugins.js**

[code]

In Admin UI (user admin) I open Plugins, but I cannot open email settings. Setting icon is not there. HELP!

[2020-06-15 08:41] derrickmehaffy commented on #6676
There is no more icon for email settings in the Admin, all configs have been moved to files: https://strapi.io/documentation/v3.x/plugins/email.html#configure-your-provider

https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.20-to-3.0.0.html#email-plugin-settings

[2020-06-15 08:41] #6676 closed

[2020-06-15 10:25] lauriejim commented on #6421
Hello! Thank you for this question.
I pinged the team to know a little bit more about this.
Will be back soon with a status about session storage.

fyi, we are still a really small team with a community of users that grows super fast.
It's super difficult to answer every questions rapidly.
We are doing our best.

[2020-06-15 10:29] lauriejim commented on #6432
Thank you @iserko for reporting this issue.
I ping @alexandrebodin about this issue.

The team is quite busy on other topic, can you please try to have a look in the code source to find a potential reason of this issue.
I will appreciate your help on this issue resolution.
Thank you.

[2020-06-15 10:29] ssagga opened #6678 "Core entity-service methods do not accept 'plugin' param, only takes 'model'"
**Describe the bug**
Trying to utilize the core entitiy-service in a custom plugin controller to perform built in CRUD operations against the custom plugin's model(s), I have traced the stack to find that the methods (create, update, etc...) fail to capture a {plugin} parameter object along with the {model} parameter object. Therefore, when the core entity-service calls db methods such as `db.getM

[2020-06-15 10:34] alexandrebodin commented on #6678
Hi, the core entity service was really created for this usecase but you can use the model uid to make this work:

[code]

[2020-06-15 10:41] iserko commented on #6432
@lauriejim as my test from the test script shows, if you use buffers (as Strapi does), you get memory leaks. If you write the code so that it streams all the way through, then there's almost no memory overhead.

[2020-06-15 10:43] ssagga commented on #6678
Hi Alex, thanks for your quick reply I will refactor using this approach for the time being. However, what would you recommend as a conventional approach to achieve CRUD from a custom plugin using the built in services if not via the entityService APIs?

[2020-06-15 10:55] jjarcik commented on #6332
You can modify _LeftMenuLinkSection_ file and custom rendering the label

- Open file api/Nabidka/nabidka.settings.json (nabidka is your collection name)
- Add key displayName to info part of config
`"info": { "name": "Nabidka", "displayName": "Nabídky" }`
- create a file ```admin/src/components/LeftMenuLinkSection/index.js```
- copy into it the contents of file
```node_modules/strapi-admin/admin/

[2020-06-15 11:22] anthify commented on #6670
I've been trying to debug the issue. I can't find anything suspect in the code from reading it, but it appears that whatever goes wrong is likely here or just before here;

https://github.com/strapi/strapi/blob/ba6695a87c89c81cde9acd926d13334a2ed2f74f/packages/strapi-plugin-users-permissions/controllers/Auth.js#L592

[2020-06-15 11:25] PaRoxUs commented on #2086
Just a note, there is still no reference to the autoPopulate parameter into the documentation

[2020-06-15 11:47] #6678 closed

[2020-06-15 11:48] ssagga commented on #6678
Not a bug, implementation requires passing the model uid instead of model name + plugin name. Thanks for your time!

[2020-06-15 11:59] fabio-nettis opened #6680 "Webhooks not working with user-permissions.user"
**Describe the bug**
As of version 3.0.1, it doesn't seem to be possible to listen to user creation, editing or deletion via webhook. The webhook simply never is called for the `user-permissions.user` model.

**Steps to reproduce the behavior**

1. Create a new webhook
2. Click create, edit and delete
3. Try to see any results while performing actions on any user

**Expected behavior**
The webhook

[2020-06-15 12:01] alexandrebodin commented on #6432
Hi @iserko Would you be interested in making a PR ?

[2020-06-15 12:07] alexandrebodin commented on #6680
Duplicate of https://github.com/strapi/strapi/issues/5324

[2020-06-15 12:07] #6680 closed

[2020-06-15 12:11] diogotcorreia commented on #5972
As requested, I've opened an RFC for this. Please go and tell your opinion.

https://github.com/strapi/strapi/discussions/6681

[2020-06-15 12:31] onepointconsulting opened #6682 "Strapi and Generated swagger API"
When using Strapi to create a Swagger API using the Strapi documentation plugin, the generated method contains a parameter called '=' (equals sign). This parameter ('=') typically causes trouble when you want to generate code from the Swagger definition using SmartBear's tools.

Below you can see the generated parameter names on the Swagger API:

**Screenshots**

![image](https://user-images.githu

[2020-06-15 13:05] mountiny opened #6683 "Auth.form.email.invalid using sendgrid email for sign up email confirmation 3.0.1. version"
**Describe the bug**
If you try to sign up user with email verification turned on and using sendgrid provider at new version 3.0.1 the user gets created but email is not sent throwing error Auth.form.email.invalid. Using 3.0.0@beta.18.5 version of Strapi works normal.

**Steps to reproduce the behavior**

1. npx create-strapi-project
2. Add strapi-provider-email-sendgrid to your package json and n

[2020-06-15 13:05] L-Naej commented on #6538
Same problem on the Digital Ocean Strapi marketplace droplet (v0.0.3), created today.
Content of `/srv/strapi/strapi-development/package.json`

[code]

[2020-06-15 13:41] lauriejim commented on #6440
Thank you for reporting this issue. It's an easy issue to fix.
I will continue to review some PR if someone can have a look to the `initialize` function oof the `users-permissions` plugin.
Thank you.

[2020-06-15 13:43] lauriejim commented on #6454
Hello! Do you plan to submit a PR to fix this issue?

[2020-06-15 13:53] GITMobileTeam opened #6684 "Issue on deploying the administration panel on another server than the API"
**Describe the bug**
I am following the below documentation of strpai to deploy the administration panel on another server than the API:
https://strapi.io/documentation/v3.x/admin-panel/deploy.html#deploy-the-entire-project-on-the-same-server

But I can see that the admin panel is not coming up if I am providing the different backend URL. This is the server.js i am using:

[code]

**Steps to repro

[2020-06-15 13:58] lauriejim commented on #6475
Hello!

Thank you for reporting this behavior.

Something I would super appreciate is if you can try to submit a PR to fix this issue.

The topic you are pointing has to be fixed and it could be done by someone from the Community (you 🤗).

Here is the [contributing guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to help you to getting started for contributions to Strapi.

[2020-06-15 14:07] iserko commented on #6432
@alexandrebodin can't commit, so it's free for anyone to take it. If I do get time to do it though, can take a stab at it.

[2020-06-15 14:11] lauriejim commented on #6482
Hello @manestream !
Thank you for reporting this behavior.
Something I would super appreciate is if you can try to submit a PR to fix this issue.
The topic you are pointing has to be fixed and it could be done by someone from the Community (you 🤗).
Here is the [contributing guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to help you to getting started for contributions to Stra

[2020-06-15 14:19] akhilmhdh commented on #6673
The problem is your using env.int which expects integer and then passing '3000' as string. Change it to 3000 and it will work

[2020-06-15 14:20] sam-cross commented on #6634
### Admin interface responsive design/mobile view

**Issue:**
Strapi's Admin interface is built for desktop and does not scale down.

**Context:**
I'm planning to use Strapi for client's websites but some of them may be using a mobile device as their main platform. I would like the Strapi admin interface to be responsive so that I can hand off websites to clients without telling them they have to

[2020-06-15 14:21] lauriejim commented on #6488
Hello! Can you make sure your models are correct, I just can't start my app with model you shared.

[2020-06-15 14:21] sam-cross commented on #6634
@bubsly I don't have your issue. Strapi has been very fast for me. Maybe it's your server provider?

[2020-06-15 14:41] lauriejim commented on #6497
Thank you for reporting this issue.
I think it's something easy to update in the GraphQL schema.
Can you please submit a PR to fix this issue, I will appreciate your contribution on this issue.
Ping @alexandrebodin about this issue.
Thank you.

[2020-06-15 14:46] lauriejim commented on #6508
Hello! Can you please specify your migration's step.
You talked about the alpha beta and stable, it's confusing.
Can you please make sure you followed all migrations guide step by step.
I migrate in discussions because it's a migration issue you have.

[2020-06-15 14:46] #6508 closed

[2020-06-15 14:47] frodrigues opened #6685 "Access Email config returns Blank page"
Hi,
When i access page http://localhost:1337/admin/plugins/email/configurations/development it´s showing a blank page.

**Console returns:**
Error: Minified React error #130;

**My environment:**

[code]

[2020-06-15 14:54] alexandrebodin commented on #6685
Hi, these were moved. You can read the migration guide to know more: https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.20-to-3.0.0.html#email-plugin-settings

[2020-06-15 14:54] #6685 closed

[2020-06-15 15:01] alexandrebodin commented on #6482
@manestream Thank you for reporting.

Node v10 is in maintenance lts right now. We are going to focus on bringing support to node v14 and will deprecate support for node v10 once it reaches end of life in 2021.

Feel free to fix the engine info in the package.json of the repo it would help a lot :D

[2020-06-15 15:15] derrickmehaffy commented on #6684
@petersg83 @alexandrebodin I already created a PR to resolve this documentation https://github.com/strapi/strapi/pull/6636

[2020-06-15 15:22] alexandrebodin commented on #6497
Nice catch. Would you mind making a PR for this ?

[2020-06-15 15:22] lauriejim commented on #6520
Hello! Thank you for this report.
I think because of issues we have on this, these features have been removed.
I ping @soupette to answer this question.

[2020-06-15 15:34] lauriejim commented on #6547
Thank you for reporting this issue.
Can you please give me your use case.
Quite not usual to have this.

[2020-06-15 15:34] Adambrb commented on #3750
Hi! Is there a solution please ?

[2020-06-15 15:34] lauriejim commented on #6547
Ping @soupette about this behaviour.

[2020-06-15 15:39] lauriejim commented on #6548
Hello! Thank you for highlighting this.
I don't know if @alexandrebodin will have time to answer this question.
I think you can create a PR to submit your proposal.

[2020-06-15 15:43] #6535 closed

[2020-06-15 16:17] lauriejim commented on #6564
I'm closing this issue because of this one - https://github.com/strapi/strapi/issues/6368
Thank you for reporting it.

[2020-06-15 16:17] #6564 closed

[2020-06-15 18:26] Jamilur-rahman-470 opened #6687 "Facebook provider hitting 400 - bad request"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**

1. Go to 'added facebook provider according to doc'
2. Click on 'hit GET: /connect/facebook'
3. Scroll down to '....'
4. See error - 400 bad request with message - provider disabled

**Expected behavior**
User will be able to authenticate hitting this url

**Screenshots**
If applicable, a

[2020-06-15 19:00] Jamilur-rahman-470 commented on #6089
I am still encountering this issue after following the fix.
windows: 10
Strapi: 3.0.1

[2020-06-15 20:40] qudo-lucas commented on #3946
Please add this ASAP

[2020-06-15 21:13] qudo-lucas commented on #3946
I thought I needed this but now I am not so sure. I just made an "Order" column in the CMS that is type Number and then the front end sorts on this property. If you want it to reflect the same order in the CMS, just click the column header and do a normal sort on column.

[2020-06-15 21:13] RaimonxDev opened #6689 "Errors with cors in production mode firts request"
**Describe the bug**
Hello I have an application created in angular and my api with strapi.

my angular app works on domain.com and my strapi works on api.domain.com

when I made the first request it generates this error: Access to XMLHttpRequest at **'https://api.domain.com/graphql' from origin 'https://domain.com' has been blocked by CORS policy: No 'Access-Control -Allow-Origin 'header is prese

[2020-06-15 21:28] #6673 closed

[2020-06-15 22:42] lflucasferreira commented on #2375
When do you believe Strapi will allow us to use Postman in order to upload files? I thought the `multipart/form-data` would work with Postman. Thank you in advance.

[2020-06-16 00:00] Gusterson commented on #6634
### Self-referencing relations

**Issue:**
Adding a many-to-many self-related reference requires 2 new fields in the collection, and confusion as to which should be used in the admin.

**Context:**
Would be extremely helpful to have one field on my "Articles" type that allows me to relate to other "Articles"

[2020-06-16 00:02] Gusterson commented on #6634
### Can't add related items from another collection

**Issue:**
No ability to create related items when adding an entry.

**Context:**
 Say, for example, a Tags item related to an article. Not being able to create new tags on the fly (from the Article entry) makes it a no-go for my clients.

[2020-06-16 04:37] youngkwangk opened #6690 "Adding routes.json to users-permissions extension causes it to create /users-permissions/users"
**Describe the bug**
Adding `routes.json` to `extensions/users-permissions/config` makes endpoints `/users-permissions/users` instead of overriding `/users` endpoints.

**Steps to reproduce the behavior**

1. Create a `routes.json` in `extensions/users-permissions/config`
[code]
2. It connects to the controller to a new endpoint "/users-permissions/users/:_id" -- which doesn't work.

**Expected be

[2020-06-16 05:07] youngkwangk commented on #6690
Oh, copying the full `routes.json` from the original file solved the issue. I lacked knowledge about how it worked.

Closing the issue.

[2020-06-16 05:07] #6690 closed

[2020-06-16 06:00] bornakke commented on #2586
Can strapi be run on Netlifys function the same way as graphql today can be hosted there?

[2020-06-16 07:09] aksdevac opened #6693 "Load dot env before utils, allow setting STRAPI_LOG_LEVEL in env file"
**Describe the bug**
If I set `STRAPI_LOG_LEVEL` variable in .env file it does not work because log utils are loaded before dotenv

**Steps to reproduce the behavior**

1. Set `STRAPI_LOG_LEVEL` in env file & see if it works

**Expected behavior**
Env vars from `.env` file should be loaded before starpi-utils logger

**System**

- Node.js version: 12.18.0
- NPM version: Yarn 1.22.x
- Strapi versio

[2020-06-16 08:39] podeig commented on #6676
Thank you for so fast answer! It works for me now. :)

[2020-06-16 09:27] a14m commented on #3946
and how do you update the order column? when you have 50+ records that you need to update -not to mention pagination issues with updating a list (that might have unique constraint on the order column)-?

[2020-06-16 09:30] sandrey80 opened #6695 "Different API Url and Admin URL doesn't work"
**Describe the bug**

[code]
**Steps to reproduce the behavior**

1. Add this server.js to environment/development
2. run yarn build && yarn develop
3. See log
[code]
4. Open browser  http://localhost:1337/content-api
[code]
5. Open browser http://localhost:1337/content-api/content-admin and i see spinner and 404 response status

**Expected behavior**
I expect to see API and Admin, nor 404

- Node

[2020-06-16 09:33] sandrey80 commented on #6695
Also i tried to use subdomain
[code]
In this case i see only white screen

[2020-06-16 09:36] derrickmehaffy commented on #6695
Two things:

the normal `url` requires the use of a proxy software (Strapi doesn't prefix anything on it's own)
the `admin.url` requires the admin to be rebuilt for this to take effect

[2020-06-16 09:39] Mat-thieu commented on #2086
Reading this back I still stand by excluding everything out of the box.

All in all, having implicit includes might initially feel like you're saving fractions of time, but on the long run it doesn't, with every relation added you need to think about where it's automatically outputted and make sure all usages of the updated routes don't output the extra relation if this is not desired. With explic

[2020-06-16 09:51] #6440 closed

[2020-06-16 09:55] crazyair commented on #6096
How to use

[2020-06-16 10:09] lauriejim commented on #6562
Hello! I just tried and it works.
Here  is what I did - [video](https://www.loom.com/share/decfa735961c446f9343cb56439229ef)
Let me know if I missed somthing

[2020-06-16 10:33] DarkTraveler commented on #6654
@demobo-com
Have you tried to remove .cache .build node_modules completely?
I am using WSL2, Ubuntu 20, strapi is installed globally npm i -g strapi.

I did not observe such a problem during the migration of my project. The only thing I deleted the config folder and took from a new project.

If only strapi did not have an allergy to macOs :)

I also recommend using yarn instead of npm, I have had

[2020-06-16 10:34] MartinN3 commented on #3946
@qudo-lucas yes but consider this as written by @a14m above your reply.

``as you can see (in the screenshot attached), we use a position or order integer column but we have to manually go through the whole table/list to update each entry in case we needed to insert something in the middle or update the ordering...``

[2020-06-16 10:35] DarkTraveler commented on #6654
P.s. Try upgrading strapi to beta.20.3 first

[2020-06-16 10:48] petersg83 commented on #6570
Hi!
I think the doc should be updated to be clearer.
Yes  `url` in `config/server.js` is required to use the connect feature, and have to be absolute like "https://mywebsite.com".
Otherwise we don't know how to construct this url.
Let me know if that works for you!

You can set
[code]

[2020-06-16 12:47] iserko opened #6697 "Race condition creating permissions for newly deployed model"
**Describe the bug**
What happens is if you use more than one web process running `strapi start` and you deploy a new model and it just happens that all web processes start at roughly the same time, you end up with duplicates. This is what happened to me:

The screenshot has different values for `enabled` because we were trying to change permissions after this happened and the UI didn't show the a

[2020-06-16 12:47] lauriejim commented on #6583
I ping @alexandrebodin about this issue.
Can you confirm or not this issue is a duplicate of this one - https://github.com/strapi/strapi/issues/2992

[2020-06-16 12:49] lauriejim commented on #6598
Thank you for reporting this issue.
Can you please try to have a look in the code base of the admin of the Content Type Builder plugin.
I will appreciate your contribution on it.

[2020-06-16 12:53] alexandrebodin commented on #6583
Yep looks like it is the same core pbl @lauriejim

[2020-06-16 13:07] denisgoryaynov commented on #6562
Hi! Thank you for your time! I updated to version 3.0.2 and it seems that the issue is solved now!

[2020-06-16 13:07] #6562 closed

[2020-06-16 13:13] lauriejim commented on #6613
Did you follow any documentation to try this implementation?

[2020-06-16 13:19] lauriejim commented on #6630
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-06-16 13:19] #6630 closed

[2020-06-16 13:25] lauriejim commented on #6638
Hello can you try to add a log in your policy, because I think your issue is a duplicate of this one - https://github.com/strapi/strapi/issues/5244

[2020-06-16 13:25] cpandit201 commented on #6598
Thanks for suggesting, will try to take this up

[2020-06-16 13:30] lauriejim commented on #6641
Hello!
Thank you for reporting this behavior.
Something I would super appreciate is if you can try to submit a PR to fix this issue.
The topic you are pointing has to be fixed and it could be done by someone from the Community (you 🤗).

Here is the [contributing guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to help you to getting started for contributions to Strapi.

[2020-06-16 13:32] lauriejim commented on #6643
I ping @soupette and @Aurelsicoko about this topic.

[2020-06-16 13:41] lauriejim commented on #6644
Thank you for your message, I ping @alexandrebodin and @Aurelsicoko about this.

[2020-06-16 13:56] lauriejim commented on #6645
Hi, thank you for your message.
@alexandrebodin do we still support this feature?

At the end @varjay , if you wan to cache your assets, I highly suggest you to use a tiers service to cache your stuff.
Cloudfront for example if you are using AWS.

[2020-06-16 14:04] lauriejim commented on #6651
Hello! The life cycle update is mentioned in the Migration Guide.
I think it's the reason of your issue.

[2020-06-16 14:04] #6651 closed

[2020-06-16 14:05] lauriejim commented on #6653
Duplicate of this issue - https://github.com/strapi/strapi/issues/6570=
Thank you for reporting it.

[2020-06-16 14:05] #6653 closed

[2020-06-16 14:09] lauriejim commented on #6655
Hello, I don't understand why you still have the beta...
Can you make sure an old version of Strapi is not installed globally on your computer.

[2020-06-16 14:11] lauriejim commented on #6664
Hello @demobo-com !
`String field no longer takes Number` I think it's normal.
This is probably a bug fix because this should not be possible.
If you sent a number it's because you should have a Number field, not a Text field.

[2020-06-16 14:27] alexandrebodin commented on #6645
The feature still is available and works, you need to configure your middleware in `config/middleware.js` -> `settings` -> `public` instead of `application.json`.

looking at your screenshots, It seems like you haven't foolowed the stable migration guide : https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.20-to-3.0.0.html

Closing as it is a usage issue

[2020-06-16 14:27] #6645 closed

[2020-06-16 14:29] lauriejim commented on #6669
Hello @evoxmusic !
Thank you for reporting this behavior.
Something I would super appreciate is if you can try to submit a PR to fix this issue.
The topic you are pointing has to be fixed and it could be done by someone from the Community (you 🤗).
Here is the [contributing guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to help you to getting started for contributions to Strap

[2020-06-16 14:39] lauriejim commented on #6670
Hello @anthify can you make sure you specify https at the beginning of your url.
I just tried and it looks working.

[2020-06-16 14:44] lauriejim commented on #6671
Ping @alexandrebodin about this topic.

[2020-06-16 14:47] lauriejim commented on #6682
Thank you for reporting this issue.
Since we are working on other features, can you please try to have a look on the code base.
And submit a PR to fix this issue. I will really appreciate your contribution ont this thing.
Thank you.

[2020-06-16 14:49] lauriejim commented on #6683
Hello @mountiny !
I just tried and it works well on my side.
Can you make sure you will configured your sendgrid provider.
This could come from here.

[2020-06-16 14:50] lauriejim commented on #6684
Since your PR has been merged @derrickmehaffy , should we close this issue?

[2020-06-16 14:51] derrickmehaffy commented on #6684
I believe we can yes, marking as closed

[2020-06-16 14:51] #6684 closed

[2020-06-16 14:51] lauriejim commented on #6687
Another issue has been created about the error we have with providers on the 3.0.1.
Should be fixed really soon.

[2020-06-16 14:51] #6687 closed

[2020-06-16 15:00] lauriejim commented on #6689
@derrickmehaffy or @alexandrebodin any idea?

[2020-06-16 15:01] lauriejim commented on #6693
Hello! thank you for reporting that, can you please submit a PR.
I will appreciate your contribution on this point.
Thank you.

[2020-06-16 15:02] #6695 closed

[2020-06-16 15:06] JeanLEUNG commented on #4264
using requests library, the mimetype needs to be defined as the 3rd argument in the 'files' field, as follows :

myFile = {'files':(fileName,  open(filePath, 'rb'), 'image/jpeg')}
r = requests.post('http://localhost:1337/upload', files=myFile)

[2020-06-16 15:12] lauriejim commented on #6697
Hallo and thank you for reporting this.
Can you please submit a PR to fix this. I will appreciate your contribution on this issue.
Thank you. I think @alexandrebodin will be able to help you if needed.

[2020-06-16 15:12] alexandrebodin commented on #6689
wow that's some strange behavior. Do you have a sample project you can share so we can reproduce the error ?

[2020-06-16 15:15] alexandrebodin commented on #6697
@iserko thanks for reporting this. Indeed running multiple instance at the same time might create those racing conditions. We could try to implement it with transactions. this would need a big refactor sadly

[2020-06-16 16:36] lsguillory commented on #6655
thanks lauriejim. I have resolved the issue last evening after many trials and efforts - I had uninstalled Strapi but was still having a problem and after repeating the install I was finally able to move on. Thanks for the assist.

[2020-06-16 16:36] #6655 closed

[2020-06-16 16:38] varjay commented on #6645
@alexandrebodin Thanks for your help, I can now set the cache time under `public`. But I cannot set the cache for the uploaded files (`/public/uploads`), what should I do?
I have updated the content and screenshots, please help me, thanks.

[2020-06-16 17:56] philval commented on #1522
just saying, I had a 404 error doing the "Hello World" example from https://strapi.io/documentation/v3.x/concepts/controllers.html#custom-controllers
then I *restarted the server*, and got a response.

[2020-06-16 18:21] akhilmhdh commented on #6693
@lauriejim @aksdevac STRAPI_LOG_LEVEL does work finely inside the logger of strapi. Checked the outputs. The logs is getting printed due to logger middleware which has default value as debug. To change the level in create/existing config/middleware.js add like this.
`module.exports = {
    //...
    settings: {
      logger: {
        level: "error"
      },
    },
  };`

 It can be also env.
Doc

[2020-06-16 18:29] RaimonxDev commented on #6689
Hello, I know it's very strange and I can't solve it.

I have my deploy on Digital Ocean

I share my Docker-compose so that you can generate my project. https://github.com/RaimonxDev/docker-compose-strapi-

es un docker-compose que pude crear y pensaba compartirlo con la comunidad que ayuda a levantar strapi con ssl y una frontend todo con docker. es funcional y solo estoy en la etapa de redaccion

[2020-06-16 18:33] RaimonxDev commented on #6689
here you can see better the problem: https://slack-files.com/T0BLB2VFV-F015FEJLJSH-dcf8e6ba51

[2020-06-16 18:42] tudorilisoi commented on #1676
@lauriejim and everybody else :)
The only issue about refreshing the token is storing the hashed password within the token and verifying that upon verifying the token.
Why?
Suppose:
- an user logs in then the mobile device/app gets a token
- the token gets stolen (along with the device or otherwise)
Now what you have is a valid token on a stolen device
If you change Strapi to also store the passwo

[2020-06-16 18:42] jeremy-hubsy commented on #6613
Hey @lauriejim
Thanks for your reply.
I install manually `npm i koa` on my project with the `strapi 3.0.1` version and it is working now.
On the strapi `3.0.0-beta.18.3` version  it was already install but it does not seem to be install on the strapi `3.0.1. `
Is it normal?

[2020-06-16 20:40] mountiny commented on #6683
Hello @lauriejim !
Thank you very much for your time and help! I just wanted to write here today. Earlier today, after some discussion with colleagues, we have figured out that the problem was with SendGrid account.
The problem was that using heroku and their SendGrid add-on, you will get provisional account created and you should verify your email. As I used my email and I previously have not had

[2020-06-16 20:40] #6683 closed

[2020-06-16 22:22] dangercris commented on #2818
Excellent! @bhartendu27 a question what is the route for that service, in my case the route is :
![Captura de Pantalla 2020-06-16 a la(s) 17 22 09](https://user-images.githubusercontent.com/1825234/84833955-faee7000-aff5-11ea-9849-644766186c82.png)
![Captura de Pantalla 2020-06-16 a la(s) 17 21 56](https://user-images.githubusercontent.com/1825234/84833962-fc1f9d00-aff5-11ea-9d3e-c72022ac35e1.png)

[2020-06-16 22:31] NuclleaR commented on #6286
+1 faced with same issue

[2020-06-17 00:38] RaimonxDev commented on #6689
I show you the details that the console shows me. the first error when I make the first request shows me a 502 error

![image](https://user-images.githubusercontent.com/39868803/84841606-cfc54a00-b010-11ea-94ac-64998bd5c117.png)

then when I reload a 200
![image](https://user-images.githubusercontent.com/39868803/84841691-08652380-b011-11ea-8ab9-e7877d2b580e.png)

[2020-06-17 02:06] christopher4lis opened #6699 "Cannot find module 'slash' on install"
**Describe the bug**
When running `yarn create strapi-app my-project --quickstart` or `npx create-strapi-app my-project --quickstart` I get the error `Cannot find module 'slash'`, then am unable to run the scaffolded app.

**Steps to reproduce the behavior**
Just run any of the above install scripts in any directory with the following versions listed below.

**Expected behavior**
For the project t

[2020-06-17 02:15] boskiv opened #6700 "Extra server url config param cause an error"
**Describe the bug**
Admin page does not opened when I use extra url param in server config

**Steps to reproduce the behavior**

1. Add usr param
[code]

2. Run yarn build && yarn develop
3. Open localhost:1337/api/admin page
4. See error in browser log
[code]

**Expected behavior**
Admin page opens, routing works respecting /api param

**Code snippets**
Logs
[code]

**System**

- Node.js version

[2020-06-17 02:33] boskiv commented on #6700
I've also tried
[code]
from https://strapi.io/documentation/v3.x/admin-panel/deploy.html#deploy-the-administration-panel-and-the-plugins-on-another-server-than-the-api

But no success

[2020-06-17 03:34] derrickmehaffy commented on #6699
I've been seeing a ton of these lately for various packages but it always comes down to macOS.

@alexandrebodin @soupette @lauriejim can any of you reproduce this? I don't have a Mac to test on for personal use, and when I tried on my roommates Mac I could not reproduce this at all.

[2020-06-17 03:37] derrickmehaffy commented on #6700
Those docs are wrong and there is already a PR that addresses it: https://github.com/strapi/strapi/pull/6636

That `url` param in the server.js does nothing but tell Strapi the actual public URL, it will not prefix endpoints internally. If you set it to `https://example.com/api` Strapi will still respond on http://localhost:1337/whatever but it expects an upstream proxy like Nginx to send the requ

[2020-06-17 03:37] derrickmehaffy commented on #6700
Will move this to a discussion as it's not a bug

[2020-06-17 03:38] #6700 closed

[2020-06-17 05:28] GITMobileTeam commented on #6684
@derrickmehaffy, Where can i find the solution or updated document for the same? I have checked on the strapi documentation but nothing is updated there.
https://strapi.io/documentation/v3.x/admin-panel/deploy.html#deploy-the-administration-panel-and-the-plugins-on-another-server-than-the-api

[2020-06-17 05:29] derrickmehaffy commented on #6684
You can read the updated file here: https://github.com/strapi/strapi/blob/baba84374b60208407379157eced0826d6174c7b/docs/v3.x/admin-panel/customization.md

The docs haven't been deployed yet

[2020-06-17 06:44] sandrotaje opened #6702 "Access public endpoint with invalid jwt ends up in 403 Unauthorized"
**Describe the bug**
Access public endpoint with invalid jwt ends up in 403 Unauthorized
**Steps to reproduce the behavior**

1. Give public permission to an end point
2. Set Authorization header with something invalid (for example an old jwt)
3. Call the endpoint
4. See error

**Expected behavior**
Since it is public should ignore the jwt

[2020-06-17 06:47] aksdevac commented on #6693
@lauriejim Hi, submitted PR #6701 but it might not fix issue, as middleware is overriding default log level as mentioned in PR &  by @akhilmhdh, but can be used for `STRAPI_LOG_TIMESTAMP`, `STRAPI_LOG_PRETTY_PRINT` etc

[2020-06-17 07:28] soupette commented on #6699
@derrickmehaffy I have never encounter this bug. We will try to investigate!

[2020-06-17 07:44] soupette commented on #6598
@cpandit201 @lauriejim we could easily display the errors in the content type builder by doing the following:

1. Create a utility to display the errors in the notifications:

[code]
2. In this [file](https://github.com/strapi/strapi/blob/6774667c65925cc2b6ced088200c70a4c0720e95/packages/strapi-plugin-content-type-builder/admin/src/containers/DataManagerProvider/index.js#L229-L232) we could replac

[2020-06-17 07:49] derrickmehaffy commented on #6702
@alexandrebodin correct me if I'm wrong but this is intended, generally to force the usage of "anonymous" endpoints, as it's quite likely (with policies) you could provide very different data for public vs authorized.

If you want to use public, don't send the JWT

[2020-06-17 07:50] soupette commented on #6547
It's more a backend issue I think @Convly @petersg83 can you check?

[2020-06-17 07:50] yaitmou opened #6703 "can't access to email plugin settings!"
**Bug description**
email settings not accessible as per the [documentation](https://strapi.io/documentation/3.0.0-beta.x/plugins/email.html#programmatic-usage)
In the plugins, accessed via the left menu bar, I can see the email plugin among the installed plugins but it's missing the cog button to access email setting!
when I input the full path as described by the documentation [http://localhost:

[2020-06-17 07:50] soupette commented on #6520
We decided to remove the upload feature for the wysiwyg. But I'll try to see if I can enable it back.

[2020-06-17 07:52] alexandrebodin commented on #6699
Never seen this and all the core team work on macOS.

From the logs I'm seeing this is an error in npm itself. It was down some part of the day yesterday so it might be coming from this. I'm going to close as it is not related to strapi

[2020-06-17 07:52] #6699 closed

[2020-06-17 07:57] alexandrebodin commented on #6645
hi @varjay indeed We refactored the middleware to serve uploaded files and there is no config available yet. This would be pretty easy to add.

[2020-06-17 08:00] soupette commented on #6614
@derrickmehaffy that list is going to be endless 😂!

@Convly or @petersg83 can you check?

[2020-06-17 08:01] fellz opened #6705 "Can not add items to Enumeraion list other then in english ( russian for example)."
**Describe the bug**
If you try to add item to Enumeration field in russian ( for example идея), you get warning and unable to add item. Warning is "The value not match the regex."

**Steps to reproduce the behavior**

1. Go to Content-Type Builder.
2. Click on any collection.
3. Add field Enumeration.
4. Add item идея.

**Expected behavior**
Should add item

**System**

- Node.js version: 12.16.1

[2020-06-17 08:10] sandrotaje commented on #6702
It's what I did to workaround, but the frontend shouldn't know if an endpoint is public or not.
For ease, I send always a JWT, if specified, but in my opinion, it is better to check Authorization after the check on roles. If I found that an endpoint is public I ignore the JWT.
I understand your point of view but this behavior can be risky.
It's happened to me that I was using a browser extension t

[2020-06-17 08:20] alexandrebodin commented on #3750
Hi this feature is not supported. But you can always create two one-many relations with 3 models. so you can add the fields you want in the pivot table.

[2020-06-17 08:28] alexandrebodin commented on #6702
Hello, this is not how the api works. If you send an auth token it will try to validate it first before reaching the route. the route can also be accessed by authenticated calls so we can't do what you suggest. You will need to call it without auth headers.

[2020-06-17 08:28] #6702 closed

[2020-06-17 08:32] varjay commented on #6645
This problem has been solved, thank you for your help!
It is recommended that I can customize the cache time of the uploaded file later, or set a longer cache time by default! Uploaded files generally do not require immediate updates.

[2020-06-17 08:32] Adambrb commented on #3750
Ok i will do like that thanks.

[2020-06-17 08:32] derrickmehaffy commented on #6702
I'm not sure I understand how it would be risky, the whole point of this setup is to first validate the JWT, as that is the most important part. If the JWT is valid, literally nothing else should happen on the server and the request should end and be denied right then and there. If it's not it leaves Strapi vulnerable to some attach vectors to try and sniff out vulnerable code by an unauthorized u

[2020-06-17 08:41] akhilmhdh commented on #6703
As your COG is missing, you must be using the latest stable version v3 of strapi. In v3 email plugin configurations has been changed to internally rather than in admin. That doc is for v3-beta.

Here you go the latest doc :
https://strapi.io/documentation/v3.x/plugins/email.html#configure-the-plugin

[2020-06-17 09:05] derrickmehaffy commented on #6614
Yes.... Yes it will until we find a different way to deal with the "names"

[2020-06-17 10:44] derrickmehaffy commented on #6703
There have also been about 20 other issues that have been posted about this: https://github.com/strapi/strapi/issues?q=is%3Aissue+email+settings

Please be sure you read the contributing guide related to opening an issue: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue

Marking as closed as this is a duplicate of at least 20 other issues. And the user was looking at

[2020-06-17 10:44] #6703 closed

[2020-06-17 10:51] derrickmehaffy opened #6710 "NOTICE: Email/Upload Provider settings"
If you are having trouble configuring the email (or upload) provider settings:

Please remember to read the Contributing guide for opening issues: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue

Also per that guide please ensure you check for [previously opened issues](https://github.com/strapi/strapi/issues?q=is%3Aissue+email+settings) relating to this.

As of `be

[2020-06-17 11:05] yaitmou commented on #6703
my bad :s

[2020-06-17 11:17] Froelund commented on #6286
@NuclleaR this should be fixed in recent versions. Which version are you using?

[2020-06-17 11:22] MoreBlood commented on #6643
Not only font are broken, but also some buttons messed up with chrome default apperance
![strapi-issue-1](https://user-images.githubusercontent.com/10070770/84891720-f9c84c00-b0a4-11ea-9299-4d0eaa9876c7.JPG)

The issue is that font **Lato** don't have cyrilic font face, and for some elements it's overwritten without fallback
![strapi-issue-2](https://user-images.githubusercontent.com/10070770/8489

[2020-06-17 11:22] williamli opened #6711 "All Hosting Provide Guides at Deployment Doc lead to 404"
The Heroku guide linked at https://strapi.io/documentation/v3.x/getting-started/deployment.html#hosting-provider-guides to  https://strapi.io/documentation/v3.x/deployment/heroku is 404.

[2020-06-17 11:24] williamli commented on #6711
In fact all the host provider guides at https://strapi.io/documentation/v3.x/getting-started/deployment.html#optional-software-guides are 404-ing.

[2020-06-17 11:26] williamli opened #6712 "All Links to Installation Guides at Installation Doc Page lead to 404"
All the installation guide links at https://strapi.io/documentation/v3.x/getting-started/installation.html are 404-ing.

[2020-06-17 11:31] derrickmehaffy commented on #6711
duplicate: https://github.com/strapi/strapi/issues/6368

[2020-06-17 11:31] #6711 closed

[2020-06-17 11:31] derrickmehaffy commented on #6712
duplicate: https://github.com/strapi/strapi/issues/6368

[2020-06-17 11:31] #6712 closed

[2020-06-17 12:40] derrickmehaffy commented on #1522
This is normal with Node.js as it can't see the changes until the server restarts

[2020-06-17 12:59] teabyii commented on #6641
@lauriejim I am trying to fix this issue.
I run the `getstarted` project successfully, but don' t know how to make the page update when I modify the code in `strapi/packages/strapi-plugin-upload/admin/src`.
Any docs about it?
Thank you.

[2020-06-17 13:00] #5437 closed

[2020-06-17 13:38] RokSkrbec opened #6714 "Deep filtering not working after adding relation"
Hello.

I have a collection connected with two other collections, both relations are many: many.
Deep filtering eg. `/recipes?tags.title=baking` works as expected.

After adding another relation many: many or one:many returns

[code]

Tried with 2 more dummy collections, always the same result.

[2020-06-17 13:40] derrickmehaffy commented on #6714
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-06-17 13:40] #6714 closed

[2020-06-17 14:05] anthify commented on #6670
@lauriejim thank you. I've tried adding `https://` but the issued remained.

If it's working for you then I suspect it may have something to do with my migration from beta.

This is my `server.js`
[code]

[2020-06-17 14:15] sourgoyal opened #6715 "Error: write ECONNRESET and Error: write EPIPE"
**Describe the bug**
We are getting two errors ECONNRESET and EPIPE back to back. We are running strapi + gcloudsql-proxy + istio proxy containers in GKE in a POD

**Steps to reproduce the behavior**

1. This is keep on happening without even doing anything
We can only see these logs:
{
  method: 'select',
  options: {},
  timeout: false,
  cancelOnTimeout: false,
  bindings: [ 1 ],
  __knexQueryU

[2020-06-17 14:42] ishan123456789 commented on #2468
@lauriejim Can you please review this Gist I've updated the provider service a bit to allow user to use multiple providers for different providers

https://gist.github.com/ishan123456789/2fba00d48c0d7d900d03d97d35c90c4e

[2020-06-17 15:03] derrickmehaffy commented on #6715
Sorry but `Strapi version: 3.0.0-beta.18.5` the Strapi beta version is no longer supported.

Only issues that be reliability reproduced on the stable release or issues during the migration process are supported here.

[2020-06-17 15:03] #6715 closed

[2020-06-17 15:19] josh-unwin opened #6717 "Newly uploaded images from with collection instance creation aren't automatically selected"
**Describe the bug**
Perhaps by design, perhaps a feature request? When uploading a new image from within a Collection instance (not in the media library), the newly uploaded image is not automatically selected to be used with that instance of a collection. As the user is uploading directly within that collection it is expected that an uploaded image is automatically selected.

See [gif here](http

[2020-06-17 15:20] abdullahe commented on #1465
Is this feature implemented?

[2020-06-17 16:02] adriatic opened #6718 "Bad link at Deployment to DigitalOcean doc"
**Describe the bug**
Bad link on page https://github.com/strapi/strapi/blob/master/docs/3.0.0-beta.x/deployment/digitalocean.md

![image](https://user-images.githubusercontent.com/2712405/84921291-48b8b600-b092-11ea-9ab8-2b1cc02e2ebc.png)

[2020-06-17 16:19] MoreBlood commented on #6643
As temporary workaround, include this in some modified file of admin panel

[code]

[2020-06-17 16:27] Stun3R commented on #6705
I think you should check this discussion: https://github.com/strapi/strapi/discussions/4780

[2020-06-17 18:04] derrickmehaffy commented on #6717
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-06-17 18:04] #6717 closed

[2020-06-17 18:05] derrickmehaffy commented on #6718
Beta documentation will no longer be updated as the beta is no longer supported, it is being left for a few months until we start seeing more users migrate to the stable release, then like the alpha it will be removed.

[2020-06-17 18:05] #6718 closed

[2020-06-17 18:07] derrickmehaffy commented on #6715
@sourgoyal can you test this on the latest stable release (as I too use gzip and have not encountered this issue). If you can reproduce it on the stable release then I can reopen this.

[2020-06-17 19:02] adriatic commented on #6718
There ought to be a reference to the beta documentation somewhere - as I did not reach the document at https://github.com/strapi/strapi/blob/master/docs/3.0.0-beta.x/deployment/digitalocean.md, but rather by clicking some link on the [stable release Strapi Documentation](https://strapi.io/documentation/v3.x/content-api/api-endpoints.html) page,

[2020-06-17 19:05] manestream commented on #6482
Hey guys thanks for the quick response ! I see that alexandre has already pushed the fix. that's great. from my side this issue can be closed :)

[2020-06-17 21:42] adriatic commented on #6625
I run into the same issue - also closed by @derrickmehaffy using the same explanation. Unlike @Jonie-Jacob, I tried to use the "strapi-provider-upload-cloudinary: plugin". So, allow me to expand a bit, using a similar screenshot from my app:

![image](https://user-images.githubusercontent.com/2712405/84952637-48371400-b0c0-11ea-8a6d-c29f7da3f1f9.png)

This app was created with the current Strapi (

[2020-06-17 22:07] demobo-com commented on #6664
This type of breaking changes should have been documented in the migration guide.

[2020-06-17 22:07] #6664 closed

[2020-06-18 03:08] adriatic commented on #6577
I am one of the unfortunate users that fell in this trap, however, @derrickmehaffy's advice  [above](https://github.com/strapi/strapi/issues/6577#issuecomment-640359100) is not really helpful, as I explained in my [discussion post](https://github.com/strapi/strapi/discussions/6720) today.

The explanation provided by @soupette [above](https://github.com/strapi/strapi/issues/6577#issuecomment-64040

[2020-06-18 04:08] derrickmehaffy commented on #6577
@adriatic I have a big'ol notice pinned to the top of the issues https://github.com/strapi/strapi/issues/6710

[2020-06-18 04:13] derrickmehaffy commented on #6625
@adriatic it's not a bug because the file doesn't exist, the documentation states to create it if it doesn't exist.

As my notice states: https://github.com/strapi/strapi/issues/6710

Yes it's all done via files now. I've closed about 20 issues all saying the same thing "cog missing" hence the short and to the point message

[2020-06-18 05:42] reubenkcoutinho commented on #6570
I found that setting 'url' changes the url strapi admin should also point to. This could be an issue if the callback url points to a url that is not strapi

[2020-06-18 08:00] alexandrebodin commented on #6482
Thanks, Closing !

[2020-06-18 08:00] #6482 closed

[2020-06-18 10:07] reubenkcoutinho commented on #6570
I've just made a PR to fix this for github, facebook and google. May need fixing the rest.

Also, I created a file called provider.js under ./config
[code]

This allow to override values in the user-permission plugin

[2020-06-18 11:23] laurenskling opened #6725 "/config/plugins.js doesn't merge into local plugins"
**Describe the bug**
Whether or not it makes sense to override local plugin `config/settings.js` with the general `/config/plugins.js`, it doesn't work. When I offloaded my plugin to be an installed package, it does work and merges in the values I've set in `/config/plugin.js`

**System**

- Node.js version: 12.16.0
- NPM version:
- Strapi version: 3.0.0
- Database: Mongo
- Operating system: Macos

[2020-06-18 11:59] zurfluh opened #6726 "Admin UI not connecting to correct API backend"
**Describe the bug**
When hosting the API and admin UI on different host/port, the admin UI does not respect the configuration but instead looks for the API under the same host/port as the admin UI.

**Steps to reproduce the behavior**

1. Configure the server as per the snippet below
2. `$ SERVE_ADMIN_PANEL=false yarn start` to start the API under localhost:1337
3. `$ yarn build` to build the adm

[2020-06-18 12:11] ikonduktor opened #6727 "Aggregation ignores policies"
Aggregation just ignores policies in graphql.schema;

**DESCRIPTION**
I'm using GraphQL and try get count of the records

[code]

in my `schema.graphql` i have
[code]

`isAssigneeRead` ignored

**Expected behavior**
`isAssigneeRead` run before aggregation.

**System**

- Node.js version: v14.3.0
- NPM version: 6.14.5
- Strapi version: 3.0.1
- Database: mongo
- Operating system: Ubuntu 18.04.4 LTS

[2020-06-18 12:42] adriatic commented on #6625
Calling this a bug was **_premature_** on my part, sorry about that. I should have called a case of "incomplete documentation" - most likely a consequence of the pressure to release stable version 3.x

Also, the fact that approx. 20 reported problems were closed with the diagnosis "do not use old documentation") may suggest that the warning about [plugins configuration change](https://strapi.io/do

[2020-06-18 13:51] fellz commented on #6705
As i see the problem exist half a year already and i didn't see any fix there.

[2020-06-18 15:08] christophemacabiau opened #6729 "strapi start race: core_store table does not exist"
**Describe the bug**
At the first start, I get sometimes this error:
[code]

**Steps to reproduce the behavior**
1. create a container using the strapi/strapi v3.0.2 image

**Expected behavior**
strapi starts correctly

**System**
- Node.js version: 12.13.0
- NPM version: 6.12.0
- Strapi version: 3.0.2
- Database: Postgresql 12.3
- Operating system: fedora 32

**Additional context**
Seems to be th

[2020-06-18 15:08] christophemacabiau opened #6792 "strapi start race: core_store table does not exist"
**Describe the bug**
At the first start, I get sometimes this error:
[code]

**Steps to reproduce the behavior**
1. create a container using the strapi/strapi v3.0.2 image

**Expected behavior**
strapi starts correctly

**System**
- Node.js version: 12.13.0
- NPM version: 6.12.0
- Strapi version: 3.0.2
- Database: Postgresql 12.3
- Operating system: fedora 32

**Additional context**
Seems to be th

[2020-06-18 16:39] cadbacon80 opened #6730 "username and passwords for admins are being sent to the tracking endpoint."
https://github.com/strapi/strapi/blob/c90e3eb67bf2c235c2fdd1b5607eda6b649d9f10/packages/strapi-admin/admin/src/containers/AuthPage/index.js#L72

I understand the code is "omitting" the fields, but from the admin ui:/admin/auth/register, when you create an admin, my username and password are being transmitted to your tracking endpoint.

This is a serious security concern.

[2020-06-18 16:50] alexandrebodin commented on #6730
Hi @thomaspockrandt Thanks for notifying us. We will change this asap ! and release.

FYI, We only register the email and username  to send you the newsletter. We don't read nor log any other fields.

[2020-06-18 17:24] onsombal commented on #3348
I encountered this same issue when using the strapi editor to add a H1, H2... title. The problem seems to be related to using the editor title selection field to add the "**initial**" title markup — the markup is not processed as desired.

To correct this issue, one must "manually" edit the hashed title: e.g. adding a space or deleting a space. Any manual edit on the target title corrects the issu

[2020-06-18 17:24] christopher4lis commented on #6699
Hey all - looks like it was indeed an error with NPM that was only showing for me when I'd run the Strapi create script. I solved it by simply re-installing the most recent LTS version of Node.

Apologies for the inconvenience here.

[2020-06-18 17:42] onsombal commented on #3348
BTW — I'm using ST

[2020-06-18 18:47] wil92 commented on #6638
In my case, I'm not using the kebab-cased, as I said in my comment, seems to me, like is something related to what is managing the policies, even when the policy is not calling the `next()` method, the flow is continuing

[2020-06-18 19:49] xAgustin93 opened #6733 "Open Roles in React is not defined"
**Describe the bug**
When you try to configure some role it fails that React is not defined

**Steps to reproduce the behavior**

1. Go to roles
2. Open one role
3. See error

**Screenshots**
<img width="2048" alt="Captura de pantalla 2020-06-18 a las 21 47 00" src="https://user-images.githubusercontent.com/25793726/85065464-7fcfba00-b1ad-11ea-96b1-a35c428b14c0.png">

**System**

- Node.js version

[2020-06-18 20:00] aramane commented on #6733
Hello,
I have exactly the same problem.

**System**

- Node.js version: v13.9.0
- NPM version: 6.9.0
- Strapi version: 3.0.3
- Database: Mysql
- Operating system: Windows 10

[2020-06-18 20:08] kzkr commented on #6733
Same here on Strapi version: 3.0.3
Thank you!

[2020-06-18 21:25] 1005hoon commented on #6733
Same problem here on strapi version 3.0.3

[2020-06-18 21:42] eryon opened #6735 "Admin panel spinning, unable to load chunk"
**Describe the bug**
The `/admin` site is generally unable to load. Once or twice I've gotten through but clicking around (like adding a new content type) produces a webpack stack trace stating "unable to load chunk" and a gibberish stack trace.

I'm using the [one-click deploy AWS AMI](https://github.com/strapi/one-click-deploy/tree/master/aws-ami), slightly customized to use SSL. I'm guessing it

[2020-06-18 22:09] barbudour commented on #6733
Some problem, version: 3.0.3

[2020-06-18 22:17] thierryc opened #6736 "A boolean field set not editable (off) are editable in the user view in strapi."
**Describe the bug**

A boolean field set not editable (off) are editable in the user view in strapi.

**Steps to reproduce the behavior**

- Create a boolean fields
- Set it editable off

**Expected behavior**
This boolean toogle should be not editable but it is.

**System**

- Node.js version: Node LTS
- Strapi version:  3.0.3
- Database: PG
- Operating system: MacOS

[2020-06-18 22:37] jodacame commented on #6733
Some problem, version: 3.0.3

[2020-06-18 22:42] christopher4lis commented on #6733
Also receiving this issue on v 3.0.3

[2020-06-18 23:33] tahaygun commented on #6733
Same problem, version 3.0.3

[2020-06-18 23:57] brandonrbridges commented on #6733
Same problem, version 3.0.3

[2020-06-19 02:09] UnKnoWn-Consortium commented on #5324
@alexandrebodin
I am not sure if such opinionated default is appropriate. If I am adopting a micro-service architecture for my system, it is totally logical and legitimate for a ```User.create``` and misc be propagated among other co-working services. In such use case, user info is still within my system and not sent to any third-party service without consent.

[2020-06-19 02:36] dngrhm commented on #6733
Same problem
Version 3.0.3
OS Ubuntu 18.04
Database: Postgres

[2020-06-19 03:52] xiaoyuch commented on #6733
Same problem
Version 3.0.3
OS macos 10.15.5
Database: Mongodb

[2020-06-19 04:50] impochun commented on #6733
same problem.

Strapi version: 3.0.3 (node v12.18.1)
OS: Ubuntu 20.04 LTS

I followed the docs - Quick Start Guild to install & get familiar with Strapi, when I try to do "7. Set Roles and Permissions", this error shows.
At the same time, all others functions are normal.

[2020-06-19 05:28] fsobh commented on #3271
i

This didn't make sense to me. What is it exactly? im still facing the same issue

[2020-06-19 05:53] aksdevac commented on #6733
@alexandrebodin may be related to this pull https://github.com/strapi/strapi/pull/6663, I think you should make new release, as strapi is now stable & this is breaking

[2020-06-19 06:30] Lurtt commented on #6733
same problem!

[2020-06-19 06:40] soupette commented on #6733
Hello @everyone there is an open PR that fixes the issue we are really sorry about this issue and it should not have happened. In the meantime until the release is made here's a workaround to make your administration works:

1. Create a the `extensions/users-permissions/admin/src/components/Controller/index.js` file:

[code]

2. Copy the following content:

[code]

3. Rebuild your app

[code]

[2020-06-19 07:17] #6733 closed

[2020-06-19 12:45] cyp3rius commented on #6329
For interested in, extension is currently in review: https://github.com/VirtusLab/strapi-plugin-content-manager-extension-hierarchical/pull/2

You might pull the branch and test it, anyway recommend to do this on fresh strapi instance as we didn't check it yet within a complex project :)

[2020-06-19 14:29] christopher4lis commented on #3490
Although this issue is well documented, I think it's good to re-open it. This is only providing a negative experience for those who just want to change the label of their field—a simple change like that shouldn't require the user to look up documentation and figure out what went wrong, it should just work.

[2020-06-19 17:19] PrinceShaji commented on #4264
@JeanLEUNG  I tried this approach. It is working for /upload, but when I tried uploading the file during entry creation, it is throwing this error.

`error Error: When using multipart/form-data you need to provide your data in a JSON 'data' field.`

No idea what do do from here.

[2020-06-19 17:52] JeanLEUNG commented on #4264
On this point, STRAPI error message is quite explicit ^^
I edited the previous post, please try again.

[2020-06-19 20:20] eryon commented on #6735
This problem appears to be resolved by using the correct cert. I was just using the nginx snakeoil cert for testing, but FF and Bitdefender were blocking resources internally until I used a proper cert from LetsEncrypt/Certbot.

[2020-06-19 20:20] #6735 closed

[2020-06-19 21:38] laurenskling opened #6742 "Can't use a email provider with a different name"
https://github.com/strapi/strapi/blob/9ed11a66829dbdafabb49cb8813dd4d891a247de/packages/strapi-plugin-email/config/functions/bootstrap.js#L9

This line makes it impossible to install my namespaced package: https://www.npmjs.com/package/@laurenskling/strapi-provider-email-postmark

[2020-06-20 02:30] derrickmehaffy commented on #6742
Moving to a discussion

[2020-06-20 02:30] #6742 closed

[2020-06-20 14:18] ckyleda commented on #5877
I am having this exact issue.

Oddly enough, this worked fine previously, and has now suddenly stopped working. Whereas the output before stated something akin to "Admin panel started on localhost:8000", this output no longer appears.  The output is below:

[code]

This link, takes you do the panel that says "open admin" which of course returns {"statusCode":404,"error":"Not Found","message":"Not

[2020-06-20 15:34] xAgustin93 commented on #3946
How's this business going, do you know anything?

[2020-06-21 02:54] superoo7 commented on #6570
Are there any temporary fix for this without changing the `node_modules`?

[2020-06-21 05:10] reubenkcoutinho commented on #6570
You can copy the changed files and place them ./extensions/user-permissions/**

[2020-06-21 08:47] derrickmehaffy commented on #6625
The short and sweet of it, no one ever goes and reads the migration guides (even though they are linked on every release they are needed on, and those that skip versions don't go back and read them).

We can keep up with the core documentation reflecting every little changes from previous versions, that is just going to confuse new users. The main documentation should reflect **exactly how it is i

[2020-06-21 08:49] derrickmehaffy commented on #3490
@christopher4lis it all comes down to https://github.com/strapi/strapi/issues/1114 locking this as it's a duplicate

[2020-06-21 08:52] derrickmehaffy commented on #6583
Closing as duplicate of #2992

[2020-06-21 08:52] #6583 closed

[2020-06-21 09:19] GinFoB opened #6748 "Strapi Identifier or password invalid: wrong url"
I have an author role, i want user with an author role connect to Strapi app for add content for example.

I found http://localhost:1337/admin/auth/login for connect to admin panel of Strapi but this for Administrator.

What's url for user with author role ?

[2020-06-21 10:05] derrickmehaffy commented on #6748
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-06-21 10:05] #6748 closed

[2020-06-21 10:41] ghoshSomoto opened #6749 "Prompt on untouched Single Type edit form with datetime field."
**Describe the bug**
A prompt("You will lose all changes") pops up when navigating away from untouched Single Type with a set datetime field.
Extra info: if the field is not set the prompt does not pop up.
**Steps to reproduce the behavior**
0. Enter Admin panel
1. Enter content builder. Create Single Type with a datetime field. Save.
2. Click on the created Single Type in left menu and then navig

[2020-06-21 11:31] phetw commented on #6689
I'm having the same issue on freshly deployed strapi CMS on GCP.

[code]

[2020-06-21 12:15] xAgustin93 opened #6751 "React Markdown no render code styles"
**Describe the bug**
https://classic.yarnpkg.com/es-ES/package/react-markdown

I'm rendering the block code with the react-markdown component as you indicate but the JSON, JavaScript styles don't add them

[2020-06-21 13:33] derrickmehaffy commented on #6749
Please test with node version v12 or v10 as node version v14 is not supported: `Node.js version: 14`

[2020-06-21 22:07] amorev commented on #1225
Is there any updates here?

[2020-06-21 22:25] amorev commented on #1225
Managed to run CLI commands without running http server. For current version it will look like this

cli/init.js
[code]

in package.json
[code]

and run my command by `npm run cli`

If someone knows better solution send it here, please:)

[2020-06-22 01:13] filipesmedeiros opened #6756 "Standardize language system for translations"
These don't apply, I think
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

We were discussing here #6022 and thought that some languages need, for example, formal/informal distinctions, or choosing what gender(s) to

[2020-06-22 02:31] sant3001 commented on #1986
According to the documentation you can use [strapi configuration:dump](https://strapi.io/documentation/v3.x/cli/CLI.html#strapi-configuration-dump-config-dump) and [strapi configuration:restore](https://strapi.io/documentation/v3.x/cli/CLI.html#strapi-configuration-restore-config-restore) accordingly. You would need to commit the `dump.json` file generated and import it in your production site.

[2020-06-22 05:56] derrickmehaffy commented on #6749
@ghoshSomoto I assume node v14 was the problem?

[2020-06-22 06:08] ghoshSomoto commented on #6749
@derrickmehaffy tbh I just didn't have the time to test it. When I get to it, if the problem persists I'll reopen.

[2020-06-22 06:57] Seybo commented on #2972
Guys any updates here?

[2020-06-22 07:29] derrickmehaffy commented on #6749
Sounds good, thanks!

[2020-06-22 07:33] leonardomerlin commented on #5912
I'm closing the db connections during my tests like this:

[code]

IMHO, this issue can be considered a partial implementation of #5253

[2020-06-22 08:22] ghoshSomoto commented on #6749
Same issue with node v12.10.0

[2020-06-22 09:00] maxoyed opened #6758 "Add support for Simplified Chinese"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
We can add simplified chinese support for documentation, admin panel, so that more developers from China Mainland would like to use it. I can do this job.

[2020-06-22 09:01] marefati110 opened #6759 "bookshelf generate bad query"
**Describe the bug**
Additional data entered into sql query (where) by bookshelf

**Code snippets**
code in controller :

[code]
query that generate:

[code]
bindings in second query is wrong and are unnecessary and increases computational cost

**System**

- Node.js version: v12
- NPM version:v6
- Strapi version:3.0.1
- Database:mysql
- Operating system:centos7

[2020-06-22 11:38] wokalamps commented on #6369
I got this error after updating 3.0.0-beta.19.3 to 3.0.0-beta.19.4. Just wanted to start updating to 3.0.4 step bay step but hanging at the first step. Reinstalling strapi-plugin-graphql didn't work.

` error TypeError: Cannot read property 'url' of undefined
    at Object.initialize (...\node_modules\strapi-plugin-graphql\hooks\graphql\index.js:119:45)
    at Promise.resolve.then ...\node_modules

[2020-06-22 12:50] alexandrebodin commented on #6759
Hello @marefati110 This is bookshelf default behavior and not an issue with Strapi as you are using bookshelf directly. If you want this to change you will need to open an issue in Bookshelf's repo :)

Closing as it is not a Strapi issue

[2020-06-22 12:50] #6759 closed

[2020-06-22 13:05] hkovacs opened #6762 "xframe custom setting ignored, defaults to same origin"
**Describe the bug**
documents served by my api.dev.mysite.com on dev.mysite.com are throwing `Refused to display 'https://api.dev.mysite.com/uploads/my-file.pdf' in a frame because it set 'X-Frame-Options' to 'sameorigin'.`

this was working fine before the upgrade to v3 stable with custom setting in `/path/to/strapi/config/env/development/security.json`:
[code]

**Steps to reproduce the behavior

[2020-06-22 13:24] waynehaffenden opened #6763 "UID (slug) type edit issue"
I'm not sure whether this is an actual bug or feature. I'm using the UID/slug type for multiple collections to define page URLs for content. When editing that content type it generates a new slug incremented each time, the problem with this is that it means that pages then break as their URLs change. Obviously, if I had a page for a product for example /products/producta it would become /products/

[2020-06-22 13:33] derrickmehaffy commented on #6762
`Strapi v3.0.0-beta.20.3` Strapi beta versions are no longer supported, the only instance where it is would be during a migration to the stable release.

I am marking this issue as closed but if you can reproduce the issues on the stable release please do reply back and the issue can be reviewed again.

[2020-06-22 13:36] derrickmehaffy commented on #6763
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-06-22 13:36] #6763 closed

[2020-06-22 13:37] hkovacs commented on #6762
sorry, i pasted that in and forgot to modify. this is broken on stable versions v3.0.1 throught v3.0.4

[2020-06-22 13:40] derrickmehaffy commented on #6762
FYI there is no more `security.json` in the stable release

[2020-06-22 13:41] derrickmehaffy commented on #6762
Security middleware: https://strapi.io/documentation/v3.x/concepts/middlewares.html#security-middlewares

Configure all middleware: https://strapi.io/documentation/v3.x/concepts/middlewares.html#configuration-and-activation

[2020-06-22 13:47] hkovacs commented on #6762
ok, well that explains it (head smack)

whats not clear to me is how to create `.env` file for each environment `development, staging, production` like existed in 3-beta.

things made sense with `config/env/development`. are we supposed to use `config/.env.development` now? this is not mentioned in the docs.

thank you!

[2020-06-22 13:54] hkovacs commented on #6762
i guess my pressing issue here is, how to implement `middleware.js` `xframe` custom value for development and production?

[2020-06-22 13:57] derrickmehaffy commented on #6762
@hkovacs you are on the Strapi slack right?

[2020-06-22 13:57] #6762 closed

[2020-06-22 14:22] omsutar commented on #3797
Thanks @centogram, it worked

[2020-06-22 14:50] cawoodm commented on #1296
Is there an overview which NodeJS versions are supported? Googling didn't turn up much...

[2020-06-22 15:27] klys opened #6765 "Renaming a field with content-types builder make the server unable to restart"
**Describe the bug**

Just renaming a field which was before with capital uppercase to lowercase make this bug happen

**Steps to reproduce the behavior**

1. Create a new content-type and add one or more fields with capital letter uppercase and save it
2. Edit the previus content-type and change the uppercase to lowercase of field(s) and save
3. Server will not be able to restart again

**Expecte

[2020-06-22 15:39] derrickmehaffy commented on #6765
Closing as duplicate of https://github.com/strapi/strapi/issues/1114

[2020-06-22 15:39] #6765 closed

[2020-06-22 15:44] hkovacs opened #6766 "xframe ALLOW-FROM is obsolete in all modern browsers"
**Describe the bug**
Using xframe `ALLOW-FROM` throws error in console: `Invalid 'X-Frame-Options' header encountered when loading 'https://api.dev.mysite.com/uploads/my-file.pdf': 'ALLOW-FROM dev.mysite.com' is not a recognized directive. The header will be ignored.`

https://strapi.io/documentation/v3.x/concepts/middlewares.html#response-middlewares
instructions for xframe indicate `ALLOW-FROM`

[2020-06-22 15:45] derrickmehaffy commented on #6766
Talked with @hkovacs via slack and I can confirm this is outdated, we may need to dig into the middleware and see if there is an updated or replacement for it.

[2020-06-22 15:51] derrickmehaffy commented on #6766
Potential replacement: https://github.com/venables/koa-helmet

[2020-06-22 16:39] jshaw opened #6767 "Deployment on Heroku Strapi collections returning 500 errors after a couple of minutes to hours (CMS)"
After deployment on Heroku Strapi collections starts to return 500 errors after a couple of minutes to hours. Doing another release seems to fixes the issue but then it happens again after a random amount of time after the next release.

**Describe the bug**
I can deploy my Strapi instance on Heroku using Postgresql DB and it is a success at first, but it seems after a couple of days when I come b

[2020-06-22 17:55] akhilmhdh commented on #6767
@jshaw The error from my experience is due to multiple user-plugins entry in db or the entries got corrupted. Are you using Postgresql free version. Try to look into the db. You may find your problem

[2020-06-22 18:05] SupremeTechnopriest commented on #1296
@cawoodm https://github.com/strapi/strapi/blob/master/package.json#L92-L95

[2020-06-22 18:14] SupremeTechnopriest commented on #1296
I gave up on Strapi.  I have no faith in their team to follow best practices. They just seem to do whatever they want.  This thread was much longer where I argued why this is a bad idea.  Looks like they since have deleted all my criticism and back and forth with the project lead.  Shameful.  I would consider researching alternatives.

[2020-06-22 21:42] lallenfrancisl commented on #6695
This shoud be specified in the documentation

[2020-06-23 05:05] cawoodm commented on #1296
I just tried Strapi on `14.4` - doesn't run and with the same useless message you get whenever anything doesn't work. It works on `13.2` though.

[code]

[2020-06-23 05:23] SupremeTechnopriest commented on #1296
Maybe that’s on a different branch. You can look at the package.json for other branches and see if that helps.

[2020-06-23 05:57] derrickmehaffy commented on #6767
@jshaw just to confirm you aren't trying to create new models on the Heroku deployed version correct?

[2020-06-23 08:57] petersg83 commented on #6726
Hi,
Thanks for the issue! The config has been recently updated to be simpler, and this page of the doc has been forgotten in the process. I'll update it soon.
In the meantime, can you try with this configuration please:
[code]

[2020-06-23 09:01] haschu opened #6775 "v3.0.4: create-strapi-app has dependency issues"
**Describe the bug**
Setting up a new project with `yarn create strapi-app` fails due to dependency conflicts.
We tested it on several machines and it fails reliable:

Creating a project from the database CLI arguments.
Creating files.
Error while installing dependencies:
warning strapi > boom@7.3.0: This module has moved and is now available at @hapi/boom. Please update your dependencies as this

[2020-06-23 09:13] haschu commented on #6775
This seems to be related to:
https://github.com/formatjs/formatjs/issues/1744

[2020-06-23 09:18] lauriejim commented on #6705
I'm closing this issue.
Everything is explained in this discussion.
I thinks we can continue the discussion there.

[2020-06-23 09:18] #6705 closed

[2020-06-23 09:27] lauriejim commented on #6775
Thank you reporting this, we are on it to see what we can do.

[2020-06-23 09:32] lauriejim commented on #6758
Hello! Thank for for this insight.
For the documentation, we are not planning to have it in many languages for now.
For the Admin Panel, feel free to submit a PR to add / update admin translations.
Here are translations for the admin panel, you will find the same structure for all plugins.
https://github.com/strapi/strapi/tree/master/packages/strapi-admin/admin/src/translations
I'm closing this, d

[2020-06-23 09:32] #6758 closed

[2020-06-23 09:51] lauriejim commented on #6775
Note: is you use `npm` it will work.
You can also use `yarn create strapi-app my-project --use-npm`

[2020-06-23 09:53] lauriejim commented on #6736
Hello! Thank  you for reporting this issue.
I ping @soupette about that.

[2020-06-23 09:59] alessandrocaprarelli commented on #6775
As a temporary workaround I did:
- installed using yarn: `yarn create strapi-app my-project `
- the project is successfully created but dependencies are not correctly installed
- added resolution to package.json (credits: https://github.com/formatjs/formatjs/issues/1744#issuecomment-647996524)
- installed packages using `yarn install`

[code]

[2020-06-23 09:59] iicdii opened #6776 "Migration guide link is wrong"
**Describe the bug**
Both `v3.x` and `3.0.0-beta.x` migration guide are two same guide but have different link. I followed first one but it turns out it's for 3.0 configuration, which causes database connection error.

1. https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.19-to-beta.20.html#upload-plugin-settings

2. https://strapi.io/documentation/3.0.0-beta.x/migration-gui

[2020-06-23 10:03] lallenfrancisl opened #6777 "backendUrl not using https even when api url is specified in https"
**Describe the bug**
The issue described in #49 The issue still persists when using different urls for admin and the api(in my case it's the same domain).

**Steps to reproduce the behavior**

1. change the api url to a subdomain
2. change the admin url
3. admin does not because of mixed content error

**Expected behavior**
Admin UI is loaded up

**Code snippets**
server.js file
`module.exports =

[2020-06-23 10:09] haschu commented on #6775
Yep, that works as a temporary solution! Thanks.

[2020-06-23 10:14] #6775 closed

[2020-06-23 10:18] alastair-todd commented on #5008
Reverted to the fetch API for this one.

[2020-06-23 10:24] haschu commented on #6775
Wow, that was super fast! 1 hour and a new release is out! 👍 👍

[2020-06-23 10:53] lauriejim commented on #6751
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-06-23 10:53] #6751 closed

[2020-06-23 11:00] lauriejim commented on #6749
Hello! Can you please record a short video of what you are doing.
This will help me to follow / understand each steps.
Thank you.

[2020-06-23 11:14] GinFoB opened #6780 "Model lifecycle not called"
Hi everyone <br />

Strapi version: 3.0.4

I can't call any lifecycle model method beforeSave or beforeCreate ....

I found this issue https://github.com/strapi/strapi/issues/1153 but not resolve mu issue.

My model look like

[code]

In console log no function called.

Anyone help me ?

[2020-06-23 11:19] lauriejim commented on #6756
Hello @filipesmedeiros !
We opened a position for a Technical Writer few months ago and found someone for this position.`
When this person will arrive, we will have a huge work on the documentation guidelines about this topics and
also have a check of that in the admin interface.
This is not a topic for right now but more for the end of the year.
Thank you for highlighting this.

[2020-06-23 11:24] lauriejim commented on #6766
Thank you, I think this is a topic for @alexandrebodin .
If you already investigated and found a solution / alternative, feel free to submit a PR 👨‍💻
Thank you 👍

[2020-06-23 11:29] lauriejim commented on #6767
Do you use Media fields in your application?
If yes, can you make sure you are using a upload provider to not host your media in the Heroku server (the default provider is local in Strapi and this will not work with PG.)

[2020-06-23 11:34] alexandrebodin commented on #6780
Hello, as per https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks, lifecycle function must be declared in the `lifecycles` property

[2020-06-23 11:34] #6780 closed

[2020-06-23 11:54] lauriejim commented on #6776
Fixed :) thank you for reporting this.

[2020-06-23 11:54] lauriejim commented on #6776
Will be release when the PR is merged.

[2020-06-23 11:54] #6776 closed

[2020-06-23 11:56] lauriejim commented on #6777
@derrickmehaffy This one is definitely for you 🤓

[2020-06-23 12:56] snowyu commented on #1465
@Goxiaoy  Organization is not the same the tenant.

Organization means data sharing, and tenant means data isolation.

* user: could have one or more organizations.
* individual: a special organization, anyone should belong to it, and can not leave it.
* public: a special role of individual.

@vinayagg should open a new issue for the feature.

[2020-06-23 13:01] danielmaartens opened #6782 "Aggregate count function does not return expected value"
***Updated Post***
*There are two issues*
1. One is the inability to execute "OR" queries within graphql. This is not a bug but rather I do not know whether there is in fact a way to do this. If there is then it is not obvious to me based on the documentation. If there isn't then I will have to log the appropriate feature request.
2. The other is - what I consider to be, at least - a bug. The deta

[2020-06-23 13:03] danielmaartens commented on #6782
I am using v3.0.1

[2020-06-23 13:08] alexandrebodin commented on #6782
Hello, Please follow the issue template so we have enough information to reproduce and help you. Closing until the issue is updated

[2020-06-23 13:11] Pablo-Aldana commented on #3377
Hi I have stable version 3.0.4 and have same issue with PROD. Is there any solution for this?

![image](https://user-images.githubusercontent.com/9969839/85407340-6474fe00-b563-11ea-8ad4-aca909c88447.png)

[2020-06-23 13:27] jonathanmach commented on #1762
Also waiting for updates on this.

[2020-06-23 13:43] derrickmehaffy commented on #6782
(also please don't mass ping 4 members of the team. I've edited your post to remove those)

[2020-06-23 14:03] danielmaartens commented on #6782
@alexandrebodin please see updated issue.

[2020-06-23 15:40] MSLacerda opened #6783 "When postgres datestyle is set to SQL, DMY all created_at and updated_at dates are returning null"
**Describe the bug**

Using postgres datestyle config set to SQL, DMY all dates used in strapi are returned as null in api and admin-ui.

**Steps to reproduce the behavior**

1. Set postgres datestyle to SQL, DMY
2. Create new project on strapi
3. Create a content type and add a entry
4. Make a api request or in collection table in admin visualize the created_at column

**Expected behavior**

The

[2020-06-23 18:56] hkovacs commented on #6766
@alexandrebodin

i have started on this, but it is a bit above my level...

i have made the following surface changes:
[code]

i dont know where else to go with these changes, so i am happy for some pointers on where to look next... or perhaps this is all that is needed...

[2020-06-23 19:01] hkovacs commented on #6766
i do think that this is a priority high given that the bug means that strapi is not fully secure while using koa-lusca which has been unsupported since before strapi was created and koa-lusca packages are obsolete in modern browsers.

[2020-06-23 19:28] Tdnshah commented on #4426
@huesoamz I would like to know if this is the expected behaviour as remember login should actually work like if on the same machine if we then it should remember the login credentials, but if once logged even with marking remember me it should not forget the active session right?

[2020-06-23 19:40] thierryc commented on #6775
Yarn or NPM  + ^ is always tricky... Congrats.

[2020-06-23 19:47] leonardomerlin commented on #3365
First, kudos for the community on slack :+1: (everyone is very helpful). But, for this type of question, it would be more helpful to use [StackOverflow (tag/strapi) ](https://stackoverflow.com/questions/tagged/strapi) IMHO.

Second, I would like to share here my solution - just in case other people arrive here in the same way that I did.

[code]

[2020-06-23 21:04] igghera commented on #1871
@hansemannn I'm looking for the same thing. Any chance you could point me in the right direction?

[2020-06-24 02:53] devskope commented on #6775
Pinning dependencies should be the defacto approach

[2020-06-24 02:58] winston0410 commented on #5877
I have the same issue, with an error of ` InternalServerError: http://localhost:8000 is not a valid origin`.  Not sure if this can help.

[2020-06-24 04:08] charkcl opened #6790 "Lifecycles afterFind cannot update query results"
**Describe the bug**
Not able to update query results inside Model with "afterFind" lifecycle hooks

**Steps to reproduce the behavior**

1. Go to 'api/xxx/models/xxx.js'
2. use "afterFind" lifecycle hook to update query results
3. expect updated results to be shown

**Expected behavior**
Provide examples for "afterXXX" [lifecycle hooks](https://strapi.io/documentation/v3.x/concepts/models.html#li

[2020-06-24 05:30] jshaw commented on #6767
Hey all, thanks for the questions for further clarifications.

@akhilmhdh, hum interesting. I am using using the hobby dev free version. I'm fortunate the project is still being developed so it has little test data. I've actually reset the DB in Heroku and found this still happened.

@derrickmehaffy, correct, I'm not trying to update or alter the db once deployed.

@lauriejim Yes, I have media fil

[2020-06-24 06:25] alastair-todd commented on #4254
@lauriejim is a dynamic zone also a polymorphic relation so I cannot oob search content in there?

[2020-06-24 06:48] vinod77 opened #6791 "Performance of Media Library is very slow for Large size Videos from S3 Bucket"
**Describe the bug**
1. Performance of Media Library is very slow for preview/streaming Large size Videos from S3 Bucket.
2. Video preview is taking very long time to show up
3. Streaming large size MP4 Video's ( >70mb ) doesn't work at all

**Steps to reproduce the behavior**

1. Go to  Media Library
2. First upload few large size (around 100mb) MP4 Videos
3. After uploading, open Media Library
4

[2020-06-24 07:30] derrickmehaffy commented on #6782
For this one see: https://github.com/strapi/strapi/issues/3194 the only `or` filter supported currently by default is the same field **and** filter else they are all treated as `and`, beyond that you may need to create a custom route or override the existing service and tweak the query to use the backend ORM yourself. See: https://strapi.io/documentation/v3.x/concepts/queries.html#custom-queries

[2020-06-24 07:31] alexandrebodin commented on #6790
Hello, As described in the documentation you need to mutate the result not reassign it. If you want to change the result you need to do:

[code]

[2020-06-24 07:31] #6790 closed

[2020-06-24 07:36] iicdii commented on #6570
[code]
I think `${strapi.config.server.url}` needs to be changed. It has a problem when using proxy port for like nginx. In my case I use `https://example.com:8000` in production and it causes redirect_uri_mismatch error.

[2020-06-24 07:58] #6301 closed

[2020-06-24 07:58] #6454 closed

[2020-06-24 08:08] reubenkcoutinho commented on #6570
In the pull request made, I suggested the following change:
`grantConfig[provider].redirect_uri =
      (strapi.config.provider &&
        strapi.config.provider[provider] &&
        strapi.config.provider[provider].redirect_url) ||
      `${strapi.config.server.url}/connect/${provider}/callback`;`

[2020-06-24 08:22] alexandrebodin commented on #6689
Hi, Can you share your nginx configuration ? You should be able to configure your cors on nginx to fix this

[2020-06-24 08:30] iicdii commented on #6570
@reubenkcoutinho That will solve the problem.

[2020-06-24 08:43] choudharypravesh03 commented on #3946
Upvote for this feature. My usecase is that when I go to configuration view and drag and drop components, I want it to reflect in my graphql query. Any updates on this ?

[2020-06-24 09:24] derrickmehaffy commented on #6689
Yeah as Alex mentioned this is not normal behavior, but we do need to take a look at the Nginx config, if you don't want to share it publicly you can poke either me or alex on the Strapi slack and send it via a PM.

[2020-06-24 09:26] derrickmehaffy commented on #6767
Can you update your project to the latest version? What I'm guessing is happening is that Heroku is killing the dyno every few hours (when there is no activity) and you see the initial reload of the dyno, but when it fetches the code, builds, and runs it you are seeing errors (in which maybe it's auto-restarting til the errors go away?)

[2020-06-24 09:27] derrickmehaffy commented on #6777
@lallenfrancisl what proxy software are you using? (Nginx, HAProxy, Caddy, Apache, ect?)

[2020-06-24 09:52] derrickmehaffy commented on #1296
@cawoodm Strapi supports only LTS versions, which in this case is v12 (though it will work with v10, the plan is to remove that shortly). It will never be supported to use an "odd" node version such as v13, and v14 doesn't go LTS until October and is not supported yet.

[2020-06-24 09:56] derrickmehaffy commented on #6703
All good, your issue is what motivated me to make a notice issue about it: https://github.com/strapi/strapi/issues/6710

Hopefully other users that were in your position read that ;)

[2020-06-24 10:04] wokalamps commented on #6369
(This is for update 3.0.0-beta.19.3 to 3.0.0-beta.19.4.)
I got it working. It seems that the caret in the strapi-plugin-graphql version entry was the problem (But not sure. Did so many tries.) The package.json it worked with looks like this:
[code]
before I had
`"strapi-plugin-graphql": "^3.0.0-beta.20",`

[2020-06-24 11:39] jonpalmisc opened #6794 "Unable to get raw request body"
**Describe the bug**
I am trying to obtain the raw request body to I can verify it using Stripe's library. This question was previously asked #4720, but the solution the user posted no longer seems to work.

**Steps to reproduce the behavior**

1. Create a `config/env/**/request.json` with the following content:
[code]
2. Import the `unparsed` symbol helper from `koa-body`
[code]

3. Attempt to ac

[2020-06-24 12:00] jonpalmisc commented on #6794
Added example code snippets.

[2020-06-24 12:16] zurfluh commented on #6726
👌 Thank you already @petersg83 , your snippet solves the issue. Thanks in advance for updating all relevant docs.

[2020-06-24 12:57] derrickmehaffy commented on #6369
@wokalamps glad to hear it, I'm going to  mark this as closed, if anyone else has the same problem do feel free to reply back.

[2020-06-24 12:57] #6369 closed

[2020-06-24 12:59] derrickmehaffy commented on #6794
Not that it will help in this case but can you test using a fresh project on the latest release as your version `Strapi version: 3.0.1` is not. (I don't expect this will help but always good to double check)

[2020-06-24 13:11] jonpalmisc commented on #6794
Tried on Strapi 3.0.5. Issue persists.

[2020-06-24 13:12] jonpalmisc commented on #6794
If you have any ideas for temporary workarounds too, they are welcome, as this is causing a holdup for a project I'm working on. I'd also be happy to submit a PR if you might know where the bug is in the code.

[2020-06-24 13:28] jshaw commented on #6767
Hum, interesting. This morning, no errors either. Will continue to check periodically.

@derrickmehaffy, to conform your suggestion is to update to Strapi to v3.0.5?

[2020-06-24 13:33] derrickmehaffy commented on #6767
Yes, and if possible, can you share a link to your project on GitHub/gitlab/wherer ever?

[2020-06-24 13:35] derrickmehaffy commented on #6766
I would also class this as a bug @lauriejim (though I wouldn't say high) we do need to find a replacement.

[2020-06-24 16:04] RaimonxDev commented on #6689
Hello @alexandrebodin  @derrickmehaffy , after much research, I managed to solve the problem. and it is exactly what they have commented the nginx was blocking the cors, the jwilder: proxy-nginx container in docker has its own configuration and it is somewhat delicate to change (of course it can be done but you have to know very well how the nginx works) ..

My solution was to use TRAEFIK. and now

[2020-06-24 16:13] lallenfrancisl commented on #6777
Oh snap, very sorry for wasting your time. It turns out that there were two main.****.js files. Maybe from a previous build. So earlier I was maybe looking at the file with the non-https link. There were one since I had build with non-https link earlier and when I looked at the other it was indeed https.

But although for some reason by default the build configuration is production.

[2020-06-24 16:40] lallenfrancisl commented on #6777
Also I wanted to ask something although not directly linked to this. Do I have to rebuild everytime I change from development env to production env if I am using different databases. In my case I am using MySql for production and sqlite for development.

I am asking this because I do not have access to users I created in development build when using production build and running `NODE_ENV=developme

[2020-06-24 16:43] alexandrebodin commented on #6689
Great to hear it works now ! Going to close the issue ;)

[2020-06-24 16:43] #6689 closed

[2020-06-24 16:45] alexandrebodin commented on #6766
It would be fine to migrate to helmet but if we cannot map the old options to the new ones it will be a breaking change so won't happen until v4.

[2020-06-24 17:21] hkovacs commented on #6766
im happy to attempt a try at doing this if someone can tell me where to look. it might take the same amount of time whether i help or wait for v4, so i am willing to try.

[2020-06-24 19:55] hkovacs opened #6800 "required checkbox missing for relation field in collection"
**Describe the bug**
i have a collection called `ticket` in it is a field `relation` to `user`. i want this to be a required field but the required checkbox is not provided in `advanced settings`

**Steps to reproduce the behavior**
see screenshot

**Expected behavior**
i would expect that all fields would have the `required` checkbox

**Screenshots**
![relation-missing-required](https://user-imag

[2020-06-24 20:45] coopemor commented on #6488
Hey @lauriejim! Loving Strapi so far, just started playing around with it a few days ago. I think I'm running into this issue as well. I recorded a [video showing](https://www.youtube.com/watch?v=co3SBjvNhmc&feature=youtu.be) it working with "belongs to many" on the parent and it throwing this error when I change it to "has many".

I'm very new to Strapi, so very likely I'm doing something wrong,

[2020-06-24 21:38] derrickmehaffy commented on #6800
closing as duplicate: https://github.com/strapi/strapi/issues/557

[2020-06-24 21:38] #6800 closed

[2020-06-24 22:33] juandl commented on #6792
This issue is happing also with Travis CI when it tries to run the tests in Postgresql. @alexandrebodin I guess should have more priority xD

[2020-06-25 02:21] iicdii commented on #6570
For now, I just created `/extension/users-permissions/controllers/Auth.js` to override method.
[code]

If you already set redirect uri in admin panel it will work.

[2020-06-25 03:21] rodrigosebastiao commented on #6659
I had problems with mongoDB data erasing a lot of times in @alpha and @beta.
Now trying to migrate to 3.0.any gives me same error, I did all the "I've tried" and much more, no solutions yet?

[2020-06-25 03:23] rodrigosebastiao commented on #6659
Inserting new components or fields caused to many data loss in MongoDB in @beta and @alpha.
Now trying to migrate to 3.0.any gives me same error, I did all the "I've tried" and much more, no solutions yet?

[2020-06-25 03:23] rodrigosebastiao commented on #6659
Inserting new components or fields caused to many data loss in MongoDB in @beta and @alpha.
Now trying to migrate to 3.0.any gives me same error, I did all the "I've tried" and much more, no solutions yet?

[2020-06-25 03:55] hkovacs commented on #6800
cool!

[2020-06-25 03:59] hkovacs commented on #557
why does there need to be a check for valid id? if i have a `user` relation field one to one, then i should be able to require a user from a select list and that's all that is needed.

i agree that other relationships are more complex, but i dont see why simple relationships need to be made over complicated.

thank you!

[2020-06-25 05:45] #6777 closed

[2020-06-25 05:48] derrickmehaffy commented on #6777
If you are changing environments yes you should, though it doesn't matter for the database, there are certain different settings that get built into the admin when you specify an environment.

A key point to keep in mind that only the admin is "built" the backend is not, when building with an environment, you are telling the admin where it can **publicly* access the backend APIs (since react is cl

[2020-06-25 08:01] jared-shepherd commented on #4289
In case anyone happens upon this post as I did and it doesn't resolve their issue, this might help!

**I was creating components in 3.0.4** and Strapi crashed with this message:

_There can be only one type named "editComponentGroupNameComponentName"_

**The solutions was to delete a duplicate JSON file at this location: _./components/GroupName/ComponentName.json_**

[2020-06-25 11:19] jonpalmisc commented on #6794
It is worth noting that this issue means that it is impossible to verify the signature of webhooks sent to a Strapi instance by Stripe or any other service.

[2020-06-25 13:40] tamasangyan opened #6806 "Server constantly restarts after installation"
**Describe the bug**
Hello,
I'm opening this issue, because after
[code]
Strapi starts a development environment and opening the admin, but it constantly restarts the server leaving only this in the debug.log
[code]

**Steps to reproduce the behavior**
Well the only command I used is the one that is in the quickstart
[code]

**System**
Strapi version is: 3.0.5
NodeJS version is: 12.16.1 //also tri

[2020-06-25 14:07] virgil9306 opened #6807 "Latest Strapi breaks Docker image compatibility"
**Describe the bug**
Dockerfiles are not working because `⛔️ You can only create a Strapi app in an empty directory. Make sure /srv/app is empty.`

I think it is not a problem with the Dockerfile, so I am posting here.

**Steps to reproduce the behavior**

1. Run `docker-compose up --build` on any example in Strapi docker repository
2. See error message `⛔️ You can only create a Strapi app in an e

[2020-06-25 14:37] Md-Mudassir commented on #6634
### Not able to access basic user details (email, name, image) in Google Auth after successful login

**Issue:**
in response, it provides only``id_token``

**Context:**
Once the user logs in using Gmail, I cant display his name or email in its profile section in my website.

[2020-06-25 14:56] jonathanmach commented on #6570
I'm facing the same issue here, trying to configure Google as a provider.

![image (1)](https://user-images.githubusercontent.com/12788052/85743887-573f4700-b6fc-11ea-900c-108d0f13a8cf.png)

[2020-06-25 15:09] DebarunMitra commented on #6634
**Issue:**
- Successful login returns only access token in callback URL.
- In Strapi admin panel user registration data also not visible.

**Context:**
- After successfull login with google oAuth2, only getting the user access token with callback redirect.
- And the user registration details are also not visible in the strapi cms.

[2020-06-25 15:35] jonathanmach commented on #6570
Just found this!

[2020-06-25 15:52] derrickmehaffy commented on #6806
References to this error point to chrome, this doesn't appear to be a Strapi issue.

FYI Node.js v14 (and whatever version of NPM it ships with) is not supported, only v12 or v10 is supported.

Going to mark this as closed as I could not reproduce this on Windows 10 2004 (and WSL/WSL2)

[2020-06-25 15:52] #6806 closed

[2020-06-25 16:14] jonathanmach commented on #6653
I'm facing the same issue

[2020-06-25 17:54] tamasangyan commented on #6806
Thank you, Chrome was the issue, after changing browser it works like charm.

[2020-06-26 00:27] sam-cross opened #6815 "Strapi doesn't warn about expired authentication when saving collection type item"
**Describe the bug**
When submitting a new item in a Collection Type, if the user waits too long to save it, Strapi will simply do nothing and instead remain on the same page.

**Steps to reproduce the behavior**

1. Fire up a Strapi instance and create a new Collection Type
2. Make a new item in that type and add some info to it (if you want)
3. Wait for auth to expire (30m?)
4. Attempt to save t

[2020-06-26 00:56] brenojac commented on #3191
Hello guys,

Just to let you know that I'm running successfully a new strapi installation according to the documentation, using Docker Compose and MongoDB (https://strapi.io/documentation/3.0.0-beta.x/installation/docker.html) and the first time I load the admin interface takes a loooong time. More than a minute or so. Does that mean this issue has not been resolved in the beta version yet?

best

[2020-06-26 02:40] derrickmehaffy commented on #6815
This isn't directly a problem with Strapi but is with Heroku. When Heroku doesn't see any activity, it will kill the dyno. When you go to save again Heroku pulls the code from Github, reinstalls, rebuilds, and restarts in which your initial request to save fails.

My suggestion would be don't use Heroku.

[2020-06-26 06:17] aksdevac commented on #6634
###  No Proper Typescript Support

**Issue:**

- Poor intellisense
- Can't specify types, can't use optional chaining etc.

**Context**

- It will give better intellisense, & we can use all typescript features which are missing or upcoming in Javascript.

Consider adding Typescript support also provide guide & if possible, Library rewrite in Typescript.

[2020-06-26 07:40] alexandrebodin commented on #6782
Hello, You aren't sharing the query nor the model you are running you query with so we cannot reproduce your issue.

[2020-06-26 07:44] alexandrebodin commented on #6766
Just so you have the full picture. v4 will only come at the end of year. If you want to work for the v4 then you can go further and merge the multiple middlewares into one middleware with options for each security layers. This would make it simpler for users to configure all their security middlewares at once.

If you want to work on a v3 comptabile solution then you will need to work on keeping t

[2020-06-26 07:48] alexandrebodin commented on #557
Not in the case when calling the APIs. Right now you can send an invalid id in a relation. Making them required would require to verify those to avoid breaking constraints with invalid relations.

[2020-06-26 09:52] mizvyt commented on #3946
I am building a help centre where the order of articles specified by the content manager matters. I second this approach and I think it should be higher on the priority list :-)

[2020-06-26 10:40] hkovacs commented on #557
ok. thank you

[2020-06-26 10:42] hkovacs commented on #6766
with time i will study v3 middleware and get a better grasp. see how it goes.

[2020-06-26 11:14] juliensl opened #6818 "Cancel button to delete media does not work"
Hi everybody !

**Describe the bug**
When you are in the Media Library and click on the bin to delete the media, you have a modal which says : "Are you sure..."
If you click on *Delete* the media is deleted, but if you click on *Cancel* the media is deleted too :laughing:

**Steps to reproduce the behavior**

1. Go to the media library panel
2. Click on a media
3. Click on the bin
4. Click on Canc

[2020-06-26 14:12] lauriejim commented on #6818
Hello! I just tried with the latest version of Strapi 3.0.5 and it works fine.
Here is what I did - https://www.loom.com/share/db01c9e366544a1ca83018ad5230abe7
Let me know if I miss something.

[2020-06-26 14:43] #6815 closed

[2020-06-26 14:44] david-soyez opened #6821 "Email not sending with mailgun [resolved]"
If you installed the plugin `strapi-provider-email-mailgun`  and your mails are not sending, well that's because the domain is missing in the documentation following the mailgun-js documentation you can find here: https://www.npmjs.com/package/mailgun-js

This is the correct configuration:
[code]

[2020-06-26 14:47] lauriejim commented on #6821
[resolved] - is there an issue?

[2020-06-26 15:01] derrickmehaffy commented on #6821
@lauriejim user edited their response so I assume so. Marking as closed.

[2020-06-26 15:01] #6821 closed

[2020-06-26 15:20] ralphsomeday opened #6822 "Custom authentication provider (e.g. AWS Cognito User Pools) not working because subdomain parameter not set in grant object configuration"
**Describe the bug**
When trying to create a new custom authentication provider for strapi, I am calling the strapi server base url /connect/new_provider_name then I am getting a dns error from the browser. When looking at the network log I can see a 302 response with a redirection to https://[subdomain]/oauth2/authorize. The subdomain is not being replaced by the link to the Identity provider (in

[2020-06-26 18:29] jonathanmach commented on #6570
I'm facing the same issue - did manage to make any progress on this?

[2020-06-26 18:35] akhilmhdh commented on #6570
@jonathanmach Yah i fixed it. Basically i did exactly as you given above. Added my domain host and port as url in env format for production and development. Then it changed relative to absolute for callback

[2020-06-26 18:55] jonathanmach commented on #6570
@akhilmhdh  YOU ARE A LIFE SAVIOR!
Thank you so much. The article does make things clearer! Specially regarding the flow, I think that's what was getting me stuck.
I wish they had a link to it in the original docs.

Thank you once again!

[2020-06-26 18:58] akhilmhdh commented on #6570
@jonathanmach Lol sure man ✌️

[2020-06-26 20:33] brookskindle commented on #2317
@lauriejim would it be possible to re-upload the recording, or write down how to do this? The linked recording returns a 404 page for me. Thanks in advance!

[2020-06-26 20:50] sam899 opened #6824 "Fields dont pass default value in database config causing application to fail on startup, or fail to add content"
**Describe the bug**
When adding a new field, if you set a default value, the default is enforced on the front-end, but not set in the database config.

This leads to a couple of issues (i've used a boolean as an example here for ease of explaining).

1. If you add a boolean to an existing model (with data), checking the required flag, and setting a default value (let's say, TRUE), when you then t

[2020-06-26 21:01] derrickmehaffy commented on #6824
#1114

[2020-06-26 22:56] mjgchase opened #6825 "K8s multiple instances, production 404 on getting collection"
**Describe the bug**
I have 3 instances of strapi, 2 production and 1 dev in a k8s cluster using a mongodb replicaset

**Steps to reproduce the behavior**

1. go to https://strapi.dev.mcjb.enterprises/posts
2. go to https://strapi.mcjb.enterprises/posts

**Expected behavior**
To see the posts in the production instances

**Code snippets**
Error in the log (might be unrelated)

[2020-06-26T22:21:17

[2020-06-26 23:07] #6825 closed

[2020-06-27 10:07] asimkhan73301 commented on #1225
Just a bit of addition to run multiple scripts using the same command. I named my directory `commands` and done the following configurations.

commands/init.js
[code]
in package.json
`"command": "node commands/init.js"`

Now I am able to execute multiple scripts from `commands` directory using `npm run command filename.js`

commands/my-custom-script-A.js
[code]
commands/my-custom-script-B.js
[code

[2020-06-27 10:11] amorev commented on #1225
I am working at adding caporal to handle usable console commands and make an extenstion for comfortable console commands

[2020-06-27 12:04] Ermal45 commented on #4542
I still have an error, after i register, it sends the email first time, if i do it again it will show the same error its very weird.

[2020-06-27 14:08] Limonische opened #6831 "Relation dropdown is disabled in case of polymorphic relation"
**Describe the bug**
I am aware that as of now polymorphic relations using model: * do not work, so i opted to use collection: *. But after i created one-to-many polymorphic relation, the dropdown in admin ui is disabled.

**Steps to reproduce the behavior**

1. Create two models (in my case post and menu-item)
2. Establish a one-to-many polymorphic relation as described in docs
3. Open admin pane

[2020-06-27 14:53] jonathanmach opened #6833 "Server won't start after adding lifecycle hooks for user/models/User.js model"
**Describe the bug**
I'm getting the following error when starting strapi:
[code]

All I did was follow the example from the documentation: https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks
I created the `./api/user/models/User.js` file and added the example code to it, simplifying it a bit:

[code]
**Steps to reproduce the behavior**

1. Create a Strapi project
2. Create `

[2020-06-27 16:38] derrickmehaffy commented on #6833
`./api/user/models/User.js` Where did you get this path? The user model comes from the plugin `users-permissions` so to adjust the lifecycle callbacks for it you will need to use the extensions system: https://strapi.io/documentation/v3.x/getting-started/troubleshooting.html#how-do-i-customize-a-plugin

[2020-06-27 16:38] #6833 closed

[2020-06-27 17:26] alexlabrioche opened #6836 "Can't Login User with Apollo + NextJS App"
**Describe` the bug**
Mutation are blocked by Cors (receiving status 400). But working on the REST Api.
Others GraphQL Queries works well

**Expected behavior**
Be able to login and execute Mutations via Apollo instead of doing them with Axios

**Code snippets**

apollo.js
[code]
auth.jsx
[code]

**System**

- Node.js version: v12.13.0
- NPM version: 6.12.0
- Strapi version: 3.0.0
- Database: Post

[2020-06-27 17:51] Jaikant commented on #6836
I am using strapi's graphql endpoint behind an nginx proxy and it works fine, the nginx setting is as follows:
[code]

Also the cors middleware is loaded in strapi, the middleware.json file is as follows:
[code]

[2020-06-27 19:26] filipe-q commented on #4890
In case someone is wondering which file you're supposed to edit, it should be the json file of the component where you want to add the nested field, the directory should be /components/<category_name>. And then after your last attribute's closing } you should add a comma and then paste below:
`"<component_you_want_to_add>": {
      "type": "component",
      "repeatable": true,
      "component":

[2020-06-27 20:06] jblevins1991 opened #6837 "Permissions are not syncronized when collection is renamed"
**Describe the bug**

When renaming a collection, the permission is not renamed. Because this is happening, the endpoint for that collection is also not updated to reflect changes to the collection. In my example I created a collection named 'Blogs' but later renamed it 'Post'. Below are URLs for the collection.

**Steps to reproduce the behavior**

1. Go to [my old collection name](http://161.35.

[2020-06-27 20:19] jblevins1991 commented on #6837
I decided to delete the collection and make a new one called Post. This is still an issue that is easy to reproduce though. Those links in the steps no longer are relevant though.

[2020-06-27 21:55] Pablo-Aldana commented on #5520
Hi unfortunatelly this does not work for me when using mongo.  If I use postgres everything work smoothly and I don't even need to use any option on the find method. I'm using v3.0.4.
My structure is
Programs has many workouts.
Workouts has many Exercises.

If I call:

(I concatenate the ctx.query that is "users.username=emailaddress" with user premium true)

`entities =  await strapi.services.pro

[2020-06-27 23:40] arteagabriel commented on #6794
I'm having the same issue although I followed a different approach per the documentation: https://strapi.io/documentation/v3.x/concepts/middlewares.html#core-middleware-configurations

I have a config/middleware.js with
[code]

But still can't seem to get the raw request body. I think I am running into the same issue as you @jonpalmisc with connecting to Stripe after a webhook trigger. Unfortunate

[2020-06-28 00:34] jonpalmisc commented on #6794
@arteagabriel Thank you for sharing - going to try out your method just in case. If I find anything that works I’ll definitely share. This is obviously a huge issue for being able to launch the platform I’m working on.

[2020-06-28 06:06] Kelvinblaze commented on #3797
Wow, i have been everywhere searching for a fix. Thanks alot @centogram

[2020-06-28 07:25] jiv-e opened #6839 "Create-strapi-app stuck in older version of Strapi"
**Describe the bug**
Create-strapi-app installs older than current Strapi version.

**Steps to reproduce the behavior**

1. Install Strapi 3.0.0-beta.17.4 globally. npm install strapi@^3.0.0-beta.17.4 -g
2. Uninstall Strapi globally. npm uninstall strapi -g
3. Run: npx create-strapi-app my-project --quickstart
4. Check the version create-strapi-app installed.
5. Strapi version 3.0.0-beta.17.4 is i

[2020-06-28 07:27] jiv-e commented on #6839
Maybe related: #6655

[2020-06-28 07:45] derrickmehaffy commented on #6839
This is not an issue with Strapi but the users in environment. Moving to a discussion

[2020-06-28 07:45] #6839 closed

[2020-06-28 13:00] Ermal45 opened #6841 "Sendgrid is not being displayed in email-plugin in strapi"
![sendgridblank](https://user-images.githubusercontent.com/62566277/85948180-ab8e3500-b94f-11ea-85b4-4b0d61fe3c45.png)

I don't know if this is a bug or anything i just submitted this as a bug,bc its not working for some reason.I installed the package from npmjs.com with --save in the end and still doesn't show up i am using strapi v3.0.0-beta.20.3

[2020-06-28 14:16] derrickmehaffy commented on #6841
`v3.0.0-beta.20.3` Beta is no longer supported and you are using an older version of the plugin as the AdminUI no longer shows the providers as they are now using files for configs. See: https://github.com/strapi/strapi/issues/6710

(as a side note, questions should be directed towards discussions, issues require a proper template)

[2020-06-28 14:16] #6841 closed

[2020-06-28 14:22] Ermal45 commented on #6841
yeah my bad this was my first time asking a question in github and i just went through, again thanks for the answer.

[2020-06-28 14:28] secretlifeof commented on #5504
Thanks a lot for your answer @xream! I am sorry for the very late reply.

[2020-06-28 15:55] violabg commented on #6130
Where can we configure breakpoints?

[2020-06-28 17:06] KrustyHack commented on #3433
Hi all,

I'm still struggling with one thing when deploying to GAE :

[code]

Did I miss something in your guide ? :thinking:

[2020-06-28 17:21] cube-dan commented on #2257
@gtamas

Updated link [for this post](https://github.com/strapi/strapi/issues/2257#issuecomment-480207262) allowing you to hookup a mongoose plugin: https://strapi.io/documentation/v3.x/concepts/configurations.html#database-orm-customization

I'm unsure what you're trying to do with the mongoose-delete plugin, but maybe use a [model lifecycle hook](https://strapi.io/documentation/v3.x/concepts/mod

[2020-06-28 17:32] dazp94 commented on #6519
I'm having the very same problem here.

[2020-06-28 17:37] Saunved commented on #6519
Strapi 3.x has a new plugin system. I've written an npm package to help integrate Strapi email with Nodemailer. You can check it out here: https://github.com/Saunved/strapi-provider-email-nodemailer

[2020-06-28 19:58] sc00 opened #6842 "GraphQL (sort: "name:desc") doesn't work with images"
I'm trying to sort images that are part of a collection type by name.

The following query...
`
{
  campaigns(where: { name: "2015" }) {
    name
      images(sort: "name:desc") {
        name
      }
    }
  }
`
... however returns ...
`
{
  "data": {
    "campaigns": [
      {
        "name": "2015",
        "images": [
          {
            "name": "1"
          },
          {
            "na

[2020-06-28 21:25] cube-dan commented on #6564
Thanks for the update guys. Keep up the great work!

[2020-06-28 21:28] derrickmehaffy commented on #6842
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-06-28 21:29] #6842 closed

[2020-06-28 21:32] cube-dan commented on #4022
Thanks for taking a look guys. I've migrated to from beta11 => 3.0.1 => 3.0.4 and whatever gook was gumming up the works it's been cleaned out and 3.0.4 is running like a dream. Thanks for the help and for making strapi so ... amazing!

-Dan

[2020-06-28 23:40] arteagabriel commented on #6794
@jonpalmisc Not sure what changed between yesterday and today but it seems to be working just fine now.

Here's my stripe webhook code for reference:

controller
[code]

config/middleware.js
[code]

config/hook.js
[code]

hooks/stripe/index.js
[code]

[2020-06-29 01:01] jonpalmisc commented on #6794
The issue was that I was not using `config/middleware.js`, rather, I was using `config/env/development/request.json`, the proposed solution in #4720. I am now able to retrieve the unparsed body as expected. You really saved me here, thank you so much! You have no idea how relieved I am to have this working now. @arteagabriel

[2020-06-29 01:06] swina opened #6843 "Lifecycles Hook beforeUpdate get error id: "entry.notFound","
**Lifecycles Hooks beforeUpdate error**
Assigning a new value to a content field beforeUpdate getting the following error:
`{"statusCode":400,"error":"Bad Request","message":[{"messages":[{"id":"entry.notFound","message":"entry.notFound"}]}],"data":[{"messages":[{"id":"entry.notFound","message":"entry.notFound"}]}]}`

**Expected behavior**
A content field should be updated with the new value

**Co

[2020-06-29 02:56] kurosaki-ken opened #6845 "i got error after beta.19 to 3.0.0 migration"
Completed according to tutorial.
https://i.imgur.com/a6h6ZZJ.png

package.json
  "dependencies": {
    "inko": "^1.1.1",
    "knex": "^0.21.0",
    "slugify": "^1.4.0",
    "sqlite3": "latest",
    "strapi": "3.0.0",
    "strapi-admin": "3.0.0",
    "strapi-connector-bookshelf": "3.0.0",
    "strapi-connector-mongoose": "^3.0.0",
    "strapi-plugin-content-manager": "3.0.0",
    "strapi-plugin-con

[2020-06-29 05:57] derrickmehaffy commented on #6843
`"id":3,` you don't send the ID in the update request (as that isn't a field you can directly modify)

Your ID is appended to URL query `localhost:1337/yourModel/3` and as a side point you should only send what you intend to change.

[2020-06-29 05:59] derrickmehaffy commented on #6845
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-06-29 05:59] #6845 closed

[2020-06-29 05:59] derrickmehaffy commented on #6845
Also please read the following migration guides:

Beta.19.x to Beta.20.x: https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.19-to-beta.20.html
Beta.20.x to Stable: https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.20-to-3.0.0.html

[2020-06-29 06:31] tspvivek commented on #744
I was trying few plugins and they are not satisfactory. After some try i added the feature myself with help [Sheetjs plugin](https://github.com/SheetJS/sheetjs) and some customization in content-manager code.

If anyone wants you can do it by
1. Installing Sheetjs plugin with
`yarn add xlsx`

2. Unzip and place the [index.zip](https://github.com/strapi/strapi/files/4844144/index.zip) file in path

[2020-06-29 06:52] dotcorps commented on #412
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\VANK\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'develop'
1 verbose cli ]
2 info using npm@6.14.5
3 info using node@v12.18.1
4 verbose run-script [ 'predevelop', 'develop', 'postdevelop' ]
5 info lifecycle st

[2020-06-29 07:40] alexandrebodin commented on #6794
Hello, Happy to hear this is solved. Closing this issue

[2020-06-29 07:40] #6794 closed

[2020-06-29 09:03] rmonnier9 commented on #6725
Hi !
Shouldn't you use `plugins.js` rather than `plugin.js` ?

[2020-06-29 11:27] harrysaini commented on #4665
Hi,I recently used Strapi and got good understanding of code and folder structure.
Can I try to resolve this issue. I am new to open source, i will be my first contribution.
Is this still relevant?

[2020-06-29 13:00] SalahAdDin commented on #744
@lazurey Can you make it installable from `yarn`/`npm`?

[2020-06-29 13:30] d-ban commented on #4776
Same error here, modified code like this and now it's working again.

Path — ./api/article/models/Article.js
connector: 'bookshelf'

[code]
https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks

[2020-06-29 14:41] SametSahin10 opened #6849 "Failed to start Github Webhook"
I'm following the deployment guide of AWS which can be found [here](https://strapi.io/documentation/v3.x/deployment/amazon-aws.html). I've made it up to the point where we set up a Webhook. I'm using commands below to enable and start the webhook as it's stated in the documentation.

[code]
However when I use `sudo systemctl status webhook` to check the status of the webhook, I get the following o

[2020-06-29 15:15] derrickmehaffy commented on #6849
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-06-29 15:15] #6849 closed

[2020-06-29 17:05] janokacer opened #6850 "Unable to use session middleware with graphql plugin"
**Describe the bug**
I am unable to use session middleware with graphql plugin because graphqlContext.context.session is not correctly populated.

**Steps to reproduce the behavior**

1. install graphql plugin
2. enable session middleware
3. extend graphql schema (api/user/config/schema.graphql.js)
[code]

4. call graphql query getUser
[code]

**Expected behavior**
Increment counter in session.

*

[2020-06-29 18:20] AnudeepG1507 opened #6852 "Unable to retrieve media files after saved"
created a content type with 1 string field and 1 media type.  Added 1 content to content type and everything is good. Media files are getting saved in the uploads folder. When i click on media library to check files uploaded. Getting the below mentioned error.  I have used shared volume and folder has read write permissions and built using strapi image on docker.

getting this issue:

 error Error

[2020-06-29 19:00] derrickmehaffy commented on #6852
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-06-29 19:00] #6852 closed

[2020-06-29 19:18] SuddenDev commented on #6634
### Customization / Plugin Development is too complicated

**Issue:**
One of the main things, that made Wordpress so big and successfull, was the ability for the community to acually extend the functionality quite easily. Don't get me wrong; I wouldn't want to see such a wild west situation as with WP where plugins just make a installation sluggish and almost unusable, but it helps to get more fun

[2020-06-29 19:27] AnudeepG1507 opened #6853 "Unable to retrieve media files after saved"
**Describe the bug**

created a content type with 1 string field and 1 media type. Added 1 content to content type and everything is good. Media files are getting saved in the uploads folder. When i click on media library to check files uploaded. Getting the below mentioned error. I have used shared volume and folder has read write permissions and built using strapi image on docker.

**Steps to re

[2020-06-29 22:02] christopher4lis commented on #4178
I fixed this ish—run:

`ALTER SEQUENCE "users-permissions_permission_id_seq" RESTART WITH 217;`

where `217` is _what would be_ the very next id in your `users-permissions_permission` table.

Same fix mentioned by @merijnponzo, but referencing the table's sequence which is required to prevent any duplicate primary keys.

[2020-06-29 23:16] Ashot-KR commented on #6643
It's because of Lato from google fonts does not contains cyrillic chars.

[2020-06-30 02:15] lazurey commented on #744
Hi @SalahAdDin not sure how you gonna use it via `npm`, but it is available on npm now.
https://www.npmjs.com/package/strapi-plugin-content-export-import

[2020-06-30 02:47] daxyonis opened #6855 "Model can't be found error with Bookshelf + MySql"
**Describe the bug**
My Strapi is linked to mysql database and I created several content types. When I try to access the bookshelf model for creating custom query I have an error : **The model [...]can't be found.** There is no error with SQLite DB.

**Steps to reproduce the behavior**

1. Create Communication Collection Content type with subject field = text
2. Give public role access to find, fi

[2020-06-30 03:01] daxyonis commented on #6634
### Admin UI does not protect data model from non-tech users errors

**Issue:**
Currently if you give access to the admin panel to non-tech users, they could very well mess up your API

**Context:**
The admin UI should have superusers (the devs) and normal admin users with lesser permissions. For instance, they could only create new entries of each content type and not change nor delete the conten

[2020-06-30 04:26] virgil9306 opened #6857 "Options provided in knex (strapi-connector-bookshelf) doesn't work for PG-compatible DBs (CockroachDB)"
**Describe the bug**

Trying to connect to CockroachDB gives

[code]

**Steps to reproduce the behavior**

1. Connect to CockroachDB using the method to connect to Posgres (Bookshelf)

**Expected behavior**

Default options provided should be enough for Strapi to work with Postgres **and** Postgres-compatible DBs because `knex` is compatible with those. However, there are some missing options that

[2020-06-30 07:16] ilanl commented on #2334
I'd like to use Strapi, but we already have a postgres db with many tables. How can I import my tables?
Installing manually destroys the other tables.

[2020-06-30 07:32] derrickmehaffy commented on #6855
you don't need the `bookshelf` part in `const model = strapi.query('communication', 'bookshelf').model;` that is only used for Strapi plugins such as `users-permissions` or `content-manager`.

[2020-06-30 07:32] #6855 closed

[2020-06-30 07:33] derrickmehaffy commented on #6857
CockroachDB is not a supported database, on straight PostgreSQL is supported.

[2020-06-30 07:35] derrickmehaffy commented on #6857
@alexandrebodin can you confirm and I can close this out?

[2020-06-30 07:38] virgil9306 commented on #6857
Thanks @derrickmehaffy .

To my understanding `knex` handles it as compatible, so if Strapi has Postgres tests then it means it is working with `knex` with Postgres?

Obviously that is not a solution to say "we support CockroachDB" but since the feature of version override is supported by `knex` is there at least a way to pass this parameter to it?

[2020-06-30 07:44] alexandrebodin commented on #6857
have you tried something like this ?:

[code]

[2020-06-30 07:59] virgil9306 commented on #6857
Thanks @alexandrebodin .

Will try that now and report back.

[2020-06-30 08:06] #6857 closed

[2020-06-30 08:30] samOpenforce opened #6861 "Switching to required field if field exists with no value stops server restart"
**Describe the bug**
Enabling 'required field' if field exists but has no value stops server restart

**Steps to reproduce the behavior**

1. Create collection-type
2. Add field eg. (not required)
3. Create content for collection type
4. Do not add value to field
5. Edit collection-type
6. Make field required
7. Server attempts restart and fails

**Expected behavior**
Warning that fields may not c

[2020-06-30 09:06] kskrlinnorth2 opened #6862 "Strange behavior when trying to get ctx response info"
**Describe the bug**
[code]
This is full response from custom POST method.
`response` is equal to `ctx.response`, `status` is equal to `ctx.response.status`, `message` is equal to `ctx.response.message`, while `body` is equal to `ctx.request.body`

**Expected behavior**
I expect to get 200 and message "Ok", same as in ctx.response. Why values for status and message are different when reading from

[2020-06-30 09:45] derrickmehaffy commented on #6862
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-06-30 09:45] #6862 closed

[2020-06-30 10:03] derrickmehaffy commented on #6857
@virgil9306 Glad you found something that works out for you, regardless if knex directly supports other databases doesn't inherently mean Strapi will. Strapi "supported" databases means that every commit, every pull request, every release has been properly tested on that **specific** database. Likewise if we list it as "supported" that means users with bugs on that database can submit bugs, ect fo

[2020-06-30 10:05] XuluWarrior opened #6863 "Boom catches error before Sentry"
In the [documentation](https://strapi.io/documentation/v3.x/guides/error-catching.html#handle-errors) it says that the Sentry middleware should be added at the beginning of the middleware stack.

However, when my config is `before: ['sentry']` I have found that the boom middleware catches the error before it reaches Sentry.

So I've found that I need to set my config to `before: ['boom', 'sentry']

[2020-06-30 10:07] derrickmehaffy commented on #6863
See: https://github.com/strapi/strapi/pull/6430/files

`Make sure your middleware is added at the beginning of the middleware stack.` It does state it needs to be at the beginning.

[2020-06-30 10:07] #6863 closed

[2020-06-30 10:12] andrewl64 commented on #4126
@ruben00001 Did you managed to figure out what the problem was?

[2020-06-30 11:16] XuluWarrior commented on #6863
@derrickmehaffy It is by putting `sentry` at the beginning that causes it not to work.
I have to put it after `boom`

Or am I misreading the `before` syntax?  I assumed it reads items on the left are "before" items on the "right".

In the example, `sentry` is leftmost but I have to put it to the right of `boom`

[2020-06-30 11:33] FarhadMohseni commented on #1892
i got this solved by using `npx strapi build` in the root directory

[2020-06-30 11:40] fanixus96 opened #6864 "Removing content-type from admin is not removing custom controller and related route."
After removing content type with admin, api/removed_content_type/config/routes.json (with single route added by me) and
api/removed_content_type/controllers/controller_added_be_me with its content still exist.

**Steps to reproduce the behavior**

1. Create content_type
2.Create custom controller and route for it
3.Remove content_type with admin

**Expected behavior**
Every file related to removed

[2020-06-30 13:26] ishan123456789 commented on #2895
Same for me
[code]
Here are my strapi versions :
[code]

[2020-06-30 13:46] lauriejim commented on #3248
Hello! can you please submit a PR to fix this for everyone please. Thank you :)

[2020-06-30 14:13] lauriejim commented on #483
Hello! It's not possible to create a new field, but your can update the JSON field that currently exist in Strapi to make it matches your need.
Here is an example with the [WYSIWYG inpu](https://strapi.io/documentation/v3.x/guides/registering-a-field-in-admin.html)t.

[2020-06-30 15:02] swina commented on #6843
Ok but when the form is submitted it sends the ID as fom data. I noticed also that the Save on a existing record instantiate a PUT method. Since is an update maybe a PATCH method could solve the beforeUpdate hook with the ID

[2020-06-30 15:14] Jryke commented on #6115
Is there any workaround for this?  I am having the same issue and it is causing problems because I can see the relation in the admin panel but not in the mongo database.  The issue is that when I use the POST /auth/local endpoint to log in, I get the relations, but when I use the GET /users/me endpoint I don't get the relations.

I tried adding the relations by updating the user with the PUT users

[2020-06-30 15:33] wulucxy opened #6866 "question about create website menu video"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

These is a great video about `create website menus by strapi` on youtube:

https://www.youtube.com/watch?v=cvL204xus1w

I am missing the point why `links` is missing in

[2020-06-30 16:36] Fdom92 opened #6867 "Content Type not defined"
**Describe the bug**
After migrating from beta 18 to beta 20, I followed all the guides and got Strapi deployed on Heroku. I can enter the admin panel and update the Content Types (i.e adding media to the items).

But when going to get data from the API endpoints I'm getting errors saying the content type is not defined.

**Code snippets**
This is the log I see on Heroku when trying to make a GET

[2020-06-30 17:04] Froelund opened #6868 "Image optimising removed EXIF-data"
**Describe the bug**

When uploading images, with the "Enable size optimization" enabled, the EXIF data is being removed. The consequence for us, is that the rotation flag is missing, and we do not have anyway to know in which rotation the image should be displayed.

**Steps to reproduce the behavior**

1. With the "Enable size optimization" enabled in `/admin/settings/media-library`.
2. Upload an

[2020-06-30 17:25] vinod77 opened #6869 "Multiple image uploads to Media Library consuming huge memory results in Server restarts on DEV/UAT"
**Describe the bug**
Multiple image uploads randomly throwing `502 Bad Gateway` error & consuming huge memory, results in Server restart on deployed environments (DEV or UAT).

Earlier we were having `512 MB` memory allocated to our `Strapi` app on DEV/UAT/PROD until Strapi version: `3.0.0-beta.19.3` and it worked fine .

Now we are trying to upgrade Strapi to `3.0.0-beta.20.3` which is a major up

[2020-06-30 17:50] chaitanyya opened #6872 "Media Library changes file extension to .bin"
**Bug Description:**

After the update to v3.0.5 I see all our` .GP` file uploads are converted to `.BIN` files. The file content is unchanged and I'm able to make it work after manually updating the file back to `.GP`. I'm using S3 provider with production built. Not sure if this is limited to only this filetype but I did some rough testing with other file types like `.CSV` but couldn't reproduce

[2020-06-30 18:05] markjlaney commented on #6869
I am experiencing the same issue. Unfortunately it causes our server to continually restart and is a huge blocker for us. We can't upgrade until this issue is resolved and is a high priority bug.

[2020-06-30 19:40] nonameolsson commented on #4475
So strange. This happens for me when I clone my strapi repo and installs it. It is a new project.

[2020-06-30 20:07] nonameolsson opened #6873 "Can't install dependencies with custom .npmrc"
**Describe the bug**

I have my personal license key for FortAwesome in `~/.npmrc`. This is because I use it in other projects at work. But when I try to install the Strapi project, it complains about not being authorized to download packages from FortAwesome.

If I rename the `~/.npmrc` before installing the packages then everything works.

**Steps to reproduce the behavior**

1. Make sure you ha

[2020-06-30 22:23] ibjorn commented on #2647
If I am unable to upgrade MySQL, how and where can I alter this:

` 'created_at' timestamp DEFAULT CURRENT_TIMESTAMP,
    'updated_at' timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP`

Or is there some other workaround by any chance?

[2020-07-01 04:03] kauaicreative opened #6874 "Error after upgrade. "plugin "users-permissions" failed... Cannot read property 'id' of null""
**Describe the bug**
The following error started appearing after upgrading from 3.0.0-beta.20.3 to 3.0.5 and deploying to Heroku
[code]

**Steps to reproduce the behavior**

1. Followed instructions to upgrade
2. Upgraded Strapi from 3.0.0-beta.20.3 to 3.0.5.
3. Initially everything worked locally
4. Once I deployed to Heroku app crashed
5. At this point the following error started appearing both

[2020-07-01 05:04] derrickmehaffy commented on #6873
Based on this: https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers

It requires a different registry, and this has different package names than what is normally used within the project. I'm marking this as closed as it's not directly a bug with Strapi and you will need to make whatever changes to packages you need to use the alt font package. You will need to setup some pack

[2020-07-01 05:04] #6873 closed

[2020-07-01 05:17] moschan opened #6876 "strapi-helper-plugin style guide"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

If you want to extend the function, you will create own plugin. strapi provides some shared helper component which you can use for building UI of plugin. I think it's b

[2020-07-01 05:44] derrickmehaffy commented on #2647
@ibjorn would probably be better to open a discussion than to post on a year old closed issue.

[2020-07-01 05:58] derrickmehaffy commented on #6873
see:

https://strapi.io/documentation/v3.x/getting-started/troubleshooting.html#how-do-i-customize-a-plugin
https://strapi.io/documentation/v3.x/admin-panel/customization.html#customize-the-strapi-admin-package

[2020-07-01 06:24] viters commented on #5950
@lauriejim
The problem is way more serious than just showing error. It effectively stops you from searching / attaching relations by ID via admin panel.

[2020-07-01 07:01] viters commented on #5950
Fast fix for people who need this to be working (like me):

Create file: app/extensions/content-manager/controllers/ContentManager.js

Reimplement find to use `id_eq` comparator instead of `id_contains`:
[code]
It will require you to pass whole ID in select, but at least it is usable then.

[2020-07-01 07:12] pooja1425 commented on #3377
I am getting blank /admin page after migrating to strapi stable version.
Error in console window: TypeError: currentPluginFn is not a function

Not able to create a strapi admin user also.

[2020-07-01 07:55] officialrj18 opened #6877 "Error in installation on Linux"
### Error while installation on Linux

**Steps to reproduce the behavior**
1. yarn create strapi-app my-project --quickstart
2. See error

**Code snippets**
`npm install
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated boom@7.3.0: This module has moved and is now available at @hapi/boom. Please update your depen

[2020-07-01 08:31] dimozaprianov opened #6878 "The admin panel doesn't show matching results when searching for entries in collection"
**Describe the bug**
The admin panel doesn't show matching results when searching for entries in collection

**Steps to reproduce the behavior**

1. Go to Admin
2. Click to edit a collection with more than 10 entries
3. Go to the last page
4. Click on Search for entries... and start typing a string that should match at least one of the entries
5. When you have just a few matches, the interface ind

[2020-07-01 08:37] derrickmehaffy commented on #6877
ensure you install the `build-essential` and `libpng-dev` packages.

[2020-07-01 08:53] Fdom92 commented on #6867
I was digging into this issue and seems like in the controllers `Test` is no longer the model. I added this line `const Test = strapi.query('test').model;` at the start of each service function and now is returning the data.

Wondering where I miss something, I created this Strapi project back on old versions and was working till beta 18, but when migrating to beta 20 stopped working.

All the con

[2020-07-01 09:29] Fdom92 opened #6879 "Media Library files stop working"
**Describe the bug**
I'm using the default flow to upload Media to Strapi. I have a Content Type with a cover photo and video, I add the videos and images to Media Library by uploading assets button.

At the start all works fine, I can see the images and videos on Media Library and my Content Type has the correct cover and video, but after some time the content on Media Library stop working. The C

[2020-07-01 09:43] soupette commented on #6876
Hello @moschan the `strapi-helper-plugin` is a package where components will be deprecated (the migration takes time so we continue to use it a bit) but the idea is to use [Buffet.js](https://buffetjs.io/) here's the associated [documentation](https://buffetjs.io/storybook/?path=/story/get-started--welcome). At some point the administration will only use very specific components that are only made

[2020-07-01 09:49] nkmnz commented on #6634
### Relationships should be able to hold properties

**Issue:**
Relationships cannot hold hold properties. Instead, they have to be stored and accessed via a separate content-type.

**Context:**
If you have a complex relationship between two entities, you have to create additional content-types that store the properties of those relationships, just like you would have to create a new table in SQL

[2020-07-01 10:10] #6368 closed

[2020-07-01 10:10] lauriejim commented on #6368
Fixed in my docs review

[2020-07-01 10:13] tan-ahmed commented on #4776
@d-ban thank you so much. I did not know it was possible to "log" completely new to strapi.

[2020-07-01 10:56] officialrj18 commented on #6877
@derrickmehaffy , just checked, they are already installed.

[2020-07-01 10:57] derrickmehaffy commented on #6634
### Standardize Parameters

**Issue:**
Currently Strapi is not using any known/recognized standard for parameters/filtering (on REST, GraphQL is a bit more open ended)

**Context:**
Much of the context is included in my discussion: https://github.com/strapi/strapi/discussions/4906 but in summery of that wall of text:

Strapi doesn't have a good means of choosing between $and and $or based filterin

[2020-07-01 11:09] Trireir commented on #6872
I had the same issue, but it seems that it's already fixed in master right now, should be available in the next release.

The problem was that the [strapi-plugin-upload](https://github.com/strapi/strapi/blob/v3.0.5/packages/strapi-plugin-upload/services/Upload.js#L46) retrieved the extension of the file from the mimetype. Those kind of files doesn't have an specific one, so they have the default a

[2020-07-01 11:10] ruben00001 commented on #4126
No. I just used the workaround I mentioned above.

[2020-07-01 11:34] zbrcz commented on #3248
Well, I think the real fix should be different than my "hack". I'd say a field for the tenant endpoint should be added into the Microsoft provider configuration dialog and the endpoint should be stored in the DB and then used in the requests.

I'd love to help but the solution is non-trivial and I am unfortunately working on a project past its deadline at the moment... Maybe when it's over...

[2020-07-01 12:05] derrickmehaffy commented on #6877
It would appear that you have some kind of resolution problem with libvips, I can't reproduce this on Linux mint. Although I did notice your mom version is a tad high, did you install node v14 then downgrade to v12? It's possible you have an issue with that npm version that ships with v14

[2020-07-01 13:14] kauaicreative commented on #6874
If anyone has this issue in the future I was able to get the app running again by replacing the role column `null` values with `1`

[2020-07-01 14:02] michisp commented on #6634
### No conditional logic for fields

**Issue:**
Currently it isn't possible to show certain fields if another field matches a specific value.

**Context:**
Sometimes it's necessary to show certain fields dynamically to hide fields that will not be available on the frontend. E.g. an enumeration-field with the values "text" and "image" should show different fields.

[2020-07-01 14:32] d-ban commented on #4776
@tan-ahmed  yeah, it's working. if you want to log data `strapi.log.debug("data",data)`

[2020-07-01 14:58] ericwindmill opened #6880 "Updated heroku documentation"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

I haven't actually done those things above.

It doesn't take much time in the Slack channel or here in the github issues to see that there are a lot of questions about

[2020-07-01 15:05] laurenskling commented on #6725
yes, it should be. That isn't the issue tho, I just wrote it wrong for this issue

[2020-07-01 15:06] derrickmehaffy commented on #6880
@ericwindmill Do you mind doing a PR?

Related to your points

- Not that I'm aware of
- Never seen the proc either
- This is normally because the user is starting the process on localhost and not using `0.0.0.0` most of these issues are because older users did not read the migration guide: https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.19-to-beta.19.4.html#listened-host

[2020-07-01 15:10] joelbqz opened #6881 "Incorrect Examples Value on Documentation Plugin"
**Describe the bug**
On documentation plugin examples on some endpoints are showing "foo": string

**Steps to reproduce the behavior**

1. Create a new Strapi project using --quickstart
2. Install documentation plugin
3. Open documentation and go to UserPermissions - User
4. See example value on: `/auth/local` `/auth/forgot-password` `/auth/reset-password` etc

**Expected behavior**
Example Value:

[2020-07-01 15:12] ericwindmill commented on #6880
@derrickmehaffy As I read this, I did finally manage to get Strapi deployed to heroku. I had to use both the node build pack and a procfile.

I don't mind putting in a PR, but I have some general questions that I need to solidify before I do so, because I don't want to put in the wrong information. I will follow up either here or with a PR when I have time.

[2020-07-01 15:31] devskope opened #6882 "GraphQl queries error out when using where clause"
**Describe the bug**
Getting an error (`"$in requires an array as a second argument, found: missing"`) when I send GraphQL queries containing a `where` clause:

Request:
[code]

Response:
[code]

**System**

- Node.js version:  12
- Strapi version:  3.0.5
- Database: mongoDB
- Operating system: Ubuntu

[2020-07-01 15:38] sriram10 commented on #4283
@sndrgb May I know how it got resolved? I'm still facing issue. I couldn't do a custom query.

Here is my sample code:
[code]

This is the error message I'm getting,
[code]

[2020-07-01 16:04] derrickmehaffy commented on #6880
Absolutely I completely understand, honestly some of the best documentation I've seen is written by those learning it as they go. And if you have questions they can certainly be addressed in the PR too. By all means you are welcome to poke me on the Strapi slack as well.

[2020-07-01 17:21] tmalaher commented on #6051
I've run into several similar/related markdown preview issues:

- tables render with just the cell text all slammed together as a single paragraph. The cell markers ("|" and "| ---- |") are gone and just the cell contents remains (but otherwise marked up inline as expected: bold/italic/etc.)
- tasklists display as normal bulleted lists (the checkboxes are MIA)
- inline code (backticks) just displa

[2020-07-01 17:48] officialrj18 commented on #6877
@derrickmehaffy i didn't install node v14, i am in node v12 and i have tried by downgrading it too but didn't work. Is there anywork around to solve this resolution issue if it is the main cause.

[2020-07-01 18:21] arilishu commented on #787
i have installed strapi, and it's great.
I stopped the service to install graphQL..
Now I try to run npm start but the content type is not updating.
it's says that i have to run strapi develop, but this message appear: The term 'strapi' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the p

[2020-07-01 19:59] devskope commented on #6882
Figured this out,  turned out the document relationships somehow got messed up.  Closing this

[2020-07-01 19:59] #6882 closed

[2020-07-02 01:42] mizvyt commented on #4630
I am facing the same issue on many-to-one relationship:
An Article has a Topic, but the Topic does not show up when editing this Article if "autoPopulate" on "topic" within "article" is set to false.

![image](https://user-images.githubusercontent.com/43022287/86306951-1db09380-bc48-11ea-8ea6-d55d44b64e5e.png)

If we click "Details" on the above, we get a nasty error in the dashboard, as it's tryi

[2020-07-02 01:55] mizvyt opened #6883 "Foreign relationship shows up as blank in admin panel with autoPopulate: false"
**Describe the bug**
Let's say we have a system of Topics and Articles within them. An Article has a single Topic, but the Topic does not show up when editing this Article if "autoPopulate" on "topic" within "article" is set to false. This issue requires me to set the property to "private" instead, but then I don't get the ID of the Topic returned in REST of course...

**Steps to reproduce the beh

[2020-07-02 05:09] gaplo917 commented on #5722
@Igal-Kleiner You could follow this plugin's instructions on how to integrate your custom CKEditor (create from a webpack CKEditor build and import manually)

https://github.com/gtomato/ckeditor5-strapi-upload-plugin

[2020-07-02 05:26] Canice-James commented on #2972
Bump.

[2020-07-02 06:57] moschan commented on #6876
Thanks @soupette I understand current situation.

Then I think it's better that:

- Adding notice here (https://github.com/strapi/strapi/tree/master/packages/strapi-helper-plugin) to prevent developer use those components to create new plugin.
- Adding link and guide here (https://strapi.io/documentation/v3.x/plugin-development/frontend-development.html) for making developer use Buffet.js as much

[2020-07-02 07:50] elenaVal opened #6885 "Connect strapi project with existing postgres - postgis database"
Hello,

At first i would like to say that i am very new to the Strapi framework.
Currently, i am trying to create a strapi project and connect it with an existing postgres database. This database has already some manually created tables.

So, i tried to create the project with the existing database as well as i have made one modification in order to define the schema parameter in the database file

[2020-07-02 10:08] virgil9306 commented on #6857
That makes sense @derrickmehaffy . Thanks for your help. I will strongly consider moving to an officially supported database. I've closed this issue. I hope others looking for CockroachDB support will find some useful info and information to decide on.

[2020-07-02 10:09] hendrikgaffo commented on #6640
I am getting the same error, but I did not upgrade anything. I am still running on v3.0.0-beta.20 since it was released. Interestingly everything works in dev (Ubuntu 16 LTS, Node 12.18.1), but not in production (Docker container with node:12.8.0-alpine).

@PhantomxJoker Which version of Node did you use in your container to make it work?

[2020-07-02 13:19] 8byr0 commented on #5250
If anyone's wondering why context is not available in controller using the snippet above(Thanks @fullmoon6661 for providing it!), update code like this:

[code]

The main benefit of passing context like this is to share the same code to handle HTTP and Gql requests. Is you want to add args, you can still pass them to `ctx.query`, just the way an HTTP request would be.

And for the explaination, th

[2020-07-02 14:07] AmelieNapoli opened #6890 "STRAPI - I Cannot create the first user."
0) I have been created a Strapi project with  npx create-strapi-app react-mongo
1) Run strapi with npm run start
2) It directly goes to http://localhost:1337/admin/auth/login instead http://localhost:1337/admin/auth/register
3) So i cannot access to strapi

**System**

- Node.js version: v13.7.0
- NPM version: 6.13.6
- Strapi version: 3.0.4
- Database: mongodb
- Operating system: centos7

[2020-07-02 15:02] zreecespieces commented on #4954
I'm currently experiencing this:
- Strapi 3.0.0
- Node v13.11.0
- MongoDB Atlas
- macOS 10.14.6

I'm successfully redirected from the application frontend to the Facebook OAuth screen via http://localhost:1337/connect/facebook. Then I'm redirected back to the application correctly after giving permission, but only with the query parameters:

access_token: EAAKZ...
raw[access_token]: EAAKZ...
raw[t

[2020-07-02 15:59] AmelieNapoli commented on #6890
Sorry, The MONGo database already had a USER table, and was in confusion

[2020-07-02 15:59] #6890 closed

[2020-07-02 16:36] Bendrog opened #6892 "Admin Panel not accessible"
**Describe the bug**

When going to `/admin/auth/local` and validating my credentials, the Admin panel won't open.

I get a `forbidden 403` such as shwoun bellow

**Console**
[code]

**Steps to reproduce the behavior**

This probably comes from the fact that I "played" with the plugins.

I took most of `config` & `controllers` from [This repo](https://github.com/larsgroeber/riedbergtv/tree/e925058

[2020-07-02 19:39] petertenhoor commented on #3946
+1

Enabling a sort setting for a content type which enables drag & drop sorting would be great.

[2020-07-02 20:32] Ashot-KR commented on #6643
I was wrong – fonts comes from buffetjs, there is same problem with cyrillic characters
![image](https://user-images.githubusercontent.com/899218/86406664-365a9100-bcbc-11ea-82c7-147459089bbe.png)

[2020-07-02 20:44] FrankMwandi commented on #3690
I am getting same problem

[2020-07-02 21:06] Ashot-KR commented on #6643
made [PR to buffet](https://github.com/strapi/buffet/pull/140) to fix issue with fonts

[2020-07-03 01:49] kurosaki-ken opened #6897 "strapi problem or nuxt problem?"
first Login and requests are all fine.
**nuxt.config.js**
`auth: {
    plugins: [ {src: '~/plugins/axios.js', ssr: true} ],
    strategies: {
      local: {
        endpoints: {
          login: { url: '/v1/auth/local', methods: 'post', propertyName: 'jwt' },
          user: { url: '/v1/users/me', methods: 'get', propertyName: false },
          logout: { url: '/', methods: 'get' }
        },

[2020-07-03 06:37] kurosaki-ken commented on #6897
+
I am figuring it out as a nuxt ssr problem.

[2020-07-03 06:38] #6897 closed

[2020-07-03 07:18] shrutisahatpure commented on #5631
hi @benediktgrether  i tried to use 'strapi develop' command but i got "'strapi' is not recognized as an internal or external command,
operable program or batch file." Can you please help with this?

[2020-07-03 07:41] shrutisahatpure commented on #1901
Hi, @EDMONDGIHOZO. I had same issue then I tried to Install strapi globally by 'npm install -g strapi@beta' . This solved my issue. Hope this will help you :)

[2020-07-03 07:48] Renishpr commented on #1906
It seems like after the update all the files like
[code]
have been removed.
i am not able to find `{strapi-root}/config/environments/development/request.json` anywhere

[2020-07-03 07:56] soupette commented on #6876
Yes exactly they should only use the utils from this package and the `PopUpWarning` component.

[2020-07-03 09:35] abumalick opened #6901 "Sentry middleware is not catching the error when throwing an error in custom controllers"
**Describe the bug**

Sentry middleware is not catching the error when throwing an error in custom controllers. I followed official documentation to configure the sentry middleware: https://strapi.io/documentation/v3.x/guides/error-catching.html#handle-errors

**Steps to reproduce the behavior**

I made a  reproduction repository here: https://github.com/abumalick/strapi-sentry-error

1. Bootstrap

[2020-07-03 10:49] zcapin commented on #2336
Please mark its just for mongoose and not for SQL db, its confusing

[2020-07-03 11:01] derrickmehaffy commented on #6885
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-07-03 11:01] #6885 closed

[2020-07-03 11:02] derrickmehaffy commented on #6892
Considering those haven't been updated in over a year, yes the issue is with using those controllers. I'm marking this as closed as it's not a bug.

[2020-07-03 11:02] #6892 closed

[2020-07-03 11:04] derrickmehaffy commented on #6877
I don't have much of any guidance for issues with sharp/node-gyp. I ran a virtual machine of the latest mx linux with node 12 and didn't hit any issues. Something had to have been changed or something on your own install is throwing problems but it's not a bug of Strapi.

[2020-07-03 11:08] derrickmehaffy commented on #6901
The middleware isn't triggered because the controller doesn't return anything, meaning it doesn't work back up the call tree. Try adding a `return { okay: false }` to the controller

[2020-07-03 13:07] abumalick commented on #6901
@derrickmehaffy If I add a return statement after throwing an error the return statement will never get triggered.
[code]

[2020-07-03 13:56] tseidler opened #6904 "Short text field -> link (url) disappearing in endpoint output"
**Describe the bug**
I have used the `Content-Types Builder` to build a content type to store 'affiliate links'.
When I insert a very specific url the resulting value returned from the API / endpoint is "".

If I look in the Strapi admin panel everything seems fine. The URL is there.

**Steps to reproduce the behavior**

1. Go to `content type builder`
2. Create a new collection type
3. Name the c

[2020-07-03 13:59] tseidler commented on #6904
So yeah.. I don't get it :).
Any suggestions on how to debug this are welcome.

[2020-07-03 14:02] Marcosul opened #6905 "Swagger Generate Components Name wrong"
hello,

Look screenshot. All components name are same first components in Swagger. Only Swagger.

![image](https://user-images.githubusercontent.com/4714018/86476327-ae58a380-bd1c-11ea-9cb8-0b923eb1eff3.png)

[2020-07-03 15:38] derrickmehaffy commented on #6904
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-07-03 15:38] #6904 closed

[2020-07-03 18:35] matschundbrei opened #6907 "setting a fallback for 'uri' in server.js results in that fallback being baked into javascript"
We noticed a strange behaviour on the current release. (3.0.5).

We are running a small instance in AWS ECS and we like to configure the url according to the environment the container is being launched in.

So I have set the url config in the latest version to:
`url: env('APP_URL', 'http://localhost:1337')`

when visiting the admin endpoint on our instance, we just saw a spinner and looked in seve

[2020-07-03 18:55] chandruyesyes opened #6908 "WHERE Filter returns empty result after 20 attributes"
**GraphQL query returns empty result after applying more than 20 filter values**

**Steps to reproduce the behavior**

1. Go to 'GraphQL Playground'
2. Enter the below query
[code]
3. See the below result
[code]
4. If I reduce the filters to less than 21 records I can see the results
5. No errors on the console

**Expected behavior**
It should return the filtered values

- Node.js version: v12.18.

[2020-07-03 20:12] HonzaVrkota opened #6909 "Email confirmation send wrong auth link"
**Describe the bug**
When new user register, user receive email with link for confirmation of the account.
But the link is sent without url and looks like this: _/auth/email-confirmation?confirmation=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNTkzODA2MjMzLCJleHAiOjE1OTYzOTgyMzN9.U3V_bVVnE7UnMq_8RNs_rdW7-uQmIStdBqNvDyEeReo_

**Steps to reproduce the behavior**

1. Go to your strapi da

[2020-07-03 21:13] derrickmehaffy commented on #6907
`do not use this configuration parameter in static files generated within the app` That won't be possible, due to how the build happens, Strapi's Admin uses react, and it serves the "built" react static files. So this host needs to be set when you build. React is a client side rendered framework, so that URL is what tells it where to send requests.

[2020-07-03 21:15] derrickmehaffy commented on #6909
Do you have the url setting set in the `config/server.js` ?

[2020-07-03 21:16] HonzaVrkota commented on #6909
[code]

[2020-07-03 21:20] derrickmehaffy commented on #6909
That would be your problem: https://strapi.io/documentation/v3.x/concepts/configurations.html#server

The `url` setting is what tells the rest of the Strapi application what your "public" URL is.

[2020-07-03 21:25] derrickmehaffy commented on #6909
@petersg83 @alexandrebodin can you confirm it's intended to have no prefix before the path, I think a lot of the confusing is that it doesn't automatically prefix with `http://${host}:${port}`

[2020-07-03 21:34] HonzaVrkota commented on #6909
Yes now it works.
I think in the docs can be specified also the url with vars host and port. I didnt notice the url param in the table under the example.
http://${host}:${port}
[code]

[2020-07-03 22:56] olso commented on #4720
Maybe this will help someone in the future https://github.com/stripe/stripe-node/issues/396#issuecomment-653691205

[2020-07-03 22:57] olso commented on #6794
Maybe this will help someone in the future https://github.com/stripe/stripe-node/issues/396#issuecomment-653691205

[2020-07-03 23:42] MANTENN commented on #6759
@marefati110, can you reference the issue your created on bookshelf so we can follow through and see what's the status?

Thanks,
Nazar

[2020-07-04 07:51] dimozaprianov opened #6910 "Put the SQLite database file is in folder not named .tmp"
**Describe the bug**
The SQLite database file lives in folder named .tmp. Probably .database or something like that will be more appropriate, as .tmp may lead you to believe you can delete the folder.

**System**

- Node.js version: 12.16.1
- NPM version: 6.14.4
- Strapi version: 3.0.5
- Database: SQLite
- Operating system: Windows 10

[2020-07-04 08:00] matschundbrei commented on #6907
@derrickmehaffy:
My claim is, that if I can set parameter on runtime, it does not make sense to include that parameter on buildtime, it should be included only on runtime.

If there' s a need to have this parameter built into static-files, then it should be done on `yarn start`  after the container boots and not when the container is build.

Maybe my wording wasn' t exactly perfect to begin with,

[2020-07-04 09:44] derrickmehaffy commented on #6907
I think your missing the point that the Strapi backend doesn't -have- to actually serve the admin, it could be prebuilt and served statically by the upstream proxy while your backend is scaled to meet demand without worrying about the admin.

Generally speaking you would define this in a .env so you don't have to declare it on the CLI either during build nor run time, but if it's not in the .env y

[2020-07-04 09:50] derrickmehaffy commented on #6910
You can change where it's stored in the `config/database.js` file.

Marking as closed.

[2020-07-04 09:50] #6910 closed

[2020-07-04 12:03] dhazeley commented on #6634
### Media Library has no folder/directory structure

**Issue:**
Files uploaded to the media library cannot be sorted into folder or directories and are all saved directly on the top level. This makes it very hard (impossible,  really) to use for large amounts of data assets.

**Context:**
I am using Strapi to organize a database of over 700 products. Each product can have 5 to 20 images associated

[2020-07-04 14:28] tspvivek opened #6912 "Wrong flag is shown for swedish language."
**Describe the bug**
When swedish language is enabled and selected, the flag shown in admin panel header is wrong. Its showing el-salvador's flag instead of sweden's flag. Seems like a confusion between language code and country code. Language code 'SV' is correct but country code should be 'SE' instead of 'SV'.

**Steps to reproduce the behavior**

1. Enable swedish language (sv)
2. Select the la

[2020-07-04 20:04] dimozaprianov commented on #6910
I know it can be changed. The problem is with the default value, which is misleading. The folder is anything but temporary and I think the default name should reflect that. In my case I wanted to clean the cache after some error and I see a folder that is named .tmp. I know it wasn't very wise of me to delete something that I don't know what exactly is, but on the other hand it is called .tmp, rig

[2020-07-05 02:28] ans1genie commented on #3047
Hello
Any updates for this subject?

[2020-07-05 02:48] gpiccin commented on #6853
Delete the registry in table 'upload_file_morph' where related_type is equal 'tests' and try again. This works for me.

[2020-07-05 10:46] vincentdoerig commented on #6912
The issue here is that the localisation file for swedish is wrongly named. It should be `se.json` instead of [`sv.json`](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/sv.json). I can submit a PR if needed.

[2020-07-05 15:50] matschundbrei commented on #6907
I don't think that I am missing this point and at no point in this discussion do I ever argue that this specific functionality should be altered.

This also was never argued and/or asked by me.

Again, this is fully understood and completely fine with me.

I do understand the differences in CSR and SSR and I would really appreciate if you stop explaining to me how they differ.

With that being sai

[2020-07-05 16:24] derrickmehaffy commented on #6907
- `yarn develop` => If there is no build folder, build with whatever environment is specified, if none then development
- `yarn start` => Run the application as is, if there is no build folder, it runs without it and thus no admin interface

When doing a `yarn start` it does not rebuild the admin, you need to build the admin with `yarn build`. When Strapi is running, it will only serve the static

[2020-07-05 16:24] #6907 closed

[2020-07-05 17:52] chano-navarro commented on #6625
Hi, guys.

I read the documentation (and all the forum questions and answers) like a hundred times and nothing really worked for me. I get so frustrated (and I'm brand new on this development world).

I leave you a link with an article that helped me to solve my problem with cloudinary.
[https://medium.com/@kwinten.yc.li/strapi-set-default-file-upload-provider-to-s3-cloudinary-rackspace-5b8ef6f61d

[2020-07-05 19:02] FreTimmerman opened #6915 "Status 500 Error message not clear for constraint validation"
related to #1175
**Informations**

- **Node.js version:**
 12.14.0
- **npm version:**
 6.13.4
- **Strapi version:**
 3.0.4
- **Database:**
SQlite (default)
- **Operating system:**
Linux version 3.10.105

**What is the current behavior?**
The returned error message isn't clear

**Steps to reproduce the problem**
Post an object that is already exist and the field that we insert duplicate data is "un

[2020-07-06 00:07] moschan commented on #6876
Thanks, I gonna work on it.

[2020-07-06 03:27] officialrj18 commented on #6877
updated mx linux to latest 19.2 (was on 19.1) .tired to make new project and this what i got again.

`yarn create strapi-app strapiPrj --quickstart
yarn create v1.21.1
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...

success Installed "create-strapi-app@3.0.5" with binaries:
      - create-strapi-app
Creating a new Strapi applic

[2020-07-06 05:53] JKortmann commented on #6634
### Missing relations between `components` and `single types`

**Issue:**
ATM it is not possible to create a component that is relating to a single type.

**Context:**
This would be very handy when e.g. creating dynamic navigations or footer. When having a collection type (e.g. Navigation Categories) that withholds categories for a navigation that uses components for storing links to other pages.

[2020-07-06 08:03] petersg83 commented on #6909
For now, there is no prefix but soon it will take by default (if `url` doesn't exist) `http://${host}:${port}` :)

[2020-07-06 08:53] lauriejim commented on #6791
Hello! Thank you for reporting this.
I ping @soupette to see when he will have time to inspect that and try to improve the way we are managing that.

[2020-07-06 09:02] lauriejim commented on #6822
Hello! thank you for this message.
I think it could be a good idea to manage more grant options like `subdomain` in this case.
Feel free to submit a PR, I will appreciate that.
(but think that should not be only for your use case w/ AWS Cognito :) )
Thank you!

[2020-07-06 09:07] lauriejim commented on #6824
Hello! Thank you for this clean report.
You are mentioning 2 different issues that are already in the GitHub issues and also in our roadmap.
So I will close this issue.
After that, it was a good formatted issue and thank you for that.

[2020-07-06 09:07] #6824 closed

[2020-07-06 09:09] lauriejim commented on #6831
Hello! Thank you for this issue.
I agree, we should be able to manage polymorphic relations in the admin.
But this is not possible. It's not a bug, it's simply that we didn't developed it for now.
I pinged the product team about that last week.

[2020-07-06 09:11] #6836 closed

[2020-07-06 10:20] ralphsomeday commented on #6822
@lauriejim PR submitted for your review

[2020-07-06 14:34] lauriejim commented on #6837
Hello! We are aware about that, I think this is the wanted behaviour.
I ping @alexandrebodin about that.
I found it weird too.

[2020-07-06 15:14] alexandrebodin commented on #6837
Hello @jblevins1991 Renaming is mearly an action of change the display name. We should be clearer in the UI.

This does not change the routes or the db table name to avoid breaking something if you started creating data.

A full rename is a file system an database operation. It is really destructive so we want to make sure the user does not make a mistake and uses the delete action. We could all t

[2020-07-06 15:40] lauriejim commented on #6843
Thank you for this report - I confirm, it doesn't work and I have the same error message.
I ping @alexandrebodin about that.

[2020-07-06 15:50] alexandrebodin commented on #6843
Hello, Did you read the doc ?

The beforeUpdate function takes to arguments `params` and `data` you are modifying the params thus trying to edit and entry with this slug and it doesn't find it.

[2020-07-06 15:50] #6843 closed

[2020-07-06 15:50] alexandrebodin commented on #6843
You can find the doc here: https://strapi.io/documentation/v3.x/concepts/models.html#lifecycle-hooks

[2020-07-06 23:57] kzkr commented on #1906
Same here. I can't find these files, it does not work even if I try to create such a file in my config folder.
Working locally on the --quickstart environment.

Thanks for your help!

[2020-07-07 09:38] lauriejim commented on #6853
Thank you for reporting this issue, we already have one related to this.
Thank you for the solution to fix.

[2020-07-07 09:38] #6853 closed

[2020-07-07 09:39] lauriejim commented on #6861
Hello this is a duplicate of this issue - https://github.com/strapi/strapi/issues/6292

[2020-07-07 09:39] #6861 closed

[2020-07-07 09:40] #6866 closed

[2020-07-07 09:42] #6867 closed

[2020-07-07 09:53] lauriejim commented on #6850
Hello! According to the code source of the session middleware
I think you should use `ctx.state.session` - https://github.com/strapi/strapi/blob/1cb92daa77980c54c94adec6b6f550978beba433/packages/strapi/lib/middlewares/session/index.js#L131

[2020-07-07 09:53] #6850 closed

[2020-07-07 09:55] lauriejim commented on #6822
Thank you! I will check that soon as possible :)

[2020-07-07 10:08] alexandrebodin commented on #6016
Closing as https://github.com/strapi/strapi/pull/6916 was merged. It will be available in the next release :)

[2020-07-07 10:08] #6016 closed

[2020-07-07 10:42] kzkr opened #6924 "UPLOAD File - Request failed with status code 413"
**Current behavior**

When I try to upload a file (.jpg, ~900ko) using NuxtJS + Axios, I get a 413 payload size error.

HTML
[code]

JS
[code]

CONSOLE
[code]

Referring to the documentation: https://strapi.io/documentation/v3.x/plugins/upload.html#configuration, default max size is set to 200mb.

**Expected behavior**
Upload file to AWS S3.

Note : everything is working fine through the admin pan

[2020-07-07 11:04] #6924 closed

[2020-07-07 11:05] kzkr commented on #6924
The problem was relative to form data.

[2020-07-07 11:16] raphaelsoul commented on #5997
any resolution? In my case there's no plugin named upload event it is listed in package.json. Also tried install again with `yarn strapi install upload`

[2020-07-07 13:47] creslinux commented on #5868
I ran into this, to add my two-pence worth, insisting an S3 bucket be made public to operate is wrong.

Its not unusual for buckets be only presented behind authenticated gateways, s3 proxies, or even internal stack for caching caching and of course CDNs.

By default asking to put all media directly on the web and public, even media not associated to any mode/slug is overly opinionated of use.

[2020-07-07 13:50] soupette commented on #6912
@vincentdoerig if you could submit a PR it would be great!

[2020-07-07 14:34] raphaelsoul commented on #5877
try visit http://127.0.0.1:8000

[2020-07-07 15:32] coderdix commented on #6909
I'm getting a
REGISTRATION ERROR:  TypeError [ERR_INVALID_URL]: Invalid URL: /auth/email-confirmation

My request is also responding with a 400 error "Email already taken"

I have email confirmation setting on and some custom fields in my registration. Am I missing something? I've spent a couple days on this now and read through various issue threads - I'm stumped

server js is
`module.exports = (

[2020-07-07 15:40] raphaelsoul commented on #6791
if it is totally networking issue, try this
[code]

[2020-07-07 15:50] raphaelsoul opened #6928 "Is there any possible to have two admin panel in the same time?"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

While I am wondering if i could setup a totally new admin panel highly customized for doing resource CRUD in `/dashboard` while keeping `/admin` for managing content types and some system level management.

It i

[2020-07-07 15:52] andylacko opened #6929 "Session is undefined in GraphQl plugin"
Hello, referencing to #6850 , ctx.state.session is `undefined` 🤷‍♂️

[2020-07-07 15:52] janokacer commented on #6850
Hello! Thanks for your response. Unfortunately, it didn't help.

[code]

[2020-07-07 15:59] raphaelsoul commented on #6928
#1465

[2020-07-07 16:02] raphaelsoul commented on #6928
seems i can do it by calling strapi.app？

[2020-07-07 16:04] derrickmehaffy commented on #6929
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-07-07 16:04] #6929 closed

[2020-07-07 16:04] derrickmehaffy commented on #6850
it would be `ctx.state.session` not `context`

[2020-07-07 16:07] andylacko commented on #6929
tak vy ste pekni curaci

[2020-07-07 17:08] Torone opened #6931 "Delete images do not clear all sizes on AWS S3"
**Describe the bug**
I'm uploading images on AWS S3 using the plugin `strapi-provider-upload-aws-s3` version **3.0.5** and with the Strapi **Enable responsive friendly upload** `on`.

It is uploading correctly the images into my Bucket and it save, for each image, 4 files: original, small, medium and large version. Good!

When I delete the files: `DELETE` `/upload/files/:id` it removes only the "g

[2020-07-07 17:31] creslinux commented on #2287
@krynv this is exactly what i was looking for, thanks. Its not obvious as the pencil looks to edit the name only

[2020-07-07 18:18] monkeymosher opened #6932 "Uploading media not updating updated_at"
**Describe the bug**
 When I update a record by uploading an image, it doesn't seem to trigger an update of the updated_at timestamp of that record.

**Steps to reproduce the behavior**

1. Edit any record from the admin section
2. Upload and add media to the record
3. Save the record
4. Image is added to the record but updated_at date is not updated

**Expected behavior**
Updating the content (in

[2020-07-07 18:24] derrickmehaffy commented on #6932
This is because the actual model that has a relation to the media wasn't updated, the media entry itself was. Strapi doesn't control the updated_at/created_at they are automatically generated by the database itself, so if nothing on that table was updated then the date won't change.

You should have a field in the relation for the media file that also includes an `updated_at`. Marking as closed as

[2020-07-07 18:24] #6932 closed

[2020-07-07 18:31] monkeymosher commented on #6932
Oh, makes sense. Thanks!

[2020-07-07 21:10] liming commented on #2992
Any update of this issue? We cannot move forward without this being fixed. Is there any workaround of this bug?

I noticed the high priority label has been removed... How is this not high priority if there is not workaround provided?

[2020-07-08 01:38] matthewthomsonnz commented on #3946
+1 Googled "collection order strapi" and now I'm here and disappointed - very fundamental feature and should be high priority

[2020-07-08 01:55] AugustGSP commented on #3946
I currently use an order field in place of this feature, luckily my collection is only 5 or so items. This method would does not scale though, I couldn't imagine maintaining order fields for more than 20 items. This feature would be a nice addition.

[2020-07-08 05:40] derrickmehaffy commented on #6877
This issue is outside of Strapi control based on reading through https://github.com/lovell/sharp/issues/1882

I'm going to mark this as closed, please refer to sharp and likewise libvips https://github.com/libvips/libvips

As this is a user environment issue and not a bug with Strapi (I am completely unable to reproduce this on over 18 tests with 8 different operating systems)

[2020-07-08 05:40] #6877 closed

[2020-07-08 05:44] derrickmehaffy commented on #6634
I am going to close and lock this issue as we have passed the timeframe for requesting responses. This will give the Strapi team time to review and make plans for the v4.

Thank you to everyone you posted your response, and thank you to those to added your votes.

[2020-07-08 05:44] #6634 closed

[2020-07-08 06:48] jblevins1991 commented on #6837
I think there should be an option to rename both. I understand the benefit to not immediately renaming the endpoint as the work might not be planned within the same sprint the collection was renamed. However, most teams will not be happy with the added confusion and will want to align the endpoints with the collections.

[2020-07-08 06:50] collegewap opened #6935 "Upload gets timeout while bulk uploading images"
**Upload gets timeout while bulk uploading images**
* When I upload 20 images at a time I get the timeout. The issue was replicable with 4 images as well.
* I have Strapi deployed to Heroku with Cloudinary
* If I upload in small numbers, like 2-3 it gets uploaded
**Steps to reproduce the behavior**

Upload more than 5 images, each having a size between 2-4MB to Media Library.

**Expected behavior*

[2020-07-08 09:21] mizvyt commented on #5036
@derrickmehaffy, sorry for pulling an old issue to the daylight, but it's already almost Q3 2020 and we don't have any admin panel user roles. I am particularly interested in the predefined "author" or "editor" role in the CE of Strapi as planned. Do you have an updated roadmap for this? Can we expect it to be issued any time soon? It's a pretty important issue given that the only way to easily ed

[2020-07-08 10:19] podeig opened #6938 "How to get a reason why entry was not posted/added for unique fields?"
Hi,

I have an unique field in a collection "email". When I post a new entry I get just generic error without reason.
I wish to show to user message like "Your email was not added because it is already registered!".
How to do this?

I receive just
[code]
![image](https://user-images.githubusercontent.com/32296171/86907061-c3ff0c00-c114-11ea-9c88-e292c9ab4750.png)

[2020-07-08 10:30] derrickmehaffy commented on #6938
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-07-08 10:30] #6938 closed

[2020-07-08 10:52] iamwebdev opened #6940 "user permission collections not accessible from mongo shell"
I am facing issue while accessing user permissions and role collections in mongo shell.

2020-07-08T16:15:27.151+0530 E QUERY    [thread1] ReferenceError: permissions_permission is not defined :

[2020-07-08 10:53] derrickmehaffy commented on #6940
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-07-08 10:53] #6940 closed

[2020-07-08 10:54] iamwebdev opened #6941 "strapi server start issue"
I have imported mongo db into staging server and now on starting server i am getting error.

[2020-07-08T10:07:31.573Z] error Bootstrap function in plugin "users-permissions" failed
[2020-07-08T10:07:31.574Z] error TypeError: Cannot read property '_id' of null
    at permissions.reduce.toKeep (/var/www/api.staging.emr.infinilive.com/node_modules/strapi-plugin-users-permissions/services/UsersPermis

[2020-07-08 10:55] derrickmehaffy commented on #6941
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for bug reports [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-iss

[2020-07-08 10:55] #6941 closed

[2020-07-08 10:58] iamwebdev commented on #6941
Strapi version:- 3.0.0-beta.20.3
npm version:- 6.14.4
node: v12.16.3
MongoDB shell version v3.6.3

I have imported mongo db into staging server and now on starting server i am getting error.

[2020-07-08T10:07:31.573Z] error Bootstrap function in plugin "users-permissions" failed
[2020-07-08T10:07:31.574Z] error TypeError: Cannot read property '_id' of null
at permissions.reduce.toKeep (/var/www/a

[2020-07-08 11:00] iamwebdev opened #6942 "server start issue after importing db"
**Strapi version:- 3.0.0-beta.20.3
npm version:- 6.14.4
node: v12.16.3
MongoDB shell version v3.6.3**

I have imported mongo db into staging server and now on starting server i am getting error.

[2020-07-08T10:07:31.573Z] error Bootstrap function in plugin "users-permissions" failed
[2020-07-08T10:07:31.574Z] error TypeError: Cannot read property '_id' of null
at permissions.reduce.toKeep (/var/w

[2020-07-08 11:11] derrickmehaffy commented on #6942
`3.0.0-beta.20.3`

The beta version of Strapi is no longer supported, please update to the latest stable. The migration guides are on the documentation: https://strapi.io/documentation/v3.x/migration-guide/

Also in the future, please follow the required issue template and please read the contributing guide before creating new bug reports: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.

[2020-07-08 11:11] #6942 closed

[2020-07-08 11:14] adamkhan commented on #5124
It would seem to me that filtering on components is more basic and fundamental functionality than filtering on relations. A component is for considering these fields to be a part of our entity. Without being able to filter on them, we are creating a set of dud fields. I didn't know about this limitation and have abstracted out some pretty important fields to components. Bummer!

[2020-07-08 11:28] chris-r-hudson commented on #5124
This sucks, I've just spent ages building a model with components as it seems really neat and re-usable, only its not, and I cant filter on a simple component.

[2020-07-08 12:02] hauben opened #6943 "Having a config/plugins.js~ within the config directory has strange side effect"
Having a joe's backup file config/plugins.js~ within the config directory has the side effect that a correct plugins.js within the same directory does not get loaded at all.

**Steps to reproduce the behavior**

1. Create a strapi project from the scratch
2. Define i.e. a sendgrid plugin description within config/plugins.js
3. cp config/plugins.js config/plugins.js~
4. npx strapi console
5. strapi

[2020-07-08 12:38] rafalolszewski94 commented on #2950
Did this idea die completely? Seems like it's still missing

[2020-07-08 12:48] Paratron opened #6944 "Admin panel tracks usage data without consent"
I took a look into the network panel of the strapi admin and noticed that it issues a lot of requests to `https://analytics.strapi.io/track` and sends usage information without asking for consent beforehand.

This is an _absolute_ no go. There is ZERO information about that strapi does this and there is no mention in the docs about how to disable the tracking.

Not only is this a shady move agains

[2020-07-08 12:57] derrickmehaffy commented on #6944
https://strapi.io/documentation/v3.x/global-strapi/usage-information.html#collected-usage-information

[2020-07-08 12:57] #6944 closed

[2020-07-08 13:00] Paratron commented on #6944
Small update, I just found a page buried deep down into the strapi documentation that mentiones the tracking.

https://strapi.io/documentation/v3.x/global-strapi/usage-information.html

This is still a problem since its enabled by default without any heads up to the user.

[2020-07-08 13:01] Paratron commented on #6944
Oh, you already closed this without any comment. Well thank you -.-

[2020-07-08 13:07] Aurelsicoko commented on #6944
I would like to give you a complete answer. As other open-source software (Node, Gatsby, Next, etc),  we want to improve our product based on the usage. To do that, we need to collect basic data. Any open-source software is provided "as is" (see the MIT license  https://en.wikipedia.org/wiki/MIT_License). We do not collect any personal data, everything is anonymously using a random generated uniqu

[2020-07-08 13:07] derrickmehaffy commented on #5036
It's currently in testing, I believe they plan to release it very soon.

[2020-07-08 14:30] surgeharb commented on #1152
![Screen Shot 2020-07-08 at 5 28 25 PM](https://user-images.githubusercontent.com/22060043/86931173-739da380-c140-11ea-95e6-f815d36378c4.png)

Would something like this make your life easier guys?
Working on Strapi v3, it will restrict access to non-admin users to specific entries in the left menu.

P.S. Also made some changes in the admin/src to hide "Manage Administrators" and remove "Unused Plu

[2020-07-08 15:09] Berend-Kalberg commented on #6450
As someone following [](https://strapi.io/documentation/3.0.0-beta.x/deployment/heroku.html) this is giving me many issues deploying my strapi project to Heroku. Im stuck at having to put the environments variables in database.json. It isnt there anymore and I dont know how to use .env

[2020-07-08 17:12] derrickmehaffy commented on #6450
@Berend-Kalberg see: https://strapi.io/documentation/v3.x/deployment/heroku.html#_4-update-your-database-config-file You were looking at the old docs

[2020-07-08 18:00] botzill commented on #1152
@surgeharb It's really nice to have this feature. Let us know when you have more updates to test it.

[2020-07-08 18:01] carlosmarinho commented on #1152
That would be a great feature!
________________________________
De: Chirica Gheorghe <notifications@github.com>
Enviado: quarta-feira, 8 de julho de 2020 15:00
Para: strapi/strapi <strapi@noreply.github.com>
Cc: carlosmarinho <carluizfla@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [strapi/strapi] Allow other User roles access to Admin Panel (#1152)

@surgeharb<https://github.co

[2020-07-08 18:16] surgeharb commented on #1152
@botzill, I will share it in the next 24hours on how I achieved this in an article or a GitHub repo.
Keep in mind that this will be a temporary solution as the core team of Strapi is in the latest stages of achieving this the good way in the system.
I made use of the built in Strapi "admin customization" feature.

[2020-07-09 03:55] EyalRo commented on #3671
I was encountering the same issue. The problem was with associating the RDS (not EC2) to the Strapi security group. Once I've allowed incoming Postgres on that sec group everything started working.

[2020-07-09 08:23] umutbozdag opened #6954 "Possible mistake about database file name in the docs (version 3.x)"
**Describe the bug**
In [this](https://strapi.io/documentation/v3.x/guides/databases.html#mongodb-installation) page, in the step 5 there is a mistake about database file name and i am confused about that when reading it. Isn't it should be **database.js** instead of **database.json**?

**Steps to reproduce the behavior**
1. Go to [this](https://strapi.io/documentation/v3.x/guides/databases.html#m

[2020-07-09 08:54] derrickmehaffy commented on #6954
That is correct, can you make a pull request?

[2020-07-09 09:08] umutbozdag commented on #6954
Yeah i can do that.

[2020-07-09 09:11] surgeharb commented on #1152
@botzill @carlosmarinho @johackim @JamesBrightman @tomeady @PhantomxJoker
As promised, this is how to achieve access rights in Strapi v3.
This is a temporary workaround that allows you to manage multiple roles for Strapi administrators.
Let me know what you think of this: [https://github.com/surgeharb/strapi-plugins#plugin-admin-access-rights](https://github.com/surgeharb/strapi-plugins#plugin-adm

[2020-07-09 11:00] maximilianofried commented on #4240
Hello, how can i change the path of the upload URL without changing node_modules files, when uploading from the plugin and also when using the slate editor to add an image. it is always like '![photo](/uploads/photo.jpeg)' and i need something customised like, '![photo](mywebsite.com/uploads/photo.jpeg)'

@derrickmehaffy

Thank you!

[2020-07-09 11:45] Trireir commented on #6872
I did this fork in the meantime. You can use it like this in your package.json:
`"strapi-plugin-upload": "https://github.com/Trireir/strapi.git",`
But I'll remove it as soon as the new version of strapi come out :)

[2020-07-09 12:45] tspvivek commented on #6912
@vincentdoerig Thanks for the PR.

[2020-07-09 15:38] axelraymundo commented on #3671
I'm running into this problem now as well, how do you allow incoming Postgres on the sec group?

[2020-07-09 20:10] NegativeIQ opened #6960 "Database connection error"
If strapi cannot connect to database it does not show error and npm say it failed to start.

1. Install strapi with mysql database (i think it will work with any other database except with sqlite - maybe even with it if you remove read/write privileges)
2. After you installed strapi and created admin account, shut it down.
3. Try to start strapi, in my case i used `npm run develop`
4. Strapi will

[2020-07-09 20:18] NegativeIQ commented on #6818
Cannot reproduce on Strapi 3.0.5 and MariaDB
Cancel works as intended and does not delete anything.

[2020-07-09 20:29] akhilmhdh commented on #6909
@coderdix are u using sendmail. If its sendmail then i dont think it will work in local host. Use sendgrid.

[2020-07-09 21:44] lguegu50 commented on #2950
Maybe integrate an editor such as [editor.js](https://editorjs.io/) would help...

[2020-07-10 04:35] ttpjb opened #6961 "Custom routing of method GET didn't work when place after route of findOne"
**Describe the bug**
When place custom GET route after route of findOne, it return error 404

**Steps to reproduce the behavior**

1. Create a project with ```npx create-strapi-app my-project --quickstart```
2. Create a content-type by "Content-Type Builder" on admin page (eg. example)
3. Create a custom controller
[code]
4. Add custom route with GET method after route of findOne
[code]
5. Enable

[2020-07-10 05:09] derrickmehaffy commented on #6961
This is intended, as each object within the routes array is executed in sequence, when it finds a match from the requested route and the routes array (matched via regex I believe) it will stop and run that controller.

When you passed `GET /examples/test` it believed that `test` was the ID. As you figured out moving that above the ID findOne it works, this is how you correctly add a new one.

Mark

[2020-07-10 05:09] #6961 closed

[2020-07-10 07:13] MattieBelt commented on #5490
@lauriejim / @akashvibhute Issue is fixed and can be closed

[2020-07-10 08:10] soupette commented on #2950
You can easily change the WYSIWYG using this [guide](https://strapi.io/documentation/v3.x/guides/registering-a-field-in-admin.html#introduction)

[2020-07-10 08:11] ericjeker opened #6963 "Taking NODE_ENV by default without checking it is risky and leads to errors and infinite frustrations"
**Describe the bug**

I followed the Quick-Start and finally arrived on the Strapi Dashboard but couldn't find the "+ Create new collection type" link anywhere. After a long discussion on Slack it seems that Strapi uses the local NODE_ENV variable which can be set to anything and there is no control whatsoever on it.

**Steps to reproduce the behavior**

1. Set your local NODE_ENV to "dev" or "tot

[2020-07-10 08:12] Torone opened #6964 "Required validation return error 500"
**Describe the bug**
I created a Content Type with a few properties, after a few days of testing creating new records I decided to add one more required property to the model.
Going back to the created control panel on the UI (not the Strapi admin panel, but the proper web application that consume Strapi endpoints), I tried to update the "item" with the new created property.
The result was error 5

[2020-07-10 08:15] derrickmehaffy commented on #6963
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the [discussions](https://github.com/strapi/strapi/discussions). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

I have converted this to a discussion fo

[2020-07-10 08:15] #6963 closed

[2020-07-10 08:41] lguegu50 commented on #2950
OK cool.
I tried to use CKEditor with this blog post
<https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi> but I didn't
manage to make it work with the image library.
I see that this issue is present in your guide.
I will take a look at that.

Thanks.

On Fri, Jul 10, 2020 at 10:10 AM cyril lopez <notifications@github.com>
wrote:

--
*Loïc Guéguen*
Project Manager & Developer
+33 (0)6 59 51

[2020-07-10 10:08] derrickmehaffy commented on #1152
I'd like to point out to anyone watching this thread that the Strapi RBAC feature is currently in testing (PR is already open for it: https://github.com/strapi/strapi/pull/6965 ) and should be released shortly, however there is still a lot of things to review and test as I'm sure the entire Strapi team want to squash any bugs before users jump on migrating.

[2020-07-10 10:13] surgeharb commented on #1152
Amazing news @derrickmehaffy!
If I can assist in testing or fixing any bugs, I am more than happy to help.

[2020-07-10 13:10] vatologic commented on #1676
I've been following the project thus far and it works like a charm. However the lack for JWT refresh tokens is kind of a dealbreaker for me for the obvious security reasons. So, a big +1 on this feature; would put the icing on the Strapi cake ;)

[2020-07-10 13:16] erikfenriz commented on #4491
Any updates? Looking for examples with React Native as well.

[2020-07-10 13:31] coderdix commented on #6909
Using sendgrid :-)

My other email areas work (forgot & reset password, as well as, the newsletter (marketing contacts) submissions to sendgrid.

Does the code look good?

[2020-07-10 14:52] fxjordan commented on #6726
Thanks @petersg83 , you saved my day 👍  Docs should really be updated

[2020-07-10 15:56] PhantomxJoker commented on #6640
Hi @hendrikgaffo ! I'm using the same version as you, but with the change I made a clean build too (using npm run build --clean). Not sure if did the trick, but worked for me

[2020-07-10 20:56] Dannymx commented on #6014
I agree, as I tested the registration I found users when they register they could easily find their username was already taken. An option to make this non-unique or have another field as the username would be nice to have.

[2020-07-10 21:10] SalehAlbuga commented on #6115
@derrickmehaffy is there a workaround for this or any plans to change this behavior? I've tried adding a hasMany relation on both tables to get the parent/children fields. But this will require specifying the items manually and doesn't ensure consistency.