[2018-08-17 12:40] corinthian13 commented on #1281
+1 kevinhaesendonckx : Yes - NodeJS 8.11.4 works fine with NPM 6.0 and MongoDB 4.0

[2018-08-17 13:18] Aurelsicoko commented on #784
@derrickmehaffy We need to design the input first. For the first iteration, I think we should only handle static values. The case (proposed by @abdonrd) with the array of IDs which are references to others models is a new kind of relation `manyMorphWay`. I'm not sure we can implement it with Bookshelf...

[2018-08-17 13:29] Aurelsicoko commented on #1465
@indiecore-fm For now, it should be a core functionality, but we're working on the plugin architecture and I still don't know if a feature like this could be handled by a plugin. It would make more sense to use a plugin for this but it will impact so many things...

Also, should we generate two projects (one for each subdomain) without the administration and another one with the administration onl

[2018-08-17 13:37] Aurelsicoko commented on #784
@derrickmehaffy I remembered another discussion where I was making sense to not consider this input as a relation. The example was a list of ingredients for a recipe. The array looked like:

- Tomatoes (500g)
- Chocolat (120g)
- Cucumber (1/2)

The diversity of the ingredients is too big to be handled like a relation and the details like 500g or 1/2 make it really impossible. Sometimes it's better

[2018-08-17 13:42] derrickmehaffy commented on #784
@Aurelsicoko nice example :laughing:

But yes for the Array data type I feel as though it should be simple and not over-complicate it as you stated, this should be a standard field type. Although some minor constraints such as allowed data, ect should be considered. I know validations is still a bit out in terms of the roadmap, but I wouldn't want someone sending `Dog poop (1000g)` in a post to my

[2018-08-17 13:45] Aurelsicoko commented on #784
@derrickmehaffy I can't remember who shared this example, but it killed me. It's almost impossible to find arguments against it 😂

[2018-08-17 13:54] derrickmehaffy commented on #784
@Aurelsicoko :wink: now you see my point on how important constraints are lol. Validations are great and all but we shouldn't even offer the option to send bad data including while using the AdminUI :stuck_out_tongue:

[2018-08-17 13:55] Aurelsicoko commented on #1706
It seems more powerful than Bookshelf but it seems heavy... I can't really believe that it can really support a lot of SQL databases and also NoSQL databases like MongoDB. There are too many specific features available in MongoDB (and Mongoose the official ORM) to handle them perfectly with TypeORM.

Another ORM tried to do the same, it's called Waterline... It's slow, it doesn't scale very well a

[2018-08-17 13:58] derrickmehaffy commented on #1706
@Aurelsicoko I also find that hard to believe, there is also some pretty in depth features on standard SQL databases too that bookshelf doesn't handle well. But if it does work as expected some testing on it would be great!

[2018-08-17 19:59] MartinMuzatko commented on #1198
Sure - already did. I just hate to abuse the english language @Aurelsicoko

[2018-08-17 20:03] MartinMuzatko commented on #1507
@Aurelsicoko I'm not saying charging for plugins is wrong. I just wanted to know what the exact difference is, because there is the (not yet) paid version which claims to "translate everything instantly" which is a bit unclear. it sounds like it would do like the community plugin for i18n. So you can imagine there is some confusion. Thanks anyway, I'm sure you will find a good way to monetize stra

[2018-08-18 02:04] httpiago commented on #1281
I'm having the same problem. My settings are the same as described by the people above:
Windows 10, Node 10.2.0, Strapi 3.0.0-alpha

I want to test to use in a project but I'm afraid of giving error in production

[2018-08-18 03:07] ghufr opened #1766 "Failed to load strapi blog post on production admin dashboard"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.4.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: Mongo
- **Operating system**: Ubuntu 18.04.1

**What is the current behavior?**
Blog post won't load
![2018_08_18_10_01_06_window](https://user-images.githubusercontent.com/20156570/44295172-2d31c800-a2ce-11e8-817b-bf9b215a0613.png)

**Steps to reproduce the problem**
Depl

[2018-08-18 10:33] appsolutegeek commented on #1551
Hi,

Does anyone know if any work has started or near finishing? I have the same issue of what I think is being explained here.

I have strapi behind nginx on port 80 with its own domain name.

So going to the domain name, strapi works, but adding an image always appends localhost:1337.

I tried updating the HOST and PORT env files but of course, then I can't access it anymore.

[2018-08-18 13:50] corinthian13 commented on #1281
@httpiago:

If this is the first time that you have used Strapi, then it is far too early to build a real commercial project with it. You must first evaluate it on a private project of your own that may have already been implemented using another technology. Then you can compare performance, stability, etc.

Firstly, you must install [NodeJS version 8](https://nodejs.org/en/download/).
This is the

[2018-08-18 20:23] flosd opened #1767 "Start failure after installing graphql plugin"
**Informations**
- **Node.js version**:  8.11.3
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: mongodb
- **Operating system**: WIndows

**What is the current behavior?**
`[2018-08-18T20:19:06.150Z] debug ⛔️ Server wasn't able to start properly.
[2018-08-18T20:19:06.152Z] error Cannot find module 'C:\Users\Mikk\Desktop\Personaalne\rest\node_modules\strapi\lib\utils'

[2018-08-19 22:06] MWalid opened #1768 "Cannot Start Project In Development Mode"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: monogodb v4.0.1
- **Operating system**: macOS High Sierra

**What is the current behavior?**
Trying to start the strapi in plugin development mode, getting an error:

`[2018-08-19T21:56:26.626Z] error ENOENT: no such file or directory, stat '/path/to/my/project/plugins/co

[2018-08-19 23:59] mukhlim opened #1769 "can not create project"
Informations

    Node.js version: v10.9.0
    npm version: 6.4.0
    Strapi version: 3.0.0-alpha.13.1
    Database: monogodb v4.0.1
    Operating system: windows 10 enterprise

What is the current behavior?
cli sleep about 10 seconds before exit when specifying database.

![image](https://user-images.githubusercontent.com/6600262/44314749-55443700-a446-11e8-9766-b61c484202b8.png)

Steps to reprod

[2018-08-20 05:10] derrickmehaffy commented on #1769
There are known issues with Windows, please use WSL or a Linux VM. The Strapi team is working on better Windows support.

[2018-08-20 06:08] #1565 closed

[2018-08-20 08:55] pierreburgy commented on #1750
Thank you @MartinMuzatko. This has been fixed in #1728.

[2018-08-20 10:18] derrickmehaffy commented on #784
I just noticed btw, the `array` field type was not built into bookshelf? @Aurelsicoko @lauriejim @soupette @abdonrd is this correct?

Was it implemented in mongoose though?

[2018-08-20 10:47] lauriejim commented on #1749
Hello @MartinMuzatko I think you issue is related to this issue https://github.com/strapi/strapi/issues/1139
Please try to lowercase your relations attributes.

[2018-08-20 11:08] MartinMuzatko commented on #1749
Maybe partially. I see that when I use lowerCamelCase, that there are always all lowercase attributes added, that I did not add.

Model:
![image](https://user-images.githubusercontent.com/2950505/44337190-0617f980-a47a-11e8-999c-fc15b7dc224f.png)

Response:
![image](https://user-images.githubusercontent.com/2950505/44337152-ea145800-a479-11e8-9295-d99ecfbcd554.png)

[2018-08-20 11:19] derrickmehaffy commented on #1749
@lauriejim wouldn't it just be best to make sure model callbacks are always lowercase as to not mess with the field case? something like `field.tolowercase()`

[2018-08-20 11:27] derrickmehaffy commented on #1749
I agree @MartinMuzatko there was some discussion on this a while back (for the life of me can't find the issue I created :laughing: )

Everyone has different case types they normally use, I think honestly Strapi shouldn't limit users to a particular type and just handle the creation and management as far as needed, actual display values shouldn't be breaking thing (Both in the AdminUI and in the R

[2018-08-20 11:28] derrickmehaffy commented on #1749
My original issue I outlined was the values displayed in the left menu, right now it can be quite ugly especially when it uses Plural values on things that should not be Plural.

[2018-08-20 11:43] soupette commented on #1768
Hi @MWalid did you follow the [CONTRIBUTING GUIDE](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#setup-development-environment) recommendations?

[2018-08-20 11:45] soupette commented on #1765
@Aurelsicoko & @lauriejim

What are your thoughts?

[2018-08-20 11:52] lauriejim commented on #1744
I think it's because we use session storage instead of localstorage.

[2018-08-20 12:16] lauriejim commented on #1755
Hello @chrisdekker1997 ! Thank you for reporting this issue.
It's because by default we use `sendmail` provider and in your case, you can't send email.
This is the error https://github.com/strapi/strapi/blob/master/packages/strapi-email-sendmail/lib/index.js#L47
I suggest you to use an other email provider. https://strapi.io/documentation/guides/email.html#install-providers

[2018-08-20 12:17] lauriejim commented on #1755
And can you please provide a PR to update the error message. By updating translation key and by updating translation values. Will appreciate your contribution on this point.

[2018-08-20 12:42] lauriejim commented on #1483
Nop I havn't time to work on. Will appreciate an investigation by the community.
Small team for a large active community.

[2018-08-20 12:44] lauriejim commented on #1690
@maturano I was not able to reproduce your issue.
Someone else did ?

[2018-08-20 12:46] lauriejim commented on #1741
Hello @krsnaa , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-20 13:02] #1216 closed

[2018-08-20 13:07] lauriejim commented on #1756
Hello @zeroby0. Thank you for reporting this feature request.
Actually you can custom the register function and add you validation.
https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L266

[2018-08-20 13:08] lauriejim commented on #1648
https://github.com/strapi/strapi/pull/1703

[2018-08-20 13:15] MartinMuzatko opened #1770 "Adding an extra image to a multiple media upload, replaces existing images on windows"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu Linux

**What is the current behavior?**

I need to select all images I want to upload at once, If I do it one after another, only the last image is used. Also if there is also an image, and I want to add one, the new one replaces the old on

[2018-08-20 13:17] MartinMuzatko commented on #1770
Duplicate of #1645

[2018-08-20 13:31] lauriejim commented on #1444
@corinthian13 can you create a pull request please https://github.com/strapi/strapi/edit/master/docs/3.x.x/en/getting-started/quick-start.md

[2018-08-20 13:45] lauriejim commented on #1760
Hello @krisballistiq I can't reproduce your issue.
When you say you `upgrade strapi`, what did you exactly do ?

[2018-08-20 13:47] lauriejim commented on #1760
Why did you loose the `manifest.json` file ?

[2018-08-20 13:52] lauriejim commented on #1584
@fedecarg an other issue exist about the data migration. I think we can close this issue.

[2018-08-20 14:06] lauriejim commented on #1762
Hello @ferminmine , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-20 14:13] lauriejim commented on #1484
Hi @Tonours !
If your code fix an issue, of course I will appreciate a pull request ;)

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-20 14:35] bts94 commented on #1738
Any idea when we'll see a new release with it?

[2018-08-20 14:41] pt-br opened #1771 "Migrating from Wordpress"
**What is the expected behavior?**
Migrate a Wordpress application to Strapi

Hi guys!

Is there any tool in order to do that?

Has anyone did that before?

[2018-08-20 14:42] lauriejim commented on #1766
Hello @ghufr ! Thank you for this report, will try to fix it.

[2018-08-20 14:44] lauriejim commented on #1761
Hello @sbastias and @danielehrhardt , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-20 14:47] lauriejim commented on #1767
This issue already exists, please browse the list of opened or closed issues.
Please check https://github.com/strapi/strapi/issues/1612

[2018-08-20 14:47] #1767 closed

[2018-08-20 14:51] lauriejim commented on #924
Yap it's fixed. did you migrate an application or it's a fresh new one ?

[2018-08-20 14:52] lauriejim commented on #401
There is already an open issue about that.

[2018-08-20 14:53] lauriejim commented on #1769
This issue already exists, please browse the list of opened or closed issues.
Please check https://github.com/strapi/strapi/issues/1281

[2018-08-20 14:53] #1769 closed

[2018-08-20 15:13] derrickmehaffy commented on #1738
@bts94 It is a *VERY* large PR so prob not any real ETA. The team needs to check it to ensure there are no bugs. As @soupette has said you can use the mono-repo if you want it now (And bug test it for them :stuck_out_tongue: )

[2018-08-20 15:28] lauriejim commented on #1771
Hello @pt-br ! There is no tools for this kind of migration.

[2018-08-20 15:28] #1771 closed

[2018-08-20 15:37] soupette commented on #1745
Hi @danielehrhardt I unable to reproduce your issue. I'm using Chrome.

[2018-08-20 15:45] soupette commented on #1738
@derrickmehaffy we've tested it, we just need to review the PR now...

[2018-08-20 15:54] danielehrhardt commented on #1745
@soupette check out https://github.com/strapi/strapi/issues/1770 he created a more detailed ticket

[2018-08-20 15:54] #1745 closed

[2018-08-20 15:58] derrickmehaffy commented on #1738
So not before the 28th then @soupette :stuck_out_tongue_closed_eyes:

[2018-08-20 16:34] sbastias commented on #1761
I can't do a PR because I didn't fork the repo, I cloned it to make a bunch of other customizations.

It's a simple fix though! I just tested it on KB MB and GB files:

![image](https://user-images.githubusercontent.com/1007243/44353306-92272280-a474-11e8-9a69-889787d323ed.png)

It's this function `getUnit` in:
strapi/packages/strapi-plugin-upload/admin/src/components/Li/index.js

**Currently:**
[

[2018-08-20 16:38] derrickmehaffy opened #1774 "Upload Plugin route /files always returns 404"
**Informations**
- **Node.js version**: v10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: 10.2.17-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

When uploading a file either directly in the plugin menu, POST request, or via a model relation, you can grab the file information from the model. However if you attem

[2018-08-20 16:41] devaublanc commented on #1589
I also have reproduced this bug with v3.0.0-alpha.13.1 version after updating the Email template `UsersPermissions.updateEmailTemplate` maybe an issue related to the strapi.store ?

[2018-08-20 17:10] adamkhan commented on #1644
I just had the same problem after fiddling around with npm not knowing quite what I'm doing. @npjonath's solution fixed it for me, but in case like me anyone didn't know where the database.json file is, it's in /config/environments and then whichever of the environments you're using.

[2018-08-20 19:17] ajzozakiewicz commented on #1449
Pages in a CMS is the use case for sure.

Being able to have a content type of pages and then relate each page to a unique form for each page. The lack of this feature prevents me from being able to implement this in place of other CMS systems.

[2018-08-20 20:13] danielehrhardt commented on #1761
Thank you @sbastias

[2018-08-20 20:30] maturano commented on #1690
I just tested and I'm still able to reproduce it:
![capture](https://user-images.githubusercontent.com/5768813/44364007-809d4500-a48b-11e8-81e5-5011049f45f7.PNG)

**Clarification**:
- This is cloning Strapi **from the repository**, not with a global installation with `npm`
- This is **without the `--dev` flag**. I believe with that flag is unable to reproduce it.

The thing is, `pluralize` is used

[2018-08-20 23:09] feat7 commented on #624
I used policies and changed controller behavior to obtain this. Got insights from @pt-br 's comment.
I don't know somehow the global policies were not working for me so I went with local policies.

I have a Client Model wherein the each client has one user (owner).

![Model Relation](https://user-images.githubusercontent.com/12556455/44371126-0906fe80-a4fb-11e8-96b2-e24b00804c45.png)

isOwner.js (

[2018-08-21 05:25] zeroby0 commented on #1756
Thanks @lauriejim :)
Should I keep the issue open so you can track feature requests, or shall I close it?

[2018-08-21 06:59] #1395 closed

[2018-08-21 07:13] derrickmehaffy commented on #1716
PR Merged, to be closed. o/

[2018-08-21 07:13] derrickmehaffy commented on #1718
PR Merged, to be closed. o/

[2018-08-21 08:25] soupette commented on #983
It's been fixed in #1732

[2018-08-21 08:25] #983 closed

[2018-08-21 08:28] #1165 closed

[2018-08-21 08:34] MWalid commented on #1768
Hi @soupette,

I followed the [quick start guide](https://strapi.io/documentation/plugin-development/quick-start.html), will try once again with the contributing guide and let you know.

[2018-08-21 08:43] soupette commented on #1768
As a reminder here's my workflow:

1. Create a repository folder and clone strapi : `mkdir repositories && cd repositories && git clone git@github.com:strapi/strapi.git`
2. Install strapi `cd repositories/strapi && npm run setup:build`
3. In another folder create a `dev` app `mkdir sandbox && cd sandbox && strapi new my-app --dev`
4. Usually I remove the `settings-manager` in dev mode so webpack d

[2018-08-21 08:53] redni commented on #1768
There is no need to create a new Issue so I will post it here. Yesterday I followed this workflow with the recommended `npm run setup` instead of` npm run setup:build`.

The effect is that the `strapi start` in the main application directory works very well while `npm start` in the admin directory hangs on `building...` checked on 2 separate machines. Server and laptop. Can not build on any of the

[2018-08-21 08:57] MWalid commented on #1768
Hi @soupette, the contribution guide worked for me, thank you.

When I followed the quick start guide I thought I should start from [plugin development setup section ](https://strapi.io/documentation/plugin-development/quick-start.html#plugin-development-setup) since I wanted to create a plugin (not to contribute to the core). It's more clear in the contributing guideline that I have to follow all

[2018-08-21 09:00] MWalid commented on #1768
@redni it builds with `npm run setup` it hangs little bit then the link opens ...

However I still have the following error in the terminal (although everything seems to be working just fine)

[code]

[2018-08-21 09:02] derrickmehaffy commented on #1768
@MWalid check which version of Jest you have installed: `npm -v jest`

In my case `6.2.0`

[2018-08-21 09:08] MWalid commented on #1768
@derrickmehaffy it's the same version as yours,
I just realised that the webpack is not rebuilding the project on file change.
So to see my changes I had to stop the development server and then run it again ... `cd admin && npm start`

[2018-08-21 09:12] soupette commented on #1768
@MWalid webpack is watching a lot of files until I fix the FS error I recommend to delete some plugins like the `settings-manager` and if you don't need it the `content-type-builder` then if you relaunch `webpack` you should have the hot reload working again.

[2018-08-21 09:20] MWalid commented on #1768
@soupette I removed both, now no errors in the terminal, however still no hot reloading, webpack doesnt rebuild when my plugin files changed ...

[2018-08-21 09:47] #1704 closed

[2018-08-21 10:00] derrickmehaffy commented on #891
Adding these 3 PRs here (two of which have been merged) as examples on adding a new provider:

Discord: https://github.com/strapi/strapi/pull/1664
Microsoft: https://github.com/strapi/strapi/pull/1613
(Not Merged yet) Twitch: https://github.com/strapi/strapi/pull/1616

[2018-08-21 10:06] derrickmehaffy commented on #1240
Related PR Merged: https://github.com/strapi/strapi/pull/1407

**Does not support bookshelf, should be added before issue closed**

[2018-08-21 10:09] derrickmehaffy commented on #1561
@lauriejim We can probably close this in support of the two listed options:

Array Type: https://github.com/strapi/strapi/issues/784
&
Relational Array: https://github.com/strapi/strapi/issues/1748

[2018-08-21 10:12] derrickmehaffy commented on #1139
@lauriejim I stated this in another issue when building the relation shouldn't strapi just force lowercase when referencing another model? `model.tolowercase()` ?

[2018-08-21 14:02] danielehrhardt commented on #1770
@MartinMuzatko Why did you closed the Ticket?

[2018-08-21 14:07] MartinMuzatko commented on #1770
I wanted to clean it up in favor of the older one. Didn't know @soupette liked the detail I put into this ticket :P

[2018-08-21 14:48] #1761 closed

[2018-08-21 15:01] kapik opened #1779 "New content type: repeatable group of fields"
**What is the expected behavior?**

Hi 👋 !
Have you considered adding a field type to repeat a group of fields?
For example, to have an article with steps and display several fields for each step.
[Prismic.io](https://user-guides.prismic.io/browse-documents-and-edit-content/editing-content/repeatable-elements-in-a-group) has this type of field and it's really top !

Thanks for your reply  😄

[2018-08-21 15:28] derrickmehaffy commented on #1779
@kapik This is just a standard model? Looks like there is a few string fields, a web field, and an image field. All of which can be done currently with Strapi?

[2018-08-21 15:38] kapik commented on #1779
@derrickmehaffy All fields in the groups are standard but you can repeat the group as many times as you want.
We can't have this kind of fields (group) with Strapi (or maybe I missed something).

[2018-08-21 16:10] MartinMuzatko opened #1780 "Make managing permissions per created item possible"
**What is the expected behavior?**

Simplest example: if you were to build a doodle clone, you wouldn't be able to limit the userbase to only edit that one poll they created. Right now as the situation in strapi is, once you are authenticated to update/delete/create one type of a model, you can edit the model of anyone.

**Requirements**

Be able to
- Make an authenticated user own a created item

[2018-08-21 16:24] MartinMuzatko opened #1781 "Permissions API is broken - I want to be able to ask who can do what"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**

Asking `users-permissions/permissions` does not reflect the state that the guest or authenticated user has set.

![image](https://user-images.githubusercontent.com/2950505/44414877-2e355480-a56f-11e8-9c63-

[2018-08-21 17:46] BroTrue commented on #924
Got same problem. Create OneToOne relation between `users`(default) and `myContentType`. After updating any information at `myContentType`, relation gone... any ideas? its looks like bug.

[2018-08-21 17:46] BroTrue commented on #924
Should I create new issue ?

[2018-08-21 17:50] BroTrue commented on #924
But when I create relation 1to1 between `myContentType` and `myContentType2`, all is fine!

[2018-08-21 19:09] derrickmehaffy commented on #1779
@kapik I think I'm missing the point here, can you provide a better example (That link and its picture is way too small resolution).

[2018-08-21 19:36] kapik commented on #1779
@derrickmehaffy of course :) I think I understood your misunderstanding.

I did an exemple on Prismic: I would like to have a content type to explain how to assembly something.
So my main content type is called: "assembly instructions" (like blog post).
This is the definition of this type:

![2018-08-21_21-26-38](https://user-images.githubusercontent.com/511247/44424570-c93b2800-a589-11e8-83cc-413

[2018-08-21 20:10] caseyrule commented on #1736
This is currently the primary reason I have not yet adopted strapi.  I know this seems somewhat trivial, but it makes a huge difference for the usability of this platform.

[2018-08-21 20:38] devaublanc opened #1782 "Server does not restart when a file is updated since the v3.0.0-alpha.13.1 migration"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.6.0
- **Strapi version**: v3.0.0-alpha.13.1
- **Database**: Mongo
- **Operating system**: Mac OS High Sierra 10.13.3

**What is the current behavior?**
Since the migration v3.0.0-alpha.13.1. When I start the local server and I edit a file (a controller for instance) the app detect changes but the the server never restart.
[code]

[2018-08-21 21:47] JelaniThompson opened #1783 "Deep populating content type returns null"
9.11.2

5.6.0

v3.0.0-alpha.13

**Information**
- **Database**: MongoDB
- **Operating system**: Ubuntu

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/11928206/44430226-068ebe00-a568-11e8-8029-04c7ae8dff7e.png)

Uploaded media (audio, images, etc.) return null when they're nested in a relation. Here, tour has many toursections.

I've tried to apply the solutio

[2018-08-22 02:40] johntom commented on #1744
Latest Chrome and Chrome Canary 64bit for windows, Will try again

[2018-08-22 07:03] derrickmehaffy commented on #1779
@kapik this just looks like a relationship.

You would create the first model in this case:

* Title
* Description

Then you would add a `oneToMany` relationship to the child model which would have:

* Step Title
* Step Description
* Step Image (which itself is a relationship to the upload plugin)

This is pretty standard CMS stuff, adding something like this all contained in a single model would

[2018-08-22 07:37] lauriejim commented on #624
Thank you @feat7 for these details

[2018-08-22 07:45] kapik commented on #1779
@derrickmehaffy I understand your point. But in this case, we considere that each step can be reused and the main model is friendlyless (because we have to create each step separately).

[2018-08-22 07:58] lauriejim commented on #549
Will have to use this advanced setting input for confirmation and forgot password redirection - https://github.com/strapi/strapi/pull/1733/files

[2018-08-22 08:07] lauriejim commented on #742
Hello @mnlbox, we can close this issue.
Feel free to submit a PR if you think it's important for the community to have this information now.

[2018-08-22 08:07] #742 closed

[2018-08-22 08:32] lauriejim commented on #891
If someone can update the documentation file https://github.com/strapi/strapi/edit/master/docs/3.x.x/en/guides/authentication.md by adding step to add new provider, based on PR linked by @derrickmehaffy

Will appreciate community contribution on this point.

[2018-08-22 09:15] avallete commented on #1707
I just ran into the same issue.

So, for future people who will have the same issue, here is the cause of the error, and how to fix it (without disabling the mongo auth):

## Error cause:
When running mongo with a docker image and providing `MONGO_INITDB_ROOT_USERNAME` and `MONGO_INITDB_ROOT_PASSWORD` environment variables, it will make mongod running with the `--auth` option. See [mongo official

[2018-08-22 09:44] MartinMuzatko opened #1784 "Reset password: Passwords do not match - but they do"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/2950505/44455908-8caa1380-a5ff-11e8-9119-b521a76d1570.png)

**Steps to reproduce the problem**

- request a password reset
- put in the same value in both

[2018-08-22 09:47] MartinMuzatko opened #1785 "The password requirements are different for different input methods"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**

Right now you have the following mechanisms to set a password:

- Initial strapi start - creating a user (no requirements - was able to use 5 characters)
- Reset password (currently failing, see #1784)
- S

[2018-08-22 10:05] derrickmehaffy commented on #1785
Should be noted these password requirements should also be documented in the Strapi Docs and/or also be configurable.

[2018-08-22 11:00] dbom1006 opened #1786 "Server wasn't able to start properly when run strapi start"
**Informations**
- **Node.js version**: 8.11.2
- **npm version**: 5.6.8
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongodb v3.4.10
- **Operating system**: both linux & win

**What is the current behavior?**
I cannot run again `strapi start` when after turn off services (Ctrl+C)

**Steps to reproduce the problem**
- Service is running for a long time, i turn off service by `Ctrl+C`
-

[2018-08-22 11:08] dbom1006 commented on #1786
i

[2018-08-22 11:08] #1786 closed

[2018-08-22 13:08] #1202 closed

[2018-08-22 13:14] lauriejim commented on #1213
Definitively impossible to reproduce @mnlbox issue (I close this issue).
@derrickmehaffy about the provider `-` can you create an issue for this point please.

[2018-08-22 13:25] derrickmehaffy opened #1787 "Creating a user in AdminUI does not properly set provider type to local"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: 10.2.17-MariaDB
- **Operating system**: Linux Mint 19 Tara (Ubuntu 18.04)

**What is the current behavior?**

See the following Issues Comments:
https://github.com/strapi/strapi/issues/1213#issuecomment-406311304
https://github.com/strapi/strapi/issues/1213#issuecomment-4

[2018-08-22 13:26] derrickmehaffy commented on #1213
@lauriejim Done: https://github.com/strapi/strapi/issues/1787

[2018-08-22 13:27] #1213 closed

[2018-08-22 13:45] #1296 closed

[2018-08-22 14:28] lauriejim commented on #1508
Please check https://github.com/koajs/koa-lusca

[2018-08-22 14:28] #1508 closed

[2018-08-22 14:45] lauriejim commented on #1551
@osamajandali Have you some news about this issue please.

[2018-08-22 14:46] lauriejim commented on #1553
I am closing this issue because we don’t have any update/needed informations about it.

[2018-08-22 14:46] #1553 closed

[2018-08-22 15:27] lauriejim commented on #1119
Here has already been re-created https://github.com/strapi/strapi/issues/1579

[2018-08-22 15:27] #1119 closed

[2018-08-22 15:30] #1584 closed

[2018-08-22 15:32] #1589 closed

[2018-08-22 15:34] lauriejim commented on #1592
Now there is more deprecation:

[code]

[2018-08-22 15:34] #1601 closed

[2018-08-22 15:35] #1602 closed

[2018-08-22 15:37] #1603 closed

[2018-08-22 15:49] lauriejim commented on #1636
Is the same as https://github.com/strapi/strapi/issues/1292

[2018-08-22 15:49] #1636 closed

[2018-08-22 16:01] lauriejim commented on #1678
@arsenx I think there is a miss understand about permissions and data access.
You will have the same with API routes.

Permissions not block relations data access but it block controller actions.

[2018-08-22 16:10] derrickmehaffy commented on #1678
@lauriejim I think what he is saying is that via the REST route that data wouldn't show up (could be wrong, haven't tried setting up a relation to users model)

But that GraphQL is doing something that REST blocks

[2018-08-22 16:10] derrickmehaffy commented on #1678
@arsenx were you able to get password hashes?

[2018-08-22 16:52] MirkoVentura opened #1788 "Error: The provider package isn't installed. Please run `npm install strapi-upload-undefined`"
**Informations**
- **Node.js version*10.8.0*:
- **npm version*6.2.0*:
- **Strapi version*3.0.0-alpha.13.1*:
- **Database*mysql*:
- **Operating system*centos*:

**What is the current behavior?**
After running a created project in production env we had this error
Error: The provider package isn't installed. Please run `npm install strapi-upload-undefined`
but we want use LOCAL PROVIDER

**Steps to r

[2018-08-22 16:59] avallete commented on #1781
Same issue here.

Pretty strange since the route: `users-permissions/roles/:roleId` give me correct infos. (but provide way to many data (like who have the same role, etc...) witch can lead to security issue (cf: [OWASP](https://www.owasp.org/index.php/Testing_for_User_Enumeration_and_Guessable_User_Account_(OWASP-AT-002))) ).

Maybe, a way to retrieve the user 'role' associations details into the

[2018-08-22 17:27] arsenx commented on #1678
Password hashes are not returned due to a parameter on the field in strapi which I will check later today.  This parameter option is not shown on the GUI. I know that GraphQL is not supposed to handle this but there should be some more light shed on this situation since this does not occur in standard REST calls.  It may be confusing at first because we do set access control for the field but this

[2018-08-22 19:48] adamkhan opened #1789 "Spaces or punctuation in field name breaks Strapi"
If I use two words in a field name or add some punctuation to it — say a question mark for a boolean field — Strapi will not load.

It would be good to allow these in field names — they are what is displayed on the admin screen after all.

[2018-08-23 06:49] derrickmehaffy commented on #1789
@adamkhan These are not support, in future updates Strapi will allow the "view" to change but currently that is not possible with data on the left menu.

Currently you can change the field names listed in the "content view" and after this PR: https://github.com/strapi/strapi/pull/1684 is merged you will be able to do the same in the "content edit view"

As of right now, you will need to create mod

[2018-08-23 10:29] jonasdehovre commented on #1497
Also really curious on the progress on this!

[2018-08-23 10:53] victorlambert commented on #1683
Hey there, I'm having the same issue and my content types and attributes are both lowercase.
Here are the 2 schemas :
[code]
and
[code]

[2018-08-23 12:07] lauriejim commented on #1685
It's code we have to delete.
This feature not exist. Probably will be integrate in a media manager plugin.

[2018-08-23 12:07] #1685 closed

[2018-08-23 12:07] lauriejim commented on #1687
Can you please give us an update about this issue?

[2018-08-23 12:18] lauriejim commented on #1690
Okay it's clear.
It's the missing `--dev` flag.

I think the `pluralize` dependency have to be added in the `content-manager`
But it's will be hard to test because when you run `strapi new ...` without `--dev` flag, plugins are installed from **npm**.
And the update you will do, will no be published on **npm** now

[2018-08-23 12:27] lauriejim commented on #1692
Hello @jskorepa , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-23 12:29] derrickmehaffy commented on #1692
Likely due to Strapi not modifying the collection, will need to be fixed in the mongoose package.

[2018-08-23 12:32] lauriejim commented on #1698
Hello @laportem , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-23 12:40] osamajandali commented on #1551
@lauriejim I am sorry for being late at this as I was super busy last month.. I started working on it back then and I think I am going to finish it this weekend..

[2018-08-23 12:41] lauriejim commented on #1735
@mindgrub-rkoch did you use **mongoose** or **bookshelf** ?

[2018-08-23 12:44] lauriejim commented on #1741
https://github.com/strapi/strapi/pull/1773

[2018-08-23 12:44] #1741 closed

[2018-08-23 12:57] lauriejim commented on #1756
Let it open

[2018-08-23 12:58] mindgrub-rkoch commented on #1735
I believe I'm using mongoose as I am using a MongoDB.

[2018-08-23 12:59] YouhannaSabry opened #1790 "Posting to /upload and can't find the file in the public/uploads directory"
**Informations**
- **Node.js v9.5.0**:
- **npm 6.1.0**:
- **Strapi 3.0.0-alpha.13.1**:
- **Database MongoDB**:
- **Ubuntu 18.04 Bionic Beaver**:

**What is the current behavior?**
Whenever I post to /uplaod using postman or angular <image-upload> I can't find the file in the public uploads directory.. it returns a response "true" and the file is not there.
When I curl without @ before file path "c

[2018-08-23 13:29] lauriejim commented on #1774
@derrickmehaffy The route you have to try is `/upload/files`, the plugin name prefix is missing.
https://github.com/strapi/strapi/issues/1765

[2018-08-23 13:29] #1774 closed

[2018-08-23 13:34] lauriejim commented on #1780
I think you are talking about this issue - https://github.com/strapi/strapi/issues/624

[2018-08-23 13:34] #1780 closed

[2018-08-23 13:47] lauriejim commented on #1781
@MartinMuzatko route `users-permissions/permissions` is used to create new role. It doesn't give you roles permissions.
As @avallete said, the correct route to get the info you want is `users-permissions/roles/:roleId`

If you use `/me` route you can get the role id then use the previous route to know what this user can do.

[2018-08-23 13:47] #1781 closed

[2018-08-23 13:48] lauriejim commented on #1782
Probably be fixed with this PR https://github.com/strapi/strapi/pull/1712

[2018-08-23 13:48] derrickmehaffy commented on #1774
@lauriejim you are correct thank you. FYI this should be be documented, I'll take a look at making a PR on the guide for the upload plugin.

[2018-08-23 13:50] mickidum commented on #1612
strange resolved for me:
after installing plugin and getting error
npm install strapi-plugin-graphql - still get error
npm remove strapi-plugin-graphql
strapi start - no errors. wow

[2018-08-23 14:29] lauriejim commented on #1785
Hello @MartinMuzatko , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-23 14:34] lauriejim commented on #1788
@MirkoVentura Can you go in this url of your app `/admin/plugins/upload/configurations/production` and update setting.

[2018-08-23 14:37] #1789 closed

[2018-08-23 14:43] MirkoVentura commented on #1788
Hi @lauriejim I tried now and it does not work i post you a screen of my settings

<img width="1426" alt="upload" src="https://user-images.githubusercontent.com/6473395/44532543-9c0a8900-a6f3-11e8-9929-81caaafb74ba.png">

[2018-08-23 14:44] MirkoVentura commented on #1788
hear it is for production

<img width="1383" alt="prod" src="https://user-images.githubusercontent.com/6473395/44532616-c9573700-a6f3-11e8-8771-70ca499e7735.png">

[2018-08-23 14:47] lauriejim commented on #1790
Please check our SDK https://github.com/strapi/strapi-sdk-javascript#files-management
I think it can help you

[2018-08-23 14:47] #1790 closed

[2018-08-23 17:07] lauriejim commented on #924
Yap, can you please create an issue.

[2018-08-23 17:26] adamkhan commented on #1789
Thanks for the heads-up. Good to know this functionality is coming soon along with more configurability on the content manager's layout.

[2018-08-23 17:58] vcolavin commented on #1683
@lauriejim I am working on the same codebase as @bjnsn, and I can confirm it's not a casing issue. I've created two new models, `foo` and `bar`, with a many-to-many relationship. They have the same problem.

[2018-08-23 18:19] cpof-tea commented on #1551
In generated api `plugins/upload/controllers/Upload.js`
or in `strapi-helper-plugin@alpha` - `controllers/Upload.js`
[code]
I understand why strapi.config.url is actually here when strapi is representing as remote api, but when it's local this strapi.config.url should be disabled, I think. Or there should be an option to disable it.

[2018-08-23 18:32] derrickmehaffy commented on #1551
@lauriejim also related to this, even setting the host option it still adds the Strapi port so if you proxy requests via nginx the port will be wrong unless you are proxying 1337 (which you shouldn't be :P )

I think that there needs to be a "Read Only" option for that files url
Server is actually running on `localhost:1337` but the files show the read only `https://domain.com` (Note the no port)

[2018-08-23 18:33] yummyelin opened #1791 "Dev strapi project fail to go to Marketplace and Plugin"
**Informations**
- **Node.js version**:  v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: mongodb
- **Operating system**: macOS

**What is the current behavior?**
Trying to use dev strapi project to debug plugin.
Followed the [steps in contribution docs](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to create a dev strapi project, `admin/insta

[2018-08-24 06:02] amit-deligence opened #1792 "when i try to upload product from client side to strapi server with the /upload route it send me true in response payload but image not uploaded. i am using gatsby at client side"
import React from 'react'

class AddProduct extends React.Component{

constructor(props){
	super(props);

	this.state = {
		value:false,
	}
 this.changeValue = this.changeValue.bind(this)
 this.handleSubmit = this.handleSubmit.bind(this)
}

changeValue(e){
	this.setState({value:!this.state.value})

	console.log("this.state.value ===> " , typeof this.state.value)
}

handleSubmit(event){

		event.pr

[2018-08-24 06:05] amit-deligence opened #1793 "How do i upload image to a particular row of content type (Product) on strapi server . below is my code but it not working it throw me error 404"
import React from 'react'

class AddProduct extends React.Component{

constructor(props){
	super(props);

	this.state = {
		value:false,
	}
 this.changeValue = this.changeValue.bind(this)
 this.handleSubmit = this.handleSubmit.bind(this)
}

changeValue(e){
	this.setState({value:!this.state.value})

	console.log("this.state.value ===> " , typeof this.state.value)
}

handleSubmit(event){

		event.pr

[2018-08-24 06:09] derrickmehaffy commented on #1792
@amit-deligence Please follow the Bug Report template. Issues which don't have the required information are closed until the proper Template is added.

Thank you.

[2018-08-24 06:10] derrickmehaffy commented on #1793
Duplicate: https://github.com/strapi/strapi/issues/1792

[2018-08-24 08:18] lauriejim commented on #1792
Hello @amit-deligence , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-08-24 08:18] #1792 closed

[2018-08-24 08:18] #1793 closed

[2018-08-24 08:30] kapik commented on #1779
@derrickmehaffy I have tested with Strapi and you right, we can do this but it take long time and there is to much navigation steps.
Thx @lauriejim 🙂  I am following this feature with great attention 🚀

[2018-08-24 10:16] amit-deligence opened #1794 "when i try to upload product from client side to strapi server with the /upload route it send me true in response payload but image not uploaded. i am using gatsby at client side"
import React from 'react'

class AddProduct extends React.Component{

constructor(props){
super(props);

this.state = {
	value:false,
}

this.changeValue = this.changeValue.bind(this)
this.handleSubmit = this.handleSubmit.bind(this)
}

changeValue(e){
this.setState({value:!this.state.value})

console.log("this.state.value ===> " , typeof this.state.value)

}

handleSubmit(event){

	event.preventDe

[2018-08-24 10:46] malbari commented on #1450
Any plan to support WYSIWYG for Vue component also, for example using <a href="https://cinwell.com/vuep/#/">vuep</a> ?
Thanks

[2018-08-24 11:11] jrodriguesimg commented on #1788
same here using https://github.com/strapi/strapi-docker

[2018-08-24 11:31] amit-deligence commented on #1794
ok, just ignore my above code , please just tell me that how i can upload image from client side to a particular content type row. because i couldn't found  it on  strapi doc.

[2018-08-24 11:43] mnlbox commented on #1271
@Aurelsicoko yes many of UI issues happens in Firefox and Chromium.
I think we need some UI test based on this or using general UI tools like bootstrap that works anywhere without issue.

[2018-08-24 11:46] mnlbox commented on #1561
guys any news about my second suggestion?

[2018-08-24 11:47] mnlbox commented on #1562
@Aurelsicoko any news about add this to roadmap?

[2018-08-24 11:49] mnlbox commented on #1490
Any news about this old issue? :thinking:

[2018-08-24 12:00] derrickmehaffy commented on #1794
Duplicate: https://github.com/strapi/strapi/issues/1792

@lauriejim mind closing this as well.

[2018-08-24 12:45] mnlbox commented on #786
Maybe useful: https://passwordless.net/

@Aurelsicoko @lauriejim

[2018-08-24 12:56] dulgeoion commented on #1490
Sometimes it still happens...

[2018-08-24 13:00] mnlbox commented on #1490
For me always happens for N:1 relations :cry:

[2018-08-24 13:01] amit-deligence commented on #1794
@derrickmehaffy This is not enough for my task. My task is  how i can upload image from client side to a particular content type row with another fields.

[2018-08-24 13:02] derrickmehaffy commented on #1794
@amit-deligence have you tested the upload using something like postman?

I can say you get that response if your request isn't formatted properly.

[2018-08-24 13:19] soupette commented on #1794
@amit-deligence here's a [boilerplate}(https://github.com/strapi/strapi-examples/blob/master/good-old-react-authentication-flow/src/containers/EditPage/index.js) with the code you're looking for.

[2018-08-24 14:27] lauriejim commented on #1794
Hello @amit-deligence, please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-08-24 14:27] #1794 closed

[2018-08-24 14:27] MartinMuzatko opened #1797 "New filter: _notcontains"
**What is the expected behavior?**

For full-text search, it would be nice to be able to exclude a word.

So I can search for `http://localhost:1337/page/content_notcontains=test`

[2018-08-24 15:19] avallete commented on #1678
I don't well understand the issue here.

You got the exact same result using the REST API than using the GraphQL.

I've tried to reproduce it with this basic schema:

Private:
[code]

Public:
[code]

So, creating a 'private' object, and a 'public' object linked to it. Allowing permission for unauthenticated users to perform 'GET' on '/public' endpoint.

Here is the result I get using the REST API:

[2018-08-24 21:39] derrickmehaffy commented on #1790
@YouhannaSabry If you are getting that response then your POST request isn't formatted properly.

I have tested this with postman:

![image](https://user-images.githubusercontent.com/8593673/44609133-6032fa80-a7ab-11e8-9254-6018f58921b5.png)

And it works as intended, as @lauriejim said I would look at the SDK and use the functions there to setup your angular frontend, you need to load the SDK as

[2018-08-24 21:43] quibaritaenperdresatrompe opened #1798 "An error occurred during plugin installation with Yarn"
**Informations**
- **Node.js version**: 10.9.0
- **npm version**: 6.2.0
- **Yarn version**: 1.9.4
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: MongoDB
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
When I run the command `strapi new my-project` the installation was completed but not any plugin is installed.
For each plugins I have this kind of error:
[code]

And

[2018-08-24 21:44] derrickmehaffy commented on #1798
@quibaritaenperdresatrompe can you try installing strapi with node, I believe Yarn support is still pretty early. @lauriejim was working on it.

[2018-08-24 22:20] YouhannaSabry opened #1799 "Can't remove the cloudinary plugin"
**Informations**
- **Node.js 9.5.0**:
- **npm 6.1.0**:
- **Strapi 3.0.0-alpha.13.1**:
- **MongoDB**:
- **Ubuntu 18.04**:

**What is the current behavior?**
I need help to remove cloudinary and restore default /upload behavior on --production environment. To be the same as development environment

[2018-08-25 14:11] YouhannaSabry commented on #1799
@derrickmehaffy I tried this but I still get { message: 'cloud_name is disabled', http_code: 401 }
whenever I post which means that it's still trying to post to cloudinary..

[2018-08-25 14:53] YouhannaSabry commented on #1799
Okaay got it.. Logged in to the admin panel and under Plugins, Files Upload.
Click the settings icon and changed the providers from cloudinary to local server.

[2018-08-25 14:53] #1799 closed

[2018-08-25 15:39] piLinux commented on #871
**OS:**
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

**Environment config:**

`nodejs -v`
v10.9.0

`npm -v`
6.2.0

`mongod --version`
db version v4.0.1
git version: 54f1582fc6eb01de4d4c42f26fc133e623f065fb
OpenSSL version: OpenSSL 1.1.0g  2 Nov 2017
allocator: tcmalloc
modules: none
build environment:
    distmod: ubuntu1804
    distarch:

[2018-08-25 17:13] derrickmehaffy commented on #871
@pilinux prob should open a new issue for that instead of on an old closed issue :p

[2018-08-25 18:11] piLinux opened #1801 "npm warning: sprintf package is deprecated in favor of sprintf-js"
**OS:**
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

**Environment config:**

`nodejs -v`
v10.9.0

`npm -v`
6.2.0

`mongod --version`
db version v4.0.1
git version: 54f1582fc6eb01de4d4c42f26fc133e623f065fb
OpenSSL version: OpenSSL 1.1.0g  2 Nov 2017
allocator: tcmalloc
modules: none
build environment:
    distmod: ubuntu1804
    distarch:

[2018-08-25 22:07] pravosleva opened #1803 "Content-type for old database"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: mongod version: 3.6.6 (MMAPv1)
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
New project could not be connected to old database.

**Steps to reproduce the problem**
I have created new strapi-alpha project successfully.
![0_new-project-with-strapi-

[2018-08-25 22:33] pravosleva commented on #1803
Ubuntu 16.04

[2018-08-26 11:17] MartinMuzatko opened #1804 "Enumeration is empty, but value is set on the model, field is required and there is a default value"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**

Value is set on model, model has a default value, field is required, but I get `null` via API.
Only if the value is the second entry, I get the correct string.

**Steps to reproduce the problem**

Value is

[2018-08-26 11:40] YouhannaSabry opened #1805 "Rename the default file name generated when posting to /upload"
**Informations**
- **Node.js v9.5.0**:
- **npm 6.1.0**:
- **Strapi 3.0.0-alpha.13.1**:
- **Database MongoDB**:
- **Ubuntu 18.04 Bionic Beaver**:

**What is the current behavior?**
Posting to /upload generates a name for the file and saves it to public/uploads .. I need to know how to customize or choose a specific name for the file being uplaoded.

[2018-08-26 12:36] derrickmehaffy commented on #1804
@MartinMuzatko was this posted using something other than the AdminUI. Currently the adminUI is the only thing that by default uses that default value AFAIK (confusing I know)

There is no real validation layer in strapi yet ( it is on their list of things to do ) so the bookshelf/knex hooks don't process this. If you enable the debug option you see if the value is being applied from bookshelf.

F

[2018-08-26 15:00] derrickmehaffy commented on #1787
pstttt @lauriejim technically this is a bug :stuck_out_tongue:

[2018-08-26 15:01] lauriejim commented on #1787
psttt @derrickmehaffy do not disturb my week end 😆

[2018-08-26 16:01] MartinMuzatko commented on #1804
Nope, I created these via the admin UI. While the admin ui shows these values properly, the GET request does not.

[2018-08-26 23:17] avallete opened #1807 "Bug tests infinite loop of 'Database connection failed!'"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: *
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**

When setting up a 'development' environment to contribute, then, running `npm run test` to check if everything is setup properly. I've seen that when a database connection fail for one the the test,

[2018-08-27 05:31] jaredmorgs commented on #1381
What flavour of Markdown is supported in the WYSIWYG editor by default? I tried adding a Markdown table into the editor and the table wouldn't render in the preview mode.

I assume the editor preserves white space and LF info when it saves it to the database.

Would it be possible to please add in a statement about what markdown flavours are supported within the editor in a future release?

[2018-08-27 07:45] avallete commented on #1803
Hi, it looking weird to me that your mongoDB has an username and password, but no authentication database.

Did you try to set the 'Authentication database' to 'admin', as mongo set it by default ?

[2018-08-27 08:54] lauriejim commented on #1797
Hello @MartinMuzatko , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-27 08:59] lauriejim commented on #1798
Hello @quibaritaenperdresatrompe, some work has been done to make it works well with Yarn but not all complete.

I suggest you to use Strapi with npm because Yarn is not our priority now.

If you want absolutely Yarn support rapidly feel free to investigate on your side and submit a PR.
Every contribution on Strapi is appreciated to make the project better.

Check out the contributing guide to get

[2018-08-27 09:02] lauriejim commented on #1801
Hello @piLinux , thank you for this report.

It's an easy update to do, can you please submit a PR to fix it.
We will appreciate your contribution on Strapi.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-27 09:07] lauriejim commented on #1803
Did you check migration guides ? https://github.com/strapi/strapi/wiki

[2018-08-27 09:10] lauriejim commented on #1804
Hello @MartinMuzatko , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-27 09:27] lauriejim commented on #1807
Yesterday I fix jest start https://github.com/strapi/strapi/pull/1806
But bugs still happen in test suites.

And feel free to submit a PR, help is appreciate !

[2018-08-27 10:55] vitaliyKorzhenko commented on #1168
how I can change name in left menu?  How I can use label in admin/config layout.js

[2018-08-27 11:43] avallete commented on #891
If no one is already on it I will start working on it by tomorrow.

[2018-08-27 12:16] derrickmehaffy commented on #1168
@vitaliyKorzhenko not currently possible.

[2018-08-27 12:17] derrickmehaffy commented on #891
@avallete I don't think anyone has started work on the documentation, so your help would be great :smile:

[2018-08-27 13:00] #1690 closed

[2018-08-27 13:37] derrickmehaffy commented on #1551
I've started a fix for this: https://github.com/strapi/strapi/pull/1813

[2018-08-27 13:37] derrickmehaffy commented on #1551
@osamajandali was this in line with what you were thinking?

[2018-08-27 14:32] avallete commented on #1807
@lauriejim PR has been made (maybe unnecessary ping, but since I don't remember if referencing an issue trigger the notification :flushed: )

[2018-08-27 14:46] avallete commented on #1801
I've didn't found any migration guide for this deprecation. So it should not have any breaking changes.

If no one is already on it, I will investigate about the possibles side effect and submit a PR ASAP.

[2018-08-27 15:02] soupette commented on #1791
@yummyelin is it still happening? Can yo do a new setup with the following command from the monorepo `npm run setup:build` and check if you still have the `babel-polyfill` error when running the admin on the build?

[2018-08-27 15:27] avallete commented on #1801
After some research, as I feared, `sprintf` is not a direct strapi dependency (as usual with node :sob: )

The error come from `koa-i18n` package, which depend on `i18n-2` module.

An issue and a PR is already ready on this repo. I've made a comment to bump up the issue.
https://github.com/jeresig/i18n-node-2/issues/120

Once the `i18n-2` PR has been merged, we will probably need to create an issu

[2018-08-27 15:27] derrickmehaffy commented on #1497
I think @Pritoj is working on it currently

[2018-08-27 15:43] avallete opened #1818 "Monitor dependencies updates / vulnerabilities"
**What is the expected behavior?**

Since strapi is going to the 'one repo' model. And each package have specific dependencies. It would be great to still monitor each module individually (at least for the dependencies part).

I would like to propose the [Snyk](https://app.snyk.io) solution.

Why Snyk ?

1. He allow to generate report about security issues into dependencies periodically.
2. He pro

[2018-08-27 15:47] #891 closed

[2018-08-27 15:49] lauriejim commented on #891
I'm completely agree @avallete. Like upload and email providers.
You can open an issue about your proposal.

[2018-08-27 16:03] avallete opened #1819 "Handle auth provider as plugin"
**What is the expected behavior?**

Actually, to add a new auth provider, we must make several changes into the core of the `strapi-user-permissions` plugin.

It would be great to refactor this part to handle provider as in the 'upload' or 'email' plugin. By simply creating a new 'strapi-auth-xxxprovider' plugin.

To do that, we will need to refactor the `user-permissions` plugin, can take example

[2018-08-27 16:03] soupette commented on #1254
The other way would be to add a default value to the required fields.

[2018-08-27 16:03] #1254 closed

[2018-08-27 16:06] lauriejim commented on #1801
Thank you @avallete for details!

[2018-08-27 16:16] MartinMuzatko commented on #1758
@lauriejim what do you think?
![image](https://user-images.githubusercontent.com/2950505/44671252-4a306e80-aa25-11e8-8432-7272f41b5481.png)

[2018-08-27 16:42] avallete commented on #1172
I have not been able to reproduce this error.

I'm also using Window 7.

Maybe it has been fixed in another PR.

[code]

PS: `depPath` and `globalRootPath` are some logs I made to verify everything is properly handled. Do not take care of it.

Please @SerQuicky can you retry with the latest version of strapi, and tell us if the issue persist on your side ?

[2018-08-27 19:12] xeastcrast opened #1821 "warn (hook:strapi-mongoose) `strapi-hook-strapi-mongoose` is missing in your dependencies"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.2.0
- **Strapi version**: 12.6
- **Database**: mongodb
- **Operating system**: win10

**What is the current behavior?**
```warn (hook:strapi-mongoose) `strapi-hook-strapi-mongoose` is missing in your dependencies. Please run `npm install strapi-hook-strapi-mongoose```

and this is following error
[code]
when I run ```npm run dev``

[2018-08-27 20:19] xeastcrast commented on #1821
@derrickmehaffy It work for me. Thanks a lot 👍 👍 👍 👍 👍

[2018-08-27 20:27] rezof opened #1822 "re-use a media file"
**What is the expected behavior?**
i believe right now there is no way to re-use a media file.
it would be awesome if we have the possibility to pick from the media library.

[2018-08-27 20:32] rezof commented on #1822
just realized it's a premium plugin

[2018-08-27 20:32] #1822 closed

[2018-08-27 22:17] MartinMuzatko opened #1823 "Allow any valid JSON data in the JSON field - not just objects"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: .6.2.0
- **Strapi version**: alpha 13.1
- **Database**: pg
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**
Maybe also related to #784 - being able to input an array would be nice.
I'd expect any valid JSON to be allowed in a JSON field. But this is not true.
![image](https://user-images.githubusercontent.com/29

[2018-08-28 00:14] Kinark commented on #1323
Still happening on the latest alpha version (3.0.0-alpha.14)

[2018-08-28 05:51] Pritoj commented on #1497
Hey guys,
So I had hit a few roadblocks on this. I'm currently working on this, but only after work. Will try to get it out ASAP.

[2018-08-28 12:04] derrickmehaffy opened #1826 "MySQL using UUID doesn't generate a random UUID"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**: 6.4.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: 10.2.17-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

When using the option added in this PR: https://github.com/strapi/strapi/pull/1682 like so:

[code]

When attempting to add an entry I am getting the following error:

[

[2018-08-28 12:28] avallete commented on #415
Maybe we should reopen this issue ?

I have the same one on windows 7, using git bash:

[code]

It look like an error with `cross-env` more than strapi doe :thinking:

[2018-08-28 12:50] derrickmehaffy commented on #1770
@danielehrhardt can you confirm this still exists with Strapi v14 please.

[2018-08-28 14:04] MartinMuzatko opened #1828 "Improve developer experience"
**What is the expected behavior?**

Recently I started to dive a little bit into development with Strapi.
I were following the guide outlined on the [contributing](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#setup-development-environment) page and I found it is barely possible to get started.

I'm using WSL/Ubuntu on Windows and after 20 minutes I get package linking errors.

Is t

[2018-08-28 14:20] ghost opened #1829 "Use locale config on frontend-side"
**What is the expected behavior?**

Documentation has a [language config](https://strapi.io/documentation/configurations/configurations.html#language) . `defaultLocale` set a default locale on app. But on frontend-side  not fetching defaultLocale from server and calc this by simple algorithm `foundLanguage || first(languages) || 'en'`. I suggest add api method `appConfig` or something else and use

[2018-08-28 14:31] derrickmehaffy commented on #1828
2nd this from me, especially when helping others out, I really don't want to blow out my global/local installed strapi just to work on another project.

I am aware of running the adminUI separately with live updates and not having to rebuild, but you can't even connect to this if it isn't running on your local machine (using remote VMs to not ~~f*ck~~ up my local strapi install)

A Strapi project

[2018-08-28 14:40] siffash commented on #1585
@henrych4 hi henrych, I have the same issue here. Did you find any solution?

[2018-08-28 14:45] siffash commented on #1316
Same problem here, but the response I get trying to send a post request to /upload is:
{
	"statusCode": 403,
	"error": "Forbidden",
	"message": "Forbidden"
}
Deployed in heroku.

[2018-08-28 15:49] henrych4 commented on #1585
I have seen your comment on another [post](https://github.com/strapi/strapi/issues/1316#issuecomment-416613667)

It seems there is something wrong with your token and thus you receive 403 response.

For upload issue, as mentioned [here](https://github.com/strapi/strapi/issues/1316#issuecomment-394806304), the normal way to upload file to a field is first upload it to `Upload` section and then link

[2018-08-28 16:16] lauriejim commented on #1821
https://github.com/strapi/strapi/wiki/migration-guide-alpha.12.7-to-alpha.13#%EF%B8%8F-update-hook-name

[2018-08-28 16:37] Pritoj commented on #1497
Hey Guys,
Please check this out https://github.com/Pritoj/ra-dp-strapi

Any feedback appreciated

[2018-08-28 16:38] greatwitenorth commented on #1683
Also here's some hackey code that seems to fix the issue:

[code]

When added just above the chuck of code in my previous comment it seems to fix the issue.

[2018-08-28 16:52] SimpleCookie opened #1832 "Missing default router-prefix value"
Version 3.0.0 alpha

**What is the current behavior?**
Strapi router prefix value is empty by default, however it is set to '/' I guess...

**Steps to reproduce the problem**
Change the value to /api
test the api and it works
remove the value to empty string
Results in "missing parameter" ..

**What is the expected behavior?**
Should either automatically set the value to '/' or have '/' as a defau

[2018-08-28 16:55] SimpleCookie commented on #1832
And after changing the value to /api, if you go to `content manager`, then the images will not load.
If page is refreshed after this, then following error message will be shown:
`{"statusCode":404,"error":"Not Found","message":"Not Found"}`

[2018-08-28 17:04] siffash commented on #1585
Thank you @henrych4
The problem was with uploading it to Upload section. I got errors 403 and 500.
To solve the 403 I needed to grant upload permissions in the Admin panel.
To solve the 500 I needed to create "uploads" directory in the "public" directory. Apparently heroku doesn't let strapi to create directories (since it worked only locally).
The question now is how to put the uploaded file insi

[2018-08-28 17:20] derrickmehaffy commented on #1832
duplicate: https://github.com/strapi/strapi/issues/1323

[2018-08-28 17:41] lauriejim commented on #1829
Hello @nobodywithbody!
It's just to give more information about translations.

Language configs on the back-end part is based on `./config/locales/xxx.json` files.

And the front-end part is based on `./admin/src/translations/xxx.json` files.

So it can manage completely different languages between back-end and front-end.

A sugg

[2018-08-28 17:51] lauriejim commented on #1316
@siffash you have to set your header if you are authenticated, or if you want this route open, check permissions in [Roles](http://localhost:1337/admin/plugins/users-permissions/roles) then click on **Public** role. And open **Upload** dropdown and check `upload`.

[2018-08-28 17:59] lauriejim commented on #1683
Thank you @greatwitenorth for your investigation, can you submit a PR if you have a fix to offer to the community.

Appreciate.

[2018-08-28 18:04] #1832 closed

[2018-08-28 19:16] cokasio commented on #391
Srizah did you resolve this?

[2018-08-29 03:00] henrych4 commented on #1585
Sorry I am not familiarize with heroku but as suggested [here](https://blog.strapi.io/deploying-a-strapi-api-on-heroku/#comment-4051422937), you may have to upload the file to aws s3 or Cloudinary.

[2018-08-29 03:35] peckhouse commented on #1783
I'm having the same issue.

**Steps to reproduce the problem**
I've created a `Casestudy` and `Client` content type.
`Casestudy` has many `Client`.
All the fields for the text, WYSIWYG, textarea are behaving correctly.
media fields from `Client` return null when calling a `Casestudy`.
from `Casestudy` :
![screen shot 2018-08-29 at 12 27 18](https://user-images.githubusercontent.com/700371/44763835

[2018-08-29 06:43] Mike-Van opened #1834 "Server failed to start after clean install of graphql"
Im following the guide here: https://strapi.io/documentation/guides/graphql.html but after doing a clean install of graphql. I get this error when i try to start the server. It's only until i removed graphql that i can normally start the server. I havent touched or altered any setting yet.

[code]

[2018-08-29 06:53] amit-deligence opened #1835 "how to filter data on basis of array of id"
**What is the expected behavior?**

[2018-08-29 07:04] derrickmehaffy commented on #1834
@Mike-Van Do you have enum values with spaces or special chars in them (in this case `:`) ?

[2018-08-29 07:29] MartinMuzatko commented on #1828
A few more thoughts:

Generated projects rely on the globally installed strapi installation if I'm not mistaken.
This is also easily resolvable by pointing the package in the generated projects package.json to the local strapi.

When debugging strapi, I have some dependencies on my project, and some on strapi. I'd love to be able to debug both at the same time.

[2018-08-29 08:37] g-div commented on #1550
I think @maturano is right, but alternatively you can try [npx](https://blog.npmjs.org/post/162869356040/introducing-npx-an-npm-package-runner). This worked for me:
[code]

[2018-08-29 09:02] g-div commented on #1152
Any news about this feature ? Can we follow the development progress somewhere (maybe this issue shouldn't be closed) ?

[2018-08-29 09:06] g-div commented on #1152
In #931 @soupette proposed a work-a-round documented [here](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/doc/customize-menu.md), but it seems to work only on *Content Types* and not on *plugins* and *general* section, am I right or are there other possible solutions already available ?

[2018-08-29 13:19] coolemur commented on #744
+1
Import/export a resource or all app resources is significant feature in many projects.
For example - cloning a base project backend.

[2018-08-29 14:47] avallete opened #1837 "Make development setup:build work on Windows"
Related to: https://github.com/strapi/strapi/issues/1828

**What is the expected behavior?**
[code]

At the moment, we have many problems when trying to setup strapi on a windows platform.
This issue is here to:

- List the current problems.
- Discuss the possible solutions.
- Address them in a coordinated way.

## The `basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`  error

Related to: iss

[2018-08-29 16:47] danielehrhardt commented on #1770
@MartinMuzatko could you please check the Question from derrickmehaffy

[2018-08-29 17:47] Flowbook opened #1839 "Docker with Ngnix Config"
**Informations**
- **Node.js version**: 10.7
- **npm version**: 6.1
- **Strapi version**:13.0.1
- **Database**:Mongo
- **Operating system**:Ubuntu

**What is the current behavior?**

I'm trying to make my strapi project working with the latest strapi version (the 13.1) with a docker & proxy Nginx and I'm facing the following problem : when I'm logging onto the dashboard and going on the "role and

[2018-08-29 17:52] derrickmehaffy commented on #1839
@Flowbook ahhh my eyes! Codeblocks please :stuck_out_tongue_winking_eye:

[2018-08-29 20:25] stephane-r opened #1840 "Building the admin dependencies error"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: > 5
- **Strapi version**: latest
- **Database**: mongo
- **Operating system**: gitlab-ci, docker image node:9.11.1-alpine

**What is the current behavior?**

I would like run build step via Gitlab-Ci, but the admin building step return an error :

[code]

**Steps to reproduce the problem**

You can see my gitlab-ci.yml build config

[2018-08-30 08:55] lauriejim commented on #1835
Hello @amit-deligence , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.

**Please give us more informations please**

Thank you.

[2018-08-30 08:55] #1835 closed

[2018-08-30 09:29] derrickmehaffy commented on #1578
Have confirmed the graphical bug on the AdminUI in Strapi v14, however the models are "working" without breaking. The AdminUI just shows them as being oneToOne or oneToMany when you click on them in the content type builder.

[2018-08-30 11:40] goras opened #1842 "Database authentication fail after upgrade to alpha.14"
**Informations**
- **Node.js version**: 10.0.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: mongo 3.6.6
- **Operating system**: macOS High Sierra 10.13.6

**What is the current behavior?**
The database authentication fails when generating a new Strapi project.

**Steps to reproduce the problem**
1. Install alpha.14 ``npm install strapi@3.0.0-alpha.14 -g``
2. Genera

[2018-08-30 12:02] goras commented on #1842
I set up another db on mlab and updated the ticket with real credentials for testing purposes.

[2018-08-30 12:36] danielehrhardt commented on #1770
I think it is fixed with v14.

[2018-08-30 13:04] lauriejim commented on #1842
@sundaycrafts can you check that please.

[2018-08-30 13:13] MartinMuzatko commented on #1770
I'll check the next days

[2018-08-30 13:16] danielehrhardt commented on #1770
It is still not working.

[2018-08-30 13:25] lauriejim commented on #1770
I tried and I'm not able to reproduce.

[2018-08-30 14:15] lauriejim commented on #886
Look to be good in last version of strapi. Will reopen if needed with steps to reproduce

[2018-08-30 14:15] #886 closed

[2018-08-30 14:31] SimpleCookie commented on #1832
@derrickmehaffy It's not a duplicate.
I am also mentioning that the input field is missing the default value.

[2018-08-30 14:45] NikhilNanjappa opened #1843 "'TypeError:strapi.plugins.email.services.send is not a function' console error"
**Informations**
- **Node.js version**: `10.4.0` (replicable in `8.9.4` and `9.9.0`)
- **npm version**: `6.2.0` (also used `5.6.0`)
- **Strapi version**: `3.0.0-alpha.14`
- **Database**: MongoDB
- **Operating system**: macOS Sierra

**What is the current behavior?**

My intention is to send emails using the default strapi email provider. Using the below code(in `api/email/controllers/Email.js`) gi

[2018-08-30 14:51] derrickmehaffy commented on #1832
@SimpleCookie the "/" is not needed as a default, changing the prefix right now is known to break stuff.

[2018-08-30 14:53] danielehrhardt commented on #1770
@lauriejim
https://drive.google.com/file/d/1XHQ0OuGm-j4dLO8JgCakxSWeYw1b4m6L/view

[2018-08-30 14:58] jbergstroem opened #1844 "Poor word wrapping in language settings"
**Informations**
- **Node.js version**: node 10.9
- **npm version**:  6.2
- **Strapi version**: 3.0.0-alpha14
- **Database**: postgresql
- **Operating system**: macos

Language wraps very unfortunately if the width of the browser is not "wide enough":
<img width="638" alt="screen shot 2018-08-30 at 11 56 39 am" src="https://user-images.githubusercontent.com/176984/44860172-09666e80-ac4c-11e8-9717-

[2018-08-30 15:00] derrickmehaffy commented on #1844
@jbergstroem this isn't just with the language it is with the entire site :stuck_out_tongue:

I don't think it is a priority for them at the moment but I'm sure @soupette is working on something.

[2018-08-30 15:04] jrodriguesimg commented on #1102
I also have problems with the facebook provider. The redirect_uri sent to facebook uses http instead of the obligatory https. Should I create a different issue?

[2018-08-30 15:10] jrodriguesimg commented on #927
I don't quite follow why this issue is colsed. How does the documentation to create a new login provider solves the issue of a wrong redirect_uri being generated by an already existing provider?

[2018-08-30 15:49] jbergstroem commented on #1844
Thanks for letting me know. Is there perhaps another issue that is more relevant?

[2018-08-30 15:58] soupette commented on #1844
@jbergstroem it's really hard to make admin responsive with our current style configuration.
If you feel like contributing for improving this part of strapi we would really appreciate since it's not our priority for the moment.

[2018-08-30 16:04] soupette commented on #1578
So it's front-end related?

[2018-08-30 16:05] soupette commented on #1770
@danielehrhardt are you using the last version of strapi?

[2018-08-30 16:54] lauriejim commented on #1490
Start to fix relations here: https://github.com/strapi/strapi/tree/fix-relations
1:1 is done, need to work on 1:n

[2018-08-30 17:03] lauriejim commented on #1770
Test with last version of Strapi and with a fresh new app.

[2018-08-30 17:08] danielehrhardt commented on #1770
Yes I tested with Alpha 14 and with a new Setup.
I am using Windows 10.

[2018-08-30 17:08] dwarcher opened #1847 "Dragging and dropping an image into the WYSIWG and hitting save does not save the changes"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.6.0
- **Strapi version**:3.0.0-alpha.13.1
- **Database**:mongodb
- **Operating system**: Mac OS 10.12.6

**What is the current behavior?**
I am using the WYSIWG on a Text field. I am seeing this if I edit an existing piece of content (not when creating a new piece of content):

When dragging and dropping an image into the WYSIWG,

[2018-08-30 17:35] jbergstroem opened #1848 "Enumeration field "title" attribute lacks validation"
**Informations**
- **Node.js version**: v10.9
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha14
- **Database**: postgres 10
- **Operating system**: macos

Enumeration fields aren't validated, meaning they can be left empty:
<img width="689" alt="screen shot 2018-08-30 at 2 32 35 pm" src="https://user-images.githubusercontent.com/176984/44868610-b39cc100-ac61-11e8-88ec-2136b15ec3e5.png">

[2018-08-30 17:43] NikhilNanjappa commented on #1843
I moved the send action code from `api/email/controllers/Email.js` to `plugins/email/controllers/Email.js` and gave all permissions to the 'Public' role. This fixed the 'plugins.email.services.send is not a function' issue but **now I'm getting** `Error: Cannot wrap non-Error object` error in my console. Complete stack trace is below :

<img width="1016" alt="screen shot 2018-08-30 at 18 38 42" sr

[2018-08-30 17:54] greatwitenorth commented on #1683
Just to followup, it looks like my above fix only solves the problem of multiple related models not showing in the nested results for an item. But the original post here was mentioning about the reverse query (when an association is not 'dominant') not showing any results. This case statement seems to be the culprit:

[code]

removing the ```if (association.dominant)``` condition seems to fix the

[2018-08-30 17:56] sundaycrafts commented on #1842
Hi @goras . I tried it in same environment.

I think your issue does not depend on Strapi, it is mlab's trait.
You have to set database name to **Authentication database:**.

For example, auth DB is `sandbox` in this picture👍

<img width="1184" alt="mlab__cloud-hosted_mongodb-2" src="https://user-images.githubusercontent.com/4732821/44869590-ee860f80-acc8-11e8-8fea-8534fe19bbe4.png">

[2018-08-30 18:11] jbergstroem opened #1849 "Field types aren't properly escaped in search queries"
**Informations**
- **Node.js version**: 10.9
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha14
- **Database**: postgres 10
- **Operating system**: macos 10.14

1. Create a data model in style with:
[code]

2. Add content to data model

3. Attempt to search via the top bar:
<img width="939" alt="screen shot 2018-08-30 at 3 09 51 pm" src="https://user-images.githubusercontent.com/176984/4

[2018-08-30 18:13] jbergstroem commented on #1844
My styling skills are likely as limited as your time constraints 😢  Lets at least keep this open, perhaps you have a "low hanging fruit" tag that eager frontend contributors can find?

Lets keep

[2018-08-30 18:46] jbergstroem commented on #1849
Looks like this is the problem: https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-manager/config/queries/bookshelf.js#L72

[2018-08-30 19:45] derrickmehaffy commented on #1578
@soupette yes

[2018-08-30 21:10] goras commented on #1842
Aha, I had no idea about this. I've changed the value of "Authentication database" to same as the database name, "mydb" and it works! I guess something's changed in alpha.14 then, since I've used a blank field for Authentication database in previous Strapi versions. Thanks for your help!

[2018-08-30 23:05] jbergstroem opened #1850 "Creating indexexes should use the suffix "IF NOT EXISTS""
- **Node.js version**: 10.9
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha14
- **Database**: postgres 10
- **Operating system**: macos 10.14

When using postgres, you will see a lot of errors when creating indexes because they already exists. Here's a few snippets from the test suite:
[code]

Strapi should suggestively use "IF NOT EXISTS" to avoid this. This was introduced with [postgr

[2018-08-30 23:10] jbergstroem commented on #1850
Looks like you just want to edit this file (yes, I know - I should do it myself but when I use prettier as part of my editor it completely re-indents your syntax. What eslint rig do you use for validating indentation?): https://github.com/strapi/strapi/blob/master/packages/strapi-hook-bookshelf/lib/index.js#L477

[2018-08-31 08:11] lauriejim commented on #1770
Someone with MacOs can test it please.

[2018-08-31 08:48] lauriejim commented on #1843
Try `strapi.plugins.email.services.email.send`.

[2018-08-31 08:51] #1842 closed

[2018-08-31 08:58] NikhilNanjappa commented on #1843
@lauriejim - This issue is fixed.

I have mentioned the steps for the fix in the above comment. Could you also clear the doubt asked ?

[2018-08-31 09:00] lauriejim commented on #1849
Hello @jbergstroem , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-31 09:14] #1843 closed

[2018-08-31 09:27] lauriejim commented on #1490
@mnlbox Can you provide me precise steps to reproduce your issue with 1:n

[2018-08-31 09:45] lauriejim commented on #1490
And open it in a new issue. This one is about 1:1 and it's fixed;

[2018-08-31 11:05] nobodywithbody commented on #1829
What a case should be in different language on backend and frontend? IMHO, language is user specific option. User enter in CMS, set language and frontend display in selected language and backend generate message in this language.

[2018-08-31 12:40] ArkhipovK opened #1856 "Display fields component is not working in firefox"
**Informations**
- **Node.js version**: 8.11.1
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.14
- **Database**: postgress
- **Operating system**: windows 10

**What is the current behavior?**
Display fields component just closes (without filed hiding) after click on any element in firefox. In chrome it works as expected.
![alt text](https://screenshotscdn.firefoxusercontent.com/image

[2018-08-31 15:09] henricazottes opened #1858 "TypeError: strapi.plugins.email.services.send is not a function"
**Informations**
- **Node.js version**:
v9.11.2
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.14

- **Database**:
Mongodb

- **Operating system**:
Ubuntu 18.04

**What is the current behavior?**
When posting to ``/email``, I get a server error on the client. The server error is the following:

[code]

**Steps to reproduce the problem**
Install Strapi
Use postman and pots to ``/email``

[2018-08-31 15:30] g-div opened #1859 "Cannot create entry containing floats"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 6.0.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**
Creating a new entry containing a *float* field returns the error:
[code]
which is otherwise not easily debuggable because the error gets catched [here](https://github.com/strapi/strapi/blob/60a7e99d11

[2018-08-31 15:33] g-div opened #1860 "Cannot create entry containing a date field"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 6.0.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**
Creating a new entry containing a *date* field returns the error:
[code]
which is otherwise not easily debuggable because the error gets catched [here](https://github.com/strapi/strapi/blob/60a7e99d11a

[2018-08-31 15:36] jrodriguesimg opened #1861 "Facebook provider is broken: wrong request_uri"
**Informations**
- **Node.js version**: v9.11.2
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha-14
- **Database**: MySQL
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**

request_uri for the facebook provider is generated with http. http uris are rejected by facebook (except localhost uris for dev)

**Steps to reproduce the problem**

Setup facebook provider and se

[2018-08-31 15:44] g-div commented on #1860
Is #1855 related to this issue ?

[2018-08-31 15:53] derrickmehaffy commented on #1861
PR In progress: https://github.com/strapi/strapi/pull/1851

[2018-08-31 15:54] derrickmehaffy commented on #1859
what mongoDB version?

[2018-08-31 15:55] g-div commented on #1859
I've tried 3.2.8 locally and 3.6.7 on the server

[2018-08-31 16:10] greatwitenorth opened #1862 "Upgrading from alpha13.1 - 14 breaks Content Manager screen"
**Informations**
- **Node.js version**:
v10.9.0
- **npm version**:
6.4.0
- **Strapi version**:
alpha 14
- **Database**:
MySQL
- **Operating system**:
macOS 10.13.6 (17G65)

**What is the current behavior?**
I visit the a specific model in the Content Manager and I get a blank screen and a javascript error in my console.

**Steps to reproduce the problem**
- I had an existing installation of alpha

[2018-08-31 16:15] derrickmehaffy commented on #1862
Did you do the following?

[2018-08-31 16:37] greatwitenorth commented on #1862
@derrickmehaffy yes I did that step.

[2018-08-31 18:36] FinnFrotscher opened #1863 "Custom editor components - expl.: ECharts"
**What is the expected behavior?**
Is it possible to add custom components to the body of the content?

For example, we would like to add Charts from [ECharts](https://github.com/apache/incubator-echarts) to our Articles.
Our App is rendered by Gatsby.

[2018-08-31 19:35] andfk commented on #888
Hi @Aurelsicoko, the issue is if we can't attach the `beforeDestroy` and `afterDestroy` into mongoose (does bookshelf accepts it, right?) there is not a possible wait until now to attach listeners when stuff is deleted from the `/admin` panel. Im new working in Strapi and just discovered `Content Manager` plugin no trigger `services` methods then if no services are called nor mongoose events, righ

[2018-08-31 23:39] yummyelin opened #1865 "How to set app.proxy = true to get remote address?"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

I need to get the request remote address, however I always get the local ip from nginx. The [documentation](https://strapi.io/documentation/1.x.x/request.html#api) says set app.proxy = true to support 'X-Forwarded-For'. Where can I set it?

[2018-09-01 00:36] yummyelin commented on #1865
`    const remote_address = ctx.request.get('X-Forwarded-For').split(/\s*,\s*/)[0];
`

[2018-09-01 00:36] #1865 closed

[2018-09-01 00:37] #1525 closed

[2018-09-01 02:16] qubbit opened #1866 "Plugin directory creation fails after running `strapi new app_name` with Yarn"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**:  - (yarn was used, more to come here)
- **Strapi version**: 3.0.0 alpha
- **Database**: Postgres
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**

Plugin directory creation fails while running `strapi new app_name`. App can still be run even when the installation succeed while failing plugin installation step

[2018-09-01 13:36] selbersuess opened #1867 "cant connect /auth/local, /auth/local/register, etc. allways get 404"
**Informations**
- **Node.js version**: v9.11.2
- **npm version**:  6.41
- **Strapi version**: 3.0.0-alpha.14
- **Database**: mongo
- **Operating system**: ubuntu 18.04

**What is the current behavior?**
try to connect http://localhost:1337/auth/local to login from frontend-app. allways get 404 not found

i searched here and googled, but can't find a solution. any ideas?

[2018-09-01 15:18] flashfoxter opened #1868 "Error with super simple install from site steps"
node -v v10.9.0

npm -v 6.2.0

3.0.0-alpha.14

**Informations**
- node -v v10.9.0
- npm -v 6.2.0
- 3.0.0-alpha.14
- ?
- **Operating system**:
ProductName:	Mac OS X
ProductVersion:	10.13.3
BuildVersion:	17D102

**What is the current behavior?**
Error: Cannot find module 'fs-extra'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/

[2018-09-01 16:41] selbersuess commented on #1867
sorry, my fault. its an issue with axios in my frontend-app...

[2018-09-01 18:40] oznekenzo opened #1869 "Strapi cannot connect to mlab when used by second admin on second computer"
node v8.11.1
strapi 3.0.0-alpha.14
npm 6.1.0
mlab
macOS 10.13.6

**What is the current behavior?**
Strapi boots after strapi start works as expected on my computer.
When my partner boots strapi after strapi start, his dashboard cannot access data from mlab from new content types, but *can* access data from the default "Users" content type.

If my partner creates a new content type on his computer

[2018-09-01 20:43] hansemannn opened #1871 "Disable certain plugins"
**What is the expected behavior?**

Is it possible to disable certain plugins? I noticed they are inside the plugins/ directory, but deleting them feels weird, so I am looking for a configuration file that manages those. Is that existing already? Great project btw!

**EDIT**: There is the `admin/admin/src/config/plugins.json` file, but it seems to be regenerated on every `strapi start`.

[2018-09-02 00:12] SimpleCookie commented on #1832
@derrickmehaffy the solution is simple, just set the value to '/' as default. I tested it myself. Was gonna send in a PR but did not because I had no time for it. If the value in the logic is /, then the input should mirror that value imo. It makes sense, right?

[2018-09-02 10:03] hansemannn opened #1873 "Content types do not show field labels in list-view"
**Informations**
- **Node.js version**: Node 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.14
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**
We can assign labels to our content type field, which is great! They are used in the content details and look good. Unfortunately, for their parent-view (the list-view of persisted content), the l

[2018-09-02 10:05] hansemannn opened #1874 "Show thumbnails of images in the contents list-view"
**What is the expected behavior?**

It would be awesome to see a preview of content with the "image" type inside the contents list-view.  Going even further, a slick React library could be used to enable a hover-preview of them, giving the content curators the best possible UX.

[2018-09-02 11:22] mockbirds opened #1875 "How to deploy plugins locally or switch between development and production version?"
**Informations**
- **Node.js version**: v10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongoDB v3.6.6
- **Operating system**: macOS 10.12.6

**What is the current behavior?**
1. Managed to setup the dev environment for strapi
2. Created a new strapi project in dev mode
3. Added a new custom array field type to strapi by making
changes to the content-manager a

[2018-09-02 13:48] goras opened #1876 "GraphQL Interfaces and Unions"
**What is the expected behavior?**

Feature request for adding support for creating GraphQL Interfaces and Unions.

Not sure of how to implement this, neither the UX nor the code and I haven't seen any mentions of this functionality in this repo so far. Still I think it would be very useful for a lot of different use cases and helps to create very flexible and separated code. Here is a post that d

[2018-09-02 14:25] TokenChingy opened #1877 "GraphQL Subscriptions"
**What is the expected behavior?**

Feature request for adding support for creating GraphQL Subscriptions.

Once the mutations are tested and merged, it would be really nice to have subscriptions supported in the auto-generated shadow crud. This would save network resources as we wouldn't need to poll.

[2018-09-02 15:58] kamalbennani commented on #1877
I already have a working implementation based on the Mutation PR. I'd love to submit a PR for it once the mutation one is well tested + merged.
![image_720](https://user-images.githubusercontent.com/14129459/44957985-abe75180-aed9-11e8-956c-e5bfa4b25f61.png)

[2018-09-02 16:10] TokenChingy commented on #1877
Can I get access to the implementation?

[2018-09-02 22:57] danielehrhardt commented on #1770
it works with mac osx. This is extreme wried.

[2018-09-02 23:21] danielehrhardt opened #1879 "Windows Strapi New Knex Issue"
![image](https://user-images.githubusercontent.com/19570043/44961820-9bee6280-af17-11e8-89fc-df0012f58a3b.png)

Node 9.11.1

Npm 6.4.1

Alpha 14

**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

[2018-09-03 06:31] derrickmehaffy commented on #1873
There is a new feature on changing the view of the Fields either within list or edit view, as you can see in a screenshot of my project below, the top list is for the "list view" and the bottom is for the "edit view". You can assign custom names to fields here. Note that these are only for the adminUI and not related to how it is shown in the RestAPI.

![image](https://user-images.githubuserconten

[2018-09-03 06:35] derrickmehaffy commented on #1869
@oznekenzo enable debug mode in your database.json file to see more detailed errors.

If I had to guess however, this is likely a limit of mlab and not one with strapi, or your database is not configured correctly to handle multiple connections.

[2018-09-03 06:36] derrickmehaffy commented on #1871
@hansemannn the default "plugins" are pretty bare basic and there are depends that might break strapi core. What plugins are you looking to disable?

[2018-09-03 06:40] derrickmehaffy opened #1880 "DMehaffy's Clean Upgrade Steps"
*DMehaffy's "Nuke and Rebuild Steps"*
Only use if no major changes have been done to the normal strapi generated files, and you have only modified the *.settings.json files.

Notes:
If you are using MySQL or Postgres you need to do `strapi generate:api -t bookshelf modelname blahblah:string`

Steps:

1. Ensure you have the latest Strapi installed `npm i -g strapi@alpha`
2. Create a new strapi proj

[2018-09-03 06:41] derrickmehaffy commented on #1880
Closing as I only created this to reference.

[2018-09-03 06:41] #1880 closed

[2018-09-03 06:41] derrickmehaffy commented on #1862
@greatwitenorth I wasn't able to reproduce this issue, I would suggest you do a "clean" upgrade using my steps here: https://github.com/strapi/strapi/issues/1880

[2018-09-03 06:42] hansemannn commented on #1871
I am thinking of a way to hand over a dashboard to a customer. If they want to use it to manage basic content received via the API, they should not be able to see anything else than the content types and their data.

[2018-09-03 06:46] hansemannn commented on #1873
That's what I have set :-) Unfortunately, still with latest alpa, they are only recognized in the data details, not the list-view header itself:

Header:
<img width="909" alt="bildschirmfoto 2018-09-03 um 08 45 23" src="https://user-images.githubusercontent.com/10667698/44971400-b9dab800-af55-11e8-8cca-d5823cd43a8e.png">

Details:
<img width="393" alt="bildschirmfoto 2018-09-03 um 08 45 31" src="h

[2018-09-03 06:47] derrickmehaffy commented on #1871
@hansemannn I would look into "Admin-On-Rest" there is already someone working on a connector for it, but this is more geared towards your usecase: https://github.com/marmelab/admin-on-rest

The Strapi dashboard can be "de-coupled" from the actual API server but the API server can really only reference one dashboard and if you disabled the plugins on it, then the server also would not have them.

[2018-09-03 06:48] derrickmehaffy commented on #1873
@hansemannn can you give me a screenshot of your content manager settings like the one I have shown for this model?

[2018-09-03 06:50] hansemannn commented on #1873
Sure thing! The last one with not persisting labels is addressed now, I needed to add an list settings. Now it looks like this, but the list header still says "Is_public" vs "Is Public":

<img width="1292" alt="bildschirmfoto 2018-09-03 um 08 49 22" src="https://user-images.githubusercontent.com/10667698/44971545-471e0c80-af56-11e8-82de-b2375ce20365.png">

[2018-09-03 06:52] hansemannn commented on #1873
@derrickmehaffy I figured it out! After adding the label to the list settings, removing the label from the header and re-adding it, the label shows correctly!

[2018-09-03 06:53] derrickmehaffy commented on #1873
:+1:

[2018-09-03 06:54] hansemannn commented on #1871
For now, I found a configuration in the React code that I can simply use to hide the left-bar widgets on production. Do you prefer keeping this one open for keeping track of it? I'm fine either way! Thanks again!

[2018-09-03 06:56] derrickmehaffy commented on #1871
@hansemannn just a heads up that while in production those entries are hidden they can still be accessed and used by direct URL.

I don't think there is anything in the plan to allow for this type of use-case as it would require a major rewrite of how Strapi works. The AdminUI itself does not communicate to the server like a standard CRUD page would, and it uses the internal strapi API to modify d

[2018-09-03 06:57] derrickmehaffy commented on #1871
This is a very "niche" case so to speak.

[2018-09-03 06:58] hansemannn commented on #1871
Ok 😗

[2018-09-03 06:58] #1871 closed

[2018-09-03 09:19] lauriejim commented on #1856
@ArkhipovK You can confirm it works on Google Chrome ?

[2018-09-03 09:52] lauriejim commented on #1860
Hello @g-div! I'm not able to reproduce this issue.

What is your attribute name ?
Did you migrate your app or it's a fresh new one ?

[2018-09-03 10:00] lauriejim commented on #1859
@g-div What is the value to set to have this issue please.

[2018-09-03 10:08] lauriejim commented on #888
Hello @andfk, thank you for this message.
It's an interesting point you talk about.

Can you open a new issue (use the *feature request* template) and c/c your comment as issue body.

[2018-09-03 10:13] lauriejim commented on #1866
Hello @qubbit can you precise the strapi version please.
There is many alpha version https://github.com/strapi/strapi/tags

[2018-09-03 10:15] lauriejim commented on #1866
I suggest you to use **npm** instead of **Yarn**
Yarn is not well supported by Strapi. We have done some work on, but nor a priority for now.

[2018-09-03 10:37] lauriejim commented on #1770
🤦‍♂️ Okay !

[2018-09-03 11:03] jrodriguesimg opened #1882 "TypeError: Cannot read property 'unique_email' of undefined"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**:  5.6.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MySQL
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**

When registering a new user the server crashes:

[code]

**Steps to reproduce the problem**

The request coded below will cause the error on the server.

[code]

**What is the expected behavior?*

[2018-09-03 11:29] andfk commented on #888
@lauriejim seems Mongoose will include these hooks functionality working in 5.3 expected for mid of September (https://github.com/Automattic/mongoose/issues/3054#issuecomment-417818580). Should we rely on that release instead? i guess it may be better to do so. Thanks

[2018-09-03 11:36] lauriejim commented on #1879
Can you check @danielehrhardt if the strapi temp app has this module installed.
If you try again, does this issue still happening

[2018-09-03 11:37] Blacknosaur commented on #1859
I confirm this issue at Node v10.5, npm v6.1, Strapi Alpha 14 and mongoDB v3.6.5

[2018-09-03 12:01] ArkhipovK commented on #1856
@lauriejim sure, in chrome it works.

[2018-09-03 12:16] andfk opened #1883 "Queries are run in different way"
**Informations**
- Node v10.6.0
- NPM 6.1.0
- Strapi 3.0.0-alpha.14 (current tested) / 3.0.0-alpha.13 (tested too)
- Mongo v4.0.0
- Mac OSX 10.13.6

**Issue**
Trying to use any method from `mongoose` into model hook returns unexpected results. Running `Model.remove({ _id: model.id })` returns `{ n:0, ok:1 }` or `Model.findOne({ _id: model.id })` returns `null`. I wanted to confirm my queries were

[2018-09-03 12:17] lauriejim commented on #1882
Hello @jrodriguesimg thank you to report this issue.

[2018-09-03 12:38] g-div commented on #1859
@lauriejim I've just tried to add fill out the form with a float, like for example `3.4539`

[2018-09-03 13:08] g-div commented on #1860
It's a new fresh app and the attribute name is `date`.
I've also just tried to reproduce this from scratch and was unable to, but I understood that the problem comes from this part of the model definition:
[code]

I'm not exactly sure where the `o` as default value is coming from, but I'm pretty sure that I've just created the model from the UI, without modifying the file myself. Even if it was my

[2018-09-03 14:19] jrodriguesimg commented on #1882
Well... with that fix the server does not have an internal error. Still the response is 400. How can I set loggers to show what's wrong with my request?

[2018-09-03 14:26] Aurelsicoko commented on #1874
@hansemannn +100 👍

We already thought about implementing the preview of images but I think the implementation of the relational field is more important. But, you're right, it'll be done in the next versions, I can't give you a date though...

[2018-09-03 14:34] jrodriguesimg commented on #1882
Oh. The fetch was giving me an absurd response object. With Postman I got this:

[code]

As you can see in the postman window, I'm setting the password.

![wrong-password-postman](https://user-images.githubusercontent.com/39995657/44992306-c7f8fa80-af8e-11e8-92e2-28599c5743d5.png)

[2018-09-03 14:57] Aurelsicoko commented on #1837
@avallete Thank you for raising this issue! Your analysis seems good to me, I would love to see you trying to implement these changes and ensure it works on Windows.

However, I'm not sure to understand how you plan to avoid to use Shell variable. Can you give us an example? These variables are very important and required to run the setup and build scripts. Without them, nothing work...

[2018-09-03 15:05] TokenChingy commented on #1859
I'm confirming this issue for GraphQL Mutations #1650 . Initially I thought it was a MongoDB version issue (thanks to @Aurelsicoko) however upon doing a full wipe of the server and fresh install of MongoDB, it still occurs.

Node.js version: v10.9.0
npm version: 6.2.0
Strapi version: 3.0.0-alpha.14 (modified to include upstream GraphQL Mutations).
Database: MongoDB 4.0
Operating system: Ubuntu 18.

[2018-09-03 15:06] jrodriguesimg commented on #1882
@lauriejim I looked into the git blame for the line you changed. Before your fix, that code remained unchanged for 8 months. Some one must have tried to use the register by email since then. I'm I using the wrong release. Which version should I be using?

[2018-09-03 15:59] marcellovetro opened #1885 "ManyToMany multiple Relation Serious BUG: DELETE row in wrong table"
**Informations**
- **Node.js version**: 10.9.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MariaDB 10
- **Operating system**: Ubuntu 16.04

**Issue**
In a scenario where you have more than one ManyToMany relation with the same table usin a Relational database such as MySql, the ContentManager make a wrong SQL that may delete the date from the wrong table. The prob

[2018-09-03 15:59] TokenChingy commented on #1859
Another issue occurs in the admin panel...

**Current Behaviour**
Define a new type with only one field and set that field to Float. Try and create a new content of that type. Admin panel freezes and will not load the form to do so.

**Expected Behaviour**
Be able to see the admin form to create the content.

[2018-09-03 16:03] marcellovetro commented on #1885
@lauriejim I want to fix that error but I need help to find the function that return the relation table name and the portion of code designed to synchronize the relations, could you or everyone read this issue tell me these references? Thanks!

[2018-09-03 16:17] creativeesprit commented on #1783
@peckhouse and @JelaniThompson not sure if you managed to solve this, but my scenario/solution was the following (please note I'm using Strapi v3.0.0-alpha.14):

I have `Page` and `Contentblock` content types where a `Page` has many `Contentblock`'s. Therefore I updated the fetchAll method in `api/page/services/Page.js` only. This file now looks like the following:

`fetchAll: (params) => {
    co

[2018-09-03 17:26] gkarmas opened #1886 "auth/user not returning images/media"
Hello and thank you for the great work.
I have the following problem when trying to get images from "user"

Everything else returns, but media/images.

![user 2018-09-03 13-10-28](https://user-images.githubusercontent.com/8575682/44997504-d0483a00-af7c-11e8-92dd-71f7e0e08a1e.png)

![users js lensexec 2018-09-03 12-30-47](https://user-images.githubusercontent.com/8575682/44997501-ce7e7680-af7c-11e8

[2018-09-03 22:03] matiasbenedetto commented on #396
Hello, any news about the WYSIWYG editor? Im not sure if the editor is ready. I installed Strapi 3.0.0-Alpha14 and the rich text editor is nowhere.

[2018-09-03 22:40] TokenChingy commented on #1859
So after a long night of looking through all of Strapi, I've come to realise that this code breaks everything in terms of `floats` and `decimals`:

[code]

I suspect it's to do with that case on `decimal` being returned as a `Float`? Which causes the Decimal128 parser to freak out as it's expecting a `String` or `NaN` or `Something not a Float`?

Anyway, I managed to fix `floats` to now allow them

[2018-09-04 00:07] gianniskarmas commented on #483
@soupette IMHO any solution to make it easier to add custom fields to users would be great.

[2018-09-04 01:03] jrperdomoz opened #1887 "The policies are not executed in my GraphQL custom schema"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 6.4.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: mongo:4.0.1
- **Operating system**: OSX 10.13.6

**What is the current behavior?**
The policies are not executed in my graphql custom schema

**Steps to reproduce the problem**
This is my schema.graphql into api/contacts/config/
[code]

**What is the expected behavior?**
Th

[2018-09-04 04:56] fezproof commented on #1859
Seems that decimal types need to be passed through a constructor of NumberDecimal(string amount) before they are passed into the database.
See https://docs.mongodb.com/manual/core/shell-types/#numberdecimal
This might be a way to fix it more permanently while keeping the accuracy difference between decimal and float. Both types should exist because they are quite different use cases.

[2018-09-04 05:44] qubbit commented on #1866
@lauriejim Oddly enough it worked on a macos. The problem was on a Linux machine (Ubuntu 18.04). I will close this for now. Thanks!

[2018-09-04 05:44] #1866 closed

[2018-09-04 06:50] soupette commented on #396
@matiasbenedetto you need to go in the advanced tab of the text field in the `content-type-builder` plugin

[2018-09-04 06:56] soupette commented on #1875
Can you give the error you get from the chrome console?

[2018-09-04 07:15] MartinMuzatko opened #1888 "Wrong count for users in admin panel"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: .6.2.0
- **Strapi version**: alpha 13.1
- **Database**: **pg**
- **Operating system**: WSL/Ubuntu

**What is the current behavior?**

The count for users on the overview is wrong. This is probably a problem with bookshelf/mysql/postgres.

![image](https://user-images.githubusercontent.com/2950505/45014955-79943c00-b020-11e8-85fe-9a4

[2018-09-04 07:37] lauriejim commented on #1879
@joseshiru you are with a Windows machine ?

[2018-09-04 07:46] mmichelli commented on #1698
Enum also breaks if you use special characters, øæå

[2018-09-04 07:54] kamalbennani commented on #1887
Rename the property to policies instead of policy.

[2018-09-04 07:56] lauriejim commented on #1885
@derrickmehaffy are you able to have this issue (I know you have many models and relations) ?

[2018-09-04 08:04] mmichelli commented on #1698
Any attribute with a space breaks the plugin

[2018-09-04 08:05] jrperdomoz commented on #1887
@kamalbennani I have already tried doing this before opening the issue. I'm also following the documentation: https://strapi.io/documentation/guides/graphql.html#execute-a-policy-before-a-resolve

[2018-09-04 08:18] joseshiru commented on #1879
@lauriejim
Yeah, Windows 10 (64).

With and without NVM, I've tried it with different versions of nodejs (from 8.11.4 to 10.9.0) and it always displays the same issue.

It happens with all the database engine options.

[2018-09-04 08:39] AboAdam opened #1890 "mssql connecting issue"
**Informations**

**Node.js version: v8.11.3**
**npm version: 5.6.0**
**Strapi version: 3.0.0-alpha.14**
**Database: MSSQL**
**Operating system: Windows 10 64-bit**

**What is the current behavior?**

`{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-hook-bookshelf",
      "settings": {
        "client": "mssql",
        "host": "localhost",

[2018-09-04 08:42] Kinark commented on #1783
@creativeesprit But it breaks another "related" content types.
E.g:
This is my default `api/game/services/Game.js`:
`
  fetchAll: (params) => {
    // Convert `params` object to filters compatible with Mongo.
    const filters = strapi.utils.models.convertParams('game', params);
    // Select field to populate.
    const populate = Game.associations
      .filter(ast => ast.autoPopulate !== false)

[2018-09-04 08:51] lauriejim commented on #1886
Hello @gkarmas , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-09-04 09:01] creativeesprit commented on #1783
@Kinark I'd need a bit more info. As I understand `Screenshots MediaKit press rewards GamesListCover GameCover Logo` are all media fields of Game.js. If that's the case, which related content type are you trying to pull in and what media fields do they have?

Thakns

[2018-09-04 09:09] #1882 closed

[2018-09-04 09:18] Kinark commented on #1783
@creativeesprit Sure. I'm sorry if I wasn't clear enough.

_CT = Content Type, RCT = Related Content Type_

So, I have 2 R_(to `Games`)_CT: `press` and `rewards`.
In `Games` CT I have many inputs, and 5 of them are media fields (`Screenshots, MediaKit, GamesListCover, GameCover, Logo`).   I don't know why, but those are returned here (along with the actual RPCs:
[code]
When I fetch the data, every

[2018-09-04 09:36] creativeesprit commented on #1783
Ok, try the following:

[code]
The reason the original Strapi code has the `const populate` is to combine these in one go instead of having to have all those objects, however it doesn't pull in related media types (the problem everyone is having).  Thinking about it, you can try having two `.populate()`'s. Haven't tested but that'd look like:

[code]
I don't know enough about mongo to know whether

[2018-09-04 09:36] MartinMuzatko commented on #1888
When I have time, I will look into it :)

[2018-09-04 09:37] Kinark commented on #1783
@creativeesprit Really appreciate your help! Thank you :)
I thought about the two populates and it worked, I've updated my previous answer.

Thanks again!

[2018-09-04 09:38] MartinMuzatko commented on #1888
Can someone confirm that this behavior only appears on mysql/pg installations?

[2018-09-04 09:39] lauriejim commented on #1698
Thank you @mmichelli for these details

[2018-09-04 09:41] Duncanmoo commented on #1834
Similar issue for me, trying out Strapi, seems awesome, did the following all using the GUI:

- Added page content type
- Enabled graphQL plugin
- added image field to page content type (new field called "Featured image")
- CLI says `Server wasn't able to start properly`

`(node:57147) UnhandledPromiseRejectionWarning: GraphQLError: Syntax Error: Expected :, found Name "image"
    at syntaxError (

[2018-09-04 09:41] creativeesprit commented on #1783
@Kinark No probs!

Glad it worked.

[2018-09-04 09:43] derrickmehaffy commented on #1698
As stated above, currently the only allowed characters due to an upstream limitation is:

`/[_A-Za-z][_0-9A-Za-z]*/`

I recommend you use these to build your enums then translate them on your frontend application.

[2018-09-04 09:44] derrickmehaffy commented on #1885
@lauriejim I don't have any manyToMany models (I honestly couldn't find a usecase for it in my project :eyes: )

[2018-09-04 09:46] derrickmehaffy commented on #1890
@AboAdam Please follow the standard bug reporting format template.

All issues that do not follow this template are closed and troubleshooting will be done until the issue is updated with the correct template information.

As a side note, please use codeblocks for code.

[2018-09-04 10:06] Aurelsicoko commented on #1152
@g-div The specifications are almost ready on our side. However, we need to improve the plugin architecture & flexibility to make it work properly. We're currently developing the Documentation plugin, the next one will certainly be the Administrators & Roles plugin.

We can't wait to release this feature as well...

[2018-09-04 10:08] Aurelsicoko commented on #891
💯 , we should definitely do this!

[2018-09-04 10:13] AboAdam commented on #1890
@derrickmehaffy okey , good now ?

[2018-09-04 10:14] TokenChingy commented on #1859
@lauriejim a temporary patch to enable working `float` and semi-working `decimal` can be found [here](https://github.com/TokenChingy/StrapiGraphQLMutationsPatch).

Files you should look at:

**Decimal**
- Inputs and returns as a float, parsed as a String.
- Aggregator functions: sum and avg do not work but min and max do?

[2018-09-04 10:39] Duncanmoo commented on #1834
I was able to confirm that without the GraphQL plugin I am able to add that field with a space in its name; Strapi allows me to save data to that field, the file gets uploaded to the CMS but re-editing that field shows that the image is not associated with that content.

Not trying to =hijack this issue but the OP issue may have been a space in the title of a field: https://github.com/strapi/strap

[2018-09-04 11:27] justindmyers opened #1891 "500 server error on login with invalid username or password."
**Informations**
- **Node.js version**: v8.11.4
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongoDB
- **Operating system**: Windows 10 64-bit

**What is the current behavior?**

`/user/local` is throwing a 500 server error if username or password is incorrect.

`TypeError: Cannot read property 'blocked' of null at callback (...\plugins\users-permissions\controller

[2018-09-04 11:30] jrperdomoz commented on #1887
I can see that the strapi-plugin-graphql/services/Graphql.js service look up the property "policies" and not "polity", but it does not work anyway.

https://github.com/strapi/strapi/blob/fa94519c1d6a4daba2ed5238afc1060e97f47ea1/packages/strapi-plugin-graphql/services/GraphQL.js#L695

[2018-09-04 11:35] lauriejim commented on #1890
Hello @AboAdam , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-09-04 12:37] AboAdam commented on #1890
can you please re-open this again . @lauriejim

[2018-09-04 13:04] maturanomx commented on #1890
Hi @AboAdam !

Strapi don't support MSSQL, you can see in the readme only supports MySQL, PostgreSQL and MongoDB...

I also ask for that in other issue. The good news is that I'm hopping work on that in coming days... Could I keep touch with you for help?

[2018-09-04 13:12] AboAdam commented on #1890
hi @maturanomx  , yes it does not but there are some packages that makes that possible, and im trying with that .

Strapi-hook-bookshelve which depends on strapi-hook-knex can make this work , but still getting some errors which i posted here .

you can read about the packages here
https://github.com/strapi/strapi/tree/master/packages/strapi-hook-bookshelf
https://www.npmjs.com/package/strapi-book

[2018-09-04 13:26] marcellovetro commented on #1885
I've updated the issue inserting the json schema

[2018-09-04 13:41] mockbirds commented on #1875
Thanks for getting back to me. Unfortunately there was no really an error
in the chrome console, just an empty `<div>` respectively React component.
But I will collect all logs and provide them later today.

In the meantime, is there something I can do differently or how is the preferred way
to deploy my locally modified versions of the content-manager, content-type-builder
and strapi-hook-mongoos

[2018-09-04 13:48] derrickmehaffy commented on #1890
@AboAdam Strapi doesn't have support for Microsoft SQL within the Strapi-hook-Bookshelf/Knex plugins.

That README is far out of date, as I have directly confirmed with the Strapi team that the currently supported Databases are listed on the main README page here: https://github.com/strapi/strapi/blob/master/README.md

(I know because I submitted the PR that updated that :stuck_out_tongue: )

If y

[2018-09-04 13:59] AboAdam commented on #1890
ok then , thank your for the reply , i have spent two days on this , i guess i will move to something else then 🥇 @derrickmehaffy

[2018-09-04 14:11] lnaie commented on #1114
yes, i've just noticed that today. and it breaks most of content type managing screens. i had to create a new content type with a different name and remove them manually from mongodb.

guys, great product, but before adding more features, please get to stabilize what you have.

also post a roadmap, visibly. ;)

[2018-09-04 15:00] atlas365 opened #1892 "Cannot access admin panel from cloned strapi application"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**:6.2.0
- **Strapi version**:3.0.0-alpha.14
- **Database**:Mongo
- **Operating system**:OSX

**What is the current behavior?**
Cannot access the admin panel from a strapi application that was cloned from a git repo.

**Steps to reproduce the problem**
My team is trying to standardize strapi setup for the dev environment. One of our mem

[2018-09-04 15:04] TokenChingy commented on #1892
Have you done the following?

- `npm install` in the project root directory.
- `npm run setup` in the project root directory.

[2018-09-04 15:04] goras commented on #1876
Thanks, that part of the documentation I totally missed!
However, there's no mentioning about interfaces in the documentation and I haven't been able to get this to work so far.

This is what I've got. I specified the interface as follows:
[code]

I have a Book content-type (created in the Strapi UI) which contains the fields ``name``, ``description`` and ``author``, but I assume there's no way of

[2018-09-04 15:31] derrickmehaffy commented on #1892
@atlas365 make sure you purge the package-lock.json file (if there is one) then run `npm run setup`

[2018-09-04 15:40] soupette commented on #1888
@MartinMuzatko I'm wondering how you managed to access the `administrator` role edit view it's supposed to not be available...

[2018-09-04 15:44] derrickmehaffy commented on #1888
@soupette It is easy, click on another role and then change the ID to 1 instead of 2 or 3 :stuck_out_tongue:

`http://localhost:1337/admin/plugins/users-permissions/roles/edit/1

[2018-09-04 15:45] derrickmehaffy commented on #1888
![image](https://user-images.githubusercontent.com/8593673/45042138-ddb60080-b01e-11e8-9d78-d3ced7dafa5f.png)

[2018-09-04 16:06] atlas365 commented on #1892
Ok so running npm run setup got me access to the admin panel, but I don't see any plugins..
<img width="1354" alt="screen shot 2018-09-04 at 11 39 59 am" src="https://user-images.githubusercontent.com/25470131/45043296-cbe25680-b03a-11e8-9ab0-26907a5205bc.png">

I ran npm install inside each of the plugins but still nothing. Is there another setup method I need to run?

[2018-09-04 16:08] derrickmehaffy commented on #1892
@atlas365 that looks like something is very broken. Is this project public on github somewhere? My guess is that the build folders aren't being uploaded so you may need to run `npm run setup:build` (I haven't done this on a non --dev project so I have no clue if that will actually rebuild them)

[2018-09-04 16:29] atlas365 commented on #1892
Unfortunately this isn't on a public github.   And I tried to run 'npm run setup:build' but I got an error message saying 'missing script: setup:build' and I didn't see an option for setup:build in the package.json.

[2018-09-04 16:35] derrickmehaffy commented on #1892
Yeah @atlas365 typically that is only for --dev projects. If you look on the private repo in `plugins/content-manager/admin/build` you should see a ton of files in there. If that directory isn't there or there is no files then it wasn't properly uploaded.

[2018-09-04 16:40] atlas365 commented on #1892
Yeah no build folder. I can see it's being ignored in the .npmignore.  Is the best way to fix that to change the .npmignore? Should I restart my project using --dev?

[2018-09-04 16:42] atlas365 commented on #1892
Oh wait nevermind that's not gitignore

[2018-09-04 17:03] derrickmehaffy commented on #1892
@atlas365 no don't use --dev unless you are modifying the adminUI.

.npmignore shouldn't matter, but if it is in .gitignore then remove it. You should however be able to create a new project and grab all the `api/*/models/*.settings.json` files and dump them into the new project to quickly spin up a new one so long as there were no major modifications.

[2018-09-04 17:05] atlas365 commented on #1892
Perfect I think that's what I'm going to do then. Thank you very much for your helpful and very timely replies!

[2018-09-04 17:15] goras commented on #1876
Solved it! I don't know if it's the intended way, but it works!

Here are the updated schema.graphql files:

Interface
[code]

Book
[code]

Movie
[code]

[2018-09-04 17:47] jrodriguesimg commented on #1882
@lauriejim do you know what might have caused the bug to me but not to others?

[2018-09-04 18:27] adityakmr7 opened #1894 "trying to run npm install strapi@alpha -g Failed"
[code]

this is the error i get while installing strapi

- node version :  10.9.0
-npm : 6.4.1
-database : mongodb
-operating system : windows 10

How can i fix this ?

[2018-09-04 18:32] derrickmehaffy commented on #1894
@adityakmr7 that isn't a failure message, that is a success message.

Also as a footnote, Windows support is very limited and isn't recommended. I suggest you use either WSL or a Linux VM

[2018-09-04 18:37] adityakmr7 commented on #1894
But when I try to run
strapi new myProject terminal says strapi is not a internal or external command.
Why is that??

[2018-09-04 18:42] greatwitenorth commented on #1862
Closing as I tried the above steps again on a backup and now it's working as expected. Not sure what went wrong.

[2018-09-04 18:42] #1862 closed

[2018-09-04 18:47] kamalbennani commented on #1887
That's weird, normally it should work :thinking: I think that you need to keep this issue open

[2018-09-04 20:39] derrickmehaffy commented on #1894
@adityakmr7 it is likely your global npm packages are not mapped to your path.

[2018-09-04 20:53] kamalbennani commented on #1887
I probably know why it's doing that, I'll submit a PR to fix it :+1:

[2018-09-04 21:59] jrperdomoz commented on #1887
The local resolve of the "schema.graphql" is not preceded by the policies.

[2018-09-05 00:56] nandiheath commented on #1875
I have got the exactly the same problem. What have I done is to remove the content management plugin completely and then reinstall it through the admin panel, after a reboot it works. However when I tried to create a new entry for a model through the page, it got stuck again.

My project is build without --dev and was working very well. The problem appears when I checkout it on another laptop.

[2018-09-05 10:17] emman24 opened #1896 "npm run setup error 'APP_PATH' is not recognized as an internal or external command"
Try to run npm setup

'APP_PATH' is not recognized as an internal or external command,
operable program or batch file.

node version : 10.9.0
-npm : 6.2.0
-database : mongodb
-operating system : windows 7 ultimate

![capture](https://user-images.githubusercontent.com/25625894/45087244-122aca80-b0ba-11e8-89b8-0433425ac48e.PNG)

How can i fix this ?

[2018-09-05 10:20] TokenChingy commented on #1896
I'll confirm that this does happen. For me however, it happens in Ubuntu and Windows only, Mac OS is unaffected.

If you don't need to build the admin interface, just run npm install and it will compile and set your plugins if that's what you need.

[2018-09-05 10:31] fpetrouchka opened #1897 "Fail to create new content when its value of 'Name' field contains white-spaces"
**Informations**
- **Node.js version**: 10.9.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongoDB v3.4.16
- **Operating system**: CentOS Linux release 7.5.1804 (on AWS Lightsail)

**What is the current behavior?**
Once I created content type w/ 'Name' field contains any white-spaces at Content Type Builder, then it freeze completely at loading status when I try t

[2018-09-05 10:39] adityakmr7 commented on #1894
@derrickmehaffy can you please tell me how to map path for npm package

[2018-09-05 11:40] #1894 closed

[2018-09-05 11:46] adityakmr7 opened #1898 "While trying to install strapi installation get aborted"
I am on windows  10

- node : 10
- npm: 6
-strapi latest version
-database mongodb

when i run strapi new mydashboard

-it ask for default database  i provided it mongodb
after that it asks for database name (mydashboard)

after this installation is aborted.
anyone help me to fix this

[2018-09-05 12:26] adityakmr7 commented on #1898
@TokenChingy  can you please tell me what is the command i have to run. I am not getting it, I am new here just started to learn strapi.

[2018-09-05 12:32] TokenChingy commented on #1898
`strapi new --dbclient=mongo --dbhost=INSERT_YOUR_DB_URL --dbport=INSERT_YOUR_DB_PORT` --dbname=WHAT_YOU_WANT_TO_CALL_YOUR_DB --dbusername=LEAVE_BLANK_OR_DB_USERNAME --dbpassword=LEAVE_BLANK_OR_DB_USERNAME --dbssl=LEAVE_BLANK_OR_DB_SSL_CERT --dbauth=LEAVE_BLANK_OR_DB_AUTH_URL

[2018-09-05 12:41] adityakmr7 commented on #1898
it gives error saying module not found  'mongoose'.

-althought i have mongoose installed globally.

[2018-09-05 12:44] #1898 closed

[2018-09-05 15:06] g-div commented on #1152
Just asking because it was unclear if the feature was already released or not, since all related issues have been already closed. I was otherwise curious if it was possible to follow its development in detail, in order to eventually offer some help there.

[2018-09-05 15:44] emman24 opened #1900 "Error Uploading image on live server"
Cant upload images on my content media when i click save throws an error

ENOENT: no such file or directory, open '/home/ubuntu/aws_strapi/public/uploads/fa155c2299674f869347bc4b60a086fc.png'

![capture](https://user-images.githubusercontent.com/25625894/45104660-6c8e5000-b0e7-11e8-976d-1dd72de74570.PNG)

I follow the tutorials on deploying strapi on ubuntu

node version : 10.9.0
-npm : 6.2.0
-dat

[2018-09-05 16:09] EDMONDGIHOZO opened #1901 "strapi is not recognised in command line"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

[2018-09-05 16:11] derrickmehaffy commented on #1901
@EDMONDGIHOZO please fillout the bug report, lack of required information will cause this issue to be closed.

[2018-09-05 16:11] EDMONDGIHOZO commented on #1901
after installing strapi by npm , i tried to create project by the command line says that 'strapi' is not recognized as an internal or external command,
operable program or batch file.

[2018-09-05 16:20] maturanomx commented on #1901
- Edit your original message, fill the required information as requested.
- Provide enough information to help you. Show us all the process, what was the output of the installation?

Probably is not an strapi problem. Did you try with other package?... let's say... try installing `nls`; do you have the same error?

[2018-09-05 16:20] maturanomx commented on #1898
Interesting 🤔 ...

[2018-09-05 16:21] derrickmehaffy commented on #1901
@EDMONDGIHOZO If I had to guess you are on Windows which has limited support. The error is likely due to npm global packages not mapped to your $PATH.

[2018-09-05 16:33] maturanomx commented on #1896
I'm working with WSL, on a Ubuntu environment and it doesn't happens to me either. The error should be because the environment variables are managed different on Unix (MacOS & Linux) and Windows (%something, I think). This is why [`cross-env`](https://www.npmjs.com/package/cross-env) exists.

But the way that is used now on strapi is complicate...

@emman24 the real thing is that now is know that

[2018-09-05 16:44] maturanomx commented on #1894
@adityakmr7 I noticed you close the issue one hour after questioning how to modify your path. Did you found the solution? Can you share it with us?

In Unix is modifying the `PATH` environment variable. On Windows should be something similar, but I don't have idea what variable is and how to modify it...

[2018-09-05 16:48] robbywashere opened #1902 "babel parser choking on object spread with `Unexpected token: ....`"
Strange, your readme.md specifies `NodeJS >= 10.x` ?

Again, `NPM >= 6.x` ?

`npm install strapi@alpha -g`
**Informations**
- **Node.js version**: v10.7.0
- **npm version**: 6.1.0
- **Strapi version**: 'alpha'
- **Database**: postgres
- **Operating system**: OS X

**What is the current behavior?**
`strapi start`
[code]
🤔🤔🤔
`yarn setup`

[code]

**Steps to reproduce the problem**
See above ^^^

**W

[2018-09-05 17:29] adityakmr7 commented on #1894
No I didn't found the way to modify the path. I reinstalled it and after that it was working so I closed the issue.

[2018-09-05 18:32] igor-mihalitsin opened #1903 "Entities aren't deleted completely (Content Type, Fields)"
**Informations**
- **Node.js version**: v9.11.2
- **npm version**: v5.6.0
- **Strapi version**: v3.0.0-alpha.14
- **Database**: mongodb v3.6.3
- **Operating system**: Ubuntu 18.04 LTS (on VirtualBox)

**What is the current behavior?**
We receive 500 error code on attempt to re-create content type with old name which recently was removed

**Steps to reproduce the problem**
1. Start empty project an

[2018-09-05 20:34] arjohnson97 commented on #1903
It's super frustrating, I feel like there should be a 'clear cache' option, or something similar.

[2018-09-05 20:58] arjohnson97 commented on #1901
I have the same issue, putting npx in front of it works for me.

[2018-09-05 21:08] tonyberetini commented on #1584
Why is this issue close this should be a critical issue??

[2018-09-05 21:28] tonyberetini opened #1904 "Content translation"
**What is the expected behavior?**
When creating content types and fields, each field should give an option to define if a field should be localized. Administrators should be able to set preferred languages in settings. This is very important for content creation.

[2018-09-05 21:31] tonyberetini opened #1905 "Field help tip for content manager settings"
**What is the expected behavior?**
Each content field should have an optional field to define help text explaining what the field is for or is doing. This is very common when building usable user experiences.

[2018-09-05 21:31] derrickmehaffy commented on #1584
@tonyberetini because it is a duplicate problem dealing with data migration.

[2018-09-05 21:33] derrickmehaffy commented on #1904
Duplicate: https://github.com/strapi/strapi/issues/1507

[2018-09-05 21:35] derrickmehaffy commented on #1905
@tonyberetini
![image](https://user-images.githubusercontent.com/8593673/45122511-e428a300-b118-11e8-9f47-984a8a29faec.png)

[2018-09-05 21:41] tonyberetini commented on #1905
Exactly my point... how is anyone supposed to know what that field is for if it is not explained with a help tip.

[2018-09-05 21:42] derrickmehaffy commented on #1905
@tonyberetini that feature is new, I'm sure the Strapi team would love a PR if you find it confusing 😛

[2018-09-05 21:47] tonyberetini commented on #1905
Ha Ha Ha… question shouldn’t this be defined in content type builder instead of content builder. This should be an annotation to a field in content builder not an annotation to a record within the content field. Am I looking at this from a wrong angle.

From: DMehaffy
Sent: Wednesday, September 5, 2018 2:42 PM
To: strapi/strapi
Cc: tonyberetini; Mention
Subject: Re: [strapi/strapi] Field help tip

[2018-09-05 21:53] tonyberetini commented on #1584
@derrickmehaffy which one is it I can't find it...

[2018-09-05 21:56] derrickmehaffy commented on #1584
https://github.com/strapi/strapi/issues/1114

Read discussion between me and @Aurelsicoko

[2018-09-05 22:32] reinisriekstins opened #1906 "Changing "Maximum size allowed (in MB)" doesn't affect the max upload limit"
**Informations**
- **Node.js version**: 9.4.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: Mongodb
- **Operating system**: OS X

**What is the current behavior?**
Going to admin panel -> Plugins -> File Upload and changing the "Maximum size allowed (in MB)" doesn't do anything. Calling a method where a file is uploaded that is larger than 1 MB will throw:
`
{ Pay

[2018-09-06 05:59] akinnee opened #1907 "warn The SQL database indexes haven't been generated successfully. Please enable the debug mode for more details."
**Informations**
- **Node.js version**:9.11.2
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.14
- **Database**:MySQL
- **Operating system**:Mac

**What is the current behavior?**

[code]

**Steps to reproduce the problem**

DB Dump:
[code]

**What is the expected behavior?**

Shouldn't have a SQL syntax error.

**Suggested solutions**

[2018-09-06 06:05] akinnee opened #1908 "Optimize it for hosting in serverless environments"
**What is the expected behavior?**

Currently there is a long bootup process which makes hosting strapi in an environment like aws lambda impractical since it has to boot the app for each request. What can be done to eliminate this bootup process? Maybe a build step that only runs when things change?

[2018-09-06 06:17] TokenChingy commented on #1908
Strapi is more of a full Web Service than a instanced functional service. It's probably possible but would require a full rewrite.

[2018-09-06 08:53] Aurelsicoko commented on #1114
@lnaie @tonyberetini I understand your point if you're able to help almost everything has been detailed in this issue. We are doing our best, there are so many topics where we have to make improvements. We are not adding a lot of features but we are making a lot of enhancements to make Strapi more usable in production.

[2018-09-06 09:00] Aurelsicoko commented on #1876
Awesome! Nice work 👍

[2018-09-06 09:03] TokenChingy commented on #1903
This problem is causing massive headaches... When you refresh or click into another Type, the unsaved fields dissappear but stay in the DB. So when you go and save or create a new field, it throws errors. When you delete a field or Type and use the same name, it throws an error.

[2018-09-06 09:12] Aurelsicoko commented on #744
Thanks to everyone for reminding us that you're waiting for this kind of features, I added it to my personal list of the important things to do to make Strapi a better product. I hope we will be able to release it this year 💪

[2018-09-06 09:29] Aurelsicoko commented on #1828
I like a lot of things in your thoughts! You've pointed out a pain that we have when developing with Strapi. Everytime, we move from a branch to another, it's safer to run a complete setup by running `npm run setup` to avoid mislinking packages. Also, our current approach doesn't allow us to work on different issues at the same time without making a brand new setup. You can but it's not easy as it

[2018-09-06 09:42] Aurelsicoko commented on #1823
@soupette How do we process this? In my memories, we are trying to JSON.parse() the value inserted in the field. If the parsing doesn't throw an error, it's valid if not we consider the value as an invalid JSON.

[2018-09-06 09:44] Aurelsicoko commented on #1758
@MartinMuzatko Love it! Did you transfer all of our documentation in VuePress? I'm not a big fan of GitBook even if we decided to use it for the documentation. I would love to see what you did in production on our website.

[2018-09-06 09:47] Aurelsicoko commented on #1797
Let's do it!

[2018-09-06 09:56] Aurelsicoko commented on #1748
Yes, we can call this, the `manyWay` relationship 👍

[2018-09-06 09:57] Aurelsicoko commented on #1561
@mnlbox I agree with this, we should support two separators: comma and new line.

[2018-09-06 09:59] Aurelsicoko commented on #1271
I would love to see [Cypress](https://www.cypress.io/) implemented on Strapi in our tests suit.

[2018-09-06 10:00] Aurelsicoko commented on #1450
@malbari What do you mean by supporting the WYSIWYG for Vue component?

[2018-09-06 10:57] Defozo commented on #952
Can we reopen the issue? I'm experiencing the same problem.

[2018-09-06 13:07] MWalid commented on #1768
Hi @soupette, any updates how I can get the hot reloading to work?

[2018-09-06 14:01] soupette commented on #1823
@Aurelsicoko yes we do the following check
[code]

[2018-09-06 14:04] soupette commented on #1768
@MWalid the hot reloading is not implemented in strapi admin meaning that you'll only see your modifications when you add something in the render method. Otherwise you need to reload the view yourself

[2018-09-06 15:00] sefasaid opened #1910 "Cant get user profile picture"
**Informations**
- **Node.js version**: node v8.11.3
- **npm version** :npm 5.6.0
- **Strapi version**: strapi 3.0.0-alpha.13.0.1
- **Database**: mongodb
- **Operating system**: mac os x

**What is the current behavior?**

I have 2 models one of them is posts and the other is user. They are related and when i get posts it gives this json
`{
"active":true,
"_id":"5b9136714feed77ad49101cd",
"title":

[2018-09-06 15:32] sefasaid commented on #1735
i need help with this to. i cant find an example for afterFetchAll and i cant modify reponse

[2018-09-06 15:54] goras opened #1911 "Accessing deeply nested objects using GraphQL fails"
**Informations**
- **Node.js version**: 10.0.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: mongo 3.6.6
- **Operating system**: macOS High Sierra 10.13.6

**What is the current behavior?**

Single objects located deeper than 2 levels doesn't seem to be populated properly when querying using GraphQL. The error message I get is:
[code]

**Steps to reproduce the probl

[2018-09-06 16:05] akinnee commented on #1908
I don't think it would take a full rewrite. The bootup process just needs to become optional.

[2018-09-06 16:17] vokvince commented on #1008
Do we have news about the auto restart feature?  @lauriejim

[2018-09-06 16:21] djbingham opened #1912 "Content Manager cannot open created Content Types"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.14

- **Database**: MongoDB 4.1
- **Operating system**: Alpine Linux (inside a Docker container using the `strapi/strapi` image)

**What is the current behavior?**
The Strapi admin UI crashes with the following console errors when opening a content type in the Content Manager.

Console log:
[c

[2018-09-06 18:13] MartinMuzatko commented on #1758
Yep all documentation transfered. And its open for extension for multiple languages :)

[2018-09-06 22:33] xlmnxp commented on #1619
- [ ] strapi-admin
- [ ] strapi-plugin-content-manager
- [ ] strapi-plugin-content-type-builder
- [x] strapi-plugin-email

[2018-09-07 02:06] gkarmas commented on #1886
Sorry @lauriejim

**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.14
- **Database**: mongo
- **Operating system**: CentOS Linux 7 (core)

**What is the current behavior?**
Simple object without using graphql on strapi, does not return anything else but string objects ! Is it a vuex problem? Everything works fine when using graphql and call

[2018-09-07 02:12] sbastias commented on #580
I tried adding
[code]

And got this:

[2018-09-07 03:11] hari-haran commented on #1281
Works with Node V8! BTW instead of downgrading, install nvm(node version management tool) to have multiple version of nodejs. Cheers!

[2018-09-07 03:12] npjonath commented on #1911
I have the same behavior on alpha 14. the query was working on previous version.

[2018-09-07 05:58] sbastias opened #1914 "Content Manager in DEV mode not working on port 1337"
**Informations**
- Node v10.6.0
- NPM v5.1.0
- Strapi 3.0.0-alpha.14
- Mongo
- Ubuntu 14.04/18.04 (tried on two machine)

I think this is node_modules problem - and it's impossible to troubleshoot!
I think its the same issue as here: #1875

A fresh install doesn't fix the problem:

**Steps to reproduce the problem**

- I did a fresh install of strapi 3.0.0-alpha.14
- npm run setup:build
- strapi n

[2018-09-07 06:37] soupette commented on #1875
@sbastias @mockbirds I'm going to have a hard reproducing your bug do you have a repository or a registry to give me so I can try to see what's happening?

[2018-09-07 07:32] soupette commented on #1875
@sbastias you don't have the right workflow it should be the following

[code]

Once you're done with your modifications `cd strapi && npm run setup:build`

And in another window `strapi new myapp`

[2018-09-07 07:36] sbastias commented on #1875
So content-manager won't work under :1337 anymore? It was working until the
past couple of days.

On Fri, Sep 7, 2018, 3:32 AM cyril lopez, <notifications@github.com> wrote:

[2018-09-07 08:11] sbastias commented on #1875
I started a new test project.

It worked, partially...

I was able to import api from current project and browse entries in db, but
if I try to add a new content-type, or I try to change a relation (or
update database name) it leads to a blank page, and in console:
[code]

On Fri, Sep 7, 2018 at 3:35 AM, Sergio Bastias <sergio@dishproductions.com>
wrote:

[2018-09-07 08:43] Aurelsicoko commented on #1758
Can we talk in the Contributors channel to see how we can deploy it on our website?

[2018-09-07 08:48] Aurelsicoko commented on #1779
@kapik You're not the first one to ask about this feature! We could certainly add this in the future, we are open to merging a PR if you have enough time to develop it.

@derrickmehaffy Do you remember the recipe's example? It's almost the same thing in this case. You don't want to create a relationship because it's too long and not necessary. You just want to add multiples entries inside a field.

[2018-09-07 08:52] Aurelsicoko commented on #1714
This issue can be closed because we're supporting it (see https://github.com/strapi/strapi/blob/master/packages/strapi-hook-knex/lib/index.js#L100).

@adamquaile Can you confirm?

[2018-09-07 08:52] #1714 closed

[2018-09-07 08:57] Aurelsicoko commented on #1486
@wadamek65 Are we sure this is related to the core packages or to strapi-docker? Can you take a look at the issues of the strapi-docker package to see if you can't find a solution?

https://github.com/strapi/strapi-docker/issues

[2018-09-07 09:02] Aurelsicoko commented on #1427
We are using Pino (https://github.com/pinojs/pino/) to display the logs in the terminal. There is an option to write the logs inside a file, we could extend our current support. It should not be that hard to make it work!

@derrickmehaffy Are you interested to make a try and open a PR?

[2018-09-07 09:03] sundaycrafts opened #1915 "generate build files when npm install not only strapi new"
**What is the expected behavior?**
I think files in `build/` directory necessary for correctly work so it can't ignore from git. Isn't it?

But I don't want to include files in `build/` directory to git because it is not human readable.
So I think it is good that it is generated when `npm install` not only `strapi new`.

I don't know it is easy to change or not because I haven't read the code deep

[2018-09-07 09:09] sundaycrafts commented on #1915
Maybe related issue #1892.

[2018-09-07 09:12] Aurelsicoko commented on #1887
@jrperdomoz Good catch! Thank you for sharing the alternative solution but it's still an issue and we need to fix it.

[2018-09-07 09:26] lauriejim commented on #1897
Hello @fpetrouchka what is the name you use.

I tried to create a new content type from the **Content Type Builder** and I set `test article` as name.
And it create my content type successfully.
(Testarticle, cause you can't use white space in content type name)

You create an issue because it automatically lowercase your content type name ?

[2018-09-07 09:29] lauriejim commented on #1882
Did you migrate your app from older version ?

[2018-09-07 09:38] #1217 closed

[2018-09-07 09:48] Aurelsicoko commented on #1240
@lauriejim Can we close it?

[2018-09-07 09:53] lauriejim commented on #1900
Hello @emman24 , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-09-07 09:58] lauriejim commented on #1900
Hello @emman24, I tried with a fresh EC2 instance and it works well.
Make sure it's not comme from any configuration of your server that block upload files.

[2018-09-07 10:02] Aurelsicoko commented on #1763
Thank you for this issue, I will do my best to answer to every part of it.

- Our philosophy is to make Strapi fully customisable. That's why we made the choice to pick the admin from the `node_modules` and create an `admin` folder inside the project. It let to the user the possibility to hack the administration, it couldn't be possible if the administration was a package.
However, we could offer

[2018-09-07 10:06] #1892 closed

[2018-09-07 10:07] lauriejim commented on #1902
What is the `alpha` version you use ?

[2018-09-07 10:48] lauriejim commented on #1901
Hello @EDMONDGIHOZO , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-09-07 10:48] #1901 closed

[2018-09-07 10:50] lauriejim commented on #1891
https://github.com/strapi/strapi/pull/1895

[2018-09-07 10:50] #1891 closed

[2018-09-07 10:58] lauriejim commented on #1834
@Duncanmoo It looks be an other issue on GraphQL, can you submit a new PR with your error please.

[2018-09-07 11:31] napop commented on #1612
after install graph
` strapi install graphql`
you may have to
`npm install`
again
I can fix this problem with this

[2018-09-07 11:42] #1904 closed

[2018-09-07 11:50] derrickmehaffy commented on #1240
@Aurelsicoko I think that someone should take a look at bookshelf to support this feature on the other databases before this gets closed.

[2018-09-07 11:52] derrickmehaffy commented on #1779
@Aurelsicoko Ah yeah hadn't really thought about that but I suppose it makes sense :stuck_out_tongue:

[2018-09-07 11:53] derrickmehaffy commented on #1427
I'll take a look once I get home from work to see if this is something within my skillset. :smile:

[2018-09-07 12:30] lauriejim commented on #1906
Hello @reinisriekstins I'm not able to reproduce. I think it can come from your server configuration.

[2018-09-07 12:35] lauriejim commented on #1907
Related to this isssue https://github.com/strapi/strapi/issues/1382
I close this one.

[2018-09-07 12:35] #1907 closed

[2018-09-07 12:42] hansemannn commented on #541
Hey folks, quick question here: Does someone has an example of updating a user model? I tried the following but only get back a `403 Forbidden`:
[code]
with body (JSON-encoded):
[code]
Are there parameters that need to be send with the body? I already set the bearer-token to use the JWT returned on auth. Thx!

[2018-09-07 12:43] derrickmehaffy commented on #1382
@Aurelsicoko is there some alternative to this? You should still be able to search numerical columns and after doing some testing today I noticed my search isn't working at all on any model....

[2018-09-07 13:13] soupette commented on #1875
I got the same issue I'm currently debugging it...

The only problem is that I don't know where the error is coming from...

[2018-09-07 14:08] Aurelsicoko commented on #1507
I'm talking about the exact same plugin. There will be only one i18n plugin which will be available through the Premium plan for now. This is our goal to keep our nice community (<3) and stay accessible to everyone.

We're trying to educate everyone that "open-source" doesn't mean "free". There is always a cost behind each feature (hours of design, development, communication, maintenance, etc). If

[2018-09-07 14:13] lauriejim commented on #952
@Defozo Can you give us more details please.

[2018-09-07 14:16] Aurelsicoko commented on #1765
Yes, there is a simple reason. We are building an ecosystem. Let's take an example, there are two developers which are building separately two plugins A & B.

The first developer sets a route `GET /reset` in the plugin A. The other developer sets a route `GET /reset` in the plugin B. Both developers don't know each other. They decide to publish the plugin on our marketplace (not at the same time,

[2018-09-07 14:27] Aurelsicoko commented on #1905
The Content-Type Builder defines the schema of your database. If you set a description to a field, this is the description dedicated to the developer or database manager.

The Content-Manager defines the layout and allows you to contribute data. If you set a description to a field, this is the description dedicated to the content marketing people.

IMO, it shouldn't be the same description and the

[2018-09-07 14:28] Aurelsicoko commented on #1382
That's bad... It was working before. Did you try with MySQL or with Mongo too?

[2018-09-07 14:29] lauriejim commented on #1908
It's an interesting point. But not a priority for us now.

[2018-09-07 14:30] lauriejim commented on #1008
PR is open here https://github.com/strapi/strapi/pull/1854

[2018-09-07 14:40] hansemannn commented on #1874
@sbastias I meant in the collection-list of entities that use the "photo" type.

[2018-09-07 14:44] lauriejim commented on #1886
My default Strapi has one populating level, then it will give you id of the entity.
Check populate/deepPopulate on mongoose for more information.
Related issue here https://github.com/strapi/strapi/issues/1783

[2018-09-07 14:44] #1886 closed

[2018-09-07 14:48] lauriejim commented on #1911
Hello @goras  and @npjonath , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-09-07 15:32] lauriejim commented on #1240
@derrickmehaffy is true. Still open since Bookshelf is not developed.

[2018-09-07 15:44] #1914 closed

[2018-09-07 15:56] lauriejim commented on #541
You have have, one user can update his profile with this route ?

[2018-09-07 16:11] hansemannn commented on #541
Yep, that was the idea!

[2018-09-07 16:15] sbastias commented on #1875
Just following up....

I did as you advised and started a new project from the re-built strapi, and imported my data.

This is what the relational part looks like in DEV:
![image](https://user-images.githubusercontent.com/1007243/45228989-b10a1f00-b292-11e8-8eee-985302d2c284.png)

This is what it looks like in non-DEV strapi installation:
![image](https://user-images.githubusercontent.com/1007243/

[2018-09-07 16:29] derrickmehaffy commented on #1507
*Sarcasm* Wait you mean not all "Open-Source" projects are FOSS? (Free & Open Source Software)

Jokes aside I agree that the plugins should be monetized @Aurelsicoko but at the same time I do like the road that RedHat takes with their software. Obviously at this stage that isn't really an option for Strapi as you don't really have a "Commercial"  business model yet to provide "support" for. Maybe

[2018-09-07 16:30] derrickmehaffy commented on #1382
@Aurelsicoko I'll be doing more testing here soon to provide better feedback on the Error. I just recently noticed it.

[2018-09-07 16:55] soupette commented on #1875
what's your version strapi?

[2018-09-07 16:56] sbastias commented on #1875
3.0.0-Alpha.13

I had 14 installed for a quick test....

On Fri, Sep 7, 2018, 12:55 PM cyril lopez, <notifications@github.com> wrote:

[2018-09-07 17:07] z-ax commented on #1507
I did this kind of Internalization for my CMS in a very simple way.
1. In field's meta boolean flag if there is one.
2. If there is, it's content is a JSON where key is a locale (in my case ISO 639-1 code) and value is a string. If there is no value by some locale - use main locale (which is required).
3. Where JSON type of fields is not supported, JSON is stringified (not the best performance the

[2018-09-07 23:29] gianniskarmas commented on #1886
I also have this question and know how to do this for other collections (populate etc) but what is the suggested way for adding an image directly in the Users? How can we read it back directly?

[2018-09-08 06:23] dulgeoion opened #1918 "Relations one-to-one are breaking after saving in admin panel"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0@alpha.14
- **Database**: pg
- **Operating system**: mac

**What is the current behavior?**

So, this problem is very old and still appears.

When you are trying to save (update already created before) model, which has one to one relation in admin panel, it will update that model  but when you will

[2018-09-08 09:34] hansemannn commented on #1875
Same here. My installation was working fine until yesterday and now it's giving blank pages all around the place.

[2018-09-08 13:54] asharamseervi commented on #1612
Thanks @napop !! It's worked for me.
Obviously, we need to install further dependencies & have to update packages via `npm install` after installing plugin.

It would be more better if it would be possible through GUI/Dashboard itself.

[2018-09-08 14:45] goras commented on #1876
Thanks!

I have one more question though. It appears that the query parameters are not passed along to the controllers.

For example, the query ``search(where: { name: "Star Wars" }) { name }`` returns all search result items, e.g. no filtering was made. The ctx object passed to the controllers is empty.

[code]

However, if I specifically query Movies, ``movies(where: { name: "Star Wars"}) { name

[2018-09-08 14:49] hansemannn commented on #1840
Same error when trying to deploy to AWS.

[2018-09-08 17:01] geometrybase commented on #1906
If you server is behind nginx, it maybe nginx problem. try change `client_max_body_size 1000M;` in http or server config

[2018-09-08 17:16] derrickmehaffy commented on #1906
@reinisriekstins Geo is right if you are using a proxy like Nginx or Apache you need to increase the limits there as well.

[2018-09-08 18:03] gkarmas commented on #1886
@lauriejim thank you for the response. No, strapi does populate multiple levels for all custom items BUT users. I don't understand the reason why strapi is granting full multiple level access to graphql plugin and strapi's internal api but not direct object calls to strapi's sdk. Thanks for your great work and support.

[2018-09-08 19:58] hansemannn opened #1919 "Cannot upload images using API"
Node 8.11.4
npm 5.6.0
Strapi 3.0@alpha

**What is the current behavior?**
We are unable to upload images with Strapi. There are some docs on uploading a single file, but for schemes that have multiple file/image fields, there is no working case on how to use it.

**Steps to reproduce the problem**
1. Create a new model "photo"
2. Add twi image-based fields "photo1" and "photo2"
3. Try to do a POST

[2018-09-09 00:33] perrosnk commented on #474
any solution?

[2018-09-09 00:41] Mr-Chilly opened #1920 "Media data isnt saved into contentTypes document, only `Upload_File` collection"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: mLab
- **Operating system**: Windows10

**What is the current behavior?**
upload plugin saves an image into a collection (`upload_file`) - but not into the collection/document the image upload was initiated. the `upload_file` document in the Db contains the ref for the '

[2018-09-09 07:01] marcellovetro commented on #1382
A PR is already open for this: #1845

[2018-09-09 08:49] Mr-Chilly commented on #1920
after more investigation, I've found where I was going wrong.

I've two related types; `products` and `categories` - and was calling the category API for a selection of related products. Relation only works '1 deep` so as `media` is a relation it only works calling the type directly...

This isn't ideal so I'd like to update my original post to a feature request:

- treat `media` as an exception t

[2018-09-09 09:09] sudip1072 commented on #391
I am getting error upon giving the command strapi start
error is  " Cannot read property 'start' of undefined"
My node vesrion-10.10.0
npm version- 6.4.1
using mlab- mongod version: 3.6.6
strapi version-3.0.0-alpha.14

hook.json
{
  "timeout": 3000,
  "load": {
    "before": [],
    "order": [
      "Define the hooks' load order by putting their names in this array in the right order"
    ],
    "

[2018-09-09 09:11] MartinMuzatko commented on #1758
Of course. I'll see when I will find time! Right now I'm on holidays, as stated in Slack, I'll get back to you

[2018-09-09 11:32] #1903 closed

[2018-09-09 21:12] davutkara opened #1922 "graphql error caused by enumeration latin characters"
**Informations**
- **Node.js version**: node:9.11.1-alpine (on docker)
- **npm version**: ?
- **Strapi version**: strapi@3.0.0-alpha.14
- **Database**: mongodb
- **Operating system**: docker on LinuxMintMate

**What is the current behavior?**

graphql error
[code]

**Steps to reproduce the problem**

I added latin character ( 'ş' ) as enumeration value. Then I installed graphql, when app was resta

[2018-09-09 21:52] mockbirds commented on #1875
@soupette I seems to be fixed now. I took the latest master (see information below), put my changes on top and did a local release (see descriptions below). After installation `npm install strapi@alpha -g` I've created a new strapi project `strapi new strapi-project` and luckily all of my changes in the content-manager and content-type-builder were working. No more blank pages! Great!

I don't kno

[2018-09-09 23:14] derrickmehaffy commented on #1175
@lauriejim I think we need to reopen this issue, while the direct error message here is about unique type. I think the 500 error needs to include more information as to what the error is.

[2018-09-10 05:48] amit-deligence opened #1923 "response for preflight is invalid (redirect) chrome"
when i try to login using given api url  **http://eworldstrapi.herokuapp.com/auth/local**  then **Chrome**
throw me error **response for preflight is invalid (redirect) chrome**  but it perfectly running on firefox and safari i have tried many options  like below

        headers: {
                'Accept': 'application/json',
            		"Content-Type": "application/json; charset=utf-8",

[2018-09-10 08:38] TokenChingy commented on #1911
@lauriejim I'll look into this one.

[2018-09-10 09:06] mockbirds commented on #1875
@maturanomx I remember having similar errors during the build, especially the one with the `layout.js` file. So, I think clean up config files, build directories, databases is really important here and to make sure that there are no changes in your cloned repo. Even a `npm run setup` or `npm run setup:build` slightly changes some files. Secondly it is really important to change/increase the versio

[2018-09-10 09:34] derrickmehaffy opened #1925 "Cannot filter on boolean value MySQL"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: 10.2.17-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

Currently attempting to filter on a boolean value always returns an empty array `[ ]`

**Note** Attempting to use 0 or 1 also does not work.

**Steps to reproduce the p

[2018-09-10 13:13] #1782 closed

[2018-09-10 15:38] #1557 closed

[2018-09-10 17:18] maturanomx commented on #1875
As I said, I worked from a clean clone and following your guide step by step. That's why I asked if that's all what you did and nothing further.

The `plugins.json` file [doesn't exist in the repository](https://github.com/strapi/strapi/tree/master/packages/strapi-admin/admin/src/config) and I think I saw the file is created running a setup.

... I'll try again, but is really strange we have diffe

[2018-09-10 17:20] sbastias commented on #1875
If you installed with npm run setup:build, go to your npm globals directory
and delete strapi links.... And then run npm run setup:build again.

On Mon, Sep 10, 2018, 1:18 PM Alberto Maturano, <notifications@github.com>
wrote:

[2018-09-10 17:42] Nyeedz opened #1927 "I can't create a new strapi project"
**Informations**
- **Node.js version**: 10.9.0
- **npm version**:6.2.0
- **Strapi version**: 3.0.0-alpha.14
- **Database**: MongDB
- **Operating system**: Windows 10 64 bits

**What is the current behavior?**
when i tried to create a new project with "strapi new project", i stay stuck, i choose MongoDB and when i chose my database name, console don't do anything.

![image](https://user-images.gith

[2018-09-10 18:07] maturanomx commented on #1927
Know issue on Windows. No fix by now.

Can you work on a VM or with WSL?

[2018-09-10 18:10] maturanomx commented on #1927
You can take a look on this issue: #1281

[2018-09-10 19:34] maturanomx commented on #1875
So, It's a requirement create a new project do the release? 🤔. I can't do that in our CI environment. Is valid created it with and empty array (`[]`) as content as workaround?

[2018-09-11 01:31] roonie007 commented on #483
+1

[2018-09-11 02:53] ochanje210 commented on #1879
having same issue here..

[2018-09-11 03:42] murkrow92 opened #1930 "Development server cannot start"
**Informations**
- **Node.js version**:v9.0.0
- **npm version**:5.5.1
- **Strapi version**:3.0.0-alpha.14
- **Database**:MySQL 5.7.23
- **Operating system**: macOS High Sierra

**What is the current behavior?**

I'm developing a strapi plugin following the [plugin development guide](https://strapi.io/documentation/plugin-development/quick-start.html)  . But when i stopped the development server an

[2018-09-11 08:29] derrickmehaffy commented on #1902
@robbywashere Yeahhh your running some really old stuff. Can you use the latest strapi version? Also Yarn support is minimal and is not recommended. The Strapi team are still working on that.

[2018-09-11 15:09] fezproof opened #1931 "Configuration Server Host IP does not get saved"
**Informations**
- **Node.js version**: latest
- **npm version**: latest
- **Strapi version**: 3.00@alpha14
- **Database**: MongoDB latest stable with GraphQL API
- **Operating system**: Linux Ubuntu 18.04

**What is the current behavior?**
Configuration Server Host IP does not get saved. When I change the IP and save settings it automatically resets back to localhost. This is a problem as I am tr

[2018-09-11 15:31] derrickmehaffy commented on #1931
@fezproof this will be fixed in 14.1 with my proxy PR here: https://github.com/strapi/strapi/pull/1813

@lauriejim this can probably be closed.

Also as a side note that isn't for IP it is only for hostname.

[2018-09-11 15:33] TokenChingy commented on #1931
Good to know, I'll let @fezproof know in the morning when I see him. Will 14.1 be released today/tomorrow?

[2018-09-11 15:33] derrickmehaffy commented on #1931
@TokenChingy Pretty sure it is supposed to be tomorrow. @lauriejim and I were trying to fix providers before release, but I don't think that is gonna happen.

[2018-09-11 19:48] tombunn commented on #1919
@hansemannn I had a hard time with this the other week and figured it out eventually. The documentation and examples need improving in my opinion as it was not clear at all. This example below might help you and I can confirm it does work for my React project. There are some dispatch actions for redux which you can ignore but I hope this helps.

I'm not sure if you are trying this but you cannot a

[2018-09-12 04:09] signorekai commented on #1687
+1.

Also facing this problem with a remote Mongo hosted on Mongo Atlas.

[2018-09-12 08:59] malbari commented on #1450
Yes, I mean WYSYWYG for Vue component. If I understand correctly, currently a markdown WYSIWYG editor is supported "out of the box" and the HTML equivalent is proposed as feature request. Both are usefull to display rich static content, and I think that a WYSIWYG editor for Vue coomponent (or ReactJS equivalent) could be usefull for displaying dynamic content as well.

[2018-09-12 09:46] schmitzl opened #1933 "Entities are not deleted completely on heroku (content types, fields)"
**Informations**

*Local*
- **Node.js version**: 10.4.1
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: Postgres
- **Operating system**: MacOS

*Heroku*
- **Node.js version**: 10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14
- **Database**: Postgres

**What is the current behavior?**
On heroku, I can observe the following behaviour: When removing

[2018-09-12 10:27] dualitysol opened #1934 "The hook _config failed to load"
**Informations**
- Node.js: v10.8
- npm version: 6.4.1
- Strapi version: 14
- Database: MongoDB: 3.6.5
- Operating system: Ubuntu 18

**What is the current behavior?**
After I create new project using `strapi new` and trying to start it by `strapi start`, I got an error `error: The hook _config failed to load!`.

**Steps to reproduce the problem**
I have tried to create new one using `sudo` also t

[2018-09-12 12:54] sbastias commented on #1875
Hello all,

I ran into the SAME problem after making some additional edits.

Here is what fixed it for me...

After installing strapi (from a private github repo):

strapi> **npm run setup:build** *(this creates global links to strapi plugins!)*

Then I deleted node_modules from both strapi-plugin-content-manager and strapi-plugin-users-permissions, and reinstalled them with **npm install**

I mad

[2018-09-12 17:37] lauriejim commented on #541
I link a screen about a discussion of this topic.

You just have to update to your use case (User api routes)

<img width="1031" alt="screen shot 2018-09-12 at 19 35 57" src="https://user-images.githubusercontent.com/5716596/45442744-288ce380-b6c3-11e8-9012-88aff8532518.png">

[2018-09-12 17:44] lauriejim commented on #1912
Can you guys test again with last version of Strapi please (just published new version and I think it's fixed)

[2018-09-12 17:50] lauriejim commented on #1840
Okay I think it's a missing dependencies in **content-manager** or **content-type-builder** plugin.
I will check that.

[2018-09-12 17:57] lauriejim commented on #1840
Look to be present :/ not that point.

[2018-09-12 17:58] lauriejim commented on #1840
@hansemannn You also use Docker ?

[2018-09-12 18:04] hansemannn commented on #1840
Nope, I tried uploading it to AWS Beanstalk (using the EB CLI ~ `eb deploy`).

[2018-09-12 18:33] lauriejim commented on #1886
@gkarmas A good thing to add is a config to manage how many levels can be handled by default.

[2018-09-12 19:00] stephane-r commented on #1840
I've *fix* my problem by running bash script before nun `npm i`. Not the best solution, but work for me :

[code]

[2018-09-12 19:41] lauriejim commented on #1735
You can't add key that not exist in you model.
Try to update and existing key, it will work.

[2018-09-12 20:41] BiscuiTech commented on #1281
Quick tip: if you're like me and don't want to install nvm nor do you want to change your Node.JS install, simply create the app through your WSL. I made my destination folder into my mnt/c/Users/.../Documents and everything works fine.

[2018-09-12 21:47] derrickmehaffy opened #1938 "GraphQL plugin breaks AdminUI loading plugins on all ORMs"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.1
- **Database**: 10.2.17-MariaDB
- **Operating system**: Linux Mint 19 // Ubuntu Server 18.04

**What is the current behavior?**

After installing GraphQL plugin the AdminUI will no longer load other plugins, below is a screenshot of a fresh v14.1 project (right) and my upgraded project

[2018-09-12 21:55] maturanomx commented on #1281
Apparently passing the data to the CLI also work: https://github.com/strapi/strapi/issues/1898#issuecomment-418713033

[2018-09-13 02:19] NickBolles opened #1939 "Mongoose Hook connectivity fails on project creation on Windows"
**Informations**
- **Node.js version**: 8.12.0/9.11.2
- **npm version**: 6.4.1/5.6.0
- **Strapi version**: alpha14
- **Database**: Mongo
- **Operating system**: Windows 10

**What is the current behavior?**

`Strapi new` connection test fails when creating a mongodb project. The CLI also reports it as a success.

**Steps to reproduce the problem**

Since `strapi new` is currently broken in node 9

[2018-09-13 02:53] NickBolles opened #1940 "Build scripts fail on windows"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: Master branch
- **Database**: n/a
- **Operating system**: Windows 10

**What is the current behavior?**

any commands that run the clean or clean:all scripts fail on windows because they run "rm"

**Steps to reproduce the problem**

run `npm clean` on windows

**What is the expected behavior?**

clean scr

[2018-09-13 03:06] maturanomx commented on #1940
That's just one of many other known issues on Windows. Can you try working on a VMs or with WSL?. I'm working with the second one :)

[2018-09-13 03:32] NickBolles commented on #1940
I'm making a pull request right now. What are some of the other issues?

I know the `strapi new` command can simply be worked around with passing all the parameters in. Are there any other issues that I could work on to get more familiar with the code?

[2018-09-13 05:48] fpetrouchka commented on #1897
Thanks for reply @lauriejim , just edited bio.

I know, it seems successfully created Content Type at the Content Type Builder w/ automatically lower-cased, but it stops at loading status when I try to create some records from left menu.
(or...Is this issue caused by any other factor?)

[2018-09-13 06:03] NickBolles commented on #1879
This should be fixed by #1941

[2018-09-13 06:11] TokenChingy commented on #1938
Can confirm, it also breaks on Mongoose ORM.

[2018-09-13 06:28] DMomplaisirASC commented on #1938
It seems that if you refresh the page x amount of times, it functions.  It might be sourced from the multiple instances of the babel-polyfill or something with the strapi-helper-plugin which I cant seem to source.

[2018-09-13 06:33] derrickmehaffy commented on #1938
@TokenChingy Updated title, also updating issue to reflect all ORMs.

@DMomplaisirASC I noticed the same when using Firefox, on Chrome Beta I couldn't get it load no matter the amount of refreshes. Good to know it isn't just me though, worked with both @lauriejim and @soupette and they couldn't reproduce.

[2018-09-13 06:37] DMomplaisirASC commented on #1938
@derrickmehaffy I'm on Chrome right now, and I can do it after a random ammount of refreshes (about 6ish).  It seems when you get to a refresh it works but if you try to save content, it automatically white screen and crashes again.

[2018-09-13 06:41] DMomplaisirASC commented on #1911
@TokenChingy - I had this issue before and it seems like the new update fixes it, at least from checking in playground.

[2018-09-13 06:51] TokenChingy commented on #1911
@DMomplaisirASC are you not having issues with GraphQL and the 14.1?

[2018-09-13 06:58] derrickmehaffy commented on #1911
@TokenChingy using playground works fine, just the adminUI is borked. I don't know how many levels you have to go to cause the bug but I haven't seen it.

[2018-09-13 08:33] derrickmehaffy commented on #1938
Example of a test project:

No GraphQL Plugin:

![image](https://user-images.githubusercontent.com/8593673/45476788-bfbe5f00-b6f4-11e8-9751-758adb0c7a1f.png)

Installed GraphQL:

![image](https://user-images.githubusercontent.com/8593673/45476824-d6fd4c80-b6f4-11e8-8b43-43a4064aecad.png)

Removed GraphQL (and a few refreshes):

![image](https://user-images.githubusercontent.com/8593673/45476883-fd

[2018-09-13 09:02] lauriejim commented on #1922
https://github.com/strapi/strapi/issues/1698

[2018-09-13 09:02] #1922 closed

[2018-09-13 09:04] Aurelsicoko commented on #1323
@nicroto You're right! The `prefix` should be used to prefix your API `http://localhost:1337/your-prefix/` instead of exposing the API at `http://localhost:1337/`. It shouldn't be used to manage the versioning of your API.

[2018-09-13 09:06] lauriejim commented on #1923
Hello @amit-deligence , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-09-13 09:06] #1923 closed

[2018-09-13 09:07] #1927 closed

[2018-09-13 09:13] Aurelsicoko commented on #1920
@Mr-Chilly Thank you for this feature request! I agree with you we should make an exception for the files relationships. As we are handling the files like a relational field, they don't appear when there is already one level of population.

If I understand it correctly, in your second suggestion, it means that we should let the user chooses the depth level of nested relations?

[2018-09-13 09:15] lauriejim commented on #1931
Can you try again with last version of Strapi.
It works well on my side.

[2018-09-13 09:17] lauriejim commented on #1919
Can you update your issue by given the correct name of the strapi version you use please.

[2018-09-13 09:37] lauriejim commented on #1933
Related issue here https://github.com/strapi/strapi/issues/1903
Has been fixed in `alpha.14.1`

[2018-09-13 09:37] #1933 closed

[2018-09-13 09:39] lauriejim commented on #1934
Hello @dualitysol, can you give use the exact name of the Strapi version you use please.

[2018-09-13 09:50] lauriejim commented on #1840
Did you define where come from the issue, Strapi stuff or a config in your EBS or Gitlab CI

[2018-09-13 09:55] stephane-r commented on #1840
This problem is on my local machine and Gitlab. I think the problem is with Strapi ^^

I will look in more detail if you want :)

[2018-09-13 10:32] lauriejim commented on #1939
Hello @NickBolles , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-09-13 10:58] mrfrase3 opened #1942 "Pass parameters to policy"
It would be nice to specify route-specific parameters in the api's routes.json

I think [URI style parsing](https://nodejs.org/api/querystring.html) would be the nicest solution.

so in the routes.json file:
[code]
which then are available in the policy:
[code]

[2018-09-13 11:59] betomoretti opened #1943 "Apply changes from a dev strapi to a non dev strapi"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.4.0
- **Strapi version**: alpha.13.1.0
- **Database**: mongodb
- **Operating system**: ubuntu 17.10

**What is the current behavior?**
My goal is to customize the strapi admin. I'm being able to so following the admin panel customization guide. What's not clear for me is how can apply those changes to my real project where I alrea

[2018-09-13 13:22] derrickmehaffy opened #1944 "How to filter for NULL value (empty value)"
**Informations**
- **Node.js version**: 10
- **npm version**: 6
- **Strapi version**: 14.1
- **Database**: MariaDB 10.2
- **Operating system**: Linux Mint 19

**Question**

How do you filter based on an empty value?

For instance on my project here: https://api.canonn.tech:2083/body?edsmID=null

I'ved all the typical ways and always get returned an empty array `[]`

[2018-09-13 13:27] derrickmehaffy commented on #1925
Found the issue, when creating a record the boolean value is not being set in MySQL to `0` be default. It is being left as null instead.

@lauriejim bookshelf by default should be setting false boolean values to `0` instead of null. This can be done by modifying the MySQL table to change the default value on creation. I will test by setting the value manually in the DB

[2018-09-13 13:27] derrickmehaffy commented on #1925
Temp changing the value to true, then setting back to false and the filter works

[2018-09-13 13:35] derrickmehaffy commented on #1925
Manually setting the default value doesn't work it seems bookshelf is sending a null value for false boolean values.

[2018-09-13 13:38] derrickmehaffy commented on #1943
This is more so of how --dev works and what it does. Right now you create the --dev and it symlinks to the globally installed packages, so any modifications you make to the --dev are then pushed globally so all new projects will use these changes.

As far as I know there is no project based rebuild process, which makes managing multiple Strapi projects very complex as you have to swap out the glob

[2018-09-13 13:39] derrickmehaffy commented on #1943
related: https://github.com/strapi/strapi/issues/1828
(Not technically a duplicate but close)

[2018-09-13 13:47] derrickmehaffy commented on #1925
Related File:

https://github.com/strapi/strapi/blob/ea51c9949f57ba422e7deae2fb0820137f5fc8ab/packages/strapi-hook-knex/lib/index.js#L127-L134

[2018-09-13 13:48] derrickmehaffy commented on #1925
I *think* that doing something like this *should* work but not sure. Can do some testing later on:

[code]

[2018-09-13 14:02] kamalbennani commented on #1942
Would be much easier if we can pass a payload, this way we won't need to parse the string and you'll be receiving the payload as the last param of the policy function.

[code]

[2018-09-13 14:15] crtl opened #1945 "Testing database connection fails strapi new script"
**Informations**
[code]

- **Node.js version**: 8.9.4|10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.1
- **Database**: MySQL
- **Operating system**: Ubuntu 17.10

**What is the current behavior?**
Cannot create a new app

**Steps to reproduce the problem**
1. strapi new app-name
2. Select MySQL as Database
3. Wait

**What is the expected behavior?**
Strapi should successfull

[2018-09-13 14:28] crtl commented on #1945
Because I was running node on vagrant in a shared folder I had to use another directory (this is an node issue).
After moving to another directory which is not shared the installation worked better.

[2018-09-13 14:28] #1945 closed

[2018-09-13 14:38] Aurelsicoko commented on #1942
Oh, you're talking about validations? We started some work on this part (see https://github.com/strapi/strapi/blob/master/packages/strapi/lib/middlewares/router/utils/routerChecker.js#L67). We are using Joi inside our router to be able to define request/response validations in the future.

[2018-09-13 15:03] derrickmehaffy commented on #1943
Not that I know (note I'm not a Strapi Team member) @soupette would be the best person to ask. But I do believe that in the future this won't be how the Admin is built. Realistically you should be able to modify the src directly in the project and then rebuild it without touching the global packages. But as of right now i don't believe that is the case (normal projects don't have the script :build

[2018-09-13 16:36] #1938 closed

[2018-09-14 01:18] #1908 closed

[2018-09-14 02:52] DMomplaisirASC commented on #1938
I'm still having this issue. What should I do?

[2018-09-14 05:46] schmitzl commented on #1933
I also tried this with Strapi version: 3.0.0-alpha.14.1. This does not fix the problem on heroku and it also does not fix it for manual changes in the api files. The problem still exists for the following two scenarios:

1) Heroku
The local store is not pushed to heroku. Heroku has its own store. Heroku also does not allow to modify anything through the content-type-builder plugin. Which means tha

[2018-09-14 06:34] derrickmehaffy commented on #1938
@DMomplaisirASC update to Strapi 14.1.1 I confirmed with @lauriejim in testing that 14.1.1 fixes this.

[2018-09-14 06:35] derrickmehaffy commented on #1382
Still an issue on v14.1.1

[2018-09-14 06:55] isabolic opened #1949 "create new project with postgres"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**:strapi@3.0.0-alpha.14.1.1
- **Database**: postgres
- **Operating system**: windows 10

**What is the current behavior?**
create new project with postgres db connection

**Steps to reproduce the problem**
in terminal run
```strapi new test-prject --dbclient=postgres --dbhost=localhost --dbport=5432 --dbna

[2018-09-14 07:08] derrickmehaffy commented on #1949
There are known issues with Windows, please use WSL or a Linux VM. The Strapi team is working on better Windows support.

[2018-09-14 07:30] marcellovetro commented on #1907
The PR was moved to #1950

[2018-09-14 07:42] isabolic commented on #1949
@derrickmehaffy thanks for the quick response 👍

[2018-09-14 08:39] soupette commented on #1943
@betomoretti currently the only way to apply changes to your project is to copy paste your build folder from your custom app into your production app.

[2018-09-14 09:09] ghufr commented on #1938
![screenshot from 2018-09-14 15-56-31](https://user-images.githubusercontent.com/20156570/45540967-f650c280-b837-11e8-9926-0cbef0bf2cee.png)
I got 403 error in `/admin/plugins` (production build), is this related to this issue?

[2018-09-14 09:15] zhoub commented on #1949
![2018-09-14 18_14_17-administrator_ c__windows_system32_cmd exe - strapi new lf-web](https://user-images.githubusercontent.com/1798206/45541462-286b2000-b84a-11e8-90dd-0667e7f0bd0b.png)

I also got this issue for when choosing SQL server

[2018-09-14 10:07] derrickmehaffy commented on #1938
@ghufr that is an unrelated issue, what strapi version. @Aurelsicoko didn't you fix disconnecting the marketplace from projects?

[2018-09-14 10:09] derrickmehaffy commented on #1949
Same thing, windows support isn't there right now. You will need to use either a linux vm or install WSL and run your project there.

[2018-09-14 12:31] Aurelsicoko commented on #1938
@derrickmehaffy We removed everything related to the marketplace since alpha@12...

[2018-09-14 12:37] derrickmehaffy commented on #1938
I thought so @ghufr what version are you running? I think you likely need to update your project...

[2018-09-14 12:38] Aurelsicoko commented on #1758
Don't hesitate to ping me in private (@aureliengeorget). Have a good holiday :)

[2018-09-14 12:40] Aurelsicoko commented on #391
@sudip1072 Can you format your previous message by using the codeblocks, please? Thank you

[2018-09-14 12:44] Aurelsicoko commented on #474
No, it still impossible until Zeit doesn't allow to write files on their servers. As we are not storing the models in database (which make sense), we have to be able to write the files and generate the folders in the project when you're creating a new API (aka Content-Type).

[2018-09-14 13:13] Aurelsicoko commented on #1876
@goras It would be awesome you can open the issue and submit a PR to fix it 🎉

[2018-09-14 13:53] madonzy opened #1951 "How to add custom configuration?"
Hello guys, first I want to tell that I love your product sooooo muchh!!! Thank you for your work!!!

I have a question about adding custom configuration. Is it possible to add configuration to Configurations tab? (look screen)
<img width="1680" alt="screenshot 2018-09-14 at 15 50 58" src="https://user-images.githubusercontent.com/5281020/45554228-2e570600-b836-11e8-81fc-416a69cd4401.png">

If yes

[2018-09-14 13:58] derrickmehaffy commented on #1951
Not easily lol
You can see in a PR I did on adding some extra options to the server option in there:

https://github.com/strapi/strapi/pull/1813

[2018-09-14 13:58] derrickmehaffy commented on #1951
Rebuilding is the hard part however

[2018-09-14 14:01] lauriejim commented on #997
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-09-14 14:01] #997 closed

[2018-09-14 14:09] #916 closed

[2018-09-14 14:11] madonzy commented on #1951
It could be great if it will be possible to create it dynamically, for example, using JSON configuration :)

[2018-09-14 14:17] lauriejim commented on #1172
Look fixed :D

I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-09-14 14:17] #1172 closed

[2018-09-14 15:04] lauriejim commented on #1230
This issue is fixed in `3.0.0-alpha.14.1.1`

[2018-09-14 15:04] #1230 closed

[2018-09-14 15:09] lauriejim commented on #1359
It's released in last version of Strapi.
There is a content manager section in the left menu to update field name

[2018-09-14 15:09] #1359 closed

[2018-09-14 15:29] lauriejim commented on #1483
Can you try with last version of  Strapi (3.0.0-alpha.14.1.1) please.

[2018-09-14 15:30] lauriejim commented on #1484
Any update about this issue ?

[2018-09-14 15:36] gkarmas commented on #1886
thank you so much @lauriejim  - I would need a bit of guidance on how to achieve that. I tried multiple times and couldn't figure it out. Any help would be much appreciated. I am struggling with this very issue for a while.

[2018-09-14 15:39] DMomplaisirASC commented on #1911
No,  I refound the bug - it seems to be 4 levels deep.

[2018-09-14 15:41] derrickmehaffy commented on #1925
Alright I've found the issue for sure, when creating a boolean value on bookshelf the creation of the tinyint column needs to be changed similar to this:

![image](https://user-images.githubusercontent.com/8593673/45560427-def2e480-b7f9-11e8-93f7-3c3037387c03.png)

Likewise if the default value is "true" then the default value should be "1" and not "0" in this case the boolean value will always be

[2018-09-14 15:45] #1551 closed

[2018-09-14 15:47] derrickmehaffy commented on #1233
@mnlbox can you test with Strapi 14.1.1 want to make sure this issue is still happening

[2018-09-14 15:48] Tonours commented on #1484
@lauriejim Hey ! I can do a PR at the end of the week

[2018-09-14 15:48] derrickmehaffy commented on #1578
Can confirm the visual bug is still happening on v14.1.1 also sometime a random "undefined" relation field shows up on the "source" model that has to be deleted. Note that it doesn't actually create anything in the database on the source nor the destination tables.

[2018-09-14 15:49] derrickmehaffy commented on #1393
Marking as closed for now, support for this won't happen for some time

[2018-09-14 15:49] #1393 closed

[2018-09-14 15:52] signorekai opened #1952 "Data disappeared from panel"
**Informations**
- **Node.js version**: 10.7
- **npm version**: 6.30
- **Strapi version**: 3.0.0-alpha.14.1
- **Database**: mongo
- **Operating system**: Mac OS (but running inside docker, linux alpine image)

**What is the current behavior?**
After upgrading to alpha.14.1, my panel's data was all gone. Turns out the format has changed.

**Steps to reproduce the problem**

Prior to 3.0.0-alpha.14.

[2018-09-14 15:54] derrickmehaffy commented on #1952
@signorekai I would suggest in this case since you are using docker that you use the URI as an environment variable and pass it to your docker container.

[2018-09-14 15:57] signorekai commented on #1952
@derrickmehaffy any particular reason why?

[2018-09-14 17:13] marcellovetro opened #1953 "SelectMany Dropdown don't load ajax content with Mysql"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.1.1
- **Database**: Mysql
- **Operating system**: Linux Ubuntu 16.04

**What is the current behavior?**
In Content Manager Plugin the SelectMany Dropdown that allow to add a relation don't start the ajax autofill when you write a key to search the related element.

**Steps to reproduce the

[2018-09-14 17:44] derrickmehaffy commented on #1953
@marcellovetro I'm confused why are you creating two relations to the same model? with different types?

[2018-09-14 18:13] marcellovetro commented on #1953
Only to use a single table and make easy reproduce the problem, the SelectMany work bad also if you have two different table!!!

[2018-09-14 18:30] RobinPel commented on #1325
I'm having the same error (although it's #188 instead of #254) on a clean install of the latest version v3.0.0-alpha.14.1.1 for clicking "Add a new language", as well as for clicking "Add content type" on the Content Type Builder page.

`Error: Minified React error #188; visit https://reactjs.org/docs/error-decoder.html?invariant=188 for the full message or use the non-minified dev environment for

[2018-09-14 20:07] betomoretti commented on #1943
@soupette I ended up coping my api endpoints to the dev started project. The thing now is that when I'm trying to run a container with the dev project is failing. Here's the process that I'm using:

[code]
[code]
Do you know if I need an extra step? This building process is already working on the non --dev strapi app.

Thanks!

[2018-09-14 23:40] gianniskarmas commented on #1912
That happens in a new 14.1.1 project.
Copied apis from previous one and only these give this error when I try to edit them in Content manager. Any newly created behave correctly.
Is there something else that should be created for content management to work?

[2018-09-15 01:41] sbastias opened #1954 "How to deploy modified Strapi admin - help please!"
**Informations**
- node v10.6.0
- npm v6.1.0
- Strapi v3.0.0-alpha.14
- MongoDB
- Ubuntu 14.04

This is my process:
- Cloned strapi@3.0.0-alpha.14
- > npm run setup
- created new dev app
- > strapi new cms-dev --dev
- worked in development mode to alter:
-- strapi-plugin-content-manager
-- strapi-plugin-content-type-manager
-- strapi-admin
-- strapi-upload-local

At this point I have Strapi custom

[2018-09-15 03:08] derrickmehaffy commented on #1912
@hansemannn you can't create stuff on heroku because the storage isn't persistent. You will need to create new models locally then push to heroku.

[2018-09-15 10:08] ghufr commented on #1938
@derrickmehaffy It's `3.0.0-alpha.14.1`

[2018-09-15 10:42] derrickmehaffy commented on #1938
@ghufr update to 14.1.1, that is the hotfix for the issue I created this for.

[2018-09-15 14:54] NikhilNanjappa opened #1955 "Generated API controller.action conflict with plugins controller.action in routes files"
**Informations**
- **Node.js version**: `10.4.0` (replicable in `8.9.4` and `9.9.0`)
- **npm version**: `6.2.0` (also used `5.6.0`)
- **Strapi version**: `3.0.0-alpha.14`
- **Database**: MongoDB
- **Operating system**: macOS Sierra

**What is the current behavior?**
Hitting the `/email` API calls the `send` action in `plugins/email/controllers/Email.js` rather than its own controller within `api/e

[2018-09-15 14:58] NikhilNanjappa opened #1956 "Themes for Admin Panel"
**What is the expected behavior?**
A user should be able to customize the UI of the Admin Panel easily. As part of this feature, a user could provide his/her own logo, UI Panel colors etc.

[2018-09-15 18:27] LeBovin opened #1957 "Infinite loading when creating new entry"
**Informations**
- **Node.js version**: 10.10.0 (9.x isn't supported for Fedora 28)
- **npm version**: 5.10
- **Strapi version**: 3.0.0-alpha.14.1.1
- **Database**: Mongodb
- **Operating system**: Fedora 28

**What is the current behavior?**
When trying to creating a new entry, admin panel never stop loading

**Steps to reproduce the problem**
1) go to Content Type Builder
2) create a new Content

[2018-09-15 21:38] incizzle commented on #624
You mentioned you changed something in the controller file. Do you mind posting a snippet of it? 😃

[2018-09-15 21:38] incizzle commented on #624
@feat7
You mentioned you changed something in the controller file. Do you mind posting a snippet of it? 😃

[2018-09-15 23:28] ChrisSargent commented on #1912
I am also experiencing this issue - if I can provide any information to help with debugging, please let me know.

[2018-09-15 23:40] hansemannn commented on #1912
@derrickmehaffy That's a good point! But actually this happens with a locally-deployed instance where all content-types have been created earlier.

[2018-09-16 01:37] gianniskarmas commented on #1912
Also to mention I can't edit at all these copied apis and can't add new fields any more. @lauriejim can you please give us any hints of where to look? This is urgent if it is a bug

[2018-09-16 09:27] #1484 closed

[2018-09-16 10:59] ChrisSargent commented on #1912
I've been doing a little bit of debugging on this this morning. In the constructor of `Manager.js` in content-type-builder/utils, when it is throwing an error, the variable with name `layout` is coming through as `undefined`.

[2018-09-16 11:26] hansemannn commented on #1784
The underlaying error indicates that the reset-token is not valid anymore, e.g. if you have reset your password multiple times. The error could be improved though.

[2018-09-16 11:42] hansemannn commented on #1912
@ChrisSargent This is huge progress! Do you know a way to clean this up? I am searching through both the model settings and the MongoDB itself, but cannot find any old references to camel-cased fields, except Strapi's own ones (updatedAt, createdAt & resetPasswordToken).

[2018-09-16 11:46] ChrisSargent commented on #1912
@hansemannn, well when I first ran in to this problem I couldn't get back to a working / clean state either. So, I setup a new repo with these changes to that I could track exactly what was being changed in the code. I also committed a working .json file from the `core_store` collection that Strapi creates. There is an entry there with a key called `plugin_content-manager_schema` and it seems to c

[2018-09-16 13:10] gianniskarmas commented on #1912
After your reply @ChrisSargent looked into db's core_store and realised that is the root of these problems, at least in my case.

In the [migration guide](https://github.com/strapi/strapi/wiki/migration-guide-alpha.14-to-alpha.14.1) it does not mention anywhere that you need to copy core_store from previous db or nothing works. I assumed this entry gets automatically created when it reads what's i

[2018-09-16 13:30] eden6 commented on #1483
After having migrated to 3.0.0-alpha.14.1.1, the error seems to persist.

[2018-09-16 14:33] hansemannn commented on #1912
Thanks to both of you! In my case, a field was appended twice in the core_store, resulting in the blank page. Cleaning it up manually fixed the issue.

[2018-09-16 16:30] rdisabato commented on #900
must-to-have i think

[2018-09-16 19:18] ChrisSargent commented on #1912
I’m not sure. It seems that maybe this dB entry is created from scratch every time a model type is edited through the UI. Or maybe it updates it. Either way, it seems it would be better if it always recreated the entry based on data in the code.

Sent from my iPhone

[2018-09-17 05:25] hinsxd opened #1960 ""hour" field in DatePicker of content manager decrease by 7"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.1.1
- **Database**: postgres v10.5
- **Operating system**: macOS High Sierra

**What is the current behavior?**
When using content-manager to Edit/Add entries with fields of `date` type, either up or down arrow of the `hour` will cause the value `hour` to decrease by 7 on releasing mouse

[2018-09-17 05:47] peckhouse commented on #1325
**Node.js version**: v10.10.0
**npm version**: 6.4.1
**Strapi version**: 3.0.0-alpha.14
**Database**: Mongodb
**Operating system**: Linux (AWS EC2 Server)

Hello,
I'm having this issue on distant server.
![screen shot 2018-09-17 at 14 39 22](https://user-images.githubusercontent.com/700371/45607545-11b20c80-ba88-11e8-8f03-e1405415cfc2.png)

I just installed Strapi on the server, and every time I t

[2018-09-17 08:34] lauriejim commented on #1610
@derrickmehaffy @tjvanderende Can you give us an update about this issue. Still exist with last version of Strapi ?