[2019-09-24 09:30] lauriejim commented on #4068
Hum okay, so weird.
When you are visiting the list view, there is a request that fetches your data to display.

<details>
<summary>The request to fetch restaurants</summary>
<pre>http://localhost:1337/content-manager/explorer/restaurant?_limit=10&_sort=id:ASC&source=content-manager&_start=0</pre>
</details>

Can you share with me the result of this request for your content type.
I need to know if

[2019-09-24 09:34] alexandrebodin commented on #4080
@JelmerV-WFC Could you please enable the `tracing` in your grahpql config so you can have performance details per field and pinpoint them ? THis would help a lot !

To update the config : https://strapi.io/documentation/3.0.0-beta.x/guides/graphql.html#configurations

[2019-09-24 09:34] lauriejim commented on #4067
Okay, we fixed this issue in the last version of strapi (3.0.0-beta.16.5)
Can you please update your packages versions, remove your `package-lock.json` of `yarn.lock` and re-install your application packages.
Then re-build the admin by running `yarn build` or `npm run build`
This should fix your issue.

[2019-09-24 09:51] derrickmehaffy commented on #4082
@lauriejim I would be happy to provide my own usecases :stuck_out_tongue_closed_eyes:

1) Scripts kept in the working directory that work independent of Strapi but are used to maintain it
2) DB Exports, Examples, and testing files
3) Readme, documentation, ect

All of which would be good cases to exclude these from the auto-restart/watcher

[2019-09-24 12:17] forethoughtde opened #4085 "Strapi Start Admin Page: An Error occurred"
I cannot access built-in admin panel; I get _an error occurred_ message.

**Steps to reproduce the behavior**
1. Go to terminal and run the following command _npx create-strapi-app my-project --quickstart_
2. Wait for it to complete execution and open a webpage
3. Observe the error

**Expected behavior**
I should be able to access built-in admin panel without error.

**Screenshots**
<img width="16

[2019-09-24 13:35] sorin89 commented on #1908
@acarrera94 Can you please share your docker config for Cloud Run? Thanks!

[2019-09-24 13:37] wemod123 commented on #3880
@donmasakayan  awesome PR 👍

An additional question:
How to access `ctx.params` and `ctx.query` in the grphaql policies ?

Refer to [this section description](https://strapi.io/documentation/3.0.0-beta.x/guides/graphql.html#customise-the-graphql-schema), `ctx.params` and `ctx.query` can be accessed in controller, but not in policy.

[2019-09-24 13:39] JelmerV-WFC commented on #4080
How can I best share this information, because it are a lot of rules. I can see that one of my relations is taking a lot of time. That relation is not that detailed (2 text fields and 1 richt text). It is a many to many relation, but other many to many relations are a lot quicker.

[2019-09-24 14:19] alexandrebodin commented on #4080
@JelmerV-WFC you can send a link the file if you can upload it somewhere.

[2019-09-24 14:34] TheRealBarenziah opened #4087 "Cannot find module strapi/lib/utils/post-install.js"
**Describe the bug**
Not sure if bug, it may very well just be me being a newbie as I fear it may come from AWS. Still, I believe it's worth posting because I've seen too few references on this problem (and haven't see anyone having exactly this issue anyway).
Long story short, I tried to install a node module in my initially working Strapi app (`npm install axios` in ./myproject); not only did I

[2019-09-24 14:56] forethoughtde commented on #3284
This issue still exists. Is there any fix for this?

[2019-09-24 18:16] fodkastir opened #4090 "Load provider credentials from file config / env variables"
**Describe the topic**
Currently `strapi-provider-upload-aws-s3` saves AWS credentials in DB which doesn't seem secure to me, or necessary. Among other provider plugins it is rare in which these keys will need to be modified in production.

For example with the `strapi-provider-upload-aws-s3` If you needed to change your S3 variables you would also need to do quite a bit of manual migration making

[2019-09-24 20:21] gregorskii commented on #4082
My specific use case is that I am using a separate process to seed my database with initial content for development.

I have created a set of node scripts in a folder called /database. Every time I change the seed file the server reloads. These files have no affect on the Strapi instance other than the data stored in the tables.

This is mainly an issue when I am doing heavy development against th

[2019-09-24 20:47] websocket98765 commented on #4090
👍  Env vars would be the preferred solution of course, because credentials shouldn't be stored in the DB or in git (files).

[2019-09-24 20:48] derrickmehaffy commented on #4090
I agree completely @websocket98765 :stuck_out_tongue: The intention would be something similar to how database.json is setup. You **could** set them static in the file (at the users own risk) but realistically you would define an env variable in the file and load it that way either at runtime or via something like dotenv.

[2019-09-24 21:45] websocket98765 opened #4091 "Set related_id's type to VARCHAR(255) instead of integer in upload_file_morph table"
**Describe the bug**

Currently, the `upload_file_morph` table's `related_id` column defaults to a type of `integer`. This caues an issue when a developer uses a string ID type (UUID/NanoID/etc) on their user-defined model, becuase `related_id` only expects to receive integer ID's.

**Suggested solution**

Change `related_id` column type to `VARCHAR(255)`. This should work for both integer ID or s

[2019-09-25 03:01] yuensunn opened #4092 "Plugin upload only applicable to default database"
**Describe the topic**
Was trying to upload media files in secondary database's table but was prompted with error message

It appears to me that the strapi-plugin-upload is binded to the first/default database only. Is there a way to apply to the other databse too?

using:-
- "strapi": "3.0.0-beta.16.5"
- "mysql" : "5.7"

[2019-09-25 06:41] amitschandillia opened #4093 "How to look up documents by a field other than _id?"
I have simple table of posts with fields like `title`, `slug`, `body`, `excerpt`, etc. and relations such as `author`, `category`, `tags`, etc. I'm connecting to my Strapi documents via an Apollo Client that uses GraphQL to query the database.

Currently, I'm able to look up posts only by their `id`, whereas I wish to be able to do so by their `slug` (which I've defined as a unique field). Is ther

[2019-09-25 07:17] TiesTheunissen opened #4094 "Values should not start with a number or a special character (Enum field)"
**Describe the bug**
When creating an Enumuration as a field for a content type cant contain a special character.

**Steps to reproduce the behavior**
1 Create a content type.
2 Create a field as an enum.
3 Add as values:
"test"
"test2"
"test3"
This is including the " characters.
The same is with ' characters.
Or if I use values like: te-st it also gives me the error

**Expected behavior**
values

[2019-09-25 07:28] JelmerV-WFC commented on #4080
@alexandrebodin I think it may be partly related to manyToMany relations. I use manyToMany because there was no manyWay at that time. Maybe GraphQL queries all the related items that are linked to that selected relations or something? jsFiddle with the tracing: https://jsfiddle.net/623Lvu54

[2019-09-25 08:15] derrickmehaffy commented on #4080
@JelmerV-WFC I don't think it's just mTM as I don't have any of them myself

[2019-09-25 08:18] derrickmehaffy commented on #4093
[code]

[2019-09-25 08:19] derrickmehaffy commented on #4093
https://dev.schandillia.com/posts?slug=first-post

[2019-09-25 08:19] JelmerV-WFC commented on #4080
Ah yeah thats true. In my case (see the jsFiddle) I can see that my relations are really slow. Even the hasOne relations, for example `deal.destination` that takes 397ms.

[2019-09-25 08:32] amitschandillia commented on #4093
Please read the question again. I've clearly said this doesn't work since `slug` isn't a valid argument in the schema generated by Strapi.

[2019-09-25 08:39] derrickmehaffy commented on #4093
![image](https://user-images.githubusercontent.com/8593673/65583887-e1236f00-df34-11e9-9164-80e9c59b2f8d.png)

your `post` is the same as doing https://dev.schandillia.com/posts/$ID which is using the `findOne` service and only accepts the ID. If you have created a custom option to allow for a slug instead of an ID then you need to modify the schema to do so on GraphQL else you need to use `posts`

[2019-09-25 08:39] #4093 closed

[2019-09-25 08:41] derrickmehaffy commented on #4093
(I've also tweaked the graphql query in https://github.com/strapi/strapi/issues/4093#issuecomment-534909014 which will work

[2019-09-25 08:42] amitschandillia commented on #4093
Thank you. This is what I was looking for.

[2019-09-25 08:43] derrickmehaffy commented on #4093
For reference: https://strapi.io/documentation/3.0.0-beta.x/guides/graphql.html#configurations

[2019-09-25 08:43] derrickmehaffy commented on #4093
Scroll down a bit and you will see the `where: {}` stuff

[2019-09-25 09:21] lauriejim commented on #4085
Can you send me your browser console.
An error look happens in the network.

[2019-09-25 09:21] lauriejim commented on #4085
Can you send me your browser console.
An error look happens in the network.

[2019-09-25 09:42] sunithakarthikeyan opened #4095 "How to get the Values of the data fromn db as a JSON in this code strapi.services.article.find(ctx.query)"
**Describe the topic**
List of Products to be diplayed for a query with Count
How to get the Values of the collection is a string strapi.services.article.find(ctx.query)
Return works fine...but i need to run two query one for count & another find and merge both as single json
like {Count : 7, content:[]}

**Your suggestions for this topic**
I am trying to get output of strapi.services.article.find

[2019-09-25 09:44] lauriejim commented on #3880
In the [policy documentation 📚](https://strapi.io/documentation/3.0.0-beta.x/guides/policies.html#how-to-create-a-policy) you can see, the `ctx` is in function params.

[2019-09-25 09:46] derrickmehaffy commented on #4095
@sunithakarthikeyan please use the proper template as we need more information to answer your question:

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[code]

[2019-09-25 09:46] #4095 closed

[2019-09-25 09:48] sunithakarthikeyan commented on #4034
Request : curl -X POST -F 'files=@files.jpg' -F 'refId=5d80de49edc8756a4d58106d' -F 'ref=Glossary' -F 'field=DependentItems' http://localhost:1337/upload

Response : {"_id":"5d8b37923fe8f730eb0c8ee3","name":"arc.png","sha256":"uW6Ikj43RG6TpdyuDDInHSnOyyaBcUqfF7F_nluZDNg","hash":"467fa6843dde480c9161e8fb3e3a2f9d","ext":".png","mime":"image/png","size":"215.13","url":"http://210.210.127.202:1337/upl

[2019-09-25 09:49] sunithakarthikeyan commented on #4034
Glossary is userdefined datamodel and Related Key is set as NULL

[2019-09-25 09:55] sunithakarthikeyan opened #4096 "Search Query to Show Count of Items and List of Items in the Same Response (Strapi with MongoDB )"
**Describe the topic**
Search Query to Show Count of Items and List of Items in the Same Response (Strapi with MongoDB )

**Your suggestions for this topic**
I am trying to get the output of the following queries
       var count = strapi.services.article.count(ctx.query);
       var content = strapi.services.article.find(ctx.query);
Then prepare a JSON and return the variable
var prepare_content

[2019-09-25 09:58] sunithakarthikeyan opened #4097 "How to understand Strapi.serives.[modelname].find Output"
**Describe the topic**
How to understand Strapi.serives.[modelname].find Output

How to get the db output ?

Query {
  _mongooseOptions: { populate: { category_name: [PopulateOptions] } },
  _transforms: [],
  _hooks: Kareem { _pres: Map {}, _posts: Map {} },
  _executionCount: 0,
  mongooseCollection:
   NativeCollection {
     collection: Collection { s: [Object] },
     Promise: [Function: Prom

[2019-09-25 10:02] derrickmehaffy commented on #4097
closing as duplicate of https://github.com/strapi/strapi/issues/4095.

@sunithakarthikeyan please update your first issue with the proper template and please don't open multiple issues related to the same topic

[2019-09-25 10:02] #4097 closed

[2019-09-25 10:02] lauriejim commented on #4087
It will be hard you welp you.
Did you also remove you `package-lock.json`?

[2019-09-25 10:07] lauriejim commented on #4082
Okay thank you for sharing this.
I suggest you to create a RFC on [strapi/rfcs](https://github.com/strapi/rfcs)

[2019-09-25 10:12] wemod123 commented on #3880
@lauriejim Thank you for your reply.

I had check the code,  [Here](https://github.com/strapi/strapi/blob/0b822a641bff67c9386b3c4e6dc1f21b387edd20/packages/strapi-plugin-graphql/services/Query.js#L263) the policy had been executed, but the `params` and `query` is assign to ctx [Here,](https://github.com/strapi/strapi/blob/0b822a641bff67c9386b3c4e6dc1f21b387edd20/packages/strapi-plugin-graphql/serv

[2019-09-25 10:17] lauriejim commented on #4090
Here, there are two solutions.
The first is to fork the plugin and update the code to load configs from a `strapi.config` variable.
Or the second is to create a PR on the email and upload providers to manage this case.
The best way to create a PR is to open an RFC on [strapi/rfcs](https://github.com/strapi/rfcs) to define how to manage this stuff.

[2019-09-25 10:24] lauriejim commented on #4091
Thank you for reporting this.
I will need @alexandrebodin point of view on this.

🛠 You can work around by using the [extension system 📚][https://strapi.io/documentation/3.0.0-beta.x/concepts/concepts.html#extensions] to change the `./plugins/upload/models/File.settings.json` file.
You will be able to change the type.

[2019-09-25 10:27] lauriejim commented on #4092
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-09-25 10:27] #4092 closed

[2019-09-25 10:27] lauriejim commented on #4094
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-09-25 10:27] #4094 closed

[2019-09-25 10:33] forethoughtde commented on #4085
Upon following [this](https://github.com/strapi/strapi/issues/3284), I was able to fix this problem.

It does not really make sense to edit a file in a package in **node_modules** directory. Is there any fix for this?

[2019-09-25 10:35] lauriejim commented on #4034
Can you please format your messages.
It's currently not readable.

[2019-09-25 10:35] lauriejim commented on #4096
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-09-25 10:35] #4096 closed

[2019-09-25 10:39] lauriejim commented on #4085
In fact, this has been fixed on last version of strapi (beta.16.5)

On the first application start `./extension/users-permissions/config/jwt.json` files is created and it restart the server.
It doesn't wait the end of Group & Permissions data setup.
So data are missing.

[2019-09-25 10:39] #4085 closed

[2019-09-25 10:43] sunithakarthikeyan commented on #4096
**System**

Node.js version: v10.16.0
NPM version:6.9.0
Strapi version: v3.0.0-beta.14
Database:MongoDB
Operating system:Ubuntu 18

[2019-09-25 10:49] lauriejim commented on #4096
Please, can you well format your message.
It's not readable like this.

[2019-09-25 10:50] sunithakarthikeyan opened #4098 "Search Query to Show Count of Items and List of Items in the Same Response (Strapi with MongoDB )"
Search Query to Show Count of Items and List of Items in the Same Response (Strapi with MongoDB )

**Steps to reproduce the behavior**

NA

**Code snippets If applicable, add code samples to help explain your problem.**

var count = strapi.services.article.count(ctx.query);
var content = strapi.services.article.find(ctx.query);
Then prepare a JSON and return the variable
var prepare_content = {"co

[2019-09-25 11:07] lauriejim commented on #4098
Hello @sunithakarthikeyan !

As I asked you in [this issue](https://github.com/strapi/strapi/issues/4096) (the same by the way) you don't template your code in the right way.
It make the issue hard to read and understand.

Here is the [Markdown documentation](https://guides.github.com/features/mastering-markdown/) to learn how to template your issue.

Thank you.

I will reopen the issue when it wi

[2019-09-25 11:07] #4098 closed

[2019-09-25 11:54] sunithakarthikeyan opened #4099 "Instead of Name , Mongo ID is shown in Related Content Type"
**Describe the bug**
In New Version beta 16.5, Related Content Type is not showing the Field Name instead MongoDB _ID is listed. This was working fine in Version beta@14

**Steps to reproduce the behavior**
1. Add a ContentType - Channel with one required field (name)
2. Add a Content Type - Category with Channel as releated Field
3. On Creating datas for Category , channel is listed in dropdown a

[2019-09-25 11:55] sunithakarthikeyan commented on #4099
![1](https://user-images.githubusercontent.com/2913281/65598589-66e8fe00-dfb9-11e9-9ed4-26fa82078bd0.png)

[2019-09-25 12:37] alexandrebodin commented on #4091
Hi,

The problem with this approach is that this will prevent using numeric indexes on the related_id column.

We won't be setting this as the default behaviour but you can change it using jim's suggestion :)

[2019-09-25 12:37] #4091 closed

[2019-09-25 12:47] TheRealBarenziah commented on #4087
Hello, sorry I forgot to mention it, but yes every time I delete node_modules I also delete package-lock.json

I heard that it will be hard to resolve. Actually I have a short deadline for what I need to do, so I generated a new strapi for my specific need, and have no problem so far and been able to install npm module (axios) as easily as expected. But the setup isn't the same as the one I first

[2019-09-25 15:36] lauriejim commented on #4099
Hello! Here is tweet with a GIF that will let you update this.
https://twitter.com/laurie_jim/status/1176508780370190342?s=20

[2019-09-25 15:36] #4099 closed

[2019-09-25 15:44] lauriejim commented on #4087
If you re-create a project you will do it with last version of strapi (the beta.16.5) and your previous project is with alpha version.
Thing are working differently, many updates have been made.
And when you create a project with yarn or via npm, node modules are not installed in the same way.

[2019-09-25 16:29] indatawetrust commented on #2551
if there is a source code on this topic can you share? I can't find any code examples for version 3.

[2019-09-25 18:05] sunithakarthikeyan opened #4100 "Createdby and lastmodifiedby field's to be added by default in all models"
**Describe the topic**
Createdby and lastmodifiedby field's to be added by default in all models

**Your suggestions for this topic**
loggedin usercontext to be persisted

**Screenshots**
NA

**Code snippets**
NA

**Additional context**
NA

[2019-09-25 18:32] rmaroun commented on #4068
@lauriejim

there you go:

![image](https://user-images.githubusercontent.com/4890827/65629370-7f661200-dfd3-11e9-9abe-92e5bf4b4460.png)

[2019-09-25 19:53] websocket98765 commented on #4091
I found the file you suggested (https://raw.githubusercontent.com/strapi/strapi/master/packages/strapi-plugin-upload/models/File.settings.json), but it only only the definition for the `upload_file` table, not the `upload_file_morph` table which contains the `related_id` column that needs to be altered.

Where is the definition for `upload_file_morph` table located? (I can't find it searching the

[2019-09-25 20:31] vlad320 opened #4101 "Add new type field - Google Maps"
Hello.

- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

Good afternoon. I think it’s worth adding a new type to the field types - google maps.
With the ability to search by place name and select labels.
Very often you need to provide locations for companies,

[2019-09-25 21:03] vlad320 commented on #4068
@lauriejim
Good afternoon. Do you need any additional settings to display the preview? version 16.5. I see the image field in the list, but everywhere dashes, the field just created. MongoDb.

[2019-09-25 21:42] websocket98765 commented on #4060
Related to this line: https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/components/LeftMenuLink/styles.scss#L89

But the difficulty is that updating it to `top: calc(50% - 0.7rem);` is vertically centered in FF, `top: calc(50% - 0.5rem);` is vertically centered in Safari and Chrome.

(Strapi v3.0.0-beta.16.5)

[2019-09-25 21:56] cpres commented on #2616
setting `"dominant": true` does not work for me either. I think this ticket should be reopened and using order within the schema would be a good update, as of now I can't see a way to fix the order in the database shy of swapping the entire data sans-ids in the database

[2019-09-25 22:21] websocket98765 commented on #4059
I disagree with the premise of this issue. Valid values in a database for boolean are `null` (unspecified), `false`, & `true`.  If a value is unspecified, it should correctly be `null` in the database. Only if the user sets the default as `false`, then Strapi should set its value to `false`.

(Boolean as seen in Postico for Postgres.)
<img width="88" alt="bool" src="https://user-images.githubuserc

[2019-09-25 22:55] emptyopen opened #4103 "How to delete uploaded file through API"
**Describe the bug**
Tried a DELETE request on `{ipaddress}/uploads/{file_id}`, but get a 404 Not Found. I am able to download files, so I know the format should be good.

**Expected behavior**
Successful deletion.

**Screenshots**
N/A

**Code snippets**
[code]

**System**
- Node.js version: v10+
- NPM version:
- Strapi version: latest
- Database:
- Operating system:

**Additional context**
Add an

[2019-09-25 23:48] ceefour commented on #4059
@websocket98765 I agree with you.

[2019-09-26 04:15] derrickmehaffy commented on #4059
I agree that it should be false by default. Null should not be a valid option as a Boolean is a binary value either 0 or 1. Once it crosses into the tri-state (null, false, true) it's no longer a true Boolean and is more in line with an enumeration value.

[2019-09-26 08:00] eriktoyra opened #4104 "Clicking on Content Manager's Settings button in the PluginCard breaks the admin UI"
**Describe the bug**
Clicking on the "Settings" button on the PluginCard for plugin Content Manager causes the admin UI to break with the error "Something went wrong." It's basically the same bug that has been reported in #3942 but in another place.

**Steps to reproduce the behavior**
1. Go to 'Marketplace'
2. Click on 'Settings' on the Content Manager PluginCard.
3. See the "Something went wrong

[2019-09-26 08:03] derrickmehaffy commented on #4104
I can confirm this issue both within the marketplace and plugin menus, clicking that gear will result in the same error.

[2019-09-26 09:38] lauriejim commented on #4100
Hello! The proposition is interesting.
Can you submit it in the[ public roadmap 🗓](https://portal.productboard.com/strapi) please.
For know you can deal with it by creating a custom middleware to manage it.

[2019-09-26 09:38] #4100 closed

[2019-09-26 09:46] dayrlism10 opened #4105 "Group type children's relation elements Error"
**Describe the bug**
Adding a group that contain relation elements will cause application breaking

<img width="685" alt="Screenshot 2019-09-26 at 5 22 34 PM" src="https://user-images.githubusercontent.com/38413388/65677360-0b377700-e084-11e9-8f7e-b9f1118294ae.png">

**Steps to reproduce the behavior**
1. Go to content type builder
2. Create a group with relation element to other content type.
3.

[2019-09-26 09:48] lauriejim commented on #4091
Arg after digging in your case it will be more complicated than I expected.
Cause the update you want to do is not managed by the file I sent you.
You want to modify an auto-generated thing.
This `[model.collectionName]_morph` table is generated in the `strapi-hook-bookshelf` and managed in the `mount-models.js` file.
If you want to update this, there is just 1 way, it's to fork this module and do

[2019-09-26 09:52] lauriejim commented on #4101
Hello @vlad320 !
Thank you for this suggestion.
I think this is really close to this feature request [issue](https://github.com/strapi/strapi/issues/2527)
I suggest you to add you content in this issue. Because the stored data will be the same.
The UI will change only.
Thank you for your time.

[2019-09-26 09:52] #4101 closed

[2019-09-26 09:58] lauriejim commented on #4068
Thank you @rmaroun !
So you have the pictures data 👌
Did you update your application from a previous version of Strapi.
If `yes` can you rebuild your admin please by running `yarn build` or `npm run build`

[2019-09-26 10:02] lauriejim commented on #4103
Hello @emptyopen !
It's because you are not using the right API route.
Here is the correct one to delete a file - check the [route code 📦](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-upload/config/routes.json#L94)
It's `DELETE /files/:id`
But thank you for reporting this, I will update the documentation to make it more understandable.

[2019-09-26 10:02] #4103 closed

[2019-09-26 10:13] lauriejim commented on #4104
Hello! Thank you for reporting it.
Can you please submit a PR to fix it, please.
It's a super simple issue to fix, so a good opportunity for you to contribute to an Open Source projet.
I checked really fast and here is the issue `packages/strapi-admin/admin/src/components/PluginCard/index.js` at line 66.

[2019-09-26 10:18] fabio-nettis commented on #4060
Related to this line: https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/components/LeftMenuLink/styles.scss#L89

Updating it to
[code]

Fixes the issue in Chrome for me.

[2019-09-26 10:45] eriktoyra commented on #4104
@lauriejim I tracked the problem to the same place. I will submit a PR before the weekend.

[2019-09-26 11:52] daehruoydeef opened #4106 "How to migrate from beta.8 to beta.16"
**Describe the topic**
I am having trouble migrating from beta.8 to beta.16.
I created the Project with beta.8 but as time progressed new versions got released. I tried to change all the beta.8 occurrences inside the package.json to beta.16, removed the node_modules and build folder and reinstalled all the packages. I tried to run with strapi develop but it is giving me errors.

I tried to update

[2019-09-26 11:52] derrickmehaffy commented on #4106
https://strapi.io/documentation/3.0.0-beta.x/migration-guide/

[2019-09-26 12:05] nurikabe commented on #3799
Is `strapi.services` the only way to query by related document?

[2019-09-26 12:15] daehruoydeef commented on #4106
Are there specific guides for beta also? I am running beta.8, I feel like since the alpha so much has changed so the guides do not apply to the beta versions.

[2019-09-26 12:20] derrickmehaffy commented on #4106
For the most part @daehruoydeef you don't need to modify much in the beta, hence the lacking guides. Given there are sometimes issues or smaller migration guides (beta.15 to beta.16) but generally issues result from package lock files or strapi package versions having carrots `^` in them.

You should be updating to the latest release (beta.16.5 which is a hotfix version) and you do need to replace

[2019-09-26 13:38] JelmerV-WFC opened #4109 "Unable to set manyToMany or manyWay relation to null"
**Describe the bug**
It is not possible to set a `manyToMany` or `manyWay` relation to null. It's trying to map on the nullable object that will cause an error.

**Steps to reproduce the behavior**
1. Create a `manyToMany` or `manyWay` relation field
2. Set that field to null
3. `Cannot read property 'map' of null`

**Expected behavior**
Set the relation field to null

**System**
- Node.js version

[2019-09-26 14:15] TheRealBarenziah commented on #4087
It is true, my new project is 3.0.0-beta.16.5.
I'm not sure what you meant by "And when you create a project with yarn or via npm, node modules are not installed in the same way.". If you mean you shouldn't mix the two once you used one (typically having a yarn.lock && a package-lock), I am aware of it.

I've just been able to reproduce this issue, now I'm pretty sure the problem actually was with

[2019-09-26 14:18] alexandrebodin commented on #4109
How exactly are you trying to set null ? programmaticaly ?

many to many and manyWay should be arrays. we should prevent passing null instead of allowing it

[2019-09-26 14:21] JelmerV-WFC commented on #4109
In GraphQL the guys who build the frontend are sending null if there is no relation set. Should they send an empty array in that case?

[2019-09-26 14:28] alexandrebodin commented on #4109
I guess we can alllow null even if it doesn't really reflect what is happening in the back-end.

[2019-09-26 15:46] #4109 closed

[2019-09-26 15:59] walkerandco commented on #432
@xargr MongoDB connection strings are a little bit strange, there are some example or SRV-record based connections string as is the case for MongoDB Atlas. For replicasets, you have another type of string (effectively an array of servers) and for single installations like a local docker setup, you have another format. In addition to that, you also have different requirements depending on your setu

[2019-09-26 17:50] lauriejim commented on #3799
I don't understand you question, be `strapi.services` give you access to you API services function.
And these services use the [Query system 📚](https://strapi.io/documentation/3.0.0-beta.x/guides/queries.html#queries).
So in your code you can use the Query system to fetch your data.

[2019-09-26 17:57] gregorskii commented on #4082
Will do, thanks.

[2019-09-26 20:08] derrickmehaffy commented on #4087
@TheRealBarenziah yes do not use `npm audit fix` As it will pull in many invalid modules that aren't supported yet or it tries to fetch `strapi-next` versions for whatever reason. the next tag should not be used by anyone that isn't testing and they certainly should not be mixed with beta packages.

https://github.com/TheRealBarenziah/strapidemo/blob/28b6a7039e223f64903594ef009088ab8c837902/cms/pa

[2019-09-26 20:08] #4087 closed

[2019-09-26 21:48] walkerandco commented on #3421
This is a blocker for building the Dockerfile using `strapi/strapi`. There are two general issues with a vanilla `Dockerfile` build which make orchestration difficult. The first is that bootstrapping is unpredictable, within Kubernetes it will crash for a while before starting successfully because the bootstrap function takes to long. In addition, there is no decent way of injecting database secre

[2019-09-26 22:01] websocket98765 commented on #1443
**Additional bug related to lifecycles:**

When using `model.set()` to modify a model, the altered model is not stored in the databse during **updated**-related callbacks, but is stored successfully during insert-related callbacks.

**Examples:**

[code]

Note that when using the `beforeSave()` callback, similar behavior occurs--i.e. if it's an insert, the modified model is stored in the DB; if it

[2019-09-26 22:07] gregorskii commented on #4082
Created https://github.com/strapi/rfcs/pull/5

[2019-09-26 22:08] gregorskii commented on #4082
Actually going to re-open, don't know the process between RFC's and feature requests.

[2019-09-26 22:16] gregorskii opened #4115 "Strapi plugins on NPM not up to date"
Hi,

I believe the Strapi plugins on NPM are not up to date with code in develop.

See:

https://www.npmjs.com/package/strapi-plugin-users-permissions/v/3.0.0-beta.16.6

The plugin is missing the folder https://github.com/strapi/strapi/tree/develop/packages/strapi-plugin-users-permissions/admin/src/containers/AuthPage

It seems it may be built from master.

Github feature tagging indicates that th

[2019-09-26 23:11] derrickmehaffy commented on #4115
@gregorskii strapi releases are done on master. Develop branch is done on next releases.

[2019-09-26 23:12] derrickmehaffy commented on #4115
Marking as closed as this is intended.

[2019-09-26 23:12] #4115 closed

[2019-09-26 23:55] emptyopen commented on #4103
I'm still getting a 404 not found with that path - I should be using the hash id, correct?

[2019-09-27 02:44] nurikabe commented on #3799
Thanks, got it now. I was just getting confused when constructing my query.

That said, is there any advantage to using `strapi.services` versus directly accessing the query system? Query caching or any other magic?

[2019-09-27 04:50] derrickmehaffy commented on #3421
@walkerandco you can use env variables to inject secrets just about anywhere in the configs, for example the database.json [here is an example of mine](https://github.com/canonn-science/CAPIv2-Strapi/blob/development/config/environments/development/database.json)

[2019-09-27 05:10] nom4da opened #4116 "Context access issue in Roles resolver GraphQL"
Users-Permissions plugin graphql schema resolvers are loading the Context variable with brackets {}, which returns undefined. If I remove brackets it works.

![image](https://user-images.githubusercontent.com/1816294/65742654-4a64d700-e11b-11e9-91dd-7f346bd1c53a.png)

You can test on graphql playground:
`query {
  roles {
    name
  }
}`
Error: Cannot read property 'badRequest' of undefined

![ima

[2019-09-27 06:41] walkerandco commented on #3421
@derrickmehaffy Thanks for this, this is very helpful. Perhaps me being naive, I didn't realise it would pull the env variable from a JSON file if process.env was stuck in there (JSON files don't usually substitute), this is really handy.

[2019-09-27 08:11] alhill commented on #3873
Now it can be done with policies but it's true that in some typical case would be great to have an option for that. Per example, in the project I'm working right now almost every model have a relationship with the "master" model Organization and every role have policies to restrict what they can fetch/edit in their own organization, something like a multitenancy system. Or the case @raza2022  said

[2019-09-27 08:28] alhill opened #4118 "ID is shown as an object when fetching models with nested relationships"
**Describe the bug**
If you create a group and one of the fields is a relationship with a model which have inside more relationships, when you fetch this data, it shows the id of the nested relationship as a object with the order of the character as key and the character as a value, in the same way as if you do {..."idString"}

**Steps to reproduce the behavior**
1. Create a group with a relation

[2019-09-27 10:16] Sletheren commented on #3810
For me it was because of XCode
This one solved it: `sudo xcode-select --reset`

[2019-09-27 10:32] sajumani opened #4119 "afterCreate Hook Not Working In Role"
**Describe**
Role & Permissions Life cycle methods not firing.

**Steps to reproduce the behavior**
1. Am created model file under "extensions\users-permissions\models\Role.js"
2. afterCreate Method not firing when i create new Role

**Expected behavior**
All extensions life cycle should work as expected

**Code snippets**
afterCreate: async (model, result) => {
       console.info('afterCreate ho

[2019-09-27 11:05] derrickmehaffy commented on #4119
Closing as duplicate: https://github.com/strapi/strapi/issues/1443

Lifecycles plan to be reviewed but will require the new DB abstraction layer detailed in the sept blog: https://strapi.io/blog/monthly-update-september-2019?redirectPage=1

[2019-09-27 11:05] #4119 closed

[2019-09-27 11:41] sajumani commented on #4119
Hi,

This is not duplicate of #1443

Custom content type model hooks are working good for me.

Plugin extension model hooks (Roles, Permissions & user ) not working

[2019-09-27 11:43] derrickmehaffy commented on #4119
@sajumani right now all lifecycle callbacks are considered under review working or not. As they will be modified to use the DB abstraction layer. Thus until that new process is complete all "bugs" related to them are marked as duplicate to the review issue I linked above.

[2019-09-27 11:44] sajumani commented on #4119
Ok Thanks for your info

[2019-09-27 11:47] eriktoyra commented on #4104
Closing as the PR has been approved and merged to master.

[2019-09-27 11:47] #4104 closed

[2019-09-27 11:53] sajumani commented on #4119
Any other way to fire event after insertion ? @derrickmehaffy

[2019-09-27 16:23] jsonpj3wt commented on #4080
Any news on this issue?  So far, looks like using graphql is not a viable option but want to make sure because we are also seeing some very bad query performance issues.

[2019-09-27 16:36] humbertoT2 opened #4123 "Enum error message using special character"
**Describe the bug**
When adding a value to an Enumuration field I got the following error: "Values should not start with a number or a special character."

Except, I am not using a special character. The values are just Text on new lines with no quotes or special characters. This Enum field was created prior to 16.3 beta. Enum fields created after do not seem to reproduce this error.

**Steps to

[2019-09-27 17:10] gregorskii commented on #4115
The next version does not have develop either, is that correct?

https://www.npmjs.com/package/strapi-plugin-users-permissions/v/3.0.0-next.24

[2019-09-27 17:57] derrickmehaffy commented on #4115
The next version is only updated when passed to contributors like myself and others for testing pre-release of larger features that need more testing. Generally at the discretion of Strapi themselves.

[2019-09-27 17:59] sunsgs commented on #4118
this is happening also if you do not use groups.

[2019-09-27 18:16] ruben00001 opened #4126 "Heroku deployment with MongoDB connection string fail"
**Describe the bug**
Following the 3.0.0-beta.x Heroku deployment guide with MongoDB, I attempt to set the Heroku database URI to the connection string for Node.js 'v.2.2.12 or later' but this leads to an error:

'replicaSet' is not recognized as an internal or external command,
operable program or batch file.
'authSource' is not recognized as an internal or external command,
operable program or b

[2019-09-27 18:25] gregorskii commented on #4115
Ah ok. Thank you.

[2019-09-27 19:53] acarrera94 opened #4127 "User one-to-one relation link doesn't work (404)"
**Describe the bug**
Inside the admin panel, when viewing a user that has a relation, clicking on the relation results in a 404.

**Steps to reproduce the behavior**
1. Create a one-to-one relation between a user and another content type (profile for example), in the content type builder.
2. Create a user entry.
3. Create a profile entry linked to the user.
4. Open the user Entry
5. Refresh the pa

[2019-09-27 20:06] Elementrat opened #4128 "Relation selection field is showing IDs instead of names"
**Describe the bug**
Hi folks! I'm evaluating whether to move my team's project from 3.0.0-beta.7 to 3.0.0-beta.16, and in my exploratory test migration, I'm seeing potentially blocking behavior - wondering whether user error is at play here, expected behavior has changed, or there's a bug.
migrate
**Steps to reproduce the behavior**
(In beta 8 - Behavior we are used to and want to preserve)
1. Go

[2019-09-27 20:11] acarrera94 commented on #4128
You can configure this by clicking on "Configure the Layout".
But I assume most people would want name by default.

[2019-09-27 20:13] veitbjarsch commented on #4128
I'm not sure if it already was present in bet-7, but in the latest version you can choose what kind of field you are gonna display there. Therefore you need go to  Content Manager => Content Type and select your content type. The take the right tab and click your relational field, you wanna edit. On the bottom of the page you can change your entry title.

[2019-09-27 20:35] derrickmehaffy commented on #4128
As @acarrera94 stated you can change this in the content-manager plugin via that configure the layout button. I believe by default on new project it does indeed use the first string field, migration may need to reset this manually but as this is not a bug I am going to mark this as closed. Please do feel free to ask questions if you have them.

[2019-09-27 20:35] #4128 closed

[2019-09-28 02:48] vuanhnguyeen opened #4129 "Cannot customize strapi-hook-bookshelf"
**Describe the topic**
I am working with strapi alpha 26.2. I get a problem with strapi-hook-bookshelf. I want to create field in mysql with the case "pdf" with the type "varchar(255)". I see module strapi-hook-bookshelf will do it. And I create "hooks" folder in the root and copy module strapi-hook-bookshelf then paste it in "hooks" folder. Then I create case "pdf" in index.js in row 500 like thi

[2019-09-28 03:10] ilovett opened #4130 "cant load or build admin"
**Describe the bug**

UPDATE:  based on some other thread found that its running out of memory and I needed to increase my ram to build it.

I just installed a fresh VPS, installed nvm, installed node 10.6, npm 6.9, yarn 1.17.

Clicking on admin shows the original page.  Cant build admin.  Fails at the very last second of a yarn build or npm run build.  I've tried both npm and yarn.

[code]

[code

[2019-09-28 03:39] #4130 closed

[2019-09-28 08:30] derrickmehaffy commented on #4129
Strapi Alpha versions are no longer supported here or in slack. For this reason I'm marking this as closed.

[2019-09-28 08:30] #4129 closed

[2019-09-28 09:17] Palgie opened #4131 "Strapi.io videos client timeout"
**Describe the bug**
Just experienced an issue where `strapi.io/videos` loaded enough slow loading videos to choke all available browser threads, this caused my local environment to delay the load of certain client side routes as there were no browser threads available to download assets required to fetch the page.

This is definitely an issue with slower connection speeds but something that shoul

[2019-09-28 10:44] alxnkt opened #4132 "Controller context does not contain user object (ctx.state.user)"
**Describe the bug**
Context object in controller does not contain user information (ctx.state.user).

**Steps to reproduce the behavior**
I was trying to get some objects from my database, that belong to the user logged in. I'm getting user information from `ctx.state.user`. When I request my api via `strapi.request("post", "/page", { data: {/* */}})` from my NUXT frontend using AJAX-request ever

[2019-09-28 11:34] VentyCZ opened #4133 "Invalid link on setup page"
**Describe the bug**
The "privacy policy" link on the setup page leads to a wrong page (/policy => 404).

**Steps to reproduce the behavior**
1. Start fresh install
2. Go to http://localhost:1337/admin
3. Click on "privacy policy" link in the "Keep me updated about ..." checkbox
4. You get redirected to /policy - resulting in 404

**Expected behavior**
Should be redirected to /privacy (see footer

[2019-09-28 12:10] caiobiodere commented on #3650
@servinlp what did you do to fix the error? Could you describe it better because I am having the same error here

[2019-09-28 12:40] ytachi0026 commented on #4067
Thanks @lauriejim, updating strapi to 16.5 fixed the issue

[2019-09-28 12:40] #4067 closed

[2019-09-28 13:46] rmaroun commented on #4068
@lauriejim when doing this it looks like I am loosing the picture field within the content manager layout. I cannot find the image field and select it. Were you able to reproduce from your side? thanks

[2019-09-28 14:42] shivaji opened #4134 "Incorrect response for not confirmed email address"
**Describe the bug**
Incorrect response when an email address is not confirmed with an incorrect password.

**Steps to reproduce the behavior**
1. Successfully registered to the user using  <instance>/auth/local/register
2. Email is received on given email address but not confirmed the email address
3. When tried to log in with the correct identifier with an incorrect password using <instance>/aut

[2019-09-28 17:19] nycat opened #4135 "Can't visit http://localhost:1337/admin"
## Eviroment
- npm: 6.11.3
- node: v10.16.3
- os: macbook os 10.14.6
- MySQL: mysql 8.x

## steps;
- npx strapi-create-app my-project --dev
After several steps, the database.json looks like this

      "connector": "strapi-hook-bookshelf",
      "settings": {
        "client": "mysql",
        "database": "cms",
        "host": "127.0.0.1",
        "port": 3306,
        "username": "account name",

[2019-09-28 19:38] pouyamiralayi commented on #4135
hi @nycat! did you run `` npm run build`` ? this command will build the admin for you.
cheers.

[2019-09-28 23:08] Sletheren opened #4136 "Showing custom plugins in the left menu"
Hello,
Just created a Strapi project using 3.0.0 Beta version,
and I noticed there is no documentation about how to show created custom plugins in the left sidebar (e.g next to Content types...etc)
Also, I noticed that when creating a plugin (using strapi generate) it has a different format and structure than the plugins that already come with Strapi and the ones on version alpha.

Can anyone help

[2019-09-29 03:30] ningxzx opened #4137 "How to migrate data from one server to another?"
Thank you very much for your work. I am a front-end developer. This framework saves me a lot of time. I have stored a lot of data on one server, and now I want to migrate to another server. I don't know much about mongodb. Can you help me?

[2019-09-29 03:34] ningxzx commented on #4137
I have found some helpful page in your homepage.Thx.

[2019-09-29 03:34] #4137 closed

[2019-09-29 05:20] derrickmehaffy commented on #4135
@nycat @pouyamiralayi is correct you need to build.
`strapi built`
`npm run build`
`yarn build`

[2019-09-29 05:20] #4135 closed

[2019-09-29 05:20] derrickmehaffy commented on #4135
Also --dev is no longer a valid option that was from Alpha versions which is no longer supported

[2019-09-29 07:10] rmaroun opened #4138 "Cannot remove default value for number type in group"
**Describe the bug**
I created a group with number fields. I am setting the number fields default value and saving the group. When editing the number fields of that group and resetting their default value to an empty value I am then getting the following error message when saving the group: default must be a `number` type, but the final value was: `""`

**Steps to reproduce the behavior**
1. Go to

[2019-09-29 11:29] kalanyuz commented on #2977
I'm having the same problem too.

[2019-09-29 15:21] ralphMevision commented on #4068
@lauriejim when I am doing the restore on a windows PC then all is working, the difference could be the mongodb version (windows: v4.0.12 and on mac: v4.0.6). Will try to upgrade mongo on my mac and try it again.

[2019-09-29 17:41] alxnkt commented on #4132
I also can't get user information from `ctx.state` in policy.
I use simplest policy `isAuthenticated`:
[code]
When I reload browser tab with F5, `ctx.state.user` is `undefined`. When I'm using AJAX-request, ctx.state.user is filled as expected.

[2019-09-29 21:44] fcpauldiaz opened #4140 "TypeError: Cannot read property 'globalId' of undefined"
**Describe the bug**

TypeError: Cannot read property 'globalId' of undefined

**Steps to reproduce the behavior**

0. Create new strapi project
1. create new model `strapi generate:model instructions title:string body:string`
2. Go to Admin UI and create new Content Type with a Relationship to the Model created
3. Save Changes
4. Can't no longer start server

**Expected behavior**

To be able to

[2019-09-29 23:14] nameszian commented on #4118
It is also happening with relationships, it seems to be a problem of Strapi with MongoDb when it comes to resolving references / relationships, since everything seems correct in the database.

Can be tested by following the getting started tutorial (relationship between `Restaurant` and `Category`) with `strapi beta 3.0.0-beta.16.6`:

Example of a response of a request to `find - GET /restaurants`

[2019-09-30 04:10] fcpauldiaz commented on #2654
You still don't support yarn?

[2019-09-30 04:59] derrickmehaffy commented on #2654
@fcpauldiaz Yarn is supported and recommended but you will need to be running the beta version.

[2019-09-30 07:14] choudharypravesh03 commented on #2189
+1

[2019-09-30 08:06] #2300 closed

[2019-09-30 08:58] sunithakarthikeyan opened #4142 "Enumeration is listed as ID in the Listing Screen"
**Describe the bug**
Enumeration is listed as ID in the Listing Screen instead of Title or Name

**Steps to reproduce the behavior**
1. Add a Content Type "Page"
2. Create a Enumeration "Category" & and add "News" & "Movies"
3. Add a Data on Article under Category News
4. Go to Article - Listing screen and and Category is listed as ID instead of News

**Expected behavior**
Category to be listed as

[2019-09-30 09:06] derrickmehaffy commented on #4142
Can you please provide your model settings file? Enumeration values aren't relations so this literally shouldn't be possible.

[2019-09-30 09:22] alhill commented on #4057
This is related to the breaking changes of Beta 16, upload controllers and services have changed and modified older versions doesn't work anymore. I had to customize again the new version :(

[2019-09-30 09:23] sunithakarthikeyan commented on #4142
{
  "connection": "default",
  "collectionName": "page",
  "info": {
    "name": "page",
    "description": ""
  },
  "options": {
    "timestamps": [
      "createdAt",
      "updatedAt"
    ]
  },
  "attributes": {
    "Title": {
      "type": "string"
    },
    "Latest_News": {
      "group": "slots",
      "type": "group"
    },
    "review": {
      "group": "slots",
      "type": "group"

[2019-09-30 09:26] iamfeek commented on #3040
@kaiwen-lin Thanks for the resource.

Did you also configure your CI to run it?

[2019-09-30 09:33] derrickmehaffy commented on #4142
Glad to hear it, marking as closed then

[2019-09-30 09:33] #4142 closed

[2019-09-30 11:04] mcaulirealt commented on #1443
i have the same problem and need to save the modified model, any solutions?

[2019-09-30 11:10] derrickmehaffy commented on #1443
@mcaulirealt for now I wouldn't recommend using Lifecycle callbacks as they are effectively broken until the new DBAL layer is done.

[2019-09-30 12:18] brijmcq opened #4143 "TypeError: Cannot read property 'users' of null. Fresh project with MongoDB"
**Describe the bug**
Newly created strapi with mongoDB giving me errors when going to the admin dashboard.
[code]

**Steps to reproduce the behavior**
1. create a new project with mongoDB. Just follow this guide https://strapi.io/documentation/3.0.0-alpha.x/guides/databases.html#mongodb-installation

**Screenshots**
- **uses-permissions_permission**
all the rows here have values in `role` column
!

[2019-09-30 12:54] alhill commented on #4118
After testing it in other endpoints, I have seen the same problem too, not only in groups. I have edited the title to make it more generic.

[2019-09-30 15:13] Mario-Boss commented on #2463
@eComEvo - did you find a proper solution for your above problem ?

[2019-09-30 15:19] MartinMuzatko commented on #2189
Can someone maybe point to the function where the fields/tables are generated by using the content type generator?
Then we can easily re-use this for an existing JSON schema

[2019-09-30 15:20] ThomasMcFarlane opened #4145 "GraphQL abstract type polymorphic relations"
**Describe the bug**
The following error occurs when attempting to query a polymorphic field in GraphQL:

[code]

**Steps to reproduce the behavior**
1. Setup a polymorphic relationship
[code]
2. Go to 'http://localhost:1337/graphql'
3. Run...
[code]
4. See error

**Expected behavior**
The response should show the associated Form record with the Id field.

**Screenshots**
![image](https://user-ima

[2019-09-30 15:36] lauriejim commented on #4103
Sorry, I forget to precise, plugins routes are auto prefixed by the plugin name.
So in your request, you will have to use `/files/:id`
And you will have to use the entry ID.

[2019-09-30 15:52] ThomasMcFarlane opened #4147 "Mutation error with polymorphic relations"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Go to http://localhost:1337/graphql
2. Run the mutation...
[code]
3. See error

**Expected behavior**
Two things I would expect:
1. To be able to nest mutations (create a new Form/Header inside of blocks)
2. Pass an existing Form/Header structure with an existing ID into blocks.

**Code

[2019-09-30 16:18] fouber commented on #3976
@kindziora strapi startup by ``npm run start``. it can not be started by pm2 cluster mode

[2019-09-30 16:31] vlad320 opened #4148 "Invalid Date"
**Describe the bug**
The validation of 2 entities existing from beta.15 broke.
I can’t repeat on new ones. :(
Swears on a date if it is not filled. The date not required.
If the date is filled, then other errors are normally output.

![image](https://user-images.githubusercontent.com/16899697/65896841-f8f16c00-e3e8-11e9-8d66-1701563f4c54.png)

![image](https://user-images.githubusercontent.com/168

[2019-09-30 16:40] vlad320 commented on #4148
I was able to overcome the problem myself.

There was the following auto-generated .settings.json

    "dateStart": {
      "type": "date",
      "default": ""
    },

I deleted the "default": "" and it worked.

But just to leave it here, perhaps you need to update the description of migrations from version 15 to 16.

[2019-09-30 16:59] derrickmehaffy commented on #3976
Create a server.js file:
[code]

Run in cluster mode: `pm2 start --name="mystrapiapp" server.js -i 2`

You can change the `-i` to the number of instances (CPU cores you have on the machine is usually the safest bet in which case `-i max`)

[2019-09-30 16:59] derrickmehaffy commented on #3976
Marking this issue as closed as clustering does work and is fairly simple to implement (I've been doing it for the better part of a year and a half now). If you have questions please do feel free to ask.

[2019-09-30 16:59] #3976 closed

[2019-09-30 17:15] MaximStone opened #4149 "Delete image from multiple images field"
**Describe the bug**
When I call REST endpoint DELETE /upload/file in related item I have empty objects in that field for each deleted file.

**Steps to reproduce the behavior**
1. Upload some images to any model that has field "Media" (multiple files)
2. Try to call REST endpoint DELETE /upload/file with id of one of uploaded media
3. Open related model and look to field media OR call GET /model/

[2019-09-30 17:21] vlad320 commented on #3603
@lauriejim Helloy, I also ran into this problem, although literally a week ago everything was ok. I catch this error both on the local PC and on the battle server. I moved from the main one from beta15 to beta16.6.

![image](https://user-images.githubusercontent.com/16899697/65900829-d6178580-e3f1-11e9-97a5-6c072698248b.png)

Test emails from the server console successfully reach.
Email format is

[2019-09-30 17:22] MaximStone commented on #4149
Also in single media field has the same problem (see "photo_main" field in second screenshot)

[2019-09-30 17:22] websocket98765 commented on #1443
@mcaulirealt No solution yet until lifecycles callbacks are fixed.

[2019-09-30 17:47] karnadii opened #4150 "Content type builder always remove "autoPopulate" options in models"
**Describe the bug**
Content type builder always remove "autoPopulate" options in models

**Steps to reproduce the behavior**
1. create many to many relationship with 2 models
2. edit model setting to disable autoPopulate by adding `"autoPopulate": false`
3. add some field in one of model using content type builder. and save it.
4. see the different using `git diff`
[code]

**Expected behavior**
d

[2019-09-30 17:53] MaximStone commented on #4149
Ok, I get it. I just need to update model relation by PUT before deleting media file

[2019-09-30 17:53] #4149 closed

[2019-09-30 17:59] acarrera94 commented on #4080
I'm seeing this issue as well, on top of that I noticed it's eating a lot more memory than before. I'm running on Cloud run with a limit of 512M. And some of the queries are using much more than that and causing my instances to shut down. And I'm using mongo atlas with a connection limit of 80 and some of these queries are causing it to go over the limit. I can change the limits but this didn't ha

[2019-09-30 18:03] derrickmehaffy commented on #4080
@acarrera94 agreed something in the past few releases is slowly degrading performance. Prior to the beta or just after the first few beta releases GraphQL was fast as heck (I noticed the speed improvement when @Aurelsicoko added the data loader) My guess is the data loader isn't running properly and data isn't being cached like it should. Causing GQL to constantly go and refetch data it should alr

[2019-09-30 18:05] derrickmehaffy commented on #4080
Specifically: https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-graphql/services/Loaders.js

[2019-09-30 18:09] acarrera94 commented on #4080
I started having issues as soon as I updated to `3.0.0-beta.16.6` from `3.0.0-beta.15`. So that's probably a hint as to where the issue is.

[2019-09-30 18:11] JelmerV-WFC commented on #4080
Maybe this is the change that created this issue:

![image](https://user-images.githubusercontent.com/39594925/65904257-65a34100-e3be-11e9-8574-3a47c2c3ede6.png)

[2019-09-30 18:12] derrickmehaffy commented on #4080
that's a good catch @JelmerV-WFC can you try to reimplement that locally and see if things improve?

[2019-09-30 18:14] JelmerV-WFC commented on #4080
Yes, testing at as we speak :)

[2019-09-30 18:20] JelmerV-WFC commented on #4080
I don't think that's the bottleneck unfortunately :( I think it happened in this commit, but there are a ton of changes: https://github.com/strapi/strapi/commit/187a669d1e6838de5191dd4827a040209f87e4df

[2019-09-30 18:29] acarrera94 commented on #4080
Yeah there's lots of changes, I think it's very likely that the issue is in `packages/strapi-plugin-graphql/services/Resolvers.js` Since that uses the data-loader as well. @alexandrebodin is probably the most familiar with with this file right now.

[2019-09-30 18:32] derrickmehaffy commented on #4080
Yeah I've been quite busy the past week and didn't get to review changes to the graphql package as detailed as I normally do.

[2019-09-30 18:32] derrickmehaffy commented on #4080
@alexandrebodin @lauriejim I'm marking this one as a bug and confirmed since we have so many people describing similar issues.

[2019-09-30 19:50] amartincolby commented on #1766
What's the status of this? It's still listed as an open issue and I'm encountering the problem in Beta.

[2019-09-30 21:02] emptyopen commented on #4103
To be clear, what is the expected full format?

For example, if I can get a list of all files with (including auth header):
http://35.162.82.83:1337/upload/files?_limit=10&_sort=hash&_start=0

How should I be able to delete the file with id 353fc063d51f44e280aa4fb4f886bda1?

http://35.162.82.83:1337/upload/files/353fc063d51f44e280aa4fb4f886bda1  -> 500 internal error
http://35.162.82.83:1337/uploa

[2019-10-01 05:29] walkerandco commented on #624
I'm not understanding where the issue is guys. Is this not something we can help the project with? Doing this at the policy level probably isn't the right approach, this is a feature that needs to be at the ORM layer.

In Mongoose, you can create filters which are executed post-query for exactly this kind of scenario where an object has a one to one ownership relation with a user. I've done this i

[2019-10-01 05:33] derrickmehaffy commented on #624
@walkerandco this is why it will be apart of the new DBAL layer as detailed in their sept monthly update

https://strapi.io/blog/monthly-update-september-2019?redirectPage=1

![image](https://user-images.githubusercontent.com/8593673/65936688-43b3b980-e3d2-11e9-8019-fe65ae20662d.png)

[2019-10-01 06:25] talentedunicorn commented on #4059
Why do you agree with @websocket98765 on this?
In my experience boolean has always been a dual-state data type, i.e. either true/false, 0/1 etc... why introduce a third state? What is the advantage of breaking boolean field types here?

[2019-10-01 07:04] walkerandco commented on #624
Thanks @derrickmehaffy . Maybe the easiest way then to implement for now would be to use data lifecycle (on a per use-case basis by each developer) methods in the models (e.g. beforeFetch) to perform a validation query (is the user the owner of the record).

[2019-10-01 07:07] derrickmehaffy commented on #624
Right now the best way is via the policy or at the controller level. Lifecycle callbacks have their own major issues (that will be addressed by the same DBAL layer)

[2019-10-01 07:15] websocket98765 commented on #4059
@talentedunicorn The point is to be able to accurately show the state of the field in the database and it is possible for it to be unspecified.

[2019-10-01 07:18] walkerandco commented on #624
I see, so you're saying extend the actions @derrickmehaffy? Do you know of any example of this working in practice? I'm trying to solve this issue at the moment for my use-case so it would be great reference.

Out of interest, what are the issues with the lifecycle callbacks?

[2019-10-01 07:20] lauriejim commented on #3799
Your API services use queries to fetch the data - [see here](https://strapi.io/documentation/3.0.0-beta.x/guides/services.html#services).
So there is no magic stuff or caching.
The only difference will be for your use case.

If you want to create a custom logic that - fetch some data and manage it - and this custom logic have to be reusable in your application, in this case, you will have to creat

[2019-10-01 07:25] talentedunicorn commented on #4059
@websocket98765 when you define a field on Strapi as a boolean the description does not mention a `null` value.
![image](https://user-images.githubusercontent.com/904501/65942178-558f6e00-e45f-11e9-8f29-9dedf9ead3c2.png)
What exactly is the need for a null value on a boolean field? I understand different databases have possibilities to allow null / UNKNOWN values but still what is the usecase for

[2019-10-01 07:31] derrickmehaffy commented on #624
at the controller or policy level just reading the JWT data via `ctx.state.user` (could be id, name, role, ect) and comparing it to a value in the database. likewise for setting a default user value you could do the same thing ( talking about find/findOne vs create/update ).

Lifecycle callbacks: https://github.com/strapi/strapi/issues/1443

[2019-10-01 07:31] lauriejim commented on #4116
Hello @nom4da !
Thank you for reporting this.

Can you please submit a pull request to update this.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2019-10-01 09:24] cns-dan commented on #4094
Only alphanumeric characters and underscores (not beginning with a number) are permitted according to this:

https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-type-builder/admin/src/containers/AttributeForm/index.js#L111

[code]

You can work around it by editing the enum values in the Model.settings.json file.

[2019-10-01 09:24] lauriejim commented on #4123
Hello @humbertoT2 !
Can you send me the content of you textarea please.
You should have something like this:
[code]
If you wrote
[code]
It's normal you have an issue.
You are using `:` that is a special character - and it's not allowed in an enum value.

[2019-10-01 09:25] walkerandco commented on #624
Thank @derrickmehaffy for the info.

I think in that case if we're overriding the methods in the controller, the usual way is to have conditional logic which is feasible to implement by these means (the equivalent of UPDATE ... WHERE...). I would probably say this is more efficient than a policy because the examples above are doing a pre-lookup on the user, so two lookups and two round trips - thi

[2019-10-01 09:41] lauriejim commented on #4126
Can you please:
- Link the documentation you followed.
- Give us the MongoDB hosting solution you use.
Thank you.

[2019-10-01 10:17] derrickmehaffy commented on #3976
@fouber I disagree simply because Strapi's documentation really can't handle every possible way to run the application. There are at least 4 or 5 ways to run as a PM2 cluster (some without a server.js) and the pm2 documentation as well as their github contains a lot of useful information.

Overloading the documentation is almost as bad as not having enough information. For every part of the docume

[2019-10-01 10:54] soupette commented on #4148
The issue has been fixed in the latest beta can you upgrade your app?
After upgrading your app you need to run `strapi build`.

[2019-10-01 10:54] #4148 closed

[2019-10-01 11:37] mohitr-optimus commented on #4030
How can I use this { useUnifiedTopology: true }

[2019-10-01 11:43] samohovets commented on #4140
Same, trying to upload the file with correct `field`, `refId`, `ref`, `files` fields in FormData.

[2019-10-01 11:47] dgtllion commented on #4030
I just reinstalled global and local strapi to newest version and it worked.

[2019-10-01 12:42] lauriejim commented on #4127
Hello @acarrera94 !
Thank you for reporting this issue.

I ping @soupette about this issue.
He will be the best person to manage it.

[2019-10-01 12:50] veitbjarsch commented on #4060
The values shouldn't set with a top calculation. Just use the line-height property and set the icon and span tag to the same line-height (update the top to 0.9rem, and remove the height of the <i> tag).

After lining the icons correctly there could be done some cleanup and in the style code. For example you should use flexbox instead of an absolute position.

[2019-10-01 12:58] ivandevp commented on #4048
May I help with this? 🙋‍♂

[2019-10-01 13:21] lauriejim commented on #4133
Thank you @VentyCZ for this report.
And thank you for this PR.
I will review it.

[2019-10-01 13:29] lauriejim commented on #4134
Hello @shivaji !
But the message you got is also correct for me.
When you try signin, we first check if you are able or not (is your account confirmed)
If **NO** we don't need to check your password because in any case (right password or not), you will not be able to access cause you are not confirmed.
If **YES**, in this case, we check if the username/password is correct.

[2019-10-01 13:43] derrickmehaffy commented on #4134
And indeed the process that @lauriejim described is a good one. It prevents possible brute Force on u confirmed users.

[2019-10-01 13:46] #4133 closed

[2019-10-01 15:09] jsonpj3wt opened #4156 "Max File Size not being considered - Upload Plugin"
Going into the plugin settings for Upload and setting the Max File Size to something later than 209715 MB (like an MP4), `incoming_form.js` will reject the file for exceeding the file size.

**Steps to reproduce the behavior**
1. Go to Plugins
2. Go to the configuration for Files Upload
3. Set the Max File Size to 350000 and Save
4. Attempt to upload a file that is larger than 209715 MB. See error

[2019-10-01 15:18] coooolers opened #4157 "Question: Master-Detail document"
Hi

Is it possible to create a master-detail document meaning for the "master" data (comprising of few fields) there can exist "many" records in the "detail" data i.e. a document that supports 1-N?

If not, how can I achieve this? Any hints please.

With Regards
Raman

[2019-10-01 15:35] coooolers commented on #4157
One more question.. I am looking forward to create a small ERP like solution. It is basically a

Is it possible to develop it using Strapi? If yes, could anybody guide me how to  proceed?

[2019-10-01 16:27] lauriejim commented on #4138
Hello @rmaroun !
You are right! Thank you for reporting this issue.

[2019-10-01 16:34] ceefour commented on #4059
@talentedunicorn yes I agree this isn't the place to discuss pros & cons of null.

boolean can be true or false. A **nullable database column/field** though, may contain either null or a specific type. That's why you also have NULL vs empty string.

There are several cases where tri-state is useful, for example you want to store IoT lamp state, it can be on/true, off/false, or null, meaning perhap

[2019-10-01 16:38] derrickmehaffy commented on #4059
@ceefour But in the example you listed enumeration is exactly what that is for:
on
off
unknown

But the link that @talentedunicorn gave is exactly my thoughts also. There is a lot wrong with storing null in a database (even if it supports it).

[2019-10-01 16:48] ceefour commented on #4059
@derrickmehaffy yes, there is that choice. and even so, enumeration can be not null or null. If we follow the logic that boolean property must not be null, then enumeration should be forced not null also, since if someone wants null in an enum, they can put "null" or "unknown" or "empty" as valid enum value.

Anyway, I agree that null has pros and cons but that depends on the creator, not strapi.

[2019-10-01 17:01] derrickmehaffy commented on #4059
As @websocket98765 pointed out to me previously null on enums does make sense (for a while I did think the same thing) So allowing null on what is effectively a string field with limited choices, it makes sense. (UI is a whole other thing there and how to properly handle it, and there is an issue open about it)

Data storage, yes you are right. But the choices made here do effect Strapi, as when v

[2019-10-01 17:14] lauriejim commented on #4132
Can you give me the route you created in the `routes.json` file, please.

[2019-10-01 17:23] lauriejim commented on #4132
I just tested with `beta.16.6` version and I can access to the user data in the state.
Here is [a quick video](https://www.loom.com/share/a6abd240c63342e3bb7058ebb291f57b).

[2019-10-01 17:27] darita92 commented on #3580
@cdemiguel I see on your web.config you tell it to run a `server.js` file. What are the contents of that file? I don't see it on Strapi

[2019-10-01 17:33] alxnkt commented on #4132
This is my route:
[code]

[2019-10-01 19:00] alxnkt commented on #4132
Appreciate for your help!
As I can see in your demo video, you send  ajax-request with bearer token via postman (right?). I can get user info through ajax too. But the problem occurs when I'm using simple http request with cookies.
[Video](https://www.loom.com/share/4782421865e9429cba3b46681327c10a)

[2019-10-01 22:13] nameszian commented on #4118
Yes like I said, the problem is in the process of resolving a relationship, I didn't test it with groups, but with simple relationships (ref in mongo) the problem is there :(

[2019-10-01 22:27] bahdcoder commented on #4001
@lauriejim I'm taking this one ✋

[2019-10-01 22:30] bahdcoder commented on #2268
@lauriejim I'll take this one ✋

[2019-10-02 06:12] 4rweb opened #4162 "Why does pagination start with zero?"
**Describe the bug**
Because paging starts with 0, I have a problem setting pagination in React, since I set 0 (currentPage: 0) as the starting page in my layout to look like this:

<img width="1147" alt="Captura de Tela 2019-10-02 às 03 11 42" src="https://user-images.githubusercontent.com/8020777/66021860-6c1ae100-e4c2-11e9-90de-7078434aedec.png">

Does anyone know if this is a bug or has some

[2019-10-02 07:32] pouyamiralayi commented on #4115
Hi dear @derrickmehaffy ! by this you mean we do not face errors any more regarding missing files like:
``admin/src/containers/AuthPage/forms`` ?
i mean 16.7+
tnx.

[2019-10-02 10:01] ilin-in commented on #4084
Thank you @derrickmehaffy I've updated issue according the template.
And I've also made a PR according this issue: https://github.com/strapi/strapi/pull/4163 please check it out

[2019-10-02 10:02] veitbjarsch opened #4164 "Image are not lockable in the content type builder"
**Describe the bug**
A linked Image isn't lockable (configurable: false).

**Steps to reproduce the behavior**
1. Install latest beta version
2. create a new content type and add an image field via the UI
3. Lock the field/ set configurable to false
4. Refresh the Content Manager and check the filed. The edit button is still visible. No lock sign

**Expected behavior**
Image entry should not be ed

[2019-10-02 10:10] lucacattide opened #4165 "Can't use styles in WYSIWYG text editor"
**Describe the bug**
Applying any style on a text inside the **text editor**, generates this error at run-time on a NextJS app:

Then the page doesn't be rendered. Actually I'm working on ```localhost``` with _Apollo_ & _GraphQL_

**Steps to reproduce the behavior**
1. Create a content type with a text-type field
2. Create an associated content, populate the editor with some styled text (ex. bold,

[2019-10-02 10:42] lucacattide commented on #4165
Apologize for this issue, just found on my code that there was this attribute

```style="border-width:0"```

instead of

```style={{ borderWidth: 0 }}```

so the error was caused by it.
But what about the style render? Now, my text is shown like ```***string***``` instead of **string**. The contents are being rendered as shown in the editing side - as you can see from my screens above

[2019-10-02 12:02] botzill commented on #1152
Hi. Any updates on this feature?

I think feature is really important and will open a lot of other scenarios.

Thx a lot.

[2019-10-02 12:27] derrickmehaffy commented on #1152
@botzill No updates or ETA yet.

[2019-10-02 12:49] lauriejim commented on #4057
@mbistuer Can your try with the last version of Strapi.
If it works, use the code of the plugin by the last version and replace your current code.
Sorry for the disappointment.

[2019-10-02 12:49] #4057 closed

[2019-10-02 13:24] lauriejim commented on #4143
Hello!
This issue has been fixed in the `16.6`.
Can you delete the `users-permissions-*` collections in your atlas database and restart your app.
It should work.

[2019-10-02 13:24] #4143 closed

[2019-10-02 14:26] puzzledbytheweb opened #4166 "afterCreate() being called twice when using Groups Field"
**Describe the bug**
Hi all.  When creating a new document with a group field, the lifecycle callback  afterCreate/afterSave runs twice. The first time it returns the result object with the group field as 'null'. The second time, it returns with the group field populated with the respective id.

**Steps to reproduce the behavior**
1. Create a content type with a group field.
2. Add afterCreate in

[2019-10-02 14:27] rubilva commented on #4166
I'm having the same problem...

[2019-10-02 14:27] derrickmehaffy commented on #4166
Closing as related to: https://github.com/strapi/strapi/issues/1443

Currently lifecycles are considered "broken" until the new DBAL layer is done.

[2019-10-02 14:27] #4166 closed

[2019-10-02 14:58] Humberto-Zayas commented on #4123
Hi @lauriejim

So my values are:

Uncategorized
Rings
Springs
Clamps

I am trying to add one more

Uncategorized
Rings
Springs
Clamps
General

Upon adding "General" and navigating to "Advanced Settings" to set the "Default Value"—General is reflected as an option but hitting save produces the error message about special characters.

[2019-10-02 15:19] jsonpj3wt commented on #4140
This happens in Upload as well.  Was not a problem until beta@16 (used same code as before with setting refId and ref).

[2019-10-02 16:07] lauriejim commented on #2189
In fact, the content-type-builder not generate table in the database.
It only generates model files.
Then during the server restart, the ORM you use checks and generates table/column if necessary.
[Here](https://github.com/strapi/strapi/blob/master/packages/strapi-hook-bookshelf/lib/buildDatabaseSchema.js) is for Bookshelf for example.

[2019-10-02 16:18] lauriejim commented on #4145
Hello @ThomasMcFarlane !
Can you also give me another model you have related to the Page model.

[2019-10-02 16:19] soupette commented on #4165
@lucacattide the strapi's WYSIWYG stores markdown in your database so if you need to render in html you can either use a component like [react-markdown](https://github.com/rexxars/react-markdown) or a converter like [showdown](https://github.com/showdownjs/showdown)

[2019-10-02 16:19] #4165 closed

[2019-10-02 16:23] lauriejim commented on #4150
Hello, thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

I suggest you check how the plugin `content-type-builder` work to let yo

[2019-10-02 16:25] lauriejim commented on #4103
Okay, your 500 error. Do you have more information?
Here is the issue that is interesting.

[2019-10-02 16:30] lauriejim commented on #4048
Feel free to investigate the **GraphQL** plugin and submit a pull request.
Your contribution is welcomed.

[2019-10-02 16:42] alexandrebodin commented on #4025
@abdonrd This as been fixed in one of the latest releases if you update this should be good now. Don't forget to rebuild your admin before testing ;)

[2019-10-02 16:43] lauriejim commented on #4156
Hello @jsonpj3wt !
Can you precise the way you use to upload your file please.

[2019-10-02 16:49] websocket98765 commented on #4059
It's possible to make everyone happy.

**Example UI below allows:**

1. Those who want it to default to `false` and require a value (`false`/`true`), can do so.
2. Those who expect Strapi to accurately show all possible DB states (null/false/true) + anyone who may want to allow a field to remain unset during initial entry, such as by a data entry person who needs to skip a field because they don't

[2019-10-02 17:07] veitbjarsch commented on #1762
I digged deeper into this problem and it looks like there are multiple drawbacks that need to be handled. If you use a custom primary key that is not autogenerated (uuid, autoIncrement). The user should be able to set the primary key via the UI. Which means there should be some attributes like "required" or  "configurable" for it. Maybe I will check this out the next days.

[2019-10-02 17:17] daehruoydeef commented on #4106
I just changed, to beta.15 first, reinstalled node_modules and rebuild the admin panel. Finally migrated to 16.

Thanks for the help 👍

[2019-10-02 17:17] #4106 closed

[2019-10-02 17:32] daehruoydeef opened #4168 "Graphql query variables with where clause are not respected"
**Describe the bug**
Graphql query variables with where clause are not respected, instead of returning the searched Item, the whole list is returned

**Steps to reproduce the behavior**
1. query with variables and where clause
2. query without variables and where clause

**Expected behavior**
returns the selected search result like without variables

**Code snippets**
[code]

However If i enter th

[2019-10-02 18:00] derrickmehaffy commented on #4168
[code]

The entire where json structure has to be defined before hand, you should construct this and pass it as a variable itself and not inside the Query. This is not a Strapi thing but an upstream GraphQL change.

As such marking the bug as closed as this is intended function.

[2019-10-02 18:00] #4168 closed

[2019-10-02 18:05] ThomasMcFarlane commented on #4145
Hey @lauriejim
This is an example of the Form model:
[code]

[2019-10-02 20:31] morganwm commented on #2627
fyi, I ran into this issue with Strapi 3.0.0-beta.16.7. When I attempted to apply the fix referenced by @Aurelsicoko by adding a `schema.graphql` file to `extensions/users-permissions/config` I ran into error messages from Strapi

[code]

I believe this is due to some error with how Strapi handles the process of merging or replacing files with ones provided by the developer, possibly relating to `

[2019-10-02 21:40] jsonpj3wt commented on #4140
Apparently, what we found is that ref is now case sensitive for Upload.

[2019-10-02 21:55] veitbjarsch commented on #4134
I don't know the opposite is also it leaks user informations (unconfirmed account) to the public without knowing the password. The brute force can still be applied on confirmed account. And what will you achieve, if you brute force an unconfirmed account correctly? It will also stop you afterwards with the same confirmation error response.

[2019-10-02 22:09] veitbjarsch commented on #4132
@alxnkt you can set the auth token as header or as parameter to your request. The cookie won't be recognized as far I know.
<img width="645" alt="Screenshot 2019-10-03 at 00 06 48" src="https://user-images.githubusercontent.com/12811012/66085550-d5a5f880-e571-11e9-88b5-73fff33ecb85.png">

[2019-10-02 23:09] acarrera94 commented on #4127
I updated to beta.16.17 and I'm still seeing the same issue
`http://localhost:1337/admin/plugins/content-manager/profile/5c80a59efd030e188e8790c3?redirectUrl=/plugins/content-manager/user/5c80a59dfd030e188e8790c0?redirectUrl=/plugins/content-manager/user?source=users-permissions`
that is the link from the user.

[2019-10-03 00:28] 4rweb commented on #4162
Sorted out!

I used import ReactPaginate from 'react-paginate';
 
it sets the offset to 0

<img width="1227" alt="Captura de Tela 2019-10-02 às 21 28 07" src="https://user-images.githubusercontent.com/8020777/66090865-99679d80-e55b-11e9-8fef-0c2c1c1b5cee.png">

this way solved!

[2019-10-03 00:29] #4162 closed

[2019-10-03 04:12] derrickmehaffy commented on #4134
@veitbjarsch there is also a rate limit applied to wrong password requests

[2019-10-03 06:28] lucacattide commented on #4165
Thanks @soupette for your suggestions. I'll try them.

[2019-10-03 09:32] lauriejim commented on #4157
Hello @coooolers !
Thank you to be interested by strapi!

Can you please join the [Community Slack](https://slack.strapi.io) for this kind of question.
You will have a fast answer to your questions.
We try to have only issues report on GitHub.

And checkout the Group feature.

[2019-10-03 09:32] #4157 closed

[2019-10-03 09:35] sunithakarthikeyan opened #4172 "Relationship Contentype is listed as list of json with lot of numbers in API"
**Describe the bug**
API response of ContentType is showing irrelevant values for relationship ContentType

**Steps to reproduce the behavior**
1. Create a CT as "Category"
2. Create a CT as Article and create a Field as one to many Categories
3. Create a Article
4. http://locahost:1337/articles - Check the response. Irrelevant json in Category

**Expected behavior**
Irrelevant json to be ignored

[2019-10-03 09:52] Aurelsicoko commented on #4059
@websocket98765 I agree with you. Having a null value is not the right definition. It's more like an initialization state.  And your proposal introduces it really well.

- By default, a boolean field could have a default value set to **true**, **false** or **none-initialized** (which means null).
- Once, you interact with the field, you **can only select true or false**, and **you cannot reset the

[2019-10-03 10:04] lauriejim commented on #4118
Hello @alhill and @nameszian !
Can I have your model definition, please. I need to know the type of relations you have between your models.
And I also need to know you you created your entries. Via the admin panel or via an HTTP request to the generated API.
If vias HTTP request, I need to know the request you did (how you formated your body)

[2019-10-03 10:05] lauriejim commented on #4001
Great thank you!
Waiting to see your pull request!

[2019-10-03 10:06] lauriejim commented on #2268
Okay! See you for the review of your pull request.

[2019-10-03 10:40] joingenor opened #4173 "Unable to start strapi on heroku"
running the strapi locally works fine but i get an error on Heroku.

my start script ;
[code]

logDump:
[code]

[2019-10-03 11:07] alhill commented on #4118
I think it happens in one to one and one to many, unidirectional or bidirectional.
In my case, almost every entry is created via HTTP request, sending a fetch with post method with a application/json body, with the relation defined passing the id to relate as value of the related field.

The place where fails is sanitize-entity.js, in strapi-utils/lib. Writing `if (typeof plainData === 'string'){

[2019-10-03 11:14] lauriejim commented on #4164
Hello @veitbjarsch !
Thank you for reporting this issue.
I think a condition for polymorphic relations doesn't work in the admin panel.

[2019-10-03 11:33] lauriejim commented on #4123
Hello! I just tested and it works well.
[Here](https://www.loom.com/share/75ec5bde7f774991be341cd1dd57af84) is a screen record.

[2019-10-03 11:38] lauriejim commented on #4145
In your **Form** model, you don't have relations with **Page**.
It looks weird for me 🤔

Can you make sure you followed [this example](https://strapi.io/documentation/3.0.0-beta.x/guides/models.html#relations) to have a correct relation model definition.

Thank you.

[2019-10-03 11:38] Lajcik007 opened #4174 "No attachments in strapi-provider-email-sendmail"
**Describe the bug**
While using email plugin with "strapi-provider-email-sendmail" no attachments are added to sent email

**Steps to reproduce the behavior**
1. Install latest beta version
2. Try to send email with attachment via email plugin
3. No errors are displayed
4. Email is sent, but no attachments are included

**Expected behavior**
Attachments included to sent email.

**System**
- Node.

[2019-10-03 11:42] AJRdev commented on #3951
@lauriejim I will take on the first issue about SQLite not being displayed in the configuration form ✋

[2019-10-03 12:13] lauriejim commented on #4140
Hello @fcpauldiaz !
What is the relation type you created?

[2019-10-03 12:20] lauriejim commented on #4132
@alxnkt you are trying something that doesn't exist in strapi. That is the reason why it doesn't work.
You have to follow [the Authentication documentation](https://strapi.io/documentation/3.0.0-beta.x/guides/authentication.html#authentication).
If you want to update this to work with cookies, feel free to use the [extension concept](https://strapi.io/documentation/3.0.0-beta.x/concepts/concepts.h

[2019-10-03 12:20] #4132 closed

[2019-10-03 12:21] lauriejim commented on #4127
Did you re-build your admin panel?
Run `yarn build` or `npm run build` in your strapi application.

[2019-10-03 12:29] nameszian commented on #4118
@lauriejim In my case I found the problem following the [tutorial](https://strapi.io/documentation/3.0.0-beta.x/getting-started/quick-start-tutorial.html#_4-create-a-new-content-type-called-category):
`You are now ready to add the second field, a Relation field for creating a Many to Many relationship between the Category and Restaurant Content Types.`

And I created everything from the Admin pane

[2019-10-03 12:42] lauriejim commented on #4172
This issue is a duplicate of this one https://github.com/strapi/strapi/issues/4172

[2019-10-03 12:42] #4172 closed

[2019-10-03 12:42] lauriejim commented on #4118
Okay thank you! I will reproduce the tutorial and see what happens.

[2019-10-03 12:55] lauriejim commented on #4118
Okay thank you. I successfully reproduced the issue.
If you fetch the data from the category it works.
I think it's if you fetch data that have `"dominant": true,` it fail.
I will ping @alexandrebodin  on this issue.
Thank you for reporting it. Appreciate.

[2019-10-03 12:59] davidkhierl commented on #3941
same having this issue after updating and creating some new content type all of the sudden some icons become 404, then I tried to refresh the page and it showing {"statusCode":404,"error":"Not Found","message":"Not Found"} tried to restart the container yet no luck

[2019-10-03 12:59] lauriejim commented on #4059
Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2019-10-03 13:00] lauriejim commented on #4173
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2019-10-03 13:00] #4173 closed

[2019-10-03 13:02] lauriejim commented on #4174
Can you give us more detail please. We can't help you with this informations.
We need a code.
The step `2.` is not clear.

[2019-10-03 13:06] #4174 closed

[2019-10-03 16:21] rayepps commented on #1153
Since @lauriejim seems to think this is some kind of feature and doesn't want to fix it or give it any attention...... ?? common Jim. Here is what I found works when you **need** the model data in one of these messed up hooks like `afterUpdate`:

[code]
So using `model._update.$set` obviously is bad and unsafe but... it does give you access to the updated model data.

[2019-10-03 17:10] nameszian commented on #4118
Thank you for the awesome system!

[2019-10-03 18:50] acarrera94 commented on #4127
@lauriejim Yeah I did 'npm run build', but I'm still seeing the same issue.

[2019-10-03 21:05] abdonrd commented on #4025
@alexandrebodin it still doesn't work well with the current last version:

![Screen Recording 2019-10-03 at 23 00 01](https://user-images.githubusercontent.com/1007051/66164073-1bc29100-e632-11e9-8e87-d915a20d0dc0.gif)

[2019-10-03 22:05] merijnponzo opened #4178 "Bootstrap function in plugin "users-permissions" failed"
Hello,

When I upgraded from 3.0.0-beta.13 to beta.16.7 I got errors when I try to reconnect my database - on a clean installation, after strapi develop. So it won't boot

[code]
and
[code]

1. create strapi-app my-project
2. make sure a new strapi app install is working
3. copy your api, config and extensions folder to your new install
(make sure to install any extra plugins like strapi-graphql)

[2019-10-04 00:22] komakino opened #4179 "Define "Groups" in plugins"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

The title says it all.

[2019-10-04 04:06] derrickmehaffy commented on #1153
@rayepps #1443 Jim's comment was from over a year ago. Please don't state things out of context.

[2019-10-04 04:46] websocket98765 commented on #4059
@Aurelsicoko I'll PR the InputToggle. But I'm not familiar with Content Type Builder, will let someone more familiar with it add that.

[2019-10-04 06:20] sunithakarthikeyan commented on #4172
You are referring the same ID .

[2019-10-04 06:23] sunithakarthikeyan opened #4180 "Hidden Fields to be introduced in Content Type"
**Describe the topic**
Hidden Fields to be introduced in Content Type for not listing in the Edit Screen

**Your suggestions for this topic**
Reason : Example We would like to keep some fields in the Model , Example : Recipe Content Type , Version , SeoURL , These fields are not maintained by user. Hence they can be hidden in the Edit Screen.
**Screenshots**
NA

**Code snippets**
NA

**Additional

[2019-10-04 07:43] arnoldgamboa opened #4182 "File Upload API image url is wrong when using S3"
**Describe the bug**
File Upload API image url is wrong when using S3. It still has the localhost URL, however s3 has it's own URL and doesn't need the localhost url be appended

**Steps to reproduce the behavior**
1. Activate S3 as your File Upload source
2. Upload a file
3. Check the details of the file via API, ie. `/upload/files/2`
4. See the `url` key.

**Expected behavior**
`url` key should

[2019-10-04 07:43] #4080 closed

[2019-10-04 08:01] alexandrebodin commented on #4025
I cannot reproduce it. have you removed .cache and build folder and rebuilt your admin ?

[2019-10-04 08:05] abdonrd commented on #4025
Yes! I run this after update Strapi in the `package.json`:

[code]

[2019-10-04 08:56] sunithakarthikeyan opened #4183 "Repeatable Groups - How to post via API ?"
**Describe the topic**
I have a Model where Group is one of the Field. From UI its working fine . How to post the same via API

**Your suggestions for this topic**
NA
**Screenshots**
NA
**Code snippets**
Model
{
  "connection": "default",
  "collectionName": "article",
  "info": {
    "name": "article",
    "description": ""
  },
  "options": {
    "timestamps": [
      "createdAt",
      "updated

[2019-10-04 09:15] amitschandillia opened #4184 "Strapi GraphQL query: “start” argument wouldn't work"
**Describe the topic**
There _seems to be_ a bug in the **Users-Permissions - User** models. When executing the query, the model seems to be ignoring the `start` argument even though it's available in query documentation.

**Your suggestions for this topic**
Suggest fix the bug or point in the right direction in case something is missing in my code.

**Screenshots**
Here's what's returned when que

[2019-10-04 09:18] alhill commented on #4183
In POST body send an array of objects as value of the repeatable group field. As simple as it sounds ;)
[code]

[2019-10-04 09:36] xstable commented on #4060
I'll take this one. You can assign me to this ticket.

[2019-10-04 09:56] #4118 closed

[2019-10-04 09:56] #4140 closed

[2019-10-04 10:02] sunithakarthikeyan commented on #4183
Thanks Its working

[2019-10-04 11:29] kgrosvenor opened #4186 "Allow content items to be reorderable, allow content to have 'Is reorderable' flag in content type builder"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

[2019-10-04 13:31] leonardyhuang opened #4188 "MongoError: server instance pool was destroyed"
**Describe the bug**
Suddenly the app stopped working with error `MongoError: server instance pool was destroyed`.
After restart, it works back to normal.

**Steps to reproduce the behavior**
Not really sure how to reproduce this issue.

**Expected behavior**
No such error.

**Code snippets**
[code]

**System**
- Node.js version: 12.10.0
- NPM version: 6.11.3
- Strapi version: 3.0.0-beta.16.5
- Da

[2019-10-04 15:46] adrianodesenv opened #4189 "error 137 server digitalocean"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add code samples to

[2019-10-04 15:56] derrickmehaffy commented on #4189
@adrianodesenv please fill out the template

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[code]

[2019-10-04 15:56] #4189 closed

[2019-10-04 16:55] vvenance commented on #3971
@tcvmdev looks like this fix isn't working for 3.0.0-next.24 version of strapi.
Any docs I haven't looked at ?

[2019-10-04 16:59] FailedSitcom commented on #4182
I believe this is a bug, and will open a pull request shortly to resolve the issue.

[2019-10-04 17:09] FailedSitcom commented on #4182
Here is the pull request I created that I believe resolves this issue: https://github.com/strapi/strapi/pull/4191

[2019-10-04 22:20] acarrera94 commented on #4127
The refresh step make this issue happen consistently on my end

[2019-10-05 08:42] lauriejim commented on #4127
Can you tell me the actions you did to update your application to the new strapi version please.

[2019-10-05 08:56] lauriejim commented on #4178
Hello! Did you follow this migration guide?
https://strapi.io/documentation/3.0.0-beta.x/migration-guide/migration-guide-beta.15-to-beta.16.html

[2019-10-05 08:57] lauriejim commented on #4179
Hello @komakino !
Can you please give us more context/detail please.

[2019-10-05 08:59] lauriejim commented on #4172
Woops! The issue has been hot fixed.
Please upgrade your application to `beta.16.8`

[2019-10-05 09:13] lauriejim commented on #4180
Hello! It's already possible to customize the displayed layout to hide fields.
Here is an example in [video 📺](https://www.loom.com/share/791d3b6041914f43a368aa31657f9bcd)

[2019-10-05 09:13] #4180 closed

[2019-10-05 09:42] lauriejim commented on #4025
I tested with a new application with Mongo and it works well also in my side.

[2019-10-05 10:10] lauriejim commented on #4184
I close this issue.
Please refer to the discussion on this [StackOverflow question](https://stackoverflow.com/questions/58231310/strapi-graphql-query-start-argument-wouldnt-work)

[2019-10-05 10:10] #4184 closed

[2019-10-05 10:10] #4183 closed

[2019-10-05 10:13] lauriejim commented on #4183
@sunithakarthikeyan Can you please, next time, well format you JSON and follow the issue template.
I'm trying to keep the GitHub issues clean, readable and understandable.
I'm pretty sure you can understand.
If it's not respected, I will close your issue.
Thank you.
https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue

[2019-10-05 10:22] lauriejim commented on #4186
Can you please submit this feature request here https://portal.productboard.com/strapi
Thank you for your time @kgrosvenor !

[2019-10-05 10:22] #4186 closed

[2019-10-05 10:29] lauriejim commented on #4188
Hello! Without any other information, we can do nothing for you :/
It can come from your MongoDB database. Where is hosted your database?

[2019-10-05 12:07] baldeepsinghkwatra opened #4193 "ctx is not defined for queries made using GraphQL for users-permissions"
**Describe the bug**
This function inside (strapi-plugin-users-permissions/controllers/UsersPermissions.js)
[code]

**Steps to reproduce the behavior**
When invoked via graphql query ({roles(start:0,limit:20){id name description}})
**ctx is not defined when invoked via graphql**
{
  "errors": [
    {
      "message": "Cannot read property 'badRequest' of undefined",
      "locations": [
        {

[2019-10-05 12:15] lauriejim commented on #4182
The fix is merged on `master`.
Stay tuned for the next release of strapi.

[2019-10-05 12:15] #4182 closed

[2019-10-05 12:15] lauriejim commented on #4182
and thank you for this repport! Appreciated 👍

[2019-10-05 12:20] #4193 closed

[2019-10-05 12:20] lauriejim commented on #4193
This issue already exists, please browse the list of opened or closed issues before posting an issue.
Please check https://github.com/strapi/strapi/issues/4116

And please well format your messages, your issue is not readable.

[2019-10-05 14:05] jsonpj3wt commented on #4156
@lauriejim this is through the multi-part form upload as documented but also through the upload plugin itself (via the UI or component type upload).

Here is the code we are using from a .net core app:
[code]

[2019-10-05 18:46] danielbidala commented on #483
Hi. I'm on laravel at the moment but thinking to learn node.js. I've found strapi today and it seems very promising but without custom form field types and custom list column types it's unusable for my projects.

Now I use October CMS for backend apps, it's based on laravel so I think it's not an option for you guys. It has all the feature you missing from strapi in this issue. Hope custom fields

[2019-10-05 19:12] albsa commented on #3537
@alexandrebodin thanks for the explaination, I think this should be added as a hint to the graphql docs as it is very confusing when new to GraphQL

[2019-10-05 19:41] edd0408 opened #4197 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add code samples to

[2019-10-05 19:46] derrickmehaffy commented on #4197
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[code]

[2019-10-05 19:46] #4197 closed

[2019-10-05 19:47] derrickmehaffy commented on #4197
Please fill out the template

[2019-10-05 21:17] rmaroun commented on #4068
@lauriejim upgraded on mac os to 4.0.12 and still same issue. Can you try and reproduce as this is not working for me. The content manager is not even showing me the image field in the dropdown for the list page.

[2019-10-06 14:12] vHades0199 opened #4199 "Get relation in a group fail with GraphQL"
I have a content-type **Order** with field **Items** is a group **OrderItem**.
In **OrderItem** have a relation to content-type **Product**.
In swagger it run normal, but in graphql when query product it fail.

Result swagger:
[code]

In graphql
[code]
[code]

**System**
- Node.js version: v10.16.3
- Yarn version: v1.19.0
- Strapi version: 3.0.0-beta.16.8
- Database: MongoDB
- Operating system: Wi

[2019-10-06 19:21] websocket98765 commented on #3094
Both the code examples in this thread have errors that make them not work.

@vitaly-t 1. On module.exports, the `connections` property needs to contain a value that is an object whose keys are the name of each connection (e.g. default). 2. The connection-string package has an error where it will only set ssl to true or undefined. I have't looked into that package's repo, but off hand it appears to

[2019-10-06 19:34] vitaly-t commented on #3094
@websocket98765 Library [connection-string] does not parse values specified within the parameters, because it is not supposed to, as it has no knowledge of what is in there.

Even a boolean can be defined as `true`, `false`, `yes`, `no`, `1`, `0`, etc...

The onus is on your to do the conversion, as only the client knows what values it supports.

So replace that line with something like:

[code]

[2019-10-06 19:38] JonathanLehner commented on #2771
i get internal server error when selecting with iD. for me only works getting all the elements, which could give too much data

[2019-10-06 20:14] derrickmehaffy commented on #2771
@JonathanLehner post your query here most likely you are trying to use where: {} with a single request and it doesn't support that.

[2019-10-06 20:17] JonathanLehner commented on #2771
I used page(id : "1"){...} and page(id : 1){...} both didn't work

[2019-10-06 20:27] websocket98765 commented on #3094
Updated version that removes dependency of `connection-string`. (No offense intended to that library, just given the sensitivity of these credentials, it's preferable to use the built-in `url` module to parse them when possible, instead of any NPM package.) Works for PostgreSQL, untested for other databases.

[code]

[2019-10-06 20:35] vitaly-t commented on #3094
No offence, but mahn, you make no sense. And the default URL parser will fail parsing a valid connection string in more cases than I would be willing to list, hence the reason `connection-string` was implemented in the first place.

[2019-10-06 21:09] websocket98765 commented on #3094
Dude, really, I intended no offense. My code is posted for anyone who would prefer to use built-in modules, instead of a third-party library because **it is unarguably better to use built-in library--when it gets the job done as it did for mine--rather than a third party library**. If my code doesn't work for other use cases, as you say, people can consider your library too. They are now two choic

[2019-10-06 21:19] vitaly-t commented on #3094
@websocket98765 I don't understand which part of my code example doesn't work. Where is the problem there?

Note that I merely copied the example from @alexandrebodin , and changed how it imports the library's class `ConnectionString`, nothing else. If something else doesn't work in that example, then it is not even my example to correct, as I wouldn't know.

[2019-10-06 21:25] VitorSavedra commented on #2303
Works with solution above with 3.0.0-beta.16.8 version. :)

[2019-10-06 21:48] websocket98765 commented on #3094
It's the part I mentioned earlier:
[code]
needs to be:
[code]
or else Strapi fails.

I realize the error didn't originate with you. Neither of you tested your code :) It'd be nice if you both had noted it was untested. But for now, could at least update your version of code to be working, since only you can edit your post, so hopefully others don't waste time on the same error. (And hopefully Alex

[2019-10-06 21:50] vitaly-t commented on #3094
Ok, I have updated my quoted example.

[2019-10-06 21:52] websocket98765 commented on #3094
Thanks

[2019-10-07 05:18] derrickmehaffy commented on #2771
@JonathanLehner what database are you on? because mysql, postgres, and sqlite all work fine for me:
![image](https://user-images.githubusercontent.com/8593673/66286628-2a55b600-e887-11e9-9090-2e4ebd590fcf.png)

[2019-10-07 08:52] #4116 closed

[2019-10-07 08:58] #4164 closed

[2019-10-07 09:37] AJRdev commented on #3951
@soupette I just noticed your PR (https://github.com/strapi/strapi/pull/3967) about removing the settings-manager plugin.
Do you think this issue will be fixed in by your PR directly or should I checkout from your branch to fix it ?

[2019-10-07 09:54] lauriejim commented on #4156
Hum this still not really clear for me.
`incoming_form.js` is not a strapi file. So what is this file in your application?
It's a `js` file and you sent me a `.net` code so I don't understand (and I'm not a `.net` developer so I will no be able to help you on this part)

[2019-10-07 10:01] lauriejim commented on #4068
Hum working on windows and not with mac (never saw that during all strapi life 😅)
As it works on your windows the issue look not coming from strapi.
I was not able to reproduce. All is working fine on my side.

[2019-10-07 10:06] rmaroun commented on #4068
Maybe related to my environment, closing this one.

[2019-10-07 10:06] #4068 closed

[2019-10-07 10:18] lauriejim commented on #4199
Hello @vHades0199 !
Thank you for reporting this issue.
I ping @alexandrebodin about it.

[2019-10-07 10:20] lauriejim commented on #4068
Hum I think. If you find the solution, please share it with us to make sure it come from your env.

[2019-10-07 10:22] alexandrebodin commented on #4199
@vHades0199 Can you share your model json files plz ?

[2019-10-07 12:42] derrickmehaffy commented on #4199
@alexandrebodin is this only reproducible with the groups feature?

[2019-10-07 13:42] #4199 closed

[2019-10-07 15:59] narduin opened #4205 "Multiple media in repeatable groups not working"
Hello !
I'm running into a small bug with the new group feature (which I love by the way).

**Describe the bug**
When adding multiple media files (jpg, svg, etc.) inside a repeatable group element, only one remain after saving.

**Steps to reproduce the behavior**
1. Create a _group_
2. Add an _image field_ and check "allow multiple files"
3. Use the group inside a _content type_ and make it repea

[2019-10-07 18:04] acarrera94 commented on #4127
deleting the `package-lock.json` worked, thanks!

[2019-10-07 18:21] derrickmehaffy commented on #4039
Please post your feature request here: https://portal.productboard.com/strapi/1-public-roadmap/tabs/2-under-consideration

[2019-10-07 18:21] #4039 closed

[2019-10-07 18:23] merijnponzo commented on #4178
Hello Laurie, thank you for your reply..
Is it possible to go from 13 to 16.7, or should I go from 13 to 16 first?

And should I rename all texts to richtexts?
I don't think this is the problem..

[code]

[2019-10-07 20:39] jsonpj3wt commented on #4156
@lauriejim It does the same thing no matter the language or just using the Strapi Upload Plugin UI.  The problem is if you try to upload a large file (download something like an mp4), the upload will fail.  It is not accounting for the size set on the upload plugin and failing at that location.  So either the npm package used in upload is the problem (which it could be) or passing in the options t

[2019-10-08 03:26] tuanictu97 opened #4207 "ER_PARSE_ERROR: You have an error in your SQL syntax"
error Error: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'desc,slug) AGAINST('*We*' IN BOOLEAN MODE) limit 20 offset 2' at line 1
    at Query.Sequence._packetToError (/home/tuanictu97/Documents/nodeJs/imanga-app/node_modules/mysql/lib/protocol/sequences/Sequence.js:47:14)
    at Query.Error

[2019-10-08 06:24] #4207 closed

[2019-10-08 06:33] merijnponzo commented on #4178
I updated from 13 to 15 first, then my app still works. Then I update from 15 to 16 and the error above occurs.

- I did a rebuild, first. I dont use custom bootstraps or hooks.
- I dont return toJSON() directly in my custom controller

I don't think the WYSIWYG is causing this problem.

[code]

[2019-10-08 06:36] derrickmehaffy commented on #4178
@merijnponzo can you confirm that you also don't have any carrots in your strapi package version `^` or `~`

Based on the error something is going on with permissions trying to set a duplicate key. You may want to try backing up then purging that table in the database.

[2019-10-08 06:47] merijnponzo commented on #4178
Hi derrick, Only lodash and typy
[code]

[2019-10-08 06:48] derrickmehaffy commented on #4178
@merijnponzo I would suggest you skip beta.16 directly and go straight to beta.16.8

The subversion number in this case are hotfixes for beta.16.

[2019-10-08 06:57] merijnponzo commented on #4178
I guess when building it's trying to create new keys like 'users-permissions_permission_pkey' to my permissions table.

So I updated to 16.8, but still:

[code]

[2019-10-08 06:58] derrickmehaffy commented on #4178
@mtringuyen yeah like I said there must be something that got messed up during the upgrade. Do a backup of the table (or your entire DB) purge that permissions table and restart.

[2019-10-08 07:25] merijnponzo commented on #4178
Okey remobed my user-permissions_permission table
changed cb() in bootstrap to

[code]

[2019-10-08 07:34] merijnponzo commented on #4178
I changed the cb() to
module.exports = () => {};

Now it works again -

I will add my permissions manually just like the good old strapi-alpha times ;-)

This is a bug right? Not a 'help wanted'

Thanks!

[2019-10-08 08:19] derrickmehaffy commented on #4178
@merijnponzo I believe the migration guide states that all the cb() need to be removed but there was some issues with permissions that likely your jump to beta.16 directly caused

I believe that if you jumped from beta.x to beta.16.8 this issue wouldn't have happened directly. Either way glad you solved it, going to mark this is as closed unless someone else has the same problem.

[2019-10-08 08:19] #4178 closed

[2019-10-08 09:01] ThomasMcFarlane commented on #4145
@lauriejim how do you store data in the `blocks` field on the Page in this instance?
I cannot create any records like this due to this error: https://github.com/strapi/strapi/issues/4147

[2019-10-08 09:19] derrickmehaffy commented on #4145
@lauriejim it looks like a manyWay morph relationship? which I don't think is possible?

[2019-10-08 09:51] lauriejim commented on #4205
Thank you @narduin for reporting this issue!

[2019-10-08 09:55] soupette commented on #2811
I am closing this issue since the date field has been fixed with beta.16

[2019-10-08 09:55] #2811 closed

[2019-10-08 09:59] soupette commented on #3471
You are right calling a content type `Series` with the `graphql` plugin installed breaks your app. However, your model's name should be singular so it should work with `Serie`.

[2019-10-08 10:00] soupette commented on #3796
This view will be removed when #4122 is merged.

[2019-10-08 10:09] derrickmehaffy commented on #3471
@soupette in english `series` is both singular and plural :wink:

[2019-10-08 10:11] soupette commented on #3471
My bad then

[2019-10-08 10:14] lauriejim commented on #4156
And what is the error message you have?

[2019-10-08 11:24] forethoughtde commented on #3551
@lauriejim I would like to fix this issue. Can you please guide me on which file should I look into?

[2019-10-08 11:52] denisinvader opened #4212 "Unable to login in admin when parser middleware is disabled"
**Describe the bug**
When `parser` middleware is disabled I can't log in into the admin interface.

**Steps to reproduce the behavior**
1. In the file `config/environments/[development]/request.json` change `parser.enabled` to `false`
2. Try to log in as admin

**Expected behavior**
I successfully logged in the admin interface

**Code snippets**
Error message:
[code]

**System**
- Node.js version:

[2019-10-08 12:35] lauriejim commented on #3551
Hello @forethoughtde !
I suggest you read the discussion (previous messages).
I explain all the stuff in [this message](https://github.com/strapi/strapi/issues/3551#issuecomment-509623915)

[2019-10-08 12:54] lauriejim commented on #4212
Hello @denisinvader !
If you disable the parser middleware, the request is not parsed so you can't have access to the request data.
Please check the Koa documentation if you want more information.
Here is the [middleware code](https://github.com/strapi/strapi/blob/master/packages/strapi/lib/middlewares/parser/index.js).
And for your information, the logic that manage the admin authentication is no

[2019-10-08 16:09] jimmi2051 commented on #4038
Thanks @dakshrathod40, It works with me.

[2019-10-08 16:09] #4038 closed

[2019-10-08 17:10] jsonpj3wt commented on #4156
@lauriejim the result is a 500.  Debugging, the response is `'maxFileSize exceeded, received 20010241024 bytes of file data'`

[2019-10-08 17:17] cderick opened #4215 "Audit Log Viewer on Strapi?"
## Bug description
There's a place to check all update logs? I search in the documentation but not able to find nothing regarding an Audit Log Viewer. Currently you can filter the last time updated but not the last person that changed or a log of those changes.

## Steps to reproduce the behavior
1. Go to: Everywhere in Strapi and could not find.
2. Click in: Everywhere to find the audit log.
4. S

[2019-10-08 17:34] derrickmehaffy commented on #4215
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-08 21:20] miguelangeltorresfp commented on #3546
@lauriejim Hi,
I'm using a code similar to the one used by @iamacatperson.
I took it from the Ben Awad's example `https://github.com/benawad/apollo-server-react-file-upload`
I works perfectly with his demo server, but when I try to upload an image to my strapi server it shows the follow error message:
**`Error: GraphQL error: createReadStream is not a function`**

**System**
Node.js version: 10.15

[2019-10-09 00:17] vlad320 opened #4216 "Poor display of the administrative panel on small screens"
Good afternoon, unfortunately not all hull hd monitors yet and I was approached with the following problem.

As I understand it, the stapi has problems with the display, especially on the mobile version, so the question is, will there be an improvement in adaptive display?

![image](https://user-images.githubusercontent.com/16899697/66442243-5e92c780-ea7d-11e9-862b-0793592f0108.png)

![image](http

[2019-10-09 05:07] derrickmehaffy commented on #4216
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-09 05:07] #4216 closed

[2019-10-09 11:26] derrickmehaffy commented on #4188
Marking as closed for now, @leonardyhuang if you have further information please do add it and this can be reopened. Thanks!

[2019-10-09 11:26] #4188 closed

[2019-10-09 11:27] derrickmehaffy commented on #4126
I'm marking this issue as closed, @ruben00001 if you have more information such as the stuff that @lauriejim asked for do provide it and this can be reopened. Thanks!

[2019-10-09 11:27] #4126 closed

[2019-10-09 11:29] derrickmehaffy commented on #4123
I also just tested this on beta.16.8 and couldn't reproduce the issue. I'm marking this as closed for now @Humberto-Zayas if you can find a way to reproduce this and provide the exact steps to do so please provide it and this can be reopened. Thanks!

[2019-10-09 11:29] #4123 closed

[2019-10-09 11:30] derrickmehaffy commented on #4077
@dakshrathod40 I'm marking this as closed for now, if you can please provide the information that @lauriejim asked for we can reopen this. Thanks!

[2019-10-09 11:30] #4077 closed

[2019-10-09 11:31] derrickmehaffy commented on #4052
For now marking this issue as closed as it isn't likely an issue with Strapi but has something to do with rasbian.

[2019-10-09 11:31] #4052 closed

[2019-10-09 11:33] derrickmehaffy commented on #4043
@harukogaki if you could please provide a PR to fix this vulnerability that would appreciated. Thanks

[2019-10-09 11:35] derrickmehaffy commented on #4022
For now marking this as closed, if you need further assistance @cube-dan let us know and this can be reopened.

[2019-10-09 11:35] #4022 closed

[2019-10-09 11:39] derrickmehaffy commented on #3873
closing this as it was outlined in the sept blog post: https://strapi.io/blog/monthly-update-september-2019?redirectPage=1

![image](https://user-images.githubusercontent.com/8593673/66478251-cbdb3400-ea4e-11e9-8eb6-0b9641461b49.png)

This will require the new DBAL layer that is currently in development.

[2019-10-09 11:39] #3873 closed

[2019-10-09 11:40] derrickmehaffy commented on #3898
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)
- [Spectrum](https://spectrum.chat/strapi)

For now I will mark

[2019-10-09 11:40] #3898 closed

[2019-10-09 11:41] derrickmehaffy commented on #3901
For now marking this issue as closed, @merijnponzo if you have the information that @lauriejim is requesting we can reopen this. Thanks!

[2019-10-09 11:41] #3901 closed

[2019-10-09 11:42] derrickmehaffy commented on #3839
As there has been no activity on this for a few weeks I'm marking it as closed, if the issue is still happening and someone wants to provide more information please do and it can be reopened.

[2019-10-09 11:42] #3839 closed

[2019-10-09 11:46] derrickmehaffy commented on #3931
This will be apart of this feature request: https://portal.productboard.com/strapi/1-public-roadmap/c/13-administration-menu marking this as closed for now.

[2019-10-09 11:46] #3931 closed

[2019-10-09 12:09] sunsgs opened #4218 "send out email with default providers with attachments"
**Describe the topic**
I would like to send out email with default providers with attachments

**Your suggestions for this topic**
I can see from the code that there is the possibility to do it but i don't know how

Can you please provide any clue?

Thanks

[2019-10-09 12:14] cderick commented on #4215
@derrickmehaffy can you reopen my issue?

[2019-10-09 12:38] derrickmehaffy commented on #4215
@cderick Reopened but just an FYI no I don't think there is an audit log at all related to this. Most likely this would be a feature request but it is probably something you would need to implement yourself. I'm only opening it back up to see if anyone on the Strapi team have suggestions.

[2019-10-09 13:11] storm1er commented on #2189
Duplicates of #672

[2019-10-09 14:12] cschweda commented on #4128
I just did a fresh install of .beta.16.8 -- no migration. I'm getting this issue with every relation -- the relation dropdowns always display IDs.

I've set the 'entry title' to something that's not an ID (name, for example) -- but it doesn't make a diffference.

Help! This is a show stopper for me. Is there a way to configure something other than IDs to display?

[2019-10-09 14:33] leonardyhuang commented on #4188
Sorry for the late reply, it is hosted on https://www.cloudclusters.io/. Probably there was an upgrade at that time.

Just thinking if it is possible for Strapi to auto-restart when this happens?

[2019-10-09 15:04] a-klimashevsky opened #4220 "Something went wrong in the model `File` with the attribute `related`"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Setup str.api with sqlite db (ok)
2. change database connection to mongodb
3. execute strapi start
4. command exit with code 1 and follow stack

corp-cms         | [2019-10-09T14:26:40.130Z] error Something went wrong in the model `File` with the attribute `related`
corp-cms         | [

[2019-10-09 15:08] derrickmehaffy commented on #4220
[code]

Node version: We need the actual version `node --version` and same for npm `npm --version`

Strapi beta 1 is very old the current latest is beta.16.8 please test with the current latest release

Database: we also need the mongoDB version

Operating system: What distro of linux? What version of the distro.

Please provide more information, once you have done so this can be reopened.

[2019-10-09 15:08] #4220 closed

[2019-10-09 15:20] donadams71 opened #4221 "strapi won't start"
This is what I am getting in my terminal when I try to start strapi.  Can anyone give me any suggestions on how to fix this issue?  Thanks.  I am trying to build a flutter ecommerce app.

internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'lodash'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/m

[2019-10-09 15:23] derrickmehaffy commented on #4221
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-09 15:23] #4221 closed

[2019-10-09 15:31] donadams71 commented on #4221
how do i install 'lodash' module on mac

[2019-10-09 17:54] lauriejim commented on #4156
Okay are you having a NGINX?
If yes, make sure the your configuration allow you to upload large files.

[2019-10-09 19:10] jsonpj3wt commented on #4156
This is hosted via ECS/Fargate but I will check the configurations on it as well.  Since this happens locally, I can check that too.  Thanks!

[2019-10-09 20:12] lauriejim commented on #4218
Hello! The attachment in the default email provider has been added 6 days ago, so it's not released yet.
The next release will be next week.
Stay tuned.

[2019-10-09 20:12] #4218 closed

[2019-10-09 20:46] grahamcrackers opened #4224 "GraphQL breaks the build with a custom local plugin"
**Describe the bug**
When creating a local plugin that contains a custom model, installing strapi-plugin-graphql will break the build at runtime

**Steps to reproduce the behavior**
1: spin up a new strapi project `strapi new strapi-test`
2: install graphql plugin `strapi install graphql`
3: create a custom plugin `strapi generate:plugin awsome-plugin`
4: create a custom model for that plugin `str

[2019-10-10 01:41] amartincolby opened #4225 "Cannot create relations on group"
**Describe the bug**
When I try to create relations in a group in the UI, I get a generic error.
[code]

**Steps to reproduce the behavior**
1. Create a content type.
2. Create another content type
3. Relate the two content types.
4. Create a group
5. Try to relate the group to one of the content types

**Expected behavior**
I expect the relation to succed and the model to save

**Code snippets**

[2019-10-10 07:06] soupette commented on #3534
This has been fixed in the latest beta.
I'm closing the issue

<img width="1180" alt="Screenshot 2019-10-10 at 09 06 03" src="https://user-images.githubusercontent.com/13311463/66546394-37033400-eb3d-11e9-9175-c57ef1023069.png">

[2019-10-10 07:06] #3534 closed

[2019-10-10 08:13] lauriejim commented on #4215
Hello! This request is really similar to this one https://github.com/strapi/strapi/issues/3195

If you want this feature, I suggest you create a middleware in your application.
(search middleware in the doc, I won't send you a link because the doc structure will change soon.)
and in this middleware add your custom logic to store / of stream on an other service, the request data / url / authenticat

[2019-10-10 08:13] #4215 closed

[2019-10-10 08:18] lauriejim commented on #4128
Here is a short video to update it https://www.loom.com/share/791d3b6041914f43a368aa31657f9bcd

[2019-10-10 08:42] lucacattide commented on #2303
Followed @ng-hai instructions and still not working, throwing the usual error:
[code]
Of course ```config/environments/production/database.json``` is updated with the above criteria.

Any suggestion?

Thanks in advance

[2019-10-10 11:31] wemod123 commented on #3603
I had check the root cause to some extend since I run into same error, it's because the proxy things, related to the configuration of 'host' field, see [here](https://github.com/strapi/strapi/blob/40d3d78b0db90d40ed3d8b5d20d50bc9a429138c/packages/strapi-provider-email-mailgun/lib/index.js#L42)

if you just disable this field, you will fix it

[2019-10-10 12:23] mixMugz opened #4230 "Can't setup strapi with subpath in nginx reverse proxy"
Problem is similar https://github.com/strapi/strapi/issues/1539

Cant run strapi with sub-path of our nginx reverse proxy.

We cant use subdomain (this is project limitation). All services handle to one point with hostname.domain.com
All what i need - make strapi to work in http://hostname.domain.com/strapi

Any help?

[2019-10-10 13:04] meinvolk commented on #4150
I will look into this one.

[2019-10-10 13:46] amitschandillia opened #4232 "User count feature broken?"
**Describe the bug**
I used to be able to perform a `count` query on the `user` document in **alpha**. Now that I've updated to **beta**, that feature seems to have disappeared.

**Steps to reproduce the behavior**
1. Go to 'https://dev.schandillia.com/graphql'
2. Run the following query:
[code]
3. See error: `The model user can't be found`.

**Expected behavior**
I expected it to return the count

[2019-10-10 13:53] derrickmehaffy commented on #4232
There is no user count route: https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/routes.json

[2019-10-10 13:56] amitschandillia commented on #4232
Exactly. But there used to be one in the alpha version. Is there any workaround possible?

[2019-10-10 14:13] derrickmehaffy commented on #4232
Use extensions and add it yourself?

You could take a look at the core-api in the `strapi` package and add in the route, controller, and service for it using the extensions: https://strapi.io/documentation/3.0.0-beta.x/concepts/concepts.html#extensions

Or submit a PR to add it back in. Not sure when/why it was removed

[2019-10-10 14:19] mbistuer opened #4233 "The relations are very slow in admin Panel (cause auto -populate)"
Hello!
The relationships in admin panel is very slow and sometimes give a error
i have a lot of contents in the relation   account with images and videos
I think It has to remove the auto-populate in the relationship at least in the too many relations
gif:
http://www.giphy.com/gifs/YOvIznkAvM2rVgRyST

**System**
- Node.js version:v10

- Strapi version: 16.8
- Database:Mysql
- Operating system:Ubun

[2019-10-10 14:30] amartincolby commented on #4225
Probably doesn't offer any other insight, but here is my console.
![image](https://user-images.githubusercontent.com/28883798/66578372-f90c0d00-eb48-11e9-9bdf-9465a6853ed8.png)

[2019-10-10 16:28] slababidi opened #4234 "warning strapi > boom@7.3.0"

[2019-10-10 16:31] lauriejim commented on #4224
Hello @grahamcrackers !
Thank you for reporting this issue.

It's because your controller not have `find` or `findOne` functions.

[code]

To workarround you can add the following lines in your controller.

[code]

About the model folder generation issue.
Here is the related issue https://github.com/strapi/strapi/issues/3694
It has been fixed on master, will be released next week.

[2019-10-10 16:35] derrickmehaffy commented on #4234
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-10 16:35] #4234 closed

[2019-10-10 16:40] lauriejim commented on #4225
Hello @amartincolby !

Information you gave me is not enough precise to understand and reproduce correctly your steps.

**Relate the two content types.** - What is the relation type (Many-to-Many, One-to Many, ...)?

**Try to relate the group to one of the content types** - What king of relations?

I also need your content type name.

Please imagine I know nothing from what you did and I have to b

[2019-10-10 16:47] amartincolby commented on #4225
The relation of the two content types is many-to-many. I do not _know_ if this has any effect on the problem, but I wanted to make sure that my structure was mirrored in any testing you do.

For the failed Group relation, it doesn't matter. If I try one-to-one or one-to-many I still get the 400 error.

When you say the content type name, do you mean the group? The group is named mylinkcontent.

[2019-10-10 18:55] jsonpj3wt commented on #4156
Changing settings did not help and the error happens running locally too :(

[2019-10-10 21:10] grahamcrackers commented on #4224
Thanks @lauriejim, I was looking through the code and had a hunch that it was those lines that were tripping me up. It looks like when you run `strapi generate:model custommodel --plugin=awsesome-plugin` it doesn't generate the controller in the plugin space.

I added a file for the plugin model, added the code snippet for `find` and `findOne` and it spun right up.

[2019-10-11 00:31] Christinaaaa opened #4235 "No --watch-admin option for strapi dev"
When running `strapi develop`, `localhost:1377` cannot be reached, and `The server is restarting` repeatedly shows up in terminal.
Admin panel could be reached when running `strapi start`, but I cannot add new content type in this mode.

I am running strapi version 3.0.0-beta.16.8.
According to doc
https://strapi.io/documentation/3.0.0-beta.x/cli/CLI.html#strapi-develop-dev
there should be an opti

[2019-10-11 03:39] derrickmehaffy commented on #4235
This will be in the next version that is releasing next week. The docs were getting updated and released before the latest features were being pushed out.

[2019-10-11 03:39] #4235 closed

[2019-10-11 10:09] lucacattide commented on #2895
As the others, but on Heroku:
[code]

[2019-10-11 12:33] MartinN3 commented on #3886
Guys in admin strapi.config is not exposed, how am i supposed to get data from ENV?

I found in documentation that it should be but its not the case in strapi-admin\index.js

[2019-10-11 12:38] JuanGrauGGG commented on #2654
Same here in latest alpha version 3.0.0-alpha.26.2
Creating a project from scratch with mongodb (initial cnn check is passing)
`strapi start
(node:66402) DeprecationWarning: current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discover and Monitoring engine, pass option { useUnifiedTopology: true } to the MongoClient construct

[2019-10-11 12:59] soupette commented on #3886
@MartinN3 you need the current environment in this [file](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/index.js)?

Or in the admin UI?

[2019-10-11 13:16] MartinN3 commented on #3886
Admin UI, for example side menu. - its not the `currentEnviroment `such as 'development' but rather current environment config values specified with `.JSON `

As i understood from documentation if i place it in  `/config/environments/development` i should be able to access it

[2019-10-11 15:20] Christinaaaa commented on #4235
Is editing code the only way to create/modify content type since ContentType Builder is not available under `strapi start`?
Just wondering if there is a way to access the admin panel and do customization on the panel before the next release?

[2019-10-11 15:35] derrickmehaffy commented on #4235
@Christinaaaa the CTB is only enabled when you are in the development environment and when you use `strapi develop` / `npm run develop` / `yarn develop`

This is so that users can't accidentally take down their production application by trying to modify stuff in prod. As Strapi stores the model configs in files which require node to restart to take effect meaning if there is a problem you can knoc

[2019-10-11 15:38] derrickmehaffy commented on #4235
Just to show an example I am currently testing the WIP branch for this feature:
![image](https://user-images.githubusercontent.com/8593673/66665010-78a9e280-ec02-11e9-8f43-b507eb00d86a.png)

[2019-10-11 16:07] Christinaaaa commented on #4235
Is that expected that `localhost:1377` page is not available when running `strapi dev` only?

[2019-10-11 16:08] derrickmehaffy commented on #4235
no? The strapi adminUI should still be there when running `strapi develop`

[2019-10-11 16:21] leonardyhuang commented on #4071
Hi, what is the sequence of the middlewares? Is this correct (see _errorReporting_)?
[code]
p.s: _Strapi v3.0.0-beta.16.5_.

Thanks.

[2019-10-11 16:27] amartincolby opened #4239 "Language change does not change UI"
**Describe the bug**
Language change does not cause text change in application.

**Steps to reproduce the behavior**
1. Go to admin panel.
2. Click language menu in the upper-right
3. Change language
4. UI Does not update

**Expected behavior**
The UI should update to the new language

**System**
- Node.js version: v10 latest
- NPM version: 6.9
- Strapi version: Beta 16.8
- Database: MySQL
- Opera

[2019-10-11 17:39] Christinaaaa commented on #4235
`strapi start` works as expected (admin panel available)

but `strapi develop` is giving me this message repeatedly:
![Screenshot from 2019-10-11 12-34-20](https://user-images.githubusercontent.com/12404726/66672304-976ca100-ec23-11e9-9db5-13a95bae33bf.png)

instead of successful messages i got for `strapi start`
![Screenshot from 2019-10-11 12-38-36](https://user-images.githubusercontent.com/1240

[2019-10-12 05:00] obaidh opened #4240 "upload file path from strapi server"
**Describe the topic**
Hi, there I try to fix it this issue from 2 weeks everything fine only uploads file image path it's giving me the path without website URL.
Like this :
            `   "URL": "/uploads/b96d6c5bdd7f42e2b4f2e59be349d0ca.jpg",`
and I change the code on node modules under file path :
`/…./node_modules/strapi-provider-upload-local/lib/index.js`

to like this :
`file.url = `${stra

[2019-10-12 05:07] nguyenDalex commented on #403
Is there auth0 support?

[2019-10-12 07:08] derrickmehaffy commented on #4240
@obaidh as I mentioned in slack. You can submit a pull request with your changes to be reviewed or you can fork the provider and run your own version.

For now though marking this as closed.

[2019-10-12 07:08] #4240 closed

[2019-10-12 10:15] saikrishnadeep commented on #4071
@leonardyhuang You gotta but your error reporting at the ending of everything. Something like this:

[code]

[2019-10-12 10:18] abdonrd commented on #4025
Real example with the Chrome Dev Tools:

![Oct-12-2019 18-17-03](https://user-images.githubusercontent.com/1007051/66699832-89e71200-ed1c-11e9-9323-a939fde223b8.gif)

[2019-10-12 15:53] Slide109 commented on #4239
Faced similar problem. Langues update in Settings Manager doesn't reflect language menu options

[2019-10-12 19:19] asif633 opened #4241 "Admin login page default logo not changing"
I followed the [https://strapi.io/documentation/3.0.0-beta.x/advanced/customize-admin.html#customization](https://strapi.io/documentation/3.0.0-beta.x/advanced/customize-admin.html#customization) admin customization document. Successfully changed the left menu bar logo `./admin/src/assets/images/logo-strapi.png` by creating this file and also rebuilt using `yarn build`. But login page logo is stil

[2019-10-13 01:06] nathanlentz commented on #4205
I'll give this bug a whirl!

[2019-10-13 18:06] asif633 commented on #4241
The image used in login page has name `logo_strapi.png` and in left menubar `logo-strapi.png`. So I created another image. Issue is resolved.

[2019-10-13 18:06] #4241 closed

[2019-10-14 06:28] xaun opened #4244 "Cannot run "Developement mode" on lates beta"
**Describe the bug**
`strapi develop --watch-admin` as per https://strapi.io/documentation/3.0.0-beta.x/advanced/customize-admin.html#development-mode is throwing:
[code]

**Expected behavior**
To enable the front-end development mode.

**System**
- Node.js version: 10.2.1
- NPM version: 5.6.0
- Strapi version: 3.0.0-beta.16.8
- Database: postgresql
- Operating system: macos

**Additional context*

[2019-10-14 06:36] soupette commented on #4244
@xaun the documentation has been released before the new version. It will be released this week.
If you really need this feature you can use the `@next` tag but this release has not been fully tested yet.

[2019-10-14 06:36] #4244 closed

[2019-10-14 06:40] xaun commented on #4244
@soupette thanks. Where can I see a list of [customisable plugins](https://strapi.io/documentation/3.0.0-beta.x/advanced/customize-admin.html#customization) ? I'm a bit lost as to what to create in `./admin` to get my desired results.

[2019-10-14 06:45] soupette commented on #4244
All plugins are customisable since we replace their associated files.
Here's where  [the plugins are required](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/plugins.js).
What are you trying to modify?

[2019-10-14 06:52] xaun commented on #4244
@soupette Oh actually, I don't need to modify the plug pages (at this stage). I need to modify the "Content Type" pages. Is this possible?

[2019-10-14 07:00] soupette commented on #4244
Yes it is possible [here are all the font-end files you can modify](https://github.com/strapi/strapi/tree/master/packages/strapi-plugin-content-type-builder/admin) in this plugin.

[2019-10-14 07:10] pedromagalhaes commented on #1896
Thanks @hamedhossani - that worked for me.

[2019-10-14 08:50] #3974 closed

[2019-10-14 08:54] #4048 closed

[2019-10-14 09:30] exdeniz opened #4247 "multi-lingual API"
How can I make a multi-lingual API like

[code]

[2019-10-14 09:48] #2441 closed

[2019-10-14 12:07] derrickmehaffy commented on #4247
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-14 12:07] #4247 closed

[2019-10-14 12:07] derrickmehaffy commented on #4247
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)
- [Spectrum](https://spectrum.chat/strapi)

For now I will mark

[2019-10-14 12:08] derrickmehaffy commented on #4233
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-14 12:08] derrickmehaffy commented on #4230
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)
- [Spectrum](https://spectrum.chat/strapi)

For now I will mark

[2019-10-14 12:08] #4230 closed

[2019-10-14 12:41] Narmdo opened #4248 "GraphQL Queryable fields for content"
Currently, the GraphQL schema generated by strapi only allows for querying a content by it's ID.

In my case, i'm working on a blog and I have a field called 'slug'.

I'd like to be able to do a query for `post(slug:$slug) {}`, however the schema and connections are set up to only support `post(id:$id) {}`.

Is this something that is possible? I looked around for a checkbox to "enable querying", b

[2019-10-14 12:45] Narmdo commented on #4248
My bad, should have kept searching. Found this related issue straight after posting:

https://github.com/strapi/strapi/issues/4093

[2019-10-14 12:45] #4248 closed

[2019-10-14 14:03] amartincolby commented on #4225
Update for those who are interested: Manually setting the config files allowed me to create the one-to-one relations, even though the UI continued to fail.

[2019-10-14 14:33] lauriejim commented on #4224
For `strapi generate:model`, as it's in the command name, it only generates model.
It's normal. If you want to generate a controller, you will have to run `strapi generate:controller`
If you want to generate all the API login, you will have to run `strapi generate:api`

[2019-10-14 14:41] lauriejim commented on #403
Strapi implement [**Purest**](https://github.com/simov/purest) and [**Grant**](https://github.com/simov/grant) to manage provider authentication.

**Grant** handle **Auth0** so you will able to add this provider in your application.

[2019-10-14 14:43] lauriejim commented on #4025
Thank y ou @abdonrd for this video.

[2019-10-14 14:49] lauriejim commented on #4239
Hello! @amartincolby !
Thank you for reporting this issue! You are right!

**More information:**
When I'm on the `login` page, I'm able to switch the language.
But after login, I'm not able to switch the language.

@Slide109 the **Language** option in the settings-manager plugin is here to manage backend i18n settings. That doesn't affect the Admin UI.

[2019-10-14 14:55] matthieuowlie opened #4249 "API error change lang"
**Describe the bug**
I wanted my API to send default error messages in french on auth login when the user, associated with identifier and password sent, is not found or blocked.

After having strapi configured (https://strapi.io/documentation/3.0.0-alpha.x/configurations/configurations.html#language) is doesn't worked.

**Steps to reproduce the behavior**
1. Go to  ./config/language.json.
2. Chang

[2019-10-14 15:06] lauriejim commented on #4239
This issue is already fixed on master.
Will be released in 2/3 days.

[2019-10-14 15:06] #4239 closed

[2019-10-14 15:12] amartincolby commented on #4225
I will try to create a fresh Strapi instance and recreate the problem then provide the config files. Hopefully that will help more easily debug the issue.

[2019-10-14 16:13] kylestephens opened #4250 "Enumerables don't allow list items with non-alphanumeric characters"
**Describe the bug**
Enumerables don't allow list items with non-alphanumeric characters.
Perhaps this is the desired behavior? If it is, the error label needs to be updated as it currently states:
### Values should not start with a number or a special character.

**Steps to reproduce the behavior**
1. Go to 'Content Type Builder'
2. Click on 'a content Type'
3. Click on 'Add Another Field'
4. Cli

[2019-10-14 17:41] rcollette opened #4251 "Cannot install quickstart beta"
**Describe the bug**
Error during quickstart installation

[code]
**Steps to reproduce the behavior**
Create the Dockerfile

[code]
Build the Dockerfile with `docker build -t strapi .`

**Expected behavior**
Should be created without error.

[2019-10-14 17:43] derrickmehaffy commented on #4251
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-14 17:43] #4251 closed

[2019-10-14 17:47] amartincolby commented on #4225
I'm unable to replicate the problem with a fresh instance, so I'm just uploading a zip of my API and Group folders.
[Archive.zip](https://github.com/strapi/strapi/files/3725684/Archive.zip)

[2019-10-14 18:11] SaulPuentes commented on #3760
Same here.

Do you find the solution @shinokada?

[2019-10-14 18:33] rcollette commented on #4251
And with that... Strapi is off the consideration list for my company.   This is what we call, trying to keep the issue list deceptively low.  You can't get much more specific than a Dockerfile to reproduce the issue.

[2019-10-14 19:15] derrickmehaffy commented on #4251
Sorry to hear that but the issue template is to make it easier to read and follow.

In your case you are missing a module `autoreconf` likely due to the alpline image base.

If you wanted to update the issue with the template it can be reopened, but a wall of text of an error message doesn't assist us in debugging the issue.

[2019-10-14 19:35] sebastian-ludwig opened #4252 "GraphQL does not work with `id`-Filter (MongoDB)"
**Describe the bug**
I recently updated to 3.0.0-beta.16.8 and switched from '_id'  to 'id' in my GraphQL-Queries.
Now I'm having a problem with my existing filters, that have been worked before:

**Steps to reproduce the behavior**
1. Create an entity `strapi.services.pet.create({name: 'Steve'});`
2. Update entity from frontend via GraphQL with filter `input: { where: { id: $id }, data: $pet`
3.

[2019-10-14 19:37] derrickmehaffy commented on #4252
Typically mongo offers both :thinking:

[2019-10-14 19:44] sebastian-ludwig commented on #4252
my db version is v4.0.12

[2019-10-14 20:03] mario-riff opened #4253 "Text Escaping Issue"
Node: v10.15.3
NPM: v6.4.1
Strapi: Strapi v3.0.0-alpha.26.2
Database: AWS RDS PostgreSQL

We are experiencing an issue where any text that resembles json that is saved via the CMS backend is being escaped and converted. To recreate this issue simply enter the text '["Test"]' into a String or Text field, and after saving the text is converted to '{"Test"}'.

In addition we have json data which is a

[2019-10-14 20:33] derrickmehaffy commented on #4253
@mario-riff please note the alpha version is no longer supported, I suggested you try with a fresh beta project.

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the iss

[2019-10-14 20:33] #4253 closed

[2019-10-14 21:52] sebastian-ludwig commented on #4252
I figured out, that it actually wasn't a problem with GraphQL, but a Query within the Controller, that bubbled up to the GraphQL-Response:
`strapi.query('pet').count({_id: ctx.params.id});` does not work with `id`, what it actually should in my opinion... ?

[2019-10-15 00:07] Bienio opened #4254 "Filtering on polymorphic relations"
**Describe the bug**
I can’t filter records by the available media. Have error.
`Error: ER_BAD_FIELD_ERROR: Unknown column 'upload_file_1.related' in 'on clause'`

**Expected behavior**
i wan't get records with media

**Code snippets**
_Model posts_
[code]
_Example request_
[code]

**System**
- Node.js version: v10.16.1
- NPM version: 6.10.3
- Strapi version: 3.0.0-beta.16.8
- Database: mysql
- Op

[2019-10-15 03:31] StevenWung commented on #1323
Is there any available official fix ?

[2019-10-15 05:21] derrickmehaffy commented on #1323
@StevenWung Not not as of right now, Strapi themselves have removed the options for prefixing as it was causing issues with the adminUI. It will likely be looked into at a later date when versioning is added but no eta.

[2019-10-15 05:31] derrickmehaffy commented on #4250
@kylestephens please include the required part of the bug report template:

[code]

[2019-10-15 05:39] derrickmehaffy commented on #4250
However in this case you are correct that special characters are not supported in an enum mainly due to graphql not supporting them.

https://graphql.github.io/graphql-spec/June2018/#sec-Punctuators
https://graphql.github.io/graphql-spec/June2018/#sec-Names

Specifically: `/[_A-Za-z][_0-9A-Za-z]*/`

In your case you should use `user_clock`, `graduation_cap`, and `calendar_alt`

Closing as this is

[2019-10-15 05:39] #4250 closed

[2019-10-15 05:56] derrickmehaffy commented on #4250
I've submitted a PR to clarify the message provided in the admin

[2019-10-15 07:24] lanceliamll opened #4256 "Can't login to strapi, Internal Server Error"
Hi guys, why i can't login to strapi? Says internal server error, i tried so many times but still wont.

In the create-react-app, my api's were not working, but on the postman it is, but before this issue came. i had changed the cors domain thing from "*" to some config. Please help asap.

[2019-10-15 07:24] derrickmehaffy commented on #4256
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-15 07:24] #4256 closed

[2019-10-15 07:43] derrickmehaffy commented on #4256
@lanceliamll the alpha version is no longer supported, please test with the latest beta version.

[2019-10-15 07:50] lanceliamll commented on #4256
@derrickmehaffy  btw, the strapi is working earlier, and its up on the cloud. and suddenly i had changed the CORS Domain, how can i undo that? or do you have any way to bypass that.

[2019-10-15 07:55] derrickmehaffy commented on #4256
@lanceliamll I'll offer you this since you are newer to the project, the config is stored in `config/environments/production/security.json` but please do keep in mind the alpha was depreciated and support discontinued.

[2019-10-15 08:21] lanceliamll commented on #4256
@derrickmehaffy  huhu u saved my life sir. Thank you so much. I will be more succint and careful next time

[2019-10-15 08:37] JamesBrightman commented on #1152
Q2 2020 looks like the latest time estimate according to https://portal.productboard.com/strapi/1-public-roadmap/tabs/3-planned.

Is the only way for users to enter/update records for them to log in via the admin panel? This seems like a huge oversight and makes Strapi extremely impractical for many uses.

[2019-10-15 08:50] derrickmehaffy commented on #1152
@JamesBrightman no they could do so with the proper permissions either via REST or GraphQL.

Here is the blog post related to why this was done: https://strapi.io/blog/why-we-split-the-management-of-the-admin-users-and-end-users?redirectPage=1

[2019-10-15 08:57] JamesBrightman commented on #1152
@derrickmehaffy

Thanks for the link, so if I have this right -

So it is possible for a non admin to add (and edit?) content via API's. However I maintain that this is still a less than great solution given than the user may not be familiar with using APIs. I suppose i'll have to wait for a more solid UI solution.

[2019-10-15 09:00] derrickmehaffy commented on #1152
Right now the adminUI should not be used by normal users (at least not until that linked feature request is built). It's more so for the moment a simple way for admin level users to do light content-management.

Your best bet would be to handle content creation on your frontend or something tying into the generated APIs. The adminUI itself has it's own internal API that doesn't use the standard ro

[2019-10-15 09:20] JamesBrightman commented on #1152
@derrickmehaffy
Ok, I think I understand your point. Users cannot view adminUI so instead we serve something like a simple web app which can allow users to enter content, which is then used behind the scenes via the strapi API to add records to the strapi content?

[2019-10-15 09:21] derrickmehaffy commented on #1152
Yes exactly

[2019-10-15 09:25] JamesBrightman commented on #1152
@derrickmehaffy
That is definitely an Interesting solution. Do you happen to have an example of an update/create record API call?

[2019-10-15 09:27] derrickmehaffy commented on #1152
If you install the documentation plugin: https://www.npmjs.com/package/strapi-plugin-documentation it generates automated swagger docs. Likewise the graphql plugin has the built in graphql playground (which also has some built in docs based on your schema file)

[2019-10-15 09:28] JamesBrightman commented on #1152
I'll give it a shot, thanks.

[2019-10-15 09:39] #3774 closed

[2019-10-15 11:48] #549 closed

[2019-10-15 13:24] lauriejim commented on #4233
Hello! Can you precise `lot of contents` please.

[2019-10-15 13:44] lauriejim commented on #4249
Hello @matthieuowlie !

The API response messages are only in `en`.
You will not be able to modify them.

I suggest you manage the translation in your front end application.

The configuration you updated is for the backend i18n feature.
That lets you create your translation in `./config/locals` folder.
And use it via the `koa-i18n` middleware.

In the next version of strapi we will remove it.
If

[2019-10-15 14:00] lauriejim commented on #4253
Hello @mario-riff !
This issue is fixed in the last version of Strapi (beta.16.8)
I suggest you update your application by following migration guides that are in the documentation.

[2019-10-15 14:18] lauriejim commented on #4252
Hello @sebastian-ludwig !
Thank you for reporting this issue.

[2019-10-15 15:17] #2546 closed

[2019-10-15 15:19] lauriejim commented on #4254
Hello @Bienio !
The `media` type is a polymorphic relation.
This type of relationship does not allow deep filtering with this kind of relation.

It will be the same with groups. You will not be able to find an entry that has a specific group value.

[2019-10-15 15:28] iamacatperson opened #4259 "Cannot read property 'globalId' of undefined when updating `User` collection with a media ID payload"
**Describe the bug**
Unable to do an `updateUser` mutation that contains a media type payload (using the media's ID). Returns "Bad Request" error: Cannot read property 'globalId' of undefined.

**Steps to reproduce the behavior**
1. Under `User` collection, create a Content-Type "media" (e.g. logo).
2. Upload a logo using `/upload` endpoint (only providing the "file" param). Will receive the logo'

[2019-10-15 15:29] matthieuowlie commented on #4249
Hello @lauriejim ,

thanks for answering my question.

As Strapi does not translate automatically in different languages, is there any way to know what kind of errors Strapi returns ?

In almost all cases, there is a code statusCode 400 with an error 'Bad Request' and only the message sent makes me available to know why it has failed (user has not confirmed his e-mail, user is blocked ...).

But i

[2019-10-15 15:38] derrickmehaffy commented on #4259
@iamacatperson The alpha version is no longer supported, please test with the latest Beta version. If the error persists there also we can reopen this.

[2019-10-15 15:38] #4259 closed

[2019-10-15 15:52] fire015 opened #4260 "Deprecated dependencies"
The number of deprecated dependencies used when creating a new project is shocking! Suggest someone updates these, I wouldn't want my site powered by a ton of unmaintained modules...

[code]

Version 3.0.0-beta.16.8

[2019-10-15 16:16] emahuni commented on #4145
I once asked about this on Slack if you remember @derrickmehaffy. I bumped into the same issue again today.

In this case it is a model defined by Strapi Upload Plugin itself.
[code]

So maybe @lauriejim you can use that info to understand what's going on since you understand that model better.

[2019-10-15 16:32] emahuni commented on #4145
If you look at the schema you should quickly see that it is morphing to all possible types in the system using one union type: `Morph`;
[code]

and then, per instance, the `UploadFile` type does this:

[code]

So now, the problem that's happening here seems to be that the Graphql system is unable to infer the correct type to morph to when trying to cast the data against the correct model/type beca

[2019-10-15 16:33] iamacatperson commented on #4259
@derrickmehaffy Okay, noted. But is there any workaround for this? Because we don't have enough buffer time to do the migration (and do fixes if anything else is affected). The current alpha version that we have installed is working perfectly for what we need for the time being except for this part.

Any advise would be appreciated. Thanks!

[2019-10-15 16:49] emahuni commented on #4145
Ok I was searching wrong I guess

https://stackoverflow.com/questions/53078554/how-to-implement-istypeof-method

this is the solution to that problem

[2019-10-15 18:07] lauriejim commented on #4249
I agree about the translation based on another translation sentence.
About this thing, we will update to base translation on the error code name (like you said).

To know all auth errors, you can check errors on this files [Auth Controller](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js)
Check each `formatError` function to see messages.

[2019-10-15 20:56] MarcWadai opened #4264 "Unable to post image using python"
**System**
- Node.js version: 10.4.0
- NPM version: 6.1.0
- Strapi version: 3.0.0-beta.16.2
- Database: mongodb
- Operating system: Mac 10.14.6
- Python: 3.7.4

When using python to post my image through Strapi upload route. I always get this
error:
`error ValidationError: UploadFile validation failed: mime: Pathmime is required`

My code:
[code]
While path is a Path object

[2019-10-15 21:07] Bienio opened #4265 "Can't update group if before if empty groups existed before."
**Describe the bug**
If the model has two groups and the second group will be updated, and the first group is empty, then the second group will not save the changes.

**Steps to reproduce the behavior**
1. Create new record in model 'post'
2. Fill only 'title' field
3. Save record
4. Open record for update
5. Fill group 'meta' and leave group 'description' empty
6. Save record
7. Open this record

[2019-10-16 05:52] deepakgd opened #4266 "Unable to update email template, subject and from address"
**Describe the bug**
Unable to update email templates, subject, from address from admin panel

**Steps to reproduce the behavior**
1. Goto: http://localhost:1337/admin/plugins/users-permissions/email-templates
2. Edit reset password
3. Change any content such as shipper email or mail content or subject or response email
4. Click save
5. Logout
6. Forgot password
7. Enter email and click send email

[2019-10-16 06:05] derrickmehaffy commented on #4266
@deepakgd please don't use external image services if possible. You can just drag and drop the screenshots into the github editor and it will add them. Makes it a little easier to see whats going on without clicking on a bunch of links 😄

[2019-10-16 06:10] deepakgd commented on #4266
@derrickmehaffy sure thanks

[2019-10-16 06:11] Cpaczek opened #4267 "403 user-permission/init during application creation"
**Describe the bug**
Lacking permission to for initial admin account setup

Console Error `http://localhost:1337/users-permissions/init 403 (Forbidden)`

**Steps to reproduce the behavior**

Step 1
`strapi new test-project --quickstart`
Step 2
Navigate to localhost:1337/admin

See console error with 403 forbidden

**Expected behavior**
Should allow for regular initial setup.

**Screenshots**
If ap

[2019-10-16 07:26] guidone opened #4268 "Migration issue"
**Describe the bug**
Got this error "Error: SQLITE_ERROR: near "transaction": syntax error" trying to migrate from 3.0.0-beta.16.1 to 3.0.0-beta.16.8

**Steps to reproduce the behavior**
1. Updated all strapi dependencies from 3.0.0-beta.16.1 to 3.0.0-beta.16.8 in package.json
2. Run strapi dev

**Screenshots**
<img width="984" alt="migration-issue" src="https://user-images.githubusercontent.com/5

[2019-10-16 07:35] derrickmehaffy commented on #4268
That sounds like you have a cached package, purge your `build`, `.cache`, `node_modules`, `package-lock.json`, and `yarn.lock` and rerun either `npm i` or `yarn install` and then try your `strapi develop`

[2019-10-16 08:20] guidone commented on #4268
Same problem, where are stored the migrations in the repo?

[2019-10-16 08:28] camillo777 commented on #530
Yes now that mLab is out, you should include in Strapi support for serverless DB like Firestore or FaunaDB.

[2019-10-16 08:34] matthieuowlie commented on #4249
Hello @lauriejim ,

thanks for sharing all these messages.
From what i saw, maybe you could send the ID of each messages ?

For example, for a user blocked, you send this:
`return ctx.badRequest(
          null,
          formatError({
            id: 'Auth.form.error.blocked',
            message: 'Your account has been blocked by an administrator',
          })
        );
`

Maybe you could send

[2019-10-16 08:54] lauriejim commented on #3551
This issue has already been fixed.
I close this issue.

[2019-10-16 08:54] #3551 closed

[2019-10-16 10:20] lauriejim commented on #4265
Hello @Bienio !
Thank you for reporting this issue.

After checking the request, the group data is not sent.
The value is `null` for both groups.

But If I add a description, it works.

I change the layout to check if it comes from the order.
And it's the issue! If you update the layout and you set `meta` before `description` you can send meta alone.

[2019-10-16 10:38] lauriejim commented on #4266
Hello @deepakgd !

The email template you are trying to update is for your users "forgot password" feature.
https://strapi.io/documentation/3.0.0-beta.x/plugins/users-permissions.html#authentication

Here you are using the admin forgot password.
To update this template, you will have to customize the admin by following the `Customization` concept.
https://strapi.io/documentation/3.0.0-beta.x/conce

[2019-10-16 10:38] #4266 closed

[2019-10-16 11:22] ziiw commented on #744
@1um this looks nice, how can I use this snippet in my strapi environement ?

[2019-10-16 11:43] lauriejim commented on #4267
Hello! It has been fixed in this PR.
It's release in beta.17 ;)
https://github.com/strapi/strapi/pull/4246

[2019-10-16 12:16] lauriejim commented on #4268
I created an application with `beta.16.1`, removed the `yarn.lock` file, updated the dependencies to `betat.16.8`, run `yarn` to install new deps.
And it works well...

[2019-10-16 12:35] guidone commented on #4268
The application has some tables and forms in it, it might be relevant the fact that the database is not empty. Anyone knows where is the migration file so I can inspect what operation the script is trying to do on the db?

[2019-10-16 13:03] mariusbolik opened #4271 "/admin not working. Always shows public/index.html"
**Describe the bug**
On http://localhost:1337/admin the Admin Panel should show. But I only see die "Welcome..." Page.

**Steps to reproduce the behavior**
1. npx create-strapi-app my-project
2. Choose MySQL as Database
3. Insert Credentials
4. Choose "No" for SSL
5. run "strapi start" or "npm run start"

**Expected behavior**
Admin Panel should show up.

**Screenshots**
![Strapi Error](https://i.

[2019-10-16 13:51] derrickmehaffy commented on #4268
There is no migration file @guidone Strapi doesn't delete or rename tables or columns yet. All it does is add new ones if needed.

[2019-10-16 13:52] derrickmehaffy commented on #4271
You need to build or use `strapi develop`

`npm run build` / `yarn build` / `strapi build`

[2019-10-16 13:52] #4271 closed

[2019-10-16 14:37] guidone commented on #4268
@derrickmehaffy this is not exactly true in [buildDatabaseSchema.js](https://github.com/strapi/strapi/blob/master/packages/strapi-hook-bookshelf/lib/buildDatabaseSchema.js#L191) some table in sqlite3 are renamed and rebuilt, nevermind I've found the problem, there was a table named "transactions" and a field named "transaction" and this was throwing and error [here](https://github.com/strapi/strap

[2019-10-16 16:54] kylestephens commented on #4250
This seems like the best resolution for now, given the upstream limitations. Thanks! :)

[2019-10-17 00:58] Cpaczek opened #4273 "Add save button on top and bottom of create an entry"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
On the create an entry page the save/reset button should be on the top and bottom for content types that have a lot of different fields so you don't have to scroll back

[2019-10-17 03:54] Cpaczek opened #4274 "Cancel Button not working on Roles and Permissions"
**Describe the bug**
Cancel button does not work when adding a new role

**Steps to reproduce the behavior**
Navigate to Roles & permission
Click add new role
Cancel button top right does not work

**Expected behavior**
Should close the new role window.

**System**
- Node.js version: 10
- NPM version: 6
- Strapi version: 3.0.0-beta.17.1
**Additional context**
Add any other context about the proble

[2019-10-17 05:50] talentedunicorn commented on #4273
If this is approved, can I take this? 😊

[2019-10-17 06:19] derrickmehaffy commented on #4273
@soupette I also agree with this

[2019-10-17 06:23] Cpaczek commented on #4273
@talentedunicorn feel free

[2019-10-17 06:24] websocket98765 commented on #4273
I'd recommend using CSS `position: sticky;` to keep the bar with all buttons visible at the top of the page as it's scrolled. <https://caniuse.com/#search=sticky> That way buttons are always visible and not just at top and button of long pages.

[2019-10-17 06:28] soupette commented on #4273
Sure let's do it I am pretty sure @Aurelsicoko agrees on it. However if you plan on developing updating the component can you use the develop branch as all components have been migrated to styled-components?

Thanks a lot @talentedunicorn if you need any help feel free to reach out to either @virginieky or me (@soupette) on the community Slack!

[2019-10-17 06:41] Cpaczek commented on #4273
Also the rendering of the header-subtitle should be toggled if there is any content to make sure that the text looks centered just a note.
![image](https://user-images.githubusercontent.com/25715982/66983875-75817d00-f06e-11e9-8a08-636c55e1aebe.png)

[2019-10-17 07:03] soupette commented on #4273
Sure, in fact we are planning to add this component to our new UI component library, [@buffetjs/custom](https://www.npmjs.com/package/@buffetjs/custom) all these improvements could be added.

[2019-10-17 07:25] talentedunicorn commented on #4273
Thanks will do. Really excited to work on this 😊
I'm already on that Slack and will drop a message if I run into issues 🙏

[2019-10-17 07:30] talentedunicorn commented on #4273
Should this be filled under another issue?

[2019-10-17 07:33] Cpaczek commented on #4273
Maybe, you can only see the visual issue if you can straighten it with you will have to do to make it floating so it depends technically right now it is an issue but you can't see it

[2019-10-17 07:44] Cpaczek commented on #4267
@mariusbolik the new update worked for me. I'm does it work if you use sqllite?

[2019-10-17 07:44] derrickmehaffy commented on #4267
What version of MySQL?

[2019-10-17 07:56] mariusbolik commented on #4267
Server-Type: `MySQL`
Server-Connection: `No SSL`
Server-Version: `5.7.28 - MySQL Community Server (GPL)`
Protocol-Version: `10`
Char Set: `cp1252 West European (latin1)`

DB Dump: https://we.tl/t-HS8LgebxaQ

[2019-10-17 08:06] mariusbolik commented on #4267
If I use the `--quickstart` Option I have no problems. Also with `beta.16.8` I had no Problems with SQLite. But I really need MySQL.

[2019-10-17 08:44] mariusbolik commented on #4267
Okay. Now I created a Project with the `--quickstart` Flag. Then I created an Account. After that I converted the SQLite File (data.db) to an MySQL File, imported it into my Database and changed the default DB Settings to my MySQL credentials. Now Strapi seems to work with MySQL. Very strange.

[2019-10-17 09:12] derrickmehaffy commented on #4267
@mariusbolik I'm guessing it's your db permissions, I just tested with a fresh project on MariaDB 10.4 and no issues:

![image](https://user-images.githubusercontent.com/8593673/66995209-74a71600-f083-11e9-8fea-aafd4eca9099.png)
![image](https://user-images.githubusercontent.com/8593673/66995244-88eb1300-f083-11e9-83bd-e4a3c0f66947.png)

[2019-10-17 10:45] soupette commented on #4274
@Cpaczek, in fact the cancel button clears the form instead of closing the window

[2019-10-17 14:40] #4268 closed

[2019-10-17 14:48] Palgie opened #4277 "API returning ID strings as arrays"
**Describe the bug**
In a generated API that has a many-to-many relationship the JSON response from the API returns the attached relationship IDs string as a split array rather than a string.

In my case the relationship is that a product can have multiple collections and vendors attributed to it the endpoint. If you visit `/products` (e.g.) the result that each product has a collection array of o

[2019-10-17 15:14] alexandrebodin commented on #4277
Hi @Palgie This has been fixed beta 16.8 you can upgrade to check it out ;)

[2019-10-17 15:14] #4277 closed

[2019-10-17 17:07] daksamit opened #4278 "Missing space right behind lightning emoji"
Hello!
Maybe it's just visually a little annoying, but
when you run `yarn develop`, there is missing space character right behind emoji on server boot.
Maybe just add one align logs?

![image](https://user-images.githubusercontent.com/7165997/67030809-808ce980-f110-11e9-8902-550082242489.png)

[2019-10-17 17:19] derrickmehaffy commented on #4278
@daksamit this has been fixed on beta.17.1

[2019-10-17 17:19] #4278 closed

[2019-10-17 17:47] amartincolby commented on #978
Quite a long time later, I know, but I'm seeing behavior like this again in Beta 16.8.

[2019-10-17 19:36] mariusbolik commented on #4267
@derrickmehaffy can you tell me what happens if you use a remote database from a random hosting provider?
The strange thing ist that it's working after I imported the SQLite Dump into my MySQL Database.

[2019-10-17 21:44] fmaldonados opened #4279 "403 Forbidden error on GET /users-permissions/init"
**Describe the bug**
When I go to admin I receive a forbidden error in the console.

**Steps to reproduce the behavior**
1. Create a new strapi project (MySQL)
2. Add
`"pool": {
          "min": 0,
          "max": 10,
          "idleTimeoutMillis": 3000,
          "createTimeoutMillis": 3000,
          "acquireTimeoutMillis": 3000
        }`
    in the database.json in options.
3. NPM run build
4

[2019-10-18 04:10] derrickmehaffy commented on #4279
Duplicate #4267

[2019-10-18 04:10] #4279 closed

[2019-10-18 04:11] derrickmehaffy commented on #4267
Reopening as other users still reporting issues

[2019-10-18 05:06] soupette commented on #4274
I am closing this issue since it is the intended behaviour.

[2019-10-18 05:06] #4274 closed

[2019-10-18 07:55] abdonrd opened #4280 "The response of GraphQL queries with multiple models are wrong"
**Describe the bug**

The response of GraphQL queries with multiple models are wrong.

**Steps to reproduce the behavior**

1. Make a query with multiple models. Example:

[code]

**Expected behavior**

Return the right response.

**Screenshots**

<img width="1223" alt="Screenshot 2019-10-18 at 15 40 00" src="https://user-images.githubusercontent.com/1007051/67076393-a7562900-f1bf-11e9-9308-31ca5c

[2019-10-18 08:26] mariusbolik commented on #4267
Some more Infos in this case:
- I had a fresh, external MySQL Database
- After I created a new strapi project, the tables were created in my DB
- I got a "403 Forbidden" Message in the console
- I only was able to see the loading spinner on /admin

Solution:
- I created a new project with the `--quickstart` flag
- Everything worked fine and I was able to create an admin user
- I searched for the d

[2019-10-18 08:31] derrickmehaffy commented on #4267
@mariusbolik I'm guessing its your connection. Databases are designed to be as low latency as possible, when you start messing with them over poor connections they start failing. Most have connection limits so if you create a connection, you time out, and reconnect you now have 2 connections. Most Databases (mysql) allow for a sleep timer before the connection is killed. So if you have very spotty

[2019-10-18 08:31] derrickmehaffy commented on #4267
Ideally you would want your database connection be to under 10ms for MySQL but it really prefers to be much lower

[2019-10-18 08:33] mariusbolik commented on #4267
It really seems to work better if I have an excellent internet connection. Especially when use Strapi with an external (remote) MySQL Database.

[2019-10-18 08:34] derrickmehaffy commented on #4267
There isn't really much Strapi can do to help you, I believe your problem is really related to your latency. If you need to do local development, it would probably be best to install MySQL locally

[2019-10-18 09:34] SusilRamarao commented on #3993
Hi @EloB i tried to replicate the issue, when i tried to set the default date as 1970 January 1, until here it is taking input, but after that when i enter time as 00:00:00, it is automatically changing to 1960 31 december 18:30. Not able to modify date. Please let me know if i am replicating the issue correctly. Thanks.

![dateissue](https://user-images.githubusercontent.com/8603210/67083294-88a0

[2019-10-18 10:20] #3101 closed

[2019-10-18 12:23] alexandrebodin commented on #4280
Looks like it returns the data from userd and tries to map that to tje matchdays... maybe an issue with the loaders. Will have take some time to dig. Thanks for reporting !

[2019-10-18 13:14] volfpe opened #4283 "Custom GraphQL Queries are not working"
**Describe the bug**
Custom GraphQL Queries are not working. If you add custom query definition (in `./api/*/config/schema.graphql`) and than try to call this query, the request will fail (`Cannot read property 'plugin' of undefined`).

I have tried to find the source of this bug and it seems that `globalPolicy` middleware is not called on custom graphql query request (located in `strapi-utils/lib

[2019-10-18 13:20] alexandrebodin commented on #4283
Hi @volfpe,
Have you tried declaring someQuery as a function instead of an object with a resolver directly ?

someQuery() {
  Return true
}

[2019-10-18 13:38] amitschandillia opened #4285 "GraphQL Playground wouldn't respect query variables"
**Describe the bug**
My Strapi installation has 3 users with `username` as one of the fields. I am trying to lookup a particular user by username using the `where` clause in the `users` query. This works fine if I pass a static value for the `username`, e.g., `where: {username: "jonsnow"}`, but the `where` clause is entirely ignored if I pass the value via query variables.

**Steps to reproduce th

[2019-10-18 13:38] Bienio commented on #4265
That's work! Thanks for fix!
Strapi is amazing

[2019-10-18 13:40] volfpe commented on #4283
Hello @alexandrebodin !
Oh, yes, it seems to work!

My previous resolvers definition (before upgrade from `3.0.0-beta.13`) was this:
[code]

Modifying that to this structure fixes my problem.
[code]

Thanks for your help!
Updating the documentation would be great ;)

Can we still define policies in resolver definitions? (https://strapi.io/documentation/3.0.0-beta.x/plugins/graphql.html#execute-a-p

[2019-10-18 13:40] alexandrebodin commented on #4285
Hi,

Since a recent chnge in graphql you can’ot run your query this way, look at this issue to fix your query :)

Hope this helped

[2019-10-18 13:40] #4285 closed

[2019-10-18 13:41] alexandrebodin commented on #4285
Issue: https://github.com/strapi/strapi/issues/3537

[2019-10-18 14:02] lorenries opened #4286 "403 on a `GET` request to `users-permissions/init`"
**The bug**
Running my Strapi project locally with `npm run develop` works perfectly. Once I deployed to production (a Docker container running in AWS Fargate connected to a MySQL database in AWS Aurora, I'm unable to register a superuser. I've seen previous issues reporting this bug (#4267, #4279, #3284), but [the patch](https://github.com/strapi/strapi/pull/4246) in `17.1` did not fix the issue.

[2019-10-18 14:21] derrickmehaffy commented on #4286
do ensure that your package.json doesn't actually have `^3.0.0-beta.17.1` it needs to be `3.0.0-beta.17.1`

Most likely if you check your lock files with the carrot `^` you are actually installing a @next tag and not an @beta tag.

However I am closing this as it is a duplicate of: https://github.com/strapi/strapi/issues/4267

Please do check the open issues before creating a new one. Thank you

[2019-10-18 14:21] #4286 closed

[2019-10-18 14:45] POPOEVER opened #4287 "WYSIWYG editor eats up any input that doesn't include latin characters or space"
**Describe the bug**
After making changes to the content in WYSIWYG editor and click Save button, the page redirects successfully, but the modifications are not actually saved to the database when there is no Latin characters or space included, for instance, when I add some Chinese characters and save, these Chinese characters are not saved.

**Steps to reproduce the behavior**
1. Open a text fiel

[2019-10-18 15:05] fmaldonados commented on #4267
@mariusbolik you can try adding this code to your database.json:
`"options": {
        "pool": {
          "min": 0,
          "max": 10,
          "idleTimeoutMillis": 3000,
          "createTimeoutMillis": 3000,
          "acquireTimeoutMillis": 3000
        }
      }`

[2019-10-18 15:15] dankostov opened #4288 "Graphql - second level nested relationships always return empty array"
**Describe the bug**
I saw that similar bug have existed before, this one is related to many-to-many (bi-directional) relationship only.

Objects located deeper than 2 levels with many-to-many relationship always return empty array when querying using GraphQL.

**Steps to reproduce the behavior**
Example of graphql:

[code]

Actual Result:
[code]

JSON models:

[code]

[code]

[code]

**Expected b

[2019-10-18 15:16] derrickmehaffy commented on #4288
@dankostov due note that Alpha is no longer supported: `3.0.0-alpha.26`

[2019-10-18 15:18] #4265 closed

[2019-10-18 15:42] alexandrebodin commented on #4283
@volfpe WHat you were doing should still be feasable it's still a bug but I gave you a workaround for now ;)

You can add policies with your resolver following the current doc but that might still break with the exact same error you get right now.

Going to fix this asap. Thanks fro reporting it !

[2019-10-18 15:44] dankostov commented on #4288
It's happening on 3.0.0-beta.17.1 as well.

[2019-10-18 16:30] Teo0303 opened #4289 "Error: Field "Query.news" can only be defined once."
**Describe the bug**
I've created new content type called 'news'. Everything was working till I installed graphQL. When I installed graphQL server stopped working and showing this error:
Error: Field "Query.news" can only be defined once.
Here's complete log.
C:\Users\Acer\AppData\Roaming\npm-cache\_logs\2019-10-18T16_17_21_355Z-debug.log

**Screenshots**
![image](https://user-images.githubusercon

[2019-10-18 16:48] alexandrebodin commented on #4289
Hi, can you share your api models plz ?

[2019-10-18 16:54] Teo0303 commented on #4289
Hi, yes of course.

![image](https://user-images.githubusercontent.com/39439363/67112932-ca99cc00-f1f1-11e9-9b1e-64b566bee2e7.png)

[2019-10-18 17:01] alexandrebodin commented on #4289
Here is the explanation.

Your content type as a plural name. When we generate the graphql schema for the content type we generate a plural name based on the name of the content type to generate a query to get the list of entry.
Unfortunatly news is already plural so we create the same name for both the single fetch and the collection fetch. It produces this
**example**
[code]
This explains the er

[2019-10-18 17:02] alexandrebodin commented on #4288
@dankostov Can you share your three models as json plz

[2019-10-18 17:04] derrickmehaffy commented on #4267
@fmaldonados @mariusbolik @lorenries From what I can gather the issue here is in fact the latency between your strapi application and your database. If you are on MySQL or Postgres you can try using the settings that @fmaldonados provided or you can test using mine:

[code]

Add this to your database.json (under options, which I've included as part of it)

But realistically you are likely going to

[2019-10-18 17:16] Teo0303 commented on #4289
It's working now. thank you so much!

[2019-10-18 23:10] NetLancer opened #4290 "Quickstart installation problem"
Command:
yarn create strapi-app my-project --quickstart (have tried npx too, checked directory permissions ok).
Final output picture: https://yadi.sk/i/cLogyj3R62p0pw
OS Linux MX 18.3

[2019-10-19 10:46] derrickmehaffy commented on #4290
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2019-10-19 10:46] #4290 closed

[2019-10-19 14:11] veitbjarsch commented on #4287
@POPOEVER your should try the latest version of strapi. Only this version will supported: https://github.com/strapi/strapi/releases/tag/v3.0.0-beta.17.2

[2019-10-19 19:41] cube-dan commented on #1906
Sorry in advance for the thread jacking but [google led me here](https://www.google.com/search?q=%22strapi%22+%22413+%22Payload+Too+Large%22).

@Froelund's suggestion worked perfectly for me. Specifically, I've dropped this...
[code]
... into: {strapi-root}/config/environments/development/request.json

After that change strapi allows me to send larger text strings into a text field:
![image](https

[2019-10-20 00:54] darthzyklus opened #4292 "SQLITE_ERROR: too many SQL variables"
**Describe the bug**
I'm using gatsby to fetch data from a server with strapi, where I uploaded multiple images files and after I create another gallery with a bunch of images, the server gives me this 500 error  "SQLITE_ERROR: too many SQL variables" and I can't finish building my site

**System**
- Node.js version: v10.16.3
- NPM version: 6.9.0
- Strapi version: 3.0.0-beta.15
- Database: SQLITE

[2019-10-20 03:42] Cedric-Lefebvre opened #4293 "Or queries"
Hi, I'm trying to do a search on multiple columns but I cannot get it to work, and there is a big lack of documentation on the custom queries part.

Cannot do any OR queries on multi-columns.

I tried different way to adapt my query:

```const results = await strapi.query(table).find({street_eq: 'example', number_eq: '55'});```
=> behave as a AND

[code]
=> doesn't work

Is there and actual way to

[2019-10-20 05:49] jmchza commented on #1323
Hey @derrickmehaffy hold on on disabling the api prefix, I have an enhancement to be put into a PR today that will allow a bit more flexibility to play with when it comes to deploy the admin console.

for the rest, I would say the key is separating the admin console and deploying it into a NGINX or APACHE server. My suggestion is a NGINX.

I will do my best to write an article today for this, but

[2019-10-20 09:05] dankostov commented on #4288
@alexandrebodin I have updated the description, including the models as you requested.
Is it possible this to be graphql client issue, am i querying it in the right way?

[2019-10-20 11:29] thomasrrl commented on #2128
Facing the same issue, any suggestions on finding the problematic field?

[2019-10-20 17:42] scottydev commented on #3534
Holy crap @kwadwo underscores have finally been supported in Strapi? I almost can't believe it 😃

[2019-10-20 17:47] webcoderkz commented on #3534
@soupette good job, after 5 months, but better late, than never 😂

[2019-10-20 20:04] veitbjarsch commented on #3546
@miguelangeltorresfp I've encountered the same problem :-/. I'll have a look into it. May I can find something.

[2019-10-20 22:07] veitbjarsch commented on #3546
@miguelangeltorresfp I did it. Now I need to tidy up my code and will create a PR with the fix afterwards

[2019-10-21 07:25] rejifald opened #4295 "Make plugin init function async"
**Describe the topic**
As an upload plugin developer, I would like to have ability to perform asynchronous operation while plugin initialization. For example, I have created simple plugin to upload files to Google Cloud Storage, and I need to make a request to the server, to check if a specified bucket exists, and create it if needed.

**Your suggestions for this topic**
Add support for async init

[2019-10-21 07:53] dankostov commented on #4288
@alexandrebodin The issue is also happening for the "has many" relationship (the last one).

[2019-10-21 08:01] x-yuri commented on #2969
The [following commit][1] (`v3.0.0-beta.16.6`) supposedly fixes it.

[1]: https://github.com/strapi/strapi/commit/a22f2cefef4a35e29a08dc12345a1ad994a562bd

[2019-10-21 08:13] alexandrebodin commented on #2969
Hi,

@x-yuri is right, This issue has been fixed. We completely removed the `x-forwarded-host` header.

I'm closing the issue ;)

[2019-10-21 08:13] #2969 closed

[2019-10-21 08:22] vHades0199 opened #4297 "GroupBy connection values not works on GraphQL"
### query:
[code]
### result:
[code]
### model:
[code]

**System**
- Node.js version: v10.16.3
- NPM version: 1.19.0
- Strapi version: 3.0.0-beta.17.1
- Database: MongoDB
- Operating system:

[2019-10-21 08:56] talentedunicorn commented on #4273
I attempted to implement `position: sticky` but unfortunately the support isn't that good at the moment specifically for IE, i've added action buttons at the bottom for now hopefully this will make creating and editing easier :)

[2019-10-21 09:09] dandv opened #4300 "Spell checking is disabled for rich text fields"
I've just installed Strapi with `npx create-strapi-app my-project --quickstart` and created a Content Type for an Article, with a `content` Rich Text field. While editing it in Chrome 77, I'm surprised to see that spell checking is disabled. Do I need to enable a setting somewhere? We're considering Strapi to manage our blog posts (served via Gatsby), and spell checking is an essential function.

[2019-10-21 09:19] dandv opened #4301 "Use proper title case"
Not a big deal, but it was slightly odd to see the Strapi UI capitalize Every Single Word in titles, even when in English, those words should not be capitalized. For example, "Create An Entry" should be "Create an entry" (or at most "Create an Entry", but I don't see the point of capitalizing all nouns), because "an" is a preposition and those don't get capitalized when title casing.

![image](htt

[2019-10-21 09:20] danielamiir opened #4302 "Strapi Default File/Image Store"
How is Strapi saving files/images by default if I have connected to a MongoDB instance? It currently seems unclear whether Strapi is saving uploaded files to MongoDB or just locally? I am going to deploy Strapi in a production container environment that can sometimes be restarted, meaning if the container crashes&restarts, I should still be able to access uploaded images/files.

The documentation

[2019-10-21 09:30] dandv opened #4303 "Rich text field shows as `-` in the list view"
I've defined an "article" type with a String `title` and a Rich Text `content`. After entering some content, in the list view it appears as `-`, making our editors think there's no content in that article.

![Rich text preview is -](https://user-images.githubusercontent.com/33569/67193424-e56b6c80-f3ba-11e9-90c0-9673c46d9e88.gif)

[2019-10-21 09:34] dandv commented on #4300
After using the rich editor some more, I've noticed there are no scrollbars, no synchronized scrolling, and generally, the experience could be much better if Strapi integrated the excellent StackEdit markdown editor, and side-by-side editing was the default.

Any thoughts on that?

![image](https://user-images.githubusercontent.com/33569/67194028-f5d01700-f3bb-11e9-8f6c-903a7ce1bda1.png)

[2019-10-21 09:55] Palgie opened #4304 "Add basic password strength requirements to endpoints"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
I think it would be sensible to add basic password strength checks to the default user creation endpoints and / or allow this to be configurable.

Users on my platform w

[2019-10-21 10:09] lauriejim commented on #530
There is a documentation about MongoDB Atlas.
Here is [the documentation 📚](https://strapi.io/documentation/3.0.0-beta.x/guides/databases.html#install-on-atlas-mongodb-atlas)

[2019-10-21 10:28] gvramesh2003 commented on #3244
I'm also facing the same issue.

What is the current behavior?

When saving a new content type, the admin dashboard shows me that there is an error. Redirection fails. Clicking on menu items at the left still works however.

Steps to reproduce the problem

- Go to Content Type Builder
- Add Content Type
- Add field
- Click save to add field
- Click save content type

![Strapi-error](https://user-i

[2019-10-21 10:34] gvramesh2003 opened #4306 "Admin returns error after adding or saving content type with content type builder."
**Informations**

Node.js version: v10.15.3
NPM version: 6.4.1
Strapi version: v3.0.0-alpha.26.2
Database: MySQL
Operating system: Ubuntu 16.04
Host: node.systimanx.xyz/admin

**What is the current behavior?**

When saving a content type, the admin dashboard shows me that there is an error. Redirection fails. Clicking on menu items at the left still works however.

**Steps to reproduce the problem

[2019-10-21 10:35] derrickmehaffy commented on #3244
@gvramesh2003 Please test with the latest version, I can tell by the response headers you are at least below beta.16

[2019-10-21 10:38] gvramesh2003 opened #4307 "Deleted Content type shown in page again"
**Informations**

Node.js version: v10.15.3
NPM version: 6.4.1
Strapi version: v3.0.0-alpha.26.2
Database: MySQL
Operating system: Ubuntu 16.04
Host: node.systimanx.xyz/admin

**What is the current behavior?**

Try to delete any "Content type", got success message. After refresh the page, deleted content type shown in page again and corresponding table is not deleted.

**Steps to reproduce the pro

[2019-10-21 10:53] derrickmehaffy commented on #4307
@gvramesh2003 please test with the latest Beta version, Strapi alpha is no longer supported. After you have tested with the beta please do let us know if the issue persists here and we can reopen it.

[2019-10-21 10:53] #4307 closed

[2019-10-21 11:20] FilipeCovas commented on #4205
@lauriejim @nathanlentz Hi, I have a project in progress and I need this feature, what is the date to fix this bug? thanks guys

[2019-10-21 11:24] lauriejim commented on #4249
Thank you for this feedback.

[2019-10-21 11:46] derrickmehaffy commented on #4205
No update yet @FilipeCovas, when there is one you will see a PR linked to this issue. Do feel free to dig into it yourself also, anyone can submit a PR :wink:

[2019-10-21 11:56] lauriejim commented on #978
Ping @soupette about this issue.

[2019-10-21 14:02] vnitMendapara commented on #3885
Sorry For Late Reply,
Yes i am able to do with UI software I used dbeaver for testing.

[2019-10-21 14:11] Eric0201 opened #4308 "How to override s3 upload provider lib and set ACL private"
**Describe the topic**
How to override file https://github.com/strapi/strapi/blob/master/packages/strapi-provider-upload-aws-s3/lib/index.js
I want remove  **ACL:** **public-read** in s3 config. Please help me create extensions. Thanks

[2019-10-21 15:07] amartincolby opened #4309 "Content Insertion in Editor Appears in Wrong Location and With Wrong Content"
**Describe the bug**
When editing rich text in the Markdown editor, content inserted by various means will often appear in unexpected places. Further, depending on the scenario, the content that does appear is wrong while other existing content is deleted.

**My example text is**

It was the best of times, it was the worst of times,
it was the age of wisdom, it was the age of foolishness,
it was t

[2019-10-21 15:09] amartincolby commented on #4309
@soupette I dredged up an old bug that was similar to this, but this is my complete write-up after testing to get the various issues to manifest. Bug 1 is hard to manifest. I was experiencing it on Friday but today couldn't get it. I was able to get some issues to somewhat appear by throttling my connection to "Slow 3G".

[2019-10-21 15:15] JamesBrightman commented on #3580
This is still a problem - there still isn't sufficient documentation for deploying to Azure

[2019-10-21 16:09] POPOEVER commented on #4287
OK, let me try

[2019-10-21 17:13] gvramesh2003 opened #4310 "Deploy Strapi with PM2 instance in development mode"
**Informations**

Node.js version: v10.15.3
NPM version: 6.4.1
Strapi version: 3.0.0-beta.17.2
Database: MySQL
Operating system: Ubuntu 16.04
Host: node.systimanx.xyz:1337/admin

**What is the current behavior?**

When I click "Content Type Builder" menu, got the page with error message.

![image](https://user-images.githubusercontent.com/56820633/67227014-f87e4b00-f453-11e9-8278-08097ed36ffb.png)

[2019-10-21 17:54] POPOEVER commented on #4287
I tried under 17.2, I'm afraid it hasn't been fixed, the problem still presents.

[2019-10-21 18:24] roycornelissen commented on #3580
@phmatray I'm interested in how you are building strapi production in Azure DevOps, can you share a description/howto on this?

Thinking of producing a Docker container and having it run in a WebApp on Linux in Azure (using MySQL for storage).

[2019-10-21 18:59] gregorskii opened #4311 "Mongo +srv config, timeout"
**Describe the bug**

MongoDB time out when using a clustered database provider such as Atlas when using +srv URLs. The system works correctly for a while then begins to hang with errors.

**Steps to reproduce the behavior**

Configure Strapi to use a +srv url with this configuration:

[code]

**Expected behavior**

The database to connect and remain connected over long periods of time.

**Errors*

[2019-10-22 00:03] pedrocruzio opened #4312 "File upload providers don't work"
**Describe the bug**
When trying to install an upload provider on the latest version of Strapi, the server does not start successfully and returns the error below. I tested in multiple providers like Cloudinary and IBM Cloud Storage and I get the same result.

**Steps to reproduce the behavior**
1. npm install strapi-provider-upload-aws-s3 --save
2. npm start

**Expected behavior**
After the insta

[2019-10-22 01:12] derrickmehaffy commented on #4312
please use the following command: `npm install strapi-provider-upload-aws-s3@beta --save` without the @beta tag you would be pulling from the @latest tag which isn't used right now (and won't be until Strapi goes stable)

[2019-10-22 01:47] websocket98765 commented on #4273
@talentedunicorn Support will never come in IE, since IE development ended at IE11. It was replaced by Microsoft Edge, which has had support for `sticky` for >2 yrs. IMO it's ok to not support IE anymore, but that's depends on Strapi's policy whether they aim to support IE or not these days.  @soupette Does Strapi care about supporting IE, given Edge replaced it long ago?

[2019-10-22 01:56] derrickmehaffy commented on #4273
I'd offer a guess that no considering they only recently started supported Windows at all (server side at least) or even for local development. More than likely their focus is probably Chrome, Firefox, and naturally Safari (since all the Strapi devs are on Macs)

[2019-10-22 02:36] ahmadsdk commented on #2128
As I have faced this problem before it's usually one or a mixture of either enum fields / JSON types / date fields, since they cannot be left empty when signing up.

What I usually do is I use the default User.settings.json and hide the api folder when signing up with the first Admin user and then after that I replace it with my modified User.settings.json and put the api folder back where it shou

[2019-10-22 06:54] GrzegorzZajac000 opened #4313 "CORS doesn't work"
**Describe the bug**
I have Electron app in which I am using axios for requests. When I am getting request and it return status code 200, everything is okay, but when it returns 404, I can't read error in my app. I set CORS to `*`, but I can't see any cors headers in response headers. OPTIONS requests returns always 404 :/

**Steps to reproduce the behavior**
1. Turn on CORS in Strapi and set orig

[2019-10-22 06:59] alexandrebodin commented on #4283
@volfpe Currently this usecase isn't manageable for us as it causes issues with permissins handling.

To make it work you will need to specify a resolverOf with your resolver. To do so it means adding a controller action (no route needed) so it can be configurable in the roles & permissionns.

*`controllers/Controller.js`*
[code]

*`schema.graphql.js`*
[code]

I'm going to be adding this to the co

[2019-10-22 06:59] #4283 closed

[2019-10-22 07:00] romanmandryk commented on #3838
@websocket98765 - thanks for pointing to hook.json - timeout.
Default timeout is 3000ms which is too low for remote connections. Local postgres database is always fine, but connecting to a remote db (AWS RDS) sometimes worked but sometimes threw the error. Raising timeout to 30000 solved the issue.

[2019-10-22 07:04] veitbjarsch commented on #4302
So feel free to add a PR 😉

[2019-10-22 08:09] #4288 closed

[2019-10-22 08:23] roycornelissen commented on #3580
@phmatray did you ever manage to get it working on Azure?