[2017-09-19 11:50] mraak commented on #205
Ah, I completely forgot you have Mongo to support and that is a pain, yes. We had to ditch Meteor because it didn't work with SQL DB's and now I see Strapi is also suffering because of it. Strapi was one of very rare Node frameworks to treat SQL as first class citizen but even here we seem to hit the wall.

An idea would be to let the user select the **type** of DB in advance and then if it's SQL-

[2017-09-19 12:11] Aurelsicoko commented on #205
Sure, we have to make hard choices sometimes. For newcomers, it's easiest to start with MongoDB than SQL databases. However, most of the times, SQL databases are a better choice than NoSQL. That's why we decided to take sides to handle both.

Your arguments are completely understandable and your idea is one of the solutions to explore to solve this issue. We have in mind to develop a disk database

[2017-09-20 04:15] camilodelvasto commented on #126
Sorry to come so late to this discussion. Hope my comments are still useful.

**1. What do you think about this new vision?**
I love that the studio is being merged. But I think that the real (economic) value would be in **creating a marketplace that involves not only plugins for developers, but ready-to-use, plug-and-play themes**, so that _entry-level developers_ could embrace the ecosystem and

[2017-10-04 09:13] lunchboxer commented on #178
I can confirm the same problem. I made a new strapi server with two models: category and thing. Things have a many-one relationship with category.

this query:
[code]

returns this response:
[code]
You can see that pigs are listed as both furniture and animals, same with all the things. I did nothing but start a new app and add these two api through studio.strapi.io then make the query.

Versions:

[2017-10-04 21:05] rogueSF opened #265 "alpha@6 - Port field"
Just an FYI, The Port field appears to limit input to just numbers, however, the character 'e' is allowed!

![screen shot 2017-10-04 at 1 59 46 pm](https://user-images.githubusercontent.com/3733218/31199582-b1e5c126-a90c-11e7-84c5-bf144c44597d.png)

**Node.js version**: 8.6
**npm version**: 5.4.2
**Strapi version**: alpha@6
**Operating system**: os x 10.11

[2017-10-05 09:13] soupette commented on #265
Hi thanks for notifying us!
The input type number accepts floating points numbers including negative symbols and the `e` or `E` character.

If you try to submit your form with the same inputs as the screenshot it should display an error on the `Port`field.

[2017-10-05 15:26] joeyfigaro opened #266 "Strapi won't install via yarn due to koa-ssl requiring iojs 1.2.0"
**Node.js version**:
`8.4.0`
**npm version**:
`5.3.0`, but I use yarn
**Strapi version**:
`N/A`
**Operating system**:
`OS X 10.12.6`

![](http://joeysharesthings.com/34403m3Y2J3L/Image%202017-10-05%20at%2011.24.36%20AM.public.png)

Strapi won't install via yarn due to `koa-ssl` requiring iojs `1.2.0`.

[Relevant ticket from their repo](https://github.com/jclem/koa-ssl/issues/1)

### Suggestion
Add

[2017-10-05 17:22] rogueSF opened #267 "alpha@6 Issues with Newly Created Connectors"
I am having some issues with model creation using newly created connectors in alpha@6.  I pulled the latest updates yesterday morning which fixed my inability to connect to my local mongo instance, however, whenever a new model is created using my new connector, I receieve the following error

`
ERROR (5902 on ********): Impossible to register the `Report` model.
ERROR (OverwriteModelError/5902 on

[2017-10-09 12:20] Aurelsicoko commented on #178
@lunchboxer It seems that there is a real issue here. We are not maintaining the v1 except for critical issues (security). However, we are still accepting PRs and we are able to publish the patches very quickly.

If you have time, you can make a PR on [this repository ](https://github.com/strapi/waterline-graphql)to fix that issue.

[2017-10-09 16:07] lunchboxer commented on #178
Does that mean that this issue isn't present on v3. I couldn't test it as I was unable to get v3 up and running and gave up immediately

[2017-10-10 17:12] Aurelsicoko commented on #178
@lunchboxer For the moment, we don't support GraphQL on v3. However, we will provide a `strapi-plugin-graphql` by the end of the year.

[2017-10-10 17:13] Aurelsicoko commented on #267
Thanks for reporting this issue. We fixed it this morning!

[2017-10-10 17:13] #267 closed

[2017-10-10 17:14] Aurelsicoko commented on #266
We removed this middleware a few weeks ago so it should not be an issue anymore. Thanks 👍

[2017-10-10 17:14] #266 closed

[2017-10-12 10:27] rogueSF commented on #267
Nice work!
On Tue, Oct 10, 2017 at 10:13 Aurélien GEORGET <notifications@github.com>
wrote:

[2017-10-16 06:53] soupette commented on #265
I'll close the issue, feel free to reopen it

[2017-10-16 06:53] #265 closed

[2017-10-16 15:03] edimitchel opened #278 "View issue after editing connection without modification"
**Node.js version**:
5.4.2
**npm version**:
v8.6.0
**Strapi version**:
3.0.0-alpha.6.3
**Operating system**:
CentOS 7

On save of an existing connection but no modification applied, modal is blocked and loading button still alive.

![image](https://user-images.githubusercontent.com/2922851/31619041-e77c9c20-b293-11e7-81b2-36e51394629a.png)

[2017-10-16 15:12] edimitchel opened #279 "Model attribute length's conditions not used"
**Node.js version**:
5.4.2
**npm version**:
v8.6.0
**Strapi version**:
3.0.0-alpha.6.3
**Operating system**:
CentOS 7

**Title + Images Speak Louder Than Words**

![image](https://user-images.githubusercontent.com/2922851/31619367-9e91ffcc-b294-11e7-923d-d2589ad49c8b.png)
![image](https://user-images.githubusercontent.com/2922851/31619440-cc8ae6b4-b294-11e7-9243-b753033c3748.png)
![image](https://

[2017-10-16 15:22] soupette commented on #278
Thank you for your feedback! This should be fixed in alpha.7 (https://github.com/strapi/strapi/pull/277/commits/fb3e78245eb471e9062a07997e53551c0626f212)

I'm closing the issue, it should be available in the next release.

[2017-10-16 15:22] #278 closed

[2017-10-16 15:31] Aurelsicoko commented on #279
@edimitchel Thanks for reporting this issue! I'm not sure to understand what's the issue here? The error messages are correct and the validations work fine on my machine.

[2017-10-16 15:35] edimitchel commented on #279
@Aurelsicoko I've no validation error when I create an Event with a title small than 10 or longer than 50 even with the constraint that I've set.

[2017-10-16 15:39] Aurelsicoko commented on #279
![Screenshot](https://cldup.com/958ib0hfLP-3000x3000.png)

I tested on both `string` and  `text` type.

[2017-10-16 15:43] edimitchel commented on #279
And with 5 characters ?

[2017-10-16 15:48] Aurelsicoko commented on #279
Yes, it works as well. Try to reload your page. I'm sorry but I can't reproduce your issue, I need more details.

![Screenshot - It works!](https://cldup.com/13cNghQAkw.thumb.png)

[2017-10-16 23:34] mrikirill opened #280 "ER_PARSE_ERROR: You have an error in your SQL syntax"
Hi!

Have created connection with local mysql 5.7.19 and created 1 content type with one field title via admin panel. But the new table did't appear in database and when I tried to add data, the console shown an error:

[code]

**Node.js version**: v8.6.0
**npm version**: 5.4.2
**Strapi version**: 3.0.0-alpha.6.3
**Operating system**: macOS 10.13

[2017-10-17 08:53] Aurelsicoko commented on #280
@mrikirill  Can you give me a filename or more details about the error? Moreover, please give me the steps to reproduce the error by myself. Thanks!

[2017-10-17 09:05] mrikirill commented on #280
Sure)

1.  Install Strapi (3.0.0-alpha.6.3) npm i strapi@lates -g and start new project
2. Go to admin panel and create connection with local MySQL database (5.7.19)
3. Receive error in console that I need to start command: npm i mysql. Install it and start strapi again
4. Go to admin panel re-create connection with MySQL (it connected ok)
5. Create content Account with filed name (string) save it

[2017-10-17 15:59] Almusamim opened #282 "ERROR: Impossible to find the plugin where `strapi.query` and Cannot read property 'count' of undefined"
I'm getting this error after generating an api and after going to the list product page.

Is there something I should do after generating  api?

[code]

**Node.js version**: v8.1.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.3
**Operating system**: Win 10

[2017-10-17 22:13] mrikirill commented on #280
Repeated all steps today, the same error.
Add screenshots of errors:

Step 3: https://screencast.com/t/a37vMmy9e
Step 7: https://screencast.com/t/MWlgZm4kvRzM
Step 8: https://screencast.com/t/VMckQ3KrvvS

I guess it will be helpful

[2017-10-18 11:15] Aurelsicoko commented on #280
@mrikirill Thanks for these details! Did you create the table in your database? What happens if you create one?

[2017-10-18 16:26] hadihallak commented on #282
Oh boy, that was creepy.. thought I was reading my logs for a moment since we share the same windows username.
anyways. I get the same error in addition to a bunch of other errors for create, find, count
i tried on both the mysql and windows connector.

**Node.js version:** v8.2.1
**npm version:** 5.4.2
**Strapi version:** 3.0.0-alpha.6.3
**Operating system:** Win 10
[code]
[code]
[code]

[2017-10-18 17:54] Almusamim commented on #282
haha @hadihallak the coincidence  💃

anyway @Aurelsicoko fixed this https://github.com/strapi/strapi/commit/2ef73c5b423dd9e6b8fd0ff850a0ba226d9b5316 error.

just change in node_module\strapi\lib\Strapi.js on line 274
From ``} else if (file.indexOf('/plugins/') !== -1) {``
to ```} else if (file.indexOf(path.sep + 'plugins' + path.sep) !== -1) {```

[2017-10-18 18:03] TheAnimeSenpai opened #283 "Unable to install strapi - ERR! Command failed: git -c core.longpaths=true clone --template=C:"
Hi,

I'm currently unable to install strapi on my pc. I keep getting this error

npm WARN addRemoteGit Error: Command failed: git -c core.longpaths=true config --get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:204:12)
npm WARN addRemoteGit     at emitTwo (events.js:106:13)
npm WARN addRemoteGit     at ChildProcess.emit (events.js:

[2017-10-18 18:52] hadihallak commented on #280
can confirm the same error on windows 10

[2017-10-18 21:23] spruce opened #285 "Edit links on the strapi docs page don't work"
Just wanted to test those links and the seem to not work.

[2017-10-18 21:42] mrikirill commented on #280
@Aurelsicoko the same error after I've created the table with the same fields like I did it via the admin panel

[2017-10-19 14:56] acifer opened #287 "Get method for a model with a specific id does not call fetch callbacks"
**Node.js version v8.5.0**:
**npm version 5.3.0**:
**Strapi version 3.0.0-alpha.6.3**:
**Operating system mac os sierra 10.12.6**:
Steps to reproduce.
1. Create a new application using strapi new.
2. Run npm install in the folder to install mongoose.
3. Create a model name exampleModel using Content Type Builder.
4. Create content using content manager in exampleModel.
5. Uncomment before fetch or

[2017-10-19 16:28] Aurelsicoko commented on #282
It will be pushed in the next release. Thanks guys for pointing this out!

[2017-10-19 16:28] #282 closed

[2017-10-19 16:29] Aurelsicoko commented on #285
@spruce Can you give me the concerned links?

[2017-10-19 16:33] spruce commented on #285
The link right in the top on this page: https://strapi.io/documentation/getting-started/installation.html#

[2017-10-19 16:39] Aurelsicoko commented on #283
@TheAnimeSenpai It seems related to our router. There is already an issue with a [PR opened](https://github.com/koajs/joi-router/pull/55/files) on this package. We are thinking to fork this repository and publish it ourselves to fix this issue.

[2017-10-19 16:42] Aurelsicoko commented on #250
Interesting... I like the idea but you can also use a service for that? Our goal is not to override the ORM we are using such as Mongoose or Bookshelf to be able to follow the new releases and patches the maintainers are doing on them.

[2017-10-19 16:44] Aurelsicoko commented on #280
Thanks for your feedback! I will take a closer look tomorrow.

[2017-10-19 17:44] TheAnimeSenpai commented on #283
@Aurelsicoko ...thanks...Will wait for the fix...

[2017-10-19 19:30] pierreburgy commented on #285
Good catch @spruce! This is actually due to the following setting: https://github.com/strapi/strapi/blob/master/docs/3.x.x/book.json#L20.

[2017-10-21 00:48] bbjansen commented on #280
Same error here with 3.0.0-alpha.6.3 and v8.7.0. When I add a MySQL DB and click the content type link I get:

`DEBUG (8773 on ThinkBob): GET /content-manager/explorer/articles?skip=0&limit=10&sort=id (4 ms)
ERROR (8773 on ThinkBob): ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SCHEMA 'public'

[2017-10-21 16:08] Aurelsicoko commented on #283
We just forked `koa-router-joi` on our own organization. We made fixes and updated the package the `koa-router` dependency to the latest version available (https://github.com/strapi/strapi/pull/293/commits/7b02da60b2312ec7ef1ceec3c2611fdf1be7d4d5)

[2017-10-23 12:39] #287 closed

[2017-10-23 15:51] Aurelsicoko commented on #280
@bbjansen It has been fixed, a patch will be released tomorrow.

[2017-10-23 18:22] Aurelsicoko commented on #285
This issue has been fixed on [v3.0.0@alpha.6.4](https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.6.4).

[2017-10-23 18:22] #285 closed

[2017-10-23 18:22] Aurelsicoko commented on #283
This issue should be fixed thanks to the [v3.0.0@alpha.6.4](https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.6.4) release. Feel free to re-open it if it's not the case.

[2017-10-23 18:22] #283 closed

[2017-10-23 18:23] Aurelsicoko commented on #280
This issue has been fixed on [v3.0.0@alpha.6.4](https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.6.4).

[2017-10-23 18:23] #280 closed

[2017-10-26 13:25] matseriksen opened #306 "Protect API endpoints"
Hello. Great project!
Is there any easy way to protect the api endpoints?

[2017-10-26 13:56] Aurelsicoko commented on #306
@matseriksen You can protect the API endpoints defined in the `/api/**/config/routes.json` by applying [policies](https://strapi.io/documentation/guides/policies.html) to the routes. However, we are working hard to secure the API endpoints defined by the plugin themselves. That's why we don't recommend to use the alpha version in production right now.

[2017-10-27 09:27] #162 closed

[2017-10-27 13:56] alfirin opened #309 "Is-there a way that the Models could have some translation attributes?"
Is-there a way that the Models could have some translation attributes?

Example: I want a Model with a translated name.
Something like:
[code]

And when I query this Model with:
- a Query param `locale=en_US` or
- a Cookie: with a locale field in the cookie `locale=en\-US;` or
- a Header: `Accept-Language` header with the value `en_US`

I will get the Model with the name setted for this translatio

[2017-10-29 20:14] w0rldart opened #310 "Integrating automated timestamps into models"
`createdAt` and `updatedAt` are fields which rarely miss from collections of modern applications.

I suggest implementing this through a toggle parameter which when enabled, a trait would be injected in the model to implement those additional fields, and also bind to the `lifecycle` events to ensure the values are created/updated automatically.

[code]

More examples at https://laravel.com/docs/ma

[2017-10-29 22:22] w0rldart opened #311 "Indentation settings"
Whilst I wish you'd use 4 spaces indentation by default across your project, I do respect your choice and can only suggest to do so for a more common standard and what I believe, easier to read.

However, my question here is whether we can at least have an option for 2 of 4 spaces in the generated templates?

[2017-10-30 14:26] edimitchel commented on #279
Let see the issue in live !

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2922851/32175952-a831b818-bd86-11e7-984b-d2b3eae97cdc.gif)

[2017-10-30 14:33] edimitchel commented on #279
Require's condition working well but not about length..

[2017-10-30 23:18] alliuca opened #314 "Server suddenly fails to start again"
Not sure what happened but at some point the strapi process errored out and on subsequent `strapi start` would just throw this error:

[code]

I did try to change `strapi.config.locales` to `strapi.config.functions.locales` both in that conversions.js file and in /lib/middlewares/language/index.js and now seems to work fine again.
I should note that none of this happened on first start after I gen

[2017-10-31 10:47] rewop opened #315 "Strapi alpha.6 cannot create new project. strapi-generate-admin missing"
I installed strapi with yarn in my local repo.

When running:
[code]

I get the following error:

[code]

It looks like the package `strapi-generate-admin` is not installed correctly

**Node.js version**:
`8.7.0
**yarn version**:
`v1.2.1`
**Strapi version**:
`3.0.0-alpha.6.4`
**Operating system**:
Mac OSx

[2017-10-31 13:22] soupette commented on #279
It should be fixed and available in the next release https://github.com/strapi/strapi/pull/313/commits/35d7993cf6400edd99ed8f25102a6ff496198052

[2017-10-31 13:22] #279 closed

[2017-10-31 13:26] edimitchel commented on #279
Thanks !

[2017-10-31 13:29] soupette commented on #315
Could you try to install Strapi with npm (version 5.3.0) and run `strapi new my-project` instead?

[2017-10-31 14:30] rewop commented on #315
With npm (5.4.2 in my case) I have the same error. To note I am installing strapi locally and not globally. So with npm I run
[code]

and the error is the same. This is because `strapi-generate-admin` is installed in `node_modules` folder, and not `node_modules/strapi/node_modules`.

Instead if I install globally with npm it works correctly, but I have the same error if I install globally with yar

[2017-10-31 14:33] rewop commented on #315
Quickly looking at the code I wonder why a module declared in `package.jsonìs loaded with relative path? https://github.com/strapi/strapi/blob/acb2b57d59b12470bcb0cdfc5a9b8dd47a94ac61/packages/strapi-generate/lib/target.js#L224-L240?

I think the problem is related to those lines.

[2017-10-31 15:13] Aurelsicoko commented on #311
Thanks, @w0rldart for this proposition. However, we don't plan to offer this feature. One of our goals is to make choices and we already did make it for Strapi in the indentation case. The lower the number of configurations is, the easier is to use the product. And we want to keep Strapi the most simple as possible.

[2017-10-31 15:13] #311 closed

[2017-10-31 15:16] Aurelsicoko commented on #310
You can already do that with the models that depend on `strapi-bookshelf` (SQL databases) but I guess it's missing from the documentation.

[code]

[2017-10-31 15:26] Aurelsicoko commented on #309
@alfirin Not yet! You can only have [static translations](https://strapi.io/documentation/guides/i18n.html) for the time being. In your case, you will need an i18n plugin that will allow you to add entries in different languages. I can't give you a date or a quick solution for your issue...

[2017-10-31 20:02] ogonkov commented on #315
Have attempted to fix module resolution in #317 but it was not the only problem with local installation, it's failed with different errors on further steps 🤣

[2017-10-31 20:42] ogonkov opened #318 "Server wasn't able to start properly"
Patched version (#317) seems fail to restart. Could be related to local installation.

[code]

**Node.js version**: v8.9.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.4
**Operating system**: macOS 10.13

[2017-11-01 10:29] Aurelsicoko commented on #318
I've made a local installation with your PR (#317) that I'm going to accept and I wasn't able to reproduce the bug. I need more details about your Mongo connection because the issue seems located into the `strapi-mongoose` hook.

[2017-11-01 10:57] #315 closed

[2017-11-01 18:36] ogonkov commented on #318
Did you add some products?
What details i need to provide?

[2017-11-03 10:35] jakobrosenberg commented on #318
I have the same error on 3.0.0-alpha.6.4 / Windows 10 x64.

It occurs if I create an API or if I save a Content Type.

[2017-11-05 12:58] fisshy commented on #318
I got the same problem. Windows 10 x64.

[2017-11-05 13:11] fisshy commented on #318
Ok, solved it by installing mongodb. It was missing.

Maybe Strapi should try detect mongodb and give a clearer message.

https://docs.mongodb.com/v2.8/tutorial/install-mongodb-on-windows/

[2017-11-05 21:30] Redni opened #327 "Configuration not load"
**Node.js version**: 8.8.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.4
**Operating system**: Arch Linux

Configuration files do not load. The host remains on localhost despite the change in config / environments / **/server.json, this causes an error when loading modules in the admin panel on the server with its own domain. Is:

Not Found: http://localhost:1337/settings-manager/auto

[2017-11-06 09:07] jakobrosenberg commented on #318
I'm running Mongodb in a container, but I can't connect to it. Changing the config in ``config/environments/development/database.json`` doesn't change anything. I've tried different usernames, but it always tries to connect as ``admin``. I have no idea what password it's using.

[2017-11-06 10:48] Redni opened #328 "Internal Server Error"
**Node.js version**: 8.8.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.4
**Operating system**: Arch Linux

`{"message":"An internal server error occurred","statusCode":500,"error":"Internal Server Error"}`

Example All:
http://localhost:1337/letter

[code]

Example One:
http://localhost:1337/letter/5a0032edcfd2ef118ac6b109

[code]

[2017-11-06 15:29] alfirin commented on #309
@Aurelsicoko Thanks for the reply.

Do you have some plugin examples showing some translated data ?

Thanks for your help

[2017-11-06 20:20] djeorges28 opened #329 "Strapi start Error "unexpected""
**Node.js version**:  6.11.4
**npm version**: 3.10.10
**Strapi version**: 3.0.0-ampha 6.4
**Operating system**: win7 64b

Hi all, I'm just starting to discover Strapi and "getting started guide".
installation and ipa generation ended with no errors
But I get this error when starting strapi.

Thank's for your help.

C:\DEV\apitest2>strapi start
ERROR (6848 on PC-Leo): Unexpected identifier
    C:\U

[2017-11-06 20:27] kmathy opened #330 "Mongoose config and api creation"
**Node.js version**: 8.1.2
**npm version**: 5.5.1
**Strapi version**: v3.alpha.6.4
**Operating system**: Windows 10 (using Bash On Windows to launch mongo server)

Firstly, congrats for the great framework, I follow you since several months 👍

But I have a quite weird issue when creating the API using mongoose.
When installing Strapi, I had to link strapi and strapi-mongoose because of npm permiss

[2017-11-06 21:12] Redni commented on #329
Strapi Alpha required Node.js >= 8.

[2017-11-06 21:31] djeorges28 commented on #329
Thank's a lot. I have installed the latest version of node and now everything works well.
Let's continue the tutorial :-)

[2017-11-06 21:31] #329 closed

[2017-11-07 09:30] Aurelsicoko commented on #328
@Redni Can you show me the line 18 in the Letter.js controller? It should be

[code]

So, do you have a Letter.js service in `./api/letter/services/Letter.js`?

[2017-11-07 09:36] Aurelsicoko commented on #330
@kmathy Thanks for the kind words! We really appreciate :)

I think you found an issue! You're right `strapi.hooks` don't exist, everything is singular. So  `strapi.hook` is the right path. Feel free to submit a PR by following the [CONTRIBUTING guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#repository-organization).

Can you log `console.log(this)` in the `findOne` function?

[2017-11-07 09:37] Aurelsicoko commented on #309
@alfirin No, but we have an [example app](https://github.com/strapi/strapi-examples/tree/master/hello-world) using the native i18n feature. I hope it will help you :)

[2017-11-07 09:41] Aurelsicoko commented on #327
@Redni It's a known issue on our side. That's why we are saying that you shouldn't put in production a project using the `alpha` version. A lot of fixes will be released this week but not the good ones in your case. A pull request has been opened https://github.com/strapi/strapi/pull/325 to detach the admin panel from the core framework.

[2017-11-07 09:46] Aurelsicoko commented on #318
@jakobrosenberg Maybe you found something... Can you confirm me that you're running the server in a `development` environment? Because if it's not the case, make sure you also update `config/environments/production/database.json` configurations.

[2017-11-07 10:36] jakobrosenberg commented on #318
@Aurelsicoko After several restarts and reconfigurations, it was finally working. For some reason, it kept connecting as admin@development or something like that regardless of what was in the database.json.

Does Strapi cache the config?

[2017-11-07 12:39] Redni commented on #328
@Aurelsicoko I discovered a problem. To tell the truth, the previous name was different, I changed it for these logs because I did not want to share a unique name so it was not used publicly. It turned out that I missed a significant problem.

When adding "New Content" in the admin panel, any type of name:
**strapi.api**
**test.api**

are automatically converted to:
**strapiApi**
**testApi**

then

[2017-11-07 13:16] kmathy commented on #330
[bug_item.log](https://github.com/strapi/strapi/files/1450075/bug_item.log)
Here is what I found with `console.log(this)`

For the contribution, I will do that tonight :)

[2017-11-07 15:10] Redni opened #332 "Can not write to a database other than the default"
**Node.js version**: 8.8.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.4
**Operating system**: Arch Linux

Can not write to a database other than the default.

Database set in Settings Manager -> ENVIRONMENTS -> Database. Correct data, the database exists. Checked by terminal.

Then create a new collection in "Content Type Builder" and create a new field with a different Mongo base th

[2017-11-07 20:45] kmathy commented on #330
I'm sorry but I'm not able to do the bug fix.

I've followed the steps inside the contribution guide but I encountered a problem when creating the project with `strapi new`.
Also, it takes a long time to setup it (more than 20min).

Maybe someone else can do the fix? :)

[2017-11-08 10:39] #135 closed

[2017-11-08 10:39] #141 closed

[2017-11-08 10:40] #145 closed

[2017-11-08 10:43] Aurelsicoko commented on #182
There is no more activity on this one. Please feel free to open it again, if you need to.

[2017-11-08 10:44] Aurelsicoko commented on #203
This feature is not on our roadmap and we won't do it. Thanks for the suggestion though.

[2017-11-08 10:44] #203 closed

[2017-11-08 10:46] Aurelsicoko commented on #204
As you may know, we are actively working on the new version (v3). We won't develop this feature in v1. So I'm closing this issue.

[2017-11-08 10:46] #204 closed

[2017-11-08 10:49] #237 closed

[2017-11-08 10:50] #248 closed

[2017-11-08 10:54] mraak commented on #203
It wasn't a feature suggestion but a bug report 👎

[2017-11-08 11:13] lauriejim commented on #314
I don't really understand changes you did to have this issue. Can you explain more precisely what you did?

[2017-11-09 13:32] lauriejim commented on #328
Okay thank you for this issue, generated code is not completely correct.
The global model have to be `Strapiapi` or `Testapi` instead of `StrapiApi`
And in strapi object it's `strapi.service.strapiapi` or `strapi.model.strapiapi` instead of `strapi.mode.strapiApi`.

[2017-11-09 15:53] lauriejim commented on #332
Okay, actually you can update the settings of the default connection but you can't have two mongo connections in the same time. But you can have one on mongo and one other for postgres.

We will fix it soon.

[2017-11-10 08:30] lauriejim commented on #318
Hum there is no configuration cache in Strapi.

[2017-11-10 10:10] lauriejim commented on #330
Hi @kmathy your bugs have been fixed in our last alpha version. Can you install it and tell me if it work fine now.

[2017-11-10 10:27] kmathy commented on #330
I try it this afternoon!

[2017-11-11 20:29] kmathy commented on #330
Hi,

Great news, it works! I reinstalled all strapi and create a new model + document, and no error triggered ;)
Well done!

Just one thing:
I tried to install strapi with Yarn and there was an issue, see this [picture](https://user-images.githubusercontent.com/15690980/32693178-95691ea2-c726-11e7-90fb-0fd0d9890b0c.png)

As you can see, you recommend to use Node 8, but I had 8.1.2, and it seems we

[2017-11-12 16:39] kmathy opened #339 "Model: beforeDestroy and afterDestroy not triggered"
**Node.js version**: 8.9.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.7
**Operating system**: Windows 10 (Bash On Windows for mongoDB server)

Creating, listing and updating a model trigger their respective events.
However, when destroying an object, **beforeDestroy** and **afterDestroy** are not triggered. So I can't do any operation in these two events.

Thanks in advance for inves

[2017-11-12 23:50] zaamx commented on #330
Hi!,

@kmathy  can you please tell me how to connect moongose in windows 10 bash?

I change the npm to another path as the instructions details.

then:

- Install Mongo in bash
- Create the strapi db in mongo
- Install Strapi in Bash
- Create a Project
- Configure the Mongo connection
- Create a model

And at this point trows error.

[code]

It's a error with the connection ?

I new to Strapi,

Tn

[2017-11-15 08:46] clubery opened #341 "strapi-admin@3.0.0-alpha.6.7 postinstall bug node@4"
I've never used strapi before, attempted to run the install following your docs here: https://strapi.io/documentation/getting-started/installation.html.

Installation fails with this:

[code]

[2017-11-15 08:57] clubery commented on #341
Only seems to work with node v6.

[2017-11-15 09:54] Aurelsicoko commented on #341
@clubery You're right, we highly recommend to use Node v8.x to use Strapi. We are using the latest available pattern so it won't work with the previous versions of Node.js.

I'm closing this issue, feel free to open a new one if you find an issue using Node v8.x.

[2017-11-15 09:54] #341 closed

[2017-11-15 14:10] Aurelsicoko commented on #330
The issue has been fixed, I close. Feel free to open it again if a similar issue comes in.

[2017-11-15 14:10] #330 closed

[2017-11-17 14:14] Devportobello opened #342 "Installation npm - Fail during installation of dependencies"
Hi,

I wanted to try locally strapi to cover all aspect of your cms, but im facing an issue, is it possible to install strapi on Windows ?

Logs:
$ node -v
v8.6.0

$ npm -v
5.5.1

$ strapi -v
3.0.0-alpha.6.7

$ npm config get prefix
C:\Users\Code CI\AppData\Roaming\npm

$strapi new test
...
INFO (13660 on DESKTOP-T7K9F8B): Installing dependencies...
module.js:473 throw err; ^
Error: Cannot find mo

[2017-11-17 15:43] Aurelsicoko commented on #342
Can you try with another user to check if the issue is related to space between `Code CI`? The issue seems more related to Node.js module resolution than Strapi... Do you already have an issue like that with others frameworks?

[2017-11-17 15:54] Aurelsicoko commented on #327
This issue has been fixed https://github.com/strapi/strapi/pull/325. It will be released in the next release `alpha.7` in December.

[2017-11-17 15:54] #327 closed

[2017-11-17 16:14] Aurelsicoko commented on #318
@jakobrosenberg The core doesn't cache anything but `require` method does. It could be related... I just created a pull request (https://github.com/strapi/strapi/pull/344) to fix it.

[2017-11-20 13:28] ChangJoo-Park opened #347 "is https://strapi.io/apps down?"
**Node.js version**:
**npm version**:
**Strapi version**:
**Operating system**:

Please check internal server error when open https://strapi.io/apps

[code]

[2017-11-20 15:36] #314 closed

[2017-11-20 15:38] #318 closed

[2017-11-21 11:20] Devportobello commented on #342
Tested with another user without space and worked.

For informations:
Seem the resolution of some module who lead to fail.
Between thoses steps:
INFO (4020 on DESKTOP-X): Installing dependencies...
/!\
INFO (4020 on DESKTOP-X): The plugin settings-manager has been successfully installed.

Notice that stack trace : npm\node_modules\strapi\bin\strapi.js install settings-manager ...

#closed

[2017-11-21 11:20] #342 closed

[2017-11-22 02:41] meads2 opened #350 "Cannot Start Alpha Release"
**Node.js version**:
**npm version**:
**Strapi version**:
strapi@alpha
**Operating system**:
Mac OSX
<img width="652" alt="screen shot 2017-11-21 at 9 39 22 pm" src="https://user-images.githubusercontent.com/13305877/33107287-87e32a30-cf04-11e7-9bc3-c2ac3d8996e6.png">

I installed a fresh copy of the Strapi alpha release, and it won't let me start the application. I took a look at the Strapi.js fi

[2017-11-22 02:44] #350 closed

[2017-11-22 14:07] dj-hedgehog commented on #350
If anyone else comes across this the error was that @meads2 was using Node v6. The new Strapi requires at least Node v8 für native `async...await` support among other features.

[2017-11-22 17:04] oukrims opened #351 "how can I add upload image to strapi dashboard"
**Node.js version**: 6.11.5
**npm version**: 3.10.10
**Strapi version**:1.6.4
**Operating system**:ubuntu 16.04

[2017-11-24 10:46] yesihao commented on #351
+1 seem there's no image uploader in v3 neither

[2017-11-24 14:44] edimitchel commented on #351
Not yet ;)

[2017-11-27 15:53] oukrims opened #354 "how can I upgrade from strapi v1.* to v3.*"
**Node.js version**:
**npm version**:
**Strapi version**:
**Operating system**:

[2017-11-28 17:01] nkhdo opened #355 "How to properly use postgres?"
**Node.js version**: 8.9.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.7
**Operating system**: Linux mint 18

When I trying to add a postgres database, and create a model using content builder plugin, it tells me to create the table in my database first, and show me a link to strapi doc. However, I followed the link (https://strapi.io/documentation/guides/models.html#bookshelf) but fo

[2017-11-29 14:27] RicardoVaranda commented on #328
I'm also getting a similar error:

[code]

When trying to simply create and save a new content type.

[2017-12-04 13:33] #347 closed

[2017-12-06 02:33] indper opened #362 "Strapi Start Admin Page: an error occurred during models config fetch"
**Node.js version**: 8.9.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha6.7
**Operating system**: Ubuntu 16.04.3 LTS
**MongoDB**: v3.4.10

Hi,

I was install STRAPI & start the service but i found error : an error occurred during models config fetch.
Please explain how to solve the problem..

Thank you.
Indra

[2017-12-06 11:14] lauriejim commented on #354
You will be able to find information in the documentation https://strapi.io/documentation/migration/migration-guide.html

[2017-12-06 11:20] lauriejim commented on #355
Yes we know about thats, it's in our roadmap to have a better workflow using content type builder with SQL database.

[2017-12-08 00:12] 2pay commented on #342
i am have the same this topic:

[code]
I am try install again but error until.

[2017-12-09 00:06] uniibu commented on #362
This most likely to happen if you use a different `http://hostname:1234` other than `http://localhost:1337` because the admin plugin still uses `http://localhost:1337` to make request to other plugins such as `http://localhost:1337/content-manager/models`, no matter what is on the config. Afaik, this has been fixed on alpha.7

[2017-12-09 16:31] svallory opened #363 "Installing with yarn doesn't work"
Not that it should, but it would be nice to have a warning in the "Get started" part of the doc

**yarn version**: 1.3.2

**Node.js version**: 8.9.1
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.7
**Operating system**: OSX 10.13.1

[2017-12-11 22:17] ozymandias547 opened #365 "sql database using strapi-bookshelf not configured on project generation."
node: v8.7.0
npm: 5.4.2
3.0.0-alpha.7
MacOS Sierra

I'm attempting to use strapi with strapi-bookshelf and a mysql configuration:

[code]

I have created the `strapi-dev` database, but when starting up strapi, it doesn't create a users table or any other table, so I get this error:

`ER_NO_SUCH_TABLE: Table 'strapi-dev.user' doesn't exist`

Is there a "seed" database I can use?

[2017-12-12 16:51] nickngqs opened #368 "Unauthorised 401 (API Consume)"
**Node.js version**: v9.2.0
**npm version**: v5.5.1
**Strapi version**: 3.0.0-alpha.7
**Operating system**: MacOS Sierra

I'm getting Unauthorised 401 Code when I trying to consume the api. http://localhost:1337/products from http://localhost:3000 (Nuxt). Should i be enabling something? Not sure if CORS settings have anything to do with this.

[2017-12-12 21:42] MartinBucko opened #370 "v3.0: missing files on install, after git clone project"
**Node.js version**: v8.9.3
**npm version**: 5.5.1
**Strapi version**:
[code]
**Operating system**:
[code]

If i move to another computer and i pull my project based on strapi, its give me errors on install packages:
[code]

[2017-12-13 07:24] landysunny opened #371 "the language can't choose chinese"
**Node.js version**:8.9.3
**npm version**:5.5.1
**Strapi version**:3.0.0.7
**Operating system**:windows 10

[2017-12-13 10:38] lauriejim commented on #368
Hello @nickngqs. The documentation about that will be publish today.
Actually you have to go in your admin dashboard, then in the user and permissions plugin and update `Guest` role and allow in `application` section find and findOne actions.

[2017-12-13 10:58] lauriejim commented on #365
Hello, you have to create manually your user table.

[code]

We are working to improve the user experience with SQL databases to make it easier to use.

If you want fake data in your application, you can create data using content manager plugin in some clicks.

[2017-12-13 11:26] nickngqs commented on #368
Ahh it works! But to be honest, i didn't even see the Application from the Accordion. The UI is abit weird? Thanks!

[2017-12-13 11:33] Aurelsicoko commented on #368
@nickngqs Thank you for the feedback! Maybe we should open the first tab of the accordion?

[2017-12-13 11:35] Aurelsicoko commented on #370
We are working on it, this is a known issue on our side. It's mainly due to the postInstall script which is in charge to install the node_modules of the plugins.

[2017-12-13 11:41] nickngqs commented on #368
Yup that would actually be good! And I do think that the other 3 sections is fighting attention with the Application section because they have icons, bigger, etc

[2017-12-13 12:49] Aurelsicoko commented on #368
I agree. I will make some design research to find a way to improve the UX of this page.

[2017-12-13 12:51] soupette commented on #368
I just made a PR to improve the UX on this view (https://github.com/strapi/strapi/pull/374)

[2017-12-13 13:20] soupette commented on #371
Hi could you be more specific on the error you got and the steps to reproduce it so we can take a look at it?

thanks in advance!

[2017-12-14 02:20] landysunny commented on #371
it's my first time to try the strapi and i find there is a question.I try to use the plugin which called Settings Manages because I want to choose chinese as my default language.But i find when I add the language of chinese,there is a error occurred. And I don't konw the reason. I try to add the other language , it's ok. But i cant just add chinese.Could tell me why and how can I solve this proble

[2017-12-14 13:20] Aurelsicoko commented on #363
@svallory Thanks for reporting this issue! Can you give us some log details, please?

[2017-12-14 14:13] dyunggertrude commented on #365
npm:5.6.0
node:v8.9.3
windows 10

Hello
I create table test in database Mysql and in 'Content Type Builder' menu !!
I create  new column on mySQL database with strapi
Saving Model ok
after that in shell windows i have these messages
DEBUG : GET /content-manager/explorer/test/count?source=content-manager (4 ms)
DEBUG : GET /content-manager/explorer/test/count?source=content-manager (3 ms)
ERROR : T

[2017-12-14 15:19] dyunggertrude opened #378 "Error using Mysql Database with strapi"
**Node.js version v8.9.3 **:
**npm 5.6.0 **:
**Strapi 3.0.0-alpha.7**:
**Windows 10**:

I followed the tutorial, I created users in MongoDB and added MySQL connection, and with it created a simple API through  'Content Type Builder' menu !!.
The JS code has been generated, when i add a value in database Mysql the server strapi restart after a PUT

INFO (13492 on PC-DE-DANIEL): To shut down your se

[2017-12-14 15:27] ridvann opened #379 "Creating a MongoDb Model One-Way Type Relationship"
**Node.js version**:  8.7.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.7.1
**Operating system**: MacOsX High Sierra

Hi,

MongoDb Model I want to create one-way type relationship. But I did not see such an option in the Admin Panel.

I read your help files. I added it as described.

[code]

But I am getting the following error.

[code]
What would I do wrong?

Thanks

[2017-12-14 15:32] soupette commented on #371
I just fixed the bug see: https://github.com/strapi/strapi/pull/380
In the meantime you can add a new locale by creating manually the file in `/config/locales/your_language.json`

[2017-12-15 02:07] landysunny commented on #371
I had try your solution. But It seems didn't work, could show me by details.

[2017-12-15 09:56] soupette commented on #378
Hello! I am having trouble understanding your issue... Could you be more specific when you say that the server restart after adding a new value?
If you're adding a new field or modifying an existing from the content type builder the server must restart since we're writing a file in your app.

[2017-12-15 10:06] soupette commented on #371
Could you tell me what is the ISO 639 code of the language you trying to add ?

[2017-12-15 10:14] lauriejim commented on #365
Hi @dyunggertrude, thank you for this report. It will be fix in `strapi@aplha.7.2` today or monday.
But if you want, you just have to replace `source` url attribute by `users-permissions` when you try to list your users in the content manager.

[2017-12-15 23:45] svallory commented on #363
@Aurelsicoko What I think is happening is that post install scripts don't run. Then, when trying to use strapi it starts complaining about missing modules. I added each one manually until I hit another error, just I don't remember what.

[2017-12-15 23:45] svallory commented on #363
I went ahead and installed using npm, so I don't have the logs anymore :/

[2017-12-16 01:31] rojasmi1 opened #382 "Feature request: Add parameter to choose the sorting order"
**Strapi version**: 3.0.0-alpha

Hi. I was taking a look at the documentation and saw there is an option for [sorting results](https://strapi.io/documentation/guides/filters.html#sort) from the API, but there is no way on choosing the order (ascendant/descendant).

Is something missing in the documentation or the option is just not available at all? If so, it'd be nice to have that option.

BTW, I

[2017-12-16 06:19] Taffyw opened #383 "a problem about Multiple types"
Hello, I would like to ask if we support the multilevel type type>child. In addition, in the management background, the prompt information is English, can it be modified to English, is it locales or JSON react component tag text? Thank you!

**Node.js version**: 8.2.0
**npm version**: 5.3.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: osx 10.13.1

[2017-12-16 14:17] soupette commented on #383
Hello @Taffyw!

If your question refers to the admin languages we actually use `react-intl` to handle internationalization : https://github.com/yahoo/react-intl.
The way it works is that every plugin (including the admin) has a `translations` folder located in `/admin/src/translations` each folder currently contains two languages `en.json` `fr.json` and the front-end uses `FormattedMessage` (https

[2017-12-16 16:12] Almusamim commented on #379
I'm getting same error.. are we doing something wrong here?

[code]

**Node.js version:** 8.1.3
**npm version:** 5.6.0
**Strapi version:** 3.0.0-alpha.7.2
**Operating system:** Win 10

[2017-12-17 16:19] peeomid opened #387 "Defining relationship"
**Node.js version**: 9.3.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: macOS High Sierra 10.13.2

I'm completely new to Strapi and is trying Strapi 3, seems like a great system, but having a bit of issue with defining relationship.

I'm using both the admin and code (follow the docs) to define relationship between 2 models but getting issues with both way, both

[2017-12-18 02:07] landysunny commented on #371
![step01](https://user-images.githubusercontent.com/30380258/34086969-08195a86-e3db-11e7-815b-19b1bebcbe95.png)
![step02](https://user-images.githubusercontent.com/30380258/34086971-09bbbb2c-e3db-11e7-8499-b4000075841a.png)
![step03](https://user-images.githubusercontent.com/30380258/34086973-0beefabc-e3db-11e7-88bf-892ef44395ab.png)
the picture show which error I meet with, please help me, thank

[2017-12-18 09:26] Aurelsicoko commented on #379
@Almusamim Thanks for reporting this issue. Can you try to make a `one-to-one` relationship following the [documentation](https://strapi.io/documentation/guides/models.html#one-to-one)?

Can you show me the structure of your models to reproduce the issue on my machine?

[2017-12-18 09:29] Aurelsicoko commented on #382
@rojasmi1 You can define the order with the `-` character. `GET /user?_sort=email` or `GET /user?_sort=-email`.

You're right, this information is missing from the documentation.

[2017-12-18 09:33] Aurelsicoko commented on #387
@peeomid Can you try to lowercase your collection name?

[code]

[code]

Btw, we are going to merge a new branch that will drastically improve the errors returned by the framework to know exactly what attribute is wrong in your models.

[2017-12-18 09:51] #368 closed

[2017-12-18 10:01] lauriejim commented on #370
It looks like it not coming from the`post install` script.
Can you remove your `node_modules` folder and try again your `npm install`.

[2017-12-18 10:06] soupette commented on #371
Thanks!

So if you like to add this language you need to create a `zh_Hans_CN.json` file in your `my-app/config/locales` folder

[2017-12-18 10:19] #365 closed

[2017-12-18 10:20] lauriejim commented on #365
Fix in this commit https://github.com/strapi/strapi/pull/381/commits/5b542cff2059b7a68fcceab638436e4684be34d7

[2017-12-18 10:44] lauriejim commented on #332
It's fix on `strapi@3.0.0-alpha.7.2` - to update to this version, change the strapi version in your `package.json`. Install `strapi@3.0.0-alpha.7.2` in global and generate a new project. Then copy and past the new plugins and admin folder in your application.

[2017-12-18 10:44] #332 closed

[2017-12-18 11:06] soupette commented on #371
I'm closing the issue

[2017-12-18 11:06] #371 closed

[2017-12-18 13:33] peeomid commented on #387
Hi @Aurelsicoko
Thanks for quick response. I've tried changing it all to lowercase and it works fine now. Seems like that's the issue.

Look forward to merge.

[2017-12-18 18:19] blondie63 opened #389 "Features"
I read "SQL & NoSQL databases: Work with Mongo as a main database, also supports Postgres, MySQL, etc." on https://github.com/strapi/strapi
But i don't understand if strapi can works without MongoDB..
I seen that "strapi new myprj" cmd create a project MongoDB based

Thanks for help
Blondie

[2017-12-18 19:26] hadihallak opened #390 "accessing the admin area from a new tab will prompt the user to re-enter his login credentials even if he was already authenticated."
**Node.js version**: v8.2.1
**npm version**: 5.4.2
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: windows 10

Title ^

[2017-12-18 21:39] ridvann commented on #379
Hello @Aurelsicoko ,

There is no problem with `One-to-one` method in my project.
But I want to use the `one-way` method. When I do this, the above problem is happening.
You can find my API files below.

Thanks

[api.zip](https://github.com/strapi/strapi/files/1569518/api.zip)

[2017-12-19 01:29] jbcoder opened #391 "Can't start. Won't start."
**Node.js version**: 8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Windows 10 & WSL

Issue:
I'm installing for the first time. I installed Strapi globally. I create the project. I `cd` into the directory. I run `strapi start` and I get the following error:
[code]

I have the same specs on both systems. I am getting the same error on both systems.

[2017-12-19 09:01] soupette commented on #389
Hi @blondie63! Strapi can totally works without MongoDB.

In order to do so you have to options :
1- Setup a new connection from the `settings-manager`[plugin](http://localhost:1337/admin/plugins/settings-manager/databases/development) (in this case you'll have to first have MongoDB running in order to access the admin panel)

2- Manually setup another database by editing your `./config/environmen

[2017-12-19 09:03] soupette commented on #391
Hi @jbcoder could you give us your either your database configuration file or your github repository so we can have a look?

[2017-12-19 09:04] soupette commented on #390
Hi @hadihallak what browser were you using?

[2017-12-19 10:54] RWOverdijk opened #392 "Using MySQL as database"
**Node.js version**: 8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: MacOS 10.13.2

I'm trying to set MySQL as the primary database, but it seems to not run migrations and create the tables. Is this an extra manual step I should be taking?

[2017-12-19 11:11] soupette commented on #392
Hi @RWOverdijk if you're using MySQL you have to manually create the tables, migrations can only be ran if you're using MongoDB.

[2017-12-19 11:13] RWOverdijk commented on #392
@soupette Which tables? Where can I find the tables to be created?

[2017-12-19 11:55] pcornier opened #393 "Redirection problem"
**Node.js version**: 8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Ubuntu 16.04

It seems not possible to create the first user after moving Strapi to production.

I installed Nginx and redirected port 80/443 to localhost:1337 but when I try to access:
`https://mydomain.org/admin`

I'm redirected to:
`https://mydomain.org/http://localhost:1337/admin/plugins

[2017-12-19 12:51] hadihallak commented on #390
@soupette Chrome Version 63.0.3239.84 (Official Build) (64-bit)

[2017-12-19 12:54] acifer commented on #390
This problem is in mac safari too.

[2017-12-19 14:58] blondie63 commented on #389
Looking on your docs i see that connector can be: "strapi-mongoose" , "strapi-bookshelf" or "connector": "strapi-redis" , right ?

[2017-12-19 16:14] soupette commented on #392
You just need to create the user table
[code]

[2017-12-19 16:16] soupette commented on #389
You'll need to create the user table to access the admin
[code]

Then change your `./config/environments/your_env/database.json` config file.
For example if you like to use `postgres` while developing

[code]

[2017-12-19 16:29] gianES commented on #391
hook.json

`{
  "timeout": 3000,  <<<<<<<<<<<<<<<<<<<<<<<
  "load": {
    "order": [
      "Define the hooks' load order by putting their names in this array in the right order"
    ]
  }
}`

[2017-12-19 16:39] angganegara opened #395 "Cannot get specific entry"
**Node.js version**: 8.8.1
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: MacOS Sierra 10.12.2

Fresh install of Strapi, following the docs quick start, everything working fine until **Get a specific entry (GET)** section. I have 2 entries on my Product table:

![screen shot 2017-12-20 at 12 33 13 am](https://user-images.githubusercontent.com/14870820/34167689-69c

[2017-12-19 17:04] blondie63 commented on #389
Hi, the proble is dependencies !
Look below:
iMac-di-Mauro:test mauro$ npm install

Install plugin content-manager dependencies...
npm notice created a lockfile as package-lock.json. You should commit this file.
Install plugin content-type-builder dependencies...npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN strapi-plugin-content-type-builder@3.0.0-alpha.

[2017-12-19 17:43] goodpixels commented on #395
Same here, I have been getting this error too.

[2017-12-19 18:39] jbcoder commented on #391
Hi, @soupette ! I don't have a repo yet. I was just trying it out. So, it's a fresh install. Here are my configurations.

`database.json`: dev environment
[code]

`database.json`: prod environment
[code]

[2017-12-19 18:40] jbcoder commented on #391
Hi, @gianES ! I changed `1000` to `3000` like in your `hook.json` file. That didn't seem to change anything.

[2017-12-19 18:44] gluxon opened #396 "WYSIWYG field type"
Is there interest from the maintainers for a WYSIWYG field type? We have the text field type at the moment, but it doesn't provide rich text capabilities. A WYSIWYG would be helpful for content editors on my team.

As far as implementation goes, CKEditor 5 might be an easy way to integrate this. https://ckeditor.com/ckeditor-5-builds/#classic

I can work on this a bit if the maintainers think this

[2017-12-20 06:10] rojasmi1 commented on #382
Cool! Thanks for the quick reply @Aurelsicoko!

[2017-12-20 12:40] lauriejim commented on #395
You are write, we are working on it

[2017-12-20 13:17] Aurelsicoko commented on #396
Sure, we would love to add a WYSIWYG in the Edit view. However, we didn't consider it as a proper type but more like an option to check in the Advanced Settings of the Text type.

If you want to work on this part, can you join the [Slack](https://slack.strapi.io/) and ping me (@aureliengeorget) in DM. I have screens to share with you.

[2017-12-20 13:20] Aurelsicoko commented on #393
Did you set the `host` domain in your build configuration [(see the documentation)](https://strapi.io/documentation/advanced/customize-admin.html#deployment)? You will need to rebuild the administration panel then.

[2017-12-20 13:24] Aurelsicoko commented on #391
@jbcoder Are you sure that your MongoDB is running? What are the models defined in your project? I would be nice if you can share your project in a public or private repository (don't forget to add us temporarily).

[2017-12-20 14:00] #354 closed

[2017-12-20 14:00] #351 closed

[2017-12-20 14:12] #328 closed

[2017-12-20 14:55] Aurelsicoko commented on #387
Amazing!

[2017-12-20 14:55] #387 closed

[2017-12-20 16:16] bytasv opened #401 "Strapi crashes when creating has-many relation"
**Node.js version**: v8.9.3
**npm version**: v5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Mac OS X

Hello

I've started working with strapi and already got an issue.

I created two content types and I want to define the relation of has-many between them. As soon as I do that through admin panel I start getting this error:
[code]

What am I doing wrong? Though I strongly believe

[2017-12-20 16:20] hadihallak commented on #395
also, why is it returning two ID fields  (id and_id) with the request?
is it a bug or am I missing something? because I've noticed this issue when I worked on strapi last night.

[2017-12-20 16:23] Aurelsicoko commented on #382
The documentation has been updated https://github.com/strapi/strapi/pull/400!

[2017-12-20 16:23] #382 closed

[2017-12-20 17:40] Aurelsicoko commented on #379
I double-checked... and it's crazy! We didn't implement the `one-way` relationship in the connectors but documentation is already there.

[2017-12-21 08:39] pcornier commented on #393
I was able to access the administration today:

- I re-installed everything
- I changed my config (just changed host in `server.js`)
- then I ran `npm install` in root directory and in admin directory.

I'm not quite sure I understand why it started to work - the only thing I changed is the configuration file that was edited before running `npm install` -  so I think this should be tested again by

[2017-12-21 09:16] soupette commented on #401
Hello @bytasv could you show us your models configuration?

[2017-12-21 09:18] soupette commented on #392
I'm closing the issue

[2017-12-21 09:18] #392 closed

[2017-12-21 09:19] bytasv commented on #401
@soupette could You please tell me where should I look at? Do You want me to paste the generated code?

[2017-12-21 09:27] soupette commented on #401
Yes please your API folder could be great. If you want add me to your github repository so I can take a look at it

[2017-12-21 10:20] Aurelsicoko commented on #393
The administration needs to know the host (IP or domain) to work well. I've added a new section in the documentation to explain [How to deploy](https://github.com/strapi/strapi/pull/397/commits/3c7efa07f819ed23be5a50324062adfd337cd0b0#diff-925b742cb88b0afdae5671aa57a18fe3).

[2017-12-21 10:20] #393 closed

[2017-12-22 09:14] MaLub opened #402 "(hook:mongoose) takes too long to load"
**Node.js v9.3.0**:
**npm 5.6.0**:
**Strapi 3.0.0-alpha.7.2**:
**Operating system MacOS 10.12.6**:

Trying the 'Getting Started':

[code]

I've installed mongo in a docker container.

Write a small node.js to test that the connection works (Package mongodb)

[code]

LOGS from the mongodb, connection seems to work

[code]

Here ist my develop/database.json
[code]

I've also looked at https://github

[2017-12-22 09:24] MaLub commented on #402
The error sits in fron ;) Wrong IP - now it works

[2017-12-22 09:24] #402 closed

[2017-12-22 13:10] caoer opened #403 "How to integrate with auth0?"
Hi, we have a client who is using auth0 as their user system service.
Can strapi integrate with [Auth0](https://auth0.com)?

[2017-12-22 15:47] futbotism opened #404 "Don't have any user roles created on first creation of app"
**Node.js version**: v7.6.0
**npm version**: 4.1.2
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: mac osx high sierra

When i load the Auth & Permissions section of the admin interface the `http://localhost:1337/users-permissions/roles` doesn't load and i get a `{"statusCode":400,"error":"Bad Request","message":[{"messages":[{"id":"Not found"}]}]}`

there doesn't seem to be a `guest` or

[2017-12-22 15:51] futbotism commented on #404
when i changed the formatting in the console error to,

`getRoleConfigPath: () => (path.join(strapi.config.appPath,'plugins','users-permissions','config','roles.json')),`

It worked 👍

[2017-12-22 18:20] kakaroto1500 commented on #378
so I understood I think the complaint of it and when it throws a new die using api and the server give a restart

[2017-12-22 19:34] gluxon commented on #396
Glad to hear. That sounds like a better idea that making WYSIWYG its own type. I'll reach out on Slack.

[2017-12-23 08:48] maektwain opened #406 "Relationship criteria using find() or other model related issues"
**Node.js version**:
9.3.0
**npm version**:
5.6.0
**Strapi version**:
1.xx
**Operating system**:
Mac OS X Sierra

When trying find(this) with criteria it does not seem to care or maybe i am doing something wrong please help.

What i want?

I have a model deposits which is associated by createdBy -- User,  but it shows all of the data to any user who is logged in. Now i know that i can use criteria

[2017-12-23 09:54] bytasv commented on #401
@soupette hey, I've just pushed to a public repo my code that does not work: https://github.com/bytasv/strapi-test

[2017-12-23 15:49] dakuenjery opened #407 "Sort not working with decimals"
**Node.js version**: 9.3.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: macOS 10.13.2

The request `http://localhost:1337/product?_sort=decimal` returns the following

    [
        {
            "_id": "5a3e76a1711b332e62151da6",
            "name": "Item 1",
            "decimal": "1499.1",
            "__v": 0,
            "id": "5a3e76a1711b332e62151da6"

[2017-12-23 15:50] dakuenjery commented on #407
![image](https://user-images.githubusercontent.com/2018050/34320777-22e98dd2-e812-11e7-868b-96c66811277c.png)

[2017-12-23 17:30] dakuenjery commented on #407
This is due to the fast strapi use mongoose-double, which store double values as string on mongodb. Mongo sorting values as strings

[2017-12-23 20:00] dakuenjery commented on #407
#408 This fixes the problem

[2017-12-25 14:05] mehdi-cit opened #409 "Your experience with self hosting Strapi?"
Hello all.
I'm looking into Strapi as it allows for selfhosting (It is mandatory for many clients keep their data in-house, so cloud is out of the question ).
My question is to the limitations of self-hosting Strapi apps. How was your experience with self hosting and maintaining/scaling Strapi apps.
A quick note to the Strapi team. We are our selves software developers and do understand the need t

[2017-12-25 14:40] ArkhipovK opened #410 "(hook:knex) wasn't loaded due to missing key `enabled`"
**Node.js version**: v8.9.3
**npm version**:  5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Win7 Ultimate

Hello, yesterday i tried to start new strapi project with remote heroku database (postgres), but faced the couple of issues.

My database.json configuration file:
`
{
    "defaultConnection": "default",
    "connections": {
        "default": {
            "connector": "stra

[2017-12-26 17:27] mehdi-cit opened #411 "Suggestion (Easy GraphQL "enabling")"
Hello All,
I saw graphql mentioned in the roadmap, The library below might go a long way in making it easy to have strapi "GraphQL enabled" (At least for the read part)
https://github.com/stems/join-monster

[2017-12-27 06:51] ArkhipovK commented on #410
Ok. I got it. I installed 'npm install strapi-bookshelf', but the correct action was 'npm install strapi-bookshelf@alpha'. This solved the problem.

[2017-12-27 06:53] #410 closed

[2017-12-28 10:19] alexbigapps23 opened #412 "Cannot read property 'defaultConnection' of undefined"
**Node.js version**:8.9
**npm version**:5.5.1
**Strapi version**:3.0.0-alpha 7.2
**Operating system**:

hi how i can fit it
Cannot read property 'defaultConnection' of undefined ?

[2017-12-28 19:35] maektwain commented on #406
I have moved to Loopback.io seems like a better choice compared to strapi

[2017-12-28 19:35] #406 closed

[2017-12-29 08:20] vinaybedre opened #413 "No support for array of objects"
**Node.js version**: v8.5.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Win 10

Hi. I know Strapi is still in active development, but would like to point out that strapi doesnt have any support for array of objects. If this can be done, it will be way too useful for many to create their own APIs.

[2017-12-31 12:27] rainbow57 commented on #391
@jbcoder I got an error like yours( (hook:mongoose) takes too long to load ). And It's because MongoDB is not running. I suggest you check it from two points:
1. the database settings in the configuration file are correct or not.
2.MongoDB is working?

[2018-01-02 12:48] Khanji opened #415 "Development mode not working"
**Node.js version**: 8.6.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: Windows 10

-------------------------
Development mode
#1 — Install its own dependencies

- [x] works

Run npm install from the ./admin

#2 — Launch the development server

- [ ] works

Run npm start from the ./admin folder. That's all.

#3 — Go to the browser

- [ ] works

You should be abl

[2018-01-02 19:15] jbcoder commented on #391
@Aurelsicoko @rainbow57 Ahhh! I didn't realize that was supposed to be running yet. I haven't worked with MongoDB before and didn't see it in the README. Let me try that and get back to you.

[2018-01-04 10:09] lauriejim commented on #412
Hello @alexbigapps23 can you give me more information about your problem.
When this problem happens?

[2018-01-04 10:19] #339 closed

[2018-01-04 10:31] lauriejim commented on #395
You receive data of your document object. So you have `_id` and `__v` keys.

[2018-01-04 12:35] hilongjw commented on #415
the problem seems caused by flat dependence of npm.

OS: macOS 10.12.4
node:  8.7.0
npm version: v5.6.0

[2018-01-04 13:08] pierreburgy commented on #403
During the next few weeks we are going to integrate [PassportJS](http://www.passportjs.org/) (and authentication providers, including Auth0 with https://github.com/auth0/passport-auth0).

Thanks to that, Auth0 integration will be available.

[2018-01-04 14:37] kmathy commented on #339
Thank you! 👍

[2018-01-04 16:10] lauriejim commented on #404
Hello @futbotism , thank you for this issue.
If you upgrade to node `8` and npm `5` it will fix this problem.

Can you make a PR with your changes please. It will help users who use node `7`

[2018-01-04 20:40] lucaperret opened #417 "Language model"
**Node.js version**: v8.9.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: macOS Sierra

Call to a created model "language" api endpoint return not found...
Is this a reserved word ? Or conflicting with another services ?

[2018-01-04 21:57] Khanji commented on #401
I've encountered the exact same error, but with the following steps, which makes sense why the error appeared:

1. create new content type through content manager, lets call it: Roles. Don't save it yet.
2. create new content type through content manager, lest call it: Users.
3. create a relation field with roles.
4. save the Users content type.

The same error appears.
[code]

@bytasv did you try

[2018-01-05 15:39] Aurelsicoko commented on #370
It should be fixed with the [latest release](https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.7.3).

[2018-01-05 15:42] Aurelsicoko commented on #180
It's an old issue, but the interested people, we wrote a [migration guide from v1 to v3](https://strapi.io/documentation/migration/migration-guide.html).

[2018-01-05 15:42] #180 closed

[2018-01-05 15:43] Aurelsicoko commented on #160
We are using Pino which is one of the fastest logger available on the market. I'm closing the issue because it's not relevant anymore. Thanks again for this discussion, it was very interesting.

[2018-01-05 15:43] #160 closed

[2018-01-05 16:01] Aurelsicoko commented on #41
Except for Lusca, the others middlewares have been updated and we can almost say that Strapi has successfully made the transition to Koa 2. I'm closing this issue because it's not relevant anymore. Thanks to everyone involved in it!

[2018-01-05 16:01] #41 closed

[2018-01-05 17:27] #306 closed

[2018-01-05 21:55] lkostrowski commented on #370
@Aurelsicoko
Hi, I just found this issue, because I met exactly the same error. I have built via CLI on my OSX env, then deployed to prod Debian, tried `npm install` and `npm run setup`, both failed with the same errors.
I made it running by creating a new app with CLI on server and copying files.
Can I provide some data to help?

BTW great job, I love strapi and will try to contribute if I meet t

[2018-01-05 23:07] lkostrowski opened #423 "Domain config / routing"
**Node.js version**: 9.3.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.3
**Operating system**: Debian 9 / OSX

Hi

I have deployed my demo-app to my VPS.
I have set my domain on `config/enviroments/production/server.js`

[code]

I have run my app by `NODE_ENV=production npm run start`

I can access `my-domain.com` easily and strapi is working.
When I go to `my-domain.com/admin` I get

[2018-01-07 17:25] gyan009 opened #425 "services"
**Node.js version**:
**npm version**:
**Strapi version**:
**Operating system**:

[2018-01-08 09:51] Aurelsicoko commented on #370
@lkostrowski Sure, it could be interested to share your logs to understand what happened in your case. Thank you for your kind words!

[2018-01-08 09:55] Aurelsicoko commented on #411
Thanks for sharing this library, I didn't know it. It could be very interesting the build the SQL part based on it. I'm closing the issue but feel free to continue the discussion if you have more to share with us.

[2018-01-08 09:55] #411 closed

[2018-01-08 09:56] Aurelsicoko commented on #391
Let me know if the issue is fixed and don't forget to close it ;)

[2018-01-08 10:03] Aurelsicoko commented on #413
@vinaybedre Currently, we are making our best to support the types which are available in MongoDB and also in SQL databases. Then, we will implement the more specific types that each database can support. For example, the array of objects isn't supported in MySQL but it's the case with MongoDB. However, we need to build the layer of the common and shared types across the databases first.

[2018-01-08 10:08] Aurelsicoko commented on #415
@Khanji

If you want to contribute to Strapi and enable the development mode, you have to follow these steps:

1. `git clone git@github.com:strapi/strapi.git`
2. `cd strapi`
3. `npm run setup`

Then, generate a project somewhere else using the development mode:

4. `strapi new myDevProject --dev`
5.  `strapi start` to run the server

Open a new tab in your terminal (at the root directory of your a

[2018-01-08 10:10] Aurelsicoko commented on #407
@dakuenjery Can you answer my [request in the PR](https://github.com/strapi/strapi/pull/408)? So we could merge your work and close this issue.

[2018-01-08 11:30] bytasv commented on #401
@Khanji after I start getting errors mentioned above, I can not do anything anymore. The application just keeps crashing and I'm unable to remove neither models, nor relations

[2018-01-08 12:06] dakuenjery commented on #407
I'm sorry for the delay. I'll try to do it as soon as possible.

[2018-01-08 12:57] soupette commented on #401
hi @bytasv could you add me to your repository so I can have a look?

[2018-01-08 13:03] soupette commented on #390
You'll have to check the remember me checkbox if you want to stay logged in

[2018-01-08 13:04] #390 closed

[2018-01-08 13:09] soupette commented on #389
What node version and strapi are you currently using?

[2018-01-08 13:10] soupette commented on #362
I'll close the issue feel free to reopen it if you still encounter this problem

[2018-01-08 13:10] #362 closed

[2018-01-08 13:12] soupette commented on #378
I'm closing the issue since it doesn't appear to be a bug but the expected behavior

[2018-01-08 13:12] #378 closed

[2018-01-08 13:18] bytasv commented on #401
@soupette do you need access? because the repo is public

[2018-01-08 13:22] edimitchel commented on #423
I confirm that is problematic, I have the same issue.
I suggest to create a reverse proxy configuration that in case of the redirection is made on reverse proxy info and not on server configuration.

[2018-01-08 13:32] soupette commented on #401
If test2 has many test1 then the files should be as follow :

*** Path -*** `api/test1/models/Test1.settings.json`
[code]
*** Path -*** `api/test1/models/Test2.settings.json`
[code]

[2018-01-08 13:33] lauriejim commented on #425
Hello @gyan009 , please update your issue with detail of your issue.

[2018-01-08 13:36] bytasv commented on #401
@soupette I created everything via admin UI that is provided. I will try to do the same with 7.3 and will let You know here

[2018-01-08 14:01] dakuenjery commented on #415
The same problem on macos. Cannot run strapi-admin in development mode
[code]
[code]

[2018-01-08 14:04] blondie63 commented on #389
ops.. was an old msg..
i've used 3.0.0-alpha.7.2 on node 8.9.3

[2018-01-08 14:18] soupette commented on #389
And do you still have the problem?

[2018-01-08 15:25] blondie63 commented on #389
I've plan to test again when they/you release alpha.8.x :)

[2018-01-08 16:07] acifer opened #429 "Npm install gives error after updating from 7.2 to 7.3"
**Node.js 9.2.0**:
**npm 5.5.1**:
**Strapi 3.0.0-alpha.7.3**:
**Mac os Sierra 10.12.6**:
After updating application from 6.4 to 7.2 it was working if I installed npm install in the admin folders but post updating to 7.3.
Npm install is giving following error

module.js:544
    throw err;
    ^
can not find node_modules/strapi-utils/script/plugin-install.js'
    at Function.Module._resolveFilename

[2018-01-08 16:43] lauriejim commented on #429
Create new project with `7.3` version and replace the `admin` folder with the new one.

[2018-01-08 21:09] franzos commented on #134
I have the same issue. I cant get strapi to run in production mode.
`NODE_ENV=production && strapi start` - development
`npm start` - development
changes in package.json - still development

`npm@5.5.1, strapi@3.0.0-alpha.7.3, node@v9.3.0`

[2018-01-09 00:04] acifer commented on #429
I already did it apparently there is problem with the     "postinstall": "node node_modules/strapi-utils/script/plugin-install.js",
in package.json

[2018-01-09 01:20] edimitchel commented on #423
After tries, seems to be index.html file generated first time that hold wrong information into body attribute :
Find in `<body front=".../:1337/admin" back=".../:1337"` in the file `admin/admin/build/index.html` and clean it : that works !
@Aurelsicoko !

[2018-01-09 09:43] franzos commented on #423
@edimitchel thanks for this, finally gained access. I actually have to edit this file - after - the server has been started, because it's generated on every `npm start`. Aside from this bug, the documentation presents conflicting information:
Option 1) [official documentation](https://strapi.io/documentation/advanced/customize-admin.html#deployment)
Option 2) [recent commit](https://github.com/str

[2018-01-09 09:47] franzos commented on #370
@lkostrowski I've encountered the same issues as you, but noticed something odd manually copying the files: Previously Strapi created db collection names using plural (article**s**, user**s**), however after copying over the config (api) to production, Strapi tries to access collections using the singular (article, user), hence it can't find the data. I had to manually rename the collection. Did y

[2018-01-09 09:48] Aurelsicoko commented on #423
@edimitchel @franzos I'm currently working on it. We removed these attributes in production environment. More changes are coming, it's a very tricky part that involves many cases and I don't want to introduce more breaking changes so... Wish me good luck!

[2018-01-09 09:50] edimitchel commented on #423
Good luck :four_leaf_clover: @Aurelsicoko !
May the 4th be w/ u !

[2018-01-09 09:52] franzos commented on #393
This related to #423. Even with the correct settings, the admin panel remains inaccessible.

[2018-01-09 09:52] lkostrowski commented on #370
I finally had another issue  (#423) so haven't dig deeper.
I will try next time and to share something, this issue is a blocker for me

[2018-01-09 09:53] lauriejim commented on #429
Can you update the `postinstall` in your `package.json` to : `"postinstall": "node node_modules/strapi/lib/utils/post-install.js"` and try again please.

[2018-01-09 09:59] edimitchel commented on #423
I don't try [this config](https://strapi.io/documentation/advanced/customize-admin.html#with-the-plugins-on-another-server), may be a good workaround ?

[2018-01-09 10:14] #425 closed

[2018-01-09 10:15] #379 closed

[2018-01-09 10:22] lauriejim commented on #415
@dakuenjery you have to execute your `npm start` in the `admin` folder of your project and not in the `strapi-admin` folder of your strapi clone.

[2018-01-09 10:28] #363 closed

[2018-01-09 11:41] dakuenjery commented on #415
Admin folder is symlink to strapi-admin

[code]

[code]

[2018-01-09 13:18] acifer commented on #429
Thanks it works now. I guess there should be small posts about these issues, such as database table name change.

[2018-01-09 13:18] #429 closed

[2018-01-09 15:42] lauriejim commented on #415
Yes it's a symlink but I don't know why your `pwd` change to your strapi folder when you go in the admin folder.

In my computer :
[code]

[2018-01-09 15:47] franzos commented on #423
@edimitchel have you had any success with this config? I tried to add the 'admin' section to the existing config, however it didn't have any effect, even after a full rebuild. For now, the workaround you mentioned earlier works fine - just that you need to edit `admin/admin/build/index.html` every time strapi restarts.

[2018-01-09 15:58] dakuenjery commented on #415
If I create a "production" strapi project the admin folder is not a symlink. But it don't works anyway.

[code]

[2018-01-09 18:39] blondie63 opened #432 "MongoDB cluster connection"
can i use https://cloud.mongodb.com as DB ?

[2018-01-10 08:25] dakuenjery commented on #415
This is due to the shell. In the bash shell everything is working fine. But in the fish shell is not

[2018-01-10 08:47] lauriejim commented on #432
@blondie63 Yes you can. Set you database connection informations in `/config/environments/development/database.json` or via the settings manager plugin in your admin dashboard

[2018-01-10 09:22] blondie63 commented on #432
Do you have an example of setting for mongodb cloud atlas?

Inviato da iPhone Mauro

[2018-01-10 11:01] Aurelsicoko commented on #407
The PR has been merged, it should be fixed!

[2018-01-10 11:01] #407 closed

[2018-01-10 12:30] lachlantweedie commented on #392
This would be great in the docs - spent a while looking for how to do this with Postgres.

[2018-01-10 12:55] #417 closed

[2018-01-10 16:14] Aurelsicoko commented on #415
@dakuenjery By fish shell, you mean [this](https://fishshell.com/)? The setup process is very tricky and relies on several `process.env.***` paths. If they are not correct, it can't work.

[2018-01-10 16:27] Aurelsicoko commented on #423
@edimitchel @franzos @lkostrowski We made a lot of changes in the WebPack configurations (https://github.com/strapi/strapi/pull/431). You don't need to rebuild the plugins whatever the case and you only have to rebuild the admin in some cases. The documentation has also been updated. I hope it will fix the issue.

[2018-01-10 16:42] Aurelsicoko commented on #370
@franzos Yes, it was a mistake on our side. The collection names were pluralized without any reasons. We are now using singular table/collection names. You can force the collection/table name using the `collectionName` attribute in your models or rename your collections/tables.

[2018-01-10 16:43] Aurelsicoko commented on #393
It should be fixed with these changes https://github.com/strapi/strapi/pull/431

[2018-01-10 16:44] Aurelsicoko commented on #134
@franzos You need to remove the `&&` in your command `NODE_ENV=production strapi start`

[2018-01-10 23:01] franzos commented on #370
@Aurelsicoko good to know, thanks. I simply renamed the collection.

[2018-01-11 12:05] andyjessop opened #436 "(hook:knex) wasn't loaded due to missing key `enabled` in the configuration"
**Node.js version**: 8.6.0
**npm version**: 5.3.0
**Strapi version**: 3.0.0-alpha.7.3
**Operating system**: Mac Yosemite

I changed the database configuration to:
[code]
And created the database and installed `strapi-bookshelf`. When starting the app, I get the following error:

[code]

[2018-01-11 12:57] andyjessop opened #437 "No docs on strapi-plugin-graphql"
There has been mention of a graphql plugin, and it seems available on npm: https://www.npmjs.com/package/strapi-plugin-graphql

But there are no associated docs - can you give an update on its development for v3?

[2018-01-11 13:24] soupette commented on #437
Hi @andyjessop the development of this plugin hasn't started yet.

[2018-01-11 14:04] andyjessop commented on #437
That's a tad disappointing - I garnered from other discussions that development was well under way. Can I ask a follow up question: is there a timescale for this plugin, or should I start my new project on an earlier version?

[2018-01-11 14:24] lauriejim commented on #436
Hi @andyjessop , I will investigate this point.

For now make `$ npm install strapi-bookshelf@alpha strapi-knex@alpha knex mysql --save` it's have to work with that.

[2018-01-12 21:47] tmvanetten commented on #423
@Aurelsicoko I am still seeing the same issue with the latest version.  I have to clean that `admin/admin/build/index.html` and then update `config/environment/dev/server.js` to my instance ip to get it working.

[2018-01-12 21:57] edimitchel commented on #423
@tmvanetten Did you take last version of the code (from fix/deploy branch) ?
I don't see any pull request merged.. @Aurelsicoko, you confirm ?

[2018-01-13 02:46] gongchao opened #443 "use of strapi-bookshelf hints Table 'api.user' doesn't exist"
**Node.js version**:
v8.5.0
**npm version**:
5.5.1s
**Strapi version**:
3.0.0-alpha.7.3
**mysql version**:
5.6
**strapi-bookshelf version**
3.0.0-alpha.7.3
**Operating system**:
database.json
[code]

[code]

[2018-01-13 14:06] Rzeszow commented on #432
@blondie63
Here is link to Strapi Documentation
https://strapi.io/documentation/configurations/configurations.html#database

Remember to allow access to the database from a given IP address that uses your application or set global access.

./config/environments/**/database.json
[code]

[2018-01-13 18:00] etx opened #444 "Model errors when creating content types with caps or spaces"
I'm seeing a couple different kinds of errors when building content types from the admin UI. If you name the content type "Supdude" it works as expected.

If I name the content type "Sup Dude" and restart the server I see an error when the model is called.
`
ERROR (69527 on H8385.ad.hugeinc.com): ENOENT: no such file or directory, scandir '/Users/dkuschel/Desktop/strapi-dev/api/sup dude/models'

[2018-01-14 18:31] dakuenjery opened #445 "Debugging strapi plugins and admin ui"
How can I debug strapi plugin and admin ui? Is it possible? I tried insert '--inspect-brk' in npm start command. I catch init breakpoint, but I cannot debug after the app starts up.

p.s. Now the start command looks like this: "start": "node ./node_modules/strapi-helper-plugin/node_modules/.bin/cross-env NODE_ENV=development PORT=4000 IS_ADMIN=true node --inspect-brk ./node_modules/strapi-helper-p

[2018-01-15 07:12] ArkhipovK commented on #436
Quite enouth to install just npm install strapi-bookshelf@alpha --save
I had already opened ( and self-closed) similar issue cople of weeks ago.

https://github.com/strapi/strapi/issues/410

[2018-01-15 07:22] ArkhipovK commented on #443
Right now you have to create this table by yourself. As decsribed here https://github.com/strapi/strapi/issues/365

[2018-01-15 07:44] lauriejim commented on #443
Hi @gongchao and @ArkhipovK.

We will add a warn log in the next version to tell you to create user table. https://github.com/strapi/strapi/pull/416

[2018-01-15 07:44] #443 closed

[2018-01-15 08:03] #436 closed

[2018-01-15 08:38] lauriejim commented on #444
Hello @etx thank you for your issue.

It seems looks like to this issue (https://github.com/strapi/strapi/issues/328)

[2018-01-15 09:19] soupette commented on #445
Hi @dakuenjery! To debug the admin you need to start your project in development mode. You should check out the [Contributing guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) for informations.

[2018-01-15 09:25] soupette commented on #437
The graphql plugin is in our radar. Hoverwer, we don't know yet when the development is going to start. You can upvote the feature [on our requested features page](https://strapi.io/vote) to make it the most wanted feature.

[2018-01-15 13:17] dakuenjery commented on #445
Yes. But I cannot set breakpoints. It's inactive and not working. (In vs code if this is important)

[2018-01-15 14:01] blondie63 commented on #432
My scenario is:
Desktop for dev: iMac High Sierra
Local VM on vmware esx server with MongoDB 3.6
Account Mongo Atlas with a cluster just ready

On my desktop i’ve installed MongoDB Compass community edition and i can manage both MongoDB without problems, so there aren’t connection problems

On my Strapi test prj i’ve tried these two connections:
FIRST
{
  "defaultConnection": "default",
  "connect

[2018-01-15 14:02] soupette commented on #445
Are you sure you're on http://localhost:4000/admin/ ? I tried with the `debugger` and it seems to be working.

[2018-01-15 14:28] lauriejim commented on #432
Are you able to connect to these mongodb cloud database with a tiers software as `robomongo` (https://robomongo.org)?

[2018-01-15 14:57] dakuenjery commented on #445
Yes. I use http://localhost:4000/admin/ . Vs code version is 1.19.2

[2018-01-15 15:10] blondie63 commented on #432
yes i can connect also with this client without problems, tested now both connections

[2018-01-15 18:08] acifer opened #449 "Unauthenticated Users are able to access protected resource"
**Node.js v9.2.0**:
**npm 5.6.0**:
**Strapi 3.0.0-alpha.7.3**:
**Operating system Mac os Sierra.**:

if Authorization header is not passed to a request "plugins.users-permissions.permissions" policy is not able to restrict access on an User created api.

[2018-01-16 08:16] lauriejim commented on #449
Hello @acifer can you be more precise. What do you mean by "User created API" ?
Don't really understand your problem.

[2018-01-16 08:26] #412 closed

[2018-01-16 08:32] lucaperret opened #450 "Deployment without admin"
Node.js version: v8.9.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.7.3
Operating system: macOS Sierra

My deployment was broken because the admin folder wasn't with it, the script inside the npm
 `postinstall` phase call the dependencies install inside the admin folder.
I have temporarely fixed by replacing the postinstall script:
[code]

[2018-01-16 08:50] lucaperret opened #451 "Dynamic configurations"
Node.js version: v8.9.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.7.3
Operating system: macOS Sierra

Dynamic configurations isn't working properly.
When using template literals on database name configurations `"database": "${process.env.DB_NAME}"`, mongodb thrown an error: `ERROR (MongoError/33 on 5e9ae6854dbd): database names cannot contain the character '.'`.
It is the same on each connect

[2018-01-16 09:23] gourraguis opened #452 "Cannot use an external database with strapi"
**Node.js version**:v8.9.0
**npm version**:5.6.0
**Strapi version**:3.0.0-alpha.7.3
**Operating system**:Windows 10
I want to use strapi with an external mongoDB database hosted at mLab, I configured my strapi application to connect with the right setting on on the database.json file:
`{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-mongoose",

[2018-01-16 09:40] Aurelsicoko commented on #451
It has been fixed in this commit (https://github.com/strapi/strapi/pull/431/commits/9031ff1799e5aa4c285a6acedbafe125c2a189e6#diff-9644d9780d0570bf4d1528fc66540eb6R378). It should be released quickly.

[2018-01-16 11:02] AnorakTech commented on #134
Same behavior here. strapi won't start in production environment.

`
{
  "name": "workflow",
  "private": true,
  "version": "0.1.0",
  "description": "A Strapi application.",
  "main": "./server.js",
  "scripts": {
    "setup": "npm install --ignore-scripts && cd admin && npm run setup",
    "start": "NODE_ENV=production node server.js",
    "strapi": "node_modules/strapi/bin/strapi.js",
    "lin

[2018-01-16 15:38] Aurelsicoko commented on #134
@AnorakTech Did you try to run this command `NODE_ENV=production npm start`?

I tested it again and it works as expected.

[2018-01-16 16:14] rcorzogutierrez opened #453 "front-end by default"
**Node.js version**: 8.9.3
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.3
**Operating system**: Windows 10 fall creator

I know that it is not the main objective of the project, and perhaps others have already commented but it would be interesting to have a default front-end that would allow visualizing the APIs in an HTML component (List, table, etc.)

[2018-01-16 18:29] Amurmurmur opened #455 "roles.json"
**Node.js version**:
**npm version**:
**Strapi version**: 3.7.3
**Operating system**: MacOSX High Sierra

Why do you store all the permissions in the roles.json file ? Is it safe from a security prospective?
Why not storing it in the MongoDB?

[2018-01-17 06:37] storm1er opened #456 "Strapi fail to create relations between custom content type and users"
**Node.js version**: 8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.7.3
**Operating system**: Ubuntu 17.10 x64

----

Hi everyone,

I don't know if it's related to #401 but everytime I create a relation between some custom content type and users it fails :

* Remove browser cache & cookie
* Drop strapi database from mongo
* `strapi new my-awesome-app && cd my-awesome-app && strapi st

[2018-01-17 07:45] lauriejim commented on #455
Hello @Amurmurmur thank you for this issue.
We are actually moving it on MongoDB, it's will be available in few weeks.

[2018-01-17 07:53] lauriejim commented on #355
With this two new features https://github.com/strapi/strapi/pull/420 and https://github.com/strapi/strapi/pull/416 we improve the user experience for SQL database project.
Will be available in version `alpha.8`

[2018-01-17 07:53] #355 closed

[2018-01-17 08:13] mehdi-cit commented on #411
Another library that may help with mutations as well. MongoDB support should be coming as well.
https://github.com/graphcool/prisma
https://github.com/graphcool/prisma/issues/1643
However, note that the license is "Apache 2"
https://github.com/graphcool/prisma/blob/master/LICENSE

[2018-01-17 09:42] Aurelsicoko commented on #411
@mehdi-cit We already developed something very similar to Prisma two years ago (https://github.com/strapi/waterline-graphql). We will base our future work on it.

[2018-01-17 09:44] Aurelsicoko commented on #453
@rcorzogutierrez Are you looking for a documentation front-end that will list the API's routes, etc?

[2018-01-17 09:49] Aurelsicoko commented on #455
@Amurmurmur As Jim said, we are moving them in the database. It's not related to security issue but to scaling issue. We are iterating on the product and it was the easiest way to implement quickly the permissions system at first. Now, we are having enough feedback from the community, we figured out that it won't scale on large projects.

We are trying to store the configurations as much as we can

[2018-01-17 09:51] Aurelsicoko commented on #411
Yes, it is but the logic will be the same. Instead of calling Waterline functions, we will use our Query system to call the CRUD methods on the right connector (strapi-bookshelf or strapi-mongoose).

[2018-01-17 09:59] Aurelsicoko commented on #423
The [PR](https://github.com/strapi/strapi/pull/431) has been merged yesterday. It should be released today.

[2018-01-17 12:28] storm1er commented on #456
## Chrome console log :

![image](https://user-images.githubusercontent.com/9821946/35042608-ac24183a-fb89-11e7-89c4-cd1b440cd259.png)

With strapi@alpha
* The server restarted multiple times while saving the new content type (causing `_health ERR_CONNECTION_REFUSED`).
* The last request to `/content-type-builder/models/test?` was the request to see the content type `test` model which display "err

[2018-01-17 12:54] storm1er commented on #456
News : creating the project with `strapi new [project-name] --dev` make the error disappear. The cms is working well in dev mode.

[2018-01-17 13:52] acifer commented on #449
When I create a custom API without using the Strapi-CLI tool or Admin dashboard api's are not getting protected by default.

[2018-01-17 16:57] rcorzogutierrez commented on #453
@Aurelsicoko the idea is to be able to visualize in a friendly way, the result of the api in html components. I know that the api can be consumed by any front-end framework (angular, vue.js, react, etc.) but not, immediately, development and a lot of code is needed. I also think that it would give an additional value to the project,

[2018-01-17 17:37] RoymanJing opened #462 "Why does strapi always automatically restart?"
**Node.js version**:8.94
**npm version**:5.6.0
**Strapi version**:3.0.0-alipha.7.3
**Operating system**:centos-release-7-2.1511.el7.centos.2.10.x86_64

Strapi always automatically restarts, the performance is bad, please help.

INFO (10473 on localhost): Server started in /home/wpe/strapiDemo/strapiDemo
INFO (10473 on localhost): Your server is running at http://localhost:1337
DEBUG (10473 on loca

[2018-01-17 17:41] Aurelsicoko commented on #462
It's caused by the `log.txt` file at the root of your project. Also, to avoid the restart you have two choices:

- Run your server using `npm start`
- Disabled the auto-reload feature https://strapi.io/documentation/configurations/configurations.html#server

[2018-01-17 18:19] RoymanJing commented on #462
got it, thanks!

[2018-01-17 18:19] #462 closed

[2018-01-18 04:03] dcalsky opened #463 "Admin dashboard mobile support"
Current admin dashboard is mussy on the mobile device. Do we have any plan to fix it?

[2018-01-18 07:23] lauriejim commented on #456
Hi @storm1er.

Can you try to do same actions (without dev mode), but after you test model creation, wait the server restart. It has to restart 2 times (it's actually normale). And tell me if the problem is persistent.

We are working on a "waiting" loader after you make actions which need a server restart to avoid you to have this issue.

[2018-01-18 07:57] storm1er commented on #456
# What I've done :

## Checkout tag `v3.0.0-alpha.8`
* `npm run setup`
* Check `strapi -v`
* Remove & clean : mongo & cookie
* `strapi new my-awesome-app && cd my-awesome-app && strapi start`
* Connect, create account, create new content type
* Create relation field, save, wait 2 server restart
* Try to look at the new content type model : :white_check_mark:

## Checkout tag `v3.0.0-alpha.7.3`
_Th

[2018-01-18 07:57] #456 closed

[2018-01-18 11:11] acifer commented on #449
@lauriejim were you able to reproduce the bug. Actually, my application was created using the Strapi version 6.4 then I successfully migrated to 7.2 but for a guest User the API is not protecting the endpoints created without using Strapi-CLI or admin dashboard. It will be really nicer if we have less magic in these CLI created API and everything is transparent.

[2018-01-18 11:32] harshilsharma63 opened #467 "Strapi fails with two PostgreSQL databases"
**Node.js version**: 8.9.3
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8
**Operating system**: Ubuntu 16.04 x64

I have two PostgreSQL databases with multiple tables in each of them. Strapi works fine with either of them bit not both. As soon as I add both databases in `config/environments/development/database.json` or via UI, strapi fails to start with following error message -

    Se

[2018-01-18 11:43] lauriejim commented on #463
You will find the answer here https://stackoverflow.com/questions/48254489/strapi-responsive-ui

[2018-01-18 11:43] #463 closed

[2018-01-18 12:36] harshilsharma63 commented on #467
Just for information, I'm using PostgreSQL 9.5.10.

[2018-01-18 14:38] kevinskyba opened #468 "UnhandledPromiseRejectionWarning on "strapi new""
Hey,

when I run the following, I get the said issue. I'm not able to create a new proejct on my setup.

INFO (18316 on PC): Creating your application... It might take a few seconds.
INFO (18316 on PC): Lets configurate the connection to your database:
 Choose your main database: MongoDB (highly recommended)
 Database name: project
 Host: localhost
 Port: 27017
 Username:
 Password:
INFO (18316 on

[2018-01-18 14:46] Nsbx commented on #468
Same problem, i think we need to create condition to execute different command over OS detected
I found usage here : https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/before.js
Line : 210

[2018-01-18 18:52] kevinskyba opened #472 "When in a relation, user's sensitive data should be masked"
By default, for privacy and security reasons, private user data should be masked when user is in a relation with another content-type.

**Behaviour:**
[code]

**Expected:**

[code]

**In my opinion this should be the default case for any query on any user object, if the authenticated user itself is not requesting it.**

**Strapi version**: 3.0.0-alpha.8

[2018-01-18 23:12] lucaperret commented on #450
With Strapi 3.0.0-alpha.8, the error is catch, so at least, it continue to start !

[2018-01-18 23:12] #450 closed

[2018-01-18 23:20] lucaperret opened #474 "Installing admin package on now.sh"
Node.js version: v8.9.4
npm version: 5.6.0
Strapi version: 3.0.0-alpha.8

When trying to deploy on [now.sh](https://zeit.co/now), facing this issue:
[code]

Maybe link to [this specification](https://zeit.co/docs/deployment-types/node#file-system-specifications):

After either the start or now-start scripts have started running, the only writable location will be /tmp.

[2018-01-19 01:42] lucasdu4rte opened #475 "Erro in MySQL query run server"
**Node.js version**: v9.4.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8
**Operating system**: Ubuntu 17.10

after I run strapi I was asked to do two steps manually, execute the query and restart the server
[code]
This SQL QUERY generate erro:

My Solution:
[code]
I'm a beginner developer, and I still do not know and I did not try to contribute to the project: /

[2018-01-19 02:34] ArkhipovK opened #476 "Dynamic database configuration doesn't await for input"
**Node.js version**:  v8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.8
**Operating system**: Win7 Ultimate
Cannot enter in time connection parameters during `strapi new`. Generation just refuses in few seconds.
It is remarkable that this problem occures only with postgre, mysql and sqlite3 databases. Redis and mongo are awaiting input as much time as necessary.

![default](https://u

[2018-01-19 10:26] trburgess opened #479 "More transparency of usage logging"
https://github.com/strapi/strapi/blob/a76b0022c04e540efd7fa43905879e9b6c0d0c8e/packages/strapi/lib/utils/index.js#L115

Hello, firstly I love what you are doing with Strapi. The only thing that would be great would be if there was a more prominent notification that usage statistics are being logged with the following:
[code]

[2018-01-19 12:21] edimitchel opened #481 "Strapi don't check if current directory is actually a strapi project"
On requesting start-up of my strapi application, before anything, strapi don't check if the current directory is a strapi project..
I type this command in the wrong directory `NODE_ENV=production strapi start`.

A little enhancement may be ?

Here my logs :
[code]

[2018-01-19 13:37] niallobrien opened #483 "Adding new custom field types"
Hi, I'd like to explore the possibility of creating new field types to further expand what's already within Strapi. How would I go about this?

Thanks in advance.

**Node.js version**: 8.9.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.6.7
**Operating system**: Windows 7 Enterprise

[2018-01-19 13:53] soupette commented on #483
Hi @niallobrien you'll have to modify the content-type-builder plugin and the content-manager plugins.
In order to do so you have to start your project in [development mode](https://strapi.io/documentation/plugin-development/quick-start.html)

**Steps to display your new input in the content type builder**
- To display your new field you'll have to add it in the `/plugins/content-type-builder/admi

[2018-01-19 15:17] radmen opened #485 "Failed to create new app with Sqlite3 database"
**Node.js version**:
9.3.0

**npm version**:
5.5.1

**Strapi version**:
3.0.0-alpha.8.2

**nvm version**:
0.33.6

**Operating system**:
macOS High Sierra (10.13.2)

I tried to create new Strapi app with sqlite3 database. Configuration wizard asks me for details of database connection (!) and then fails after providing default values.

Below, I'm pasting an excerpt from the console.

[code]

[2018-01-19 16:27] ArkhipovK commented on #485
The same problem with postgres and mysql.

[2018-01-20 08:36] moeinrahimi opened #487 "content type won't save"
**Node.js version**: v8.5.0
**npm version**: 5.3.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: windows 10 64bit
basically content type is not working at all, I create a content type and fields for it then hit save and pop says it created ok, but when i click the new contnet type just created on the sidebar it failes, looks like it doesn't save to database
error message in console
[co

[2018-01-20 08:40] moeinrahimi commented on #318
in my case changing host from localhost to 127.0.0.1 in database.json at development folder did the trick

[2018-01-20 10:23] blondie63 commented on #432
yeah !! i've started my first prj with mysql and alpha 8.3 :)

[2018-01-20 14:04] bytasv commented on #401
@Aurelsicoko @soupette - I've tested with latest version and it seems to be working fine! Thanks guys, great work

[2018-01-20 14:04] #401 closed

[2018-01-20 15:32] lucaperret commented on #395
I've generated a new app to see the differences of /api/* files with mine, and there is a difference in the fetch method of services/_model_.js.
To correct this bug, you should update like this commit https://github.com/strapi/strapi/commit/519239c35c01135f0c5c0222d10f5309a190dd60.
@Aurelsicoko maybe could be could to add this in the migration guide ?

[2018-01-22 01:08] DrChills opened #488 "Relation error"
**Node.js version**: v8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Win 10

I've created a relation between 'posts' and 'postCategories'. I've created this in 'posts' content type builder as 'Post Categories has many posts'. This saves as

post.settings.json:
`"postCategories": {
      "model": "postCategories",
      "via": "posts",
      "plugin": ""

[2018-01-22 01:11] DrChills commented on #488
Update,

seems to work fine! however, it gives me the id of each entry, which isn't ideal from a users point of view!

[2018-01-22 01:52] lucasdu4rte opened #489 "Run strapi in docker container"
Hello guys, I'm studying strapi use cases and as we are also studying docker. After many attempts at dockerfiles, and configuration file changes I decided to ask for help because my attempts were flawed.

[2018-01-22 08:11] lauriejim commented on #449
We fix it in `alpha.8` all new controller's actions are disable for guest users and other groups you have created. To available it you have to use you admin dashboard.

To move to `alpha.8` you can use this guide https://strapi.io/documentation/migration/migration-guide-alpha-7-4-to-alpha-8.html

[2018-01-22 08:14] #468 closed

[2018-01-22 09:52] #370 closed

[2018-01-22 09:55] Aurelsicoko commented on #451
It has been fixed on alpha.8.3. Feel free to reopen the issue if it still doesn't work.

[2018-01-22 09:55] #451 closed

[2018-01-22 09:58] Aurelsicoko commented on #423
Guys (@edimitchel, @tmvanetten, @franzos @lkostrowski), can someone test with the latest version (alpha@8.3)? It should be fixed. We were able to deploy on Heroku and AWS.

[2018-01-22 10:53] #476 closed

[2018-01-22 12:21] edimitchel commented on #423
It works properly!
I'll continue test but it seems to be good!

[2018-01-22 12:55] ArkhipovK opened #493 "One way relation interface"
**Node.js version**:  v8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Win7 Ultimate

It is impossible now to create one-way relations via admin pannel interface.

Moreover i can't figure out how i can specify field for filling the corresponding column. Let assume we have 2 models (stuff and order). And we want the order to belong to some stuff in classical o

[2018-01-22 13:33] #395 closed

[2018-01-22 13:40] ArkhipovK opened #494 "Not all fields are render in view mode"
**Node.js version**:  v8.9.3
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Win7 Ultimate

My model:

[code]
Response:
![default](https://user-images.githubusercontent.com/9945452/35224262-360af684-ffa6-11e7-9ed9-ec19b493d587.png)

Result:
![default](https://user-images.githubusercontent.com/9945452/35223606-c46dc58a-ffa3-11e7-8b86-275d69370f89.png)

[2018-01-22 20:47] lethak commented on #437
Hi, I was considering using strapi for a new project and I feel like the lack of a 'native' GraphQL support is going to be a problem. You guys are doing a dream CMF, shame you dropped this with 3.x.

[2018-01-22 22:51] alexanderwallin commented on #452
You are including the port number in the `host` field – is that correct?

[2018-01-22 23:09] alexanderwallin opened #495 "Dynamic configurations from environment variables"
**Node.js version**: 9.4.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Heroku-16 (Ubuntu 16.04)

I'm trying to figure out a way to deploy a Strapi app to Heroku.

A free Heroku instance gets a dynamic port number on each start, provided in the `PORT` environment variable, which a web app needs to serve its content to. Since Strapi configs are in JSON, I can't f

[2018-01-23 05:58] harshilsharma63 opened #496 "Handle JSON input in content manager"
**Node.js version**: 8.9.3
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Ubuntu 16.04 x64

Additional details -
**Database**: PostgreSQL
**Database version**: 9.6.6

Values in JSON fields appear as `Map {"<key>": <value> }`. For example

Value saved through UI - `{"a": 5, "b": 10}`
Value persited in database - `{"a": 5, "b": 10}`
Value displayed in UI - `Map { "a

[2018-01-23 08:52] Froelund opened #498 "Styles breaking when Model description exceeds one line in the table"
**Node.js version**: 8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Mac OSX

A model containing a "long" description, will mess up the table(list of models) in Content Type Builder plugin.

Model example:
[code]

![image](https://user-images.githubusercontent.com/2089088/35266263-fc659ccc-0022-11e8-9a98-5c8f72405ae2.png)

[2018-01-23 09:50] Aurelsicoko commented on #495
@alexanderwallin Sure you can do it by editing your `/production/server.json` file like this:

[code]

[2018-01-23 09:54] Aurelsicoko commented on #472
@kevinskyba You're totally right! We should hide sensitive data coming from User model. We will fix the issue in the next release.

[2018-01-23 09:56] Aurelsicoko commented on #423
Woooohoo! This one wasn't easy to fix. So many use cases to handle... Feel free to comment and reopen the issue if necessary.

[2018-01-23 09:56] #423 closed

[2018-01-23 09:58] Aurelsicoko commented on #496
@harshilsharma63 Not sure the clearly understand the issue here... Can you give us more details?

[2018-01-23 10:13] alexanderwallin commented on #495
Whoa, brilliant. Thanks!

[2018-01-23 10:13] #495 closed

[2018-01-23 10:29] #415 closed

[2018-01-23 10:41] harshilsharma63 commented on #496
@Aurelsicoko please see following screenshots to get a better idea

Data in database - https://imgur.com/zt3usIa
Same data displayed in Strapi admin - https://imgur.com/GPbgYWd

My model.json
[code]

[2018-01-23 11:03] lauriejim commented on #487
Hello @moeinrahimi , can you try again. But wait the server restart (2 times) before going on the content type page.

[2018-01-23 11:08] lauriejim commented on #488
Hello @DrChills, can you try to create `postcategories` content type instead of `postCategories`.

[2018-01-23 11:10] lauriejim commented on #481
Hi @edimitchel thank for this issue.
Really low impact on Strapi so it's not in our priority.

[2018-01-23 11:11] lauriejim commented on #475
Hi @lucasdu4rte thank your for this issue.

A pull request have been submitted to fix it https://github.com/strapi/strapi/pull/497

[2018-01-23 11:14] edimitchel commented on #481
Yes, but I want to let you deliver a perfect solution, so this issue is appropriate ;)

[2018-01-23 11:39] Froelund commented on #498
I've fiddled around with the styles, and adding `display: initial` to the `li` element fixes the issue.

[2018-01-23 22:48] niallobrien opened #503 "Homepage doesn't update after creating first content type"
**Node.js version**: 8.9.0
**npm version**: 5.5.1
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Windows 7 (Enterprise)

After creating my first content type, the homepage still displays the below message.

![image](https://user-images.githubusercontent.com/1525669/35304968-7c01bf8a-008f-11e8-9a00-0c04ccf1b0c2.png)

[2018-01-23 22:59] niallobrien opened #504 "REST routes with plural resource names"
Node.js version: 8.9.0
npm version: 5.5.1
Strapi version: 3.0.0-alpha.8.3
Operating system: Windows 7 (Enterprise)

Hi, if my understanding of REST is correct (and based on how other frameworks have implemented it eg. Laravel, Rails etc.)
Shouldn't all REST methods operate on a plural form of the resource? For example, you'd GET all posts via `/posts` and not `/post` and DELETE a specific post via

[2018-01-23 23:52] John0x commented on #468
is this already published?
I have the same problem using the newest alpha version from npm

[2018-01-24 00:00] smachs opened #505 "An internal server error occurred."
**Node.js version**: 8.0.0
**npm version**: 5.0.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Ubuntu 16.04 LTS

My connection with mongodb is flowing normally but when I try to do some post or query I get these errors:

`DEBUG (28854 on electron-smachs): GET /employeefunction (116 ms)
DEBUG (28854 on electron-smachs): GET /favicon.ico (25 ms)
ERROR (28854 on electron-smachs): Cannot

[2018-01-24 04:34] htamhue opened #506 "3.0.0-alpha.7.2"
**Node.js version**: >7
**npm version**: >3
**Strapi version**: 3.0.0-alpha.7.2
**Operating system**: window

Hello everyone!
How to config textarea as WYSIWYG field type?
![image](https://user-images.githubusercontent.com/16870937/35314730-b307e412-00fa-11e8-8258-d928ce580c22.png)

[2018-01-24 04:41] htamhue commented on #503
![image](https://user-images.githubusercontent.com/16870937/35314841-6121b2ee-00fb-11e8-80c9-3c538ab92f3a.png)
You can click **Posts** type

[2018-01-24 05:05] gluxon commented on #415
Hm... I thought I saw one of the error outputs mention a similar error I was receiving with `rootAdminpath` being undefined. I'm not seeing it after double checking here, so I apologize if this is still an issue and I mistakenly closed this issue in merge request #490.

[2018-01-24 05:59] harshilsharma63 commented on #496
I went through the source code and it seems you are using `Immutable.Map` for JSON objects retrieved from the database. Is it this `Immutable.Map` that is causing the extra "Map" in output. Stringifying it seems to solve the issue.

[2018-01-24 07:16] niallobrien commented on #503
Specifically, the big blue button that says "Create your first content type", when technically, I already have.

[2018-01-24 07:21] lauriejim commented on #505
I think it's this issue https://github.com/strapi/strapi/issues/328 ?
Can you try with a content type without space or camelcase ?

[2018-01-24 10:13] moeinrahimi commented on #487
@lauriejim
actually content type gets save, but you need to restart the server so it works properly .

[2018-01-24 10:32] niallobrien commented on #483
Thanks for the info. Are there plans to make this process more modular in the future?

[2018-01-24 11:48] niallobrien opened #508 "Field name inconsistencies and not updating correctly"
Node.js version: 8.9.0
npm version: 5.5.1
Strapi version: 3.0.0-alpha.8.3
Operating system: Windows 7 (Enterprise)

Hi, I created a Post content type and added a String field with a name of "Title". There are inconsistencies as to how this is then used and displayed. For example, the key is stored as "Title" in MongoDB and the API also returns this capitalised key. I believe that the case of all f

[2018-01-24 11:48] shrotavre opened #509 "Setup failure on path containing space (' ')"
**Node.js version**: 8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Ubuntu 16.04 (dual booted with Windows)

I tried on setting up Strapi in an empty directory under the `/media/usr/Development Disk/#experiment/newdir` and it fails. So I changed my drive name to a non-spaced name, and it succeeded.

The output log made me suspecting an issue on command line

[2018-01-24 17:48] lucaperret opened #510 "Installing within Container"
Strapi version: 3.0.0-alpha.8.3
Operating system: node:latest image from Docker hub

To be able to install dependencies and running the `postinstall` script inside a container, I'm setting [this argument](https://docs.npmjs.com/misc/config#unsafe-perm):
[code]
Otherwise, this warning is shown but all the app isn't well installed:
[code]
Due to these lines https://github.com/strapi/strapi/blob/mast

[2018-01-24 18:08] Aurelsicoko commented on #506
It's on the roadmap! [Please vote on the dedicated page](https://strapi.io/vote) to prioritize the development of this feature.

[2018-01-24 18:08] #506 closed

[2018-01-24 19:25] smachs commented on #505
@lauriejim WOW Resolved! Many thanks, I'm sorry if this question sounded like a newbie, I'm still learning to manipulate the Strapi, great work, continue like this!!

[2018-01-24 19:25] #505 closed

[2018-01-24 21:16] lucasdu4rte opened #511 "Error plugin in development setup"
**Node.js version**: v9.4.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8
**Operating system**: Ubuntu 17.10

Hello, I'm trying a plugin for the strapi following the documentation, but there was a problem saying that you miss the strapi-admin module.

[code]

Should I install manually? Or is the step by step outdated?

[2018-01-24 22:11] soupette commented on #511
Hello! It looks like the `strapi-helper-plugin` is not linked correctly...

Could you run `cd myDevelopmentProject/admin && npm link strapi-helper-plugin`and see if the problem still occurs?

[2018-01-25 02:05] lucasdu4rte commented on #511
thaks my friend `npm link strapi-helper-plugin` it's work!

but there is still a problem
[code]

after I start the server, access the `localhost:4000` link, but returns this gigantic error
[error.txt](https://github.com/strapi/strapi/files/1662320/error.txt)

[2018-01-25 02:18] trustlee commented on #503
You might consider this a higher priority as virtually all first-time users run into it or a similar UI/process oddity when creating first content type.

[2018-01-25 05:14] srizah commented on #391
I am using sandbox provided by mLab.com. I had been struggling with this problem since yesterday. Increasing delay in hook.json has solved my problem and my strapi app is running! I am coming back to coding after a long time. Your strapi has helped me today!

[2018-01-25 05:49] sashank opened #513 "cannot not start strapi project"
I installed latest strapi as described in getting started page , am getting below error

[code]

**Node.js version**:  v6.12.2
**npm version**: 3.10.10
**Strapi version**: strapi@alpha
**Operating system**: Ubuntu 16.04.3 LTS

[2018-01-25 05:58] sashank commented on #513
Please ignore i was using older version of Node , i upgraded it now and its working fine !

[2018-01-25 05:58] #513 closed

[2018-01-25 07:56] clowNay opened #514 "Only one instance of babel-polyfill is allowed"
**Node.js version**: v8.3.0
**npm version**: 5.4.2
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: macOS v10.12.6

After a clean install I still get the issue.
I have changed the port to 3333 as the only thing.
I'm being redirected to http://localhost:3333/admin/plugins/users-permissions/auth/register

<img width="1274" alt="screen shot 2018-01-25 at 08 53 29" src="https://user-images.gi

[2018-01-25 09:31] ArkhipovK commented on #509
This  issue must be already solved in this pull request https://github.com/strapi/strapi/pull/492

[2018-01-25 09:54] Aurelsicoko commented on #489
@lucasdu4rte It seems related to https://github.com/strapi/strapi/issues/510

[2018-01-25 09:54] ardani opened #515 "why require path layout.js outside of package?"
https://github.com/strapi/strapi/blob/d3efb41e1042955a28db8a7de16636a6020439d5/packages/strapi-helper-plugin/lib/src/app.js#L30

[2018-01-25 10:50] acifer commented on #449
Closing it as it works in alpha.8

[2018-01-25 10:50] #449 closed

[2018-01-25 11:30] soupette commented on #514
Could you tell me if you started your project in dev mode?

Did you manage to start the project at some point?

[2018-01-25 12:37] clowNay commented on #514
I did not start the project in dev mode no.
Yes I had it running on another computer first, where I from there created a GitHub repository and then afterwards pulled it down to another. That's when it stopped working, it still works on the other one though.

[2018-01-25 13:31] #498 closed

[2018-01-25 15:01] tiagotcunha opened #517 "Error command cli strapi new"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.8.3

**Operating system**: windows 10

**Do you want to request a *feature* or report a *bug*?**
Bug.
Create project command not working on windows.

**What is the current behavior?**

cli command "strapi new" fails with error 'rm' is not recognized as an internal or external command,
operable program or batch fil

[2018-01-25 16:38] lauriejim commented on #517
It's fixed here on master https://github.com/strapi/strapi/pull/469, will be published soon.

[2018-01-25 17:01] soupette commented on #515
When a plugin has a layout.js file in its config folder it can tell the `content-manager` how to display the inputs. See https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/layout.js

[2018-01-25 17:05] mittalyashu commented on #517
Facing the same issue.

[2018-01-26 01:33] htamhue commented on #452
i have a same issue
![alt text](https://image.prntscr.com/image/a-V9XLwbTty2QzQ6fXF0mQ.png)

[2018-01-26 07:23] #514 closed

[2018-01-26 07:23] clowNay commented on #514
Was an issue with file permissions

[2018-01-26 12:12] lucasdu4rte opened #524 "MySQL configuration at Auth & Permissions do not show"
**Node.js version**: v9.4.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.8

**Operating system**: Ubuntu 17.10

**Do you want to request a *feature* or report a *bug*?**
Report a *bug*

**What is the current behavior?**
In the configuration of strapi using MySQL, the permissions do not appear screen, and also the * CRUD *

**If the current behavior is a bug, please provide the steps to

[2018-01-26 20:14] Arcath commented on #517
A quick fix is to open `NODEINSTALL\npm\node_modules\strapi\node_modules\strapi-generate-new\lib\before.js`

and change line 210 to:

`execSync(`rmdir /S /Q ${scope.rootPath}`);`

This was with `3.alpha.8.3`

[2018-01-27 11:13] mittalyashu commented on #517
And where can I find this NODEINSTALL directory?

[2018-01-27 14:30] storm1er opened #527 "[BUG] Fail on npm run script ?"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
V3 on master d1f8fd8f
**Operating system**:
Ubuntu 17.10

I can't get `npm run setup` to work.

[code]

[2018-01-27 14:50] storm1er commented on #527
I was missing libpng-dev package, I did `apt install libpng-dev`, then it works.

[2018-01-27 14:50] #527 closed

[2018-01-27 15:49] storm1er commented on #487
Here's my content type "account" :
[code]

Even after a restart, I can't save anything.

But if a create a lambda content type without  any relation, it works... any idea ?

[2018-01-27 23:16] longweiquan opened #528 "JWT Payload should not contain password"
**Node.js version**: 8

**npm version**: 5

**Strapi version**: 3.0.0@alpha8

**Operating system**: Mac

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The JWT Payload contain private information which is secured.

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Current Token

**What is the expected behavior?

[2018-01-28 00:56] Adriang71 opened #529 "Can't and any field to user model via GUI"
**Node.js version**: 8.4.0
**npm version**:5.4.2
**Strapi version**: "3.0.0-alpha.8.2"
**Operating system**: osx 10.12.6

Hello, I try strapi and I found issue.
When I want to save user model with with some content type via GUI and in my network tab I see request with 400 status and blank page.

I use mongodb, here is message:
```{"statusCode":400,"error":"Bad Request","message":[{"messages":[{"id

[2018-01-28 01:33] seamug opened #530 "Strapi with Firebase"
Hi

Is there any instruction on setting up Strapi on Firebase?

Thanks
Hisham

**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-01-28 07:28] shinokada opened #531 "Tutorial request on deployment on DigitalOcean"
I just wanted to request a tutorial or doc page on deployment especially DigitalOcean.

[2018-01-28 12:47] pierreburgy commented on #531
Good suggestion @shinokada! This is in our plans: we are going to publish an article (https://blog.strapi.io/p/cd1ad84c-1ca5-409d-be05-fb06bca4e8c5/) and add it in the documentation this week.

[2018-01-28 16:48] dakuenjery opened #532 "Strange behavior of relations"
**Node.js version**: 9.4.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.8.3
**Operating system**: Mac os 10.13.2

There are 2 custom types: pagetypes and pages. Pages belongs to many Pagetypes.
But if we look at the page record structure we will see this:
[code]
And pagetype record will see:
[code]
We cannot create one-to-many relation, because if I create a new page (page2) and set rela

[2018-01-28 17:03] dakuenjery opened #533 "Plugins configuration location"
I noticed when I add content types the 'plugins/users-permissions/config/roles.json' file is changing. I think it's very uncomfortable. For example during the update plugin I must copy this file and restore it. Are you going to take the configuration files to a separate folder? Is it possible?

[2018-01-28 22:05] shinokada commented on #531
Great! The blog article, [Building a static blog using Gatsby and Strapi](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/) was very useful for me. I'd like to see using a slug for a URL.

[2018-01-29 05:16] marti1125 opened #535 "Can't connect with MongoLab"
**strapi version: 3.0.0-alpha.8.3**

Could you try with my credentials
[code]

[2018-01-29 07:20] ArkhipovK commented on #531
Are there any changes in heroku variant?

[2018-01-29 07:46] lauriejim commented on #475
Fixed here https://github.com/strapi/strapi/pull/507/commits/462b44a759caef15ebf3239a84e912b3c057b897

[2018-01-29 07:46] #475 closed

[2018-01-29 07:50] #509 closed

[2018-01-29 07:52] #517 closed

[2018-01-29 09:38] Aurelsicoko commented on #452
As @alexanderwallin said, try to remove the port number from the host URL.

[code]

[2018-01-29 10:22] soupette commented on #511
Did you generate your project with `strapi new myDevelopmentProject --dev` ?

[2018-01-29 10:29] lucasdu4rte commented on #511
@soupette
Yes, as it is in the documentation.
I did everything the same as the documentation, just to see if it was the complexity

[2018-01-29 11:00] soupette commented on #511
Just to make sure you cloned the repository and and did `npm run setup` in the it?

[2018-01-29 12:54] storm1er commented on #530
I don't think so, firebase is using is own api, if you want to do so, you'll probably have to create a new database query structure (like they already did with postgresql, etc)

[2018-01-29 16:46] memolipd commented on #489
Yep we use docker alot here, but I'm also struggling to get strapi working in docker - which would be useful for dev/deploying.

here's my current docker-compose.yaml file:

`version: '2'
services:
  redirector-app:
    image: node:8-alpine
    env_file: .env
    volumes:
        - .:/var/app
    working_dir: /var/app
    command: node server.js
    ports:
        - 1337:1337
    links:
        -

[2018-01-29 16:55] memolipd commented on #489
Ahh I figured out the issue - it was pointing to localhost, not the mongodb image hostname of "mongodb"

I'll leave this up for anyone else wanting a working docker-compose file

[2018-01-29 16:55] dj-hedgehog commented on #489
@memolipd
You can't just execute Strapi inside a vanilla Node.js container. You need to create a Dockerfile for Strapi which installs it (as you would do on your own PC). I will take care of creating an official Dockerfile which can be built and published to Docker soon.

[2018-01-29 17:10] memolipd commented on #489
@dj-hedgehog for dev, I pass in the current directory as a volume which has node_modules. I've had to amend the run command to make sure the plugins install, but is otherwise working:
```command: ash -c "node node_modules/strapi/lib/utils/post-install.js && node_modules/nodemon/bin/nodemon.js server.js"```

[2018-01-29 21:58] faebeee opened #540 "Feature: Create project without DB checks"
**Node.js version**: 8.9

**npm version**: 5.6

**Strapi version**: 3.0.0-alpha.8.3

**Operating system**: OSX

feature

**What is the current behavior?**
I try to create a new project with strapi. But I can't get started because I dont have a mongodb YET.

**What is the expected behavior?**
I would find it better, if the database checks wouldn't affect the installation. Because I want to setup my

[2018-01-29 23:41] Nyeedz opened #541 "Cant update an user"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.8.3

**Operating system**: Windows 10 x64

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?** When trying to update a user via PUT, the message **"You can't call the query method without passing the model's name as a first argument"** is shown on the console, and the me

[2018-01-30 07:57] ArkhipovK commented on #540
Agreed, sometimes it is necessary to  specify some additory parameters like "schema" or "ssl" for proper work.

[2018-01-30 08:41] soupette commented on #540
Hi @faebeee I agree with your point of view! We added this configuration thinking that it would improve the experience... Maybe we should add a configuration where you can start your project without choosing a DB, what do you think?

[2018-01-30 08:50] lauriejim commented on #541
Can you tell me the database you use please

[2018-01-30 09:26] faebeee commented on #540
@soupette That would be very great!

[2018-01-30 10:48] d8vjork commented on #517
Why is it closed? I still cannot create a new strapi site in Windows PS (W10).

Fails trying a rm

![image](https://user-images.githubusercontent.com/2331052/35562313-42c8490e-05b3-11e8-8241-814d0fc67122.png)

[2018-01-30 12:37] LasaleFamine commented on #452
+1 here.
Here is my db configuration:
[code]

Getting the same error of @gourraguis.

[2018-01-30 16:43] pierreburgy commented on #531
@shinokada yes, it should work. Did you have any issue with that?

@ArkhipovK to use Heroku, you only need to set your database configuration in [Heroku environment variables](https://devcenter.heroku.com/articles/config-vars) and update the port config in your Strapi project:

*Path: `config/environments/production/server.json`*:
[code]

Btw @Aurelsicoko, shouldn't we update the generators to set

[2018-01-30 16:55] pierreburgy opened #544 "Incorrect error payload in production"
**Node.js version**:
8.9.1

**npm version**:
5.5.1

**Strapi version**:
3.0.0-alpha.8.3

**Operating system**:
Linux

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In production, the error payload send useless informations:

[code]

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Start a Strapi app using `NO

[2018-01-31 07:17] ArkhipovK commented on #531
@pierreburgy thanks for reply, but what if i have pipe to heroku from bitbucket, and bitbucket repo does not include node_modules. So i suppose i have to run some command or script to insall them first. What is the proper action now?

[2018-01-31 07:26] lauriejim commented on #487
@storm1er Can you open an other issue for your case please.

[2018-01-31 07:26] #487 closed

[2018-01-31 07:33] lauriejim commented on #432
This issue come from Strapi not handle cluster connection I think.

If you fixed it to use your mongodb cloud database, you can submit a PR to improve the project 👍

[2018-01-31 07:58] pierreburgy commented on #531
@ArkhipovK Heroku will automatically detect that your app is a Node.js app and then, will install the node modules.

[2018-01-31 11:08] storm1er opened #545 "Deprecated gulp-util"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
v3.0.0 alpha 9
**Operating system**:
Ubuntu 16.04

## On fresh clone `npm run setup` :
[code]
Well let's see https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5 :

Okay ... I'm not going to fix this alone x)
Did you already planed to fix this or not ?

[2018-01-31 11:40] Aurelsicoko commented on #545
I tested two times on my machine (Mac) and I wasn't able to reproduce. I'm going to test on Linux and come back to you.

[2018-01-31 11:53] Aurelsicoko commented on #545
Okay, so I wasn't able to reproduce on Ubuntu. Here my process:

[code]

[2018-01-31 13:13] storm1er commented on #545
Dunno what to say ... Here's the full log :

<details>

[code]

</details>

[2018-01-31 13:44] NilakArgento opened #548 "Authentication"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.8.3
**Operating system**:
Ubuntu 14.04

Ok, let's start..
I used examples from docs "Authentication" for register and login new users. Now i have some content types like orders, payments, posts and others.
How to make some routes to be able to accessed only by authenticated users !? Now it's impossible, because the

[2018-01-31 13:53] pierreburgy commented on #531
The tutorial has been published: https://medium.com/@strapi/how-to-deploy-a-strapi-api-on-ubuntu-16-04-17f8fbbf5c5b, so I am closing the issue.

Thanks again for your suggestion!

[2018-01-31 13:53] #531 closed

[2018-01-31 14:09] aalshaikh opened #549 "Move forgot password redirect URL in plugin settings"
i see in forget password in body request the client can set the url, i think it's wrong since because anyone can set the url and redirect user to fake website to get the code
i think the url should be set from the dashboard

[2018-01-31 14:45] derrickmehaffy commented on #548
@NilakArgento Upgrading to alpha.9 guide: https://strapi.io/documentation/migration/migration-guide-alpha-8-to-alpha-9.html

[2018-01-31 14:52] storm1er commented on #545
Had to do `npm cache clean --force` ...  Problem solved

[2018-01-31 14:52] #545 closed

[2018-01-31 15:14] #467 closed

[2018-01-31 16:16] NilakArgento commented on #548
@derrickmehaffy i upgraded. thx for link)
Apart from roles: Administrator and Guest... we need something like "Registered".

Because some routes shouldn't be accessible by guests...and add a posibility to change default role for new registred users
Another idea will be the fields need to have a default value.

[2018-01-31 16:19] storm1er opened #550 "Can't save content with relation ?"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
v3.0.0 alpha 9
**Operating system**:
Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
We can't save content with relation ?

**If the current behavior is a bug, please provide the steps to reproduce the problem**

Step by step :
- Install strapi
- `strapi new strapid

[2018-01-31 16:20] storm1er commented on #550
Just realized that `"collectionName": "",` is always empty ... is that normal ?

[2018-01-31 16:23] dareksob opened #551 "cannot create models, only responce 500 erros on build"
.**Node.js version**: 8.3.0

**npm version**:

**Strapi version**: 3.0.0-alpha.9

**Operating system**:windows 10

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
cannot save properties by admin tools

**If the current behavior is a bug, please provide the steps to reproduce the problem**
strapi new PROJECT
(local mongo database)
on backend create n

[2018-01-31 17:18] #515 closed

[2018-01-31 17:20] Aurelsicoko commented on #532
@dakuenjery Can you provide the models of the Content Types (pagetypes and pages)? Also which databases are you using? I would be able to take a look when you will give me these details. Thanks!

[2018-01-31 17:20] pierreburgy commented on #535
@marti1125 do you still have this issue?

[2018-01-31 17:22] Aurelsicoko commented on #533
@dakuenjery We already moved these configurations into the database in the latest version `alpha@9`. [Check out the migration guide](https://strapi.io/documentation/migration/migration-guide-alpha-8-to-alpha-9.html) and the problem will disappear.

I'm closing this issue because it was a known problem and the latest version fixed it. Feel free to reopen if the issue is still here.

[2018-01-31 17:22] #533 closed

[2018-01-31 17:28] Aurelsicoko commented on #489
@memolipd @dj-hedgehog There is also a member (@lucaperret) which is working on a similar issue. We discussed it and one of the solutions is to enhance the `strapi new` command line. The purpose is to be able to pass arguments like that `strapi new myApp --dbhost=locahost --dbport=1337 --dbusername=root --dbpassword=root` into the command line to avoid the interactive part of the CLI.

PS: It's no

[2018-01-31 17:30] Aurelsicoko commented on #540
@faebeee Check out [my comment](https://github.com/strapi/strapi/issues/489#issuecomment-362007616) on another issue, you might be interested in it.

[2018-01-31 17:35] Aurelsicoko commented on #452
@gourraguis @LasaleFamine Did you create the first user of your mLab database? If yes, are you using the username/password of this user to connect?

It's a common mistake to forget to create the user on mLab. The UX is pretty bad...

[2018-01-31 17:45] LasaleFamine commented on #452
Yeah, I'm trying with my first user/password.
Don't you have the same problem?

[2018-01-31 18:10] sm4rtie commented on #541
had the same issue, passed it by adding a new route with `"path": "/user/:id/:model",` but in admin panel updating still doesn't work.
Using mongo as database and strapi 3.0.0-alpha.8.3.

[2018-01-31 18:37] sm4rtie opened #552 "TypeError: user.toJSON is not a function"
**Node.js version**:
v8.9.4
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.8.3
**Operating system**:
Ubuntu 17.10

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
getting error 'TypeError: user.toJSON is not a function' when trying to send email with resetPasswordToken using /auth/forgot-password
**If the current behavior is a bug, please pr

[2018-01-31 20:55] dakuenjery commented on #532
I use mongodb 3.6

Pages.settings.json
[code]
Pagetypes.settings.json
[code]

[2018-02-01 06:17] erwstout commented on #396
Hey gang, whats the status on this? This would be the one thing keeping me from pitching this to my boss as one of our new CMS systems as we are looking to switch to something headless. Appreciate the work - been playing around and I love it so far .

[2018-02-01 06:42] tungtb opened #553 "[3.0.0-alpha.9] Role create error"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9

**Operating system**: Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Create a new role

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Step1: Go to the Auth & Permissions page
Step2: Click to "Add New Role" b

[2018-02-01 11:02] tungtb opened #555 "[3.0.0-alpha.9] User update error"
Node.js version: 8.9.4

npm version: 5.6.0

Strapi version: 3.0.0-alpha.9

Operating system: Ubuntu 16.04

Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Update user

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Update user infomation
https://gyazo.com/f4fe843c27e5069c9ccc322d73f2f69e
**What is the expected behavior?*

[2018-02-01 12:51] harshilsharma63 opened #556 "Strapi fails to save models with not null attribute on foreign key columns"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9

**Operating system**: Ubuntu 16.04 x64

Additional details -

 **Database being used**: PostgreSQL 9.5.10

**Do you want to request a *feature* or report a *bug*?**
Bug

Consider a table `pet` with column `name` and `owner_id` referencing `owner.id`. On creating a new pet, strapi makes two database queries - fir

[2018-02-01 12:54] harshilsharma2 opened #557 "Specify relation column as required"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9

**Operating system**: Ubuntu 16.04 x64

Additional details -

 **Database being used**: PostgreSQL 9.5.10

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
There is no way to specify a relation column as required.

**If the current behavior is a bug, please provide

[2018-02-01 12:54] harshilsharma63 commented on #557
This may solve #556

[2018-02-01 16:39] Nyeedz commented on #541
i'm using MongoDB

[2018-02-02 07:20] storm1er commented on #550
Mongodb, here are the settings :

<details>

[code]

</details>

[2018-02-02 12:30] M1chaelTran commented on #318
@moeinrahimi solution works for me! This should be the default settings instead of `localhost`

[2018-02-02 13:35] M1chaelTran commented on #552
hey @sm4rtie, I ran into the same issue as you.
Found out why I got the error and raised a PR for the fix.

On a different question for you, you mentioned you have configured mailgun...
Could you share the detail on how you set it up? I would like to do the same.
Thanks

[2018-02-02 14:18] mittalyashu opened #561 "Cannot read property 'start' of undefined"
**Node.js version**: 6.11.5

**npm version**: 3.10.10

**Strapi version**: 3.0.0-alpha.9.1

**Operating system**: Windows 10

**Do you want to request a *feature* or report a *bug*?** Report a bug

**What is the current behavior?** Error => Cannot read property 'start' of undefined

**If the current behavior is a bug, please provide the steps to reproduce the problem**
https://www.useloom.com/shar

[2018-02-02 14:28] sm4rtie commented on #552
sure :) npm install mailgun-js
[code]

const { email, url } = ctx.request.body;
/* ... */
try {
      // Send an email to the user.
      await strapi.plugins['email'].services.email.send({
        to: user.email,
        from: (settings.from.email || settings.from.name) ? `"${settings.from.name}" <${settings.from.email}>` : undefined,
        replyTo: settings.response_email,
        subject: set

[2018-02-02 15:10] crisz commented on #402
It didn't work for me too. I changed "localhost" to "127.0.0.1" and now it works.

[2018-02-02 15:47] lauriejim commented on #561
Hi @mittalyashu, you have to update your node version to node 9 and npm 4.

[2018-02-02 15:47] #561 closed

[2018-02-02 15:56] sobrio opened #563 "Error on start: (hook:mongoose) takes too long to load"
**Node.js version**:
8.9.4
**npm version**:
5.1.0
**Strapi version**:
3.0.0-alpha.9.1
**Operating system**:
Windows 10

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

D:\applications\strap>strapi start
DEBUG (3340 on Monolite): Server wasn't able to start properly.
ERROR (3340 on Monolite): (hook:mongoose) takes too long to load

**If the current

[2018-02-02 15:57] memolipd commented on #402
Running strapi and mongodb through a docker-compose file leads to this problem intermittently.

It works and connects fine most of the time but sometimes it seems to timeout.

Restarting the containers fixes the issue `ctrl+c` and then `docker-compose up`.

Could it be a timeout which we can change?

[2018-02-02 16:05] #552 closed

[2018-02-02 16:35] mittalyashu commented on #561
After updating got this error.
![image](https://user-images.githubusercontent.com/29014463/35743991-2ad71b68-0865-11e8-85f9-0c04f7c89b4d.png)

[2018-02-02 16:37] lauriejim commented on #561
You change your node version and install strapi again and generate a new project ?

[2018-02-02 17:28] derrickmehaffy commented on #557
Can confirm, relations should have a required function.

[2018-02-02 17:48] Yobikap opened #565 "Not able to create a newProject with v3@alpha.9"
**Node.js version**: 8.1.0

**npm version**: 5.6.0

**Strapi version**: v3@alpha.9

**Operating system**:
Distributor ID:	elementary
Description:	elementary OS 0.4.1 Loki
Release:	0.4.1
Codename:	loki

**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
When typing
$ strapi new myNewProject
The prompt hangs on *Database name: (strapi)*

**If the current

[2018-02-02 17:52] mittalyashu commented on #561
Got it.

[2018-02-02 23:19] keyus4 commented on #563
Also having the same issue. strapi start error.

C:\Projects\strapi\my-project>strapi start
DEBUG (3252 on MY-PC): Server wasn't able to start properly.
ERROR (3252 on MY-PC): (hook:mongoose) takes too long to load

[2018-02-03 00:01] keyus4 commented on #563
I think i was able to get it to work.
I opened my-project folder => config => environments => development.
I then opened my database json file on notepad++ and I replaced localhost with 127.0.0.1 and it worked!!!

Here! replace
{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-mongoose",
      "settings": {
        "client": "mongo",
        "host":

[2018-02-03 06:01] mittalyashu commented on #561
Still not working, getting the same error.
![image](https://user-images.githubusercontent.com/29014463/35763596-aec0e088-08d5-11e8-821f-f84b84b62adb.png)

[2018-02-03 09:17] derrickmehaffy opened #566 "Content building missing Field type Enumeration"
**Node.js version**:
v9.4.0

**npm version**:
5.6.0

**Strapi version**:
Version: 3.0.0-alpha.9.1

**Operating system**:
Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
Feature & Bug

**What is the current behavior?**
Admin panel does not allow the option of enumeration, adding it to the Model.settings.json such as below and attempting to edit the content builder will n

[2018-02-03 09:42] derrickmehaffy opened #567 "[Feature] Automated Documentation with Swagger integration?"
**Do you want to request a *feature* or report a *bug*?**
Feature

Are they any current plans to integrate something like swagger for automated API documentation? Something along the lines of how loopback does its documentation structure (and also hiding certain listings based on permissions)

[2018-02-03 14:26] bishoymelek commented on #452
+1
the same here

[2018-02-03 19:31] JLKM commented on #563
Nice workaround replacing the default `"host": "localhost"` with `"host": "127.0.0.1"`.

This made it possible for me to actually create a project with Strapi CLI.

[code]

But then the next error occurs at `strapi start`:

[code]
Something works though:
1. The server is showing the project homepage at localhost:1337
2. MongoDB has created a database named strapi (in this case)
3. The strapi datab

[2018-02-03 21:42] soupette commented on #566
Hi @derrickmehaffy in order to add your nex type in the content type builder you'll have to modify some files...

First you need to start your project in development mode [see the CONTRIBUTING GUIDE](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md).

Then in your `my-project/plugins/content-type-builder/admin/src/containers/Form/forms.json` file add the following:

In the `attribute`

[2018-02-03 23:49] pedrocruzio commented on #563
@JLKM I had similar problems as you and I  just fixed it by updating node to the latest version.

My configuration is:

OS: Ubuntu 16.04 LTS
Node: 8.9.4
NPM: 5.6.0

[2018-02-04 05:42] derrickmehaffy commented on #566
I will test this and update if I have further issues. Just wondering why it wasn't added by default?

Wasn't sure if this is something that was planned or was going to be removed from the CLI/documentation.

[2018-02-04 09:03] sachin-rajput opened #568 "Environment config creating wrong URL links in admin"
**Node.js version**: 8.3.0

**npm version**: 5.4.0

**Strapi version**: 3.0.0-alpha.9

**Operating system**: OSX 10.13.1

**Do you want to request a *feature* or report a *bug*?** report a bug

**What is the current behavior?**

Wrong URL creation in three files after updating env. json file

`admin/admin/build/config/plugins.json`
`admin/admin/build/main.js`
`admin/admin/src/config/plugins.json`

[2018-02-04 11:07] JLKM commented on #563
Thank you for your tip, @pedrocruzio

An upgrade fra Node 8.1.2 to 8.9.4 LTS made the whole thing run like a charm on my Windows machine - and with no errors at all in vs code terminal.

[2018-02-05 00:18] Redni commented on #550
I noticed something similar.

Arch Linux, Node v9.5.0, Npm: 5.6.0, Strapi: 3.0.0-alpha.9.1

### 1. Content Type
**Name:** letter
**Fields:**

- String: pol
- String: eng

### 2. Content Type
**Name:** word
**Fields:**
- String: one

**Relation:**
-  Field name: world
-  Field name: letter

**_Words has and belongs to many Letters_**

And when you click to save or try to start, the console throws:

[2018-02-05 03:04] Amurmurmur opened #569 "Profile /me endpoint example"
Since user related end points are inside a user-permissions plugin under:
[code]

Is it a good practise to just modify controller/models/services to output more data about the user, for example age etc any extra data the user would put?

Or what would be the best practice not to touch the plugin but maybe combine the data from the plugin with the endpoint data like api/profile or something?

[2018-02-05 07:57] harshilsharma63 commented on #496
Any update on this one? Its effectively making admin interface unusable for JSON objects.

[2018-02-05 08:54] soupette commented on #496
Hi @harshilsharma63 we'll look into it

[2018-02-05 09:27] illoRocks opened #570 "Forgot Password doesn't work for Guests"
**Node.js version**: 9.0.0

**npm version**: 5.6

**Strapi version**: 3.0.0-alpha.9.1

**Operating system**: Ubuntu

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
Get an error when a guest role send a forgot-password request:
`{
    "statusCode": 400,
    "error": "Bad Request",
    "message": [
        {
            "messages": [

[2018-02-05 10:26] typoworx-de opened #571 "Cannot create new strapi-project using MySQL (MariaDB)"
**Node.js version**: v8.4.0
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.9.1
**Operating system**: Ubuntu 16.04 (Xenial)

Bug request

**What is the current behavior?**
`strapi new strapi-test
INFO (19961 on gabriel-G75VX): Creating your application... It might take a few seconds.
INFO (19961 on gabriel-G75VX): Lets configurate the connection to your database:
 Choose your main database:

[2018-02-05 10:36] storm1er commented on #550
@lauriejim
Having the col' name "amount" in two different table, linked with a relation, seems to be the problem.
When removing "amount" col from amount, or line, make the app working as expected.

[2018-02-05 15:39] Yobikap opened #575 "Related data is not show in input type content-type view"
**Node.js version**:
8.1.0
**npm version**:
5.6.0
**Strapi version**:
v3@alpha.9
**Operating system**:
Distributor ID: elementary
Description: elementary OS 0.4.1 Loki
Release: 0.4.1
Codename: loki

**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
When trying to save a content-type that has relation, the related is saved to database but not shown in c

[2018-02-05 16:02] lauriejim commented on #541
It's fix in our last release https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.9.2

[2018-02-05 17:13] lauriejim commented on #555
It's fix in this release https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.9.2

[2018-02-05 17:13] #555 closed

[2018-02-05 17:16] lauriejim commented on #551
Can you give me the `PUT` request parameters you send and the error message you receive.
You will have to inspect you browser network.

[2018-02-05 17:29] lauriejim commented on #550
@storm1er Your issue is related to `required` settings on you models. To hot fix it, juste delete `"required": true` in your models.

[2018-02-05 17:33] lauriejim commented on #549
Yes you are right. I think it's have to be moved on email template settings of the plugins users and permissions.

[2018-02-05 17:42] lauriejim commented on #548
That's good point.

Actually you can fix it by creating a new Registered role and update the `register` function to apply to your new users the Register role.

[2018-02-05 17:45] lauriejim commented on #528
Thank you for this issue. It's could be awesome if you can fix it and submit a pull request to the project.

[2018-02-05 17:46] #488 closed

[2018-02-05 18:49] gurjantsingh7979 opened #578 "How to create dropdown list in the form created by content Content Type Builder? Please help"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-05 18:51] gurjantsingh7979 opened #579 "how to add Search functionality in the content type?"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-05 18:52] gurjantsingh7979 opened #580 "how to print the debug, info or error logs in the strapi?"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-05 19:24] bogdancrisu opened #581 "findOne is Always returning the last entry."
**Node.js version**:
9.5.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.9

**Operating system**:
OSX

So after reading about something that is happening to me, more exactly Issue #395, I tried again by creating a new Strapi app with alpha.9 that as far as I know, it contains the commit 519239c witch supposed to be a fix, the same problem can be found. From my investigations this part `

[2018-02-05 19:27] soupette commented on #578
Hi @gurjantsingh7979 could you be more specific?

[2018-02-05 19:45] Yobikap commented on #580
you can use:

`strapi.log.debug("your string or object")`

[2018-02-05 20:06] gurjantsingh7979 commented on #578
Hi Soupette,

Let us say I have created a template to register a doctor, now I would like to give the option in the same registration template to select the hospital(from the list of hospitals i.e. dropdown hospitals list) to which he is associated.  Hope this is clarifying the requirements.

[2018-02-05 20:08] mittalyashu commented on #561
When I tried to change the database to MySQL, then I got this error.

![image](https://user-images.githubusercontent.com/29014463/35826320-6bf4d448-0ade-11e8-8817-efe2515280c1.png)

[2018-02-05 20:14] gurjantsingh7979 commented on #580
Thanks Yobikap for reply, can you please let me know where it will store the logs?

I am seeing in my project, it has not created any folder with logs name.

[2018-02-05 20:41] Yobikap commented on #580
You can put this snippet in your code when developing.

The output should be in your console or terminal.

For logging information see:
https://github.com/strapi/strapi-docs/blob/master/files/logging.md

For file logging, you could use something like pino-multi-stream. Because
strapi.log is based on pino logging, you should be able to implement this.

But I am not sure about it.

On 5 Feb 2018 9:1

[2018-02-05 20:41] mikedevita commented on #472
@kevinskyba I think no matter what the password field should be stripped from the json response directly. In what scenario would you need to know the hash of the users password other than during login? I am very new to strapi@alpha but I am trying to dig into this right now.

[2018-02-06 01:20] derrickmehaffy commented on #578
@gurjantsingh7979 The value type your looking for is enumeration, it is supported from what I can tell on the cli side but not on the admin side. See my issue here: https://github.com/strapi/strapi/issues/566

enumeration (enum) is a categorical variable IE a set hospital.

[2018-02-06 02:51] JoshuaYang opened #584 "Error: Cannot wrap non-Error object. When save content type while run with pm2"
**Node.js version**:
9.4.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.9.1

**Operating system**:
centos 7

**Do you want to request a *feature* or report a *bug*?**
yes

**What is the current behavior?**
When I run my project with **strapi start**, everything is right;
When I run my project with **pm2 start server.js --name strapi**, the website can open successfully. But when I crea

[2018-02-06 09:11] #580 closed

[2018-02-06 09:45] Aurelsicoko commented on #567
@derrickmehaffy Thank for this feature request! Currently, it's not possible and it's not our main priority. However, the feature is already listed on the [Community Vote](https://strapi.io/vote) page and you can vote for it if it's important for you.

[2018-02-06 09:45] #567 closed

[2018-02-06 09:49] Aurelsicoko commented on #568
Try to add a slash at the end of your URLs.

[code]

Also, can you try with a simpler URL like `http://admin.domain/dashboard` and `http://api.domain`. The bug could be related to the sub-domain...

[2018-02-06 09:51] Aurelsicoko commented on #569
@Amurmurmur Currently, the best way is to edit the model provided by the plugin. We already thought to find a way to add attributes to a model without edit the original model but it's not our priority right now.

[2018-02-06 09:52] Aurelsicoko commented on #565
@Yobikap What terminal are you using? It seems more related to the library that we are using to display the prompts.

[2018-02-06 09:55] Aurelsicoko commented on #556
@harshilsharma63 Thank you for raising this issue! Right now, the only solution is to remove this `NOT NULL` condition.

[2018-02-06 09:56] Aurelsicoko commented on #540
I'm closing this issue because it's more like a feature request and @lucaperret is already working on it... Feel free to reopen if there is no activity or implementation in the next weeks.

[2018-02-06 09:56] #540 closed

[2018-02-06 09:57] rroblik commented on #571
+1 , same for me

[2018-02-06 10:00] Aurelsicoko commented on #532
I think you're not using the right relation type. Try to use `many-to-many` relationships instead. If a `Page` belongs to many `PageTypes` and a `PageTypes` can belongs to many `Page`, it's not a `one-to-many` relationship.

[2018-02-06 10:01] Aurelsicoko commented on #530
@seamug Thank you for this feature request!  You're not the first one and host the data on Firebase isn't one of our priority. We are working to integrate Strapi with DaaS such as mLab, Mongo Atlas, etc. Maybe we will integrate Strapi with Firebase though.

[2018-02-06 10:02] pierreburgy commented on #535
We published an article explaining [how to use Strapi with mLab](https://blog.strapi.io/using-mlab-with-strapi/). Please reopen the issue if you still have the problem.

[2018-02-06 10:02] #535 closed

[2018-02-06 10:03] pierreburgy commented on #452
We published an article explaining [how to use Strapi with mLab](https://blog.strapi.io/using-mlab-with-strapi/). Please reopen the issue if you still have the problem.

[2018-02-06 10:03] #452 closed

[2018-02-06 10:04] Aurelsicoko commented on #510
As I already said to you, did you try [to run the following commands](https://docs.npmjs.com/getting-started/fixing-npm-permissions) before launch `npm install` at the root of your project?

I took a look at the Shell.JS project that we are using and there is no issue about the root permission.

[2018-02-06 10:05] Aurelsicoko commented on #504
I totally agree! Thank you for raising this feature request @niallobrien 👍

[2018-02-06 10:06] Aurelsicoko commented on #479
@trburgess Fixed https://github.com/strapi/strapi/pull/572

[2018-02-06 10:06] #479 closed

[2018-02-06 10:07] Aurelsicoko commented on #489
I think we can close this issue, feel free to continue the discussion though...

[2018-02-06 10:07] #489 closed

[2018-02-06 10:07] pierreburgy commented on #432
We published an article explaining [how to use Strapi with mLab](https://blog.strapi.io/using-mlab-with-strapi/). We hope it will help.

[2018-02-06 10:12] #455 closed

[2018-02-06 10:14] Aurelsicoko commented on #453
Interesting... You can submit this feature on the [Community Vote](https://strapi.io/vote) page to help us to prioritize the most wanted features! I'm not sure this one will be our priority in the next months but it could be nice.

[2018-02-06 10:14] #453 closed

[2018-02-06 10:17] Aurelsicoko commented on #396
@erwstout We are working with @gluxon on it! Then, it will be one of our priority in the next weeks. I can give you a date but it should be available in March/April. We need to develop the Upload feature first and make the project more stable first. Feel free to vote on the [Community page](https://strapi.io/vote)!

I'm closing this issue because we're already considering it and it's one of our to

[2018-02-06 10:17] #396 closed

[2018-02-06 10:17] #309 closed

[2018-02-06 10:18] Aurelsicoko commented on #250
I'm closing this issue, feel free to submit this feature request on the [Community Vote](https://strapi.io/vote) page.

[2018-02-06 10:18] #250 closed

[2018-02-06 10:19] #178 closed

[2018-02-06 10:19] #104 closed

[2018-02-06 10:48] Yobikap commented on #565
@Aurelsicoko  I am using io.elementary.terminal or in the past the name was pantheon-terminal . In v3@alpha.8 I could easy create a new project with the same terminal.

[2018-02-06 10:54] Amurmurmur commented on #569
Thank you so much for clearing it up for me!

[2018-02-06 10:54] #569 closed

[2018-02-06 10:59] harshilsharma63 commented on #556
@Aurelsicoko  yeah, that's what I've done right now.

[2018-02-06 11:04] soupette commented on #579
Could you be more specific? Can you update your issue using the template so I can have a clear idea of your request.

Thanks!

[2018-02-06 11:50] dakuenjery commented on #532
No. One page can belongs to one PageType. But I have more then 1 page, and one PageType can belongs to many Pages. In alpha9 this working fine. At first sight)

[2018-02-06 13:26] derrickmehaffy commented on #579
@soupette I believe what @gurjantsingh7979 is looking for is a search function on the Content Manager.

![image](https://user-images.githubusercontent.com/8593673/35861801-9239a3e0-0b06-11e8-961a-084affcd3982.png)

Something that would allow you to search the data to return results matching the query.

[2018-02-06 13:27] derrickmehaffy commented on #571
+1 Also looking for further support on MariaDB. My testing also yielded the same results.

[2018-02-06 13:56] gurjantsingh7979 commented on #579
Right @derrickmehaffy.

[2018-02-06 14:09] Aurelsicoko commented on #550
@redni In your case, it's because the relations hasn't be made correctly. Check again your models and the documentation.

@storm1er Change the type `Decimal` to `Float`. And it works. The Decimal type is not well supported by Mongo and the implementation seems not optimal right now.

[2018-02-06 14:41] Aurelsicoko commented on #571
@typoworx-de @rroblik @derrickmehaffy Hey guys, I just tested and it works like a charm on my machine. Can you give me all the steps to reproduce the issue?

[2018-02-06 14:52] lauriejim commented on #570
Hello @illoRocks ! Thank you for this issue.

But I can't reproduce this issue. Your error message come from this line :https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-email/services/Email.js#L33

Can you log and give me the `err` content please.

[2018-02-06 15:00] lauriejim commented on #581
Can you be more precise please.
You create a new content type via the content type builder ?
And then using the generated routes you can't get a specific entry ?

[2018-02-06 16:01] rroblik opened #596 "Autoreload and polling"
**Node.js version**:
`v8.9.4`

**npm version**:
`5.6.0`

**Strapi version**:
`3.0.0-alpha.9.2`

**Operating system**:
`Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux `
(inside Vmware, Windows 8 host, shared folder)

**Do you want to request a *feature* or report a *bug*?**
Feature (maybe a bug)

**What is the current behavior?**
Server not restarting automaticall

[2018-02-06 17:33] TareqElMasri commented on #351
Is that done?

[2018-02-06 17:53] #550 closed

[2018-02-06 17:53] #553 closed

[2018-02-06 17:54] #563 closed

[2018-02-06 18:41] illoRocks commented on #570
Hello,

I checked that and I think my email provider (for the guest account) blocked the mail
because of missing configurations or something else (I use my local pc). The behavior is independent of the role.

(The `err` was an empty object)

Sorry for the effort.

[2018-02-06 20:04] MateusSilveira98 opened #597 "How to change tableHeaders in a table of a model?"
**Node.js version**:  9.4.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9

**Operating system**: Windows10

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
The strapi not allow me to change the tablesHeaders of a model. I can't find where to add or change tableHeaders. Right now it displays the first five in order of adition

**If the curre

[2018-02-06 20:43] #570 closed

[2018-02-06 21:21] padupuy opened #598 "[Project setup] Hide the password field in the terminal when strapi ask to enter the mysql password"
**Node.js version**:
v9.3.0

**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.9.2
**Operating system**:
macOS High Sierra 10.13.1

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you create a new project, strapi ask the password and the password is displayed, so everyone can see it

**If the current behavior is a bug, please provide the s

[2018-02-06 21:28] padupuy opened #599 "Enhance onboard message CLI"
**Node.js version**:
v9.3.0

**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.9.2
**Operating system**:
macOS High Sierra 10.13.1

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The creation of the strapi project is done, so what do I do ?

**If the current behavior is a bug, please provide the steps to reproduce the problem**
N/A

**What

[2018-02-06 21:38] padupuy opened #600 "Enhance MySQL requirements"
**Node.js version**:
v9.3.0

**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.9.2
**Operating system**:
macOS High Sierra 10.13.1

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The creation of the strapi project fails when MySQL is chosen as database engine and the MySQL configuration is not compatible with strapi instruction

**If the curre

[2018-02-06 21:41] wingsiu opened #601 "MYSQL can't update any model"
Node.js version: v8.9.4
npm version: 5.6.0
Strapi version: 3.0.0-alpha.9.1
Operating system: Mac OSX 10.13.3

database : mysql

can't update any models

[2018-02-06 23:05] pierreburgy opened #602 "Database URI for Heroku"
**Node.js version**:
8

**npm version**:
5

**Strapi version**:
v3@alpha.9

**Operating system**:
MacOS

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently, it is not possible to use a MongoDB URI (containing the database username, password, host, port and database) set as environment variable or specified in the config files. That makes

[2018-02-07 01:21] redni opened #604 "The inability to use Queries"
**Node.js version**:
v9.5.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.9.2

**Operating system**:
Arch Linux

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The inability to use Queries: where, sort, skip, limit. The system incorrectly replaces the entered get variables.

**If the current behavior is a bug, please provide the steps to

[2018-02-07 07:59] derrickmehaffy commented on #600
This information should not trigger automatically and should be documented as not everyone will use a locally hosted MySQL Instance or even in the local LAN. In many cases it should be expected a remote database will be used especially those geared towards more redundant based setups such as using Galera Clusters.

[2018-02-07 09:38] Aurelsicoko commented on #604
@redni You're not using the right syntax in your URL. Take a look at the documentation https://strapi.io/documentation/guides/filters.html

[2018-02-07 09:42] Aurelsicoko commented on #601
@wingsiu Could you format your issue with the template provided? Also, for a better experience, we highly recommend using MongoDB. With SQL databases, we can't update the tables and columns automatically for the moment.

[2018-02-07 10:24] storm1er commented on #548
@lauriejim That's what I did multiple times. But this issue just makes me realize that we shouldn't need to edit code to do this. It could be really awesome to deal roles attributions through UI =D

[2018-02-07 10:33] redni commented on #604
@Aurelsicoko Thank you, it works great. Next time I will look through the sources and documentation much more thoroughly before I write anything. I apologize and close the issue.

[2018-02-07 10:33] #604 closed

[2018-02-07 11:07] soupette commented on #597
Hi @MateusSilveira98 .

In order to modify the admin you have to start your project in dev mode [see the CONTRIBUTING guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md).

Once you started your project in `dev mode`go to `my-project/plugin/content-manager/admin/src/containers/List/index.js`.

In the `render` function you have a `const tableHeaders` that sets the `Table` headers (i

[2018-02-07 11:17] storm1er commented on #575
Same problem :

**Content types :**
- Account
- Line
- Tag
- User

**Relations :**
- Account to many lines
- Account to one user
- Line to one account
- Line to many tags
- Tag to one user
- Tag to many lines
- User to many account
- User to many tag

**Step to reproduce :**
1. Create an account linked to an user
2. Create a line linked to an account
3. Creation a tag linked to an user
4. Go to th

[2018-02-07 11:40] soupette commented on #579
In order to add search functionnality you have to first start your project in  `dev mode` [see the CONTRIBUTING GUIDE](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md).

Once your project is in dev mode you have to add the `InputSearchWithErrors` component to the `List`container which is located in `my-project/plugins/content-manager/admin/src/containers/List/index.js`.

You have to c

[2018-02-07 11:53] soupette commented on #579
I'm closing the issue feel free to reopen it if needed.

[2018-02-07 11:53] soupette commented on #597
I'm closing the issue feel free to reopen it if needed

[2018-02-07 11:53] #597 closed

[2018-02-07 12:02] derrickmehaffy commented on #579
@soupette I'm curious to know if features like this are planned to be integrated into the Default Strapi interface instead of added manually for each user?

[2018-02-07 13:05] soupette commented on #579
Yes but it's not our main priority..
However this functionality can be a plugin developed by a member.
I wan to emphasize the fact that it can be a plugin since a plugin can inject some component into another using the `injectedComponents.js` file.

See the [documentation](https://strapi.io/documentation/plugin-development/frontend-use-cases.html#inject-design) to find more about it.

[2018-02-07 13:17] derrickmehaffy commented on #579
That makes sense, just wanted to clarify the use case as I have not seen any references to it previously.

Thank you.

[2018-02-07 14:12] #602 closed

[2018-02-07 17:56] akwatra opened #607 "restarting crash"
**Node.js version**:
8.4.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.9.1
**Operating system**:
linuxmint | ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-07 17:59] akwatra commented on #607
Auto restarting and manual restarting also failed sometimes with message taking long time.

INFO (7493 on mera-laptop): File changed: /www/htdocs/noder/strapi/plugins/users-permissions/services/Jwt.js
INFO (7483 on mera-laptop): The server is restarting

WARN (7578 on mera-laptop): Bootstrap is taking unusually long to execute its callback 3500 miliseconds).
WARN (7578 on mera-laptop): Perhaps you

[2018-02-07 18:01] akwatra opened #608 "JWT token expiration and refresh"
**Node.js version**:
8.4.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.9.1
**Operating system**:
linuxmint | ubuntu 16.04
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-02-07 18:04] akwatra commented on #608
Hi,

I created jwt token with user /auth/local and then pass the token in header Authorisation bearer, it works.

But i wanted to limit the token expiration with couple of hours, While testing i tried to set the two minutes
const defaultJwtOptions = { expiresIn: 120 }; in Jwt.js  but that did not work

means able to access the data even after expiration minutes with pollicy: isAuthenticate endpoin

[2018-02-07 19:25] mukeshmaurya91 commented on #581
@bogdancrisu  i'm also stuck in same problem. And after doing some research found that (*. schema.path) is wrong and this must be  (*.schema.paths).
@lauriejim  Please fix this issue asap. Thanks

[2018-02-08 10:36] #579 closed

[2018-02-08 10:36] Aurelsicoko commented on #561
Set the `/config/hook.json` timeout value to 5000...

[2018-02-08 15:48] rroblik opened #615 "Act on fetched data globally / shared controller"
**Strapi version**:
3.0.0-alpha.9

Hi,

(As you will see) I'm newbie using both strapi and mongo with npm :)

I'm testing strapi for now, and I would like to apply some cleanup on returned data (aka : remove `_id` and `__v` keys)

For now, what i'm doing is  :
[code]

I think there is more elegant way of doing such things ; moreover I would like to know how to "hook" on every `find` `findOne` (...

[2018-02-08 17:12] mittalyashu commented on #561
Still not working.

![image](https://user-images.githubusercontent.com/29014463/35987314-5ca61408-0d21-11e8-84b2-cf68ebb38ad6.png)

[2018-02-08 17:21] mittalyashu opened #616 "Bootstrap is taking unusually long to execute its callback"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9.2

**Operating system**: Windows 10

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** `strapi start` is not working

**If the current behavior is a bug, please provide the steps to reproduce the problem** `strapi start`

**What is the expected behavior?** Strapi sho

[2018-02-09 06:55] gurjantsingh7979 commented on #580
I have used below given statement, but it has not worked on my side. Please advise.
strapi.log.debug("my object ...");

[2018-02-09 10:13] #598 closed

[2018-02-09 11:45] redni commented on #616
Is there any error or something else? From my own experience, I know that after using `strapi start` the console is empty until you enter `http://localhost:1337/` on the browser.

At the beginning I was also wondering if everything works and started. It turned out that any information in the console only appears after visiting the site. For new users it can be confusing because they do not know wh

[2018-02-09 14:03] mittalyashu commented on #616
I have a chat with @Aurelsicoko on slack.

![image](https://user-images.githubusercontent.com/29014463/36029794-a98f314c-0dca-11e8-8b61-585014b523ce.png)

[2018-02-09 15:16] Aurelsicoko commented on #616
@mittalyashu Is this https://github.com/strapi/strapi/issues/561 the same issue?

I'm working on it. First of all, we need to increase the default timeout for loading hook. I will increase the 1000ms to 3000ms.

[2018-02-09 15:33] #528 closed

[2018-02-09 15:41] Aurelsicoko commented on #561
It seems that your SQL database is not running. Make sure you provide the right connection information to connect Strapi to it. I can't reproduce your issue. The error is happening in the `./plugins/users-permissions/config/functions/bootstrap.js` because there are many requests done in this file and they can't be executed because the connection to the database doesn't exist.

[2018-02-09 16:02] #472 closed

[2018-02-09 16:36] mittalyashu commented on #616
@Aurelsicoko, I am not sure that #616 and #561 are the same issue or not.

I tried to increase the timeout but no effect.

[2018-02-09 16:38] mittalyashu commented on #561
Do we need to run SQL database separately?

[2018-02-09 19:00] victorkurauchi opened #619 "Would strapi work for a multisite approach ?"
Hi guys, i'm using strapi on a new project and so far it's being a good experience.

**Do you want to request a *feature* or report a *bug*?**
I was thinking about a different scenario, where we could have something similar to the drupal multisite (https://www.drupal.org/docs/7/multisite/multi-site-sharing-the-same-code-base)

Scenario: We have a client that wants do build a few sites, but the tea

[2018-02-10 04:58] wingsiu opened #621 "Can't Save Default language as zh_Hant_HK in Setting Manager"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9.2

**Operating system**: OSX 10.13.3

report a *bug*?**

**What is the current behavior?**
Can't Save Default language as zh_Hant_HK in Setting Manager
the following error is shown in safari console:
{
    "statusCode": 400,
    "error": "Bad Request",
    "message": [
        {
            "target": "language.de

[2018-02-10 22:14] bogdancrisu commented on #581
@lauriejim So after creating the route via content type builder, I'm unable to fetch the right item via the route/:id, is always returning the last entry that the collection has.

[2018-02-10 23:47] henriollik opened #622 "Nginx routing problem, possibly"
**Node.js version**:
8.9.4

**npm version**:
3.10.10

**Strapi version**:
3.0.0-alpha.9.3

**Operating system**:
Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Can't access Strapi via the browser. Chrome console:

[code]

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Follow the deploy

[2018-02-11 17:25] bogdancrisu opened #623 "Content Type with Multiple Relation Fields has weird behavior"
**Node.js version**:
9.5.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.9

**Operating system**:
OSX

I have a Content-Type "Cars" with Multiple Relation Fields, two of them are many to many and one is one to many, as soon as I delete an entry "Combustible" from the one to many relation, the other relations are empty after the save action, before the save action both of them had a valu

[2018-02-12 07:05] lucaperret opened #624 "Create is owner and contributor policy"
**Node.js version**: v8.9.4
**npm version**: 5.6.0
**Strapi version**: alpha 9.2
**Operating system**: Mac OS
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
A user with the update/delete access to a model can update/delete data not created by him.
**What is the expected behavior?**
Add a policy to prevent user update/delete content not created b

[2018-02-12 07:14] denislutz opened #625 "Exception swallowing during a mongo error"
**Node.js version**:v9.5.0

**npm version**:5.6.0

**Strapi version**:3.0.0-alpha.9.3

**Operating system**: Mac OS

**Do you want to request a *feature* or report a *bug*?**
Feature to make error handling friendlier

**What is the current behavior?**
An exception that comes from the mongodb is swallowed

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**Wh

[2018-02-12 08:52] rroblik commented on #622
Hi @henriollik

Here is what is did, working for me OOB :

[code]

Note : you need to start strapi to let it work as backend on 1337 port (or any other configured)
[code]

Regards

[2018-02-12 10:11] lauriejim commented on #624
Hey @lucaperret thank you for this proposition.
We plan to make it but not now, it's not in our high priority.

It's possible to create your own policies https://strapi.io/documentation/guides/policies.html to handle your case.

[2018-02-12 10:13] lauriejim commented on #622
Hi @henriollik your problem looks come from you server config.
So I hope the Strapi community will help you to solve your problem :)

[2018-02-12 10:17] pierreburgy commented on #622
Could you try with these instructions: https://medium.com/@strapi/how-to-deploy-a-strapi-api-on-ubuntu-16-04-17f8fbbf5c5b?

[2018-02-12 10:24] soupette commented on #529
Is the error still happening with the new version of Strapi?

[2018-02-12 10:46] henriollik commented on #622
@lauriejim Thank you.

@rroblik I realize I can just use a subdomain for Strapi but I need to use a route. I got a test folder working with the same settings but Strapi doesn't seem to come through.

@pierreburgy I am aware of this blog post, however I need to use a route for accessing Strapi, and in the same file as my main domain, if possible. Could creating a new separate file for Strapi solve

[2018-02-12 14:34] lucaperret commented on #624
Hi @lauriejim, is it possible to access requested document to check the owner ?

[2018-02-12 14:59] John0x opened #630 "[FR] Support Typescript"
I believe that TypeScript support for both the admin panel and the API would be a great addition. Adding typescript support for the admin panel shouldn't be too much of a problem, since you're already using webpack for bundling, right?

[2018-02-12 17:57] mikedevita opened #631 "Creating a new strapi app in a path with spaces fails"
**Node.js version**:
9.5.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.9.3

**Operating system**:
MacOS Sierra (10.12.6)

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
broken, cannot use any paths with spaces in them

**If the current behavior is a bug, please provide the steps to reproduce the problem**

1. Create a directory such as

[2018-02-12 20:49] faebeee opened #633 "@sailshq/lodash not found when `npm i`"
**Node.js version**:
8.9.4

**npm version**:
5.6.0

**Strapi version**:
strapi@3.0.0-alpha.9.3

**Operating system**:
OSX

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Getting this error after removing `node_modules` and running `npm i`

[code]

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Read above

**

[2018-02-12 22:09] fabiomig opened #634 "Make a like query"
Hello,

How do i make a like query on a get request? Is that implemented?

Thanks

[2018-02-12 22:13] fabiomig opened #635 "Limit content type to user_id"
Hello,

How should i implement on strapi a limitation of witch user can see / edit / delete by their user_id?

Example

GET /things

I only want to show to the user all the things that matches his user_id.

Thanks

[2018-02-13 06:24] gurjantsingh7979 commented on #579
Thanks @soupette @derrickmehaffy for helping. I did all the changes mentioned by @soupette , but did not work. What I am looking is highlighted in the screenshot. please me to accomplish this.

![screen shot 2018-02-13 at 11 42 59 am](https://user-images.githubusercontent.com/20162939/36135907-d7f4457c-10b3-11e8-9fe8-e7525fa97dc5.png)

Thanks,

[2018-02-13 06:34] gurjantsingh7979 commented on #579
@soupette I think I have no git permissions to open this issue again, so please open this issue.

[2018-02-13 08:06] e2o commented on #633
Hmm, I tried to exact same thing and the install worked for me. Have you tried removing your `package-lock.json` before reinstalling?

If possible, please provide your `package.json` file so I can have a look at it.

[2018-02-13 08:34] denislutz commented on #631
With all the respect, empty spaces in folders are a sure path for bugs in all build frameworks across any stack. So why would you need to do this? I think we should not take the time of the community to deal with unimportant issues like this.

[2018-02-13 09:05] soupette commented on #635
Hi @fabiomig you need to use the `users-permissions` plugin : [Auth & Permission](http://localhost:1337/admin/plugins/users-permissions/roles) link in the Admin for this.

You can create a role and manage its permissions in the edit view

[2018-02-13 09:12] soupette commented on #579
Well the solution I gave you is for the front end part you also need to create the `/search` in your apis.

So in the `content-manager` plugin create a `/search` route and its associated controller. You'll have to create the queries in the `my-project/plugins/content-manager/config/queries` also.

You can take a look at this https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users

[2018-02-13 09:51] lauriejim commented on #631
Hi @mikedevita. You just have to remove your space and it will work.
If you want you can try to fix it and submit a PR to help the community :)

[2018-02-13 09:51] #631 closed

[2018-02-13 10:02] lauriejim commented on #633
Hi @faebeee , same as @e2o , I can't reproduce your issue.
Did you change you npm registry ?

[2018-02-13 10:02] derrickmehaffy commented on #579
No problem, looks good. I am wanting to do something similar with my API so would be great to take a look at what you have done.

[2018-02-13 10:29] faebeee commented on #633
Hi @lauriejim and @e2o I tried to install it this morning and It seems to work now. No idea why or how but the installation is running through. At the beginning, I had the same error on Heroku and on my local machine. Now it works on both. Therefore I'll close this issue

[2018-02-13 10:29] #633 closed

[2018-02-13 11:25] Synj24 opened #636 "New project fails to connect to database"
**Node.js version**:
v9.5.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.9.3
**Operating system**:
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1049-aws x86_64)

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When trying to start a new project strapi throws a warning that it is unable to connect to the database.
[code]
**If the current behavior is

[2018-02-13 12:04] e2o commented on #636
Looks like your MongoDB is not running.
You can start it by running `mongod` in terminal. (leave the terminal open).

Re-try generating a project now, so strapi can generate your `strapi-access` database for you.

[2018-02-13 14:31] denislutz opened #637 "API generator creates mongoose infrastrucutre although connected with bookshelf"
Deniss-Air-2:fourth minimalist$ node --version && strapi -version && npm -version && uname
v9.5.0
3.0.0-alpha.9.3
5.6.0
Darwin

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
API generator creates mongoose infrastructure instead of bookshelf. If the api is generated throught
the content manager everything is ok.
**If the current behavior is a bug, p

[2018-02-13 15:54] abrakadobr commented on #616
i have same problem and it comes quite interesting way:
1. i use nvm, node 9.2.0, npm 5.5.1, installed npm i -g strapi@alpha
2. i created test project (strapi new sa1) and all goes fine - i generated auth, try module developent and admin panel - like all =)
3. now i got idea to repeat steps of "basic installation" and have no success at all (repeated 6-7 times already), so i have a bit more logs,

[2018-02-13 16:11] Synj24 commented on #636
Thanks, when i ran `mongod` instead of using systemd to start and stop it i realised it was throwing errors because there wasn't a directory at */data/db* so i created one and `chown`'d it to $USER.
After that `strapi new ...` appeared to work.
However now when i try `strapi start`  it still wont connect
[code]
and `mongod` complains about an authentication failure
[code]
And I can't see either th

[2018-02-13 16:14] e2o commented on #636
It appears like no strapi database was made after running `strapi new [name]`.

Can you try again and verify that no error is thrown during `strapi new ...` execution?

[2018-02-13 16:39] Synj24 commented on #636
I tried again and `mongod` didn't respond at all when ran `strapi new ...`
[code]
Heres the error it throws when i run strapi start:
[code]

[2018-02-13 18:51] e2o commented on #636
Wat version of MongoDb do you have installed? Should be at least 3.4.

[2018-02-13 23:31] suanter opened #640 "Edit generated API data from content manager lose data"
Hi all, i am working with models that includes JSON. I have a Model  that stores the following:{name:"name a", age:23, location: Map { "name": "location a", "_id": "5a78e0cb433c5f62c92ee", "id": "5a78e0cb433c5f17c92ee", "latlng": Map { "lat": "25.7634", "lng": "-60.1933" } }.

The problem is when i edit this record with the content-manager panel. If i only edit the field ej. "name" somehow the fie

[2018-02-14 04:34] mrksohag opened #641 "I can login mongo admin using password. But when i try to install it show error"
**Node.js version**:
v9.5.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.1
**Operating system**:
Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
UnhandledPromiseRejectionWarning: MongoError: Authentication failed.
    at /var/www/html/nodejs/tmp/node_modules/mongodb-core/lib/connection/pool.js:595:61

**If the current

[2018-02-14 07:29] denislutz commented on #625
I created a pull request related to this issue: https://github.com/strapi/strapi/pull/639

[2018-02-14 10:34] e2o commented on #634
@fabiomig In your project, under `/api/[entity]/servives/[entity].js`, you an find the logic that get's executed when calling the api with requests. You can edit the `fetch` and `fetchAll` methods here to have them include extra functionality such as a like query.

[2018-02-14 11:11] Synj24 commented on #636
v3.6.2

[2018-02-14 11:43] luisnomad opened #643 "Feature request: rich text with formatting options?"
Hi all!

I am testing Strapi to determine if it fits our needs to integrate it into our stack. For technical people and API related stuff it's perfect. But I miss a more editor-friendly environment. Content fields can be plain text, but if that content very often needs to be formatted. I was wondering if this is going to be an option in the future, or if it's feasible to add that via plugins now.

[2018-02-14 16:51] nguyenhoangsin opened #644 "Can't generate controller & model by CLI!"
**Node.js version*8.9.4*:

**npm version*5.6.0*:

**Strapi version*3.0.0-alpha.9.3*:

**Operating system*Win10*:

Hi!
When generate controller & model by CLI, i received the notice:
ERROR (11424 on SIN): No generator called `controller` found.
ERROR (11424 on SIN): No generator called `model` found.
Please help me!

[2018-02-14 17:13] mikedevita commented on #631
Its fine, I have my web directory synced via One Drive which is symlinked to `~/One Drive - For Business/Web` OneDrive created this folder automatically, assuming its just a matter of escaping the path properly it should be a relatively simple fix but without digging into the code I can only guess.

I'll dig into it more if it get time and submit a PR.

[2018-02-14 18:52] ultmatedev opened #645 "Strapi - undefined blank screen"
**Node.js version**:
v8.9.1
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.1
**Operating system**:
MAC OSX

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Do not enter the dashboard
**If the current behavior is a bug, please provide the steps to reproduce the problem**
After creating a new user and exiting the strapi, the error happens,

[2018-02-14 20:32] soupette commented on #643
Hi @luisnomad !

It will be an option in the future, we're working on the upload right now but after that we're going to implement it.

A Strapi user posted this https://medium.com/@ceddybi/strapi-rocks-d887c758831e article which explains how to create the rich text editor for the time being.

Hope it will help. If you have more question feel free to join the slack and so can help you.

[2018-02-15 00:11] Freakspot commented on #644
I ran into the same issue when replicating this using `strapi generate:controller test` in a directory that was generated via `strapi new`. Same thing happened in a clone of this repository.
**However**, running `npm run setup` fixed the issue for both directories, successfully generating my controller.

[2018-02-15 00:19] suanter commented on #640
Hi All, I realized one thing....
use case:
 from the mobile app i send  like structure : {"product name", redact:{id:"2342423423",name:"andres","comment":"my product coment" } } to this model Product .
Result:  The API stores all the data correctly but the admin app changes the json structure.

Issue: When i edit, any field, of this record from the content-manager - admin GUI ) and save it , appar

[2018-02-15 01:27] fabiomig commented on #635
Hi @soupette, so the strategy yo recommend me is to have a different role for each user?

Is that equivalent of this? This is what i want.
Select *  from table where user_id = x

What i've understand of what you suggested is something like this:
Select * from table where role = x

But the problem is any user that have the same role will be able to see what other users of same role do.

Thanks

[2018-02-15 07:40] kapil019 opened #648 "strapi new strapiProject not working"
**Node.js version**: v6.10.2

**npm version**: 3.10.10

**Strapi version**: 3.0.0-alpha.10.1

**Operating system**: Ubuntu 14

**Do you want to request a *feature* or report a *bug*?** report a *bug*

**What is the current behavior?**  strapi new strapiProject not working

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?** st

[2018-02-15 09:02] soupette commented on #635
Ok I understand, well in your case you have to either create a plugin that will handle the display of the admin or modify the admin itself to handle it. The second solution will not be dynamic since you'll have to set your user_id directly in the the code instead of having a plugin that can handle it.

[2018-02-15 09:24] luisnomad commented on #643
Thanks for the answer @soupette, the article was pretty helpful!

Cheers.

[2018-02-15 11:08] soupette commented on #648
You need to update your node version to `v8.6` minimum. Here is the [link](https://askubuntu.com/questions/426750/how-can-i-update-my-nodejs-to-the-latest-version)

[2018-02-15 11:08] #648 closed

[2018-02-15 11:17] soupette commented on #621
Hi I need to make a hot fix for that. However, for the time being could you go to your app folder
modify the `language.json`file (`/my-app/config/language.json`) and  change the `defaultLocale` key as follows:

[code]

[2018-02-15 11:17] #621 closed

[2018-02-15 16:45] lauriejim commented on #645
Hello @ultmatedev I can't reproduce your issue.

Can you send me the error response you get in your browser network please.

[2018-02-15 16:56] lauriejim commented on #644
Hi @nguyenhoangsin and @Freakspot ! Thank you for this issue.

We will not fix it soon, so to bypass this issue you will have to create new api (`strapi generate:api`) and move generated controller and model and update naming variables and files name.

[2018-02-15 17:10] lauriejim commented on #637
Hello @denislutz. Please update your Strapi version, it works fine on `strapi@alpha.10.x`.
You will be able to fine migration guides in our documentation.

[2018-02-15 17:10] #637 closed

[2018-02-15 17:27] lauriejim commented on #635
Hi @fabiomig if your user provide an `Authorization` header you will have access to his user.id (https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/policies/permissions.js)
So you can customize your API controller for you use case

[2018-02-15 17:28] #634 closed

[2018-02-15 17:36] lauriejim commented on #624
Sadly nop, because your controller can call many different models in the same action.
But if you use the REST url format, you can detect the model that will be called `[action] /[model]/[ressource]` for `GET /article/1337`
It's not 100% perfect but can work I think.

[2018-02-15 17:48] lauriejim commented on #623
Can you be more precise with your models definition. The best wait to be able to help you is to share your 4 models. It's will be more easy to reproduce your issue.

[2018-02-15 17:54] lauriejim commented on #619
The difference between your 30 websites is just about the front-end part ? But have the same API and data ?

[2018-02-15 18:00] lauriejim commented on #616
@abrakadobr you don't have the same issue.
Please be sure the application you launch has been created with the Strapi version you have on your computer.

[2018-02-15 18:29] ultmatedev commented on #645
I get the following errors:

Uncaught (in promise) Error: Unauthorized
    at main.js:56
    at <anonymous>

Uncaught (in promise) Error: Unauthorized
    at main.js:51
    at <anonymous>
16:22:39.231

Uncaught (in promise) Error: Unauthorized
    at main.js:51
    at <anonymous>

{"statusCode":401,"error":"Unauthorized","message":"Unauthorized"}

[2018-02-15 19:43] soupette commented on #640
Hi @suanter can you send me your models so I can reproduce exactly the behavior? Maybe on slack?

[2018-02-16 08:25] Yobikap opened #655 "Documentation migrating not available for v3@alpha.10"
**Strapi version**:
v3@alpha.10

In the blog post, all links are leading to 404 or are dead. Also I cannot find any documentation how to upgrade from alpha.9 to alpha.10

https://medium.com/@strapi/release-v3-alpha-10-54df30a6ee7b

[2018-02-16 09:12] lauriejim commented on #655
The migration PR https://github.com/strapi/strapi/pull/651 has been merge. Will be available in few minutes

[2018-02-16 09:12] #655 closed

[2018-02-16 09:58] lauriejim commented on #615
Hello @rroblik , did you try the gist you linked ? It works ?

[2018-02-16 10:07] lauriejim commented on #607
Hi @akwatra, please follow this issue https://github.com/strapi/strapi/issues/616 please.

[2018-02-16 10:07] #607 closed

[2018-02-16 10:18] lauriejim commented on #600
Hi @padupuy thank your for this issue.
Your issue is really specific to your configuration. I let this issue open but we will not investigate soon for this issue.

But if you want you can contribute to improve Strapi documentation making a pull request to add your point in the doc.

[2018-02-16 10:20] lauriejim commented on #599
Thank you for this proposition @padupuy

[2018-02-16 10:27] lauriejim commented on #596
Hi @rroblik can you be more precise about what you want with `--poll` tag please.
And what do you suggest to watch files for Strapi restart ?

[2018-02-16 10:55] lauriejim commented on #581
Hi @bogdancrisu and @mukeshmaurya91 please update to the last version of Strapi.

[2018-02-16 10:55] #581 closed

[2018-02-16 12:33] Freakspot opened #659 "Button "Cancel" is not functioning when creating a new entry for a Content Type"
**Node.js version**:
9.5.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0.-alpha.10.1
**Operating system**:
Antergos

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
The Button "Cancel" (see screenshot below for identification) does not function at all.
![image](https://user-images.githubusercontent.com/2371427/36307708-9d5d4492-131d-11e8-98f6-7dda

[2018-02-16 12:38] soupette commented on #659
Hi @Freakspot  the button cancel behavior is to empty all your fields. In this way, redirecting the user back to List view wasn't implemented.

[2018-02-16 13:11] derrickmehaffy commented on #659
It may be worth adding a clear button for that purpose and modifying the cancel button to return to the list view. Or change the cancel button instead to say clear.

[2018-02-16 13:44] Freakspot commented on #659
Oh I see! Thanks for clarifying that @soupette.
I'd agree with @derrickmehaffy, though. Just to make that a little bit more obvious for new users.

[2018-02-16 15:08] nguyenhoangsin commented on #644
Thank for all! I will close issues.

[2018-02-16 17:59] derrickmehaffy opened #660 "Side menu does not scroll or expand with large numbers of Content Types"
**Node.js version**:
v9.4.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.1
**Operating system**:
Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
At 15 or more defined content types, the bottom of the admin menu on the left starts to become cut off and does not scroll or expand to show all menu items.

**If the current b

[2018-02-16 18:04] derrickmehaffy commented on #660
Another possible solution as well Content Types should have the ability to be nested as well. IE you should be able to collapse the parent groups:

- Content Types
- Plugins
- General
- Ect

As well as possibly adding additional sub-parent groups under content types.

[2018-02-16 18:07] derrickmehaffy opened #661 "Custom content type names for the admin"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Name of Content Types do not handle spaces well and do not keep proper capitalization of content types that contain spaces.
See the following example:

![strapi-menu-cutoff](https://user-images.githubusercontent.com/8593673/36322158-941ad5a2-1309-11e8-94d5-e53917d66912.PNG)

**What is the expected b

[2018-02-16 18:12] derrickmehaffy commented on #661
Addition of custom Plural names is also something that should be added as some words do not have have a plural form.

[2018-02-16 18:19] redni commented on #660
I think it is worth considering "inheritance" in models. In my project I divide models into groups. Something like:

linguistics.sigh
linguistics.word

Unfortunately, Strapi turns it into very uncluttered names in the admin panel as well as in the GET itself, because it looks like this in the admin menu:

linguisticssigh
linguisticsword

and in GET:

GET localhost/linguisticssigh
GET localhost /li

[2018-02-16 20:39] derrickmehaffy commented on #660
I agree something like this would work in my case as well.

[2018-02-16 20:44] suanter commented on #640
api / Product
{
  "connection": "default",
  "collectionName": "product",
  "info": {
    "name": "product",
    "description": ""
  },
  "options": {
    "hasTimestamps": true
  },
  "attributes": {
    "username": {
      "type": "string"
    },
    "action": {
      "type": "string"
    },
    "email": {
      "type": "string"
    },
    "idowner": {
      "type": "string"
    },
    "prodCat":