[2018-07-05 18:20] hectorgrecco commented on #1522
Você não colocou o colchete pra fechar a array "routes", talvez seja isso.

[2018-07-05 18:22] derrickmehaffy commented on #1522
@hectorgrecco can you please use english to make sure everyone understand correctly?

[2018-07-05 18:31] hectorgrecco commented on #1522
@derrickmehaffy Ok!
I wrote: "You do not have closed. Maybe, it's that"

[2018-07-05 20:22] leoalves opened #1523 "Updating Content Type name does not update database, it adds a new field"
**Informations**
- **Node.js version**:
v.10.6.0
- **npm version**:
v6.1.0
- **Strapi version**:
v 3.0.0-alpha.12.6
- **Database**:
Mongo 3.6

- **Operating system**:
Ubuntu 16.04

**What is the current behavior?**
When updating a Content-Type name, Strapi adds a new field into the database instead of renaming it in the database. I tested with a relation and string type.

**Steps to reproduce the

[2018-07-05 22:27] techguydave opened #1524 "Empty results when using an "equal" filter on a numeric string"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: Alpine Linux

**What is the current behavior?**
When running an "equal" filter on a string field whose value is completely numeric, the result is an empty array, regardless of whether it's GraphQL or REST. When using "_contains", however, th

[2018-07-06 01:35] yummyelin opened #1525 "How to specify upload-file field's directory?"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongoDB
- **Operating system**: macOS

**What is the current behavior?**
I have two fields which both are upload-file fields, and I am using aws s3 as provider.
I want to upload files to the same bucket but different directory.
How can I do that?

[2018-07-06 02:05] bahdcoder commented on #1521
@soupette I have tried again, and the problem is not having duplicate email addresses. I made sure the email wasn't duplicated and spent a long time trying to find out what's wrong. I really think there's a problem here. I had to modify the code in my project just to get it to work. Could you please check again with the latest version of strapi?
thanks.

[2018-07-06 05:55] derrickmehaffy commented on #1523
Duplicate: https://github.com/strapi/strapi/issues/1114

[2018-07-06 06:27] waful opened #1526 "Content Manager: SelectOne and SelectMany resets user input on re-render from fetching new autocomplete values"
**Informations**
- **Node.js version**: v10.3.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0@alpha.12.6
- **Database**: postgres/mongo (I tried both)
- **Operating system**: Mac 10.13/Docker (official strapi image)

**What is the current behavior?**
For the SelectOne and SelectMany components which use the react-select library, whenever the user triggers a fetching of autocomplete options

[2018-07-06 11:15] #1177 closed

[2018-07-06 12:44] soupette commented on #1340
the commands have change the lint is only run in the monorepo now.

i'm closing the issue

[2018-07-06 12:44] #1340 closed

[2018-07-06 12:51] lauriejim commented on #1483
I will check this issue this week end.

[2018-07-06 12:52] soupette commented on #1149
#1529

[2018-07-06 13:29] mohamadzali opened #1532 "MongoDB connection error with its new driver"
**Informations**
- **Node.js version**: 10.5.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB (v: 3.6.5)
- **Operating system**: ArchLinux

**What is the current behavior?**
Always got this error when creating new project:
DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass option

[2018-07-06 13:37] lauriejim commented on #1522
if `/arquivo/latest` is after `/arquivo/:_id`, `/arquivo/:_id` will match with you custom route. `_id` will be `latest` and `latest` is not a correct id value.

If you set your custom route before, strapi will match your custom route before `/arquivo/:_id`.

[2018-07-06 13:37] #1522 closed

[2018-07-06 13:43] lauriejim commented on #1524
Hello @synth3tk , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-07-06 13:45] lauriejim commented on #1525
Hello @yummyelin , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-07-06 13:46] opgbaudouin commented on #891
Same boat here but my situation is a quite a lot worse as I need SAML + ADFS. "Luckily" as i understood strapi to be very much an alpha product and doesn't (yet) do decent enough auth/authorisation for our needs we simply route all API calls needed via a proxy which adds the missing bits.

[2018-07-06 13:46] lauriejim commented on #1525
You will have to custom the plugin upload and aws provider config to handle bucket.

[2018-07-06 13:48] #1523 closed

[2018-07-06 14:06] davidmarcoes opened #1533 "Unit testing with ES6 capabilities"
**What is the expected behavior?**
Have a fully unit testing environment

After struggling for a while trying to make unit testing work, I finally end up with a configuration that works for me:

1. Navigate to the root of a repo in which you want to implement unit testing (like strapi-admin)
2. Create a .babelrc configuration file:
[code]
3. Create a jest.config.js file:
[code]

4. Install some re

[2018-07-06 14:39] lauriejim commented on #1532
Hello @mohamadzali , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

It's an easy issue to fix. You can update `strapi-mongoose` package.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.gith

[2018-07-06 16:13] Aurelsicoko commented on #212
@kudo108 Not in our plan right now, but we could definitely add that in the future 👍

[2018-07-06 16:31] Aurelsicoko commented on #1494
@derrickmehaffy We should definitely add a rate limit on the attempt to log in. I'm keeping this in mind to potentially add it in the roadmap 👍

[2018-07-06 16:31] derrickmehaffy commented on #1494
@Aurelsicoko I figured as much. You guys have a ton of ideas and not enough time in the day 😛

[2018-07-06 16:33] Aurelsicoko commented on #1494
The team is growing so we are going to be able to push more features in the roadmap 💪

[2018-07-06 16:35] Aurelsicoko commented on #1449
We have a Core Store API to store any kind of data. It's working like a key/value database. But I guess you're talking about a plugin that could handle Pages for a content management purpose?

[2018-07-06 16:39] Aurelsicoko commented on #1472
Thanks for reporting this! I agree with you, it's too complicated to click on the icons. We should increase the space around the icons and also increase the font-size to make them bigger.

@derrickmehaffy You're also right, we should add a `Delete` button in the Edit view 👍

[2018-07-06 18:51] maru3l commented on #1507
@Aurelsicoko I've already spoke to Pierre a weeks ago to explain my idea, but I'm still open to get more information or giving help to make this feature append. It's a must have for my client and I can't make them use Strapi if this feature is not available.

The only thing blocking me right now it's because I have to edit the content-manager package for adding my widget. But I know it's not a goo

[2018-07-06 20:34] heyjaypray commented on #1466
I apologize for not responding sooner - wanted to finish my project before upgrading again.  I just installed 12.6 and everything seems to deploy correctly so I believe the issue is resolved.  Not sure if it was because the production settings were configured wrong - I never touched them because I assumed they were set to "${process.env.PORT || 1337}".

Thank you for you patience and love the work

[2018-07-07 01:23] reskwer opened #1534 "yarn install (workspaces) - not work!"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6
- **Strapi version**: v3.0.0-alpha.12.6
- **Database**: mongo
- **Operating system**: windows 10 LTSB

**What is the current behavior?**
yarn install (workspaces) - not work
![image](https://user-images.githubusercontent.com/8849299/42405311-54b78598-819c-11e8-9afe-9b8386b7f291.png)

it's hard code ?
![image](https://user-images

[2018-07-07 02:21] kudo108 commented on #212
I think I found the way, Hope it can help somebody
- custom in model: afterFetchAll function, calculate the value
- edit model.settings.json to show the value in admin page
the only problem is it can not be sorted or filter

[2018-07-07 02:32] reskwer opened #1535 "2 bugs"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6
- **Strapi version**: afla 12.6
- **Database**: mongo
- **Operating system**: windows 10 LTSB

**What is the current behavior?**
tried to upload an image
![image](https://user-images.githubusercontent.com/8849299/42405921-b38eaa9c-81a6-11e8-9d03-98a633d914bf.png)

then I decided to update the page and flew the language file
![im

[2018-07-07 02:43] reskwer commented on #1535
Guys, want to STRAP on the combat project to try, your product is really loved, even premium pay - but very humid, very unstable, 1 day several of the bugs we catch. Come on guys, thank you :)))

typeof $strapi // 'bug'

[2018-07-07 08:32] derrickmehaffy commented on #1535
@reskwer I don't quite understand the bug your having.

[2018-07-07 11:14] reskwer commented on #1535
image not loaded

[2018-07-07 21:48] reskwer commented on #1534
![image](https://user-images.githubusercontent.com/8849299/42414896-a1fc91f2-8248-11e8-8777-afc4ab996a51.png)
add admin folder in secessed install

[2018-07-08 09:28] lauriejim commented on #1534
Please check this issue https://github.com/strapi/strapi/issues/885

[2018-07-08 09:28] #1534 closed

[2018-07-08 09:31] lauriejim commented on #1535
Hello @reskwer , please follow the issue template so we can get a better understanding about the origin of your bug.

One bug per opened issue. And please check your own issue, it look duplicate of this: https://github.com/strapi/strapi/issues/1518

Thank you.

[2018-07-08 09:31] #1535 closed

[2018-07-08 09:49] lauriejim commented on #1466
@heyjaypray No problem ;) Happy to see you finish your project with Strapi.
If it's a public project can you send us what is it ?

[2018-07-08 13:00] synth3tk commented on #1524
It looks like cd53ef5ddf93ce543721fb688aeb929211d20486 is the offending party. I should have a PR submitted sometime today that will bypass this check if the field type is a string.

[2018-07-09 05:10] manishsg opened #1539 "NGINX - path - /scs. How to configure strapi to process the incoming request"
**Informations**
- **Node.js version**:
v9.11.1
- **npm version**:
node5.6.0
- **Strapi version**:
3.0.0-alpha.12.3

- **Database**:
- **Operating system**:

**What is the current behavior?**
We have nginx reverse proxy to 2 nodejs servers.
a. Client app on react
b. strapi api

the strapi location is set to /scs.

How do we configure strapi so that it can process the incoming request.
Admin Path
F

[2018-07-09 05:20] manishsg commented on #1323
I am facing the same issue. Please confirm if this will be fixed soon. We have changed the api prefix to /scs/. This breaks the public & admin panel.

Please help.

[2018-07-09 08:03] MechJosh0 opened #1540 "Delete a record with an image"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: MySQL
- **Operating system**: Ubuntu

**What is the current behavior?**
When you try to delete a record which an an image it will fail to delete.
Frontend error: `An error occurred during record deletion.`

Server error:
[code]

**Steps to reproduce the problem**
1. Create

[2018-07-09 09:55] Blacknosaur commented on #1484
In the example I posted before I queried model "Encuesta" nested into "User". These are User.settings.json and Encuesta.settings.json

`{
  "connection": "default",
  "info": {
    "name": "user",
    "description": ""
  },
  "attributes": {
    "username": {
      "type": "string",
      "minLength": 3,
      "unique": true,
      "configurable": false,
      "required": true
    },
    "email":

[2018-07-09 11:55] lauriejim commented on #1533
Thank you for this report.

[2018-07-09 12:00] lauriejim commented on #1539
Hello @manishsg . I suggest you to use subdomain for your Strapi app.
You also can check issues here https://github.com/strapi/strapi/issues?q=is%3Aissue+nginx+is%3Aclosed

[2018-07-09 12:05] lauriejim commented on #1540
Hello @MechJosh0 it has been fixed in alpha.12.6. Please migrate your application following migration guides in the wiki.

[2018-07-09 12:10] lauriejim commented on #1524
thank you for your PR I will take a look.

[2018-07-09 12:49] Aurelsicoko commented on #1533
@davidmarcoes It would be better to open a PR if it works on your side 👍

[2018-07-09 13:08] #1387 closed

[2018-07-09 13:09] Aurelsicoko commented on #1452
@AustinBratcher Can you confirm it works on the latest release? So we can close the issue.

[2018-07-09 13:11] #1374 closed

[2018-07-09 14:31] daqst commented on #1521
I have been able to reproduce what I am confident is the same bug.  @soupette it doesn't matter if using the boilerplate or not, the boilerplate code is just calling `localhost:1337/connect/<provider>`.  So using the boilerplate to call it, or just starting a Strapi instance and navigating to connect/provider manually has the same effect.

Steps to reproduce:
- Install new Strapi instance (alpha 1

[2018-07-09 14:43] derrickmehaffy commented on #1521
@daqst Very nice explanation. I'm going to test this myself shortly to confirm your findings. @lauriejim might be worth taking a second look? I've seen a lot of issues relating to the providers plugin.

[2018-07-09 15:39] Aurelsicoko commented on #1433
@johannpinson We have the exact same approach than Sails on this part. When you're creating a new project, we're trying to detect if Strapi is installed globally. If yes, we are creating a symlink to this global version. It avoids to reinstall Strapi and to keep the same version whatever the project you're using. However, I agree it has some downsides as well. I'm not sure we should continue to do

[2018-07-09 15:48] derrickmehaffy commented on #1433
@Aurelsicoko I second this, especially for someone who manages their project on github, I would rather not have to install Strapi globally on every machine I need to deploy it to. Especially for automated deployments.

I've noticed that if I try and deploy my project on a server without strapi installed globally there are a number of missing packages. I could install it, but its just an extra step

[2018-07-09 16:05] #1518 closed

[2018-07-09 16:25] heyjaypray opened #1541 "Strapi logs user out of admin panel when clicking on plugins and marketplace tab"
**Informations**
- **Node.js version**: 10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 12.6
- **Database**: MongoDB
- **Operating system**: Mac OSX

**What is the current behavior?**
Strapi logs user out of the admin panel when selecting the plugins and marketplace tab

**Steps to reproduce the problem**
Click plugins and marketplace tab on Strapi v12.6

**What is the expected behavior?**
T

[2018-07-09 16:44] manishsg commented on #1539
Hi,

I have setup the following
# HTTPS - proxy requests on to local Node.js app
server {
        listen 443 ssl http2;
        server_name mysite.com;

        # Pass requests for / to localhost:8080
        location / {
                root /var/www/mysite.com/html;
                proxy_pass http://localhost:8080/;
        }

        # Pass requests for /admin to localhost:8181/admin/
        *

[2018-07-09 16:44] manishsg commented on #1539
proxy_pass http://localhost:1337/ --> point to strapi

[2018-07-09 17:05] fedecarg commented on #1541
I'm having the same issue

* Strapi `v3.0.0-alpha.12.6`
* MongoDB `v2.6.10`
* Node.js `10.1.0`
* Linux, Ubuntu `16.04`

[2018-07-09 17:40] lauriejim commented on #1541
Hello, it's fixed, can you confirm please.

[2018-07-09 17:44] #1435 closed

[2018-07-09 17:45] emahuni commented on #370
Was having a similar issue:

[code]

i just removed the package-lock.json file and it installed nicely.

[2018-07-09 17:49] derrickmehaffy commented on #1541
@lauriejim Yes its fixed

Thanks for the quick fix

[2018-07-09 17:56] derrickmehaffy commented on #1539
@manishsg You probably need to set some headers for Nginx. I haven't tested something like this, but in my case my nginx config is as such:

[code]

[2018-07-09 18:05] manishsg commented on #1539
Thanks derrick. I have similar configuration except the subdomain is set to /scs as I need to use the main domain for the client react app.

# Proxy Config
    location /scs {
        proxy_pass http://apiProd;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Real-IP $remote_addr;

[2018-07-09 18:10] derrickmehaffy commented on #1539
@manishsg is it possible to instead use a sub-domain like api.example.com instead of /scs.

Maybe something like scs.example.com? (It would make your setup much easier to work with)

[2018-07-09 18:12] manishsg commented on #1539
Ic. How do we create the subdomain on nginx ?

[2018-07-09 18:14] manishsg commented on #1539
https://www.digitalocean.com/community/questions/how-to-create-subdomain-with-nginx-server-in-the-same-droplet --> can it be on the same physical host ?

[2018-07-09 18:15] derrickmehaffy commented on #1539
@manishsg you would use the `servername`

Here is a rough nginx docs page: http://nginx.org/en/docs/http/server_names.html

But yes they can be on the same physical host. Nginx looks for what URL is being requested.
example.com vs scs.example.com can serve two different proxies.

For instance I have an Nginx proxy in front of about 30 different websites all on the same IP and the same ports 😄

[2018-07-09 18:17] derrickmehaffy commented on #1539
Give me a few moments and I'll see if I can get a rough config made for you.

[2018-07-09 18:24] derrickmehaffy commented on #1539
Something like this, (I didn't actually check to make sure it all works, but its close)

Note that you may need to move the Upstream Servers to a different file, for instance I store mine in `/etc/nginx/conf.d/upstream.conf`

[code]

[2018-07-09 18:28] derrickmehaffy commented on #1539
You also would need to make this subdomain with your domain provider in its DNS settings.

for example with goDaddy: https://www.godaddy.com/help/add-a-subdomain-20047

[2018-07-09 18:45] manishsg commented on #1539
Awesome. Thank you. I will give it a try and get back with details.

[2018-07-09 19:12] #1541 closed

[2018-07-09 22:02] bartgarbiak opened #1542 "Can't add a new field"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongo 4.0.0
- **Operating system**: macOS 10.13.5

Adding new fields to a new Content Type doesn't work. A blank screen appears, and a React error
`Expected ref to be a function or a string.` shows up in the console.

**Steps to reproduce the problem**
1. Setup Strapi
2. E

[2018-07-09 22:08] haydos89 opened #1543 "Can't have multi lines in content type description"
**Informations**
- **Node.js version**:
9.11.1
- **npm version**:
6.0.1
- **Strapi version**:
3.0.0-alpha.12.6
- **Database**:
MongoDb
- **Operating system**:
Fedora Linux

**What is the current behavior?**
400 Bad Request - request.error.model.read

**Steps to reproduce the problem**
1. Navigate Content Type builder
2. Create new content type - in the description add, 'Hello, World!

' - Note the

[2018-07-09 23:05] yummyelin opened #1544 "One-to-one relation lost after modifying other fields by admin UI"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongoDB
- **Operating system**: macOS

**What is the current behavior?**
There is an one-to-one relation between content type `Table1` and `User` .
![screen shot 2018-07-09 at 3 53 33 pm](https://user-images.githubusercontent.com/3782817/42480086-8b7c4816-8390-11e8-8957-1

[2018-07-09 23:05] AustinBratcher commented on #1452
@Aurelsicoko and @lauriejim

Just updated to 3.0.0-alpha.12.6. In a development environment, changing the admin path works fine. However, as soon as I run my api in my production environment, I get the same problems mentioned before. Is there some other configuration that could be causing the issue?

[2018-07-10 01:18] yummyelin commented on #1525
If custom the aws provider config, it gives the same directory path for all upload-file fields.

I have a temporary solution, which is using field name as directory path.

The contributing guide link is expired, so I leave my modification here:
https://github.com/strapi/strapi/blob/master/packages/strapi-upload-aws-s3/lib/index.js#L74
[code]
https://github.com/strapi/strapi/blob/master/packages/st

[2018-07-10 05:00] manishsg commented on #1539
Pleas

[2018-07-10 05:00] #1539 closed

[2018-07-10 06:03] mnlbox commented on #1497
@Let's talk about this in slack. What is your username there?

[2018-07-10 07:16] derrickmehaffy commented on #1539
Good to know @manishsg :smiley: glad I could help

[2018-07-10 07:30] nicroto commented on #370
@Aurelsicoko Thanks for the reply and sorry for my late response. (I've missed the notification)

I am on the opposite spectrum of impressions with `package-lock.json`. I have projects that are years-old, and they keep on installing properly, only because of package-lock.json (well they use the older npm-shrinkwrap which is, for the purposes of this conversation - the same thing).

I think you sho

[2018-07-10 08:04] lauriejim commented on #1433
@derrickmehaffy, Normally if you are in a project and you run `npm i` it's reinstall all application node modules and plugins node module. So it's strange you have an issue by pushing your app in production.

[2018-07-10 08:19] lauriejim commented on #1542
Hello @bartgarbiak did you have this issue after migrate your app or it's with a fresh new app ?

[2018-07-10 08:43] lauriejim commented on #1525
Can you provide a PR with your update please. It will be easier for me to test.

[2018-07-10 09:44] #1183 closed

[2018-07-10 10:37] COcisuts commented on #1516
I've got same problem today trying cheesecake strapi official example...
https://github.com/strapi/strapi-examples/tree/master/cheesecakes
Cannot access to admin to continue the tutorial...

[2018-07-10 10:51] Pritoj commented on #1497
@mnlbox My username is `pritojs`.

[2018-07-10 12:10] soupette commented on #1542
@bartgarbiak I'am unable to reproduce the error can you give me a link to your repo please?

[2018-07-10 12:17] #1532 closed

[2018-07-10 12:18] bartgarbiak commented on #1542
That's what I was afraid of (it's a too obvious error to be overlooked). Unfortunately, I can't share the repo at the moment. Can you hint me what else I can do to at least debug that? Maybe not-minimized react would give a more detailed error (like, which ref is missing).

[2018-07-10 14:17] soupette commented on #1542
Well I'm aware that we have this error in the `settings-manager` plugin because it uses ref. Can you try to  create a new app and see if this happens again?

For debugging you need to have the dev mode set up, open the modal and see the warning in the console.

[2018-07-10 15:31] derrickmehaffy opened #1548 "Strapi 12.7 unable to create project - Can't create /tmp"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: v6.1.0
- **Strapi version**: 3.0.0-alpha.12.7
- **Database**: 10.2.16-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

If you attempt to use `strapi new projectname` you are provided the following error:

[code]

Even attempting to delete this folder (/tmp) and attempting to run as su

[2018-07-10 15:32] derrickmehaffy commented on #1548
Spoke with @lauriejim on slack, he stated on MacOS the issue doesn't exist.

I am going to test on Ubuntu 16.04 to confirm its not just my normal dev machine

[2018-07-10 15:46] derrickmehaffy commented on #1548
Confirmed issue on Ubuntu 16.04, Centos 7, and RHEL 7

[2018-07-10 15:48] derrickmehaffy commented on #1548
@maturano can you weigh in on this, what OS do you use?

[2018-07-10 16:06] storm1er commented on #672
@Aurelsicoko Any news on the milestone targetted for this feature ? =)
Great jobs for the lasts release !

[2018-07-10 16:31] maturano commented on #1548
I can confirm the error. Is not creating a directory under `/tmp` (the temporary directory for Linux), instead is creating a `tmp/` directory at the same level of the project.

I don't know why, I will take a look later.

[2018-07-10 16:43] derrickmehaffy commented on #1548
@maturano update to 12.7.1 and/or completely remove your strapi folder installed with npm

I can't reproduce it now.

[2018-07-10 16:43] derrickmehaffy commented on #1548
@lauriejim leaving this open for ~24 hours to see if anyone else hits this error.

[2018-07-10 16:45] derrickmehaffy commented on #1548
for me either updating fixed it or running `rm -R /usr/lib/node_modules/strapi` and reinstalling it with `npm install -g strapi@alpha`

Not sure which fixed it.

[2018-07-10 16:46] fedwatch commented on #871
strapi need LTS version .  most people not working in Node 9.

[2018-07-10 16:48] derrickmehaffy commented on #871
@fedwatch see: https://github.com/strapi/strapi/issues/1296 as to why we aren't using LTS

[2018-07-10 17:05] derrickmehaffy commented on #1412
@lauriejim testing on 12.7 results in a similar issue with MySQL, below are a few example models `body` and `system`. I recommend reopening this, it seems all the relation bits are missing and are not generated with the CLI

system is created using the adminUI and body is created using the `strapi generate:api`

config/routes.json - System:

[code]

config/routes.json - body

[code]

controllers/S

[2018-07-10 17:06] derrickmehaffy commented on #1412
That was a huge wall of text but the TLDR is body is missing this bit:

[code]

[2018-07-10 19:49] bartgarbiak commented on #1542
Ok, reinstalled entire Strapi globally, and the issue doesn't appear anymore. This can be closed, I believe.

[2018-07-10 21:54] reskwer commented on #1508
need hepl
![image](https://user-images.githubusercontent.com/8849299/42539747-bb99612c-84a4-11e8-8f26-c0e1b5566b5b.png)

[2018-07-11 03:48] maturano commented on #1548
I was about to see this issue but I can confirm is fixed now.  I can confirm the error is reproducible before the commit 8a0bca02 ... doesn't looks like related :confused:

[2018-07-11 05:46] nicroto commented on #1483
@lauriejim Thanks.

[2018-07-11 06:09] derrickmehaffy commented on #1548
Yeah @maturano I have no idea how fixing yarn fixed my issue either. @lauriejim wasn't able to reproduce our issue on an AWS instance (after he fixed yarn :stuck_out_tongue: ) this is likely the reason.

I'll go ahead and mark this as resolved then since it seems to be solved.

[2018-07-11 07:50] #1542 closed

[2018-07-11 08:48] mnlbox commented on #1213
@lauriejim no I use default user model,...

[2018-07-11 09:02] reskwer commented on #1508
@lauriejim - please tell me what to do so that I can use the CSRF token

[2018-07-11 10:25] kenjikato opened #1550 "Create project with non global install"
**Informations**
- **Node.js version**: 10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MongoDB v4.0.0
- **Operating system**: Mac OS 10.12.6 and CentOS 7.5 (1804)

**What is the current behavior?**
I'm running in a managed corporate environment, and can't do a global node module installs.

I have to use nvm to manage my node version (which is currently v10

[2018-07-11 10:42] osamajandali opened #1551 "Files find url root points to localhost:1337"
**Informations**
- **Node.js version**:
v9.11.2
- **npm version**:
v5.6.0
- **Strapi version**:
3.0.0-alpha.12.7.1
- **Database**:
mongodb
- **Operating system**:
Ubuntu 16.04.4 x64

**What is the current behavior?**
url property that return from requesting the files api have **localhost:1337** in the url property

this is the response:
`[
  {
    "_id": "5b448d83e6c26214a4274e13",
    "name": "lo

[2018-07-11 10:56] BroTrue opened #1552 "Cant build Admin Panel"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MongoDB
- **Operating system**: Debian

**What is the current behavior?**

When I try to build admin panel `npm run setup` got error
[code]

**Steps to reproduce the problem**

1. create database `strapi` in mongoDB with password: `test`, username: `user`
[code]

2. Set

[2018-07-11 12:07] Nyeedz commented on #1483
@lauriejim Thx man

[2018-07-11 12:52] maturano commented on #1548
The problem is the same that I reported on #1463 there are a [direct command making assumptions over the file system](https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/before.js#L217). The conditional on 8a0bca0 skip that when using `npm`...

I'll work on a new patch to improve that when I have time :+1:

[2018-07-11 13:06] derrickmehaffy commented on #1548
@maturano Alright I'll reopen this, we can close it when you submit a PR.

[2018-07-11 14:41] dulgeoion opened #1553 "Permissions are reseting to default after open Permissions tab in Admin panel"
**Informations**
- **Node.js version**: 10.5.0
- **npm version**: 5.6.0
- **Strapi version**: 12.7.1
- **Database**: pg
- **Operating system**: Mac

**What is the current behavior?**
For example you set up permissions for each role in `User & Permissions` tab in Admin panel, after you saved it and went to develop your new API! After developing, you want to set up permissions for that api, but when

[2018-07-11 14:51] dulgeoion opened #1554 "Association is not defined (on removing)"
**Informations**
- **Node.js version**: 10.5.0
- **npm version**: 5.6.0
- **Strapi version**: 12.7.1
- **Database**: pg
- **Operating system**: Mac

**What is the current behavior?**
So, what do we have. I had this issue before 12.7. When you try to delete some of your api with relations, in my case my model has relation 'one to many' and also it has file field. So, trying to delete some field, go

[2018-07-11 16:41] derrickmehaffy opened #1556 "Unable to send True/False boolean value in POST Request on MySQL"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: 10.2.16-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

Unable to send a POST request on a boolean field using `True` or `False`, I have to send `1` or `0`

**Steps to reproduce the problem**

Using Mysql create a model w

[2018-07-11 16:46] derrickmehaffy commented on #1553
@dulgeoion when you save permissions do you see them in the database at all? My guess is there might be a permissions issue on your postgres database that isn't allowing writes.

If you enable the debug option in your `database.json` file you can see if there is any errors.

See the following doc to enable it: https://strapi.io/documentation/configurations/configurations.html#database

[2018-07-11 16:48] derrickmehaffy commented on #1552
@BroTrue the documentation is wrong, run `npm run setup` in your project root folder, not the /admin folder. See my pending PR: https://github.com/strapi/strapi/pull/1546

[2018-07-11 16:48] derrickmehaffy commented on #1551
+1 to this especially if your running behind an nginx proxy. That URL will almost always be wrong.

[2018-07-11 17:42] anshulk opened #1557 "Lower case email while registering ( Local Auth )"
**What is the expected behavior?**
Using local auth, I expected email to be changed to lowercase while registering too, which is not happening.

Had a look at Auth.js. Are [these lines](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L259-L264) required. Can they be replaced by lowercasing email instead ?

Also in my case, newly registered

[2018-07-11 17:46] dulgeoion commented on #1553
@derrickmehaffy I cannot check right now if they are saving into database at all, but if I click save button and after will do some work, even if I will restart server, my permissions will be saved, but in the moment I open permissions tab, they are reseting, so I don't think that problem is in database...

[2018-07-11 17:48] brunofigalveskk commented on #1274
I'm getting some problems with these two field `id` and `_id`. When I create some content and don't use the content manager plugin to create them and I have 2 collections with a relationship strapi crashes for me when I try to edit one of these contents.

[2018-07-11 18:09] derrickmehaffy commented on #1553
Hmmm, that seems strange. I wasn't able to reproduce it on MySQL but I'll have to test with Postgres.

[2018-07-11 20:11] npjonath opened #1558 "Default value of an enumeration is set to null using strapi admin ui."
**Informations**
Node: v10.6.0
npm: 6.1.0
strapi: 3.0.0@alpha-12.7
database: mongo
os: mac os / ubuntu 16.04 LTS

**What is the current behavior?**
When setting the initial value of an enum to a table through strapi admin UI. the default value is saved as null. When I try to set another value it's working.

**Steps to reproduce the problem**
1 - Create new table with an enumeration (STARTED,STOPPE

[2018-07-11 20:40] derrickmehaffy commented on #1553
Hmmm, @printeastwoodcz what are you env settings (The `information` bit in the issue)

[2018-07-11 20:43] derrickmehaffy commented on #1558
@npjonath you need to set the default value, as with an enum the value could be null

[2018-07-11 21:11] printeastwoodcz commented on #1553
@derrickmehaffy
Node.js version: 10.5.0
npm version: 5.6.0
Strapi version: 12.7.1
Database: mongo
Operating system: Ubuntu 16.04.4 LTS Server

[2018-07-11 21:47] printeastwoodcz commented on #1553
@derrickmehaffy yesterdays fresh installation.
modifications are only new api collections with theirs data and user objected was extended with one text field.

[2018-07-11 22:22] download13 opened #1559 "Allow GraphQL paging using cursors"
Pagination using `start` and `limit` work well for small collections, but querying large datasets will eventually require the ability to paginate using cursors.

You can see in the [OpenCRUD specification](https://github.com/opencrud/opencrud/blob/master/spec/2-relational/2-2-queries/2-2-1-toplevel.md#example) they allow using `after` or `before` as cursor parameters that enable efficient traversa

[2018-07-11 22:59] npjonath commented on #1558
Ho Alright, my bad. It's working now. thanks

[2018-07-11 22:59] #1558 closed

[2018-07-12 00:54] lauborges commented on #1139
hi @Aurelsicoko

After several tests, I saw that I cannot create a relationship with an entity using camelCase.

in my case:
establishment can have an attribute called establishmenttype but can't if the attribute name is establishmentType

[code]

[2018-07-12 04:07] mnlbox opened #1561 "Enumeration by line"
**What is the expected behavior?**
I have two suggestion for Enumeration field type:

1. I think it's more better if Enumeration fields support multi value selection too.

2. In some RTL language like Arabic **comma** character code is different with English and It's a little hard to separate Enumeration values with comma (because we forced switch keyboard language to type comma and switch keyboar

[2018-07-12 05:37] mnlbox commented on #1264
@lauriejim @soupette

[2018-07-12 06:01] mnlbox opened #1562 "SQLite database support"
**What is the expected behavior?**
Hi, I see that Strapi supports [Bookshelf](http://bookshelfjs.org/) and It's support SQLite too. Is it possible to use Strapi with SQLite?
I can't find any information about this in docs.

**My feature request is:** SQLite docs or SQLite database support.

It can be very useful specially as a **default database** for development environment.
Please add this to ht

[2018-07-12 06:25] mnlbox opened #1563 "Search input extra scrollbar in Firefox"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.1.1
- **Strapi version**: 3.0.0 alpha 12.7
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**
Search input not shown well in Firefox.

**Steps to reproduce the problem**
See this image:
![strapi_ui](https://user-images.githubusercontent.com/25859075/42616046-062cd3c2-85c2-11e8-960d-9bb16d00d106

[2018-07-12 07:12] COcisuts commented on #1459
Same here... Windows 10 with ubuntu subsystem...

[2018-07-12 09:31] dulgeoion commented on #1505
On 12.7 it started working. Strange thing.

[2018-07-12 09:31] #1505 closed

[2018-07-12 09:36] soupette commented on #1552
@BroTrue since you generated your project with the `--dev` flag your admin is a symlink with the monorepo which means that even if you rebuild the admin you'll need to create a new app in order to push it to production. What you can do however is run `npm run setup:build` at the root of the monorepo. This command will not only build the admin but also all the other plugin. Therefore the modificati

[2018-07-12 11:32] dulgeoion opened #1565 "Error while fetching with date param."
**Informations**
- **Node.js version**: 10.5.0
- **npm version**: 5.6.0
- **Strapi version**: 12.7.1
- **Database**: pg
- **Operating system**: Mac

**What is the current behavior?**
So, when I am trying to fetch all data with `_gt`, `_lt` etc, with dateTime parameter, got this error:
[code]
For example I have this part of code:
[code]
Even if I will try to reassign before variable to `Date.now()`

[2018-07-12 13:46] gillesdm commented on #1516
Same issue here. Trying to use Gatsby v2 to fetch articles and users (both which have been made through the Strapi admin panel). Also getting this error upon request.

[2018-07-12 14:47] lauriejim commented on #1565
Hello @dulgeoion.

This part of the documentation https://strapi.io/documentation/guides/filters.html is not for services but for API routes.

You have to use bookshelf documentation for what you need.
Check how data queries are made when you generate an API. The code is in the service file.

[2018-07-12 14:48] lauriejim commented on #1563
Hello @mnlbox , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

And it's an easy css to fix it.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-12 15:05] lauriejim commented on #1559
Hello @download13 . Can you write this message in #1057 issue please.
It's same topic so I close this issue.

[2018-07-12 15:05] #1559 closed

[2018-07-12 15:51] Aurelsicoko commented on #1557
Yes, we should lowercase the email because an email isn't case sensitive. Can you make a PR? We would love merge it 👍

[2018-07-12 16:53] download13 commented on #1057
Resposting here:

Pagination using `start` and `limit` work well for small collections, but querying large datasets will eventually require the ability to paginate using cursors.

You can see in the [OpenCRUD specification](https://github.com/opencrud/opencrud/blob/master/spec/2-relational/2-2-queries/2-2-1-toplevel.md#example) they allow using `after` or `before` as cursor parameters that enable

[2018-07-12 22:16] itspoma commented on #403
any updates in Auth0 integration?

[2018-07-12 23:17] steadweb opened #1568 "400 Bad Request when enabling and configuring auth provider"
**Informations**

- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MongoDB / MySQL
- **Operating system**: Linux Mint 18

**What is the current behavior?**
Configuring and enabling an auth provider throws a `Bad Request 400 (This provider is disabled)` when trying to invoke via `http://localhost:1337/connect/<provider>`. Once I've save

[2018-07-12 23:18] steadweb commented on #1568
I'm not using _both_ Mongo / MySQL - I've tried with both configuration and they produce the same issue.

[2018-07-13 06:05] dulgeoion commented on #1565
Hi @lauriejim.
Actually, when you are calling `fetchAll` inside controller, you put there variable `ctx.params`. That variable is the same as  this object inside this fetch`await strapi.services.request.fetchAll({end_date_gt: before}) `, the only difference is that you put there real values, in case of date '16/07/2018', in my case I found that I need to do this changes with my variable to make it

[2018-07-13 07:46] lauriejim commented on #1556
Hello @derrickmehaffy , I just tried to create an entry that have a boolean attribute. And by sending true or false as value for this attribute, it works fine with MySQL.

Don't know what can I do to reproduce your issue.

[2018-07-13 07:59] lauriejim commented on #1554
Hello @dulgeoion .

1. Did you use migration guide or it's a fresh na alpha.12.7.1 app ?
1.1 If it's a migration, can you try with fresh new app to check if you can reproduce with last version

2. Can you try on your side if it's 1xM or file please (It will help me a lot, many issues to answer)

Thank you.

[2018-07-13 08:02] dulgeoion commented on #1554
Hi @lauriejim.
I had a talk with one more dev, who has the same problem as I have and we found that it occurs file uploading. So if you are not uploading file, you could do anything you want with model, but right after uploading associated file you face this issue while trying to update model or delete model. So problem is in files.

[2018-07-13 08:07] lauriejim commented on #1553
Hello guys ! @dulgeoion @derrickmehaffy @printeastwoodcz

I'm not able to reproduce your issue. I will need precise steps to be able to reproduce and fix this issue.

@printeastwoodcz PR and issues you link don't have an impact on this issue I think.

[2018-07-13 08:13] lauriejim commented on #1551
Hello @osamajandali and @derrickmehaffy . That's a good catch !
We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

You will have to update the plugin `strapi-plugin-upload` and `strapi-upload-local` upload provider.
But be careful because I think it can break the media input i

[2018-07-13 09:29] lauriejim commented on #1550
Hello @kenjikato.

To fix it run `npm i` in `/Users/appdevk5k4/Documents/Dev/newDataServer/strapi`.

[2018-07-13 09:37] lauriejim commented on #1213
Can you please answer to my first sentence cause I still without information.

[2018-07-13 10:02] derrickmehaffy commented on #1556
@lauriejim I just created a test project using the following model:

[code]

Attempting to send a POST request with Postman:

[code]

![image](https://user-images.githubusercontent.com/8593673/42685892-22ecb842-8649-11e8-80f9-198ae6464935.png)

Error message in Strapi:

[code]

[2018-07-13 10:04] derrickmehaffy commented on #1556
Based on this response the fix that was applied to bookshelf is not being referenced to alias `True` = `1' and 'False' = '0'

[2018-07-13 10:15] lauriejim commented on #1483
Some delay sorry for that, lot of work.

[2018-07-13 10:16] mnlbox commented on #1561
@lauriejim Now we can choose one value from Enumeration values. For example I have one Enumeration field called **expertise** and it's values are:
Programming,Designer,UI,UX,...
And I want select multi value for this field. I know that we can do this with relation but I want handle this by Enumeration because it's a static list.

[2018-07-13 10:20] #1526 closed

[2018-07-13 12:11] maturano commented on #1548
@derrickmehaffy FYI: PR merged :+1:

[2018-07-13 13:00] lauriejim commented on #1561
To this case you will have to use relations. Enum type is not design for your use case.
https://stackoverflow.com/questions/38305154/why-enum-does-not-store-multiple-values-in-mysql

[2018-07-13 13:03] lauriejim commented on #1556
Please try with `RAW` format when you use Postman.
We actually check on `raw` format. We know issue can exist on the format you use.

[2018-07-13 13:06] derrickmehaffy commented on #1561
(Side note @lauriejim Strapi doesn't use the enum type in MySQL, its just a string. I only know this because I specifically did that in the PR that added it :stuck_out_tongue: updating enum values in large databases can take forever and be very damaging to the database)

Realistically @lauriejim they could probably be stored as json and decoded, but that would require quite a bit of rework.

[2018-07-13 13:07] derrickmehaffy commented on #1561
That being said, this is one of those reasons why a `manyToOneWay` would be a nice add.

(Think oneway but you can select multiple from the source model)

[2018-07-13 13:50] millerone opened #1569 "Can't create a new project"
**Informations**

Node.js version: 10.6.0
Npm version: 6.1.0
Strapi version: 3.0.0-alpha.12.7.1
Database: MongoDB 4.0.0
Operating system: Windows 10

**What is the current behavior?**

For some reason I can't create a new project.
If i run "strapi new my-project" i can only choose the db (let's stay MongoDB) but i can't type the database name in the next step.
I'm not even getting an error, it clo

[2018-07-13 14:04] derrickmehaffy commented on #1569
Duplicate: https://github.com/strapi/strapi/issues/1281

@lauriejim

[2018-07-13 15:59] fedecarg opened #1571 "Value added to a String field gets converted to an Integer"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**

Strapi `content-manager` plugin converts large INT numbers with exponential notation. For example: 8370399913709911711799000 gets converted to 8.370399913709912e+24

This also happens regardless of

[2018-07-13 18:08] millerone commented on #1569
Sorry, i didn't see the other open issue.
I can confirm that using Node v8.9.1 it works like a charm.
Thank you.

[2018-07-13 22:30] samlogan commented on #530
+1

[2018-07-14 02:28] synth3tk commented on #1385
As soon as #1568 gets fixed I'll work on it, since I was planning on adding another provider anyway.

[2018-07-14 10:20] storm1er commented on #1323
Same problem here.

@manishsg You can manually edit every route/path in `/api/*/config/routes.json` if you can't wait this issue to be resolved ;)

[2018-07-14 11:52] derrickmehaffy commented on #1385
@synth3tk I am interested to see how you add one, after you have, I believe I have one to add as well.

[2018-07-14 13:01] ghufr opened #1573 "Can not deploy to Digital Ocean droplets, error when run setup"
**Informations**
- **Node.js version**: 9.11.1 (i use nvm)
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongo
- **Operating system**: Ubuntu 16.04.4 LTS

**What is the current behavior?**
[code]

**Steps to reproduce the problem**

- Create Digital Ocean droplets (1vCPU 1GB)
- `npm i -g strapi@3.0.0-alpha.12.6`
- `strapi new myProject`
- `cd ./myProject`
- `npm r

[2018-07-14 13:38] derrickmehaffy commented on #1573
@ghufr can you test without using nvm and install node globally?

[2018-07-14 13:42] ghufr commented on #1573
@derrickmehaffy  I use nvm on my local machine, same version and it works

[2018-07-14 13:59] ghufr commented on #1573
I tried to `npm run build` on `admin` folder, it works fine, but the plugins is not built

[2018-07-14 16:54] osamajandali commented on #1551
I will start working on it 👍

[2018-07-14 20:11] DimitryDushkin commented on #474
same here

[2018-07-14 20:46] manishsg commented on #1323
the api routes can be fixed by the change. But the admin panel and public path are major issue.

[2018-07-14 22:56] jellybeat opened #1574 "strapi-upload-aws-s3: specify mime type on upload"
**Informations**

- **Node.js version**: 10.1.0 (with nvm)
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongo
- **Operating system**: macOS 10.12.6

**What is the current behavior?**
When uploading to S3, all objects are saved as application/octet-stream type.

**Steps to reproduce the problem**

- Upload a file with the strapi-upload-aws-s3 plugin
- Click to s

[2018-07-14 23:53] synth3tk commented on #1568
I just had an interesting find. On server start/restart, the value of the `core_store.plugin_users-permissions_grant` is:
[code]

However, when saving the provider settings, it looks like this:
[code]

My assumption is the former is what it should look like.

[2018-07-15 02:08] synth3tk commented on #1568
Somehow I missed PR #1513. If it were a snake, it would have bit me. :snake:

[2018-07-15 09:56] lauriejim commented on #1568
Related of duplicate of this issue https://github.com/strapi/strapi/issues/1512 can you confirm please

[2018-07-15 09:58] lauriejim commented on #1574
Hello @jellybeat , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-15 10:01] lauriejim commented on #1551
Thank you @osamajandali !

[2018-07-15 10:10] #1569 closed

[2018-07-15 10:10] lauriejim commented on #1571
Hello @fedecarg , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-15 12:31] synth3tk commented on #1568
This appears to be a duplicate. I tested that PR last night and it solved the 400 issue.

[2018-07-15 12:45] steadweb commented on #1568
Apologies, I didn't notice the previous issue already raised. Closing.

[2018-07-15 12:45] #1568 closed

[2018-07-15 12:57] synth3tk commented on #1568
No worries! I clearly didn't see it, either.

[2018-07-15 13:49] kamalbennani opened #1576 "Server does not restart on files changes"
**Informations**
- **Node.js version**: v9.6
- **npm version**: v6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: MongoDB
- **Operating system**: Ubuntu

**What is the current behaviour?**
When doing some changes on a given file the server does not restart

**Steps to reproduce the problem**
Do some changes on a given file and see if the server get restarted.

**What is the expected beha

[2018-07-15 16:45] jellybeat commented on #1574
Oh, nevermind. Just realized that this PR: (https://github.com/strapi/strapi/pull/1572) included that line on the S3 upload. I'll move my comments out there. Sorry for the inconvenience.

[2018-07-15 16:45] #1574 closed

[2018-07-15 18:30] derrickmehaffy commented on #1556
@lauriejim Just tested using the raw format with `application/json`

I also spun up a VM outside my normal environments, in this case on the Vultr cloud.

![image](https://user-images.githubusercontent.com/8593673/42736863-0a5f8a7c-8822-11e8-96be-625dd85e613f.png)

On this server the following versions:

![image](https://user-images.githubusercontent.com/8593673/42736871-3a94cf40-8822-11e8-84d4-2c

[2018-07-15 18:30] derrickmehaffy commented on #1556
The same error happened

[2018-07-15 18:36] derrickmehaffy commented on #1556
Odd, if you remove the "" around the value:

[code]

It seems to work. @lauriejim is x-www-form-urlencoded something that is planned to be supported or just raw JSON

[2018-07-15 23:05] crisz commented on #152
What about the Angular SDK?

[2018-07-16 06:30] Calcyfer commented on #1497
Have any of you made any progress on this?

[2018-07-16 08:08] fedecarg commented on #864
The fix provided by @yummyelin no longer works. I was unable to find the call to sendmail() inside `service/Email.js`.

[2018-07-16 08:16] derrickmehaffy commented on #1556
Closing this as it "Works" just not as expected, likely deeper issues than just the boolean.

[2018-07-16 08:16] #1556 closed

[2018-07-16 08:34] derrickmehaffy commented on #1189
Knex Unique function: https://knexjs.org/#Schema-unique

Bookshelf would need to grab the field meta `Unique Field` and run an `knex.schema.alterTable('$Tablename', function(t) {
  t.unique('$Columnname')`

[2018-07-16 08:44] derrickmehaffy opened #1578 "Oneway relation converting itself to OneToOne or OneToMany"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: 10.2.16-MariaDB
- **Operating system**: Linux Mint 19 Tara (Ubuntu 18.04)

**What is the current behavior?**

Fair warning this is difficult to produce, I've noticed it only when working with models with either a lot of fields, or other relations.

On some models if you

[2018-07-16 10:39] kenjikato commented on #1550
@lauriejim thanks for the feedback, but unless I'm not understanding what you mean by `npm i`, getting strapi to install locally isn't the issue.

The problem is getting strapi to actually run from a local install rather than a global install. Following through the getting started to do the setup `strapi new myProject`

It appears that the local install gets hung up on loading the `admin`. Below i

[2018-07-16 11:01] derrickmehaffy commented on #1573
Just tossing this here since @maturano noticed it put it on the slack. @soupette any idea whats going on here?

[2018-07-16 17:07] #1524 closed, assigned to lauriejim, soupette

[2018-07-16 20:21] dblinov opened #1579 "Date format error on update content manager MySQL"
**Informations**node
- Node.js version: 10.6.0
- npm version: 6.1.0
- Strapi version: 3.0.0-alpha.12.7.1
- Database: MySQL 5.7.2
- Operating system: macOS High Sierra 10.13.5

**What is the current behavior?**

I added to User Content Type a new Field - Birtday with Type Date. When I try to make any changes in User data I receive the following error message:

update `users-permissions_user` set `p

[2018-07-16 21:45] kamalbennani opened #1580 "Disable Tracking (Google Analytics)"
**Informations**
- **Node.js version**: v9.0
- **npm version**: v6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: MongoDB
- **Operating system**: Ubuntu

**What is the current behaviour?**
I wanted to disable the tracking on my project, so I followed the instruction mentioned in this file (https://github.com/strapi/strapi/blob/master/packages/strapi-admin/doc/disable-tracking.md). The GA

[2018-07-16 23:09] maturano commented on #1573
I just have to experiment the same issue and was not related to the `NODE_ENV` variable ... maybe is the same problem.

@ghufr Try to set the environment variable `npm_config_debug` to `true`. Either exporting it in the command:
[code]

If works, hopefully you can see a more verbose output that could help to found the problem.

In my case, I got this:
[code]

My problem was that I was connected be

[2018-07-17 01:29] emezeta commented on #636
I know it's closed.  At  https://strapi.io/getting-started  it reads:

`Fill the database information. The default values should work if you have just installed MongoDB.`

 Could you add something like `Try blanks for user/password.` please? Thanks!

[2018-07-17 09:08] sriharsha186 opened #1583 "Editing field names without loss of content"
**What is the expected behavior?**
For instance I have a field called TitlePage defined in the content type builder.  I have added some content to it. Lets say 10 values.

Then came the requirement to change the field names into Camel case.  The change from TitlePage to titlePage makes the existing content go away for all the 10 values.  So, I will have to go to each of the 10 values again and put

[2018-07-17 09:17] derrickmehaffy commented on #1583
Related: https://github.com/strapi/strapi/issues/1114

[2018-07-17 09:20] derrickmehaffy commented on #1583
@sriharsha186 right now Strapi will not directly manage the database (Mongo/MySQL/Postgres) It will create the tables and columns (not sure what they are called in mongo) but it won't edit them (other than to reset the data type on columns) and it certainly won't delete them.

As you said it's similar to but not exactly deleting the column and creating a new one, doing so in this context would als

[2018-07-17 09:29] derrickmehaffy commented on #1114
@Aurelsicoko just curious do you have any update on this. I know you guys have quite a bit on your plate and wasn't sure where this landed in terms of the roadmap. Didn't know if any other further internal discussion happened as to the plans for this.

[2018-07-17 10:34] derrickmehaffy commented on #1433
@lauriejim If you create a new project locally, push it to github, and deploy it on AWS or somewhere else and run `npm i` compare the two node_modules folders. :stuck_out_tongue:

[2018-07-17 10:35] #1580 closed

[2018-07-17 10:38] #1504 closed

[2018-07-17 10:39] #1512 closed

[2018-07-17 11:00] fedecarg opened #1584 "App breaks when a Content Type is renamed"
Informations

Node.js version: v10.1.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.12.6
Database: MongoDB
Operating system: Linux

**What is the current behavior?**

If a Content Type that has a relationship is renamed, MongoDB complains about `globalId` not being defined and the app breaks.

**Steps to reproduce the problem**

* Create 2 Content Types with a one-to-one relationship.
* Add some

[2018-07-17 11:02] fedecarg commented on #1571
I will consider this a bug rather than an enhancement. Because I I add a String field, I expect to get a String, and not an Integer.

[2018-07-17 11:52] henrych4 opened #1585 "Question on posting file to media field directly"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.5.1
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: macOS High Sierra Version 10.13.1

**What is the current behavior?**
I have created a content type with field 'media'. And I would like to add file by sending post request and retrieve file location.
And from the response, I can see the follo

[2018-07-17 12:00] derrickmehaffy commented on #1571
I can confirm this is a bug. Pasting it in an Integer field won't save on mysql due to the number being outside the maximum range. Pasting it into a string field results in the example.

[2018-07-17 14:09] fedecarg opened #1586 "Error message accidentally added to the database"
Information:

- Node.js version: v10.1.0
- npm version: 5.6.0
- Strapi version: 3.0.0-alpha.12.6
- Database: MongoDB
- Operating system: Linux

**What is the current behavior?**

See image attached, the property `vat_rate`:

![error_codes](https://user-images.githubusercontent.com/61066/42822365-c9937d0c-89d2-11e8-8de9-abaee7cea8f7.png)

**Steps to reproduce the problem**

POST an String value to

[2018-07-17 14:54] BroTrue opened #1587 "Filtering nested objects returns `Cannot convert object to primitive value`"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**:  6.1.0
- **Strapi version**:  3.0.0-alpha.12.7.1
- **Database**: MongoDB
- **Operating system**: Debian 9

**What is the current behavior?**

Cant use `(where: {} )` in graphql. Returns : `"Cannot convert object to primitive value"`

**Steps to reproduce the problem**
1. Create new project `strapi new my-app`
2. Add 2x Content type

[2018-07-17 15:05] BroTrue commented on #1552
@soupette Thanks for help, its working!

[2018-07-17 15:21] BroTrue commented on #1587
Models ( it was autogenereted)!

`api/page/models/Page.settings.json/

[code]

`api/product/models/Product.settings.json/`
[code]

[2018-07-17 15:46] xeastcrast opened #1588 ""There are no fields yet" but I'm sure for I added a lot of content type field already"
**Informations**
- **Node.js version**: 10.x.x
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: ubuntu 18

**What is the current behavior?**
"There are no fields yet" but I'm sure for I added a lot of content type field already

**Steps to reproduce the problem**
I don't know for this

**What is the expected behavior?**
It should be cr

[2018-07-17 16:41] derrickmehaffy commented on #1586
@fedecarg there is no validation layer, right now the database is the only real validation and mongo doesn't really have that. MySQL will toss an error about it and won't save it. See the [vote page](https://strapi.io/vote) the validations option is on there.

[2018-07-17 16:43] #1552 closed

[2018-07-17 17:01] fedecarg commented on #1588
This is because your server is not restarting whenever your make some changes. I'm using `pm2` and this command worked:

`NODE_ENV=development pm2 start strapi --no-pmx --name=commerce-api -- start`

[2018-07-17 17:03] fedecarg commented on #1586
@derrickmehaffy Oh I see, thanks for letting me know!

[2018-07-17 17:12] xeastcrast commented on #1588
@fedecarg  What is --no-pmx option use for?

[2018-07-17 17:22] xeastcrast commented on #1588
@fedecarg On old version of strapi when I change or modifier some thing in my api, Server will auto restart  But on current version of strapi that I migrated from old version,It don't auto restart when I change anything

Sorry for my englist syntax

[2018-07-17 17:48] derrickmehaffy commented on #1588
@xeastcrast

Pmx is something that reports metrics from your application to pm2, which Strapi doesn't have as it wasn't designed to run with pm2.

So it's being disabled to save resources that is looking for events that won't happen.

[2018-07-17 19:49] Khanji opened #1589 "forgot-password leads to: TypeError: Cannot read property 'options' of undefined at forgotPassword"
**Informations**
- **Node.js version**: 10.6.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongodb 4.0.0
- **Operating system**: Ubuntu 18.04 LTS

**What is the current behavior?**
http://localhost:1337/admin/plugins/users-permissions/auth/forgot-password
is giving an error when trying to send for forgot-password.
The error that is being returned by the server

[2018-07-17 22:18] derrickmehaffy commented on #1589
Can confirm this on a new 12.7.1 project with mysql

[2018-07-17 22:57] maturano opened #1590 "Enviroment variables not replaced on `server.json` config file"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongo
- **Operating system**: WSL with Ubuntu 18.04 on Windows 10

**What is the current behavior?**
The `database.json` is using environment variables (👍). Trying to use the same patter on `server.json` file is not working.

**Steps to reproduce the problem**
Edit the `

[2018-07-18 05:17] Ahmedsaber9 opened #1591 "strapi -v or any strapi not working! but it was working!!"
**Informations**
- **Node.js version**:
v10.6.0
- **npm version**:
6.2.0
- **Strapi version**:
Last via : npm install strapi@alpha -g
- **Database**:
MongoDB
- **Operating system**:
Ubuntu 18.04

**What is the current behavior?**
1- I install and run
`strapi new my-project`
All OK :)
2- I made some new elements etc and all is perfect
3- I go to make my API via
`strapi generate:api saber`
4- I got

[2018-07-18 05:34] Ahmedsaber9 commented on #1591
I Should Run
`source ~/.profile `
In every new terminal to get it work.
i hope this will help someone else
also don't miss
https://docs.npmjs.com/getting-started/fixing-npm-permissions
Thanks.

[2018-07-18 05:34] #1591 closed

[2018-07-18 05:56] mnlbox opened #1592 "Deprecation warning logs on Mongo"
**Informations**
- **Node.js version**:9.0.0
- **npm version**:5.5.1
- **Strapi version**:3.0.0-alpha-12.7.1
- **Database**:MongoDB
- **Operating system**:Linux

**What is the current behavior?**
I see this warning in terminal for a fresh project:
[code]

**Steps to reproduce the problem**
* Install Strapi version 3.0.0-alpha-12.7.1
* Create new project
* Run project.

**What is the expected behav

[2018-07-18 06:14] #1585 closed

[2018-07-18 07:52] #1588 closed

[2018-07-18 08:12] lauriejim commented on #152
It's not plan to create it now. Javascript SDK is available https://github.com/strapi/strapi-sdk-javascript

[2018-07-18 08:37] lauriejim commented on #1550
The process you have to do for your case:

1. `cd newDataServer`
2. `npm init -y`
3. `npm i strapi@alpha`
4. `cd node_modules/strapi`
5. `npm i`
6. `cd ../..`
7. `node ./node_modules/strapi/bin/strapi.js new myProject`

[2018-07-18 09:35] lauriejim commented on #1433
Yes @derrickmehaffy , it's what said @Aurelsicoko https://github.com/strapi/strapi/issues/1433#issuecomment-403522883

[2018-07-18 10:15] lauriejim commented on #1592
Hello @mnlbox , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-18 10:20] fedecarg commented on #1586
Updated the title of the issue. Even if there's no validation, error message should not be added to the `vat_rate` field

[2018-07-18 10:31] lauriejim commented on #1589
Hello @Khanji , thank you for this repport.

I think it's an easy issue to fix, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-18 11:04] yasinishyn opened #1593 "custom.json configuration is not accessible"
- **Node.js version**: 9.5.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MongoDB
- **Operating system**: OSX

**What is the current behavior?**
`config/custom.json` nor `config/environments/**/custom.json` are accessible when calling:
`strapi.config.myCustomConfiguration`
nor `strapi.config.environments[process.env.NODE_ENV].myCustomConfiguration`
nor `strapi.

[2018-07-18 11:47] lauriejim commented on #1586
Hello @fedecarg , you can easily add a filter on received params and your model's attributes.

Feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-18 11:47] lauriejim commented on #1586
This issue have the same topic of this one https://github.com/strapi/strapi/issues/845

[2018-07-18 11:51] lauriejim commented on #1587
I think your issue is a duplicate of this one https://github.com/strapi/strapi/issues/1484
And you already publish on the issue. I think it's not necessary to open new issue.

[2018-07-18 15:52] maturano commented on #1593
I just tested with the latest version an works as the documentation said. I left you and screenshot:
![customjson](https://user-images.githubusercontent.com/5768813/42892828-6844d248-8a78-11e8-94ed-53d2376dbf3d.PNG)

The console log is the only change that I made from a new installation. What do we do different?

[2018-07-18 17:02] maturano commented on #1592
Just to add the information: This warning if from the Mongo driver for NodeJS. I let here the documentation for the new methods:
https://mongodb.github.io/node-mongodb-native/3.1/api/Collection.html#countDocuments
https://mongodb.github.io/node-mongodb-native/3.1/api/Collection.html#estimatedDocumentCount

[2018-07-18 17:05] maturano commented on #1591
Personal recomendation: use `nvm` or similar: https://github.com/creationix/nvm

[2018-07-18 17:34] derrickmehaffy commented on #1579
@lauriejim likely related to that issue with the automated created_at and updated_at fields a few versions back.

[2018-07-18 17:35] dblinov commented on #1579
I have the same issue suing MySQL version 8.

[2018-07-18 17:36] derrickmehaffy commented on #1579
@dblinov its not an issue with mysql, strapi isn't sending the correct format to mysql

[2018-07-18 19:43] maturano commented on #1590
🤔 ... I just checked again. There are some replacement but is inconsistent, as far I understand. Let me share a couple of tests:

1. With `STRAPI_BACKEND=coucou`
![serverconfig_nohttp](https://user-images.githubusercontent.com/5768813/42903117-6b94451e-8a96-11e8-82ab-59feaa19266e.PNG)

- All the plugins are requested to the same domain
- Te replacement for plugins are as "basepath" (_domain.com/**

[2018-07-18 20:41] xeastcrast opened #1594 "npm install error when run this command in admin folder"
**Informations**
- **Node.js version**: 10.x.x
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alphan.12.6
- **Database**: mongodb
- **Operating system**: ubuntu 18.x

**What is the current behavior?**

**>When I npm install in strapiproject/admin folder**
![image](https://user-images.githubusercontent.com/12433101/42906436-4ff4b090-8b05-11e8-9725-e75b8b0e12ff.png)

[2018-07-18 20:43] maturano commented on #1594
What are the messages before that?

[2018-07-19 07:19] ghufr commented on #1573
It turns out my problem is caused by memory limit :(

[2018-07-19 07:20] #1573 closed

[2018-07-19 07:40] derrickmehaffy commented on #1584
@fedecarg you need to also rename it in the other model, as the other one will still attempt to reference the old name.

[2018-07-19 07:45] derrickmehaffy commented on #1579
Not sure on the exact fix @dblinov but I know the problem stems from Strapi using moment.js which doesn't format the `datetime` correctly for mysql.

I believe @johannpinson has already fixed it in a PR that also adds some other stuff to graphQL, see: https://github.com/strapi/strapi/pull/1439#issuecomment-401714051

Not sure if that PR also includes the fix.

[2018-07-19 07:52] fedecarg commented on #1584
@derrickmehaffy Makes sense. Shouldn't Strapi do that for the user?

[2018-07-19 07:56] kamalbennani commented on #1584
Normally it should be handled by strapi

[2018-07-19 08:32] fedecarg commented on #1586
@lauriejim I think I got it, so it's up to the developer to manipulate user input using `beforeCreate` and similar callback maethods

[2018-07-19 09:22] julestruong commented on #403
@pierreburgy any news ?

[2018-07-19 10:40] derrickmehaffy opened #1595 "MySQL/Postgres allow configuration to use UUID instead of ID"
**What is the expected behavior?**

Currently mongo by default uses a uuid (guid) as its primary ID column, for security and tracking purposes when using MySQL or Postgres, strapi should allow the current `ID` field to instead use the `UUID` field as its primary index.

This should be configurable at the model level and not globally as you can see from this article:
http://kccoder.com/mysql/uuid-v

[2018-07-19 12:45] derrickmehaffy commented on #1412
@lauriejim I created 2 new fresh projects on two new Vultr VMs using the following versions:

[code]

Here are my two repos for testing:
Using AdminUI: https://github.com/derrickmehaffy/strapitest1
Using generate:API: https://github.com/derrickmehaffy/strapitest2

Here is the diffs between them:

Global view:
![image](https://user-images.githubusercontent.com/8593673/42942907-30adbfd6-8b16-11e8-96

[2018-07-19 14:09] lauriejim commented on #556
I am closing this issue because we don’t have any update/needed informations about it.

[2018-07-19 14:09] #556 closed

[2018-07-19 14:17] lauriejim commented on #784
@abdonrd Yes that can be a good improvement.
@soupette can maybe tell us if it's an easy thing to do or not.

[2018-07-19 14:21] lauriejim commented on #876
Hello @pedrosimao have you an update on this point ?

https://github.com/strapi/strapi/issues/876#issuecomment-384925213 Did you do something about it ?

[2018-07-19 14:32] lauriejim commented on #900
Hello @99darwin can you give us an update about your app https://github.com/99darwin/strapi-categories ?

[2018-07-19 14:41] lauriejim commented on #997
Can you please give us an update about this issue?

[2018-07-19 14:43] lauriejim commented on #998
Hello @JunQiGenYuan we’ll appreciate your contribution on this issue! Did you have time to work on this  and submit a PR to share it with the community ?

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-19 14:48] lauriejim commented on #1039
Can you please give us an update about this issue? Did you work on it @oeddyo following @soupette code ?

[2018-07-19 14:56] #1149 closed

[2018-07-19 14:57] lauriejim commented on #1149
It's merged on `master` branch

[2018-07-19 15:00] lauriejim commented on #876
I link to this issue to handle all database in the same time https://github.com/strapi/strapi/issues/1189

[2018-07-19 15:00] #876 closed

[2018-07-19 15:01] lauriejim commented on #1191
Hello @gfelot have you some news about this issue please.

[2018-07-19 15:03] lauriejim commented on #1595
Hello @derrickmehaffy can you check this issue please https://github.com/strapi/strapi/issues/1202
I think it's the same topic.

[2018-07-19 15:04] derrickmehaffy commented on #1595
@lauriejim your right, I didn't use the search function first *facepalm*

Closing this in order to promote discussion on linked issue.

[2018-07-19 15:04] #1595 closed

[2018-07-19 15:05] lauriejim commented on #1213
If no body is able to reproduce this issue I will close it. Probably coming from your app and update you did in.

[2018-07-19 15:05] derrickmehaffy commented on #1202
Just as a foot note from my closed issue linked, this should be configurable on each model separately not globally. And example of performance on MySQL using an `Integer` ID vs a `UUID` ID field:

http://kccoder.com/mysql/uuid-vs-int-insert-performance/

[2018-07-19 15:06] derrickmehaffy commented on #1213
@lauriejim let me test to see if I can reproduce it, I think it has something to do with registering a new user.

[2018-07-19 15:09] lauriejim commented on #1216
Hello ! Feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

It's really not hard issue to do. But have to understand how existing login work. But not really hard I think.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-19 15:11] derrickmehaffy commented on #1213
@lauriejim creating a new user from the AdminUI doesn't show the correct provider (Using MySQL):

![image](https://user-images.githubusercontent.com/8593673/42951535-3e02faba-8b2b-11e8-92fc-d6058d94b9c6.png)

![image](https://user-images.githubusercontent.com/8593673/42951545-45da8fe6-8b2b-11e8-8fa7-c6354db478e5.png)

Note that the provider should local not -

[2018-07-19 15:15] derrickmehaffy commented on #1213
Using a post request:

![image](https://user-images.githubusercontent.com/8593673/42951786-db4cbbe4-8b2b-11e8-8a62-5e36e6649fe6.png)

![image](https://user-images.githubusercontent.com/8593673/42951808-e95ac7e4-8b2b-11e8-861a-4b692a6cc9b1.png)

Works as intended

[2018-07-19 15:18] lauriejim commented on #1271
Still we don't have a clear steps to reproduce I close this issue.
Will reopen it when we will have steps. We are not able to work on without.

[2018-07-19 15:53] lauriejim commented on #1396
I am closing this issue because we don’t have any update/needed informations about it.

[2018-07-19 15:53] #1396 closed

[2018-07-19 15:54] #1428 closed

[2018-07-19 16:09] franksn commented on #1459
this is also the case for postgresql backend.

[2018-07-19 16:11] #1498 closed

[2018-07-19 16:12] franksn commented on #1516
@datboirog94 I don't have this problem using postgresql, yet i do when i use mongodb.

[2018-07-19 16:18] krestaino commented on #1149
@lauriejim Fantastic. I just played around with it, it's very nice.

Any idea when we'll see a new release with it?

[2018-07-19 16:38] lauriejim commented on #1521
Hello guys !

@bahdcoder and @daqst I think it's related to this comment https://github.com/strapi/strapi/pull/1485#issuecomment-405296037

If you confirm, please can you open a PR to share your fix with the community. Will appreciate your help on this point.

[2018-07-19 16:46] lauriejim commented on #1533
@davidmarcoes check out the contributing guide to get started to submit a PR : https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-19 16:47] #1540 closed

[2018-07-19 16:49] davidmarcoes commented on #1533
@lauriejim I'm working on it, just facing some problems with babel when strapi-helper-tool is symlinked  in a plugin.

I don't have to much free time at the moment, I'll try to send the PR ASAP.

[2018-07-19 16:56] lauriejim commented on #1586
Can you confirm your need is the issue I linked please.

[2018-07-19 16:56] #1587 closed

[2018-07-19 16:59] lauriejim commented on #1590
@maturano I miss my C/C try `STRAPI_BACKEND=.... strapi start`
It's not in any build process

[2018-07-19 17:33] bahdcoder commented on #1521
@lauriejim i will raise a PR asap to fix this.

[2018-07-19 18:01] xeastcrast commented on #1594
@maturano
![npminstalladmin](https://user-images.githubusercontent.com/12433101/42961246-74c43220-8bb8-11e8-8286-52914975aa3b.jpg)

[2018-07-19 18:05] xeastcrast opened #1599 "Error when I add user from User Model"
**Informations**
- **Node.js version**: 10
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: ubuntu18

**What is the current behavior?**

This Error occur when i create user in User model in content type ui

[2018-07-19 18:16] maturano commented on #1594
Ok... Some dependency is trying to build `pngquant`, but apparently you don't have the requirements.

First, see if you have the binary installed. What is the output of executing `pngquant --version`?

Then, you will need to install `libpng-dev` and `cmake`. You can do it executing `sudo apt install libpng-dev build-essential`.

Then, try again and let us know if it works to try to solve it (docum

[2018-07-19 18:30] maturano commented on #1590
I got this following the guide to [deploy de admin panel in a different server](https://strapi.io/documentation/advanced/customize-admin.html#deploy-the-administration-panel-on-another-server-aws-s3-azure-etc-than-the-api). So, there should be a build process.

The "funny" thing is that hardcoding the value works. I miss showing that case:

![serverconfig_harcoded](https://user-images.githubuserco

[2018-07-19 19:28] matthias-schulz opened #1600 "Binding to localhost doesn't work."
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongoDB v4.0.0
- **Operating system**: ubuntu 16.04

**What is the current behavior?**
Binding to localhost doesn't work. Is there something I'm doing wrong?

[code]

**Steps to reproduce the problem**
I just need to start the server.

**What is the expected behavior?**

[2018-07-19 19:53] derrickmehaffy commented on #1600
@matthias-schulz check your firewall, even though it shows as bound to localhost you can still access it on your public ip. :smile:

[2018-07-19 19:56] matthias-schulz commented on #1600
I'm sorry, I said that wrong. I want it to be accessible only via localhost.

[2018-07-19 19:57] derrickmehaffy commented on #1600
@matthias-schulz https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-ubuntu-16-04

[2018-07-19 20:00] matthias-schulz commented on #1600
Too bad I thought it would work without the firewall. Is this behaviour desired?

[2018-07-19 20:18] maturano commented on #1600
I don't understand if you do a change and was expect a particular behavior 🤔 ...

However, I would say that been a web application and an "API provider", I could expect to been accessible to you (a client) can reach it.

[2018-07-19 20:41] derrickmehaffy commented on #1600
@matthias-schulz that is just standard practice lol, you should be running a firewall anyway :smiley:

[2018-07-19 20:41] derrickmehaffy commented on #1600
@maturano realistically Strapi should be firewalled off and nginx should be proxying it with SSL

[2018-07-19 20:45] Khanji commented on #1589
Hey @lauriejim will do

[2018-07-20 01:30] JREAM commented on #530
+1

[2018-07-20 02:02] demobo-com opened #1601 "How to write node script that has access of strapi.services?"
**How to write node script that has access of strapi.services?**
We want to write some node js scripts to do some database insertions. How can we use strapi.services.xxx.add in our script? Please advise.

[2018-07-20 03:19] kuongknight commented on #1202
I mean about migrate (create, update table code), current strapi always fixed type for idAtrributes
`switch (relation.nature) {
   case 'oneToOne':
   case 'manyToOne':
   case 'oneWay':
    type = definition.client === 'pg' ? 'integer' : 'int';
    break;
   default:
      return null;
  }`

[2018-07-20 03:48] henrych4 commented on #1443
I just come across with similar problem and I have updated strapi to `alpha.12.6` but neither `beforeSave` nor `afterSave` is fired.

**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.5.1
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: macOS High Sierra Version 10.13.1

**Steps to reproduce the problem**
* create a content type with a text fi

[2018-07-20 05:13] derrickmehaffy commented on #1202
@kuongknight I had opened another issue related to your use of the uuid field.

But yes you are right that Strapi hard codes the types. (Like decimal accuracy)

[2018-07-20 05:38] matthias-schulz commented on #1600
Excuse me if I'm not clear. English is not my first language.
I haven't made any changes to the configuration. I was expecting strapi to be accessible only through the local address. To make strapi accessible from the internet, I was going to use a proxy. But as already mentioned, strapi can also be reached via public ip on port 1337. This is unexpected for me. If a firewall is the only solution,

[2018-07-20 06:24] derrickmehaffy commented on #1600
@matthias-schulz Yes you will need to use a firewall.

[2018-07-20 06:35] matthias-schulz commented on #1600
Thanks for your support.

[2018-07-20 06:35] #1600 closed

[2018-07-20 08:23] Aurelsicoko commented on #530
@tohagan @samlogan @JREAM Are we agree that you're using Firebase as a database only? Because it offers a lot of others features such as push notifications, authentication, etc. I would like to know what exactly you're looking for with this integration?

[2018-07-20 08:27] Aurelsicoko commented on #1149
@krestaino If everything works as expected on our side, it should be released in ~2/3 weeks

[2018-07-20 08:33] Aurelsicoko commented on #900
I already made some research on this part. Here a preview of what we could imagine defining a custom menu according to the user role.

![settings manager - menu](https://user-images.githubusercontent.com/4144726/42992261-53487228-8c08-11e8-95b1-a3c5d1764c3e.png)

[2018-07-20 08:34] derrickmehaffy commented on #900
@Aurelsicoko **YES!** Please :heart_eyes:

[2018-07-20 08:35] samlogan commented on #530
@Aurelsicoko database only for me

[2018-07-20 09:26] Aurelsicoko commented on #1114
@derrickmehaffy Nothing has been planned so far... It's not something very important, the clean of the columns/tables can be done manually. It would be better to automatically handle the cleaning but the projects are still working even if there are useless columns & tables (this is the most important).

[2018-07-20 09:30] Aurelsicoko commented on #1382
@derrickmehaffy You're right, we are trying to create a FULLTEXT index for every model. If there is no relations or TEXT columns, we shouldn't create one. However, it means that the search query won't work at all and the best solution would be to disable the search for this specific models...

[2018-07-20 09:33] tarol opened #1602 "can't start on nodejs 10.x.x"
**Informations**
- **Node.js version**: 10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongdb
- **Operating system**: macos

**What is the current behavior?**
npm start throw error
node[20312]: ../src/node_contextify.cc:631:static void node::contextify::ContextifyScript::New(const FunctionCallbackInfo<v8::Value> &): Assertion `args[1]->IsString()' failed.

[2018-07-20 09:43] JREAM opened #1603 "NULL Primary Key in Relationship Breaks App"
**Informations**
- **Node.js version**: - 9.11.2
- **npm version**: - 6.2.0
- **Strapi version**: - 3.0.0-alpha.12.7.1
- **Database**: - MySQL in this Instance
- **Operating system**: - Ubuntu 18.04 x64

**What is the current behavior?**
Small end-user bug that just needs to be prevented when using a Primary Key. Kills the server.

    UnhandledPromiseRejectionWarning: Error: ER_PRIMARY_CANT_HAVE_

[2018-07-20 10:06] Aurelsicoko commented on #1561
I found this issue very interesting! As @lauriejim suggested, you can create a new content type called "Expertise" and it will do the job. But, if you've only 4 expertises, I completely understand that you don't want to create a new content-type for a so little number of entries.

IMO, it makes sense to allow multiple values for Enumeration type (without any relation model in mind).

[2018-07-20 10:09] derrickmehaffy commented on #1561
@Aurelsicoko the question is how do you store the values :stuck_out_tongue:

[2018-07-20 10:12] Aurelsicoko commented on #1561
A simple JSON array? Of course, we should stringify it for SQL databases which don't support JSON format.

[2018-07-20 10:14] derrickmehaffy commented on #1561
@Aurelsicoko That was my suggestion as well, but in this case we could also add that option to the `oneWay` relationship to allow selections of multiple oneWays (I'm thinking in terms of being able to update the data while in production without having to modify the model)

Since the purpose of enum and oneWay are very similar in uses cases :smile:

[2018-07-20 10:14] Aurelsicoko commented on #1562
@mnlbox We removed the support because it was the cause of a lot of bugs. It seems that Bookshelf doesn't support well SQLite... We could try to reintroduce it as an official supported database, but we should hard-test it before.

[2018-07-20 10:29] Aurelsicoko commented on #672
Not at all... However, we merged a PR (https://github.com/strapi/strapi/pull/1514) which will certainly improve the transition between environment.

[2018-07-20 10:34] derrickmehaffy commented on #1139
@Aurelsicoko when I experienced this error myself I was too using an external DB.

[2018-07-20 10:40] derrickmehaffy commented on #1603
@JREAM are you using the strapi generate:api command?

If so please check out my bug here: https://github.com/strapi/strapi/issues/1412

There are major differences between how the AdminUI builds the model files and how the generate command does. For now on SQL you will need to use the AdminUI.

I believe @lauriejim was going to take a look at this and re-open that issue.

[2018-07-20 10:41] derrickmehaffy commented on #1603
Also as a side note, you can't use `id` in a relationship because strapi injects that field already.

[2018-07-20 15:03] Nyeedz commented on #1318
I'm still can't upload an midea file to my model "chamados"

i have an model called Chamados and an filed called photos, and when i try to post an image for this file show me this response

{
	"_id": "5b51f43b48d68028b477aeb1",
	"createdAt": "2018-07-20T14:39:55.947Z",
	"updatedAt": "2018-07-20T14:58:40.251Z",
	"__v": 0,
	"id": "5b51f43b48d68028b477aeb1",
	"photos": []
}

dont upload an image

my

[2018-07-20 20:58] xeastcrast commented on #1594
@maturano Now i can use npm install in admin folder
Thanks for your help :+1:

[2018-07-20 20:58] #1594 closed

[2018-07-20 21:06] xeastcrast opened #1608 "This Users,Permissions,User,validation,failed,password,Path,password,is,required is already taken"
**Informations**
- **Node.js version**: 10
- **npm version**: 6
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: ubuntu18

**What is the current behavior?**
When I try to create new entity , I get this error
![permissionerr](https://user-images.githubusercontent.com/12433101/43025224-138fe8d0-8c9b-11e8-8f2a-ea7f1927f788.png)

[2018-07-20 22:43] demobo-com opened #1609 "TypeError: plugins.find is not a function"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: mongodb
- **Operating system**: Mac

**What is the current behavior?**
TypeError: plugins.find is not a function

**Steps to reproduce the problem**
On the admin site, click Roles & Permissions then Public
It will show error "An error occured while fetching the role"

*

[2018-07-21 03:45] JREAM commented on #1603
@derrickmehaffy Hey there, I was using the GUI. awesome Thanks for the pointer you can close this if you like!

[2018-07-21 09:37] justingosan commented on #1609
critical bug right here

[2018-07-21 10:10] amiregelz commented on #1609
Why should a local build depend on strpi servers? can we make it only access plugins installed locally? it's weird that my local server depends on strapi uptime or downtime

[2018-07-21 10:30] amiregelz commented on #1609
Shouldn't it go the the `if (err)` block? 500 server error is an error..

[2018-07-21 16:29] BroTrue commented on #1609
same error

[2018-07-21 17:42] tjvanderende opened #1610 "GraphQL not working for already existing content types"
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MySQL
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Getting the error: Website.find is not a function when I apply a query on the whole collection from the local playground or JSON api. When applying a query for one record I get the following error: Cannot read

[2018-07-21 21:37] dblinov commented on #1609
Same issue :(((

[2018-07-22 02:41] dillonraphael commented on #1609
Also having this issue all of the sudden. I create a new Content Type, then try editing the Public role.

[2018-07-22 02:56] dillonraphael commented on #1609
@soldatovsh has the hardcode fix. You need todo the same for `admin > admin > src > containers > InstallPlugin > saga` line#52 seems to also be calling the marketplace url.

[2018-07-22 04:32] aalbacetef commented on #1609
Funny, stumbled upon here seeing if the marketplace bug was really just on my side.

Noticed also that the URL changed, so they might be in the process of moving the marketplace around.

------

Guys, please get this fixed! I'm trying to propose this at work as I'm in love with how blazing fast it can be to get up and running with an API, but I can't justify hardcoding a fix for a request to fetch

[2018-07-22 09:00] mnlbox commented on #1213
@lauriejim as me and @derrickmehaffy said this issue happens when we create user from admin UI.

[2018-07-22 12:10] AnilNewari commented on #1516
Same issue her while accessing users data and other apis data.

[2018-07-22 14:29] nicroto commented on #1609
Just hit this as well...

[2018-07-22 14:50] derrickmehaffy commented on #1609
Same @lauriejim @Aurelsicoko Critical issue breaking all other project.s

[2018-07-22 21:05] nidkil opened #1612 "Strapi won't start after installing GraphQL on Windows"
**Informations**
- **Node.js version**: 8.10.0
- **npm version**: 3.0.0-alpha.12.7.1
- **Strapi version**: 3.0.0-alpha.12.7.1
- **Database**: MongoDB 3.6.0
- **Operating system**: Windows 10

**What is the current behavior?**
I install GraphQL succesfully with the command:

- strapi install graphql

When I restart Strapi I get the following error message:

- error Cannot find module 'c:\vue\strapi

[2018-07-22 21:39] omarzion commented on #1370
It's sounds like when you changed the name it can no longer find the model project type, make sure your project type model has the same spelling and capitalization as well since you've changed it in project

[2018-07-22 22:35] jukefr commented on #1612
https://github.com/strapi/strapi-plugin-graphql appears to have suddenly disappeared, that seems to be the problem for me.
when installing I get an error that tells me to check https://www.npmjs.com/package/strapi-plugin-graphql and following the github repo on that page lands a 404

[2018-07-23 03:00] bruce0205 commented on #779
@Aurelsicoko same issue, still missing..

I am using different databases (one for dev, the other for prod) on the same mongo server (localhost).

Step 1:  I ran「npm start」, then using "Content Type Builder" to create model.
Step 2: I ran「NODE_ENV=production npm start」, but I cannot set any permissions for that model on the "Roles & Permissions" of menu.

Node.js version:
v9.9.0
npm version:
5.6.0

[2018-07-23 07:46] lauriejim commented on #1599
Hello @xeastcrast , please follow the issue template so we can get a better understanding about the origin of your bug.

I need steps you did and terminal logs.

I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-07-23 07:46] #1599 closed

[2018-07-23 07:47] #1521 closed

[2018-07-23 07:52] lauriejim commented on #1601
`strapi.services...` have to be called in a running Strapi application.
You can write it in `./config/functions/bootstrap.js`, this file is called when you start your server.

[2018-07-23 08:03] lauriejim commented on #1602
Hello @tarol , Can't understand your issue, can you please provide us full steps you did to have this issue.

[2018-07-23 08:11] gfelot commented on #1191
Sorry lately I didn't have time to share on a OS Project.
If someone wants to take the lead go head, if nobody can I will try my best in few weeks.

[2018-07-23 08:11] signorekai commented on #1139
@Aurelsicoko I too have encountered this while using an external DB. Hope it helps!

[2018-07-23 08:12] lauriejim commented on #1608
Hello @xeastcrast , please follow the issue template so we can get a better understanding about the origin of your bug.
Need steps to reproduce.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-07-23 08:12] #1608 closed

[2018-07-23 08:41] derrickmehaffy commented on #1412
@lauriejim just the `strapi generate:api -modelname- attribute:type`

[2018-07-23 08:49] derrickmehaffy commented on #1412
@lauriejim Just realized there was a `--tpl bookshelf` flag. Using that generated the proper format.

[2018-07-23 08:59] derrickmehaffy commented on #1612
@jukefr the missing repo shouldn't be an issue as the development for that plugin is done in:
https://github.com/strapi/strapi/tree/master/packages/strapi-plugin-graphql

I am able to install it on Linux, currently support for windows is very hit or miss. The current solutions are to either work in WSL or use a linux VM if you have to develop on windows. Better support for windows is coming, the s

[2018-07-23 09:00] derrickmehaffy commented on #1612
Side note, Strapi generally requires node 9 or greater, I know the work around on windows to get past the database setup is to downgrade to node 8 but the rest of the project doesn't support that.

[2018-07-23 09:02] derrickmehaffy commented on #1609
@lauriejim fixed this issue by bringing the site back up, however a more perm fix should be applied to stop this from happening in the future.

[2018-07-23 09:10] lauriejim commented on #1213
@derrickmehaffy for `-` as provider, I'm OK.
But @mnlbox `admin` as provider, I don't know why you have this issue.

[2018-07-23 09:16] lauriejim commented on #1516
@leiyangyou Did you test your suggested code ?

If it works can you submit a PR to share it with the community please. Will appreciate your contribution on this issue.

[2018-07-23 09:18] lauriejim commented on #1370
@dblinov If you manually update your content type name, you will have to manually update all other models that refers to it.

[2018-07-23 09:43] #1459 closed

[2018-07-23 10:02] #1609 closed

[2018-07-23 11:15] #1476 closed

[2018-07-23 11:55] soupette commented on #1039
@lauriejim https://github.com/strapi/strapi/commit/0b1a280c7aa96742281c9b0ba6bd7c0739f98ee3#diff-a1018c08b7910d0259b23d23ec7a9fb9

[2018-07-23 12:17] synth3tk commented on #1385
@brandonbuttars PR #1613 has been submitted. While we wait on the Strapi team to give it a glance, could you possibly try it yourself to make sure it works the way you expect it with your org? I used an Office 365 dev instance, but I'm not sure if there's any difference with it.

[2018-07-23 12:35] jukefr commented on #1612
My issue seems to be completely independent from Strapi after all and a bug with NPM itself, I will investigate some more and open an issue here if needed.

[2018-07-23 13:52] Charuru opened #1614 "Stripe marketplace?"
I want to use stripe to let users sell their own items. How easy is it to convert the existing stripe plugin into stripe marketplace or does it make sense to just start from scratch instead of looking at the plugin?

[2018-07-23 17:40] lauriejim commented on #1039
Thank you @soupette

[2018-07-23 18:33] dblinov commented on #1609
@lauriejim wonder why this issue is closed as there is no solution for that yet

[2018-07-24 03:31] tarol commented on #1602
1. strapi new test
2. npm start

[2018-07-24 04:12] alexandrecanuto commented on #415
@Aurelsicoko I'm having this issue right now on macOS.

[2018-07-24 05:10] wancode opened #1617 "⏳ Testing database connection..."
What is the problem? And how can I solve it.

`(node:1252) UnhandledPromiseRejectionWarning: RangeError: Maximum call stack size exceeded
    at normalizeStringWin32 (path.js:33:30)
    at Object.resolve (path.js:328:20)
    at getRootPath (C:\Users\Wancode\AppData\Roaming\npm\node_modules\strapi\node_modules\fs-extra\lib\mkdirs\win32.js:7:27)
    at invalidWin32Path (C:\Users\Wancode\AppData\Roam

[2018-07-24 07:19] lauriejim commented on #1614
Hello @Charuru. This plugin not exist today. Feel free to upvote it on [vote page](https://strapi.io/vote)

[2018-07-24 07:19] #1614 closed

[2018-07-24 07:31] lauriejim commented on #1617
We have a lot of troubles running on Windows. The recommendation is work with Linux under a VM or with WSL.

[2018-07-24 07:31] #1617 closed

[2018-07-24 07:43] #1576 closed

[2018-07-24 12:05] otakuf commented on #1612
@jukefr as temp fix, after install plugin, just reinstall strapi in project folder. This works for me on windows.
https://github.com/strapi/strapi/issues/971#issuecomment-383117930

[2018-07-24 12:15] lauriejim opened #1619 "Translation keys missing in AR language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/ar.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/ar.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

📦 strapi-plugin-email - [/pa

[2018-07-24 12:17] lauriejim opened #1620 "Translation keys missing in DE language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/de.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/de.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:18] lauriejim opened #1621 "Translation keys missing in ES language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/es.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/es.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:18] lauriejim opened #1622 "Translation keys missing in FR language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-plugin-settings-manager - [/packages/strapi-plugin-settings-manager/admin/src/translations/fr.json](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-settings-manager/admin/src/translations/fr.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|fo

[2018-07-24 12:19] lauriejim opened #1623 "Translation keys missing in IT language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/it.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/it.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

📦 strapi-plugin-settings-man

[2018-07-24 12:20] lauriejim opened #1624 "Translation keys missing in PL language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/pl.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/pl.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:22] lauriejim opened #1625 "Translation keys missing in PT-BR language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/pt-BR.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/pt-BR.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.components.EmptyAttributes.title | There are n

[2018-07-24 12:23] lauriejim opened #1626 "Translation keys missing in PT language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/pt.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/pt.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:24] lauriejim opened #1627 "Translation keys missing in RU language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/ru.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/ru.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:24] lauriejim opened #1628 "Translation keys missing in TR language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/tr.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/tr.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

[2018-07-24 12:25] lauriejim opened #1629 "Translation keys missing in ZH-HANS language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/zh-Hans.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/zh-Hans.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|Files Upload | Files Upload|
|Roles & Permissi

[2018-07-24 12:27] lauriejim opened #1630 "Translation keys missing in ZH language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/zh.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/zh.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|Analytics | Analytics|
|Files Upload | Files Upload|
|Ho

[2018-07-24 12:28] lauriejim opened #1631 "Translation keys missing in KO language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/ko.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/ko.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.components.EmptyAttributes.title | There are no fiel

[2018-07-24 13:16] alexandrecanuto commented on #415
Just updating with some info:

macOS 10.12.6
node v9.11.1
npm v5.6.0
strapi v3.0.0-alpha.12.7.1

https://gist.github.com/alexandrecanuto/57eb126dcadaa9eaf49a19fcc56ac329

[2018-07-24 18:03] goras opened #1636 "Query for one-way-relation-fields where value is null returns 500 error"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.1.0
- **Strapi version**: 3.0.0-alpha.12.7
- **Database**: Mongo v3.6.6
- **Operating system**: macOs, Ubuntu 18.04

**What is the current behavior?**
A fetch querying a one-way-relation-field for a null value returns a 500-error

For example ``http://localhost:1337/page?parent=null`` returns :

[code]

**Steps to reproduce the pr

[2018-07-24 18:36] madd86 opened #1637 "Cannot post file - TypeError: Cannot destructure property `refId` of 'undefined' or 'null'"
**Informations**
- **Node.js version**:  v8.10.0
- **npm version**: v6.2.0
- **Strapi version**: v3.0.0-alpha.12.7.1
- **Database**: Mongo DB
- **Operating system**: Ubuntu

**What is the current behavior?**

Whenever I try to post a file I get the following JSON back:

[code]

And when I read the console I see the following:

[code]

**Steps to reproduce the problem**

1. Create a new strapi proj

[2018-07-24 19:33] VictorKolb opened #1639 "Update sessions documentation - access auth user data"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.12.7
- **Database**: mongoDb
- **Operating system**: macOs

**What is the current behavior?**
If I try to update objects fields with relations many to many via API with:
`strapi.updateEntry("user", "5b5754fcc44d28b594f22f7e", {
      artist: ["5b547c25a6f5f07d30cccf66"],
    });`

I get respo

[2018-07-24 19:54] VictorKolb commented on #1639
Update:
If i reproduce it with another pair of objects, for example, Events and Artists, then fields updated correctly. From this comes the question: how can authenticated users update their fields?

[2018-07-24 20:11] madd86 commented on #1637
The problem was that there already is a /upload, it was conflicting with the content type builder I added myself.

[2018-07-24 20:11] #1637 closed

[2018-07-24 21:44] AustinBratcher commented on #1639
I've run into a similar issue, but with the creation of a new entry that has a many-to-many relationship. I can create the new entry, but the relationship is not populated. I believe this might have been introduced with 3.0.0-alpha.12.2. In the wiki for the migration from 12.1 to 12.2, there are significant updates to both the add and edit services for api routes. Both utilize the updateRelations

[2018-07-25 06:30] tjvanderende commented on #1610
UPDATE: Also doesn't work with the normal JSON api! (So probably priority: High).
Same errors when requesting the normal JSON API.
Any updates on this? :(

[2018-07-25 07:33] Fausto95 commented on #1626
Hi there.
I'll work on it this weekend!

[2018-07-25 10:15] mnlbox commented on #802
Good catch. Seems it's really a browser problem. I also have same issue with Firefox.

**/CC:** @lauriejim

[2018-07-25 10:18] mnlbox commented on #1213
@lauriejim I don't know but maybe it's because of that I create that user from admin UI with **admin** username. :thinking:

[2018-07-25 10:30] mnlbox commented on #1271
@lauriejim **We haven't clear steps to reproduce this issue because as I told in issue title it's completely randomly**.
By close this type of issue (randomly issues) you keep this issue as is and known issue.

[2018-07-25 10:37] derrickmehaffy commented on #1271
@mnlbox I do agree with you on this, if it is still happening randomly on v12.7.1 to only specific people the root cause needs to be found, either that be with Strapi or with the environment.

I know there are quite a lot of issues on the Strapi github but they shouldn't be closed out if they are following the proper format and it is believed the bug may still exist.

I too have had similar issues

[2018-07-25 10:41] derrickmehaffy commented on #1271
@mnlbox Can you provide more information as to the specs of the host that is running Strapi?

Such as:

* Is it a VM? If so what are the resources allocated to it
* Is the database on the same system
* Do you have other services/applications/ect running on the system
* If this is a physical machine what are the hardware specs and idle usage (not running strapi) vs strapi usage (total resource usag

[2018-07-25 12:19] nicroto commented on #1483
@lauriejim have you made any progress on this?

[2018-07-25 12:19] gabrielFCC commented on #1586
Can you confirm if it is the right place (models) to implement validation layer? What is your advice on validation, currently is joi the best soltuion?

[2018-07-25 12:37] derrickmehaffy commented on #1433
@Aurelsicoko I think it might be best to add some kind of alternative option instead of symlinking the packages.

Is it possible to only install the `strapi-cli` and force projects to grab all the node_modules from npm instead of symlinking, we are hitting some issues when working with travis-ci and not having it install the `strapi@alpha` :slightly_frowning_face:

[2018-07-25 16:52] maturano commented on #1590
So, is this a bug or is just some misunderstanding of my side? 🤔

[2018-07-25 17:37] merijnvanessen commented on #1554
**request_id=: [2018-07-25T17:21:26.437Z] error association is not defined**

Hello. I have the same problem. I changed some content types on my development strapi.
Removed a few content types as well..

Now on the production strapi I can't update the  content types..
But when I added a new one.. I worked.. And i even can update the other types again

I'm on the nodejs v10.6.0
Strapi v3.0.0-alpha.

[2018-07-25 17:47] derrickmehaffy opened #1642 "core_store value cannot store large models due to data type"
**Informations**
- **Node.js version**: v10.7.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13
- **Database**: 10.2.16-MariaDB
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

In the process of updating my project from Strapi 12.7.1 to Strapi 13 I was getting the following errors, which caused all my models to not show up in the `content-manag

[2018-07-25 18:02] derrickmehaffy commented on #1642
@lauriejim I was going to submit a PR for this but I'm unsure how to handle this, the related file for this is here:

https://github.com/strapi/strapi/blob/7b2ce955ff227267f1fed8a1d20876d934f77d44/packages/strapi/lib/core/store.js#L3-L30

This looks like a hard coded model that is using the following switch to set the value type:
https://github.com/strapi/strapi/blob/7b2ce955ff227267f1fed8a1d20876

[2018-07-25 18:36] npjonath opened #1644 "(hook:strapi-mongoose) `strapi-hook-strapi-mongoose` is missing in your dependencies."
**Informations**
- **Node.js version**: 10.6
- **npm version**: 6.1
- **Strapi version**: 3.0.0@alpha-12.13
- **Database**: mongo
- **Operating system**: ubuntu 16.04

**What is the current behavior?**
After migration following wiki guide to alpha 12.13. I get following message :
` warn (hook:strapi-mongoose) strapi-hook-strapi-mongoose is missing in your dependencies. Please run npm install strap

[2018-07-25 21:06] MechJosh0 opened #1645 "Uploading images when you create a new item removes images for all other items"
**Informations**
- **Node.js version**: v9.5.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13
- **Database**: MySQL
- **Operating system**: Windows & Linux

**What is the current behavior?**
When you have multiple items with images uploaded, when you make a new item with an image it'll remove the images from all other items in that content type.

**Steps to reproduce the problem**
1

[2018-07-25 23:46] npjonath commented on #1644
Ok, Just notice that I have to update database.json with the correct connector "strapi-hook-mongoose". It's working now.

[2018-07-26 01:09] daviyang35 commented on #1645
When this situation happened.
Image still at storage and upload_file records is ok.
upload_file_morph records has beed lose.

[2018-07-26 01:30] Charuru commented on #1614
@lauriejim Yes I understand, I was asking about if I should still buy the existing stripe plugin to use as reference or should I not bother. I know I would have to write it myself.

[2018-07-26 02:15] #1644 closed

[2018-07-26 04:13] sbastias commented on #1139
I am having the same issue.

I updated packagaes/strapi-hook-bookshelf/lib/relations.js as described in a previous issue (https://github.com/strapi/strapi/pull/892)

That issue was updating packages/strapi-plugin-content-manager/config/queries/mongoose.js, but it looks like the functionality has been factored out to this current hook.

I replaced the 'oneToOne' block as shown below.

`switch (asso

[2018-07-26 08:17] lauriejim commented on #1639
@AustinBratcher About the issue you got with `_id`, it has been fixed in last version of Strapi.

@VictorKolb Actually this is not developed but you can create your own policies to handle this case. https://strapi.io/documentation/guides/policies.html

[2018-07-26 08:31] lauriejim commented on #1631
I can only assign Strapi team to issues, not Community members (would love this feature).
Anyway, will appreciate your contribution on this issue 👍 feel free to open a PR

[2018-07-26 09:07] lauriejim commented on #1610
Hello @tjvanderende can you update your issue description and give us the Strapi version you user please.

[2018-07-26 09:10] lauriejim commented on #1626
Awesome @Fausto95 ! Waiting for your PR 👌

[2018-07-26 09:56] lauriejim commented on #1644
@npjonath thank you for this repport. It has been add.

[2018-07-26 09:58] lauriejim commented on #786
I don't have update this issue and it's not plan. We don't have time for doing this now.

[2018-07-26 09:59] derrickmehaffy commented on #786
@mnlbox since its on the vote page I'm sure as its up-voted more it might be considered then.

[2018-07-26 11:00] derrickmehaffy commented on #1642
@lauriejim @soupette I think I found the problem:

In `core_store` the column `plugin_content-manager_schema` stores all the content-manager custom views in one entry..... and in my case with ~64 models its gigantic. Way past the normal limit of a `text` field.

Technically that field should be a `json` field type in MySQL (which with MariaDB defaults to longtext)

[2018-07-26 11:01] thanhdevapp commented on #1161
Please fix on windows

[2018-07-26 11:01] derrickmehaffy commented on #1642
So here, that type needs to be changed to `json`: https://github.com/strapi/strapi/blob/7b2ce955ff227267f1fed8a1d20876d934f77d44/packages/strapi/lib/core/store.js#L15-L317

[2018-07-26 11:08] derrickmehaffy commented on #1161
@thanhdevapp The Strapi team is working on it, but it probably won't happen in the near future. I think their goal was by the end of summer. For now you will need to use WSL or Linux VM

[2018-07-26 11:33] derrickmehaffy commented on #1642
PR Closed, resolving

[2018-07-26 11:33] #1642 closed

[2018-07-26 11:37] wizysanjay commented on #571
I'd got the same error

Lets configurate the connection to your database:
? Choose your main database: MySQL
? Database name: strapi
? Host: localhost
? Port: 3306
? Username: root
? Password: **********

⏳ Testing database connection...
⚠️ Database connection has failed! Make sure your "strapi" database exist.

Node.js version: v9.3.0
npm version: 6.2.0
Strapi version: 3.0.0-alpha.13
mariadb
mac

[2018-07-26 12:45] lauriejim commented on #1589
Hello @Khanji. Did you migrate your project from an other version ?
And make your you use clean new database for your project.

[2018-07-26 13:05] #1645 closed

[2018-07-26 14:16] npjonath commented on #1645
@lauriejim I think I have same behavior with mongodb. (hosted by Azur cosmodb). My upload are present in the upload folder and visible in strapi upload administration but not present in content type page. When I query it over REST or GraphQL the upload field is null.

[2018-07-26 14:40] lauriejim commented on #1620
Yeah ! That is super good news !

[2018-07-26 14:41] KevinSupertramp commented on #1105
Hi, I'm having the same problem with a fresh install + 1 new model. I change the hook.js timeout to 40s and the problem is still here. I connect to a remote MySQL database.

I don't have any log either just:

`[2018-07-26T14:39:49.592Z] debug ⛔️ Server wasn't able to start properly.
[2018-07-26T14:39:49.607Z] error (hook:bookshelf) takes too long to load`

Any ideas?
Thanks a lot!

[2018-07-26 14:46] lauriejim commented on #571
I think you are on Windows. Please check here https://github.com/strapi/strapi/issues/1612#issuecomment-406988561

[2018-07-26 14:47] xeastcrast opened #1648 "Cannot read property 'policy' of null"
**Informations**
- **Node.js version**: 10+
- **npm version**: 6+
- **Strapi version**: alpha 12.6
- **Database**: mongodb
- **Operating system**: ubuntu 18

**What is the current behavior?**
When I send get request to path ```/user/me``` I get this error in my terminal
This is not ever occurs and I don't know cause for this issue
![permissionerr](https://user-images.githubusercontent.com/12433101

[2018-07-26 14:54] wizysanjay commented on #571
Sorry, but I'm really on MacOS

<img width="579" alt="screenshot 2018-07-26 21 53 28" src="https://user-images.githubusercontent.com/13049732/43270063-63480452-911e-11e8-9fd1-0379f780d5ab.png">

[2018-07-26 16:11] Aurelsicoko commented on #1318
@Nyeedz You need to use the route `/upload` not `/photos`. Then, thanks to the `ref`, `refId` and `field` parameters, it will attach the uploaded file to the resource.

[2018-07-26 16:23] Aurelsicoko commented on #779
You need to migrate manually the permissions to your production database, and vice versa. We will provide a new command in our CLI to handle this in the future but the feature isn't available yet.

[2018-07-26 16:30] Aurelsicoko commented on #571
@wizysanjay Did you create the database `strapi` in your MySQL database?

[2018-07-26 16:31] marceloavf opened #1651 "Run in path with Apache server"
**Informations**
- **Node.js version**: 10.5.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: Mongo
- **Operating system**: Windows 10
- **Operating system host**: Linux w/ Apache using .htaccess and internal pm2

**What is the current behavior?**
I sent the app to my host and it return to me a base path and port to use it, configure all normally and it runs in a

[2018-07-26 16:32] Aurelsicoko commented on #530
@samlogan Thank you for the answer! We will consider a new connector to Firebase but if you need it now, the best way is to contribute to the project and create the `strapi-hook-firebase` package 👍

[2018-07-26 16:33] wizysanjay commented on #571
of course, It's ready

<img width="451" alt="screenshot 2018-07-26 23 32 32" src="https://user-images.githubusercontent.com/13049732/43275529-3db63480-912c-11e8-8273-901811c16878.png">

[2018-07-26 16:47] derrickmehaffy commented on #571
@wizysanjay what version of MariaDB? I'm running a Galera Cluster with MariaDB 10.2.16 and am not having this issue (Local MariaDB as well works fine)

I also would suggest you create a user in MariaDB for Strapi and not use the built in root account.

[2018-07-26 19:36] purrplingcat opened #1652 "Cannot read attributes of undenfined on relation created"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: MongoDB
- **Operating system**: Windows 7 (I am developing on)

**What is the current behavior?**

I created two content types: Article and ArticleType. When I try to create relation between `Article` and `ArticleType` on Article typ ArticleType has many Articles, then I

[2018-07-26 20:48] maturano commented on #1602
I remember also seen this, but with the latest version at this time (`3.0.0-alpha.13`) I can't reproduce the error.

![node10](https://user-images.githubusercontent.com/5768813/43287624-2b8ea6f2-90eb-11e8-9a13-de05c1b01afb.PNG)

@tarol Are you getting the same error with the latest version?

[2018-07-27 01:44] wizysanjay commented on #571
@derrickmehaffy sorry, I've checked it again, it not mariadb,

<img width="566" alt="screenshot 2018-07-27 08 42 04" src="https://user-images.githubusercontent.com/13049732/43297040-18bea8fe-9179-11e8-814a-d26bf18328a8.png">

[2018-07-27 06:51] derrickmehaffy commented on #571
@wizysanjay can you try updating MySQL to either 5.6 LTS, 5.7 Stable, or 8.0 Latest

Just for your reference:
MariaDB Version -> MySQL Version
10.0 -> 5.6
10.1 -> 5.7
10.2 -> 5.7
10.3 -> 5.7

[2018-07-27 07:42] tjvanderende commented on #1610
I just did edit my original question and added the Strapi version.

[2018-07-27 09:19] wizysanjay commented on #571
@derrickmehaffy Thank for your support, It's worked !

[2018-07-27 09:32] derrickmehaffy commented on #571
No problem :smiley:

@johannpinson looks like MySQL 5.6 is bare minimum for Strapi on your PR for the versions

[2018-07-27 09:37] joonashak commented on #1507
I'm currently developing a bilingual website using Strapi as my backend. I'm using a similar approach, namely storing two entries, one for each language and linking them with a one-to-one relation. However, the content type builder forces me to define two relational fields when linking a Page item to another Page item. I didn't want to file a bug report straight away, but currently I'm thinking th

[2018-07-27 09:44] Clonk-HTML5 commented on #483
+1 for custom fields. Mandatory feature.

[2018-07-27 09:54] vaskort commented on #1105
@KevinSupertramp I also got this error.
Try to increase the `timeout` property inside `config/hook.json`.
Though sometimes I'm still getting incosistent behaviour when trying to dockerise Strapi but if you're not using Docker, it might help.

[2018-07-27 12:27] Jan10 opened #1655 "Roles & Permissions does not work behind a proxy"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.1.0
- **Strapi version**: v3.0.0-alpha.13.0.1
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**
We use a coprate proxy.
If I click on a role I get the following error and a blank page appears.

<img width="1742" alt="2018-07-27-000014" src="https://user-images.githubusercontent.com/19255

[2018-07-27 14:37] Aurelsicoko commented on #1271
@derrickmehaffy I've my thoughts on this and it's pretty simple. First, there is no order for the load of the plugins (there are mounting once there are loaded) and there is also a browser issue. It seems to never happen with Chrome but only with Firefox and Chromium.

[2018-07-27 14:39] Aurelsicoko commented on #1139
@mnlbox Bad news... my theory doesn't work anymore. How many models do you have? I still think it's related to the execution time of something (request, number of models)

[2018-07-27 14:40] abdonrd commented on #784
@soupette what do you think? Would it be easy?

[2018-07-27 14:43] xeastcrast commented on #1648
@lauriejim Can you help me for this. Please reply me 👍

[2018-07-27 14:48] soupette commented on #784
@abdonrd I can easily develop something like this if @Aurelsicoko agrees

![screen shot 2018-07-27 at 16 47 44](https://user-images.githubusercontent.com/13311463/43327869-de0f3414-91bc-11e8-8899-9675fa12991f.png)

[2018-07-27 14:59] abdonrd commented on #784
@soupette sounds great!

And how would you show it if the elements were not a string? Example:

[code]

[2018-07-27 17:50] VictorKolb commented on #1639
@lauriejim thanks for your response!

I tried to create policies but I got empty `ctx.session`.

[code]

My app architecture very similar with https://blog.strapi.io/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-authentication-part-4-7/

[2018-07-27 18:13] VictorKolb commented on #1639
update: user object is available in `ctx.state.user`. Maybe it may be worth updating the documentation?

[2018-07-27 18:30] VictorKolb commented on #1648
Hi @xeastcrast! I was getting the same error, when not authorized. Make sure that token is correct

[2018-07-27 20:18] xeastcrast commented on #1648
@VictorKolb I am sure for my token because previously it worked fine all time. But on the next day of my work, It don't work fine anymore T_T,  I have tried reinstalling users-permission plugin but it not work.

[2018-07-28 01:57] mnlbox commented on #1652
I also see this error in any strapi project. It's because of an old admin ui bug. You need to add 1:N or N:1 relation manually (from code and without admin ui) until a working fix.

[2018-07-28 06:53] Jan10 commented on #1655
Duplicate #1635

[2018-07-28 06:53] #1655 closed

[2018-07-28 07:49] appsolutegeek opened #1656 "Strapi Login via shell, without user interaction ?"
**What is the expected behavior?**
Can't automatically login to studio via strapi login command line, this is needed as I run strapi in a docker container. It seems that when my first API is created via docker (automatically) and I am not logged in, then this api doesn't appear in strapi studio.

Is it possible to do a "strapi login" and pass in the email and password, I can't seem to get this to

[2018-07-28 08:45] appsolutegeek commented on #1656
My bad, I installed an older version by accident.

[2018-07-28 08:45] #1656 closed

[2018-07-28 09:26] NoahHahm opened #1657 "Can't store JSON from content manager"
**Informations**
- **Node.js version**: v10
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.13.0.1
- **Database**: mongodb
- **Operating system**: mac

It creates a json type and does not save it when saving the object type.

conversely, if you start with array, it will be saved normally.

[rec_bug.zip](https://github.com/strapi/strapi/files/2237831/rec_bug.zip)

[2018-07-28 09:45] NoahHahm opened #1658 "users-permissions UI issue"
**Informations**
- **Node.js version**: v10
- **npm version**: 5.x.x
- **Strapi version**: v3.0.0-alpha.13.0.1
- **Database**: mongodb
- **Operating system**:Informations

for the advanced page in users-permissions UI does not work normally.

I am using the latest version of Mac chrome.

[2018-07-28 20:17] CupCakeArmy opened #1660 "Wrong z-index for reset overlay"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.2.0
- **Strapi version**: v3.0.0-alpha.13.0.1
- **Database**: mongo
- **Operating system**: macOS

**What is the current behavior?**

The reset overlay has wrong z-index, colliding with the file upload box

<img width="1439" alt="screen shot 2018-07-28 at 22 11 15" src="https://user-images.githubusercontent.com/14948823/43360317-d

[2018-07-29 08:10] mnlbox commented on #1139
@Aurelsicoko I just have 3 models. I don't know how I can help you too catch this guys :disappointed:

[2018-07-29 12:23] #1472 closed, assigned to soupette

[2018-07-29 12:42] lauriejim commented on #1639
Ho yes you are right !

We did the update in this section of the doc [Authentication](https://strapi.io/documentation/guides/authentication.html#user-object-in-strapi-context) but not in sessions part.

Can you open a pull request with `ctx.state.user` update in session part please.
There is a link for that on top of the page you want update.

[2018-07-29 12:46] lauriejim commented on #1651
Maybe you can find information here https://github.com/strapi/strapi/issues/1539.

[2018-07-29 12:48] lauriejim commented on #1652
Hello @purrplingcat , this issue looks to be a duplicate of this one https://github.com/strapi/strapi/issues/1139

[2018-07-29 12:48] #1652 closed

[2018-07-29 12:50] lauriejim commented on #1657
Hello @NoahHahm , Can you try with non empty object please.

[2018-07-29 12:51] lauriejim commented on #1658
Hello @NoahHahm , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-07-29 12:51] #1658 closed

[2018-07-29 12:52] lauriejim commented on #1660
Hello @CupCakeArmy , thank you for reporting this issue. Can you submit a PR please, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-07-29 12:56] lauriejim commented on #1318
You will find more information here https://strapi.io/documentation/guides/upload.html

[2018-07-29 12:58] lauriejim commented on #530
Visit our [Contributing Guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to start your development.

[2018-07-30 02:00] NoahHahm commented on #1657
the same is true if you try with an empty object.

[2018-07-30 02:36] derrickmehaffy commented on #1657
@lauriejim mysql Strapi is saving the value as "undefined"

(I can confirm that you can't save if the json text box is empty, you have to put `{}`)

![image](https://user-images.githubusercontent.com/8593673/43374826-8d9f9efa-9366-11e8-8001-5af324adfc3b.png)

![image](https://user-images.githubusercontent.com/8593673/43374836-98488574-9366-11e8-8b79-99e5b031f993.png)

Model:

[code]

[2018-07-30 02:37] derrickmehaffy commented on #1657
Note that saving the value and re-opening it that json value is empty, I pasted that there to show valid json

[2018-07-30 07:10] lauriejim commented on #1657
After investigate on this issue. It seems it's coming from the input that sending `undefined`

[2018-07-30 07:11] derrickmehaffy commented on #1657
I believe sending data via the API itself should be fine, Jim and I both took a look on some test projects that it is coming from the frontend.

@NoahHahm can you try testing using something like Postman, I'm about to do the same on all 3 databases.

[2018-07-30 07:18] derrickmehaffy commented on #1657
Mongo using Postman:

![image](https://user-images.githubusercontent.com/8593673/43382846-f8ef2802-938d-11e8-988f-79889f9fb79f.png)

Postgres using Postman:
![image](https://user-images.githubusercontent.com/8593673/43382863-067449da-938e-11e8-963a-924da75e4d42.png)

MySQL using Postman:
![image](https://user-images.githubusercontent.com/8593673/43382877-1368b5ea-938e-11e8-843a-2bacd7458aac.png)

[2018-07-30 09:32] Blacknosaur commented on #1484
I have just followed the migration guidelines to update the project to alpha@13.0.1 and it have the same problem than alpha@12.6

[2018-07-30 18:42] marceloavf commented on #1651
I'm migrating to DigitalOcean with Nginx to see if I can get it working

[2018-07-30 21:54] derrickmehaffy commented on #1651
@marceloavf similar questions have been asked about proxying to a subfolder, I explained a bit more here: https://github.com/strapi/strapi/issues/1539#issuecomment-403571806 and included some nginx sample configs.

Typically when working with headless cms systems you use a subdomain rather than a subfolder.

If you own a domain name your host should provide subdomains for free, its just a DNS sett

[2018-07-31 01:46] marceloavf commented on #1651
Nice @derrickmehaffy, the problem was that the domain was configured by another host, so what I have to do was CNAME `www.subname` to `subname`, then use A to redirect it to the digitalOcean droplet IP Address, so I use some of your configuration and blog settings to make it work, still don't configurate in case I have more than one subdomain, but I'll manage it latter.

Thank you both for the res

[2018-07-31 01:46] #1651 closed

[2018-07-31 07:05] dulgeoion opened #1668 "There is no alpha13 of strapi-bookshelf"
**What is the current behavior?**
So, trying to migrate to new version due to migration guide found this thing

![image](https://user-images.githubusercontent.com/15520510/43443228-f277ef6a-94a8-11e8-822d-b5ead53c4828.png)

But on npm of strapi-bookshelf we don't have 3.0.0-alpha13 and the same with strapi-knex.

![image](https://user-images.githubusercontent.com/15520510/43443362-51b74818-94a9-11

[2018-07-31 07:33] dulgeoion commented on #1668
Okay, found that I had to add new dependency `strapi-hook-bookshelf`. You could mention in migration guide that it is not only about `mongoose` hook, but `bookshelf` to.

[2018-07-31 07:33] #1668 closed

[2018-07-31 07:44] lauriejim commented on #1668
Hello @dulgeoion I update the wiki to precise it's also needed for `strapi-bookshelf` and `strapi-knex`

[2018-07-31 07:55] dulgeoion commented on #1490
@lauriejim this is still very critical issue, please, could you look at it?

[2018-07-31 08:31] CupCakeArmy commented on #1660
Sure, I'll do it in a couple of days. Very busy right now

[2018-07-31 10:32] avdeyev opened #1669 "Duplicated links (many-to-many relationship)"
**Informations**
- **Node.js version: 10.7.0**:
- **npm version: 6.1.0**:
- **Strapi version: v3.0.0-alpha.13.0.1**:
- **Database: MongoDB 4.0.0**:
- **Operating system: CentOS Linux release 7.5.1804**:

I have created a very simple relationship and I have got this:
![1png](https://user-images.githubusercontent.com/3809273/43454206-f87bffde-94c4-11e8-9d3e-60dd509008c4.png)
![2](https://user-images

[2018-07-31 11:18] vaskort commented on #783
What worked for me when trying to create a user through Postman.

1. Login to the admin portal normally.
2. Open Postman and on the Authorization tab choose No Auth
3. Choose Post and the url should be `http://localhost:1337/auth/local/register`
4. On the Body tab click raw and choose application/json (see image below)

<img width="645" alt="screen shot 2018-07-31 at 12 16 31" src="https://user-im

[2018-07-31 11:19] anishpateluk opened #1670 "reset password email not being sent"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.1.0
- **Strapi version**: Alpha 13
- **Database**: postgresql
- **Operating system**: mac

**What is the current behavior?**
Calling ` /auth/forgot-password` causes the following error:
`TypeError: Cannot read property 'options' of undefined at forgotPassword `
And the reset password email is never sent.

**Steps to reproduce the

[2018-07-31 12:05] jbbn commented on #1625
Hi @lauriejim
I am happy to contribute with the project.

I'm curious, why do you reopened the issue?
Did I miss something?
I would be glad to improve the applied solution :)

Reggards!

[2018-07-31 12:15] lauriejim commented on #1625
I reopen it before check all translation status. To close/edit manually all issues related to translation files.

[2018-07-31 16:08] maturano commented on #1590
I took a look on this and create the PR #1667 With that, I have this behavior:

![serverconfig_patch](https://user-images.githubusercontent.com/5768813/43471942-e1b1aa96-94b1-11e8-905a-714194391555.png)

That is I was expected. What do you thing @lauriejim ?

[2018-07-31 16:50] yusufiga opened #1676 "Refresh JWT route"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 6.2.0
- **Strapi version**: 13.0.1
- **Database**: mysql
- **Operating system**: Debian

**What is the current behavior?**

Hi, I'm trying to use strapi as a backend for my Android project but I have a question regarding JWT. How can I refresh JWT before it expires without requesting user to login again? I can not just ask my app us

[2018-07-31 20:07] arsenx opened #1678 "Don't fetch populate private data"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**
When querying a private table that has a relationship to a public table we are able to get access to unauthorized data.

**Steps to reproduce the problem**
GraphQL query a private table though a public table
Here is a link to a video I made to

[2018-07-31 20:32] z-ax commented on #1678
Well, that is big. Good news it is still in alpha :)

[2018-08-01 07:12] #1657 closed

[2018-08-01 09:52] tjvanderende commented on #1610
Any news on this?

[2018-08-01 09:59] derrickmehaffy commented on #1610
@tjvanderende For the RestAPI part on Strapi v13.0.1 I can confirm it works fine on MySQL. I'll test graphQL right now and let you know, but last time I looked it was functioning fine?

[2018-08-01 10:03] derrickmehaffy commented on #1610
@johannpinson

@tjvanderende may be onto something here, lookups are acting odd, it doesn't seem to be pulling the correct data and is only grabbing the first entry

Left -> Rest // Right -> GraphQL Playground

![image](https://user-images.githubusercontent.com/8593673/43515460-6bfca900-9537-11e8-9b05-f6062dc1bf57.png)

[2018-08-01 10:05] derrickmehaffy commented on #1610
Getting a bunch of errors about bookshelf in console

[code]

[2018-08-01 11:32] #1670 closed

[2018-08-01 13:25] lauriejim commented on #1676
Hello @yusufiga. This feature actually not exist.

We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-01 13:30] derrickmehaffy commented on #1676
@yusufiga Strapi uses an Auth0 Lib for the handling of JWT. There is an entry on its README.md: https://github.com/auth0/node-jsonwebtoken#refreshing-jwts

With some links to an example, an issue, and a PR.
https://gist.github.com/ziluvatar/a3feb505c4c0ec37059054537b38fc48
https://github.com/auth0/node-jsonwebtoken/issues/122
https://github.com/auth0/node-jsonwebtoken/pull/172

But I do agree that

[2018-08-01 14:07] lauriejim commented on #1139
Looks having been fixed, but the PR not link this issue because it looks good on my side. Can you give us an update with last version of Strapi.

[2018-08-01 14:35] lauriejim commented on #1669
It has been fixed in this PR https://github.com/strapi/strapi/pull/1675

[2018-08-01 14:35] #1669 closed

[2018-08-01 14:48] lauriejim commented on #1636
Hello @goras thank you to report this issue.
Actually filters on relation is not fully handled. You can search on existing parent but not on null.
Will have to check if this PR https://github.com/strapi/strapi/pull/1467 handle your usecase.

[2018-08-01 15:04] lauriejim commented on #1610
Hello @tjvanderende I'm not able to reproduce your issue. It work fine on my side

@derrickmehaffy I have not your logs on my side.
Can you give me logs of `params` param line 178
and logs of `record` line 187 please.

[2018-08-01 15:06] dseedah commented on #1589
Any updates or quick fixes for this issue?

[2018-08-01 15:19] lauriejim commented on #1584
Hello @fedecarg I'm not able to reproduce.
Can you be more precise on steps to reproduce.

What I did:

1. Create a content type `customer` (name:string)
2. Create a content type `payment` (name:string, customer:one-to-one:customer)
3. Create a customer via the content manager (name:customer1, without relation)
4. Create a payment via the content manager (name:payment1, with relation to customer1)

[2018-08-01 15:28] derrickmehaffy commented on #1610
[strapi.log](https://github.com/strapi/strapi/files/2250089/strapi.log)

Also this dumped to console:

[code]

[2018-08-01 19:06] mnlbox commented on #1490
Maybe useful:
It's happens for me every time I try to create N:1 relation from admin ui.

[2018-08-01 19:44] yusufiga commented on #1676
Thanks for hint @derrickmehaffy. Unfortunately without refresh JWT authentication is pretty much useless for mobile. Since I'm not familiar with nodejs or koa, it would be nice if someone can just help me to get refresh JWT feature to strapi.

[2018-08-01 20:18] bjnsn opened #1683 "GraphQL many-to-many relations not symmetric"
**Informations**
- Node.js version: 9.9.0
- npm version: 5.6.0
- Strapi version: 3.0.0-alpha.13.0.1
- Database: MongoDB 4.0.0 / x86_64
- Operating system: Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-109-generic x86_64)

**What is the current behavior?**
Querying content types that share many-to-many relations do not return expected results.

**Steps to reproduce the problem**
Create two content types:
`ar

[2018-08-02 00:00] bjnsn commented on #1683
This may be related to camel-case contentType names. I setup a new installation of Strapi using MySQL this time and ran into this error message with a similar query:

[code]

[2018-08-02 07:29] lauriejim commented on #1490
We identity the issue. The content-manager send `null` when the relation as not been updated.
@soupette will work on it soon as possible.

If you want that fix on your app, feel free to investigate and fix it, you completely have access to the source code.

[2018-08-02 07:46] kenta88 opened #1685 "strapi-upload-local: Edit uploaded file"
**Allow trough api to update a file already uploaded.**
- add a new relationship
- edit a relationship
- update information (name, hash...)

currently the edit method is implemented for services

[code]

but is not used by api (no routes and controller can access this service).

not sure if this one is a missing feature of if I missing something.

Thanks

[2018-08-02 07:51] lauriejim commented on #1685
Hello @kenta88 .
You put log in this function and use the content manager ?

[2018-08-02 08:44] VictorKolb commented on #1639
@lauriejim https://github.com/strapi/strapi/pull/1686 I opened pull request. Please, check whether everything is correct?

[2018-08-02 08:51] #1639 closed

[2018-08-02 13:35] dannydtk opened #1687 "App can't start properly after GraphQL extension install"
**Informations**
- **Node.js version**: 9.11.3
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongo
- **Operating system**: Alpine Linux (Amazon Linux AMI with Docker image based on node:9.11.2-alpine)

**What is the current behavior?**
After installing GraphQL extension (using the admin panel or CLI doesn't matter) and server restart the application is unable to

[2018-08-02 14:01] lpj145 commented on #636
Ok but i'm use Atlas mongodb service, and not needed local mongodb, alright ? how to solve this issue ?

[2018-08-02 14:20] dseedah commented on #1589
MongoDB 4.0

[2018-08-03 03:50] maturano opened #1690 "Cannot find module 'pluralize'"
**Informations**
- **Node.js version**: v9.11.2
- **npm version**: v5.6.0
- **Strapi version**: master on 8f2c285cb0b8bffc10601f36d9aa334d0238616b
- **Database**: all
- **Operating system**: WSL

**What is the current behavior?**
Strapi not running and showing this message:

[code]

**Steps to reproduce the problem**
[code]

**What is the expected behavior?**
Application up and running

**Suggeste

[2018-08-03 09:42] bahdcoder commented on #1676
@lauriejim, @derrickmehaffy  are you working on this? If not, I can have a look and implement this feature.

[2018-08-03 09:53] derrickmehaffy commented on #1676
@bahdcoder No I feel this is probably above my skill level, but it would be nice to have. I know some of the OAuth providers also provide refresh keys (Discord comes to mind) So those should also be taken into account.

If you're up to take a look, it would be really awesome. :)

[2018-08-03 11:28] zahafyou commented on #636
@lpj145 maybe you'll have information here : [https://github.com/strapi/strapi/issues/432](url)

[2018-08-03 11:31] lpj145 commented on #636
Invalid url, please check type.

[2018-08-03 11:34] zahafyou commented on #636
I edit it : https://github.com/strapi/strapi/issues/432

[2018-08-03 11:38] zahafyou commented on #636
use this link youtube  : https://www.youtube.com/watch?v=Ej05tq1220A&ab_channel=MongoDB

[2018-08-03 12:48] jskorepa opened #1692 "Unique cannot be unset with Mongoose"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongodb
- **Operating system**: Linux

**What is the current behavior?**
When I create field with unique constraint and then uncheck this checkbox the constraint still exists in the database and therefore it is still effectively unique field.

**Steps to reproduce the pr

[2018-08-03 16:18] soupette commented on #784
I didn't thought of that, so yes we should use the inputJSON but it needs to be customised to handle this

[2018-08-03 19:15] MechJosh0 opened #1694 "Maximum length error in content manager"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: MySQL
- **Operating system**: Ubuntu

**What is the current behavior?**
When you try to edit an item which has a field with a maximum length with a blank entry it errors due to the length of the items value is blank/null/undefined.

Console error:
[code]

**Steps to repr

[2018-08-03 20:07] dseedah commented on #1589
@bahdcoder unfortunately, that didn't work on mine installation

[2018-08-03 20:10] bahdcoder commented on #1589
@dseedah could you please show me your code so I can see if you did the right thing? Because this works on mine just fine.

[2018-08-03 20:50] dseedah commented on #1589
@bahdcoder

updateEmailTemplate: async (ctx) => {
    if (_.isEmpty(ctx.request.body)) {
      return ctx.badRequest(null, [{ messages: [{ id: 'Cannot be empty' }] }]);
    }

    await strapi.store({
      environment: '',
      type: 'plugin',
      name: 'users-permissions',
      key: 'email'
    }).set({value: ctx.request.body['email-templates']});

    ctx.send({ ok: true });
  },

[2018-08-04 12:12] elisegriset92 commented on #1687
Same problem !

[2018-08-04 12:20] Anbarasan-321 opened #1695 "I am getting following error while start the new strapi project. Kindly advice me to get a solution?"
D:\node>strapi new Demo-Project
? Start creating your Strapi application. It might take a minute, please take a
coffee ??

Lets configurate the connection to your database:
? Choose your main database: MySQL
? Database name: node-demo-1
? Host: localhost
? Port: 3306
? Username: root
? Password:

‼ An error occurred during settings-manager plugin installation.
{ Error: Command failed: node C:\User

[2018-08-05 07:41] mnlbox opened #1696 "JSON field type not working"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha 13.0.1
- **Database**: mongo
- **Operating system**: linux

**What is the current behavior?**
JSON field type not working.

**Steps to reproduce the problem**
I'm creating a JSON field type to a content type then I try to add some data with content manager but my data clear after click save but

[2018-08-05 13:45] derrickmehaffy commented on #1696
Duplicate: https://github.com/strapi/strapi/issues/1657

@mnlbox this has already been fixed, will probably be pushed with Strapi 13.1 in about 2 days 😛

[2018-08-05 13:48] jeanmaried opened #1697 "Number field doesn't accept periods for decimal/floats. Not able to save Content Type entry that has number fields"
**Informations**
- **Node.js version**: v10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongodb
- **Operating system**: macOS High Sierra

**What is the current behavior?**
When entering a period in a number field inside a Content Type for any of the three available number formats, any number that was already entered is removed and replaced by a 0. The 0 c

[2018-08-06 06:11] derrickmehaffy commented on #1697
AdminUI related issue with zero in number fields: https://github.com/strapi/strapi/issues/1077

As for not being able to use decimals @jeanmaried I cannot replicate this. What browser are you using?

[2018-08-06 06:11] derrickmehaffy commented on #1697
@soupette is the zero thing a limitation of react?

[2018-08-06 06:17] derrickmehaffy commented on #1687
I don't believe any testing has been done using AL, the current supported OSes are Ubuntu, Centos (RHEL), and MacOS.

This looks to be an issue with Mongo, @elisegriset92 & @dannydtk what version of mongo is installed?

[2018-08-06 06:45] dulgeoion commented on #1554
On alpha13.0 looks like it fixed. Thanks.

[2018-08-06 06:45] #1554 closed

[2018-08-06 07:33] lauriejim commented on #1676
Hello @bahdcoder, we are not working on this feature. We will appreciate your contribution on this feature !

[2018-08-06 07:52] derrickmehaffy commented on #1676
the alternative (and quite a terrible and insecure way to handle it) @yusufiga is to cache their login information and refresh the token on the app side.

[2018-08-06 08:00] yusufiga commented on #1676
@derrickmehaffy Yes it's an alternative but as a user I wouldn't agree on keeping password on the device. I mean I can keep it encrypted but still it's not nice to keep user's password somewhere in the device.

[2018-08-06 08:01] laportem opened #1698 "Enum value with hyphen breaks"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongodb 4.0
- **Operating system**:  Ubuntu 14.04

**What is the current behavior?**
Looks like the enum field type is ultra-sensitive. If I have a value with hyphen the server failed to start
For example: this model entry works. Notice **no hyphen** with ""Free range Fa

[2018-08-06 08:07] derrickmehaffy commented on #1676
I agree completely @yusufiga even encrypted it really shouldn't be stored on the device, just wanted to offer it as a temporary solution until something more proper comes into play.

I am hitting a similar issue with my desktop application :stuck_out_tongue_winking_eye:

[2018-08-06 08:14] derrickmehaffy commented on #1698
@laportem this is a common issue if you have the GraphQL plugin installed, I ran into a similar issue with using spaces in Enum Values.

I believe the implementation is based on Facebook's GraphQL enumeration `Name` which is as such:

`/[_A-Za-z][_0-9A-Za-z]*/`

Which basically translates to upper/lowercase letters, numbers, and underscore as the only allowed values. This is an issue from the upst

[2018-08-06 09:01] derrickmehaffy commented on #1687
@dannydtk can you try running the 3.6 version of Mongo? I just noticed that a new version was released in June and I'm not sure if any testing was done with Strapi and v4.0.0.

Also assuming you authentication enabled on that docker container for Mongo and/or have tested flipping the SSL flag in Strapi for it?

[2018-08-06 09:05] dannydtk commented on #1687
Yep, I have database auth enabled and set to 'admin' db. SSL flag disabled ('false'). I'll try to check it with the mentioned Mongo version later on.

[2018-08-06 09:05] jeanmaried commented on #1697
@derrickmehaffy I am using the latest version of Chrome. I am located in France but have my browser and strapi are set to US english. I know in France comas are used for decimals so maybe this has something to do with it.

[2018-08-06 09:28] derrickmehaffy commented on #1697
@jeanmaried that is likely, to confirm you are trying to type:

`1234.567` and not `1234,5678`

(side note how do you guys comma-eliminate large values O_o like `123,456,678.1234`)

[2018-08-06 09:42] jeanmaried commented on #1697
Correct. I am trying to type `1234.567` as I would be using this field for a USD$ price in my project.

As far as I remember, in France the coma and period are the opposite of the US. So `123,456,678.1234` in the US would be `123.456.678,1234` in France (or just spaces instead of the periods, not sure what is most common).

[2018-08-06 09:53] derrickmehaffy commented on #1697
(Incoming typical pig-headed american comment, you were warned)

That is just backa**wards :stuck_out_tongue_winking_eye: Anyway, if you try changing your Strapi AdminUI to French do you also have this issue?

Also, can't remember where, but I believe there is a setting chrome that also changes to a different language. If you try setting that to either US/UK English does it still show up? What I f

[2018-08-06 10:25] derrickmehaffy opened #1699 "Update lodash to a newer version due to a vulnerability"
**What is the current behavior?**

There is a vulnerability with lodash on versions before `4.17.5`

**Suggested solutions**

Update all packages to use `"lodash": "^4.17.5"`

**Related Links**

https://nvd.nist.gov/vuln/detail/CVE-2018-3721

Github defines this as "High Priority"

[2018-08-06 10:26] derrickmehaffy commented on #1699
@Aurelsicoko

[2018-08-06 10:29] jeanmaried commented on #1697
I will check it out when i get home tonight! Thank you @derrickmehaffy

[2018-08-06 10:32] lauriejim commented on #1695
Hello @Anbarasan-321 , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-08-06 10:32] #1695 closed

[2018-08-06 11:06] soupette commented on #1694
Hi @MechJosh0 I wasn't able to reproduce your issue by following your steps

[2018-08-06 13:31] soupette commented on #1697
@jeanmaried Well I think that we should keep the ISO standard for the numbers and have configuration in the admin so they can be displayed as 1.222,65 instead of 1222,65.

You can easily fix the bug that returns 0 when you add a period by changing the line 217 in `content-manager/admin/src/containers/EditPage/index.js` to `parseFloat(e.target.value)` however after trying it it happens that it retu

[2018-08-06 14:03] soupette commented on #1039
I'm closing this issue it has been implemented in #1529

[2018-08-06 14:03] #1039 closed

[2018-08-06 14:05] kamalbennani commented on #1699
Good point but I can't really see how it can impact the security of the app :thinking:, can you please give me a real example

[2018-08-06 14:15] lauriejim commented on #1578
Hello @derrickmehaffy. I try to play with models and relations and not able to have your issues...
Really need steps to reproduce this issue.

[2018-08-06 14:38] jeanmaried commented on #1697
@soupette I think you misunderstood me. I just want to be able to use periods for decimal separation. I'm not looking to do this `1.222,65`. I want this: `1222.65` where `.` is the decimal separator.

Currently I can only use a coma to separate decimals. When I hit the period it replaces everything with 0. Shouldn't the period be the standard for decimals separation?

[2018-08-06 15:35] soupette commented on #1563
I'm closing the issue since it has been fixed

[2018-08-06 15:35] #1563 closed

[2018-08-06 15:44] soupette opened #1704 "Unable to set false default value for boolean fields in the content type builder"
Node 10.7.0
npm 5.1.0
3.0.0-alpha.13.0.1

**What is the current behavior?**
Currently it's impossible to set the default value to false for boolean fields from the admin panel

**Steps to reproduce the problem**
- Create a content type
- Add a boolean field
- Go in advanced settings tab
- Click to set to true and then uncheck the checkbox (to make sure the value has been taken in account)

**What

[2018-08-06 16:38] derrickmehaffy commented on #1699
@kamalbennani more so to stop github from complaining than anything.

[2018-08-06 16:39] derrickmehaffy commented on #1699
Plus its good to stay up to date *shrug*

[2018-08-06 16:42] derrickmehaffy commented on #1578
@lauriejim I can give you one sure fire way with my project :stuck_out_tongue:

[2018-08-06 16:48] derrickmehaffy commented on #1704
Well shoot

[2018-08-06 17:12] brunofigalveskk opened #1706 "TypeORM plugin"
You might consider developing a TypeORM plugin (https://github.com/typeorm/typeorm) or something similar within in Strapi. I really think that could help and it would be a great advantage.

[2018-08-06 17:44] marianomoretti opened #1707 "MongoError: command find requires authentication"
**Informations**
- **Node.js version**: 9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: Mongo
- **Operating system**: Linux

**What is the current behavior?**
When I type `strapi start` the next error happens:
[code]
**Steps to reproduce the problem**
Create a project from scratch.
Use a dockerized mongo from docker hub.
Start strapi.

**What is the expected

[2018-08-06 18:34] MartinMuzatko opened #1708 "Expose users to API"
**What is the expected behavior?**

It is currently not possible to find the users as guest or set that guests are able to find users.
This makes it impossible to create public user lists.

[2018-08-06 18:40] sdubrez commented on #1708
Did you try to gives some permissions to **Public** group on the **Users Permissions** plugin ?

Role & Permission > Users-Permissions > User > Create
https://i.gyazo.com/8698a0e01fd49eb95ff8d3ad0e711507.png

[2018-08-06 18:42] MartinMuzatko commented on #1708
By the way, while graphql does not allow access to `users {}` I can get all of the users information via related objects

[2018-08-06 18:44] MartinMuzatko commented on #1708
@sdubrez thanks for the quick reply! Yes this is the problem! I guess I can close this issue.
I expected it to find it as part of the models, but since it comes from a plugin, this makes perfect sense.

[2018-08-06 18:44] #1708 closed

[2018-08-06 19:13] jeanmaried commented on #1697
@derrickmehaffy When I change Strapi Admin UI to french it still does it. I have my browser language set to US english.

[2018-08-06 21:19] rickerd commented on #1707
Have you checked the public role in strapi and giving it permissions for the specific models

[2018-08-06 21:29] marianomoretti commented on #1707
Hey @rickerd. Sorry, I'm new on Strapi. Where I can find that or read about that? Thanks!

[2018-08-06 21:32] rickerd commented on #1707
Login to the admin.
"Roles & Permissions" -> "Public" -> "Permissions" and here you'll see the types you've created.

[2018-08-06 21:39] marianomoretti commented on #1707
Oh, maybe I wasn't clear, but the app doesn't start. I have that error when I run `strapi start`

[2018-08-06 21:41] rickerd commented on #1707
I think the auth to the MongoDB server isn't correct than.

[2018-08-07 06:14] derrickmehaffy commented on #1707
@marianomoretti can you provide more information on how this is setup.

- Are you using a local mongo DB (installed on the same machine as strapi)
- Are you using authentication with mongo
- What OS is strapi/mongo running on
- If you are using a remote mongo instance have you tested enabling SSL in the `database.json`

Just need some additional information as that error doesn't really provide eno

[2018-08-07 06:15] derrickmehaffy commented on #1707
Scratch that just noticed you are using docker, are you able to connect to that mongoDB using another client like Studio3T?

[2018-08-07 06:26] jeanmaried commented on #1697
@derrickmehaffy @soupette I feel like something might be wrong with my install. I noticed that when saving a new Content Type I get the error `HEAD http://localhost:1337/_health 0 ()` 50 times and then it saves. I've tried reinstalling strapi and that doesn't seem to do anything. Any ideas?

[2018-08-07 06:39] derrickmehaffy commented on #1697
@jeanmaried I don't have another Mac handy to try and recreate your environment but can you give exact versions of everything you can think of to see if we can find the root cause?

I'm not a mongo user myself but that shouldn't be causing an issue with the frontend, I've done quite a bit of testing between different browsers and OSes and am not able to reproduce this issue at all.

Have you made

[2018-08-07 06:49] jeanmaried commented on #1697
I haven’t made any changes to the admin. I’m going to attempt another install on my work Mac in a little bit.

I found this which seems to describe my issue as being a problem with React/Chrome:

https://github.com/facebook/react/issues/7253

[2018-08-07 07:07] derrickmehaffy commented on #1697
Hmmm good catch @jeanmaried not sure which version of react Strapi uses but based on how old that issue thread is. :thinking:

[2018-08-07 07:38] juicycleff commented on #968
Experiencing the same issue with the alpha cli

[2018-08-07 08:42] jeanmaried commented on #1697
I just did a fresh install of Strapi and mongoDB on my work Mac. Same exact problem...

Here are the exact steps I followed:
1) started mongodb with `mongod`
2) installed strapi `npm install strapi@alpha -g`
3) created project `strapi new strapi-test`
4) `cd strapi-test`
5) `strapi start`
6) create user and login
7) click on Content Type Builder and create new Content Type `stuff`
8) add 3 number

[2018-08-07 09:06] jeanmaried commented on #1697
Ah... i figured out. I had to change my country settings in my Mac, not my browser. That's why both my personal and work Mac had the same behavior. The really buggy behavior when typing a period with my region set to France really threw me off!

[2018-08-07 09:07] derrickmehaffy commented on #1697
I would keep this open as a workaround will still need to be implemented if it affects other users. @soupette have you come across this (assuming the teams Macs are set to french)

[2018-08-07 09:10] derrickmehaffy commented on #1697
@maturano can you test with your browser/system set to Spanish (AFAIR you are also running a mac)

[2018-08-07 11:32] marianomoretti commented on #1707
Strapi is running on my host, and mongo is running on a (docker container)[https://hub.docker.com/_/mongo/]. I could connect to the same mongo using a clean js file with mongoose.
[code]

[2018-08-07 11:49] derrickmehaffy commented on #1707
@marianomoretti Based on that code you can connect fine but when strapi starts its running a `find` command on something (likely something from the core_store) which makes me think you have a problem with permissions on your mongo docker container.

Hence the reason I suggested using something like Studio3T or some other client to try and manually add data. My guess is, if you tried to manually fi

[2018-08-07 15:59] MartinMuzatko opened #1710 "Page can't load if related element is not set yet/main text value is missing"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 6.0.1
- **Strapi version**: 3.0.0@alpha-13.0.1
- **Database**: pg (same effect on mongo db)
- **Operating system**: WSL/ubuntu

**What is the current behavior?**

Can't load a page of a content element for an element that has related data to an element, the page turns blank after attempting to load and display the contents.
I'm not

[2018-08-07 17:45] marianomoretti commented on #1707
Hi @rickerd and @derrickmehaffy .
Well, I was able to start strapi, and the problem wasn't on it. I was using a docker compose that enable auth in mongo passing two env vars. When mongo has enabled the auth, the error that I posted here happens.
Thanks for your help! I will close this ticket. :)

[2018-08-07 17:45] #1707 closed

[2018-08-07 19:14] MechJosh0 commented on #1694
@soupette Here is a video of me reproducing the bug from a fresh install -> https://youtu.be/pTxsFWbQUnU

Sorry for the lag in the video.

[2018-08-07 20:30] maturano commented on #1697
@derrickmehaffy I wish! 😅 ... I have Windows and I'm working on WSL.

I barely test the case and I can tell you I experienced the same behavior trying to use `,` as decimal separator (here, we use `.`); all is replaced by a `0`.

If you want to test more deeply, let me know ;)

[2018-08-08 02:11] derrickmehaffy commented on #1694
@MechJosh0 two things related to your video:

1) Can't use spaces in modelname
2) Can't use spaces in field name

[2018-08-08 05:05] hvmk opened #1713 "How to use Joi-router to validate API request"
Hi team,

I tried configuring to use joi-router flow this ticker : https://github.com/strapi/strapi/pull/158
But it does not work, can you help me to guide how to use it.

**Informations**

- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13
- **Database**: mongo
- **Operating system**: Windows 10

Thanks.

[2018-08-08 05:40] derrickmehaffy commented on #1713
@hvmk that issue I believe is from strapi v1 and no longer applies to v3

Validations aren't handled by default right now, I'm sure it can be done with policies and better support for validations are coming.

[2018-08-08 06:27] MechJosh0 commented on #1694
@derrickmehaffy this is just an example, when you save it fixes the spaces. The bug is still there when you try to use spaces or not.

[2018-08-08 06:45] hvmk commented on #1713
Hi @derrickmehaffy ,

Thank you for informing.

[2018-08-08 06:45] #1713 closed

[2018-08-08 08:56] adamquaile opened #1714 "Support for mysql over unix socket"
I've marked this as a feature request, because I don't _think_ this functionality exists. If it does, this is either me doing something wrong, or a lack of documentation, or both.

**What is the expected behavior?**
It'd be great to be able to use a mysql database connecting via a unix socket instead of the host/port combination.

Ideally this would be an option in the `strapi new` command and the

[2018-08-08 08:56] findorf opened #1715 "Unique type Date are not validated"
**Informations**
- **Node.js version**:10.8.0
- **npm version**:6.3.0
- **Strapi version**:3.0.0-alpha.13.0.1
- **Database**:Mongodb 4.0.1
- **Operating system**:Windows 10 Enterprise N

**What is the current behavior?**
I have set a field type to Date and set both required and unique to true.
Still, I can create non unique field values.

**Steps to reproduce the problem**
This is my Day.settings.

[2018-08-08 09:03] derrickmehaffy commented on #1715
@findorf currently there is no validation layer on anything at the moment, its a WIP feature (using unique on any field type with mysql I know it doesn't properly set the keys) I imagine mongo also doesn't have any validations.

[2018-08-08 09:10] doublemarked commented on #1516
I'm getting this error also. The patch seems like it will sidestep the error, but how can I go about adding a policy for the specified route? In my admin panel, the route is simply missing from the model under "Roles & Permissions". It's not clear how I'm supposed to repair this so that I might apply an appropriate policy for the route.

[2018-08-08 09:11] findorf commented on #1715
ok, thats why the validation of decimal works and date dont.
Thanks.

[2018-08-08 09:11] #1715 closed

[2018-08-08 09:25] pierreburgy opened #1716 "Remember me ticked by default"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: postgres
- **Operating system**: MacOS

**What is the current behavior?**

When you login to the admin panel and open it in a new tab, you have to login again.

**Steps to reproduce the problem**

Login and open a new tab.

**What is the expected behavior?**

Be logged

[2018-08-08 09:32] #1516 closed

[2018-08-08 09:38] pierreburgy opened #1718 "Autofocus when creating a new Content Type"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: postgres
- **Operating system**: MacOS

**What is the current behavior?**

When creating a new Content Type, the connection select is autoselected.

**Steps to reproduce the problem**

Try to create a new Content Type in the Content Type Builder.

**What is the expected

[2018-08-08 10:38] gammanano commented on #886
Hi @Aurelsicoko

I get the same issue at 13.0.1. For the reproduce this issue, simply you just create 2 model (ex: Product and Category) then you create relation for them, in the relation GUI, you select any models several times. The title in Model selected will disappear (except: Permission, User, Role model) then you click continue and save. This issue will make server down when you refresh page

[2018-08-08 11:05] #1699 closed

[2018-08-08 14:32] ivanguimam opened #1729 "Many to Many duplicate entries"
**Informations**
- **Node.js 10.5.0**:
- **npm 6.1.0**:
- **Strapi 3.0.0-alpha.13.0.1**:
- **Mongodb**:
- **Ubuntu**:

**What is the current behavior?**

When I have a many-to-many ratio, the elements are getting duplicated.

Ex: There is the entity state and units.

    State: {
        Name: ' STRING ',
        Operating: ' ARRAY of units '
    }

    Unit: {
        Name: ' STRING '
    }

In m

[2018-08-08 18:28] krsnaa opened #1734 "FSEvents error when the admin is running in dev mode"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongoDB v4.0.0
- **Operating system**:  macOS High Sierra v10.13.6

**What is the current behavior?**

I am following the dev-environment progression from https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md.

I can create a new dev-project using the `--dev` flag

[2018-08-08 18:35] TimMensch commented on #630
TypeScript is a best practice on Node today. I came to look for options for Loopback, and will be ignoring Strapi as a legacy project without TypeScript support.

There's no vote option, there's no mention of TypeScript anywhere, and there's no `@types/strapi` module. That pretty much kills Strapi as an option.

[2018-08-08 18:48] derrickmehaffy commented on #630
@timmensch Your always welcome to develop it yourself and create a PR!

Strapi is an open source project and their team is quite small, naturally the community is what helps make a project!

Always have to think on the positive side :)

[2018-08-08 19:28] mindgrub-rkoch opened #1735 "Modifying Responses in Lifecycle Callbacks"
**What is the expected behavior?**

This may or may not be a feature request. I have looked through the docs and the open and closed issues, and can't seem to find what I'm looking for.

I would like to be able to modify data in lifecycle callbacks, prior to them reaching the database, or after they've been fetched from the database.

As an example, I query a table for products, and the `isFavorit

[2018-08-08 23:07] krsnaa commented on #1734
It appears that https://github.com/webpack/webpack-dev-server/issues/690 might have something to do with this.

[2018-08-08 23:08] krsnaa commented on #1734
https://github.com/strapi/strapi/issues/1353 seems relevant as well since I get the same errors right after the above ones.

[2018-08-08 23:09] krsnaa commented on #1353
@renettarenula - how did you handle the `Can't resolve '../../../../config/layout.js' in '/Users/compname/workspace/my-app/plugins/content-manager/node_modules/strapi-helper-plugin/lib/src'` error - i.e. in plugins other than your own?

[2018-08-09 07:11] sdubrez opened #1736 "Allow Pascal-Case on Models name"
**What is the expected behavior?**
Currently, when creating a model named `MyAwesomeModel` it results automatically in creating a model with the name `Myawesomemodel` which is not very practical to read.

It would be great to handle Pascal-Case models name for a better readability of models, for example, in the list on the left of admin panel.

[2018-08-09 09:16] soupette commented on #1734
Hi @krsnaa I'm aware of the bug it happens because webpack is watching too many files.

Even though the error is present the front-end server works fine. Until we fix it, you can just uninstall a plugin like the settings-manager (`rm -r plugins/settings-manager`) and the error goes away while developing.

[2018-08-09 09:33] soupette commented on #1353
Well the dev environment does watch files but the issue is that when you have the server autoreload activated, the strapi server restarts each time you make a modification in one of your front-end file.

I made a commit to fix this problem but the PR is not ready yet.

[2018-08-09 09:39] soupette commented on #1254
@sanchit-aneja Did you add some required field to the existing user model?

[2018-08-09 09:41] soupette commented on #1254
What you can do is set some default value to your user model.

Anyway, I going to make this form more dynamic so it can take in account any added required field.

I'm reopening it.

[2018-08-09 12:53] lauriejim commented on #1710
This issue already exists, please browse the list of opened or closed issues.
Please check https://github.com/strapi/strapi/issues/1230

[2018-08-09 12:53] #1710 closed

[2018-08-09 13:06] lauriejim commented on #1714
Hello @adamquaile , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-08-09 13:13] lauriejim commented on #1729
@ivanguimam Can you check if it still happen in last version of Strapi (3.0.0-alpha.13.1)

[2018-08-09 13:19] lauriejim commented on #1735
Hello @mindgrub-rkoch. In your `api/.../models/....js` you have lifecycle.
Documentation here https://strapi.io/documentation/guides/models.html#lifecycle-callbacks

I think it can help you.

[2018-08-09 13:36] lauriejim commented on #1687
Is your issue related to Docker usage ?

[2018-08-09 13:39] lauriejim commented on #1683
I think your issue is related to this one https://github.com/strapi/strapi/issues/1139
Can you try to lowercase your content type and attributes please.

[2018-08-09 14:08] derrickmehaffy commented on #1736
I agree this is pretty important, at least supporting the usual suspects (and rendering them properly on the adminUI

[2018-08-09 14:29] mindgrub-rkoch commented on #1735
Thanks.

I read through what documentation was there, and did some experimenting. It seems as though you can modify responses only if the key exists on the model before-hand. It's not an ideal situation, but it could work for smaller sets of data.

Preferably, you should be able to modify the response by inserting/removing any key/value pairs necessary, without having to first add the key to the m

[2018-08-09 15:10] #1385 closed

[2018-08-09 15:52] #1590 closed

[2018-08-09 16:28] bkd705 commented on #483
+1 for this one. Would be open to assisting in implementation, am a bit new to Strapi however so some direction would be wonderful if possible.

[2018-08-09 19:13] BroTrue opened #1738 "Bug or strange behavior positioning of Fields in Admin Panel"
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: MongoDB
- **Operating system**: Debian

**What is the current behavior?**

Strange positioning of Fields in Admin Panel

**Steps to reproduce the problem**

1. Creat new Content Type with such fields

![order](https://user-images.githubusercontent.com/23247940/43919812-

[2018-08-09 19:18] derrickmehaffy commented on #1738
@brotrue I've had something similar adding json types. The the PR @soupette submitted we will be able to modify that view. It is pending some code review

[2018-08-09 19:25] BroTrue commented on #1738
@derrickmehaffy owwww that nice, maybe you can give me date when this PR will available?
But the way, I will finish my small project soon and as a sign of gratitude to StrapiTeam ( that help me a lot) I can prepare tutorial with example such project as my. :)

[2018-08-09 23:13] svencowart commented on #1589
I have reproduced this bug on Strapi version 3.0.0-alpha.13.1 with a fresh strapi install and fresh DB using MongoDB 4.0.0.

[2018-08-09 23:52] MWalid commented on #483
+1 too

[2018-08-10 10:59] soupette commented on #483
@bkd705 do you mean adding a new type of field in the content-type-builder or customising the content-manager with new fields?

[2018-08-10 11:14] soupette commented on #1738
@BroTrue the PR is ready see #1684 however, it won't be released before the 17th of August...

If you have installed from the monorepo you can get it before the release though

[2018-08-10 11:17] soupette commented on #1694
Hi @MechJosh0 I can't reproduce your issue. I have followed your steps and it works correctly on my side.

Can you check if this still occurs?

[2018-08-10 13:37] sdubrez opened #1740 "Error when updating a one to many array"
**Informations**
- **Node.js version**: 8.11.1
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.13.0.1
- **Database**: MongoDB
- **Operating system**: Win/10

I have a `Room` model with a `clients` field which is a _one to many_ relation with my `Client` model.

**Room.settings.json**
[code]

**Client.settings.json**
[code]

When I create a `Room`, the `clients` field is an empty array.

[2018-08-10 13:49] #1660 closed

[2018-08-10 16:00] indiecore-fm commented on #1465
@nicksrandall @Aurelsicoko What is the idea for this? Core functionality or seperated into a plugin? To add I would prefer subdomains with an option to attach a TLD. I am creating an app where my customer will need their own separated by a subdomain. (business1.site.com, business2.site.com)

[2018-08-10 16:37] indiecore-fm commented on #1612
#971 (comment)

This does temp fix it. But bug still persists.

[2018-08-10 16:53] xnfa commented on #1690
You can remove node_modules in your project directory, and then run `npm run setup` to fix this problem.

[2018-08-12 00:29] mstapp commented on #1119
I'm still getting this error in v3.0.0-alpha.13.0.1 & mysql 5.7.

- Using strapi docker image for v3.0.0-alpha.13.0.1.
- Mysql 5.7 (docker image)
- OS X 10.13.6 (High Sierra)

I have a simple Content Type with a date field called "pubdate" (mysql type "timestamp", default CURRENT_TIMESTAMP). If I add a new record using the admin UI and I leave the pubdate field blank, then I can save the record su

[2018-08-12 03:30] krsnaa commented on #1734
@soupette - thanks for your reply. uninstalling one of the plugins like you had mentioned does make the FSEvents.framework error go away. But, I still get the errors from the helper-plugin saying that it is unable to find the config/layout.js for the plugins, as under:

[code]

The above error results in nothing showing up on the window, but for these toasts:

![image](https://user-images.githubus

[2018-08-12 03:54] krsnaa commented on #1690
@maturano  @xnfa - Alternatively, just copy the pluralize folder from say `/-project-path/plugins/content-type-builder/node_modules/pluralize`,  to the root node_modules at `/-project-path/node_modules`  and  `strapi start` will work just fine!

[2018-08-12 04:05] krsnaa opened #1741 "Unable to load "it" translation for the plugin users-permissions."
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**: 3.0.0-alpha.13.0.1
- **Database**: mongoDB v4.0.0
- **Operating system**:  macOS High Sierra v10.13.6

**What is the current behavior?**

Navigating to the http://localhost:1337/admin/ page throws a warning in the browser console:

`Unable to load "it" translation for the plugin users-permissions. Please

[2018-08-12 19:38] yusufiga commented on #1676
Hi, @bahdcoder are you working on this? It would be nice if you can give a comment if you are not working on it so someone else can take a look. I still desperately need this feature :D Thanks.

[2018-08-12 20:57] sundaycrafts opened #1742 ""strapi new ..." command doesn't support +srv uri"
**What is the expected behavior?**

`strapi new ...` command success to connecting mongoDB having 'mongodb+srv:' uri prefix.

related: #432

[2018-08-13 07:36] soupette commented on #1734
These warnings don't affect the admin panel, these file aren't required for the admin to work they just add functionalities.

[2018-08-13 07:37] sdubrez commented on #1740
I was doin't it the wrong way. It seems that we can't update the array of relation directly.

Instead, we have to update the linked attribute of each _many_ model. Here we will have to update the `room` attribute of client to remove or add client in a specific `room`.

[2018-08-13 07:37] #1740 closed

[2018-08-13 14:50] johntom opened #1744 "Remember me option"
Node.js version: 9.11.1
npm version: 5.6.0
Strapi version: 3.0.0-alpha.13.0.1
Database: mongoDB v4.0.0
Operating system: win10
What is the current behavior?
rememer me option on login page does not rememer

**What is the current behavior?**
always asks for user and password

**Steps to reproduce the problem**
fire up admin

**What is the expected behavior?**
should rememer user,password

**Suggest

[2018-08-13 17:01] danielehrhardt opened #1745 "Multiple Files Upload One by One"
**Informations**
- **Node.js version**:
v8.11.3
- **npm version**:
6.3.0
- **Strapi version**:
3.0.0-alpha.13.1
- **Database**:
mysql
- **Operating system**:
Windows 10

**What is the current behavior?**
Add Multiple Files to a Media Field one by one only shows one File. So it deletes the Other Files.
If i upload all by one it is working fine.

**Steps to reproduce the problem**
Add the Media Fiel

[2018-08-13 19:24] ThiagoMiranda opened #1746 "Development mode"
Hi.. Is there an option to run strapi in development mode? I'm trying to customize it and it's plugins ( specially the content-manager ) but I always have to run the npm run build in the plugins folders, for example. If there is an development mode how can I activate it? It supports Hot reload?

Edit: I've tried admin/npm start but it gives me an error: "couldn't retrieve layout"

Thanks!

[2018-08-13 19:37] ThiagoMiranda commented on #1746
I've discovered that you need to run both the npm start inside the /admin folder and the "main server" with strapi start.
Thanks

[2018-08-13 19:37] #1746 closed

[2018-08-13 19:54] juji opened #1747 "Permanent API key, for server-to-server communication, manageable"
**What is the expected behavior?**

Administrator should be able to create a pair of key-secret, to be used in server-to-server communication with strapi endpoints.

This key-secret pair can have a role assigned to it. So role-base authorization can be enforced.

[2018-08-13 20:17] derrickmehaffy commented on #1747
Likely related: https://github.com/strapi/strapi/issues/1086

the gist of this being static keys that can be used to access the API similar to most APIs having a generated "key" instead of typical logins correct @juji ?

[2018-08-13 20:33] juji commented on #1747
@derrickmehaffy correct

[2018-08-13 20:50] derrickmehaffy commented on #1747
@juji should probably close this issue and summarize your thoughts on the linked issue as to cut down on the number of duplicates.

[2018-08-13 20:55] juji commented on #1747
Will do

On Tue, 14 Aug 2018, 03:50 DMehaffy, <notifications@github.com> wrote:

[2018-08-14 05:03] derrickmehaffy commented on #784
Just figured out that I need this as well. @soupette what are your thoughts on implementing this?

[2018-08-14 06:36] derrickmehaffy opened #1748 "Add the manyWay data type (Alternative to Array for relations)"
**What is the expected behavior?**

Similar to the `array` data type which stores the data on the model, I am purposing a oneWay relation type that allows the destination model to have multiple entries.

Linking the array discussion issue here just in case: https://github.com/strapi/strapi/issues/761

Currently the oneWay relation works similar to the oneToOne relation in that the "source" model c

[2018-08-14 15:13] MartinMuzatko opened #1749 "Can't load"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**:  v3.0.0-alpha.13.1
- **Database**: postgres
- **Operating system**: Ubuntu Linux/WSL

**What is the current behavior?**

When loading the content type builder for a model, I get the following error:

[code]

Then the page prompts me to ask new fields, when the overview page says it already has 4 fields.

[2018-08-14 15:43] MartinMuzatko opened #1750 "Navigation in LeftMenu highlights multiple entries"
**Informations**
- **Node.js version**: 10.8.0
- **npm version**: 6.2.0
- **Strapi version**:  v3.0.0-alpha.13.1
- **Database**: postgres
- **Operating system**: Ubuntu Linux/WSL

**What is the current behavior?**

I click on "pagemodules" (see url in screenshot)
![image](https://user-images.githubusercontent.com/2950505/44102004-ff3bf2f0-9fe8-11e8-8c21-91c89100098b.png)

I click on "pagemoduletyp

[2018-08-14 16:10] andre-av opened #1751 "Cannot start/build Admin Panel"
Node: 8.11.3
npm: 6.2.0
strapi: 3.0.0-alpha.13.0.1
OS: Mac OS 10.13.6

**What is the current behavior?**

Npm throws errors when using scripts

**Steps to reproduce the problem**

1. strapi new testapi
2. cd testapi/admin
3. npm install
4. npm start

output:
[code]
Tried `npm link strapi-helper-plugin` but I get same error

[2018-08-14 16:13] ivanguimam commented on #1729
I'm sorry I didn't tell you @lauriejim , I've been very busy at work these past few weeks and I haven't had time to test. But according to @fisher08  he still exists

[2018-08-14 16:26] soupette commented on #1751
hi @andre-av you need to refer to the [CONTRIBUTING GUIDE](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) in order to customise the admin.

I'm closing the issue since it's a duplicate of #1006 and others.

[2018-08-14 16:26] #1751 closed

[2018-08-14 16:43] andre-av commented on #1751
I understand now that I read the guide, but the official documentation leads to user confusion in this topic. One can assume that the contributing guide is for contributors, or people who wish to help in strapi's development, not for internal local changes. I could help with a PR to update the documentation if it helps future users, anyways thanks for the help.

[2018-08-14 19:29] pt-br commented on #624
Is there any workaround to self-implement it for at least `destroy` and `update` permissions?

I really miss this feature 😞

[2018-08-14 21:44] MartinMuzatko commented on #212
This would also be helpful for `slug` #752

[2018-08-14 22:06] scottbarrow commented on #783
documentation is stale as it describes having the username, email, password in a `data` object.
https://strapi.io/documentation/guides/authentication.html#usage has a different JSON shape than above (which works as expected on latest version)

[2018-08-15 02:34] johntom opened #1753 "Upload Bug or lacking knowledge"
Node.js version: 9.11.1
npm version: 5.6.0
Strapi version: 3.0.0-alpha.13.1
Database: mongoDB v4.0.0
Operating system: win10
What is the current behavior?
Trying to port a trails server that uses muter to upload files to specific directories.
I'm testing wth 'koa-multer' and get the following

What is the current behavior?
Client: tried many variants but this seems like the best and putting header

[2018-08-15 03:27] derrickmehaffy commented on #1753
@johntom Can you please edit this issue and use code blocks or external sources like pastebin?

Your issue is quite hard to follow

[2018-08-15 10:34] juji commented on #1086
+1

in addition, access token can have roles assigned to it. So role-based rules will apply.

[2018-08-15 10:34] #1747 closed

[2018-08-15 10:40] reutopiaer opened #1754 "services undefined"
**Informations**
- **Node.js version**:v9.11.1
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.13.1
- **Database**:mysql
- **Operating system**:windows

**What is the current behavior?**
[code]

**Steps to reproduce the problem**
1. generate:api
[code]
2.  http://localhost:1337/video/count
{"message":"An internal server error occurred","statusCode":500,"error":"Internal Server Error"}

**

[2018-08-15 10:56] derrickmehaffy commented on #1754
@reutopiaer this one threw me through a loop also. It seems the `strapi generate:api` command defaults to mongo (thus mongoose).

You need to define the hook you want to use so in your case:

[code]

You can find the, very well hidden, part of the docs on this here: https://strapi.io/documentation/cli/CLI.html#strapi-generateapi

Specifically this part:

[2018-08-15 10:58] derrickmehaffy commented on #1754
@Aurelsicoko @lauriejim I think this command should instead use the default database type instead of just defaulting to mongo :stuck_out_tongue:

Should pull from the development environment `database.json`

[2018-08-15 14:41] chrisdekker1997 opened #1755 "Forgot Password error "Email Invalid" after hitting the send button 3 times."
**Informations**
- **Node.js version**: Node 10.7.0
- **npm version**: npm 6.1.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: mongodb
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Strapi returns a error `{"statusCode":400,"error":"Bad Request","message":[{"messages":[{"id":"Auth.form.error.email.invalid"}]}]}`

**Steps to reproduce the problem**
Go to "forgot pa

[2018-08-15 14:58] MartinMuzatko commented on #1210
erm. @lauriejim you pointed to the same issue as a duplicate?

[2018-08-15 19:18] zeroby0 opened #1756 "Email id validation on signup"
**What is the expected behavior?**
Allow signups only from emails that match a format. This can be used to restrict signups to users from my organisation, etc.

This can probably be done my changing the model & controller, but an option in the GUI would be very helpful.

[2018-08-15 19:48] johntom commented on #1753
Sorry, I did use code blocks but had some misplaced ``` I will make a public github repo and try to clarify. At the end of the day I'd like to use koa-multer for uploading as I need total flexibilty on the process.
Thanks,
John

[2018-08-15 21:41] johntom commented on #1753
Hi,
The follow repo https://github.com/johntom/strapiApp is now available
1) \strapi\api\api\gym\controllers\Gym.js has the upload method using
koa-multer
2) client uses fetch

let formData = new FormData()

formData.append('file', image[0]);
let baseweb = 'http://localhost:1337/'
var url = baseweb + gym/upload
return fetch(url, {
mode: 'cors',
method: 'POST',
// body: JSON.stringify(formData) //

[2018-08-15 22:03] MartinMuzatko commented on #1507
To point out the elephant in the room: Did somebody try the paid i18n plugin?
Does it do what it claims?
There is an item on the roadmap marked as not done and there is the plugin in the [marketplace](https://strapi.io/marketplace/internationalization).
I personally think it is a must for a good CMF to have open source I18n.

[2018-08-16 01:48] reutopiaer commented on #1754
@derrickmehaffy 'strapi generate:api -t bookshelf' works
Thank you very much!
ps: Strapi is awesome! You did a god job!

[2018-08-16 01:48] #1754 closed

[2018-08-16 07:56] derrickmehaffy commented on #1578
Example on v13.1:

![image](https://user-images.githubusercontent.com/8593673/44195755-e043cb00-a0ee-11e8-8c35-01e9d238319f.png)

However now if I attempt to save:
![image](https://user-images.githubusercontent.com/8593673/44195802-023d4d80-a0ef-11e8-8d7b-c0978e5bc07a.png)

![image](https://user-images.githubusercontent.com/8593673/44195839-1e40ef00-a0ef-11e8-8650-b845f9ccb46c.png)

It works as ex

[2018-08-16 07:59] MartinMuzatko commented on #1756
Also, avoid users signing up from `mail@gmail.com` and `mail@googlemail.com`
Any way to hook into the plugin and change that behavior?

[2018-08-16 07:59] derrickmehaffy commented on #1578
My current version without these oneWay relation changes: https://github.com/canonn-science/CAPIv2-Strapi

My test version with these changes: https://github.com/canonn-science/CAPIv2-Strapi/tree/removeLocation

( Run a diff and you can see the changes )

[2018-08-16 08:00] derrickmehaffy commented on #1578
Diff between the two: https://github.com/canonn-science/CAPIv2-Strapi/commit/1d3135f9d2b178960a060bf56203e8006bc7a5f7

[2018-08-16 08:05] derrickmehaffy commented on #1756
AFAIK there is no current way to do this as there is no real "validation" layer on anything. But I do think something like this is planned

[2018-08-16 08:06] derrickmehaffy commented on #1756
https://strapi.io/vote

[2018-08-16 10:50] YouhannaSabry commented on #1648
@xeastcrast did you fix it? please tell me how..

[2018-08-16 12:11] fedecarg commented on #1584
This is still happening to us. Vey annoying bug because the node server dies after this and we can't change anything else.

[2018-08-16 12:15] derrickmehaffy commented on #1584
@fedecarg are you using any special case for either the model or the field? (Spaces, symbols, camelCase, ect) ?

[2018-08-16 12:16] derrickmehaffy commented on #1584
Also you can just update the names via the model settings file `api/modelname/models/modelname.settings.json`

It should be noted that Strapi doesn't rename the fields in or models stored in the DB, so by renaming you will "lose" that data (it is still there but no longer referenced properly)

[2018-08-16 12:38] MartinMuzatko opened #1758 "Document Rest API methods as a guide"
**What is the expected behavior?**

I'd like to propose a few changes for the documentation that I would like to contribute.

It took me forever to find the main Rest API methods that Strapi offers.
They are in https://strapi.io/documentation/getting-started/quick-start.html#consume-your-api
Since they are an essential part of Strapi, I would move that part to the guides section. Since it involves

[2018-08-16 13:09] derrickmehaffy commented on #1758
Would love to see this also :smile: :+1: from me.

@pierreburgy Your thoughts on swapping out the Docs framework?

[2018-08-16 13:30] corinthian13 commented on #1444
Please update the Quick Start guide for project creation, i.e.
              https://strapi.io/documentation/getting-started/quick-start.html
to clearly mention the current need for Linux VM  to create a project.

[2018-08-16 13:38] fedecarg commented on #1584
Nope. Restoring the files that were deleted using `git checkout -f master <files>` solved the problem.

[2018-08-16 13:45] krisballistiq opened #1760 "missing `manifest.json` when running setup after upgrade"
**Information**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.13.1
- **Database**: Mongo
- **Operating system**: MacOS High Sierra

**What is the current behavior?**
Upgraded from 12.7 to 13.1, and got a missing `packages/strapi-admin/admin/src/config/manifest.json` file error when running `npm run setup:build`.

I checked my repo and it's not there, chec

[2018-08-16 13:47] fedecarg commented on #1584
Thanks Derrick.

Given that renaming a Content Type results in data not being updated (for obvious reasons), I wonder if allowing a user to `clone` instead of `rename` a Content Type would result in a better user experience.

Because when you `rename` a Content Type you don't expect to loose some data. But if you allow the user to `clone` it, then the user knows that it needs to update the relatio

[2018-08-16 14:07] derrickmehaffy commented on #1584
@fedecarg The Strapi team are aware of this issue, it has been brought up a few times. Eventually I think Strapi will have 2 options:

1. Delete the entire table (not sure what it is called in mongo) and lose all data and rebuild it
2. Dump/backup the data and do #1 (Obviously this is slower if being done on a large database.)

[2018-08-16 14:15] MartinMuzatko commented on #1758
Additionally, I only yesterday found out how `PUT` and `POST` works with relations.
This is also not explained.
Example:
![image](https://user-images.githubusercontent.com/2950505/44214055-833c2980-a16f-11e8-9623-e0c17a76962d.png)

This **needs** to be documented!

[2018-08-16 14:26] sbastias opened #1761 "File Upload Explorer showing GB instead of MB"
**Informations**
- **Node.js version**: 10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.13
- **Database**: MongoDB
- **Operating system**: Ubuntu 14.04

**What is the current behavior?**
The file upload system is indicating GB instead of MB.
![image](https://user-images.githubusercontent.com/1007243/44214640-a39fc000-a13e-11e8-8518-e7862161188f.png)

**Steps to reproduce the prob

[2018-08-16 14:43] ferminminetto opened #1762 "Can't customize Primary Key type or name"
**Informations**
- **Node.js**: 10.0.8
- **npm**: 6.2.0
- **Strapi**: 3.0.0-alpha.13.1
- **Database**: MySQL
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
I'm using Strapi to connect with an existing table in a MySQL table. Sadly, the id column of such table it's not called `id`, it's called `work_id`. To solve this I used in my model's JSON settings file the following co

[2018-08-16 15:31] MartinMuzatko commented on #1758
Regarding vuepress: You wouldn't need to abuse blockquotes anymore for notes/warnings/info blocks.
Vuepress has them build in:
[code]

If wanted, I'd come up with a poc.

[2018-08-16 15:44] maturano commented on #1754
I would suggest keep the issue open (or open a new one). Add the `-t` parameter sounds like a workaround. I think should be optional and this is a real bug; isn't?

[2018-08-16 15:53] MartinMuzatko opened #1763 "Create seamless checkout/deployment process."
**What is the expected behavior?**

I wouldn't want to check in all the source code for the `/admin` including the `build` folder into git. This seems very very wasteful to me.

The preferred way, would be to check in only the `public`, `config` and `api` folder. Everything else should be able to be generated from simple instructions. This is important both for deployment and working correctly wit

[2018-08-17 06:31] derrickmehaffy commented on #1754
@maturano yeah me personally I don't think the CLI should preference a backend hook by default and should use the one defined as your primary DB in your database.json file the -t (or --tpl) is what defines the hook.

[2018-08-17 06:46] Tonours commented on #1484
Hey @lauriejim :wave: !

After doing some tests, it appears that the `isNumeric` function in `lib/models.js` of `strapi-utils` package could return false positive for object.

A workaround for this is to check that the value is not an Object.

[code]

After this update, you will be able to perform where requests.

Let me know if you want i open a PR for this.

[2018-08-17 10:00] MartinMuzatko opened #1765 "View prefix to plugin routes in Roles & Permissions route viewer"
**What is the expected behavior?**

When I wanted to dive into how to use `/roles` and `/permissions` are used, I had a little of a problem to get started.
The roles and permissions admin panel shows me that I can use `/roles`
So I tried that route:
![image](https://user-images.githubusercontent.com/2950505/44260160-e8e1f180-a213-11e8-91c0-16f31f2822d1.png)

Only when @soupette reached out to me,

[2018-08-17 10:30] danielehrhardt commented on #1761
Can confirm this

[2018-08-17 12:31] Aurelsicoko commented on #1507
@MartinMuzatko The i18n plugin is available on the marketplace but you won't be charged for it because it's not developed yet. It helps us to know if the plugin is requested or not.

As I already said, we can't offer all the features for free. We have to find a way to make the OSS sustainable. If we offer everything for free, the project is going in the wrong direction and it'll certainly die in a

[2018-08-17 12:32] Aurelsicoko commented on #1198
@MartinMuzatko Try to find another word for this model until we find a viable solution.

[2018-08-17 12:37] Aurelsicoko commented on #624
@pt-br We tried to find a way to implement it. We faced many issues to implement it in a generic way. We should give it a try again with @lauriejim, it could be a really great feature 👍