[2018-02-16 20:44] suanter commented on #640
Project created with 3.0.0-alpha.8 but running with 3.0.0-alpha.9.1.

[2018-02-16 21:34] mittalyashu commented on #616
I tried creating a new project as seeing how it work and here what I found out.

I get this error in MongoDB
![image](https://user-images.githubusercontent.com/29014463/36330314-2ad91bea-138f-11e8-9ee1-fc89d12242b9.png)

MySQL
![image](https://user-images.githubusercontent.com/29014463/36330342-40fe47d8-138f-11e8-8cc6-7d290ce42a02.png)

[2018-02-17 08:10] denislutz commented on #659
I agree this is small but it looks like a bug if it stays like that. You expect to go back by the cancel button and nothing is happening. Please rename it or add a function to go back.

[2018-02-18 13:48] #571 closed

[2018-02-18 13:50] lauriejim commented on #568
Hi @sachin-rajput can you give us an update if the @Aurelsicoko message helped you please.

[2018-02-18 13:53] lauriejim commented on #566
Hello @derrickmehaffy can you please give us an update about this issue.
@soupette message helped you ?

[2018-02-18 13:57] lauriejim commented on #565
@Yobikap there is any errors displayed ?

[2018-02-18 14:04] lauriejim commented on #551
@dareksob Can you give us an update about your issue please.

[2018-02-18 14:10] lauriejim commented on #548
I'm agree with you @storm1er.

[2018-02-18 14:11] #544 closed

[2018-02-18 14:13] #532 closed

[2018-02-18 14:16] lauriejim commented on #524
Hi @lucasdu4rte Can you update to last version on Strapi and tell me if it still happen ?

[2018-02-18 14:17] lauriejim commented on #511
Hi @lucasdu4rte can you give us an update about this issue please

[2018-02-18 14:29] lauriejim commented on #485
Hi @radmen can you update then version of  Strapi to `alpha.10.x` and tell me if you still have your issue please.

[2018-02-18 14:46] #445 closed

[2018-02-18 14:46] #444 closed

[2018-02-18 14:47] #437 closed

[2018-02-18 14:57] lauriejim commented on #403
You can check how our `users-permissions` plugin work and custom it to work with Auth0

[2018-02-18 14:57] #403 closed

[2018-02-18 14:58] #389 closed

[2018-02-18 15:00] #383 closed

[2018-02-18 15:01] #310 closed

[2018-02-18 15:01] #212 closed

[2018-02-18 15:18] #109 closed

[2018-02-18 15:42] lauriejim commented on #645
Can you delete your root user in database. Register new root admin account (http://localhost:1337/admin, the register form will be displayed) and then make sure, your Guest role have all Users and Permission Auth action available.

[2018-02-18 16:04] Yobikap commented on #565
No errors, only a blinking cursor in terminal.

On 18 Feb 2018 2:58 p.m., "Jim LAURIE" <notifications@github.com> wrote:

[2018-02-18 16:07] derrickmehaffy commented on #566
I have not gone ahead with the changes, I have spoken with @pierreburgy who stated this should eventually make it into the existing project. I would image this issue should wait until a pull request is made to incorporate the enum field type in the admin panel as it is supported in the CLI.

[2018-02-18 16:44] #660 closed

[2018-02-18 17:10] pravosleva opened #667 "Socket.IO should be included to Strapi project"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.9.3

**Operating system**: Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?** New functional as wost wanted feature.

**What is the current behavior?** Socket.IO could not be included to Strapi project quickly.

**If the current behavior is a bug, please provide the steps to reproduce the probl

[2018-02-18 17:28] derrickmehaffy commented on #667
@pravosleva this I believe is on their to-do list, currently it is not possible

[2018-02-18 19:08] brunovandamme commented on #485
I still get the same error on `alpha.10.1` when choosing sqlite3

[2018-02-18 19:29] ArkhipovK commented on #485
@brunovandamme what about other dbs like mysql or postgres?

[2018-02-18 19:34] brunovandamme commented on #485
Just wanted a quick view what strapi was all about, so i choose the db with the least amount of setup being sqlite. But it resulted in the error described. Have no installations of mysql/postgres, so can't comment on it.

I also found it strange that it asked a host and port when selecting sqlite3.

[2018-02-18 19:35] ArkhipovK commented on #485
What is your os then?

[2018-02-18 19:36] brunovandamme commented on #485
Running MacOS 10.13 High Sierra

[2018-02-19 09:03] lauriejim commented on #641
Hello @mrksohag can you be more precise on the steps to reproduce the problem please

[2018-02-19 09:09] lauriejim commented on #565
Okay, are you able to try with one of these terminal ? https://github.com/SBoudrias/Inquirer.js#support-os-terminals

[2018-02-19 09:16] Aurelsicoko commented on #472
@mikedevita It has been fixed. We introduced a new property `private` in the models that allows you to hide model's attributes from the server responses.

[2018-02-19 09:18] lauriejim commented on #549
Actually to fix it, you will have to change the forgot password template and replace `HOST` variable by a static url.

[2018-02-19 09:19] Aurelsicoko commented on #561
@mittalyashu Sure, Strapi only provides a Node.js HTTP server with a dashboard to manage the data. We don't launch a MongoDB ou SQL database automatically. That's why, when you run `strapi new myApp` we ask about your database details to connect Strapi to it.

[2018-02-19 09:24] Aurelsicoko commented on #630
We are also thinking about using Flow... We will certainly make a survey to ensure the community is following us on this choice. We want to make sure everyone could contribute easily to the project like it's already the case.

[2018-02-19 09:25] #630 closed

[2018-02-19 09:31] Aurelsicoko commented on #619
@victorkurauchi Thank you for the suggestion! I'm pretty sure we will head to this kind of feature in the future. I don't see any problem to implement it. However, it's clearly not a priority for us right now.

To be more precise, in your description you talk about 1 login for 3 different applications. It means that you need to have a main API to manage the authentication for everyone or having th

[2018-02-19 09:31] #619 closed

[2018-02-19 09:35] John0x commented on #630
@Aurelsicoko I'd be willing to take care of most of the typescript integration, if you would guarantee, that it will be merged.

I'll post it on the vote page.

[2018-02-19 09:38] Aurelsicoko commented on #615
The gist won't work because you're using the Mongoose `lean` method. So the magic applied by Mongoose is not executed like the `transform` middleware.

However, the cleaner way to do what you're trying to do is to use the policy.

`./api/**/config/routes.json`
[code]

Create the `cleaner.js` policy.

[code]

[2018-02-19 09:45] Aurelsicoko commented on #630
@John0x It could be awesome 👍

[2018-02-19 09:51] Aurelsicoko commented on #599
@padupuy Could you provide a PR to implement this enhancement?

[2018-02-19 10:01] Aurelsicoko commented on #616
@mittalyashu Can you please use the latest version of Node.js? 9.5.0 with npm 5.6.0. And try again. It's strange because it should work with MongoDB. Also, make sure, you dropped your Mongo collection before creating a new app.

[2018-02-19 10:05] Aurelsicoko commented on #667
You can easily add socket.io in a strapi project using the bootstrap file.

`./config/functions/bootstrap.js`
[code]

[2018-02-19 10:52] mafzalashraf4044 opened #669 "Strapi.io unable to use the frontend development server"
**Node.js version**: 9.4.0

**npm version**: 5.6.0

**Strapi version**: v3@alpha.10

**Operating system**: elementary os loki

I am using strapi v3@alpha.10. Every things is working fine, but I am unable to customize the frontend, the reason is frontend development server is not working fine. I want to customize the UI of users-permissions plugin, for that I used the command "npm link strapi-helpe

[2018-02-19 10:56] radmen commented on #485
@lauriejim @ArkhipovK I've tested `alpha.10.1`

Here are some results:

* `mysql` database: strapi creates new app, no error, also no tables (it doesn't create anything). `strapi start` failes with something like this:

[code]

* `postgres` failed on `strapi new` (though it's a totally different issue):

[code]

* `sqlite3` strapi keeps asking me about... connection details

[code]

[2018-02-19 13:07] Rzeszow commented on #641
I had the same error. I've created a new database and it's working.

[2018-02-19 16:05] derrickmehaffy opened #670 "[Bug] Admin-UI Content Manager does not display value zero"
**Node.js version**:
v9.4.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.10.2

**Operating system**:
Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Create a content type and add in a value type of number (Integer, Decimal, or Float)
Attempt to set one of the values to `0`
Admin UI does not show a zero as entered, nor d

[2018-02-19 16:55] soupette commented on #669
It looks like you didn't start your project in dev mode : `strapi new myProject --dev`

[2018-02-19 16:55] #669 closed

[2018-02-19 19:25] mrksohag commented on #641
@lauriejim please check following image. Thanks.
![screenshot from 2018-02-20 01-18-57](https://user-images.githubusercontent.com/16557162/36394058-a9c4d5da-15dc-11e8-8061-f75733bba654.png)

[2018-02-19 21:10] dareksob commented on #551
Hi @lauriejim sorry for the long wait.
I try the issue with the latest version of stapi (strapi@3.0.0-alpha.10.2) and a newer version of node (v8.9.4) wth the same setup. This time a can create the content types over the backend, without problem. I only response (fails) on _health request two times, but wasn't any side effect on saving or update process.
Bug is closed 👍

[2018-02-19 22:56] storm1er opened #672 "How to export database based config from dev to staging to prod ?"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
Ubuntu 17.10

**Do you want to request a *feature* or report a *bug*?**
Question

**What is the current behavior?**
Before alpha.10.1, I was able to easily upgrade from one env to another, especially when editing user-permission. But as you said, last upgrade moved all the config from file

[2018-02-20 05:23] mittalyashu commented on #561
Well, I haven't run any database separately. Can you tell me how to run a MySQL database?

[2018-02-20 06:12] derrickmehaffy commented on #561
@mittalyashu this is old though should help with beginners (would highly recommend looking up tutorials that match the current version): https://www.digitalocean.com/community/tutorials/a-basic-mysql-tutorial

[2018-02-20 09:30] lauriejim commented on #584
Hello @JoshuaYang.
I tried with `pm2@2.1.5` and `strapi@3.0.0-alpha.10.2` and I have no errors in the terminal.

But if you don't start you project with `strapi start` the auto restart when new content type is created is not available. So if you refresh your page, the content-type is created but not mount in your project.

To use correctly the content-type-builder please launch with `strapi start`

[2018-02-20 09:59] lauriejim commented on #608
Hello @akwatra .
Can you try with https://github.com/zeit/ms format. '2m' for 2 minutes and tell me if it works.
It works fine on my computer with number and string format.

[2018-02-20 10:09] lauriejim commented on #575
@Yobikap CAn you give me your `arealocation` model please.
@storm1er Can you give me a .zip of you models please (easier to try to help you to reproduce your bug)

[2018-02-20 10:12] Yobikap commented on #575
@lauriejim

This is my arealocation model:

[code]

[2018-02-20 10:15] lauriejim commented on #508
Hello @niallobrien Can you give me the process you did to have this issue (be more precise as you can please)

[2018-02-20 10:21] Yobikap commented on #565
![screenshot from 2018-02-20 11 18 52](https://user-images.githubusercontent.com/2850919/36418712-f0478676-162f-11e8-92c2-f30f83b96781.png)
L: Konsole | R: Gnome-terminal

@lauriejim Tried with both of them it hangs on Database name: (strapi)

Still using node v8.1.0 (npm v5.6.0)

[2018-02-20 10:56] derrickmehaffy commented on #508
@lauriejim I have noticed the same issue.

- Create a content type that contains a string with the name `Title`
- Note that strapi by default did not change "Title" to "title" when storing in the database
- Change the string in the content builder from "Title" to "title"
- Update the record via the admin UI
- Note that the database now contains two values "Title" and "title" instead of updating th

[2018-02-20 11:00] derrickmehaffy commented on #508
I believe this issue is also partially related to https://github.com/strapi/strapi/issues/661 as the user in this case wished to have the string name "Title" appear but store it in the database as "title".

The issue of displaying values on the admin UI and how they are stored/shown on the endpoints is a common issue. Although changing content field names doesn't appear to update in the database (

[2018-02-20 11:12] lauriejim commented on #565
@Yobikap can you update to node 9.
But not sure it will solved this issue.

[2018-02-20 11:21] Yobikap commented on #565
Node 9 solved this issue.

On 20 Feb 2018 12:12 p.m., "Jim LAURIE" <notifications@github.com> wrote:

[2018-02-20 11:21] #565 closed

[2018-02-20 12:10] rudolph2907 opened #673 "strapi new generating error: Unexpected token ..."
**Node.js version**:
8.5
**npm version**:
3.10.9
**Strapi version**:
Newest
**Operating system**:
Windows

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
I am trying to generate a new app: strapi new test and getting th following error:
C:\Program Files (x86)\Nodist\bin\node_modules\strapi\node_modules\strapi-generate-new\lib\before.js:125

[2018-02-20 12:32] lauriejim commented on #673
Please use node 9

[2018-02-20 12:32] #673 closed

[2018-02-20 12:35] niallobrien commented on #508
@derrickmehaffy Perfect explanation, thank you. Yes, this is correct.

[2018-02-20 12:36] rudolph2907 commented on #673
Hi Jim

Still getting the same issue with v9.5

![image](https://user-images.githubusercontent.com/4610580/36424256-570235bc-164b-11e8-9594-82c0f3ebf7c5.png)

[2018-02-20 13:41] storm1er commented on #575
@lauriejim The problem disappeared since release 10.1, on the same models.

[2018-02-20 17:48] pravosleva commented on #667
@Aurelsicoko, I'am js-beginner.
Will you please, help me.
I have created project with included socket.io here - https://github.com/pravosleva/strapi-socket.io-test
I know, how can I use socket.io in React with express on backend (but not in Strapi).
So, my question is this -> where can i use `io.on( connection, function (socket) {} )`
Thanks.

[2018-02-20 18:03] pravosleva commented on #667
@Aurelsicoko Can I use `strapi.io.on( connection, function (socket) {} )`?

[2018-02-20 18:04] wonknu commented on #667
Hello @pravosleva , not sure if it will help you but i made some kind of tutorial this weekend to explan how i managed to setup socket io in my projet as i'm using it to. It's a basic example of setting up socket io an then use strapi public html file

https://github.com/wonknu/strapi_socket/blob/master/README.md

[2018-02-21 09:08] Aurelsicoko commented on #672
There are three possible solutions:

1 - Manually migrate the data from the table `users-permissions_permissions` development to production as you will have to do using others frameworks.
2 - Add a way to export permissions and import them in the production environment. But it's not optimal because you have to start the server (at this time, the permissions will be set with default configuration),

[2018-02-21 09:17] Aurelsicoko commented on #667
@pravosleva Please follow the tutorial of @wonknu, it seems really great. Well done! I'm closing the issue, please reopen it if it's necessary 👍

[2018-02-21 09:17] #667 closed

[2018-02-21 09:35] lauriejim commented on #508
Okay I understand your needs. I close this issue but still #661 open.

[2018-02-21 09:35] #508 closed

[2018-02-21 10:00] rsinelle opened #675 "Field Id with camel case nomenclature"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
Centos

**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
For Rest Apis, it will better to export field name as camel case.
To do so, a solution is to generate a camel case field id when we create a new field for a content type.

[2018-02-21 10:06] rsinelle opened #677 "Audit fields"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
Centos

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the expected behavior?**
For audit purpose, I can be useful to add automatically somes audit fields like Creation date, Update date.
These fields can be exported with Rest Apis

[2018-02-21 10:12] lauriejim commented on #675
Thi issue is related to this one https://github.com/strapi/strapi/issues/661

[2018-02-21 10:12] #675 closed

[2018-02-21 11:59] keyus4 opened #678 "GET request with filter returns an empty array. e.g localhost:1337/car?name=honda"
I created a car model which has fields like name(string), booked(boolean), price(float) and others.
If I try to do a GET result that displays cars with name honda or cars where booked is false displays an empty array.

only the id field returns a result but others just returns empty array.
e.g
http://localhost:1337/car?name=honda
or
http://localhost:1337/car?name="honda"

[2018-02-21 12:43] ibc commented on #485
Same here.

* Mac OS High Sierra 10.13.3
* strapi: 3.0.0-alpha.10.2

[2018-02-21 13:37] #678 closed

[2018-02-21 14:02] tienthinhturbo opened #679 "Strapi@alpha10 error: The hook `_config` failed to load!"
**Node.js version**: 8.9.1

**npm version**: 5.5.1

**Strapi version**: alpha 10

**Operating system**: Windows

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** error: The hook `_config` failed to load!

**If the current behavior is a bug, please provide the steps to reproduce the problem**
- Install Strapi
- mongod
- Cd to fresh install
- strapi st

[2018-02-21 14:52] derrickmehaffy commented on #677
This is mainly related to the MongoDB part of strapi, as mongo does not contain anything related to the MySQL `current_timestamp` documented here: https://dev.mysql.com/doc/refman/5.7/en/timestamp-initialization.html

I 2nd this is something that should be added by default especially for anytime changes are made to an entry as well as new entries.

[2018-02-21 15:33] akwatra commented on #608
I tried earlier with numeric value 120 it worked then,

[2018-02-21 15:33] #608 closed

[2018-02-21 16:02] lauriejim commented on #679
@tienthinhturbo Can you update you nodejs version to node 9 please and tell me if it works.

[2018-02-21 16:10] jbuck94 commented on #677
Looks like it existed in the [V1 Docs](https://strapi.io/documentation/1.x.x/models.html#autocreatedat) - not sure why they would have gone away with this.  Mongoose native timestamps (createdAt, updatedAt) would be very helpful!

[2018-02-21 19:26] keyus4 opened #680 "'rm' is not recognized as an internal or external command"
I tried to rebuild my admin area using npm run build in my ./admin folder.

this is the error i get

 strapi-admin@3.0.0-alpha.10.1 build C:\Projects\strapi\ngRide\admin

'APP_PATH' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! strapi-admin@3.0.0-alpha.10.1 build: `APP_PATH=$APP_PATH npm run build:dll && nod

[2018-02-21 19:35] keyus4 commented on #678
I noticed that a field with starting with an uppercase returns an empty array

[2018-02-21 19:39] keyus4 commented on #678
I noticed that trying to use a brwoser doesn't return anything because the fields are changed the lower case in the browser. i.e "Honda" was changed to "honda" but when I used postman, it returned the right data.

http://localhost:1337/car?Name=Honda was changed to http://localhost:1337/car?name=honda in the browser  but when i used post man, http://localhost:1337/car?Name=Honda returned the right

[2018-02-21 22:32] soupette commented on #659
Thanks @abdonrd the button has been renamed 🎉🎉.

[2018-02-21 22:32] #659 closed

[2018-02-21 22:41] micahscopes commented on #485
I'm also having this issue on Linux with Strapi 3.0.0-alpha.10.2

[2018-02-21 22:48] joeinnes opened #682 "PUTting results in a 500 error even if successful"
**Node.js version**:
9.4.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
macOS

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When PUTting, the update is made successfully, but the response from the endpoint is 500, and there's an error in the logs.

**If the current behavior is a bug, please provide the steps t

[2018-02-22 01:34] #584 closed

[2018-02-22 09:11] storm1er commented on #672
@Aurelsicoko I agree with the latest option

[2018-02-22 12:03] derrickmehaffy commented on #680
likely related to project created without --dev

[2018-02-22 13:17] #670 closed

[2018-02-22 14:03] keyus4 commented on #680
@derrickmehaffy. I actually created another project with --dev and i was able to do npm install in the ./admin folder but when i tried to do npm start, i also got this error

C:\Projects\strapi\ngRide\admin>npm start

module.js:538
    throw err;
    ^

Error: Cannot find module 'C:\Projects\strapi\ngRide\admin\node_modules\strapi-helper-plugin\node_modules\.bin\cross-env'
    at Function.Module._

[2018-02-22 16:09] TheWebsDoor opened #688 "[Bug][Critical] Users in specific role are kicked out when role permissions are updated"
**Node.js version**:
8.9.3
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Hi ! We have a problem when we go to Users and Permissions and we edit a role, everyone who had this role will be ejected and reaffected to the Guest role.
It's quite critical w

[2018-02-22 16:58] acoreyj commented on #496
Was something done here because I am seeing a different issue. Saving json data from the admin panel saves to the database as a string instead of as json.

![image](https://user-images.githubusercontent.com/11298888/36552118-bb637af6-17be-11e8-9d07-c629da21f445.png)
![image](https://user-images.githubusercontent.com/11298888/36552157-d0218ff0-17be-11e8-818b-4e09358420cc.png)
![image](https://user-

[2018-02-22 16:59] lauriejim commented on #641
@mrksohag I can't reproduce your issue. Can you try to log and debug this file https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/utils/connectivity.js. I think it's here something is wrong for your mongo configuration.

[2018-02-22 17:00] #551 closed

[2018-02-22 18:58] acoreyj commented on #548
Under guest permissions you can set the isauthenticated policy to any permission to do this

[2018-02-22 20:07] TheWebsDoor opened #689 "/user/me and ctx.state.user doesn't return OneToMany relations properly"
**Node.js version**:
8.9.3
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Hi !
When we have a OneToMany relation in the user with other entities, the current user in `ctx.state.user` will not display all the relations properly. Instead, it will return

[2018-02-22 21:51] TheWebsDoor opened #690 "ManyToOne relations are considered as OneToOne in Content Type Builder"
**Node.js version**:
8.9.3
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Hi (it's me again),
I've found another critical issue... In the Content Type Builder, when I edit my relations on the interface of Strapi all the ManyToOne relations are conside

[2018-02-22 23:02] Caryyon opened #691 "Content Type: JSON field"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.10.2

**Operating system**: 10.13.3 (17D47)

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** When add a JSON field to a custom content type it appears to simply add a string field

**If the current behavior is a bug, please provide the steps to reproduce the problem

[2018-02-22 23:53] soupette commented on #483
Well we're currently working on the upload, but since the Input Library has been redone it should be normally easier to create new types (for the front end part), you'll will just have to edit a json file if the GUI doesn't contain it already. However it's not on our short-term road map to allow to create custom field from the GUI 🏗🏗..

[2018-02-23 14:52] lauriejim commented on #691
I close this issue, please follow this issue https://github.com/strapi/strapi/issues/496

[2018-02-23 14:52] #691 closed

[2018-02-23 16:14] #529 closed

[2018-02-23 16:16] soupette commented on #566
This was fixed when we merged https://github.com/strapi/strapi/pull/685.
The enumeration type is still not supported in the content type builder yeet, however if the content manager handles it now if you manually create this type.

[2018-02-23 16:16] #566 closed

[2018-02-23 16:17] soupette commented on #578
Hi @gurjantsingh7979 if you want the enumeration you have  enumeration you can manually create it in your model as follows:

[code]

[2018-02-23 16:18] Jakku7 opened #693 "Failed to register to admin panel"
**Node.js version**: 8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0 -alpha 10.2
**Operating system**: Windows 10

**Do you want to request a *feature* or report a *bug*?**
Report a bug
**What is the current behavior?**
Registration to the admin panel is not possible anymore. Console says two things:
[code]
I do not have any error messages from command line. Probably I accidentally configur

[2018-02-23 16:35] Jakku7 commented on #693
Yeah. I had to drop db to make it up and running again.

Thanks for help!

[2018-02-23 16:47] derrickmehaffy commented on #566
@soupette a user is still unable to add the enum type from the admin UI though correct?

[2018-02-23 18:06] abdonrd opened #694 "Add authSource & ssl options to MongoDB connector"
**Node.js version**: v8.9.1
**npm version**: v5.6.0
**Strapi version**: v3.0.0-alpha.10.2
**Operating system**: macOS

**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

I can't connect to MongoDB.

**If the current behavior is a bug, please provide the steps to reproduce the problem**

I need to send some params to the MongoDB connection, if not

[2018-02-23 21:19] koljakutschera opened #695 "new generator Unexpected token ..."
**Node.js version**:
v8.1.2
**npm version**:
maybe 5.6.0

**Strapi version**:
3.0.0-alpha.10.2

**Operating system**:
OSX

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Invalid `new` generator.
/usr/local/lib/node_modules/strapi/node_modules/strapi-generate-new/lib/before.js:125 ...databaseChoice.value
Unexpected token ...

**If the current behavi

[2018-02-23 21:54] lauriejim commented on #695
Please use node 9

[2018-02-23 21:54] #695 closed

[2018-02-23 22:14] lauriejim commented on #695
I have updated the website and the documentation. Thank you for this issue.

[2018-02-23 22:37] HDMiranda commented on #541
@lauriejim, I'm in version 10.2 and it's still a issue for me.

[2018-02-24 01:37] blurdylan commented on #636
I had the same issue with 3.0.0-alpha.10.
I ran `strapi new project-name` then when it prompts to enter username and password,
I left it blank.

Now when I run `strapi start` it works.

[2018-02-24 08:27] storm1er commented on #672
@lauriejim Can you transform this into "Feature request" ? ^^ And it's kinda important as arround me i'm not the only guy who is loosing their mind : "How to do this without destroy everything" x)

Most of us directly edit permission through mlab ^^'

[2018-02-24 13:54] lauriejim commented on #575
@Yobikap I have reproduce your model, then play with content manager and don't have any problems.
Can you tell me steps to reproduce your issue please

[2018-02-24 14:00] #693 closed

[2018-02-24 20:42] tapvt opened #698 "Failure to start on OSX - `strapi.models['core_store'].orm` undefined in `lib/core/store.js`"
**Node.js version**: v8.3.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.10.2

**Operating system**: OSX 10.13.2 (17C88)

**Do you want to request a *feature* or report a *bug*?**
Bug or lacking documentation of dependencies to manually install.

**What is the current behavior?**
Having installed strapi following the [quick start doc](https://strapi.io/documentation/getting-started/qui

[2018-02-25 13:26] derrickmehaffy commented on #698
@tapvt I believe the requirements now state Node v9 needs to be installed. Not sure if the pull request was pulled in and is live yet. Seen a few issues related to this.

[2018-02-25 13:27] derrickmehaffy commented on #698
aye it does look like they have been updated: https://strapi.io/documentation/getting-started/installation.html

[2018-02-25 15:12] derrickmehaffy commented on #511
I too seem to be having this issue. I may be reading the docs wrong but there doens't seem to be a clear setup process for working the development environment. (I would recommend a more detailed guide be made in the future as it seems the https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md may be slightly out of date)

Something that might be causing general confusion is why is th

[2018-02-25 15:16] derrickmehaffy commented on #511
It does seem however that the --dev is creating the wrong symlinks:

![screenshot from 2018-02-25 08-14-43](https://user-images.githubusercontent.com/8593673/36643069-05edbd38-1a04-11e8-8465-ea05ecd30acb.png)

As those files/directories don't exist:

![screenshot from 2018-02-25 08-16-23](https://user-images.githubusercontent.com/8593673/36643091-3105f62a-1a04-11e8-8bce-e1d0a71115c2.png)

[2018-02-25 17:38] tapvt commented on #698
@derrickmehaffy Great. I'll take a look. Thanks.

[2018-02-25 18:05] tapvt commented on #698
@derrickmehaffy, after upgrading to node v9.6.1, the above error still occurs.

[2018-02-25 19:03] derrickmehaffy commented on #698
@tapvt This seems related to a few other issues that have popped up just looking at previously closed issues. Not exactly but it seems for them the resolve was to manually call `npm install strapi-bookshelf@alpha --save`

I would also try creating another new project since you have updated node. Else some of the strapi Devs might be able to point you in a better direction.

[2018-02-25 20:33] tapvt commented on #698
Thanks for the ideas, @derrickmehaffy. Unfortunately, a fresh installation did not solve the issue. I manually ensured that `strapi-mongoose` is installed as well.

I am getting better stack traces now. So, `strapi start` yields:

[code]

So I decided to have a look in `/lib/core/store.js`.

Turns out, `strapi.models['core_store'].orm` is undefined for me.

Anyone have any ideas here? I'm going to

[2018-02-25 20:45] derrickmehaffy commented on #698
@tapvt Hmmm I'm wondering if this is an issue to Mac based systems. As I've never seen something like that issue on Windows or linux.

[2018-02-25 20:47] tapvt commented on #698
@derrickmehaffy Huh. Lemme fire up a linux VM and give it a shot.

[2018-02-25 20:53] pedrosimao commented on #698
I have the same issue here.
I am using Mac OsX, Node v. 9.6.1 and MySQL.
It's very frustrating not being able to start strapi and test for the first time.

[2018-02-25 20:55] derrickmehaffy commented on #698
@pedrosimao I believe that might be the case, I would recommend you try running it in a VM using Ubuntu/Centos to see. My dev system runs on Linux Mint (Ubuntu) but I've tested on windows 7/10 and haven't seen this before.

[2018-02-25 21:12] tapvt commented on #698
@derrickmehaffy, @pedrossimao:

I fired up an ec2 micro, and had no problems. So, this is some type of environmental issue.

I am using identical versions of Strapi, node and mongod on both machines.

Strapi: 3.0.0-alpha.10.2
Node: v9.6.1
mongod: v3.6.3

If anyone can point me in a direction regarding `strapi.models['core_store']` , I'm happy to dig in and figure out why its `orm` property is unde

[2018-02-25 21:18] derrickmehaffy commented on #698
Looks like there are some references to core_store in a pull request that was made about 19 days ago: https://github.com/strapi/strapi/commit/f5031d01554455a803c0f12a85e95bdb814bb22b

And it seems there was a related issue from mysql/postgres.

https://github.com/strapi/strapi/issues/485

All of which appear to be related to Mac OS. So I agree this seems like an environmental issue. I know in some

[2018-02-25 21:24] derrickmehaffy commented on #698
Just curious @tapvt can you try forking and pulling the base strapi code. As I think there were some changes made that haven't been pushed out into a release yet. This issue might have been solved in that pull request. There should be some instructions about building a dev environment on here: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

And on the documentation page: https://stra

[2018-02-25 21:25] tapvt commented on #698
Sure @derrickmehaffy, I'll have a go at it.

[2018-02-25 21:26] derrickmehaffy commented on #698
I don't have a Mac to test on myself *shakes fist at apple and their lack of VM support*

[2018-02-25 21:55] pedrosimao commented on #698
@derrickmehaffy I have just tested in a Ubuntu VPS with Node v.9.5.0 and I got the exact same issue.
I think the problem is related to Mysql and not to Mac OSX.
I got the following error messages:

[2018-02-25 21:56] pedrosimao commented on #698
The problem is actually coming from those lines:

[2018-02-25 21:57] derrickmehaffy commented on #698
@pedrosimao thats after you created the tables in MySQL? (I too wished to use MySQL over MongoDB but will likely wait until better support is done on strapi to automatically create and manage the tables and columns)

[2018-02-25 21:57] pedrosimao commented on #698
The problem is actually coming from the following lines:
node_modules/mysql/lib/protocol/sequences/Sequence.js:52:14
...
 at Object.set (/usr/lib/node_modules/strapi/lib/core/store.js:126:57)

[2018-02-25 22:00] tapvt commented on #698
@derrickmehaffy @pedrosimao - I'm feeling like these might be separate issues. I was hitting an issue way earlier in `store.js`. Line 57.

[2018-02-25 22:04] tapvt commented on #698
@derrickmehaffy I can confirm that this is still an issue running against latest master (443d6b81) on OSX.

Same trace:

[code]

[2018-02-25 22:08] derrickmehaffy commented on #698
Aye then @tapvt This is something the strapi devs will have to dive into. @lauriejim will probably need to check it.

[2018-02-26 09:06] radmen commented on #485
@derrickmehaffy I'm not sure if this is MacOS related. I've tried to run cli tool on Docker's node env (node:9.2-alpine) and it still keeps asking me for sqlite connection details :)

[2018-02-26 10:32] Synj24 commented on #636
Thanks @blurdylan , after updating both mongo & strapi and leaving the username and password blank when using `strapi new ...` it now works!
:champagne: :confetti_ball:

[2018-02-26 10:32] #636 closed

[2018-02-26 11:02] derrickmehaffy commented on #485
@radmen the sqlite3 issue is likely related to Knex.js based on its response about `useNullAsDefault`

[2018-02-26 11:16] derrickmehaffy commented on #485
I was looking through the documentation thats listed in that error and it seem the option `useNullAsDefault: true` needs to be passed along to knex. See there example:

[code]

Not sure where strapi defines knex connection variables.

[2018-02-26 11:22] radmen commented on #485
@derrickmehaffy I'm talking here about SQLite. There should be a different "connection settings" prop.

In knex this config looks more like this:

[code]

My issue was originally intended to show only this problem (lack of different project setup for SQLite). Later it turned out that there're problems with MySQL/PSQL dbs.

[2018-02-26 11:28] abdonrd commented on #694
Meanwhile, I was able to connect using the `uri` field:

[code]

[2018-02-26 11:48] derrickmehaffy commented on #485
Aye yeah the useNullAsDefault isn't just limited to MySQL I believe it also affects SQLite as well. (Just in that example from Knex documentation they used MySQL)

[2018-02-26 11:58] derrickmehaffy opened #701 "Additional documentation for Application Level Permissions"
**Do you want to request a *feature* or report a *bug*?**
Feature-ish request

**If the current behavior is a bug, please provide the steps to reproduce the problem**
There doesn't appear to be any documentation for v3.0.0 in regards to the changed permission system, as the v1.x.x docs don't follow the same format.

**What is the expected behavior?**
Generate detailed documentation on how the user

[2018-02-26 13:59] kperveen opened #702 "Strapi logout url"
**Node.js version**:
v8.6.0

**npm version**:
5.3.0

**Strapi version**:
3.0.0-alpha.10.2

**Operating system**:
Ubuntu 14.04

I am trying to do simple authentication using Nuxt as my front-end and strapi as my backend. Its working well with login and authentication but I am not sure which url to use for logout.
I went through the authentication documents too but I did not find any logout feature

[2018-02-26 15:06] soupette commented on #702
Hi @kperveen there is no logout route for the moment...

[2018-02-26 15:46] lauriejim commented on #702
You will have to remove the `jwt` from your user session to logout your users.
If you don't store your users's jwt (in a redis database for exemple), you will not be able to reject them to logout your user.

[2018-02-26 15:46] #702 closed

[2018-02-26 16:16] derrickmehaffy commented on #701
Updated based on response on Slack, its likely there is no permission that allows for non "root" or "admin" users to access the panel and this feature will be implemented later in `Admin Panel ACLs` Current permission system is in place to manage API Endpoints.

[2018-02-26 16:16] derrickmehaffy commented on #701
![image](https://user-images.githubusercontent.com/8593673/36681406-c6ece6fe-1ad5-11e8-814f-d603e9187bd6.png)

[2018-02-26 16:34] Yobikap commented on #575
I have upgraded to the last version alpha 10.1

See the screencast how to reproduce the problem
[Screencast from 2018-02-26 17.26.18.webm.zip](https://github.com/strapi/strapi/files/1759428/Screencast.from.2018-02-26.17.26.18.webm.zip)

[2018-02-26 18:24] gauravarora91 commented on #396
Why adding wysiwyg is such a big task ? Anyone able to figure out how to do it ? I think it's the first thing a CMS should have support for.

[2018-02-26 18:45] Aurelsicoko commented on #396
@gauravarora91 We are not a CMS. We want to create an ecosystem to build any kinds of APIs (Content, Product, Service, Real-time, ...). So, you can use Strapi as an headless-CMS or as a Node.js framework with a dashboard, etc.

It's not such a big task but right now we are focusing our effort on the Upload feature and fixing the issues. The rich text editor support is our next step.

Don't forget

[2018-02-26 21:16] gauravarora91 commented on #396
@Aurelsicoko I don't want to argue with you, it's open source work, thanks for your time and contributions. Take this as a feedback if you guys can.

WSYWIG should not be a shipped feature as people would want to use their own stuff, people working with React.JS want their own WSYWIG, while jQuery people need something else or some might be familiar with TinyMCE or similar.

Problem is I spent lot

[2018-02-26 22:41] Aurelsicoko commented on #396
You've perfectly defined our vision. We know that and I will publish a blog post this week to explain our way of thinking and what's coming next. You've highlighted an important point, it's too complicated to create a plugin right now and the current plugins (we could name them the "core plugins") are not extensible enough. However, we're still in alpha and we can still change many things to impro

[2018-02-27 02:53] UserGalileo commented on #483
Hi guys! I'm looking at Strapi cause I really need a new Headless CMS, I like a LOT of things I've seen in Strapi but this feature in particular would be essential and could be a game changer in the CMS scenario.

In particular, what I'd need is the "Location" field, a-la Contentful.

If this enhancement is difficult to implement (I believe so), could I ask if you could include a location field ty

[2018-02-27 03:05] UserGalileo opened #706 "Adding Locales support"
**Do you want to request a *feature* or report a *bug*?**
Feature

Hi guys!
Is there a "Locales" feature planned? It'd be really useful to have our content types translated in multiple languages. Thanks!

[2018-02-27 03:40] lancevo opened #707 "Oauth Redirect URI mismatch"
**Node.js version**: 9.6.1

**npm version**: 5.6

**Strapi version**: 3@alpha 10.2

**Operating system**: mac os x

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
the port number in config/**/server.js is included in the oauth redirect uri, which causing problem for redirect uri. For example: the server is deployed to heroku, and heroku assigned a

[2018-02-27 03:45] lancevo commented on #707
By the way, is grant.json still needed? (see https://strapi.io/documentation/guides/authentication.html#providers) I think the doc is out dated.
It'd be awesome if there's an article show how to hook this up in javascript rather than react.
Thanks so much. Strapi is awesome!!

[2018-02-27 07:48] kperveen commented on #702
@soupette is there a specific reason for this?

[2018-02-27 09:02] lauriejim commented on #706
Hello @UserGalileo , thanks for this issue.
Actually not planned to implement and UI in admin for that but you already use i18n with strapi https://strapi.io/documentation/guides/i18n.html

We are drive by the community for next feature, submit or upvote yours here https://strapi.io/vote

[2018-02-27 09:02] #706 closed

[2018-02-27 09:04] lauriejim commented on #707
@lancevo Yes you are right ! We have to update it.

[2018-02-27 09:38] lauriejim commented on #701
@derrickmehaffy did you upvote your feature on https://strapi.io/vote ?

[2018-02-27 09:49] lauriejim commented on #694
Hello @abdonrd thank you for this issue.
Bug ? yes and no, it's actually not implemented in Strapi.

If you want to help us on this point.
You can investigate on how work the database form here https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/before.js#L63
and how we test the database connection for mongoose here https://github.com/strapi/strapi/blob/master/packages/st

[2018-02-27 09:52] lauriejim commented on #690
@TheWebsDoor Thank you for this issue.
To give you more info about this issue. This case happen just where a relation is made with a plugin model (User of Users and Permission in this case). It will works fine with api relations

[2018-02-27 09:55] UserGalileo commented on #706
Hi @lauriejim, maybe I put it down wrong, I'm talking about actually setting, for example, english and italian as active languages, and if I have an entry of type "Article" with a "Title" field, when the admin inserts a new article he will be able to fill the two input fields: "Title (en)" and "Title (it)".
Exactly what Contentful does :)

[2018-02-27 09:57] abdonrd opened #709 "Strapi breaks if the path has folder with spaces"
**Node.js version**: v8.9.1
**npm version**: v5.6.0
**Strapi version**: v3.0.0-alpha.10.3
**Operating system**: macOS

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

✅ If the folder **hasn't spaces**:
<img width="1364" alt="screen shot 2018-02-27 at 10 49 33" src="https://user-images.githubusercontent.com/1007051/36721943-92a7a9b0-1bac-11e8-8402-

[2018-02-27 10:04] lauriejim commented on #677
Hi ! Yes it's a useful feature. It's implemented in SQL database with `strapi-bookshelf` but not actually for mongoose.

[2018-02-27 10:09] lauriejim commented on #661
Hi @derrickmehaffy Yes it's a good issue. It's could be super cool to handle it.

[2018-02-27 10:27] lauriejim commented on #643
Hi @luisnomad you can also upvote your feature on https://strapi.io/vote page

[2018-02-27 10:33] #625 closed

[2018-02-27 10:34] lauriejim commented on #635
I close this issue, follow this one. It's really similar https://github.com/strapi/strapi/issues/624

[2018-02-27 10:34] #635 closed

[2018-02-27 10:37] lauriejim commented on #622
@henriollik Do you have update about you issue ?

[2018-02-27 10:38] lauriejim commented on #616
@mittalyashu any update about your issue ?

[2018-02-27 10:40] #615 closed

[2018-02-27 10:40] lauriejim commented on #601
@wingsiu can you give us some update about your issue please.

[2018-02-27 10:45] abdonrd commented on #624
There is no proposal in https://strapi.io/vote about it.

Is it enough with 👍 the first post?

[2018-02-27 10:57] lauriejim commented on #596
@rroblik Can you give us an update plase

[2018-02-27 11:01] bzhr commented on #643
I like it how the features I need the most (GraphQL, file upload and text formating) are the features that are coming soon!

Is there a road map?

[2018-02-27 11:01] #578 closed

[2018-02-27 11:08] lauriejim commented on #575
Okay thank you for this video, it's really clear now.
I think it's come from the type of the relation.

[2018-02-27 11:18] #524 closed

[2018-02-27 11:21] lauriejim commented on #510
@lucaperret Can you give us an update about this issue please

[2018-02-27 11:28] lauriejim commented on #494
I close this issue. We will not do it.
Maybe in a long futur with a custom configuration for which data display in this table.

[2018-02-27 11:28] #494 closed

[2018-02-27 11:31] derrickmehaffy commented on #701
@lauriejim I did yes, thank you

[2018-02-27 11:36] ArkhipovK commented on #494
So what to do if i don't want to see there only half of my model's fields? Make pull request by myself?

[2018-02-27 11:41] derrickmehaffy commented on #661
@lauriejim Basically this is just a "Quality of Life" change that wouldn't have any effect on the API itself. More so just a visual variable for the Admin Panel. As I know in the future you guys plan to have Admin panel ACLs and non-technical Users are almost guaranteed to complain about the strange formatting. :)

I hate to reference another project that is more or less a competitor  to strapi bu

[2018-02-27 11:49] derrickmehaffy commented on #494
@ArkhipovK This may be something to submit to the vote page https://strapi.io/vote to see if there is other interest. As I too would be interested in something like this, specifically showing a certain field from a relation.

[2018-02-27 13:26] lauriejim commented on #661
Thank you for these details.

[2018-02-27 13:35] lauriejim commented on #624
At the bottom of the page you have a form to submit you proposal.

Yes 👍 is a good option too but submit also the feature you want please.

[2018-02-27 14:22] abulbisht opened #710 "An error occurred during models config fetch"
**Node.js version**:
v 9.6.1
**npm version**:
5.0.3
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
Windows 8.1

**Do you want to request a *feature* or report a *bug*?**
I'm facing this error once i deploy the project to heroku ,
**What is the current behavior?**
After creating new Content Type , once I've open the new Type , it rejects and says go back to Content Type builder
**If the

[2018-02-27 15:06] TheWebsDoor commented on #690
Hello @lauriejim :)
You right, I didn't check but it seems to work when object have no relation with User indeed.
Good catch !

[2018-02-27 15:29] crazyx13th commented on #485
Same here.
Win 10
node: 9.5.0 + npm 5.6.0
strapi: 3.0.0-alpha.10.3

thx! (why issue is closed?)

![grafik](https://user-images.githubusercontent.com/8912561/36737450-5b23d5a2-1bdb-11e8-81a1-bceefa87e85b.png)

[2018-02-27 15:46] soupette commented on #493
Hi @ArkhipovK this features is not developed yet. However, you can modify the plugin so you can add other fields.

To do so, start a project in dev mode `strapi new my-project --dev`

Then in the content-manager plugin (path: my-project/plugins/content-manager/admin/src/containers/ListPage/index.js) you need to add the  headers you want to add.

You can create a function like the following before

[2018-02-27 16:14] lauriejim commented on #485
Good catch, miss to re-open it

[2018-02-27 16:30] Yobikap commented on #575
How can I solve this?

[2018-02-27 17:05] keyus4 commented on #680
I tried installing the set up development environment but i got this error

C:\strapi-master>npm run setup

'rm' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @3.0.0-alpha.10.2 clean:all: `npm run removesymlinkdependencies && rm -rf package-lock.json && rm -rf packages/*/package-lock.json && rm -rf packages/

[2018-02-27 19:12] FabAdrien commented on #541
@lauriejim Same problem here only when I try to update the email address of the user...
`"message": "Cannot read property 'id' of null"`

[2018-02-27 20:44] lucaperret commented on #510
Everything is working properly now.

[2018-02-27 20:44] #510 closed

[2018-02-28 00:08] TheWebsDoor opened #711 "OneToOne relation only deleted on one side after edit"
**Node.js version**:
8.9.3
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.10.2
**Operating system**:
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
When we save an object which have a OneToOne relation with another, the relation is saved on both sides the first time but when we go back on the object and try to edit (with ke

[2018-02-28 03:02] pedrosimao opened #712 "Migrating Model Templates from v.1 to v.3"
**Strapi version**:
v3 / v1

**Do you want to request a *feature* or report a *bug*?**
I am not sure if you are willing to implement Model Template on v.3.So, I am not sure if this a feature request or just a question.

**What is the current behavior?**
I did build a model in v.1 that had many different "templates". This was very very handy in my use case, since I could relate many different templ

[2018-02-28 09:49] lauriejim commented on #680
Okay can you replace `rm -rf` with `rmdir /s /q` and test again.
We will have to move it in a script to be more `os` agnostic.

[2018-02-28 09:55] lauriejim commented on #710
Can you be more precise on your issue please. I don't understand.

[2018-02-28 11:35] lauriejim commented on #711
Okay, on entry creation the content manager can detect the category by its id and make the relation but fail on update and add null for the relation.

[2018-02-28 11:47] lauriejim commented on #706
Ho okay I see.
Can you upvote `Plugin - Content Internalization` on https://strapi.io/vote page please

[2018-02-28 13:02] abulbisht commented on #710
Actually the problem was with the remote database , not with the strapi

Thanks

[2018-02-28 13:03] #710 closed

[2018-02-28 13:25] lauriejim commented on #689
In this case we force to populate just `role` relation. If we inspect findOne query of mongoose https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/queries/mongoose.js#L19 we can see, if we remove `['role']` as second argument, the query with populate with all relation.

So you can remove `['role']` and it will works.
Can you make this change and submit a p

[2018-02-28 14:41] derrickmehaffy commented on #493
+1 on this for me. Would love to have one way relations with what I'm working on.

[2018-02-28 15:00] lauriejim commented on #682
Can you give me your model and the body of your PUT request to try to reproduce your issue.

[2018-02-28 16:09] lauriejim commented on #575
I don't know right now, I have to investigate on it.

[2018-02-28 21:26] joeinnes commented on #682
Yup, model is:
[code]

The 'PUT' was an array of film IDs, but I don't actually still have the record of it. If you can't reproduce, then let's close.

[2018-03-01 08:54] rroblik commented on #596
Hi, sorry for the delay.

I consider this as not a bug ; working fine.

Regards

[2018-03-01 12:31] #596 closed

[2018-03-01 13:10] rroblik opened #720 "hook:mongoose takes too long to load"
**Node.js version**:
`v8.9.4`

**npm version**:
`5.6.0`

**Strapi version**:
`3.0.0-alpha.9.2`

**Operating system**:
`Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux `
(inside Vmware, Windows 8 host, shared folder)

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
`strapi start` sometimes return ERROR `(hook:mon

[2018-03-01 15:00] Aurelsicoko commented on #720
@rroblik Try to update the `./config/hook.json` file like that:

[code]

[2018-03-01 15:00] lamarena commented on #561
Can anyone can help me with this? I can not start strapi
![screenshot_1](https://user-images.githubusercontent.com/23172332/36851483-9915f5f4-1d69-11e8-810a-b97bbd5d40dd.jpg)

[2018-03-01 15:36] #689 closed

[2018-03-01 16:06] lauriejim commented on #690
After pulling `master` I tried to reproduce the issue but it works fine. I think @Aurelsicoko fixed it working on polymorphic relations

[2018-03-01 16:11] rroblik commented on #615
Hi

@lauriejim : is used
`strapi generate:policy dataCleanup`

Then updated my `routes.json` to add :
[code]
Here is the `config/policies/dataCleanup.js` file content
[code]

But ... not working ; as the problem is the same : `ctx.body` is not a plain javascript object isn't it ?

How to do ?

Thanks

[2018-03-01 16:43] rroblik commented on #615
Okay let's add a self (half) answer :

Here is the corrected policy file:
[code]

Note the `toObject()` use ([mongoose doc](http://mongoosejs.com/docs/api.html#document_Document-toObject)) ; but I think doing this way is a little dirty... isn't it (performances impact) ?

[2018-03-01 16:46] rroblik commented on #720
Oops did I missed a documentation about that ?
**With that now it's working fine :)**

I think this issue can be closed, except is an inline parameter can be useful (?).

Regards

[2018-03-01 16:46] rroblik commented on #615
(@lauriejim please reopen this issue :))

[2018-03-01 16:52] #720 closed

[2018-03-01 17:03] lauriejim commented on #711
After pulling master I tried to reproduce the issue but it works fine. I think @Aurelsicoko fixed it working on polymorphic relations.
Maybe you will confirm it work on your side too.

[2018-03-01 17:07] TheWebsDoor commented on #690
That's right, it's working like a charm now :) You can close the issue 😉

[2018-03-01 22:29] ZiedChekir opened #721 "Api content type json field not working"
i created a new content type with a JSON field with the name data then i created a new data But in mlab the Json field type was string not json i tried with diffent inputs as shown in the picture but i couldnt get it to work.
![capture d ecran 2018-03-01 23 24 51](https://user-images.githubusercontent.com/18351368/36873300-59b61c4c-1da8-11e8-9de6-f1f8f6fa39d6.png)

![capture d ecran 2018-03-01 23

[2018-03-01 22:44] christroutner opened #722 "Admin User Fails to Delete Normal User"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.8.3

**Operating system**: Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
500 internal server error when admin user tries to delete normal user.

**If the current behavior is a bug, please provide the steps to reproduce the problem**
1. Wi

[2018-03-02 08:51] keyus4 commented on #680
am not sure i understand what u meant by replace rm -rf with rmdir /s /q.
Please can you be more specific about how to do that.

From the documentation
Note: If the installation failed, please remove the global packages related to Strapi. The command npm ls strapi will help you to find where your packages are installed globally.

I also did C:\WINDOWS\System32\strapi>npm ls strapi
@3.0.0-alpha.10.

[2018-03-02 09:46] lamarena opened #724 "hi s"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-03-02 09:47] derrickmehaffy commented on #680
@keyus4 that is a linux command, Being as your on windows (powershell) the command your looking for is `rd -r "path to folder or directory"`

This would also apply in the CMD window however I believe it only applies to folders: `rd /s /q "path to folder"`

[2018-03-02 09:59] keyus4 commented on #680
@derrickmehaffy Thanks for your response. I guess it isn't an issue I can fix on my own so I just have to wait until the solution is made available?

I thought the development environment can be set up on windows s well. I really wish I could get it to work right now

[2018-03-02 10:03] derrickmehaffy commented on #680
@keyus4 unless your well adept at working with scripts like this, it is probably better to wait.

Although in my opinion setting up a virtual machine either locally or remotely to develop on linux is a very easily solution.

[2018-03-02 10:49] rockmandash commented on #724
I think it does not support windows development right now

[2018-03-02 11:32] lamarena commented on #724
nope. Same happens on Mac. This project worked properly since i restart the webstorm (code editor). When i tried to start the project again that error happened

[2018-03-02 12:11] keyus4 commented on #680
@derrickmehaffy I used git-bash cmd to run the npm run setup and it worked but the setup failed when it got to linking strapi-admin

this is the error

 OLUWASEUN@OLUWASEUN-PC MINGW32 /c/windows/system32/strapi (master)
$ npm run setup

npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated minimatch@0.2.14: Pleas

[2018-03-02 14:04] mittalyashu commented on #616
I have tried again and this time I got this error:
![image](https://user-images.githubusercontent.com/29014463/36902504-b02cd8b0-1e50-11e8-91e0-9bdc096c05cb.png)

[2018-03-02 15:38] rockmandash commented on #724
Can I see the log?

[2018-03-02 18:16] lancevo opened #726 "error=Grant: missing session or misconfigured provider"
**Node.js version**: 9.6.1

**npm version**: 5.6.0

**Strapi version**: 3@apha 10.2

**Operating system**:
Mac Os, Linux

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when validating token returned by provider like google against /connect/google/callback, grant return this error "error=Grant: missing session or misconfigured provider"

**If the c

[2018-03-02 18:46] Moomboh opened #727 "Error deleting plugin from Admin Panel"
**Node.js version**: 8.9.4
**npm version**: 5.6.0
**Strapi version**: 3.0.0-alpha.10.3
**Operating system**: Ubuntu 17.10

**Do you want to request a *feature* or report a *bug*?**
Bug report.

**What is the current behavior?**
Deleting a plugin on `/admin/list-plugins` throws an error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Install strapi v

[2018-03-02 21:57] christroutner opened #728 "User can not update their information"
**Node.js version**: 8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.8.3

**Operating system**: Ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
401 Unauthorized response when logged in user tries to update their own information.

**If the current behavior is a bug, please provide the steps to reproduce the p

[2018-03-03 06:54] mnlbox opened #729 "Please add MobX tutorial and docs too"
Please provide MobX integration guide. All of the tutorial and docs is based on Redux :disappointed:

[2018-03-03 07:02] mnlbox opened #730 "Login not working at all"
**Node.js version**:
v9.7.1
**npm version**:
v5.6.0
**Strapi version**:
v3.0.0-alpha.10.3
**Mongo version**:
v3.6.3
**Operating system**:
Linux Mint 18.2

I try to login to my strapi app but it's return this error:
[code]

This is my request and response in postman:
![screenshot from 2018-03-03 10-28-34](https://user-images.githubusercontent.com/25859075/36931562-b2f9efa6-1ecd-11e8-8fe6-50443ae3e4

[2018-03-03 08:36] daominhsangvn commented on #370
Hello, i'm facing this issue in 3.0.0-alpha.10.3.
[code]

[2018-03-03 09:01] daominhsangvn opened #731 "Could not run on Ubuntu Server 17.10"
**Node.js version**:
8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.3
**Operating system**:
Ubuntu Server 17.10

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Run `$ node server.js` in Ubuntu server not working
**If the current behavior is a bug, please provide the steps to reproduce the problem**
1. Create new project in local the

[2018-03-03 14:28] msgeissler opened #732 "Strapi CLI always requires database user and password arguments"
**Node.js version**:
8.9.4
**npm version**:

**Strapi version**:
3.0.0-alpha.10.1
**Operating system**:
Alpine Linux

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
When using arguments to define the database, the strapi CLI (https://strapi.io/documentation/cli/CLI.html) requires a database user and password to be provided, even if the database does

[2018-03-03 16:10] msgeissler opened #733 "Getting started has a faulty tutorial page link"
**Browser version**:
Chrome 64.0.3282.186

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Going to the tutorial from the getting started page leads to a "buggy" tutorial page. None of the links work (as they seem to lack _/documentation_ in their path). The reason seems to be a missing slash at the end of the URL that is used on that page.
Getting s

[2018-03-03 16:12] msgeissler commented on #733
For https://strapi.io/documentation (which is also used on the getting started page) there seems to be an automatic redirect on the server to https://strapi.io/documentation/.
There is no such redirect for https://strapi.io/documentation/tutorials.

[2018-03-03 16:24] msgeissler commented on #732
Not sure if I made a mistake or if it actually works using a different syntax.
I just found the updated docker image and the repository for it. The image actually works without a user and password but is also using a different CLI syntax.
Was this perhaps already changed or is that a result of the different syntax used?
https://github.com/strapi/strapi-docker/blob/master/strapi.sh

[2018-03-03 16:34] mnlbox opened #734 "Add some custom filed to user profile"
I want add some custom fields to users profile (all user except admin), for example simple fields like `name`, `family`, `gender`, ... or more complex fields like `company` (that a relation to another content type). When I add these fields to `/plugins/user-permission/models/User.setting.json` my app not working at all with error's like this:
[code]

Can you guide me to do this with Strapi

[2018-03-03 16:37] mnlbox opened #735 "Set user default role"
How we can set default role for strapi user that register with `http://localhost:1337/auth/local/register`?

[2018-03-03 19:20] wi4er opened #736 "Permissions disappear"
**Node.js version**: 9.6.1

**npm version**: 5.7.1

**Strapi version**: 3.0.0

**Operating system**: Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
Sometimes I have loosing records from users-permissions_permission table.
normally there suppose to be 150 records, but I loosing 12 records.
After restarting strapi everything fixed, but

[2018-03-03 19:44] sedubois opened #737 "Manage external GraphQL API"
**Do you want to request a *feature* or report a *bug*?**
Feature

Sorry for the newbie question but does Strapi allow, or plan to allow managing one's own GraphQL API? I have generated an API with Graphcool Prisma (with their new beta service Prisma Cloud) and am now looking for a solution to manage the content exposed by this API. Thanks 🙏

[2018-03-04 11:58] storm1er commented on #701
Ref #672 As this is linked about databased config, especially permission since alpha10.1.

[2018-03-05 09:17] #690 closed

[2018-03-05 09:29] lauriejim commented on #721
I close this issue, duplicate of https://github.com/strapi/strapi/issues/496

[2018-03-05 09:29] #721 closed

[2018-03-05 09:33] lauriejim commented on #616
Can you update you Strapi version. And test again with new project.

[2018-03-05 09:50] lauriejim commented on #724
You are in dev mod (local installation from github) ?
Can you give us steps you did to have this issue.

[2018-03-05 10:05] storm1er opened #739 "`strapi new` fail"
**Node.js version**: v8.9.4
**npm version**: 5.6.0
**Strapi version**: on master eab59ad3 (most recent)
**Operating system**: Ubuntu 17.10

**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/9821946/36969106-d59699c2-2064-11e8-93d9-f9a29c617b55.png)

**If the current behavior is a bug, please provide t

[2018-03-05 10:08] lauriejim commented on #722
Hello @christroutner !

Your `sample-strapi-app` repo is a fork of this one https://github.com/strapi/sample-strapi-app ?
Can you please try with `node 9` and test with last version of Strapi.

Same for this issue https://github.com/strapi/strapi/issues/728

[2018-03-05 10:17] lauriejim commented on #731
Hi @daominhsangvn do you try to follow this article to did it ?
https://blog.strapi.io/how-to-deploy-a-strapi-application/

[2018-03-05 10:24] lauriejim commented on #733
Hi @msgeissler thank you for this issue.

[2018-03-05 10:28] lauriejim commented on #732
You can actually let an empty string in `username` and `password` input if you don't require authentication. It should work.

[2018-03-05 10:33] abdonrd commented on #724
Maybe related with #709?

[2018-03-05 10:34] lauriejim commented on #735
We plan to add it in setting pannel.

But if you want to custom it yourself, you will have to custom this action https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L211

[2018-03-05 10:46] msgeissler commented on #732
The problem I see is that with the way you show how to use the CLI parameters in https://strapi.io/documentation/cli/CLI.html, the empty username should actually cause the password to become the username (unless you have some special handling for that in strapi):
`--dbname <dbname> --dbusername <dbusername> --dbpassword <dbpassword>`

In https://github.com/strapi/strapi-docker/blob/master/strapi.s

[2018-03-05 10:46] lauriejim commented on #736
Hi @wi4er strange issue .... if it happen randomly it will be hard to reproduce and fix ..

[2018-03-05 10:47] lauriejim commented on #737
Hi @sedubois Yes we plan to have graphql support.
Please upvote this feature on https://strapi.io/vote

[2018-03-05 10:47] #737 closed

[2018-03-05 10:55] lauriejim commented on #724
There is no white space to the @lamarena path. So I don't think it's related.

[2018-03-05 11:15] southside opened #741 "Cannot install latest Strapi on Windows 10 space in profile path?"
Node = 8.9.4
Npm = 5.6.0
Strapi = 3.0.0-alpha.10.3
Windows 10 1709
Report Bug installing on Windows 10 Pro

######

npm install strapi@alpha -g
seems to install fine no errors.

strapi new myProject
errors it looks like the dependencies are the issue maybe as I have a space in my profile path name ie C:\Users\Stewart Campbell\

See part of error below.

I see another reported bug with same issue s

[2018-03-05 12:03] soupette commented on #729
Hi @mnlbox I will try to add a boilerplate with MobX in the [strapi-examples](https://github.com/strapi/strapi-examples) if I have the time...

[2018-03-05 12:40] mnlbox opened #742 "Provide npx installation docs rather than npm"
I think `npx` is very awesome now and tools like **Strapi** can use it's power. So maybe `npx` installation and usage guide is more better than npm. :wink:

[2018-03-05 12:42] mnlbox commented on #729
@soupette Thanks man. It's fantastic news if we can use MobX as a first class citizen here in Strapi?

[2018-03-05 12:47] derrickmehaffy commented on #739
@storm1er I believe Node 9 is required, based on the changes to the documentation: https://strapi.io/documentation/getting-started/installation.html

I believe this was changed for alpha-3.00-v10.1 or 10.2 so I would imagine the latest master build also requires it.

[2018-03-05 12:51] derrickmehaffy commented on #680
@keyus4 looks like in this error the script is trying to call the variable `$APP_PATH` but being as this is being done on windows that variable might not have been set (not sure even git-bash works like that on windows)

[2018-03-05 13:21] daominhsangvn commented on #731
@lauriejim Yes i did, i guess i found the issue, it's because i ignore the package-lock.json inside the plugin folder and it's stop working. I tried to init another project from the Ubuntu server then clone it to local and re-run it, it's working good now.

[2018-03-05 13:21] #731 closed

[2018-03-05 13:33] soupette commented on #729
I'm not sure that the Admin will work with MobX for the moment...

[2018-03-05 13:54] storm1er commented on #739
Oops, my bad, it works now. Thanks :+1:

[2018-03-05 13:54] #739 closed

[2018-03-05 14:05] lauriejim commented on #741
hi @southside it's a duplicate of this issue https://github.com/strapi/strapi/issues/709
For the moment please use a path without space.

[2018-03-05 14:05] #741 closed

[2018-03-05 14:14] southside commented on #741
When you say path without space I tried logging into pc as a new profile with username "test" so no space in profile path but when doing a strapi new project it still failed with same errors

Likely as the nodejs paths etc would still reference the profile nodejs etc were installed under

Would I need to reinstall nodejs, mongodb, npm etc under new profile to update environment paths?

Is there no

[2018-03-05 16:31] Aurelsicoko commented on #730
@mnlbox Try to use raw request using Postman instead of form-data request... Let me know if the issue is resolved and feel free to close it.

[2018-03-05 18:47] lucaperret commented on #732
LGTM

[2018-03-05 19:28] Jakku7 opened #744 "Import / export data"
**Node.js version**:
8.9.4
**npm version**:
5.6.0
**Strapi version**:
latest
**Operating system**:
Windows 10

**Do you want to request a *feature* or report a *bug*?**
request a feature

Is there a simple way to upload data from csv file? For example, I would like to create new API called "products" with couple of features (size, color and so on). I do not want to add entry by entry, but prefer t

[2018-03-05 19:34] eibrahim opened #745 "s3 upload"
I see a PR https://github.com/strapi/strapi/pull/684 for S3 but there is no documentation on how to use it..

I basically want to add an "image" field to my content type and have that be an image hosted in S3.  I want to be able to upload and delete the image from the dashboard as well...  is there a plugin for that or any future plans for it?

[2018-03-05 22:44] FabAdrien commented on #711
Seems to be good for me. I've got another issue with relations but it's not related to this ticket.
For the moment I can't explain it, @Aurelsicoko is aware of it but I try to find to reproduce it for you guys. Thanks !

[2018-03-05 23:12] TheWebsDoor commented on #711
Seems to be good for me. I've got another issue with relations but it's not related to this ticket.
For the moment I can't explain it, @Aurelsicoko is aware of it but I try to find to reproduce it for you guys. Thanks !

[2018-03-06 09:05] keyus4 commented on #680
@derrickmehaffy yea I guess that's where the issue lies. I have been trying to locate the $APP_PATH in the code and find a way to fix the issue but I haven't been able to get it right. The npm run setup command only runs using git-bash on windows but it doesn't solve the $APP_PATH issue either. I don't know why this issue isn't marked as a priority yet. I can't make any progress on my project sinc

[2018-03-06 10:59] tonihauptcc opened #747 "Connector for DynamoDb AWS"
I want to achieve connecting to a dynamoDB from AWS, is there some quick woprkaround or some instructions how to make this possible?

[2018-03-06 11:11] mnlbox commented on #729
What about using MobX in plugin level? Is it possible now?

[2018-03-06 11:13] mnlbox commented on #735
@lauriejim I can wait for you to add it to setting panel. Is it in short term milestone?

[2018-03-06 15:30] pedrosimao opened #748 "Reference or Embed other Collections rows on Mongo"
**Strapi version**:
v.3

**Do you want to request a *feature* or report a *bug*?**

I decided to give MongoDB a shot since Strapi v.3 support for MySQL is a bit unstable at the moment. So I was wondering how to reference other Collections without the default (one-to-one, many-to-one etc) relations, since they don't quite fit my needs.
I would like to reference Collection rows, like seen here:
http

[2018-03-06 15:37] lauriejim commented on #745
Hi @eibrahim, our upload plugin is not finished and not published on npm so it's no actually possible to did it. Obviously documentation will be write when we are done with that.

It's coming in few days (before the end of the week)

[2018-03-06 15:37] #745 closed

[2018-03-06 15:40] lauriejim commented on #747
Hi @tonihauptcc .

It's actually not possible. We don't developed connector for this database.

If you want to checkout how connectors works, look `strapi-bookshelf` and `strapi-mongoose` (and good luck !)

[2018-03-06 15:47] lauriejim commented on #735
Okay. It's will probably done in 2 or 3 weeks.

[2018-03-06 16:14] #732 closed

[2018-03-06 16:23] mnlbox commented on #744
@Jakku7 I think import/export from/to CSV, JSON and some other general format can be very useful.

**/CC:** @lauriejim, @Aurelsicoko

[2018-03-06 16:25] mnlbox commented on #575
I can confirm that I have same problem. :disappointed:

[2018-03-06 16:48] MateusSilveira98 opened #749 "don't have photo field"
**Node.js version**: 9.5.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.10.3

**Operating system**: Windows 10

**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The strapi don't have photo field

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**
Would see a phot

[2018-03-06 19:42] soupette commented on #729
I honestly don't know I haven't tried yet but in theory it should be.

[2018-03-07 12:32] pedrosimao opened #750 "Erros while trying to implement Polymorphic model"
**Node.js version**:
9.7.1
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.3
**Operating system**:
Ubuntu

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Get server errors after I tried to implement a Polymorphic model.

I get the following error message:

**If the current behavior is a bug, please provide the steps to reproduce the probl

[2018-03-07 13:39] tonihauptcc commented on #747
how can we hook into the install process?

[2018-03-07 14:33] pedrosimao commented on #750
I have also noted that if I use "collection": "*", instead of "model": "*" the server doesnt even start, saying something is wrong with the model. This is the error message:

Maybe this might give you a clue from where the bug comes from?

[2018-03-07 18:04] pedrosimao commented on #711
@lauriejim Polymorphic relations are already working? I am trying this on my models but it won't work. Can I have access to the fix? I could help you with testing and debugging of polymorphic relations.

[2018-03-07 18:51] TheWebsDoor commented on #711
@pedrosimao You can pull the `feature/upload` branch. They're still working on it but it's functional :)

[2018-03-07 23:08] wi4er commented on #736
I happens with custom controller, with routes.json like
{
  "routes": [
    {
      "method": "GET",
      "path": "/",
      "handler": "Index.find",
      "config": {
        "policies": []
      }
    }
]
}

[2018-03-08 09:27] lauriejim commented on #711
@pedrosimao @Aurelsicoko will answer you on your issue https://github.com/strapi/strapi/issues/750

[2018-03-08 09:54] #733 closed

[2018-03-08 09:54] #711 closed

[2018-03-08 10:06] lauriejim commented on #694
Hey @abdonrd ! @mtringuyen make some update to get ssl option, maybe you can help him for this PR and add authoSource https://github.com/strapi/strapi/pull/738

[2018-03-08 10:21] pedrosimao commented on #750
This is not "help wanted" issue. It is a real bug.
Do you need me to record a video with the bug and share all my code?
I tried to apply the exact recommendations of Polymorphic models given in the v.3 Documentation, and it doesn't work.
Why are you ignoring this issue?

[2018-03-08 10:21] lauriejim commented on #747
You will have to create duplicate of `strapi-mongoose` node module (you call it `strapi-dynamodb` for example) then you update your `config/environments/.../database.json` and update the connector.

Then you have to write your connector for DynamoDB

[2018-03-08 10:24] lauriejim commented on #750
As @TheWebsDoor told you here https://github.com/strapi/strapi/issues/711 . It's done on a specific branch, will be release at the end of the day or tomorrow. So it's actually normal if it doesn't work.

I will ping you on this issue when it will be released to ask you to test it again with `alpha.11` version.

[2018-03-08 10:27] pedrosimao commented on #750
@lauriejim Thanks a lot. I was not sure if the "upload" feature would fix the entire bug. That's why I insisted. Count on me for extensive testing! I actually plan to put Polymorphic model live on a real application very soon. So I will do everything needed to make it work.

[2018-03-08 13:35] abdonrd opened #752 "Add a Slug field type"
The Slug field should depend on other fields already created.

A possible workaround:

<img width="743" alt="screen shot 2018-03-08 at 12 58 01" src="https://user-images.githubusercontent.com/1007051/37153578-77d207c4-22dd-11e8-8447-cc29fd0764aa.png">

<img width="743" alt="screen shot 2018-03-08 at 13 01 38" src="https://user-images.githubusercontent.com/1007051/37153579-77efc886-22dd-11e8-92ab-e

[2018-03-08 14:54] abdonrd commented on #694
@lauriejim done at #753! :)

[2018-03-08 15:28] pedrosimao commented on #711
@TheWebsDoor I just saw the branch was merged with the master branch. But I have installed strapi from npm install command. How can upgrade it directly from the github repo, and also what files should I substitute in my "on going" project?

[2018-03-08 15:57] TheWebsDoor commented on #711
In order to work on the project, you shouldn't use npm. You have to clone the strapi repo on a distinct folder and build your app in dev mode (setup : [](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md))
After that, you'll be able to make changes in the plugins by editing files in packages folder (helper-plugin, content-manager, users-permissions, etc.)

[2018-03-08 16:27] pedrosimao commented on #711
@TheWebsDoor thanks. I will try to make some contributions. I have also taken a look at the upgrade guides. To implement the last changes made from "upload" feature branch I just need to copy the "admin" folder of the newDevelopmentProject to my old v3.alpha10.03 project? Or is there anything else that I should substitute?

[2018-03-08 17:54] pedrosimao commented on #750
Finally it would be nice if Polymorphic model could be chosen from Admin interface directly. I think this would guarantee maximum compatibility.

[2018-03-08 20:07] TheWebsDoor commented on #711
Yes you can do that or I think that you can do a symbolic link of the admin folder inside your project

[2018-03-08 21:05] msgeissler opened #755 "Add healthcheck API"
The analytics and monitoring plugins are currently still WIP, but at least the analytics plugin will not be available for free. If the plan for the monitoring plugin is the same, I would like to suggest a separate / dedicated API for healthchecks that will be available for free (or make parts of the analytics / monitoring API available).
This way strapi can still be monitored for failure programma

[2018-03-09 01:03] bsthomsen commented on #707
An additional issue is that it doesn't respect the protocol used. For example if you call:
https://domain.tld/connect/facebook/ it will still send you to http://domain.tld/connect/facebook/callback:1337

[2018-03-09 01:17] bsthomsen commented on #707
A suggested fix could be to change this line:
https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L141

To use the same switch/case in that tells the redirect_uri you should enter on a certain provider:
https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/admin/src/components/PopUpForm/index.js#L44-L58

Then the

[2018-03-09 04:15] bsthomsen opened #756 "Double Access-Control-Allow-Origin on the API"
**Node.js version**:
9.7.1
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11.0
**Operating system**:
Ubuntu

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Double Access-Control-Allow-Origin headers

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Make a request to /auth/local

**What is the expected

[2018-03-09 08:50] andrujoh opened #757 "Media field results in errors"
**Node.js version**:
v9.7.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11
**Operating system**:
Windows 10 Home

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**

 Trying to add new media type field in content type and pressing add new image/media results in blank screen and errors in the browser console.

**If the current behavior is a bu

[2018-03-09 08:55] ajayzestard opened #758 "Can't upload images to content type with media field."
**Node.js version**:
  v8.9.3
**npm version**:
  5.5.1
**Strapi version**:
  3.0.0-alpha.11
**Operating system**:
   Ubuntu 17.04

**Do you want to request a *feature* or report a *bug*?**
  Bug
**What is the current behavior?**
   Created a content type with media field and tried to upload image but content manager screen crashes
**If the current behavior is a bug, please provide the steps to rep

[2018-03-09 10:04] ajayzestard opened #759 "KB sized image shows MB in size (UI Bug)"
**Node.js version**:
  v8.9.3
**npm version**:
  5.5.1
**Strapi version**:
  3.0.0-alpha.11
**Operating system**:
  Ubuntu 17.04

**Do you want to request a *feature* or report a *bug*?**
  Bug
**What is the current behavior?**
  KB sized image shows MB in size on File Upload plugin screen.

![screenshot from 2018-03-09 15-16-57](https://user-images.githubusercontent.com/35491379/37202014-5f910606

[2018-03-09 10:11] abdonrd commented on #757
I have the same issue with `v3.0.0-alpha.11`.

[2018-03-09 10:15] abdonrd commented on #758
Duplicate from #757?

[2018-03-09 10:21] #758 closed

[2018-03-09 12:08] #759 closed

[2018-03-09 12:37] daominhsangvn commented on #415
I still have this issue in latest version of strapi. I did exactly the instruction at https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md
Node: 8.10.0
NPM: 5.6.0
MAC OS 10.13.3

[2018-03-09 12:40] pedrosimao commented on #750
@Aurelsicoko have you seen this bug with multiple "Content Types" using the same collection?

[2018-03-09 12:46] joja-agency commented on #757
Getting an error on adding new record for entity that contains "Media" field type.
On clicking "Add new Product":

![screen shot 2018-03-09 at 14 44 57](https://user-images.githubusercontent.com/37141428/37208048-8cd49dd2-23a8-11e8-8a8e-84ea292f6a2a.png)

Full React error:
Element ref was specified as a string (inputFile) but no owner was set. You may have multiple copies of React loaded. (details

[2018-03-09 15:25] soupette commented on #757
This issue has been fixed in https://github.com/strapi/strapi/pull/760

[2018-03-09 15:25] #757 closed

[2018-03-09 17:37] abdonrd opened #761 "Allow Array field type"
It would be great to have the `Array` type.

An example of my use case:

I have three models: `Document`, `Writer` & `Company`.
A document is created by a group of writers. I need to store the company in which each writer was in that document. I can't store the company in the writer because a the writers can change company.

`Document` model

[code]

[2018-03-09 17:54] lauriejim commented on #761
You can make a deep populate to get each authors and there company.
Then you can get compagnies there are linked to you Document.

[2018-03-09 17:55] msgeissler opened #762 "User-API should never expose password hashes"
**Node.js version**:
8.9.4
**Strapi version**:
3.0.0-alpha.10.1

**Do you want to request a *feature* or report a *bug*?**
security risk
**What is the current behavior?**
If a user-object is returned by the API it includes **all** fields, including the **password hash**.
**If the current behavior is a bug, please provide the steps to reproduce the problem**
Follow the steps defined in the [blog tu

[2018-03-09 17:58] lauriejim commented on #762
Hi @msgeissler .
@Aurelsicoko make a mask system to hide sensitive data https://github.com/strapi/strapi/pull/613
We break it in our last release. So it's in our backlogs to fix it.

[2018-03-09 18:00] msgeissler opened #763 "Improve error message for duplicate e-mail"
**Node.js version**:
8.9.4
**Strapi version**:
3.0.0-alpha.10.1

**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Trying to create or save a user with an e-mail address that is already in use by another user, the shown error message is very undescriptive and the field is not highlighted:
_An error occurred during record update._
**If the current b

[2018-03-09 18:03] msgeissler commented on #762
Ah awesome. I probably used the wrong search terms so I didn't find the original issue.

[2018-03-09 18:07] bsthomsen commented on #756
Hey @lauriejim I'm sorry just found out this was caused by misconfigured nginx that overwrote the settings :(

[2018-03-09 18:07] #756 closed

[2018-03-09 21:56] mortendybdal commented on #514
Hi @clowNay
How did you manage to solve the problem with the "only one instance of babel-polyfill is allowed"-error?
I have no problem running Strapi on localhost, but as soon as I deploy it to Heroku, the issue pops up.  I'm redirected to /admin/plugins/users-permissions/auth/register and it shows a blank white screen with the exact same errors in my console as above.
I'm using a mongodb running

[2018-03-09 21:59] adamflater commented on #485
Just noticed the if the table owner in postgres is not the same as the connected knex/strapi db user, `hasTable` will return false. If you're using the postgres cli you can do this before running the recommended create table scripts:

[code]

[2018-03-10 06:37] ajayzestard opened #764 "Display relations fileds in content manager list"
**Node.js version**:
  v8.9.3
**npm version**:
  5.5.1
**Strapi version**:
  3.0.0-alpha.11.1
**Operating system**:
   Ubuntu 17.04

**Do you want to request a *feature* or report a *bug*?**
  Bug

**What is the current behavior?**
   When you create a content type with media field and it lets you add images in that content type. But on content manager screen, field name(column name) does not appe

[2018-03-10 12:12] dorelljames opened #765 "User password added/updated via admin panel not hashed"
**Node.js version**: v.8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: OSX macOS Sierra 10.12.6

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
Using the admin panel, any added/updated user sets the password as plain string and not hashed. This makes it impossible to authenticate. Creating the user via API

[2018-03-10 17:03] ulaDEVEL opened #766 "A limit of 20 items to choose from for relation"
**Node.js version**:
8.10.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
When i add new content which have setup relation, stapi fetch only 20 items (look at request):
http://localhost:1337/content-manager/explorer/configuratorsteps/?limit=20&source=con

[2018-03-10 20:00] simeonackermann commented on #584
An idea might be to start strapi with the [pm2 --watch flag](http://pm2.keymetrics.io/docs/usage/watch-and-restart/l).

[2018-03-10 20:47] simeonackermann commented on #584
Ok, I guess the best is to use a simple json config for pm2.

**config.json**
[code]

And then start with
`pm2 start config.json`

[2018-03-10 23:23] lauriejim commented on #756
Perfect :D

[2018-03-11 05:27] adispartadev opened #767 "Error when using mysql database NO_ZERO_DATE"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.10.1

**Operating system**: ubuntu 16.04 LTS

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Some bug on ubuntu when I user mysql as database.

**If the current behavior is a bug, please provide the steps to reproduce the problem**

When I start the project for t

[2018-03-11 08:39] navvvidi opened #768 "EPERM: operation not permitted, unlink"
**Node.js version**: 8.9.3

**npm version**: 5.5.1

**Strapi version**: 3.0.0-alpha.10.3

**Operating system**: Windows

**I'm trying to deploy Strapi on a "Windows Host" managed by "Plesk 12" and this error accured:**

[code]

**do you think this is an npm bug?**

[2018-03-11 13:37] lauriejim commented on #768
It looks coming from your os permissions. Don't think it's related to Strapi.

[2018-03-11 13:38] lauriejim commented on #768
How you install and setup your Strapi app on this server ?

[2018-03-11 13:40] pierreburgy commented on #768
Please try to downgrade to npm 5.3 (`npm install -g npm@5.3`): https://github.com/npm/npm/issues/18380.

[2018-03-11 14:26] LinhTran1 commented on #680
On windows, you should run commands under clean:all separately and then remove "npm run clean:all && " from value of setup in package.json

[2018-03-11 16:10] wi4er commented on #736
I try in alpha 11.1, problem slill there.

[2018-03-11 16:42] navvvidi commented on #768
@lauriejim thanks!

yes it was the problem with the OS permissions, solved. sorry for the dump question, i'm prety new to windows hosts.

@pierreburgy thank you!

[2018-03-11 16:42] #768 closed

[2018-03-11 22:13] mortendybdal opened #770 "Unable to deploy on Heroku -"
**Node.js version**:
9.8.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.11.1

**Operating system**:
Mac OS - High Sierra

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After deploying Strapi to Heroku and navigating to the /admin page, users are redirected to /admin/plugins/users-permissions/auth/register and a blank page. The console

[2018-03-12 07:01] keyus4 commented on #680
@LinhTran1 nothing changed. I've been able to use git bash to run the setup but when it gets to a point, it breaks with an error

OLUWASEUN@OLUWASEUN-PC MINGW32 /c/windows/system32/strapi (master)
$ npm run setup

@3.0.0-alpha.10.2 setup C:\windows\system32\strapi
npm run clean:all && npm install && node ./scripts/setup.js && npm run clean

@3.0.0-alpha.10.2 clean:all C:\windows\system32\strapi
np

[2018-03-12 09:25] pedrosimao opened #771 ""Content Types" using the same Collection get mixed up"
**Node.js version**:
9.7.1
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11
**Operating system**:
Ubuntu

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When I create several "Content Types"/ APIs that share the same Collection name, the database get mixed up. If I create an item for one API the same item will appear on the others API/Cont

[2018-03-12 09:34] lauriejim commented on #770
Hi @mortendybdal did you follow steps of this article https://blog.strapi.io/deploying-a-strapi-api-on-heroku/ ?

[2018-03-12 13:14] asharamseervi commented on #771
In my case with Heroku Apps, I'm really not able to make any entries to the database with Content Types. Whenever, I'll create Content Type, it'll be shown up in left navigation but, the input will be missed whatever I had added while creating Content Types.

**Sharing following screenshot:**

- I'm able to create Content Type & Added 2 inputs for APIs.
![showing-created-in-left](https://user-imag

[2018-03-12 13:25] pedrosimao commented on #771
@asharamseervi I don't think your issue has any relation with the mentioned bug. Items can be created with no problem. The bug I mentioned is just related to Content Types using same Collection name.
I think a similar issue have been opened here #770

[2018-03-12 14:04] asharamseervi commented on #771
Hmm, you can say. But, reason behind commenting here, is same property issue i.e. Content Type. I think, on Heroku (as mentioned) stuff not working as expected. Please try to login official Heroku Demo as described on [Strapi Blog](https://blog.strapi.io/deploying-a-strapi-api-on-heroku/).

URL: https://strapi-heroku-app.herokuapp.com
USER: demo@strapi.io
PASS: demo

& you'll notice some issues re

[2018-03-12 14:07] pedrosimao commented on #771
@asharamseervi I am pretty sure the issue you are talking about is not related to the issue I have opened. Relation one thing to the other  can make issue solving confusing, for the developers.
I am pretty sure your issue is only related to Heroku and not to shared Collection names.
If you feel like doing so, please open a separate issue.

[2018-03-12 14:34] asharamseervi commented on #771
Great. I will.

[2018-03-12 16:28] lauriejim commented on #698
Can you please guys try again with clean install of the last Strapi version please.

[2018-03-12 17:21] lauriejim commented on #511
@derrickmehaffy Impossible to reproduce your issue...where are stored your Strapi node module when you make a `npm run setup` ?

[2018-03-12 17:25] lauriejim commented on #640
Can you please try to create new project with last version of Strapi.
Create in some clicks your model and try again.

Or try to start your app with the same version of Strapi as your app.

[2018-03-12 17:42] lauriejim commented on #727
Are you in dev mode ?
I can't reproduce it on the last version of Strapi.

[2018-03-12 17:49] lauriejim commented on #734
Hello @mnlbox I can't reproduce it on my machine with mast version of Strapi.
I cant make relations and add new fields.

Can you share your models please.

[2018-03-12 17:49] #730 closed

[2018-03-12 17:54] lauriejim commented on #763
Hi @msgeissler thank you for this issue. I can see the http response body looks good.
@soupette Can you look why the error message is not display with the good message please.

[2018-03-12 18:15] lauriejim commented on #771
Hi @pedrosimao this is not an issue, it's normal.
`Collection name` is just the `collection` or `table` where you will CRUD data. So if two of your model are linked to the same data source they will share there data.

[2018-03-12 18:15] #771 closed

[2018-03-12 18:26] lauriejim commented on #764
We don't display relations on this table. Media field is a polymorphic relation with File content type.

[2018-03-12 18:30] lauriejim commented on #736
Okay but we have to definitively find a way to reproduce this weird thing !!

[2018-03-12 18:46] lauriejim commented on #767
Hi @adispartadev thank you for this issue. It's true, we have to use ` for key.

[2018-03-12 19:21] pedrosimao commented on #771
@lauriejim If this is not a bug it is a poor design choice and it is actually inconsistent with you previous Strapi versions. Not to say it pretty much feels like it is a bug when you see same data being displayed randomly across different Content Types.

The most annoying part of this issue is that on earlier versions of Strapi (even on v3 alpha10) this would not happen. So, I was building my app

[2018-03-12 19:41] msgeissler commented on #755
As mentioned by @Aurelsicoko in https://github.com/strapi/strapi-docker/issues/6#issuecomment-372236317 there is already a route that checks the current health of strapi. This should be enough to do basic monitoring of strapi using external tools.

What I would like to add to the discuss is a possible extension of the healtchcheck that includes the database as well. Otherwise the current API will

[2018-03-12 19:57] mortendybdal commented on #770
Hi @lauriejim,

Yes I followed the instructions in the article - but I used a database from Compose.io instead of mLab. I have also tried to use mLab to see is that made any difference, but that is not the case.

<img width="812" alt="screen shot 2018-03-12 at 20 54 40" src="https://user-images.githubusercontent.com/3764407/37306320-a601b7c2-2637-11e8-9e71-c5fe1724c3d4.png">

[2018-03-12 20:34] mortendybdal commented on #770
Seems like @asharamseervi have experienced kind of the same behaviour (See bug #771  - even though his comment is in a bug threat where it does not belong)

[2018-03-12 20:48] tapvt commented on #698
@lauriejim - Thanks for keeping us Mac users in mind! It'll really ramp up my productivity when I can run a dev server locally.

Unfortunately, I just did a clean install of `3.0.0-alpha.11.1`, and the issue is still present. Same failure trace. Slightly different log formatting, though.

**Node.js version:** v9.6.1
**npm version:** 5.7.1
**Strapi version:**: 3.0.0-alpha.11.1
**Operating system:**

[2018-03-12 21:05] tapvt commented on #698
This whole issue revolves around `strapi.models['core_store'].orm` being undefined. I'm using mongoose, btw. Since the logic explicitly checks for `=== 'mongoose'`, it defaults and tries to use forge, which obviously won't work.

I don't know the internals of the strapi bootstrap process, but I'm willing to dig in since I can reproduce on my machine reliably.

Maybe someone could point me to where

[2018-03-12 22:25] forsetius commented on #727
Same on:
Node.js version: 9.8.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.11.1
Operating system: Ubuntu 16.04

[2018-03-13 03:59] myesn opened #775 "language display error"
**Node.js version**:
v9.5.0
**npm version**:
5.7.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
windows 10 64bit

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Language is confused and I cannot switch languages.

**If the current behavior is a bug, please provide the steps to reproduce the problem**
open this url:
[code]
![image](http

[2018-03-13 07:51] asharamseervi commented on #770
Yeah @mortendybdal, Thankyou for listing issue. Exactly I'm also facing same issues.

[2018-03-13 10:21] lauriejim commented on #771
As we discuss on Slack you get weird behavior but your case can't happen on v3 of Strapi.

[2018-03-13 10:23] lauriejim commented on #755
That is interesting 👍

[2018-03-13 10:27] lauriejim commented on #698
Hi @tapvt !
To follow the loading process it's here https://github.com/strapi/strapi/blob/master/packages/strapi/lib/Strapi.js
And for the store setup it's here https://github.com/strapi/strapi/blob/master/packages/strapi/lib/core/store.js

[2018-03-13 10:31] lauriejim commented on #727
Can you tell me if the plugin is successfully deleted ?
Hum both of you are on ubuntu, it's maybe coming from your OS.

Can you help me with try to find here https://github.com/strapi/strapi/blob/master/packages/strapi-admin/controllers/Admin.js#L54 where the function break on you computer.

[2018-03-13 10:43] lauriejim commented on #770
I will ask to @soupette to take an eye on your issue.

[2018-03-13 10:52] msgeissler commented on #755
For the database check a very simple select on the smallest table would be enough, no big healthcheck of the database system.

[2018-03-13 12:55] Moomboh commented on #727
The problem is that the strapi package is not installed locally in the `node_modules` folder by `strapi new`. I think this is because of the way `strapi new` installes dependencies: [/strapi-generate-new/lib/after.js#L44](https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/after.js#L44) here it checks if a dependency is already installed with [get-installed-path](https://

[2018-03-13 14:11] Moomboh commented on #727
Just tried it out in a docker container based on the `node:alpine` image and everything worked as expexted. Probably a problem specific to ubuntu. I'll try to recreate the issue with docker.

[2018-03-13 14:16] soupette commented on #775
Hi! the missing translation files have been added [see](https://github.com/strapi/strapi-plugin-analytics/tree/master/admin/src/translations). However, the traductions will be missing for the `zh` locales but we have a fallback to `en` so it won't break the UI

[2018-03-13 14:34] adispartadev commented on #767
And how about the second bug? this warning message

[code]

[2018-03-13 21:25] zfedoran commented on #747
Has anyone looked into how much `mongoose` the `strapi-mongoose` needs? I wonder if `dynamoose` would work as a drop in replacement.

Might be worth looking into..

[2018-03-13 22:16] adamflater commented on #432
The problem has to do with mongoose and replica sets. Found something that worked for me:

- start a mongo instance with docker: `docker run -p 27017:27017 mongo`
- invoke `strapi new [project]` with default options
- after `strapi new` finishes, but before you run `strapi start`, edit your config at `/config/environments/development/database.json`
  - Add a `uri` property using the format:

[code

[2018-03-13 23:31] andrescristi commented on #735
Correct me if I'm wrong, but I think he would only need to edit line 244 of
https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L211, and replace guest with the role he want.

[2018-03-14 01:59] jobn123 commented on #767
i got this error

[code]

[2018-03-14 08:47] lauriejim commented on #735
That is true !

[2018-03-14 09:01] #694 closed

[2018-03-14 13:48] simov commented on #726
This error is only thrown inside the internal `connect` and `callback` routes in [Grant](https://github.com/simov/grant), and only when the provider was either misconfigured from the start or the session got lost during the OAuth flow redirects. Hope that helps.

[2018-03-14 14:16] simov commented on #726
@lancevo from your comment in SO:

This is internal route used by Grant only, and you should only use it when specifying the redirect URL of your OAuth App in the Google's web UI.

Probably you want to make request to this URL instead: `/auth/${provider}/callback${search}` found in the linked article on Medium.

[2018-03-14 14:50] simov commented on #707
The idea in the underlying OAuth middleware (Grant) is to have your entire configuration based on your environment, meaning that if you have the following configuration:

[code]

Then in `strapi-plugin-users-permissions` you have to use the correct `protocol` and `host` options based on your environment.

---

Grant also supports [redirect_uri](https://github.com/simov/grant/blob/v4.0.0/lib/utils.

[2018-03-14 17:11] #775 closed

[2018-03-14 17:28] renatomattos2912 opened #778 "Why Node 8.9 LTS is not compatible? Why you choose a non LTS version for the minimum requirement?"
**Node.js version**: 8.9

**npm version**: 5.5

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: CentOS 7

Why Node 8.9 LTS is not compatible? Why you choose a non LTS version for the minimum requirement?

There are any known issues related to use strapi in node 8.9?

[2018-03-14 18:19] vpoola88 opened #779 "Models missing from Users & Permissions Application dropdown"
**Node.js version**:
v9.8.0
**npm version**:
5.7.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
macOs High Sierra 10.13.2

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I've created a few models using the Content Type Builder. After creating new models and going to the Users & Permissions / Application dropdown, I'm unable to see the

[2018-03-14 18:53] Daekan commented on #483
I'm also considering to use Strapi but I don't feel confident using it without a feature to add custom field types...

This is a must.

[2018-03-14 20:39] Daekan commented on #483
@UserGalileo Did you find a solution for this or did you choose other CMS?

[2018-03-14 21:23] tonihauptcc commented on #747
Sounds like a good way. Will deep dive into it

[2018-03-15 05:07] UserGalileo commented on #483
@Daekan I don’t need it right now, but I’m also looking at graphCMS which should implement that feature and it’s GraphQL based :) I’m keeping an eye on both!

[2018-03-15 09:56] asharamseervi opened #780 "Strapi Stopped, while using & mapping relations which is not even present in database."
**Node.js version**: v9.8.0

**npm version**: v5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: Ubuntu

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?** Strapi is not getting starting. After updating some fields to Content Builder.

**If the current behavior is a bug, please provide the steps to reproduce the problem** I created som

[2018-03-15 10:39] koolkav1 commented on #452
I have the exact same problem with Windows 7 and I followed the mLab tutorial on medium.

[2018-03-15 11:09] lauriejim commented on #780
Hi @asharamseervi.

You don't make manual update of your models ?

Actually the best way is to go in your Entertainment model file and delete attribute category (and go in you category model and delete the relation to entertainment)

Can you give me the exact steps you did to get this error to be able to reproduce it on my computer.

[2018-03-15 11:19] lauriejim commented on #779
Hi @vpoola88 !

I'm not sure at 100% but I think Heroku don't let you write files on the server.
And the content-type-builder plugin write files to create new APIs. So your need is impossible on Heroku I think.

We have to disable content-type-builder and settings-manager in production mode. Because you will not be able to give back update you will make on your Heroku instance.

[2018-03-15 11:48] victorkane commented on #483
The great virtue of Strapi.io is that it is a completely open source CMS. This practically doesn't really exist in today's world, believe it or not. They all want to keep your stuff in the cloud behind a paywall and give you toys, like graphCMS, like [contentful and others](https://www.cmswire.com/web-cms/13-headless-cmss-to-put-on-your-radar/) or else are oldish or directly abandoned, like Keysto

[2018-03-15 12:41] piere129 commented on #767
I found the solution:

I think the reason it gives you the` Incorrect string value: '\xF0\x9F\x94\x91 "...' for column 'value' at row 1` error is because strapi is configured to use UTF-8, however the 🔑 icon is not supported in UTF-8. I deleted the 🔑 icon in the errormessage (located at .\plugins\users-permissions\config\functions\bootstrap.js). After that it worked!

[2018-03-15 13:05] lauriejim commented on #677
It's in `alpha.11` add
[code]
in your model files

[2018-03-15 13:05] #677 closed

[2018-03-15 13:07] lauriejim commented on #541
Checkout `alpha.11.1` and on master branch for last users fixes.

[2018-03-15 13:07] #541 closed

[2018-03-15 13:29] lauriejim commented on #765
It's fixe on master follow the next release.

[2018-03-15 13:29] #765 closed

[2018-03-15 13:38] renatomattos2912 opened #782 "Disable CSRF by default in production environment"
**Node.js version**: 8.9

**npm version**: 5.5

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: CentOS 7

**Do you want to request a *feature* or report a *bug*?**
Maybe it is a Bug.

**What is the current behavior?**
I'm not able to create a user in production environment cause i'm getting an "CSRF is required" message.

**If the current behavior is a bug, please provide the steps to

[2018-03-15 13:44] lauriejim commented on #744
Hi ! Actually the best way is to create a Short script that convert your CSV data in an array of JSON object and then to loop on and make `await strapi.services.product.add(entryObject);`

Or find a tools that make directly an import in your database.

[2018-03-15 13:47] #735 closed

[2018-03-15 14:01] lauriejim commented on #727
strapiBin is just require to execute `strapi uninstall ...` if strapi is not installed globally.
In your case can you test with a try catch the require of strapiBin and tell me what is the error in the catch.

[2018-03-15 14:33] renatomattos2912 opened #783 "Not able to register new users when one user is already created."
**Node.js version**: 8.9

**npm version**: 5.5

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: CentOS 7

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When i try to open the "register new user" page, i'm redirecting to login page.

**If the current behavior is a bug, please provide the steps to reproduce the problem**
1 - Run strapi i

[2018-03-15 15:25] lauriejim commented on #728
You have to check if your user can make this action. Update the role permissions he has in the admin pannel. By default guest user can't update an user.

isOwner policy to be able to update his own entries is coming.

[2018-03-15 15:25] #728 closed

[2018-03-15 15:37] lauriejim commented on #682
Don't really understand:

What is the body of your request ?

Something like that ?
[code]

[2018-03-15 15:38] #679 closed

[2018-03-15 15:39] #645 closed

[2018-03-15 15:41] lauriejim commented on #643
WYSIWYG is coming soon ! https://github.com/strapi/strapi/tree/wysiwyg

And you can find the roadmap here https://github.com/strapi/strapi/blob/wysiwyg/ROADMAP.md

[2018-03-15 15:41] #643 closed

[2018-03-15 15:44] lauriejim commented on #641
We had authenticationDatabase option here https://github.com/strapi/strapi/pull/753

[2018-03-15 15:44] #641 closed

[2018-03-15 15:46] lauriejim commented on #623
No news about that, I close this issue :)

[2018-03-15 15:46] #623 closed

[2018-03-15 15:49] lauriejim commented on #601
I close this issue, no news.

[2018-03-15 15:49] #601 closed

[2018-03-15 15:57] lauriejim commented on #568
No news after my last message, I close this issue.

[2018-03-15 15:57] #568 closed

[2018-03-15 16:01] lauriejim commented on #548
UI to update default role on register is coming https://github.com/strapi/strapi/pull/773

[2018-03-15 16:01] #548 closed

[2018-03-15 16:13] vpoola88 commented on #779
Hi @lauriejim thanks for getting back!

I dont think that's the case, only b/c with further digging, I am able to see those actions through a different role. I created a "public" role, by doing so can go into the actions and see them. Any idea why its just not working for guest with that info?

Also - if I want to just use a different role with no auth, I still get a 401 unauthorized when I do a g

[2018-03-15 16:55] Aurelsicoko commented on #762
It seems fixed 👍

I tried to reproduce but the hashes password are never exposed as you described. If it happens again, please re-open the issue!

[2018-03-15 16:55] #762 closed

[2018-03-15 17:34] abdonrd opened #784 "Allow Array field type"
It would be great to have the `Array` type.

More references:
* https://github.com/strapi/strapi/issues/761: Allow Array of relations objects field type
* https://github.com/strapi/strapi/issues/1169: Error with the Array field type

[2018-03-15 17:35] abdonrd commented on #761
@lauriejim sorry, but I have not understood it well. Could you show me an example?

[2018-03-15 17:43] abdonrd commented on #624
About this `isOwner` policy... It would be great if it could have multiple owners.

Example: A `Book` created by multiple `Author`s. All authors should be able to edit the book.

[2018-03-15 18:08] UserGalileo commented on #483
@victorkane GraphCMS is going open source this month with the beta release for testing and they are doing an awesome job to improve the platform :)

[2018-03-15 19:39] 99darwin commented on #783
Same issue here only difference for me is that I'm running on an Ubuntu Digital Ocean instance.

[2018-03-15 19:44] daytonmills commented on #783
Same issue here

[2018-03-15 20:50] soupette commented on #783
Hi! Currently, the register page on the admin is only accessible if there is no admin user.
You're right we have an issue with the password when you create a user directly from the content manager, it seems that the password is not hashed.

However, until we fix the issue you can either create a new user using POSTMAN
the endpoint should be (http://localhost:1337/auth/local/register)

[code]

And

[2018-03-15 21:13] soupette commented on #783
Sorry I didn't mean to close the issue

[2018-03-15 21:18] soupette commented on #784
@abdonrd you mean the enum field?

[2018-03-15 21:19] soupette commented on #764
@lauriejim what should I do then?

[2018-03-15 21:30] abdonrd commented on #784
@soupette no, I mean the `Array` data type from MongoDB:

https://docs.mongodb.com/manual/reference/operator/query/type/#available-types

[2018-03-15 22:33] kis commented on #698
@lauriejim any progress with that? facing the same issue

[2018-03-16 00:10] alexsteele110 opened #785 "Whitespace in user folder name causes problems with plugin installation"
**Node.js version**: 9.8.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: Windows 10

**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Currently unable to install plugins on initial build or through the admin marketplace. Believe it has to do with there being whitespace in my users folder. The folder nam

[2018-03-16 08:14] asharamseervi commented on #770
Something is there, which is stopping us to create Content Types, from Dashboard to PRODUCTION ONLY. Please put it on High Priority or Test it once your instance for production, and let us know if everything went well for you, or something we're missing at our instance.

[2018-03-16 08:42] mnlbox opened #786 "Two step (factor) authentication"
Hi guys,
I think two step (factor) authentication can be very useful for many applications. I recently implement this in LoopBack based on below article:
https://jordankasper.com/two-factor-authentication-with-loopback/

and use this library:
https://github.com/speakeasyjs/speakeasy

Lets talk about this here and add this to https://strapi.io/vote page if other want's this feature too.

**/CC:** @

[2018-03-16 08:49] mnlbox commented on #742
@lauriejim I suggest this because now strapi is working heavy on new release and with npx I need less strapi package update manually.

[2018-03-16 09:09] lauriejim commented on #785
We have to fix this one (about white space) https://github.com/strapi/strapi/issues/709 and it probably fix yours.

I link here an issue on plugin management https://github.com/strapi/strapi/issues/727

[2018-03-16 09:12] lauriejim commented on #784
You can try to do it yourself updating https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/utils/index.js file to allow `Array` and use it manually in your models. Will not be available in frontend but in backend it's will be OK

[2018-03-16 09:18] lauriejim commented on #782
Hi @renatomattos2912 Actually the best way for you is to disable `CSRF` option.

[2018-03-16 09:24] u12206050 commented on #310
How do I get this working, I have added both `"hasTimestamps": [null, "updated"]` to options and ```"updated": {
      "type": "date",
      "required": true,
      "multiple": false,
      "readonly": true
    }```
to the attributes but it still doesn't automatically update the field.

[2018-03-16 09:27] lauriejim commented on #761
Checkout http://mongoosejs.com/docs/populate.html#deep-populate.

But in your case, get `Document` populate `Author` and deep populate `Company`.
Then you can get all companies linked to your article.

[2018-03-16 09:28] lauriejim commented on #624
Thank you for this point @abdonrd

[2018-03-16 09:30] mnlbox opened #787 "strapi: command not found"
**Node.js version**:
v8.9.4
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
Linux Mint 18.1

I have Strapi in another system and it's working successfully but today I try install it in my new laptop. It seems it's installed successfully (because I have a strapi folder in `/home/mnlbox/.npm-global/lib/node_modules/strapi`) but when I run strapi commands like `strap

[2018-03-16 09:33] lauriejim commented on #764
Actually nothing. It's not in our roadmap to implement relationships display in this list.

[2018-03-16 09:35] mnlbox commented on #786
It can be a new feature with some setting in admin panel or maybe just a step-by-step tutorial in docs. What's your idea guys?

[2018-03-16 09:36] lauriejim commented on #698
Hi @kis ! We can't reproduce (see the label) so difficult for us to fix it if it's not happen in our machine.

It's why we need your help to fix it. Please see my last message to investigate on.

[2018-03-16 09:57] lauriejim commented on #787
Are you using `nvm` or another node version manager ?

[2018-03-16 10:16] mnlbox commented on #787
No I don't use NVM or other similar tools. I just run this:
[code]

I run it again now and this is output:
[code]

[2018-03-16 10:34] #750 closed

[2018-03-16 10:56] pedrosimao opened #788 "Polymorphic Model won't work with Strapi Frontend Interface"
**Node.js version**:
v9.7.1
**npm version**:
5.6.0
**Strapi version**:
V3 alpha 11
**Operating system**:
Ubuntu

**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
When implementing Polymorphic models the Strapi Frontend UI will produce many errors. It is not even possible to create new documents/items via the user interface when there is a relation a

[2018-03-16 12:34] renatomattos2912 commented on #783
thanks @soupette , but how can i set a role to this user using postman?

[2018-03-16 12:36] renatomattos2912 commented on #782
Hi @lauriejim, i made the request from both sources (Admin and API) and i had the same CSRF error, but yes, for now i disabled csrf until i understand how to use this correctly.

[2018-03-16 13:43] tcrammond opened #791 "Field names can clash with API code, causing errors when creating records"
**Node.js version**:

`9.8.0`

**npm version**:

`5.7.1`

**Strapi version**:

`3.0.0-alpha.11.1`

**Operating system**:

OSX El Capitan

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

If you make a field with a name that clashes with a Model/orm method or property _(might be something else, this is a guess)_, you will be unable to create records

[2018-03-16 14:18] abdonrd commented on #778
I am also interested in this!
I think I'll be limited to using LTS. 😕

[2018-03-16 16:31] tapvt commented on #698
This is hilarious and embarrassing at the same time... After digging around in the code for a bit, I tried explicitly setting my environment. Lo and behold everything works w/ `3.0.0-alpha.11.1`. Turns out my `.bashrc` was setting it to `dev`, which is standard for some projects, but Strapi prefers `development`.

So, @kis, can you try `export NODE_ENV="development" && strapi start` and let us kno

[2018-03-16 16:36] Aurelsicoko commented on #726
@lancevo I had the same issue when I reproduced the tutorial wrote by @soupette! I figured out it's due to a small change we did a few weeks ago.

Set the `host` key to `localhost` instead of `127.0.0.1` in the `./config/environments/*/server.json` file.

[code]

[2018-03-16 17:02] lauriejim commented on #791
Hi @tcrammond thank you for this reporting.

[2018-03-16 18:12] aaimaawebs commented on #698
Hello Everyone, a new headache for us. I had fresh installed Strapi on Ubuntu 16.04, via Script & everything installed & configured via them. Oh, everything went well for Development ('strapi start') but when I configured mlab with production (I doubly check everything, is fine as per all Strapi Tutorials on Blog).

So, decided to hit `NODE_ENV=production npm start` and WTH, there are similar issu

[2018-03-16 18:48] Aurelsicoko commented on #698
@aaimaawebs It's because you don't have any models in your app, I guess. Please refers to this message (https://github.com/strapi/strapi/issues/698#issuecomment-372462360), can you make a PR to fix it?

You need to check if the `strapi.models['core_store'].orm` is not `undefined`...

[2018-03-17 16:16] mnlbox opened #794 "can't update strapi CLI"
**Node.js version**:
9.7.1
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.10.3
**Operating system**:
Linux Mint 18.1

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I run `npm install strapi@alpha -g` to update my strapi but it's return below error on my console:

[code]

**If the current behavior is a bug, please provide the steps to reprod

[2018-03-17 16:17] arnorhs opened #795 "Hierarchical relation"
**Node.js version**:
8.10.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.11.1

**Operating system**:
ubuntu 16 LTS

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when i add a relation on an existing content type referencing the same content type, the server fails to restart.

**If the current behavior is a bug, please provide the steps

[2018-03-17 16:49] abdonrd commented on #784
I just sent https://github.com/strapi/strapi/pull/796 so that it is at least supported in the backend.

[2018-03-17 17:36] abdonrd commented on #761
@lauriejim But in this case of use, the `Writer` does not have in his model the `Company` for which he works; I don't want to store it because I only want to know in which `Company` the `Writer` was working when that `Document` was made. The idea is like:

`Writer`
[code]

`Company`
[code]

`Document`
[code]

[2018-03-17 21:13] abdonrd opened #797 "Why the identifiers are duplicated in the database? _id & id"
Why the identifiers are duplicated in the database? `_id` & `id`.

[2018-03-17 21:20] abdonrd opened #798 "Why does not the post-install.js build the plugins?"
Strapi has the script:

[code]

Then, after `npm install` runs the `post-install.js`.
But it only installs the dependencies, but it does not build the plugins.

Why does not the post-install.js build the plugins?

[2018-03-18 07:06] zeroby0 opened #799 "Text overflow in roles and permissions"
**Strapi version**:
3.0.0-alpha.11.1

**Do you want to request a *feature* or report a *bug*?**
CSS bug.

**What is the current behavior?**
![screen shot 2018-03-18 at 12 30 57 pm](https://user-images.githubusercontent.com/16903044/37563511-5955f49a-2aa8-11e8-8298-938ed4655123.png)

**If the current behavior is a bug, please provide the steps to reproduce the problem**
Add a very long description

[2018-03-18 10:40] Luukth opened #800 "Unable to change host"
**Node.js version**: v8.10.0

**npm version**:  5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: Ubuntu 16.04.4 LTS

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When I edit the config file "server.json" in the development or production folder. The host option doesn't get applied. When I enter a domain, strapi will still say it

[2018-03-18 15:08] paulmerz commented on #616
@mittalyashu this error might be caused by the server being localhost in environment -> development -> database.json. Try to replace with 127.0.0.1.

I have the same error than you with bootstrap on windows 10 x64

[2018-03-18 15:08] paulmerz commented on #616
I have the same error than you with **bootstrap** on windows 10 x64

[2018-03-18 15:56] lauriejim commented on #798
That's a good point. If you run npm install you can don't necessary need to build admins.
Maybe we have to found an other command to build all admins ?

[2018-03-18 16:01] lauriejim commented on #794
Hi @mnlbox I can't reproduce your issue.
What is the npm registry you use ?

[2018-03-18 16:30] abdonrd commented on #798
Oops! I forgot to mention that in my repository I have deleted & ignore the `build` folders (as #705).

Maybe I'm wrong, but I thought about:

1. Clone the repository. It has no builds.
2. `npm install`
3. `npm run build` (maybe the `npm install` can run the build?)
4. `npm start`

[2018-03-18 16:46] mnlbox commented on #794
I use default npm registery. Now I have strapi version **3.0.0-alpha.10.3** and want to update to **3.0.0-alpha.11.1** so just run `npm install strapi@alpha -g` and this is my output:
[code]

[2018-03-18 17:13] mnlbox commented on #794
@lauriejim I search a lot and some people said that clean npm cache can solve similar problem so I run `npm cache clean --force` and after that again run `npm install strapi@alpha -g` and anything works well now. :wink:

[2018-03-18 18:39] mnlbox opened #802 "App crashed after add relation to "Users" content type"
**Node.js version**:
9.8.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
Linux Mint 18.1

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
This is my Test model (`/api/test/models/Test.setting.json`):
[code]

And this is my Users model (`plugins/users-permissions/models/User.settings.json`):
[code]

**If the current

[2018-03-18 23:20] mrikirill opened #803 "Need an advise about a model data organisation"
Hi there!

I have 5 tables: Vehicle, Driver, Account, Company, User[Strapi system table]
Table User is linked (1:1) with Account.
I want to create that users of the same account can see only their "account's data".
For example User1 and User2 linked with Account1 they can see vehicles, drivers, companies associated with Account1.
Should I create relationships for each tables with Account (1:m) for

[2018-03-19 00:20] abdonrd opened #804 "Add staging environment"
What do you think about adding staging environment?

I think it's usual to have a staging environment before deploying to production.

[2018-03-19 02:01] abdonrd commented on #798
I just create a demo repository:
https://github.com/abdonrd/strapi-demo

And this PR with the desired changes as a consumer of Strapi:
https://github.com/abdonrd/strapi-demo/pull/1

I split in commits to try to make it easier to review.

[2018-03-19 09:14] #709 closed

[2018-03-19 09:23] lauriejim commented on #784
Thank you, I let this issue open for the frontend part.

[2018-03-19 09:26] soupette commented on #799
Thanks @zeroby0 for reporting this if you see other stuff like this don't hesitate to report it!

[2018-03-19 09:29] lauriejim commented on #761
Ho okay, I understand your use case.
Actually you will have to store it in an other collection that has a relations with each of your other models.

Sadly we will not have time to work on now.

[2018-03-19 09:31] lauriejim commented on #616
That is a good new :)

[2018-03-19 09:31] #616 closed

[2018-03-19 09:41] abdonrd commented on #784
@lauriejim yes, please! Thanks! 🙂

[2018-03-19 10:08] lauriejim commented on #803
Hello @mrikirill ! What are relation between Drivers Vehicles and Companies ?

You will probably have to customize the query to get you accounts with a deep populate.
Check this link  http://mongoosejs.com/docs/populate.html#deep-populate.

[2018-03-19 10:14] lauriejim commented on #804
Yap that's could be more interesting than `test` environment.
Probably just have to rename the `test` environment.

[2018-03-19 10:17] abdonrd commented on #804
Is there a test environment? 😮
With the last release, I only have `development` & `production` in `config/environments`.

[2018-03-19 10:56] Aurelsicoko commented on #798
@abdonrd We already thought a lot about this.

1. I agree that the command `npm run build` could be the alias of `npm run setup --plugins`. However, the `npm run setup` command is more powerful than just build the front-end part. It installs the dependencies of the project and in each plugin. Then it builds the admin and each plugin.

2. We have to send the builds on npm. It wasn't the case a few

[2018-03-19 11:10] lauriejim commented on #804
Yes https://github.com/strapi/strapi/tree/master/packages/strapi-generate-new/files/config/environments

[2018-03-19 11:24] Aurelsicoko commented on #672
I would love to see someone try to make some work on this part. We need to improve it but we are too busy to start this work right now.

[2018-03-19 11:27] Aurelsicoko commented on #680
The solution could be to use Shell.js instead of running Linux commands in the `package.json` scripts. We would be happy to merge a PR to make it work. We know this issue is blocking for Windows users who want to edit the administration panel. We are too busy right now to make a proposal...

[2018-03-19 11:31] Aurelsicoko commented on #712
@pedrosimao Did you find a way to do that using the polymorphic relations? It's not in our plan to propose a way to migrate from v1 templates to the v3 in the next weeks. If you really need the template system, you should stay on v1 which is stable and production-ready.

[2018-03-19 11:37] Aurelsicoko commented on #748
@pedrosimao The references (one-to-one, many-to-one, etc) should fit your needs. We are doing the exact same things as in the blog post. However, we don't support nested references as they do in the blog post

[code]

To do the same thing using Strapi, you'll have to create a `Comment` model.

[code]

[2018-03-19 11:37] #748 closed

[2018-03-19 11:40] Aurelsicoko commented on #752
As I already said on Slack, I really like the idea!  However, this slug field has to be more powerful. For example, we should be able to define the format of the slug, maybe the slug can be based on many fields (ID, Name and updated_at). I would love to merge your work, btw!

[2018-03-19 11:57] Aurelsicoko commented on #755
@msgeissler It's okay for us to make two routes, one for checking that the server is okay and another one for the database. However, if you're sending more information we need to double-check if it won't affect the future business model to make the open-source part sustainable.

[2018-03-19 11:59] Aurelsicoko commented on #778
If my memories are correct, it's because some parts of the code are not compatible. We are using object spread for example. But, we could easily replace/patch these parts. Can someone (@renatomattos2912, @abdonrd) try to run Strapi using Node 8.9, make the necessary changes and open a pull request?

[2018-03-19 12:02] Aurelsicoko commented on #782
The CRSF security is interesting for the users which are using the views and the session system. If you're using the JWT as the authentication system, you're not concerned by the CRSF attack.

[2018-03-19 12:07] Aurelsicoko commented on #786
It could be integrated as an option in the Users & Permissions plugin. I like the idea but we need to know if the community is asking for this feature or not. We need to keep the product easy to use and simple. If there are only a few people asking for it writing a step-by-step tutorial in the documentation should be enough.

[2018-03-19 12:14] Aurelsicoko commented on #788
I do not agree entirely with the expected behaviour. It seems pretty normal to fix the issue in the edit view. However, I'm not sure we should introduce the polymorphic relationships in the Content-Type Builder. The polymorphic associations are not necessary in most cases. We should not complexify the user interface for less than 5% of users.

If you need to use the polymorphic associations is tha

[2018-03-19 12:17] Aurelsicoko commented on #797
@abdonrd As you know, Strapi is compatible with Mongo and SQL databases. By convention, the SQL databases are using the `id` attribute to identify the entries. However, Mongo is using the `_id` as the identifier. To make the backend and frontend part uniform we partially implement the duplication of the Mongoo `_id` attribute.

For example, it avoids us to make this everywhere:
[code]

[2018-03-19 12:17] #797 closed

[2018-03-19 12:21] Aurelsicoko commented on #804
It's okay for me! Let's do it :)

[2018-03-19 12:54] piere129 opened #806 "Can not save changed properties of Guest Account"
**Node.js version**:
9.8
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.11
**Operating system**:
Windows 10

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When I try to edit the guest account permissions or name, and press save it doesn't save my changed settings. Permissions of the plugins like the content-manager do get saved. It seems

[2018-03-19 13:00] lauriejim commented on #806
Hello @piere129 !

We fix this bug on master. Will be release soon.

About persistent roles informations, it's probable because you use the same database between your projects.

[2018-03-19 13:03] piere129 commented on #806
Okay great, thank you! Any idea when the release is scheduled? :)

[2018-03-19 13:14] pedrosimao commented on #788
Aurelien,
Polymorphic model is part of the documentation. As being so, I think the minimum expected behavior is that the UI will not bug, and give multiple errors, in case someone implement Polymorphic model. If not we have the impression Strapi is too buggy to be usable. Also it would be expectable that we are still able to add documents / items to the collections via the UI. I am not talking abo

[2018-03-19 15:09] dfliess commented on #403
can you resume the steps needed to add a new provider ? I'd like to add https://github.com/sdurandeu/passport-mercadolibre

[2018-03-19 16:45] mnlbox opened #810 "Add strapi version number somewhere in admin panel"
I think it's better to add strapi version number somewhere in admin panel for example in side menu footer near "Proudly powered by Strapi" text. For example like this: **Proudly powered by Strapi (3.0.0-alpha.10.3)**

[2018-03-19 20:17] wi4er opened #815 "Login misunderstood"
**Node.js version**: 9.6

**npm version**: 5.7

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: Ubuntu 16.04

**Do you want to request a *feature* or report a *bug*?**
Some misunderstood

**What is the current behavior?**
I had repeat all guides about authentication. Registration works fine, loggin works fine aslo. But I dont understand, what I suppose to do after getting auth token? H

[2018-03-19 21:35] nurikabe opened #816 "strapi version"
**Node.js version**:
v9.8.0

**npm version**:
5.7.1

**Strapi version**:
3.0.0-alpha.11.1

**Operating system**:
Windows 10

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
"strapi version" command outputs blank line whereas "strapi --version" outputs version

**What is the expected behavior?**
According to https://strapi.io/documentation/cli/CLI.ht

[2018-03-19 22:30] mrikirill commented on #803
Hi @lauriejim

The potencial database scheme should be like that [please see the screenshot](https://screencast.com/t/sXQzYRYjp)
What do you think, I'm right to link every tables with Account or I need to connect only User table ?

It looks what I'm looking for.

[2018-03-20 07:22] abdonrd commented on #804
Why the `test` folder is not created with the `strapi new projectName`?

[2018-03-20 07:38] abdonrd commented on #798
1. Can we extract the dependencies installs of the project and in each plugin from the `npm run setup` and move it to `npm install`? Also add three new build npm scripts.

    * `npm install`: install all the dependencies (project & plugins)
    * `npm run build:admin`: Build only the admin.
    * `npm run build:plugins`: Build only the plugins.
    * `npm run build`: `npm run build:admin && npm r

[2018-03-20 07:50] abdonrd commented on #798
About the `.npmignore`s... (https://github.com/abdonrd/strapi-demo/pull/1/commits/9888769370c73932fecd9b222e876d0c0720d0a6 & https://github.com/abdonrd/strapi-demo/pull/1/commits/8809bf5dbbb6ecb9dbfe1c99ae57057c9744cc14)
We can remove it in the `new strapi myProject` script? There Strapi users don´t need it.
There are +2.000 changes.

[2018-03-20 07:51] abdonrd commented on #798
6. By the way, why the build time is so long?

[2018-03-20 09:17] soupette commented on #815
The token you retrieve is needed to access the data of your api if you have permissions set.

What do you mean by `how to work with app without ajax requests`?

Did you take a look at the [strapi-examples apps?](https://github.com/strapi/strapi-examples)?

[2018-03-20 09:48] lauriejim commented on #816
Hello @nurikabe .

I'm not able to reproduce this issue.
Are you in dev mode ? Have you an error ?

Can you try to run `npm install strapi@alpha -g` again then `strapi --version` please. Maybe your strapi install fail previously

[2018-03-20 09:58] lauriejim commented on #803
I think your relation between account and drivers is not necessary.
In fact it's really depend of your use case. And what look like your organization.

[2018-03-20 10:03] nurikabe commented on #816
Just tried reinstalling.  In Cygwin on Windows this works:
[code]
This does not:
[code]

Is there a reason there are two ways to check version?

Do you have more details on dev mode?  I didn't see anything in the quick start docs.

[2018-03-20 10:04] Aurelsicoko commented on #496
@acoreyj The solution to this issue is to add a real JSON field in the UI. Currently, @soupette is working on the WYSIWYG field and one of his next steps is to develop the JSON field component. I can give you a release date but it should be available in the coming weeks (~6 weeks).

[2018-03-20 10:13] lauriejim commented on #804
Ho you are right ! It's because of the `.npmignore` of `strapi-generate-new`.
`test` folder is ignored so don't publish on npm. It will work on local dev mode but not from npm.
We will rename the test folder in `staging` and it's will fix this problem.

[2018-03-20 10:17] Aurelsicoko commented on #798
1. I'm okay with your suggestion, it seems good 👍

4. It depends... It's a bad practice but in our case, it's useful to avoid the rebuild time. If we remove the build, it means that when you're deploying, you need to install the dependencies (devDependencies included) and launch the build. As I said, it's almost impossible (with our current Webpack configuration) to run this on a Heroku server for

[2018-03-20 10:24] Aurelsicoko commented on #788
I understand your point, we are still in alpha version. We don't recommend to use the alpha versions in production. The polymorphic implementation has been done partially. It's very complex to handle polymorphic associations using MongoDB for example.

I would do my best to fix the issue as soon as possible but I don't have any free time for the moment. The documentation needs to be improved as we

[2018-03-20 10:32] keyus4 commented on #680
@Aurelsicoko please can you paste an example code of how to use Shell.js in the package.json scripts?

[2018-03-20 11:15] lauriejim commented on #816
Ho okay !
Yes it doesn't work.
You can fix it here https://github.com/strapi/strapi/blob/master/packages/strapi/bin/strapi.js#L41
`program.versionInformation` look return null so can you try to find a way to display the good version and submit a PR.

Could be super cool to have you as Strapi contributor !

[2018-03-20 12:14] Aurelsicoko commented on #680
@keyus4 You need to create a separate JS file like we already did here:

https://github.com/strapi/strapi/blob/master/packages/strapi-admin/package.json#L23
https://github.com/strapi/strapi/blob/master/packages/strapi-admin/scripts/setup.js

[2018-03-20 16:42] nurikabe commented on #816
Haven't done much node development so not sure if this is the right approach, but how about this?:

https://github.com/strapi/strapi/pull/820

[2018-03-20 18:56] lucaperret commented on #474
The problem is still there:
[code]
Why the `plugins.json` file has to be rewrited ?

[2018-03-20 20:19] storm1er commented on #672
Well ... to be fair, I think that moving from file to db was a bad move ...
I mean, moving ENTIRELY from file to db ... We should keep file, and on execution of `npm start` (eq. on each restart) the server reload what was saved from file.

Drupal is doing this and it's quite intuitive ... I'll look for more details if I have time.

[2018-03-20 23:05] mrikirill commented on #803
I think so, thanks fro ideas.

Could you suggest, which modifications I should do for that case:
1) User authorised via api and received JWT
2) By using JWT in the header open "GET /companies"

In current case it will return all rows from Company table.
I need to return only rows which have the same AccountId like authorised user has.
I think I should modify a model of "GET /companies" endpoint or

[2018-03-20 23:17] mrikirill commented on #815
@wi4er

After authentication you will receive a [JWT](https://jwt.io/introduction/)
Use this JWT in the header of your requests: Authorization: Bearer **Your JWT** to access to api endpoints.

[2018-03-20 23:23] abdonrd opened #822 "Split project setup process"
Extract the dependencies installs of the project and in each plugin from the `npm run setup` and move it to `npm install`. Also add three new build npm scripts.

* `npm install`: install all the dependencies (project & plugins)
* `npm run build:admin`: Build only the admin.
* `npm run build:plugins`: Build only the plugins.
* `npm run build`: `npm run build:admin && npm run build:plugins`.

Refere

[2018-03-20 23:34] abdonrd opened #823 "Remove unneeded files from new generated project"
There are some files necessary for the development and npm publication, but they are not necessary for the end users of Strapi.

For example:
* `.npmignore`
* `admin/.editorconfig`
* `admin/.gitattributes`
* `admin/.npmignore`
* `admin/admin/.npmignore`
* `plugins/**/.editorconfig`
* `plugins/**/.gitattributes`
* `plugins/**/.npmignore`
* `plugins/**/admin/.npmignore`

Reference: https://github.co

[2018-03-21 09:50] abdonrd opened #824 "Optimize the build process time"
Right now the build process is quite long.

Also I don't know if it would make sense to share a single script for the plugins build instead of each plugin having its own.

Reference: https://github.com/strapi/strapi/issues/798#issuecomment-374505594 & https://github.com/strapi/strapi/issues/798#issuecomment-374544589

[2018-03-21 09:51] keyus4 commented on #680
@Aurelsicoko I just forked the strapi repository afresh and the changes made in https://github.com/strapi/strapi/blob/master/packages/strapi-admin/package.json#L23
https://github.com/strapi/strapi/blob/master/packages/strapi-admin/scripts/setup.js did not make any difference. Still the same APP_PATH not recognized error

OLUWASEUN@OLUWASEUN-PC MINGW32 /c/strapi
$ npm run setup

npm notice created

[2018-03-21 10:25] wi4er commented on #815
Yes, I understand this. But I have a couple landing pages in my app. And they suppose to have different markup for customers and guests. And I dont know how to render this pages in the backend, because I cant know user role in first request only after ajax. But this way dont satisfy my  superior.

P.S. I need to get balance beetween performance and SEO.

[2018-03-21 10:39] soupette commented on #815
Well, once you authenticate your user you have access to its role. So, maybe it could be a good start to render different markup in your case directly in the front-end.

[2018-03-21 11:11] Aurelsicoko commented on #474
This file is used to load the plugins into the administration panel (https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/app.js#L92). The administration panel, the plugins and the backend can be on different servers so it helps us to load the plugins correctly.

We did that to avoid the backend (API) to expose the installed plugins. However, there might have a better way t

[2018-03-21 11:17] Aurelsicoko commented on #672
@storm1er However, if you update the permissions, you need to restart the server if they are stored in a file. That's the main reason it was better for us to move the permissions in the database.

[2018-03-21 11:24] Aurelsicoko commented on #822
Can you make the necessary changes in the PR https://github.com/strapi/strapi/pull/705? We need to update the documentation as well.

[2018-03-21 11:25] Aurelsicoko commented on #823
As I already said in another issue, you can make the changes in the current PR #705, we will improve them 👍

[2018-03-21 11:29] abdonrd commented on #822
I'm afraid that in the short term, no. 😕

(I'm out on vacation 😅)

[2018-03-21 12:49] mittalyashu commented on #616
That didn't work for me.
![image](https://user-images.githubusercontent.com/29014463/37710669-5a297e44-2d34-11e8-9010-5618b6f49531.png)

[2018-03-21 13:15] Aurelsicoko commented on #616
@mittalyashu It seems that the server cannot connect to your MySQL database... It's not related to this issue. Make sure your MySQL database is running...

[2018-03-21 13:17] Aurelsicoko commented on #822
Oops... No worries, we will handle that. Let's this issue open and when we (or you) will have time we will make the changes!

[2018-03-21 13:34] wonknu opened #825 "User model lose his relations (one to one) when saved from the admin panel"
**Node.js version**: nvm with node v9.2.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: macos

Simple use / case from a fresh start strapi project

Step 1: Create a model **license** from the content type builder with a filed **name** (which is a string)
Step 2: On the User model create a relation one to one with the license model (license 1--1 user)
Step 3:

[2018-03-21 18:21] altteo opened #826 "Wrong CSS overflow for Windows"
**Node.js version**:
8.10.0

**npm version**:
5.6.0

**Strapi version**:
3.0.0-alpha.11.1

**Operating system**:
Windows 10, Windows Server 2008 R2, maybe all other Windows versions.
Any browser.

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Vertical scrollbar is always visible in the LeftMenuLinkContainer

**If the current behavior is a bug, ple

[2018-03-21 19:46] stunningpixels commented on #596
I am also experiencing this, with settings:
  "autoReload": {
    "enabled": true
  },

Node.js version:
v9.8.0

npm version:
5.6.0

Strapi version:
3.0.0-alpha.11.1

Operating system:
macOS 10.13.2 (17C88)

[2018-03-21 20:58] msgeissler commented on #787
@mnlbox Just to make sure: are other global packages working? Maybe there is a problem with the setup and the global packages are not correctly added to your PATH?`(e.g. https://stackoverflow.com/questions/15054388/global-node-modules-not-installing-correctly-command-not-found)

[2018-03-21 21:12] msgeissler commented on #724
@lamarena have you tried the command only from inside webstorm or also directly from a Windows / Mac console? Not sure if the webstorm IDE uses a custom console with custom PATH etc..

Node 8.4.0 is currently also not officially supported I think, not sure if that could cause the above error, especially since it did work at one point.

Can you elaborate on that? So you restarted your IDE and it di

[2018-03-22 04:37] mnlbox commented on #802
@soupette Any news about this?

[2018-03-22 11:52] soupette opened #828 "Cannot edit relation field"
**Node.js version**:
9.8
**npm version**:
5.7.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Create a relation with another content-type, try to edit the relation. The admin display a notification saying that this field is not editable
**If the current behavior is a bug, please provide th

[2018-03-22 13:40] #712 closed

[2018-03-22 14:02] mittalyashu commented on #616
So, how to connect the server to MySQL database?

[2018-03-22 19:13] wi4er commented on #815
Unfortunately cant choose this way. My SEO managers have different point of view on web apps.

[2018-03-22 19:15] wi4er commented on #815
I see only one solution. Is it possible to pass the access token through the cookie and then process it?

[2018-03-23 09:38] lauriejim commented on #826
Hi @altteo can you submit a PR to fixe it please.

[2018-03-23 09:44] lauriejim commented on #795
Hello @arnorhs . I would like to try your use case to give you to give you the best answer. Actually I don't have the time for it. I will do my best to did it rapidly.

[2018-03-23 10:00] lauriejim commented on #815
To did it you will have to update the policy `permission.js` of user and permission plugin.
And get your cookies with `ctx.cookies.get(...)`

[2018-03-23 10:00] #815 closed

[2018-03-23 10:34] Aurelsicoko commented on #616
@mittalyashu You need to install and run the MySQL on your own. You can use [Mamp](https://www.mamp.info/en/) (Mac) or [Wamp](http://www.wampserver.com/) (Windows) to easily run a MySQL database.

[2018-03-23 10:49] rockmandash opened #832 "Wrong file size shows MB instead KB"
![image](https://user-images.githubusercontent.com/7580792/37825461-da7940b0-2eca-11e8-8777-b8f78ef9886c.png)

[2018-03-23 11:27] #828 closed

[2018-03-23 12:29] Velua commented on #783
I've also found that when modifying a User account in the admin portal created via Postman I'll get a "
An error occurred during record update." toaster notification.

It appears it's making a PUT request to an undefined ID
`http://localhost:1337/content-manager/explorer/user/undefined?source=users-permissions `
This isn't the case when modifying a user in the admin portal, created by the admin po

[2018-03-23 12:50] storm1er commented on #672
@Aurelsicoko No you don't need to : Settings are stored in database, and when needed, you "click upload permission" to recreate / regenerate permissions files.

In our case, when restarting the server, it wouldn't care about what was in database, it recreate permission through files (to build the database settings).

More details on this workflow example :
[Drupal 8 - Configuration management](htt

[2018-03-23 15:37] lucaperret commented on #474
This is due to a limitation of Zeit now. Strapi will not be authorized to write models files on it.
@matheuss do you plan to implement file persistence on @zeit now ?

[2018-03-23 15:37] #474 closed

[2018-03-23 16:38] #804 closed

[2018-03-23 20:00] wonknu opened #837 "User list on click pagination is broken"
Node.js version: nvm with node v9.2.0

npm version: 5.6.0

Strapi version: 3.0.0-alpha.11.1

Operating system: macos

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When i have more than 10 users on the backend, if i click on pagination element like left arrow, 1, 2, 3 ..., right arrow the source is missing in the url which redirect to a blank page

[2018-03-24 16:27] forsetius opened #838 "Trigger server restart create/delete language settings manager plugin"
**Node.js version**:
v9.9.0
**npm version**:
5.6.0
**Strapi version**:
3.0.0-alpha11.1
**Operating system**:
Linux Mint 18.3 Cinnamon 64-bit

**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Deleting the language in Settings Manager has no long-term effect. It seems to be deleted but after refresh they are there again. Trying to add a language redirec

[2018-03-24 18:27] kopecmi8 opened #839 "Support JSON-LD"
**Node.js version**:
9.8.0
**npm version**:
5.6.0
**Strapi version**:
v3.0.0-alpha.11
**Operating system**:
Ubuntu 16.04.4

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Not implemented yet

**What is the expected behavior?**
I'm working on my master thesis with topic Web application for semantic data support (Semantic CMS), and I choosed Stra

[2018-03-24 19:09] itpcc opened #840 "User: Skipping password hash and contain plain password on the database"
**Node.js version**:
v8.10.0 LTS
**npm version**:
5.7.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
WIndows 10:
[code]

**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
I create the Strapi app using `strapi start`. When I adding a user via `http://localhost:1337/admin/plugins/content-manager/user/create?source=users-permissions`, `bc

[2018-03-25 11:03] lauriejim commented on #840
Hi @itpcc follow this issue https://github.com/strapi/strapi/issues/765
Thank you for this report.

[2018-03-25 11:04] #840 closed

[2018-03-25 15:18] TheWebsDoor opened #841 "It should be possible to link an existing file to an entity"
**Node.js version**:
8.9.3
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
If we want to attach an uploaded file to an entity, it's only possible in one way : first step is to create the entity and the second is to upload the file and pass the crea

[2018-03-25 17:58] TheWebsDoor opened #842 "Users permissions disappearance"
**Node.js version:**
8.9.3
**npm version:**
5.5.1
**Strapi version:**
3.0.0-alpha.11.1
**Operating system:**
MacOS 10.13.3

**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
Sometimes, users permissions disappear for no reason. All checkboxes are unchecked and we have to start to do the configuration all over again. And sometimes, even when we reche

[2018-03-25 20:03] lkostrowski opened #843 "Wrong file URL after upload"
**Node.js version**:
https://github.com/strapi/strapi-docker
(v9.8.0)

**npm version**:
https://github.com/strapi/strapi-docker
(5.6.0)

**Strapi version**:
https://github.com/strapi/strapi-docker
(3.0.0-alpha.11)

**Operating system**:
Docker

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After photo gets uploaded URL is copied to clipboard:
http

[2018-03-25 20:07] sorob opened #844 "Spread Operator not recognized by babel when building"
**Node.js version**: v9.9.0

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.11.1

**Operating system**: OSX

**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current behavior?**
After cloning and building the repo, generating a new project with --dev, linking the strapi in both root and admin forlder, I managed to create and debug my plugin successfully. Now wh

[2018-03-25 20:09] lkostrowski commented on #843
Not sure if this issue is more docker related (passing host to container) or resolving file path

[2018-03-26 06:40] tranthebao opened #845 "Request params layer validation"
**Node.js version**:
 v8.9.4
**npm version**:
v5.6.0
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
windows 8.1 64bit

**Do you want to request a *feature* or report a *bug*?**
I' want to validated when use to rest api.
When use action in controller ("Add") then input value >50(role settings is 30) and post it.
Result not return validate. How to support for me.
Thank you a lot of.
**Wh

[2018-03-26 08:43] #843 closed

[2018-03-26 09:03] lauriejim commented on #845
Hi @tranthebao what is the database you use ?

[2018-03-26 09:44] Aurelsicoko commented on #839
@kopecmi8 Wow... so much work done, I'm impressed! There are a lot of interesting ideas in your proposition especially the labels. Currently, we don't have a proper way to add labels to the administration panel.

However, I'm reluctant to put everything in our models. The models are the flattened representation of the database structure. It makes sense to define the type, the default value, the re

[2018-03-26 09:51] tranthebao commented on #845
yes, i'm using db mysql.

[2018-03-26 10:02] tranthebao opened #846 "Data relation creation from front-end application"
**Node.js version**:
v8.9.4
**npm version**:
v5.6.0
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
windows 8.1 64bit
Database : mysql
**Do you want to request a *feature* or report a *bug*?**
relation the table `author` and `book`(one-many). Front end, i'm create a form. When input data and submit. Data not insert two tables
**What is the current behavior?**
Can not insert record multi

[2018-03-26 10:03] WillyDolly opened #847 "Lost all data 2 times in content types with unknown reason"
**Node.js version**: 8

**npm version**: >5

**Strapi version**: 3.0.0-alpha.10.3
In all of the sudden, I lost all data in strapi admin, but content type builder still keeps schema. In second times, strapi even resets user permission as well. I think strapi is not stable framework to count on. Anyone knows the cause and solution? Thanks

**Operating system**:

**Do you want to request a *feature*

[2018-03-26 10:11] soupette commented on #847
Strapi is still in alpha, therefore, you might face some weird behaviors..

Could you please update your issue so we can reproduce the steps and fix the bug?

[2018-03-26 10:32] WillyDolly commented on #847
Hi soupette!
First of all, thanks for your team's work.
Now there are 2 major problems:
1. Data loss but schema remains intact. I had to recreate database. Not sure when the pain will come back.
2. In the same content type, I can not view or edit some records, only white page shown
If strapi keeps shaking like this, I have no choice but use Botman as replacement.
Hope you guys fix it up ASAP.

[2018-03-26 10:33] soupette commented on #847
Do you have any error shown in the console?

[2018-03-26 12:08] WillyDolly commented on #847
For problem #2, browser inspected :
 a.Could not locate webpack:///main.js specified in source map https://coca.chatbot.exnodes.vn/admin/users-permissions/main.js.map.
 b. can not get property "id" in plugins/content-manager/admin/build/main.js at row 21619

My solution for b: replace t.value.id by constant = 1. It solved the problem #2 but I didn't know why. When I got t.value.id back in place, p

[2018-03-26 13:06] ianrose commented on #710
@abulbisht what did you do to solve the issue?

[2018-03-26 13:34] storm1er commented on #672
@Aurelsicoko That's the idea !

About "_However, the risk is very high to forgot to export the permissions_"
You're right, but except in little project, most of the time it's highly unrecommended/prohibited to edit permission in prod, because we all know what happens when an intern have to edit something in prod :innocent:

Also, a BIG :+1: about display a warning in the BO telling " :warning: per

[2018-03-26 14:36] itpcc opened #849 "Login loop when create new Content Type, add non-exist field or table, and make relations to another content type using PostgreSQL as database"
**Node.js version**:
v8.10.0 LTS
**npm version**:
5.7.1
**Strapi version**:
3.0.0-alpha.11.1
**Operating system**:
WIndows 10:
[code]

**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
After creating new content-type using a 1-n relation with *User*, admin-page will be forced logged-out. When I tried to log in using root admin, it'll go to the dashb

[2018-03-26 14:38] itpcc commented on #849
I'm not sure it's related to #802 or not. But I hope it's not.

[2018-03-26 16:48] arnorhs commented on #795
ok, it can be reproduced in the latest version as well. i can also push a repro case to a remote branch on my fork if that would be easier for you.

[2018-03-27 08:11] soupette opened #850 "The sorting and limit options are not persisted in the ctm"
**Node.js version**:
v 9.
**npm version**:
v 5.6
**Strapi version**:
V 11.2
**Operating system**:
Mac OSX

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When createing a new entry in the content manager the `ListPage` settings are not persisted which means that the user is always redirected to the page 1, limit 10 and sort by id.

**If the current

[2018-03-27 09:02] forsetius commented on #802
I also encountered this bug. It seems there is general problem with many-to-one relations. I have it now with "Category has many Articles" and "Menu has many Articles". On the other note, one-to-many relationships have same problem too. I'm using the Admin to add the relations, perhaps the problem is due to adding the relation only at one side?

[2018-03-27 10:26] lucaperret opened #853 "Use npx in package's npm scripts"
A lot of binaries are call with their full path in the package.json ([example](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-upload/package.json#L11)).

In case you have the same dependency in the package itself and in the `strapi-helper-plugin`: it may be relevant if the package version of the called binary is different.
It's not the case in most of places, is there another

[2018-03-27 10:30] Duske commented on #514
Hey folks,
I had the same problem and could solve it by running `npm run setup --plugins` in the strapi directory.
Maybe it works for some of you as well!

[2018-03-27 11:28] #850 closed

[2018-03-27 13:00] mnlbox commented on #853
Maybe Related: #742

[2018-03-27 13:14] #826 closed

[2018-03-27 13:51] lucaperret commented on #853
ok, so mine is duplicated.

[2018-03-27 13:51] #853 closed

[2018-03-27 14:39] genthalili opened #855 "Database conector MSSQL"
**Node.js version**:
v9.9.0
**npm version**:
5.8.0
**Strapi version**:
strapi@3.0.0-alpha.11.1
**Operating system**:
ProductName:	Mac OS X
ProductVersion:	10.13.3

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
It there a way to connect strapi with Microsoft SQL Server database? If yes, can anyone share information how can I quickstart?

[2018-03-27 16:40] lauriejim commented on #847
@WillyDolly can you try with the latest version of Strapi.

[2018-03-27 16:44] lauriejim commented on #842
Hi @TheWebsDoor .

The checkbox `select all` is a little bit buggy so try to don't use it.

And about this issue, we have to found steps to reproduce it ...

[2018-03-27 16:53] lauriejim commented on #845
What you want is a validation layer in the router ?

[2018-03-27 16:56] lauriejim commented on #841
@Aurelsicoko told me it's possible. I let him answer you.

[2018-03-27 17:00] lauriejim commented on #838
Yes you are right.

It's not an hard issue to fix. I think you can fix it and submit a PR.
If you have any question on how to did it, maybe @soupette can help you.

[2018-03-27 17:02] lauriejim commented on #837
Fixed here https://github.com/strapi/strapi/pull/851/commits/37eedd5747cb383865aaecd50a3aa3092c56175a

[2018-03-27 17:02] #837 closed

[2018-03-27 17:04] #816 closed

[2018-03-27 17:07] lauriejim commented on #810
Hey @mnlbox feel free to add it and submit a PR. That's a good idea ;)

[2018-03-27 17:07] #806 closed

[2018-03-27 17:08] lauriejim commented on #806
It's release 👍

[2018-03-27 17:13] lauriejim commented on #787
Hi @mnlbox you still have your issue ?

[2018-03-27 17:18] lauriejim commented on #785
Hi @alexsteele110 can you please give us an update about this.

[2018-03-27 17:21] lauriejim commented on #783
We fixed it and we release it today.

[2018-03-27 17:21] #783 closed

[2018-03-27 17:40] #780 closed

[2018-03-27 17:44] lauriejim commented on #779
If you do the same actions on your local machine it works ?

Actually no idea. We have to investigate on it.

[2018-03-27 17:45] nborko commented on #644
This issue should probably remain open since the documentation does not state that these commands are broken nor provide the alternative mentioned in this issue.  I had to search the closed issues to find this.

[2018-03-27 17:49] nurikabe commented on #842
I've experienced loss of user permissions as well.  It seems to occur somewhat routinely in the following case:

1.  Work on a model with "auto server reload" active
2.  If there is a crash while editing a model, the server fails to auto reload
3.  Forcibly reload the server and in many cases user permissions have been lost

My *guess* is that Strapi may be (needlessly?) cascade re-persisting user

[2018-03-27 17:51] lauriejim commented on #770
@asharamseervi It's had to be blocked in production.

[2018-03-27 18:02] lauriejim commented on #842
I close this issue, it' a duplicate of this one: https://github.com/strapi/strapi/issues/736

[2018-03-27 18:02] #842 closed

[2018-03-27 18:05] #734 closed

[2018-03-27 18:07] lauriejim commented on #727
@Moomboh Can you give me an update about my last message please.

[2018-03-27 18:07] abdonrd opened #858 "npm run setup doesn't work in 3.0.0-alpha.12"
**Node.js version**: v9.8.0
**npm version**: 5.8.0
**Strapi version**: 3.0.0-alpha.11.2
**Operating system**: macOS

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

<img width="1031" alt="screen shot 2018-03-27 at 20 03 22" src="https://user-images.githubusercontent.com/1007051/37985904-562d04a8-31fa-11e8-9bcc-b8111925cd0b.png">

**If the current

[2018-03-27 18:09] #722 closed

[2018-03-27 18:19] lauriejim commented on #698
Can you guys give us an update about this issue and logs of `.orm` value.

[2018-03-27 18:20] lauriejim commented on #682
Hi @joeinnes can you give me more details please.

[2018-03-27 18:26] abdonrd commented on #858
@lauriejim but I have had this issue using Node v9.8.0.

[2018-03-27 18:30] lauriejim commented on #644
@nborko Yes you are right !

[2018-03-27 18:34] lauriejim commented on #622
@henriollik has we can see, it's not an issue from Strapi that's why we set `help wanted` label. If you are not working on it I close this issue.

[2018-03-27 18:34] #622 closed

[2018-03-27 18:37] lauriejim commented on #511
Hey guys some news about this issue ?

[2018-03-27 18:40] lauriejim commented on #481
If you still need it, submit a PR with this little check :)
Will appreciate your contribution !

[2018-03-27 18:57] jvanegasv opened #859 "Custom primaryKey on MySQL"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.11.2

**Operating system**: OSX 10.13.3

I already have a MySQL database with tables that don't follow the convention 'id' for primary, how can I indicate the appropriate idAttribute for the table into the model definition (table.settings.json) and also how to indicate it into the relationships with other tables..

[2018-03-27 20:48] joeinnes commented on #682
Hi,

Afraid not. I gave up.

Best regards,

Joe

http://joeinn.es

On 27 March 2018 at 20:20, Jim LAURIE <notifications@github.com> wrote:

[2018-03-28 04:26] oeddyo commented on #630
where's the vote? I'd love to vote for ts :D

[2018-03-28 05:34] oeddyo opened #860 "Multiple relationships on different models with the same name is not allowed"
**Node.js version**:
9.0.0
**npm version**:
5
**Strapi version**:
3.0.0-alpha.11.2
**Operating system**:
Mac OS 10.12

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
A model "Brand" has many "Bag" (1:N), with "producer" and "bags" respectively
then I'm adding a "family" type
A family has many Bags too. (family: bag is 1:N)
but when i'm trying to cre

[2018-03-28 05:36] oeddyo commented on #860
[api.zip](https://github.com/strapi/strapi/files/1854677/api.zip)

here's the api zip

[2018-03-28 06:00] oeddyo opened #861 "Possible to use numerical (sequential) id?"
I understand if the underlying db is mongodb, it might be difficult to use numerical id. but it would be SEO friendlier. Just wondering if this is possible (didnt find it in admin panel)

[2018-03-28 06:52] piere129 commented on #855
I did it using the following in MySQL:

1) create strapi app with MySQL database and specify db config when asked (database name, port, ...)
2) create a content type (f.e. : 'product') which contains a field (f.e. : a string called 'name');
3) As Strapi is currently configured, you MUST create the table for your new content-type yourself. There are a few things to keep in mind for this:
- creating

[2018-03-28 07:12] piere129 opened #862 "Adding support for MySQL relationships?"
**Node.js version:**
9.8
**npm version:**
5.5.1
**Strapi version:**
3.0.0-alpha.11
**Operating system:**
Windows 10

**Do you want to request a feature or report a bug?**

request a feature

**What is the current behavior?**

Relationships added to content-types are always two-way and requires the specification of 2 variables, one for each of the content-types. I assume these are supposed to be th

[2018-03-28 08:50] piere129 opened #863 "Filtering on request url doesn't work"
**Node.js version**:
9.8
**npm version**:
5.5.1
**Strapi version**:
3.0.0-alpha.11
**Operating system**:
Windows 10

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

creating an url request with a filter (f.e.: `/product?name=bike`) gives the following error:
`[2018-03-28T08:44:04.103Z] error The operator "undefined" is not permitted
[2018-03-28T08

[2018-03-28 09:19] tranthebao commented on #845
i'm see loopback when do method post then error server api return error.
you can reference to adrress loopback.io

[2018-03-28 09:23] abdonrd opened #864 "Forgot password doesn't work: 502"
**Node.js version**: v9.8.0
**npm version**: 5.8.0
**Strapi version**: 3.0.0-alpha.11
**Operating system**: macOS

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Forgot password doesn't work.

After 2min waiting for `POST /auth/forgot-password`, the response is:

**If the current behavior is a bug, please provide the steps to reproduce the proble

[2018-03-28 09:33] abdonrd opened #865 "Add authSource & ssl options to the admin panel"
Add the new `authSource` & `ssl` options to the admin panel.

![screen shot 2018-03-28 at 11 32 35](https://user-images.githubusercontent.com/1007051/38020911-c4bcdd68-327b-11e8-840e-1057546447f9.png)

Also, the `uri` field does not appear either.

Reference: https://github.com/strapi/strapi/pull/753.

[2018-03-28 09:35] abdonrd commented on #865
By the way, I just see a typo. It should be `Database`.

![screen shot 2018-03-28 at 11 32 35](https://user-images.githubusercontent.com/1007051/38021000-0989c302-327c-11e8-9bb7-835f893e9788.png)

[2018-03-28 10:24] elmustaphah opened #866 "Unhandled Promise Rejection and folder not created"
**Node.js version**:
v8.10.0
**npm version**:
5.8.0
**Strapi version**:
3.0.0-alpha.11.2
**Operating system**:
Mac OS High Sierra
Version 10.13.3
**Do you want to request a *feature* or report a *bug*?**
feature-> Online instructions do not describe my results
**What is the current behavior?**
Unable to create a new Strapi project
**If the current behavior is a bug, please provide the steps to rep

[2018-03-28 10:59] sravanireddyl opened #867 "Need option to save default values for content Type"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
No option to add default value
**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**
Need option to add default value for a field name

[2018-03-28 11:20] ArkhipovK commented on #862
You also may use one-to-one relation. But it is impossible to render realtion fields now.

[2018-03-28 11:24] Jlowery1492 opened #868 "How hacker can see what u doing on your phone"
**Node.js version**:

**npm version**:

**Strapi version**:

**Operating system**:

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce the problem**

**What is the expected behavior?**

[2018-03-28 11:43] #868 closed

[2018-03-28 11:45] Jlowery1492 commented on #868
How can i stop it

[2018-03-28 11:59] tapvt commented on #698
I explicitly `unset NODE_ENV` to re-create my earlier issue. Here's the output w/ a `console.log()` of just `.orm()`

Looks good to me.

[code]

[2018-03-28 13:52] lauriejim commented on #867
We are working on it here https://github.com/strapi/strapi/pull/848

[2018-03-28 15:06] kervi commented on #194
I would like inheritance too.
An example could be a page structure.

[code]
note "definition" above is of curse the normal strapi definitions for fields.

I would be able to generate a menu via site.pages and know that all page types have a title.

[2018-03-28 15:51] #682 closed

[2018-03-28 16:49] lauriejim commented on #864
Okay @abdonrd, I will check that :shipit: !

[2018-03-28 16:55] piere129 commented on #863
My bad, I forgot to mention that I use MySql server! I'll update my Strapi to see if it works

[2018-03-28 17:06] 99darwin commented on #783
This is not fixed in 3.0.0-alpha.11.2

[2018-03-28 17:15] Jlowery1492 commented on #798
D

[2018-03-28 17:16] Jlowery1492 commented on #798
What can i do about

[2018-03-28 18:12] abdonrd commented on #858
Only as suggestion, I propose to move it to `v3.0.0-alpha.11.3`, because it starts to fail in `v3.0.0-alpha.11.2`. With `v3.0.0-alpha.11` works well.

[2018-03-28 19:06] yosbelms commented on #126
Since this issue is still open I will respond the questionnaire.

**1. What do you think about this new vision?**
Answer: Good to start.

**2. What Node.js framework would you use: Hapi vs Koa2?**
Answer: Koa2. It is fast, and stable enough for production.

**3. What downloadable plugins would you like first?**
Answer: Swagger API generator. Multitenancy.

**4. What SaaS plugins would you like fir

[2018-03-28 20:39] abdonrd opened #870 "The updatedAt field is not working"
**Node.js version**: v9.8.0
**npm version**: 5.8.0
**Strapi version**: 3.0.0-alpha.11
**Operating system**: macOS

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The `updatedAt` field is not working.

**If the current behavior is a bug, please provide the steps to reproduce the problem**

I have a model with the:

[code]

But when I update a regi

[2018-03-28 21:43] Dane411 opened #871 "Strapi generate new error ...databaseChoice.value"
**Node.js version**: v6.10.2
**npm version**: 5.8.0
**Strapi version**: 3.0.0-alpha.11.2
**Operating system**: Win 8.1 (x64)
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
error Invalid `new` generator.
C:\Users\Current\AppData\Roaming\npm\node_modules\strapi\node_modules\strapi-generate-new\lib\before.js:125
          ...databaseChoice.value

[2018-03-29 00:49] Jlowery1492 commented on #752
How we going  get slug out

[2018-03-29 00:51] Jlowery1492 commented on #752
This hacked  control  my phone  she to what want see

[2018-03-29 00:51] Jlowery1492 commented on #752
This hacked  control  my phone  she to what want see

[2018-03-29 08:30] soupette commented on #871
Could you try after upgrading to node v.9?

[2018-03-29 09:14] forsetius commented on #838
Well, I tried it but it's not enough.
In `./plugins/settings-manager/controllers/SettingsManager.js` at line 149 (`deleteLanguage` function just before closing `}`) I've added:
[code]
and it triggers server restart but after refreshing the page, deleted languages are back there. It seems that somehow `createLanguage` function is called with its
[code]

BTW: I've found another bug while trying to f

[2018-03-29 09:19] lauriejim commented on #783
You can now define default role in > Roles & Permissions > Advanced settings > Default role for authenticated users.

So when you use register route, it will automatically apply this role to your new users

[2018-03-29 11:34] abdonrd opened #875 "The server restart doesn't work"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.8.0
- **Strapi version**: 3.0.0-alpha.11.1
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The server restart doesn't work.
I had never seen the server restart until your [blogpost](https://blog.strapi.io/release-v3-alpha-11-file-upload/) gif.

**Steps to reproduce the problem**

![mar-2

[2018-03-29 14:23] pedrosimao opened #876 "Change "unique" fields to non unique will update the model but not the MondoDB collection index"
**Informations**

- Node v9.7.1
- npm 5.6.0
- Strapi 3.0.0-alpha.11
- MongoDB
- Ubuntu

**What is the current behavior?**
When changing a field from unique to non-unique the change is not made on the MongoDB schema. So whenever we try to POST a new document with same field value as an existant document MongoDB will reject the query, even though Strapi allows it.

**Steps to reproduce the problem**

[2018-03-29 14:41] itpcc commented on #849
## Additional info.

I found while creating (custom) relation between `User` and my custom content type. (I'll use `Events` for the example. ) If I type value of  `collection` or `via` wrong, the admin page will loop redirect as I mention.

[2018-03-29 14:55] piere129 commented on #863
Update: I installed the newest Strapi version and tried again. Unfortunately the error persists. Is it possible using a MySQL database causes this? As I stated before, using the _sort, _limit or _start operators works like it should.

[2018-03-29 15:35] tranthebao commented on #846
so. i cant example it. you can support it. thanks!

[2018-03-29 16:51] ConsoleTVs commented on #871
![image](https://user-images.githubusercontent.com/6124435/38101995-310dd7d6-3382-11e8-989d-12a54de084a7.png)

NPM 5.8.0

[2018-03-29 17:34] 99darwin commented on #783
Under Advanced Settings I see two options:
1. One account per email address (on/off switch) currently switched "ON"
2. Enable sign-ups (on/off switch) currently switched "ON"

I'm pretty confident I upgraded from 11.1 to 11.2 correctly as my log prints ```debug Version: 3.0.0-alpha.11.2 (node v8.10.0)``` but maybe I missed something?

[2018-03-29 20:38] lauriejim commented on #783
It has been released in alpha.11.3

[2018-03-30 01:38] wcorrea commented on #855
Also, for MySQL,
use lowercase letters only for columns names
SET GLOBAL sql_mode = 'NO_ENGINE_SUBSTITUTION';
to avoid problems with updated_at and created_at columns when getting populated

[2018-03-30 05:15] sapkra commented on #767
Is there a pull-request for it?

[2018-03-30 07:47] oeddyo opened #877 "Nested type (with File) returns null in API"
BUG

**Informations**
- **Node.js version**:9.0.0
- **npm version**: 5.0.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: Mongo
- **Operating system**: Mac OS 10.12

**What is the current behavior?**
I created a model

Picture
and the intention is to include a "description" field in it so I can describe the image file.

However when I'm getting the Picture object nested in another model, i

[2018-03-30 07:48] oeddyo commented on #877
[api 2.zip](https://github.com/strapi/strapi/files/1862985/api.2.zip)

my model attached

[2018-03-30 09:13] #855 closed

[2018-03-30 09:26] lauriejim commented on #863
I think it's probably coming from bookshelf models.

Can you log `convertedParams` in your api service fetchAll function. It's possible the bug come from here.

It's could be great if you are able to find with logs where the bug come from, fix it and submit a PR.

[2018-03-30 09:27] Aurelsicoko commented on #841
This behaviour will be handled by the Media Library plugin. It wasn't the goal of the Upload plugin to manage the links between entities and files. However, we anticipated it, that's all we did.

[2018-03-30 09:33] lauriejim commented on #876
Hi @pedrosimao.

The way to fix it for your app is to update you MongoDB collection schema manually.

Actually, we are not updating mongodb or sql database advanced settings like required, unique... (we just did it on mongodb when you create your content type)

Fill free to implement this feature on Strapi and submit a PR

[2018-03-30 09:34] Aurelsicoko commented on #859
Try to add the `primaryKey` attribute in your model, it should work
[code]

[2018-03-30 09:37] Aurelsicoko commented on #861
We are not going to handle this, it's too specific for us. However, there is a solution to this issue https://docs.mongodb.com/v3.0/tutorial/create-an-auto-incrementing-field/

[2018-03-30 09:37] #861 closed

[2018-03-30 09:40] Aurelsicoko commented on #194
It makes sense. It's not a priority for us, we can still use Strapi without the inheritance. However, I agree that it could be great to be able to handle it. If you make a PR, we would be happy to merge it!

[2018-03-30 09:40] lauriejim commented on #877
Hi @oeddyo you will have to update your API service and update the way we populate data.
You will have to handle a deep populate.

Check the MongoDB documentation http://mongoosejs.com/docs/populate.html#deep-populate

[2018-03-30 10:54] oeddyo commented on #877
hmm... I dont think currently I have the bandwidth or knowledge to do that. maybe someone more knowledgable can take this : )

BTW I guess the other fields for File shall be editable from admin? Otherwise there's no point adding "ext" etc fields in File. Can we add those fields editable in admin instead? If so I don't need this nested populate for now which would be awesome

[2018-03-30 13:54] AlexCraftt opened #880 "list of content types does not fit on the screen"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: MongoDB
- **Operating system**: windows 10.0.16299

**What is the current behavior?**
without changes: list of content types does not fit on the screen
**Steps to reproduce the problem**
create this issue
**What is the expected behavior?**
list of content types should be d

[2018-03-30 13:57] AlexCraftt commented on #880
screen resolution 1920x1080 pix

[2018-03-30 14:06] Aurelsicoko commented on #880
Wow! We never imagined an API with so many models... It should be easy to handle with some front-end updates.

[2018-03-30 14:08] AlexCraftt commented on #880
total number of content types in content type builder - 38 units

[2018-03-30 14:08] AlexCraftt commented on #880
я бы хотел добавить еще )

[2018-03-30 14:11] AlexCraftt commented on #880
browser: Google Chrome 65.0.3325.181 (Official assembly), (64 bit)

[2018-03-30 14:15] AlexCraftt commented on #880
This is a test build for the site about works of art. You can watch it on the github: https://github.com/AlexCraftt/vg

[2018-03-30 14:15] AlexCraftt commented on #880
This is a test build for the site about works of art. You can watch it on the github: https://github.com/AlexCraftt/vg

[2018-03-30 14:18] AlexCraftt commented on #880
I think that in "combat conditions" many more types of content (models) can be used, but I will try to optimize it. I'm interested in the project, while I'm testing, trying to understand the limits of possibilities

[2018-03-30 14:23] AlexCraftt commented on #880
I would like to see the inheritance of models in the API, use content types as parent and child )

[2018-03-30 14:44] renatomattos2912 commented on #778
Yes, for now i'm using node 8.9 without problems, if i find any problem i will try to solve and open a pull request. But i think that is important to keep this project compatible with LTS version cause it make the project more acceptable. Think in a case where the strapi will run in the same server as other APIs and Apps and all this other projects needs latest LTS version, this will be a good rea

[2018-03-30 18:01] jikotw74 commented on #680
same issue here with APP_PATH error

[2018-03-30 20:50] 99darwin commented on #783
I'll wait for 11.3 to be released then. Thank you.

[2018-03-31 00:46] oeddyo commented on #880
+1
thanks for bringing this up. We also experienced this : )

[2018-03-31 01:06] wadeziegler commented on #636
I have a problem where the database is accessible while creating the app and then it will not start.

`[2018-03-30T02:07:58.036Z] info Creating your application... It might take a few seconds.
[2018-03-30T02:07:58.178Z] info Lets configurate the connection to your database:
 Choose your main database: MongoDB (highly recommended)
 Database name: strapi
 Host: 127.0.0.1
 Port: 27017
 Username:
 Pas

[2018-03-31 01:17] wadeziegler opened #883 "Mongo SSL connection option in production env"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: Mongo v3.2.19
- **Operating system**: Ubuntu 14.04.2 LTS

**What is the current behavior?**
My first app failed to run stating that mongo is not running. Mongo is running, and in fact the app generator is able to connect to it and generate the app.

**Steps to reproduce t

[2018-03-31 13:10] #880 closed

[2018-03-31 13:17] lauriejim commented on #783
Oups @99darwin it's `alpha.11.2`.
Can you try to create a new project with `alpha.11.2` and check advanced settings of Role & Permissions

[2018-03-31 23:38] keyus4 commented on #736
I am also having the same issue. User permission disappears and doesn't save even when i re-add the permissions. so frustrating

[2018-03-31 23:56] keyus4 commented on #680
@jikotw74 please can you give more info on how you resolve the APP_PATH issue before you encountered another error issue.
you said you resolved it with

cross-env APP_PATH=$APP_PATH npm run build:dll ......

how exactly?

[2018-04-01 00:21] jikotw74 commented on #680
use cross-env
`npm install cross-env -g`

replace all `node ./node_modules/SOME/PATH cross-env` with `cross-env` in stripts of package.json

[2018-04-01 02:51] mnlbox opened #884 "Add automatic data migration support"
Hi guys. I think if we have a authomatic migration approach (for example like migration with *.js approach in [rocketchat](https://github.com/RocketChat/Rocket.Chat/tree/develop/server/startup/migrations) app) we can use Strapi more easy in production.

[2018-04-01 03:09] keyus4 commented on #680
@jikotw74 I have also tried using cross-env. After installing npm install cross-env -g and effecting the changes inside package.json, I also got this error

XXXX@XXXX-PC MINGW32 /c/strapi
$ npm run setup

npm notice created a lockfile as package-lock.json. You should commit this file.
up to date in 32.956s

�  The setup process can take few minutes.

�  Linking strapi-utils...
✅  Success

�  Linki

[2018-04-01 04:03] derrickmehaffy commented on #680
Just as a small suggestion if you plan on developing on Windows and are using Windows 10 I would highly recommend using the WSL for ubuntu or whatever distro.

https://docs.microsoft.com/en-us/windows/wsl/install-win10

Its not a clean and clear cut way to work on strapi on windows but should cut out most of these issues until they setup proper windows support.

[2018-04-01 05:08] jikotw74 commented on #680
I did try Ubuntu on Windows.
But there are still problems.
@derrickmehaffy Thank you.

[2018-04-01 12:31] #726 closed

[2018-04-01 15:03] ChristopherJohnson25 commented on #784
What's the status on this? Would love to have this flexibility.

[2018-04-01 17:31] caoer opened #885 "Use yarn workspace"
Just a suggestion, is there any plan to use yarn workspace, it does look promising.
Here is some related references:

* [How to use yarn workspaces with Create React App and Create React Native App (Expo) to share common…](https://medium.com/viewsdx/how-to-use-yarn-workspaces-with-create-react-app-and-create-react-native-app-expo-to-share-common-ea27bc4bad62)
* [Workspaces | Yarn](https://yarnpkg.

[2018-04-01 21:37] chiqui3d commented on #126
5. What front-end framework should we use for the extendable admin panel:
Answer: Vuejs

[2018-04-02 06:43] bugvish commented on #863
Quick fix:
For each API (aka "Content Type") generated through the Content Type Builder, edit line 28 of /api/{content-type}/services/{content-type}.js as follows:

Replace
        qb.where(key, where.symbol, where.value);
with
        qb.where(key, where[0].symbol, where[0].value);

[2018-04-02 08:10] soupette commented on #126
@chiqui3d the core members chose to go with React for the admin

[2018-04-02 08:15] soupette commented on #784
@ChristopherJohnson25  thanks to @abdonrd the backend supports it but the admin not yet.
There is two parts for the admin to supports this functionality :
- creating a new field type in the `content-type-builder` plugin
- modifying the `content-manager` so it will display the correct form.

If you feel like so maybe you can submit a pull request for the `content-manager`, the plugin has been entir

[2018-04-02 08:45] XcrossD opened #886 "Loose relations one to many relation"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.11.1
- **Database**:
MongoDB
- **Operating system**:
Windows 10

**What is the current behavior?**
One to many relation is causing error on saving.

**Steps to reproduce the problem**

1. Create content type "product"
![product](https://user-images.githubusercontent.com/6669029/38189521-3bde3f0

[2018-04-02 09:31] lauriejim commented on #864
@abdonrd Did you check what is the response of the email plugin service.
I think it could coming from the node module we use.

[2018-04-02 09:40] lauriejim commented on #863
@piere129 or @bugvish The issue come from this function https://github.com/strapi/strapi/blob/master/packages/strapi-utils/lib/models.js#L443
That render an array for bookshelf where `type === "="`

The good way to fix it is to investigate here https://github.com/strapi/strapi/blob/master/packages/strapi-bookshelf/lib/index.js#L601
And send an object instead of array.

[2018-04-02 10:33] soupette commented on #844
You should run `npm run build` in your app directory instead of the strapi's repository

[2018-04-02 10:36] umarfarook882 commented on #126
5. What front-end framework should we use for the extendable admin panel:
Answer: I suggest **Vue Js**, its simple and getting better in front-end frame works.

@soupette  is there any specific reason why the core members choose to go for React JS?

[2018-04-02 11:10] abdonrd commented on #844
It seems the same problem as https://github.com/strapi/strapi/issues/858.

[2018-04-02 16:48] havard024 opened #888 "Model: beforeDestroy and afterDestroy does not trigger"
Node.js version: 8.9.4
npm version: 5.6.0
Strapi version: 3.0.0-alpha.11.2
Operating system: macOS Sierra
MongoDB server version: 3.6.3 (running locally)

When deleting a model from the admin panel, beforeDestroy and afterDestroy does not trigger.
According to #339 the issue should have been resolved.

I've added the following code in `api/product/models/Products.js`

[code]

Create and update wor

[2018-04-02 21:08] abdonrd opened #891 "Document how to create a new login provider"
**What is the expected behavior?**

I want to add a new login provider.
There is no documentation about that, right?

---

- ✅ I'm sure that this issue hasn't already been referenced

[2018-04-02 21:32] abdonrd commented on #864
@lauriejim I have to investigate it better since I have just verified that it works locally.
Where it fails is in the online version (on IBM Cloud).

[2018-04-03 07:54] mnlbox commented on #786
@Aurelsicoko so I think it's better to add this to https://strapi.io/vote page for vote from community. :thinking:
Are you agree?

[2018-04-03 07:56] mnlbox commented on #849
@itpcc yes I think it's related to #802 too.

[2018-04-03 08:07] Aurelsicoko commented on #786
@mnlbox Yes, @pierreburgy added it 👍

[2018-04-03 08:11] #844 closed

[2018-04-03 08:25] mnlbox commented on #794
@lauriejim I want update my Strapi again but I faced new problem. My update process done completely without any issue but after run `strapi new myProject` I got this error:
[code]
And when I try to run my app I got another error about **Lodash** installation:
[code]

And again It's fixed again after run `npm cache clean --force` why I need clear my cache every time for update CLI?
Is it normal? :t

[2018-04-03 08:30] mnlbox opened #893 "Error after run when use exist database in create project"
**Informations**
- **Node.js version**: v9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: MongoDB v3.6.3
- **Operating system**: Linux Mint 18.1

**What is the current behavior?**
Hi,
I run `strapi new myProject` create a Strapi project and use an exist database (default db name: strapi) and run it but after browse to `/admin` for create admin user I redirected

[2018-04-03 08:37] mnlbox commented on #787
@lauriejim No I can install Strapi successfully now but I have two other issue with CLI tool: #794, #893

[2018-04-03 08:43] mnlbox opened #894 "https://strapi.io/vote needs a little update"
Hi guys,
I check https://strapi.io/vote page today and it seems that it's need some update. For example `Plugin - Upload` now finished and some new idea expressed recently in issues:
https://github.com/strapi/strapi/labels/type%3A%20feature%20request%20%F0%9F%99%8F

[2018-04-03 08:43] lauriejim commented on #864
We use `sendmail` node modules by default in `email` plugin. But it doesn't use SMTP server and I think your email are blocked.

So for production application I suggest to use something like `nodemailer` and set an approved SMTP server.

[2018-04-03 09:26] lauriejim commented on #888
Hi @havard024, `remove` life cycle is not triger on `Model.remove()`.
Can you try to find why `findOneAndRemove` is triger on `Model. findOneAndRemove()` and not `remove`.

We set mongoose life cycle here https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/index.js#L129
It's here `remove` is called on content manager  https://github.com/strapi/strapi/blob/master/packages/stra

[2018-04-03 09:36] lauriejim commented on #891
Actually there is no documentation about this point.

Your provider is in this list ? https://github.com/simov/grant

[2018-04-03 09:40] lauriejim commented on #893
Hi @mnlbox, you try with an existing database or a new one ?

[2018-04-03 09:47] #787 closed

[2018-04-03 09:50] lauriejim commented on #794
@mnlbox if you switch between local and npm installation, you will have to ren `npm i strapi@alpha -g` two times.

What is you actual version of Strapi ?

[2018-04-03 10:42] lauriejim commented on #863
@piere129 Fixed here https://github.com/strapi/strapi/pull/895 will be publish on the next version of Strapi

[2018-04-03 12:09] #863 closed

[2018-04-03 17:32] 99darwin opened #900 "Customize admin left menu"
*FEATURE REQUEST*

**The problem**
Say you have 5 content types that all render on one page, currently there is no way to organize them all into one overarching group.

**What is the expected behavior?**
Allow for the organization of content types into categories.

Proposed structure may look something like this:

[code]

My team and I are working on this feature [here](https://github.com/99darwin

[2018-04-03 17:36] abdonrd commented on #891
No, I need to use the [Grant - Custom Providers](https://github.com/simov/grant#custom-providers). 😞

[2018-04-03 18:59] abdonrd commented on #864
@lauriejim for that it is necessary to modify the plugin itself, right? I don't see any configuration option.

[2018-04-03 19:37] abdonrd commented on #858
Maybe the bug is from #773, since it is the moment in which file `strapi-plugin-users-permissions/services/UsersPermissions.js` was edited.

[2018-04-04 01:26] oeddyo commented on #900
Is it possible to add a "contentType" field on your article, then rendering differently based on the contentType field?

[2018-04-04 05:56] mnlbox commented on #794
@lauriejim No I have only a global npm installation. I want update from 3.0.0-alpha.11.1to 3.0.0-alpha.11.2

[2018-04-04 06:01] mnlbox commented on #734
@lauriejim sorry I see your comment now. What model file you need?
Please reopen this man. :wink:

[2018-04-04 09:28] doublemarked opened #902 "Mongo models fetch strips empty object properties"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: mongo
- **Operating system**: MacOS

**What is the current behavior?**
I have a content type that contains a JSON property, an array of objects. The objects in this array contain a property "options" which is initialized as blank, i.e.  something like:
[code]

The record

[2018-04-04 11:37] lauriejim commented on #794
So it works now ?

And cache problems come from your npm, I don't think it's come from Strapi.

[2018-04-04 11:54] lauriejim commented on #864
Yes that's it.

[2018-04-04 12:50] mnlbox commented on #893
@lauriejim I edited above question (add new info)
Also I try with an existing database.

[2018-04-04 12:55] mnlbox commented on #794
It's work but I need clean my npm cache every time. I have some other npm in my system and none of them has this issue and my other global packages works well. :thinking:

[2018-04-04 14:04] pakulin commented on #767
3.0.0-alpha.11.2
@lauriejim same error with mysql

also would be nice to add migration command and not throw at people SQL in console
and in _new_ command what the purpose of asking db connection params if it then asks to run queries? Db init should be moved to separate command with db create query and not stop project creation

[2018-04-04 14:12] alexsteele110 commented on #785
Updated to version 3.0.0-alpha.11.2 and still getting the same error as before

[2018-04-04 16:20] lauriejim commented on #893
We change default roles between `11.1` and `11.2` I think it's come from this point.
I think you will have to reset you roles collection and user's role relation.

[2018-04-04 16:25] lauriejim commented on #767
Hi @pakulin can you fix it and submit a PR as did @sapkra for previous issue.
Tank you :D

[2018-04-04 17:30] alexsteele110 commented on #785
`C:\Users\Alex Work\projects\strapi\my-strapi-app`

[2018-04-04 17:47] tapvt commented on #765
@lauriejim, is this resolved on `alpha.11.2`?

Just upgraded my staging server to that version and still encountering the plaintext password when I query the DB directly, so I suppose it is not?

[2018-04-04 18:02] latata opened #904 "Why there are two id fields in model documents - `id` and `_id`?"
I'm new to strapi and Mongo. Can someone explain me why there are two identifier fields in model documents `_id` and `id`? I know that _id is automatically created by MongoDB but I don't understand why there is `id` field as well? I also don't know where it's set in strapi backend and some of my created model documents (probably these created directly by API) don't have the `id` field. It is causi

[2018-04-04 18:43] abdonrd commented on #891
Besides these files, what else do I need to modify? Something escapes me.

[code]

[2018-04-05 05:36] mnlbox commented on #893
Yes It's fixed with your guide. I think #904 also related.

[2018-04-05 05:37] #893 closed

[2018-04-05 08:54] lauriejim commented on #765
Did you update your `users-permission` plugin following the migration guide (in the documentation) ?

[2018-04-05 09:00] oeddyo opened #905 "Add `enum` type in admin panel (content type builder & content manager)"
*FEATURE REQUEST TEMPLATE*
Add category (enum) type
**What is the expected behavior?**
This seems like a very common use case. For instance, I'd like to add the field "type" to my "Computer" class. They can be "Laptop", "Mainframe" or "PC" but not anything else.

---

- [x] I'm sure that this issue hasn't already been referenced