[2018-12-23 00:01] johndows commented on #2072
How can this be a intended feature?
We can't add new fields online, having a user doing it

[2018-12-23 01:07] derrickmehaffy commented on #2524
good catch, I wrote the patch for that half asleep lol. If you want to submit a PR to get credit for the code by all means go for it 😄

[2018-12-23 03:43] arkoblog opened #2525 "New content type"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

[2018-12-23 03:43] #2525 closed

[2018-12-23 05:03] arogyakoirala opened #2527 "Support for GeoJSON Content Type"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

### Background

**Context**
I have been working over the last few days with the strapi code-base add support for geographical data types (GeoJSON, to be more precise).

[2018-12-23 08:44] gonzochic commented on #2491
@sontranhcm
I have the same issue on Linux (Ubuntu 16.04).

I have a required filed of type decimal, and it errors when I am adding new items

[code]

Node.js version: 10.10
NPM version: 6.4.1
Strapi version: 3.0.0-alpha.17
Database: MongoDB version 4.0.2

[2018-12-23 09:45] sontranhcm commented on #2491
I use docker strapi on docker hub and still get the same error. Seem it's a bug of strapi.

[2018-12-23 13:04] lauriejim commented on #2521
Hello please follow the [documentation example](https://strapi.io/documentation/3.x.x/guides/graphql.html#update-an-existing-entry) to update an entry with GraphQL.

I just try to update to `null` with REST API and GraphQL and it works well.

Let me know if you have a question.

[2018-12-23 13:04] #2521 closed

[2018-12-23 13:07] lauriejim commented on #2377
=> https://github.com/strapi/strapi/issues/2522

[2018-12-23 13:16] lauriejim commented on #2482
Ho okay I see!
This issue is about your need https://github.com/strapi/strapi/issues/1114

Thank you for your feedback.

[2018-12-23 13:16] #2482 closed

[2018-12-23 13:24] ayushkamadji opened #2530 "GraphQL mutation error column "_id" on SQL"
**Informations**
- **Node.js version**: 10.14.1
- **NPM version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.16
- **Database**: PostgreSQL 11.1
- **Operating system**:  Ubuntu 16.04
- **(Optional) Link to your Project**: N/A

**What is the current behavior?**
During a graphql update mutation, when using the where filter to specify the id of the model, an Error is thrown as follows:
`Unhandled rejec

[2018-12-23 13:42] lauriejim commented on #2072
@johndows It's simple, it's because you never update your data schema in production (that is the main reason)

We can add a second point, when you create/update/delete content type we write/delete files.
If you use multi servers we can't delete files on all of your servers (it's impossible)
Then if you create files on prod, how did you send them to your GitHub ?
Common processes or to go from deve

[2018-12-23 13:45] lauriejim commented on #2524
Hello @conghai , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

You look have the solution, I will appreciate if you submit a PR to fix it.
Thank you!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blo

[2018-12-23 17:01] johndows commented on #2072
@lauriejim Thanks for the answer.

Why would you update the schema? Prepare the schema to support those fields and when you create a new type of content in production just post / other the DB.

And why creating files anyway? (And if you really need them, couldn't you create a script to check for updates in the DB and update files everywhere?)

I'm sorry if I'm not seeing the picture here. Can you

[2018-12-23 17:32] connectwithub commented on #1114
Hi,
Any update on this matter?

[2018-12-23 17:34] lauriejim commented on #2072
@johndows When you say:

We can't add new fields online, [...]

Adding a field it's modifying your data schema right ?
And I can't imagine modify something like that in production. For us it's `no way` and our position is to provide you (our users) good practice to create and manage your APIs.
We will never see someone add a new field in an e-commerce app for it's product on production without tes

[2018-12-23 17:50] lauriejim commented on #1114
We are not actually working on it, we will give an update when we will start this topic.

[2018-12-23 19:43] abdonrd commented on #2471
@soupette something like this #2531?

Take care that `selectOptions` from https://github.com/strapi/strapi/pull/2531/files#diff-ae65e6ec17e7002037c903bbf1dd943cR79 doesn't work. How should we do it?

[2018-12-23 21:11] TNkemdilim commented on #2520
I'm also facing this challenge... Thanks a lot.

[2018-12-23 21:12] derrickmehaffy commented on #2072
For one they save the schema in a file to track code changes in git easily, some of the stuff they have migrated into the database are now also having this issue. How do you track changes? I mentioned to the Strapi team that there should be file based overrides in many of these cases (permissions being one of them) so we can force file based storage as you *really* should not be changing this stuf

[2018-12-24 03:13] Williamyip146 opened #2532 "Cooking a Deliveroo clone with Next.js"
Node.js version: 11.1.0
NPM version: 6.4.1
Strapi version: 3.0.0-alpha.17
Database: MariaDB/Mysql 10.3.10
Operating system: Mac
Optional) Link to your Project: https://github.com/Williamyip146/deliveroo

I have problems with the checkout page, once I've made the payment I get a 500 error message and redirect to homepage. I've checked on the Admin backend to check the order table is still empty aft

[2018-12-24 07:12] soupette commented on #2527
Hi @arogyakoirala thanks for your inputs here are some answers:

Maybe you can try something like this in the `content-manager/admin/src/components/InputGJSONWithErrors`:
[code]

If it doesn't work, well you can try to create the tag manually and insert it into the dom or just hardcode it in the index.html like you did. I prefer the first option which is to import the stylesheet.

I think that @la

[2018-12-24 07:54] soupette commented on #2471
@abdonrd the selectOptions isn't read by the logic you need to send the value in the target see my comment in #2531. The only problem is trying to set the enum field with an empty value, I unable to make it with Mongoose and I pretty sure it will work the same with bookshelf

[2018-12-24 08:03] neopit commented on #2185
I am facing the same issue on PostGreSQL, I am trying to create a recursive relation on Users-permissions_user.

The idea is users can have several relations with other users (friends).

[2018-12-24 08:31] chaitanyya commented on #2432
Thanks for the update. @lauriejim

So, if I understand it correctly instead of using the temp path I should use the path to the files in the repository.

In order to make it easier for future development this path can be defined based on the options of the `strapi new`

I hope this makes sense.

[2018-12-24 08:51] zcqno1 commented on #1591
I met `strapi: command not found` too.

First I installed strapi in node v8+, `strapi start` falied. OK, that's because node v10+ is required.
Then I installed node v10+, and used it.
`strapi start` agian => `strapi: command not found`
The reason is that strapi was installed in node v8+, while migrating to node v10+ there's no strapi installed globally.
Just re-install strapi in node v10+, strapi

[2018-12-24 08:52] chaitanyya commented on #2432
Okay I was able to test it by changing the path of the `connectivity`. However it did require me to include additional dependencies in the package `Knex` and `pg`.

So, if we'd want to make this path dynamic based on `scope.developerMode`. How do you think is the best way to do it?

Also, I believe it should be tracked on a separate issue and I can keep posting the updates there.

[2018-12-24 09:14] soupette opened #2533 "Error in plugin Documentation when the config key is missing in a model's route"
**Informations**
- **Node.js version**: 10.13.0
- **NPM version**:  6.4.1
- **Strapi version**:
- **Database**:  Mongo
- **Operating system**: OSX Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**
The boostrap.js of the documentation plugin has an error so the server can't start

**Steps to reproduce the problem**

- Create a Product model
 - name: string
- Delete th

[2018-12-24 10:43] chaitanyya commented on #998
@lauriejim This is something we'd like to have. I'd really like to pick this up.

[2018-12-24 11:37] mnlbox opened #2535 "add / remove response header item"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
How to add / remove response header item to an endpoint?
I want add some response header item (key/value) to an endpoint. Can you guide me?

[2018-12-24 11:41] chaitanyya commented on #2432
Thanks, also I'm not sure about the test coverage. If you have any suggestions on making it more robust, feedback would be nice.

[2018-12-24 13:54] lauriejim commented on #2432
We actually haven't coverage for this part of Strapi  (not good)
If you want to check our test you have all information in `./test` folder.
We are just testing generated APIs and the content manager (focus on relations)

[2018-12-24 13:56] lauriejim commented on #998
Reminder for this feature: have to work for bookshelf and mongoose.

[2018-12-24 13:58] lauriejim commented on #2535
Hello @mnlbox there is documentation here about response https://strapi.io/documentation/3.x.x/guides/responses.html
You will also find documentation about Koa.

[2018-12-24 14:21] derrickmehaffy commented on #998
I mentioned to @chaitanyya on slack for manual testing to be done on both hooks @lauriejim

[2018-12-24 14:49] LuisHCK commented on #2520
Downgrading to `3.0.0-alpha.16` fix the problem for now

[2018-12-24 15:12] mnlbox commented on #2535
@lauriejim Thanks for your reply, based on that link I create a file in `/middlewares/custom_header/index.js` with below content:
[code]

And also modify `/config/middleware.json` as below: (add `"custom_header"` to `load.before` section)
[code]
Then I restart my strapi server but it's still old response header when I check in swagger documentation.

Can you guide me how to fix this?

[2018-12-24 16:50] derekshull commented on #1960
Same issue here too.  Glad I'm not crazy :-D

[2018-12-24 16:59] derrickmehaffy commented on #1960
Yeah can confirm, I believe they are working on replacing that date picker

[2018-12-24 17:17] aurelienbobenrieth commented on #2456
Little up right there !

Any solutions anyone ? I am not managing to do any proper installation no matter on which comp I try (each one running on Windows).

[2018-12-25 17:40] ayushkamadji commented on #624
Where can I keep track of this feature development? I'd really like to follow.

[2018-12-25 22:03] pragone opened #2536 "Wrong query when getting user on facebook login"
**Informations**
- **Node.js version**:
- **NPM version**: v10.14.2
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MySQL
- **Operating system**: Mac

**What is the current behavior?**
I'm trying the login-react example and configured login with Facebook. (BTW, now Facebook requires the url for the redirect to be SSL enabled, so I just used https://www.npmjs.com/package/local-ssl-proxy to cre

[2018-12-26 02:04] Dogtiti opened #2538 "strapi is not defined"
**Informations**
 * Node.js version: 10.13.0
* npm version: 6.4.1
* Strapi version: 3.0.0-alpha.17
* Database: mongoDB v3.6.4

**What is the current behavior?**
I don't know what happened. And I have to rollback to the working version. after I rollback, it works correctly，but a few time later, I haven't changed any code,I just restart the project.it doesn't work.
![image](https://user-images.githu

[2018-12-26 04:33] msarfaraz commented on #2520
This issue is in latest release.downgrade and install it will work.
**Installing 3.0.0-alpha.16**
sudo npm install strapi@v3.0.0-alpha.16 -g

[2018-12-26 04:35] mnlbox commented on #2457
@Dogtiti Why you close this?
Are you find anyway to do this?

[2018-12-26 04:42] Dogtiti commented on #2457
@mnlbox yeah, I have solved it.

[2018-12-26 04:45] mnlbox commented on #2457
Can you guide a little. How we can do this in Strapi?

[2018-12-26 05:05] Dogtiti commented on #2457
@mnlbox  In my project, `createdAT` and `updatedAt` are necessary, so I have added them without selecting whether to display them. Maybe they should be selected whether to display, but I haven't done it.
in `packages/strapi-plugin-content-manager/admin/src/components/TableHeader/index.js`
[code]
in `packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js`
[code]
Although it i

[2018-12-26 09:31] sangjs opened #2539 "Cannot create new project with 3.0.0-alpha.17"
i can not create new project with strapi new my-project command. it is very long time to wait. i try close terminal and create again sometime can choose option db and config. but it not connect. and i try to create again but not possible.
![image](https://user-images.githubusercontent.com/22710371/50441073-989a3f00-092b-11e9-822f-c0e5a0076887.png)
it not work...
Thank you

[2018-12-26 09:36] merijnvanessen commented on #2503
I tested with mongo DB and both update or delete mutations are working

update
![schermafbeelding 2018-12-26 om 10 32 01](https://user-images.githubusercontent.com/23075300/50441229-0ded1c00-08fa-11e9-8972-5151b21c4f5b.png)

delete
![schermafbeelding 2018-12-26 om 10 36 24](https://user-images.githubusercontent.com/23075300/50441247-24937300-08fa-11e9-9784-87af566e248b.png)

[2018-12-26 09:50] derrickmehaffy commented on #2539
@sangjs please follow the issue template and add the required options. I am closing this issue until they are added.

Please note Windows is not supported https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows

[2018-12-26 09:50] #2539 closed

[2018-12-26 10:33] soupette commented on #2457
@mnlbox, the other option would be to add the `createdAt` and `updatedAt` fields in the `schema` object this way you don't have to modify the plugin's core code.

If you use Mongoose add the following after this line
https://github.com/strapi/strapi/blob/e4dc27be54f36a956a06d35cab5f1ae11f2b9836/packages/strapi-plugin-content-manager/config/functions/bootstrap.js#L119

[code]

Else:

[code]

Then,

[2018-12-26 10:48] Dogtiti commented on #2457
@lauriejim  emmm, I am thinking about using your method.

[2018-12-26 11:57] soupette opened #2541 "Infinite loader when clearing name field in role edition"
**Informations**
- **Node.js version**: 10.13.0
- **NPM version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: Mongo
- **Operating system**:  OSX Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**

Infinite loading when clearing the name field of a role in the users-permissions plugin

**Steps to reproduce the problem**
- Click on the Role & Permission

[2018-12-26 12:48] chaitanyya commented on #998
Things work as expected when I use the correct timestamp attributes in this file instead of the hard coded values.
https://github.com/strapi/strapi/blob/e4dc27be54f36a956a06d35cab5f1ae11f2b9836/packages/strapi-plugin-content-manager/admin/src/containers/EditPage/saga.js#L79-L89

I'll need access to the model fields. I see the object that's stored as `db_model_<modelName>` in database have field ty

[2018-12-26 13:07] lauriejim commented on #2535
Did you have this error in you logs `(middleware:custom_header) wasn't loaded due to missing key `enabled` in the configuration`?

[2018-12-26 13:14] mnlbox commented on #2535
Yes I have this error in console. :thinking:

[2018-12-26 13:15] lauriejim commented on #2535
Okay so your middleware is not loaded, please follow the first instruction of this documentation
https://strapi.io/documentation/3.x.x/advanced/middlewares.html

[2018-12-26 13:33] mnlbox commented on #2535
Oh I need `ejs` I think we need some clarify in that document.

[2018-12-26 13:34] #2535 closed

[2018-12-26 13:35] mnlbox commented on #2535
@lauriejim
I can add response header now successfully.
How we can modify or remove one response header??
For example I add `ctx.set('X-Powered-By', 'API Owner');` but it's still show:
[code]

[2018-12-26 13:50] mnlbox opened #2543 "View relation fields and filter and sort based on realtion field"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
I think it can be very useful if we can see relation field in content manager and also sort and filter through relation field in admin panel.
Maybe this Feature Request

[2018-12-26 15:37] lauriejim commented on #998
Hello @chaitanyya thank you for this feedback.
Actually a large part of this topic is hard coded you are right!

I think we have to expose the same API if you are using Mongoose or Bookshelf.
That impact 2 thing:
- `_id` key for Mongoose (we have to remove it and have only `id`)
- The `created` and `updated` at key format.

I would like @Aurelsicoko feedback about this topic (he will come back 02/

[2018-12-26 15:59] lauriejim commented on #1758
I close this issue. Actually the documentation is updated frequently to give you more examples and informations.

[2018-12-26 15:59] #1758 closed

[2018-12-26 16:54] lauriejim commented on #1986
Related to this card: https://portal.productboard.com/strapi/c/12-migrate-across-environments

[2018-12-26 16:54] #1986 closed

[2018-12-26 16:57] lauriejim commented on #2098
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-12-26 16:57] #2098 closed

[2018-12-26 17:04] lauriejim commented on #2245
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-12-26 17:04] #2245 closed

[2018-12-26 17:08] petre2dor commented on #2072
@lauriejim migrating `core_store` is a bit of a pain. Is there an open issue for this? I could not find one.
I am interested in helping contributing to Strapi and this might be something I can fix.

[2018-12-26 17:20] lauriejim commented on #2291
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-12-26 17:20] #2291 closed

[2018-12-26 17:24] #2373 closed, assigned to lauriejim

[2018-12-26 17:31] lauriejim commented on #2402
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-12-26 17:31] #2402 closed

[2018-12-26 17:33] #2406 closed

[2018-12-26 17:36] #2437 closed

[2018-12-26 17:39] lauriejim commented on #2447
Hello! Can you give me the name of the content type you create please.
And send me also the model attributes you set to your content type.

Did you custom something else in Strapi or you just create your content type and try to use the generated API ?

[2018-12-26 17:41] lauriejim commented on #2453
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-12-26 17:41] #2453 closed

[2018-12-26 17:42] lauriejim commented on #2456
Did you check this part of the wiki.
Maybe can help https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows

[2018-12-26 17:44] lauriejim commented on #2464
Can you please give us an update about this issue?

[2018-12-26 18:04] lauriejim commented on #2498
What is the type of the attribute you use to store your email ?

[2018-12-26 18:12] #2516 closed

[2018-12-26 18:14] lauriejim commented on #2520
Yes it's one of our priority!
Thank you all for this feedback.

[2018-12-26 18:32] lauriejim commented on #624
It will be a part of this card https://portal.productboard.com/strapi/c/8-administrators-roles-permissions

[2018-12-26 18:54] BroTrue commented on #2517
@lauriejim documentation is pretty weak there. Maybe I can get more infomation how configurate that provider? (strapi-email-nodemailer)

[2018-12-26 19:17] Ketcap opened #2545 "Define a selection of available role on signup"
- [X] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

User can select role while signup process.

ex: Parent, Teacher, Boss roles created by manually or using default roles,
User will select those specific roles. Still can be default roles.

updated code base on my

[2018-12-26 19:44] mikaelgramont opened #2546 "Add login/register mutation GraphQL"
I'm looking at the GraphQL schema definition in the users permissions plugin [schema.graphql file](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/schema.graphql) and I think missing from it is how to perform login/logout operations (which are available at /auth/local on the Strapi REST server).

... or am I missing something? :)

**Informations**
- **S

[2018-12-27 00:14] yao-dev commented on #2360
I was correct the bug with adding this code at line 213 of the file /usr/local/lib/node_modules/strapi/node_modules/strapi-generate-new/lib/before.js (where strapi is installed globally on your machine) :
[code]

Now I'm able to generate a project with a remote postgres database

[2018-12-27 00:15] yao-dev commented on #2522
I was correct the bug with adding this code at line 213 of the file /usr/local/lib/node_modules/strapi/node_modules/strapi-generate-new/lib/before.js (where strapi is installed globally on your machine) :
[code]

Now I'm able to generate a project with a remote postgres database

[2018-12-27 00:15] yao-dev commented on #2377
I was correct the bug with adding this code at line 213 of the file /usr/local/lib/node_modules/strapi/node_modules/strapi-generate-new/lib/before.js (where strapi is installed globally on your machine) :
[code]

Now I'm able to generate a project with a remote postgres database

[2018-12-27 03:53] Dogtiti commented on #2538
I have found it's because I import a component from antd as `import Upload from 'antd/lib/upload'` in `packages/strapi-plugin-content-manager/admin/src/components/BraftEditor/index.js`(I replace the defalut `editor` with `braft-editor`), and it will report an error `strapi is not defined`, I tried to not import `antd`, it works correctly. I don't know why.
Anyone can provide some suggestions?

[2018-12-27 06:14] derrickmehaffy commented on #2546
@mikaelgramont GraphQL is only a query language, it isn't designed for something like authentication.

[2018-12-27 06:17] derrickmehaffy commented on #2546
(Also it would be far more complex to build something into the GraphQL schema to auth, when you get basically zero benefit from it over the rest route. The best way to handle REST vs GraphQL is to just use both for their strong points, in this case REST just handles authentication much easier and faster)

[2018-12-27 08:02] mikaelgramont commented on #2546
I'm really surprised to hear this argument, which IMHO is wrong on many levels:

- GraphQL is not "only a query language", it supports mutations as well, which are meant to change the state of the server, just what we need.
- There's nothing special about authentication. Send identifier and password in, get a JWT out. It's the same type of transaction as creating any other business object, only he

[2018-12-27 08:10] chaitanyya commented on #998
Yes, I checked the fields object in schema it doesn't have primaryKey and Timestamps.

https://github.com/strapi/strapi/blob/e4dc27be54f36a956a06d35cab5f1ae11f2b9836/packages/strapi-plugin-content-manager/admin/src/containers/EditPage/saga.js#L95

Maybe having them available in the fields, we can then add a check on the type of the field and delete the `created` and `updated` values instead of har

[2018-12-27 08:38] soupette commented on #2538
Hi @Dogtiti can you tell me where you installed the editor? Maybe provide me with your fork?

[2018-12-27 08:42] derrickmehaffy commented on #2546
@mikaelgramont :

https://graphql.org/

![image](https://user-images.githubusercontent.com/8593673/50472965-5f3bf080-0978-11e9-90b8-5c58d891e11e.png)

If you want to add it then by all means submit a PR 😄 Adding a simple route in your frontend with REST is easily. Both sides have their benefits and drawbacks. I'm a firm believer in using both,

[2018-12-27 08:42] derrickmehaffy commented on #2546
FYI a mutation is a type of query, it is just one that can do updates.

[2018-12-27 08:49] Dogtiti commented on #2538
@soupette  I’m sure the editor I use it worked well, just because of the component from `antd`, since I use the `antd`, it performed wrong. So I remove it just now,  whole things work well.
And the editor,  I installed it as [this](https://github.com/strapi/strapi/issues/2111) without doing these as follow img:
![image](https://user-images.githubusercontent.com/38354472/50473267-40c90a00-09f7-11e9

[2018-12-27 08:54] Dogtiti commented on #2538
@soupette
[code]

[2018-12-27 09:48] soupette commented on #2538
Ok I might try to install antd and check it out.
For the upload component can't you make one or use [this one](https://github.com/strapi/strapi/tree/master/packages/strapi-plugin-content-manager/admin/src/components/WysiwygDropUpload)

[2018-12-27 10:00] waterlooblue commented on #1105
I'm having the same issues as @christopher4lis. I can use mySQL when I build strapi locally. Increasing the timeout doesn't help either. What should the database settings look like?

[2018-12-27 10:00] mnlbox opened #2548 "Group content type"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
I think we need an ability to group content type together just for find simply and better UX. For example I create two content type called `location` and `location type`

[2018-12-27 10:01] AminZibayi opened #2549 "Can not access to the admin folder"
**Informations**
- **Node.js version**: v11.5.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB version 3.6
- **Operating system**: Windows 10 version 1803 build 17134.471 (Using ubuntu 18.04 WSL)

**What is the current behavior?**

I can not find any `./admin` folders.

![issue](https://user-images.githubusercontent.com/43344360/50474647-0c455600-09d7-11e9-8d

[2018-12-27 10:04] soupette commented on #2549
Since you're using Windows can you try uninstalling strapi with yarn and install it with npm instead?

[2018-12-27 10:06] derrickmehaffy commented on #2549
Windows isn't supported: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows
Yarn isn't supported: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#yarn

[2018-12-27 10:21] Dogtiti commented on #2538
@soupette yeah,  I have changed another one

[2018-12-27 11:18] lauriejim commented on #2035
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:18] #2035 closed

[2018-12-27 11:18] lauriejim commented on #1631
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:18] #1631 closed

[2018-12-27 11:19] lauriejim commented on #1630
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1630 closed

[2018-12-27 11:19] lauriejim commented on #1629
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1629 closed

[2018-12-27 11:19] lauriejim commented on #1627
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1627 closed

[2018-12-27 11:19] lauriejim commented on #1626
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1626 closed

[2018-12-27 11:19] lauriejim commented on #1625
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1625 closed

[2018-12-27 11:19] lauriejim commented on #1624
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1624 closed

[2018-12-27 11:19] lauriejim commented on #1623
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1623 closed

[2018-12-27 11:19] lauriejim commented on #1620
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1620 closed

[2018-12-27 11:19] lauriejim commented on #1619
I close this issue because we are moving to Crowdin to manage translations.
We will update the contribution guide to add information to how contribute to translations.

[2018-12-27 11:19] #1619 closed

[2018-12-27 11:59] mohamead commented on #2522
@yao-dev I tried the fix that you suggested and it works, but just so that I fully understand. The line that you added is to force enabling SSL when connecting to Postgres? Which is a precondition for connection to Heroku Postgres as said her -> https://devcenter.heroku.com/articles/connecting-to-heroku-postgres-databases-from-outside-of-heroku#ssl

But isn't this something that should be done whe

[2018-12-27 12:16] yao-dev commented on #2522
@mohamead When you choose postgres as database maybe it's better for Strapi to ask if you want enable ssl. Because in before.js a file is generated you can log "scope.tmpPath" to see the content of the file, it's look like :

[code]

In before.js scope.database.options.ssl is always false because strapi don't ask in the prompt and in the generated file the object used to create database connection

[2018-12-27 12:29] MatteoGioioso opened #2551 "ctx.render is not a function"
**Informations**
- **Node.js version**: v10.14.1
- **NPM version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: Mongo db
- **Operating system**: Windows 10 pro

**What is the current behavior?**
I am trying to render a view with Strapi
but I get this error
`TypeErro: ctx.render is not a function`

If I try with `send` it works find however when I try `render `it does not work

**St

[2018-12-27 13:08] CTBUdzy commented on #2456
hello.I first use strapi.I report an error when I install strapi with the statement "npm install strapi@alpha -g".It display ‘**npm WARN deprecated joi@10.2.2: This version is no longer maintained. I still can't understand the solution you mentioned above.Please upgrade to the latest version**.Can you tell me in detail how to solve this problem.
’

[2018-12-27 13:41] mohamead commented on #2522
@yao-dev updating the prompt sounds like a good idea, but that is something that I can not test as the prompt will freeze on windows (https://github.com/strapi/strapi/issues/1281).

As described in the ticket above that is the OS that I' am currently using unfortunately. Hence the point about the option `--dbssl=true`. So to summaries running the command defined under "Steps to reproduce ...", but

[2018-12-27 13:59] srsgores opened #2554 "JSON API Support"
As per #13, what are any current solutions for closely adhering to the specification?  And since the feature is not planned for immediate work, what can developers do in the mean time who wish to be compliant and still use strapi?

[2018-12-27 14:19] aurelienbobenrieth commented on #2456
There is apparently no proper solution to our problems. The only work-around seems to use a Linux distros (even though I did not have the time to try it yet).

[2018-12-27 15:21] mikaelgramont commented on #2546
We can argue over semantics regarding queries and mutations, but I think it's fair to say that logging in through GraphQL can be done :)

The fact that it's not done tells me that either GraphQL is not a priority or just starting out, which worries me a little.

I'll look into a PR, and may also look into writing my own custom GraphQL server tailored to only what I need.

[2018-12-27 19:03] derrickmehaffy commented on #2456
@CTBUdzy Windows isn't support meaning no support is provided for it here. Your welcome to look into it, but right now it isn't a priority for the Strapi team. You will need to use WSL (Windows Subsystem Linux) or a linux virtual machine. (Google WSL, lots of helpful guides)

But yes @aurelienbobenrieth not right now, eventually but considering 99.99% of users will be hosting on linux, the develop

[2018-12-28 01:55] wemod123 commented on #2418
Hello @lauriejim,

Have you reproduce this?
I have actually reproduced this in the latest version alpha17.

And one obvious [help documents ](https://strapi.io/documentation/3.x.x/configurations/configurations.html#database)dis-consistence is:
![image](https://user-images.githubusercontent.com/26819270/50499639-3013a500-0a86-11e9-9a33-e01e23b2d4d9.png)

Here the connection is `strapi-redis` but it

[2018-12-28 03:18] ht10vn commented on #734
Hello @mnlbox, I have the same issue with you, need to add some custom fields to users profile.
I created new Content Type "extra_user" with some extra fields: name, family, gender,..., user_id - which user_id has relationship 1:1 to Users. So you can manage your extra user info.

[2018-12-28 03:20] arogyakoirala commented on #2307
I'm confused, how do I migrate my core_store?

[2018-12-28 03:22] Uter1007 opened #2555 "Can't create new role"
**Informations**
- **Node.js version**: v10.5.0
- **NPM version**: 6.4.0
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB 3.6.4
- **Operating system**: Ubuntu
- **(Optional) Link to your Project**:

**What is the current behavior?**
When I create a role, permission won't get loaded (http://localhost:1337/users-permissions/permissions - returns 404).  The default roles are loading the p

[2018-12-28 07:40] derrickmehaffy commented on #2418
@wemod123 Redis plugin hasn't been ported over to v3 currently AFAIK. Only Postgres/MySQL

[2018-12-28 07:42] derrickmehaffy commented on #2307
@arogyakoirala export your database collection/table and import it on your new database for production.

[2018-12-28 07:48] ntloi95 commented on #633
Had the exact same issue. Fixed by removing package-lock.json and running npm i, too

[2018-12-28 09:03] chaitanyya commented on #998
Hey guys -

I was able to expose the timestamps and use the user defined values to remove correct attributes from the `record` object.

**There's still some work that needs to be done, here's a dough list of what I believe needs to be taken care of:**

- Default values if no attributes are provided.
- Update documentation to explain how it can be done.
- Ability to define them in the admin UI (May

[2018-12-28 11:56] derrickmehaffy commented on #2456
@stact Windows isn't supported, see my previous comment

[2018-12-28 11:56] derrickmehaffy commented on #2456
When you install with `npm install strapi -g` you are installing Strapi-v1 which is no longer maintained.

[2018-12-28 13:19] wemod123 commented on #2418
Hi @derrickmehaffy , thank you for your reply.
In that case, the documents about redis need be update, to avoid some mis-understanding.

[2018-12-28 18:19] micbra commented on #2491
I get the same error on MacOS X 10.13.6

[2018-12-28 23:06] pauldariye opened #2558 "GraphQL upload not working"
**Informations**
- **Node.js version**: v11.0.0
- **NPM version**: 6.5.0

- **Strapi version**:3.0.0-alpha.17
- **Database**:
- **Operating system**: MacOS Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**
I'm unable to upload upload a file using apollo and unsure what the issue is.

**Steps to reproduce the problem**

Using
 - [apollo-client-upload](https://github.c

[2018-12-28 23:52] pauldariye opened #2560 "Email confirmation link hangs [using heroku]"
**Informations**

Steps to reproduce the problem
- **Node.js version**: v11.0.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-alpha.17
- **Database**: Mongo v4.0.2
- **Operating system**: MacOS Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**
I'm using a diferent host (`*.herokuapp.com`) for my server. The link that I get

[code]

keeps loading without redire

[2018-12-29 07:05] Ketcap opened #2561 "Hooks not populating relational data"
**Informations**
- **Node.js version**: 10.14.1
- **NPM version**: 6.4.1
- **Strapi version**: v3.0.0-alpha.17
- **Database**: Mongo (mLab)
- **Operating system**:  macOS Mojave 10.14

**What is the current behavior?**
While using hooks afterSave and afterCreate tried to get created document fully with relational data. But it doesnt give any populated data. Base fields are filled but relational da

[2018-12-29 17:14] AminZibayi commented on #2549
Thank you @derrickmehaffy and @soupette.
npm installs strapi using command `npm install strapi@alpha -g`; the problem is using command `npm run setup`, yarn finishes the process with no error.

[2018-12-29 20:11] TNkemdilim commented on #2446
As regards this issue, I discovered that the error was as a result of a mandatory `firstname` field being required during signup. I don't know why.

As a quick fix, I performed a manual POST request (curl/fetch/etc), while including the `firstname` field required.

**TO REPRODUCE THIS ERROR:**
- Create a strapi project, connect to the db, signup as admin
- Stop the project (```Ctrl + C```)
- Delet

[2018-12-29 23:05] HelenDias opened #2564 "Cannot read property 'globalId' of undefined (error on GraphQL Types)"
**Informations**
- **Node.js version**: v11.6.0
- **NPM version**: 6.5.0-next.0
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MySQL 14.14
- **Operating system**: ElementaryOS 5.0

**What is the current behavior?**
I am trying to run strapi start, but the error "Cannot read property 'globalId' of undefined" appear and project crashed.
The error is that one:
[code]

**Steps to reproduce the p

[2018-12-30 16:38] merijnvanessen commented on #2446
I'm experiencing this problem as well with the graphql plugin
"strapi": "3.0.0-alpha.16"
nodejs v10.6.0

I can only update a user, when I change the emailaddress, but I think it should be possible to only change the username, for example

![schermafbeelding 2018-12-30 om 17 00 30](https://user-images.githubusercontent.com/23075300/50548915-cc8ba200-0c54-11e9-9950-afc553849047.png)

[2018-12-30 17:41] HelenDias commented on #2564
Sorry, the error happened when I change a column name, and I forgot this.
I changed a column name and this one was referenced in another column, as a foreign key.
So I looked for that one name in my project and find a file that wasn't changed the name.
The file is api/myModel/models/Model.settings.json. When I changed that name, the error doesn't showed up.

Closing that issue because it's a dupli

[2018-12-30 17:41] #2564 closed

[2018-12-30 23:34] mohammedabualsoud commented on #415
@avallete It didn't work. I need a fix for this damn windows.

[2018-12-31 05:24] nickngqs opened #2566 "CORS origin still posting"
**Informations**
- **Node.js version**: v11.6.0
- **NPM version**: 6.5.0-next.0
- **Strapi version**: 3.0.0-alpha.17
- **Database**: Mongodb
- **Operating system**: MacOS

**What is the current behavior?**
Setting up CORS origin with a specific domain like http://example.com. But when I tested, CORS Read Blocking blocked cross origin response. But the POST data still went through. What's the corre

[2018-12-31 08:36] wuichen commented on #2517
@lauriejim greatly appreciate if the instruction of setting up strapi-email-nodemailer can be provided. thanks!

[2018-12-31 10:34] lauriejim commented on #2554
Hello @srsgores !

I suggest you to create a middleware and modify the content of the response to match with JSON API format.

You can find middleware documentation here https://strapi.io/documentation/3.x.x/advanced/middlewares.html

[2018-12-31 10:35] henrych4 opened #2567 "Discussion on support compatibilities on numerical value on mongodb"
**Informations**
- **Node.js version**: v10.12.0
- **NPM version**: v6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: mongodb
- **Operating system**: macos High Sierra 10.13.1
- **(Optional) Link to your Project**:

**What is the current behavior?**
I have created a project previously with strapi version 3.0.0-alpha.14.1 and mongodb as database. There are some content types with float fi

[2018-12-31 10:36] henrych4 commented on #2567
Same issue in #2034

[2018-12-31 11:09] lauriejim commented on #998
Hello @chaitanyya I will try to check your stuff this week (I hope to have time to do it)

[2018-12-31 12:47] lauriejim commented on #2560
Hello @pauldariye.

The server still working on `localhost` with Heroku.
You have to use `proxy` config to make it works correctly.

Here is an example of `server.js` config

[code]

[2018-12-31 13:04] lauriejim commented on #2561
Hello @Ketcap!

When you create a new entry via the `/post` (I will use Post content type with relation with Tag) it call the `./api/post/controller/Post.js` => `create` function and it call  `./api/post/service/Post.js` => `add` function.

[code]

You can see we separate `relations` and `data`.
Like that we can create first create the entry and then manage relations correctly.

That's why you don

[2018-12-31 13:15] lauriejim commented on #2566
Hello @nickngqs , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.

Please update your issue.
We need to know exact steps to reproduce.

Thank you.

[2018-12-31 13:15] #2566 closed

[2018-12-31 21:21] pauldariye commented on #2560
Thanks, @lauriejim !!!

[2019-01-01 07:52] thejettdurham commented on #2122
After spending a few fruitless hours around this problem, I feel like it's reasonable to request that the (at the very least) the admin deployment docs be updated to help keep others from wasting their time as well, especially since this issue has been known for nearly 3 months at this point 🤔.

To elaborate, it seems that there are a few hard-coded `/admin` references that need to be fixed. Speci

[2019-01-01 15:45] oskareke commented on #2453
I came across this issue as well, using npm.

[2019-01-02 02:34] shash7 opened #2568 "Strapi not installing plugin dependencies"
**Informations**
Node 10.15.0
npm 6.4.1
Strapi 3.0.0-alpha.17
Mongodb
Ubuntu 16

**What is the current behavior?**
After setting up a sample project locally, I git repo the whole folder and clone it on my digital ocean droplet. There I do npm install and npm run setup. Npm install is fine but npm run setup throws an error and states that it cannot find immutable package.
On further investigation I

[2019-01-02 06:17] derrickmehaffy commented on #2568
`npm run setup:build`

That should install everything you need, you will get warnings about missing plugin "depends" that aren't actually needed. Note for the build step on ubuntu you need a local package installed called `libpng-dev` just install with apt get.

[2019-01-02 07:10] chaitanyya commented on #998
*Update:*

- Uses default if nothing is provided.
- Works with existing model settings configuration (Will do some more tests later this week)

[2019-01-02 10:02] henrych4 commented on #2567
Better mention such breaking changes in migration guide next time.

[2019-01-02 10:37] chaitanyya commented on #1762
While working on the custom timestamps I discovered the hardcoded primary key name. I can pick this issue and use the `idAttribute` to create custom primary key column name.

For further clarification can you guys tell me how is `primaryKey` attribute different from `idAttribute`?

[2019-01-02 13:42] arogyakoirala commented on #2307
Ah I see, thanks @derrickmehaffy. In case anyone else is looking for a fix, here's what I used:

`db.core_store.find().forEach(function(d){ db.getSiblingDB('strapi-production')['core_store'].insert(d); });`

[2019-01-02 14:49] odelucca commented on #2513
Hi @soupette sorry, I was off for xmas and new year's

I am uploading it on a repo and will send here soon.

In the meantime, do you have any docs about deploying a --dev project with custom plugins? Maybe this would help me

[2019-01-02 14:56] odelucca commented on #2513
@soupette I was trying to generate the repo with the error and noticed that, when I run the strapi start (after creating a new strapi project and copying the folder/running npm i) I receive the following code on the browser console:
[code]

[2019-01-02 16:30] odelucca commented on #2513
@soupette I found out the problem. The strapi-plugin-helper has a webpack config. I was trying to use the [React HTML Parser](https://www.npmjs.com/package/html-react-parser) on a plugin and it was broking during build.

I found out running the `npm run build` inside the plugin folder.

There is a way to add a config to ignore a specific plugin or load custom configs on the Webpack?

[2019-01-02 22:34] pragone commented on #2536
Just to add a bit here. I think I have a better understanding of the issue.
I think that the main issue is that the mongoose backend supports passing a filter like:

[code]

while the same query fails for bookshelf because it doesn't specify the `symbol` (meaning the '=') This is not specific to the social login feature. It just happens that it does a query in that way.

I think that the best solu

[2019-01-02 22:48] pragone commented on #2536
Actually... just checked. Most times it'll be fine because the filters passed to 'find' are the result of a `convertParams` method call... but in this case we're just building the query manually... So I think that the fix as submitted in the associated PR is probably the right one. Meaning, let's just change how the user-permissions plugin constructs that query.

[2019-01-03 01:53] esharri2 commented on #1968
@jerembardon did you figure out what was causing this? I'm having the same issue; I think I'm following the same tutorial you are.

[2019-01-03 03:36] conghai opened #2570 "GraphQL can't start when execute a policy before a resolver"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-alpha-17
- **Database**: mongoDB
- **Operating system**: MacOS 10.14.2

**What is the current behavior?**

I have seen the document [here](https://strapi.io/documentation/3.x.x/guides/graphql.html#execute-a-policy-before-a-resolver) and want to apply custom policy to createPost

**Steps to reproduc

[2019-01-03 06:04] Moldieman commented on #2118
Hello @lauriejim
Can you please assist me with this issue. I have got so far into this project already and just need the media / images to be included in the API call as described above. I would really appreciate it if you could steer me in the right direction to get this working or give me some examples to try get it working.

Thanks

[2019-01-03 07:10] chaitanyya commented on #1762
I believe that's `idAttributeType`, from the documentation:

This seems very similar to what `primaryKey` does. Is there a reason for having them both?

[2019-01-03 09:35] Aurelsicoko commented on #2514
I agree on this as well... we should offer an easy way to sort and reorganize the tags in a specific order. @derrickmehaffy what do you think by doing it in a separate file?

[2019-01-03 09:41] Aurelsicoko commented on #2478
Not sure to understand this one. It seems to be the correct behavior, no?

[2019-01-03 09:55] derrickmehaffy commented on #2514
@Aurelsicoko yes doing it in a separate file would be best, basically all you need to do is call that override after everything else.

Right now its taking the `settings.json` in the doc plugin, then the model doc files, and lastly the model overrides. All you need to do is add one more step and grab the tags file override after the rest and it will sort based on that order AFAIK.

[2019-01-03 09:56] derrickmehaffy commented on #2514
Everything with swagger/openAPI docs is about the order, It follows the order in the final build of the doc file.

[2019-01-03 10:12] lauriejim commented on #2558
@pauldariye did you try without GraphQL? By using REST route to upload your file ?
Just to know if it come from GraphQL or not.

[2019-01-03 13:08] lauriejim commented on #2568
In your generated app you can run:
- `npm i` it install all node modules in your project, admin and plugins
- `npm run setup` it build the admin
- `npm run setup --plugins` it build admin and all plugins

[2019-01-03 13:08] #2568 closed

[2019-01-03 14:23] pauldariye commented on #2259
You're right @petre2dor! I just tried this and it works. when you run `npm run setup` and I've deployed it to production.

[2019-01-03 15:47] soupette commented on #2513
@odelucca

Currently no, unless you modify [this file](https://github.com/strapi/strapi/blob/d435e2396964547e1c848ae70d02cac75a09780d/packages/strapi-admin/scripts/setup.js#L27) so you don't build your custom plugin. You will need to build it manually.

The other way to get rid of the `babel-polyfill error` would be to put your dependency in the strapi-helper-plugin and to make it available as fol

[2019-01-03 15:49] soupette commented on #2259
@pauldariye great! Can we close the issue then?

[2019-01-03 15:56] soupette commented on #2478
@Aurelsicoko it definitely is the correct behaviour but I think that we should add a warning or something that says "Hey you can't create a Tag.js controller in the './api/product/controllers' folder since you already have a tag api..".

In fact with the example from above I'm expecting to hit the `./api/product/controllers/Tag.js` `dummy` method when requesting `/dummy` where in fact strapi tries

[2019-01-03 16:01] soupette commented on #2549
@AminZibayi so there's no issue anymore?

[2019-01-03 16:41] pauldariye commented on #2259
Happy to help there @soupette.

[2019-01-03 16:41] #2259 closed

[2019-01-03 17:35] Aurelsicoko commented on #2543
Yes, I agree! I've created a card on Product Board https://portal.productboard.com/strapi/c/49-display-relational-field-in-list-view 👍

[2019-01-03 17:35] #2543 closed

[2019-01-03 17:38] Aurelsicoko commented on #2215
We don't plan to develop it for now... so there is no news or progress about this one. I'm closing the issue but you can still upvote it or comment above to show your interest.

[2019-01-03 17:38] #2215 closed

[2019-01-03 17:41] Aurelsicoko commented on #1105
@waterlooblue You should try to use Mongo 👍

[2019-01-03 17:44] Aurelsicoko commented on #2545
It seems to be a security issue... The user shouldn't be able to choose his role because it could use the parameters to choose the `admin` role and bypass the real administrators.

[2019-01-03 17:46] Aurelsicoko commented on #2546
@mikaelgramont You're right! The mutations were missing. There is already a PR which is going to be merged to fix this (see https://github.com/strapi/strapi/pull/2380).

[2019-01-03 17:46] derrickmehaffy commented on #1105
*shakes finger* @Aurelsicoko

[2019-01-03 17:50] Aurelsicoko commented on #2122
I agree and I'm sorry about this. We have a lot of progress to do to simplify the deployment of a project. Especially, when you want to deploy the front-end on another server than the backend.

We'll do our best to improve this but we also need your help. Can you find some time to make a PR and update the hardcoded `/admin` URLs by using the `strapi.backendURL` variable instead?

[2019-01-03 17:52] derrickmehaffy commented on #2545
I agree 100%, default role, users should not be able to pick or choose their own role. Admins/Mods/whatever need to set them.

[2019-01-03 18:09] Aurelsicoko commented on #2514
I've created a private feature on Product Board to keep this in mind. I would love to see a contribution from the community to develop this feature.

[2019-01-03 18:14] derrickmehaffy commented on #2514
The override system you guys are using is way above my head, remember I was writing this by hand before :rofl:

[2019-01-03 21:55] odelucca commented on #2513
Thanks @soupette

I've solved it just by changing the depedency itself :)

You can close the issue if you want!

[2019-01-03 22:36] AminZibayi commented on #2549
Command `npm install strapi@alpha -g` works.
I followed [this guideline](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md);
i ran `strapi -v` and `npm ls strapi`:
![sttitled](https://user-images.githubusercontent.com/43344360/50658062-76e52b80-0fad-11e9-8ac6-d5416e602661.png)
then i ran command `npm run setup` several times and tried to solve the problem...
![sttitled](https://user-ima

[2019-01-04 01:04] gagnonsimon commented on #1996
I've got the same issue with v3.0.0-alpha.17 I can add on dev mode but when I go on prod mode nothing show up for add field.

[2019-01-04 05:19] rob-gordon commented on #2360
@yao-dev thank you! I just had this exact problem. Do you mind explaining why this works?

[2019-01-04 07:01] chaitanyya commented on #2432
The pull request is now merged (#2534) and the feature should be usable. Thanks guys :)

[2019-01-04 07:01] #2432 closed

[2019-01-04 07:52] chaitanyya opened #2573 "Ability to make fields private in Content Builder plugin"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
Currently, we do have the ability to make fields private using the following attribute in the model `settings.json` file.
[code]

**UI Suggestion for Content Type Builde

[2019-01-04 16:36] albatrocity commented on #2570
I'm experiencing something similar on alpha 18.

[2019-01-04 16:50] albatrocity commented on #2570
I'm experiencing something similar on alpha 18 attempting to add a policy to a Query but still execute the default Shadow CRUD resolver.

Copy/paste from the [docs](https://strapi.io/documentation/3.x.x/guides/graphql.html#customise-the-graphql-schema)

[code]

yields `Error: Resolver Query.versions must be object or function` when starting the server

[2019-01-04 17:52] patrickblackjr opened #2576 "Support the latest version of node"
What is stopping you from supporting v11.6.0 of node? I haven't scoped out the codebase to see what might be holding back support for it. How difficult would this be to implement?

[2019-01-04 19:22] patrickblackjr opened #2577 "GraphQL plugin not functioning when following Deliveroo clone with Nuxt tutorial"
**Information**
- **Node.js version**: v10.11.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-alpha.18
- **Database**: MongoDB / GraphQL
- **Operating system**: macOS

**What is the current behavior?**
After running `npm install graphql@0.13.2 --save` per the instructions of the tutorial found [here](https://blog.strapi.io/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe

[2019-01-04 19:31] derrickmehaffy commented on #2576
![image](https://user-images.githubusercontent.com/8593673/50706936-20f79e80-1014-11e9-9ea5-19760f0d2538.png)

^^^ Schedule for LTS

From what I've seen Node 11 causes extremely high CPU usage with no benefits.

[2019-01-04 19:32] derrickmehaffy commented on #2576
That and Node 11 will not be a core LTS version thus pointless to support it for now. Similar to Node 9

[2019-01-04 19:33] #2576 closed

[2019-01-04 19:35] Vivsss commented on #1292
@lauriejim I've a similar issue, ever simpler. If we follow the Platform Model above, I would have a query with an url like:
`http://localhost:1337/platform?platformModels=x|y`
where  `x|y` is like example two platformModels IDs. That's means the possibility of query for All the platforms that have 2 specific platformModels.

Now I can only have the simple case:
`http://localhost:1337/platform?pla

[2019-01-04 22:06] bel0v commented on #1323
so if I want to prefix my API, is the todays solution go and change all the api/**/config routes by hand?..

[2019-01-04 22:07] derrickmehaffy commented on #1323
@bel0v you can try it and find out? right now there is no "solution" as it wasn't deemed critical for the moment. Versioning is on the roadmap https://portal.productboard.com/strapi/c/17-versioning

[2019-01-05 00:46] guayom commented on #752
@r007

I though about doing that. But you may want control over your slugs. Generally you're fine with them being automatically generated. But some times you need to edit them, so it's really useful to have them as editable strings on your cms.

Another advantage of having the slug actually stored on the db as a string is that you may want to use your api to build other kind of apps, not just a we

[2019-01-05 05:55] r007 commented on #752
@guayom true, but this is just one of the possible workarounds. I am not a strapi developer and not associated with their team. But I agree that would be nice to have "true slugs", then it will make my solution obsolete. So far I don't see anything better than this (which would work as no-brainer, of course  I can always manually add "slug" field).

I'll be closely watching if they decide to make

[2019-01-05 09:13] deeq14 opened #2580 "Authenticated user can't access the api"
I have created a user and set permissions for find and findone in Admin panel,

I have put the frontend a simple login using this method https://strapi.io/documentation/3.x.x/guides/authentication.html#login

After logging in successful and try to access the api - I get this in console

[code]

it seems to act like public user, the problem vanishes if I set the public role can access but that is n

[2019-01-05 09:47] deeq14 commented on #2580
I just needed to pass authorization bearer token in the header and worked.

[2019-01-05 09:47] #2580 closed

[2019-01-05 10:32] anitricks opened #2581 "addRelation is not a function"
**Informations**
- **11.4.0**:
- **NPM version**:
- **3.0.0-alpha16**:
- **MySQL**:
- **MacOS**:
- **(Optional) Link to your Project**:

**What is the current behavior?**
```TypeError: strapi.services.order.addRelation is not a function```

**Steps to reproduce the problem**
Create a new model
Try to update relation with a PUT request

I just started with strapi (great product btw) so I dont know

[2019-01-05 12:43] #2560 closed

[2019-01-05 12:50] Vivsss opened #2582 "WYSIWYG Editor disappear on production heroku"
**Informations**
- **Node.js version**:
- **NPM version**:
- **Strapi version**:
- **Database**:
- **Operating system**:
- **(Optional) Link to your Project**:

**What is the current behavior?**
In production environment, the WYSIWYG Editor disappear

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**
Thanks to @lauriejim for the answer !
To manually fi

[2019-01-05 16:19] derrickmehaffy commented on #2582
Closing due to missing information and the user already has the correct answer to migrate their database

[2019-01-05 16:19] #2582 closed

[2019-01-05 16:21] derrickmehaffy commented on #2581
@anitricks if I understand right your trying to be able to send nested relational data?

[2019-01-05 22:37] anitricks commented on #2581
@derrickmehaffy yes.

[2019-01-05 23:48] #2577 closed

[2019-01-06 02:16] derrickmehaffy commented on #2581
At the moment @anitricks it isn't possible without some major modification. The only relational data you can send is the ID of the relation entry

[2019-01-06 06:31] anitricks commented on #2581
@derrickmehaffy oh ok. ill create a card in the upcoming board for strapi then. thanks for quick responses

[2019-01-06 06:33] anitricks commented on #2581
so what is the use case for those functions then? (createRelation, updateRelation and destroyRelation)

[2019-01-06 08:50] sonovice commented on #2577
@patrickblackjr Any hints on what went wrong or how you resolved it?

[2019-01-06 09:10] derrickmehaffy commented on #2581
honestly no idea @lauriejim @Aurelsicoko thoughts on what those routes do?

[2019-01-06 09:10] derrickmehaffy commented on #2581
He is talking about these:
![image](https://user-images.githubusercontent.com/8593673/50734174-eb57d000-114f-11e9-9dfa-2b8acbd257aa.png)

[2019-01-06 09:11] derrickmehaffy commented on #2581
And their permissions

[2019-01-06 10:01] tombunn commented on #2558
@lauriejim I have a very similar issue and errors with this trying to upload any files using the GraphQL plugin with `apollo-client-upload`. There is an error message that comes back from the node server and this is why @pauldariye might be the CORS issue i think:

[code]
This is using the following mutation:

[code]

If I try without using `apollo-client-upload` the mutation will return a success

[2019-01-06 12:19] lauriejim commented on #2558
Okay look strange!
And it works for other mutation/queries ?

I actually don't have time to investigate on this issue. Will appreciate is the community can do something to help us.

[2019-01-06 12:38] lauriejim commented on #2545
In my understanding of this feature is:

You have roles `Admin`, `Manager`, `Public`, `Client`, `Enterprise` in your app.
And you can chose roles available on register `Client` and `Enterprise` only.
In this case you have only one `/register` route.
In any case you will never be able to register as `Admin` or `Manager` cause there are not allow.

If this feature will not be developed you have to d

[2019-01-06 12:46] #2513 closed

[2019-01-06 12:54] lauriejim commented on #2551
By default Strapi is not for render views. That is why there is no documentation about that point.

[2019-01-06 12:54] #2551 closed

[2019-01-06 13:07] lauriejim commented on #2432
Your welcome! Happy to see the community contribute to Strapi!

[2019-01-06 13:20] lauriejim commented on #2570
Hello @conghai and @albatrocity , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2019-01-06 14:14] lauriejim commented on #2581
Hello @anitricks.

We delete services but routes and controller function have to be deleted.
Actually if you want to manage your relations, you will find request to do here https://strapi.io/documentation/3.x.x/guides/models.html#relations

[2019-01-06 14:20] #2581 closed

[2019-01-06 15:27] edoardolunardi opened #2586 "Deploy Strapi to Netlify"
**Informations**
- **Node.js version**: v10.7.0
- **NPM version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.18
- **Database**: MongoDB
- **Operating system**:
- **(Optional) Link to your Project**:

Hi guys, is there any guide to deploy Strapi to Netlify? I followed the Getting Started guide. Running locally, I can open my admin page with `http://localhost:1337/admin` and see my posts in json forma

[2019-01-06 18:35] gustavpursche commented on #2586
@edoardolunardi I can't suggest anything, because I just stumpled upon your question :) Heroku, DigitalOcean, AWS, Azure or any virtual server - any service, that let's you host a node web application, depending on your level of knowledge. Heroku makes it quite easy to setup everything.

[2019-01-06 19:39] edoardolunardi commented on #2586
Thank you for the clarification!

[2019-01-06 19:42] denisinvader opened #2587 "ContentTpyes naming conversation for Russian locale"
**Informations**
- **Node.js version**: v10.12.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.18
- **Database**: MongoDB
- **Operating system**: macOS Mojave Version 10.14.2
- **(Optional) Link to your Project**: local test project

**What is the current behavior?**

Menu item text for ContentTypeBuilder plugin is different from the title and Content Types translation to Russian on t

[2019-01-06 20:05] jkbaseer commented on #2003
@MoQ93 Good to know that you have solved this. Could you share a bit explanation on how you have done this?

[2019-01-06 20:37] jkbaseer opened #2588 "Error: Cannot find module 'immutable' on existing project deploying on server"
**Informations**
- **Node.js version**: v10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.18
- **Database**: PostegreSQL
- **Operating system**:  Ubuntu 16.04
- **(Optional) Link to your Project**:

**What is the current behavior?**
`root@ed-api-v1:~/ed-api# strapi start
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'strapi-generate'
    at Fu

[2019-01-07 03:40] ntloi95 commented on #2588
The script doesn't npm install all dependency in the plugins folder. You need to cd to all subfolder in the plugins folder and run npm install.
I think they don't document this or there is another alternative way.
![image](https://user-images.githubusercontent.com/9493402/50747784-601e2d80-1268-11e9-8552-09a3c1256b8f.png)
As you can see, all subfolders in the plugins folder have a file package.jso

[2019-01-07 03:52] ntloi95 commented on #2588
In your generated app you can run:

npm i it install all node modules in your project, admin and plugins
npm run setup --plugins it build admin and all plugins

[2019-01-07 05:00] ntloi95 commented on #510
What did you do to fix it?

[2019-01-07 06:37] sajjad-shirazy commented on #2086
ffff, it's 3 days i'm facing memory out of stack on my server because of the `autoPopulate`.

[2019-01-07 06:45] wemod123 commented on #2324
@derrickmehaffy

There was a publish of issue #2194
What is the actual situation?
Since I run error with plugin installation with yarn also.

[2019-01-07 08:05] merijnvanessen opened #2591 "Error cast to number failed for value GraphQL"
--specs--
node v10.6.0
strapi": "3.0.0-alpha.18
strapi-plugin-graphql@3.0.0-alpha.17
npm: npm: '6.1.0',
db: mongodb
os: mac osx El capitan 10.11.6
--/specs--

**what**
Hello, i'm having a graphql error on a simple query to number fields (decimals)
The field is not required, so I suppose I could leave it blank. i can save it within the admin without errors. But in the frontend I get an error.

The

[2019-01-07 08:14] merijnvanessen commented on #2527
finding a way to search geo locations within my frontend (nuxt), from the strapi backend.
https://mongoosejs.com/docs/geojson.html

I believe I need a point schema, is it possible to add something like this to the model?
Since point is currently not available as a strapi type (from the mongoose docs):

[code]
It would be awesome if a resolver for finding GeoJSON values would be baked in within str

[2019-01-07 08:15] derrickmehaffy commented on #2591
@merijnvanessen can you replace your `--specs--` with the proper bug report template values.

Also if you have a link to your project code for us to look at to help debug that would be great.

Can you also provide your query (assuming it's a query and not a mutation).

[2019-01-07 08:16] derrickmehaffy commented on #2591
Bug report template for reference: https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

[2019-01-07 08:59] merijnvanessen commented on #2591
@derrickmehaffy i should write down those specs :-)

[2019-01-07 09:36] EdenLiang opened #2592 "Create project problem - 3.0.0-alpha.18"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.18
- **Database**: MySQL
- **Operating system**: Windows10
**What is the current behaviour?**

I follow the guideline but blocked at "strapi new my-project".
When I select the database (MySQL), it does not keep going.
PS: It works well at version '3.0.0-alpha.17'.

![k w57jwb_ zzn j0 6 p 6o]

[2019-01-07 09:47] EdenLiang commented on #2592
I have uninstall the nodejs (v10.14.2) and reinstall the old version (v8.15.0) and it's worked now.

![1546854115 1](https://user-images.githubusercontent.com/9131600/50761007-44d11380-12a4-11e9-89c5-fa9250e6ac04.jpg)
Figure: It can create the database

So I need to reinstall the nodejs (v10.14.2) after I create the project.

[2019-01-07 09:47] derrickmehaffy commented on #2592
Windows is not supported: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows

Marking as closed as this is a duplicate issue: https://github.com/strapi/strapi/issues/1281

[2019-01-07 09:47] #2592 closed

[2019-01-07 09:49] derrickmehaffy commented on #2592
@EdenLiang Please use WSL, windows is not supported due to changes between node 8 and node 10 (Strapi no longer supports the EOL node 8, and the server won't start on node 8)

[2019-01-07 09:50] EdenLiang commented on #2592
@derrickmehaffy
Yes
So, for windows user, we can use node 8 to create the project and use node 10 to use Strapi

[2019-01-07 09:53] derrickmehaffy commented on #2592
If that works for you then great. But any issues that come up while working outside of WSL, Linux, or Mac won't be supported. Just an FYI

[2019-01-07 09:53] janjag commented on #2592
U can also try using ```npx strapi new <your-project-name>``` to create new project (works for me on windows + node 11.6.0)

[2019-01-07 09:54] EdenLiang commented on #2592
@janjag @derrickmehaffy
Thanks for your suggestions, :)

[2019-01-07 11:09] jkbaseer commented on #2588
Thanks Man @ntloi95

Yes, i went to do it again.

` **root@ed-api-v1:~/projectname/ed-api# npm i**
npm WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.
npm WARN checkPermissions Missing write access to /root/projectname/ed-api/node_modules/strapi
npm WARN bookshelf@0.12.1 requires a peer of knex@>=0.6.10 <0.15.0 but none is installed. You must ins

[2019-01-07 11:13] derrickmehaffy commented on #2588
@jkbaseer did you install the strapi package globally?

If no, you can't use the strapi command (as your system isn't aware of the location)

There are two places the `strapi` package is "kept":
1) In your global node_modules folder to be used as an executable IE `strapi start`
2) In your project's node_modules/package.json for use by strapi

The reason for the split is, it is possible you may not

[2019-01-07 11:14] derrickmehaffy commented on #2588
I'm marking this issue as closed for now, please update if this didn't fix the issue and we can re-open it.

[2019-01-07 12:10] merijnvanessen commented on #2591
@derrickmehaffy
Hi derrick, I created an almost empty project with monkeys instead of puppies
https://github.com/merijnvanessen/strapi-nuxt-apollo-graphql

[2019-01-07 12:16] derrickmehaffy commented on #2591
@merijnvanessen can you give me the graphQL query you used to generate the error?

[2019-01-07 12:21] jkbaseer commented on #2588
Hey Guys, I would request to open up this issue because i tried running commands like

1) installing strapi alpha on the global using npm i -g strapi@alpha

2) root@ed-api-v1:~/ed/ed-api# ls
README.md  admin  api  config  favicon.ico  node_modules  package.json  plugins  public  server.js

`root@ed-api-v1:~/ed/ed-api#` strapi start
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Ca

[2019-01-07 12:35] derrickmehaffy commented on #2588
@Aurelsicoko @lauriejim maybe you can assist here. I think he is using Node Version Manager (NVM) which I believe is causing the issue.

[2019-01-07 12:45] MoQ93 commented on #2003
@jkbaseer I just create an .npmrc file in the docker container see this for the change: https://github.com/strapi/strapi-docker/pull/53/files

[2019-01-07 13:02] tombunn commented on #2558
@lauriejim I can confirm other mutations and queries work fine under the same conditions. I have also tested with the example in the [strapi-examples](https://github.com/strapi/strapi-examples/tree/master/apollo-upload-graphql) repo which I imagine did work at some point. All types of upload fail, not just a single file with the same error message.

I tested on both alpha version 13 and 18 and the

[2019-01-07 13:09] merijnvanessen commented on #2591
yes, within in the repo, you can find it in the frontend/graphql
{QUERY_SINGLE_MONKEY}

https://github.com/merijnvanessen/strapi-nuxt-apollo-graphql/blob/master/frontend/graphql/monkeys.js

[2019-01-07 14:27] #2586 closed, assigned to lauriejim

[2019-01-07 14:36] lauriejim commented on #2324
Hello, some yarn bug still exist... we have to work on but it's not one of our priority now.
I suggest you to use npm.

[2019-01-07 14:36] denisinvader commented on #2587
No. I didn't want to fix it without a discussion about what naming should we use.

By the way, I would also rename "Конструктор Типов Данных" to "Типы данных" in the left menu.

[2019-01-07 14:39] pellandaSyn commented on #2464
Sorry i still have same problem.. i don't know how to help you.. i'll try
again in the next project
Thanks for yours great job

Il giorno mer 26 dic 2018 alle ore 18:44 Jim LAURIE <
notifications@github.com> ha scritto:

--

--
*fabio pellanda*
*software engineer*
vCard
<https://syx.it/mail-sign/vcard_syn.php?nome=Fabio&cognome=Pellanda&ruolo=Software+Engineer&email=%40synesthesia.it&mobile=&forma

[2019-01-07 15:08] lauriejim commented on #2591
Can you try with also version alpha.18 of the GraphQL.

[2019-01-07 15:08] lauriejim commented on #2558
Okay thank you for the clarification.

[2019-01-07 15:12] lauriejim commented on #2587
Arg for this type of wording, I would like @Aurelsicoko assign.

[2019-01-07 15:20] merijnvanessen commented on #2591
"raw": "strapi-plugin-graphql@3.0.0-alpha.18"

since I installed it fromout the strapi UI, in this repo its the latest version
https://github.com/merijnvanessen/strapi-nuxt-apollo-graphql

but its still giving me

[code]
important, i didn't give the field a default value, since this field isn't required within the field advanced settings tab, I would think I can leave this empty
And therefore, sav

[2019-01-07 15:41] denisinvader commented on #2587
"Данные" (data) in Russian language associates more with raw data like .csv file or SQL tables. "Контент" (content) is an abstraction over data like classes and OOP. In my experience, CMS usually provides such abstractions.

"Тип данных" (data type) usually uses in fields or variables description (string, number, stack, array etc).

For example, article or user is a content type (it's "тип контент

[2019-01-07 15:57] pierrebarbaroux commented on #1592
Same problem here.

MongoDB: v4.0.5
Strapi: v3.0.0-alpha.17
Node: v10.8.0
NPM: 6.2.0

[2019-01-07 15:58] pierrebarbaroux commented on #1592
Hello,
Same problem here.

MongoDB: v4.0.5
Strapi: v3.0.0-alpha.17
Node: v10.8.0
NPM: 6.2.0

Any ideas?

[2019-01-07 16:00] derrickmehaffy commented on #1592
@dannydtk @pierrebarbaroux Unlikely the Strapi team will get to this in the near future unless it breaks something if you wanted to create a PR to fix them.

[2019-01-07 16:04] soupette commented on #2549
Well I'm not sure it's related to Strapi.

contributing with windows is kind of difficult currently

[2019-01-07 16:06] soupette commented on #2122
@Aurelsicoko

the `/admin/<endpoint>` is the prefix of the "admin" plugin so I believe it's kind of needed.

the `strapi.backendURL` is used there https://github.com/strapi/strapi/blob/8bbccad86280d362685a1a881e8bb9762b0c74e8/packages/strapi-helper-plugin/lib/src/utils/request.js#L129-L135

[2019-01-07 16:38] deeq14 opened #2593 "Users can create and delete data in content manager api"
**Informations**
- **Node.js version**:  11.60
- **NPM version**:  6.50
- **Strapi version**:  3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**:  Windows 10

**What is the current behavior?**
Authenticated users can **CREATE UPDATE & DELETE**  in via **content manager plugin API** after they pass the bearer token as header, they have full access via the content manager plugin API

**S

[2019-01-07 16:44] tlchatt commented on #2456
Having this problem on Ubuntu also.

[2019-01-07 17:02] derrickmehaffy commented on #2593
@deeq14 please add in the required bug report template details. Template can be found here: https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

[2019-01-07 17:02] derrickmehaffy commented on #2593
@lauriejim @Aurelsicoko can you two test this, if true this could be a critical security hole

[2019-01-07 17:12] marcopesani commented on #2453
Same here, using strapi Docker image. I've created a content type named "string" with three fields: key (string), value_it (text wyswyg), value_en (text wyswyg)

`
/usr/src/api/conio-cms/node_modules/mongoose/lib/document.js:71
     throw new ObjectParameterError(obj, 'obj', 'Document');
     ^
 ObjectParameterError: Parameter "obj" to Document() must be an object, got DeprecationWarning
     at n

[2019-01-07 17:59] deeq14 commented on #2593
@derrickmehaffy I did it.. I will also try this again on a new strapi and fresh environment to see if it will reproduce the critical problem.

[2019-01-07 18:01] derrickmehaffy commented on #2593
@deeq14 I poked Jim on slack and he couldn't reproduce it for GET, he didn't have time to test POST/PUT/DELETE.

[2019-01-07 18:21] Vivsss commented on #1292
@lauriejim thanks for your reply !
Both cases (AND/OR) are really interesting for me..
Due to I'm a beginner with coding customs API, should you have some site reference for this kind jobs, with snippets or examples?

[2019-01-07 18:22] AminZibayi commented on #2549
It is bash not windows! @soupette

[2019-01-07 19:43] deeq14 commented on #2593
I will just close this as it seems the problem is caused by something on my end and I will investigate.

[2019-01-07 19:43] #2593 closed

[2019-01-07 19:58] mnlbox commented on #2535
@lauriejim

[2019-01-08 01:49] wemod123 commented on #2324
@lauriejim

Thanks for the reply.
One of the **critical reason** of using yarn, is some times npm runs into **fatal error** which will lead to fail to deploy, due to npm cache.
That kind of error similar to:
`npm WARN tar ENOENT: no such file or directory, open '***\node_modules\.staging\***`

Actually I reproduce the npm cache issue on Azure Webapp deployment with strapi-v18, the latest release.

[2019-01-08 02:12] wemod123 commented on #2307
This issue had been reported several times.
While here is a common questing,  what is the strategy of data base migration in production?

More specifically, if one had release a strapi project to production environment, and later have to update some API model, for example, create a new API Model, what should do then?
* To copy the dev database `core_store>plugin_content-manager_schema`, as you sug

[2019-01-08 06:10] derrickmehaffy commented on #2324
@wemod123 add `package-lock.json` to your .gitignore and add the following to `.npmrc` file in your project root:
[code]

That should stop the cache lock

[2019-01-08 06:12] derrickmehaffy commented on #2307
@wemod123 in my case I use a seed file, or a dev snapshot of my database:

https://github.com/canonn-science/CAPIv2-Strapi/blob/08f3c1bbe46d2cdabcc8ead3aeb467433623af99/.travis.yml#L21-L24

[2019-01-08 06:14] derrickmehaffy commented on #2307
As for an import/export or handling it pro grammatically fixing it, by all means feel free to submit a PR to work on it 😄

[2019-01-08 07:35] sajjad-shirazy commented on #968
the issue is because the package doesn't install dependencies right. so we have to do it manually :| :
[code]

[2019-01-08 07:59] derrickmehaffy commented on #968
Windows isn't supported: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows
Yarn isn't supported: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#yarn

[2019-01-08 08:22] chaitanyya commented on #998
The PR is merged and it should be usable in the coming release. Can we please close this issue now?

[2019-01-08 08:53] petre2dor commented on #2307
@wemod123 I really think that this needs to be solved programmatically by saving a `WYSIWYG` flag (boolean) in the model file: `...settings.json`. That seems to be everything else is done (info, options, attributes). I will try to make time to dig deeper into how to do it.

[2019-01-08 13:43] #2555 closed

[2019-01-08 17:11] odelucca commented on #1292
@Aurelsicoko do you have any idea about when it will be implemented? It is a must-have for my admin =/

[2019-01-08 17:51] derrickmehaffy commented on #1292
@odelucca there is no timeline for filtering on relation as an outside contributor is working on it, you can follow the progress here: https://github.com/strapi/strapi/pull/2452

[2019-01-08 19:09] Sigma-90 opened #2599 "GraphQL: SQL query generation error when using "where" conditions on a subset"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MySQL 5.7.23
- **Operating system**: Windows 10 (dev) / Ubuntu 16.04 (prod)

**What is the current behavior?**
Using a "where" filter on a subset of a query does not get interpreted correctly and ultimately results in a broken SQL query (can't provide info on what happe

[2019-01-08 22:01] codepotato commented on #1687
Can confirm @derrickmehaffy is the boss. Field names with spaces break this, so uninstall graphql plugin, correct your field names and then re-install.

[2019-01-09 00:39] wemod123 commented on #2324
@derrickmehaffy

Thank you for the solutions, it can be alternative to solve the cache issue.
And at same time lost the **lock feature**, without which probably cause some other unexpected issues due to the unlock-version control, that need be checked carefully in **production environment**, since this project really depends on so many npm packages.

For me I prefer yarn as priority in production

[2019-01-09 09:28] pragone opened #2600 "The knex version we're using has a known bug that prevents testing connections"
**Informations**
- **Node.js version**: v10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.18
- **Database**: mysql
- **Operating system**: MacOS

**What is the current behavior?**
Strapi uses an old version of knex with a known issue.
Specifically the issue I'm experiencing is that after connections to the DB have been idle for quite a while, they may be disconnected, but because

[2019-01-09 09:34] derrickmehaffy commented on #2600
@pragone Good catch, I had noticed the connection timeouts and my cluster killing them myself but hadn't looked deeper. I think we should test updating to the current recommended version (Separate PR) but in the short term I think you are right on bringing in the recommended changes.

Once you get the PR up feel free to ping me as I would be interested in helping test it.

[2019-01-09 09:48] pragone commented on #2600
Well... I'm not so sure now that the solve is so simple. Turns out that while the knex code that initialises the connection pool does not change between 0.13.0 (the version we're using) and 0.14.0 (the version for which the bug was raised), the version of generic-pool does change:
* knex 0.13.0 uses generic-pool ^2.4.2
* knex 0.14.0 uses generic-pool ^3.1.7

Turns out that in 2.4.2 there's no `tes

[2019-01-09 09:50] derrickmehaffy commented on #2600
@pragone I remember there being some possible breaking changes between versions outside of what you already mentioned. I think I dropped some links to @lauriejim in slack but I should probably read more into it myself

[2019-01-09 10:28] Dogtiti opened #2601 "[gatsby-source-strapi] only return 100 data"
[code]
In fact , I have more than 1000 data in my database,but it only return 100 .In `strapi dashboard`also have all data.
![image](https://user-images.githubusercontent.com/38354472/50893180-43861f00-143b-11e9-9a1d-e698a7a48c52.png)
![image](https://user-images.githubusercontent.com/38354472/50893201-526cd180-143b-11e9-9f24-b71f7ed009d4.png)

And I also use `postman` to `GET` the data ,it also r

[2019-01-09 10:31] pragone commented on #2600
Perhaps... But TBH, this is becoming a blocker for me. Having a dependable connection pooling mechanism is a hygiene factor of any production-ready system.
You'd be surprised (well... or perhaps not :) of how big a difference a proper connection pool can do in a high traffic site. So I think I'll give it a go.
The good news is that currently in `packages/strapi-hook-knex/lib/index.js` we're only p

[2019-01-09 10:32] pragone commented on #2600
BTW... thanks @derrickmehaffy for the responsiveness 👍

[2019-01-09 11:41] aurelienbobenrieth commented on #2456
I'll add to that topic that the use of WSL is not really optimal since you won't be able to use MongoDB as it is not yet supported yet in WSL.

[2019-01-09 12:23] derrickmehaffy commented on #2600
No problem @pragone this directly affects me as well. If you want to give it a shot and update here on your testing I'll start playing around as well. Your skills are probably a bit better than mine but I do agree on the production ready system. There are a few other things that the bookshelf side of Strapi needs to have done for it to be considered "Production ready" mainly getting bookshelf at l

[2019-01-09 12:35] derrickmehaffy commented on #2601
@Dogtiti This is intended you will need to use the filters to loop through and get more data.

https://strapi.io/documentation/3.x.x/guides/filters.html

Marking this as closed as it is not a bug

[2019-01-09 12:35] #2601 closed

[2019-01-09 14:55] #2146 closed

[2019-01-09 15:22] #1281 closed

[2019-01-09 16:30] brillout opened #2602 "Strapi + Frontend Framework"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

Focusing on being headless seems a sensible goal.

An additional goal could be to integrate Strapi with a frontend framework.
A user ends up needing writing a frontend and such integration would ease the user's

[2019-01-09 16:33] brillout opened #2603 "Plugin System"
It seems that Strapi's plugin system is work-in-progress.
I've gathered some insights with that topic while implementing Reframe.
If you're interested, we can have a chat about plugin systems.

[2019-01-09 16:42] brillout opened #2604 "Eject"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

Strapi seems to pursue the goal of a framework that is overridable.
[Reframe](https://github.com/reframejs/reframe) has that goal as well.

Reframe achieves it by making every plugin ejectable.
Every Reframe lin

[2019-01-09 17:33] derrickmehaffy commented on #2603
Closing, keep this discussion here: https://github.com/strapi/strapi/issues/2602

[2019-01-09 17:33] #2603 closed

[2019-01-09 19:40] brillout commented on #2604
@derrickmehaffy It's not a duplicate; adding eject to Strapi and integrating Strapi with a frontend framework are two separate things.

[2019-01-09 19:53] derrickmehaffy commented on #2604
@brillout they are both related to the framework you are developing. In order to keep the github issues at least somewhat clean I suggest you merge these two feature requests into the open one related to your framework.

[2019-01-09 20:03] derrickmehaffy commented on #2602
[code]

https://github.com/strapi/strapi-sdk-javascript

[2019-01-09 20:48] Skeyelab commented on #2522
@mohamead, is this something that has been released in 3.0.0-alpha.18?

[2019-01-09 20:55] yummyelin commented on #2499
I have a similar issue.

For example, a `user` has a many-many relationship `friends`. When adding a new friend into `friends`, I used:

[code]

It doesn't insert `newFriend` into `friends`, instead, it overwrites `friends`. Now the user only has one friend left in `friends`.

Did I insert many-many relationship correctly?

[2019-01-09 22:59] yummyelin opened #2605 "What is the upper limit of items in relation?"
Is there any upper limit for items in one-many and many-many relation?

[2019-01-10 04:24] Dogtiti opened #2606 "Error record fetch"
[code]

**What is the current behavior?**
In the `listPage` named `elite`, it can get the record as the image;
![image](https://user-images.githubusercontent.com/38354472/50945708-eb016100-14d0-11e9-88e0-5717104c4ba3.png)
but when I click to open one of them, it throws an error `error.record.fetch` and `GET http://localhost:1337/content-manager/explorer/elite/536985f10000000000000000?source=conten

[2019-01-10 04:31] #2606 closed

[2019-01-10 05:19] pauldariye commented on #2558
<img width="1269" alt="screen_shot_2019-01-10_at_00_11_39" src="https://user-images.githubusercontent.com/3650761/50947606-0aff3900-146d-11e9-8056-b70bb016b977.png">

Hey @lauriejim, I gave the rest api a try but still getting the same error.

Here's my code:

[code]

Could you share the server/security config for a strapi instance you have in production that uses a provider like cloudinary or aws

[2019-01-10 05:26] dariye opened #2607 "How to migrate strapi + plugins from an older version to a newer version"
**Informations**
- **Node.js version**: v11.0.0
- **NPM version**: 6.5.0

- **Strapi version**:3.0.0-alpha.17
- **Database**:
- **Operating system**: MacOS Mojave
- **(Optional) Link to your Project**:

**What is the expected behavior?**
The documentation for migrating strapi + plugins from an older version to a newer one isn't as clear to me. Please can provide a step-by-step guide? I'll be happy

[2019-01-10 06:22] #2607 closed, assigned to nobody

[2019-01-10 08:45] reutopiaer opened #2608 "BadRequestError: request aborted"
**Informations**
- **Node.js version**:  v10.11.0
- **NPM version**: 6.4.1
- **Strapi version**:  3.0.0-alpha.17
- **Database**:  Mongodb
- **Operating system**:  Windows
- **(Optional) Link to your Project**:

**What is the current behavior?**

post request aborted when behind proxy

**Steps to reproduce the problem**
[code]
[code]
**What is the expected behavior?**
Post request returns data as n

[2019-01-10 08:54] derrickmehaffy commented on #2608
@reutopiaer a few things:

1) Please always ensure you are testing on the latest version (v18)
2) Windows isn't support: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows
3) For proxying, I recommend you use an external applicaton such as Nginx or Apache.

[2019-01-10 08:58] derrickmehaffy commented on #2522
@Skeyelab his PR was not merged so no it wasn't resolved yet.

[2019-01-10 09:17] deeq14 opened #2610 "Content ID generation"
It seems strapi makes the id of the follow in order in some kind way and I will say that is not good for security purposes..

Imagine I have a game where users points will be stored, so each user relates to a particular one and can be updated by sending put request to /games/:_id... and so a malicious user can just change the last number/letter and send unintended put request...

Here is the examp

[2019-01-10 09:19] pragone commented on #2600
Hi @derrickmehaffy. I've submitted a PR with the change in question. Would love some help on defining a testing process for this.
TBH, I tried it in my local and it worked nicely. No breaks... but well, we all know that that is probably not enough.

I re-read the changelos, and these are all the breaking changes in Knex for the upgrade we're doing here (from 0.13.0 to 0.16.2):

0.16.1
-------
- Us

[2019-01-10 09:22] pragone commented on #2600
Ok... having said all that, the questions are:
1.- What is the testing required? All the tests in the CI passed, does that give you enough confidence?
2.- Should this be considered a breaking change? (my humble opinion is that given that this is an alpha release I wouldn't bother... but then again.. your call)
3.- How can I help? If there's a test plan or similar, I can chip in

[2019-01-10 09:30] derrickmehaffy commented on #2610
![image](https://user-images.githubusercontent.com/8593673/50959226-af8a7680-147f-11e9-8fbf-e0237ab4f536.png)

[2019-01-10 09:34] deeq14 commented on #2610
@derrickmehaffy yea but still they are look very close and one can just guess.. and because strapi doesn't have a way to lock a particular id for a user that can send put request

[2019-01-10 09:36] deeq14 commented on #2610
just some other id's..

https://imgur.com/KlN16eM

now what is the difference only c instead of a and 13, 14

[2019-01-10 09:37] ririen commented on #2499
@lauriejim I'm sorry for the lack of response. Unfortunately, I do not have such opportunities to do it because the project is private. It will co-create something, maybe create a test project.

@yummyelin Yes, indeed a very similar bug. For me, always a new relationship overwrites all previous ones not only in a given element but in all, as if there was a loop on the entire table.

[2019-01-10 09:39] pragone commented on #2536
@lauriejim Could you have a read at these comments. I think that it'll be easier to reproduce after you read the actual cause, and therefore the PR would be clearer

[2019-01-10 09:45] derrickmehaffy commented on #2600
@pragone So the travisCI tests implemented on the monorepo don't actually test core functionality (working on that with cypress but honestly that is more geared towards adminUI testing) I believe all the current tests are done on mongo anyway. @lauriejim generally tests each DB manually before release.

Obviously in the future we want each possible DB type to be tested automatically but that is WI

[2019-01-10 09:48] #2602 closed

[2019-01-10 09:53] derrickmehaffy commented on #2610
@deeq14 again Strapi does not generate these IDs they are done via mongoose/mongo. And since strapi also supports bookshelf and relational databases, this is common.

[2019-01-10 09:56] deeq14 commented on #2610
@derrickmehaffy If they don't generate them, then have a way to lock a particular ID to a particular user only.. so my point still stands though.

[2019-01-10 10:03] derrickmehaffy commented on #2610
@deeq14 data ownership is not a new suggestion :wink: https://portal.productboard.com/strapi/c/44-data-ownership

[2019-01-10 10:04] derrickmehaffy commented on #2610
I'm marking this request as closed as it is a duplicate of: https://github.com/strapi/strapi/issues/624

[2019-01-10 10:04] #2610 closed

[2019-01-10 10:08] pragone commented on #2610
@deeq14  ... I'll add my 2 cents here:
- The fact that a few letters/digits change is not necessarily bad. I understand that you'd want more randomness, but look at it this way. Given an id you do know, try to guess another one. Give yourself 100 attempts or 1,000 and see if you can find another one. Again, the fact that just a few positions change does not mean that this provides little security.

[2019-01-10 10:21] ntloi95 commented on #1957
I have the same problem with postgres

[2019-01-10 10:35] reutopiaer commented on #2608
@derrickmehaffy thanks for your reply!
1. I have tried the latest version (v18), but still have problems.
2. I deploy my app to ubuntu server 18.04, but still have problems.
3.  I have tried Nginx, it's works

May be caused by  koa-proxies, but  request aborted by strapi :(

[2019-01-10 10:35] #2608 closed

[2019-01-10 11:27] joshmorel opened #2611 "PluginHeader/ListPage layout issues with medium viewport"
**Informations**
- **Node.js version**: Docker quickstart (node:11.1.0-alpine)
- **NPM version**: Docker quickstart (node:11.1.0-alpine)
- **Strapi version**: Docker quickstart (strapi@3.0.0-alpha.16)
- **Database**: Docker quickstart (MongoDB)
- **Operating system**: Kubuntu 18.04, tested on both Firefox 64.0 (64-bit) and Chrome Version 71.0.3578.98 (Official Build) (64-bit)

**What is the curren

[2019-01-10 11:50] derrickmehaffy commented on #2611
@joshmorel is known :stuck_out_tongue: https://portal.productboard.com/strapi/c/20-administration-responsive

[2019-01-10 11:53] joshmorel commented on #2611
Ah I see. So basically there is a larger issue around responsiveness. I guess you can close this one then.

[2019-01-10 12:29] #2611 closed, assigned to nobody

[2019-01-10 15:48] AminZibayi commented on #2549
Thank you for your intelligent suggestion @derrickmehaffy! and sorry for answering late... i was fighting with an army of errors and problems...!
Yes, it is a Windows drive... should i setup strapi at `AppData\Local\Packages\CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc\LocalState\rootfs\`?
can i instead of using the command `npm run setup`, just run `npm install strapi@alpha -g`? what is th

[2019-01-10 16:42] derrickmehaffy commented on #2549
@AminZibayi I honestly have no idea if that is the actual problem.

Installing Strapi globally allows you to run the CLI tools, the strapi package also is used by your project. (In theory you could just link the package in your project directories node modules folder into your bashrc path but that is complex and honestly not needed, hence the global install)

npm i (don't use run setup unless your

[2019-01-10 17:07] AminZibayi commented on #2549
I have no project now, just want to create a new admin panel following material design concepts for strapi.
Is it possible by running `npm install strapi@alpha -g` then `strapi new my-project --dev`?

[2019-01-10 17:09] #2444 closed

[2019-01-10 19:32] deeq14 commented on #624
Has this issue been addressed? it is a thing that potentially will make our project abandon strapi to be honest, if the feature isn't no where near.

[2019-01-10 19:35] derrickmehaffy commented on #624
@deeq14 It has not been started as the Strapi team are entirely focused on the plugin framework rewrite to be able to build more plugins like this.

[2019-01-11 09:02] Nowhy opened #2613 "Deep filter cannot work (A.B.C.name_contains)"
**Informations**
- **Node.js version**: v10.13.0
- **NPM version**: 6.4.1
- **Strapi version**: " "^3.0.0-alpha.18"
- **Database**: "mongoose": "5.3.16",
- **Operating system**: Windows 10

**What is the current behavior?**
cannot deep filter...

**Steps to reproduce the problem**
I have a schema model like this
A has a list of properties and one of them is B.
B also has a lost of properties and o

[2019-01-11 09:55] #2536 closed

[2019-01-11 10:01] derrickmehaffy commented on #2613
Closing as this is a duplicate issue related to this PR: https://github.com/strapi/strapi/pull/2452

[2019-01-11 10:01] #2613 closed

[2019-01-11 10:10] Aurelsicoko commented on #752
We'll make a new field called "slug" for sure. I cannot give you a release date though. The 2019 roadmap is already pretty heavy. I hope we'll find some time to release this new slug 👍

[2019-01-11 13:35] Aurelsicoko commented on #2086
You can easily disable the `autoPopulate` feature by setting the `autoPopulate` property to false for the fields which don't need to be populated.

[2019-01-11 13:40] Aurelsicoko commented on #2527
The GeoJSON field wasn't one of priority. The GeoPoint (aka Map) is a priority for example. However, the work done here seems pretty good. I would love to see it merged to the project.

I'm not sure to understand the questions:

- Where do you expect to store the vectors tiles?
- Can you submit the PR so we'll be able to review the code and continue the work together,

[2019-01-11 13:42] Aurelsicoko commented on #2588
Did you try to delete the package-lock.json file?

[2019-01-11 13:47] Aurelsicoko commented on #2464
I'm closing this issue until you give us more details. We'll reopen it when we'll have the necessary information to reproduce it 👍

[2019-01-11 13:47] #2464 closed

[2019-01-11 13:51] Aurelsicoko commented on #2587
@denisinvader Thank you for noticing this. We should use the word "Content", so it means that it should be translated to "Типы Контента" (feel free to correct my Russian 🙈). Can you submit a PR, we'll be happy to merge it? 👍

[2019-01-11 13:52] Aurelsicoko commented on #2593
@deeq14 Can you confirm that the Content-Manager's routes weren't opened for the public role?

[2019-01-11 13:54] Aurelsicoko commented on #2122
@soupette You're right! I made a mistake, the backend routes don't change so the list above isn't an issue and shouldn't impact the deployment on another server.

[2019-01-11 14:03] lauriejim commented on #2591
I will have to take a look.
Please for next time can you share your screen in english please.

[2019-01-11 14:04] WojciechKonieczny opened #2614 "After selecting the database the strapi stops"
**Informations**
- **Node.js version**:  v10.15.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-aplpha.18
- **Database**: Mongo v4.0.5
- **Operating system**: Windows 7

**What is the current behavior?**
Hello, I'm newbie user of Strapi. I have a problem with creating a new project. After selecting my main database, strapi stops and does not ask for the rest of the information.
https://imgu

[2019-01-11 14:05] denisinvader commented on #2587
@Aurelsicoko I will update it in #2589

[2019-01-11 14:18] lauriejim commented on #2605
Nop there is not limit.

[2019-01-11 14:18] #2605 closed

[2019-01-11 14:19] lauriejim commented on #2558
403 is caused by restricted access to your API I think.

[2019-01-11 14:32] pauldariye commented on #2558
hey @lauriejim, you're right. I'm unsure what the right production config is to avoid this for the API. Are you able to share an example production server and security configuration?

[2019-01-11 15:13] arogyakoirala commented on #2527
The vector tiles that I'm currently using comes from MapTiler Cloud ([see pricing here](https://www.maptiler.com/cloud/plans/)). I'm currently using the free plan which allows upto 100,000 requests a month. I guess what I'm asking is if that would be enough. If not, we will have to look for other free options (which I'm sure are available, I just haven't spent enough time researching on the same).

[2019-01-11 15:22] arogyakoirala commented on #2527
@Aurelsicoko I'm not sure if I understand what a GeoPoint is. Can you elaborate?

[2019-01-11 15:35] tombunn commented on #2558
@pauldariye Your header with your Bearer token is missing in your REST example so unless the upload endpoint permissions are public it should fail I think? I did have a working example with REST that uses axios which you might want to adapt which you can find [here](https://github.com/strapi/strapi/issues/1919#issuecomment-420400750).

[2019-01-11 15:43] lauriejim commented on #2614
Hello @WojciechKonieczny !

It's because you are using windows.
Please check https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions to be able to fix the issue.
It will be fixed in next version of Strapi. A PR have been merge to fix that.

[2019-01-11 15:43] #2614 closed

[2019-01-11 16:20] merijnvanessen commented on #2527
Should I open a different feature request?

I 'just' :-) need a field within contenttypes to add points (geojson)

So I can add markers to my strapi model
[code]
These markers can be found with something like

[code]
and display on any map library client sided

[2019-01-11 17:14] deeq14 commented on #2593
@Aurelsicoko Yes, there weren't open and somehow it was still possible to do CRUD.

but at the moment im using a new strapi I created few days ago, tested all endpoints with postman and works as expected.

[2019-01-11 20:05] ChrisRArendt opened #2616 "Ordering child relationships"
- **Node.js version**: 10.1
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB, db is v3.6.8
- **Operating system**: OSX 420 Sierra

**What is the current behavior?**
Can drag and drop child relation items to order them and save. On opening the parent item again, the child items are there but out of order.

**Steps to reproduce the problem**

1. Create two conten

[2019-01-11 23:00] yeomann commented on #514
thanks, After making some changes via --dev i created the build and ran into babe-poylfill issue. after doing `npm run setup --plugins ` admin panel is resolved finally so now i can login.

[2019-01-11 23:11] yeomann commented on #1957
ok the solution that i found is... let me explain first.

so i created a `--dev` version, Created 1 test content-type and added few fields in it. Did logo changes and created a build afterwards. Next upon staring server, I had babel-polyfill issue, after resolving it (https://github.com/strapi/strapi/issues/514#issuecomment-453684059) on Dashboard i saw my previously created Data-type and i tried

[2019-01-12 03:03] seanmavley opened #2617 "Some clarity on deployment behind Nginx as proxy server"
I'm a few hours old with Strapi. Setup locally in seconds. Trying to deploy with Nginx sitting in front as proxy. Totally different experience.

My setup:
18.04 LTS | Node 11 | MongDB 4.0.5 | Nginx 1.14 | Strapi 3.0.0-alpha.18

What I want to achieve (or so I thought):
 - Run Nginx on port 80/443
 - Proxy requests hitting api.example.com to Strapi (all of strapi)
   - so api.example.com/ should ta

[2019-01-12 10:05] seanmavley commented on #1996
@simoncrypta Same here, and I don't think it has anything to do with permissions.

In prod, the "Configurations" and "Content Type Manager" tabs are missing. They're not showing.

[2019-01-12 10:07] pauldariye commented on #2558
Thanks @tombunn, I'll give this a try.

[2019-01-12 12:14] seanmavley commented on #1573
@ghufr That's a great hint.

I'm on a 5$ digitalocean box. Instead of upgrading, just bumped up swapfile from 1 to 2Gig. Sailed through in peace.

[2019-01-12 13:32] #2617 closed

[2019-01-12 16:57] derrickmehaffy commented on #2617
@seanmavley https://medium.com/@derrickmehaffy/using-strapi-in-production-with-https-717af82d1445

[2019-01-12 16:59] derrickmehaffy commented on #2617
Specifically your proxy block and you have http2 enabled (which nginx doesn't support via the proxy)

Also as a personal preference I recommend dumping your upstreams into it's own file like I do in that guide.

[2019-01-12 18:05] pauldariye commented on #1880
Great guide @derrickmehaff ! Any chance you're open to sharing the script?

[2019-01-12 19:10] derrickmehaffy commented on #1880
@pauldariye I use that script in the comment above yours to generate the models, after that I've just been using meld to copy over files that are needed.

[2019-01-12 22:17] maxime1992 commented on #1986
So how to do it now, until the CLI gets available?

I've been developing locally using strapi and I'm now trying to push to production but I feel completely stuck :man_shrugging:

Even if it's painful, is there a description of how to do it for now?

[2019-01-13 02:19] jimnordb opened #2619 "Delete entry with an Media relation error Parameter "obj" to Document()"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**:  6.4.1
- **Strapi version**: v3.0.0-alpha.18
- **Database**:  MongoDB 3.6.9
- **Operating system**:  Debian 9

**What is the current behavior?**
Issuing delete requests causes 500 internal error. but the entry gets deleted anyway. in a non-custom install. only some content types added

The delete request: /products/5c3a52af383fe663

[2019-01-13 02:48] jimnordb commented on #2619
Figured it was caused by relation

Products:
[code]
now gone.

in my Deliveries i had:
[code]

now

[code]

[2019-01-13 04:54] hoangtranson commented on #2307
I got the same issue and I think the workaround above will not resolve the root cause. and I like your solution @wemod123.

[2019-01-13 10:09] jnaroogheh opened #2620 "bookshelf awit fail"
**Informations**
- **Node.js version**:  v8.11.3
- **NPM version**:  6.4.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: mysql
- **Operating system**: widows 10 64bit
- **(Optional) Link to your Project**:

**What is the current behavior?**
after fetching data form sevice (with bookshelf/mysql) with fetchAll,result is not an array of object .
my code is:
`let c = await strapi.services.u

[2019-01-13 16:04] t2 opened #2621 "Adding required fields when records already exist."
**Informations**
- **Node.js version**:
v10.11.0
- **NPM version**:
6.5.0
- **Strapi version**:
3.0.0-alpha.18
- **Database**:
postgres
- **Operating system**:
Mac OS Mojave

**What is the current behavior?**
When adding a required field to a content type where records already exist there is an error thrown because the existing records are not getting the default value set on save.

[code]

**Step

[2019-01-13 17:18] lauriejim commented on #2616
Hello! This issue is a duplicate of this one - https://github.com/strapi/strapi/issues/2166

[2019-01-13 17:18] #2616 closed

[2019-01-13 17:21] jhfgloria opened #2622 "Duplicated relations in relation dropdown"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.18
- **Database**: PostgreSQL
- **Operating system**: MacOS High Sierra 10.13.6

**What is the current behavior?**
When adding new items to a relation, the select component (UI) presents duplicates. This happens if I click the select dropdown twice (the first time says there are no more items

[2019-01-13 17:41] lauriejim commented on #2621
Hello @t2 ! thank you to report this issue.

Actually this issue is "normal" cause you change your data model after creating some data.

The question we have to ask is, does it Strapi work to update all you existing data to update previous `null` value to `?` (we don't know, `empty string` ?) value. You can understand it's a little be tricky.
It's the same question if you start with `price` attrib

[2019-01-13 17:46] t2 commented on #2621
@lauriejim I agree completely! Where would such a script go? In the Rails world we would have a migration that I would edit to have this business logic take place along side the schema update. Is their documentation showing where I would put a script like this?

[2019-01-13 18:16] lauriejim commented on #2621
You can see our roadmap here - https://portal.productboard.com/strapi. There is a **Data Management** section and we talk about that in intern. Feel free to add a feedback here 😉

Bookshelf can't be load by Strapi (that the issue log) so we will not be able to exec any script that use a database. You will have to create a standalone script for that.

[2019-01-13 18:19] lauriejim commented on #2621
Some things to help you.

[code]

[2019-01-13 18:40] derrickmehaffy commented on #1880
@eComEvo Yes as noted in the OP, you just need to use `-t bookshelf` when you generate the models. As models (currently) depend on the hook being used (mongoose/bookshelf)

Mongoose: Mongo
Bookshelf: MySQL/Postgres/SQlite (sqlite coming soon)

[2019-01-13 19:44] e-ndrus opened #2623 "When making PUT request, created_at and updated_at are incorrectly truncated and the request fails"
**Informations**
- **Node.js version**:
- **NPM version**:
- **Strapi version**:
- **Database**:
- **Operating system**:
- **(Optional) Link to your Project**:

**What is the current behavior?**

Trying to connect React Admin and Strapi with MySQL database. I have run into the following issue:

When making PUT request, created_at and updated_at are incorrectly truncated and the request fails with

[2019-01-14 06:59] mnlbox opened #2624 "Need some help update (fetch all schemas endpoint)"
Hi guys,
I need to get schemas from REST api. I think it's an undocumented feature that now exist in core because I see that documentation plugin display schemas now and also admin dashboard display it too. Is it possible to fetch all schemas through REST? Which endpoint?
I can't find any docs about this.

![schemas](https://user-images.githubusercontent.com/25859075/51099701-910ddd80-17e7-11e9-8b

[2019-01-14 07:04] derrickmehaffy commented on #2624
@mnlbox the schemas are just built off your model.settings.json file, it is specific to the OpenAPI/Swagger spec

You can't grab those via REST right now.

[2019-01-14 07:05] derrickmehaffy commented on #2624
![image](https://user-images.githubusercontent.com/8593673/51099817-1fef0b80-1790-11e9-8b60-a30227f5cc1f.png)

Example from one of mine

[2019-01-14 11:13] kalms commented on #2619
Hi @lauriejim

We're also experiencing it. The issue appeared suddenly when calling the `/contenttype/:_id` with a `DELETE` request, hitting the remove() service.

`  /**
   * Promise to remove a/an workshop.
   *
   * @return {Promise}
   */

  remove: async params => {
    // Select field to populate.
    const populate = Workshop.associations
      .filter(ast => ast.autoPopulate !== false)

[2019-01-14 11:23] kalms commented on #2619
Added note: We just update to alpha-18 from 16, to see if that would fix it, but didn't happen.

[2019-01-14 11:30] kalms commented on #2619
Another observation: When calling the endpoint, I get this output and complete error message in console:

`(node:44198) DeprecationWarning: collection.findAndModify is deprecated. Use findOneAndUpdate, findOneAndReplace or findOneAndDelete instead.
warning.js:18
ObjectParameterError {message: "Parameter "obj" to Document() must be an object, g…", name: "ObjectParameterError", stack: "ObjectParamet

[2019-01-14 11:43] mnlbox commented on #2548
I think we can also add `tag title` and `tag color` to each content type and show this in admin panel. Something like something now we have for users content type: (tag title = user mermissions, tag color = blue)

![content type tag](https://user-images.githubusercontent.com/25859075/51110644-ac401380-180e-11e9-9123-406b76c68a53.png)

Then I can add something similar through admin panel for all co

[2019-01-14 13:21] e-ndrus commented on #2623
Hey Derrick, sorry for that. Updated the bug report. In any case, I switched to MongoDB for my project. But I thought I would report it after hours of trying to figure it out.

[2019-01-14 17:59] lauriejim commented on #2619
Hi @kalms thank your for these detail! I will have to make some investigations.

[2019-01-14 18:48] t2 commented on #2621
@lauriejim Happy to close this if you feel like it's necessary.

[2019-01-14 20:40] justinriggio commented on #2456
I get the same warnings on macOS and Unbutu 18.x

Is there a fix for this issue?

[2019-01-14 22:45] tlchatt commented on #2456
I believe accidentally running the npm install command as sudo was what caused this issue for me in Ubuntu and uninstall and reinstall without sudo fixed it.

[2019-01-14 22:56] derrickmehaffy commented on #2623
@e-ndrus when you send date/time values with bookshelf/postgres they have to be formatted properly:

`YY-MM-DD HH:MM:SS` Also you shouldn't be sending those values anyway as bookshelf does it automatically :wink:

[2019-01-14 22:56] derrickmehaffy commented on #2623
I'm leaving this as closed as there is no actual bug and is normal usage.

[2019-01-14 23:22] justinriggio commented on #2456
@tlchatt  What node and npm ver are you running on Ubuntu? and did you use apt or NVM?

[2019-01-15 02:36] fabricioanciaes commented on #1960
These are the problems I've found for the date picker, hope it helps:

#### Problem 1:
After saving, the hour decreases by 3:

This is what I set on the admin:
![https://i.imgur.com/dgzNEBo.png](https://i.imgur.com/dgzNEBo.png)

This is what it looks like after saving:
![https://i.imgur.com/OafsSB9.png](https://i.imgur.com/OafsSB9.png)

#### Problem 2:
Date picker only increases by 4 and decreases

[2019-01-15 03:57] suttonmay opened #2625 "File size sorting by numeric order rather than actual file size"
<img width="1380" alt="screen shot 2019-01-14 at 8 47 49 pm" src="https://user-images.githubusercontent.com/11130449/51157843-f3de9380-183e-11e9-8875-5f5e10b18683.png">

**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.18
- **Database**: MongoDB
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
When sorting your upload

[2019-01-15 04:15] pauldariye commented on #2558
@lauriejim, the error seems to be coming from [strapi-hook-mongoose#L163](https://github.com/strapi/strapi/blob/2b4ad0009555d56000b4a1ad0be3dd7340e819fa/packages/strapi-hook-mongoose/lib/relations.js#L163). I believe the `users-permissions_user` model is missing the globalId.

I'm not too familiar with the strapi codebase but I'm happy to work on a PR if someone's able to point me in the right dir

[2019-01-15 08:20] jnaroogheh commented on #2620
@lauriejim  i update to last version strapi (18) , but problem exist ,
my problem is why below code return CollectionBase object ?

let check = await strapi.services.usermobile.fetchAll({
          mobile:(params.mobile)
        });
i think must be return a array object like this , (not a collection base)
`[ { id: 16,
    user_id: 22,
    mobile: '09306219868',
    sms_code: '32878',
    sms_date:

[2019-01-15 09:14] thkdog commented on #2588
I have checked the server files, it turns out that the node_modules in plugins are not installed although I have run `npm i` in DOCKERFILE.

[2019-01-15 09:17] conghai opened #2626 "GraphQL Plugin use routes config policies as default"
As document [Policies Usage](https://strapi.io/documentation/3.x.x/guides/policies.html#usage)
[code]

Why we are not set policies default for Graph same router configs and overwrite by custom?

## Solutions:

add more config to setting
[code]

Set default policies for Query Type if policies is empty
[code]

Set default policies for Matution Type if policies is empty
[code]

[2019-01-15 09:57] thkdog commented on #2588
I have solved the problem, you can fixed it in 2 ways:
1.
[code]
2.
[code]
Check this related issue: [npm WARN cannot run in wd node-gyp](https://github.com/nodejs/docker-iojs/issues/72)

Which causing the problem is the node_modules in plugins are not installed.
When using `npm i` in dockerfile, when compling, the `postinstall` scrips won't be excuted, as below:
[code]
So you have to execute it m

[2019-01-15 10:08] deeq14 opened #2627 "GraphQL query "me" get related content"
**What is the current behavior?**
I am using GraphQL plugin and the query 'me' doesn't have for example a related content by the user, just the basics, id, username, email e.t.c..

for example I have to do this way,

[code]
which means I have to allow a user to access /user:_id which also exposes that the user can get other users content!

**Steps to reproduce the problem**
Create a content add a

[2019-01-15 10:51] #2522 closed

[2019-01-15 16:09] #2520 closed

[2019-01-15 17:07] deeq14 commented on #2570
I'm facing the same issue...

[code]
Throwing this error

[code]

[2019-01-15 21:02] belgianwolfie commented on #2276
so this remains open ? Cannot use graphql at all on Heroku ?

[2019-01-16 03:09] 8ctopotamus commented on #2491
Same issue with trying to save required floats.

[2019-01-16 03:44] projik opened #2631 "Error in User update"
**Informations**
- **Node version**: 10.15.0
- **6.5.0**: 6.5.0
- **Strapi version**: 3.0.0 alpha 18
- **Database**: Postgres
- **Operating system**: Linux & Mac
- **(Optional) Link to your Project**:

**What is the current behavior?**

When attempting to update a user record, an error is returned due to a duplicate email address conflict (if unique email is set)

**Steps to reproduce the problem*

[2019-01-16 09:53] #2631 closed

[2019-01-16 11:58] lauriejim commented on #1960
Thank you @fabricioanciaes for these details.

[2019-01-16 12:01] lauriejim commented on #2625
Hello @suttonmay , thank you for reporting this issue.
Can you please submit a PR to fix it.
Will appreciate your contribution!

[2019-01-16 12:08] mnlbox opened #2635 "Documentation not detect server port (only works with 1337)"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**: Linux
- **(Optional) Link to your Project**:

**What is the current behavior?**
I change my Strapi server port in `config/environment/development/server.json` file from 1337 to 8888 but documentation plugin still want to use 1337 because of

[2019-01-16 12:37] mdocter commented on #768
@navvvidi Can you remember what you changed? Which OS permissions was this? I still have the same problem.

[2019-01-16 12:52] abdonrd commented on #2146
@lauriejim can you reopen it? 😅

<img width="1191" alt="screenshot 2019-01-16 at 13 51 53" src="https://user-images.githubusercontent.com/1007051/51250222-028b8e80-1996-11e9-8cce-3c9b35834196.png">

[2019-01-16 13:06] abdonrd commented on #2146
https://github.com/strapi/strapi/blob/94c2f0e99997073ec88be40dc520b10ffd8b2d02/packages/strapi/lib/core/admin.js#L61-L67

Is this? I'm not sure how all Strapi works internally.

[2019-01-16 13:09] thkdog commented on #1960
Is there any alternative solutions for now? It seems be a critical problem...

[2019-01-16 14:01] mnlbox commented on #2312
@lauriejim I submit request in productboard. Can you mark that as public for voting?

[2019-01-16 14:07] derrickmehaffy commented on #2312
@mnlbox That would be @Aurelsicoko that does the product board

[2019-01-16 14:15] dtaalbers commented on #1152
Any idea when this is implemented? It's quite critical for me.

[2019-01-16 14:20] mnlbox commented on #1152
Based on https://portal.productboard.com/strapi/tabs/3-planned it's planned for Q3 2019 :disappointed:

[2019-01-16 14:23] dtaalbers commented on #1152
😮 A highly voted feature like this? Ah well, we might change from Strapi in that case. Thanks for the reply!

[2019-01-16 16:51] abdonrd opened #2639 "Allow search Users in the API"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

With https://github.com/strapi/strapi/pull/1520 we add a new query filter for the generated API, but the User model from the `users-permissions` plugin does not have it

[2019-01-16 16:59] derrickmehaffy commented on #1152
@dtaalbers There is *a lot* more that has to happen before the adminUI permissions rework comes. The Strapi team are working as fast as they can.

Trust me they are aware how popular it is, but they are focusing on the plugin framework rewrite to allow them and others to build great plugins like that.

[2019-01-16 17:02] dtaalbers commented on #1152
@derrickmehaffy No worries, I understand. Wasn't aware of the rework, I only was a bit surprised about the roadmap seeing the votes for the feature. 👍

[2019-01-16 18:04] lauriejim commented on #2620
Can you please write one clean message with good code template.
I'm not able to understand your issue.

[2019-01-16 18:12] lauriejim commented on #2626
To add informations, you can find an exemple how implement policy in GraphQL query https://strapi.io/documentation/3.x.x/guides/graphql.html#customise-the-graphql-schema

[2019-01-16 18:17] lauriejim commented on #2491
I confirm this issue thank you all for your feedback!
We will work on it soon as possible.

If any one can submit a PR to fix it, we will appreciate.

[2019-01-16 18:22] lauriejim commented on #1960
We are working on a new input (component library) for the date and will be release soon and implemented in this plugin.

We will give you more informations when time will come. (big things are coming)

[2019-01-16 18:22] lauriejim commented on #2573
Thank you @chaitanyya for your contribution.

[2019-01-16 18:39] thkdog commented on #1960
Sounds amazing! Just to make sure the new component is a pure web side improvement, fully compatible with the current db structure so I can merge it into current version out of box :D

在 2019年1月17日，02:22，Jim LAURIE <notifications@github.com<mailto:notifications@github.com>> 写道：

We are working on a new input (component library) for the date and will be release soon and implemented in this plugin.

[2019-01-16 19:40] yummyelin opened #2640 "Error message is too long"
**Informations**
- **Node.js version**: v11.1.0
- **NPM version**: v6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: mongodb
- **Operating system**: ubuntu
- **(Optional) Link to your Project**:

I am wondering if I am the only one faces the problem. It is not a bug but a little bit bothering me.

**What is the current behavior?**
Once there is an error occurs, the terminal prints a supe

[2019-01-16 21:47] giona69 commented on #1770
I report the same bug
it doesn't work on macos x locally and on a linux (amazon image) deployed build.

**Informations**
- **Node.js version**: 10.14.1
- **NPM version**: 6.4.1
- **Strapi version**: alpha.19
- **Database**: mysql
- **Operating system**: macosx mojave

**What is the current behavior?**
I added a content type with a media field with "Allow multiple files" enabled.
While when I edit

[2019-01-17 04:05] connectwithub commented on #2185
I am also facing a similar problem with Mysql. Only one side of the relationship is being updated in my case. I am trying to set up a parent child relation within my model. But if I add one thing as child the parent relation on the other product is being added but the child relation on the product is not being added and vice versa.

[2019-01-17 05:56] mnlbox commented on #1561
@Aurelsicoko as you said please keep this issue open to keep it in mind.

@lauriejim please re-open this until comma and new line support in enumeration.

[2019-01-17 06:05] projik opened #2641 "Content-manager and user-permissions plugin params are different"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0 alpha 18
- **Database**: Postrges
- **Operating system**: Linux/Mac
- **(Optional) Link to your Project**:

**What is the current behavior?**
This is related to issue #2631 and PR #2632

The content-manager routes us the parameter name id in updates to plugin data.
The user-permissions routes to up

[2019-01-17 06:34] mnlbox opened #2643 "Relational fields only show first 4 items"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**: Linux
- **(Optional) Link to your Project**:

**What is the current behavior?**
I add 5 child (relational field) but it's just show first 4 item. See below image for more info.
![relational feild](https://user-images.githubusercontent.com/25

[2019-01-17 06:39] mnlbox commented on #1561
Thanks @derrickmehaffy
For example I want add my enumeration values like this:
![enumeration](https://user-images.githubusercontent.com/25859075/51300082-e6dcc280-1a3f-11e9-9555-925dffe8fe86.png)

For me separate by enter is more cleaner.

[2019-01-17 07:00] mnlbox opened #2644 "Non required JSON fields"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**: Linux
- **(Optional) Link to your Project**:

**What is the current behavior?**
JSON fields must be contain `{}` content if we don't mark JSON field as `required` otherwise we need add a `{}` manually to prevent form error and submit data.
!

[2019-01-17 07:02] derrickmehaffy commented on #2644
@mnlbox send an empty array `{}` this is known about.

[2019-01-17 07:13] mnlbox commented on #2644
Yes but when I don't check `required` in content type builder then I don't want add any data manually. (because I have 10 JSON field in this content type and If we force add `{}` for all of them It's kill my time)
What is the different between required and non-required JSON field if we need enter some data for both of them? :thinking:

@derrickmehaffy I think it's a UI bug and we need fix this for

[2019-01-17 07:16] mnlbox opened #2645 "Filter add and remove button not vertically align"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**: Linux
- **(Optional) Link to your Project**:

**What is the current behavior?**
Filter add and remove button not vertically align. See below image:
![filter buttons align](https://user-images.githubusercontent.com/25859075/51301591-0c1fff80-

[2019-01-17 08:03] projik commented on #2639
You can search for users by username and email on the following API path:

/users-permissions/search/[search-term]

It returns an array of users that match.

Were you looking for something more from the user search?

[2019-01-17 09:13] abdonrd commented on #2639
@projik I mean the same as: https://github.com/strapi/strapi/pull/1520#issue-199412384

[2019-01-17 09:35] AndinAvdiu commented on #2536
Is this solved? because i'm having this problem also. Should it be "the right way" if I modify the users-permission plugin?

[2019-01-17 09:41] pragone commented on #2536
Hey @AndinAvdiu . The fix has been merged, but I think it'll be released in 3.0.0-alpha.19
Modifying the plugin is not the right way in that it'll be overwritten every time the post-install scripts run. But it'll solve your issue in the meantime, and 3.0.0-alpha.19 shouldn't be far away.
Good luck

[2019-01-17 10:15] henrych4 commented on #2643
You should be able to view all items by scrolling down. Correct me if I am wrong.

[2019-01-17 10:40] mnlbox opened #2646 "can't set/unset custom response header (X-Powered-By) with middleware"
**Informations**
- **Node.js version**: v10.14.2
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.17
- **Database**: MongoDB
- **Operating system**: Linux
- **(Optional) Link to your Project**:

**What is the current behavior?**
I want to set custom response header with a middleware. It's working well for all header field but when I try set `X-Powered-By` header (for hide Strapi from res

[2019-01-17 10:42] mnlbox commented on #2643
@henrych4  No page not have any scroll for this.

[2019-01-17 10:46] derrickmehaffy commented on #1578
Confirming this issue still present on v18 & v19

[2019-01-17 11:16] ArthurKnoep opened #2647 "Strapi with MySQL: Error: ER_TOO_MUCH_AUTO_TIMESTAMP_COLS"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.19
- **Database**: MySQL
- **MySQL version**: 5.5.60
- **Operating system**: Debian 8

**What is the current behavior?**
I am not able to start any new strapi project configured with mysql. On each attempt to `strapi start`, I get this error:
[code]
Here is a complete startup log (with debug

[2019-01-17 11:52] AndinAvdiu commented on #2536
Make sure to make getProfile method in the "Providers" service accessible.

[2019-01-17 12:03] #2587 closed

[2019-01-17 12:07] Aurelsicoko commented on #2527
@arogyakoirala So if we have to depend on a third-party, we should add a provider system to this new type of field.

About the GeoPoint is nothing more than a pin that you put on Map. It just works like a GPS (lat, lon coordinates).

[2019-01-17 12:09] Aurelsicoko commented on #1986
Yes, there are resources available:
- https://strapi.io/documentation/3.x.x/guides/deployment.html
- https://blog.strapi.io/how-to-deploy-a-strapi-application/
- https://blog.strapi.io/deploying-a-strapi-api-on-heroku/

[2019-01-17 12:11] Aurelsicoko commented on #2548
So you want to group them in the menu? I'm not sure to clearly understand the proposal...

[2019-01-17 14:32] ANTEVETY opened #2648 "Create project problem"
**Informations**

**Node.js version: v10.13.0
npm version: 6.4.1
Strapi version: strapi@3.0.0-alpha.19
Database: postgres
Operating system: windows 10**

[code]

[2019-01-17 15:32] Paratron commented on #2387
Have the same problem on a ubuntu machine. mysql-server is running fine, the database exists but strapi refuses to connect. Well, `npm remove strapi@alpha -g` then...

[2019-01-17 15:48] #2228 closed

[2019-01-17 15:57] lauriejim commented on #2383
Can you check again with last version of Strapi, we fix things about provider connection.

[2019-01-17 15:59] lauriejim commented on #2387
In the last version of Strapi we add `--debug` tag when you run `strapi new projec --debug` it will show you all error logs.

[2019-01-17 16:03] lauriejim commented on #2447
Can you please give us an update about this issue?

[2019-01-17 16:05] lauriejim commented on #2463
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2019-01-17 16:05] #2463 closed

[2019-01-17 16:07] lauriejim commented on #2498
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2019-01-17 16:07] #2498 closed

[2019-01-17 16:08] #2507 closed

[2019-01-17 16:10] lauriejim commented on #2538
Can you please give us an update about this issue?

[2019-01-17 16:17] lauriejim commented on #2549
No you can't. To generate a project with `--dev` you have to follow the contributing guide.

[2019-01-17 16:20] #2554 closed

[2019-01-17 16:21] #2588 closed

[2019-01-17 16:36] lauriejim commented on #2640
Hello @yummyelin !

It's caused by Mongoose. It's not due to Strapi.

But in some case in Strapi we manage some errors to make them cleaner and the community told us, the error is not enough explicite. So here you are sure you have the full logs of the error.

In any case I don't think it's a good things to make a wrapper of the ORM.
And errors logs happen only when there is an error. So it doesn'

[2019-01-17 16:36] #2640 closed

[2019-01-17 16:42] lauriejim commented on #2641
Thank you @projik !
I will take a look soon as possible.

[2019-01-17 16:46] lauriejim commented on #2643
Hello! Yap there is a scroll here!
On your screen shot we can see the border shadow on the bottom of the list.

[2019-01-17 16:55] lauriejim commented on #2644
Here we decide about that - https://github.com/strapi/strapi/issues/1989

And it's what is happen, you don't have to set manually `{}`. When you create an entry it's automatically set to `{}`.

I just tested it and it works well.

[2019-01-17 17:09] lauriejim commented on #2647
Hello @ArthurKnoep ! Thank you to report this issue.
I'm not a MySQL expert but I thing some one can help you in the community.

[2019-01-17 17:09] lauriejim commented on #2648
Hello @ANTEVETY!

Did you check https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows ?

[2019-01-17 17:14] lauriejim commented on #2645
We will not work on that point for now. So if you want this fix, feel free to open a PR.

[2019-01-17 17:14] #2645 closed

[2019-01-18 04:27] Anderies opened #2652 "strapi -v is not recognised in command line"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: is not recognised on CLI
- **Database**:
- **Operating system**: Windows 7
- **(Optional) Link to your Project**:

**What is the current behavior?**

but when i try install strapi globally it succed and i change environment variable on my computer
and i check strapi version after installation with this c

[2019-01-18 09:14] Dogtiti commented on #2538
@lauriejim I don't know why, and I didn't use `antd` anymore in `strapi`,all things are ok

[2019-01-18 09:26] BenjaminVanRyseghem opened #2654 "strapi start not working"
**Informations**
- **Node.js version**: 10.14.1
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.19
- **Database**: mongodb
- **Operating system**: macOS

**What is the current behavior?**

`strapi start` fails, I guess because of the "userspermissions" plugin.

[code]

the following line is this one failing, as `services` seems to be undefined:

[code]

Due to this, the page is not serv

[2019-01-18 09:43] Aurelsicoko commented on #2570
We have to merge the https://github.com/strapi/strapi/pull/2380 PR first. Then, we'll be able to fix this issue.

[2019-01-18 09:46] Aurelsicoko commented on #2312
@mnlbox I will display this card as public when there will be more than one person asking for it. Currently, you're the only one who wants this feature. I want to keep the public roadmap clear and understandable. I hope you'll understand 👍

[2019-01-18 09:48] Aurelsicoko commented on #1152
Yes, it's the most asked feature on ProductBoard. However, we have to rework the plugin framework first, test the core and update the architecture, then we'll be able to add new features 👍

[2019-01-18 09:50] Aurelsicoko commented on #2626
You're setting the policies in the router which relates to the REST API. If you want to add policies to a specific GraphQL query, you have to use the `schema.graphql` file (see @lauriejim link above).

[2019-01-18 09:50] #2626 closed

[2019-01-18 09:56] conghai commented on #2626
Hi,

I know we can customize policy of `graphql`. But the default is when graphql generate has no policy applied.
Why we do have to config policies for `graphql` and also config them in `routes.json`

We should get policies from the `routes.json` applied to `graphql`, if the user wants to custom, policies will overwrite with the user configs.

You can review my commit to understand.

[2019-01-18 12:52] Aurelsicoko commented on #2639
@abdonrd Will you have time to implement it?

[2019-01-18 12:55] Aurelsicoko commented on #2627
@deeq14 Thank you for raising this issue! Do you have time to implement it? We'll be happy to merge it to the codebase 👍

[2019-01-18 13:02] Aurelsicoko commented on #2626
@conghai I disagree with your point of view. The `routes.json` refers to the REST API whereas the `schema.graphql` refers to the GraphQL API. This is the reason that we have two different files and you've to apply the policy on both. In the beginning, we thought it was a good idea to attach policies to the controllers to unify them whatever the endpoint you use (GraphQL or REST). But it happens th

[2019-01-18 13:34] pwkrz commented on #2447
Hi, sorry about the delay responding.

Here is an example content type that causes the problem:
[code]
I send a POST request to `http://localhost:1337/zunos` with the payload: `{ wid: null, _id: null, xname: 'whatever' }`

The response is: `{"statusCode":404,"error":"Not Found","message":"Not Found"}`

In the problematic model I do not introduce any customizations, but I did customize the User mod

[2019-01-18 16:16] roghernandez commented on #1788
I'm having this issue too, any ideas on what might be causing it? I tried reinstalling Strapi and the upload plugin

[2019-01-18 18:37] rdbmax commented on #2654
Maybe related,
Error when i try to create an app, when strapi install plugins `users-permissions` and `upload`:

[code]

[code]

[2019-01-18 18:52] deeq14 commented on #2627
@Aurelsicoko Unfortunately I am just a beginner/intermediate in js and lack of skills may hinder.. but I will try 👍

[2019-01-18 20:42] derrickmehaffy commented on #2654
@rdbmax https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#yarn

[2019-01-19 10:59] yeomann commented on #511
same thing, i don't know why it is closed?

[code]

[2019-01-19 12:13] mnlbox commented on #2312
So anyone that want this can add a :+1: to first post.

[2019-01-19 12:36] sskhokhar opened #2656 "Strapi Documentation Plugin Host Incorrect"
**Informations**
- **Node.js version**: 11.6.0
- **NPM version**: 6.5.0-next.0
- **Strapi version**: 3.0.0-alpha.19
- **Database**:
- **Operating system**: Ubuntu
- **(Optional) Link to your Project**:

**What is the current behavior?**
The documentation plugin sends request to incorrect URL on server.

![capture](https://user-images.githubusercontent.com/13753852/51426741-ba2bd500-1c10-11e9-9fde-

[2019-01-19 13:04] yeomann commented on #511
EDIT: so the solution involves correcting all links. (so many days struggles :/ ) 😄

[code]

[2019-01-20 04:53] aaronweatherall commented on #1960
Also stuck on this one team! Dates are probably the thing stopping me deploying right now.

[2019-01-20 07:45] mnlbox commented on #2645
@lauriejim Please mark this as ` Good for new contributors` and reopen.

[2019-01-20 08:36] srsgores commented on #2554
Hi @lauriejim

I have a VERY basic example running, but it doesn't handle pagination or nested relations:

[code]

I think for nested relations, [this library](https://github.com/scoutforpets/bookshelf-jsonapi-params) should help, but I wasn't able to determine how to access the `knex` query from within the middleware.  Perhaps you can advise.

[2019-01-20 09:50] panosru opened #2657 "More advanced ACL for the backend"
- [X] **I have created my request on the Product Board before I submitted this issue**
- [X] **I have looked at all the other requests on the Product Board before I submitted this issue**

## Please describe your feature request:
From what I saw so far and played with the `alfa.19` release, currently, only administrators can log in to the backend.

It would be very helpful if we could add roles th

[2019-01-20 10:52] derrickmehaffy commented on #2657
Closing as this is a duplicate of this: https://portal.productboard.com/strapi/c/8-administrators-roles-permissions

[2019-01-20 10:52] #2657 closed

[2019-01-20 12:58] soupette commented on #2624
There should be an endPoint in the content type builder that allows you to retrieve one model schema.
Or you can create one in the documentation plugin that retrieves all the components from your `documentation.json` file

[2019-01-20 13:32] soupette commented on #2656
@sskhokhar this is not a bug, you need to set your hosts in the plugin's settings file.
You can refer to the [documentation](https://strapi.io/documentation/3.x.x/guides/api-documentation.html#basic-configurations) or the [article](https://blog.strapi.io/api-documentation-plugin/) if you need more informations about this plugin.

[2019-01-20 13:32] #2656 closed

[2019-01-20 13:34] soupette commented on #2515
@Aurelsicoko do you confirm?

[2019-01-20 18:50] nicksp opened #2660 "Changes for Google auth provider"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

Google is going to [shut down the consumer version of Google+](https://www.blog.google/technology/safety-security/project-strobe/) over the next several months and that

[2019-01-21 01:02] yareyaredesuyo commented on #2276
Me too, in my case i cannot connect to graphql endpoint.

[2019-01-21 01:58] yareyaredesuyo commented on #2276
sorry it is just a playgroundAlways settings matter. I changed it true and it works at playground.

/plugins/graphql/config/settings.json

[code]

[2019-01-21 02:31] yareyaredesuyo commented on #2276
maybe related to this

https://github.com/apollographql/apollo-server/issues/1773

https://www.apollographql.com/docs/apollo-server/api/apollo-server.html#constructor-options-lt-ApolloServer-gt

[2019-01-21 02:45] yareyaredesuyo commented on #2276
OK.

add introspection: true params to plugins/graphql/hooks/index.js and it works well.

[code]

[2019-01-21 04:15] yareyaredesuyo commented on #1957
Fixed this issue by this procedure (when using heroku + mlab).

- strapi-verion: 3.0.0-alpha.18

[code]

But this is very tricky , it should be documented in somewhere (like wiki).

[2019-01-21 06:18] msarfaraz opened #2662 "Compatibility with Maria DB"
The following option are not working in Maria DB.

1)2 timestamp is not support by maria db in single table.However it is noticed we have two cols in UploadFile Table
2) Table name with "-" is making issue

As maria DB is most popular used Open source Database and alternate to MySQL for commercial version it will be great if there us work around

[2019-01-21 06:45] derrickmehaffy commented on #2662
@msarfaraz please update your issue with the proper bug report template. I am marking this as closed until your issue is updated with the template information

[2019-01-21 06:45] #2662 closed

[2019-01-21 06:58] derrickmehaffy opened #2663 "AdminUI update error on timestamp fields using MySQL"
**Informations**
- **Node.js version**: 10
- **NPM version**: 6
- **Strapi version**: v19
- **Database**: MariaDB 10.3 (MySQL)
- **Operating system**: Ubuntu 18.04
- **(Optional) Link to your Project**: https://github.com/canonn-science/CAPIv2-Strapi

**What is the current behavior?**

Error while updating via console:
[code]

It appears you can create new entry it works fine, however attempting t

[2019-01-21 12:31] suhaboncukcu commented on #2652
Hi @Anderies ; This one doesn't look like a bug or a Strapi related issue. Do you have a stack overflow question for this one?

[2019-01-21 12:33] derrickmehaffy commented on #2652
@Anderies this is not a bug, the command is `strapi version`

I am marking this as closed

[2019-01-21 12:33] #2652 closed

[2019-01-21 12:34] derrickmehaffy commented on #2652
As a footnote Windows isn't support. Due to use of windows 7 you will need a linux VM as windows 7 does not have WSL: https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows

[2019-01-21 12:41] derrickmehaffy commented on #2660
This is honestly a good question. After the plugin framework rewrite is finished I believe the plan was to move over to using passport.js and split each provider into their own separate plugins.

I'm sure there is probably one that doesn't use the G+ API but my guess is even though Google is shutting down + they will keep the API alive or offload users to the normal one.

[2019-01-21 12:48] derrickmehaffy commented on #2635
Marking this as closed as @lauriejim is correct, you need to manually override the location in settings.json. You can see an example of this on my project: https://github.com/canonn-science/CAPIv2-Strapi/blob/7a17e97ed8ff46d9cc6f1b9e0064e572bcf71b8b/plugins/documentation/config/settings.json#L22-L39

[2019-01-21 12:48] #2635 closed

[2019-01-21 12:58] suhaboncukcu commented on #2647
Hi @ArthurKnoep, It's because timestamp definitions have difference between MySQL 5.5 and higher versions. [Strapi supports Mysql versions >= 5.6](https://strapi.io/documentation/3.x.x/getting-started/installation.html).

You can check the related query works on 5.6 and not on 5.5 [here](https://www.db-fiddle.com/f/fLhCtfRnSXdprNx5S6XaMc/0)

[2019-01-21 12:59] ArthurKnoep commented on #2647
Hi @suhaboncukcu,

Thank you for your answer, I will try

[2019-01-21 13:24] ryubro opened #2665 "The drop down for adding relation doesn't show all the contents."
**Informations**
- **Node.js version**: v10.11.0
- **NPM version**: v6.4.1
- **Strapi version**: v3.0.0-alpha.19
- **Database**: Mongo
- **Operating system**: Mac
- **(Optional) Link to your Project**:

**What is the current behavior?**

In the editing page of a content with relations, the relation drop down menu only shows up to 20 items.

For instance, let's say the content type A has a relation

[2019-01-21 15:55] andre-av commented on #2276
Ok, it seems it has to do with the parameter `instrospection` been `false` on production builds. This should be documented, or we could add it as an option in `packages/strapi-plugin-graphql/config/settings.json`. Shall I close this issue?

[2019-01-21 16:50] driku opened #2666 "Allow to count search queries in count API route."
**Informations**
- **Node.js version**: v11.4.0
- **NPM version**:  6.6.0
- **Strapi version**: 3.0.0-alpha.17 (node v11.4.0)
- **Database**:  Mongo DB (v4.0.5)
- **Operating system**:  Mac
- **(Optional) Link to your Project**:

**What is the current behavior?**
Query to get count having _q=some_search_term always returns 0

**Steps to reproduce the problem**

hit any url to calculate the count i

[2019-01-21 18:34] schabluk commented on #315
Having the same problem with 3.0.0-alpha.19.

[2019-01-21 20:06] omerfaran opened #2667 "Server wasn't able to start properly"
**Informations**
- **Node.js version**:
- **NPM version**:
- **Strapi version**:
- **Database**:
- **Operating system**:
- **(Optional) Link to your Project**:

**What is the current behavior?**

I'm adding new content types with Strapi, and sometimes when I try to save, it breakes the whole project irreversibly and fails to strart. I cannot understnad why sometimes it happens and at other times i

[2019-01-21 22:14] aaronweatherall opened #2668 "Cannot update user - Email already taken"
**Informations**
- **Node.js version**:
v10.0.0
- **NPM version**:
5.6.0
- **Strapi version**:
v3.0.0-alpha.19
- **Database**:
Mongo
- **Operating system**:
OSX Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**
When I attempt to update a user in the admin, I receive the following error `Email is already taken.`.

**Steps to reproduce the problem**
1. Add a field to u

[2019-01-21 22:16] aaronweatherall commented on #2668
![](https://ucd3095231e2aef843ca712d7818.previews.dropboxusercontent.com/p/thumb/AAWF2c0fZ-Nq5LdXmlNgR6D3KAFUdw7QxgOYimZ8-5kXmJzlRFlxtmn0Jx9z7WowUgMf-SPOykpzWMScWMeTMa4l4YdM1zbfjcHaOo3r7nb6l1hWaxrUreCmvUu-YA8NvTqWKeLOgJq_xCk2PXLGRi3W5CIxjX2qhfCJFtz86pSf3WuJkAc1wF0eqiTnfKC7aV_Ziqp8_u_sUELJAAtx7nFCV5UTonAbgiaSbL9WqOWQuR31U9Cg9hoeMj_y12wSjK9Vo25yt5nSSGtxhbZpPLRTDKrLcjI7AxdPq3Em17dfeAEnubgzlzjqmH6PvqF

[2019-01-21 22:31] yummyelin commented on #2665
Related to #2032

[2019-01-22 06:39] mccrodp commented on #2660
I think this is more of a hard shutdown due to security concerns with the Google+ APIs, so when they say they are shutting it down, might be risky to bank on them offloading requests to another newer API. https://www.theverge.com/2018/12/10/18134541/google-plus-privacy-api-data-leak-developers

We've updated our app recently to migrate to a more recent Google API and were considering integrating w

[2019-01-22 07:37] suhaboncukcu commented on #2663
@derrickmehaffy I think removing this format could lead some problems while handling multiple timezones. May be a change on the accepted field could serve better.

[2019-01-22 07:52] derrickmehaffy commented on #2663
@suhaboncukcu typically when you are dealing with an API like this, you standardize the timezone, IE you only use and accept a single timezone then force your frontend to convert as needed depending on the location. Usually UTC is what is used.

[2019-01-22 08:42] suhaboncukcu commented on #2663
@derrickmehaffy I guess Django uses a serializer for these kind of cases right? I am willing to open a PR if we find a general case solution.

[2019-01-22 09:47] maksugr commented on #2479
Are any news here?

[2019-01-22 09:48] derrickmehaffy commented on #2663
We need to figure out a solution for everyone, waiting on input from @Aurelsicoko @lauriejim and @soupette

There have been a ton of issues dealing with dates and we need to come to common terms with proper formats, and both backend/frontend with how they should be handled.

[2019-01-22 11:17] #2293 closed

[2019-01-22 12:02] odelucca commented on #2663
I agree with @derrickmehaffy

Almost every API that I've made or saw uses UTC as default. It isn't a good practice use a formatted date in the database.

[2019-01-22 12:52] #2327 closed

[2019-01-22 12:54] ryubro commented on #2665
Sorry,

Actually what happened is it loads the next 20 items when the scroll reaches the end in the dropdown menu.

I have no idea why my previous experience didn't work in that way, but I just checked that it works. I'll close this issue.

[2019-01-22 12:54] #2665 closed

[2019-01-22 13:03] mnlbox commented on #2644
@suhaboncukcu It will be fix after merge @soupette update on JSON input.
I think it's better to close after complete fix.
@lauriejim It's still not working in my side I think we need some fix base on @soupette change. :wink:

[2019-01-22 13:15] suhaboncukcu commented on #2663
So, what about a "presentation and transformation layer" for an all in one solution? Making dates fixed in the timezone of application config and get & serve according to the layer settings. I guess something like this also could be used for different response standards like HAL.

[2019-01-22 13:18] derrickmehaffy commented on #2663
@suhaboncukcu translation and conversion should be done on the client side not the server side. Overly complicates the server IMO. client gets UTC no matter what from the server, so you always know the date and time is clear and accurate.

After that there is libraries for just about every language under the sun to convert UTC to local timezone.

[2019-01-22 13:19] derrickmehaffy commented on #2663
It's the same method that MySQL has been doing for the past 24 years or so.

[2019-01-22 13:30] suhaboncukcu commented on #2663
Oh, I was talking about something like thephpleague's fractal package. Not specifically for date :)  Sorry for non-clear comment.

But I'm also not sold about removing the timezone indicator from the returning date completely since lots of different frameworks provide an option to change default timezone. There must be some use cases for people out there. Even MySql's timezone setting is config ba

[2019-01-22 13:58] derrickmehaffy commented on #2663
@suhaboncukcu sure there is, doesn't mean it should be used. There is no major drawback from using one standard timezone with the exception that each of your frontend needs to be aware of that. The downside to running it server side is the potential not just break one frontend, but all of them. The goal of strapi is to be as agnostic as possible, thus you want certain standards in place such as a

[2019-01-22 13:59] derrickmehaffy commented on #2663
conversion of timezones at the client level is far easier than conversion on the server side.

[2019-01-22 14:08] derrickmehaffy commented on #2663
Here is a good read if you have a few minutes: https://zachholman.com/talk/utc-is-enough-for-everyone-right

[2019-01-22 17:21] greatwitenorth opened #2672 "Boolean where clause not working with graphql"
**Informations**
- **Node.js version**: v11.6.0
- **NPM version**: 6.5.0
- **Strapi version**: alpha 20
- **Database**: mysql
- **Operating system**: macOS 10.14.2
- **(Optional) Link to your Project**:

**What is the current behavior?**
When searching on a boolean value using graphql I get incorrect results.

**Steps to reproduce the problem**
Given this query:
[code]
I see results where `complet

[2019-01-22 18:20] greatwitenorth commented on #2396
Just wondering if anyone else is seeing this error again in alpha 20. Just upgraded today, and made sure all my services files are correct. But I'm seeing this again when including related fields in my query.

[2019-01-22 19:50] luc-plamondon opened #2673 "Register and forgot-password entry points in users-permissions plugin do not return errors in a consistent way"
**Informations**
- **Node.js version**:  v10.15.0
- **NPM version**: 6.5.0
- **Strapi version**:  3.0.0-alpha.18
- **Database**: mongodb
- **Operating system**: Ubuntu 18.04
- **(Optional) Link to your Project**:

**What is the current behavior?**
When an error occurs while trying to send an email, the API responds with a bad request bearing an object as the error message:

{"statusCode":400,"erro

[2019-01-22 19:54] e-ndrus commented on #2375
Tried to upload from react-admin using axios. Got success response, but the file was not uploaded and didn't link with the content type. Is there any example on how to implement file upload from react to strapi?

[2019-01-22 20:23] luc-plamondon commented on #2673
The incorrect line is the one I pointed out but the replacement should not be err.message, it is a bit more complicated than that. Either the string to return has to be looked up using the message ID, either the email service has to generate its error in a "non-admin" context. If it helps: I'm using Sendmail.

I would have preferred the other way around, all bad requests in Strapi returning an err

[2019-01-23 03:47] alphapseudo commented on #2668
This should be fixed and released in [v3.0.0-alpha.20]( https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.20) from #2669.

[2019-01-23 07:39] ngoalongtb opened #2675 "How to manager transaction"
I have a Post and a Comment
First, I save post success,
Second, I save Comment with errors,

but Post saved without rollback.

I can't find it in document, I thinks transaction manager is important.
Thanks you

[2019-01-23 09:07] juji commented on #1957
just writing for anybody having the same problem....

Deleting "plugin_content_manager_schema" in core_store does not solve my problem.
So, what u did was copying `value` from "plugin_content_manager_schema" from my local to live server. It worked form me.

Cheers..

[2019-01-23 09:41] ngoalongtb opened #2676 "Geometry datatype"

[2019-01-23 09:56] #2541 closed

[2019-01-23 09:58] alexesDev opened #2677 "Create project with postgres"
**Informations**
- **Node.js version**: v10.10.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.20
- **Database**: postgres
- **Operating system**: ArchLinux

**What is the current behavior?**
`strapi new content` crashes after choice postgres and enter a db name

**Steps to reproduce the problem**

[code]

**What is the expected behavior?**
`strapi new content` should create a new pro

[2019-01-23 10:09] derrickmehaffy commented on #2677
@alexesDev did you already create your database in postgres? Strapi will not create it for you.

Also that error you have with /tmp looks like a node problem. I would search around a bit as it seems node is acting strange or slow as you shouldn't be loading anything `/tmp`

[2019-01-23 10:24] lauriejim commented on #2668
Have been fixed in `alpha.20` please update your Strapi application.

[2019-01-23 10:24] #2668 closed

[2019-01-23 10:25] lauriejim commented on #2667
Hello @omerfaran, can you try with last version of Strapi (`alpha.20`) and let me know if you still have this issue please.

[2019-01-23 10:31] alexesDev commented on #2677
@derrickmehaffy strapi crashes before I enter all the params.

strapi/node_modules/strapi-generate-new/lib/before.js:250
[code]

strapi/node_modules/strapi-generate-new/lib/before.js:49
[code]

[2019-01-23 10:57] alexesDev commented on #2677
@derrickmehaffy you're right, its my problem.
[code]

But
[code]

[2019-01-23 10:57] #2677 closed

[2019-01-23 10:59] derrickmehaffy commented on #2677
@alexesDev :stuck_out_tongue_winking_eye: I've seen this a few times

[2019-01-23 10:59] derrickmehaffy commented on #2677
I do agree though, there should be better error checking

[2019-01-23 11:21] lauriejim commented on #2676
Hello @ngoalongtb , please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

Thank you.

[2019-01-23 11:21] #2676 closed

[2019-01-23 11:21] lauriejim commented on #2675
Hello @ngoalongtb , please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

Thank you.

[2019-01-23 11:21] #2675 closed

[2019-01-23 12:56] AminZibayi commented on #2549
Thanks @lauriejim, Yes... the problem still exists and i'm still interested to know the solution!

[2019-01-23 13:31] #2600 closed

[2019-01-23 14:30] mnlbox opened #2679 "Admin UI for modify webhook"
- [*] **I have created my request on the Product Board before I submitted this issue**
- [*] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
Hasura has a nice admin ui for working with webhook. I think maybe it's useful to have such thing in Strapi too and add this as a core plugin for modify webhook file con

[2019-01-23 16:35] #2538 closed

[2019-01-23 16:36] #2570 closed

[2019-01-23 16:45] lauriejim commented on #2447
Okay, you haven't to send `_id` key when you create an entry.

[2019-01-23 16:45] #2447 closed

[2019-01-23 16:54] lauriejim commented on #1788
Hello, what is you Strapi version, os, node version and the database you use.

[2019-01-23 17:05] lauriejim commented on #2554
Ho yap it's really not well documented but you have access to it with `strapi.connections.default`

[2019-01-23 17:12] derrickmehaffy commented on #2396
Issue is confirmed to happen on v20/v21:

![image](https://user-images.githubusercontent.com/8593673/51624105-66163e80-1ef7-11e9-9490-918a7d631c1f.png)

@Aurelsicoko pinging you for your PR

[2019-01-23 19:33] crashlab opened #2683 "Can't upgrade from alpha.19 to alpha.20"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.20
- **Database**: MySQL
- **Operating system**: Mac OSX
- **(Optional) Link to your Project**:

**What is the current behavior?**

Cannot upgrade from alpha.19 to alpha.20 because the plugins directory is empty in the new project created with alpha.20.

**Steps to reproduce the problem**

cr

[2019-01-23 22:28] ericsolberg opened #2684 "strapi new myProject -> Database connection has failed! Make sure your database is running."
issue created in error

[2019-01-23 22:47] #2684 closed

[2019-01-24 00:19] abdonrd commented on #2639
@Aurelsicoko starting at #2685!

[2019-01-24 07:08] friendofdog commented on #2166
I am experiencing the same issue. The `Testimonial` items below related to a `Customer`, where `Customer` is dominant. Here's the original order:

![screen shot 2019-01-24 at 15 55 36](https://user-images.githubusercontent.com/8337121/51660265-8b3aa800-1ff0-11e9-8c53-64953a4647d9.png)

... and here's the subsequent re-ordering:

![screen shot 2019-01-24 at 15 55 23](https://user-images.githubuserc

[2019-01-24 09:17] ArthurKnoep commented on #2647
Hi,

Thanks again for you help, the problem seems fixed

[2019-01-24 09:17] #2647 closed

[2019-01-24 09:34] alexKwonIsAwesome opened #2686 "Querying multiple items with graphql doesn't return data"
**Informations**
- **Node.js version**: v10.9.0
- **NPM version**: v6.2.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: macOS mojave 10.14.2 (18C54)
- **(Optional) Link to your Project**:

**What is the current behavior?**
After creating a content type(model), I activated graphql plugin and created some items on the admin. Then I queried the model on the gr

[2019-01-24 09:41] lauriejim commented on #2666
Hello [mention], please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

We need to know the exact version of Strapi and the database you use.

Thank you.

[2019-01-24 09:44] lauriejim commented on #315
If you are using Yarn, it's not supported by Strapi so switch to npm.
More information here https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions

[2019-01-24 09:56] lauriejim commented on #2672
Thank you to report this issue. We will check that soon as possible.

[2019-01-24 10:10] lauriejim commented on #2375
Here is an example: https://github.com/strapi/strapi-examples/blob/8f601df45bcaddf2b4d4ccd8968c763ea4920e01/good-old-react-authentication-flow/src/containers/EditPage/index.js#L78-L117

[2019-01-24 10:12] Aurelsicoko commented on #2686
It seems that you're using an old version of Strapi (alpha.12.6). Can you try to upgrade to the latest version?

[2019-01-24 10:21] lauriejim commented on #2673
Hello @luc-plamondon , thank you for reporting this issue.
Can you please submit a PR to fix it.
Will appreciate your contribution!

[2019-01-24 10:52] lauriejim commented on #2683
Can you try to re-install Strapi and try to create a new project.
I just install Strapi, create a project and all plugins are present. So your issue looks weird.

[2019-01-24 10:55] lauriejim commented on #2166
Hello, I lock this issue cause to issue is clearly explain.

[2019-01-24 10:55] lauriejim commented on #2647
Thank you @suhaboncukcu for your help in the issue!

[2019-01-24 11:20] lauriejim commented on #1592
@Aurelsicoko fixed it - https://github.com/strapi/strapi/pull/2682

[2019-01-24 11:20] #1592 closed

[2019-01-24 11:39] NeOMakinG opened #2688 "Timestamps missing in GraphQL queries"
**Informations**
- **Node.js version**: 10.15.0
- **NPM version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.21
- **Database**:  10.0.36-MariaDB
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**

The GraphQL plugin is generating schemas without createdAt and updatedAt field, but they're correct in the database and model is correctly configured (timestamps: true in options)

**

[2019-01-24 13:20] Aurelsicoko commented on #2558
The `globalId` are generated here (see https://github.com/strapi/strapi/blob/master/packages/strapi/lib/core/configurations.js#L196).

The real issue seems to come from this line: https://github.com/strapi/strapi/blob/2b4ad0009555d56000b4a1ad0be3dd7340e819fa/packages/strapi-hook-mongoose/lib/relations.js#L163

Especially the `_.toLower(obj.ref)`... You should take a look at the value of `obj.ref`.

[2019-01-24 13:32] Aurelsicoko commented on #2527
@arogyakoirala Is it possible to change the map background in your field? In the beginning, I was thinking about using something like OpenStreetMap ;)

[2019-01-24 13:35] Aurelsicoko commented on #511
@yeomann So it was caused by the symlinks? Can you submit a PR to fix them? The symlinks are created in this file (https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/after.js#L165).

[2019-01-24 13:39] Aurelsicoko commented on #2515
It might be a bug... When you said "create a new content and press in "+ Add New {content}" twice or more times quickly.", does it mean that you create a new content type, then clicks on save, then you go back on the list view, and so on...?

[2019-01-24 14:04] ggarcia92 commented on #415
Hi,
I still have this issue on Ubuntu 18.04 and Strapi alpha0.20. This is the error:

[code]

[2019-01-24 16:03] yeomann commented on #511
@Aurelsicoko ok. let me see if i can get some progress. first i would not to put some console and git clone my repo of strapi to understand the console logs. Is there any faster method to test/debug? because its take ages to first install and link plugins when i run `npm run setup`

[2019-01-24 16:25] gethup commented on #2667
Hi, I did get the same problem.

Deleting the folder "/plugins/graphql" allowed the app to restart.

Maybe it can help someone...

[2019-01-24 16:31] smakman commented on #1779
Board says Q1 2019, any specific release date planned?

[2019-01-24 18:38] danbruegge commented on #2424
Hi, i have the same issue. How can i solve it with only a htaccess?

My htaccess:
[code]

[2019-01-24 21:46] ron-edison commented on #2424
Hi Dan, we got it working by adding this directive:

ProxyAddHeaders Off

Also I think your rewriterule will not achieve the needed result, you want something like this:

ProxyPass / http://127.0.0.1:1337/

Hope that helps!

[2019-01-24 21:46] e-ndrus commented on #2375
Thank you! Successfully ported parts of this code to react-admin. And it worked!

[2019-01-25 02:57] alexKwonIsAwesome commented on #2686
After I update to newest version(3.0.0-alpha.21), it works like a charm. I thought I was using the latest version.
Thanks a lot @Aurelsicoko !

[2019-01-25 02:57] #2686 closed

[2019-01-25 05:34] Andrew1325 commented on #2396
I seem to be having this same issue. I opened an issue [here](https://github.com/strapi/strapi-examples/issues/70) as I was following a tutorial but with further investigations I am also getting an error "The operator \"undefined\" is not permitted" from a query like this:

[code]
I get the error in playground. I'm on v21.

[2019-01-25 05:35] derrickmehaffy commented on #2396
@Andrew1325 a PR was created, I let @Aurelsicoko know about it
https://github.com/strapi/strapi/pull/2687

[2019-01-25 06:09] danbruegge commented on #2424
@ron-edison thanks for your answer. Sadly both cause an Internal Server Error. :(

[2019-01-25 06:53] ron-edison commented on #2424
Hi Dan, if you've already ruled out the necessary Apache modules all enabled I would say check your error log, shouldn't be too tough to troubleshoot, I can probably look in our working config and compare if it doesn't resolve. Good luck!

[2019-01-25 07:00] yareyaredesuyo opened #2691 "Changinging email Feature"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

I think, changing email feature is good to this project.

And thus, I cannot find Product Board (is it github projects board?). so it maybe good to add product board ur

[2019-01-25 07:09] derrickmehaffy commented on #2691
@yareyaredesuyo It is in the FR template lol:

[code]

[2019-01-25 07:43] danbruegge commented on #2424
@ron-edison looks like they are not allowed on my hoster. I will contact them. Thanks. :)

[2019-01-25 09:14] kkkkkt commented on #2327
Is this feature solved？

I’m also encountered with this issue now.

Ok, I’ll upgrade Strapi version and try it.

[2019-01-25 11:37] NeOMakinG commented on #2688
Found the issue, it's related to  #2556

The problem is the graphql plugin in services folder Resolver.js at the add timestamps attribute the conditions has not been updated since the custom timestamps columns feature has been added.

Doing the PR in some hours
Thanks to @derrickmehaffy for the help finding the PR.

[2019-01-25 13:34] martiro commented on #2220
@lauriejim
I had the same problema as drieshooghe, and now that I read the reason I'd like to go deep:
where is described the deployment process? I cannot find any docs. What does the deployment involves? The "schema" of the CMS (i meand the entities and their relations) o also the data?
Thanks a lot.

[2019-01-25 15:10] derrickmehaffy commented on #2688
@NeOMakinG thats what I'm here for :stuck_out_tongue:

[2019-01-25 15:26] #2679 closed, assigned to Aurelsicoko

[2019-01-25 15:34] Aurelsicoko commented on #1779
@smakman At the end of Q1, we should start the development at the beginning of March.

[2019-01-25 15:36] Aurelsicoko commented on #2396
Yes, it will be fixed for the next release 👍

[2019-01-25 15:39] Aurelsicoko commented on #2327
Keep me in touch when you will have upgrade to the latest version... It should be fixed 👍

[2019-01-25 15:52] derrickmehaffy commented on #2396
Marking as closed as PR was merged

[2019-01-25 15:52] #2396 closed

[2019-01-25 15:53] tsan commented on #483
Hi,

I try your way but when, on the admin, I add the custom field and save, the server stopped.
There is the error: UnhandledPromiseRejectionWarning: TypeError: Invalid value for schema path `Email.type`

I look to where the schema is generated and I can't find it.
I'm start strapi with MongoDB and looking to have custom field in Object format.

Thanks,

[2019-01-25 16:33] lauriejim commented on #2691
Can you give us more detail please.
Your message is not really clear.

[2019-01-25 17:03] lauriejim commented on #2276
Fixed by this PR https://github.com/strapi/strapi/pull/2595

[2019-01-25 17:03] #2276 closed

[2019-01-25 17:36] nyzm opened #2694 "The admin panel is unavailable... Impossible to open it in the browser."
**Informations**
- **Node.js version**: v10.15.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-alpha.21
- **Database**: postgresql
- **Operating system**: Mac OS Mojave

**What is the current behavior?**
Projects generated via github cloned strapi is unable to start admin panel.
It is not the case if strapi is installed via npm.

**Steps to reproduce the problem**
1. git clone https://githu

[2019-01-25 18:11] vaskaloidis commented on #2024
Strapi does not work on Heroku right now. I am not sure the issue, but it simply does not work.

[2019-01-25 20:57] coyr commented on #2213
I have a similar issue. 3.0.0-alpha.21
![image](https://user-images.githubusercontent.com/31460/51772225-7e35bb80-20b9-11e9-80cd-402369199640.png)
Is there some solution?

[2019-01-26 01:05] brooth opened #2695 "Overwritten i18n translations"
Just faced an issue that strapi created `en_us.json` locale file next to `en_US.json`, language.json:

[code]

so both, filename `en_US.json` and `defaultLocale` by default (cli strapi new). Thus all my translations gone. I might add that It happened after I pushed my docker container to production.

Let me know if you need more details. I'll help if I can.

strapi: v.3.0.0-alpha.19
node: 11.1.0 (

[2019-01-26 01:38] arogyakoirala commented on #2527
@Aurelsicoko this is OpenStreetMap. However I've used vector tiles (mapboxgljs) as opposed to raster (leafletjs).

[2019-01-26 02:48] eComEvo opened #2696 "521 server error when using pm2 but "strapi start" works"
**Informations**
- **Node.js version**: v10.15.0
- **NPM version**: 6.7.0
- **Strapi version**: 3.0.0-alpha.21
- **Database**: PostgreSQL 11
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
When I try to start strapi using pm2, it always produces a 521 server error. Strapi only works properly when I simply do `sudo strapi start` or `sudo npm start`.

Strapi also complains ab

[2019-01-26 11:48] driku commented on #2666
I have updated the strapi & database version.

[2019-01-26 12:14] lauriejim commented on #2420
This issue have been fixed with this PR - https://github.com/strapi/strapi/pull/2380

[2019-01-26 12:14] #2420 closed

[2019-01-26 13:12] JBuijgers opened #2697 "GraphQL aggregation incomplete with required numeric fields"
**Informations**
- **Node.js version**: 10.8.0
- **NPM version**: 6.6.0
- **Strapi version**: 3.0.0-alpha.21
- **Database**: Mongo DB 4.0.4
- **Operating system**: Linux (Ubuntu)
- **(Optional) Link to your Project**: -

**What is the current behavior?**
Required fields do not have sum/avg/min/max added to the generated aggregator types in the GraphQL plugin.

**Steps to reproduce the problem**
1.

[2019-01-26 13:19] lauriejim commented on #2591
I leave an issue on `mongoose-float` about this issue.
https://github.com/Vnkitaev/mongoose-float/issues/6
I hope we will have an answer and maybe a new release of this module soon to be able to fix this issue.

[2019-01-26 13:30] lauriejim commented on #2491
Same as this issue https://github.com/strapi/strapi/issues/2591#issuecomment-457830493

[2019-01-26 13:32] #2641 closed

[2019-01-26 16:38] lauriejim commented on #2627
@Aurelsicoko the me Query exist but the topic is about related data of the user.

[2019-01-26 18:11] lauriejim commented on #2667
Duplicate of this issue https://github.com/strapi/strapi/issues/1612
Issue with GraphQL and windows

[2019-01-26 18:17] lauriejim commented on #2220
Here is an article of deployment on Ubuntu server - https://medium.com/strapi/how-to-deploy-a-strapi-api-on-ubuntu-16-04-17f8fbbf5c5b

Actually when you deploy your app, it's just files migration. We never do any action on your data.

[2019-01-26 18:52] omerfaran commented on #2667
Hey guys,

I'm a bit afraid to update my Strapi version as I'm currently working on a project. But I did notice an action that seems to always break the project: when I try to add the Enumaration field (list of choices) in my Content Type plugin.
Once I add the field I have to save and restart, and then the project breaks.

For now I'm just not using that field.

Thanks in advance

[2019-01-26 21:37] martiro commented on #2220
@lauriejim Thank you v very much!
I did some trial today and now everything is clear, but I found something strange adding new instances for my contents: the fields that where declared as "Text" in developement are editable through WYSWYG    editor, but in production they become simple textareas. How can I fix this problem?
Thanks a lot

[2019-01-26 22:16] derrickmehaffy commented on #2220
@martiro you need to copy over your `core_store` collection in the database

The WYSWYG setting is saved in the database

[2019-01-27 06:59] derrickmehaffy commented on #2220
@martiro easier to copy the whole collection but what you need is `plugin_content-manager_schema`

[2019-01-27 07:51] nyzm commented on #2694
Hi @lauriejim ,
Well if I use `npm run setup:build` it will download the core plugins from internet and it works as expected. But I am trying to make additions on the core plugins so this won't work.
And if I try to npm start in admin folder I receive below error:

[code]

[2019-01-27 13:45] lauriejim commented on #2213
@coyr How did you start your Strapi application ? `npm start` or `strapi start` or using a module like `pm2` ?

[2019-01-27 13:50] lauriejim commented on #2695
Hello [mention], please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

I don't understand your issue. What did you try to do and what is the issue you have.

Thank you.

[2019-01-27 13:50] #2695 closed

[2019-01-27 14:00] lauriejim commented on #2696
Hello @eComEvo !

The error log is caused because you have `strapi-hook-mongoose` installed (see you `package.json`) and you don't have `Mongo` database in your application.

You use a PG database so you should only have `strapi-hook-bookshelf` and `strapi-hook-knex`.

I don't know what you did to have both `mongoose` and `bookshelf` in your `package.json`.

So just remove this package and it will

[2019-01-27 14:00] #2696 closed

[2019-01-27 14:12] lauriejim commented on #2697
Hello @JBuijgers , thank you for reporting this issue.
Can you please submit a PR to fix it.
Will appreciate your contribution!

[2019-01-27 14:31] lauriejim commented on #2691
Thank you for these details.

[2019-01-27 14:34] lauriejim commented on #2694
@soupette any suggestion to this issue ?

@nyzm I think one issue like this already exist. I let you check that on closed issue.

[2019-01-27 14:41] nyzm commented on #2694
@lauriejim  I found out that above issue is about linking issue about strapi-helper-plugin according to issue #511 .
After I linked the strapi-helper-plugin now I receive below error:

[code]

Which I found out is another linking issue.

[code]

After linking strapi-utils as well admin has been started.

[code]

When I try to access the page I receive below errors:

[code]

I am clueless

[2019-01-27 15:46] nyzm commented on #2694
More info on that :
In each plugin folder strapi-helper-plugin is not in dependencies in package.json but in devDependencies. I haven't started the new project with `--dev` option. I regenerated the project. Now it works fine.

[2019-01-27 16:13] #2451 closed

[2019-01-28 05:12] eComEvo commented on #2696
@lauriejim I installed Strapi using the package.json it generated right after I ran `strapi new staging.strapi.example.com`.

This didn't fix the 521 server issue. It only removed the mongoose warning. Strapi still repeatedly outputs these lines instead of actually running under pm2:
[code]

By accident I noticed that if I start strapi with pm2, then stop it, then start the existing pm2 processaga

[2019-01-28 06:46] derrickmehaffy commented on #2696
@eComEvo try generating a project without any special chars in the name (ie periods)

[2019-01-28 12:22] r007 opened #2699 "Strapi doesn't work with Cyrillic text - throws ER_TRUNCATED_WRONG_VALUE_FOR_FIELD error"
**Informations**
- **Node.js version**:  11.1.0
- **NPM version**: 6.4.1
- **Strapi version**:  3.0.0-alpha.16
- **Database**: MySQL 5.7.24-0ubuntu0.18.04.1
- **Operating system**: Ubuntu 18.04
- **(Optional) Link to your Project**:  Local project

**What is the current behavior?**

Any cyrillic text, for example "новая запись в блоге" entered in any field will cause an error during saving. A popu

[2019-01-28 12:43] derrickmehaffy commented on #2699
@r007 Strapi doesn't handle the database local setting, that is something you will need to change (it would have been set when you created the database)

[2019-01-28 13:02] andylobel opened #2701 "GraphQL doesn't install when pressing download in admin"
**Informations**
- **Node.js version**:
- **NPM version**:
- **Strapi version**:
- **Database**:
- **Operating system**:
- **(Optional) Link to your Project**:

**What is the current behavior?**

It doesn't install because the git repo is missing:
https://github.com/strapi/strapi-plugin-graphql

To solve the problem manually I had to clone strapi and copy the `packages/strapi-plugin-graphql` to my

[2019-01-28 16:11] gungorkocak opened #2703 "Strapi heroku deployment show /index.html and not permitting /admin"
**Informations**
- **Node.js version**: 10.14.2
- **NPM version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.17
- **Database**: mongoDB
- **Operating system**: macOS Mojave
- **(Optional) Link to your Project**:

**What is the current behavior?**

I already have an existing project that I have been developing on my local workstation. I am trying to deploy this to Heroku. I have resolved many things

[2019-01-28 17:55] crashlab commented on #2683
I did with the version alpha.21 and everything was fine.

[2019-01-28 17:55] #2683 closed

[2019-01-28 18:45] deeq14 commented on #2627
@Aurelsicoko I meant to actually get the related content of the user, like lauriejim said.

[2019-01-28 21:44] eComEvo commented on #2696
@derrickmehaffy I figured out the issue. Strapi does not like it when the `--watch` flag is used with pm2. When pm2 is not watching, the server boots fine.

Eliminating the periods from the project name didn't fix the issue. I simply named the project "strapi" but it still crashes the server on a clean install under pm2 with the `--watch` flag.

[2019-01-29 02:31] Nowhy opened #2705 "filter a string contains parentheses return empty result"
Informations

Node.js version: v10.13.0
NPM version: 6.4.1
Strapi version: " "^3.0.0-alpha.18"
Database: "mongoose": "5.3.16",
Operating system: Mac OSX 10.13.6
What is the current behavior?
Using _sort = {attrbute_contains:'happy (not so happy)'} to filter, the result would be empty.

Steps to reproduce the problem
I want to filter all results which contain a string. But this string contains "( )

[2019-01-29 08:36] MatteoViera opened #2707 "Error when trying to use --dev command to create a new project on Windows"
- Node.js version: Node 11.1.0
- NPM version: npm 6.4.1
- Strapi version: 3.0.0-alpha.21
- Database: MySQL
- Operating system: Windows 10

My error is this:
**Error: Cannot find module 'C:\Users\Utente\AppData\Local\Temp\strapi5f6b63b36451\node_modules\knex\package.json'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:587:15)
    at Function.Module._load (internal/modules/c

[2019-01-29 08:37] derrickmehaffy commented on #2707
https://github.com/strapi/strapi/wiki/Frequently-Asked-Questions#windows

Marking as closed as unsupported OS version/Type

[2019-01-29 08:37] #2707 closed

[2019-01-29 09:20] Nowhy commented on #2705
solved by X.replace(/\(/g, "\\(");

[2019-01-29 09:21] Nowhy commented on #2705
.replace(/\(/g, "\\(");

[2019-01-29 09:21] Nowhy commented on #2705
.replace(/\(/g, "\\(");.... two \ and one (

[2019-01-29 09:22] #2705 closed

[2019-01-29 09:32] derrickmehaffy commented on #2417
Unable to reproduce on Strapi v19 on bookshelf

[2019-01-29 09:33] derrickmehaffy commented on #2417
Marking as closed as I believe this was fixed in #2419

[2019-01-29 09:33] #2417 closed

[2019-01-29 09:36] derrickmehaffy commented on #2009
@Aurelsicoko As another suggestion, with regards to providers (OAuth providers) I also think this should be something either json config based // environment variable based. You aren't likely to modify these settings often enough in production in my opinion.

[2019-01-29 10:56] YannMLD commented on #2081
f

[2019-01-29 10:59] YannMLD commented on #2081
The solution which worked for me was to delete my model in Strapi CMS, delete data in my database (don't know if you have to), and recreate my model (with exactly the same name) in the Strapi CMS.
Still don't know why I had this problem but I think it cames when i edited my model attributes

[2019-01-29 11:14] Blacknosaur opened #2708 "Creating Many to Many relation in Users plugin with the Content-Type builder fails"
**Informations**
- **Node.js version**: v11.6
- **NPM version**: v6.5
- **Strapi version**: Alpha 21 (confirmed too in Alpha 14.1.1 and Alpha 18)
- **Database**: MongoDB 3.6.3
- **Operating system**: Amazon Linux AMI release 2017.09

**What is the current behavior?**
If you create a Many to Many relation with the Content-Type builder between the Users-Permissions plugin it fails because the relati

[2019-01-29 13:52] hessamhoseinkhani opened #2710 "Symlink broken on Ubuntu"
Im trying to make a strapi project for development via " strapi new <prj-name> --dev"

**Informations**
- **Node.js version**: 10.15.0
- **NPM version**: 6.4.1
- **Strapi version**: @3.0.0 alpha
- **Database**: Mysql
- **Operating system**: linux Ubuntu 16.04.3

**What is the current behavior?**
$ strapi new myprj --dev
$ cd myprj &&  strapi start

error ENOENT: no such file or directory, stat '/h

[2019-01-29 13:55] derrickmehaffy commented on #2710
`Strapi version: @3.0.0 alpha` please include your full strapi version, can be found on the CLI by running `strapi version`

[2019-01-29 14:20] ggarcia92 commented on #2619
Hi @lauriejim I am having the same issue that @kalms . I already update to alpha.21. To reproduce the error this is my model:

[code]
Regards

[2019-01-29 14:40] b3rday commented on #2703
try to use == > https://github.com/strapi/strapi-heroku-app , its work for me :)

[2019-01-29 17:34] gungorkocak commented on #2703
@b3rday I have already made lots of changes on existing codebase, link seems to me for bootstrapping a strapi project.

In any case, I exhausted heroku buildpack options for me, tried docker container approach and it works like charm.

Closing this.

[2019-01-29 17:34] #2703 closed

[2019-01-29 20:12] omerfaran opened #2715 "JSON data type is still not working in graphql"
**Informations**
- **Node.js version**:  v11.3.0
- **NPM version**:
- **Strapi version**:  3.0.0-alpha.18
- **Database**:  mlab
- **Operating system**: windows 10
- **(Optional) Link to your Project**:

**What is the current behavior?**

I cannot pass a JSON object even though the type is defined as JSON. If I use graphql plugin:

mutation {
                    createExam(input: {

[2019-01-30 07:09] kenberkeley commented on #1189
Finally, I encountered this issue just now... I couldn't even believe this happened (violation of common sense 😂)

[2019-01-30 07:33] lauriejim commented on #2654
@BenjaminVanRyseghem Sorry for the delay.

Can you try with new install of the last version of Strapi and a clean collection.

[2019-01-30 07:46] lauriejim commented on #2701
Hello @andylobel , please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

All informations are missing.

Thank you.

[2019-01-30 07:46] #2701 closed

[2019-01-30 07:55] hsam1997 commented on #2710
@derrickmehaffy 3.0.0-alpha.x

[2019-01-30 07:56] lauriejim commented on #2708
Thank you [mention] for your issue.
I will take a look soon as possible.

[2019-01-30 08:20] lauriejim commented on #2715
Hello @omerfaran can you try with last version of Strapi please.

[2019-01-30 08:21] lauriejim commented on #2710
@hsam1997 what is x please ?

[2019-01-30 11:03] MatteoViera commented on #2710
Getting the same problem on Ubuntu 18.10

[2019-01-30 14:51] soupette commented on #2644
@mnlbox I haven't submitted the PR yet I'm still thinking on what should be the correct implementation for this.

I have noticed that when you create a JSON field that is required with the content-type-builder it sets the `default` key as an empty string in your `model.settings.json` which I think is incorrect.

So, in order to solve this issue I think that the default value should be an empty obj

[2019-01-30 14:58] dainikinsider opened #2720 "Get dominant color from images uploaded using upload plugin"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [ ] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**
Hi Team,

Upload plugin provided by strapi is already doing great work. For image heavy websites, finding dominant color for all images is heavy weight in nature and als

[2019-01-30 15:13] deeq14 commented on #1676
@Aurelsicoko any progress on this? thought it is an essential feature

[2019-01-30 16:39] #1960 closed

[2019-01-30 16:46] AlbanVelco commented on #2424
Hi, i have the same issue. I'am using apache 2.4.

I have tried several configurations, but none of them worked.
What is your complete configuration please?

Thanks very much!

[2019-01-30 16:52] #2688 closed

[2019-01-30 20:36] greatwitenorth opened #2723 "Org namespaced email providers do not get registered"
**Informations**
- **Node.js version**: 11.6.0
- **NPM version**: 6.5.0
- **Strapi version**: alpha 20
- **Database**: 10.3.8-MariaDB
- **Operating system**: macos 10.14.2
- **(Optional) Link to your Project**:  https://www.npmjs.com/package/@teamgi/strapi-provider-email-sparkpost

**What is the current behavior?**
I'm not seeing my custom email provider in the admin after installing it via npm.

[2019-01-30 23:43] coyr commented on #2213
@lauriejim When I use the development environment `strapi start` works fine. When I use pm2 `NODE_ENV=production pm2 start server.js --name api` now it is not listing the content types in content types page. Also when I click a content type in the sidebar and I try to add new content, it keeps loading
![image](https://user-images.githubusercontent.com/31460/52020256-a6a92580-24be-11e9-964f-129d381

[2019-01-31 01:36] derrickmehaffy commented on #2213
@coyr try deleting your `plugin_content-manager_schema` from `core_store` in your database then restart your Strapi server.

[2019-01-31 03:52] iamrenzx opened #2724 "Error 400 Forgot password"
**Informations**
- **Node.js version**: 10.15.1
- **NPM version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.21
- **Database**: Postgres 11
- **Operating system**:  Windows 10

**What is the current behavior?**
Unable to send email using amazon ses plugin.

**Steps to reproduce the problem**
I installed strapi-provider-email-amazon-ses. I also updated the config in this link
**/admin/plugins/email/

[2019-01-31 09:31] lauriejim commented on #2723
Ho yap! We have to manage this point.

How to fix this issue is to find where we find all installed providers and update the way we detect them.
I think it's `_.startWith()` and we have to improve it.

[2019-01-31 09:34] Aurelsicoko commented on #2627
Okay, I got it! If you want to be able to retrieve a relational field through the query `me`, you have to change this line https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/schema.graphql#L25. Instead of returning `UsersPermissionsMe`, you need to change this line by `UsersPermissionsUser`.

[2019-01-31 12:05] TetHat commented on #1900
I know this has been closed for a while, but just a suggestion on this. Your blog has a tutorial explicitly deploying the Strapi API to Heroku, in which that project uses uploaded images. I don't believe anywhere in here is it mentioned that you have to install upload providers, nor that Heroku will delete the files uploaded through Strapi admin. Would be pretty beneficial for this tutorial to at

[2019-01-31 12:47] derrickmehaffy commented on #1900
@TetHat

https://github.com/strapi/strapi/wiki/Create-files-on-Heroku
https://github.com/strapi/strapi/wiki/Deploy-on-Heroku

[2019-01-31 16:10] MartinMuzatko opened #2726 "Document plugin middlewares"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [X] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

Right now, the documentation for getting started with creating a plugin is not sufficient.
Middlewares are not documented but listed in the overview of [files/directori

[2019-01-31 16:59] gilhardl commented on #1483
For those who still have this error on many-to-many relationship, the issue is certainly because you try to remove the dominant model.

### Explanation based on my experience

#### Models used in my API :
_Stage.settings.json_
[code]

_Equipment.settings.json_
[code]

#### What I was trying to do
From my client app, I was trying to remove an `equipment`  with a HTTP request similar to this one :
`

[2019-01-31 17:37] wosevision commented on #2490
Confirmed bug still exists in 3.0.0-alpha.21 – just updated from alpha.19 because I was feeling optimistic!

For troubleshooting purposes, here are the things I've tried so far which have **not** worked:

- Delete/re-add field from Content Type Builder
- Delete/re-add field from Content Manager
- Re-rename field from Content Manager (every variation of field on its own, with other fields to update

[2019-01-31 18:05] wosevision opened #2728 "Disabling "editable field" in Content Manager has no effect on JSON fields"
**Information**

- **Node.js version**: v10.11.0
- **NPM version**: 6.5.0
- **Strapi version**: 3.0.0-alpha.21
- **Database**: MongoDB
- **Operating system**: macOS 10.14.1

**What is the current behavior?**

Turning off "editable field" for a JSON field in the Content Manager (to _disable_ editing the field) has no effect; the field is still editable and saving the document commits any changes to

[2019-01-31 19:25] lauriejim commented on #2710
And your plugin `content-manager` exist in your `plugins` folder ?
You haven't any error when you create your app?

It looks an issue of symlink 🤔

[2019-01-31 19:45] MatteoViera commented on #2710
@lauriejim I checked, and the content-manager exist. Also i got no error when i created my app. I dont know for the creater of the issue

[2019-01-31 20:24] tlchatt commented on #2456
Ubuntu 18.04.1 LTS,
node --v11.6.0
npm 6.5.0-next.0
Not sure about that last question.

[2019-01-31 20:54] coyr commented on #2213
@derrickmehaffy it works! thanks

[2019-01-31 21:34] thommedia opened #2730 "error Cannot query field "allStrapiArticle" on type "Query" graphql/template-strings"
**Informations**
- **Node.js version**:
- **NPM version**:
- **Strapi version**:
- **Database**:
- **Operating system**:
- **(Optional) Link to your Project**:

**What is the current behavior?**

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

[2019-02-01 08:35] yareyaredesuyo commented on #2627
I had the same issue before, so I changed UserPermissionsMe config file's scheme directly.  And it worked.

Edit like this

[code]

But this issue is maybe not documented.

So, the answer is maybe...

1. Add document about how to change UserPermissionsMe scheme.
2. Allow user to edit UsersPermissionsMe from admin panel.

[2019-02-01 10:12] painty commented on #2205
I met the same error but figured it out :
In my case, I have one uploaded file `related` to a deleted model.
After empty the `related` array of this file, the error is gone.
PS: I used the MongoDB Compass Comminity to do this empty operation.
![tim 20190201181036](https://user-images.githubusercontent.com/5387771/52116727-dd14ab00-264c-11e9-9ad0-b32eb8e882c9.png)

[2019-02-01 10:42] hessamhoseinkhani commented on #2710
@lauriejim i've checked it  ,  there are different plugin **files** like content-manager ,  ...  but when u clicking on em it says no such a directory or file :|  so i guess technically they don't exist .

[2019-02-01 13:18] gilhardl opened #2731 "$pull error deleting entry with dominant model of many-to-many relation"
**Informations**
- **Node.js version**:  v10.15.0
- **NPM version**: v6.4.1
- **Strapi version**:  v3.0.0-alpha.21
- **Database**: MongoDB v4.0.5
- **Operating system**: Windows 10 Pro or Ubuntu 18.04 or Manjaro 18.0
- **(Optional) Link to your Project**:  https://github.com/gilhardl/strapi-delete-error

**What is the current behavior?**
Removing an entry of the dominant model of a many-to-many re

[2019-02-01 14:34] xilliman opened #2733 "Changing the users password"
Currently I have to follow these steps to change a users password

- POST Request to /auth/forgot-password
- Receive an E-Mail with a code
- Post Request to /auth/change-password with the new password and the code

Why isn't it possible to change the password right away?

Its really bad UX, if the user has to click on Forgot Password instead of change it right away in his user profile.

[2019-02-01 15:18] Aurelsicoko commented on #1676
@deeq14 The roadmap is up-to-date and we don't plan to work on this feature this year. However, we would love to see someone in the community trying to implement it 👍

[2019-02-01 15:21] Aurelsicoko commented on #2720
@dainikinsider Thank you for raising this issue! I'm sorry to say that but it's clearly not a priority to implement this kind of features. It's too specific and I think the new plugin architecture/framework will allow you to do that. You might already be able to add a new field `dominantColor:string` in the File model, then using the model's lifecycles `beforeSave` where you could set the value.

[2019-02-01 15:56] lauriejim commented on #1783
Fix media populate https://github.com/strapi/strapi/pull/2693

[2019-02-01 15:56] #1783 closed

[2019-02-01 15:58] lauriejim commented on #2733
Hello @xilliman , please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

If you have an error message when you update the user via the content manager, please update to last version of Strapi. This issue is fixed.

Thank you.

[2019-02-01 15:58] #2733 closed

[2019-02-01 15:59] lauriejim commented on #2730
Can you add one article in your database please.

[2019-02-01 15:59] lauriejim commented on #2730
Hello @thommedia , please follow the issue template so we can get a better understanding about the origin of your bug and to be able to help you.

I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.

Thank you.

[2019-02-01 15:59] #2730 closed

[2019-02-01 16:22] Aurelsicoko commented on #2627
The `UsersPermissionMe` isn't a model and it's only available when you're using GraphQL. So, option 1 is the only option we have.

@yareyaredesuyo can you make a PR and update the documentation, please? Thank you :)

[2019-02-01 16:52] lauriejim commented on #2731
Thank you @gilhardl  for your issue.
I will take a look soon as possible.