[2020-03-13 21:48] secretlifeof opened #5504 "Question: How to use GraphQL mutation with dynamic zones/component?"
This is maybe a question quickly answered. How to do a GraphQL **mutation** with **dynamic zones**.

I have a single component named _**impressum**_. _**Inhalt**_ is the dynamic zone. It contains different components: **ComponentPageText, ComponentPageInformation** and **ComponentPageArticle**.

This mutation
[code]
returns

I also tried this
[code]

Schema introspection returns
[code]

[2020-03-14 06:16] derrickmehaffy commented on #5504
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-14 06:16] #5504 closed

[2020-03-14 14:16] jochenthomas opened #5505 "Mongo DB access not successfull (Docker)"
**Describe the bug**
Starting a docker container (strapi/strapi:latest) with command: "strapi develop" the console gives the following error:

[code]

**Steps to reproduce the behavior**

Used environment variables:
[code]

Created database.json is as follows:
/config/environments/development/database.json
[code]

**Expected behavior**
Mongo DB is fully accessible from other network devices (e.g.

[2020-03-14 14:16] jochenthomas opened #5550 "Mongo DB access not successfull (Docker)"
**Describe the bug**
Starting a docker container (strapi/strapi:latest) with command: "strapi develop" the console gives the following error:

[code]

**Steps to reproduce the behavior**

Used environment variables:
[code]

Created database.json is as follows:
/config/environments/development/database.json
[code]

**Expected behavior**
Mongo DB is fully accessible from other network devices (e.g.

[2020-03-14 14:35] jochenthomas commented on #5505
I guess this is the same issue...
DATABASE_AUTHENTICATION_DATABASE is not set in database.json #4484

[2020-03-14 22:19] jeremyccrane commented on #1747
Hi @lauriejim – Have you been able to implement this feature yet? Our server-server api request is stopping after the jwt token expires (roughly 30 days). Even our attempts to extend the expiration period has not worked.

[2020-03-15 02:07] DekiGk commented on #3522
Has anyone made `/email` API endpoint work?

I am getting this error:
[code]

Using `localhost:1337/email` and providing `to`, `from`, `replyTo`, `subject`, `text` and `html` fields

[2020-03-15 04:19] kaufmann42 commented on #4853
Any updates on this front? Would be nice to be able to secure certain uploaded files.

[2020-03-15 13:30] mkampmey opened #5508 "'Create the first administrator' link is absolute"
**Steps to reproduce the behavior**
1. Setup strapi behind a reverse proxy so that strapi can be accessed with the url `strapi.domain.com`
2. Call `strapi.domain.com` and click 'Create the first administrator' button

**Expected behavior**
You should be redirected to `strapi.domain.com/admin`

**Actual behavior**
You are redirected to `localhost:1337/admin`

The link should point to `/admin` inste

[2020-03-15 14:29] alex-mironov opened #5509 "Add content type button is missing"
I'm using strapi v3.0.0-beta.19.3. Apparently I cannot create a new content type, "Add content type" button is missing:
<img width="1440" alt="Screen Shot 2020-03-15 at 16 27 36" src="https://user-images.githubusercontent.com/2544767/76703387-1c2f7f80-66da-11ea-9df4-ca9df8841178.png">

[2020-03-15 14:46] MattieBelt commented on #5509
@alex-mironov You are probably in production mode, where the creation/editing of content (collection) types is disabled. This is because creating/editing content types changes database and the code. Also production-apps don't always have permissions to change files.

[2020-03-15 19:32] #5509 closed

[2020-03-16 01:11] alexkharech commented on #1999
this temporary hack.
file `extensions/upload/models/File.js`
[code]

[2020-03-16 05:21] derrickmehaffy commented on #5508
Did you set the proxy stuff in `config/environments/*/server.json` ?

https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#server

[code]

[2020-03-16 09:05] zafon18 opened #5511 "Sveltejs with Strapi"
Is it possible to write a tutorial on how to integrate Sveltejs with Sapper from Strapi?
Best regards

[2020-03-16 09:06] StevenYuysy opened #5512 "failed to create a custom project with mongo"
**Describe the bug**

Failed to create a custom project with mongo choice.

**Steps to reproduce the behavior**

[code]

choose custom and use mongo client.

[code]

then I got following error.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

It should create successfully.

**Screenshots**
If applicable, add screenshots to help explain your problem.
!

[2020-03-16 09:10] derrickmehaffy commented on #5511
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-16 09:10] #5511 closed

[2020-03-16 09:11] derrickmehaffy commented on #5512
What version of yarn are you using?

[2020-03-16 10:09] aksdevac commented on #5512
Hi, upgrade for Yarn to `1.22`, it seems `0.24.6` seems to Old. it should work fine after that, I just tried.

[2020-03-16 10:33] anthonyatp opened #5513 "Unable to delete content type"
**Describe the bug**
For some reason, I was able to create a content type with spaces in the dev admin panel:
![image](https://user-images.githubusercontent.com/42555665/76747032-682d0380-6770-11ea-8afc-47ad46c7eadb.png)

I delete all the changes I made in the code and restarted the server, however the content type is still there. What's even stranger is if I log in to the admin panel in productio

[2020-03-16 11:00] derrickmehaffy commented on #5513
`3.0.0-beta.6` you are on an extremely old version. Please update to the latest or test with the latest version (fresh project) and confirm the bug.

[2020-03-16 12:16] gavmck opened #5514 "Relational field in component has an extra col-6 div"
**Describe the bug**
I have a component which includes a relation field. When configuring the view, the component is wrapped with two `<div class="col-6">` causing its padding and width to be off.

**Steps to reproduce the behavior**
1. Create a group component
2. Add a relation field to that component
3. Configure the view
4. Add the component group to a base content type
5. Look at the component

[2020-03-16 12:48] derrickmehaffy commented on #5514
`Strapi version: 3.0.0-beta.18.6` Please test on the latest version as this one is a bit older

Current latest is beta.19.3

[2020-03-16 12:54] z-ax commented on #2468
So, any estimates on this?
Or, maybe, some spec/direction on implementation?

[2020-03-16 13:27] anthonyatp opened #5517 "error The client `undefined` for the `default` connection is not supported."
**Describe the bug**
I recently upgraded strapi from `v3.0.0-beta.6` to `v3.0.0-beta.19.3`. I have followed the migration guides but when I run `yarn run develop` I get the error:
[code]

Here's what my `config/environments/{env}/database.json` file looks like:

[code]

Any ideas what is causing this error?

Thanks!

[2020-03-16 14:07] StevenYuysy commented on #5512
Fixed it after upgraded Yarn. Thx!

[2020-03-16 14:07] #5512 closed

[2020-03-16 14:31] gavmck commented on #5514
Ah I think I see the fix for this in beta 19
Let me update and get back to you.

[2020-03-16 15:43] derrickmehaffy commented on #5517
You are missing the client part under settings:

https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#database

[code]

[2020-03-16 15:43] #5517 closed

[2020-03-16 15:50] sven-verkstedt commented on #5067
Hit these errors on initial setup when using docker-compose with volumes:

[code]

[code]

Does this mean I can just ignore these errors and restart the containers, or is there a workaround I need to follow?

Regards
Sven

[2020-03-16 15:51] lauriejim commented on #5495
Hello! Tried to reproduce, but it works on my side.

Here is what I did - https://www.loom.com/share/17597d0f666646df85cd948b5c0e82e2

[2020-03-16 16:03] cadavre commented on #5067
@sven-verkstedt I work with these for some time now. After restarting api container all works fine, but I guess some relations are corrupted in database. Nevertheless all is working fine.

[2020-03-16 16:12] sven-verkstedt commented on #5067
Well, but is there some DB migrate script or yarn command available that I can run (repeatedly) to ensure DB and all relations are in a clean state?
Thanks!

[2020-03-16 17:11] naren389 opened #5520 "Deep populate fails with array like populate syntax"
**Describe the bug**
I am trying to populate role object fields in user profile GET API which has reference to user object, with the below populate syntax.

let data = await strapi.query('user-profile').find(ctx.query, ['user', 'user.role']);

While deep filter works fine, strapi is not populating role object  fields in the API response.

Below syntax, however is populating role object fields, but

[2020-03-17 07:01] paltur opened #5521 "strapi auth login local identifier or password invalid"
Strapi version: 3.0.0-alpha.26.0
Database: mongo
Operating system: Windows

Registration work but login not work
  void _registerUser() async {
    setState(() => _isSubmitting = true);
    http.Response response = await http.post(
        'http://192.168.1.100:1337/auth/local',
        body: {"identifier": _email, "password": _password});
    final responseData = json.decode(response.body);
    i

[2020-03-17 08:02] derrickmehaffy commented on #5521
@paltur the Strapi Alpha versions are no longer supported.

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-03-17 08:02] #5521 closed

[2020-03-17 08:15] derrickmehaffy commented on #1747
https://strapi.io/documentation/3.0.0-beta.x/guides/api-token.html

[2020-03-17 08:42] #4556 closed

[2020-03-17 09:09] FeiShepherd commented on #4780
It sucks that we are limited, but I found a work around to keep everything on Strapi. I create a new content-type with a json field in it. In the json field i specify the mapping I need. And in the front end I fetch both the json config mapping and the original contenttype fields and have it map the ones specified.

example JSON

[code]

example enum values

studio
one
two
three
fourplus
shared

[2020-03-17 12:55] diogotcorreia opened #5524 "GraphQL Mutation for passwordReset not available"
**Describe the bug**
There are no GraphQL Mutations for `/auth/forgot-password` and `/auth/reset-password`.

**Steps to reproduce the behavior**
1. Install the GraphQL plugin
2. Open `http://localhost:3337/graphql`
3. Click on *Docs*
4. See that there is no mutation for those

**Expected behavior**
There should be a mutation to trigger a "forgot password" and to "reset password".

**Screenshots**

[2020-03-17 13:38] v-osnovnom-bezvreden commented on #5460
Can you please give more info on solution ?
I have just tha same problenm with fresh install under linux.

[code]

[2020-03-17 14:49] #5513 closed

[2020-03-17 15:47] rmaroun opened #5525 "Middleware is not being triggered when calling upload plugin api endpoint"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce the behavior**
1. Create a middleware which just has a console.log (as an example)
2. Call the upload plugin api endpoint
3. You won't see the middleware message in the strapi console

**Expected behavior**
When calling the upload api endpoint you should be able to see the console.log output of your midd

[2020-03-17 15:47] derrickmehaffy commented on #5525
I can confirm this with my sentry middleware on beta.19.3

[2020-03-17 18:05] MayoudP commented on #4336
Any update on this ?

[2020-03-17 18:33] bskimball commented on #744
FYI - The tutorial referenced in @Mcastres comment above has been moved to here https://strapi.io/blog/how-to-create-an-import-content-plugin-part-1-4?redirectPage=3

and thanks @pouyamiralayi

[2020-03-17 18:45] Mcastres commented on #744
Thanks @bskimball !

[2020-03-17 21:26] Shuky opened #5528 "All collections APIs return 404 in production env"
We deployed to production on AWS with [the setup described here](https://strapi.io/documentation/3.0.0-beta.x/admin-panel/deploy.html#deploy-the-administration-panel-on-another-server-aws-s3-azure-etc-than-the-api) (where admin client is hosted on s3 and backend is on another server)

Everything is working except the API - The backend returns 404 on all collection APIs
calling <backend_server>/<co

[2020-03-17 21:35] mkampmey commented on #5508
Nope, but what is the reason not to make it to a relative link?

[2020-03-18 03:32] angelsalvadordev commented on #5460
In config / environments / development / database.json put the following in the "options" braces:

`
"options": {
       "pool": {
             "min": 0,
              "max": 15,
               "idleTimeoutMillis": 30000,
               "createTimeoutMillis": 30000,
              "acquireTimeoutMillis": 30000
        }
}
`

[2020-03-18 03:37] angelsalvadordev commented on #5460
Place it in the "options" braces of the database.json file found in config / environments / development / database.json

[2020-03-18 05:14] iicdii opened #5531 "Cannot access ctx.state.user in custom GraphQL resolver"
**Describe the bug**
I cannot access `ctx.state.user` in custom GraphQL resolver. It happened after I migrate from `3.0.0-beta.18.7` to `3.0.0-beta.19.3` in my project.
I've also tried it in `examples/getstarted` of cloned repository, it's same.

**Steps to reproduce the behavior**
I will try to explain with https://github.com/strapi/strapi/tree/master/examples/getstarted project.
1. Create `addre

[2020-03-18 05:17] derrickmehaffy commented on #5531
it is directly `ctx.state.user` not `context.state.user`

[2020-03-18 05:22] iicdii commented on #5531
@derrickmehaffy I also tried it. It's `undefined`.

### address/config/schema.graphql
[code]

### terminal
[code]

[2020-03-18 09:40] tonxxd commented on #4751
Hi I am still encountering the same issue.
I uninstalled the global create-strapi-app package as suggested and run

```yarn create strapi-app project```

![Schermata 2020-03-18 alle 10 34 20](https://user-images.githubusercontent.com/2827496/76946681-af4bfd80-6904-11ea-9bcd-d79d06a5c66e.jpg)

[2020-03-18 10:27] alexandrebodin commented on #4751
Hi @tonxxd this isn't the same issue. yours is sth wrong with yarn directly. What version are you using ?

[2020-03-18 10:32] tonxxd commented on #4751
You are right, sorry I didn't check the description correctly.
Could be a problem with yarn itself?
yarn 1.21.1
node v13.6.0

[2020-03-18 12:54] loongmxbt opened #5535 "Relational fields search MySQL ER_PARSE_ERROR"
**Describe the bug**
When I search in the right side relational fields, whenever I type a letter, there is an error occurred.
[code]
Only the top fields in the pre-load list can be found, I have to scroll down to load additional fields, then I can filter the result.
I assume this should be search all related entries.
MySQL database encoding is utf8mb4_unicode_ci

**Steps to reproduce the behavior*

[2020-03-18 15:03] Shuky commented on #1522
Was there a solution for this? I have a similar issue, only with the default generated code for collection's controllers.
https://github.com/strapi/strapi/issues/5528

[2020-03-18 15:13] lauriejim commented on #5496
Thank you for reporting this issue.
This will help us if you can investigate this issue and provide a PR to fix it.
Thank you.

[2020-03-18 15:16] lauriejim commented on #5498
Hello @gavmck !
This issue has been fixed, can you please update your application.
Migration guides are into the documentation.
Thank you.

[2020-03-18 15:16] #5498 closed

[2020-03-18 15:33] gavmck commented on #5498
Thanks!

[2020-03-18 16:49] alexandrebodin commented on #4751
I think the issue is with node v13. Can you try on node 12 plz ?

[2020-03-18 18:20] Shuky commented on #5528
For anyone experiencing the same issue, note that this is in fact a bug related to the separate admin panel / backend setup.

I deployed the admin panel on the same server and everything works as expected.

[2020-03-18 18:23] andriusmarkovic opened #5537 "Does Strapi support "Model Tree Structures with Parent References" in MongoDB?"
Hi, I have a problem with making relationship in MongoDB.
[code]
So a category can have many children and can have a parent.

But there is no ObjectId in db.
That is the problem I have.
I created relation field as parentid in AdminUI.
After that the AdminUI has stopped working. Maybe because of no ObjectID.

So is there any way to make relation field but not in ObjectId type?
or is there any way t

[2020-03-18 18:52] victorkane commented on #5537
I believe that when you are using MongoDB, you must respect how a document based database, which is by definition _not_ a relational database, handles relationships. This is described in the MongoDB Docs: https://docs.mongodb.com/manual/tutorial/model-referenced-one-to-many-relationships-between-documents/

So MongoDB based Strapi instances cannot implement something outside of those characteristi

[2020-03-18 18:56] victorkane commented on #5537
Please also see Model Tree Structures with Parent References: https://docs.mongodb.com/manual/tutorial/model-tree-structures-with-parent-references/ This is very close to what you describe. However, the lookups _still use references (even if they don't look like UUID numbers).

The question to ask in this issue would be, then, does Strapi support "Model Tree Structures with Parent References" for

[2020-03-18 18:57] Zuluseq commented on #2058
I came across the same problem.
I don't understand why you don't define columns in mysql as UTF8?

[2020-03-18 19:02] andriusmarkovic commented on #5537
@victorkane Thanks.
Yes, you are right. I updated the title.

[2020-03-18 19:19] EricKit opened #5538 "GraphQL schema does not put ! non-nullable for required Component"
With the following model:

[code]

And the following component:

[code]

The type is produced in the `exports/graphql/schema.graphql` file as such:

[code]

**Expected behavior**

That the schema would be non-nullable. This effects graphql-codegen and makes the types optional in Typescript later.

[code]

Or you don't have the ability to mark the field as required.

**System**
- Node.js version: 1

[2020-03-19 00:37] adrienharnay opened #5540 "[GraphQL Plugin] Component appears null when queried via one-to-many relationship, from different content type"
Hello,

**Describe the bug**

My initial goal is to create several groups of articles, with several articles in each of them. Thefore, I have 2 content types :
- `articles` (plural)
- `article` (singular)

`articles` has two fields:
- `highlighted_child`: one-to-one relation from `articles` to `article`
- `children`: one-to-many relation from `articles` to `article`

`article` has three fields:
-

[2020-03-19 00:39] adrienharnay commented on #5540
Ah, just saw https://github.com/strapi/strapi/pull/5519 fixed it! Any idea when beta.19.4 will be released?

[2020-03-19 04:12] derrickmehaffy commented on #5540
Probably sometime early next week if I had to guess, few other PRs pending for it..

Anyway gonna mark this as closed since new release will fix it (and pr already merged)

[2020-03-19 04:12] #5540 closed

[2020-03-19 05:26] derrickmehaffy commented on #4780
@FeiShepherd awesome workaround for now!

[2020-03-19 05:59] superway117 opened #5542 "how to export and import data(database, uploads )"
## question about how to import  and export data
my purpose is to replicate the enviroment on server to my local pc.

currently i use sqlite as database, i want to backup all files in server, including data.db and all file in upload folder, i am not sure there are enough.
then i replace my local data.db and upload folder using the above files(data.db and all files in upload folder) , then i run st

[2020-03-19 07:00] superway117 commented on #5542
thanks anyway, i just sync all files changed on server, then works on my local pc

[2020-03-19 09:07] rmaroun commented on #5525
@petersg83 can you reproduce it?

[2020-03-19 09:30] c7h12 opened #5543 "Webhook validator urlRegex doesnot contain '_'"
**Describe the bug**
The urlRegex in webhookvalidator can not match '_';

https://github.com/strapi/strapi/blob/master/packages/strapi-admin/controllers/Webhooks.js#L14

**Steps to reproduce the behavior**
1. settings/webhooks/add new webhook
2.type 'http://ab_cd.test.com"  as url
3. fill other fields
4. submit
5. "An error occurred"

**Expected behavior**
"_" is a legal charactor in host.

**Scre

[2020-03-19 09:53] FaysalBsata commented on #2070
@akalitenya  I couldnt find services directory,
![Screenshot 2020-03-19 at 13 52 37](https://user-images.githubusercontent.com/55600792/77054230-f01d4280-69e8-11ea-9ab1-9aebadd6c292.png)
can you help a bit more

[2020-03-19 10:09] akalitenya commented on #2070
@FaysalBsata you need to explore node_modules strapi library related to users-permissions

then you can copy and modify files to your project dir

Strapi will use your version of these files instead of those that in node_modules, just make sure that you name and place these files correctly

[2020-03-19 11:33] petersg83 commented on #3993
Hi,
Thanks for this issue report.
I was able to reproduce it with version `Strapi v3.0.0-beta.16.1` but not with `Strapi v3.0.0-beta.16.3` and neither with the latest version `Strapi v3.0.0-beta.19.3`.
Please reopen this issue if you can reproduce the error with the latest version of Strapi.

[2020-03-19 11:33] #3993 closed

[2020-03-19 12:21] tylercreller commented on #5249
Seeing this error as well on beta.19, any progress here?

`  "dependencies": {
    ...
    "strapi": "3.0.0-beta.19",
    "strapi-admin": "3.0.0-beta.19",
    "strapi-connector-mongoose": "3.0.0-beta.19",
    "strapi-plugin-content-manager": "3.0.0-beta.19",
    "strapi-plugin-content-type-builder": "3.0.0-beta.19",
    "strapi-plugin-email": "3.0.0-beta.19",
    "strapi-plugin-graphql": "3.0.0-be

[2020-03-19 14:07] FaysalBsata commented on #2070
@akalitenya  Well noted, thank you I'll try and find it

[2020-03-19 14:45] Naxos84 commented on #1539
What needs to be done, if subdomain is not an option?

[2020-03-19 16:32] ciphercodes opened #5546 "Help: CORS Issue"
Hello,
I am getting my requested blocked by CORS when I try to log in to my application.
Error:
**Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:1337/auth/local. (Reason: CORS request did not succeed).**

I am running angular for UI at http://localhost:4200 and Strapi on backend: localhost:1337.
This app works fine on my system but wh

[2020-03-19 16:39] derrickmehaffy commented on #5546
Please also test on the latest version

Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-03-19 16:55] ciphercodes commented on #5546
**Describe the bug**
Hello,
I am getting my requested blocked by CORS when I try to log in to my application.
Error:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:1337/auth/local. (Reason: CORS request did not succeed).

I am running angular for UI at http://localhost:4200 and Strapi on backend: localhost:1337.
This app works fine on

[2020-03-19 18:10] samohovets commented on #3524
Hello, @lauriejim!

I guess he meant the global `strapi` object in a test suite. I faced the same problem, I just want to test some specific logic with Jest and `supertest`, but when I try to start server programmatically like so:
[code]
It throws an error `TypeError: require(...) is not a function`.

You can reproduce it easily:
1. Create a Jest test somewhere in your Strapi app directory
2. Try

[2020-03-19 19:06] ciphercodes opened #5548 "Help: CORS Issue"
**Issue**
Hello,
I am getting my requests blocked by CORS when I try to log in to my application.

Error:

I am running angular for UI at http://localhost:4200 and Strapi on backend: http://localhost:1337.
This app works fine on my system but when I deploy it on cloud(development mode) and try to access it with a public IP I am running in to CORS issue.

**Steps to reproduce the behavior**

1.

[2020-03-19 19:15] derrickmehaffy commented on #5546
Can you please test on the latest Strapi version (fresh app would be fine, just for testing)

Latest is beta.19.3

[2020-03-19 19:17] derrickmehaffy commented on #5546
Closing as user created new properly formatted issue: https://github.com/strapi/strapi/issues/5548

[2020-03-19 19:17] #5546 closed

[2020-03-19 19:17] derrickmehaffy commented on #5548
Can you please test on the latest Strapi version (fresh app would be fine, just for testing)

Latest is beta.19.3

[2020-03-19 19:22] derrickmehaffy commented on #5548
Also as a side note you should not need to be setting any CORs stuff inside of nginx. Here is an example config (for `/` block):

[code]

[2020-03-19 19:24] derrickmehaffy commented on #5548
Likewise for angular, you should not be setting any CORs stuff from the client (it won't do anything)

Remove these:
[code]

CORs works only on incoming response, not sent request, Strapi won't do anything with those headers incoming, but it will respond with them.

[2020-03-19 19:29] derrickmehaffy commented on #5548
As we can see with the latest beta version, on the CORs middleware: https://github.com/strapi/strapi/blob/262d3e43645203a2ed9e2549ffa8083909c523f3/packages/strapi/lib/middlewares/cors/index.js#L8-L34

it already exposes everything it needs to, and likewise if you leave just the default setting in security.json to `"enabled": true` it will by default respond back with the origin set to whoever requ

[2020-03-19 20:46] ciphercodes commented on #5548
Thanks for the input,
Let me test with the newest version and get back to you. The reason we did not migrate yet was because of some DB and group/component changes but if this issue still persist then we will have to upgrade anyway.

[2020-03-20 02:17] EricKit opened #5549 "Registering a user twice via GraphQL gives misleading error"
**Describe the bug**
When you register a user, then try to re-register a user with the same username the returned error is "Cannot return null for non-nullable field UsersPermissionsLoginPayload.jwt."

**Steps to reproduce the behavior**
1. Start a new project
2. Add a user with username "bob"
3. Add another user with username "bob"

**Expected behavior**
Proper GraphQL Error, not a null value to

[2020-03-20 05:06] ytachi0026 commented on #2665
Hey guys, I am facing the same issue as your, i am using Strapi 18.3

[2020-03-20 08:47] sebinq opened #5552 "How to handle AVPlayer - Strapi communication"
Hello.

I'm developing an API server for my React Native application using strapi. I have table, which contains uploaded video file (.mp4 format) and now I'm having following problem:

1. React Native fetches data and saves video url in order to obtain it from my server.
2. I'm trying to play this video using AVPlayer (react-native-video uses AVPlayer for IOS).

I keep getting **-11850 AVFoundatio

[2020-03-20 09:15] derrickmehaffy commented on #5552
Closing as a duplicate of: https://github.com/strapi/strapi/issues/2246

[2020-03-20 09:15] #5552 closed

[2020-03-20 13:24] #5531 closed

[2020-03-20 13:26] chinhdo opened #5555 "References to old name "content-type" in documentation and UI"
"content type" is now "collection type" but the UI and documentation still has many references to "content types".

**Steps to reproduce**

1. Go to [Quick Start Guide](https://strapi.io/documentation/3.0.0-beta.x/getting-started/quick-start.html#_2-create-an-administrator-user) and scroll down to "3. Create a Restaurant Content Type"
2. The first step says 'Click the "+ Create new content-type" l

[2020-03-20 13:32] alexandrebodin commented on #5555
Hi @chinhdo, Thanks your for reporting this :)

The getting started should be updated to clarify ;) Feel free to open a PR. Notifying @lauriejim who handles this :)

To clarify: The name Content Type is still valid in the context of the Content types builder.  A `Collection Type` is a `Content Type`. and a `Single Type` is also a `Content Type` ;)

[2020-03-20 13:36] derrickmehaffy commented on #5555
I've spoken with @lauriejim the past few days on this relating to parts of the documentation as well as many example images on the website as well.

[2020-03-20 13:46] Chris-Pollock opened #5556 "Loose component's data when you rename the component attribute name with MongoDB"
**Bug description**
I have reproduced this on multiple different repeatable components and so am pretty sure this is a bug. I'm new to strapi I hope these aren't too frequent :(

If you simply use repeatable components, and change the fieldname that sets up the repeatable component, the api starts returning incorrect data that looks like this:

{
"_id": "5e68d688c0c615169ce924b2",
"kind": "Compone

[2020-03-20 15:36] roelbeerens opened #5558 "GraphQL login mutation doesn't throw detailed error message"
**Describe the bug**
I noticed that the schema.graphql.js in the latest version of the User Permissions plugin is somewhat changed. The checkBadRequest function doesn't return an Apollo error anymore which results in a JWT error when the password and/or username is incorrect.

**Steps to reproduce the behavior**
1. Go to config/schema.graphql.js
2. Go to line 8-14
3. Check the throw new Error
4. T

[2020-03-20 15:38] roelbeerens commented on #5549
This is related to https://github.com/strapi/strapi/issues/5558

[2020-03-20 15:42] alexandrebodin commented on #5558
Hi, Yes we add to remove the ApolloError to avoid making the ApolloServer a dependency of the users-permissions plugin.

We won't be changing this right away as we need to handle error handling differently in our case (certainly passing and `errors` object to the graphql context with some errors like `ApolloError` and such + some Strapi specific errors).

If you are interested in contributing let

[2020-03-20 15:49] roelbeerens commented on #5524
@diogotcorreia I just spun a small little repo with some solutions I use, maybe you can use that: https://github.com/roelbeerens/strapi-graphql-password-reset

[2020-03-20 15:52] roelbeerens commented on #5558
Hi, thanks for the clear message. I do share your idea that your code should be as independent as possible. I'd love to help out. Is there already like something a error handler Strapi uses right now?

[2020-03-20 16:00] diogotcorreia commented on #5524
@roelbeerens Thanks a lot, I'll definitely look into that!

It should still be implemented into `strapi-plugin-users-permissions` anyway.

[2020-03-20 16:09] chinhdo commented on #5555
@alexandrebodin Would be happy to open a PR for Getting Started Guide if this isn't already being worked on by someone. In Slack it sounds like someone else may be on it already.

[2020-03-20 16:10] Sejori opened #5559 "strapi-provider-email-amazon-ses returns error undefined when incorrect was credentials are used"
**Describe the bug**
When using the ses provider errors are not returned with a status or description. Would be helpful to know why the email.send() function failed.

**Expected behavior**
Standard Strapi error object to be returned with status and messages e.g. "500 - AWS SES connection parameters incorrect"

**Code snippets**
[2020-03-20T15:43:56.332Z] error undefined

  AssertionError [ERR_ASSE

[2020-03-20 16:48] alexandrebodin commented on #5555
@lauriejim might give you the answer :)

[2020-03-20 17:33] Giom24 opened #5560 "Required fields in User Model are not created / ignored while register"
**Describe the bug**
Required fields in User Model are not created / ignored while register

**Steps to reproduce the behavior**
1. Add some custom fields to the User Model
2. Mark them as required
3. Use the API to register an User. Besides the username, email and password the required fields
are set in the body as JSON.
4. The Server always response with "Auth.form.error.email.taken"

**Expected

[2020-03-20 17:34] secretlifeof opened #5561 "Missing documentation: GraphQL mutation for dynamic zones/components"
I cannot figure out how write GraphQL mutations mutating dynamic zones/components.
I wrote a question here #5504 and also posted one on Slack and on Stackoverflow [here](https://stackoverflow.com/questions/60683060/how-to-strapi-graphql-mutation-with-dynamic-zones-component/60726745#60726745) without getting an answer, that is why I am writing this as a feature request.

It would be very kind if a

[2020-03-20 17:49] ytachi0026 opened #5562 "Select on relations is not filtering correctly when an input is added"
**Describe the bug**
I created 2 relations between 2 content types (A and B), and each of them has more than 60 elements.
A see the relation B, and i select to display its string field named email.

When i created a new element on B with email field (test@test.com).
I go to Content Type A, and i want to add the new B element (test@test.com) to any of the A element.
I go to the select option, and I

[2020-03-20 20:56] lukemcd commented on #3946
I think this request would be very helpful. Perhaps "sortable" could be an option when creating/editing a collection type. The sorting action in the list view would automatically generate the order number either into a reserved field name or a numeric field the user creates and associates with sorting.

[2020-03-20 22:31] Brad-Christie opened #5563 "strapi generate:model within plugin fails"
**Describe the bug**
Looks like scaffolding only works within a root strapi project. Because of the [check on packages.json](https://github.com/strapi/strapi/blob/8d0c6848ba421680570e974e5d8606314735de3e/packages/strapi/bin/strapi.js#L30), it's unable to executed in a freshly-scaffolded plugin, for example.

**Steps to reproduce the behavior**
1. `npx strapi new strapi-project --quickstart --no-ru

[2020-03-20 23:32] Brad-Christie commented on #5563
Nevermind, just caught `--plugin` arg. 🤦‍♂️

Sorry guys, long week this week.

[2020-03-20 23:32] #5563 closed

[2020-03-21 00:10] artlogic opened #5564 "Error after saving an administrator profile"
**Describe the bug**

After saving an administrator profile, I receive: "An error occurred during record fetch". The console shows this: `[2020-03-20T23:58:54.222Z] debug GET /content-manager/explorer/strapi::administrator/&_page=0&_limit=0&_sort=id (57 ms) 404`

**Steps to reproduce the behavior**
1. Install strapi using `npx create-strapi-app my-project --quickstart`
2. Create a new admin user
3

[2020-03-21 01:25] vinod77 opened #5565 "Need to have CreatedBy and lastUpdatedBy field's by default in all models/CollectionTypes"
## Description:

Since we will be having many Users/Admins to our App.  It will be better, great if we can able to Audit Strapi.

In all models, We want to know User who created `Collection-Type` with default `createdBy` attribute  & We want to see User who made changes to existing articles with default `lastUpdatedBy` attribute.

Currently we are only having only 2 default attributes: `createdAt`

[2020-03-21 03:06] 13387874660 opened #5566 "jest strapi is not defined"
I'm experimenting with Strapi and would like to create a controller verified by unit tests.
however, inside my Controller I have code that accesses a global strapi object, which causes this error ReferenceError: strapi is not defined

[2020-03-21 03:25] EricKit commented on #5549
Sure is.

[2020-03-21 03:25] #5549 closed

[2020-03-21 05:18] derrickmehaffy commented on #5565
@vinod77 please make a request on https://portal.productboard.com/strapi/tabs/2-under-consideration for the audit feature.

Marking as closed here.

[2020-03-21 05:18] #5565 closed

[2020-03-21 05:19] derrickmehaffy commented on #5566
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-21 05:19] #5566 closed

[2020-03-21 07:44] shabab477 commented on #5490
Would like to take a shot.

[2020-03-21 10:00] secretlifeof commented on #5561
**This schema introspection**
[code]
**reveals**
[code]

[2020-03-21 10:37] diogotcorreia commented on #5194
Can confirm this is still happening on beta-19.3

[2020-03-21 11:24] lauriejim commented on #5470
Hello, can you please check the value in your Upload plugin configuration for `Maximum size allowed (in MB)`

[2020-03-21 11:45] lauriejim commented on #5454
This issue has been fixed in the last version of Strapi.
https://www.loom.com/share/542642fb58854dbeb490642b03ac5622

[2020-03-21 11:45] #5454 closed

[2020-03-21 13:39] daxyonis opened #5567 "Bad Request Error on Login"
**Describe the bug**
I create a new user in the UI with role Authenticated. I enable the Auth Permissions for Authenticated. Then I use Postman to call the API for login:

![test_login](https://user-images.githubusercontent.com/16484367/77227419-9b97d580-6b56-11ea-91d2-f98bcdab5b1b.PNG)

No matter what the user is I always get the same Bad Request error with message "Auth.form.error.email.provide"

[2020-03-21 13:41] lauriejim commented on #4977
Hello @Jesus82 - Just tried again and it works - https://www.loom.com/share/d996fdb4c50142ab84ccf727e5436694

[2020-03-21 13:58] lauriejim commented on #4025
Hello @nickjanssen, I can confirm the issue with Mongo ID search.
Can you please open a new GitHub issue.
This works well when you search on a text field.

[2020-03-21 14:01] lauriejim commented on #5374
Thank you for reporting this - I ping @alexandrebodin

[2020-03-21 14:14] lauriejim commented on #5385
Hello @pataiadam !

Thank you for reporting this issue.

[2020-03-21 14:37] alexandrebodin commented on #5567
Hi @daxyonis

You are not sendiing the request as `json` :)

Make sur to send the `content-type: application/json` header. With postman you need to select json in the dropdown menu on the right :)

Enjoy !

[2020-03-21 14:37] #5567 closed

[2020-03-21 15:41] felixdorn commented on #5094
Well, that's more complicated, `draftjs` and any other editor i tried just doesn't work on mobile. I think we should move on.

[2020-03-21 16:00] lauriejim commented on #5314
Hello! I just tried and it works well.
https://www.loom.com/share/d1f3fdb024e64de5b21bcafd8e7df82d
Did I missed something?

[2020-03-21 16:38] kbariotis commented on #5496
@kulbon adding a custom `user.settings.json` shouldn't be needed in this case as the `users-permissions` plugin has the `username` [field required by default](https://github.com/kbariotis/strapi/blob/master/packages/strapi-plugin-users-permissions/models/User.settings.json#L12-L17).

But I cannot see where this file is being loaded. @lauriejim would you be able to guide me in the codebase a little

[2020-03-21 17:15] Tansito commented on #5314
Hello @lauriejim , thanks for taking a look (the video was amazing!). I was investigating the possible causes and I think that this is related with:

[code]

and

[code]

Probably it will happen when your sorted data exceeds your maximum capacity of RAM, and that depends a lot of the data that you are sorting.

So, without being a Strapi problem it's true that someday with larger datasets it's pro

[2020-03-21 19:52] alexandrebodin commented on #4929
Closing this issue as it was upgraded recently :)

[2020-03-21 19:52] #4929 closed

[2020-03-21 20:43] pzehle opened #5568 "UID Field Selection Crashes"
**Describe the bug**
When creating a new content type, and selecting UID as a field, application crashes with the error `TypeError: undefined is not an object (evaluating 'option.value')`.

**Steps to reproduce the behavior**
1. Create a new content type.
2. Click on UID field.
3. Error appearing.

**Expected behavior**
Be able to generate a UID field.

**Screenshots**
<img width="2032" alt="Bilds

[2020-03-21 21:09] CodeForage commented on #5094
I certainly will move on, away from strapi.

[2020-03-22 01:01] frilansutvecklaren commented on #5568
Have the same problem after installing a fresh copy of latest beta (19.3). Didn't have this problem before with the 19.3.

[2020-03-22 08:14] derrickmehaffy commented on #5568
I can confirm this issue on a fresh quickstart beta.19.3, happens as soon as I click on the UID field while creating a collection type.

![image](https://user-images.githubusercontent.com/8593673/77245256-7ba9f580-6bda-11ea-831b-3eb7704e36dd.png)

Tagging @soupette @virginieky

[2020-03-22 10:00] tonxxd commented on #4751
Yes I confirm, with node 12 works.
Thanks for finding the issue!

[2020-03-22 13:10] VGamezz19 commented on #4826
same here.

[2020-03-22 13:17] lauriejim commented on #5356
Hello! Can you tell me the number of cases that you get with the filter on topic id 1?
And how many cases are related to this topic in the admin?

[2020-03-22 13:37] lauriejim commented on #5339
Hello! I just tried with the last version of Strapi and all works well.
If I update the upload provider, new uploaded files are going in the right place.

[2020-03-22 13:40] lauriejim commented on #5324
Thank you for reporting this issue.

Ping @alexandrebodin

[2020-03-22 13:50] lauriejim commented on #5312
Hello! Thank you for reporting this issue.

[2020-03-22 16:39] lauriejim commented on #5302
Hello! Thank you for reporting this issue.
I think it's a simple issue to fix, I will appreciate if you can investigate and submit a PR to fix that.
Thank you.

[2020-03-22 17:18] frilansutvecklaren commented on #5568
So why does it crash when selecting UID field?

[2020-03-23 05:20] danielmaartens-sovtech opened #5569 "GraphQL Plugin => TypeError: Cannot read property "call" of undefined"
**Edit:** Please avoid pinging people unless needed.

After installing the graphql plugin I get the following error:

[code]

**Steps to reproduce the behavior**
1. RUN `yarn create strapi-app strapi-develop --quickstart`
2. RUN `strapi install graphql`
3. Restart strapi app
4. See error

**Expected behavior**
You are expected to access the graphql playground.

![image](https://user-images.githubu

[2020-03-23 05:35] derrickmehaffy commented on #5555
@alexandrebodin Was going to review the docs this week myself. @chinhdo if you want to take a look through as well that would be great :wink: had a lot going on over the weekend that I couldn't get to it sooner.

[2020-03-23 05:44] derrickmehaffy commented on #5569
@danielmaartens-sovtech please avoid pinging Strapi team members unless you need to, I have edited your OP.

[2020-03-23 05:51] danielmaartens-sovtech commented on #5569
@derrickmehaffy I did so to get a quick response as this is quite urgent.

[2020-03-23 05:56] derrickmehaffy commented on #5569
Was not able to reproduce this on linux using beta.19.3

![image](https://user-images.githubusercontent.com/8593673/77286378-524ba100-6c90-11ea-85bf-5d16f0bdfb65.png)

![image](https://user-images.githubusercontent.com/8593673/77286392-5bd50900-6c90-11ea-885c-b210fc463bc7.png)

[2020-03-23 05:59] derrickmehaffy commented on #5569
I'm not sure how you managed to do it but your graphql plugin is being installed in the wrong directory:

`plugins/graphql/hooks/graphql/index.js`

It should be coming from `node_modules`, can you confirm that you don't have a very old version of strapi installed globally on your system using `which strapi` in a terminal. And likewise please delete the graphql folder from your `plugins` folder in

[2020-03-23 06:09] danielmaartens-sovtech commented on #5569
I think my global version might be the issue as I followed the steps you did above, specificall `yarn strapi install graphql` instead of `strapi install graphql`.

BTW, `which strapi` returns:
`/Users/danielmaartens/.nvm/versions/node/v10.15.1/bin/strapi`

[2020-03-23 06:10] derrickmehaffy commented on #5569
if you run `strapi version` that should dump out the old version, which I'm guessing is some alpha one.

I'd suggest you update that global version or just remove it completely. In either case, going to go ahead and mark this as closed as it isn't a bug with Strapi itself.

[2020-03-23 06:10] #5569 closed

[2020-03-23 08:17] lauriejim commented on #5514
Hello, no news, I suppose it should be OK on the last version.
Will re-open if it's not OK.

[2020-03-23 08:17] #5514 closed

[2020-03-23 08:20] lauriejim commented on #5520
Hello! Your issue is not simply readable, can you please update your issue body to make it understandable for me.
Thank you.

[2020-03-23 08:36] derrickmehaffy opened #5570 "Change CTM enum filters to use list from model settings instead of string"
- [ ] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

Currently the filters for enumeration values is using a string, since enumerations can't be changed in production (or without the server restarting) the CTM should be u

[2020-03-23 08:44] derrickmehaffy commented on #5568
@frilansutvecklaren the Strapi team are currently looking into this, it's most likely an upstream package issue.

[2020-03-23 08:47] lauriejim commented on #5508
Ping @soupette and @alexandrebodin about this question.

[2020-03-23 08:51] derrickmehaffy commented on #5508
@mkampmey that proxy block is used to change internal variables specifically in the case of using a reverse proxy. File uploads, auth providers, and some links (such as this one).

I would recommend you configure that proxy block.

[2020-03-23 08:58] alexandrebodin commented on #5508
It should only be absolute when the admin is hosted somewhere different. This could be improved for sure.

[2020-03-23 08:58] derrickmehaffy commented on #5548
@ciphercodes any update on this? Just wanted to see if I could close this issue out.

[2020-03-23 08:59] soupette commented on #4025
@petersg83 can you check if the issue is coming from the backend and I have also noticed that is does not work well with postgres

[2020-03-23 08:59] derrickmehaffy commented on #1539
@Naxos84 Strapi would need to readd the prefix option.

[2020-03-23 09:13] derrickmehaffy commented on #5057
If you guys are on linux/mac please run a `netstat -plnt` in the terminal and provide the response

[2020-03-23 09:16] derrickmehaffy commented on #4853
I'd say currently this is a feature request, but no updates about it

[2020-03-23 09:32] dunods opened #5572 "how do i hide user from the side bar ?"
hello anyone know how to hide user collection type from sidebar?

[2020-03-23 09:32] derrickmehaffy commented on #5572
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-23 09:32] #5572 closed

[2020-03-23 09:42] gavmck commented on #5514
Thanks, we have some work to do to be able to update Strapi, but I'll pop back in here when it's done

[2020-03-23 09:44] nickjanssen opened #5573 "Relation autocomplete: searching by ID doesn't work properly"
As requested by @lauriejim this is a new bug report related to #4025

**Describe the bug**
When using relations, which by default shows up as IDs, searching and selecting IDs doesn't work. Random/wrong IDs are shown.

**Steps to reproduce the behavior**
1. Create a relation between two collections
2. Try searching for specific IDs in the autocomplete field

**Expected behavior**
IDs should show up

[2020-03-23 10:20] lauriejim commented on #5535
Hello! I just tried and it works well on my side.
Here is what I did - https://www.loom.com/share/14b69516ee3749988e764c3bf0058654
Can you tell me if I'm missing something

[2020-03-23 10:24] lauriejim commented on #5528
Hello! I'm not sure to follow.
You have your admin in a S3 bucket and it works fine.
And you have your API endpoints that fail?

[2020-03-23 10:28] lauriejim commented on #5537
Hello, please follow the issue template [here](https://github.com/strapi/strapi/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission lets us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines.

Please update the issue.

Thank you.

[2020-03-23 10:28] #5537 closed

[2020-03-23 10:34] Shuky commented on #5528
@lauriejim, I have the admin on s3 working with the backend and I can update all collections/users/etc.
However all the api paths on the backend return 404.
When I remove the separate admin client configuration and build everything on the backend server (and serve the admin panel from there) all apis are working as expected.

[2020-03-23 10:35] lauriejim commented on #5538
Hello @EricKit !
Thank you for reporting this issue.
I think it's not really hard to fix it. Can you please try to check the GraphQL plugin, find the issue and submit a PR to fix it.
I will really appreciate your contribution to this issue.
Thank you.

[2020-03-23 10:42] lauriejim commented on #5525
Hello! I just tried and it works well.
Here is what I did, can you tell me if I messed something.
https://www.loom.com/share/a5c6b06d29a64357ad5bceb5b85dedf9

[2020-03-23 10:47] lauriejim commented on #5543
Hello @c7h12 !
Thank you for reporting this issue.
Can you please submit a PR, thank you.

[2020-03-23 10:56] ralphsomeday commented on #5525
@lauriejim can you try it with the S3 provider as I am not even getting any console message using the Admin UI, I was testing it using an api client. Tested it now with Admin UI and not getting any message.

[2020-03-23 11:56] #5542 closed

[2020-03-23 12:05] lauriejim commented on #5556
Hello! Can you please provide steps to reproduce please, I'm not sure of what you are doing.

[2020-03-23 12:12] lauriejim commented on #5524
Thank you for reporting this.
Can you please submit a PR to add this mutation.
I will appreciate your contribution.

[2020-03-23 12:15] lauriejim commented on #5559
Hello! Thank you for reporting this issue.
To be honest, this provider is not really maintained.
So if you want it fixed, can you please submit a PR, I will appreciate your contribution.
Thank you.

[2020-03-23 12:44] juicecultus commented on #1771
Hi
thanks for the tutorial. I've tried implementing it but I run into an error when running GET http://localhost:1337/posts/import into POSTMAN.
The error is:
[code]

[2020-03-23 13:03] #4487 closed

[2020-03-23 13:21] lauriejim commented on #5560
Hello! Thank you for reporting this.
It's not really an issue.
The register function allows only some fields, username, password and email.
You will have to update the register controller function using the [customization concept](https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html)

If you add custom field in your User model, how you would like to define if you can add it or

[2020-03-23 13:25] lauriejim commented on #5564
Hello! Thank you for reporting this issue.
Just to let you know, an error occurs in the frontend, but your update has been made.

[2020-03-23 13:55] roelbeerens commented on #5524
@lauriejim Thanks, i'll setup a PR for this.

[2020-03-23 14:20] diogotcorreia opened #5577 "Error when searching a content type with no searchable fields or UID"
**Describe the bug**
When searching a content type that has no searchable fields, there is an error thrown on console.
Additionally, you can't search by UID.
This is only happening with Mongoose.

**Steps to reproduce the behavior**
1. Create a Content Type with a UID and an Integer.
2. Add one or two entries.
3. Try to search by UID.

**Expected behavior**
It should only return the entries that m

[2020-03-23 14:21] derrickmehaffy commented on #5577
`I'll be submitting a PR to fix this.` :+1:

[2020-03-23 14:45] ciphercodes commented on #5548
Hi Derrick,
I could not test it on latest version, I did remove the headers you had mentioned from nginx and Angular app. I am going to move the angular UI on another server and from initial tests CORS is not an issue when  Angular and Strapi are on different servers it's just that when both are on same host.
I am closing this issue, thank you for your help.

[2020-03-23 14:45] #5548 closed

[2020-03-23 14:54] alexandrebodin commented on #5568
Hi we couldn't reproduce this issue. It might have come from one of the dependencies. Are you still having the issue @pzehle  ?

[2020-03-23 15:02] pzehle commented on #5568
@alexandrebodin thanks. Yes, issue is still there, no matter how many fresh installs I perform, issue persists. I think I am not the only one having this issue.

[2020-03-23 15:13] kaanguru opened #5579 "How to change Plural suffix?"
Is it possible to translate the plural word suffix?

I want to add "lar" suffix end of all content types instead of "s" and "es"

----------

##How to make collection type "Kediler" instead of "Kedis"

![should be kediler](https://i.vgy.me/SsV6Qd.png)

----------

### I have created a collection type
![kedi](https://i.vgy.me/rElVCJ.png)

### I have changed collection name in Advanced Tap BUT IT St

[2020-03-23 16:03] petersg83 commented on #5573
Thanks, I can reproduce the issue.

There are several issues/questions regarding this problem.

The input displays only one attribute (in your example it's the ID).
The query sent from the front is : `url?_q=5d1` and it doesn't specify on which attribute the search is made.
The backend receives the query and will search for the entries in the database by searching on all the attributes of the mode

[2020-03-23 16:13] HichamELBSI commented on #5568
Hi @pzehle, can you clear the npm/yarn cache and retry, please.

[2020-03-23 16:15] petersg83 commented on #5573
Thanks, I can reproduce the issue.

There are several issues/questions regarding this problem.

The input displays only one attribute (in your example it's the ID).
The query sent from the front is: `url?_q=5d1` and it doesn't specify on which attribute the search is made.
The backend receives the query and will search for the entries in the database by searching on all the attributes of the model

[2020-03-23 16:40] soupette commented on #5568
@pzehle I am having a really hard time reproducing it can you give a link to a repo so I can check the bug?

[2020-03-23 16:40] #5577 closed

[2020-03-23 16:41] derrickmehaffy commented on #5579
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-23 16:41] #5579 closed

[2020-03-23 16:41] derrickmehaffy commented on #5568
I also can't seem to reproduce it again.

[2020-03-23 16:44] pzehle commented on #5568
Clearing cache solves the problem. Thank you!

[2020-03-23 16:47] derrickmehaffy commented on #5568
I'm guessing this is an issue with some cached upstream package that was fixed over the weekend.

@soupette @alexandrebodin you guys good with closing this out for now? (I can't get it to reproduce again)

[2020-03-23 17:21] alexandrebodin commented on #5324
Hi @lancevo. Right now you can receive event on delete but you shouldn't :)

The user plugin is running some custom CRUD code it isn't emitting events for the weebhoks. It was a deliberate choice for now.

Can you explain your usecase for listening to user creation ?

Thanks !

[2020-03-23 17:29] sandokanelcojo commented on #4267
@derrickmehaffy

There is some issue clearly going when populating MySQL databases for the first time.

This shouldn't be closed.
Can you please re-open it so it gets the attention it deserves?

Thanks.

[2020-03-23 17:45] victorray84 commented on #5560
Hi,
  I've customized the registration. It works. But, while try to upload image through registration, I'm getting image null.  But, other data saved to database.I've updated the Auth.js code and using multipart. I've attached my code here. Can u tell me what's the problem?

**System**

Node.js version:v12.14.0
NPM version: 6.13.4
Strapi version: 3.0.0-beta.18.6
Database: Mysql
Operating system: M

[2020-03-23 17:52] chinhdo commented on #5555
@alexandrebodin @lauriejim Sure, I will create a PR to fix incorrect reference to '+ Create new "content-type" link' and other similar references in the Quick Start Guide.

Also I think users can benefit from having some documentation explaining core concepts like ```Content Type```, ```Single Type```, and ```Collection Type``` - why they exist, how they are used, etc. I tried to search the docs b

[2020-03-23 18:02] #3889 closed

[2020-03-23 19:34] fparol4 opened #5582 ""_ in" on endpoint query to match any value in array doesn't work properly"
Hello, sorry my bad english. Thats my first issue.

I am trying to use the "in" query operator that corresponds to a value in the array, but passing an array does not work, but passing only one value correspond correctly, wtf?

**Working**
![image](https://user-images.githubusercontent.com/47286899/77355399-20cfe580-6d23-11ea-8bb7-bfb27af67ff0.png)

**!Working**
![image](https://user-images.github

[2020-03-23 20:31] lancevo commented on #5324
@alexandrebodin I have to send the user info to another API.  Right now, I implement it in the afterCreate method of the User model.

What is the logical place to do this?
What did you not want user CRUD to emit events for the webhooks?

Thanks

[2020-03-23 23:16] kaemu opened #5583 "Change fieldname case"
Hello
Change the fieldname case (ie "Date" => "date") in the Content type builder makes the app crash (not restarting)

Logs:

[2020-03-23T23:05:12.606Z] error Impossible to register the 'distribution' model.
[2020-03-23T23:05:12.607Z] error Error: ER_DUP_FIELDNAME: Duplicate column name 'date'
    at Query.Sequence._packetToError (/srv/app/node_modules/mysql/lib/protocol/sequences/Sequence.js:47:

[2020-03-23 23:21] christianguevara commented on #5583
Hi!, I think is because MySQL by default is case insensitive meaning the field "Date" and "date" in database level is the same column, and it can't be created twice.

[2020-03-24 01:39] bschlintz commented on #5583
+1, hit this with MongoDB as well.

[2020-03-24 02:58] rawiki commented on #5470
It's set to 3000 MB

[2020-03-24 06:41] derrickmehaffy commented on #5583
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-03-24 06:41] #5583 closed

[2020-03-24 08:17] alexandrebodin commented on #5324
The main reason is that right now you cannot deslect the webhook pour content type and Users contain private informations. We would rather not send the users to third party services without giving control to the user to disable it.

You can indeed use the lifecycles to implement it yourself.

[2020-03-24 12:58] lauriejim commented on #5314
Thank you for your comment, I ping @alexandrebodin and @soupette for this.

[2020-03-24 13:09] Salman2301 commented on #3309
@lauriejim  can u provide an example for the alternate solution?

[2020-03-24 13:27] alexandrebodin commented on #5582
Hi @fparol4, you can query like follows:

- `GET http:/localhost?Title_in[]=Programming&Title_in[]=OtherValue`

I'm going to close this :)

[2020-03-24 13:27] #5582 closed

[2020-03-24 14:06] lauriejim commented on #5572
Hello, you will have to customize this admin panel using the [customization concept](https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html)
The component that displays the menu on the left is named `LeftMenu`, you will have to understand how it works and add an exception for the User model.

[2020-03-24 14:18] lauriejim commented on #5528
Did you change any API prefix of something else, if your admin work properly, it means that the API should work because your admin call API endpoints from your plugins.

[2020-03-24 14:36] lauriejim commented on #5525
The admin panel calls the rest endpoint `POST /upload` so there is no difference.
The origin of the request has no impact on the middleware stack.
Then about the provider, it's the same, it will not have any impact on the middleware stack.
The plugin endpoint is called and then instead of using the local provider function, it will call the AWS S3 one, so it will not impact your log.

[2020-03-24 15:00] ralphsomeday commented on #5525
@derrickmehaffy anything different that we may have done from the video of @lauriejim  with our middleware?

[2020-03-24 15:32] Shuky commented on #5528
I don't believe I did.
Here is an example production/server.json file content:

`
{
  "host": "admin.somedomain.com",
  "port": "${process.env.PORT || 1337}",
  "admin": {
    "autoOpen": false,
    "path": "/",
    "serveAdminPanel": false,
    "build": {
      "backend": "https://backend.somedomain.com"
    }
  },
  "production": true,
  "proxy": {
    "enabled": true,
    "host": "backend.somed

[2020-03-24 15:42] lauriejim commented on #5560
Hello! I just re-created it for you - https://www.loom.com/share/4a74317002924c25b0b64a8830916a65

[2020-03-24 15:48] Giom24 commented on #5560
Thanks for you reply.

I thought it might be possible to edit the User.settings.json so that the controller is able to set the required fields automatically.

[2020-03-24 16:21] NickCashFlow opened #5587 "Allow Cyrillic in Enumeration textarea (The value not match the regex.)"
**Describe the bug**
Hi!
When I type several lines in Russian into the value field in the Enumeration Type Content, I get an error "The value not match the regex". But if I adding strings in Latin, then everything works as expected.

**Steps to reproduce the behavior**
1. Click the "+ Create new content-type" link
2. Enter `restaurant`, and click Done
3. A window opens with fields options:
4. Clic

[2020-03-24 16:24] deivijt opened #5588 "Upload files related to an User model entry"
**Describe the bug**
When I upload a file to / upload and want to associate it with a field of the User model, it throws the following error:
`[2020-03-24T15:50:29.167Z] error TypeError: Cannot read property 'associations' of undefined
    at /Users/.../strapi-upload/node_modules/strapi-connector-bookshelf/lib/relations.js:273:48
    at Array.forEach (<anonymous>)
    at /Users/.../strapi-upload/n

[2020-03-24 16:32] victorray84 commented on #5560
Thanks for ur reply. I just made a mistake. You should upgrade the docs. As source field was not mentioned on the doc. While debugging, source was always undefined. Again thanks for ur help. I love Strapi. Thanks for ur support.

[2020-03-24 16:48] derrickmehaffy commented on #5587
enumeration values have a strict regex for GraphQL support see this issue: https://github.com/strapi/strapi/issues/4780

Closing as duplicate

[2020-03-24 16:48] #5587 closed

[2020-03-24 16:50] derrickmehaffy commented on #5588
Per: https://strapi.io/documentation/3.0.0-beta.x/plugins/upload.html#request-parameters

- files: The file(s) to upload. The value(s) can be a Buffer or Stream.
- path (optional): The folder where the file(s) will be uploaded to (only supported on strapi-provider-upload-aws-s3).
- refId: The ID of the entry which the file(s) will be linked to.
- ref: The name of the model which the file(s) will b

[2020-03-24 16:50] #5588 closed

[2020-03-24 18:07] roelbeerens commented on #5558
@alexandrebodin would you guys prefer a error handler within the plug-in, or using a global one somewhere in the core?

[2020-03-24 19:25] kjng opened #5590 "Failure to start Strapi when trying to use Azure CosmosDB - MongoDB API"
**Describe the bug**
When trying to use Strapi with the mongoose connector and Azure CosmosDB (MongoDB API 3.6), Strapi crashes with an error. The collections `core_store`, `strapi_administrator`, `users-permissions_role`, and `users-permissions_user` do get created, but are not populated.

My Strapi instance in Azure connects to and uses MongoDB Atlas just fine.

When trying to debug locally usin

[2020-03-24 19:41] philsturgeon commented on #744
Is this something that could be added to the CLI like Sanity have? https://www.sanity.io/docs/importing-data

I'm trying to import programmatically instead of via the UI.

[2020-03-24 21:17] qsedmi opened #5591 "Something went wrong when saving component in Dynamic Zone with Strapi"
**Describe the bug**
When I save the custom Collection Type and I added Components to its Dynamic Zone field, everything is saved but the _Content-Types Builder_ is no more accessible and displays an error message instead  `ReferenceError: can't access lexical declaration 'allComponents'`.

Same thing when I click on _Create a new Component_ in the _Add new component to the dynamic zone_ pop up wi

[2020-03-24 22:06] qsedmi commented on #5591
Another message which I think is related is when I try to add a new component to a Dynamic Zone :

`can't access lexical declaration 'originalIcon' before initialization`

![Screenshot_2020-03-24 Strapi - Content Type Builder(2)](https://user-images.githubusercontent.com/25525202/77480637-5c9da480-6e22-11ea-858d-fd49b89a1b8c.png)

Same problem with the variable originalIcon initialized after being

[2020-03-24 22:57] ygist commented on #5356
I've run into this as well. strapi-connector-bookshelf wasn't generating the right query for deep filtering on manyWay relationships. The fix from https://github.com/strapi/strapi/pull/5536 worked for me.

[2020-03-25 04:40] chanhnv91 commented on #2317
Hi @lauriejim, How can I pass parameters into native sql using knex in strapi
My codes:
const myId = 78;
const res = await strapi.connections.default.raw('select * from notifications where id
                                                                                     =`${myId}`');
return res;

[2020-03-25 05:30] derrickmehaffy commented on #5590
Technically CosmosDB is not entirely MongoDB (even with the API implemented) It's not on the list of supported databases, and may not fully work with the ORM being used (mongoose).

Likewise when it comes to bookshelf (SQL ORM) and other databases besides PostgreSQL, MySQL, MariaDB, and SQLite are all supported by Strapi but SQL server is not. Strapi only includes support for widely used and commo

[2020-03-25 05:33] derrickmehaffy commented on #5591
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-03-25 07:11] loongmxbt commented on #5535
Hi, thank you for your testing. Here is my loom video https://www.loom.com/share/f9e33505f763402598c84153f310b774
In my localhost development, I can search the `caseinfos` and `myunits` relational fields. But the strange thing is searching `caseinfos` returns nothing while searching `myunits` returns the correct entires. Also the logs seems fine.

Dev Environment:
MacOS
Your MySQL connection id is

[2020-03-25 08:31] #3965 closed

[2020-03-25 08:34] alexandrebodin commented on #5558
Hi @roelbeerens we found out where the issue is coming from and it isn't only because of the ApolloError change. We are going to fix this on our side  as it requires more work than expected.

Thank you for reporting this !

[2020-03-25 09:40] derrickmehaffy commented on #3507
I'm making an update here because this question is being asked a lot on Slack.

Until Strapi re-implement the router prefix you will need to use a sub-domain instead of a sub-folder.

If you would like to see this feature added back into Strapi respond to the original post by @lauriejim  with a 👍

[2020-03-25 11:53] Chris-Pollock commented on #5556
I thought it was pretty clear but I will detail this more:

Steps - fresh strapi install as per steps above.
create collection type.
create a repeatable component.
add the repeatable component as a field to the collection type
add some data so that the json displays relationships.
go to the api via http://localhost:1337/yourtypehere
ensure the json data is as expected, returning data from the repe

[2020-03-25 12:07] laportem opened #5593 "Strapi warning of performance issue with graphql filtering"
**Describe the bug**
I have this very simple graphql query (see below).  Basically, there is a many-to-one relationship between "stocks" and "product"

I want to filter out all "stocks" not linked to a "product"

[code]
And on the console, Strapi is warning me of this filter

When possible build custom routes which will in most case be more optimized.

Should we take this warning serious. If so, w

[2020-03-25 12:22] derrickmehaffy commented on #5593
can you try with just a `(where: {product_null: false})`

[2020-03-25 12:23] derrickmehaffy commented on #5593
The warning about deep filtering is sent any time deep filtering is used in general (rest and graphql since it uses the same code)

[2020-03-25 12:23] lauriejim commented on #744
Thank you for this feedback

[2020-03-25 12:25] lauriejim commented on #5356
Awesome, I can close the issue, this will be released soon.
Thank you for your feedback.

[2020-03-25 12:25] #5356 closed

[2020-03-25 12:47] derrickmehaffy commented on #5568
For now marking this as closed, if I or anyone else sees this issue come up we can reopen.

[2020-03-25 12:47] #5568 closed

[2020-03-25 12:49] derrickmehaffy commented on #5560
@victorray84 can you point out where in the docs you saw the issue so I can make a PR to fix it?

[2020-03-25 12:59] lauriejim commented on #5591
Hello @qsedmi !

Can you please precise exact steps to reproduce your issue, because it's not clear for me.

`Add new Dynamic zone field and add existing components` but you are showing a screenshot from a Content Type and not a Component.

[2020-03-25 13:30] aitor72 opened #5595 "Algolia implementation"
Hello guys!

Any of you has implemented algolia search with strapi?

[2020-03-25 14:08] lauriejim commented on #5535
@alexandrebodin any idea about this?

[2020-03-25 14:12] derrickmehaffy commented on #5595
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-03-25 14:12] #5595 closed

[2020-03-25 14:59] alexandrebodin commented on #5535
Hi @loongmxbt
It seems strapi couldn't create the search index on your production server. It might be realted to the permissions of your database user. Can you check the granted permissions you have in prod vs dev ?

[2020-03-25 15:02] qsedmi commented on #5591
Hello @lauriejim !

I created a new Collection Type I called _Article_. It has a field called Content which is a Dynamic Zone field. I added to it Components I previously created.

When I save my _Article_ Collection, I get the first message `ReferenceError: can't access lexical declaration 'allComponents' before initialization` with `Something went wrong.` and I cannot access the Content Type Bui

[2020-03-25 15:07] alexandrebodin commented on #5314
Hi @Tansito,

Have you tried running a pagination query manually with postman with and without the sort to verify it is coming from this param ?

How big are your entities ? Did you configure mongo tu use less RAM than normal ? 32MB of limit seems really low to me

[2020-03-25 15:13] vinod77 opened #5599 "Not able to access dotenv variables in the Strapi Admin front-end for different env's"
**Describe the topic**
How can i access `dotenv` variables for `UAT` & `PROD`environments  in Strapi Admin front-end ? (I have overridden some front-end Admin code)
Currently in the Admin front-end I am always getting it as `process.env.NODE_ENV`: `production` in all env’s. But it should be different for each environment: `DEV`,  `UAT`,  & `PROD`

**Expected Behavior**
Should be able to access dot

[2020-03-25 15:21] alexandrebodin commented on #5599
Hi That's not how client side works :) The env variables are created at build time in the js bundle not at runtime.

[2020-03-25 15:35] vinod77 commented on #5599
I know env variables are created at build time. But i want to get different env variables for each environment.

On DEV: process.env.NODE_ENV: dev
On UAT: process.env.NODE_ENV: uat
On PROD: process.env.NODE_ENV: production

**At Build Time**

But currently on all the environments i am getting `process.env.NODE_ENV` as  `production`. I want to get it according to each environment as said above.

[2020-03-25 15:57] alexandrebodin commented on #5599
This is not something we will be able to do. THe NODE_ENV=production is required to build the admin panel correctly. It doesn't recognize other env variables.

[2020-03-25 16:23] Vadorequest commented on #1465
We also need this feature, here are our current needs:
- Providing a backoffice to our customers, where each user can connect to its own tenant and access its tenant's data only.
- Theming capabilities of the backoffice, per tenant, would nice to have.
- Advanced permissions and roles for internal users, basically need to configure whom can view which tables, or has update/delete permissions on wh

[2020-03-25 17:16] jiv-e opened #5602 "strapi.config.currentEnvironment is undefined inside services file"
**Describe the bug**
Global strapi.config.currentEnvironment is undefined inside API services file.

**Steps to reproduce the behavior**
1. Create a custom services file inside api/ folder. See: https://strapi.io/documentation/3.0.0-beta.x/cli/CLI.html#strapi-generate-service
2. Write console.log(strapi.config) on top of the services file, outside the method calls.
3. Run _npm run develop_ and che

[2020-03-25 17:23] laportem commented on #5593
[code]
does the job as well and the warning message is no longer coming up. But if i need to do deep filtering, is there really a performance impact or just a warning for us to be careful

[2020-03-25 18:04] derrickmehaffy commented on #5602
@jiv-e can you describe where you plan on saving certain things in the config. The way I understand it is you plan on storing the information somewhere in the config directory but might be useful to know where specifically you are looking to do so.

@alexandrebodin when you get a minute can you briefly run down what is the proper way to store custom config stuff (maybe other than the `config/envir

[2020-03-25 18:09] pointout opened #5603 "manual sorting of relations in GUI not working"
**Describe the bug**
The Admin GUI offers a possibility to sort the selections for a related type field. But after saving the item, the sorting is not done. The entries of the realtion type field are still sorted as the were added.

**Steps to reproduce the behavior**
1. Make 2 Collection
2. Make a field the relates to the other collection
3. Add some relations and individually sort them
4. Save t

[2020-03-25 18:20] derrickmehaffy commented on #5603
Hello, this feature is not currently available for normal relations yet please see the following FAQ: https://strapi.io/documentation/3.0.0-beta.x/getting-started/troubleshooting.html#relations-aren-t-maintaining-their-sort-order

[2020-03-25 18:20] #5603 closed

[2020-03-25 18:20] alexandrebodin commented on #5602
Hi @jiv-e you aren't supposed to be using strapi.config in the modele declaration. Strapi is requireing the files in your app at the same time as the configuration. If you add a function and using strapi.config.currentEnvorionment inside of that function it will be available.

I'm going to close this issue as this is the intended behaviour.

[2020-03-25 18:20] #5602 closed

[2020-03-25 18:23] derrickmehaffy commented on #5602
Maybe here would be better? https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#functions

Create a function and call that?

[2020-03-25 18:26] alexandrebodin commented on #5602
You should either create a custom hook or simply use the bootstrapi function :)

[2020-03-25 19:14] CarlosBC commented on #4066
Hello @lauriejim.
I have made fresh install of Strapi "version 3.0.0-beta.19.3", i'm using Postgresql and knex "<0.20.0".
The is a solution for this problem?
Can be fixed by hand?
Thank you!

[2020-03-25 19:31] laportem commented on #5380
For anyone struggling with this is issue, until there is fix, a workaround is to add a database trigger on the ‘upload_file’ table to delete the orphan relationship in ‘upload_file_morph’.

It seems to work both with API file delete and Strapi Admin UI file delete

I use postgressql and the code is as follows:

[code]

[2020-03-25 22:15] jiv-e commented on #5602
Ok! Thanks for the information. I'm still wondering is there some reason environment configs are not required before other stuff? Is it technically impossible or difficult?

Being able to use these config files globally would give a nice cohesive way for adding env configs. Otherwise some configs need to be placed somewhere else. I find this confusing, at least for other developers trying to figur

[2020-03-26 04:54] derrickmehaffy commented on #4267
Can you open a new issue so we can test fresh with proper reproductive steps

[2020-03-26 07:06] harmenjanssen commented on #4913
I was actually looking for the solution to exactly this problem.
Although it works like a charm, I'm a bit reluctant to overwrite the `Auth.js` controller file. I can see it's already had quite some changes since the file was referenced in January in this thread, which I would've missed if I had overwritten the file.

It would be nice to maybe implement an event or hook system that allows develope

[2020-03-26 07:11] jcpea-sfast opened #5604 "Routes duplication and policy ignore in Users-Permissions Plugin if you try to overide default routes.json"
**Describe the bug**
If you want to set custom policies to the Users-Permissions Plugin routes, all the routes will duplicate in the admin panel and no policy is shown.

**Steps to reproduce the behavior**
1. Copy default routes.json from
node_modules/strapi-plugin-users-permissions/config/routes.json
to
extensions/users-permissions/config/routes.json
2. Add additional "plugins::users-permissions.

[2020-03-26 07:27] soupette commented on #5568
Thanks @derrickmehaffy if anyone comes up with the issue please provide a link to repo so we can try to debug.

[2020-03-26 08:59] alexandrebodin commented on #5602
Hi, This is planned to be improved in the futur.

In anycase I want to remove the need for a global variable as much as possible to provide better dev experience among other things. So you will probably only have access to the variable in a function call in the future. Example:

`api/blog/services/newsletter.js
[code]

[2020-03-26 10:45] laportem opened #5608 "GraphQL filter parameters on nested query does not work"
**Describe the bug**
According to the documentations, filters on nested queries should be possible with graphql.
But none of the filter parameters, “**limit**”, “**start**”, “**sort**” and “**where**” seems to work.

For example,
[code]

**Expected behavior**
I would have expected only 3 images per stock to be returned but instead it is returning all images (7 of them to be exact)

**System**
- No

[2020-03-26 10:47] #5190 closed

[2020-03-26 11:14] derrickmehaffy commented on #5608
@alexandrebodin correct me if I'm wrong but query params shouldn't work on nested relational data right? (Especially on polymorphic like upload until the media lib is added, was fairly certain the upload plugin didn't support filtering in general)

[2020-03-26 11:46] laportem commented on #5608
Shouldn't work with Strapi-Graphql or Graphql in general?

I have not tested others but i know nested query params work perfectly on hasura

[2020-03-26 12:21] jiv-e commented on #5602
Nice idea!
I'm still wondering how this would solve the current problem?
Calling that newsletter function would create new MailChimp object every time, right? Or is the idea to run that exported function automatically by Strapi and make that result available inside controllers somehow?

[code]

[2020-03-26 13:08] alexandrebodin commented on #5608
There clearly is an issue here. the params are ignored. I'm putting this issue as confirmed

[2020-03-26 13:11] alexandrebodin commented on #5602
This is a simple dependency injection example. When strapi loads the file it calls the function once and exposes the result. IT would be the same as exporting a class and strapi instantiating it :)

So called only once ;)

[2020-03-26 13:30] apppel commented on #2616
Perhaps we should allow comments again on issue #2166 ? There seems to still be a lot of need for this feature with no real solution presented?

[2020-03-26 13:39] TakCastel opened #5611 "Push rejected on Heroku using npm"
**Describe the bug**
When we want to push some modification to the API (happened when I created a new Content-Type in development), the command `git push heroku master` throws an error :

[code]

**Steps to reproduce the behavior**
1. Use Heroku for deployment following the
2. Add a new Content-Type in development
3. Push the modifications following the documentation : https://strapi.io/documentat

[2020-03-26 13:52] Chris-Pollock commented on #5556
Just as further information - this also happens if you just rename the category (or folder it displays in) of repeatable components. So use the component, add some values, rename the category and the api will break.

[2020-03-26 13:56] shamim-42 commented on #4267
Very very very thanks !!!!!!!!! It works here in your way.

[2020-03-26 13:58] jiv-e commented on #5602
Nice!

[2020-03-26 14:13] derrickmehaffy commented on #5611
This is not an issue with Strapi directly but a problem with Heroku and NPM.

Marking as closed for now, do feel free to keep up the discussion though :)

[2020-03-26 14:13] #5611 closed

[2020-03-26 15:00] lauriejim commented on #5593
It could be slower yes. Depending on your filter, data structure you have and quantity of data you have. The log is added by default if you are filtering on relations.

[2020-03-26 15:00] #5593 closed

[2020-03-26 15:13] lauriejim commented on #4913
Hello! That is what we plan to do.
We will announce it when it will be done.

[2020-03-26 16:53] vinod77 commented on #5599
@alexandrebodin Could you please let me know if there is any other way/workaround for this?
Right now i have manually added our UAT `dotenv` variable in this file: `strapi-admin/admin/src/config.js`: https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/config.js  as we are only on UAT now.
But I need to add PROD `dotenv` variable before we go to PROD, not knowing how i can

[2020-03-26 17:23] carillem opened #5616 "Uploading images results in Server Error in Production"
**Describe the bug**
When I upload more than 1 image to a collection type, it results in a server error in production but it works perfectly in development.

**Steps to reproduce the behavior**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Upload the image successfully.

**Code snippets**
If applicable, add code samples to help explain your problem.

[2020-03-26 18:39] JaguarKnight commented on #3524
I believe the problem is that you aren't getting the strapi global object. That is why there are no defined methods on.

What is the appropriate way to get the strapi global.

[2020-03-26 18:58] derrickmehaffy commented on #5616
We need more information, can you please completely fill out the required template for reproduction steps

[2020-03-26 20:35] chinhdo commented on #5555
Found this very good blog post by @yvesdo that talks about "Collection Type" and "Single Type". [Announcing beta.19 - Single Types & UID field](https://strapi.io/blog/beta-19-single-types-uid-field)

[2020-03-26 21:00] samohovets commented on #3524
Figured it out recently. So to e2e test your endpoints with Jest you should create test environment   in your Strapi app, because jest uses `NODE_ENV=test` in the test suites. Create `config/environments/test` folder and copy contents from `config/environments/production` to that `test` folder.

I wrote some basic setup function that starts strapi and allows to publicly access endpoints you want (

[2020-03-26 21:08] nazirov91 opened #5618 "How can I override the Users model's controller?"
Strapi Beta 3

I would like to add `Content-Range` header to the Users model. Usually, I do this with other custom created models by overriding the `find` method inside the controller.

For example,

[code]

But since the beta version users plugin is abstracted away. How can I override the find method for users plugin and add a new header like above?

Thanks!

[2020-03-26 21:11] christianguevara commented on #5618
AFAIK you need to modify the plugin that handles those models

https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html

[2020-03-27 00:51] nazirov91 commented on #5618
I was able to do so by following these steps:

1. Create a folder named `controllers` inside `<your_strapi_project>/extensions/user-permissions`
2. Inside the newly created controllers folder create a new js file called `User.js`
3. Add the following code inside

[code]
4. Profit

[2020-03-27 00:51] #5618 closed

[2020-03-27 01:56] loongmxbt commented on #5535
@alexandrebodin Thanks for your guide. I'll check both mysql users and permissions and try to fix the problem.

[2020-03-27 06:13] soupette commented on #4060
@lauriejim can we close this issue?

[2020-03-27 07:09] soupette commented on #4539
Currently it is impossible to create a `singleType` or a `collectionType` using the administration panel. However, we still need to validate the name when we create them using the command line or when creating the api manually. So let's leave it open until we **"validate the schema"** when the application starts.

[2020-03-27 07:14] soupette commented on #5215
@lauriejim should we close this issue due to both inactivity and since we cannot reproduce it?

[2020-03-27 07:19] soupette commented on #5591
@qsedmi I tried to reproduce your bug but I am not able can you share your repo?

[2020-03-27 07:40] vinod77 opened #5619 "WYSIWYG Editor Performance is very slow with huge files/content"
**Describe the bug**
WYSIWYG Editor Performance is very slow for huge files/content of size more than 1.2MB and taking around 4-5 min to load and causing Browser crash.

I am using WYSIWYG editor for our API docs which is in `md` file, has around 20,000 lines of content

**Steps to reproduce the behavior**
1. Create a WYSIWYG field
2. Add or copy/paste `md` content of around 20,000 lines to WYSIWY

[2020-03-27 10:39] #1692 closed

[2020-03-27 12:38] derrickmehaffy commented on #5215
Marking as closed as user hasn't responding to requests for additional information. This can be reopened when user has replied.

[2020-03-27 12:38] #5215 closed

[2020-03-27 13:58] qsedmi commented on #5591
Hi @soupette !

Here is my repo: https://github.com/qsedmi/Strapi-Quentin-Sedmi.git

Thank you,
Quentin

[2020-03-27 13:59] #5558 closed

[2020-03-27 16:57] euuujn commented on #2617
@seanmavley did you find solution? I stuck with same problem 🤯

[2020-03-27 17:08] naren389 commented on #5520
@lauriejim I am expecting the below statement to populate all fields from role table in the API response, but it is not.

let data = await strapi.query('user-profile').find(ctx.query, ['user', 'user.role']);

What is the best way to deep populate fields in strapi ?

[2020-03-27 19:58] Tjerk-Haaye-Henricus opened #5630 "Bundles cannot be loaded if strapi runs behind a proxy"
Hey guys

first of all... thanks for providing such a great product.

If one is running strapi behind an nginx proxy and the path of the admin panel changes, the bundles cannot be loaded.

I have a nginx proxy, and my strapi instance runs on path https://localhost/service/content
so the admin url should be https://localhost/service/content/admin

After hours of configuration, i cann request the ad

[2020-03-27 20:01] christianguevara commented on #5630
That's because strapi doesn't know/care about the proxy.

@derrickmehaffy suggestion is:

"For now, my suggestion is throw Strapi on a subdomain and throw in a 301 redirect from main site"

[2020-03-27 21:20] pittersnider commented on #2998
I have the same issue.

[2020-03-27 21:20] pittersnider commented on #2998
@alexandrebodin just downloaded this framework today with most recent version and this is still a problem. :/

[2020-03-27 21:49] kaufmann42 commented on #4853
That's disappointing :( For anyone looking for workarounds, it may be possible for you to store your file in base64 encoding as a resource. Definitely not preferable and not sure how this would impact performance.

[2020-03-27 21:51] juliensl opened #5631 "cannot create new Collection Types"
Hi everybody

**Describe the bug**
The button "Create new collection type" does not appear on my strapi app :'(

**Expected behavior**
Can create new collection type

**Screenshots**
![strapi](https://user-images.githubusercontent.com/43228020/77802762-dc727b80-707b-11ea-9258-0ab6aa075fff.png)

**System**
- Node.js version: 12.16.1
- NPM version: 6.13.4
- Strapi version: 3.0.0-beta.19.3
- Database

[2020-03-27 22:47] benediktgrether commented on #5631
Hey,
i run in the same issue a few minutes ago.
After i see the image

i decided to start the Server with
`strapi develop`
and the isseu was fixed for me.

I hope it works for you, too.

[2020-03-27 23:15] fedebabrauskas commented on #5630
Same problem here.
I can't host my admin panel without a subdomain, hope support for this will be added soon.

[2020-03-27 23:17] juliensl commented on #5631
Hi @benediktgrether, thank you for your answer.

I does not work with `strapi develop`, but I found the problem !
That's the NODE_ENV variable, when I set it to "production", it does not work, but it works without :)

I Think it's not a normal behavior :/

[2020-03-28 03:03] LorbusChris commented on #5511
@zafon18 https://github.com/strapi/community-content/issues/23

[2020-03-28 05:47] christianguevara commented on #5631
It's intended, check: https://github.com/strapi/strapi/pull/5615/commits/a52a2eae43c0491d25aaa37c475d7f3887578083 for reasons :)

[2020-03-28 06:35] dkarski commented on #4025
@soupette the problem was with query params added in client-side.

The front uses param ?ID_contains=5d1 instead of ?_q=5d1

Finally, search functionality is similar to the search implemented in ListView of the content manager.

[2020-03-28 08:38] derrickmehaffy commented on #5630
Closing as duplicate of https://github.com/strapi/strapi/issues/3507

[2020-03-28 08:38] #5630 closed

[2020-03-28 08:40] derrickmehaffy commented on #5631
Closing, waiting for pr to be merged for answer in FAQ.

This is intended see the above linked answer in the pr

[2020-03-28 08:40] #5631 closed

[2020-03-28 08:40] selbersuess commented on #5249
same error with "strapi": "3.0.0-beta.19" for "/forgot-password" and "/reset-password".
the problem seems to be updating the user by passing the hole user-object instead of only passsing the changing fields
i fixed with workarround using Auht.js as extension (to overwrite original methods) and changing following lines:

forgot-password (...controllers/Auth.js line 379):

await strapi
      .query(

[2020-03-28 10:46] TakCastel commented on #5415
Just here to add my opinion to the discussion I just spent 1 hour trying to understand why my front code didn't work and figured out the API returned all my fields with uppercase. There should be no capital letters in the data returned :/

[2020-03-28 15:08] cacodev opened #5632 "When entity is more than one word, add new entity button should use proper/pascal casing for the entity name"
**Describe the bug**
Notice that the casing of the "Add New {entity}" button doesn't look quite right when the entity has more than one word in the name. It should be proper/pascal cased.

Example:
Currently shows "Add New Team member"
Should be "Add New Team Member"

**Steps to reproduce the behavior**
1. Log in to strapi admin
2. Create a content type with more than one name and save it
3. Click

[2020-03-28 16:26] asherccohen opened #5634 "Deploy Strapi build folder to heroku/other hosting as static artifact"
- [ ] I have created an RFC on the [Strapi RFC Repo](https://github.com/strapi/rfcs)
- [ ] I have checked for existing RFCs before creating this discussion topic

**Describe the topic**
Is it possible to deploy a Strapi application to Heroku after it's been built on CI/locally? What I expect is to deploy the build folder and let heroku/other hosting platform handle everything.

**Your suggestions

[2020-03-28 17:23] chinhdo commented on #5555
[Pull Request](https://github.com/strapi/strapi/pull/5635) created to fix incorrect/outdated references to renamed menu items in Quick Start Guide/Tutorial.  There needs to be a review of the docs. This PR is intended just to fix just the Quick Start Guide/Tutorial to prevent confusing/frustrating people brand new to Strapi.

[2020-03-28 18:46] Mikeez opened #5636 "Strapi and SendGrid"
Hello,

I having issues with the Email Plugin. I installed the SendGrid email plugin following the Docs

**Describe the bug**
I am getting an internal server error on postman when I do the following:

`POST: dc:1337/email`
`RAW Body: {
    "to": "mikeez@lol.com",
    "text": "lol",
}`

**Steps to reproduce the behavior**
1. Installed SendGrid Plugin
2. Make an account at SendGrid
3. Change Env set

[2020-03-28 20:22] derrickmehaffy commented on #5634
This is not currently possible as the backend isn't "built" and has no plans to be. It needs to be ran as it's own service.

The admin panel can be built and "hosted" by the Strapi backend, or somewhere else.

[2020-03-28 20:22] #5634 closed

[2020-03-29 09:26] asherccohen commented on #5634
Thank for the answer. So, what is the 'built' admin panel?does it make any difference to build that locally and host it on an already installed strapi backend?
When I make a change to the develop version this needs other folders, not only the build folder, right? So I can't have a strapi instance installed on heroku and only push the built admin panel folder, if I'm correct.

[2020-03-29 10:15] wkuch commented on #4353
I have the same issue on version `3.0.0-beta.19.3`:

I'm using three content types:
'Image' -> has a `Title` field and a `image` field
'ImageSelection' -> has a `Title` and many `Images`
'RequestFormContent' -> has many `imageSelections`

I can query the `ImageSelection` and the images inside. I can also query the `RequestFormContent`  and the `ImageSelections` with the `Title`.
But when the query

[2020-03-29 11:34] Tansito commented on #5314
Hi @alexandrebodin ,

First of all excuse me for the delay in the response. At the start of the analysis what I did it was to run the query **without** sorting it (and that it worked) but just to confirm it as you said (and for my surprise) I run the query a moment ago now with the sort:

[code]
And it worked perfectly fine so I suppose now that is not related with the mongo configuration at the e

[2020-03-29 14:50] slackr commented on #3360
while @souljorje workaround seems to fix the redirect_uri issue in non-localhost deployments, adding a redirect_uri property breaks (sortof) the Strapi Admin frontend. It adds an extra text field in each provider edit form.

I'm guessing this is because the UI does not check if an existing redirect_ui object key already exists. and generates its own.

[2020-03-29 15:55] derrickmehaffy commented on #5634
`does it make any difference to build that locally and host it on an already installed strapi backend?`

Nope you could build that locally and push the build folder into Git.

`When I make a change to the develop version this needs other folders, not only the build folder, right?`

Yes exactly.

`So I can't have a strapi instance installed on heroku and only push the built admin panel folder, if I

[2020-03-29 15:59] gabrilator commented on #4672
Same here! any solutions to this?

[2020-03-29 16:16] jeremyrajan commented on #3601
This really helped! 🙂 🎉. Thanks a lot! Should this be part of `JWT validation` docs? 🙂 @lauriejim

[2020-03-29 18:41] minhnghiadev commented on #5573
I have this issue, too. Any update for this in furture? Now, I can't find my record because the result has been limited with 20 records.

[2020-03-29 19:38] ledenis commented on #2998
Same issue reproduced today

[2020-03-29 20:11] asherccohen commented on #5634
Thanks. I might come back to this once I've explored a bit more. Great job!

[2020-03-30 01:36] AnthonyPhan opened #5639 "Unable to launch Admin Panel when using --watch-admin option"
**Describe the bug**
When launching Strapi with the --watch-admin option enabled the administration panel is not accessible.

**Steps to reproduce the behavior**
1. Create a new strap project using `strapi new myproject --quickstart`
2. Navigate to the newly created project directory `cd myproject`
3. launch strap with the watch-admin option `strap develop --watch-admin`
4. Navigate to the admin p

[2020-03-30 02:17] christianguevara commented on #5639
That looks like port 8000 is in use in your system, try looking for any app running in the background using port 8000

[2020-03-30 02:56] AnthonyPhan commented on #5639
I have checked and there is nothing running in the background on port 8000. I'm unsure where strapi is even getting reference to port 8000?
When i run "strapi develop" it runs on port 1337, would this change when running with the --watch-admin option?

[2020-03-30 03:21] AnthonyPhan commented on #5639
I'm unsure what the issue was but restarting my desktop has resolved it!

[2020-03-30 03:21] #5639 closed

[2020-03-30 03:26] LorbusChris opened #5640 "Limit not respected when querying multiple media type with GraphQL"
**Describe the bug**
I've created a single type `Frontpage` that contains a multiple media type `pictures`. Limiting the query results for returned `pictures` does not seem to work.

**Steps to reproduce the behavior**
1. Create a single type with multiple media type field `pictures` (with graphql plugin installed)
2. Upload 3 items to `pictures` via admin UI
3. Try to limit the number of returned

[2020-03-30 05:43] FutsalShuffle opened #5641 "Users /me endpoint doesn't return media"
**Describe the bug**
The `/users/me` endpoint doesn't return the media type field that i added. When i GET on let's say `/users/1` it returns as it should.

**Steps to reproduce the behavior**
1. Go to Users fields edit
2. Create a new media field
3. GET /`users/me`
4. See everything but this field

**Expected behavior**
Being able to see this field

**Code snippets**
Haven't changed any code, fai

[2020-03-30 06:15] harmenjanssen commented on #4780
For what it's worth: my team is coming fresh to Strapi and encountering the same problems. Since we use Dutch terms in our CMS and want to include spaces and diacritical marks, I cannot use the Enumeration type.
We would really be helped by a decoupling of the widget and the database — frankly it shouldn't matter what form widget is used to generate a database value, I'd say.
I just want to help a

[2020-03-30 07:01] alexandrebodin commented on #2998
The issue is coming from knex implementation. We made a fix there that was merged in https://github.com/knex/knex/blob/master/CHANGELOG.md#0202---14-november-2019.

You can try upgrading the knex version you have in your package and verify it is fixed. We will upgrade the dependencies on project creation soon. We were waiting for bookshelf to upgrade first.

[2020-03-30 07:14] soupette commented on #5591
@qsedmi I have cloned your repository and everything works fine. I am able to create new components and add the existing ones to your `Content` dynamic zone.

[2020-03-30 07:15] alexandrebodin commented on #4807
the idAttribute is known not to work. The issue hasn't been addressed for very long. I would suggest you avoid using this feature at all.

[2020-03-30 07:51] #5570 closed

[2020-03-30 07:54] #5632 closed

[2020-03-30 08:55] alexandrebodin commented on #4983
Hi @ScottAgirs We made some changes recently and I am not able to reproduce it. Can you share or model json ?

[2020-03-30 09:41] hossam-96 commented on #5326
I'm having nearly the same problem after upgrading from 3.0.0.Beta 16.8 to Beta 19.3
I have a mysql RDS database.
I have followed the migration guides.
`$ yarn develop`
`yarn run v1.21.0`
`$ strapi develop`
`[2020-03-30T09:02:20.524Z] error Migration failed`
`[2020-03-30T09:02:20.526Z] error KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .trans

[2020-03-30 09:49] ralphsomeday commented on #5525
@lauriejim just recorded how to reproduce the bug using beta.19.4. Can you let me know if you can reproduce?
https://www.loom.com/share/80bf744c748c4a7db4fcb621a2fcf76a

[2020-03-30 10:09] shamim-42 commented on #2998
Samething in mysql database

[2020-03-30 10:16] JamesKrub opened #5643 "The model 'collection name' can't be found"
I'm trying to get data from a collection inside the **extensions/user-permission** that I overrode
by using

`const test = await strapi.query('backoffice_roles').findOne({ name: 'restaurant name' });`

and I got an error  ``error Error: The model backoffice_roles can't be found.``

How can I solve this?

[2020-03-30 10:20] alexandrebodin commented on #5643
Hi @JamesKrub
To access a content type queries you need to use it's name not it's collection name :)
Your model is probably  called  `backoffice-role` :)

[2020-03-30 10:20] #5643 closed

[2020-03-30 10:31] dkarski commented on #5573
@minhnghiadev issue has resolved in this PR https://github.com/strapi/strapi/pull/5623. Please check-in the in 3.0.0-beta.19.4 version 💪

[2020-03-30 12:11] Convly commented on #4356
Hello @mswaidan, I tried to reproduce the issue, but it seems resolved by now. Can you try again and tell me if you still experience any unexpected results?

[2020-03-30 12:46] #5573 closed

[2020-03-30 13:00] speexy commented on #1794
it should be
`formData.append('files',image.files[0])`
not
`formData.append('file',image.files[0])`

[2020-03-30 13:02] #4881 closed

[2020-03-30 13:19] petersg83 commented on #3996
It seems to have been already fixed (works on my side too). I close the issue but you can reopen it if the problems still exists.

[2020-03-30 13:19] #3996 closed

[2020-03-30 13:21] alexandrebodin commented on #5641
Hi, This is the intended behaviour :) The /me route returns only a subset of informations to ensure no data leaks. You can customize this on your own if you require it to return more info :)

Have a good day :)

[2020-03-30 13:21] #5641 closed

[2020-03-30 13:25] EricVanDerDijs opened #5645 "Enum types with a default value are set to null if the value is not present in request body on create"
**Describe the bug**
On strapi 19.3 using mongo as DB, if you add an enumerator field, let say "foo" and set a default value for it, when you try to create a new entity without passing the value of "foo" in the request, it is set to **null** isntead of the already defined default value

**Steps to reproduce the behavior**
1. Create fresh strapi proyect with `npx create-strapi-app mongo-project`
2.

[2020-03-30 13:47] alexandrebodin commented on #3134
Hi @rmaroun can you check if you still are having this issue ?

This is supposed to be fixed in beta.19

[2020-03-30 13:49] ralphsomeday commented on #3134
Fixed!

[2020-03-30 13:51] alexandrebodin commented on #2558
Closing this issue as we have shared examples on how to achieve graphql upload.

[2020-03-30 13:51] #2558 closed

[2020-03-30 13:51] alexandrebodin commented on #3134
Great :D Closing this PR

[2020-03-30 13:51] #3134 closed

[2020-03-30 14:40] FutsalShuffle commented on #5641
Could you please provide a bit more info on where to dig to make it return media field? I want to make it return user's profile picture and it would make more sense to get it there than getting ID from /me and then fetching /users/:id.

[2020-03-30 14:45] #2697 closed

[2020-03-30 14:49] FutsalShuffle opened #5647 "VK provider crashes the server"
**Describe the bug**
Strapi server crashes on `GET` `/connect/vk`. After it asks for app's permission on collecting your data, it redirects you to your endpoint and server crashes.

**Steps to reproduce the behavior**
1. Turn on VK provider
2. Fill all the fields
3. GET /connect/vk
4. See error

**Expected behavior**
It should return JWT token with all the other information

**Code snippets**
Noth

[2020-03-30 15:18] alexandrebodin commented on #5641
Sure, You can look at this short doc on where tu put your files. https://strapi.io/documentation/3.0.0-beta.x/concepts/customization.html#customization

The idea is that you will have to overwritte the /me controller action by copying it in a customizing the file in the extensions folder
. Your code could look like :

`extensions/users-permissions/controllers/User.js`
[code]

[2020-03-30 16:07] ScottAgirs commented on #4983
@alexandrebodin I have updated as well - doesn't seem to be broken now. I believe this is resolved with the updates. Thanks! 🎉

[2020-03-30 16:13] FutsalShuffle commented on #5641
Beautiful, tweaked the code a little bit and now its working! Thanks a lot!

[code]

For w/e reason it wasn't working with `['mediaField']`
Also a question - why doesn't Strapi verifies user's ID on update by default? Its just a 3 lines of code and without it anyone can change, let's say a username of any User...

[2020-03-30 16:16] alexandrebodin commented on #5641
This is checked by our permissions system not by which user it is ;) You need to all users to have the right to update a user. This isn't a route made for a user to update its own infos :)

[2020-03-30 16:19] FutsalShuffle commented on #5641
So updating and user's profile information in here would be a wrong way to do it? Or is it just supposed to be like that so the devs can tweak it?

[2020-03-30 16:20] alexandrebodin commented on #5641
Not sure to know what you want to achieve :) I would recommend you go onto slack to discuss the way you want to approach your own business logic ;)

[2020-03-30 16:23] FutsalShuffle commented on #5641
Its gonna be a default User profile, where he can enter his data like his first and last names. Obviously it would need a way for users to be able to change it, so that's why i'm wondering what's wrong with storing and updating it in a default Users route

[2020-03-30 16:25] alexandrebodin commented on #5641
I would recommend you create a custom route to avoid messing with the existing code :)

[2020-03-30 16:29] FutsalShuffle commented on #5641
Ok i will check it all out. Thanks for your time and work!

[2020-03-30 21:12] Boujemaa1 opened #5650 "Double slash bug"
**Describe the bug**
Double slash shows a link to create first administrator.

**Steps to reproduce the behavior**
1. type  localhost:1337// in browser
2. Make sure you add 2 slashes //
3. Navigate
4. See error

**Expected behavior**
redirect to //localhost:1337

**Screenshots**
If applicable, add screenshots to help explain your problem.
![bugstrapi](https://user-images.githubusercontent.com/5112

[2020-03-30 21:14] derrickmehaffy commented on #5650
Not a security risk as the request from that link will fail (even if the link worked strapi would just redirect to login)

[2020-03-30 21:34] abdonrd opened #5651 "The build doesn't work on Strapi v3.0.0-beta.19.4"
**Describe the bug**

The build doesn't work on Strapi v3.0.0-beta.19.4

**Steps to reproduce the behavior**

1. Run `npm run build`
2. Error:

[code]

**Expected behavior**

Working.

**Screenshots**

<img width="898" alt="Screenshot 2020-03-30 at 23 30 50" src="https://user-images.githubusercontent.com/1007051/77964026-b4368700-72de-11ea-87c5-fd22d718f3e6.png">

**System**
- Node.js version: v12

[2020-03-30 21:38] derrickmehaffy commented on #5651
Please make sure you delete the following files/folders:

- `build`
- `.cache`
- `node_modules`
- `package-lock.json`
- `yarn.lock`

Then reinstall/rebuild (use either of these):

- `yarn` then `yarn build`
- `npm install` then `npm run build`

[2020-03-30 21:51] abdonrd commented on #5651
Yes, I'm doing a clean install and build from GitHub Actions.

[2020-03-30 23:00] redocs opened #5652 "Strapi v3.0.0-beta.19.4 deploy on Heroku seems don't work"
**Strapi not start after Heroku Deploy**
I deploy a Strapi v3.0.0-beta.19.4 on Heroku and i receive this error on Heroku log:

`Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch`

**Steps to reproduce the behavior**
1. In terminal: `npm install`
2. In terminal: `git push heroku master`
3. App not start in Heroku
4. In terminal: `heroku logs --tail` i see t

[2020-03-30 23:16] pushandplay commented on #5651
I have the same error with this version

System

- Node.js version: v13.12.0
- NPM version: v6.14.4
- Strapi version: v3.0.0-beta.19.4
- Database: MongoDB
- Operating system: MacOS

[2020-03-31 03:19] ScottAgirs opened #5653 "Missing Change Password in user permissions?"
**Describe the bug**
🤞 I'm not missing something but it looks like the current `/change-password` REST and/or the
`changePassword` GraphQL mutation actually is handling the **reset password** logic.

To fix this I'm proposing two things:
1. rename current `change-password` logic to `reset-password`
2. implement a new `change-password` mutation, for which I have a proposed PR, which I will referenc

[2020-03-31 03:29] ScottAgirs commented on #5653
PR with the proposed solutions https://github.com/strapi/strapi/pull/5654

[2020-03-31 04:33] dbom1006 commented on #5652
I have same issue with you, my logs:
`
2020-03-31T04:23:46.930483+00:00 app[web.1]:
2020-03-31T04:23:46.931518+00:00 app[web.1]: Project information
2020-03-31T04:23:46.931718+00:00 app[web.1]:
2020-03-31T04:23:46.961815+00:00 app[web.1]: ┌────────────────────┬──────────────────────────────────────────────────┐
2020-03-31T04:23:46.961817+00:00 app[web.1]: │ Time               │ Tue Mar 31 2020 04:

[2020-03-31 05:52] chanhnv91 opened #5656 "Transaction query already complete when using promise.all"
### I am having problems with transactions when inserting multiple rows using promise.all

This is my code at the controller
[code]

This is  my code create data at the service:
**t : a transaction object**
[code]

**And these are the errors I got
Many thanks**
`
[2020-03-31T05:48:29.928Z] debug POST /notifications/privatePushCreate (446 ms) 200
(node:27281) UnhandledPromiseRejectionWarning: Error

[2020-03-31 07:02] abdonrd commented on #5651
The new version of Terser seems to fix it!

https://github.com/terser/terser/blob/master/CHANGELOG.md#v469

[2020-03-31 07:02] #5651 closed

[2020-03-31 07:04] abdonrd commented on #5652
I have the same issue at IBM Cloud (also using Cloudfoundry).

[2020-03-31 10:02] pushandplay commented on #5652
@redocs, @abdonrd  show your `config/environments/production/server.json`

for heroku your host and port values must be looks like this: ` "host": "0.0.0.0", "port": "${process.env.PORT}",`

[2020-03-31 10:08] redocs commented on #5652
Works!!
Thank you

[2020-03-31 10:09] #5652 closed

[2020-03-31 10:33] alexandrebodin commented on #5656
Have you tried returning a promise instead of passing an async function to transaction ? I'm pretty sure kenx doesn't support this. You need to do

[code]

instead of

[code]

[2020-03-31 10:33] abdonrd commented on #5652
@alexandrebodin do you know why we need this change now?

[2020-03-31 10:51] pushandplay commented on #5652
@abdonrd `localhost` is the default value, but different services may provide different addresses and ports for running your applications, it's normal situation.

[2020-03-31 11:06] derrickmehaffy commented on #5652
https://github.com/strapi/strapi/pull/5486

As I mentioned in that pull request, this was going to be a breaking change.

[2020-03-31 11:49] alexandrebodin commented on #5652
I agree this should work by default... @derrickmehaffy If we were to set the default host value to 0.0.0.0 would that work ?

[2020-03-31 11:52] derrickmehaffy commented on #5652
Yes that would do exactly what it did before this change

[2020-03-31 15:23] Convly commented on #5001
Hello @trung-ung, I failed at reproducing your issue on the current release. Could you try again on **v3.0.0-beta.19.4** and tell me if you still experience unexpected results?

Here are the results I got from your requests (_it returns the same results when queried over REST API_):

**Example 1**
![First example](https://user-images.githubusercontent.com/25851739/78043541-c44c7600-7373-11ea-9c5d-

[2020-03-31 15:33] devpaulomarques opened #5662 "Can't create a new Strapi project using docker using v3.0.0-beta.19.4 release"
When I tried to get the last release and update my current project, I got an error ERR_EMPTY_RESPONSE when consuming any service or just trying to access the admin panel, so I decided to try to create a new project and also doesn't work.

**Steps to reproduce the behavior**
follow step by step from here [Installing using Docker
](https://strapi.io/documentation/3.0.0-beta.x/installation/docker.htm

[2020-03-31 15:37] alexandrebodin commented on #5662
Hi, this is a Duplicate of #https://github.com/strapi/strapi-docker/issues/191

[2020-03-31 15:37] #5662 closed

[2020-03-31 16:39] dbom1006 commented on #5652
Thank for your help! It works.

[2020-03-31 17:01] qsedmi commented on #5591
Hello @soupette
I think I have a problem with one of the dependencies:

Here is the result of `npm audit`:

![1 high severity vulnerability](https://user-images.githubusercontent.com/25525202/78054048-c4537280-7381-11ea-891c-755bb11ad571.png)

[2020-03-31 18:21] sndrgb commented on #4283
Can someone help me on this? I've been trying for hours and in no way I can do a custom query

[code]

[2020-03-31 19:16] qsedmi commented on #5591
I solved the problem by installing Strapi outside of my React App folder.

Sorry that I disturbed you and thank you for your quick answers,
Quentin

[2020-03-31 20:27] rmcsharry opened #5666 "Upon first install: The SQL database indexes haven't been generated successfully."
**Describe the bug**
Upon first installation after building the admin panel, I type `npm run develop`
and receive this error:

![Screenshot 2020-03-31 at 22 23 52](https://user-images.githubusercontent.com/1156100/78071772-54071a00-739e-11ea-81cb-3ec8e8cd721a.png)

**Steps to reproduce the behavior**
1. Setup postgres in a docker container
2. npx create-strapi-app <app-name>
3. Fill in the postgre

[2020-03-31 20:38] alirezakay opened #5667 "Wrong query parameter for `id` in strapi uses mongodb"
## Describe the bug

When I want to change the **permissions** of a role, I confront an unexpected error so that it couldn't be updated: ***'entry.notFound'***

![error](https://user-images.githubusercontent.com/20626510/78069708-caf8de80-73af-11ea-8ac3-b8398a7d1230.png)

---

I **traced** the logs and found out where the error originated in (*"node_modules/strapi-connector-mongoose/lib/queries.js

[2020-03-31 21:17] asitemade4u opened #5668 "A Collection with a Component cannot have its name changed (although allowed)"
**Describe the bug**
I changed a Collection including a Component name. The validation of a new record now yields an error

**Steps to reproduce the behavior**
1. Create a new Collection.
1. Create standard fields in the collection and quote one or several components
2. Save the collection. It works fine when adding new records.
3. Now change the name of the Collection using the little "pencil"
4.

[2020-03-31 21:20] asitemade4u commented on #5668
Addition to the bug, which makes it even worse:
1. I have reverted the name of the Collection from `Museum` to `Mus`, which was its original name
2. The error is still there despite the change of name.

[2020-03-31 21:22] asitemade4u commented on #5668
So, what I did was to remove the two components I had in the Collection (it is a test database).
But now:
- the component is removed in the Content builder
- but still present while adding the record...

[2020-03-31 23:28] diogotcorreia commented on #5653
Really looking forward to this!
Hope it gets merged soon 🤞

[2020-03-31 23:33] diogotcorreia commented on #5524
Closing this since it has been merged

[2020-03-31 23:33] #5524 closed

[2020-03-31 23:53] Seba-Monsalve commented on #4336
same error here

[2020-04-01 00:40] jbty opened #5669 "Strapi crash on heroku after upgrading to 3.0.0-beta.19.4"
hi ,

I recently upgraded strapi to 3.0.0-beta.19.4, my api is hosted to heroku and nothing work since i've updated strapi version.

here is heroku errors logs 👍
[code]

My prod and dev config
[code]

All ip is whitelisted in atlas,
I do not know what to do :(

[2020-04-01 02:34] adriatic commented on #5555
I just received the response from Christian Guevara posted in slack:

![image](https://user-images.githubusercontent.com/2712405/78092756-96305b80-739e-11ea-98a9-7e1bb198d8e6.png)

(he replied to my post that reported the **[same issues](https://github.com/strapi/strapi/issues/5555#issue-585068982)**, so he referred me to this thread.

Just like @chinhdo I wanted to create a PR to address this and

[2020-04-01 03:04] chinhdo commented on #5555
Hi @adriatic :

Here's my [PR](https://github.com/strapi/strapi/pull/5635). The source branch "fix/5555-quickStartGuide was created from master and I also merged from master just now.

I see a notification on my PR saying "@alexandrebodin added this to the 3.0.0-beta.20 milestone 2 days ago".

Not sure if that answered your question.

[2020-04-01 04:48] edwardmelody opened #5670 "How I get the body request in custom controller after set some data in beforeLiftCycle"
First I hook beforeCreate to initial default data into model. Then I need to custom controller before using service.create(req); but I can't get the data that I set in beforeCreate.

I'm working with mongo.
Example:
Request from client
`
{
  "name": "test"
}
`

Model lifecycle
`
beforeCreate: async (model) => {
  model.set("status", "OPEN");
}
`

Controller
`
create: async ctx => {
  const req = c

[2020-04-01 05:24] derrickmehaffy commented on #5669
closing as duplicate of: https://github.com/strapi/strapi/issues/5652

[2020-04-01 05:24] #5669 closed

[2020-04-01 05:26] derrickmehaffy commented on #5670
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-04-01 05:26] #5670 closed

[2020-04-01 05:26] derrickmehaffy commented on #5668
@alexandrebodin related to migrations? (should we just open a general tracking issue for migrations similar to what is being done for lifecycle callbacks? Central place to link all the migration stuff?)

[2020-04-01 05:28] derrickmehaffy commented on #5667
Yeah `id` is hard coded and all references to `_id` should be mapped to `id` for mongoose. This needs to be changed if there is any collections that **don't** have an alias field of `id`

[2020-04-01 05:29] marieqg opened #5671 "Deployment in Heroku with PostGres : Error: self signed certificate"
**Describe the bug**
I'm trying to do a deployment of a new strapi project to heroku using PostGres. The deployment is succesfull but the application does not work.

**Steps to reproduce the behavior**
1. I did a quick start of a strapi project and follow the official tutorial to deploy.
2. See error:

[code]

**System**
- Node.js version: v10.16.0
- NPM version: 6.11.2
- Strapi version: "3.0.0-be

[2020-04-01 05:29] derrickmehaffy commented on #5666
related to full-text indexes: https://github.com/strapi/strapi/issues/4813

These warnings can safely be ignored for now, the bookshelf backend for indexes needs to be rewritten which I believe is planned for strapi v4. marking this as closed for now as relates to https://github.com/strapi/strapi/issues/4813

[2020-04-01 05:29] #5666 closed

[2020-04-01 05:29] derrickmehaffy commented on #5656
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-01 05:29] #5656 closed

[2020-04-01 05:30] derrickmehaffy commented on #5650
@soupette is this something that "needs to be fixed"?

[2020-04-01 05:32] derrickmehaffy commented on #5616
Closing as user has not provided any reproduction steps, can be reopened when updated.

[2020-04-01 05:32] #5616 closed

[2020-04-01 05:37] derrickmehaffy commented on #5671
Per: https://stackoverflow.com/questions/45088006/nodejs-error-self-signed-certificate-in-certificate-chain/45088585

This isn't directly an issue with Strapi, it's how node handles self-signed cert files:

[code]

Marking as closed as not a bug with Strapi but comes from node itself.

[2020-04-01 05:39] marieqg commented on #5671
Thanks!

[2020-04-01 07:20] Jamshoot66 opened #5672 "Email confirmation and provider"
**System**
- Node.js version: v12.16.1
- NPM version:  6.13.4
- Strapi version: 3.0.0-beta.17.5
- Database: postgres
- Operating system: linux

- [x] I have checked for existing RFCs before creating this discussion topic

**Topic**
How you guys deal with "email confirmation" options enabled and auth via provider, like goolge, facebook etc.? The problem is, users, who authed with, for example, face

[2020-04-01 07:21] derrickmehaffy commented on #5672
@Jamshoot66 I don't see a PR in the `rfc` repo that you checked the box on. Are you purposing something or are you just asking a question?

[2020-04-01 07:22] Jamshoot66 commented on #5672
@derrickmehaffy just asking

[2020-04-01 07:23] derrickmehaffy commented on #5672
Questions should be directed towards slack or stack overflow, we try to keep github issues for Bug reports, feature requests (before they are moved to the product board), and pre-RFC discussions.

Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/st

[2020-04-01 07:23] #5672 closed

[2020-04-01 07:39] alexandrebodin commented on #5668
Hi, We need to know what error you are getting (network tab or terminal) and also which DB you are using to help :)

[2020-04-01 07:41] alexandrebodin commented on #4283
@sndrgb This looks about right. where are you putting this code ?

[2020-04-01 11:34] Boujemaa1 commented on #5650
like you said it's not a security risk but must clean. Thanks for this beautiful cms!

[2020-04-01 12:16] jbty commented on #5669
config/environments/production/server.json

for heroku your host and port values must be looks like this:
"host": "0.0.0.0",
"port": "${process.env.PORT}",

Work fine !  have a nice day

[2020-04-01 12:43] marefati110 opened #5677 "Multiple execution of the hook functions"
**Describe the bug**
Multiple execution of the hook function in the models

**Steps to reproduce the behavior**
1. Go to 'api/**/models/**.js'
2. uncomment afterUpdate func or any other func
3. and write(console.log("test"))
4. you will see

**Expected behavior**

**Code snippets**

  // After updating a value.
  // Fired after an `update` query.
  afterUpdate: async model => {
      console.log("

[2020-04-01 12:46] derrickmehaffy commented on #5677
related/duplicate: https://github.com/strapi/strapi/issues/1443

[2020-04-01 12:46] #5677 closed

[2020-04-01 13:33] derrickmehaffy commented on #5650
I've talked with the frontend strapi team and this isn't considered a bug. There isn't anything to "fix" here per say. There is never really a case where you would use/need a double slash after the domain.

Marking as closed

[2020-04-01 13:33] #5650 closed

[2020-04-01 15:15] adriatic commented on #5555
Thank you, @chinhdo. It seems that these corrections are slated for 3.0.0-beta.20 milestone 2, so my task here is to re-verify them and report my findings back to you as the author. I offered to do that because I am going through Quick Start Guide documentation.

[2020-04-01 15:29] AHgPuK opened #5682 "strapi-connector-mongoose 3.0.0-beta.19.4 removes all manually created indexes"
**Describe the bug**
After upgrading to 3.0.0-beta.19.4, strapi-connector-mongoose started to remove manually created indexes at launch point.

Breaking changes at mount-models.js:

    // Ensure indexes are synced with the model, prevent duplicate index errors
    Model.syncIndexes(null, () => {
      Model.on('index', error => {
        if (error) {
          if (error.code === 11000) {

[2020-04-01 16:19] chinhdo commented on #5555
@adriatic Sure if you can help review the changes that would be great. Please note that the focus of the PR is on addressing the obvious outdated references in the Quick Start Guide/Tutorial. The team still needs a wider review of usages of "Content Type", "Collection Type", "Single Type" in the rest of the documentation and in the UI itself.

[2020-04-01 16:26] alexandrebodin commented on #5682
Hi @AHgPuK Can you explain what are the other indexes you need ?

Using `ensureIndexes` will not fix the problem with duplicate indexes which is why we made the change in the first place.

Would you consider having the possibility to customize the model during the creation process a solution for your issue ?

[2020-04-01 16:32] adriatic commented on #5555
**`Please note that the focus of the PR is on addressing the obvious outdated references in the Quick Start Guide/Tutorial`**

That is precisely my motivation, driven by my firm belief that the tutorial most new users encounter first simply ought to be free of any errors. I run that tutorial being really excited about Strapi as a concept, and almost gave up, thinking "these guys to not realize tha

[2020-04-01 16:57] AHgPuK commented on #5682
I need a lot of compound indexes for query optimizations to use big data.
The main problem - there is no entry point between mongoose schema and model creating to interact with a schema in order to add my own custom indexes.

[2020-04-01 17:31] alexandrebodin commented on #5682
Before we can provide a clean way to create those indexes via Strapi, I would like to propose only running this sync in development mode so it doesn't clear your indexes in production.

This would go along not applying changes to the content. when the schema changes.

Would that work for you until we design a better approach to this ?

[2020-04-01 17:44] adriatic commented on #5555
#### It seems that I need to go back and learn a lot more about building strapi from sources

I tried to circumvent merging your PR to my local clone of the **`Strapi`** master, after realizing that @lauriejim already did that a **[few hours back](https://github.com/strapi/strapi/commit/0a522b3795a423eb0616ac50a947121e2e3d0257)**.

So, in order to do the verification I offered, I simply cloned the

[2020-04-01 18:08] chinhdo commented on #5555
@adriatic For documentation, I think you can skip the app-building part if all you want to do is review the updated docs. You can just look at the documentation markdown files directly.

Can you try this?
- Checkout master
- Navigate to the folder /docs/3.0.0-beta.x/getting-started
- View the files quick-start.md and quick-start-tutorial.md in a code editor like Visual Studio Code. With Visual Stu

[2020-04-01 18:21] adriatic commented on #5555
Yes, absolutely - your suggestion is very obvious - and I did not already do that simply because I was worried about any possible "transformations" behind the scene in strapi build process. I will report back here

[2020-04-01 18:27] kjng commented on #3946
Another vote for this feature. In the meantime, I am also using a column to sort the data to the order I want.

A reserved "list order" field/column in the database would work well.

[2020-04-01 20:38] victormidp opened #5685 "Email plugin not sending attachment"
**Describe the bug**
Strapi is not being able to send a pdf attachment thru email using strapi-provider-email-sendgrid. I even tried replacing the file with just text and the file name as "file.txt" but it did not work. The email always arrives but without the file.

**Steps to reproduce the behavior**
1. Install the plugin strapi-provider-email-sendgrid
2. Configure the email plugin
3. Go to the

[2020-04-02 06:21] UmairAshrf opened #5686 "Migration from version 3.0.0-beta.18.7 to 3.0.0-beta.19"
**After upgrading to latest strapi beta version from 3.0.0-beta.18.7, login credentials for all users stopped working. **

**System**
- Node.js version:
- NPM version: 6.4.1
- Strapi version:
- Database: mysql
- Operating system: windows

**Additional context**
I was using

 for authenticating my users before in version 3.0.0-beta.18.7. It was working fine. But when I upgraded to latest version su

[2020-04-02 07:41] alexandrebodin commented on #5686
Hi @UmairAshrf
The provider property is a field that is here by default. If you didn't have it in your DB it certainly is because you removed it from the model at some point ?

You should always avoid removing fields from plugins or internal models to avoid breaking some internal behaviors. This change was not a breaking change when we tested it on existing apps.

[2020-04-02 08:52] AHgPuK commented on #5682
Yes, I think it is good enough.

[2020-04-02 11:56] PavloTyshchenko opened #5688 "Default findOne responding with error 400 'Bad request'"
**Describe the bug**
When I'm trying to fetch any data by it's id (for example: "http://localhost:1338/courses/1") I get next error:
[code]
I tried to use findOne with console.log, so ctx.params looks like:
[code]
There is no difference between default controllers and controller with custom functions - it concerns all content types.
Permissions - everything allowed for public. Other routes work fi

[2020-04-02 12:36] derrickmehaffy commented on #5688
`Strapi version: 3.0.0-beta.18.7` Please test on the latest version.

If you have any custom routes you may have a conflict

[2020-04-02 14:15] tomastuser commented on #5671
Having exactly the same problem and can't seem to resolve it. I'm on Windows, otherwise I have the same specs as Marie. Any help would be appreciated.

[2020-04-02 14:33] drewtownchi commented on #5688
Oddly enough I started seeing this after upgrading to 19.5 with Postgres/Win10/Node 12.  19.3 was fine.

[2020-04-02 14:52] derrickmehaffy commented on #5688
Can you post the code you are using or a link to your project somewhere? (Github/Gitlab/Bitbucket)

[2020-04-02 15:16] drewtownchi commented on #5688
The repo is private, sorry.

This is from the `controllers\sources.js` file

[code]

[2020-04-02 15:30] PavloTyshchenko commented on #5688
@derrickmehaffy updated strapi and got same behaviour as **drewtownchi** . Now I only see this when overriding the findOne method in the controller too.

[2020-04-02 15:45] derrickmehaffy commented on #5688
@alexandrebodin @lauriejim any thoughts here? It looks to me like they are using the custom response guide from the docs.

[2020-04-02 15:55] alexandrebodin commented on #5688
Hi yes we refactored the findOne to allow for filtering other than just the id. Doing this means we use all the params sent to findOne. (As it should be anyway)

You shouldn't be using ctx.params directly but use the params you need only. Here it is the id.

eg: `findOne({ id: ctx.params.id })`

We didn't think about updating the docs to explain the right way to calls thoses methods sadly.

[2020-04-02 15:56] lauriejim commented on #3524
Hello @samohovets !
Thank you so so much for sharing this snippet code. I really appreciate that!

Could you please contribute to the documentation and add a **Guide** on **How to create 2to2 test**
This will help me a lot to reference your code.

There are already other guides to help you with the format - https://strapi.io/documentation/3.0.0-beta.x/guides/slug.html

[2020-04-02 15:59] alexandrebodin commented on #5688
I think we need to update this doc only @derrickmehaffy  ? https://strapi.io/documentation/3.0.0-beta.x/concepts/controllers.html#custom-controllers

[2020-04-02 16:08] soupette commented on #4060
I am closing this issue as it seems to be fixed.

[2020-04-02 16:08] #4060 closed

[2020-04-02 17:24] lauriejim commented on #5619
Thank you for reporting this issue!
Here is a guide - how to customize the admin - https://strapi.io/documentation/3.0.0-beta.x/guides/custom-admin.html#update-the-content-manager
And here an example to update the WYSIWYG - https://strapi.io/documentation/3.0.0-beta.x/admin-panel/customization.html#customize-a-plugin
By updating the compo this can be more performant maybe.

[2020-04-02 17:40] lauriejim commented on #5520
Hello! It's how it works but... please well format your issue and comments please.

Here is the documentation about that - https://strapi.io/documentation/3.0.0-beta.x/concepts/queries.html#custom-queries

`let data = await strapi.query('user', users-permissions').find(ctx.query, ['user', 'user.role']);`

[2020-04-02 17:40] #5520 closed

[2020-04-02 17:49] derrickmehaffy commented on #5688
I believe so, I don't think services need to be changed. Tested PR and that works.

@PavloTyshchenko @drewtownchi see that PR for a quick fix in your own projects

[2020-04-02 17:51] #5688 closed

[2020-04-02 18:01] lauriejim commented on #4853
I let this status until the @Aurelsicoko feedback about that.
But I completely understand the need, and I agree.

[2020-04-02 18:18] rovaniemi commented on #5671
I have the same problem. @derrickmehaffy are you sure the problem is not related to Strapi? At least Strapi has broken documentation because @marieqg tried to follow it and failed.

I tried to go through the solution what this [chain suggests](https://stackoverflow.com/questions/45088006/nodejs-error-self-signed-certificate-in-certificate-chain/45088585), but none of them worked.

[2020-04-02 18:20] lauriejim commented on #5631
Here is the FAQ - https://strapi.io/documentation/3.0.0-beta.x/getting-started/troubleshooting.html#why-can-t-i-create-or-update-content-types-in-production-staging

[2020-04-02 18:24] derrickmehaffy commented on #5671
I did not directly test with Heroku no, but considering that Strapi does not deal with SSL in any capacity (other than a database SSL cert, which is handled by Knex and is not "validated") It is unlikely that it's directly an issue with Strapi.

I'm not entirely sure where this SSL cert is coming from, but if it's on the request side, Strapi doesn't handle SSL at all and instead generally recommen

[2020-04-02 18:34] Onyejekwe1 opened #5692 "strapi beforeCreate method not working as expected"
I'm working on an e-commerce app using flutter and strapi, I have a strapi user.js model, and I want the beforeCreate method to add a stripe customer_id to the user model before create. This is my code:
[code]
But it's not adding the customer_id as expected. Or is there any other way I can generate a customer id from stripe and assign it to the current user on create? I 'm using strapi version 3.0

[2020-04-02 18:38] derrickmehaffy commented on #5692
Closing, please see the following issue: https://github.com/strapi/strapi/issues/1443

[2020-04-02 18:38] #5692 closed

[2020-04-02 18:41] derrickmehaffy commented on #1443
For now, you will need to override the controllers in the content-manager plugin:

https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-manager/controllers/ContentManager.js

[2020-04-02 18:43] derrickmehaffy commented on #5555
@chinhdo @adriatic I'll do you both one better.

Clone the mono repo, navigate to docs, and run `yarn` then `yarn dev` and it will spin up a local hot-reloading copy of the docs :wink:

[2020-04-02 18:52] rovaniemi commented on #5671
@derrickmehaffy Okay, I located this problem. When I downgrade `pg` from `8.0.0` to `7.4.3` it works. This issue is strongly related to [this](https://github.com/brianc/node-postgres/issues/2009).

I don’t know what you’re going to do about it because it’s not directly related to Strapi, but your current Heroku with Postgres documentation/build is broken.

[2020-04-02 18:59] lauriejim commented on #5636
Hello, it looks to be a CORS issue.
Can you make sure you `security.json` in production mode allow CORS.

[2020-04-02 19:02] derrickmehaffy commented on #5671
Reopening as we will need to ensure we have a way (maybe by default) to make sure the certs aren't validated.

@alexandrebodin might be something we need to look at.

[2020-04-02 19:41] vinod77 opened #5693 "WYSIWYG editor's Performance is very slow for huge files/content on Stapi-Beta"
**Describe the topic**
We have a collection-type for API docs & our API docs are huge files with around 20, 000 lines of md content. Since we added all of this content to one article/WYSIWYG content editor, it is causing high performance issues, taking 3-4 minutes to load the article which has this huge content.

How can we improve performance of WYSIWYG loading time? it became so difficult to upd

[2020-04-02 19:54] adriatic commented on #5555
@derrickmehaffy @chinhdo - this is clearly at least `one better`. As I am almost done with terifying the **[second article](https://strapi.io/documentation/3.0.0-beta.x/getting-started/quick-start-tutorial.html#tutorial)**. Once I am done, I will rebuild the docs as @derrickmehaffy suggested, since there is some amount of processing the markdown file, which is not present when following @chinhdo'

[2020-04-02 19:56] tomastuser commented on #5671
Finally I made it work by leaving out the line - "ssl": true  - when modifiying database.json in config/environments/production. The line was included in the deployment tutorial on strapi web, however when I followed the webinar on youtube about deploying strapi, the line wasn't included there.

[2020-04-02 21:05] derrickmehaffy commented on #5693
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-02 21:05] #5693 closed

[2020-04-02 21:15] vinod77 opened #5695 "WYSIWYG editor's Performance is very slow for huge files/content on latest Stapi-Beta"
- [ ] I have created an RFC on the [Strapi RFC Repo](https://github.com/strapi/rfcs)
- [ ] I have checked for existing RFCs before creating this discussion topic

**Describe the topic**
We have a collection-type for API docs & our API docs are huge files with around 20, 000 lines of md content. Since we added all of this content to one article/WYSIWYG content editor, it is causing high performance

[2020-04-02 22:22] adriatic commented on #5555
### Status update
I am finding bugs unrelated to this verification tasks - they are clearly older than switch from **`Content`** to **`Collection`**.

Since I found some errors still in the current master, I would think that @chinhdo might decide to recreate his original PR, instead of "patching the patch" (this is of course a suggestion as I do not know your operating procedure). Recreating the o

[2020-04-02 22:26] hissalht opened #5696 "Strapi does not work with latest version of the `pg` package"
**Describe the bug**
Latest version of the `pg` package (`8.0.0`) is not compatible with strapi.

**Steps to reproduce the behavior**
1. Install the `pg` package like described here https://strapi.io/documentation/3.0.0-beta.x/guides/deployment.html#_5-install-the-pg-node-module
2. Start the server with the following config.
[code]
3. The server fails to start with the following error.
[code]

**E

[2020-04-02 23:15] diogotcorreia opened #5697 "Can't disable aggregation on GraphQL"
**Describe the bug**
There is no way to disable the aggregation feature for a specific type.

**Steps to reproduce the behavior**
1. Install the GraphQL extension
2. Copy the snippet below into `schema.graphql.js` for the API type.
3. Try to query `{api type name}Connection`
4. See that it still works when it should have been disabled

**Expected behavior**
For example, considering an API for `ord

[2020-04-03 01:31] daxyonis commented on #5696
I had the same problem deploying my strapi backend to Heroku with the Postgres addon. The deprecation warning you referred to seems to have the solution...
This is what I used to fix it using the latest pg version (^8.0.0) and in production\database.json :
`"ssl": {
          "rejectUnauthorized": false
        }`

[2020-04-03 02:37] marieqg commented on #2136
I had a similar issue today working. What solved it was in the package lock changing :"strapi": "3.0.0-beta.19.4" to "strapi": "3.0.0-beta.19". I'm just writting it so you are aware that this issue might still be existing in the beta version :)

[2020-04-03 03:58] boyfunky commented on #4798
currently facing this issue as well. How do i solve this?

[2020-04-03 04:34] romanmandryk commented on #5326
I had the same problem using PG database.
It disappeared after adding temporarily this "connections.default.options.pool" setting in to config/environments/development/database.json
`"pool": {
          "min": 0,
          "max": 50,
          "acquireTimeoutMillis": 20000,
          "createTimeoutMillis": 20000,
          "idleTimeoutMillis": 30000
        }`

[2020-04-03 05:57] thebrucecgit commented on #5561
+1

[2020-04-03 07:15] alexandrebodin commented on #5141
Hi, THis issues was fixed in release 3.0.0-beta.19.4. See this merged PR for implementation details ;) https://github.com/strapi/strapi/pull/5607

[2020-04-03 07:15] #5141 closed

[2020-04-03 07:55] soupette commented on #5591
I think that was the probleme having strapi inside your client folder. I am closing this issue then.

[2020-04-03 07:55] #5591 closed

[2020-04-03 08:28] derrickmehaffy commented on #5671
Closing this again in favor a more clear description of the issue (as it's not directly related to Heroku, but is a PG issue): https://github.com/strapi/strapi/issues/5696

[2020-04-03 08:28] #5671 closed

[2020-04-03 08:28] derrickmehaffy commented on #5696
Linking upstream issue: https://github.com/brianc/node-postgres/issues/2009

[2020-04-03 08:55] #5339 closed

[2020-04-03 12:05] marefati110 opened #5701 "plugin model not found"
**Describe the topic**
i generate new plugin by this command
[code]
then i generate new model by this command (becuase model directory and file not created when plugin generated)
[code]
i see a model directory created inside a mode directory

[code]
Is it normal ???? two model directory ?

i fill Log.settings.json like this

[code]
and then when i user log table by this code

[code]
i get error
[c

[2020-04-03 12:13] derrickmehaffy commented on #5701
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-03 12:13] #5701 closed

[2020-04-03 12:21] derrickmehaffy commented on #5701
I attempted to reproduce this on the latest beta ( `beta.19.5`) and could not, using the plugin/model generate commands works fine and generates the expected folder structure:
![image](https://user-images.githubusercontent.com/8593673/78360041-04297e00-756b-11ea-905b-786570065c3d.png)

[2020-04-03 12:40] jfpaccini commented on #3374
A quite old topic, but just in case anyone reads this: one need to be careful with t2 and t3/t3a as they run under a 'cpu credit' system.

This is a screenshot of some graphs found under the monitoring tab of the instance in the console:
![image](https://user-images.githubusercontent.com/48450834/78361271-6bb9ea80-75b8-11ea-853d-29771ba5fff0.png)

This is one is a t3a.large, lightly loaded, so CPU

[2020-04-03 13:17] monkeymosher commented on #4477
I have the same issue with `pg` on `3.0.0-beta.19.4`

[2020-04-03 13:51] chinhdo commented on #5555
Hi @adriatic : Thanks for reviewing my PR. Since it's already been merged to master and approved for the next version, can you use a new PR for any further corrections/changes?

[2020-04-03 14:24] pablosichert commented on #4983
Hey there, I just ran into the same issue. Upgrading to 3.0.0-beta.19.5 did not help.

<img width="697" alt="grafik" src="https://user-images.githubusercontent.com/4450694/78370736-57311e80-75c7-11ea-8607-df61e6197977.png">

Could you reopen this?

[2020-04-03 15:48] adriatic commented on #5555
Hello, @chinhdo . Good thinking, I will gladly to this. Is there a document that describes the "standard Strapi PR creation? (I never did one for the monorepo, so I do not want to step on someone's toe 😄)

cc: @derrickmehaffy

[2020-04-03 15:53] alexandrebodin commented on #4983
@pablosichert Can you add the `debug`: true option to the `database.default.options` config  and showw which SQL query provokes the error ?

[2020-04-03 15:55] chinhdo commented on #5555
@adriatic You'll want to look at the [Contributing Guide](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) . Basically you fork the repo, create a new branch, and when ready, create a PR from your branch back to master. Chinh

[2020-04-03 16:20] derrickmehaffy commented on #5555
Exactly as described ;)

[2020-04-03 16:20] adriatic commented on #5555
@chinhdo - so no differences due to monorepo, it seems. Thanks, taking this over,

[2020-04-03 16:44] KonstantinKudelko opened #5706 "Db initial data population"
Hello 👋

Do we have some way for initial data population before strapi starts?

Thanks a lot!

[2020-04-03 16:49] johannpinson opened #5707 "Incorrect text search behavior with a PostgreSQL database"
**Describe the bug**
Hey guys 👋

I'm looking to work with the "search" service for a datatable react component.
But the search behavior seems to work only if I type an exact world (it's work with the "leader" word but not with "leade" for example).

I didn't test it with mysql or mongo, and it seems to be a problem specifically with postgres database (because it depends directly how the query raw

[2020-04-03 17:55] #5706 closed

[2020-04-03 18:05] derrickmehaffy commented on #5707
@johannpinson Welcome back! And yes if you could please create a pull request.

Thank you!

[2020-04-03 18:20] ronbravo opened #5708 "ArangoDB Support"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

This is a feature request for seeing if the ArangoDB could be supported. Arrango supports multi-model structure and also has the ability to support some SQL like statements with it's AQL language. Going through

[2020-04-03 22:11] rmonnier9 opened #5709 "Can't update Content-types view"
**Describe the bug**

For every collection, when I try to customize the view in the admin panel, I get a 400 validationError : this field cannot have keys not specified in the object shape.

**Steps to reproduce the behavior**
1. Go to the admin panel
2. Click on a collection
3. Click on Edit the view
4. Set 20 documents per page for example and Save

**System**
- Node.js version: 12.14.0
- NPM ve

[2020-04-04 01:24] brookskindle opened #5710 "Ability to use `os` module in configuration files?"
**Describe the bug**
Within a `<environment>/database.json` configuration file, I am unable to use the `os` module to obtain the current person's username.

Example: `config/environments/development/database.json`
[code]
I have the ability to specify sane defaults for most of the connection information, but the one thing I wish I had was the ability to default the `username` to the current user. T

[2020-04-04 04:59] derrickmehaffy commented on #5709
Update to the latest hot fix beta.19.5

[2020-04-04 05:52] iserifith commented on #5124
is there any plan for this in the near future

[2020-04-04 10:29] MayoudP commented on #4336
@Seba-Monsalve On my side, I just created a new project with the very last versions and it fixed my pb

[2020-04-04 19:58] dangbh1002 opened #5712 "Not update "updated_at" when change "Relation" data"
**Describe the bug:**
I have `Students` and `Skills` collections
Each `Student` has many `Skills` (Relation)

***Use http://localhost:1337/admin browswer:***
If i add a skill to Student item, `updated_at` not work
If i change Student name, `updated_at` worked well

[code]

**Expected behavior:**
I think it should update `updated_at` when change Student data (both `name` and `skills`)

[2020-04-05 16:34] hlege opened #5714 "Sqlite: filter not working on one to many relation."
**Describe the bug**
A Simple filter is not working on a relation between two collections.
Strapi: 3.0.0-beta.19.3 (node v10.14.2) with sqlite

**Steps to reproduce the behavior**
1. Create a Color collection
2. Create a Dog collection with one to many relations to Color
3. Create a Color content eg.: White
4. Create a Dog content
5. Create other Dog content and select White color

**Expected beha

[2020-04-05 18:17] jeethjoseph commented on #2617
I can access my admin page **ip:port/admin** but when I try to proxy pass it through nginx **example.com/admin** get to the admin page but the loader keeps circling without end. I can see that I'm on the right page because the page title shows up in the browser tab.
Here's my config block.
` location /admin {
          proxy_set_header   X-Forwarded-For $remote_addr;
          proxy_set_header   H

[2020-04-05 18:57] derrickmehaffy commented on #5714
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-05 18:57] #5714 closed

[2020-04-06 03:53] krisanalfa opened #5715 "Override Strapi Admin index.html"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

Would be nice if we can override the `index.html` file, or maybe extend Webpack config.

[2020-04-06 05:08] derrickmehaffy commented on #5715
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-04-06 05:08] #5715 closed

[2020-04-06 07:37] soupette commented on #5715
@krisanalfa I agree we should provide a way to extend the webpack configuration.

[2020-04-06 07:38] soupette commented on #5709
@derrickmehaffy should we close this issue?

[2020-04-06 08:16] derrickmehaffy commented on #5709
Yup @soupette the bug is likely related to the old version the user is on, marking as closed.

[2020-04-06 08:16] #5709 closed

[2020-04-06 12:19] alexandrebodin commented on #4356
Hi, I'm closing this issue as we haven't been able to reproduce with the latest version of strapi. Feel free to comment if you end up getting this issue again :D

[2020-04-06 12:19] #4356 closed

[2020-04-06 14:59] Igal-Kleiner opened #5722 "Advanced configuration for CKEditor with Strapi"
**Describe the bug**
Failing configuring CKEditor with various components

**Steps to reproduce the behavior**
1. Create project
2. Follow [the guide](https://strapi.io/blog/how-to-change-the-wysiwyg-in-strapi) to replace WYSIWYG editor with CKEditor.
3. Try to customize the CKEditor with additional components.

**Expected behavior**
After following [the guide on how to use CKEditor as React Compo

[2020-04-06 15:03] yapnel opened #5723 "Upload Path"
Hi

Is there a way to change the upload path for file upload plugin to something else? I want to point it to a network share path to store the uploaded files.

Thanks,

[2020-04-06 15:09] yapnel commented on #5408
I have the same issue as well with the latest strapi when deployed onto Cloud Foundry. It works perfectly when running locally on my machine. Any advice please?

[2020-04-06 16:16] annie-elequin commented on #2136
Yes, I also got to the "heroku open" part and the app crashed.

The Heroku logs said it's an error code H10, with the path being "/" and "/favicon.ico". I'm almost positive I set everything up correctly, according to the instructions.

I'm also on version beta.19.5

[2020-04-06 16:24] derrickmehaffy commented on #5722
This guide is not directly supported by the Strapi team, going to mark this as closed for now. For now it would be best to post something like this on Stack Overflow until I get the user forums deployed.

[2020-04-06 16:24] #5722 closed

[2020-04-06 16:43] imp-dance commented on #2057
Is there no way of doing an approval flow as-is?

If we were able to set roles to specific fields inside of content types then we could just do a boolean "published", and not allow anyone but "moderator" to touch it.

[2020-04-06 16:46] derrickmehaffy commented on #2057
@imp-dance you could restrict based on policy simply checking the `ctx.state.user.role` ID vs an "approved" set of roles that can view/edit.

[2020-04-06 16:48] derrickmehaffy commented on #2617
@jeethjoseph a PR is being worked on for sub-folder based proxying, for the time being you will need to use a sub-domain until this is merged: https://github.com/strapi/strapi/pull/5724

[2020-04-06 16:53] imp-dance commented on #2057
@derrickmehaffy Interesting, but I've got to be honest and say this doesn't tell me much. Could you point me in the right direction? Where would I go about adding these policies?

[2020-04-06 16:57] derrickmehaffy commented on #4780
This may end up needing some mapping system same as the CTM does current, having some kind of map from `This value` to `thisValue` (Admin Panel view vs logical backend view). The core issue is still GraphQL limitations that Strapi doesn't have much control over. Enumerations are still very strict in many different languages (not just GQL) so mapping will still be needed in the frontend as well.

I

[2020-04-06 17:10] derrickmehaffy commented on #2057
@imp-dance

https://strapi.io/documentation/3.0.0-beta.x/concepts/policies.html

Policies run after the users-permission plugin but before the controller is called, they are also executed in order based on their order in your routes.json file.

You could accomplish the same thing by overriding the controller (such as here: https://strapi.io/documentation/3.0.0-beta.x/guides/is-owner.html ) but it'

[2020-04-06 17:15] imp-dance commented on #2057
@derrickmehaffy Perfect! Thank you 🎉

[2020-04-06 18:24] Igal-Kleiner commented on #5722
@derrickmehaffy But if it's part of a Webpack configuration, can't you at least tell where is this configuration? I can't find it, don't know what to edit...

[2020-04-06 19:26] derrickmehaffy commented on #5722
@soupette can you assist here?

[2020-04-06 19:30] worapolburaphan commented on #5194
@soupette This issue still happening same.

[2020-04-06 19:51] harmenjanssen commented on #4780
I wouldn't implement a map honestly, but just allow authors to specify key/value pairs. Then you don't need inflection magic (which sooner or later will prove incorrect for certain cases, see also the incorrect pluralisations) and authors have full control over the values stored in the database.

[2020-04-06 22:27] wiktort opened #5726 "Unable to start Strapi on MacOS PostgreSQL"
**Describe the bug**
I am trying to run local Strapi on my Mac. `npm run build` works well. However, it has some problems with 'start' and 'develop'. When I am trying to start it by `pm2 start npm --name "CMS" -- start`, it keeps restarting. I have checked the app OUT-logs and there is a couple of errors e.g.

    { error: syntax error at or near "url"
        at Connection.parseE (/usr/local/var/

[2020-04-07 01:02] locopati opened #5727 "Collection Types don't use custom plural in sidebar"
**Describe the bug**
A custom plural collection type name should be display in the sidebar

**Steps to reproduce the behavior**
1. Create a Collection Type named 'One'
2. Edit the description > Advanced Settings > Collection Name = 'many'
3. Observe the Collection Types in the sidebar
4. The sidebar displays 'Ones'

**Expected behavior**
I expect the sidebar to display 'Many'

**Screenshots**
![im

[2020-04-07 01:18] christianguevara commented on #5726
Looks like you are not using latest beta 19.5, can you try with it ?
When you start with npm run `develop`, any error is shown in the console?
This looks more like a configuration issues than a Strapi one.

[2020-04-07 03:54] yykoypj commented on #2072
Maybe you can try to change the create-content_type operation in a databse way,which may really help to reduce the misunderstanding of this part of system.Creating content_types is always not a job of one single person,not to mention a developer.

[2020-04-07 04:15] derrickmehaffy commented on #5726
Indeed, test with latest beta, and check your configs. Marking as closed until user confirms with latest version

[2020-04-07 04:15] #5726 closed

[2020-04-07 07:30] anhhtz opened #5728 "Is there any way to allow user access to /admin with restrict permission ?"
Hello,

I want to allow users who can access to `/admin` with low permission. They can:
- NOT create new `content-type`.
- Manage their `content-types` like as C,R,U,D.
- Manage their profile like as Fullname, email, password,...
- ...

Best regards,

[2020-04-07 07:59] jiv-e opened #5729 "Cannot delete file already deleted in Cloudinary"
**Describe the bug**
Cannot delete file already deleted in Cloudinary when using strapi-provider-upload-cloudinary.

**Steps to reproduce the behavior**
1. Use Cloudinary provider.
2. Upload a file.
3. Delete the file directly from Cloudinary (use the Cloudinary UI for example).
4. Go to Strapi's File Upload page and click the trashcan icon of the uploaded file.

**Expected behavior**
The file inf

[2020-04-07 08:17] abdonrd commented on #5415
I'm also interested in have some options here. Because I need to remove the `-` in some cases.

[2020-04-07 09:18] jlvadell commented on #5723
Hi yapnel,

The uploaded files by default are stored in the public assets folder, I didn't find a way to change the uploads folder path but you can change the entire public assets folder path:
[Docs](https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#Application)

Hope it helps.

[2020-04-07 10:02] derrickmehaffy commented on #5728
Please see the following FAQ: https://strapi.io/documentation/3.0.0-beta.x/getting-started/troubleshooting.html#user-can-t-login-to-the-admin-panel

[2020-04-07 10:02] #5728 closed

[2020-04-07 10:03] derrickmehaffy commented on #5729
Please update your bug report with the required information from the template:

[code]

[2020-04-07 10:44] abdonrd commented on #4844
Any news here?

[2020-04-07 11:47] hlege commented on #5714
Is it still not good?

[2020-04-07 13:04] pablosichert commented on #4983
Sure, the query in question is:

[code]

[2020-04-07 13:34] lauriejim commented on #4983
Hello! I just tried to reproduce and I'm not able.
Fresh new app with `3.0.0-beta.19.5`
Here is what I did - https://www.loom.com/share/4cebaccdf156434aa33bba624e01c9e0

[2020-04-07 13:39] lauriejim commented on #5714
Hello! I just tried to reproduce your issue and it works well on my side.
Here is what I did - https://www.loom.com/share/15a5323fe9ac4024a6f009d07a26acd3
Let me know if I miss something.

[2020-04-07 13:45] phlmn opened #5732 "Allow to configure JWT expiration"
We are currently doing a penetration test on strapi. One finding was that the JWTs in the admin section don't get invalidated on logout and also have a very long validity period (30d 😱).

I would suggest to add a configuration option which allows to set the expiresIn option here:

https://github.com/strapi/strapi/blob/6309af25c921640cb76aeeda463e55db1eb53ef1/packages/strapi-plugin-users-permission

[2020-04-07 13:45] lauriejim commented on #5729
Hello @jiv-e thank you for reporting this issue.
It is not a case we managed in the Cloudinary provider.
Can you please submit a PR to fix it please. I will really appreciate your contribution to this issue.

[2020-04-07 13:52] lauriejim commented on #5732
Hello @phlmn !
Thank you for this suggestion, this is a really simple thing to do.
Can you please submit a PR to add this feature.
I will appreciate your contribution.

You will have to remove this line - https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/services/Jwt.js#L12

Add in the `config` folder create a `jwt.json` file - https://github.com/strapi/strapi/b

[2020-04-07 13:54] #5723 closed

[2020-04-07 13:58] lauriejim commented on #5727
Hello @locopati !
The `Collection name` has an impact only in your database, this will not impact the value displayed in the Admin Panel.
You will not able to customize the value in the menu for now.
This is in our Roadmap - https://portal.productboard.com/strapi/1-public-roadmap/c/13-administration-menu

[2020-04-07 13:58] #5727 closed

[2020-04-07 14:09] MattieBelt commented on #5647
@sulakin are you still using it with the latest version?
Any advise/fix for @FutsalShuffle?

[2020-04-07 14:19] lauriejim commented on #2136
Here is 2 more video to deploy Strapi on Heroku. That can help.

[📺 Heroku + PG addon](https://www.youtube.com/watch?v=Qd-xpaT0c48&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=2&t=0s)

[📺 Heroku + MongoDB Atlas](https://www.youtube.com/watch?v=HHnRsZwFmR8&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=7&t=0s)

After that, your issue can be related to this one - https://github.com/strapi/strapi/iss

[2020-04-07 14:23] lauriejim commented on #4672
Hello, make sure your application is up to date with package versions.
Follow migration guides in the docs if necessary for app migration.
Then clean your npm cache and install node modules.
That should resolve your issue.

[2020-04-07 14:23] halfsoft opened #5733 "Database migration does not recreate user roles correctly"
**Describe the bug**
After moving from sqlite to a mysql database (an empty one), the tables are recreated correctly, however the default user roles are not created correctly, the public role permission list is empty (no models in Application, unless you create a new content type, which gets added).

**Steps to reproduce the behavior**
1. Create a new strapi instance, create 2-3 content types
2. d

[2020-04-07 14:25] lauriejim commented on #3601
Your welcome, feel free to submit a PR to this guide to improve it.

[2020-04-07 14:25] alexandrebodin commented on #5733
Hi, this issue is clearly a duplicate of https://github.com/strapi/strapi/issues/4045. Closing this one so we can keep track of it in one single issue.

[2020-04-07 14:25] #5733 closed

[2020-04-07 14:31] #3184 closed

[2020-04-07 14:31] halfsoft commented on #5733
In the referenced issue people are reporting that the issue is fixed after a restart of the instance (and they have to set again the permissions).
In my case the permissions were never recreated after restart or rebuild (both in development and in production mode)

[2020-04-07 14:34] alexandrebodin commented on #5733
You can comment in this issue so we have the info there ot fix it once.

[2020-04-07 14:45] lauriejim commented on #5640
Hello! Thank you for reporting this issue.
I'm notifying the team about this issue.

[2020-04-07 16:58] gavmck commented on #4711
@santicros I just had the same issue as you.

I ended up opening up the strapi-provider-email-mailgun package code where you can see it [booting up mailgun](https://github.com/strapi/strapi/blob/master/packages/strapi-provider-email-mailgun/lib/index.js#L39) using another package: [mailgun-js](https://www.npmjs.com/package/mailgun-js)

The mailgun-js package was quite well documented and explained

[2020-04-07 17:47] jeremy-hubsy opened #5739 "Docker with Strapi's Sendmail not working"
Hello,

I'm using docker with strapi.

I'm in development mode and the sendmail feature from Strapi is not working....

Strapi doesn't send an email if a User register or forget his password...

Here is my docker-compose.yml file.

version: "3"

[code]

[2020-04-07 19:50] ramigs commented on #5560
this was really helpful, thanks @lauriejim

[2020-04-07 22:44] janbaykara commented on #2616
Yes, there is a real difference between...

<img width="237" alt="Screenshot 2020-04-07 at 23 43 14" src="https://user-images.githubusercontent.com/237556/78726315-2d5a5d80-7921-11ea-91c8-297fdfda9a16.png">

... and ...

<img width="443" alt="Screenshot 2020-04-07 at 22 30 23" src="https://user-images.githubusercontent.com/237556/78726353-48c56880-7921-11ea-829c-daed55005dba.png">

In terms of sel

[2020-04-08 00:17] marxvn opened #5741 "[Admin UI] Unable to load content when primary key changes"
**Describe the bug**
1. Create new Content-Types: `HelloStrapi` with field `fullName` and set Unique it.
2. Change primaryKey `api/hello-strapi/models/hello-strapi.settings.json`
[code]
3. Create any content with `HelloStrapi`
4. See error

[2020-04-08 01:07] locopati opened #5742 "Renaming a content type doesn't change the file names"
**Describe the bug**
When you rename a content type, the file names are still the same as the original type name

**Steps to reproduce the behavior**
1. In the UI, rename a content type
2. Look at the file names in api/<old-content-type> and in api/<old-content-type>/config/routes.json

**Expected behavior**
The files and routes and db collection (in mongo) are renamed to the new content type name

[2020-04-08 04:35] derrickmehaffy commented on #5741
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-08 04:35] #5741 closed

[2020-04-08 04:37] derrickmehaffy commented on #5742
I will leave this one open even though it doesn't have the complete bug report template simply because I know it doesn't do this, and never has.

[2020-04-08 07:09] maisur opened #5743 "Extending a Model Service "Create" return 500 when alongside with files"
**Describe the bug**
I want to extending my model service following instruction from this [documentation](https://strapi.io/documentation/3.0.0-beta.x/concepts/services.html#extending-a-model-service)

**Steps to reproduce the behavior**
1. Just copy & paste the code from [documentation](https://strapi.io/documentation/3.0.0-beta.x/concepts/services.html#extending-a-model-service) in "create" tab

[2020-04-08 07:38] tommyboylab commented on #1999
@alexkharech Thank you above for your example, I've successfully implemented it in my own project. Now that I have.. how do you apply it?

 I'm having problems calling  an image component from within my models. I use the component feature in Strapi so that it supplies both an img and a placeholder for all my other models. Problem is, I can't seem to update the component from within the model.

Her

[2020-04-08 07:56] sulakin commented on #5647
Checked, works on version 3.0.0-beta.19.3
@FutsalShuffle can you attach screenshots **strapi edit provider vk** and **vk settings app**?

[2020-04-08 08:56] hlege commented on #5714
You choose the wrong relation type. I choose the last one. "XXX has many YYY" type.

[2020-04-08 11:05] dawidstefaniak commented on #1993
For me, my dependencies had mixed versions (some were 18.7 and some were 19.5). Make sure you use only 1 version in all of your packages.

[2020-04-08 11:59] jamesdesouza commented on #4916
when you trigger delete endpoint, it's not deleted the relation data from `upload_file_morph` and this causes the empty objects in model data!

I couldn't find any workaround in issues.

`return strapi.query('file', 'upload').delete({ id: file.id });`

this code should delete the related data but just delete the file record instead

[2020-04-08 12:42] lauriejim commented on #5525
Hello! I tried again and all works fine on my side, are you able to create a new project from scratch and reproduce the issue.
If you can record to let me see exactly what you did, that could help me.

[2020-04-08 12:46] #5645 closed

[2020-04-08 13:25] rmaroun commented on #5525
Hi Jim, thanks for the remote assistance. The problem was due to the router middleware being loaded before my custom middleware which was causing the issue. Putting my custom middleware before the the router middleware works!

[2020-04-08 13:25] #5525 closed

[2020-04-08 13:41] lauriejim commented on #5670
Hello!

for your use case, I suggest you use default variable options in the advance tab of your field definition.

[2020-04-08 13:50] lauriejim commented on #5667
Hello! I just tried to reproduce your issue by following steps but I was not able to reproduce.
Here is what I did - https://www.loom.com/share/73eb7df0d41547188a99d5263d7578f8
Did I miss something?

[2020-04-08 14:21] #5686 closed

[2020-04-08 14:29] pablosichert commented on #4983
Thank you for the screencap! The bug occurs when a field name is changed to `order`, not when the collection is called `order`.

Some steps to reproduce:

<img width="746" alt="Bildschirmfoto 2020-04-08 um 16 15 24" src="https://user-images.githubusercontent.com/4450694/78795595-76f48800-79b5-11ea-8253-6a6ac8277ea9.png">

<img width="1354" alt="Bildschirmfoto 2020-04-08 um 16 19 39" src="https://u

[2020-04-08 14:36] alexandrebodin commented on #4983
Hi indeed I think I know what the issue is. Going to create a fix for it right now ;)

[2020-04-08 14:42] lauriejim commented on #5695
Hello! You already created 3 issues about that - https://github.com/strapi/strapi/issues/5619

[2020-04-08 14:42] #5695 closed

[2020-04-08 15:15] alexandrebodin commented on #5441
@getorca Your configuration is conflicting with one already set in `config/environments/**/response.json`:
[code]

If you enable it there it should work jsute fine.  Let us know once you have verified ;)

[2020-04-08 15:21] lauriejim commented on #4798
If you run `NODE_ENV=production yarn develop` or `NODE_ENV=production yarn start` will not allow you to edit Content Types.
`yarn start` will not restart your app on Content Type update but you can update them
Run your application with `yarn develop` to have full access to the Conte Type Builder

[2020-04-08 15:23] lauriejim commented on #5326
Thank you @romanmandryk for this fix!

[2020-04-08 15:23] #5326 closed

[2020-04-08 15:25] #4983 closed

[2020-04-08 15:35] mariusbolik commented on #4267
Using the little hack makes it possible to init Strapi. But I can't authenticate users:
<img src="https://i.imgur.com/J9AaHC0.png">
I also can't Login on the Web interface. Only with admin users.
If I use SQLite (--quickstart) everything works fine.

There seems to be a major problem with User Permissions when using MySQL.

[2020-04-08 16:41] ronbravo commented on #5708
@derrickmehaffy  Thanks for the quick reply. Is there an area of strapi where I can investigate how the calls to the backend are being wrapped or abstracted away. I figure I could make a fork and on my own I can maybe add / modifiy code or somekind of driver to connect to https://orango.js.org? I am a bit new to all of this. I don't want to build an Headless CMS from scratch so strapi seems like a

[2020-04-08 18:49] lauriejim commented on #5441
Confirmed, it works on the last version of Strapi.

[2020-04-08 18:49] #5441 closed

[2020-04-08 19:21] alexandrebodin commented on #5708
Hi, We aren't going to add new databases until we totally refactor our database layer no.

[2020-04-08 22:12] Fl4zher opened #5748 "GraphQL Cannot return null UsersPermissionsMe.id"
**Describe the bug**
When i try to get "Me" query from frontend client with apollo client, i get this error message:
'GraphQL error: Cannot return null for non-nullable field UsersPermissionsMe.id.'

This error is only when no user is found. So the graphql still expects user to be returned, but null is returned which is what it should.

**Steps to reproduce the behavior**
From frontend client, try

[2020-04-08 22:29] #5708 closed

[2020-04-08 22:31] derrickmehaffy commented on #5708
@ronbravo you will want to look at the connectors but right now it would not be an easy process to create your own. As Alex mentioned they plan on completely refactoring those as is.

[2020-04-08 22:49] derrickmehaffy commented on #5748
Hello, please follow the issue template.

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template.

Please update the issue.

Thank you.

[code]

[2020-04-08 22:49] #5748 closed

[2020-04-09 03:15] loongmxbt commented on #5641
Works for me!
Step1: create `extensions/users-permissions/controllers/User.js`
Step2: Add the following
[code]
Then /users/me will return all custom fields

[2020-04-09 04:22] andrewchung opened #5749 "Unexpected behavior observed with <date> field on posting to database"
**Describe the bug**

The value posted to the database is not the same as what is entered into the \<date\> field when adding a new (or saving an existing) record.

Specific issues:
<ol>
<li>Entering in a date of *April 8, 2020* will be posted as *April 7, 2020* in the database.</li>
<li>If the date is not modified in the edit screen, any subsequent *saving* of the data will cause the posted date

[2020-04-09 04:52] derrickmehaffy commented on #5749
Likely an issue with conversion of dates between timezones, saving is converting back to UTC, but fetching is not.

@andrewchung what timezone are you in?

[2020-04-09 05:11] andrewchung commented on #5749
@derrickmehaffy EDT, UTC-4

[2020-04-09 08:01] inverleighdigital opened #5751 "PUT generates error 404"
**Describe the bug**
A clear and concise description of what the bug is.

In Strapi 19.5 and 19.4 Dev environment we are unable to submit PUT requests without generating an error.  When I roll back to 19.3 put requests work fine.

**Steps to reproduce the behavior**
1. submit a simple unauthenticated put request via postman:

https://myapi.com/myendpoint/5e8e9dd3fb6cd54caca09b6d

{
        "status

[2020-04-09 08:04] derrickmehaffy commented on #5751
We need more information, when you get a 404 generally it means that endpoint doesn't exist, so it's most likely not a bug but a change in your application.

[2020-04-09 08:06] inverleighdigital commented on #5751
Its very strange in that all put request work fine in 19.3 but when we upgraded to 19.5 the put request stopped working and generated an error.  Roll back and it works again.
This is across more than one content type.

[2020-04-09 08:07] inverleighdigital commented on #5751
PUT and POST requests still work fine.

[2020-04-09 08:08] derrickmehaffy commented on #5751
Is your project code somewhere public like a Github repo that you can share? This will almost be impossible to reproduce without looking at your specific project.

[2020-04-09 08:11] inverleighdigital commented on #5751
Understand. Its not public. I can provide the model and request privately if required?

[2020-04-09 08:14] derrickmehaffy commented on #5751
Yes, if you are on the Strapi Slack you can PM me directly `@DMehaffy (Not Strapi Employee)`

[2020-04-09 08:14] inverleighdigital commented on #5751
OK

[2020-04-09 08:25] lauriejim commented on #3374
Thank you for this insight

[2020-04-09 12:41] PaulMaly opened #5753 ""Auth.form.error.email.invalid" error on Forget Password (email exists)"
**Describe the bug**
I've got "Auth.form.error.email.invalid" error on Forgot Password request. Email address I tried to reset password exists in the admin panel and I can log in with it.

**Steps to reproduce the behavior**
1. Make POST request to like this:

[code]
2. Got an error:
[code]

**Expected behavior**
Seems it's should work without additional configuration.

**Screenshots**
If applicab

[2020-04-09 12:45] Convly commented on #5001
Hi, I'm closing this issue as we haven't been able to reproduce with the latest version of Strapi. Feel free to comment if you end up getting this issue again!

[2020-04-09 12:45] #5001 closed

[2020-04-09 13:21] lauriejim commented on #5701
I also tried and it works well.

[2020-04-09 13:45] Aurelsicoko commented on #4780
![Uploading Screenshot 2020-04-09 at 15.42.32.png…]()

[2020-04-09 13:53] lauriejim commented on #5707
Hello @johannpinson !
Thank you for reporting this issue, can you please provide steps to reproduce the issue you have please.
This will help to "see" the issue, and validate that the issue is well fixed.
Thank you.

[2020-04-09 14:03] johannpinson commented on #5707
Hello @lauriejim !

Yes of course, it just need to create a new project with a PostgreSQL database.
Then, create a content type "Post" with a "name" string field.
Add some content with "nameA", "nameB", etc.

Then, directly from the administration, you can use the search input to test if you type "na", you may have some results.

Actually, it needs to write the exact name to get some results.

[2020-04-09 14:14] johannpinson commented on #5707
Ok i made another commit, because I forget to change the `plainto_tsquery` to `to_tsquery` during my edit.

If we keep the `plainto_tsquery`, it will not work, event with the `${query}:*`, as indicated from the pg doc :

[2020-04-09 14:16] derrickmehaffy commented on #5707
MySQL/MariaDB have similar search problems

[2020-04-09 14:25] #5682 closed

[2020-04-09 20:00] emaddoma opened #5756 "Configure the View (any entity) cannot be saved"
**Describe the bug**
Updating the view for an entity of model always fails

**Steps to reproduce the behavior**
1. Go to your content type
2. Click on the gear dropdown and select "Configure the view"
3. Change any of the settings and click 'Save'
4. Click the Confirm button in the modal
5. You are presented with a notification "An error occurred", the server log output shows a 400 response and th

[2020-04-09 21:01] crhraphael opened #5757 "Error .split() is undefined for obj assoc (Mongo)"
https://github.com/strapi/strapi/blob/7b9d72e210bb5da6ad6b793b12efcc3438e36473/packages/strapi-connector-mongoose/lib/buildQuery.js#L524

## PROBLEM

using deep filters and deep populate with strapi-connector-mongoose like 'model.slug'='veehicle-01' i throws error .split() is undefined, because my populate items is an object and it expects a string.

It's nice to mention that the populate with obj

[2020-04-10 02:28] quitequinn commented on #5095
I fixed my issue  by changing the default values of the integer types from strings to numbers. I'm not 100% sure this is a migration issue... but I'm suspicious it was.

[code]
to
[code]

[2020-04-10 02:56] adriatic opened #5759 "strapi "shell" incorrectly parses the --quickstart argument on Windows"
**Describe the bug**
Running the command **`yarn create strapi-app backend --quickstart --no-run `** does not return the control back to the consile user

**Steps to reproduce the behavior**
1. Run **`yarn create strapi-app backend --quickstart --no-run`** and observe that the control does not return back to you. You would have to use "break" signal ("Ctrl-C") to get the control back.

3. Run **`y

[2020-04-10 04:24] quitequinn commented on #5095
BUT for floats, you must use strings for default.

[code]

[code]

[2020-04-10 06:32] derrickmehaffy commented on #5753
`Strapi version: 3.0.0-beta.19` please test on the latest version `beta.19.5`

[2020-04-10 07:28] lauriejim commented on #5124
@alexandrebodin or @JabStrapi will be able to answer to this question

[2020-04-10 08:31] juliensl opened #5760 "Enable SSL using certbot and nginx"
Hello the Strapi community !

**Describe the bug**
I am strying to set httpS on my Strapi production but it is very difficult O.O
I followed the tutorial written by @derrickmehaffy  https://medium.com/@derrickmehaffy/using-strapi-in-production-with-https-717af82d1445 , but it does not work for me :'(

My pm2 service :
![strapi_pm2](https://user-images.githubusercontent.com/43228020/78975542-9a8214

[2020-04-10 08:33] petersg83 opened #5761 "Feedback on 3.0.0-next.49"
Hi,
As suggested by @soupette I put my feedback in this issue instead of the PR https://github.com/strapi/strapi/pull/5750 so the PR can be merged and the feedback not forgotten :)

Very nice work, congrats to all the team! :)

Few things I saw:

1. I couldn't upload a big file (a video of 700mb), even though I increased the sizeLimit value in the config
1. When I upload a big file (a video of 700

[2020-04-10 08:34] #5760 closed

[2020-04-10 08:35] derrickmehaffy commented on #5760
Closing this as it's not an issue with Strapi. Generally I don't recommend you directly exit the /etc/nginx/nginx.conf file which is what you are doing here.

[2020-04-10 08:35] derrickmehaffy commented on #5760
I plan on adding actual documentation for nginx (there is an Open PR I'm working on)

[2020-04-10 08:41] juliensl commented on #5760
Youpss... I did not know that the nginx.conf file was delicate :/

You are right, it's not an issue sorry, I use github too much ><
I will post my message in stackoverflow :)

Have a good day, and sorry for the trouble.

[2020-04-10 08:42] lauriejim commented on #5712
Hello! Can you please specify the database you use and the version of Strapi you use please.

[2020-04-10 08:42] derrickmehaffy commented on #5761
Tagging @JelmerV-WFC

[2020-04-10 08:44] derrickmehaffy commented on #5761
I agree, this is a good place for feedback, I'm currently testing and making a list myself (along with noting any issues on migrations and updating versions per @alexandrebodin )

[2020-04-10 08:46] derrickmehaffy commented on #5760
No problem @juliensl do feel free to poke me on slack also and I can try to assist a bit more directly.

[2020-04-10 08:58] lauriejim commented on #5408
Hello! I'm not 100% sure, can you try to increase the value in `config/hook.json` file.
Database connectors were hooks before, I'm not if configs changed or not.
So you can try that, I have to check with the dev team.

[2020-04-10 09:03] Tansito opened #5762 "Required fields when components error on MongoDB"
**Describe the bug**
If you have a component (repeatable or simple) in a collection and you try to populate an empty field that you changed to required the validation doesn't let you modify it because it says:
[code]

The only case that the collection updates correctly is when you have an empty simple component or no components at all but if you have:
- A populated simple component
- An empty repe

[2020-04-10 09:04] lauriejim commented on #4711
Thank you for this message! I'm closing this topic.

[2020-04-10 09:18] lauriejim commented on #5739
Hello!
First, you are using a really old version of Strapi so some issues have been fixed since this version.
Then sendmail is using your local SMTP configuration to send emails, it's not the recommended way to do. Sometimes it's blocked because you (your local server) is not an approved email sender.
I highly suggest you install an email provider to use a tiers service to send emails (sendgrid, .

[2020-04-10 09:18] #5739 closed

[2020-04-10 09:19] alexandrebodin commented on #5124
Hi, This is not planned in the near future as we see components has being embeded in en entry.

You should avoid using components if the real modeling is a relation. I know it really is practical to be able to add entries directly in the admin panel though.

@JabStrapi  @Aurelsicoko  I think we shoul offer support for creating relation entries directly inside the Content Manager creation view at s

[2020-04-10 09:41] alexandrebodin commented on #5739
This issue was handled here https://github.com/strapi/strapi-docker/issues/199

[2020-04-10 10:50] Balabili opened #5764 "When ctx.status=304, ctx.body will be null. Then "TypeError: Cannot read property 'isBoom' of null""
**Describe the bug**
I write a custom controller.

`
demo: async ctx => {
  ctx.send('Text', 304);
}
`

The lib/middlewares/boom/index.js code:

`
        ctx.status = ctx.body.isBoom ? ctx.body.output.statusCode : ctx.status;
        ctx.body = ctx.body.isBoom ? ctx.body.output.payload : ctx.body;
`

When ctx.status change to 304, Koa will change ctx.body to null.
Then  ctx.body.isBoom will throw

[2020-04-10 10:52] alexandrebodin commented on #5764
Hi, this was changed in recent version of strapi.
If you still endup having this issue in beta.19.5 let us know.

I’ll close the issue in the meantime

[2020-04-10 10:52] #5764 closed

[2020-04-10 11:44] derrickmehaffy commented on #5124
I also 2nd this, it's something I see often

[2020-04-10 11:46] derrickmehaffy commented on #4780
@Aurelsicoko are you thinking of storing the label in the core_store or the model settings?

[2020-04-10 12:48] soupette commented on #4780
I like the idea of having a new UI for creating the enum's values however I think that this component will require a lot of scrolling in the modal if we set for instance like 10 values... I think it would be great to add a way for the users the visualise all the values already created

[2020-04-10 13:32] lauriejim commented on #5560
Hello! As a conclusion of this issue.
Can you please open an [RFC](https://github.com/strapi/rfcs) for the technical proposal, this will help to understand how the form should work.
And the current way to achieve that is to follow my video for customization.

[2020-04-10 13:32] #5560 closed

[2020-04-10 13:51] harmenjanssen commented on #4780
This UI would be great for our purposes!

And for what it's worth: I personally would really like as much as possible to be stored in the model settings, so that I can prepare the complete CMS UI with descriptions, labels and view settings locally, and then push it out to production and have it be perfect without having to follow my deploy with a login to production and manual tweaking while the c

[2020-04-10 13:54] lauriejim commented on #2616
Hello guys!

We already collected needs about this "order" feature, that is the reason why we locked the topic.
No solution is presented because with the current version of Strapi there is no easy workaround to achieve that.

About @janbaykara can you please create an issue, please.
I think in the config you should be able to set up the right value there.
But after that, it's a good method to keep

[2020-04-10 15:06] moh3ni opened #5766 "Post views and post like feature"
Hello,
I have tried to implement a post Views and post Like functionality to my Strapi project. I have searched the web and found nothing that could help.

1. number of post Views
2. Like and Dislike button for a post

I have tried with a field (view counter) for each post, but the problem is EVERY registered user with a token can use Postman and do what ever they want. I have even tried with fals

[2020-04-10 15:23] derrickmehaffy commented on #5766
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to the following places per the [README.md](https://github.com/strapi/strapi/blob/master/README.md):

- [Stack Overflow](http://stackoverflow.com/questions/tagged/strapi)
- [Slack](http://slack.strapi.io/)

For now I will mark this issue as closed, we try to keep Githu

[2020-04-10 15:23] #5766 closed

[2020-04-10 15:29] Jolg42 opened #5767 "Retry webhook requests if error happens"
**Please describe your feature request:**

So I looked into the webhook implementation after asking @pierreburgy on a zoom meetup and it looks like it's quite basic, only one try is done when an event is received:
https://github.com/strapi/strapi/blob/master/packages/strapi/lib/services/webhook-runner.js#L77-L113

The problem with this approach is that it happens quite often that a webhook destina

[2020-04-10 16:08] justinmeid commented on #4000
Is this fixed? I am currently having the same issue

[2020-04-10 17:02] omar-enrique opened #5768 "Production build will not connect to MongoDB"
**Describe the bug**
This could easily be something I am doing wrong, but I have read past discussions on this topic, such as #4311 and #636, and I have still not found a solution to this problem.  When I run my Strapi CMS locally with "yarn run start," Strapi serves locally at port 1337 with no problems connecting to my MongoDB.  I am easily able to interface with my mongodb data, showing the con

[2020-04-10 17:50] alexandrebodin commented on #5742
This is the intended behaviour as doing file renaming changes the name of the content type in the codebase and can break your code or database. The renaming is a simple display name change. If you to do renaming you should do this by hand to control the database names and such.

[2020-04-10 17:50] #5742 closed

[2020-04-10 19:21] moh3ni commented on #5768
I had the same problem, but at last I did it :)
Follow this article on medium when installing on your local
https://medium.com/@firstsquares/local-strapi-cloud-mongodb-atlas-cc65288f0dee

then when you want to deploy, copy the database from development env and paste it in both production and staging env.

and you then deploy to heroku.

[2020-04-10 20:24] stefba opened #5769 "Component fields are missing in API response"
**Describe the bug**

Component fields are missing in API response (if their types are referenced by a relation).

**Steps to reproduce the behavior**

1. Create `piece` type:
[code]
2. Create a single `selection` type:
[code]
3. Create pieces and a selection of these pieces.
4. Go to `http://localhost:1337/selection`.

**Expected behavior**

I expect to get a list of pieces on `/selection`. A sel

[2020-04-10 20:58] rmaroun commented on #5751
I have the same issue the put returns

`{"statusCode":404,"error":"Not Found","message":"entry.notFound"}`

Have you been able to solve this?

[2020-04-10 21:24] rmaroun commented on #5751
Rolling back to 19.3

@derrickmehaffy the response is coming back from strapi with the following json

`{"statusCode":404,"error":"Not Found","message":"entry.notFound"}`

[2020-04-10 21:30] rmaroun commented on #5667
This issue could also be related: #5751

[2020-04-10 21:35] derrickmehaffy commented on #5751
Seems the issue is only on Mongo due to a find one failing at objectID lookup.

[2020-04-10 22:26] yapnel commented on #5768
I am also facing the same issue. working locally but deploying to cloud foundry I get the same error as you.

[2020-04-10 23:44] PaulMaly commented on #5753
@derrickmehaffy Hi, thanks for your advice. Unfortunately, under the update process, I've got more errors:

[code]

Any ideas?

[2020-04-11 00:01] websocket98765 commented on #4780
That looks nice. I assume `Label` is the display text and `Value` the no-space allowed version that's stored in the DB. If so, maybe it'd be preferable to put `Value` on the left and `Label` on right. This would provide mental consistency with NodeJS objects, in which keys are not allowed to have spaces (unless quoted) and their string values may have spaces.

[2020-04-11 02:45] inverleighdigital commented on #5751
I did a cleanup as per Derricks instructions  and confirm  issue is with 19.5 an 19.4 but not with 19.3. One of our devs saw an issue with '_id' not matching agree that the issues are most likely related
 related

[2020-04-11 06:47] aksdevac commented on #5667
Hi, checked this because found it interesting, there is function named`replaceIdByPrimaryKey` in `starpi-database` which replaces id with model's primary key(_id) so this should not happen, not able to regenerate on beta-19.5. but I checked on existing project(for both dev, prod env) with MongoDB selected from start.

[2020-04-11 07:02] derrickmehaffy commented on #5753
`Node.js version: 13.12.0` you are using an unsupported version of node

[2020-04-11 10:48] PaulMaly commented on #5753
@derrickmehaffy I thought 12.x is a **minimum** version.  Do you advise to try on 12.x?

[2020-04-11 10:50] derrickmehaffy commented on #5753
Odd node versions are never supported as they are development and testing releases, Node will never make an odd version LTS and thus they will never be supported.

Currently only node 10/12 are supported, and when 14 is released (won't be at least until 2021)

[2020-04-11 10:52] derrickmehaffy commented on #5751
@alexandrebodin this will likely need a hotfix

[2020-04-11 10:53] PaulMaly commented on #5753
@derrickmehaffy Ok, can I be sure that changing nodejs version will fix forgot/reset password or it's just an assumption? There was a bug/fix related to this issue?

[2020-04-11 10:55] derrickmehaffy commented on #4780
I agree on both counts here, values as the key, label as the "value" and storing this in the model settings (since you can't add/remove enums in other environments anyway)

[2020-04-11 10:56] derrickmehaffy commented on #5753
Assumption as there is zero testing on node 13 and bugs reported on unsupported systems are not valid until they can be confirmed on a valid system (this goes for everything)

[2020-04-11 10:57] derrickmehaffy commented on #5753
You should also ensure you are sending the axios post as `application/json` depending on your axios config you may need to include the `content-type` header

[2020-04-11 11:00] derrickmehaffy commented on #5768
Your database configs are wrong, here is a sample using atlas:

https://gist.github.com/derrickmehaffy/aea3c635e0b9704b14fd1693fc56fea2

[2020-04-11 11:09] PaulMaly commented on #5753
@derrickmehaffy about http headers - any other request works fine, so I think everything fine with axios config.

Btw, after downgrade nodejs to 12.16.2 I'm getting the same error on  `npm run build`.

[code]

[2020-04-11 11:10] derrickmehaffy commented on #5753
Do you have at least 2gb of free memory to build?

[2020-04-11 11:12] derrickmehaffy commented on #5753
Alternative try building without optimization: https://strapi.io/documentation/3.0.0-beta.x/cli/CLI.html#strapi-build

(Which is what happens at that 90%)

[2020-04-11 11:13] PaulMaly commented on #5753
Nope, it's testing instance with just 1Gb memory. I had no idea that 2Gb RAM is a requirement.

[2020-04-11 12:51] judehunter commented on #4780
I encountered this problem as well.
What about an another `<select>` type of field but with an underlying string? I understand there is some enum logic here, but in my (and I assume many others') use case, I only need an employee to be able to select from one of many values and store that as a string.

[2020-04-11 14:23] PaulMaly commented on #5753
@derrickmehaffy You was right, errors occurred because of assets optimizations on the low-memory server. Now I've updated Strapi and downgraded NodeJS version, but still can't run  Strapi admin:

This is result output of `npm run develop`

[code]
But I can't get actual access to the admin panel via IP address: <server-ip>:1337/admin
It seems, despite no errors, admin panel not actually running.

[2020-04-11 14:54] PaulMaly commented on #5753
After I rollback to Strapi 3.0.0-beta.19 everything works again.

[2020-04-11 15:59] yapnel commented on #5408
Hi,

I have resolved my issue i was facing and it seems really strange. I can push to Pivotal Cloud Foundry (PCF) PaaS successfully. However, the command i'm using to start strapi in dev mode is "npm run develop" but somehow it was starting in production mode instead!  This has caused the error i was facing because i didn't configure anything for production mongodb. I did a test with a new strapi

[2020-04-11 16:44] TheAnimeSenpai opened #5770 "TypeError: strapi.stop is not a function"
i'm trying to use Jest testing framework along with strapi. The project itself works as expected but when attempting to run tests for it, it crashes.

# Jest setup file
[code]

# Error Output Snippet
[code]

# Test File
[code]

**Steps to reproduce the behavior**
1. Create a new project
2. Configure Jest in package json
[code]
3. Run tests and see error on power shell

**Expected behavior**
I expe

[2020-04-11 17:15] mtrabelsi commented on #5124
you can just use raw REST queries for now, it works just fine...

[2020-04-11 17:29] derrickmehaffy commented on #5770
`Strapi version: 3.0.0-alpha.13.1` Strapi alpha is not supported

[2020-04-11 17:32] alirezakay commented on #5667
Yes, I guess so.
You did the first steps very well as I stated before but, you should build and run the project in production mode:

[code]

[2020-04-11 17:32] derrickmehaffy commented on #5753
You need to set the server IP in the server.json (not localhost) in beta.19.4 this was changed (docs are updated but not deployed due to some other stuff being merged but isn't actually in a release yet

[2020-04-11 17:58] exeg commented on #5124
If you have complex dataset it is not fine because it limits the use of strapi

[2020-04-11 18:13] TheAnimeSenpai commented on #5770
Hi...made a mistake on the version...
strapi version : Strapi v3.0.0-beta.19.5
Error is still the same

[2020-04-11 18:42] LuizCristino commented on #5768
Tried any combination of settings I could find on stackoverflow and github issues none of them worked with Atlas.

Also checked my connection string using mongo cli both versions 2.2 and 3.0 connection strings worked

database.json
[code]

[2020-04-11 18:48] curiousercreative commented on #4632
@keymandll can you reference anything for the "generally a bad idea" claim? Your prescription to have the token store be secure is valid of course, but it'd seem that Redis is no harder to secure for most applications and if you want token revocation, you'll need to store them. [SO question " Should I store JWT tokens in Redis"](https://stackoverflow.com/questions/44890564/should-i-store-jwt-token