[2018-05-08 07:55] OwenCalvin commented on #1139
**Same problem...**

[2018-05-08 08:27] Dane411 commented on #871
Good day @damtsnkff !

I think all the issue was that I didnt update node/npm, as it failed to detect the propagation operator '...'

Then after updating I had an issue with npm https://github.com/npm/npm/issues/20371
I uninstalled Node.js, and tried different versions (8, 9, 10) with NVM, but the issue persisted; so I downloaded strapi and its dependencies with yarn, and then installed with npm t

[2018-05-08 08:28] Aurelsicoko commented on #1125
You're right, currently, this kind of field (array) is complicated to handle with Strapi... I suggest voting for the **Plugin - Matrix/Repeater** [on the vote page](https://strapi.io/vote). Also, the JSON field could fix the issue in another way...

[2018-05-08 08:30] lauriejim commented on #1118
Can you try with the last version of Strapi, I patched something link you explain yesterday.
Can you tell me if it's ok or your issue still happening.

[2018-05-08 08:40] derrickmehaffy commented on #1118
@lauriejim sure give me a bit and I will build out a new project to test.

[2018-05-08 08:51] Aurelsicoko commented on #1114
@derrickmehaffy We could generate a backup but it could be very long if the database has a lot of data... Could it be another option to add? Quick vs safe migration.

[2018-05-08 08:52] derrickmehaffy commented on #1118
Just for clarification on my testing environment:

[code]

On my brand new test project I do still get the following error on the initial start:

[code]

However it does seem this issue should be resolved, I'm going to do some more in depth testing @lauriejim  but nice job on the quick fix :)

[code]

[2018-05-08 08:54] lauriejim commented on #1119
I try to add and update data with MySQL database and it works without errors.

![9idd6wvt1x-3000x3000](https://user-images.githubusercontent.com/5716596/39747541-dd1066ee-52ad-11e8-8cca-3a8256e30620.png)

Just have an issue on update, the time zone is different than create.

[2018-05-08 08:56] lauriejim commented on #1128
As you ca see in my previous link, we store the user data in `ctx.state.user`. So you can use `if (ctx.state.user)` to check if your user is authenticated.

[2018-05-08 08:57] #1128 closed

[2018-05-08 09:01] derrickmehaffy commented on #1119
@piere129 and @lauriejim just curious, in your testing which version of MySQL are you both using? I believe, though I could be wrong, that in MySQL 5.5 and below you could only have one CURRENT_TIMESTAMP. This was fixed in MySQL 5.6+ and MariaDB 10.0+

[2018-05-08 09:01] lauriejim commented on #871
It looks come from your machine. I close this issue. Good luck to restore your npm

[2018-05-08 09:01] #871 closed

[2018-05-08 09:08] derrickmehaffy commented on #1139
@dsheyp Can you try to downgrade to Node v9 and test, I don't believe any testing has been done on Node v10 and it could be whats causing this.

[2018-05-08 09:10] derrickmehaffy commented on #1115
Also I'm not entirely sure where this message is to update, but I wouldn't mind doing it, I haven't had much success in modifying the AdminUI and rebuilding it. @Aurelsicoko any suggestions you might have and I can try and update this and submit a PR.

[2018-05-08 09:15] lauriejim commented on #1142
Hello @zhuang17 You are using wring params. Please follow the documentation https://strapi.io/documentation/guides/filters.html.

You have to user `_limit` and `_sort`.

[2018-05-08 09:15] #1142 closed

[2018-05-08 09:15] derrickmehaffy commented on #1115
Ah might have found it, can you confirm if I change it in this file:

https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-type-builder/admin/src/translations/en.json

`
"noTableWarning.description": "Don't forget to create the table `{modelName}` in your database",
`

That it will change it without rebuilding the admin? I'm not sure if the admin is built on initial install

[2018-05-08 09:30] #1118 closed

[2018-05-08 09:34] Aurelsicoko commented on #779
For everyone using Strapi with Heroku, there is no issue. Heroku doesn't allow to write file on the system, so the API can't be generated. It could happen that you can't see the Content-Type in the left menu or in the permissions page but if you refresh the page it will disappear. We're using a sort of optimistic response to avoid refresh but the Content-Type isn't really created and Heroku doesn'

[2018-05-08 09:48] lauriejim commented on #1119
Using `5.6.38` for MySQL. So you have to update your MySQL please.

[2018-05-08 09:50] zhuang17 commented on #1142
@lauriejim Thanks,  it works.

[2018-05-08 10:05] XcrossD commented on #1134
@Aurelsicoko I did try to look into it but I couldn't understand the whole system behind it. I need to sink some time into studying the system, so I will try to do that and see how it goes.

[2018-05-08 10:05] lauriejim commented on #870
@piere129 we find how to fix here https://github.com/strapi/strapi/issues/1119

And @abdonrd can you try with last version of Strapi please and tell me if it still happen.

[2018-05-08 10:05] Aurelsicoko commented on #779
@zhuang17 I can't reproduce the issue. I created a fresh project on my machine, then [I pushed the code on GitHub](https://github.com/Aurelsicoko/issue779), cloned and pulled the repository on my Ubuntu server and it worked as excepted.

Are you sure you're using the same database? I was using two different database so the permissions weren't matching but the problem wasn't here. I was able to see

[2018-05-08 10:08] harwinvoid commented on #922
Sorry to reply so late. I  guess you can put this request at frontend rather than backend.

[2018-05-08 10:12] abdonrd commented on #870
@lauriejim with the `v3.0.0-alpha.12.1.3` installed from scratch, it is still happening.

[2018-05-08 10:48] derrickmehaffy commented on #1119
@lauriejim this issue still exists above mysql 5.5. I just had it happen running MariaDB 10.0+ where trying to remove a relation causes an issue with trying to update the created_at (which by the way shouldn't be updated when a record is updated, that should remain static)

[2018-05-08 10:49] derrickmehaffy commented on #870
@lauriejim I added another note to that issue, it does in fact still happen above MySQL 5.5.

Also `created_at` shouldn't be updated when modifying an entry, that should only be modified at initial record creation.

[2018-05-08 11:14] dsheyp commented on #1139
I updated Strapi to the latest version but as I got things working for me with the "relation the other way round" I don't want to downgrade Node - this is too much change @ the moment - I have to go on with my Strapi-based project, someone is waiting for it ;-) So I kept my current project and added the two content-types as described above. The problem persists. Strapi can't restart. I have to rem

[2018-05-08 11:33] mnlbox opened #1143 "server stopped after add relation"
**Informations**
- **Node.js version**:
- **npm version**: 10.0.0
- **Strapi version**: 5.6.0
- **Database**: mongodb 3.6
- **Operating system**: Linux

**What is the current behavior?**
server stopped after add relation.

**Steps to reproduce the problem**
I create new content type called **company** like below:
[code]

I want to link company to users content type so I add a n:1 (company has many

[2018-05-08 11:57] derrickmehaffy commented on #1143
I have come across this issue before as well. Especially when adding relations to existing models.

[2018-05-08 12:26] OwenCalvin commented on #1139
Exactly the same problem, the relations is created in one of ....settings.json files but not on the second file, so I need to add this manually in the other file...

![capturea](https://user-images.githubusercontent.com/17951357/39757002-b6e20c8e-52cb-11e8-995f-130e295953a6.PNG)
![captureb](https://user-images.githubusercontent.com/17951357/39757006-bceac77e-52cb-11e8-92b7-137773e584d6.PNG)

[2018-05-08 12:27] derrickmehaffy opened #1144 "Strapi does not create columns in MySQL for Enum types"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Strapi ignores enum values and does not create new `varchar(255)` columns for values.

**Steps to reproduce the problem**

Create a model using Content-Type-Builder that include

[2018-05-08 12:34] derrickmehaffy commented on #1144
I have added my models to a testing repo found here: https://github.com/derrickmehaffy/StrapiTesting

Note the enum values located in this file: https://github.com/derrickmehaffy/StrapiTesting/blob/master/body/models/Body.settings.json

The follow error is given when trying to select one of the enum values in the content-manager:

[code]

And a screenshot of the MySQL Database:
![image](https://us

[2018-05-08 12:36] derrickmehaffy commented on #1144
Note: no errors were given in the console when the server starts up to create the tables in the database for the enum value. Its likely this value is completely skipped in the creation script.

[2018-05-08 12:44] nurikabe commented on #1128
Okay, thanks.  Would you like me to update the policies documentation?

[2018-05-08 12:49] cece95 commented on #1139
I have Node 9.11.1 and experienced the same issue so i don't think downgrading would change anything

[2018-05-08 12:51] cece95 commented on #1143
i think that this issue is the same as #1139

[2018-05-08 12:55] derrickmehaffy commented on #1144
Note2: After manually creating the `varchar(255)` columns, strapi no longer throws an error on saving, but also does not write the values to the database.

Note the `NULL` Values:
![image](https://user-images.githubusercontent.com/8593673/39758244-2cec860e-5284-11e8-8e49-97f7ffdd2bd2.png)

Strapi does however know the values to place into the database (These change back to the default first in the

[2018-05-08 13:37] derrickmehaffy commented on #870
@lauriejim I think this issue is more so that Strapi is not properly formatting the `created_at` and `updated_at` values.

In my example:
[code]

Strapi is attempting to use the value `2018-05-08T12:16:03.000Z` which does not follow the MySQL standard datetime format. An example of such of a format would be `2018-05-08 05:16:03` (Timezone is set at the server level of MySQL, so in my case my serve

[2018-05-08 16:37] lauriejim commented on #1128
Ho yes please. Update for `How to create a policy?` and for `Scoped Policies`.
Thank you.

[2018-05-08 16:38] #1143 closed

[2018-05-08 16:54] derrickmehaffy commented on #1144
@lauriejim correct me if I'm wrong but for the enumeration type, it should just need to be added into this bit here correct?

[code]
In this file: https://github.com/strapi/strapi/blob/master/packages/strapi-bookshelf/lib/index.js

[2018-05-08 16:58] derrickmehaffy commented on #1139
This seems to appear at random, as I've done tests that it works fine, and others that will duplicate this exact same error. It seems to break when writing to one side of the relation.

[2018-05-08 17:00] derrickmehaffy commented on #1135
@piere129 I think there is a pull request to prevent id duplication (the `id` and `_id`) so this may fix itself as the id duplication fixes happen.

[2018-05-08 18:04] derrickmehaffy commented on #1144
Did some testing locally and added the enum case, works perfect. Auto created the enum column and properly stored the value.

[2018-05-08 18:15] derrickmehaffy opened #1148 "MySQL Float does not store complete accuracy of values."
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Currently the float type of MySQL doesn't properly store a long integer value of a length over a certain amount and will round up or down depending on the length which could cau

[2018-05-08 18:15] derrickmehaffy commented on #1148
I have tested this locally and it does work as intended, if such a change is accepted I can create a pull request.

[2018-05-08 18:38] normanzb commented on #1061
tested with 3.0.0-alpha.12.1.3, issue still exist

[2018-05-08 18:44] derrickmehaffy commented on #1055
@jsamr just wanted to copy this into here as well, I feel this ticket is very much related to my open ticket: https://github.com/strapi/strapi/issues/661

Which the strapi team have stated is do-able and likely will be done after more initial code stabilization is done.

[2018-05-08 19:49] dsheyp commented on #1139
What I discribed earlier happened again. This time I tried to manually fix the models. I had to insert a relation. It still didn't work. There was one field plugin: " "   When I removed that empty field it worked. Could the reason for this bug be found in that empty plugin: " " field?

[2018-05-09 00:24] krestaino opened #1149 "Default sort order for content types"
**What is the expected behavior?**

I think a useful feature would be the ability to set the default sort order for a content type under the Content Manager. For example, lets say I have a field called `order` for my content type `project`. When I open up the `projects` content type in the admin, by default it would sort by this field which is an integer, rather than the current behavior where it

[2018-05-09 03:32] XcrossD commented on #1139
Seeing that there is problem with the `plugin: " "` attribute, I just want to mention that this may be related to #886. The fix is going to be released in alpha.12.2

[2018-05-09 06:57] derrickmehaffy commented on #1114
@Aurelsicoko thats exactly what I was thinking. Just as a quick side note, the same type of issue applies when you add an additional column to an already existing model/table. At this moment strapi will not add the new column and will error out in which you have to manually delete the table and restart the server for it to add the new column.

The backup would work in this case also I believe, but

[2018-05-09 07:03] derrickmehaffy commented on #1114
in regards to the backup I think a prompt on delete could appear with a slider checkbox to simply ask:
`Are you sure you wish to delete this model? N/Y` and `Would you like to create a backup of the database? Y/N' (Note the default values on the checkbox)

[2018-05-09 07:06] derrickmehaffy commented on #1105
@lauriejim not sure if this is helpful or not, but I've noticed on multiple restarts strapi seems to be taking about an additional 900 to 1100ms to load which has forced me to increase this limit to around 40000 (~40 seconds) even if I'm not adding additional models or data :/

[2018-05-09 07:42] nitheeshskiploop opened #1150 "Can we authenticate jwt token from third party apps?"
***

I have token from firebase. Can i use this token for API calls (Bearer $token) ?

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-09 07:50] piere129 commented on #1113
Apparantly i closed prematurely. @soupette I'm not entirely sure which steps i should take now. You talk about running `npm run setup --plugins` in the generated myApp, but on the contributing guide, npm run setup gets ran on the cloned 'strapi' repository. is it correct that these are the steps to take:

1) Fork the repository to your own GitHub account.
2) Clone it to your computer git clone git

[2018-05-09 07:55] lauriejim commented on #1135
Hello @piere129 your suggestion will break mongoose application. We have to know why you have _id with SQL database. It's strange.

[2018-05-09 08:01] derrickmehaffy commented on #1135
@lauriejim I'm not sure what you mean? SQL only has one ID column `id` so I think passing the `_id` in the query is what is causing the issue (not sure why mongo has a `_id` and an `id` column  ¯\_(ツ)_/¯ )

[2018-05-09 08:25] lauriejim commented on #1105
@derrickmehaffy 40s to start an app it's not normal, we have to update the MySQL database table/column creation process.

How many models and attributes you have ?

[2018-05-09 08:29] lauriejim commented on #1150
Please check this issue https://github.com/strapi/strapi/issues/530.

If you want, update permission policy of plugin user&permissions.

[2018-05-09 08:29] #1150 closed

[2018-05-09 08:34] #902 closed

[2018-05-09 08:37] doublemarked commented on #902
@Aurelsicoko thank you very much!

[2018-05-09 08:43] Aurelsicoko commented on #1115
@derrickmehaffy Yes, it seems the good one. Don't forget to update the key in the others languages if you can.

Check out [the contributing guide](https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md#setup-development-environment) to setup the development environment. You will be able to make updates in the administration of your project and see the changes in real-time without ref

[2018-05-09 08:44] Aurelsicoko commented on #1061
@normanzb Thank you for the details, it will help us to fix it 👍

[2018-05-09 08:46] derrickmehaffy commented on #1115
@Aurelsicoko I am really only good in english :/ I could attempt a very rough and likely terrible translation using google translate but as we all know that isn't quite the same :P

[2018-05-09 08:55] Aurelsicoko commented on #1114
To resume our thoughts:

- Adding a **strict mode** that will remove the table when a content-type is deleted or when a relationship changes between two models (especially in a many-to-many case because it creates a relational table). In my opinion, we shouldn't enable this mode by default.
- **Quick vs safe** migration mode:
  -  **Quick** mode will rename, drop columns and tables.
  -  **Safe**

[2018-05-09 08:58] Aurelsicoko commented on #1148
It's okay to create PR for this. We have a better support on MongoDB so we should do the same on SQL databases.

[2018-05-09 08:58] derrickmehaffy commented on #1148
Will do @Aurelsicoko I'll get one created and submitted in the next few minutes :)

[2018-05-09 09:00] derrickmehaffy commented on #1114
That sounds exactly like what I was thinking @Aurelsicoko you just explained it a little easier. :+1: :)

[2018-05-09 09:02] Aurelsicoko commented on #1149
@krestaino I'm super happy to see this kind of issue raising up! We've already been giving some thoughts to this problem. Here a screenshot of an unexisting part of the Content-Manager settings. We're iterating on the product, and it's in our plan to offer what you ask for!

![content manager - settings view - single](https://user-images.githubusercontent.com/4144726/39805837-415133fc-5378-11e8-8b

[2018-05-09 09:04] Aurelsicoko commented on #1139
It seems to be a duplicate of https://github.com/strapi/strapi/issues/886. It has been fixed (https://github.com/strapi/strapi/pull/1081) but not released yet.

[2018-05-09 09:06] Aurelsicoko commented on #1114
Perfect, it sounds good to me as well!

[2018-05-09 09:08] derrickmehaffy commented on #1149
@Aurelsicoko I know it has been suggested before, but one tiny addition to that (and I'm not sure if this would be easy or difficult to implement) but going along with what is editable, possibly something similar to change what is shown on the content manager? Though moving them around would be nice too, simply hiding a few would be a good start in the right direction.

[2018-05-09 09:12] Aurelsicoko commented on #1115
Ahahaha why not? No, seriously don't try if you're not sure... we will be able to make the French translation on our side.

[2018-05-09 09:33] derrickmehaffy commented on #1115
I need to get a little more familiar with setting up the dev env as previous attemps haven't worked out so well :P

[2018-05-09 11:22] piere129 opened #1152 "Allow other User roles access to Admin Panel"
**What is the expected behavior?**

As of strapi 12.1.3, the administrator role is the only role that is allowed access to the Admin UI. I think it would be beneficial if we could define in the user role permissions whether or not they can access the Admin UI, and possibly restrict some access on this Admin panel.

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-09 11:42] cpof-tea opened #1153 "Model lifecycle callbacks triggering"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.1
- **Database**: remote MongoDB (mLab)
- **Operating system**: Win 7 x64

**What is the current behavior?**

`beforeCreate`, `beforeSave` and `beforeUpdate` are defined in `api/[apiName]/model/[ApiName].js`:

[code]

[code]

[code]

**Steps to reproduce the problem**

When I create a new i

[2018-05-09 11:59] raza2022 commented on #496
@soupette can you elaborate some more please then so it's so nice of you
in fact I implemented the above mentioned but no changed reflected in display then I just commented the edit component in fully still no change :( I am just confused that from where edit page rendering
help will be greatly appreciated I I will made pull request for it if able to do it for others

[2018-05-09 12:02] cpof-tea commented on #1153
And, also, I found this.
[code]
[code]
returns just simple Object with fields and values of item, but
[code]
returns a big Query object

![untitled-3](https://user-images.githubusercontent.com/29537473/39813670-fd1eef68-5399-11e8-947c-9833e802e99e.png)

[2018-05-09 14:27] Joshfindit opened #1156 "Doc request: Adding properties to a relationship"
**Informations**
- **Node.js version**:  `v9.9.0`
- **npm version**:  `5.6.0`
- **Strapi version**:  `3.0.0-alpha.11.3`
- **Database**: `mongo`
- **Operating system**: `Linux 488281af74ed 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 Linux` (via the Docker image)

**What is the current behavior?**
Cannot find documentation for storing information *about* a relationship

**S

[2018-05-09 14:40] piere129 commented on #1119
@lauriejim I also still have the issue. I'm currently at MySQL Server 5.7.22 and the error still persists

[2018-05-09 14:43] derrickmehaffy commented on #1119
@piere129 I messaged Jim on the Slack to ask if it can be re-opened

[2018-05-09 15:36] #1134 closed

[2018-05-09 16:06] mnlbox commented on #1139
Thanks @Aurelsicoko, So I'm waiting for 12.2 release. :wink:

[2018-05-09 16:46] krestaino commented on #1149
@Aurelsicoko That looks fantastic! Can't wait to play around with it.

[2018-05-09 23:35] raulriera opened #1158 "Error when saving a relation"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: nodejs
- **Operating system**: macOS

**What is the current behavior?**
When creating a model that has many to one relationship (in this example an appointment) and trying to assign the "to one" relation directly in the new appointment screen an error is displayed with

[2018-05-10 01:00] zhuang17 commented on #779
@Aurelsicoko

Hi, sorry i didn't say it clearly.
I am using different db for dev and prod ( local Mongdb for dev, and a cloud Mongdb for the prod).

[2018-05-10 01:09] liming commented on #1158
This is duplicated and fixed as #1130

[2018-05-10 05:10] kamalbennani commented on #1120
He has a missing model|collection in the Auhor attribute, isn't?

[2018-05-10 07:08] mnlbox opened #1159 "Logo not changed properly"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: LINUX

**What is the current behavior?**
Top-Left Logo not change after update.

**Steps to reproduce the problem**
I change file in below path:
`admin/admin/src/assets/images`
based on this docs: https://strapi.io/documentation/advanced/

[2018-05-10 07:15] derrickmehaffy commented on #1159
@mnlbox did you rebuild the adminUI as stated directly below that?
![image](https://user-images.githubusercontent.com/8593673/39857169-39462b9e-53e7-11e8-9776-d44b8eb26b9c.png)

[2018-05-10 08:26] mnlbox commented on #1159
No I didn't. I run that now and got below error on my terminal:
[code]

[2018-05-10 08:43] derrickmehaffy commented on #1159
Please see the related bug request: https://github.com/strapi/strapi/issues/1116

These files cannot be changed directly in the admin, the reason for the documentation you referenced is you are modifying the source of the adminUI, once modifications are done you need to rebuild it which places the rebuilt adminUI in the `build` folder which strapi uses on the default :1337 port.

[2018-05-10 08:44] derrickmehaffy commented on #1159
@lauriejim this is a duplicate issue the one noted above.

[2018-05-10 08:46] derrickmehaffy commented on #1159
@mnlbox note that with any future strapi updates that make modifications to the adminUI, strapi will replace this build folder so you will need to remodify during each update right now in order to have these changes persist during version changes.

[2018-05-10 08:49] derrickmehaffy commented on #1159
Other related issues:
https://github.com/strapi/strapi/issues/1113
https://github.com/strapi/strapi/issues/1036

[2018-05-10 08:50] mnlbox commented on #1159
So based on #1116 I need `npm run setup`?
@derrickmehaffy so I think it's better to change this issue from bug report to feature request :wink:
I think it's better to have a graphical UI form for this kind on general customization.
for example anyone need change dashboard logo and now it's a little complicate.

[2018-05-10 09:00] mnlbox opened #1160 "Support false value for boolean field default value"
**What is the expected behavior?**
Now **Boolean** field only accept **True** value for default value. I think it's more better if we can set **false** default value as well. Then we can set below value for a boolean field:
* unset
* true
* false

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-10 09:26] derrickmehaffy commented on #1159
The problem is how the application is written. The way it is setup is to allow people to build their own plugins and modify the user interface in order to rebuild it and redeploy. This is extremely common in nodejs applications like strapi. Your welcome to submit the feature request, but if this is something you feel should be done, I recommend you try and modify it yourself and submit a Pull requ

[2018-05-10 09:37] #1159 closed

[2018-05-10 09:44] lauriejim commented on #1128
@nurikabe Did you send the Authorization header ?

[2018-05-10 09:57] raza2022 opened #1161 "New Plugin development throw Errors at start"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: mongodb 3.0.6
- **Operating system**: windows 10

**What is the current behavior?**

I am getting this error of cross-env within node_modules deeply

![image](https://user-images.githubusercontent.com/5462788/39863788-13447d5e-5461-11e8-9206-903d6bfb11cd.png)

**Steps to

[2018-05-10 11:30] nurikabe commented on #1128
@lauriejim No, though I'm hoping to allow authentication from a browser without the need for a token.  In other words:  If the user has logged in to admin, I want them to be able to access any Strapi route that has my custom global policy.

How does admin authorization work?  From the code it seems to be checking against `'utils/auth'`

https://github.com/strapi/sample-strapi-app/blob/master/admin

[2018-05-10 12:06] raza2022 commented on #1161
@derrickmehaffy yes I know that usual for fast paced development project :+1:
just one more thing I reproduced the same for linux machine and result exactly same might it help to diagnose the real problem :1st_place_medal:

[2018-05-10 13:07] marcostephan opened #1162 "Auth provider always disabled on Windows"
**Informations**
- **Node.js version**: 9.7.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: Windows x64

**What is the current behavior?**
Provider authentication returns always 'provider is disabled'

**Steps to reproduce the problem**

- install strapi
- fill in provider settings (Tried google and Facebook)
- enter localhost:133

[2018-05-10 16:27] enoy commented on #1094
I use 12.0.1, how to update my project to the latest version? @lauriejim

[2018-05-10 16:53] derrickmehaffy commented on #1094
@enoy the easiest way is to generate a new project and copy over your `api` folder.

[2018-05-10 21:42] z-ax opened #1164 "Private attributes are seen in GraphQL (but not seen in API) response"
**Informations**
- **Node.js version**: 9.10.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: MondoDB 3.6.4
- **Operating system**: MacOS

**What is the current behavior?**
Private attributes can be queried with GraphQL (which is bad). But not seen with regular GET request to API (which is expected).

**Steps to reproduce the problem**
Create a model, add attribu

[2018-05-11 08:51] oeddyo opened #1165 "Drag and drop image result in repeated images inserted"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.5.1
- **Strapi version**: 12.2.2
- **Database**: mongo
- **Operating system**: mac os

**What is the current behavior?**
When I drag and drop an image in WYSIWYG editor, sometimes, it shows "Uploading" as one line, and when it's done uploading, the "uploading" line is still there.
![image](https://user-images.githubusercontent.com/

[2018-05-11 08:58] oeddyo commented on #1165
hmm... the user experience here could use some improvements since when you're trying to upload multiple images, you want to bang your head against the desk  : D

![image](https://user-images.githubusercontent.com/1943146/39916226-799be14c-553c-11e8-82fe-938ac17db85b.png)

[2018-05-11 09:02] lauriejim commented on #1165
Thank you for this report. Probably will not be fixed soon cause it's not critical stuff.

[2018-05-11 09:09] lauriejim commented on #1161
I think the plugin generator is not up to date.

If you want to create you own plugin. I think actually to copy and paste `strapi-plugin-email` and custom it. It's the more simple of our plugins.

[2018-05-11 09:26] lauriejim commented on #1162
Hello @marcostephan , thank you for reporting this issue.
Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md and submit a PR with your issue if it's fix the bug.

[2018-05-11 09:27] lauriejim commented on #1160
Hello @mnlbox, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll be glad to count you as one of our contributors!
Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 09:31] #1156 closed

[2018-05-11 09:31] lauriejim commented on #1156
Thank you @raulriera for the help.

[2018-05-11 09:32] abdonrd opened #1166 "The Strapi version in the admin does not fit"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The Strapi version in the admin does not fit.

<img width="253" alt="screen shot 2018-05-11 at 11 26 32" src="https://user-images.githubusercontent.com/1007051/39917682-9f97927a-550e-11e8-83a0-0

[2018-05-11 09:33] #1148 closed

[2018-05-11 09:34] abdonrd opened #1167 "The images in the Roles and permissions icons are wrong"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The icons in the Roles and permissions plugin are wrong:

<img width="1078" alt="screen shot 2018-05-11 at 11 26 50" src="https://user-images.githubusercontent.com/1007051/39917856-175c93fa-550f

[2018-05-11 09:35] lauriejim commented on #1135
@piere129 if your proposition work for Mongoose and Bookshelf generated applications feel free to submit a PR.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 09:41] lauriejim commented on #1132
Hello @, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll be glad to count you as one of our contributors!
Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 09:42] #1120 closed

[2018-05-11 09:45] lauriejim commented on #1119
Can you guys @piere129  and @derrickmehaffy find a way to fix it please. It will help us a lot :)

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 09:50] #1106 closed

[2018-05-11 09:53] lauriejim commented on #1082
@nurikabe Can you please give us an update about this issue?

[2018-05-11 09:54] lauriejim commented on #1077
Hello @derrickmehaffy , thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate it!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 10:00] lauriejim commented on #1055
Yes it's the same topic. I think the best wait it to discus on #661, define specs on it.
When it's done @Aurelsicoko write a resume of it and then we lock the conversation.

[2018-05-11 10:00] #1055 closed

[2018-05-11 10:02] lauriejim commented on #1039
@oeddyo feel free to follow @soupette instruction to submit a PR. Will appreciate your contribution.

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 10:04] Aurelsicoko commented on #1058
@dsheyp You're not the first one to report me this issue. Can you open another issue?

[2018-05-11 10:04] lauriejim commented on #1037
I think it's the same issue of #1135 !

[2018-05-11 10:04] #1037 closed

[2018-05-11 10:06] Aurelsicoko commented on #1152
I'm closing the issue because the feature is one of our top priorities after the stabilization part and it's the most up-voted feature on the community vote page.

[2018-05-11 10:06] #1152 closed

[2018-05-11 10:07] lauriejim commented on #1027
Hello @XcrossD can you please update your Strapi version, try with new project and tell me if the issue persist.

[2018-05-11 10:09] lauriejim commented on #1011
Can you please give us an update about this issue?

[2018-05-11 10:09] #1005 closed

[2018-05-11 10:09] Aurelsicoko commented on #1149
@derrickmehaffy Great suggestion! I'm keeping it in mind, we could definitely add another option in the screenshot to hide fields or select the ones to show 👍

[2018-05-11 10:13] Aurelsicoko commented on #779
Okay, so it makes sense that the permissions are not the same, etc. We're going to offer a way to migrate configuration data from an environment to another, see https://github.com/strapi/strapi/issues/672#issuecomment-381662918.

Can you confirm me that there is no issue so I'll be able to close this one?

[2018-05-11 10:13] lauriejim commented on #995
@scipe Can you please follow @soupette instruction and submit a PR to fix this issue please.
We’ll be glad to count you as one of our contributors!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-11 10:14] #987 closed

[2018-05-11 10:14] raza2022 commented on #1161
@lauriejim

![image](https://user-images.githubusercontent.com/5462788/39919566-733949ac-552d-11e8-972b-9966fee3de18.png)

that the actual case :) actually I want to update content-type-builder plugin to support `json` types as you can see above. when I event failed to event make build for it then I go with new plugin development to just clone content-type-builder with my customization to support

[2018-05-11 10:15] #968 closed

[2018-05-11 10:17] oeddyo commented on #1165
understood

I tried to report everything we encountered to make the community stronger.

However I think it is critical if you use strapi for real to manage a realistic project, and I think that should be what Strapi is going right? Not just a cool project but a truly viable project used by real companies and real people :D

But per your comment, I do agree you guys have more important stuff on yo

[2018-05-11 10:25] lauriejim commented on #932
It works on `register` function but not on user entry creation from `content manager`.

[2018-05-11 10:26] lauriejim commented on #931
This issue already exists, please browse the list of opened or closed issues.
Please check https://github.com/strapi/strapi/issues/1152

[2018-05-11 10:26] #931 closed

[2018-05-11 10:28] lauriejim commented on #927
I don't have time to investigate on this point and check if we did an error on providers implementation.
This question will stay in standby for me.

[2018-05-11 10:30] lauriejim commented on #922
We will not work on this point. Please use a VPN to be able to bypass this issue.

[2018-05-11 10:30] #922 closed

[2018-05-11 10:32] lauriejim commented on #908
@HorvathDavid and @changalberto any update about this issue please.

[2018-05-11 10:34] Aurelsicoko commented on #661
To make a resume on this issue and the related #1055, here are my thoughts:

- We should remove the automatic pluralization of the model' names in the left menu.
- We should offer a way to customize the link value in the left menu. I thought that the `Configurations` link at the bottom of the menu can be the right place to do that. It also means that we need to take care of the i18n support (in an

[2018-05-11 10:36] lauriejim commented on #877
Hello guys @oeddyo @XcrossD can you update your Strapi version and tall me if it's still happen.

[2018-05-11 11:02] derrickmehaffy commented on #1119
@lauriejim can you provide some context as to how strapi generates the date time?

IE how does strapi get this value: `2018-05-03T13:11:33.000Z`

[2018-05-11 11:10] nurikabe commented on #1082
@lauriejim I think we can close this.  I can see now that I can define any public route from basically any `routes.json` definition file.

I'm blocked by https://github.com/strapi/strapi/issues/1128.  If I can figure that out then I can create arbitrary routes outside of admin that allow access depending on admin authentication state.

[2018-05-11 11:10] #1082 closed

[2018-05-11 11:10] derrickmehaffy commented on #661
1. `We should remove the automatic pluralization of the model' names in the left menu.` Agree 100%, I understand why they default to plural (generally you are storing multiple users, thus user -> to users), but in this case if someone wishes to use a plural form they could just name it as such. Obviously the backend api can still use these forms but for the left menu it really shouldn't be there

[2018-05-11 11:11] derrickmehaffy commented on #1119
@Aurelsicoko maybe you can also help provide some info on how the above is generated ^

[2018-05-11 12:04] derrickmehaffy commented on #1119
Alright I think I found part of the issue:

[code]

Mysql/Mariadb don't accept the time zone in the `timestamp` field

[2018-05-11 14:35] abdonrd opened #1168 "Improve the Content Types display names"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

<img width="1440" alt="strapi-names" src="https://user-images.githubusercontent.com/1007051/39929498-7e2387dc-5538-11e8-965a-fc95d4dd671c.png">

* In the first left sidebard you see `Conferencee

[2018-05-11 15:15] abdonrd opened #1169 "Error with the Array field type"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

I have an `Author` model with an `aliases` array field:

[code]

I make a `POST http://localhost:1337/author` with:

[code]

And the result is:

[code]

**Steps to reproduce the problem**

Follo

[2018-05-11 15:26] abdonrd commented on #870
Seems to be only from the admin panel.

If I use a `PUT /model/:id` it works.

[2018-05-11 16:01] abdonrd commented on #1168
Also when I select the `Conferences` content type:

![conferences](https://user-images.githubusercontent.com/1007051/39934142-36559956-5545-11e8-95a7-31f3bf8e0ec2.jpg)

But when I select the `Conferenceeditions` content type the both content types are selected:

![conference-editions](https://user-images.githubusercontent.com/1007051/39934168-4c3ff036-5545-11e8-8102-85cc404db711.jpg)

[2018-05-11 20:39] jamesscholeyweb commented on #1061
I am also experiencing this issue with nested queries:

[code]

Correctly returns

[code]

However if I nest a query for all posts of an author null is returned on the posts

[code]

Returns

[code]

[2018-05-12 09:27] T-Zahil commented on #581
Same probleme here, and I use the latest version.

`{
      "method": "GET",
      "path": "/product/:category/:id",
      "handler": "Product.findOneByCategory",
    },`

This route always return the last entry.

[2018-05-12 16:15] SerQuicky opened #1172 "Errors install plugin / create project when app folder path contains a space on Windows"
- **Node.js version**:9.8.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:MongoDB
- **Operating system**:Windows 7

I installed the newest version of strapi and tried to create a new project.
After the submit of the database configuration, I am getting multiple errors, but the installation still completes. I can start the strapi-server but when I try to open the ad

[2018-05-12 16:41] derrickmehaffy commented on #870
@soupette Can you take a look at this, it seems the adminUI is what is causing the issue. Moment.js isn't properly formatting the datetime codes.

[2018-05-12 16:47] derrickmehaffy commented on #1161
@raza2022 it looks like your trying to dev on windows correct? The strapi team have stated before there are known issues, if you absolutely have no other option, please see the end of this issue: https://github.com/strapi/strapi/issues/680

You will need to setup the WSL on windows (I recommend the Ubuntu one) and develop through bash.

Alternatively you could setup a linux virtual machine in some

[2018-05-12 16:50] derrickmehaffy commented on #1168
@abdonrd yes the custom left panel names is something the strapi team will be working on. I think they have a few more stability things planned in the near future but I would expect this type of feature rolling out within the next few weeks to months.

Also something odd is going on with your interface there 😛

[2018-05-12 16:51] derrickmehaffy commented on #1166
@soupette I think this falls in your realm.

[2018-05-12 17:12] peder1001 opened #1173 "Decimal fields being created as DECIMAL(10,0) in MYSQL 5.7 (0 precision)"
**Informations**
- **Node.js version**: 8.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0
- **Database**: MySQL 5.7
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
When creating a decimal field, the field ends up with Datatype DECIMAL(10,0) in MYSQL.

**Steps to reproduce the problem**
In content type builder, add a new field of type decimal and save.

**What is t

[2018-05-12 17:38] peder1001 commented on #1173
Will try the following and see if it helps.

@ node_modules\strapi-bookshelf\lib\index.js

from:

 case 'float':
                          case 'decimal':
                            type = attribute.type;
                            break;

to:

                          case 'float':
                            type = attribute.type;
                          break;
                          cas

[2018-05-12 17:40] peder1001 commented on #1173
^^ this fixed my problem, but unsure of correct solution for others. Something to consider in your generic fix.

[2018-05-12 17:42] derrickmehaffy commented on #1173
@peder1001 you can use the float type which will use the `double` field type. It will give you the precision your looking for.

[2018-05-12 17:50] peder1001 commented on #1173
Maybe float is better for my case anyway. Thanks for the suggestion. But is this as intended that decimals should be added as 10,0 for mysql?

[2018-05-12 18:30] SerQuicky commented on #1172
I think the problem comes from my site, my profile folder got a whitespace and the git cmd has a problem with that. Just asked a friend to create and send me a strapi project and this project just works perfect.

[2018-05-12 19:46] OwenCalvin opened #1174 "UploadFile is null, using GraphQL"
**Informations**
- **Node.js version**:
8.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.1.3
- **Database**:
MongoDB
- **Operating system**:
Windows 10

**What is the current behavior?**
FileUpload is null when we query a object with two or more levels
But when we query the first level of the UploadImage we can get his attributes
[https://ibb.co/m7uJYy](url)
[https://ibb.co/dME

[2018-05-12 20:01] OwenCalvin opened #1175 "Error messages"
**Informations**
- **Node.js version**:
8.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.1.3
- **Database**:
MongoDB
- **Operating system**:
Windows

**What is the current behavior?**
The returned error message isn't clear

**Steps to reproduce the problem**
Post an object that is already exist and the field that we insert duplicate data is "unique"
We get (returned response):

[2018-05-12 21:05] derrickmehaffy commented on #1175
@OwenCalvin Node 9 or above is required to use strapi Alpha 12

[2018-05-12 23:01] mintyPT commented on #914
Had the same issue. I don't understand the logic. How can I help?

[2018-05-12 23:05] antipin commented on #914
@mintyPT I've temporary fixed it by adding `fixCors` midddleware, that looks like:
[code]

[2018-05-12 23:24] steveinatorx opened #1176 "admin UX data confusion issues ?"
**Informations**
- **Node.js version**: 10.0.0
- **npm version**: 6.0.1
- **Strapi version**: Version: 3.0.0-alpha.12.1.3 (node v10.0.0)
- **Database**:  mongo 3.6.4
- **Operating system**: mac osx

**What is the current behavior?**
using the admin content type builder to create a new content type works. But when viewing the content type which is currently empty of objects the UX fills the view wi

[2018-05-12 23:54] abdonrd opened #1177 "Add full text search option to the API"
**What is the expected behavior?**

For example, how to add a search option to the `User` content type by `username` & `email`?

Example: `GET /user?search=abdon` (I'm not sure if it's the correct syntax)

And should return to users like:
* `username`: `Abdón`
* `username`: `abdon`
* `username`: `abdonrd`
* `email`: `abdon@domain.com`
* `email`: `name@abdonrd.com`

---

- ✅ I'm sure that this issu

[2018-05-13 00:08] carmelyne commented on #779
@Aurelsicoko I am using the same type of db (MongoDB) for both dev and production (self hosted MongoDB on ubuntu). Also, still experiencing the same problem.

I would normally give you a step by step but I just can't recreate it.

Although, if I create a new role, I can see all the collections again, and, for example, check find and findone just fine.

No matter what I do, even running dev mode on

[2018-05-13 01:11] kamalbennani opened #1178 "Virtual Association's Fields are not correctly populated"
**Informations**
- **Node.js version**: v9.6.1
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: Ubuntu

Before describing my problem, I'd really like to thank you for your efforts, you're doing pretty amazing job.

**What is the current behavior?**
I am facing a little problem when defining and querying models/entries.
I know that

[2018-05-13 01:17] carmelyne commented on #779
Side note: Dropping **users-permissions_permission** and _restarting the server_ resolved the issue. Thanks for that info @zhuang17.

[2018-05-13 08:31] lauriejim commented on #1168
I close this issue. It's have been linked to #661 .

[2018-05-13 08:31] #1168 closed

[2018-05-13 08:35] lauriejim commented on #1169
Hello @, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-13 08:39] lauriejim commented on #1172
Hello @, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll  be glad to count you as one of our contributors!

@SerQuicky has said `Kamal` on slack, just use an other folder without space.

Check out the contributing guide to get started: https://github.com/str

[2018-05-13 08:40] lauriejim commented on #1172
And I think it's a really easy first issue to fix.

[2018-05-13 08:41] #1173 closed

[2018-05-13 08:47] lauriejim commented on #1167
@abdonrd are in in live or dev mode ?

[2018-05-13 08:52] abdonrd commented on #1167
@lauriejim with `strapi start` after a fresh installation.

[2018-05-13 08:58] lauriejim commented on #1175
Hello @, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll be glad to count you as one of our contributors!

Probably just have to catch this error and send the correct error code.

Check out the contributing guide to get started: https://github.com/strapi/str

[2018-05-13 09:01] lauriejim commented on #1176
@steveinatorx Can you give me your `Advertiver.settings.json` file please.

[2018-05-13 09:03] lauriejim commented on #1176
I'm not able to reproduce your issue. And I'm not sure to understand your issue very well.

[2018-05-13 09:33] lauriejim commented on #1177
@abdonrd You are talking admin search in admin UI and/or with API route ?

Actually we are using filters in generated API. We have `_contains` options. And `_search` is something like `username_contain=abdon` of `email_contain= abdon`.
And that is apply to all attributes of the model you want.

So if you want implement it on your side you will have to transform `params` of this function https://gi

[2018-05-13 09:40] abdonrd commented on #1177
@lauriejim I'm talking about the API, but having it in the admin would not hurt.

[2018-05-13 09:41] #841 closed

[2018-05-13 09:41] abdonrd commented on #1177
Another good example:

I have a `Document` model with:
* `title`
* `summary`

The user wants to find a document. The search option must also search both fields at the same time.

[2018-05-13 09:43] lauriejim commented on #823
@abdonrd Can we close this issue since we merged your PR #1122 ?

[2018-05-13 09:47] abdonrd commented on #823
@lauriejim I think it can stay open. There are still files that could be deleted like the `.npmignore`s.

[2018-05-13 09:50] abdonrd commented on #784
Add more references in the first post:

* https://github.com/strapi/strapi/issues/761: Allow Array of relations objects field type
* https://github.com/strapi/strapi/issues/1169: Error with the Array field type

[2018-05-13 09:51] abdonrd commented on #1167
@lauriejim and same thing in the staging deployed version.

[2018-05-13 11:52] abdonrd commented on #1177
I just tried with:

`GET /user?username_contains=abdon&email_contains=abdon`

But it seems to need to match both `contains` conditions.
There are any option right now to allow return with only one match?

[2018-05-13 13:58] steveinatorx commented on #1176
Advertiser.settings.json
[code]

[2018-05-13 14:33] steveinatorx commented on #1176
so i just did two additional fresh installs and i am seeing the same behavior as above.  I CAN however properly create content types with other names rather than 'Advertisers' which is making me think there is some internal naming clash going on.

[2018-05-13 19:34] raulriera opened #1179 "Debug mode for database"
**What is the expected behavior?**
It would be beneficial to see all the queries happening in the background when running strapi in development mode.

I have hacked it into place by modifying these files

`/config/environments/development/database.json`
[code]

`/node_modules/strapi-mongoose/lib/index.js`

[code]

There is no UI for this, could create a PR if this is the desired approach

---

- [

[2018-05-13 20:08] raulriera commented on #1179
Maybe it should do the same for the routes? 🤔

[2018-05-14 02:55] raulriera opened #1180 "Support for testing"
**What is the expected behavior?**
There doesn't seem to be any tests in the library or in many of nested sub modules. It would be nice to have some sort of testing architecture in place, once in. I would love to fill in some tests. Still finding my way with nodejs, wish I could help out more

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-14 03:54] hbakhtiyor commented on #1086
would be nice to see in strapi

[2018-05-14 05:19] hbakhtiyor opened #1182 "Consider using Loopback Next for back-end framework"
**What is the expected behavior?**
Would be nice to see [Loopback Next](https://loopback.io/doc/en/lb4/Crafting-LoopBack-4.html) (different from old loopback 3.x version) vision and extend on top of the framework

https://github.com/strongloop/loopback-next/

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-14 05:59] hbakhtiyor opened #1183 "Can't install strapi-cli globally with yarn"
**Informations**
- **Node.js version**: v10.1.0
- **yarn version**: 1.6.0
- **Strapi version**: latest of alpha version
- **Database**:
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Can't install strapi-cli globally with yarn

**Steps to reproduce the problem**
just run the following command
`yarn global add strapi@alpha`

**What is the expected behavior?**

**Suggested s

[2018-05-14 06:44] mintyPT commented on #914
@antipin  If I have strapi as a clone and not a node_module, you method will work fine obviously. :) But, since it's possible to override middlewares, I wanted to do it that way except it's not overriding... Not sure what I'm doing wrong, but I tried:

[code]

[code]

Nothing worked, any ideas?

[2018-05-14 06:50] mintyPT commented on #914
**Quick update**

If I do this,

[code]

Then the middleware is loaded. Is there a problem with overrides?

[2018-05-14 06:53] antipin commented on #914
You should unlist original cors middleware from  config and add your cors2
to the list.

On Mon, 14 May 2018 at 08:50, mintyPT <notifications@github.com> wrote:

--

Best regards, Alexander

______________________________________________________________________
linkedin.com/in/alexantipin <https://ru.linkedin.com/in/alexantipin>
alex@antipin.com
skype: alex_antipin

[2018-05-14 08:16] lauriejim commented on #1180
Hi @raulriera, we are actually working on framework tests.

[2018-05-14 08:37] lauriejim commented on #1176
I thin we can link to this issue https://github.com/strapi/strapi/issues/791

[2018-05-14 08:41] lauriejim commented on #581
@T-Zahil Can you please open a new issue, following the issue template.

[2018-05-14 08:43] derrickmehaffy commented on #1119
As I stated in the related issue the issue is with the adminUI and how moment.js is formatting the timestamps:

[2018-05-14 08:44] mintyPT commented on #914
That is not a bad idea! I'll do it once I get home.

[2018-05-14 08:44] derrickmehaffy commented on #1119
@soupette when you get a moment can you explain how these tie into the adminUI and how we could change the format? All my attempts to modify this have resulted in the adminUI not loading after building

[2018-05-14 09:26] soupette commented on #1165
Hi @oeddyo when you say ***trying to upload multiple images*** do you mean uploading them at the same time or one by one?

Because if you're trying to upload them at the same time, the feature is not developed in the WYSIWYG yet...

[2018-05-14 10:32] Aurelsicoko commented on #661
About the point 2, we shouldn't store in a file. Imagine the case when the marketing team want to rename a link in the menu in production? If we are storing the data in the file, it means that we should deploy again for a minor front-end change... This is not optimal. I still think we should use the Core Store API for storing this kind of front-end information

[2018-05-14 10:35] Aurelsicoko commented on #779
@carmelyne I'm almost sure it was related to duplicate entries in the `users-permissions_permission` table. I'm closing the issue but I won't lock the conversation. Feel free to ping me if the issue re-appears again.

[2018-05-14 10:35] #779 closed

[2018-05-14 10:47] Aurelsicoko commented on #1061
@kamalbennani Thank you for trying to fix the issue, I really appreciate 👍

You can open a PR with your fix and we'll take a look. It seems nice!

[2018-05-14 10:49] Aurelsicoko commented on #1179
@raulriera You can already add the `debug` property in the `database.json` configurations file.

[code]

It's working pretty well with Bookshelf. I'm not sure it's supported by our hook `strapi-mongoose` though.

[2018-05-14 11:19] #795 closed

[2018-05-14 11:28] derrickmehaffy commented on #661
@Aurelsicoko fair point, considering this variable is only going to affect the frontend adminUI.

[2018-05-14 11:31] lauriejim commented on #575
Work on alpha.12.1.3 since the work we did on relations stabilization.

[2018-05-14 11:31] #575 closed

[2018-05-14 11:32] derrickmehaffy commented on #1179
@Aurelsicoko I wasn't even aware of this on bookshelf. Might have saved me a few headaches doing some troubleshooting 😛

I don't see any detailed information for the debug function in the strapi docs (Minus a single reference in the example config):
https://strapi.io/documentation/configurations/configurations.html#database
https://strapi.io/documentation/configurations/configurations.html#dynamic

[2018-05-14 11:49] piere129 opened #1186 "Relations with 1-N to same content-type becomes 1-1 relation"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**

Adding a relation from a content-type to itself does not work for 1-N relations. After creation of the content-type, the server restarts and clicking on the content-type shows that the relation

[2018-05-14 11:50] derrickmehaffy commented on #1186
I have noticed this as well when looping a relation back on itself.

[2018-05-14 12:32] #644 closed

[2018-05-14 13:07] derrickmehaffy opened #1189 "Strapi does not properly use Unique field type with Bookshelf"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

When setting a field as `unique` and using MySQL, strapi still allows for duplicate values to be written to the database. (Note that strapi does not create and apply a `UNIQUE`

[2018-05-14 13:18] hbakhtiyor commented on #952
@lauriejim
i've the same issue while creating new project with fresh strapi installed,

[code]

[2018-05-14 13:40] derrickmehaffy commented on #1119
Doing some testing, then we can prob close this @lauriejim it should be related to this PR: https://github.com/strapi/strapi/pull/1187

[2018-05-14 13:41] derrickmehaffy commented on #1119
@piere129 if you want to test the latest changes too that would be great.

[2018-05-14 14:07] kamalbennani commented on #1183
Up till now, strapi is only compatible with npm.

[2018-05-14 14:27] raulriera commented on #1179
Oh, I didn't think of putting it in there because everything in `options` was tied as `connectionOptions` which I thought it was for the initial connect only. I'll test it out and change my PR then

[2018-05-14 14:45] derrickmehaffy commented on #1189
postgres does allow for unique constraints which differs from MySQL:, but still allows for multiple `NULL` entires: https://www.postgresql.org/docs/9.3/static/indexes-unique.html

MySQL handles `unique` as an index and needs a key assigned (similar to the primary key) where `unique` values are indexed, allows for multiple `NULL` entires

MongoDB `unique` works, but not completely as intended as `N

[2018-05-14 14:53] derrickmehaffy commented on #1189
As a side note for relations it should in the future use foreign keys as well, while not a hard requirement, this should be done to keep in line with most database designs.

[2018-05-14 14:53] derrickmehaffy commented on #1189
https://dev.mysql.com/doc/refman/5.6/en/create-table-foreign-keys.html

[2018-05-14 15:27] gfelot opened #1191 "Bulk create data"
**What is the expected behavior?**
Be able to POST an Array of a "Content type" and add multiple records of a specific data

If I have time I can look at the code and understand how I can add a `addBulk` method to the `\services` with a PR.

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-14 15:28] derrickmehaffy commented on #1191
Please do, I've noticed the same that you can only post 1 record at a time.

[2018-05-14 15:51] lauriejim commented on #1189
Hello @, thank you for reporting this issue. Can you help us on this point, will appreciate your contribution!

[2018-05-14 16:08] derrickmehaffy commented on #1189
@lauriejim I'll see what I can do, I'm not really sure I completely understand how bookshelf itself works 😛

[2018-05-14 16:19] derrickmehaffy commented on #1189
@lauriejim it looks like this is something that needs to be modified in knex:

http://knexjs.org/#Schema-unique

http://knexjs.org/#Schema-foreign

[2018-05-14 16:38] derrickmehaffy commented on #1189
It looks like bookshelf is grabbing the `unique` variable from the model config to push to the database here:
https://github.com/strapi/strapi/blob/master/packages/strapi-bookshelf/lib/index.js#L400-L458

[2018-05-14 17:08] peder1001 commented on #1119
I too would like to test the changes. Had the same issue

[2018-05-14 18:04] derrickmehaffy commented on #1119
It is working as intended however after cloning the Strapi Master branch:

- run `npm run setup:build` in the repo folder
- create a new project with --dev (important)
- run `npm install` in the project folder
- Start and test

No more datetime errors appear and only `updatedAt` is actually updated on changes. Note if you don't start with --dev the changes in the PR are not applied.

Nice job @sou

[2018-05-14 19:06] abdonrd commented on #761
@lauriejim any recommendation about how to deal with this?

(right now the admin UI is not important for me)

[2018-05-14 21:54] Lengatox commented on #997
hi @Aurelsicoko, as always thanks for your help, but i tryed to execute the solution that you recomend above, just with little changes like this:

`module.exports = {
  definition: `
    type Wllogin {
      _id: String
      created_at: String
      updated_at: String
      status: Boolean
      errorMessage: String
      button: Lbutton
      link: Llink
      form: Lform
      design: Ldesign

[2018-05-15 02:44] XcrossD commented on #1027
@lauriejim Just tested with alpha.12.1.3, the error message becomes ` Cast to ObjectId failed for value "1.11111111111" at path "test"`
Data structure:
![capture](https://user-images.githubusercontent.com/6669029/40033874-e54f1862-582c-11e8-9431-2a4c585c782f.PNG)
![capture2](https://user-images.githubusercontent.com/6669029/40033881-e8906f62-582c-11e8-8c46-cb18348e8c27.PNG)

[2018-05-15 03:02] XcrossD opened #1194 "String data gets converted into number format"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
alpha.12.1.3
- **Database**:
mongodb
- **Operating system**:
windows 10

**What is the current behavior?**
If a large number is typed in string field, it is converted to a string with scientific notation.
E.g. 1111111111111111111111111 becomes 1.1111111111111111e+24

**Steps to reproduce the problem**
Type

[2018-05-15 05:34] derrickmehaffy commented on #1194
@xcrossd if you manually update the database does mongo do this automatically?

[2018-05-15 05:44] XcrossD commented on #1194
@derrickmehaffy Manually changing the field values in mongo is okay. It retains what I inputted.

[2018-05-15 06:32] piere129 commented on #1135
I just got the same error as #1037 but with a mongoose database when calling GET /user/:id , looking into what could be the issue

[2018-05-15 06:35] piere129 commented on #1135
@omar1989omb

[2018-05-15 10:17] lauriejim commented on #1194
Hello @XcrossD It's completely related to the same issue as #995. Let discuss about this point on #995.

[2018-05-15 10:17] #1194 closed

[2018-05-15 10:31] okaris commented on #379
Is this not implemented in the admin frontend?

[2018-05-15 10:32] lauriejim commented on #761
Hey @abdonrd. The best way actually is to create a `Author` model which have a relation with `Company` and `Writer`. And your `Document` model has a relation with many `Authors`.

[2018-05-15 10:38] lauriejim commented on #1119
We will link further issue to this one and class it as duplicate.
Thank you for the update @derrickmehaffy

[2018-05-15 10:46] Aurelsicoko commented on #379
You're right, we didn't implement the one-way relationships in the UI. You can up-vote this message if you think this is really important for you. Otherwise, you can do it manually by following the documentation https://strapi.io/documentation/guides/models.html#one-way

[2018-05-15 10:47] okaris commented on #379
@Aurelsicoko I will do it and submit a PR if thats allright. Thanks for the swift reply!

[2018-05-15 12:59] Norbz commented on #514
same issue here. Deployed on a VPS.
Tried to run setup with --plugins but ended up getting an error (even on local)

When running setup on my VPS, I get no error, but then the admin panel can't be accessed.

[2018-05-15 13:16] soupette commented on #514
@Norbz you need to delete the analytics plugin in order to launch the command with the `--plugins` options.

Also what is your current version of Strapi?

[2018-05-15 13:25] Norbz commented on #514
@soupette My current strapi version is strapi@3.0.0-alpha.12.1.3

Resolved it for now by removing the build folder from the npmignore, this way my CI pushes the build folder onto the production server.

This is my first try with strapi, coming from keystoneJS, but I find it very confusing to push the builded admin to git, and not on npm package, but I understand this allows to deploy the API witho

[2018-05-15 13:44] erikvullings commented on #630
Unfortunately, there is still no option to vote for this feature. In the mean time, I've created a simple CLI, [strapi-to-typescript](https://www.npmjs.com/package/strapi-to-typescript), to generate typescript interfaces from the api/models/**.settings.json files.

[code]

[2018-05-15 15:17] derrickmehaffy commented on #1189
After talking with @lauriejim this feature is known not to be implemented. In the mean time as a temp patch, you can manually modify your database to add unique key indexes as Strapi will not overwrite this.

The same should also apply to foreign keys as well as bookshelf/knex are not looking for, nor writing these keys.

[2018-05-15 15:28] johannpinson opened #1198 "Tracking Issue - Some words are not handled well for Model names (Pluralization, ect) and reserved words"
# Edited by @derrickmehaffy on 2021/03/29

This issue has been converted to a global tracking issue regarding certain english or other language words that fail to work when building models. There are various examples, and for the moment the workarounds mean excluding these words from use and doing things like:

`news` => `newsItem` ect

---

**Informations**
- **Node.js version**: 8.9.1
- **npm ve

[2018-05-15 15:50] Aurelsicoko commented on #1191
@gfelot Don't be afraid to make a PR, we will be glad to help you and answer your questions. Here the link to the[ contributing guide](https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md) to get started.

You will certainly have to edit these files (especially the `add` action):
- https://github.com/strapi/strapi/blob/master/packages/strapi-generate-api/templates/mongoose/service.

[2018-05-15 15:54] Aurelsicoko commented on #997
@Lengatox So it means there is an issue here...

[2018-05-15 15:56] lauriejim commented on #1176
I really can't reproduce your issue.
@steveinatorx can you give me exact steps, click by click what are you doing to have this issue.

[2018-05-15 15:58] lauriejim commented on #1175
This issue is completely related to this one https://github.com/strapi/strapi/issues/1189.

[2018-05-15 15:58] #1175 closed

[2018-05-15 16:04] Aurelsicoko commented on #1198
Great question... It's complicated because we're going to follow the [OpenCRUD specs](https://github.com/opencrud/opencrud/) and this case doesn't seem to be handled. I'm going to ask how we should deal with this case.

[2018-05-15 16:08] #1061 closed

[2018-05-15 16:11] lauriejim commented on #1027
@XcrossD Did you test with a fresh new application ?

[2018-05-15 16:12] #791 closed

[2018-05-15 16:26] derrickmehaffy commented on #1189
Modified title to better reflect my findings for all 3 databases: Mongo, Postgres, and MySQL

[2018-05-15 16:31] derrickmehaffy commented on #1182
@hbakhtiyor due to the development progress on loopback next, I don't forsee this coming in the near-future. It might be possible further on but since loopback 4x is still in a dev preview state, it might be a while. 😛

[2018-05-15 16:42] johannpinson commented on #1198
I know, i already have the problem with Prisma (who manages the OpenCRUD docs) about this problem: https://github.com/prismagraphql/prisma/issues/1772
In fact, the use a scala library to detect singular/plural words and blocks some of them.

[2018-05-15 19:36] akearney2 opened #1200 "Injectable components not pulled in by ExtendComponent"
**Informations**
- **Node.js version**: 9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: mongo 3.6.3
- **Operating system**: MacOS 10.12.6

**What is the current behavior?**
Injected components are not fetched by ExtendComponent.

**Steps to reproduce the problem**
1. create a plugin with an injectedComponent
2. follow the documentation to add an ExtendedComp

[2018-05-15 19:59] steveinatorx commented on #1176
its the oddest thing - everything in the admin UX works fine - including creating content types and new objects - until i create a new content type called 'advertiser' with the String Field 'Name'. When i try to click the Advertisers menu item - this console error comes up:

![screenshot 2018-05-15 12 47 48](https://user-images.githubusercontent.com/4932399/40080139-f2f42bc6-583e-11e8-911b-387bb58

[2018-05-15 20:02] derrickmehaffy commented on #1105
Sorry @lauriejim I just saw this reply.

I have about 20 models, most of which will have less than 10 attributes but one of them has about 34. This isn't counting the ones installed by strapi (both models and attributes)

This isn't quite up to date but: https://github.com/canonn-science/CAPIv2-Strapi is my test repo. I still have more to add 😛

[2018-05-16 01:26] XcrossD commented on #1027
@lauriejim `strapi new myProj` with alpha.12.1.3, used the same database hosted on mLab.

[2018-05-16 07:04] kuongknight opened #1202 "Make type of id configurable"
**What is the expected behavior?**
I used uuid for id from strapi v2 (postgresql) and I try to update to strapi v3
I can't start application because strapi automatic cast related field to integer
I think we should add configurable for id type

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-16 07:32] Perseus commented on #730
I'm having the same issue right now. Could someone tell me how this was resolved? I tried using the raw request as well. Not sure what I'm doing wrong :|

![](https://i.gyazo.com/a5d9ba9143ce129743e191b9c02d47ef.png)

[2018-05-16 07:49] derrickmehaffy commented on #730
@Perseus use the `x-www-form-urlencoded` not the body. But also you have an extra comma in there 😛

[2018-05-16 08:06] raza2022 commented on #1161
ok after switching to Linux I made working that comment will help a lot :+1:
https://github.com/strapi/strapi/issues/680#issuecomment-381018295

[2018-05-16 08:06] #1161 closed

[2018-05-16 08:06] derrickmehaffy opened #1203 "Boolean values in API response are not true/false"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 6.0.1
- **Strapi version**: Monorepo 76bb31970f63a86e6976b5406b35d3239d8877b6 (Current Master as of 2018/5/15)
- **Database**: MariaDB v10.2.14
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

When using MySQL, and storing a boolean value, the `tinyint` column type is used thus storing false as `0` and tr

[2018-05-16 08:08] derrickmehaffy commented on #1161
@raza2022 glad to know it helped 👍 I know the strapi team are working hard and will likely focus on fixing the development on windows in the future. 😄

[2018-05-16 08:43] Perseus commented on #730
@derrickmehaffy holy crap, thank you so much! I thought I had already tried that, but apparently, I hadn't. Thanks for the help!

[2018-05-16 08:57] #1166 closed

[2018-05-16 09:04] johannpinson commented on #1198
@Aurelsicoko
Actually, Prisma blocks words which are invariable.

And in the [OpenCRUD doc](https://github.com/opencrud/opencrud/blob/master/spec/2-relational/2-2-queries/2-2-1-toplevel.md#naming), it talks about using the java library `evo-inflector` (because Prisma is built with Scala/Sangria) and it lists 51 words invariable.

Moreover, it looks like Strapi use the `pluralize` lib, so we can de

[2018-05-16 09:55] dj-hedgehog commented on #1202
Cuong and I are working together using Postgres type UUID for all IDs.

We added the `uuid-ossp` extension to our Postgres DB Docker image via `CREATE EXTENSION IF NOT EXISTS "uuid-ossp";`

[2018-05-16 10:00] soupette opened #1204 "🚀 Add filter options in the Content Manager plugin"
**Informations**
- **Node.js version**: v.9.10.1
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: Mongo, Postgres

I'm opening this issue to make the community aware that the filter actions in the `content-manager` plugin is under development.

[2018-05-16 10:01] soupette commented on #1204
Currently working on the basics components of the front-end part.

[2018-05-16 10:05] derrickmehaffy commented on #730
No problem @Perseus

[2018-05-16 10:08] derrickmehaffy commented on #1176
@lauriejim give me a moment and I'll spin up a fresh one off the current master and the current release build to check

[2018-05-16 10:15] derrickmehaffy commented on #1176
@lauriejim I think I know the cause here, this may have something to do with a client side ad-blocker. As I have one installed in chrome (ublock origin) and I am getting some odd responses as well and its triggering my ad-blocker:

![image](https://user-images.githubusercontent.com/8593673/40111352-685d032e-58b7-11e8-8c0c-e9a11eff7af1.png)

[2018-05-16 10:17] derrickmehaffy commented on #1176
@steveinatorx What browser are you using and do you have any adblocking extensions enabled?

[2018-05-16 10:19] derrickmehaffy commented on #1176
Disabling adblocking allows me to use the adminUI normally:

![image](https://user-images.githubusercontent.com/8593673/40111491-d5f4d2fe-58b7-11e8-859b-e455577f6570.png)

![image](https://user-images.githubusercontent.com/8593673/40111508-df7f4764-58b7-11e8-91b3-27cd147bacc5.png)

Which makes sense as most adblocking extensions do have some function to trigger and look for `ads`, `advertiser`, ec

[2018-05-16 12:20] abdonrd commented on #761
@lauriejim But in that way... I can't create the `Document` at once, right?

I need to do `POST /document`:

[code]

And not:

1. `POST /documentauthor`:

[code]

2. `POST /document`:

[code]

[2018-05-16 13:38] lauriejim commented on #761
Yes @abdonrd that's it. Actually I have no idea of how did it in one request.
This relational data structure has not be imagined and implemented in Strapi.

[2018-05-16 13:39] abdonrd commented on #1176
@lauriejim it works well for me, I can't reproduce the issue.

(I don't use adds bloquer)

[2018-05-16 13:47] lauriejim commented on #1176
@abdonrd and @derrickmehaffy thank you guys for your feedback!

[2018-05-16 13:47] #1176 closed

[2018-05-16 14:49] osharpe opened #1207 "Access controls on data"
Hi, first of all I would like to commend on this product, I am really enjoying exploring the features, it really makes your life easy when developing API.

This is more of a question than feature request and somewhat related to the following issue, however it doesn't really answer my question. https://github.com/strapi/strapi/issues/803

If I have 3 collections - Company, Site, Sensor. I only want

[2018-05-16 17:42] azuldev1 commented on #1024
Empty fields in the ORM schema or empty files in the database columns? Or columns that were not mapped / part fo the ORM Shema. having a similar issue

[2018-05-16 17:43] azuldev1 commented on #1024
err TypeError: Cannot read property 'id' of undefined
    at main.js:32
    at Array.map (<anonymous>)
    at t.value (main.js:32)
    at p (main.js:16)
    at beginWork (main.js:16)
    at a (main.js:16)
    at i (main.js:16)
    at b (main.js:16)
    at v (main.js:16)
    at y (main.js:16)
main.js:32 info {componentStack: "↵    in t↵    in div↵    in o↵    in div↵    in di… IntlProvider↵    in t

[2018-05-16 17:44] azuldev1 commented on #1024
I have a local version where I copied the api and db schema and I do not run into this issue.

[2018-05-16 17:45] azuldev1 commented on #1024
@soupette any thoughts?

[2018-05-16 21:34] blaasvaer opened #1209 "Can't access API as administrator?"
Why can't I access the API for content I've created?

I've created a few articles, but I can't access them through the API. What am I missing?

[Screen Shot 2018-05-16 at 23.29.01.pdf](https://github.com/strapi/strapi/files/2010923/Screen.Shot.2018-05-16.at.23.29.01.pdf)

[2018-05-17 02:05] raulriera commented on #1207
I believe this is something that needs to be handle in your models and controllers. I have the same need where I want people to only access information on their account. I'm trying something similar here, where everything is scoped under `practice` account. https://stackoverflow.com/questions/50297399/strapi-graphql-overwrites/50353764#50353764

The implementation of `findMine` looks something lik

[2018-05-17 02:35] decimoseptimo opened #1210 "Strapi breaking after renaming 'content type' or 'attribute'"
**Informations**
- **Node.js version**:v8.11.2
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:mongodb 3.4.15
- **Operating system**:ubuntu server 16.04

**What is the current behavior?**

I was following the [tutorial ](https://www.gatsbyjs.org/blog/2018-1-18-strapi-and-gatsby/) with a few differences.
- Instead of creating a content-type `article` I called it `post

[2018-05-17 03:55] mnlbox opened #1211 "[Question] What is the meaning of Provider in users page"
Hi guys,
What is the meaning of **Provider** in users page.
![strapi2](https://user-images.githubusercontent.com/25859075/40155912-71b3d48a-59ab-11e8-9d64-aa3fdf0fa269.png)

First I think it's role but it seems it's another things because I don't have "local" role in my roles :thinking:

[2018-05-17 04:03] mnlbox opened #1212 "Default role not working on user create"
**Informations**
- **Node.js version**:v10.1.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:Mongo
- **Operating system**:Linux

**What is the current behavior?**
Default role not working.

**Steps to reproduce the problem**
* create new role.
* Set that as a default role.
* Create new user and not set role for that.
* Default role not set for that after save.

**W

[2018-05-17 04:36] mnlbox opened #1213 "Provider is not set when create User from content manager"
**Informations**
- **Node.js version**:v10.1.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:Mongo
- **Operating system**:Linux

**What is the current behavior?**
Role shows wrong.

**Steps to reproduce the problem**
I have one admin user and one normal user but in "Users" page in content manager my users role shows wrong. See this image:
![strapi1](https://user-im

[2018-05-17 04:44] mnlbox opened #1214 "Custom column name view layout a little buggy on Firefox"
**Informations**
- **Node.js version**:v10.1.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:Mongo
- **Operating system**:Linux

**What is the current behavior?**
custom column name view layout a little buggy on Firefox

**Steps to reproduce the problem**
![strapi3](https://user-images.githubusercontent.com/25859075/40157135-9ff963f8-59b2-11e8-9b85-744869af198a.png

[2018-05-17 04:55] mnlbox opened #1215 "Mask support for string field"
**What is the expected behavior?**
I think a mask box support can be useful for string fields. It can be as a optional setting in advanced setting of string field:
![strapi4](https://user-images.githubusercontent.com/25859075/40157453-5b6ffc04-59b4-11e8-8d44-38f75f254957.png)

For example we can set **Mobile** mask for mobile string field and then render mask text box on insert and edit form. For

[2018-05-17 05:02] mnlbox opened #1216 "Enable/Disable (Block) field for Users"
**What is the expected behavior?**
I think an **enable** field for users can be very useful. Specially for **Admin - Permissions** in https://strapi.io/vote

Then I can enable or disable (block) specific user if we want. (by default all users enabled)

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-17 05:18] mnlbox opened #1217 "Re-order content type fields from admin dashboard with drag n drop"
**What is the expected behavior?**
I think it can be very good UI/UX experience if user can re-order content type fields from admin dashboard with drag n drop. I know that it can be done from json file but with graphical support it can be more simpler. :wink:

---

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-17 05:41] mnlbox opened #1218 "Separate "User Password Reset" form or "Unchange Password" field"
**What is the expected behavior?**
In practice we want change user field not user password generally. But always when I want to update an user field update user form show error and force me to enter password. So I always forced to update my users password when I want to update another fields. Because of this in real world I prefer to update my users fields from database that it's not good UI/UX ex

[2018-05-17 06:28] derrickmehaffy commented on #1211
@mnlbox https://strapi.io/documentation/guides/authentication.html

Providers are external OAuth2 authentication providers. Not sure how you got one called `admin`.

But that column is not supposed to contain the role. 😛

[2018-05-17 06:32] derrickmehaffy commented on #1210
At the moment, Strapi does not delete database tables (or whatever they are called in mongo) and will not rename columns within a table. This has been discussed with the strapi team here: https://github.com/strapi/strapi/issues/1114 (This also includes discussion about mongo as well as mysql)

You will need to drop the table before you start, the error your getting is your trying to recreate an ex

[2018-05-17 06:39] derrickmehaffy commented on #1209
@blaasvaer Two things, please in the future follow the issue template when creating bug reports or feature requests and please see the Strapi documentation: https://strapi.io/documentation/

By default all models created require authorization, if you wish to change this you will need to go to the `Roles & Permissions` and click on public, Then under the Permissions > Application > *your model name

[2018-05-17 08:18] mnlbox commented on #1211
@derrickmehaffy So it's a bug yes?

[2018-05-17 08:28] mnlbox commented on #1211
@lauriejim OK man but we havn't issue template for Question :thinking:

[2018-05-17 08:30] soupette commented on #1200
Hi @akearney2!

To be honest I developed the "concept" of this feature and I never had the possibility to use yet!

It was thought to enable the search feature in the `content-manager` and maybe a global search in the admin.

If you got it working, can you submit a PR with your modifications so we can benefit from it?

[2018-05-17 08:32] soupette commented on #1217
@mnlbox this feature will be developed some time later and will be a plugin. If you feel like developing it we can provide you with our thoughts on how it should work.

[2018-05-17 08:34] Aurelsicoko commented on #1198
I understand but blocking words is not an optimal solution because as a workaround we can add the prefix `all` for these words or change the specs to make sure the plural queries are harmonized whatever the word used. It should be specified in the specs.

[2018-05-17 08:35] soupette commented on #1215
The email field is already implemented, about the other mask such feature can be developed by following the dynamic used for the WYSIWYG field.

[2018-05-17 08:36] lauriejim commented on #1218
Actually we not send `password` value if you not update the user password. @soupette can confirm that I think.
So I don't understand why you have an issue on it.

[2018-05-17 08:36] Aurelsicoko commented on #1202
@dj-hedgehog @kuongknight You should try to look at http://bookshelfjs.org/#Model-instance-idAttribute and make a PR to update the `strapi-bookshelf` package to support this case.

[2018-05-17 08:51] lauriejim commented on #1214
Hello @mnlbox , thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-17 09:02] lauriejim commented on #1211
This question is this issue https://github.com/strapi/strapi/issues/1213. So let this issue close.

[2018-05-17 09:08] mnlbox commented on #1211
OK man. But as a suggestion please add new issue template for Questions. It can be useful in future. :wink:

[2018-05-17 09:10] derrickmehaffy commented on #1211
Generally speaking @mnlbox questions should prob be directed into the slack. The strapi team are quite busy on development and focused on bugs, the more questions showing up in the issues page the harder it is to track down bugs. Most questions can be answered after directing those asking them to the documentation or having them search through previously closed issues. The goal is to try and limit

[2018-05-17 09:12] mnlbox commented on #1218
:thinking: But I need insert password now. So maybe it's a bug yes?
Anyway I think a **Reset Password** form can be useful. :thinking:

[2018-05-17 09:19] soupette commented on #1218
Hi!

If you do not modify the password field it won't be updated.

Can you provide some step to reproduce it because I just tried and it's working fine on my side

You can hide the password field from the form by modifying the following file :

**Path -**: `my-app/plugins/users-permissions/config/layout.js`

[code]
Then you can create a specific container in the `content-manager` plugin to have a

[2018-05-17 10:33] mnlbox commented on #1217
@soupette I don't find any plugin for this. Can you guide me more?

[2018-05-17 10:55] dsheyp commented on #1174
same here....

**Steps to reproduce the problem**

this query returns an empty image field:
http://localhost:1337/graphql?query={slides{title%20index%20bgimages{title%20image{url}}}}

this query returns a correctly populated image field:
http://localhost:1337/graphql?query={bgimages{title%20image{url}}}

[2018-05-17 10:56] derrickmehaffy commented on #1217
@mnlbox there is no plugin currently it's a planned future feature.

[2018-05-17 11:52] soupette commented on #1217
@mnlbox I meant that such plugin is meant to be developed later unless you feel like contributing by developing it yourself

[2018-05-17 15:11] lauriejim commented on #1177
Yes sure, probably have to update `.where` params to handle `or` in this case.

We start to work on filters here https://github.com/strapi/strapi/issues/1204. And will work on search after that.

[2018-05-17 15:38] soupette commented on #1204
BTW: This is the expected UI

![screen shot 2018-05-17 at 5 37 58 pm](https://user-images.githubusercontent.com/13311463/40187961-20992a20-59f9-11e8-9571-d42a3ae16d23.png)

[2018-05-17 17:11] derrickmehaffy commented on #1204
@soupette amazing, love it.

[2018-05-17 17:27] derrickmehaffy opened #1224 "Bookshelf issue with timestamps, cannot send post requests"
**Informations**
- **Node.js version**: 9
- **npm version**: 5
- **Strapi version**: 12.2
- **Database**: MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Error when posting and using MariaDB with timestamps:

[code]

**Steps to reproduce the problem**

Attempting to send any post request to a model that is attached to MySQL

**What is the expected behavior?**

[2018-05-17 17:28] derrickmehaffy commented on #1224
@lauriejim Posts requests are completely broken on v12.2 due to timestamps FYI

[2018-05-17 17:29] derrickmehaffy commented on #1224
AdminUI additions are not affected, only post requests

[2018-05-17 18:06] decimoseptimo commented on #1210
As I said

It seems that when I renamed the attribute in the GUI, strapi didn't remove the conflicting index before trying to rename.

I fixed it with:
[code]

[2018-05-17 21:29] erikvullings commented on #1130
@lauriejim Is this issue really solved? In v3.0.0-alpha.12.2, when I created a new content type, collection, and add a relation (a collection belongs to many articles - as a side note, I would prefer to read 'a collection has many articles'), I receive the following error:
[code]
When checking the collection.settings.json, it looks ok:
[code]
but the article content model is missing the collection

[2018-05-17 21:39] kamalbennani commented on #1130
^ I think that's related to the name of your model "collection" which might be conflicting with the strapi's logic. Try to rename you model name and retry again

[2018-05-17 21:41] abdonrd commented on #1177
@lauriejim ok, thanks Jim!

[2018-05-18 01:04] oeddyo commented on #1204
oh my god this is the best thing after slice bread

[2018-05-18 01:05] oeddyo commented on #1204
we are  currently using strapi to manage a database of a couple hundred thousand rows... it's insanely handy when this filter comes out. Currently we are using all the hacks on api level to do things :D

[2018-05-18 01:55] decimoseptimo commented on #1210
@lauriejim Hi, could you confirm this as a bug?

[2018-05-18 07:42] Thyvo opened #1225 "Custom console commands"
**What is the expected behavior?**
I would like to run some migration/bulk update scripts from the cli using the strapi models/services but I could not find a way to make it work without running a full featured server and using some api endpoints.

From my php days I used the laravel framework and they had the Artisan Console feature:
[https://laravel.com/docs/5.6/artisan#writing-commands](https:/

[2018-05-18 08:19] lauriejim commented on #1210
It looks a bug yes. Will not have any time to work on this issue. Feel free to investigate on why this issue happen and submit a PR to fix it. Will appreciate your contribution on Strapi!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-18 08:28] abdonrd commented on #1167
Seems fixed with the last `v3.0.0-alpha.12.2`! 🎉

[2018-05-18 08:28] #1167 closed

[2018-05-18 08:42] lauriejim commented on #1225
Hi @Thyvo !

You want to create your `migration/bulk update scripts` on your application only ?

If it's the case, you case easily create a new scripts in your app eg.`/scripts/migrations.js` and add in `package.json` scripts object `node ./scripts/migrations.js`. and then run `npm run migration` to execute your script.

[2018-05-18 08:49] Thyvo commented on #1225
Hi @lauriejim,

I already tried this. Unfortunately when I use `const strapi = require('strapi')` I won't have any access to my custom models and services, it just gives me an empty strapi object

[2018-05-18 08:52] lauriejim commented on #1224
Hey @derrickmehaffy thank you for this reporting. It happen on File upload and other generated API ?

[2018-05-18 09:05] lauriejim commented on #1225
@Thyvo OKay I see. Actually you will have to start your server, there is no other way (like `server.js` file to start and use `strapi.stop()` when it's done)

[2018-05-18 09:16] lauriejim commented on #1167
Thank you @abdonrd for the update.

[2018-05-18 09:20] gegeburlogz opened #1226 "roles relational data is not updating to database"
**Informations**
- **Node.js version**:v10.1.0
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**:MongoDB
- **Operating system**:Windows 10

**What is the current behavior?**
does not updating roles and provider in database with an error
![image](https://user-images.githubusercontent.com/19794022/40226874-810b9e12-5abf-11e8-8a60-d4036dc3bdf0.png)
![image](https://user-

[2018-05-18 09:37] derrickmehaffy commented on #1224
This is just on a standard model, file uploads have had some issues the past few releases as well.
Mainly with SQL syntax

[2018-05-18 10:20] denerFernandes opened #1227 "Find in Natural Language"
**Informations**
- **Node.js version**: 8.6
- **npm version**: 5.7.1
- **Strapi version**: 3.12
- **Database**: MongoDB
- **Operating system**:Ubuntu 17.04

**What is the current behavior?**
I have an collection in portuguese, how to find in Natural Language?

How to search for cafe(coffee), feijao (beans) and results for café, feijão?

**Steps to reproduce the problem**

GET ?alimento_contains=ca

[2018-05-18 15:36] lukeajtodd commented on #1183
What errors do you happen to get?

I've just installed using `yarn global add strapi@alpha` on Node (v10.1.0). I am on Mac so that could have something to do with this?

[2018-05-18 17:10] opgbaudouin opened #1230 "One-to-Many relation display blank screen if mainField is empty"
**Informations**
- **Node.js version**:9.5.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3

- **Database**:mongodb 3.6
- **Operating system**:windows 10 x64

**What is the current behavior?**
I created a new content type called 'License'
I created a new content type called 'Item'
I created a relationship (One to Many) between a License and a User (from the User-Permissions)
So a

[2018-05-18 17:13] derrickmehaffy commented on #1224
Odd @lauriejim so I did some additional testing with a brand new test machine:

Node v10
NPM v5
Strapi v12.2
OS Ubuntu 18.04 LTS
DB MariaDB 10.2

Everything worked fine, which I find strange. The only difference here is the OS version (16.04 vs 18.04) and the Node Version (10 v 9)

What I tested: Created a new VM for each Database Type (3 in total) MongoDB, Postgres, MariaDB. installed Strapi v12.

[2018-05-18 17:14] derrickmehaffy commented on #1224
I will do some additional testing on the VM I had issues with and create another ubuntu 16.04 VM to test on. There might have been a bug while updating strapi globally or node 9.

[2018-05-18 17:16] derrickmehaffy commented on #1224
Versions for issue VM:
![image](https://user-images.githubusercontent.com/8593673/40248351-89af66f6-5a84-11e8-8905-1f096ad3ca82.png)

Versions for working VM:
![image](https://user-images.githubusercontent.com/8593673/40248381-98009d06-5a84-11e8-8197-3b1ec2b02132.png)

[2018-05-18 17:25] derrickmehaffy commented on #1224
@lauriejim tested on old VM and can't reproduce error. For now you can mark this as closed and I'll continue testing to see if I can get it to appear.

[2018-05-18 18:39] indiecore-fm commented on #752
I'm confused is there a slug field in development from @abdonrd or is there not one? Would make creating urls a lot easier.

[2018-05-18 18:50] raulriera commented on #752
I'm a bit confused about this "non headless CMS" features tho. Is there plan to implement pages, slug, navigation, etc? That seems like something a traditional CMS would do and not one meant for building API.

[2018-05-18 20:38] krestaino commented on #752
@raulriera I recently made a simple blog using Strapi as the backend. To have nice URLs, I created a slug field, but I have to manually format it just like the GIF in the OP each time I write a new article. In my client side application, I query the API using the slug which is in the URL. For example:

`blog.com/hello-world` queries the API with `api.blog.com/article?slug=hello-world`.

It's impor

[2018-05-18 20:42] raulriera commented on #752
True, but this will be adding a feature that is outside of the scope of a `headless CMS`. This could be automatic the way Rails does it

`api.blog.com/article/00001-title-of-the-page-doesn't-matter-only-the-number-is-used` that way you have nice human friendly URLs, but it's only handled by the router, the real "id" is passed as `00001` (or whatever your identifier is...

Obviously I'm just asking

[2018-05-18 21:12] indiecore-fm commented on #752
Bingo! Seriously just being able to call a slug to load something would be very nice like @krestaino said.

I will have users adding new data that aren't tech savvy and I don't want to have to remind them every day to create a slug like this "this-is-my-slug" When they could just type it out quickly and its done for them. I have had nightmares about this in my current system.

I mean yes I could j

[2018-05-18 21:26] raulriera commented on #752
For example, by changing the router

[code]

You can use `/article/id-whatever-value-here` and it will only take the first bit as the idea and properly return what you want

[2018-05-18 21:32] indiecore-fm commented on #752
Would this make it:
myblog.com/1001-my-title-goes-here

or

myblog.com/1001

My platform is setup to show slugs for video and is shareable on social media. If I was running my own netflix like solution that was closed I could just use the id with no problem, but we need slugs for SEO and better social media sharing.

I mean yes I can just make a string that says slug and manually type "this-is-my-

[2018-05-18 21:38] z-ax commented on #752
I implemented this one some time ago: [annexare/toURI](https://github.com/annexare/toURI), which works with Cyrillic as well. Not sure about competitors :)
Pretty lightweight. Should probably add tests.

[2018-05-18 21:51] z-ax commented on #752
As for slugs itself I had experience with canonical and short URLs for articles. But this should work properly with meta tags generation then.

Short URLs redirect to the canonical with slug.

Added article ID to canonical URL to have a permanent redirect if slug was changed.

All of this was nice for SEO then.

[2018-05-18 21:55] raulriera commented on #752
It will make it `myblog.com/1001-my-title-goes-here`

[2018-05-18 23:24] decimoseptimo opened #1231 "Minor UI bug in content manager with date type"
**Informations**
- **Node.js version**:v8.11.2
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:mongodb 3.4.15
- **Operating system**:ubuntu server 16.04

**What is the current behavior?**
In the content manager table, in a given `publishedAt` column of type `date`.
a `{publishedAt: null}` value will be shown as "invalid date"
a `{}` (not set) value will be shown as "

[2018-05-19 01:29] raulriera opened #1232 "Overwriting GraphQL schema"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongo
- **Operating system**: macOS

**What is the current behavior?**
I'm trying to overwrite the GraphQL query from

[code]

to

[code]

But running strapi will error in `Error: Resolver Query.practice must be object or function`

**Steps to reproduce the problem**
Try t

[2018-05-19 02:54] mnlbox opened #1233 "Content type name disappears in add relation window on Firefox"
**Informations**
- **Node.js version**:v10.1.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:Mongo
- **Operating system**:Linux

**What is the current behavior?**
Content type name disappears in add relation window

**Steps to reproduce the problem**
See this:
![strapi 1](https://user-images.githubusercontent.com/25859075/40264314-9600892e-5b35-11e8-97ff-1907cc7cca

[2018-05-19 03:36] krestaino commented on #752
@raulriera Thank you for your helpful example, much appreciated. Just to clarify though, the ID's generated by Strapi are 24 digits long, thus making the URLs more akin to `myblog.com/5aef0015687c17071592c605-my-title-goes-here`. Is that correct?

[2018-05-19 04:34] raulriera commented on #752
That's correct, if you want a smaller value you can edit the route to be whatever you want `"path": "/article/:_id-:title"` just replace `:_id` with anything else. It just needs to be a unique field in your model.

`"path": "/user/:username"` would be a good example for when only custom routes are helpful. Obviously you could automate all of this intro strapi itself within the admin, but that "scr

[2018-05-19 07:55] tomachinz opened #1234 "After fresh install getting, Error: Cannot find module 'pluralize'"
node -v
v9.11.1
 npm -v
5.6.0

strapi -v
1.6.4

- **Database**: export MONGO_URL="mongodb://localhost:27017"

- **Operating system**: uname -a
Darwin 13inch 16.7.0 Darwin Kernel Version 16.7.0: Tue Jan 30 11:27:06 PST 2018; root:xnu-3789.73.11~1/RELEASE_X86_64 x86_64

**What is the current behavior?**

 npm install strapi -g
strapi login
...
 strapi new strapi.funk.nz
cd strapi.funk.nz
strapi star

[2018-05-19 09:15] hbakhtiyor commented on #1183
didn't get any errors, just the executable file doesn't exists

[2018-05-19 10:38] adams79 opened #1235 "Always redirected to signup page after a clean install 12.2"
**Informations**
- node 9.3.0
- 5.2.0
- 3.0.0-alpha 12.2
- Mongo
- MacOS High Sierra

**What is the current behavior?**
After a clean install, accessing the admin screen I’m always redirected to signup also after registering the new user. I see that the user is registered in Mongo

**Steps to reproduce the problem**
Install Strapi from npm
Create new project
Try to login to the admin and create a

[2018-05-19 11:33] erikvullings commented on #1130
**@kamalbennani** Indeed, you are right. It is related to the name 'collection'. Are you aware of any other names we should avoid (and could we mention them in the documentation somewhere)!

[2018-05-19 16:34] raulriera commented on #1232
The issue seems to be about **any** resolver as a single string value, this will fail in

[code]

because it's literally not a function

<img width="305" alt="screen shot 2018-05-19 at 12 33 41 pm" src="https://user-images.githubusercontent.com/24159/40270759-e7d452f0-5b60-11e8-868e-f2247225218f.png">

Although, this is how the docs say it should work https://strapi.io/documentation/guides/graphql

[2018-05-19 17:57] derrickmehaffy commented on #1203
Can confirm issue exists on Strapi Alpha.12.2

[2018-05-19 17:58] derrickmehaffy commented on #1235
Seems this issue is related to some kind of slowness on the server or client side where a timeout fails and redirects. I've noticed this issue as well.

[2018-05-19 22:34] indiecore-fm commented on #752
So then I could create a slug and use your example to create the route. Thanks really appreciate the insight.

[2018-05-19 23:17] indiecore-fm commented on #1094
This is happening to me on alpha 12.2. I'm on windows if that might make any difference. I have a successful upload to amazon though.

[2018-05-20 00:46] indiecore-fm commented on #1230
anytime I create a one to many relation or many to one relation strapi crashes with this error:
`[2018-05-20T00:45:13.994Z] error Something went wrong in the model `Series` with the attribute `subSeries`
[2018-05-20T00:45:13.996Z] error Cannot read property 'attributes' of undefined`

[2018-05-20 00:58] indiecore-fm commented on #1139
I'm having this issue in 12.2 when creating a relation.

[2018-05-20 01:01] indiecore-fm commented on #886
I am still having this issue as of 12.2

[2018-05-20 01:12] indiecore-fm opened #1237 "Creating a relation causes alpha12.2 to crash"
**Informations**
- **Node.js version**: 10.0.0
- **npm version**: 6.0.1
- **Strapi version**:alpha12.2
- **Database**: mongo3.6
- **Operating system**:windows 10 x64

**What is the current behavior?**

When I create any kind of relation I receive this error:

**Steps to reproduce the problem**

Create a relation to anything.

**Suggested solutions**
If I delete the added relation from the json, st

[2018-05-20 01:26] indiecore-fm commented on #1237
Trying this on a fresh project with only creating a title string for each endpoint allowed me to create to the relation this time. But going back to the original project, it will not let me.

[2018-05-20 16:36] maxtor3569 commented on #1230
Same error, set mainField fix it for me ;)

[2018-05-20 16:52] johntom opened #1239 "Graphisql"
I installed plugin on version 3.0.0-apha.12 but get graphiql not found when I try to open http://localhost:1337/graphiql

[2018-05-20 17:07] raulriera commented on #1239
It was removed in favor of playground. Use /playground instead after localhost :)

[2018-05-20 17:09] derrickmehaffy commented on #1239
@johntom The strapi team haven't updated their docs page, I'll poke them on the slack to let them know, but graphiql was removed in favor of playground which is far more powerful.

[2018-05-20 23:39] elialber commented on #392
Unhandled promise rejection (rejection id: 1): Error: select count(*) as `count` from `users-permissions_role` - ER_NO_SUCH_TABLE: Table ',myproject.users-permissions_role' doesn't exist

[2018-05-20 23:59] kamalbennani opened #1240 "Add a support for Aggregations with bookshelf"
**What is the expected behavior?**
Can Strapi support aggregation, I'd love to do something like that:
[code]
Like the did here: https://docs.scaphold.io/tutorials/aggregations-in-graphql/

- [x] I'm sure that this issue hasn't already been referenced.

[2018-05-21 04:40] raulriera commented on #1235
More info can be found here https://strapi.slack.com/archives/C0BLB2VJ7/p1526608909000243

[2018-05-21 07:52] abdonrd commented on #1235
Same issue here!

[2018-05-21 08:32] johanbaath commented on #1235
@adams79 @raulriera this issue is fixed in my pull request which was merged: https://github.com/strapi/strapi/pull/1222

It's not included in 12.2 unfortunately!

[2018-05-21 08:55] lauriejim commented on #1227
@denerFernandes Can you precise your issue please. I don't really understand it.

[2018-05-21 09:01] H-L opened #1241 "MySQL error when saving more than one Field to a Content Type"
- **Node.js version**: v10.0.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MySQL
- **MySQL version**: 5.6.35
- **Operating system**: macOS Sierra 10.12.6

**What is the current behavior?**
Strapi throw an error when trying to save more than one Field to a content type. Then it throw this error :
[code]
It works well if you add only one field and then save. The e

[2018-05-21 09:09] derrickmehaffy commented on #1241
@H-L when you created this, did you create the model with one field, save, then attempt to add a second field? If so you will have to manually drop the table in the database before strapi will start as it does not delete tables or columns when modifying the model. You read more about this discussion here: https://github.com/strapi/strapi/issues/1114

[2018-05-21 09:16] Torone commented on #784
Well, @soupette even `enum` option would be really nice to have. Thanks

[2018-05-21 09:28] derrickmehaffy commented on #784
@Torone enum is enabled on the backend and somewhat on the frontend, you just can't modify the enum in the content type builder. However it seems there are no restrictions or checks on the enum. (At least not with MySQL)

[2018-05-21 09:34] madonzy opened #1242 "GraphQL vs. MongoDB? Difference?"
Hi guys, what is the difference between GraphQL and MongoDB? If I understand well - there are two separate storages, but why do we need them both? Why not use only MongoDB? Or maybe GraphQL is the way to communicate with MongoDB? What are good and bad sides for both? In what case should I use witch?

[2018-05-21 09:48] madonzy opened #1243 "Binding frontend users in Strapi"
Hi guys ;)

I'm trying to understand how to build user entity for frontend. Imagine:
1) I have frontend app (VueJS) - **App 1**
2) I have backend app (Strapi) - **App 2**

When frontend (App 1) guest want to register, I want App 1 send a request (ask to register new customer) to App 2, if everything is ok App 2 creates a user. Important that App 1 user should be created (not App 2 user, newly crea

[2018-05-21 10:10] kamalbennani commented on #1174
Any updates on this issue ?

[2018-05-21 10:12] derrickmehaffy commented on #1243
@madonzy I would recommend looking at the guides: https://strapi.io/documentation/tutorials/

Specifically the one geared at Gatsby. You would need to tie into the REST API interface to build GET/POST/PUT/DELETE requests to build bridges between the data storage in `App 2` and your front end user interface in `App 1`

[2018-05-21 10:17] kamalbennani commented on #1178
Any updates on this issue

[2018-05-21 10:44] johntom commented on #1239
Thanks !

[2018-05-21 10:49] johntom opened #1244 "GraphQL and filter"
Using playground but can't get a simple filter to work.
This works
...
{
  articles {
  title ,content,contentHtml }
}
This fails
{
    articles (
            title: "Reynold 2"
    ) {
          _id
  title
    content
    contentHtml
    }
}
...
...
error
{
  "error": "Response not successful: Received status code 400"
}
...

[2018-05-21 10:51] H-L commented on #1241
@derrickmehaffy yes it happens wether on creation or on editing the content type. It just throw the error no matter what, as long as there is more than one field.

[2018-05-21 10:58] derrickmehaffy commented on #1241
@H-L I'm wondering if its related to the model name. Can you try creating a new project and using a different name for the model to see if the same error happens?

[2018-05-21 10:59] derrickmehaffy commented on #1241
Also which version of MySQL are you using?

[2018-05-21 11:02] derrickmehaffy commented on #1241
`(hook:bookshelf) takes too long to load` this bit here is a known issue. You may need to modify the `config/hook.json` and increase that limit, I think the default is like 3000 milliseconds, try increasing that to say 10000 or 30000 (10 seconds or 30 seconds). In some cases, like my project I had to increase this to 60 seconds to ensure strapi starts.

[2018-05-21 11:05] derrickmehaffy commented on #1244
@johntom can you edit this with the proper bug report template? Also when pasting code, please use the code block.

[2018-05-21 11:14] H-L commented on #1241
@derrickmehaffy I just tried to reproduce the error on a new project.
The error does appear only when editing, not on creation.
Here are the logs of all my actions to test the error.
[strapi_testing_error_mysql.log](https://github.com/strapi/strapi/files/2022314/mysql_strapi_testing_error.log)

[2018-05-21 11:17] H-L commented on #1241
I'm using the **MySQL version:** 5.6.35

[2018-05-21 11:56] derrickmehaffy commented on #1241
@H-L yeah this seems like the table for this model isn't deleted. Basically what is going on is Strapi cannot (as of right now) add a new column into a table, in the issue I linked me and @Aurelsicoko were discussing possible solutions for this that would fit all of the databases (Mongo, MySQL, and Post).

So if you want to edit a model as of right now, your best bet is to Edit the model in the co

[2018-05-21 11:57] derrickmehaffy commented on #1241
It should be noted that of course dropping the table will delete the data, The alternative is to manually add the column into the table.

[2018-05-21 12:42] opgbaudouin commented on #1230
Further info: this happens all across the place when i think React is expecting text type and it getting something else (or empty strings). If i put a mainField to a text and leave it empty - it also completely blanks...

[2018-05-21 12:58] arnorhs commented on #795
Hey there, no I had some desperate attempt at looking at it, but I wasn't familiar with the structure of strapi yet, so I got nowhere.

I just tried on the latest version of strapi and the issue seems to be resolved, and this ticket is closed, so I'm happy! Thanks!

[2018-05-21 13:29] johannpinson commented on #1244
Hello @johntom

Please have a look to this docs: https://strapi.io/documentation/3.x.x/guides/graphql.html#query-api

The "filter" logic works with the `where` param where you can put a JSON with the wanted rules.

[2018-05-21 13:56] johannpinson commented on #1232
Hey @raulriera

I was looking for this bug today and you right, the problem is when you add a `string` as a resolver.
Moreover, the `resolverOf` doesn't looks to be applied.

___

@lauriejim : FYI =>
In the `generateSchema` function, around this code:
[code]

I try to replace it by:
[code]

But i have some problems with the override from the `upload` plugin (which one works well with the resolver

[2018-05-21 14:04] johntom commented on #1244
Hi,
I tried many variatins...
Thanks,
John
**Informations**
- **Node.js version**:nvm use 8.9.4
- **npm version**:1.1.3
- **Strapi version**:3.0.0-alph.12
- **Database**:mongodb
- **Operating system**:win10

**What is the current behavior?**
`
[code]
[code]

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

- [ ] I'm sure that this feature hasn't alre

[2018-05-21 14:26] johannpinson commented on #1244
Can you test this:

[code]

[2018-05-21 14:58] opgbaudouin commented on #1230
And more: when updating my license in the admin UI, it will wipe the 'mainField' from the settings.json. So it appears the mainField (though critical for admin UI work) is not yet fully integrated.

[2018-05-21 16:01] johntom commented on #1244
Yes that worked, I read a bunnc of articles and never saw that "where" was required.
[code]

[2018-05-21 16:01] #1244 closed

[2018-05-21 16:07] opgbaudouin opened #1246 "REST PUT statement doesn't conform with Documentation"
**Informations**
- **Node.js version**:9.5.0
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.1.3
- **Database**:mongodb 3.6
- **Operating system**: windows 10 x64

**What is the current behavior?**
Performing a simple PUT request with AXIOS on server sides does not return the updated object but a status object instead.
This is contrary to the documentation
my result for doing a simple

[2018-05-21 17:19] raulriera opened #1247 "Bypassing role security in GraphQL"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**
It seems that when passing several queries its possible to bypass the security specified by roles and permissions. For the users endpoint, the user shouldn't be allowed to query anything as specific in the admin

<img width="588" alt="screen sh

[2018-05-21 18:35] derrickmehaffy commented on #1247
@lauriejim ^^

[2018-05-21 20:11] H-L commented on #1241
@derrickmehaffy Thank you for your time and explanations.
I let a few examples below, just for debugging later, even if it's not planned yet as said the issue [#1114](https://github.com/strapi/strapi/issues/1114) :

**Works**
1. Create Model `test`
2. Add field `teststring`
3. Save
    A. Server restarts successfully
4. Edit Model `test` and add field `testNumber`
5. Save
    A. Serve restarts suc

[2018-05-22 06:47] mnlbox commented on #1139
@Aurelsicoko I also confirm that this issue still exists in 12.2. :thinking:
I add some relation and my server stopped after save and not working at all.
Please reopen this issue for more info.

[2018-05-22 08:50] Dronozavr commented on #877
As for me I have the same behavior! Thanks.

[2018-05-22 08:55] lauriejim commented on #1139
@mnlbox & @indiecore-fm Did you try with a fresh new application ?

[2018-05-22 09:01] lauriejim commented on #1247
Hello @raulriera, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

I know it's will be hard to investigate, but 💪 !

Check out the contributing guide to get started: https://github.com/strapi/strapi/blo

[2018-05-22 09:05] lauriejim commented on #1246
Hello @opgbaudouin, thank you for reporting this issue. We won’t undertake this development because our focus is currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

The response you get is actually the mongoose response. You can check how to change it to have the updated object.

Check out the con

[2018-05-22 09:33] lauriejim commented on #1230
@opgbaudouin can you try with the last version of Strapi `3.0.0-alpha.12.2` actually. Check on new app or [update your application](https://github.com/strapi/strapi/wiki/migration-guide-alpha.12.1-to-alpha.12.2).

[2018-05-22 09:36] mnlbox commented on #1139
@lauriejim Yes, I create new app and copy my api folder in new app and then login to dashboard and create my relations.
I follow this migration guide but replace `3.0.0-alpha.11.1` by `3.0.0-alpha.12.2` https://strapi.io/documentation/migration/migration-guide-alpha-10-to-alpha-11.html

[2018-05-22 09:39] lauriejim commented on #1232
Hello guys @raulriera and @johannpinson !
Thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

@Aurelsicoko is the best person to help you on this side - but he has lot of work actually :/

Check out the contributing guide to get started: https://github.co

[2018-05-22 09:45] #1239 closed

[2018-05-22 09:45] lauriejim commented on #1239
It's have been updated.

[2018-05-22 09:48] lauriejim commented on #1178
Hello @kamalbennani, we are currently on another feature and bug fix. Since time is lacking on our side to work on, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-22 09:51] #1242 closed

[2018-05-22 10:07] lauriejim commented on #1241
@H-L Thank you for these details. Will be usefull to work on.
@derrickmehaffy Thank you for your tile on this issue. Appreciate !

But we are currently on another feature and bug fix. Since time is lacking on our side, feel free to investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/m

[2018-05-22 11:09] derrickmehaffy commented on #1241
@lauriejim I think @Aurelsicoko is already working on the fix in the related issue.

[2018-05-22 11:35] opgbaudouin commented on #1230
Still same issue on 3.0.0-alpha.12.2

Only works with mainField present to a 'meaningfull' - text based part.

[2018-05-22 11:49] opgbaudouin commented on #1246
Due to your request to update to 3.0.0-alpha.12.2 i can now confirm that it does now indeed return the OBJECT as per the documentation.

This makes sense based on the updates required when migrating as edit went from:
[code]
to
[code]

I would therefor suggest you can close this - as 'solved' (or at least compliant with docs).

Also a little more digging on my part should have spotted the previous

[2018-05-22 11:54] lauriejim commented on #1203
Hello @derrickmehaffy , thank you for reporting this issue. We are currently on another feature and bug fix. Feel free investigate and to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-22 12:00] lauriejim commented on #1186
@piere129 Can you confirm, it's still happen with new Strapi version (`3.0.0-alpha.12.2`)?

[2018-05-22 12:02] derrickmehaffy commented on #1203
I don't have the slightest idea here, It has to do with bookshelf as mongoDB based will properly return the values `true` and `false`

[2018-05-22 12:04] #1179 closed

[2018-05-22 12:09] raulriera commented on #1179
This is stil an issue unless this is merged 🙂 https://github.com/strapi/strapi/pull/1181

[2018-05-22 12:12] lauriejim commented on #1135
@piere129 Did you try with a new fresh app from `alpha.12.2` version ?

[2018-05-22 12:21] lauriejim commented on #1246
@Aurelsicoko update this part for the `3.0.0-alpha.12.2` so it's good now.

[2018-05-22 12:21] #1246 closed

[2018-05-22 12:27] lauriejim commented on #1237
Please follow the migration guide for your original project https://github.com/strapi/strapi/wiki/migration-guide-alpha.12.1-to-alpha.12.2

[2018-05-22 12:27] #1237 closed

[2018-05-22 12:30] lauriejim commented on #1234
Hello @tomachinz , sadly we will not support for Strapi v1. Fill free to use `npm i strapi@alpha` version.

[2018-05-22 12:30] #1234 closed

[2018-05-22 12:31] lauriejim commented on #1233
Hi @mnlbox can you tell me if it still happen with `3.0.0-alpha.12.2` version (with fresh project)

[2018-05-22 12:46] lauriejim commented on #1231
Hello @decimoseptimo , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-22 12:52] lauriejim commented on #1226
Please follow the migration guide https://github.com/strapi/strapi/wiki/migration-guide-alpha.12.1-to-alpha.12.2

`this.updateRelation` is on `alpha.12.2` and not in `alpha.12.1.3`.

[2018-05-22 12:52] #1226 closed

[2018-05-22 12:53] lauriejim commented on #1225
It's not possible.

I will have to work on it when we start to make unit testing on Strapi. But it's not now.

[2018-05-22 12:54] #1224 closed

[2018-05-22 13:16] lauriejim commented on #1207
Please check this issue https://github.com/strapi/strapi/issues/624

@raulriera thank you for your time on this issue.

[2018-05-22 13:16] #1207 closed

[2018-05-22 13:23] piere129 opened #1250 "Custom API call does not filter all columns"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**

I'm calling a custom API route called `/client/categories/:code` ,that should return the categories column based on the entered ":code" passed. In service:

[code]

The API call works but for som

[2018-05-22 13:34] lauriejim commented on #1113
Hey @piere129, can you check with `alpha.12.2` please and tell me if you still have this issue.

[2018-05-22 13:38] lauriejim commented on #1027
@XcrossD Need to know on a fresh app and fresh database. Cause the issue can persist caused by migration or just a bug in Strapi.

[2018-05-22 13:40] #1011 closed

[2018-05-22 13:43] lauriejim commented on #908
Will reopen this issue if it persist on last version of Strapi.

[2018-05-22 13:43] #908 closed

[2018-05-22 13:44] lauriejim commented on #877
@Dronozavr what is your Strapi version ?

[2018-05-22 13:47] lauriejim commented on #1210
It's the same issue as https://github.com/strapi/strapi/issues/1210

[2018-05-22 13:47] #1210 closed

[2018-05-22 14:02] soupette commented on #1113
@piere129 are you trying to rebuild the plugins or develop on strapi?

Because you don't need the 7th step if you just want to start your project in dev mode.

[2018-05-22 14:34] Thyvo commented on #1225
I manged to get it to work doing the following:

[code]
and created a new envoirement called commandline that runs strapi on port 1338 for the duration that the script runs.
(for anyone that wants to run scripts without creating additional routes)

[2018-05-22 15:13] lauriejim commented on #1250
Hi @piere129 , thank you for this report. Can you check the request log you receive in your mongoDB ?

[2018-05-22 16:02] indiecore-fm commented on #1237
@lauriejim Well that's not helpful because this was generated on a fresh install of 12.2 Please look again. Its not the same issue as before its talking about the attributes.

It seems when you try to add to many things to an endpoint at once then save issues like this crop up. After it happened to this project, adding any relation to any endpoint resulted in this error.

[2018-05-22 22:31] template01 opened #1252 "strapi@alpha installs in wrong directory"
Hi,

When i run the installer ```npm install strapi@alpha -g``` strapi installs it self into ```/usr/lib/node_modules/strapi``` instead of ```/usr/local/lib/node_modules/strapi``` where the stable version is installed.
Any ideas on how to fix this?
If I manually copy the package into the right directory works properly.

Cheers
Lasse

[2018-05-23 02:09] nurikabe opened #1253 "Form labels in Windows Edge are not left-aligned"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3 alpha 12.2
- **Database**: MongoDB
- **Operating system**: Win10

**What is the current behavior?**

Form labels in Windows Edge are centered:

![image](https://user-images.githubusercontent.com/83678/40399594-363aad6a-5e0c-11e8-9a87-4d3b14dca983.png)

**What is the expected behavior?**

Left aligned

*

[2018-05-23 04:23] mnlbox opened #1254 "Can't login to my dashboard beacuase always show 'Email is already taken'"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**
can't login to my app.
I login and work on my app yesterday but today when I want to login to my app I see setup page again.
I try to fill setup form again. but it's always return `Email is already

[2018-05-23 04:36] jquequezana commented on #1254
Same issue, the first time register the admin when go to logout an relogin show again the register

[2018-05-23 05:04] mnlbox commented on #1254
I also try to remove database completely and setup again but it's still return `Email is already taken` :thinking:

[2018-05-23 06:30] derrickmehaffy commented on #1254
@mnlbox this is a duplicate of https://github.com/strapi/strapi/issues/1235.

@lauriejim this issue should be closed and further troubleshooting should be done in the linked issue.

[2018-05-23 06:47] piere129 commented on #1250
the api call does a total of 3 requests, 2 of them being user-permission requests which don't seem to be the problem. The third one gives me the following JSON when logging the request:

[code]

[2018-05-23 08:04] blaasvaer opened #1256 "Remove need for restart of server when creating content."
**Informations**
- **Node.js version**:
9.0.0
- **npm version**:
6.0.1
- **Strapi version**:
3.0.0-alpha.12.2
- **Database**:
MongoDB v3.6.5
- **Operating system**:
Mac OS X Sierra
**What is the current behavior?**
The server restarts when I create a content type.

**Steps to reproduce the problem**
Create a content type.

**What is the expected behavior?**
I would expect the server to just keep r

[2018-05-23 08:12] blaasvaer opened #1257 "Cannot click 'pencil' icon in Content Manager"
**Informations**
- **Node.js version**:
9.0.0
- **npm version**:
6.0.1
- **Strapi version**:
3.0.0-alpha.12.2
- **Database**:
MongoDB v3.6.5
- **Operating system**:
Mac OS X Sierra
**What is the current behavior?**
Nothing happens when I click the icon ( I can however click anywhere else on the line )

**Steps to reproduce the problem**
Click the pencil icon.

**What is the expected behavior?**
To

[2018-05-23 08:26] blaasvaer commented on #1257
Well, as described in the issue – I know that.

But how about making a great UX, and just fix the link on the icon? It seems bloody weird that I can ANYTHING BUT THE ICON!

When basic stuff like this isn't working, you're telling me that all sorts of bugs will crawl through the cracks ... there seems to be A LOT of basic stuff that isn't working (skim the issues, please).

[2018-05-23 08:41] lauriejim commented on #1237
@indiecore-fm  Can you please provide me exact steps you did to have this issue.

[2018-05-23 08:45] mnlbox commented on #1254
OK, I think it's maybe related but why show `Email is already taken` error? In related issue you said that it's related to internet speed. :thinking:

[2018-05-23 08:46] lauriejim commented on #1252
Hello @template01 , do you have the same issue with an other node modules ?

[2018-05-23 08:47] lauriejim commented on #1253
Hello @nurikabe , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR with your changes, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-23 09:09] soupette commented on #1254
@mnlbox what browser are you using? Can you try using Chrome until we release this [patch}(https://github.com/strapi/strapi/pull/1222/files).

A  quick solution would be to add the code from the [PR](https://github.com/strapi/strapi/pull/1222/files) then run the following commands in your app (I can't guarantee that it will work if you're using an OS different from mac..., If you struggle DM me on

[2018-05-23 09:11] lauriejim commented on #1254
Hello @mnlbox , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-05-23 09:16] lauriejim commented on #1250
@piere129 I have no time to test it. But the request you did with `.select()` is something that work with standalone Mongoose instance. Or this issue come from Strapi mongoose intégration.

And if you don't use `.select()` the data in well get ?

[2018-05-23 09:16] lauriejim commented on #1256
Hello @blaasvaer , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-05-23 09:17] mnlbox commented on #1254
@lauriejim excuse me man. I copy my node, npm, strapi, ... versions from another issue but I forget to paste it. I update my question, could you reopen this issue?
Please add latest version of Node, NPM, ... as a comment in issue template.

[2018-05-23 09:21] blaasvaer commented on #1256
Added bug templating ...

[2018-05-23 09:27] mnlbox commented on #1254
@soupette I'm using Firefox.
I'm using strapi 12.2 and you merge PR #1222 so why this error happens? :thinking:

[2018-05-23 09:27] blaasvaer commented on #1257
Firefox Quantum: 59.0.2 (64-bit)

[2018-05-23 09:30] soupette commented on #1254
@mnlbox good it's a good question!

The error is happening because I prevent the plugins from being loaded if the user is not logged in, therefore if the browser is slow the condition `hasAdminUser` is always false so you're always redirected to the register page.

[2018-05-23 09:32] mnlbox commented on #1254
@soupette it's my Chromium experience:
![strapi 5](https://user-images.githubusercontent.com/25859075/40416174-dcd933aa-5e91-11e8-88ac-40de512a15c8.gif)

[2018-05-23 09:35] mnlbox commented on #1257
I also use Strapi with Firefox and I think it's need more fix in UI / UX in Firefox. :wink:

[2018-05-23 09:48] derrickmehaffy commented on #1257
@blaasvaer I'm sure the Strapi team would appreciate people like you to create pull requests to help fix issues. They are a small team of guys and may not have enough time to fix these issues at our beck and call. :smile:

They are after all only human, I myself have made a few small but needed PRs to help the team and do testing to help them cut down on fix time. With this being an open source pr

[2018-05-23 09:49] kwzm opened #1258 "An error occurred while fetching the permissions"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongoDB
- **Operating system**: win7 x64

**What is the current behavior?**
When I clicked on  Role & Permissions link, the view alerted message "An error occurred while fetching the premissions". I had created some content types, but I found nothing in the permissions.

!

[2018-05-23 09:51] derrickmehaffy commented on #1256
@blaasvaer the server needs to restart because the content structure is not stored in the database but in files itself, which in order for those files to be loaded the application needs to restart.

They have moved many of the older options (specifically with permissions) over to the database so it doesn't need to restart. Generally when in development like this, the application shouldn't be used

[2018-05-23 09:52] piere129 commented on #1250
If i don't use the select it just returns all data as if you'd call a default api call. But that's not what I'm trying to achieve. I believe there is a feature in Strapi that adds these variables, after i do my mongoose query, a hook perhaps?

[2018-05-23 09:54] derrickmehaffy commented on #1254
@soupette I don't think the browser is the main cause in this case, as I generally only use chrome and have noticed the same issue on both windows, linux, and mac.

[2018-05-23 09:55] derrickmehaffy commented on #1254
@mnlbox the email error is normal as the email exists in the database, this is an issue with the redirect settings of the admin panel and not related to the information is being stored.

If you use something like Studio3T (Mongo) or HeidiSQL (MySQL) you'll see that your user is in fact in the database. Hence why that error is popping up.

[2018-05-23 09:59] mnlbox commented on #1254
@derrickmehaffy I check and I haven't any user with that email.
I just randomly create tons of email and always it's return `Email is already taken`. I'm sure that it's message wrong.

[2018-05-23 10:00] blaasvaer opened #1259 "How to login in another browser?"
**What is the expected behavior?**
When I create the first admin user in Firefox, and then (for debugging reasons switch to Chrome, I have to again register. I would expect to be able to actually login, since I've already created an admin user.

Is this by design, or am I missing some point here?

[2018-05-23 10:01] derrickmehaffy commented on #1254
@mnlbox Can you give me a screenshot of your mongoDB with the important bits blacked out (really would rather not see password hashes)

Given my testing has been on MySQL but I can see the users listed in my database. The issue is coming from the adminUI and its redirections

[2018-05-23 10:02] derrickmehaffy commented on #1259
Duplicate of:
https://github.com/strapi/strapi/issues/1254
and
https://github.com/strapi/strapi/issues/1235

[2018-05-23 10:03] mnlbox commented on #1235
@derrickmehaffy what's the meaning of below sentence when we run strapi on localhost?

I don't undrestand :thinking:

[2018-05-23 10:06] mnlbox commented on #1254
@derrickmehaffy I try to completely drop and recreate my database with `db.dropDatabase()` but it's still return `Email is already taken`. I told that I'm sure that I haven't that users.

[2018-05-23 10:06] derrickmehaffy commented on #1235
@mnlbox there is some slowdown on either side. Most likely client browser slowness, if something doesn't respond in a certain amount of time (we are talking milliseconds here) then Strapi is redirecting to the register instead of `auth/login`

Personally @soupette I think the init thing should be auto-redirected and instead a link should be provided to register on the login page. Alternatively for

[2018-05-23 10:08] derrickmehaffy commented on #1254
You dropped your entire database or just that `table` sorry I don't know what you call it in Mongo (can't stand the database personally :stuck_out_tongue: )

[2018-05-23 10:09] derrickmehaffy commented on #1254
If you dropped the entire database you will need to restart strapi. As there is no database and there is likely a console error saying it can't connect.

[2018-05-23 10:14] soupette commented on #1257
@blaasvaer anyway thanks for reporting this bug.

Here's the [fix](https://github.com/strapi/strapi/blob/content-manager-filters/packages/strapi-plugin-content-manager/admin/src/components/TableRow/index.js) if you want to have it working before the next release (it's in the IcoContainer component, if forgot to add the `onClick` handler).

[2018-05-23 10:30] mnlbox commented on #1254
Yes I drop and restart Strapi but it's again return `Email is already taken`.

@lauriejim please reopen this issue until fix. Thanks man :wink:

[2018-05-23 10:33] blaasvaer commented on #1235
@raulriera clicking your link sends me to slack (surprise!). Here I'm asked to sign in ...

Now, I obviously don't have an account for strapi.slack.com ... and my only option is this:

`If you have an @strapi.io email address, you can create an account.`

I then did that ... erhm, and then nothing happened, of course.

Now, my question is: Is it automatically assumed that everyone reading issues o

[2018-05-23 10:40] derrickmehaffy commented on #1235
@blaasvaer https://github.com/strapi/strapi right on the front page in the readme:

![image](https://user-images.githubusercontent.com/8593673/40419697-fa531bd2-5e3a-11e8-9477-3f4289f7a3a0.png)

[2018-05-23 10:40] derrickmehaffy commented on #1235
And yes, anyone can create a slack account and join the strapi slack. The Slack server was probably created before the community could join it.

[2018-05-23 10:42] blaasvaer commented on #1235
Erhm, I didn't get that. What am I supposed to do to create an account for strapi.slack.com?

[2018-05-23 10:44] derrickmehaffy commented on #1235
@blaasvaer http://lmgtfy.com/?iie=1&q=create+an+account+on+slack

[2018-05-23 10:46] blaasvaer commented on #1235
Great, having to google how to create an account. That's seriously fucked up UX ; ) ...

[2018-05-23 10:47] derrickmehaffy commented on #1235
@blaasvaer Considering Slack is not developed, nor controlled by Strapi, I would recommend talking to the Slack devs on that. Though it seems pretty self explanatory to me. I'm sure if you have used an IRC before, the experience will be similar.

[2018-05-23 10:50] blaasvaer commented on #1235
I know you don't have anything to do with Slack (other than having chosen it as your primary support platform ... now, that could be questioned as being a good idea). And in general it's all the assumptions you guys make ... that's really worrying.

I've done all in my power to access strapi.slack.com but haven't gotten anywhere nearer a solution ... so I think I'll just leave it at that. Thanks.

[2018-05-23 10:53] derrickmehaffy commented on #1235
@blaasvaer I'm not apart of the Strapi team, just another dev here to help support them and use their project. But since you can't seem to figure out how to join slack here is that convo:

![image](https://user-images.githubusercontent.com/8593673/40420294-d4a67788-5e3c-11e8-90fc-4a0b8ad81068.png)

[2018-05-23 10:57] derrickmehaffy commented on #1235
@blaasvaer Hence the bug report, its a known issue. Fixes are being worked on, as @soupette has said in the other issues thats linked here and in your bug report there is a PR to fix it. It just hasn't been merged into a release yet.

[2018-05-23 11:05] blaasvaer commented on #1235
OK, thanks for the update. I'll hold my horses on this project until it reaches a more erhm, mature state. ; )

[2018-05-23 11:09] derrickmehaffy commented on #1235
Hence the alpha, it's not even in beta yet. :P

[2018-05-23 11:18] soupette commented on #1235
@blaasvaer you need to create a new app and apply these modifications into /admin/admin/src/containers/AdminPage/index.js

[code]

then remove the analytics plugin:
[code]

Then at the root of this new app run `npm run setup`

Once the setup is complete copy the admin folder into your other app and it should be working.

If you encounter any problem you can DM on slack

[2018-05-23 12:53] #1259 closed

[2018-05-23 14:26] jaguilar87 opened #1262 "Use suggested relationship names by default"
**What is the expected behavior?**
When you add a new relation and do not specify a relation name, use the placeholder instead of firing an error.

**Current behavior**
It shows a red error saying `This value input is required.`.

[2018-05-23 14:27] jaguilar87 commented on #1262
![screen shot 2018-05-23 at 16 22 31](https://user-images.githubusercontent.com/14294477/40430750-20142dc8-5ea6-11e8-9181-a2507deb413a.png)

[2018-05-23 16:59] Aurelsicoko commented on #1247
@derrickmehaffy Not a big deal to fix this one. We don't have time but this security pattern has been handled during the development phase.

[2018-05-23 18:10] derrickmehaffy commented on #1247
Noted @Aurelsicoko just wanted to make sure this wasn't a critical security issue. 😛

[2018-05-23 21:39] template01 commented on #1252
Hey. This must be an issue of npm. As you suggested other globally installed packages are also stored in ```/usr/bin/ ``` and not ```/usr/local/bin/```. I'll try to solve this issue in some other way.
Thanks for responding!

[2018-05-23 21:39] #1252 closed

[2018-05-24 03:20] raulriera opened #1263 "Auth.js catch all error displays incorrect message"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongoDB
- **Operating system**: macOS

**What is the current behavior?**
When creating additional required fields in the user model inside the permissions plugin, any attempt at creating a new user by using the Auth.js will fail with the hardcoded message `'Auth.form.erro

[2018-05-24 03:58] mnlbox commented on #1263
@raulriera I think you find reason of my issue here: #1254

[2018-05-24 04:49] mnlbox opened #1264 "Redirect to users list page after update user info"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: Mongo
- **Operating system**: Linux

**What is the current behavior?**
When we update iser info and click **Save** button I think it's better to go to users page. See current behavior in below gif:
![strapi 10](https://user-images.githubusercontent.com/25859075/40464888-22

[2018-05-24 05:08] mnlbox commented on #1256
I also think that if Strapi use an approach like Meteor framework it's better.
In Meteor you have hot reload and it's increase development speed a lot and have a `build` command that use for when we want to move project from development to production.

@lauriejim , @soupette , @Aurelsicoko  Guys please see [Meteor](https://github.com/meteor/meteor) CLI and framework approach.

[2018-05-24 07:28] jquequezana commented on #1254
@soupette Thanks, that fix the issue

[2018-05-24 07:39] soupette commented on #1254
@mnlbox can you show me your user model?

[2018-05-24 07:40] soupette commented on #1264
@mnlbox do you have a password manager?

[2018-05-24 07:41] soupette commented on #1204
The development of this feature is almost done...

[2018-05-24 08:13] mnlbox commented on #1254
@soupette This is my user model:
[code]

[2018-05-24 08:15] mnlbox commented on #1264
@soupette Yes, I just use Firefox default password manager.

[2018-05-24 08:39] soupette commented on #1264
I believe that this is the issue, I facing it when I use 1password

[2018-05-24 08:45] mnlbox commented on #1264
I don't know. Are you have same issue on Firefox?

[2018-05-24 09:09] lauriejim commented on #1254
@soupette told me, @mnlbox you have to remove additional attributes (firstname and lastname) required.

[2018-05-24 09:15] #1263 closed

[2018-05-24 10:16] mnlbox commented on #1254
But I want this field as a required field :disappointed

[2018-05-24 10:34] soupette commented on #1254
@mnlbox what about registering the first admin user and then set it back to true?

[2018-05-24 10:34] soupette commented on #1254
The other options would be to modify the refister form so it displays firstname and lastname

[2018-05-24 10:56] mig4ng commented on #1254
I am also having this issue both on firefox and chrome, it seems when I registered my admin yesterday it did make the change and now I am locked out of the application, what should I do?

[2018-05-24 11:58] Aurelsicoko commented on #1256
Our current architecture forces us to restart the server because of new files which are created when you're creating a new content-type. It's important for us to not move the models in the database. We could add an hot-reload feature though. We won't be able to guarantee it works 100% of the time but it could be a great approach to remove the server restart.

[2018-05-24 11:59] Aurelsicoko commented on #1262
You're not the first one to report it, we should definitely use the placeholder as value, it will save time for everyone 👍

[2018-05-24 12:00] soupette commented on #1254
You'll need to make the modifications listed previously on the issue

[2018-05-24 12:05] mig4ng commented on #1254
I read them but did not understand, do I have to generate a new project and copy the admin folder? Isn't it possible to fix directly my project instead?

[2018-05-24 12:07] blaasvaer commented on #1256
Well, no true dynamic system should ever need a restart when only »content« is manipulated in any way. That would be a faulty architecture. And Content Types in a Headless CMS should also just be considered »content«, as that's what it's all about. Content Types is what an administrator should be able to »administrate« …

[2018-05-24 12:10] soupette commented on #1254
@mig4ng what is your OS?

[2018-05-24 12:16] Aurelsicoko commented on #1256
We're not a Headless-CMS. You can use Strapi like that but the product is based on a framework with a similar architecture like Sails, Rails, etc. Creating a Content-Type means create a model at the framework level. It also means setting the new model in Mongoose or Bookshelf, make sure the relationships are correct, etc.

We have this architecture to keep Strapi flexible and customisable in any w

[2018-05-24 12:17] blaasvaer commented on #1256
Well, in that case you know best. ; )

[2018-05-24 12:17] #1256 closed

[2018-05-24 12:21] Aurelsicoko commented on #1256
As I said, we could certainly add the hot-reload feature, if the restart is too long for the major part of the community 👍

[2018-05-24 12:22] blaasvaer commented on #1256
And your intro video on the site gives exactly the impression of a Headless CMS ... and if it's to also be used as that, then a restart for the server for creating a Content Type is not really that cool ; ).

[2018-05-24 12:26] Aurelsicoko commented on #1256
We're a "new kind" of software, we aim to define us as an "API-first backend solution". We have Headless-CMS capabilities and you can use the product like that, but some people are using us to develop the backend of their marketplaces, mobile apps, etc.

[2018-05-24 12:27] blaasvaer commented on #1256
Kewl.

[2018-05-24 12:38] soupette commented on #1254
@mig4ng I think it will be easier if you take the admin folder from this [project](https://github.com/soupette/fix-strapi-login/tree/master/admin). It's an app that I pushed with the fix from above. So you don't have to rebuild the admin

[2018-05-24 14:08] johannpinson commented on #1257
Hey @soupette,

I watched this issue yesterday but don't have the time to push my commit before you.
To avoid repetitive function calls, I change a little the behavior of the component.

You can see the change in the commit linked to this issue.
Do you think the pull request is still welcome?

[2018-05-24 14:42] derrickmehaffy commented on #1256
I am one of those who is not using this as a Headless-CMS, as a matter of fact I likely won't even have a frontend for the API, we are using Strapi like you would use similar software like Loopback. Hence the reason why I don't view the restarting as a big issue.

All of your content-types should be defined in the `development` environment, then tested in `staging`, and finally deployed to product

[2018-05-24 14:45] blaasvaer commented on #1256
@derrickmehaffy Excuse, rude, how!? Have I stepped on some curling kids toes here or what's the case!?

[2018-05-24 14:46] derrickmehaffy commented on #1256
@blaasvaer the issues section is not the place to discuss this, your welcome to PM me on the slack, and I would be more than willing to talk to you about it.

[2018-05-24 14:47] blaasvaer commented on #1256
Oh, there comes the adult card. Nevermind, I'm not into it.

[2018-05-24 14:54] johannpinson commented on #1264
Hey @mnlbox

I just test it on FF 60.0.1 and MacOS 10.13.4 and I can't reproduce the issue, the password manager of FF don't stop the redirect to the user list page.

What is your version ?

[2018-05-24 14:58] derrickmehaffy commented on #1264
Chrome Version 66.0.3359.181 (Official Build) (64-bit) & Windows 10/Linux Mint 18.3/Kubuntu 18.04

Able to reproduce the issue, but hitting the back button twice brings me to the login screen and I'm able to login in just fine from there.

[2018-05-24 16:13] enozr commented on #1258
Sometimes  I can see this error:

[2018-05-24T16:04:39.908Z] debug GET /users-permissions/routes (23 ms)
{ Error: read ETIMEDOUT
    at _errnoException (util.js:1003:13)
    at TLSWrap.onread (net.js:620:25) errno: 'ETIMEDOUT', code: 'ETIMEDOUT', syscall: 'read' }
[2018-05-24T16:05:45.486Z] debug GET /users-permissions/roles/5b06d64ff66e2a43b15f6e79?lang=en-US (289742 ms)
{ Error: read ETIMEDOUT

[2018-05-24 16:41] Aurelsicoko commented on #1232
Okay, so I fixed this. You can set the resolver in two different way:

[code]

or

[code]

[2018-05-24 17:15] indiecore-fm commented on #1243
Hey buddy, if you need help I am building a boilerplate to quickly hook up a strapi backend to a nuxt frontend. I can help you get started.

[2018-05-24 17:33] derrickmehaffy commented on #1254
@raulriera just as a quick test, use chrome and try and visit your site, if it redirects you to login, hit the back button twice. See if it drops you on the login page.

[2018-05-24 17:36] derrickmehaffy commented on #1243
@indiecore-fm I wouldn't mind seeing these as well, please feel free to drop links to your repos in here 😄

[2018-05-24 18:03] raulriera commented on #1254
I'll try that the next time it happens, unable to reproduce it without "waiting a few days until admin starts doing that"

[2018-05-24 20:33] Aurelsicoko commented on #1232
Not sure it will be the last one but it works for this case and it also supports the `resolverOf` attribute and applies the right policies.

[2018-05-24 21:23] yummyelin opened #1269 "Delete one relation will delete two fields"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb 3.6.4
- **Operating system**: macOS

**What is the current behavior?**
Deleting one relation in a content type, two fields in the content type will be deleted.
For example, I have one relation in INVESTMENTS called PRODUCTID which is oneToOne related to ID in PRODUC

[2018-05-24 21:47] yummyelin opened #1270 "Login loop when adding a relation OneToOne related to USER"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb 3.6.4
- **Operating system**: macOS

**What is the current behavior?**
Adding a relation in a content type, make it oneToOne related to a new field in content type USER. It redirects to login and continue as a login loop.
For example, here are two content types, one

[2018-05-24 21:48] yummyelin commented on #1270
Related to issue https://github.com/strapi/strapi/issues/849

[2018-05-25 01:44] XcrossD commented on #1027
@lauriejim I just updated to 12.2 and created a fresh database. It now says `value` is a reserved keyword, so I can't finish my test, but I guess that is one way to fix it? I only observed specifically this kind of interaction when there is `value` present. For now maybe it is okay but I'm not sure in the long run whether this kind of behavior will appear again with other keywords.

[2018-05-25 02:01] XcrossD commented on #1139
I tested this out as well with a fresh installation. Unfortunately, it seems that a new bug has appeared. It has a different error message from what I have experienced before.
[code]
I'm guessing this has to do with not checking for whether the object actually exists or not, judging from `Object.hasOwnProperty`.

[2018-05-25 06:27] mnlbox commented on #1264
@johannpinson I'm also using Firefox 60.0.1 on Linux and my Strapi version also 12.2

[2018-05-25 06:36] derrickmehaffy commented on #1139
@mnlbox the problem is, the strapi team also need to be provided with the exact ways in which to reproduce the error to help track down the cause.

[2018-05-25 06:39] mnlbox opened #1271 "Side menu items rendered randomly"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: Linux

**What is the current behavior?**
Side menu items rendered randomly. Sometimes **Content Types** section items not rendered, sometimes **Plugins** section items not rendered but **General** section items always rendered successfully.

[2018-05-25 06:52] VonOx opened #1272 "Cannot edit permissions 'SELF_SIGNED_CERT_IN_CHAIN'"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 6.0.1
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MariaDB
- **Operating system**: W10 1709

**What is the current behavior?**

I can't edit permission because of
[code]
![ui](https://user-images.githubusercontent.com/1528694/40530125-d6d5ac6a-5ff7-11e8-9c3c-5f7f5f5945df.png)

**Steps to reproduce the problem**

I'm behind

[2018-05-25 08:39] lauriejim commented on #1027
If it happen we will have to make it as reserved word.

[2018-05-25 08:39] #1027 closed

[2018-05-25 08:40] lauriejim commented on #1233
@mnlbox Can you give me the browser you use please.

[2018-05-25 08:42] lauriejim commented on #1264
@mnlbox can you disable the password manager of your browser and test again please.

[2018-05-25 08:43] lauriejim commented on #1271
@mnlbox It's on Firefox ? It happen also on other browser you have ?

[2018-05-25 08:59] soupette commented on #1271
How do you start your server (`npm start` or `strapi start`)?

[2018-05-25 09:08] soupette commented on #1270
@yummyelin I tried to reproduce your issue but I wasn't able to...

[2018-05-25 10:15] israelroldan commented on #1235
For me removing the analytics plugin using the admin page fixed this issue!

[2018-05-25 10:16] mnlbox commented on #1271
@lauriejim yes it's Firefox but I check and it's happen also on Chromium.
@soupette I run by `strapi start`.

[2018-05-25 10:18] israelroldan commented on #1254
This is caused by the analytics plugin, if you're not using it just disable it and voila!

[2018-05-25 11:13] mig4ng commented on #1254
thanks @soupette! It worked for me, if anyone is having this issue too on any unix based OS just go to the directory above your project, clone the @soupette project, remove the admin/admin folder in your project and copy the admin/admin folder from the @soupette project to yours

**Step by step:**
1. Go to your project and `cd ..`
2. Clone @soupette project with `git clone https://github.com/soupe

[2018-05-25 11:48] soupette opened #1273 "Decimal fields are stored as string in DB"
**Informations**
- **Node.js version**: v9.10
- **npm version**: v6.0.1
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: Postgres
- **Operating system**: Mac OS

**What is the current behavior?**
Decimal data is stored as string in the database.

**Steps to reproduce the problem**
- Create a content type with a decimal field
- Go to the `content-manager` and create an entry
- The admin send

[2018-05-25 12:19] johannpinson commented on #1232
Thanks @Aurelsicoko! 👍

[2018-05-25 12:30] derrickmehaffy commented on #1273
Odd, this was something I submitted a PR for @soupette

[2018-05-25 12:31] derrickmehaffy commented on #1273
https://github.com/strapi/strapi/pull/1151

[2018-05-25 12:33] Aurelsicoko commented on #1139
Can everyone confirm me that you have an empty `plugin` attribute in your models? It was the cause of the previous issue, it should be fixed but it seems that a new case hasn't been covered.

[2018-05-25 12:34] soupette commented on #1273
@derrickmehaffy I know but while working on the filters for the `content-manager` I noticed that it doesn't work only for numerical fields.

[2018-05-25 13:10] derrickmehaffy commented on #1273
@soupette Thats strange, can you check the database to confirm its being stored as a string?

Based on this: https://www.postgresql.org/docs/9.5/static/datatype-numeric.html

`decimal` should be a valid data type, the same applies to MySQL and I can 100% confirm that is how its being set (though some have stated its default accuracy should be changed, that is something we should look at from both

[2018-05-25 13:33] Aurelsicoko commented on #1164
It should be fixed in the next release!

[2018-05-25 13:39] derrickmehaffy commented on #1273
@soupette I believe something like this should fix it: https://github.com/derrickmehaffy/strapi/commit/57cb35bb1053712b76d605fef4f05455482edb7e

[2018-05-25 13:40] derrickmehaffy commented on #1273
If you want I submit a pull request, but I'm about to head off for the holiday weekend here in the US in about ~30 minutes.

[2018-05-25 13:40] johannpinson opened #1274 "Replace default `_id` by `id` with Mongoose"
When the schema is generated, the primaryKey used is `_id`.
But following the OpenCRUD and other GraphQL convention, the flag "_" should not be used for variable like `title` or `content`

I already try to change it inside the plugin and it seems to work with MongoDB because there are the two fields `_id` and `id` inside an document (but I don't try with MySQL).
But even after change the content o

[2018-05-25 14:41] mathb67 commented on #730
Same issue here with the registrar route (using postman), but the @derrickmehaffy's answer fix it ! Thanks

[2018-05-25 15:15] Aurelsicoko commented on #1058
I added the amount limiting and depth limiting feature. I think 7 levels of depths is enough. What do you think about that?

[2018-05-25 15:34] soupette commented on #1271
It seems that some plugins aren't loaded, but I'm unable to reproduce your issue.

[2018-05-25 15:39] soupette commented on #1257
@johannpinson sure your PR is more than welcomed, in fact it's better that the one I made!

[2018-05-25 16:10] mnlbox commented on #1271
If I can help to reproduce issue please tell me. I don't know how help about this. :thinking:

[2018-05-25 16:16] indiecore-fm commented on #1139
@XcrossD Same issue. I posted it here:

https://github.com/strapi/strapi/issues/1237

[2018-05-25 16:19] indiecore-fm commented on #1237
@lauriejim What I did was add a "has many" relation. That's all I did and it created the above error. Then after I manually deleted the addition made, Strapi would start back up.

I also had this issue if I tried adding too many content types at one time.

Whats strange is that this issue has not come up on my other fresh 12.2 build.

[2018-05-25 18:19] dsheyp commented on #1139
the one who fixes this strapi-not-booting-issue in the near future will be allowed to carry the title "bootstrapi" thenceforth as a sign of honour 👍

[2018-05-25 19:29] dsheyp commented on #1139
hi

i just tested with alpha 12.2 with a fresh project resulting in the server not being able to restart after adding a relation between two content-types. also the title of the selector dropdown was still blank as it was in my initial issue description. the console shows

[code]
the empty plugin: "" attribute is gone

after adding the relation manually to one of the content-types the server resta

[2018-05-25 19:39] indiecore-fm commented on #1243
@derrickmehaffy Of course. Here you go! I still have a lot to do, but working when I can on it. (wifes about to pop)

Currently there is no frontend admin panel/theme etc, but Auth and registration works. All you have to do is clone this and just make sure your strapi API is up and running. Its already set to: localhost:1337

I plan to add a lot to this to really make it a great starting point for

[2018-05-25 21:06] kamalbennani commented on #1273
I don't know how the fix in the PR will fix something, because after all, doing definition.client === 'pg' ? attribute.type : 'decimal' is the same as just using 'decimal', perhaps there is something that I missed :thinking:

[2018-05-25 21:42] decimoseptimo commented on #1088
This doesn't work.
You can set the `router` in `./config/environments/**/request.json`, but the html markup will still hard-link to `/admin` everywhere.

[2018-05-26 04:16] mig4ng opened #1277 "Strapi ORM Documentation"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: Linux

**Is there any documentation regarding the strapi orm?**
I am trying to add custom services to my models, I want to update my content type when I use the GET route, I simply want to increave an attribute value by one

[2018-05-26 06:28] mnlbox commented on #1277
@mig4ng Please up vote to **Documentation** in https://strapi.io/vote :wink:

[2018-05-26 06:53] UniBen commented on #1217
I’m interested in developing a plugin for ordering. Please could you let me know what you are thinking of @soupette?

[2018-05-26 08:19] dsheyp commented on #1235
exactly the same issue here.

my understanding of the problem is the following: when you create the new (admin) user a cookie will be set in the browser. but if this cookie is deleted later in the browser, strapi will always redirect that browser to the "register" page and it will be impossible to re-login with that browser until you create a new account from that browser which will again set the

[2018-05-26 08:56] dsheyp commented on #1235
@soupette

i applied your fix but it doesn't change anything for me when there is no cookie present in the browser - the browser will always be redirected to the register page although there exists an admin user in the mongodb. with a different browser where the cookie is still present i can login at the same time using exactly that account. i think it's the missing cookie in the browser (on which

[2018-05-26 12:50] nurikabe commented on #1277
Are you running into a problem where returning data from the MongooseJS ORM doesn't allow you to modify the object?  If so, transform the returned Mongoose document to a JavaScript object.

[2018-05-26 16:21] toringo opened #1278 "When will the official version of V3 be released？"
**What is the expected behavior?**

[2018-05-26 17:19] kamalbennani commented on #1278
It's better to start the discussion on Slack: https://strapi.slack.com/ rather than creating an issue

[2018-05-26 19:09] kevrat opened #1280 "Why strapi trying to connect to https://analytics.strapi.io/track ?"
Get it when start my first project on strapi

[code]

It is tracking my project info? Where can i find note about what kind info its track and how can i disable it?

[2018-05-27 05:22] arcee123 opened #1281 "Strapi new project command freezes on database connection setting portion of CLI wizard on Windows"
**Informations**
- **Node.js version**: 10.2.1
- **npm version**: 6.2.1
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: 3.6.5
- **Operating system**: Windows Server 2016

**What is the current behavior?**
When selecting the database type (Mongodb in this case), the options for logging on do not appear.  The command prompt sticks and freezes in session.  I have also attempted to run the stra

[2018-05-27 06:52] toringo commented on #1278
ok

[2018-05-27 06:52] #1278 closed

[2018-05-27 15:48] sb4yd3e opened #1282 "I can't open admin log in page.It auto redirect to register."
**Informations**
- **Node.js version**: 8.11.1
- **npm version**: 6.1
- **Strapi version**:v3.0.0-alpha.12.2
- **Database**:Mongo DB
- **Operating system**:OSX

When in log out from admin panel it auto redirect to register new admin.
And can't open http://localhost:1337/admin/plugins/users-permissions/auth/login

[2018-05-27 15:56] raulriera commented on #1254
@derrickmehaffy you are right, hitting the back button twice takes me to the login page. But I second the opinion I saw somewhere else that we should simply remove the redirect and link the two pages together... Being able to go from login to register anytime I want by having http links in them

[2018-05-27 17:42] lauriejim commented on #1282
Please check opened issue. One already exist about this point.

[2018-05-27 17:42] #1282 closed

[2018-05-27 18:17] lauriejim commented on #1277
@mig4ng Please follow the mongoose ORM documentation.

[2018-05-27 18:26] lauriejim commented on #1281
Hello @arcee123 !
I will need your help to try to understand where you issue come from.

Can you please investigate on this file https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/before.js
It's where the database connection form is write.
And here https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/utils/connectivity.js
for the database connection

[2018-05-27 23:48] derrickmehaffy commented on #1282
Related issue: https://github.com/strapi/strapi/issues/1254

[2018-05-27 23:51] derrickmehaffy commented on #1254
@raulriera yeah thats what I thought, although it seems there might be other issues related to this as others have stated their admin user is not in the database (which I find odd, personally I think this is just related to this redirect issue and the user does exist there.) That being said, I don't use MongoDB and MySQL is far easier to check with. I still get the issue from time to time with @mi

[2018-05-28 03:02] arcee123 commented on #1281
Hi @lauriejim, so it appears like this problem is a Node 10.x.x version compatibility issue.  When I downgraded node back down to 8.x.x, it fired up correctly.  I'll be anxiously waiting for the next upgrade.  Thanks.

[2018-05-28 07:19] dertuerke opened #1283 "Can not Install Strapi Alpha on windows"
Informations

Node.js version: 8.11.2
npm version: 6.1.0
Operating system: Windows 10

Hi,

if i try to install strapi i get this error:
`npm ERR! Unexpected token < in JSON at position 0 while parsing near '<!DOCTYPE HTML PUBLI...'`

[2018-05-28 07:39] XcrossD commented on #1139
@indiecore-fm I agree the issue should be the same if it's along the lines of `error Cannot read property 'xxxxxxx' of undefined`. However I am confused by what @dsheyp observed. The initial observation shows the same error, but later on it seems like strapi just didn't generate the json files correctly judging by the updated error message `error The attribute `test` is missing in the model Subtes

[2018-05-28 07:40] damtsnkff commented on #1283
@dertuerke node version should be >= 9.
https://strapi.io/documentation/getting-started/installation.html

[2018-05-28 07:41] dertuerke commented on #1283
@damtsnkff i try it with node-lts and with node 10.x. In both i get the same error.

[2018-05-28 09:15] dertuerke commented on #1283
So i found the error on my System.

My system probably does not like the package `koa-favicon 2.0.1`

[2018-05-28 09:37] francismoreno commented on #679
I had the same error when trying to run `strapi start`:

`error: The hook `_config` failed to load!`

fixed it by running `npm install`

[2018-05-28 10:01] soupette commented on #1283
@lauriejim @Aurelsicoko should we lock the `koa-favicon` version?

[2018-05-28 10:19] dertuerke commented on #1283
@soupette I withdraw my statement. It does not seem to matter.

[2018-05-28 12:11] alexandremottet opened #1284 "Cannot save a content with a relation"
**Informations**
- **Node.js version**: 9.7.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: mongo
- **Operating system**: windows

**What is the current behavior?**
When you try to save a content which contain a relation field type you got the following error :
`this.updateRelations is not a function`
The value of the relation is not saved.

**Steps to reproduce

[2018-05-28 12:13] Aurelsicoko commented on #1280
@kevrat Thank you for raising this issue! A similar issue (https://github.com/strapi/strapi/issues/479) has been opened a few months ago.

We are using this to improve the product and know more about the usage of Strapi. To be 100% transparent about this process, here the list of the data we're collecting and why:

- uuid _(unique ID of the app)_
- model names and attributes names _(Is Strapi used

[2018-05-28 12:29] kevrat commented on #1280
All is clear, thanks for the explanation

[2018-05-28 12:29] #1280 closed

[2018-05-28 13:18] lauriejim commented on #1283
@dertuerke We will be able to help you actually.
Please use your mac 😄

[2018-05-28 13:38] lauriejim commented on #1284
@alexandremottet Did you use this [Repo](https://github.com/strapi/strapi-examples/tree/master/jekyll-strapi-tutorial) or you follow the article with a fresh new Strapi app?

[2018-05-28 13:53] soupette commented on #1269
Hi @yummyelin I tried to reproduce your issue but it working as expected on my side

[2018-05-28 14:31] chris1705 opened #1286 "How to enable custom hook?"
Hello!
I want to develop a custom hook making websockets available to strapi. Unfortunately the documentation is not detailed enough and I get the following error:

`[2018-05-28T14:22:23.290Z] warn (hook:falcsWebsockets) wasn't loaded due to missing key `enabled` in the configuration
`

**Informations**
- **Node.js version**: v8.11.2
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha.12
- *

[2018-05-28 14:49] #1214 closed

[2018-05-28 15:18] alexandremottet commented on #1284
I linked the wrong article (so sorry), I use this article with a fresh strapi app : https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/

[2018-05-28 18:41] minvedacat opened #1289 "Plugin development guide doesn't work as expected"
**Informations**
- **Node.js version**:9.11.1/10.2.1
- **npm version**:5.6.0
- **Strapi version**:3.0.0-alpha.12.2
- **Database**:mongodb v3.6.5
- **Operating system**: Mac OS X 10.13.4

**What is the current behavior?**
It failed to `npm start` under `admin` folder during [plugin development guide](https://strapi.io/documentation/plugin-development/quick-start.html#plugin-development-setup)
Here

[2018-05-28 19:11] masterkrieger opened #1290 "Custom Dynamic Routes other than /:_id"
**Informations**
- **Node.js version**: 9.10.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb v3.4.4
- **Operating system**: Mac OS X 10.13.4

**What is the current behavior?**
Added a custom dynamic route "/:slug" to `./api/article/config/routes.json`, where 'article' is my content type name. Response is a 404 error when accessing `localhost:1337/article/e

[2018-05-28 20:03] willisplummer opened #1291 "Rich Text Editor Doesn't Support Multi Paragraph Edits"
**Informations**
- **Node.js version: 9.11.1**:
- **npm version: 5.6.0**:
- **Strapi version: 3.0.0-alpha.12.2**:
- **Database: MongoDB**:
- **Operating system**:

**What is the current behavior?**
Highlighting multiple paragraphs of text and clicking bold erases the highlighted text and replaces with the string `**bold text**`.

**Steps to reproduce the problem**
Highlight multiple paragraphs of

[2018-05-28 21:31] raulriera commented on #1290
My guess is that you need to remove `{ "method": "GET", "path": "/article/:_id", "handler": "Article.findOne", "config": { "policies": [] } }`, otherwise you are just creating the same route again... The router doesn't know `article/something-in-here` is an id or a slug, it will just do a match that it found something else and only something else after /article...

[2018-05-28 23:17] hrdunn commented on #171
@SupremeTechnopriest Any luck on that SSL script? Would love to know if you were able to figure this out.

[2018-05-29 06:45] dertuerke commented on #1281
Same problem here:
- with Node 10.2.1 it freez after MongoDB
- with Node-LTS 8.11.2 its work

[2018-05-29 08:43] johannpinson opened #1292 "Filter on relation"
**What is the expected behavior?**

 I look into the doc and github, but can’t find how to solve this problem:

How can I add a filter (where) to a relation?

URL: http://localhost:1337/platform
Response:
[code]

For example, can we have a URL like :
`http://localhost:1337/platform?platformModels={"type_ne":"STANDARD"}`

It will allow to filter inside relations from specific rules/fields

[2018-05-29 09:45] Aurelsicoko commented on #1139
Are the steps to reproduce the exact same?

[2018-05-29 09:47] Aurelsicoko commented on #1283
@soupette If the `koa-favicon@2.0.1` is the cause of the error, we should lock it to `2.0.0`.

[2018-05-29 09:56] Aurelsicoko commented on #415
Can someone show me the error and logs you got? It's weird because it works well on our machines and many others members are able to contribute. I hope we can fix it asap to accept your PRs or let you edit your projects.

[2018-05-29 09:58] dertuerke commented on #1283
I found the issue on my system.
The npm proxy was wrong.

After i change from `http://registry.npmjs.org/` to `https://registry.npmjs.org/`, it works 😄

I do not know why the "HTTP" did not work. But with "HTTPS" it works.
I can imagine that it is the IT structure in our company.

I hope it helps others too.

[2018-05-29 10:15] billgo commented on #415
I think is the user permission problem.
run `sudo chmod -R 777 strapi`

[2018-05-29 10:22] XcrossD commented on #1139
@Aurelsicoko Yes.

[2018-05-29 10:53] alexandremottet commented on #1284
My bad, I just run `npm update -g strapi` and it works.

[2018-05-29 10:53] #1284 closed

[2018-05-29 13:01] derrickmehaffy commented on #1119
@toshkoevoets there should be a migration guide from 12.1.3 to 12.2 (sorry on mobile at the moment) but these issues are resolved in the latest update. It can be quite difficult right now, mainly due to Strapi being in alpha, it isn't quite 100% ready for real production use.

[2018-05-29 16:52] Tansito commented on #927
I am having the same problem here. It would be great to unify the paths of the different providers.

[2018-05-29 18:48] SupremeTechnopriest commented on #171
@hrdunn It really depends on your use case... If you have Strapi working then thats great.  Its a cool product, when it works.  Unfortunately for me it constantly breaks.  From now on ill be rolling my own api/ cms for any project that needs it.  Theres not that many options in node.js.  Anytime I write a blog I use ghost.  Love ghost.

[2018-05-29 18:56] SupremeTechnopriest opened #1296 "Support node LTS version"
**Informations**
- **Node.js version**: 8
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: mongo
- **Operating system**: osx

**What is the current behavior?**

Strapi requires unstable versions of node.  Strapi should support the Long Term Support versions of nodejs.  Not the versions where bugs will never be fixed.  Until node 10 is LTS, you should support node 8.

*

[2018-05-29 18:56] raulriera commented on #1290
If you removed the id route, then you need to change the findOne code to be `if (!ctx.params.slug.match(/^[0-9a-fA-F]{24}$/)) {` instead :)

[2018-05-29 19:11] #1283 closed

[2018-05-29 19:29] abdonrd commented on #927
In fact, I've tried with GitHub & Twitter; I didn't get any of them to work for me (on the callback I get a 400).

[2018-05-29 19:36] lauriejim commented on #1119
@ToshKoevoets You will have to manually update (with a script) all your data.

[2018-05-29 19:58] #1247 closed

[2018-05-29 19:58] #1058 closed

[2018-05-29 19:58] #1164 closed

[2018-05-29 19:58] #1174 closed

[2018-05-29 19:58] #1232 closed

[2018-05-29 22:01] GalEldarDev commented on #1258
I managed to recreate the above issue, through a sequance of events / actions in the admin dashboard.

1. Click on **_Roles and Premissions Tab_**
2. Add a **_New Role_**
3. Name it **_Guest_**
4. Add only the _Admin_ to the **_Guest_**  array
5. Click **_Save_**

[2018-05-30 03:43] Velua opened #1297 "Role object in permissions.js undefined"
**Informations**
- **Node.js version**: 9.4.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: Mongo 3.0.8
- **Operating system**: Ubuntu 16.04.1

**What is the current behavior?**
[code]

**Steps to reproduce the problem**
Create a fresh strapi instance with `strapi new derp`
`strapi start`
Navigate to http://localhost:1337/admin in the web browser.

**What is the e

[2018-05-30 03:49] minvedacat commented on #1289
@soupette the commands worked for me either.
So that was my mistake. I thought [Develpoment Environment Setup](https://strapi.io/documentation/plugin-development/quick-start.html#development-environment-setup) is not required for plugin development.

[2018-05-30 03:53] Velua commented on #1297
Feels somewhat related to #1235 in a way? or #1222

[2018-05-30 08:06] weactivist commented on #1284
I have the same issue. Built with docker-compose. The versions used are:

"strapi": "^3.0.0-alpha.12.2",
"strapi-mongoose": "3.0.0-alpha.12"

[2018-05-30 08:15] soupette commented on #1289
Ok good news!
I'm closing the issue

[2018-05-30 08:15] #1289 closed

[2018-05-30 08:26] soupette commented on #1258
I managed to reproduce the issue as well. What happens is that when you create the new role `Guest` and add the admin user to it he is not allowed to access the admin panel anymore.
So in order to fix you have to set his role back to `Administrator`.

[2018-05-30 09:03] lauriejim commented on #1212
Hello @mnlbox !

I'm not able to reproduce your issue. Can you please retry your steps with a fresh new app and database with Strapi `3.0.0-alpha.12.2` version.

[2018-05-30 09:28] lauriejim commented on #1230
Did you try with a fresh new app and new database ? Can you did it if it's not the case please.

I'm not able to reproduce your issue on `3.0.0-alpha.12.2`.

Can you share a .zip file of your `api` folder. And your User.settings.json file.

[2018-05-30 10:26] Aurelsicoko commented on #171
@SupremeTechnopriest I'm sorry you encountered some many issues. We are doing our best to make the product better and better. However, please respect our work and the community members who are trying to improve the product every day.

I think you misunderstand what open-source is. It means that if you have bugs you can report them or fix them. You're not paying anything and no one forced you to us

[2018-05-30 12:43] derrickmehaffy commented on #1296
As Strapi is an alpha project at the moment and there is still a large amount of ongoing development and with node 10 going into LTS in October 2018 (about 5 months from now) I would say it would be best to require and develop on node 10 to promote future development.

Node LTS release Schedule: https://github.com/nodejs/Release#release-schedule

[2018-05-30 13:26] coolemur opened #1300 "Content type won't save"
**Informations**
- **Node.js version**: v8.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: Mongodb 3.6.5
- **Operating system**: ubuntu 16.04

**What is the current behavior?**

Content type wont save unless I restart my strapi node server.
(same issue here https://github.com/strapi/strapi/issues/487 but it was closed ??)

**Steps to reproduce the problem**

Tr

[2018-05-30 13:34] derrickmehaffy commented on #1300
@coolemur can you try and update your node version to node 9 or node 10 and try with a fresh project? Also include any errors dumped into the console.

[2018-05-30 13:54] coolemur commented on #1300
@derrickmehaffy I can confirm that this issue doesn't occur with node v10.3.0 . Thank you.

P.s. You might want to fix it on older version or just document that version x.x.x+ is needed for strapi.

[2018-05-30 13:55] derrickmehaffy commented on #1300
@coolemur I believe as of late the required version of node >9 is documented but yeah I think right now its best to just move to node 10

[2018-05-30 13:56] coolemur commented on #1300
@derrickmehaffy wrong call.... data dissapeared after page refresh... :/

[2018-05-30 13:56] coolemur commented on #1300
So it doesn't work with v10 either...

[2018-05-30 13:57] derrickmehaffy commented on #1300
@coolemur is Strapi automatically restarting when you save a content type? Or is this for data being entered in the content manager?

[2018-05-30 13:59] coolemur commented on #1300
@derrickmehaffy

1) I create content type and press save.
2) Content tipe appears in list and success message is shown.
3) I refresh page - content type is gone from the list.
4) I restart node server - content type appears in list.

[2018-05-30 14:02] derrickmehaffy commented on #1300
@coolemur in your console are you seeing any errors being generated (not the browser console, the console where you ran `strapi start`)

Also is your model being shown in the `api/-modelname-/models/-Modelname-.settings.json` ?

[2018-05-30 14:07] coolemur commented on #1300
@derrickmehaffy

Model appears at api/-modelname-/models/-Modelname-.settings.json  but not in web application .
No errors is generated when I start api.

I think I found the problem.

When I run it with Forever (daemon library)
```forever start server.js``` Then it won't work.

When I run command
```strapi start``` it works

Is it possible to run strapi as a daemon process  (I need daemon for pro

[2018-05-30 14:20] lauriejim commented on #1241
Hello @H-L

I reproduce exactly steps of your [comment](https://github.com/strapi/strapi/issues/1241#issuecomment-390768065) and I hasn't able to have your issue.

@derrickmehaffy are you able to reproduce this issue ?

[2018-05-30 14:38] derrickmehaffy commented on #1241
This was @Aurelsicoko thoughts on how to handle it:

[2018-05-30 14:58] lauriejim commented on #1241
@derrickmehaffy In this case, it's not an update. @H-L get an error on just adding new fields.

[2018-05-30 15:59] lauriejim commented on #1273
Data is well stored, if you did an export of your table we got the correct format. Looks coming from node-pg.

[2018-05-30 16:56] derrickmehaffy commented on #1241
For testing I created the following model:

[code]

I then saved the model and strapi restarted fine, I also confirmed it generated the table and columns in MySQL:
![image](https://user-images.githubusercontent.com/8593673/40735194-6a6505d4-63ef-11e8-982f-95ed3e996e04.png)

I then attempted to add a new string field:

[code]

Saved and strapi restarted fine, confirmed in the database that the new

[2018-05-30 16:59] derrickmehaffy commented on #1241
When attempting to edit the new `teststring2` field and change it to `teststring2edit` the server restarted fine however a duplicate entry was added to the database:

![image](https://user-images.githubusercontent.com/8593673/40735456-13e2bafc-63f0-11e8-8819-8f40b7b813bd.png)

[2018-05-30 17:04] derrickmehaffy commented on #1241
Attempting to add multiple fields fails, below is the model config and the error:

[code]

Error: ```
[2018-05-30T17:03:06.375Z] debug PUT /content-type-builder/models/testadd (25 ms)
[2018-05-30T17:03:06.375Z] info The server is restarting

(node:11263) [DEP0096] DeprecationWarning: timers.unenroll() is deprecated. Please use clearTimeout instead.
(node:11263) UnhandledPromiseRejectionWarning: Er

[2018-05-30 17:05] derrickmehaffy commented on #1241
To me it looks like the `ALTER TABLE` command is being cut off or mal-formatted

[2018-05-30 17:09] derrickmehaffy commented on #1241
Adding single fields works fine, adding any more than 1 will result in either this error or bookshelf stalls and fails to restart.

[2018-05-30 18:15] yummyelin opened #1301 "mainField will lost content type builder model update"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**:5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb 3.6.4
- **Operating system**: macOS

**What is the current behavior?**
mainField in xxx.settings.json will lost if using admin panel to modify the same model

**Steps to reproduce the problem**

1. manually add 'mainField' in models/Profile.settings.json([documentat

[2018-05-30 19:01] yummyelin commented on #1300
I used `strapi start`, the issue reproduced.

Steps:
1. Select "content type builder" in admin panel, click on "add content type", save
2. Click on "add new field", save.
1)Success message pop up.
2)The new content type appears in left side bar.
3. Click on the new content type, shows: there are no fields yet, which make sense.
4. Click back on "content type builder", **the new content type disapp

[2018-05-30 19:19] yummyelin commented on #1269
@soupette I pushed an example project which reproduced the issue, please clone from [here](https://github.com/yummyelin/strapi-hello-world), checkout commit 2c7c67d.

Delete UID in PROFILE will cause this issue.

[2018-05-30 19:19] derrickmehaffy commented on #1301
Can confirm, just tested as well and `mainfield` is lost when modifying the model via the adminUI

[2018-05-30 21:00] derrickmehaffy commented on #1269
@yummyelin just something I noticed your package.json in that example is listing `"strapi": "3.0.0-alpha.12"` and not  `"strapi": "3.0.0-alpha.12.2"`

Can you try and generate a new clean project and add your models to test with a clean 12.2 project?

[2018-05-31 08:10] soupette commented on #1300
@yummyelin do you have the graphql plugin installed?

[2018-05-31 09:20] lauriejim commented on #1241
@derrickmehaffy Thank you for this investigation. I will try to reproduce.

[2018-05-31 12:27] #1257 closed

[2018-05-31 12:36] lauriejim opened #1303 "Add count route for bookshelf"
**What is the expected behavior?**

We had `:ressource/count` route to count entries for mongoose. We have to get the same feature for bookshelf.

Related to: https://github.com/strapi/strapi/pull/1293

[2018-05-31 14:22] zhuang17 opened #1306 "Always load the short user language code in UI when reload page."
**Informations**
- **Node.js version**:
v9.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.2
- **Database**:
MongoDB
3.6.3
- **Operating system**:
MacOS 10.12

**What is the current behavior?**
Now I choose `Chinese Simplify Language(ZH-HANS`) in admin UI, and the next time when i reload the page in browser , the UI load the Language (`ZH`) in admin UI

https://github.com/strapi

[2018-05-31 14:35] zhuang17 commented on #1306
and btw,  the current ZH translation is actually Traditional Chinese script, which should be ZH-HANT if we have multiple Chinese Language sub tag.
i guess we may change current ZH translations to ZH-HANT.

[2018-05-31 16:27] lauriejim commented on #1258
@kwzm and @enozr I'm not able to reproduce your issue. Are you trying to play with two applications with the same database ?

@GalEldarDev your steps match with an other issue. We have to block admin user role update.

[2018-05-31 16:33] GalEldarDev commented on #1258
Thanks for the update @lauriejim .
I will do my best to push a PR with a fix in the next few days.

[2018-05-31 16:55] lauriejim commented on #1300
Hi @coolemur an @yummyelin .
I reproduce your steps @yummyelin and it looks working on my side. @soupette did you successfully reproduce the issue ?

[2018-05-31 17:04] #1115 closed

[2018-05-31 17:07] lauriejim commented on #1306
Hello @zhuang17 , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-05-31 21:38] yummyelin commented on #1300
@soupette no, I didn't install graphql plugin.

[2018-06-01 03:14] Velua commented on #886
I'm also having this issue at 12.2, same as described.

[2018-06-01 03:17] Velua commented on #886
It doesn't appear to happen if I make the relationship from the other model.
E.g. instead of editing the blogPost model and referencing a relationship with categorie
I edit the categorie model and reference a relationship with the blogPosts model.

[2018-06-01 05:12] okaris commented on #1303
Working on this now.

[2018-06-01 08:58] #1303 closed

[2018-06-01 09:37] #1203 closed

[2018-06-01 12:48] template01 commented on #351
@TareqElMasri: yes! since strapi@alpha.11

[2018-06-01 13:38] Dronozavr commented on #877
@lauriejim Now it is okay! Thanks! Sorry for annoying! Keep pushing guys, Strapi is pretty cool. Merci beaucoup

[2018-06-01 14:04] jdus commented on #877
Should this be fixed in '3.0.0-alpha.12.2'? I still have this problem.

I have an object 'photo', as well as an object 'photoset'. 'Photoset' has a 'belongs to many' relation to 'Photo'.

If I query 'photo' directly I get the correct values in the 'file' attribute, if I query 'photoset', which gives me a list of photo sets with nested photo objects, I get 'null' as value. Is this intentional and I

[2018-06-01 14:07] #1241 closed

[2018-06-01 14:15] #1235 closed

[2018-06-01 17:33] tcdona commented on #1101
i have the same problem too, thx

[2018-06-01 18:35] tguelcan commented on #1284
same problem

[2018-06-02 19:15] alexdevmotion commented on #914
Replacing
[code]
with
[code]
in ``node_modules/strapi/lib/middlewares/cors/index.js``
also fixed the issue for me.

[2018-06-02 23:47] mig4ng commented on #1292
This is a must have feature, I also need this

[2018-06-03 09:42] Dronozavr commented on #877
@jdus Hi, yes the version '3.0.0-alpha.12.2' solved my problem; But it is not populates nested values by default (from the box, as to speak). If you follow this issue from the beginning , you ll notice the `.populate` method, which you have to apply to make your nested media types available.

`      .populate({
        path: 'mentors',
        populate: { path: 'image' }
      });`

[2018-06-03 10:45] jdus commented on #877
@Dronozavr, thanks your answer :) I figured out how to adapt the service, but I just wasn't sure if it should still be needed...

[2018-06-03 12:49] #877 closed

[2018-06-03 13:47] opgbaudouin commented on #1281
Same here
node 10.2.1
npm 6.1.0
strapi 3.0.0-alpha.12.2

windows 10 64bit

[2018-06-03 16:01] derrickmehaffy commented on #1281
@dertuerke and @opgbaudouin I am unable to reproduce this issue on Ubuntu using the following versions:

Node 10.1.0
Node 10.2.1
Node 10.3.0

All using NPM 6.1.0, there might be an issue with your locally installed node version, or if you are on windows there are known issues with this. I would recommend if you are on a Windows 10 machine, you install the WSL (Ubuntu I recommend) and do further de

[2018-06-03 16:07] derrickmehaffy commented on #1281
https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2018-06-04 12:28] #914 closed

[2018-06-04 13:11] lauriejim commented on #1213
Hello @mnlbox !

How do you register this new user ? Did you use the content manager ?

Because `provider` is different than `role`. Provider is `local`, `facebook`, `twitter` ....

[2018-06-04 13:49] lauriejim commented on #1186
Okay I have some news about this issue. The content type builder not write the good lines in the model.
In one case it write `collection` in both side and the relation became `manyToMany` or `model` and the relation became `oneToOne`.
I think it come from the equalizer we use to apply the relation update in the other model. in our case the other model is the model himself.

Start investigation to

[2018-06-04 14:05] lauriejim commented on #1186
It's a frontend issue. The relation information sended is the same for both attributes.
In my case `oneToMany`

![relation-himself](https://user-images.githubusercontent.com/5716596/40921876-fa14aee4-6810-11e8-9c31-7bd6770783e2.png)

[2018-06-04 14:58] lauriejim commented on #1297
Yes that's it !

[2018-06-04 14:58] #1297 closed

[2018-06-04 15:09] donking13 commented on #927
Same here, I check my facebook login settings and it says there that I can only use http as a callback. I also observered there that https and strict mode are on by default.

[2018-06-04 17:36] jiradeto opened #1316 "POST multipart/form-data on generated API for file upload"
**Informations**
Node 8.11.1
npm 5.6.0
The latest version of Strapi
Mongo DB 3.6.5

**What is the current behavior?**
I am trying to create the Mongo document and upload its image simultaneously by using POST API with the `multipart/form-data`.

Let's say I want to create new Product with fields `title`, `price`, `image`, here is the example of my request body of FormData
[code]

**Response**
[cod

[2018-06-04 21:34] davutkara opened #1317 "API is response for any authorization header on GraphQL"
**Informations**
- **Node.js version**: 8.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0 alpha 12.2
- **Database**: mongodb
- **Operating system**: ubuntu 16.04

**What is the current behavior?**

Api is response for any authorization

**Steps to reproduce the problem**

I installed graphql and Chrome Modify Headers extension, I set authorization for dummy data, then it response for my

[2018-06-04 21:55] davutkara commented on #1317
When I try restful api it gives error that is "invalid token."
But when using graphql, it did not give error.

[2018-06-04 22:18] Nyeedz opened #1318 "Media relation format (GET) is not correct"
**Informations**
- **Node.js version**: 10.3.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongoDB
- **Operating system**: Windows 10 64bits

**What is the current behavior?**
When i upload an file to my model called "/chamados", with the media field caled "pictures", i'm receiving an wrong response from the server.

**Steps to reproduce the problem**
POST to "/

[2018-06-05 07:48] #1186 closed

[2018-06-05 08:38] dulgeoion opened #1319 "Bookshelf loading issue"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.3
- **Database**: postgress
- **Operating system**: Ubuntu 17.10

**What is the current behavior?**

When I am trying to run server it always throwing this exception:
`[2018-06-05T08:20:52.868Z] debug Server wasn't able to start properly.`
`(hook:bookshelf) takes too long to load`
If I dr

[2018-06-05 09:10] #1273 closed

[2018-06-05 10:23] #1231 closed, assigned to soupette

[2018-06-05 10:30] lauriejim commented on #493
Done https://github.com/strapi/strapi/pull/1199

[2018-06-05 10:30] #493 closed

[2018-06-05 11:08] santiagopampillo commented on #747
Did you succesfully connect Starpi to dynamo?

[2018-06-05 11:54] lauriejim commented on #167
I update the name of this issue because we can search by attributes. See filters documentation

[2018-06-05 11:56] opgbaudouin commented on #1281
I can confirm NO issues on

CentOS Linux release 7.5.1804
Strapi version: 3.0.0-alpha.12.2
Node: 10.3.0
npm: 6.1.0

Nonetheless it should be highlighted that as of this version with that combination something broke on Windows 10 - or simply 'limit' the scope of strapi. Obviously no-one will run production stuff with node on a Windows box, but many of us do use it for development.  Up to the team t

[2018-06-05 12:48] opgbaudouin commented on #1230
Did a clean install on my Centos 7 box with 3.0.0-alpha.12.2

Issue is still there but my report was not accurate.

Setup
==========

Create a type 'Item'
  - content (single)
  - title (text)

Create a type 'License'
  - pdf (single)
  - title (text)

ADD to user type:
  - (User.)licenses <> (Users has and belongs to many Licenses) (License.)licensee
  - (User.)items <> (Users has and belongs to

[2018-06-05 12:49] opgbaudouin commented on #1230
Apologies - i do not know 'Close' with close the item...

[2018-06-05 13:24] lauriejim commented on #1135
I am closing this issue because we don’t have any update/needed informations about it.

[2018-06-05 13:24] #1135 closed

[2018-06-05 13:27] lauriejim commented on #1125
Related https://github.com/strapi/strapi/issues/784  https://github.com/strapi/strapi/pull/1313

[2018-06-05 13:29] lauriejim commented on #1113
I am closing this issue because we don’t have any update/needed informations about it.

[2018-06-05 13:29] #1113 closed

[2018-06-05 14:21] #1076 closed

[2018-06-05 14:22] #1062 closed

[2018-06-05 14:38] lauriejim commented on #983
In fact it's all plugins that haven't front end code.

[2018-06-05 14:48] lauriejim commented on #1233
@mnlbox any update please.

[2018-06-05 14:50] MattAurich opened #1320 "Stand-alone strapi front end"
I really like the idea of having a decoupled deployment for the frontend and backend strapi, but am having some trouble decoupling the two when developing. Ideally I would like to have them in two separate repos/directories, but it seems like the admin(frontend) portion of the project is tightly coupled with the backend. When running the package.json scripts, it attempts to crawl up the directory

[2018-06-05 15:22] derrickmehaffy commented on #1319
Try increasing it to ~30,000 (30 seconds) also note that some changes require you to drop the database.

This issue is also a duplicate, please read through open and closed issues before you make a new one.

[2018-06-05 16:33] lauriejim commented on #1230
Hey @opgbaudouin thank you for this clear description !

[2018-06-05 16:35] lauriejim commented on #1227
I am closing this issue because we don’t have any update/needed informations about it.

[2018-06-05 16:35] #1227 closed

[2018-06-05 16:37] soupette commented on #1233
@lauriejim I ran into the issue last week. I'm taking care of fixing it

[2018-06-05 16:45] lauriejim commented on #1212
Can you please give us an update about this issue?

[2018-06-05 16:55] #1182 closed

[2018-06-05 16:57] johannpinson commented on #1300
I also had this bug some time and it's when I run as usual the `npm start` command instead of `strapi start`.

@yummyelin Do you see this kind of message when you save a field?
![capture d ecran 2018-06-05 a 18 55 59](https://user-images.githubusercontent.com/2202989/40990832-5493efec-68f2-11e8-8fba-417bf9060ac1.png)

[2018-06-05 17:04] lauriejim commented on #1180
First round of framework test here https://github.com/strapi/strapi/pull/1311

[2018-06-05 17:04] #1180 closed

[2018-06-05 17:21] #1162 closed

[2018-06-05 17:59] lauriejim commented on #1318
I will link this issue to this one #1316

[2018-06-05 17:59] #1318 closed

[2018-06-05 18:07] lauriejim commented on #1316
Hello @jiradeto !

Actually if you follow the upload process: https://strapi.io/documentation/guides/upload.html#examples

**Step 1** is to create your entity.
**Step 2** is to upload your file and link it to your entity.

Generated API doesn't support form-data request. So you can't create entry with file in the same request.

I transform this issue in _feature request_