[2018-06-05 18:16] lauriejim commented on #1300
@yummyelin What is the browser you use ? Do you have an error log in your browser and in your terminal. Definitively not able to reproduce this issue.

[2018-06-05 18:18] lauriejim commented on #1296
Completely ok ! Strapi will be available with LTS node version when we will move on stable v3 version.

[2018-06-05 18:20] lauriejim commented on #1292
Hi @johannpinson ! Actually this feature is not developed.

[2018-06-05 18:22] lauriejim commented on #1291
Hello @willisplummer , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md

[2018-06-05 18:22] #1290 closed

[2018-06-05 18:26] lauriejim commented on #1281
If it's work on Node LTS version it's OK.
@arcee123 and @dertuerke can you confirm it works with Node 9 ?

[2018-06-05 18:27] #1277 closed

[2018-06-05 18:29] lauriejim commented on #1274
I will transform this issue in more globally issue.

We have to replace and handle `id` for GraphQL and REST API and with `mongoose` and `bookshelf`

[2018-06-05 18:30] lauriejim commented on #1272
@VonOx can you provide all logs from your app start please.

[2018-06-05 18:41] lauriejim commented on #1270
Look working well ! Try with clean install of Strapi, a fresh new project and fresh new database.

[2018-06-05 18:41] #1270 closed

[2018-06-05 19:53] xeastcrast opened #1322 "Route.json in upload plugin have some confusing route path"
**Informations**
- **10.3.0**: << Previous node version is 8.x.x but still issue occur
- **6.1.0**:
- **3.0.0-alpha.12.1.3**:
- **mongodb**:
- **Win10**:

**What is the current behavior?**
In plugins/upload/config/routes.json **
Route of upload is '/' but should be '/upload'
and another route path is look normally such as '/files' that is GET method, But it not work normally when i use ajax of jqu

[2018-06-05 19:58] #1322 closed

[2018-06-05 20:29] SerQuicky commented on #1316
Hello @lauriejim,

I have the same problem, if the API doesn´t support form-data request, what are the options to send the file to the API? Can I just parse the form data to a json and add the refId to it?

[2018-06-05 20:47] lauriejim commented on #1269
It's have been fixed in last version of Strapi

[2018-06-05 20:48] lauriejim commented on #1264
I am closing this issue because we don’t have any update/needed informations about it.

[2018-06-05 20:48] #1264 closed

[2018-06-05 20:54] #1243 closed

[2018-06-05 21:20] yummyelin commented on #1300
@johannpinson Yes, I saw this message. I can't reproduce now..

[2018-06-05 21:20] yummyelin commented on #1300
@lauriejim I am using Chrome. I think we can close the issue, I can't reproduce now.

[2018-06-05 21:27] Nyeedz commented on #1316
I'm facing the same problem, upload file image only works on model user from users-permissions plugin
https://github.com/strapi/strapi/issues/1318#issuecomment-394803982

[2018-06-05 21:39] yummyelin commented on #1269
@derrickmehaffy I am now using `"strapi": "3.0.0-alpha.12.2"`, and create a new clean project, [here](https://github.com/yummyelin/strapi-test), the issue is still there.
If you delete UID in PROFILE content type, you can see this issue.

[2018-06-06 02:36] demobo-com opened #1323 "Change API prefix break admin / public files"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb
- **Operating system**: Mac

**What is the current behavior?**
changed config/environments/development/request.json
"router": {     "prefix": "v1"   }
this results /v1/xxx api not found
{
statusCode: 404,
error: "Not Found",
message: "Not Found"
}

**Steps to repr

[2018-06-06 03:29] sidharthv96 opened #1324 "Admin Login always redirect to register"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.9
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Even after registering an admin user, if I try to login again or from incognito, it redirects again to the register page.
The flow works fine from my local dev environment. (MacOS)

**Steps to

[2018-06-06 04:05] jdutchak commented on #1324
this link has a fix that worked for me
https://github.com/strapi/strapi/issues/1235

[2018-06-06 06:30] spksoft opened #1325 "I got a react error when click "Add a new language""
**Informations**
- **Node.js version**: v.8.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: Mongodb
- **Operating system**: MacOS

**What is the current behavior?**
I get a blank page when click "Add a new language" inside Plugin -> Settings Manager -> Global Settings -> languages. When I call Chrome dev tools I got a error log below.
[code]

**Steps to reproduc

[2018-06-06 06:56] VonOx commented on #1272
Of course:

[code]

[2018-06-06 08:46] soupette commented on #1269
@yummyelin the error is happening because you have the same field name for both `Profile` & `User`.

@lauriejim is it allowed to have such condition?

[2018-06-06 10:49] #1300 closed

[2018-06-06 11:33] zdhz commented on #124
Updated URL - https://blog.strapi.io/the-future-of-strapi/

May be worth setting up a 301 redirect :)

[2018-06-06 17:47] soupette commented on #1325
hi @spksoft I believe it's related with the `react-select` ref, here's the [concerned issue](https://github.com/JedWatson/react-select/issues/2459)

[2018-06-06 18:21] lauriejim commented on #1324
Fixed here https://github.com/strapi/strapi/pull/1222.
Please follow the issue template message. You don't try to search on closed issue.

[2018-06-06 18:21] #1324 closed

[2018-06-06 18:38] lauriejim commented on #1323
Hello @demobo-com !
If you follow the documentation exemple ([here](https://strapi.io/documentation/configurations/configurations.html)) we set `/v1`.

In your case you set `v1`. You have to add `/`.

[2018-06-06 19:13] derrickmehaffy opened #1330 "Allow for configurable accuracy on Decimal/Float"
**Note: This is for tracking a future change per @lauriejim if anyone would like to work on this you can submit a PR**

**What is the expected behavior?**

Decimal and Float values right now do not have configurable accuracy, and any attempts to modify it directly in the database will be overwritten whenever strapi restarts (bookshelf, unsure on mongoose).

Per this PR for Decimal: https://github.

[2018-06-06 19:15] derrickmehaffy commented on #1330
Per this recent change, decimal currently can only handle the following `M,D` - `10,2`:
https://github.com/strapi/strapi/blob/adf643854efa94abc5b0246ff403862904ccdd4f/packages/strapi-bookshelf/lib/index.js#L363-L365

[2018-06-06 19:17] derrickmehaffy commented on #1330
You can also within MySQL just define the M value which for Float is `12` and for Double is `22`

[2018-06-06 21:15] soupette commented on #1291
@willisplummer In fact it's logic itself that needs to be improved.

The bug is that instead of inserting `**` at both ends of the paragraph I set at the line ones.

[2018-06-06 22:46] demobo-com commented on #1323
After changing the prefix to "/v1", the public folder is no longer accessible

[2018-06-07 00:00] demobo-com opened #1331 "Changing api prefix will result public folder and admin site not accessible"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongo
- **Operating system**: Mac

**What is the current behavior?**
Changing api prefix is very problematic. After following instruction, api with prefix is working. However, both **public** folder and **admin** site is no longer accessible.

**Steps to reproduce the prob

[2018-06-07 07:37] JunQiGenYuan opened #1332 "Error: association is not defined"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**
When update entity that include file without change the file, cause error "association is not defined".

**Steps to reproduce the problem**
https://github.com/strapi/strapi/blob/e7af7bbeefe8d4c69f8682fa2195d0a75167b157/packages/strapi-bookshelf

[2018-06-07 07:50] aanavaneeth opened #1333 "Support kerberos"
Is it possible to add Keberos based authentication?

[2018-06-07 08:31] johannpinson commented on #1292
Hey @lauriejim
Yes we talk about in Slack.

Actually, we can target a many-to-one, like http://localhost:1337/platformmodels?platform=ID to filter into relation, because the `platform` fields is an `object` and not an `array` in this side of the relation.

This is my actually code to make the filter working:

[code]

My next step will be to make it dynamic the `populate` with some like:
[code]

[2018-06-07 08:41] soupette commented on #1320
Hi @MattAurich can you be more specific on the setup you did for decoupling the two in development?

[2018-06-07 09:06] makzimko commented on #599
#1334

[2018-06-07 10:29] johannpinson commented on #1292
@lauriejim

This is a proposition about filter on a relation `x-to-many`:
- The relation entity will need to have `_relation` at the end
- Then the field inside the relation is attach like an object, aka `.field`
- This gives something like `platformModels_relation.type` in my case

Of course, I already test the system to handle some case like `platformModel_relation.type_ne` 😉

Are you ok with th

[2018-06-07 12:53] SarathSantoshDamaraju opened #1339 "Strapi Dashboard is not fetching Content Types data from Database"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.12.2
- **Database**: Mongodb (3.6.5) both Shell and Server
- **Operating system**: High Sierra (10.13.4)

**What is the current behavior?**

I don't see any user related data after registering on the **newly**  created strapi app. Below is the screen that I see in the `Content Types > Users`.

[2018-06-07 12:54] abdonrd opened #1340 "The npm run lint has a lot of errors"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.3
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The `npm run lint` 💥

**Steps to reproduce the problem**

<img width="1040" alt="screen shot 2018-06-07 at 14 46 04" src="https://user-images.githubusercontent.com/1007051/41100734-6c66abb6-6a62-1

[2018-06-07 12:56] abdonrd commented on #1340
Anyway, I think we can remove the `node_modules` in the scripts as:

[code]

[2018-06-07 13:20] SarathSantoshDamaraju commented on #1339
Surprisingly, Uninstalling and Reinstalling Strapi, has fixed the above issue, But before that it was very redundant. Anyways keeping it open and you can close it if you feel it is not replicable.

[2018-06-07 15:44] lauriejim commented on #1331
I reopen your previous issue.

[2018-06-07 15:44] #1331 closed

[2018-06-07 15:47] lauriejim commented on #1333
This feature is not developed in Strapi.
If you want it. You will have to developed it yourself by updating users-permission plugin.

[2018-06-07 15:47] #1333 closed

[2018-06-07 15:49] mwdwrd commented on #1339
Happening to me as well now. Same as above.

[2018-06-07 16:00] lauriejim commented on #1292
I found it interesting but I have to think more about this point.

Need also @Aurelsicoko feedback.

[2018-06-07 16:06] johannpinson commented on #1274
Ok but it's seems you will have some issue with mongoose.
The docs indicate some constraints about remove it:

http://mongoosejs.com/docs/api.html#query_Query-select

[2018-06-07 17:06] redni opened #1341 "translations for messages"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: MongoDB
- **Operating system**: Arch Linux

**What is the current behavior?**
Messages related to the API are not translated by Strapi. Message translation files exist in plug-in directories, but messages are always displayed in English.

**Steps to reproduce the problem*

[2018-06-07 17:16] soupette commented on #1271
@mnlbox can I have an update on your issue?

[2018-06-07 17:51] yummyelin commented on #432
Is this issue fixed?

[2018-06-07 19:55] arcee123 commented on #1281
ok.  It appears that windows and strapi are not good bedvellows.
Even with Node 9, I run into problems where the strapi installation cannot find python.

As a result, I recommend that this library be tagged to support linux, until a decision is made to support windows specifically.  While I love linux over windows, I recommend we put it in as a feature request for future releases that code be expa

[2018-06-07 21:15] DanielRuf opened #1343 "failing unit tests"
The tests are failing for PRs

https://travis-ci.org/strapi/strapi/builds/389351042#L485

[2018-06-07 23:12] yummyelin commented on #864
Using postman will get 400.
[code]

I am sending email to a zoho email. so the error message is:
The error is coming from (/plugins/email/services/Email.js: line 32)

[code]

As discussed above, I guess I need to modify plugin 'email'.

[2018-06-07 23:30] MattAurich commented on #1320
Hey, @soupette . I moved the admin directory into a separate project/directory and removed the files that are the result of a project initialization like /node_modules (since admin has it's own node_modules it is responsible for) and /build, then:

1. ran npm install

2. updated the pathing for the plugins found on the server (that I kept running)

3. ran the build script found in the package.json

[2018-06-07 23:46] yummyelin commented on #864
Go to /plugins/email, `npm install --save nodemailer`

Open /plugins/email/services/Email.js
[code]

[code]

[2018-06-08 00:32] derrickmehaffy opened #1344 "Mysql Count only responds with 404"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: v6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: MariaDB (MySQL) v10.2.15
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Using any model count returns a 404 Error

**Steps to reproduce the problem**

Using the above node/npm/strapi/mysql versions, create a model, provide data, and use the

[2018-06-08 00:35] derrickmehaffy commented on #1344
Postman:

![image](https://user-images.githubusercontent.com/8593673/41132965-23ec6a4e-6a92-11e8-93e2-b98cabab6a86.png)

And debug logs:

[code]

[2018-06-08 00:35] derrickmehaffy commented on #1344
I am using pm2 instead of the normal strapi start but have modified my package.json to do so.

[2018-06-08 01:01] derrickmehaffy commented on #1344
I confirmed with a new fresh 12.3 project that it also responds with a 404 error.

@okaris can you provide any help here, I know you created the PR for bookshelf on the count route: https://github.com/strapi/strapi/pull/1307

Along with the services and controllers: https://github.com/strapi/strapi/pull/1293

@lauriejim was testing done on this prior to release? Trying to make sure this isn't an i

[2018-06-08 01:08] derrickmehaffy commented on #1341
@redni I don't believe the API itself has any translations or any soft of localization option. The AdminUI translations are here: https://github.com/strapi/strapi/tree/master/packages/strapi-admin/admin/src/translations

[2018-06-08 06:50] okaris commented on #1344
This shouldn't yield any problems.

Based on the files you've provided I can't see any reason for it to now work. Mongoose and Bookshelf uses the same routes template so there shouldn't be any errors in that. The `count` function uses almost the same code with `fetchAll` function. Only difference is it does not add `sort` `limit` `skip`. Can you tell me if fetchAll returns what it should as it is?

[2018-06-08 10:08] lauriejim commented on #1341
Hi @redni !
API error message have to be in english. The message to display is translated in admin as @derrickmehaffy said.

[2018-06-08 10:08] #1341 closed

[2018-06-08 10:13] redni commented on #1341
I do not want to re-open the issue but I would like to ask for information on how can I translate the erorr.messages shown in json if they are not downloaded from the translation catalogs?  It is not possible? I would like to make pop-up messages on my native language like json will show, for example, someone typed a wrong password or ID.

[2018-06-08 10:44] victorlambert opened #1347 "updateRole in UsersPermissions service is comparing users ObjectID references"
**Informations**
- **Node.js version**: 9.5.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: MongoDB 3.6.2
- **Operating system**: MacOS 10.13.3

**What is the current behavior?**
Any call of updateRole function of UsersPermissions service breaks the user roles relations, linking them to the authenticated role.

**Steps to reproduce the problem**
- Create a role
-

[2018-06-08 12:58] derrickmehaffy commented on #1344
@okaris Yes fetch all does what it needs to and works fine. To me it looks like the route isn't being called but it's hard to figure out as there is no error message in the console

[2018-06-08 12:59] lauriejim commented on #1343
Hello @DanielRuf !

PR you did cause this issue. All others works fine.
Let discuss of that on your PRs

[2018-06-08 12:59] #1343 closed

[2018-06-08 13:00] derrickmehaffy commented on #1341
@redni, you could do the translation on your application side. Basically check for x error message, then display y popup. Right now the API will only reply in English.

[2018-06-08 13:35] DanielRuf commented on #1343
Are you sure? => https://travis-ci.org/strapi/strapi/builds/389718656

[2018-06-08 13:35] DanielRuf commented on #1343
Also this was not my PR: https://travis-ci.org/strapi/strapi/builds/389351042#L485

[2018-06-08 13:58] 1ncidental opened #1349 "GraphQL issues with camelCase API"
**What is the expected behavior?**
When you install the Graphql plug in, if you have any content types with Spaces in their titles, grahql will cause Strapi to crash on restart. From here you must uninstall the graphql plugin before Strapi will start again.
Perhaps if Graphql cannot handle spaces in the field names, we could stop the plugin from being installed?

[2018-06-08 14:10] derrickmehaffy commented on #1349
@1ncidental strapi itself should not handle spaces at all (most APIs won't), generally APIs will use camelcase instead of spaces due to this reason.

Also in the future can you please use the bug report template and fill in all the required information to report a bug.

[2018-06-08 14:33] lauriejim commented on #1341
Error messages are handle by Boom node module.
You can add a middleware in your application to update messages.

[2018-06-08 14:36] lauriejim commented on #1332
@juampynr Can you provide steps I have to do to reproduce this issue please.

[2018-06-08 14:48] lauriejim commented on #1343
Caused by timeout. All build are OK

[2018-06-08 15:14] Aurelsicoko commented on #886
Can someone give us a very detailed step by step tutorial to reproduce this one (@indiecore-fm, @Velua)?

[2018-06-08 15:15] #1253 closed

[2018-06-08 15:27] nicholas-c commented on #1139
Having the same issue here - New install, created 2 new content types, added a couple of string fields to the first, then created a relation to the second, crashed and won't start again :(

[2018-06-08 16:02] Aurelsicoko commented on #1272
Where is hosted your database?

[2018-06-08 16:05] Aurelsicoko commented on #599
@makzimko Perfect 👌

[2018-06-08 16:08] Aurelsicoko commented on #1292
@johannpinson Why do you need to add the `_relation` suffix whereas we know that a field is relational or not?

[2018-06-08 16:16] Aurelsicoko commented on #1274
@johannpinson I made a proposal here https://github.com/strapi/strapi/pull/913. We can't remove the `_id` field but we can use the `id` instead. Mongoose supports both attributes to select an entity.

[2018-06-08 16:49] guillermodoghel commented on #864
@yummyelin that works great, thanks!

some nice to have would be to put the smtp config inside a json or something

[2018-06-08 17:06] #1262 closed

[2018-06-08 17:21] johannpinson commented on #1274
@Aurelsicoko In fact, keep the `_id` isn't a problem for me, it's just about the GraphQL logic and so remove the `_` to get just `id`.
But since mongoose consider `_id` as an ObjectId, it's why I suggest to add a custom resolver as for the timestamps fields (I don't remember if MySQL/Postre used both or only `id`).

[2018-06-08 17:31] johannpinson commented on #1292
It was just a proposal to simplify my actual code and avoid to search if the param matches to an existing attribute 😄

But in all case, we will need to separate this kind of filter of `where`:

cf. `strapi-utils/lib/models.js`
[code]

[code]

and inside the service:
[code]

But yes, in fact we can also detect the "type" of relation:
[code]

[2018-06-08 17:45] VonOx commented on #1272
On another computer, same network, no ssl

[2018-06-08 18:22] lauriejim commented on #864
We are working on it https://github.com/strapi/strapi/issues/911 and PR here https://github.com/strapi/strapi/pull/1255

[2018-06-08 19:09] lauriejim commented on #1177
In progress on this branch https://github.com/strapi/strapi/tree/ctm-search

[2018-06-08 19:29] guillermodoghel opened #1351 "Forget password - User-Role relation MYSQL error"
**Informations**
- **Node.js version**:Node v8.11.1
- **npm version**: npm 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: 10.1.32-MariaDB
- **Operating system**:  mac os high sierra 10.13.4

**What is the current behavior?**

Forgot password flow.
Fist, I have done this https://github.com/strapi/strapi/issues/864#issuecomment-395600491 workarround to get the mailer work with my SMTP

[2018-06-08 19:54] ashishgkwd commented on #1284
I am also facing the same issue when using the docker repo: https://github.com/strapi/strapi-docker
Although, I am using the latest branch i.e. 3.0.0-alpha.12.2

[2018-06-08 20:12] lauriejim commented on #1349
Hello @1ncidental , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-08 20:12] #1349 closed

[2018-06-08 20:16] ashishgkwd commented on #1284
Meanwhile, running `npm install strapi@alpha -g` installs `strapi@3.0.0-alpha.12.3` version and is running fine 👍

[2018-06-08 20:42] guillermodoghel commented on #1351
Temporary fix: in Auth.js, on methods forgotPassword and changePassword

just BEFORE:
`      await strapi.query('user', 'users-permissions').update(user);`
do:
      `user.role =  user.role.id;`

[2018-06-08 20:44] lauriejim commented on #1347
Hello @victorlambert .

The `body` object you have to send in the function contain an `users` key that contain users linked to this role.

Can you be sure you don't send an empty array for the `users` key.

[2018-06-08 21:06] lauriejim commented on #1344
Fix here https://github.com/strapi/strapi/pull/1352

[2018-06-08 22:44] derrickmehaffy commented on #1344
Nice catch @lauriejim, just curious on why moving them around fixes it?

[2018-06-09 00:32] renettarenula opened #1353 "Strapi development environment does not watch files because of strapi-helper-plugin error"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: Mongo 3.6.4
- **Operating system**: Mac OS 10.13.4

**What is the current behavior?**
I am expecting for the development environment to watch the changes every time I saved a file. Unfortunately, it doesn't update because of a bunch of warnings that is available on client

[2018-06-09 01:59] derrickmehaffy commented on #1353
May want to modify your versions to state mongo and macos just to clarify.

[2018-06-09 02:15] derrickmehaffy commented on #1344
Can confirm the fix in https://github.com/strapi/strapi/pull/1352 works as intended, marking this as resolved. It will likely be pushed out in 12.4

[2018-06-09 02:15] #1344 closed

[2018-06-09 08:20] renettarenula commented on #1353
After tinkering around for a bit, I notice that I just need to add `layout.js` under the config folder of my plugin. I also have some _'injectedComponents' module not found error_ but that no longer stops the changes from being watched. The generated plugin should be improved by including layout.js under config folder by default to help people save time. Closing this.

[2018-06-09 08:20] #1353 closed

[2018-06-09 11:31] zhuang17 commented on #1306
@lauriejim

I open a PR [#1354](https://github.com/strapi/strapi/pull/1354) for this, please help review it when you have time.

[2018-06-09 14:26] 1ncidental opened #1355 "Error in creation of new Strapi project"
Great work on the new build
New issue with Strapi 12.3
When creating a new project, if you type "Strapi new" and forget to include the name of the project.
Rather than a message about correct syntax an exception error is thrown

[code]

[2018-06-09 16:30] DaanDD opened #1356 "Graphql models do not have unique ID fields"
**Informations**
- **Node.js version**: 8.9.4
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.12.3
- **Database**: Tested on Postgres and Mongodb
- **Operating system**: Mac OS X

**What is the current behavior?**
The generated Graphql schema has an `id`, or `_id` in mongodb field, with the type `String!`. Because of this, `relay-compiler` cannot use the schema.

**Steps to reproduce t

[2018-06-09 18:14] derrickmehaffy commented on #1355
@1ncidental please use the proper bug report format.

[2018-06-09 21:14] krestaino commented on #309
@Aurelsicoko Is this a planned feature?

[2018-06-10 00:50] derrickmehaffy commented on #309
@krestaino this is a really old issue, but you can take a look here: http://strapi.io/vote

[code]

There is a vote for it, if you want to support it, login with github and vote for it. The Strapi team places a priority on features with the most votes.

[2018-06-10 07:47] matejukmar commented on #1300
I was able to reproduce this issue with strapi **3.0.0-alpha.12.3**:
- started server as service with pm2 on custom port
`NODE_ENV=production PORT=2005 sudo pm2 start server.js --name myapi`
- access was via nginx proxy to 2005 port

1. New content type is 'successfully' created and fields added
2. When trying to create an instance of newly created type, page displays:
'There are no fields yet', '

[2018-06-10 12:36] ranjithkumar8352 commented on #1281
Quick workaround on Windows 10 - Install Linux bash shell
https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/

[2018-06-10 19:54] ClementLoridan opened #1358 "Provider Social Connect"
**Node.js version**: v8.9.4

**npm version**: 5.6.0

**Strapi version**: 3.0.0-alpha.12.2

**Operating system**: OSX 10.12.6

I have a problem with Facebook Provider:

I use login-react example (localhost:3000) and my API Strapi (https://api.myexample.com in local).
I use https in local because Facebook developer doesn't accept URI url is not https

But the redirect is incorrect : http://localhost

[2018-06-11 08:07] kamwing opened #1359 "Custom content type names for the admin"
**What is the expected behavior?**

Please add "Field Name" when Add New Field in Content Type Builder

It's similar "Collection Name" when the name of your Content Type and your table name differ

[2018-06-11 08:44] victorlambert commented on #1347
Hey @lauriejim, I am sure that I do not send an empty array for users. But I just found why I had this issue. I was calling `getRole` and then `updateRole` on server side using a boostrap function. In this case, _.differenceBy 'id' is comparing users lists by ObjectID that do not have been parsed as JSON. So comparing users by ObjectID reference always return all users. These same functions (`getR

[2018-06-11 08:44] #1347 closed

[2018-06-11 10:55] Aurelsicoko commented on #1274
I was speaking about that because the issue is more global and not specific to GraphQL. I agree with your proposal, you should do it like that 👍

[2018-06-11 11:00] soupette commented on #1358
Hi @ClementLoridan, I'm working on a new [boilerplate](https://github.com/strapi/strapi-examples/tree/update-boilerplate/create-react-app-sdk) (it's not on master yet) the uses the [`strapi-javascript-sdk`](https://github.com/strapi/strapi-sdk-javascript). I have recoded the basic authentication and I have just tested with Facebook which is working on my side.

Please make sure you followed these

[2018-06-11 11:12] ClementLoridan commented on #1358
Merci de votre réponse !

J'ai identifié le problème :

Dans le services Providers.js du plugin "users-permissions", il y a

[code]

Je pense que cela devrait être ` user.provider === provider`.

Puis il y avait aussi une error ici :

[code]

Qui je pense devrait être :

[code]

En tout les cas, super projet !! Je vais me mettre contributeur ce weekend ! 👍

[2018-06-11 12:02] soupette commented on #1358
Yes you'll need to disable the `One acccout per email address` in this [view](http://localhost:1337/admin/plugins/users-permissions/advanced)

[2018-06-11 12:08] Aurelsicoko commented on #1292
So, it means that we shouldn't see differences in the URL but only in the services. It looks good to me 👍

Example: `http://localhost:1337/post?title_contains=john&authors={type: "administrator"}`

[2018-06-11 12:16] lauriejim commented on #1358
Hello @ClementLoridan, can you please write all your messages in english please.
Will make this issue understandable by all the community.
Thank you :)

[2018-06-11 12:24] lauriejim commented on #1300
If you want to create content type, please use `strapi start` command.

[2018-06-11 12:24] Aurelsicoko commented on #1272
Interesting... Does it work when the database is on the same computer or hosted on AWS?

[2018-06-11 12:26] #1355 closed, assigned to nobody

[2018-06-11 12:29] Aurelsicoko commented on #1177
Here a sneak peek of the search bar. I hope you'll like it!

![screen shot 2018-06-11 at 14 27 40](https://user-images.githubusercontent.com/4144726/41231572-bd2b4c2c-6d83-11e8-9c0c-8108b1535b6d.png)

[2018-06-11 12:29] lauriejim commented on #1306
Thank you a lot @zhuang17 for this update. I will ask to @soupette to review your code.

[2018-06-11 13:15] #1105 closed

[2018-06-11 13:59] soupette commented on #1132
Hi @wi4er I  tried to reproduce your issue but it's working fine on my side, I'm using the [`strapi-sdk-javascript`](https://github.com/strapi/strapi-sdk-javascript).

[2018-06-11 14:55] abdonrd commented on #1177
@lauriejim @Aurelsicoko looks nice! It can be used from the API (not admin UI) too, right? 😁

[2018-06-11 15:59] #1269 closed

[2018-06-11 17:10] abdonrd commented on #784
@lauriejim I don't think is solved, an Enumeration is not and Array...

[2018-06-11 20:15] matejukmar commented on #1300
Is there a simple way to run `strapi start` as service?

[2018-06-11 20:24] lauriejim commented on #1300
You can run `npm run strapi start`

[2018-06-11 22:41] rodrigoWollies commented on #1339
+1

[2018-06-11 23:02] coolemur commented on #1300
@matejukmar

You can use [forever](https://www.npmjs.com/package/forever) to run any command as service.
For example: ```forever start -c "strapi start" ./``` This will execute "strapi start" command in current directory.

[2018-06-12 00:56] derrickmehaffy commented on #1359
@lauriejim likely related to previous discussion: https://github.com/strapi/strapi/issues/661

I believe @Aurelsicoko and I spoke at length about this as a planned change, not sure what you guys had in mind for an ETA since it will change quite a bit of stuff.

[2018-06-12 05:03] sdinesh86 commented on #1339
I also faced similar issue but just stopping and restarting the server worked for me

[2018-06-12 06:33] mnlbox commented on #1339
Maybe related: #1271

[2018-06-12 07:13] mnlbox commented on #1212
@lauriejim I checked and it's still not working on 12.3.
For reproduce I can refer you again to **Steps to reproduce the problem** section in above post. :thinking:

[2018-06-12 07:14] mnlbox commented on #1213
@lauriejim Yes I create this user from content manager.
What is the meaning of "Admin" as a `provider`. :thinking:

[2018-06-12 07:18] mnlbox commented on #742
@soupette Any news about update documentation??
What is Strapi next step after "bulk action"?
I check https://strapi.io/vote and It seems next step are:
* Admin - Permissions
* Real-time
* Documentation
Right?

[2018-06-12 07:22] mnlbox commented on #1233
Thanks @soupette .
So I think you can move this to 12.4 milestone.

[2018-06-12 07:31] mnlbox commented on #1264
@lauriejim What type of information you want?

[2018-06-12 07:58] lauriejim commented on #1339
So it happen randomly... Can you guys try with the last version of Strapi, fresh new app and fresh new database. Tell me if it still happen please.

[2018-06-12 08:01] lauriejim commented on #1212
Can you try with the last version of Strapi (alpha.12.3) and with fresh new app and new database.

[2018-06-12 08:18] SarathSantoshDamaraju commented on #1339
Yes @lauriejim , I have tried that as well before reinstalling Strapi. Even that was not helpful.

[2018-06-12 08:21] lauriejim commented on #1212
Okay, actually the default role is only apply on the register function.
We have to set it on create function too.

[2018-06-12 08:28] VonOx commented on #1272
Yes tested on localhost ( same computer ) just now and same error occur

[2018-06-12 08:30] lauriejim commented on #1213
I don't know... That is the problem!

Can you send me params send in your request please.

[2018-06-12 08:33] lauriejim commented on #742
Hi @mnlbox !
Priority low about this issue. It's not a priority for us. We will not work on it for next months.

Next steps for us will be to work on JSON fields and GraphQL improvements.

[2018-06-12 08:50] mnlbox commented on #1213
I just create new user from my admin panel. I don't send any custom params in my request. :thinking:

[2018-06-12 08:51] mnlbox commented on #742
JSON fields is good. @lauriejim So please publish new blog post about next months roadmap. Thanks :+1:

[2018-06-12 09:03] lauriejim commented on #742
@Aurelsicoko is already writing it 😄

[2018-06-12 09:37] derrickmehaffy commented on #784
Technically @lauriejim adding enum won't fix this issue, this is something that would need some consideration on. Enumeration only allows for a single value which for MySQL is stored as a string.

[2018-06-12 09:41] derrickmehaffy commented on #1177
@Aurelsicoko beautiful. :heart:

[2018-06-12 09:43] derrickmehaffy commented on #1300
You can also modify the package.json to run strapi with pm2. If you look at this guide: https://blog.strapi.io/how-to-deploy-a-strapi-application/

[2018-06-12 11:21] leinue opened #1361 "Register - always return 'This username is already taken'"
**Informations**
- node: **v9.11.1**:
- npm: **v5.6.0**:
- strapi: **v3.0.0-alpha.12.3**:
- database: **mongodb**:
- OS: **OSX**:

**What is the current behavior?**

when i post a request to register a new user in strapi, there's always return:

[code]
**Steps to reproduce the problem**

POST /auth/local/register HTTP/1.1
Host: localhost:1337
Content-Type: application/json
Cache-Control: no-cache

[2018-06-12 11:23] leinue commented on #1361
![image](https://user-images.githubusercontent.com/2469688/41287645-052d089c-6e76-11e8-8221-b2cd740443fa.png)

this user does not exist

[2018-06-12 11:27] mnlbox commented on #1361
@leinue Maybe Related: #1254

[2018-06-12 11:28] derrickmehaffy commented on #1361
@mnlbox I think that issue was AdminUI related, posting a new user via the api shouldn't happen as I think it is decoupled from the adminUI

[2018-06-12 11:32] leinue commented on #1361
@derrickmehaffy posting via the api also has the problem, adminUI just for display the error

[2018-06-12 11:32] leinue commented on #1361
@derrickmehaffy posting via the api also has the problem, adminUI just for display the error

[2018-06-12 11:46] emahuni commented on #126
Guys at least build a Vuejs front-end it's the in thing and simpler to work with

[2018-06-12 11:53] leinue commented on #1361
Haven't been solved

[2018-06-12 12:03] derrickmehaffy commented on #126
@emahuni I think that ship has sailed.

[2018-06-12 12:06] leinue commented on #1361
When i redeploy the project, it worked fine

[2018-06-12 12:53] #1306 closed

[2018-06-12 13:41] #599 closed

[2018-06-12 13:57] emahuni opened #1366 "Amazon isn't working properly"
The documentation and site isn't running properly. It's dead or very slow. Why don't you consider switching to GitHub pages for hosting? Everything else is working perfectly on my connection. I'm learning this wonderful tool and documentation seems to be the problem here. So I've considered building it locally. I thought my connection was dead until I saw this error:

504 ERROR
The request could n

[2018-06-12 15:42] SharkeyO commented on #1366
Experienced the same thing today. Site has been off for hours.

[2018-06-12 16:35] lauriejim commented on #1177
@abdonrd Nop. It will come in an other PR.
Here for the content manager plugin https://github.com/strapi/strapi/pull/1363

[2018-06-12 16:45] lauriejim commented on #1366
Hello @emahuni , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-12 16:45] #1366 closed

[2018-06-12 18:43] sriharsha186 opened #1368 "Docker Container hosted on Cloud - cannot update fields - need updated image"
**Informations**
- **Node.js version**: 8.10
- **npm version**:
- **Strapi version**: alpha.12
- **Database**: mongo
- **Operating system**: Linux Image

**What is the current behavior?**
A content type with images and Relations has been created.  Each time a image is uploaded and saved, it gives the error as this.updateRelation is not a function.  It saves the text and other content however.´ But

[2018-06-12 23:55] omarzion opened #1370 "Creating many to many relationship in content-type builder can fail based on capitalization."
First off I must say, I found strapi several days ago and have been loving it!

**Informations**
- **Node.js version**: v8.11.2
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: Mongo
- **Operating system**: linux

**What is the current behavior?**
creating many to many relationship  in content-type builder can fail based on capitalization.

**Steps to reproduce the

[2018-06-13 02:37] leinue commented on #1361
I have to reopen this issue coz I found a login error:

When I post via api to login, there's alway return

[code]

[2018-06-13 02:39] leinue commented on #1361
![image](https://user-images.githubusercontent.com/2469688/41327411-f477518a-6ef5-11e8-9782-cdba3b2c44fd.png)
![image](https://user-images.githubusercontent.com/2469688/41327418-f9fa247a-6ef5-11e8-902b-f3988cc0d89e.png)

@mnlbox @derrickmehaffy

[2018-06-13 02:50] leinue commented on #1361
Using username worked fine, but email can not work

[2018-06-13 06:04] YiteLMG opened #1371 "Plugin development Setup stuck in starting the server in the admin folder"
**Informations**
- **Node.js version**: 9.8.0
- **npm version**: 5.8.0
- **Strapi version**: v3.0.0-alpha.12.3
- **Database**: Mongo v3.6.3
- **Operating system**: Windows 10 Subsystem for Linux - Ubuntu 16.04 and Ubuntu 16.04

**What is the current behavior?**
Plugin development Setup with v3.0.0-alpha.12.3

Stuck in Start the server in the admin folder
`cd pathToMyProject/myDevelopmentProject/ad

[2018-06-13 06:28] derrickmehaffy commented on #1361
Odd @leinue I can't reproduce this, Posting both with email or username.

[2018-06-13 07:39] lauriejim commented on #1370
Hello @omarzion , I suggest you to use `blogpostcategory` instead of `BlogPostCategory ` for now.
We have a feature request related to your issue here https://github.com/strapi/strapi/issues/661

[2018-06-13 07:50] derrickmehaffy commented on #1370
Aye yeah @Aurelsicoko I spoke about this, I believe it is planned to change just not sure when @omarzion its an issue that affects other things like the AdminUI ect. The same applies to plural stuff as well.

[2018-06-13 09:03] #1301 closed

[2018-06-13 09:21] #1212 closed

[2018-06-13 10:10] henrych4 opened #1372 "Add a RemoveAll Button on Admin Panel"
Currently, if we want remove all data of certain type on Admin Panel, we have to click the delete button again and again.

**What is the expected behavior?**

It will be great to have a RemoveAll Button to remove all data at once.

[2018-06-13 11:16] derrickmehaffy opened #1373 "MySQL oneWay relations column isn't created in the database"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: 10.1.29-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

Creating a oneWay relation does not create a column in MySQL thus resulting in an error when trying to add data.

**Steps to reproduce the problem**

Create two m

[2018-06-13 11:18] derrickmehaffy commented on #1373
example of the error I get:
[code]

@lauriejim this is a breaking issue with oneWay relations on 12.3

[2018-06-13 11:20] derrickmehaffy commented on #1373
I can confirm that by manually adding the column `primaryArtifact` with a type of `tinyint` resolved the issue, and data was properly saved. This does confirm that Bookshelf/Knex is not created the column.

[2018-06-13 11:36] derrickmehaffy opened #1374 "Unable to add multiple oneWay Relations to the same model"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: 10.1.29-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

Currently unable to add multiple oneWay Relations to the same model.

**Steps to reproduce the problem**

Create 1 model` `data`
Attempt to create a Model `joinda

[2018-06-13 11:37] derrickmehaffy commented on #1374
Related PR: https://github.com/strapi/strapi/pull/1199

@okaris maybe you can provide some context, I don't believe this is intended. So long as the value of the field name on the left is different between them? Thats where the check should happen as to if the `value` already exists

[2018-06-13 11:46] derrickmehaffy commented on #1374
Manually adding the oneWay relation to the model settings file did add it, thus the issue is with the adminui:

![image](https://user-images.githubusercontent.com/8593673/41349421-b263ddb2-6ec4-11e8-8c38-3fd2917a07a5.png)

[2018-06-13 12:05] okaris commented on #1374
The version of strapi where I tested this did not yield any errors like this. Indact I was and am still able to create multiple oneWay relations from admin ui. Maybe this is a check that was introduced later. But I remember checking the part where “-“ registered as a field in target model and disabled that.

https://github.com/strapi/strapi/blob/ae29802c07e3d8f00bb9849df2cd657caf619cba/packages/st

[2018-06-13 13:01] derrickmehaffy opened #1377 "Issue starting server after installing GraphQL with oneWay relations in a model"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: 10.1.29-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

If you have a model with a oneway relation and you install the graphQL plugin, the server will fail to start

**Steps to reproduce the problem**

install the Grap

[2018-06-13 13:02] derrickmehaffy commented on #1377
note removing graphql plugin allows the server to start just fine.

[2018-06-13 13:03] derrickmehaffy commented on #1377
@lauriejim Breaking issue with 12.3 on graphQL if you are using oneWay relations.

[2018-06-13 14:18] soupette commented on #1371
@YiteLMG I'm facing the same bug, until I fix it, you can press `cmd + c` one time and it will start your server

[2018-06-13 15:07] #1373 closed

[2018-06-13 17:16] omarzion commented on #1370
@lauriejim thanks, I corrected the issue before posting the issue.

Is this currently being worked on?  I've not done a lot of open source work but I would like to help out with strapi.  Maybe I can look into it this evening

Are the plans to move towards camel case, or to move towards lower case with nice formatting for the labels in the admin?

I think #661 #1055  and #1370 could all be handled

[2018-06-13 17:52] BroTrue commented on #1289
I try to follow this instuction but got this error

[code]

[2018-06-13 17:53] derrickmehaffy commented on #1289
Windows support is meh right now, as with many other issues listed here in the git repo. I would suggest either use WSL (Ubuntu) or doing your development in a virtual machine if your on windows

WSL Guide: http://wsl-guide.org/en/latest/

[2018-06-13 17:54] BroTrue commented on #1289
owww thanks , well I got ubuntu also. I will try it :)

[2018-06-13 17:54] derrickmehaffy commented on #1289
@BroTrue ^^

Also the Strapi team are aware of the issues when doing development on windows hence their note in the roadmap: https://github.com/strapi/strapi/projects/1

[2018-06-13 17:58] BroTrue commented on #1289
Well for big projects anyway is needed linux/macos... windows is too...
From the road map I wait for this feature

"Plugin - Content Internalization
Translate the content of your API in any language, from the admin panel."

Or i will try to do by myself... we will see.
thank you for quick reply!

[2018-06-13 18:09] derrickmehaffy commented on #1289
Thats what I'm here for, to try and answer the basic questions while the Strapi team focuses on bug fixes and feature updates 😛

[2018-06-13 18:21] ShawTim opened #1381 "Customization for WYSIWYG editor, or even replace it with another one"
First of all I'd like to give thanks to the team for developing such a great project. It cures my headaches.

In v3@alpha12 strapi released with a WYSIWYG editor, which is Draft.js. The reason for picking Draft.js is because of its level of customization offered. May I have questions about the customization:

- is there any existing way to apply Draft.js plugin in strapi? Digged into the src code

[2018-06-13 18:22] derrickmehaffy opened #1382 "MySQL tossing errors about FULLTEXT Search"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: 10.2.15-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

MySQL tossing errors about creating indexes:
[code]

Not sure where the `Create Fulltext Index` came from but based on these two docs I don't think that's being generated correctl

[2018-06-13 18:51] lauriejim commented on #1370
Hi @omarzion . Actually it's not a priority for us. This feature need a lot of updates and I really think it's not a good first issue. Many core feature of Strapi have to be updated and I prefer to the core team work on.

[2018-06-13 18:53] soupette commented on #1381
Hi @ShawTim we don't support draft.js plugin yet in the WYSIWYG (yet?) but instead of modifying the current component I suggest you to create a new one and add the desired plugins to it. If you do so, I suggest you to store the `contentState` in your db instead of converting it to markdown so you don't lose any styling when you convert it back.

In order to do create your new one and overriding th

[2018-06-13 20:08] derrickmehaffy opened #1383 "Enum with GraphQL, Server Fails to start"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: 10.2-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Using MySQL and installing the graphql plugin, create a model with a defined enum type.

After attempting to start the server I am given the following error:

[code]

**Steps to repr

[2018-06-13 20:19] johannpinson commented on #1383
hey @derrickmehaffy

@lauriejim told me about this bug, I'm looking to fix it very quickly (in some minutes 🙂)

[2018-06-13 20:28] johannpinson commented on #1383
Ok, don't hesitate to tag me in the issue, I will have some time tomorrow morning to look it 👍

[2018-06-13 20:36] johannpinson commented on #1377
@derrickmehaffy can you test with the new 3.0.0-alpha.12.4, it looks to working well for me

[2018-06-13 20:36] soupette commented on #1374
To solve the issue you need to add the following  in this [file](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-type-builder/admin/src/containers/Form/utils/attributeValidations.js).

[code]

Then, it should be working

[2018-06-13 21:45] ialmanzaj commented on #463
i'm going to be working on it

[2018-06-13 23:59] brandonbuttars opened #1385 "Add Microsoft to Auth Provider"
**What is the expected behavior?**

It would be good to be able to accept Microsoft as an Auth Provider since Google is accepted.  I'm not sure where to start and am afraid I'd bugger up the code.  Is there anyone else interested in this?  We use Microsoft Office 365 for everything at work, we use to use Google.  I wanted to try and use Strapi for an internal project we're putting together.  I saw

[2018-06-14 07:44] derrickmehaffy commented on #1383
Getting a syntax error manually applying this

[code]

[2018-06-14 07:50] lauriejim commented on #1385
Hello @brandonbuttars , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

You can check how work `strapi-plugin-users-permissions`. We use `Grant` for authentication.
You can also check how we set actual providers here https://github.com/st

[2018-06-14 08:11] johannpinson commented on #1274
I will wait the issue #1356 to be merged before updating this resolver

[2018-06-14 08:29] abdonrd opened #1386 "Enumeration field doesn't work"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.4
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

After create a new enumeration field in the content type builder, the server stop with:

[code]

**Steps to reproduce the problem**

Add a new enumeration field in the content type builder.

**Wha

[2018-06-14 08:29] derrickmehaffy commented on #1386
related: https://github.com/strapi/strapi/issues/1383

[2018-06-14 08:30] derrickmehaffy commented on #1386
@abdonrd do you have graphql installed?

[2018-06-14 08:36] abdonrd commented on #1386
Oh! I thought I did not have it, and that it would be a different issue. But it seems that if it is the same.

Thanks @derrickmehaffy!

[2018-06-14 08:36] #1386 closed

[2018-06-14 08:43] abdonrd opened #1387 "The one way relation doesn't work with himself"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.4
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The one way relation doesn't work:

<img width="757" alt="screen shot 2018-06-14 at 10 41 24" src="https://user-images.githubusercontent.com/1007051/41401237-955a39d6-6fbf-11e8-9f59-c39f31f53468.p

[2018-06-14 08:45] derrickmehaffy commented on #1387
Very likely related to: https://github.com/strapi/strapi/issues/1374

Although in this case its a single oneWay, I believe fix provided in the above link disables the check on the disabled input. @soupette ?

[2018-06-14 08:53] mnlbox opened #1388 "Add database reset command to CLI"
**What is the expected behavior?**
Add database reset command to CLI

In Meteor.js we have a useful command called `meteor reset` in CLI. It's a simple clean database command and very useful in development process (when you break many thing and want to start from a fresh state). I think it also can be useful for Strapi community. For example as `strapi reset` :thinking:

[2018-06-14 09:01] derrickmehaffy commented on #1383
@johannpinson and I have tracked the issue to how enum values are stored. With GraphQL you cannot have spaces or special characters in them. Previously GraphQL treated these values as strings, but with the added changes in this PR: https://github.com/strapi/strapi/pull/1288 that is no longer the case.

[2018-06-14 09:01] derrickmehaffy commented on #1383
removing these enum values with spaces and special chars allowed the server to start.

[2018-06-14 09:02] derrickmehaffy commented on #1383
Limits are `/^[_a-zA-Z][_a-zA-Z0-9]*$/`

[2018-06-14 09:06] #1383 closed

[2018-06-14 09:07] derrickmehaffy commented on #1388
@mnlbox there is an issue that directly relates to this, the plan is go a little farther than this.

Here: https://github.com/strapi/strapi/issues/1114

See the discussion between me and @Aurelsicoko at the bottom.

[2018-06-14 09:36] lauriejim commented on #1387
Is it a duplicate issue ? @abdonrd did you already have an other oneWay relation in your model ?

[2018-06-14 09:37] derrickmehaffy commented on #1387
@lauriejim I just created a oneway relation in 12.4 so I can't reproduce his issue unless I try and add more than one to the same model.

[2018-06-14 09:37] derrickmehaffy commented on #1387
likely a duplicate issue.

[2018-06-14 09:39] abdonrd commented on #1387
In my case, is the second field; and the first was a simple `name` (String).

[2018-06-14 09:45] lauriejim commented on #1386
A PR is open about this issue https://github.com/strapi/strapi/pull/1384

[2018-06-14 12:32] #911 closed

[2018-06-14 13:23] lauriejim commented on #1387
@abdonrd If you are trying to make a relation with an other model than the same.
Not `category` -> `category` but `category` -> `user` for example, it works ?

[2018-06-14 13:32] lauriejim commented on #1377
Same as @johannpinson . It works great with `alpha.12.4`

[2018-06-14 13:43] lauriejim commented on #1361
@leinue Can you give me you r user model please.

[2018-06-14 13:54] lauriejim commented on #1358
@ClementLoridan I don't understand the state of your issue. You look updating your comment instead of giving news. So the message/state history is hard to follow.

Can you give me the last news about it please.

[2018-06-14 15:14] derrickmehaffy commented on #1377
Yes @lauriejim no issues with 12.4

[2018-06-14 15:14] #1377 closed

[2018-06-14 15:16] lauriejim commented on #1351
It's cause we not omit relation during the update of the user. PR is coming to fix it.

[2018-06-14 15:47] lauriejim commented on #1258
Hello @GalEldarDev have you an update about this issue ?

[2018-06-14 15:49] lauriejim commented on #1233
Still can not reproduce it with last version of Strapi. Need precise steps to reproduce.

[2018-06-14 16:00] abdonrd commented on #1387
@lauriejim yes! It works with the `user` model.

[2018-06-14 16:45] puntonero commented on #1371
Same problem in my ubuntu box, but CTRL + C simply kicks me back to the command prompt

[2018-06-14 16:57] jeffwsw opened #1390 "Error when saving many to many relationship"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: MongoDB 3.6.4
- **Operating system**: MacOs

**What is the current behavior?**
I'm trying to save a many to many relationship, basically have one "audition" model and I have to add multiple contacts to it (they can appear in other auditions).

When I try to link the contac

[2018-06-14 18:05] derrickmehaffy opened #1392 "Add option to allow GraphQL playground in Production"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: 10.2-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**

Currently playground works just fine in Development and Staging, however when using `NODE_ENV=production` the server responds with a 404 Error

**Steps to reproduce the problem**

Se

[2018-06-14 18:08] derrickmehaffy opened #1393 "AdminUI should support logging in via "providers""
**What is the expected behavior?**

The adminUI should also allow for users to register with one of the 3rd party providers (facebook, twitter, github, ect) along with local registration.

[2018-06-14 19:29] dv29 commented on #545
I am facing similar issue, should gulp-utils be replaced with native? I can provide a PR

[2018-06-14 19:52] daqst commented on #1361
I am encountering this error too.  I'm wondering if it is the same (since it's occurring in the `getProfile` function of Providers.js) The steps to reproduce:

- Set up a new Strapi development installation.
- Log in and create a new (admin) user.
- Enable Google authentication
- Go to `localhost:1337/connect/google`
- Select Google account to login with
- Presented with 'Auth.form.error.email.tak

[2018-06-14 20:21] lauriejim commented on #1390
Hello @jeffwsw . I don't understand your issue. Can you give me a repo with your code. I don't know how to reproduce your issue .

[2018-06-14 20:31] lauriejim commented on #1392
Hey @derrickmehaffy it's not an issue.
We chose to disable this plugin in production environment. We wont anyone use it when your app is live.

Code here: https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-graphql/hooks/graphql/index.js#L125

[2018-06-14 22:34] jeffwsw commented on #1390
I found some old code was left in the service file from an older version of strapi after some debugging so the error has disappeared.

[2018-06-14 23:20] soupette commented on #1393
@derrickmehaffy currently the `register-page`is only displayed the first time you open the admin  [see line 108](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/containers/AdminPage/index.js) and the only way to add a custom provider using the admin is to be authenticated.

So, adding a social connect to the `register-page` means that the first user has to enable a pro

[2018-06-14 23:54] maturano commented on #1320
Question: wouldn't be better that the `/admin` page were the default one for strapi?; instead of `public/index.html`

The dashboard as an independent and isolate system, not as  part of something to be implemented.

I also tried isolate the dashboard. I make it render correctly, but the plugin installation doesn't work.

[2018-06-14 23:57] yummyelin opened #1394 "Register with API misses 'id' in user object, while register with adminUI has 'id'"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: mongodb 3.6.4
- **Operating system**: macOS

**What is the current behavior?**

Call http://localhost:1337/auth/local/register API to register a new user, there is no 'id' in user object.
Go to http://localhost:1337/adminpanel/plugins/users-permissions/auth/register to reg

[2018-06-15 00:28] yummyelin opened #1395 "Uninstall plugin 'file upload' causes 'content type builder' buggy"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: mongodb 3.6.4
- **Operating system**: macOS

**What is the current behavior?**
After uninstall plugin 'file upload', there are a few bugs while adding new field to content type.

**Steps to reproduce the problem**

1. Uninstall plugin 'file upload'.
2. Go to content type '

[2018-06-15 05:51] leinue commented on #1361
[code]

@lauriejim

[2018-06-15 06:14] derrickmehaffy commented on #1392
@lauriejim I think this is something that should be configurable in options. I understand there is possible dangers of damaging large queries but the same could be said of actually hitting the /graphql endpoint with the same thing.

To me playground is similar to something like swagger, Its a graphql tool you can use to understand the structure of the API and frontend builders would use it to figu

[2018-06-15 06:15] derrickmehaffy commented on #1392
@Aurelsicoko what are your thoughts on this?

[2018-06-15 06:20] derrickmehaffy commented on #1392
If limits need to be placed on graphQL (configurable ones I would hope) this article might be good read: https://dev-blog.apollodata.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b

[2018-06-15 06:44] derrickmehaffy commented on #1392
Realistically speaking I believe if a user had playground installed elsewhere you could hit the `yourapihere/graphql` and achieve the same result.

[2018-06-15 06:53] derrickmehaffy commented on #1392
For instance if you install the local desktop version of playground (in my case on linux mint)

Using the packages listed under the release:https://github.com/prismagraphql/graphql-playground/releases/tag/v1.6.0

I can successfully attach my desktop version of playground to my production API:
![image](https://user-images.githubusercontent.com/8593673/41454398-1f9e1978-702e-11e8-9179-583035b6d95b.p

[2018-06-15 07:01] #1390 closed

[2018-06-15 07:05] lauriejim commented on #1394
Hello @yummyelin . It's related to this issue https://github.com/strapi/strapi/issues/1274
We have an long work to do on this point.

[2018-06-15 07:05] #1394 closed

[2018-06-15 07:11] sidharthv96 commented on #1339
When I update an object from content manager, the user relation becomes null. Related?

[2018-06-15 07:12] lauriejim commented on #1361
Ho okay, you use numbers as password.
Please check this issue : https://github.com/strapi/strapi/issues/932

Please use something else than numbers for your password.
Will not work on now so feel free to investigate on this issue and submit a PR.

[2018-06-15 07:12] #1361 closed

[2018-06-15 07:18] sidharthv96 opened #1396 "User relation saved as null from content manager"
**Informations**
- **Node.js version**:v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: Mongo v3.6.5
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
I have this relation inside my customer model.

[code]

The customer is auto created when a new user is added. This works fine. But when I try to edit any attribute of the customer from th

[2018-06-15 07:20] derrickmehaffy commented on #1396
@sidharthv96 on your issue move the ` on your code bit down one line so it doesn't code block the rest of the issue template :)

[2018-06-15 07:31] lauriejim commented on #1393
@derrickmehaffy We can already disable local email login / register.

[2018-06-15 07:33] derrickmehaffy commented on #1393
Ah nice yeah I just noticed that @lauriejim, it doesn't appear there is an actual registration for local except for the initial admin user creation? At least the login page doesn't offer a link for it.

[2018-06-15 07:40] lauriejim commented on #1393
Yes that's it. Exactly the same as WordPress. Register form for the setup of your app. Then you will have to develope your application that implement a register and login form.

[2018-06-15 07:54] derrickmehaffy commented on #1393
Assuming that plans to change with the addition of the adminUI permissions or no?

[2018-06-15 10:20] kwzm opened #1398 "Admin panel can't run when I change prefix in productioin"
**Informations**
- **Node.js version**: 10.1.0
- **npm version**:  5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb
- **Operating system**: win7 x64

**What is the current behavior?**

When I changed prefix to /api in production, and then I opened http://10.2.5.98:1337/api/dashboard, the page didn't show anything. Then I open console and found GET http://10.2.5.98:1337/dashboar

[2018-06-15 10:37] derrickmehaffy commented on #1392
The point I'm making @johannpinson is what if your not the one building the apps lol. Such in the case of the api I'm working on isn't just for consumption of our own apps but anyone to use. I don't see the benefit of security to disable it on production when anyone can use the electron app in the same way?

As I've stated on other issues like this, we shouldn't cripple the power users for the sak

[2018-06-15 10:38] derrickmehaffy commented on #1392
I wouldn't want to ask every person who plans on consuming my API/GraphQL to install the electron app. :P

[2018-06-15 10:40] derrickmehaffy commented on #1398
Duplicate issue, see: https://github.com/strapi/strapi/issues/1323

[2018-06-15 10:42] derrickmehaffy commented on #1398
@kwzm I believe the admin panel should still run at `localhost:1337/admin` or in your case /dashboard

The prefix is for your get requests on models such as `localhost:1337/blog`

[2018-06-15 11:14] #1398 closed

[2018-06-15 12:43] johannpinson commented on #1374
and what about a "manyWay" relation type? 😃

[2018-06-15 14:42] nom4da commented on #1258
I'm having issues with this too. I cannot set permissions to newly created roles. It won't load any of the permissions checkboxes.

Thanks for all your efforts!

[2018-06-15 14:44] derrickmehaffy commented on #1374
@johannpinson trust me I have a reason 😆 There is a means to my madness.

[2018-06-15 15:19] sidharthv96 commented on #1396
This issue is very random in nature.
I just tried editing it a few minutes back and the data was saved.
When I tried now, it's null again.

[2018-06-15 17:37] #1371 closed

[2018-06-16 16:17] SarathSantoshDamaraju commented on #1339
@sidharthv96 , I don't think so. Do you see any errors? or tried restarting the server ?

[2018-06-16 17:31] lauriejim commented on #1339
@SarathSantoshDamaraju So looks good now ?

[2018-06-16 17:37] SarathSantoshDamaraju commented on #1339
@lauriejim , Working fine for me.

[2018-06-16 17:51] #1339 closed

[2018-06-16 19:28] abhimediratta commented on #1339
I restarted the system and the data started displaying again, for me.

[2018-06-17 10:10] lauriejim commented on #1332
Hello @juampynr , please follow the issue template so we can get a better understanding about the origin of your bug. Need steps to reproduce and setup informations.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-17 10:10] #1332 closed

[2018-06-17 17:30] emahuni opened #1405 "Property Comment"
Put comments on fields so that we can understand the earlier reasoning behind the introduction of the field in the first place. If you look at MySQL, there is a field comment that helps explaining things a bit, more like the description for content type.

[2018-06-17 18:27] johntom opened #1406 "Json payload"
**Informations**
- **Node.js version**:9.5.0
- **npm version**:4.1.2
- **Strapi version**:3.0.0-alpha.12.4
- **Database**:Mongo v2.4.10
- **Operating system**:win10

**What is the current behavior?**
Client Aurelia.io (latest) using fetch
The following works when sending the following
let product = `name=${this.name.value}&rating=${rating.value}`
addbakery(product) {
        var url =    'http://l

[2018-06-17 20:11] derrickmehaffy commented on #1405
@emahuni can you explain a bit more and provide a few examples?

[2018-06-17 20:15] derrickmehaffy commented on #1406
Something seems odd, I dont think `{name:sundae 4,rating:3}` is valid json.

Also @johntom can you use code blocks where applicable to make it a little easier to read?

[2018-06-17 21:55] derrickmehaffy commented on #1406
Just did some testing on MySQL @lauriejim @Aurelsicoko the json data type isn't properly being handled on bookshelf knex either. I'm getting errors on trying to save data to the DB:

[code]

[2018-06-18 04:46] derrickmehaffy commented on #995
@scipe Can you confirm this issue still exists in Strapi 12.4? (Trying to help the team close out old issues.)

[2018-06-18 05:54] indra-uolles commented on #1316
I was able to upload images to model other than user, specifically model "item". My code is messy, so here's my postman screenshot:
![screen shot 2018-06-18 at 08 48 45](https://user-images.githubusercontent.com/5262720/41520170-114414e6-72d5-11e8-8cf0-41e0994f1287.png)

[2018-06-18 07:00] dorelljames opened #1408 "Unable to start Strapi on version 12.4 - Missing moment package"
**Informations**
- **Node.js version**: v9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: MongoDB
- **Operating system**: CentOS 6.5

Edit: Also verified not working on macOS Sierra 10.12.6 with Node.js version 8.9.0 and npm version 5.7.1 and MongoDB.

**What is the current behavior?** Strapi can't start via `strapi start` command.
See below:
[code]

**Steps t

[2018-06-18 08:07] lauriejim commented on #995
@derrickmehaffy I confirm this issue still exist.

[2018-06-18 08:31] #701 closed

[2018-06-18 08:44] lauriejim commented on #1405
Hello @emahuni , please follow the issue template so we can get a better understanding about the origin of your bug or your feature request.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-18 08:44] #1405 closed

[2018-06-18 08:51] derrickmehaffy commented on #891
@abdonrd any update on this? (Just trying to help clear up old issues)

[2018-06-18 08:53] derrickmehaffy commented on #432
@blondie63 any update on this issue? Just wanted to see if this is something we could close out.

[2018-06-18 08:55] derrickmehaffy commented on #916
@ackro any update on this? Just wanted to see if could close out some old issues.

[2018-06-18 08:57] derrickmehaffy commented on #932
@exera Any update on this issue? Checking to see if we can close out old issues.

[2018-06-18 08:59] derrickmehaffy commented on #985
@pierreburgy (can't believe I'm typing this lol) does this still happen on the latest version? Checking to see if we can close out some old issues.

[2018-06-18 09:00] derrickmehaffy commented on #995
@lauriejim I believe this is a database related issue, strapi itself isn't rounding these I don't think.

[2018-06-18 09:02] derrickmehaffy commented on #997
@Lengatox can you check with the latest version to see if this still exists (given graphiql isn't installed anymore, playground is) Trying to see if we can close out old issues.

[2018-06-18 09:03] derrickmehaffy commented on #998
@JunQiGenYuan any update on the PR? Just checking to see if we can close out old issues.

[2018-06-18 09:04] mnlbox commented on #1271
@soupette No it's still break sometimes. I don't know when but it's still not render menu items randomly.
I also try to update and also test again on a clean project.

[2018-06-18 09:05] mnlbox commented on #1233
It's always like this man. I just do normal step to create a relation. :thinking:
I'm using Firefox. Is it matter?

[2018-06-18 09:09] derrickmehaffy commented on #1007
@Aurelsicoko https://www.oneskyapp.com/

[2018-06-18 09:13] derrickmehaffy commented on #1039
@oeddyo any update on this? Just checking to see if we can close out old issues. I'm sure the team would really love a PR (they are busy guys)

[2018-06-18 09:18] derrickmehaffy commented on #1160
@mnlbox correct me if I'm wrong here but I believe by default the value of a boolean on mysql is always false `0` not sure on mongo.

[2018-06-18 09:23] derrickmehaffy commented on #1177
@abdonrd can you update the issue title to something like `Add search option to the API` since the content-manager search option is already live. :heart:

[2018-06-18 09:30] soupette commented on #1271
Do you have a repo I can access so I can try to debug? I'm still unable to reproduce the bug

[2018-06-18 09:31] derrickmehaffy commented on #1217
@soupette any update for @UniBen if he is interested. :stuck_out_tongue:

[2018-06-18 09:34] derrickmehaffy commented on #1233
@mnlbox if you try this on Chrome does the same issue still happen? Can you provide your Firefox version number?

[2018-06-18 09:37] derrickmehaffy commented on #1272
@VonOx I can't reproduce this issue either. And my Database is in a whole other country running through a proxy as well. What version of MariaDB are you using?

[2018-06-18 09:40] derrickmehaffy commented on #1392
@johannpinson Thank you sir, I had a little fix in my project to enable it. (My frontend devs were bugging me too much lol)

[2018-06-18 09:50] lauriejim commented on #1408
Hello, I just tried and I have no issue...
@Icemic what is your OS ?

[2018-06-18 10:48] #1169 closed

[2018-06-18 11:40] Icemic commented on #1408
@lauriejim macOS 10.13.2 with Node 10.4.1, and I am using `nvm` to manage multiple nodejs.

[2018-06-18 12:39] derrickmehaffy opened #1412 "Strapi-CLI Generate:API does not completely generate full API"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.4
- **Database**: N/A
- **Operating system**: N/A

**What is the current behavior?**

using the following command `strapi generate:api blah test:string` generates some of the base API structure in `/api` but a few of the new bits are missing in the sub files or just are not up to date with

[2018-06-18 12:49] lauriejim commented on #1408
If you install strapi again it doesn't fix the missing deps ?

[2018-06-18 13:09] dorelljames commented on #1408
@lauriejim I can no longer reproduce the problem now (at this very moment) using my other Mac machine with the same steps I provided above. That's really odd. Perhaps some dependency not still pulled and updated properly?

@Icemic thanks for confirming the issue. I think re-installing Strapi fixes it.

[2018-06-18 13:12] lauriejim commented on #1160
@derrickmehaffy We did the job to convert 1/0 to true/false for mysql and it's live on npm

[2018-06-18 13:22] AnkitAneja opened #1413 "WYSIWYG : table tag converting to div"
I am facing issue in WYSIWYG , when I add table tag in the WYSIWYG, table tag converting to div. Can anyone please help me out from this issue

[2018-06-18 13:28] lauriejim commented on #1413
Hello @AnkitAneja , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-18 13:28] #1413 closed

[2018-06-18 13:29] #1408 closed

[2018-06-18 13:37] derrickmehaffy commented on #1160
@lauriejim yeah he is talking about defining defaults, AFAIK there is no option in MySQL to define an unset boolean value its either false or true. And by default its false.

I'm unsure how mongo handles this, if you don't send a false value will it be unset?

[2018-06-18 14:28] VonOx commented on #1272
Yeah weird issue

`
mysql  Ver 15.1 Distrib 10.3.7-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2`

[2018-06-18 14:32] derrickmehaffy commented on #1272
@VonOx try creating a clean new project and create a new table and try testing with that. Given I use MariaDB Galera 10.2.something but from what I've read on the change logs between 10.2 and 10.3 nothing should be causing that issue on the DB side.

[2018-06-18 14:44] abdonrd commented on #891
I did not manage to make it work well. Also related with #927.

Anyway, to my knowledge, the process is still not documented anywhere.
An even better option would be to give the option to add a custom provider from the administration panel.

---

On the other hand, I did manage to make an example work with Grant & Koa with this configuration:

[code]

Also, in the `/handle_customprovider_callback`

[2018-06-18 14:59] VonOx commented on #1272
@derrickmehaffy After testing (right now), this is not DB related.
I have tested strapi on ubuntu and the same DB. And it works.

So this issue is about Windows 10 and my Corporate proxy

[2018-06-18 15:26] derrickmehaffy commented on #1272
@VonOx there are many issues with Windows 10, if I were you I would stick to ubuntu or some other linux flavor. (Who runs nodejs projects on windows anyway :stuck_out_tongue: wouldn't want to deal with that overhead)

[2018-06-18 17:50] #1272 closed

[2018-06-18 22:27] #1406 closed, assigned to lauriejim

[2018-06-18 23:45] johntom opened #1417 "TypeError: strapi.hook.mongoose.manageRelations is not a function"
**Informations**
- **Node.js version**:9.5.0
- **npm version**:4.1.2
- **Strapi version**:3.0.0-alpha.12.4
- **Database**:Mongo v2.4.10
- **Operating system**:win10

**What is the current behavior?**
Posting to articles from a custom form raises
[code]
**Steps to reproduce the problem**
add a custom form in public folder also added socket.io
article.html
[code]
without socketio using json payload

[2018-06-19 03:11] aguilera51284 commented on #752
@abdonrd can you share your code? :)

[2018-06-19 03:15] henrych4 opened #1418 "Return null when trying to get current uploaded file"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.5.1
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: MongoDB
- **Operating system**: macOS High Sierra Version 10.13.1

**What is the current behavior?**
I have created a content type with field 'media'. And when I upload a excel file to strapi and get relevant information using the following code:
[code]
The console printed

[2018-06-19 04:02] lauriejim commented on #1418
Hello @henrych4 !
I don't understand what you want to do with the `afterSave` function.
Are you using the content manager to create your `Dailydata` ?

[2018-06-19 04:16] henrych4 commented on #1418
Thanks for the prompt reply. Yes, I use content manager to create `Dailydata`.
And I am trying to fill in other content based on `Dailydata` and therefore I add some code in `afterSave` event.

[2018-06-19 04:32] lauriejim commented on #1417
Hello @johntom did you check this [Repo](https://github.com/wonknu/strapi_socket) for you socket.io usage ?

[2018-06-19 04:42] lauriejim commented on #1418
Actually the upload feature not allow to create your entry and upload in the same time ([issue here](https://github.com/strapi/strapi/issues/1316))
So first we create the entry (without media file) and then we upload your files by joining ([Upload documentation](https://strapi.io/documentation/guides/upload.html)) them to the entry previously created.

It's why you have `null` to your media key. F

[2018-06-19 04:42] #1418 closed

[2018-06-19 05:15] henrych4 commented on #1418
So at which point I can retrieve the file?

[2018-06-19 06:38] derrickmehaffy opened #1419 "Cannot delete data by ID if model has a relation on MySQL"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: 10.2.15-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

If a model has a relation (in my testing on a fresh clean project, a many to one) you cannot delete data, provided the following error:

[code]

**Steps to reprod

[2018-06-19 06:45] derrickmehaffy commented on #1419
Just confirmed as well that deleting the relation field allows you to delete entries by ID again.

[2018-06-19 07:16] lauriejim commented on #1258
Can you guys try with last version of Strapi. Fresh new app and new fresh database.

[2018-06-19 07:36] abdonrd commented on #752
@aguilera51284 I haven't code, I just edited a bit from the Chrome Dev Tools to be able to do the animation.

[2018-06-19 08:38] derrickmehaffy commented on #1419
Confirmed bug with oneWay Relations on the end model (source model is fine as it doesn't have a relation defined)

[2018-06-19 08:49] derrickmehaffy commented on #1419
Also confirmed oneToOne issue on both sides.

[2018-06-19 08:56] kwzm opened #1420 "Can't access auth/local in production"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.2
- **Database**: mongodb
- **Operating system**: win7 x64

**What is the current behavior?**

I can't access auth/local in production server. I use postman to send the request, url is `http://myIp:1337/api/auth/local`(I use prefix /api), but it return 404

**Steps to reproduce the proble

[2018-06-19 08:57] derrickmehaffy commented on #1420
@kwzm can you provide the file where you changed the prefix.

The prefix needs to be `/api` not `api`

Also there are known issues with the prefix and losing access to both the adminUI and the public folder just as an FYI.

[2018-06-19 09:01] lauriejim commented on #1419
I'm on master branch and I can't reproduce this issue.

Can you give me the data creation/deletion step you did please.

[2018-06-19 09:03] kwzm commented on #1420
@derrickmehaffy  Sorry, it's my fault.

[2018-06-19 09:03] #1420 closed

[2018-06-19 09:05] lauriejim commented on #1396
What is the nature of your relation between `user` and `customer` ?

[2018-06-19 09:07] derrickmehaffy commented on #1419
@lauriejim I'm just posting data via postman, delete in the same way

Showing running Strapi:
![image](https://user-images.githubusercontent.com/8593673/41587794-e34e9a6c-7364-11e8-8f8c-40b060ca2fca.png)

Model1:

![image](https://user-images.githubusercontent.com/8593673/41587895-220c792c-7365-11e8-94b8-585bd2575f6f.png)

Model2:

![image](https://user-images.githubusercontent.com/8593673/4158791

[2018-06-19 09:07] derrickmehaffy commented on #1419
Deleting via the AdminUI @lauriejim works fine its when you attempt to delete using the endpoint.

[2018-06-19 09:46] lauriejim commented on #1395
Hello @yummyelin, I try to reproduce and I got `relation` and `enum` type after uninstall `upload` plugin ... Can you try with last version of Strapi please.

[2018-06-19 09:56] lauriejim commented on #1419
I was trying with the content manager. Let me test agin with the API.

[2018-06-19 10:04] soupette commented on #985
@derrickmehaffy it's still happening 😖 😖 but I don't have the time to fix it for the moment...

[2018-06-19 10:05] derrickmehaffy commented on #985
Ha no big @soupette just wanted to check. I haven't noticed it on Chrome >.> It certainly is an odd issue though.

[2018-06-19 10:08] soupette commented on #1217
@UniBen that would be great!
Currently there is a [`layout.js`](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/config/layout.js) in the admin that can be used to hide some elements from the left menu.

Maybe your plugin can extends this functionality a bit like the `content-type-builder` does?

[2018-06-19 10:10] derrickmehaffy commented on #1382
No which means it has something to do with my very large project likely a specific field type or something.

[2018-06-19 10:11] derrickmehaffy commented on #1382
I'll have to test it again when I update to 12.5 on my project.

[2018-06-19 11:16] johannpinson commented on #1292
Hey @Aurelsicoko
I thought about this type of url:
`http://localhost:1337/post?authors_relation.type=administrator`

It will avoid to encode special characters like `{` or `"`

Moreover it can be combined like:
`http://localhost:1337/post?authors_relation.type_ne=administrator`

[2018-06-19 11:57] derrickmehaffy commented on #1419
I think the issue is here: https://github.com/strapi/strapi/blob/3a62e9eaf2e37908864c61225216e3e59395f95e/packages/strapi-generate-api/templates/bookshelf/service.template#L129-L144

At least comparing it to the Mongo Template here: https://github.com/strapi/strapi/blob/3a62e9eaf2e37908864c61225216e3e59395f95e/packages/strapi-generate-api/templates/mongoose/service.template#L107-L146

Though I'm n

[2018-06-19 11:57] derrickmehaffy commented on #1419
Thats if this template is what is being used to generate the files with the adminUI

[2018-06-19 12:06] daru23 commented on #1417
Did you recently migrate your project?

I am facing the same problem and I notice that the new models generate different code. I am assuming this is cause of a migration process.

[2018-06-19 12:10] derrickmehaffy commented on #1417
I've seen something similar to this myself, if you generate a new project, create all your models with just a `test` string field then copy over your `/api/-modelname-/models/-modelname-.settings.json` and of course your `/config/environment` you should be able to migrate up version pretty easily. In your case, copying over your `/public` folder as well.

The strapi team did state they are working

[2018-06-19 12:36] derrickmehaffy opened #1425 "Json Data Type not working properly on MySQL"
**Informations**
- **Node.js version**: v10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: 10.2.15-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

The AdminUI will fail to save json data giving the following error (with DB debug on):

[code]

If I manually put the following into the database (Using MySQL wor

[2018-06-19 12:39] derrickmehaffy commented on #1425
Error when trying to create a model that has a the Json data type:

[code]

[2018-06-19 13:03] kitsunekyo commented on #126
the fact that strapi is using react for its admin panel is a huge bummer. not only is vuejs currently getting more traction than react, but its also easier to build interfaces with and promotes cleaner javascript in my opinion at least.

would there be interest in offering a choice for the admin panel? maybe we (the community) could build a vuejs implementation of the admin interface and have it a

[2018-06-19 13:12] derrickmehaffy commented on #126
@kitsunekyo I think at this point the choice is locked in, of course a fork can always be made to replace the react admin panel with vue.js. I'm sure the Strapi team had their reasons to use react instead.

Right now they are all quite busy with bug fixes and critical feature additions, I'm sure if someone wanted to start working on it, they might be able to look at it later.

For now the best cho

[2018-06-19 13:19] derrickmehaffy commented on #126
There is the common term "I never got fired for buying IBM" which states react is an industry standard, its far easier to find current examples and additions for react then vue right now. I'm sure that will change in the future but Strapi was started back in 2015 and the recent version (v3) I believe started back in 2016 (based on this thread)

Naturally the choice of language is always going to b

[2018-06-19 13:27] Thyvo opened #1427 "Save application logs in .log file"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: MongoDB
- **Operating system**: Server 2016

**What is the current behavior?**
Hi,

I would like to write my console output (info to error) to written into a logfile.

I already tried the code below to write the output to a file, unfortunately, nothing gets written to t

[2018-06-19 13:31] derrickmehaffy commented on #1427
I would also be interested in this, I've been using a temp solution when starting strapi to push the console to a file.

`strapi start > ~/strapi.log`

Obvious this isn't the best solution. Also just a heads up @Thyvo Windows support for strapi is hit or miss at this moment I recommend you use the WSL (Ubuntu) or do development in a linux VM

[2018-06-19 14:09] maru3l commented on #309
Can we contribute for this feature? I'm a full stack web developer from Canada and almost all my project need to be bilingual. It's why this feature is really important for me. I will be trill to help the team to make this feature append.

[2018-06-19 14:18] johntom commented on #1417
Thanks for all the suggestions, socket.io is not the issue as I have 2 custom forms with and without the causes issue. I will test later and get back.

[2018-06-19 14:29] daru23 commented on #1417
@derrickmehaffy Thanks a lot. Work smoothly for me.

[2018-06-19 15:00] johannpinson opened #1428 "New filter `in`?"
hey @soupette @Aurelsicoko

What is this new kind filter with the keyword `in`?
I see you use it for the admin, but what about for using it with the API directly?

https://github.com/strapi/strapi/blob/8832a5baab70655eeb79ccaec79fedd53f0b60e9/packages/strapi-utils/lib/models.js#L472

cf. commit https://github.com/strapi/strapi/commit/8832a5baab70655eeb79ccaec79fedd53f0b60e9#diff-bf3a6e5f9eb9717791

[2018-06-19 15:12] emahuni commented on #126
what you are saying is very true guys, but I am not saying completely remove or replace the react implementation. What I am saying is provide an option. You see this project started a long time ago, but it's not yet done. Don't you think that the reason might be the unnecessary complexity of the tools being used?

For example, I used to work with php and smarty templates a lot, had many projects s

[2018-06-19 15:32] kitsunekyo commented on #126
@derrickmehaffy nobody is questioning react as the choice of the core devs. react is insanely powerful but I feel like the binding to react while marketing strapi as "frontend agnostic" could hurt the volume of people actively participating in the strapi development / community in the long run.

my sole question was whether an OPTIONAL vuejs implementation of the admin backend would be something t

[2018-06-19 15:42] emahuni commented on #126
@kitsunekyo that is very true. I think we will also need an angular implementation as well with time. The biggest selling point here is framework agnostic, which can actually mean a lot to  see many implementations of the frontend.

Anyway, that's what communities are for. Someone has to do it.

[2018-06-19 15:58] Aurelsicoko commented on #126
Very interesting discussion... but I think most of you are missing that we're building an ecosystem. It means that our goal is to provide hundreds of plugins to the community. Each plugin has its own front-end. Do you imagine that every plugin's developer should develop the back-end and three different implementations of the front-end (React, Vue, Angular) part (admin)?

The community could help b

[2018-06-19 16:03] Aurelsicoko commented on #126
Also, I read that some of you think we started the project is 2016. It's true but we are really working on it since July 2017 (~11 months). React isn't the reason why it takes so much time to build Strapi. We're facing many challenges which aren't all related to the development part.

This year, we structured the company, we improved our workflow to manage the community and release new features, a

[2018-06-19 16:07] emahuni commented on #126
then that puts a hard limit on on the agnosticity of Strapi. My thinking
was the plugins implement an api like system with a frontend made for each
frontend framework. If that is the case, what i just said then implementing
multiple front ends will just be a cinche. I am actually thinking of using
vuetify or Quasar as the components lib for something like this. If you
notice, it's very very simple

[2018-06-19 16:09] emahuni commented on #126
Oh my, then that puts a hard limit on on the agnosticity of Strapi. I think i need to go thru the whole code base. My thinking was the plugins implement an api like system with a frontend made for each frontend framework. If that is the case, what i just said then implementing multiple front ends will just be a cinche. I am actually thinking of using vuetify or Quasar as the components lib for som

[2018-06-19 16:24] derrickmehaffy commented on #126
@emahuni Don't get me wrong I too would love to see a Vue admin panel, but the Strapi team picked react for a reason.

Also the ibm thing is a joke lmfao. We have a similar one in the networking field, you say "Cisco" in a meeting about buying equipment and no one will say no (even though I can't stand Cisco gear).

My point is here, if you think it can be done better, please do! There is nothing

[2018-06-19 19:12] lauriejim commented on #1417
@johntom What happen if you are trying with a fresh new app ? Your issue still happen ?

[2018-06-19 20:14] Aurelsicoko commented on #1149
FYI, I'm updating the design a little bit to add new settings on the latest view I shared with the community. I would put an update in few days...

[2018-06-19 20:57] GreatGeorge1 opened #1430 "Json reset when uploading media"
**Informations**
I am using the latest stable docker image on ubuntu 16.04.
Docker version 18.03.1-ce, build 9ee9f40
Strapi v3.0.0-alpha.12.4

**What is the current behavior?**
When uploading media object, json fields setting undefined.

**Steps to reproduce the problem**
Create type with media object (supporting multiple files or not doesn't matter).
Create a new object of that type, input some j

[2018-06-19 20:59] johntom commented on #1417
@lauriejim I will test when I arrive home tonight, at client all day.

[2018-06-19 22:42] nom4da commented on #1258
I just did.

It works for newly created content types, but for those migrated from previous versions (copying folders inside /api) won't work. It won't display permissions checkboxes for those.

Anything more we need to do for a successful model migration besides copying contents on /api ?

[2018-06-20 01:59] kwzm opened #1431 "Fetch error: Response to preflight request doesn't pass access control check"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.2"
- **Database**: mongoDB
- **Operating system**: win7 x64

**What is the current behavior?**

When I fetched api, it consoled error like that:

`Failed to load http://10.2.5.98:1337/api/product?_start=0&_limit=20: Response to preflight request doesn't pass access control check: The valu

[2018-06-20 02:29] santiagopampillo opened #1432 "New user password not being saved"
**Informations**
- **Node.js version**: 10.4.1
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: mongodb
- **Operating system**: ubuntu 16.4

**What is the current behavior?**
When creating a new user with a number only password (ex: "123456") the password is not being saved (null).

**Steps to reproduce the problem**
create a new user and assign him with 123456 passw

[2018-06-20 02:59] kwzm commented on #1431
Then I modify origin to http://10.2.5.98 like this:

![default](https://user-images.githubusercontent.com/16114101/41634955-b3b09aca-7478-11e8-87e0-1a0e5d3f18e2.PNG)

But the response header Access-Controll-Allow-Origin still is *:

![default](https://user-images.githubusercontent.com/16114101/41634864-4c776a32-7478-11e8-9f4b-238a3a320529.PNG)

[2018-06-20 03:41] mnlbox commented on #1271
@soupette I try to create some dummy project for you. But I think it's something related to browser version because I also try clean project and this issue exist and randomly happens.

[2018-06-20 03:42] mnlbox commented on #1233
@derrickmehaffy I'm using Firefox version 60.0.2. I can check new version and tell result here.

[2018-06-20 06:51] lauriejim commented on #1233
Does it work for you with Google Chrome ?

[2018-06-20 06:55] kwzm commented on #1431
@derrickmehaffy Hi, how to update strapi, just install strapi@3.0.0-alpha.12.5 is ok ? What about admin, does it need to update ?

[2018-06-20 06:59] lauriejim commented on #1431
Your issue has been fixed in `3.0.0-alpha.12.3` - https://github.com/strapi/strapi/pull/1298

Check here for migration guide https://github.com/strapi/strapi/wiki

[2018-06-20 07:00] derrickmehaffy commented on #1431
@kwzm Aye, follow the migration guides going from 12.2 -> 12.3, 12.3 -> 12.4. and 12.4 -> 12.5

[2018-06-20 07:01] #1432 closed

[2018-06-20 07:07] lauriejim commented on #1258
It depend of the source version.

Migration guide here: https://github.com/strapi/strapi/wiki

[2018-06-20 07:08] #1258 closed

[2018-06-20 07:10] lauriejim commented on #1430
Can you open this issue on `strapi-docker` repo https://github.com/strapi/strapi-docker

[2018-06-20 07:10] #1430 closed

[2018-06-20 07:34] #1431 closed

[2018-06-20 07:45] soupette commented on #1428
hi @johannpinson this filter is used for the search especially with mongo

[2018-06-20 07:48] soupette commented on #707
I'm closing the issue, here's the [documentation](https://github.com/strapi/strapi-examples/tree/master/login-react) associated on how to work with custom providers

[2018-06-20 07:48] #707 closed

[2018-06-20 07:52] soupette commented on #822
I'm closing this issue.

Here's the command that have been set:

- `npm run setup:build` (in the monorepo, it will build all the plugins)
- `npm run setup` (in the monorepo, it will just install the dev environment)
- `npm run setup` (in a project, it will only build the admin)
- `npm run setup --plugins` (in a project, it will build all the plugins)

[2018-06-20 07:52] #822 closed

[2018-06-20 07:54] soupette commented on #1132
I'm closing the issue, here's the [documentation](https://github.com/strapi/strapi-examples/tree/master/login-react) on how to use custom providers.

[2018-06-20 07:54] #1132 closed

[2018-06-20 07:56] soupette commented on #1165
I'm closing the issue since this feature hasn't been developed

[2018-06-20 08:03] johannpinson commented on #1428
Ok but i didn't see here it's used.
Is it for filtering about a relation?

[2018-06-20 08:18] kwzm commented on #1431
@lauriejim @derrickmehaffy  First of all, thanks a lot, you replied so fast.

And I red the migration guide, but I have some questions:

1.

![getting start](https://user-images.githubusercontent.com/16114101/41644747-94580b9e-74a1-11e8-919f-11bac66a8547.PNG)

Why I need to create a new project by strapi? Is it for copy new items to old project?

2.

![update node modules](https://user-images.gith

[2018-06-20 08:32] kwzm commented on #1431
@derrickmehaffy Thanks a lot, after reading you reply, I was suddenly enlightened. :)

[2018-06-20 08:35] kwzm commented on #1431
@derrickmehaffy Thank you for your compliment, you are flattering me. :smile:

[2018-06-20 08:48] johannpinson opened #1433 "Migration to npm scoped package"
**What is the expected behavior?**

Actually, each npm package is named `strapi-myname`.
The goal will be to have `@strapi/myname`, like Babel or Angular.

Btw, there are also some eventually improvements:
- Change `strapi` package to `cli` (so it will become `@strapi/cli` and the folder will be `strapi-cli`)
- Is the `strapi-utils` may be `@strapi/core` because it's used (almost) everywhere? (or

[2018-06-20 08:50] derrickmehaffy commented on #1433
Documentation for scoped packages: https://docs.npmjs.com/misc/scope

[2018-06-20 08:50] derrickmehaffy commented on #1433
Btw +1 from me on this, I think following the standard is prob the best route here.

[2018-06-20 09:10] xeegi commented on #1317
Could not reproduce on Strapi version: 3.0.0 alpha 12.3
Instead of using Chrome Modify Header extension I used HTTP Headers tab built into the Playground.
Using dummy Authorization header gave response as:
[code]
Did not test with: 3.0.0 alpha 12.2

Meanwhile using a correct token gave an expected result.

[2018-06-20 10:44] #496 closed

[2018-06-20 11:16] zalmane opened #1434 "Strapi intermittently restarts"
**Informations**
- **Node.js version**:
9.5.0
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.2
- **Database**:
postgresql
- **Operating system**:
WSL (Ubuntu Linux on windows)

**What is the current behavior?**
Strapi intermittently restarts (in dev mode with autoreload). Shows a message as if a file has changed when no file has changed.
1|str | [2018-06-20T11:12:12.477Z] info File

[2018-06-20 11:24] derrickmehaffy opened #1435 "Add option to disable Bookshelf creation/validation of tables"
**What is the expected behavior?**

Per speaking with @lauriejim on the slack creating this issue for tracking of this feature.

There should be an option (realistically there should be a quick check of the database first) to disable the automatic creation/validation of the tables within the database. This is to help speed up the starting of strapi after the database is already created.

The lines

[2018-06-20 13:46] zalmane commented on #1434
Just tried with 12.5. Same issue.

[2018-06-20 14:47] #1358 closed

[2018-06-20 15:16] derrickmehaffy commented on #1434
@zalmane can you upload your project to GitHub and link it (if there is nothing secret or personal in it)

[2018-06-20 15:16] lauriejim commented on #1434
@zalmane Can you try to update watched file liste [here](https://github.com/strapi/strapi/blob/master/packages/strapi/bin/strapi-start.js#L71) and add `admin` folder.

[2018-06-20 15:17] artem-korolev commented on #884
Hi. That is interesting topic.
Strapi already have a very well model to support it.
But i'm not totally sure, that this process can be really automated

Yesterday I was trying to rename one model. I can do it easily I guess, if I do not rename collection name. But if collection name is already initialized, then editing it force a bug after Strapi restart. It is actually a bug, that should be fixed

[2018-06-20 15:28] sidharthv96 commented on #1396
One-One

On Tue, Jun 19, 2018 at 2:35 PM Jim LAURIE <notifications@github.com> wrote:

[2018-06-20 16:25] Aurelsicoko commented on #884
@artem-korolev Thank you for sharing your thoughts on this feature! We already made progress on this one, you should read the proposal I made [here](https://github.com/strapi/strapi/issues/672#issuecomment-381662918).

It's a very complicated feature because we want to keep Strapi very easy to use. This kind of functionality is powerful but also difficult to understand for beginners...

[2018-06-20 16:36] Aurelsicoko commented on #1433
We should definitely implement this 💯

It will also impact our release script (https://github.com/strapi/strapi/blob/master/scripts/publish.js)

[2018-06-20 16:38] Aurelsicoko commented on #1317
@Jehu I made a quick test on my side, it was working well. Can you give me the steps to reproduce?

[2018-06-20 16:46] Aurelsicoko commented on #1428
@johannpinson No, it's to simulate the SQL query `LIKE` with Mongo. However, we could use it for another purpose as well like relation filtering 👍

[2018-06-20 17:35] Jehu commented on #1317
@Aurelsicoko i think we must ask @davutkara here? I just watch this issue because i evaluate strapi for using in production

[2018-06-20 18:15] davutkara commented on #1317
I tried on developer mode.

[2018-06-20 18:35] MattAurich commented on #1320
The backend is easy enough to separate out and work on independently of the front end. I am starting into a CRUD react app that plays well with the strapi-backend, if it comes far enough along I'll turn it into a public repo

[2018-06-20 18:56] soupette commented on #1320
@MattAurich we made some boilerplates with react if you want to [check them out](https://github.com/strapi/strapi-examples)

[2018-06-20 18:57] MattAurich commented on #1320
@soupette this is awesome, thanks!

[2018-06-20 21:22] Tryptich opened #1440 "Unable to create first user"
After the installation of the CMS, i can't create the first user according to tutorial.
i have install all the plugin but i can't apply the tutorial.

strapi version : 3.0.0-alpha.12.4
node version: v8.11.3
Win 10

[2018-06-21 02:09] kwzm commented on #1431
@derrickmehaffy Hi, I updated my local project successfully, and then used git to push in gitlab. Now I pulled the latest code from the gitlab in ubunto, then ran `npm install --production` `NODE_ENV=production npm strat` as the [blog](https://blog.strapi.io/how-to-deploy-a-strapi-application/) says, but got a error like this:

![default](https://user-images.githubusercontent.com/16114101/41693838

[2018-06-21 05:55] henrych4 commented on #1440
As mentioned [here](https://strapi.io/getting-started), requirements for strapi are

- node (at least v9.0.0)
- npm (at least v5.0.0)
- mongoDB (at least v3.4)

Perhaps you can try update node version and see whether it works

[2018-06-21 06:12] derrickmehaffy commented on #1431
@kwzm Yeah I've had issues with that as well, it seems when you upload to git the package.json doesn't include everything that the Strapi-CLI installs (When you use `strapi new -projectname-` it installs some npm packages as well)

Not sure you need the --production bit though. Also pretty sure npm start doesn't work unless you modify the startup command.

@lauriejim what is the best way to handle

[2018-06-21 06:14] derrickmehaffy commented on #1440
@Tryptich Please follow the bug template, issues that don't follow it will be closed.

Also as @henrych4 has said,
Node >=9
NPM >= 5
MongoDB >= 3.4 OR MySQL >= 5.6
Also I don't recommend Windows as support is hit or miss on it, Either use the WSL (Ubuntu) or a Linux VM.

[2018-06-21 06:36] mnlbox commented on #1233
@lauriejim yes it's working well on chromium but not dosplay correct in Firefox.

[2018-06-21 06:48] gfelot commented on #1191
I didn't have time ;atly to spare for OSP. I will try to look at it next month.

[2018-06-21 07:10] ackro commented on #916
hey @derrickmehaffy, not as yet but would like to submit a PR soon.

[2018-06-21 07:29] VasiliyPolyakov commented on #1381
@ShawTim Hello. I am trying to add another Markdown Editor. Unfortunately, I have not added yet it. I have a few questions, maybe you can help me.
What I did:
1) added a new component with Froala WYSIWYG (https://www.froala.com/wysiwyg-editor)
2) added this component to input (customInputs={{ wysiwyg: LoadableWysiwyg }})
3) executed npm_config_plugins=true npm run setup (what does this command mea

[2018-06-21 08:38] kwzm commented on #1431
@derrickmehaffy Hi, it seems that I am not alone in this problem :smile: , and just like you I am also install them one by one.

[2018-06-21 08:40] johannpinson commented on #1428
@Aurelsicoko
Just to be sure, why it's not used the `contains(s)` filter if it's to make a `LIKE` operation?

[2018-06-21 08:46] johannpinson commented on #1433
@Aurelsicoko
cf. Babel for example, Lerna can be use directly to simplify the publish script:

https://github.com/babel/babel/blob/9283efaeb7a8c5b505b19332c3407dc44c668777/Makefile#L107-L117

[2018-06-21 09:12] mnlbox opened #1441 "boostrap.js not called totally"
**Informations**
- **Node.js version**: 9.0.0
- **npm version**: 5.5.1
- **Strapi version**: 3.0.0 alpha 12.5
- **Database**: Mongo
- **Operating system**: Linux

**What is the current behavior?**
I want to add some init data to my app and done same step as https://github.com/strapi/strapi-examples/tree/master/cheesecakes#bootstrap-application-data but it's not working at all. I search and find th

[2018-06-21 09:57] lauriejim commented on #1440
Hello @Tryptich , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-21 09:57] #1440 closed

[2018-06-21 10:07] lauriejim commented on #1441
I ran `strapi new myProject` and update `bootstrap.js`file with a log and it works well.

[2018-06-21 15:05] adamkhan opened #1442 "Updated to v3.0.0-alpha.12.5 but still looks like v3.0.0-alpha.12.1.4"
**Informations**
- **Node.js version**: v10.1.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.15
- **Database**: MongoDB
- **Operating system**: MacOS

**What is the current behavior?**

After updating both local and global installs of Strapi on my dev machine to v3.0.0-alpha.12.5, I don't see any of the new things discussed at https://blog.strapi.io/release-v3-alpha-12-5-search-fi

[2018-06-21 15:14] MattAurich opened #1443 "Review life cycles"
# Edited by @derrickmehaffy as of March 8th 2020

Lifecycle Callbacks from generated APIs and plugins are currently very broken (different levels depending on the database) and the Strapi team do plan to fix these over the next few weeks (likely before the stable release in Q2 2020).

Usage of them right now is not recommended, some will work, others will not. There is currently ongoing work to fi

[2018-06-21 15:21] krestaino commented on #1442
Follow this.

https://github.com/strapi/strapi/wiki/migration-guide-alpha.12.4-to-alpha.12.5

You need to replace the old admin with the new one, as well as the plugins.

[2018-06-21 15:37] adamkhan commented on #1442
@krestaino Thanks for the quick response. Followed your link and successfully completed the update — thank you very much!

Might be good if the blog post linked to it as well, someone has already commented there about the issue.

[2018-06-21 15:40] krestaino commented on #1442
Agreed. Good news is that soon the updates should be much less of a manual process.

https://twitter.com/pierre_burgy/status/1009080766402322432

[2018-06-21 15:41] nicolasgalle opened #1444 "Cannot create new project with 3.0.0-alpha.12.5"
Node.js version:10.5.0
npm version:6.1.0
Strapi version:3.0.0-alpha.12.5
Database:mongodb
Operating system:windows10 64bit

![capture](https://user-images.githubusercontent.com/4417791/41729761-5dffa8c0-757a-11e8-8b6d-16dd11319fd5.PNG)

When trying to create a new project with "strapi new test", the process goes normally till "Database name" question where I cannot enter any info. At this step Str

[2018-06-22 06:44] derrickmehaffy commented on #1444
Related issues: https://github.com/strapi/strapi/issues/1355 (Closed due to bug template)

Duplicate Issue: https://github.com/strapi/strapi/issues/1281 (recommend closing this one)

@nicolasgalle This is a known issue with windows, please use the Windows WSL (Ubuntu) or a Linux VM for development for now. The Strapi team are working on better windows support.

You can read about this in their lat

[2018-06-22 06:45] derrickmehaffy commented on #1443
@MattAurich can you test this with MySQL and/or Postgres as well. I'm wondering if there is an issue with mongoose or bookshelf

[2018-06-22 07:51] lauriejim commented on #1444
This issue already exists, please browse the list of opened or closed issues.
Please check https://github.com/strapi/strapi/issues/1281

[2018-06-22 07:51] #1444 closed

[2018-06-22 10:16] pierreburgy commented on #432
@derrickmehaffy I think it can be closed.

[2018-06-22 10:18] derrickmehaffy commented on #432
@pierreburgy Alrighty :smiley:

@lauriejim you want to close this?

[2018-06-22 11:04] commentatorboy commented on #432
I have not been able to fix this issue yet. But I have not tried to do anything since last time I posted.
If it is alright with you I want to take the time during the summer to see if it works?

[2018-06-22 12:59] devaublanc opened #1448 "Redirection problem on fresh project after running the setup plugin"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.6.0
- **Strapi version**: v3.0.0-alpha.12.5
- **Database**: MySQL
- **Operating system**: Mac OS High Sierra 10.13.3

**What is the current behavior?**
After making the plugin setup [here](https://strapi.io/documentation/plugin-development/quick-start.html#development-environment-setup), when I try to install a new Strapi projec

[2018-06-22 13:07] nicokant opened #1449 "Singleton content type"
**What is the expected behavior?**
 Having a singleton content type would allow to store dynamic configurations, some use cases:
- default SEO tags value
- text blocks that are used inside a page
- website/app dynamic configuration

I'm using gatsby to generate a website and I'd like to keep data and templates separated, this would allow to query also for single page content, not only collections

[2018-06-22 13:24] nicokant opened #1450 "WYSIWYG editor with HTML"
**What is the expected behavior?**
Markdown editor can be difficult for non tech users as its not properly a WYSIWYG editor, they usually e expects to be able to edit contents and preview the result at the same time.

Keeping both markdown and WYSIWYG would be fantastic, a great editor that would allow this is [prose mirror](http://prosemirror.net/), which "converts" markdown syntax to HTML while

[2018-06-22 13:58] #1448 closed

[2018-06-22 14:36] Aurelsicoko commented on #1359
@kamwing @derrickmehaffy IMO, it has nothing to do with the Content-Type Builder. It's a pure UI issue that should be handled by the Content Manager plugin which will allow you to add custom label name for a specific field.

We're going to develop a new section in the Content Manager. Please note this is a work in progress, not the final design.
![screen shot 2018-06-22 at 15 57 13](https://user-i

[2018-06-22 14:47] Aurelsicoko commented on #1428
@johannpinson Great question, @soupette worked on it, he will probably give a better answer than me.

[2018-06-22 14:51] AustinBratcher opened #1452 "Fail to update admin path"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: Mongo (hosted on Mlab)
- **Operating system**: macOS 10.13.5

**What is the current behavior?**
In the server config for each environment (i.e. config/environments/**/server.json) there is an option to set the default path for the admin page (by changing the admin.path va

[2018-06-22 14:53] AustinBratcher commented on #1452
Upon some further digging in the chrome network tools, it looks like none of the needed resources are loading after the admin.path variable is set. All the requests look at the /admin route. So I'm not sure if this is a front end issue where the route requested should be changed or if this a back end issue where the requested routes are changed when they should not be.

[2018-06-22 14:57] Aurelsicoko commented on #1292
@johannpinson Why we can't do this `http://localhost:1337/post?authors.type_ne=administrator`? As I said, we know that the author is a relation, we don't need to specify it in the URL.

[2018-06-22 15:03] Aurelsicoko commented on #1007
@derrickmehaffy OneSkyApp seems to be a service to translate the content with their own translators. This is not what we are looking for 🙈

[2018-06-22 15:14] derrickmehaffy commented on #1452
May have something to do with the routing issues on the API prefix too. If you change it to something like /API you lose access to the /public and /admin

[2018-06-22 15:16] derrickmehaffy commented on #1452
Possible related issue: https://github.com/strapi/strapi/issues/1323

(Jim don't close this one as duplicate since it's technically a different issue)

[2018-06-22 15:20] johannpinson commented on #1292
Yes I think we can detect if a variable is a relation, but it was just to simplify the logic and avoid a new iteration to check each parameter to know if it's an attribute or a relation 😄
=> So, what it the best solution for you? It need to iterate the `strapi.models.attribute`-like list or there is a function like `getNature()` to detect it easily?

Moreover, a `oneToX` relation doesn't need to c

[2018-06-22 15:21] soupette commented on #1450
@nicokant we went for a full markdown support because we store 'stringified markdown' in your database. Having a simple WYSIWYG would mean that we need to store the entire contentState of the WYSIWYG in your database.

This might not be an issue for the user but it would mean that he has to use [draft-js](https://draftjs.org) editor in his application, with exactly the same configuration has the o

[2018-06-22 16:06] mnlbox commented on #1441
@lauriejim I re create another app and it's working now. I don't now why :thinking:

[2018-06-22 16:06] #1441 closed

[2018-06-22 16:32] guillermodoghel opened #1454 "Access admin panel through link with token"
Depending the user role, I have an admin panel link in my frontend. But due its in another host, admin user needs to login again. I would love to have a way to access de admin panel via an href, something like http://localhost:1337/admin/?login=asdfasdfasdf.... that allows me to enter directly into the admin panel without need to re-login

**What is the expected behavior?**

Given a route to the a

[2018-06-22 17:03] derrickmehaffy commented on #1454
@guillermodoghel can you update this with the proper template (it looks like a feature request)

[2018-06-22 18:30] philippfrenzel opened #1455 "Alpha12.5 won't start within docker container due to "new" command"
api_1            | [2018-06-22T18:27:26.469Z] error `$ strapi new` can only be called in an empty directory.
api_1            | [2018-06-22T18:27:27.141Z] error This command can only be used inside a Strapi project.

`
FROM node:alpine

LABEL maintainer="Luca Perret <perret.luca@gmail.com>" \
      org.label-schema.vendor="Strapi" \
      org.label-schema.name="Strapi Docker image" \
      org.lab

[2018-06-23 13:57] lauriejim commented on #1449
Hello @nicokant .

You can create a content type with one text attribute and one JSON attribute to have this feature.

[2018-06-23 14:28] lauriejim commented on #1455
@philippfrenzel This issue is related to Docker, can you please create it in `strapi-docker` repo please.

[2018-06-23 14:28] #1455 closed

[2018-06-23 14:49] #1419 closed

[2018-06-23 14:58] lauriejim commented on #432
This issue still exits.
MongoDB client is earlier than 3.4 version. So it need replica set servers to connect to the database. And Strapi not accept replica set.

[2018-06-23 15:16] doublemarked commented on #432
On our Strapi setup mongo client is already installing with support for 3.6. Do you have an older version pegged in package.json?

[2018-06-23 17:58] brocgailit commented on #1177
This can be accomplished in the API by adding an `or` into the query pipeline.  (This example uses `_q` instead of `_search`)

**Build the `or` Filter** with all string types
[code]

**Add to pipeline**
[code]

[2018-06-25 06:17] ShawTim commented on #1381
@VasiliyPolyakov maybe just check which path you are running the command on. i run it on my root dir of the strapi project.

the command will tell the `npm run setup` to build the plugin as well. if you run that successfully you should be able to see some plugin build results on console. sth like this:

[code]

you can check `admin/scripts/setup.js`. there is a line:

[code]

make sure you have te

[2018-06-25 07:11] soupette commented on #1381
@VasiliyPolyakov here are the available commands:

- `npm run setup` at the root of your app will only build the admin
- `npm run setup --plugins` at the root of your app will build both the admin and all the installed plugins
- `npm run setup` at the root of the `monorepo` will install the dev environment
- `nam run setup:build` at the root of the `monorepo`will install the dev environment and bu

[2018-06-25 08:04] nicokant commented on #1449
Yes, this could work, but a content type is a entries, a configuration should be instead just a single item.
Moreover a json field type require technical knowledge and may be complex for a user

[2018-06-25 08:09] nicokant opened #1457 "Define default attributes for JSON input"
**What is the expected behavior?**
I would expect to be able to configure fields inside a JSON field, this would allow  a structured approach, and would allow reusing already implemented fields to better edit a JSON content

[2018-06-25 08:12] derrickmehaffy commented on #1457
@nicokant can you provide some examples of this? The Json input has been completely redesigned by @Aurelsicoko & @soupette  last week

see: https://github.com/strapi/strapi/pull/1401
and
https://github.com/strapi/strapi/pull/1447

[2018-06-25 08:18] nicokant opened #1458 "validate JSON field before saving"
**Informations**
- **Node.js version**: 10.5.0
- **npm version**:  6.1.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: mongodb (mlab)
- **Operating system**: fedora 27

**What is the current behavior?**
JSON field allow non JSON parsable content

**Steps to reproduce the problem**
- create a new content type
- add a JSON field to the content type
- save
- create a new entry for the conten

[2018-06-25 08:30] derrickmehaffy commented on #1458
@nicokant you may want to check the other PRs submitted for the changes going into 12.6 I believe the admin UI does check that it is valid json

[2018-06-25 08:47] dulgeoion opened #1459 "Deleting uploaded file issue with SQL"
**Informations**
- **Node.js version**: v8.11.2
- **npm version**:5.6.0
- **Strapi version**: v3.0.0-alpha.12.5
- **Database**: pg
- **Operating system**: Red Hat 7.2.1-2 (AWS server)

**What is the current behavior?**
Okay, so problem is that if I uploaded image on server, it occurs an issue:

- When I try to delete uploaded file via delete button it throws me an error:
[code]
**What is the expec

[2018-06-25 08:48] soupette commented on #1458
@nicokant can you provide a screenshot of the non valid JSON you were able to save because I added
some checks in both the `content-manager` and the JSON input itself.

Here's the check in the content-manager :

[code]

And the one in the InputJSON:

[code]

If there's an error the admin won't let you save the data.

[2018-06-25 08:55] derrickmehaffy commented on #1459
Seems related to the discussion of `_id` vs `id` : https://github.com/strapi/strapi/issues/1274

[2018-06-25 11:07] nicokant commented on #1458
![schermata da 2018-06-25 13-06-21](https://user-images.githubusercontent.com/6927678/41846928-9b197802-7878-11e8-8b8c-1a300349db2c.png)

In this example I just wrote `{` as content and pressed save.

[2018-06-25 13:46] johannpinson commented on #1433
@Aurelsicoko
During creating some "test" projects, I see in the root `node_modules` that the `strapi` folder is a symlink for the global package installed.
Since I modify some files to make tests, bug fix or evolution, it applies it to all projects and I need to make a `npm install` at the root folder to change it.

By passing to the scope logic, it will allow to install only the `cli` on global a

[2018-06-25 16:05] MechJosh0 opened #1461 "Error: association is not defined - Editing entries with images"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: MySQL
- **Operating system**: Ubuntu

**What is the current behavior?**
Edit an exiting entry which has an image causes the error `association not defined`

**Steps to reproduce the problem**
1. Create a new content type named `Example`
2. Add two field types, `{ title =>

[2018-06-25 16:06] MechJosh0 commented on #1332
I have opened a ticket with the correct templating guideline https://github.com/strapi/strapi/issues/1461

[2018-06-25 16:26] maturano opened #1462 "Support for MSSQL database"
**What is the expected behavior?**
Knex has support for MSSQL. What do you need to have that same support in Strapi?

In a quick test, everything seems to work once the database is created. So, the first impediment would be the initialization of the table scheme.

Currently, we are [creating manually the queries for this](https://github.com/strapi/strapi/blob/5a156adf8b659fb7b8086dbab5ae280fd1d8cb

[2018-06-25 17:55] maturano opened #1463 "Strapi remove sibling `tmp` directory"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: ---
- **Operating system**: Linux

**What is the current behavior?**
Strapi makes assumptions about a sibling `tmp` directory. Uses it as [temporary path](https://github.com/strapi/strapi/blob/5a156adf8b659fb7b8086dbab5ae280fd1d8cb6a/packages/strapi-generate-new/lib/before

[2018-06-25 17:56] maturano commented on #1463
I'll been working on a patch for this.

[2018-06-25 18:00] philippfrenzel commented on #1455
Hi, so I´ll post it their ;) Thanks for answering

[2018-06-25 19:25] nicksrandall opened #1465 "Implement multi-site (multi-tenant) feature"
I'm looking for a multi-site feature much like Wordpress and can see that it is on the long-term road map for strapi. I'd like to help get this feature implemented and am looking for some direction from the core maintainers before I begin.

Has anybody spent the time to consider how this might be accomplished?

For those who are unfamiliar with "multisite" (perhaps a better name would be multi-ten

[2018-06-26 03:39] heyjaypray opened #1466 "12.5 Won't Deploy to Heroku"
**Informations**
- **Node.js version**: v10.4.0
- **npm version**: 6.1.0
- **Strapi version**: alpha-12.5
- **Database**: MongoDB/mLab
- **Operating system**: OSX

**What is the current behavior?**
When deploying to Heroku - it gives me an application error.
https://shielded-hollows-84216.herokuapp.com/

**Steps to reproduce the problem**
Create new Strapi app with 12.5.  Git init-> git add-> git

[2018-06-26 08:20] lauriejim commented on #1462
Actually we are focused on MySQL, Postgres and Mongo. Feel free ton investigate on how you can make MSSQL work.

[2018-06-26 12:15] maturano commented on #1462
I will. I just ask for point me in the right direction; help understanding the current implementation.

My first block is the raw queries on `strapi-bookshelf`. I will try change them using the knex´s API. Is there some reason it is not used now? Is that the correct approach?

[2018-06-26 12:29] derrickmehaffy opened #1468 "Request to follow Rest API Standard HTTP Methods"
**What is the expected behavior?**

Following this rough guide: https://restfulapi.net/http-methods/

I purpose that modifications should be done to the default routes, as well as adding the `PATCH` route by default.

Currently the `PUT` route is doing the work that typically in an API the `PATCH` route does in that you are able to patch a specific value without sending the entirety of the respons

[2018-06-26 12:31] derrickmehaffy commented on #1462
@maturano I spoke with @lauriejim on slack about this, he agreed that they should be moved over to use the knex API but at the moment it isn't a high priority for them. If you are interested in doing so I'm sure they would appreciate it. Based on the knex documentation it shouldn't be too terribly difficult to support MSSQL.

[2018-06-26 12:37] maturano commented on #1462
Excellent! I will work on it and I´ll send a PR when I have something 👍

[2018-06-26 12:38] derrickmehaffy commented on #1462
Sounds good!

[2018-06-26 13:44] #1425 closed

[2018-06-26 14:27] guillermodoghel opened #1469 "Count route responds 404 *only* when should return 0"
**Informations

- **Node.js version:**Node v10.4.1
- **npm version:** npm 6.1.0
- **Strapi version:** 3.0.0-alpha.12.6
- **Database:** 10.1.32-MariaDB (myqsl 5.6.36 / PHP 5.6.36 from XAMPP for OSX)
- **Operating system:** mac os high sierra 10.13.4

**What is the current behavior?**

When I run a count request with filters, and the expected resoult is greater equal than 1, It responses is the corr

[2018-06-26 14:46] derrickmehaffy commented on #1469
@guillermodoghel unlikely related to my issue there. The count service likely doesn't have a catch setup. Much like a GET request returns an empty json array, the count doesn't get a response from the db on data and defaults to a 404 error.

Your right that it should return a 0. (Technically speaking this should be a 500 error if anything lol, 4xx is a user problem. So regardless it shouldn't be a

[2018-06-26 22:23] worapolburaphan opened #1472 "Action Button very smaller"
**What is the expected behavior?**
I need to have a edit and remove button instead icon action because it's very smaller, hard for click remove icon

[2018-06-27 03:01] guillermodoghel commented on #1454
I've resolved this by doing the following aberrant workarround

On my frontend app I created and href that looks like
[code]

where getToken() and getUser() are the admin jwt and user object returned in login.

On the strapi side, in ./admin/admin/src/containers/AdminPage.indexjs
in the begnining of   **componentDidMount() {** I added this code

[code]

I think there are way a more "correct" ways

[2018-06-27 07:42] CantGetRight82 opened #1473 "failed installing email plugin"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: Mongo 3.6.5
- **Operating system**: macOS High Sierra 10.13.4

**What is the current behavior?**
When creating a new project with the cli, I get the following error:

[2018-06-27T07:38:48.888Z] error An error occurred during email plugin installation.
[2018-06-27T07:38:48

[2018-06-27 07:45] derrickmehaffy commented on #1473
Just saw this as well, here is the error if you delete the directory and attempt to install it using the strapi-cli:

[code]

[2018-06-27 07:47] derrickmehaffy commented on #1473
@CantGetRight82 Just a heads up, spoke with @lauriejim on slack he is aware and actively working on this :+1:

[2018-06-27 07:47] lauriejim commented on #1473
@CantGetRight82 working on it, it will be fixed in few minutes

[2018-06-27 07:54] lauriejim commented on #1473
Please run `npm i strapi@alpha -g` and create your project.

[2018-06-27 07:54] #1473 closed

[2018-06-27 07:58] lauriejim commented on #1473
@CantGetRight82 and @derrickmehaffy You can confirm

[2018-06-27 08:01] derrickmehaffy commented on #1473
@lauriejim the email plugin installed however the bookshelf package will not. I'm guessing there is a wider issue with some other strapi packages.

[2018-06-27 08:01] derrickmehaffy commented on #1473
https://www.npmjs.com/package/strapi-bookshelf

[2018-06-27 08:01] CantGetRight82 commented on #1473
My installation works now, thanks!

[2018-06-27 10:05] abdonrd opened #1474 "The default MongoDB connectOptions overrides the URI params options"
**Informations**
- **Node.js version**: v9.11.0
- **npm version**: v6.0.0
- **Strapi version**: v3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

The default MongoDB `connectOptions` overrides the URI params options.

**Steps to reproduce the problem**

With this database config:

[code]

And this environment variable:

`DATABASE_URI=mongod

[2018-06-27 11:53] derrickmehaffy commented on #1472
Might worth also adding a `Delete` button when viewing the record instead of just `Reset` @soupette

I believe we discussed this previously but I don't remember if there was a technical issue with this.

[2018-06-27 11:54] derrickmehaffy commented on #1472
@xeastcrast Just clicking on the record will open the edit option. I do agree though the delete one is quite small and hard to click

[2018-06-27 13:13] derrickmehaffy opened #1476 "JSON Data Type is not working in GraphQL"
**Informations**
- **Node.js version**: v10.5.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: 10.2.15-MariaDB
- **Operating system**: Linux Mint 19 Beta (Ubuntu 18.04)

**What is the current behavior?**

Using the json data type, GraphQL responds on all entries with `[object Object]`

**Steps to reproduce the problem**

Create a model with the JSON data type, and

[2018-06-27 13:20] goras opened #1477 "One way relation field disappear from content type"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.1.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: Mongo v3.4.15
- **Operating system**: macOs, Ubuntu 18.04

**What is the current behavior?**
One way relation fields disappear from content type.

In the example below, the page relation field of the Menu Content Type has been removed. Any menu entries lost their connectio

[2018-06-27 13:35] derrickmehaffy commented on #1476
It seems GraphQL is mapping the JSON data as a string, see the following screenshot from my project:

<img width="792" alt="capture d ecran 2018-06-27 a 15 29 00" src="https://user-images.githubusercontent.com/8593673/41977459-3f613a92-79d4-11e8-8607-187c9fdfa769.png">

[2018-06-27 13:45] xeastcrast opened #1478 "How can I set difference role each user when them register on difference website"
**Informations**
- **Node.js version**: 10.4.1
- **npm version**:  6.1.0
- **Strapi version**:3.0.0-alpha.12.5
- **Database**: Mongodb
- **Operating system**: Ubuntu 18.0

**What is the current behavior?**
I don't know how to set difference user role on them register on difference website that use the same api such as "POST /auth/local/register"

**What is the expected behavior?**
I want to set di

[2018-06-27 16:05] nicokant commented on #1449
Yes, this is precisely the point

[2018-06-27 18:50] harmjanluth commented on #483
Anyway.. +1 for custom fields. Mandatory feature.

[2018-06-27 19:16] awitherow commented on #636
@Synj24 should this be closed? I am not sure that having no username or password in the prompt is a WORKING solution?

[2018-06-27 19:21] awitherow opened #1479 ""strapi new X" fails to create database admin/password"
**Informations**
- **Node.js version**: 8.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: Mongodb
- **Operating system**: OS X

**What is the current behavior?**

When attempting to create a new strapi, and I enter a USER and PASSWORD for the database, it fails.

[code]

**Steps to reproduce the problem**
[code]

**What is the expected behavior?**

to find the

[2018-06-27 22:38] blurdylan commented on #1479
I think it'll be great if it asked first.
Because often, new mongo users do not have credentials

[2018-06-27 23:02] derrickmehaffy commented on #636
@awitherow by default mongo doesn't require authentication to connect. This was the problem here.

[2018-06-27 23:06] derrickmehaffy commented on #1479
By default mongo does not require authentication, nor will Strapi create a user, this is due to using remote databases as well as local.

Your user should be created on the database by you before attempting to run Strapi. Most software now will not create a new database user for you (because you shouldn't be sending the root user info outside localhost, or you might not have it)

For instance with

[2018-06-27 23:15] guillermodoghel commented on #1477
sometimes happens and  its really annoying, I resolved it by remaking the relationship and restarting the server

[2018-06-28 00:23] yummyelin commented on #1038
It's strange, I met the same issue.

In my project, `/admin` and `/plugins` are parallel directories. There is no `/admin/plugins`, and there is no `/plugins/upload/configurations`.

![screen shot 2018-06-27 at 5 20 39 pm](https://user-images.githubusercontent.com/3782817/42006434-a1ce6fa6-7a2e-11e8-8bd4-00b5bff0ee02.png)
![screen shot 2018-06-27 at 5 20 29 pm](https://user-images.githubuserconten

[2018-06-28 01:02] yummyelin commented on #1395
I think I reproduced the issue, using 12.6.

[demo repo](https://github.com/yummyelin/strapi-hellol)

[2018-06-28 03:21] decimoseptimo opened #1480 "MongoError: not authorized on [dbname] to execute command { listIndexes: "users-permissions_role""
**Informations**
- **Node.js version**:
v8.11.3
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.6
- **Database**:
MongoDB shell version v3.4.15
- **Operating system**:
ubuntu server 18.04

**What is the current behavior?**
error: `MongoError: not authorized on [dbname] to execute command { listIndexes: "users-permissions_role"`
on: `"role : "userAdminAnyDatabase"`

but works ok on: `

[2018-06-28 05:17] derrickmehaffy commented on #1480
@decimoseptimo this isn't an issue with Strapi. This is due to permissions not being setup correctly on mongo. Please take a look at their docs here: https://docs.mongodb.com/manual/tutorial/manage-users-and-roles/

[2018-06-28 05:18] derrickmehaffy commented on #1480
You can also use either MySQL/MariaDB or Postgres if you are more familiar with them.

[2018-06-28 05:20] derrickmehaffy commented on #1479
It should be noted the blank username and password thing is something related to mongoDB itself. And that by default it only listens on localhost and does not setup authentication.

If you feel that is an issue please notify the mongo devs: https://github.com/mongodb/mongo

[2018-06-28 06:18] decimoseptimo commented on #1480
thakns, I'll check it out.

[2018-06-28 06:19] #1480 closed

[2018-06-28 07:59] lauriejim commented on #1476
Hello @derrickmehaffy ! thank you for reporting this issue.
Ping @johannpinson have you also this issue ?

[2018-06-28 08:04] derrickmehaffy commented on #1477
I was able to reproduce this by having multiple fields on the "source" of the oneway

`Model 1` (Has many fields) -> `Model 2' (Where the oneway relationship is defined, also has multiple fields)

If the "source" of the oneway only has one field then I never seem to have the issue.

[2018-06-28 08:05] lauriejim commented on #1478
Hello @xeastcrast ! Thank you for this proposition.
We will not work on this feature, not priority for us.
Feel free to customize plugin `users-permissions` ([here](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L253)) to choose an other role depending of the origin of your request

[2018-06-28 08:05] #1478 closed

[2018-06-28 08:12] derrickmehaffy commented on #1477
@guillermodoghel even deleting it and recreating it didn't fix my issue. Its hard to track down the source of this. @lauriejim are there any files that are built when you create a relation that might be caching the relations and not being updated with `oneWay` ? It seems that when this bug happens it always converts oneWay to oneToOne

[2018-06-28 08:14] derrickmehaffy commented on #1477
FYI this bug has been around since it was introduced (I just kept forgetting to report it :P )

[2018-06-28 09:08] lauriejim commented on #1038
@yummyelin the path is an url, not folder path.

[2018-06-28 09:09] lauriejim commented on #1395
@yummyelin Can you make your repo public please, I can't access.

[2018-06-28 09:11] #1479 closed

[2018-06-28 09:54] redni commented on #1395
@lauriejim from what I see @yummyelin made a typo in the address of the repository when he added his comment. This address should work: https://github.com/yummyelin/strapi-hello

[2018-06-28 10:05] derrickmehaffy commented on #1477
Speaking with @lauriejim on slack they are working on other stuff at the moment but he mentioned around here is where the relations are defined. The issue likely stems from around here:

mongoose: https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/index.js#L311
bookshelf: https://github.com/strapi/strapi/blob/master/packages/strapi-bookshelf/lib/index.js#L699

Just to clarif

[2018-06-28 10:10] derrickmehaffy commented on #1476
@lauriejim I spoke with @johannpinson yesterday on the slack (before it died :stuck_out_tongue: )

He stated this:

[2018-06-28 10:22] rizalibnu opened #1481 "Error when setup the development environment, npm run setup return "Unexpected end of JSON input while parsing near '...e,"directories":{},"d'""
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 5.6.0
- **Strapi version**: @3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: macOS High Sierra v10.13.4

**What is the current behavior?**

When attempting to setup the development environment and I run `npm run setup` at the root of the project directory, it's error.

[code]

**Steps to reproduce the problem**

1.

[2018-06-28 16:58] rizalibnu commented on #1481
Hi @lauriejim i've updated steps to reproduce, i cloned with HTTPS `git clone https://github.com/strapi/strapi.git`
But I think it's same.

[2018-06-28 17:56] phanhoangloc opened #1482 "Content-Manager: able to choose which fields to show in the list page"
**Informations**

* **Node.js version**: 9.10.1
* **npm version**: 5.6.0
* **Strapi version**: @3.0.0-alpha.12.5
* **Database**: MongoDB
* **Operating system**: macOS High Sierra v10.13.5

First, I'd like to thanks the Strapi team for a nice library. It helps me save tons of time when building a new web admin. Great work!

As far as I know, the list page only shows 4 first fields of a model.

I wo

[2018-06-28 18:17] nicokant commented on #1450
I suppose it depends on how the user expects to use Strapi, if he wants to just create/edit data with strapi admin the problem with the configuration doesn't exists. If he wants to edit data in a custom frontend but wants to be still usable in strapi admin, he should produce and save markdown text to be compatible. In the second case the user is probably going to use a text field without WYSIWYG s

[2018-06-28 18:20] nicokant commented on #1450
An option could be using the same configuration as in draft js example: https://draftjs.org/

The content could still be exported as markdown, but at the same time user should't be forced to know markdown to write.

[2018-06-29 00:47] derrickmehaffy commented on #1482
@phanhoangloc This feature is already in development. You can read more on the Strapi blog: https://blog.strapi.io/roadmap-update-2-stability-tests-experience/

Their expected release date on this is July 23rd however delays always happen.

[2018-06-29 00:51] derrickmehaffy commented on #1450
@nicokant don't forget this is an open source product so if you would like to see a feature modified from the Strapi intended plan, I'm sure the devs would love to see a PR :smiley: Even just as a "proof of concept"

[2018-06-29 03:30] phanhoangloc commented on #1482
Cool. Thanks for sharing @derrickmehaffy !

[2018-06-29 03:33] #1482 closed

[2018-06-29 07:16] nicokant commented on #1450
@derrickmehaffy you are right, I'd like to contribute with a PR!

[2018-06-29 08:06] ichals09 commented on #1481
@rizalibnu, git clone git@github.com:strapi/strapi.git not work on windows

[2018-06-29 08:43] ichals09 commented on #1481
Informations

Node.js version: 8.9.4
npm version: 6.1.0
Strapi version: 3.0.0-alpha.12.5
Database: MongoDB
Operating system: Windows 10 Home Single Language

I got this error when i run `npm run setup`

`> @3.0.0-alpha.12.6 setup X:\xxx\gitstrapi

npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_mo

[2018-06-29 11:34] derrickmehaffy commented on #1481
@ichals09 There are known issues when working with Strapi on windows, can you test using the Windows WSL or a linux VM?

[2018-06-29 13:37] lauriejim commented on #1395
Thank you @redni.
@yummyelin can you update your app with last version of Strapi please.

[2018-06-29 15:01] yummyelin commented on #1395
@lauriejim yes, I am using latest version of Strapi, 3.0.0-alpha.12.6

[2018-06-29 15:21] Nyeedz opened #1483 "Delete item of my model but returns me an error"
**Informations**
- **Node.js version**:9.7.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb 3.6
- **Operating system**: Windows 64bits

**What is the current behavior?**

deleted an item of my application, but me returned this error
MongoError: '$pull' is empty. You must specify a field like so: {$pull: {<field>: ...}}

**Steps to reproduce the problem**
Cr

[2018-06-29 15:44] AwakenTheJaken commented on #784
I have been strongly considering using Strapi for some of our future projects and the only thing holding me up from jumping into Strapi is this missing feature. Allowing for matrix type fields is a deal breaker for our team. If I knew more about Node and had more time I would love to help with this, but I unfortunately don't.

Anyways, just wanted to chime in here and say I too would love to see t

[2018-06-29 15:51] Blacknosaur opened #1484 "Filtering nested objects returns null in GraphQL"
**Informations**
- Node: v10.5.0
- npm: v6.1.0
- Strapi: v3.0.0-alpha.12.6, tried in v3.0.0-alpha.13.0.1 too
- MongoDB: v3.4.15
- OS: Ubuntu 16.04.4 LTS

**What is the current behavior?**
In a model with one-to-many relationships, if you try to filter the nested object with a "where" statement through GraphQL it always returns null

**Steps to reproduce the problem**

`{
	users{
		_id
		encuestas(

[2018-06-29 15:57] Blacknosaur commented on #1476
I have this issue too. Without GraphQL it works but you only see [Object object] through the CRM but with GraphQL it doesn't return an object but the string "[Object object]"

[2018-06-29 17:08] wadamek65 opened #1486 "Add mongo authentication source params on project creation"
I would like to be able to specify the authentication source as an argument flag when using strapi new to fully automate my docker image. Couldn't find a workaround and currently have to create the project manually. Without --authenticationDatabase specified authentication through command fails and can't create a new project because it can't estabilish connection with mongo.

**What is the expecte

[2018-06-29 17:54] rizalibnu commented on #1481
I solved it `npm cache clean --force`
and then `npm run setup` again

[2018-06-29 17:54] #1481 closed

[2018-06-29 19:36] maru3l opened #1488 "Adding hook were we can plug custom function and process"
It's would be nice to have hook were we can plug our function in a process. Like the Wordpress way to make plugin with there's Filters and Actions.

https://codex.wordpress.org/Plugin_API/Filter_Reference

I'm actually working on something where I need to add some code in the `strapi-plugin-content-manager` and it's not optimal. With the hook, I would only have to attach my fonction to the hook an

[2018-06-29 22:25] reskwer opened #1489 "Console error when language not exist"
**Informations**
- **Node.js version**: 9.11
- **npm version**: 5.6
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongo
- **Operating system**: windows 10 LTSB

**What is the current behavior?**

language - not work, error in console
![image](https://user-images.githubusercontent.com/8849299/42117286-6a841348-7c04-11e8-9ae3-45233e79be70.png)

**Steps to reproduce the problem**

`strapai s

[2018-06-30 07:14] dulgeoion opened #1490 "Relations are breaking after saving in Admin panel"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: pg
- **Operating system**: Linux Ubuntu 17.10

**What is the current behavior?**
So, after migrating to alpha 12.5 I got a problem. I have 2 tables - users (from user-permissions plugin) and payments. So, 1 user have one payment (1x1). When I try to change payment, after

[2018-06-30 10:14] redni commented on #1489
Hmm, file `it.json` not exist in `users-permission` translations directory. Someone created an incomplete translation or "waved" when creating it.

[2018-06-30 11:51] lauriejim commented on #1490
Hello @dulgeoion.

Your migrate from 3.0.0-alpha.12.4 to 3.0.0-alpha.12.5 ?
Did you follow migration guides ?

[2018-06-30 11:54] lauriejim commented on #1489
Please can you give the correct strapi version you are using please.
What is your issue, I don't understand. Please provide steps.
What is not working ?

[2018-06-30 11:58] lauriejim commented on #1488
Hello @maru3l !
We plan to have this in Strapi (not now, it's an hard work and it take many times). It will be so easy to customize anything !

[2018-06-30 12:00] lauriejim commented on #1486
Hello @wadamek65 , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check how new project creation work. https://github.com/strapi/strapi/blob/master/packages/strapi/bin/strapi-new.js#L45
And you will be able to add your params to handle y

[2018-06-30 12:09] lauriejim commented on #1483
Hello @Nyeedz

I'm not able to reproduce. Can you give me precise steps to reproduce.

Did you migrate your app or it's a fresh new app ?

[2018-06-30 13:47] dulgeoion commented on #1490
Hi. Of course I did a migration due to migration docs.

[2018-06-30 16:51] davidmarcoes opened #1491 "Connection with providers not working"
**Informations**
- **Node.js version**: 9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: macOS High Sierra

**What is the current behavior?**
Different values on Auth.js#providers `grantConfig` variable depending on some provider being enabled/disabled/modified.

Depending on how many of the previous operations are executed, some

[2018-06-30 17:06] abdonrd commented on #1474
@lauriejim What do you mean? Like this?

[code]

[2018-06-30 17:22] xeastcrast opened #1492 "I can't call cursor method before I query collection by find() or aggregate()?"
**Informations**
- **Node.js version**: 10.x.x
- **npm version**:6.x.x
- **Strapi version**:3.0.0 alpha.12.5
- **Database**: mongodb
- **Operating system**: ubuntu18

**What is the current behavior?**
I can't call cursor method before I query collection by find() or aggregate()
example:
[code]
Then when I called my api, In Console appear error below.

[2018-06-30 20:15] decimoseptimo commented on #415
@Aurelsicoko
win10
node v8.9.4
npm 5.6.0
strapi 3.0.0-alpha.12.6

Error:
[code]

log:
[code]

[2018-06-30 22:26] decimoseptimo opened #1493 "Add Regexp for attribute value validation"
**What is the expected behavior?**
When adding a new content of type 'number', in content type builder.
min/max 'value' is present as an option but 'length' isn't. I'm aware they could conflict against one another, perhaps allowing one or the other?

Bug or feature? I don't know. I tried to solve it my self [but](https://github.com/strapi/strapi/issues/415#issuecomment-401563765).

[2018-06-30 22:58] #1492 closed

[2018-07-01 00:48] nom4da commented on #1258
Hello
I run again into this problem but I found the why and a possible solution.

I created a custom service for emails as suggested in this link
https://strapi.io/documentation/guides/services.html

I created them under /api/email/services. But there are no controllers, since is not an actual content type. So when I go to create a new Role, and it tries to create the the actions checkboxes, it th

[2018-07-01 11:59] #1463 closed

[2018-07-01 12:11] mnlbox commented on #1490
We have same issue and I think @cyclops talked about this with @soupette

[2018-07-01 12:18] lauriejim commented on #1258
Hello @nom4da , can you create new issue please to report your case.

[2018-07-01 12:32] lauriejim commented on #1474
I think something like that should work

[code]

[2018-07-01 12:39] lauriejim commented on #1493
Hello @decimoseptimo , what do you mean with `length` for numbers ?
If you set `10` as max value, the length will be max 2.
If you set `890` as max value, the max length will be 3.
Don't understand your need.

[2018-07-01 12:40] abdonrd commented on #1474
@lauriejim I can't do that because I use a service that only offers me a URI with all the information; like this:

`DATABASE_URI=mongodb://username:password@host:port/database?authSource=admin&ssl=true`

[2018-07-01 12:51] lauriejim commented on #1474
Okay. Maybe we can update your PR.

In the way you did it, if someone use `uri` it's options will not be applied. Or he has to set it in the `uri` url and it's not really user friendly.

So a way to handle both case can be to transform `uri` url params to option key value ?

[2018-07-01 12:56] lauriejim commented on #1491
Hello @davidmarcoes did you follow https://strapi.io/documentation/guides/authentication.html#providers documentation ?

I'm not sure to 100% understand the issue.

[2018-07-01 12:56] lauriejim commented on #1476
Guys feel free to submit a PR to fix this issue. Will appreciate your contribution on this issue.

[2018-07-01 13:24] #167 closed, assigned to Aurelsicoko

[2018-07-01 13:34] ghufr opened #1494 "Add Recaptcha in public forms to prevent spam"
**What is the expected behavior?**
Extra layer of security to prevent spam in public facing forms.

I don't really know if there is any kind of security mechanism built in strapi that can limit login attempt or any public facing forms, i think adding recaptcha is nice and simple way to prevent spam...

[2018-07-01 13:39] lauriejim commented on #786
We link the vote page to this issue.
We will reopen this issue when we will work on it. I you want this feature, feel free to vote on https://strapi.io/vote

[2018-07-01 13:41] lauriejim commented on #845
This issue has been linked to the vote page https://strapi.io/vote (Framework - Validations).
I will reopen this issue when we will work on it.

[2018-07-01 13:49] lauriejim commented on #432
You will have to use `uri` params in `database.json` file (check production env file)

[2018-07-01 13:49] #432 closed

[2018-07-01 13:51] lauriejim commented on #556
@harshilsharma63 can you tell me if this issue still happen with last version of Strapi ?

[2018-07-01 13:57] lauriejim commented on #680
I close this issue. Resolved with https://github.com/strapi/strapi/issues/680#issuecomment-381018295

We will work on windows improvement in fews weeks.

[2018-07-01 13:57] #680 closed

[2018-07-01 14:07] lauriejim commented on #742
@mnlbox the roadmap article has been published.
And feel free to add it in the documentation. Easy contribution to do.

[2018-07-01 14:52] lauriejim commented on #885
Feel free to submit a PR to make it possible. We will not work on it.

[2018-07-01 15:14] lauriejim commented on #1189
@derrickmehaffy what is the status of this issue please.

[2018-07-01 15:19] lauriejim commented on #1213
The admin panel send a request with params, I have to know what are params value.
Still have no issue on this point. Did you customize your user controllers/services ?

[2018-07-01 15:59] lauriejim commented on #1250
Please try. It work on my side

[code]

[2018-07-01 15:59] #1250 closed

[2018-07-01 16:06] lauriejim commented on #1317
I am closing this issue because we don’t have any update/needed informations about it.

[2018-07-01 16:08] #1320 closed

[2018-07-01 16:09] abdonrd commented on #1474
Ok, if we assume that `options` is more important than the parameters of the URI.

[2018-07-01 16:12] lauriejim commented on #1474
If you remove `options` object in your database config, with your `uri` params it's working on your case ?

[2018-07-01 16:17] abdonrd commented on #1474
No, because it's override SSL as `false`:

https://github.com/strapi/strapi/blob/4becad13f1e571ceaa9684b9ea36771367a039e1/packages/strapi-mongoose/lib/index.js#L72

[2018-07-01 16:32] lauriejim commented on #1474
We can maybe doing something like that

[code]

[2018-07-01 16:37] decimoseptimo commented on #1493
Yes you're right, It would be useful for constrained length codes, like zip codes and phones. And to account for left zeros.

[2018-07-01 16:37] lauriejim commented on #661
Will move it in content manager settings. https://github.com/strapi/strapi/issues/1359
Two issues are linked. I close this one.

[2018-07-01 16:37] #661 closed

[2018-07-01 16:40] lauriejim commented on #1493
In this case you have to store it as string. You are not trying to store a number to make math operations.

[2018-07-01 16:55] lauriejim commented on #1370
It has been fixed. Not present in last version of Strapi

[2018-07-01 16:55] #1370 closed

[2018-07-01 16:56] abdonrd commented on #1474
Updated and working for me! 😁 Thanks @lauriejim!

[2018-07-01 16:57] lauriejim commented on #1474
Yeah top ! 👍

[2018-07-01 16:58] lauriejim commented on #1474
@abdonrd  Can you just make a try without `uri` params in your database file please.
With an local mongo database

[2018-07-01 17:00] lauriejim commented on #1382
@derrickmehaffy Have you some news about this issue ?

[2018-07-01 17:02] #1392 closed

[2018-07-01 17:06] decimoseptimo commented on #1493
What about adding regex as a field type in content type builder?

[2018-07-01 17:08] lauriejim commented on #1493
That can be useful for string validation yap. But it can be apply on string and not on number

[2018-07-01 17:20] lauriejim commented on #1395
Good, I suggest you to not delete this plugin 😆
We will not work on it soon. Not critical issue.

[2018-07-01 17:21] abdonrd commented on #1474
@lauriejim oops! Fixed now!

[2018-07-01 17:28] lauriejim commented on #1396
Can you try to remove `"required": true` and `"unique": true` from the relation. It's not handle by the framework.

It's work fin on my side...

[2018-07-01 17:29] lauriejim commented on #1396
Can you try with the last version of Strapi and tell me if it's work well on your side too.

[2018-07-01 17:35] lauriejim commented on #1412
Hello @derrickmehaffy , I tried and I'm not seeing any difference ... fixed in alpha.12.6

[2018-07-01 17:35] #1412 closed

[2018-07-01 17:35] #1417 closed

[2018-07-01 17:35] lauriejim commented on #1417
I am closing this issue because we don’t have any update/needed informations about it.

[2018-07-01 17:39] decimoseptimo commented on #1493
You meant regex can be applied on strings but not in numbers?

[2018-07-01 17:47] lauriejim commented on #1493
Nop, It's just I don't see use case for number.

[2018-07-01 17:48] lauriejim commented on #1434
I am closing this issue because we don’t have any update/needed informations about it.

[2018-07-01 17:48] #1434 closed

[2018-07-01 17:58] lauriejim commented on #1443
Hello @MattAurich I just tried with laster version of Strapi and It works.

![screen shot 2018-07-01 at 19 55 24](https://user-images.githubusercontent.com/5716596/42137230-077da564-7d69-11e8-808d-d0a7d322a12c.png)
![screen shot 2018-07-01 at 19 56 50](https://user-images.githubusercontent.com/5716596/42137231-07954142-7d69-11e8-90b9-4f9ae850a552.png)

What look like you model please ?

[2018-07-01 18:32] lauriejim commented on #1452
Hello @AustinBratcher . I just tried with a fresh new project and database with Strapi alpha.12.6 and it work well on my side.

Can you try with last version of Strapi please.

[2018-07-01 18:36] lauriejim commented on #1454
@guillermodoghel Feel free to submit a PR to share your work with the Strapi community

[2018-07-01 18:54] lauriejim commented on #1469
There is somewhere (haha) in the code where we check if the body is empty or not to set 404 response. We have to omit `0` as body to not send 404 response.
The thing you have to do is to find where the test is made :shipit:

[2018-07-01 18:55] #1462 closed

[2018-07-01 19:18] reskwer commented on #1489
3.0.0-alpha.12.6

[2018-07-01 19:19] lauriejim commented on #1466
Can you provide server logs please. Did you use mLb database or other distant database.
Please check https://blog.strapi.io/deploying-a-strapi-api-on-heroku/

[2018-07-01 19:22] #1474 closed

[2018-07-01 20:28] lauriejim commented on #1477
I think the issue is coming from model equalizer in content type plugin.

[2018-07-01 21:06] lauriejim commented on #1484
Hello @Blacknosaur . I ping @johannpinson on this issue cause it's related to GraphQL.
Did you try after migrate your project or with a fresh project with last version of Strapi ?

[2018-07-01 21:09] lauriejim commented on #1490
If you try with a fresh new strapi project with last version of strapi, your issue still exist ?

[2018-07-01 21:34] xeastcrast opened #1496 "Error manageRelations is not a function"
**Informations**
- **Node.js version**: 10.x.x
- **npm version**: 6.x.x
- **Strapi version**: 3.0.0-alpha.12.3
- **Database**: mongodb
- **Operating system**: ubuntu18

**What is the current behavior?**
I get this error when i post to api

[code]

[2018-07-01 22:17] lauriejim commented on #1496
Please update your Strapi application following migration guide in the wiki

[2018-07-01 22:17] #1496 closed

[2018-07-01 22:18] lauriejim commented on #1007
@jsamr Can you give project you contribute with crowdin please.

[2018-07-01 22:48] lauborges commented on #1139
same error in 3.0.0-alpha.12.6 :-(

[2018-07-02 00:42] derrickmehaffy commented on #1493
Ah @lauriejim I can find a case for a decimal, for instance Latitude/Longitude. In most cases when talking lat/lon the farthest accuracy you get to is one ten-thousdands (0.0001) thus if you wanted to ensure you validate this accuracy you would use regex in most cases. This could be done using string but if you wanted to calculate a distance between two points, you should be storing the data as a

[2018-07-02 00:46] Nyeedz commented on #1483
Hi, I followed the steps for the app migration on the github strapi page, but give me the same error, i tried to create another application, with the strapi new command, and copy my models off my api folder, and my realations and fields of my user.settings.json and still get the same error, deleted my item of my model but i get this error when i send the DELETE request to my http://localhost:1337/

[2018-07-02 00:47] derrickmehaffy commented on #1189
I will double check, but as far as I'm aware keys are still not being made for the `Unique` option on MySQL

[2018-07-02 00:54] derrickmehaffy commented on #1189
Taking the follow field from one of my models:

[code]

And poking at the database:
![image](https://user-images.githubusercontent.com/8593673/42140678-4cd17a8a-7d57-11e8-9c5e-52adaa7ba4d9.png)

You can see the only key defined is the `primary key` on the `id` column. Strapi should be generating `unique` keys on fields defined with the `unique` attribute.

Something like this:
![image](https://use

[2018-07-02 00:57] derrickmehaffy commented on #1189
Here is some documentation on the unique key constraint for MySQL:

https://www.w3schools.com/sql/sql_unique.asp

[2018-07-02 00:58] derrickmehaffy commented on #1189
As for coding this into Bookshelf/Knex I'm afraid I don't really have the required skill set to develop this as I'm not terribly familiar with how bookshelf/knex work. :/

[2018-07-02 01:01] derrickmehaffy commented on #1412
@lauriejim I'll test again as well and let you know.

[2018-07-02 02:56] decimoseptimo commented on #1493
@derrickmehaffy seems fair to me.

I just checked the model [validators](https://strapi.io/documentation/guides/models.html), too few. There's a "Framework - Validations" request in strapi.io/vote. I wonder whether that's aimed to solve it.

A how-to guide to create custom validators would be nice for newbies.

[2018-07-02 03:59] mnlbox opened #1497 "Official React-Admin data provider"
**What is the expected behavior?**
Please provide official [React-Admin data provider](https://marmelab.com/react-admin/DataProviders.html).
It can be very useful as an alternative.

[2018-07-02 07:01] Devilla opened #1498 "Email forms"
hey dude, having problem with sending email forms to contact@support within my website. How to send mail on behalf of user when he's not given any permission to acces his mail.

[2018-07-02 07:06] lauriejim commented on #1497
Can you give us more details please.

[2018-07-02 07:09] daru23 commented on #1417
For me, this issue stop when I made npm install inside all the plugins folders.
Maybe that can help you.

[2018-07-02 07:09] lauriejim commented on #1493
I think we can update this issue to "Add Regexp as model validator" ?

[2018-07-02 07:19] lauriejim commented on #1483
Can you give me your models please to be able to reproduce your issue.

Did you make custom update of services or controllers ?

[2018-07-02 07:20] lauriejim commented on #1498
Hello @Devilla , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-07-02 08:32] fleshgakker opened #1499 "Migration from 12.5 to 12.6 generating new plugins & admin issue"
**Informations**
- **Node.js 10.4.1**:
- **npm version 6.1.0**:
- **Strapi version 12.6**:
- **Mongodb 3.4.15**:
- **Ubuntu 16.04 (win10 & regular)**:

**After removing 12.5 admin & plugins folders cannot generate new with npm install, postinstall**

mioji@mioji:/*/$ npm i

🔸  Administration Panel
📦  Installing packages...
npm WARN deprecated gulp-util@3.0.8: gulp-util is deprecated - replace it,

[2018-07-02 08:45] Devilla commented on #1498
Okay sure.

[2018-07-02 08:56] Blacknosaur commented on #1484
The project was working on 12.3 but we move it to a new server with a fresh install of the last version (12.6). At first I didn't noticed Strapi version had changed, but when I downgraded to 12.3 it worked again. To check which was the problematic version I pushed it to 12.4 and 12.5 without problems but everything failed again when retried 12.6 (not a fresh install this second time)

[2018-07-02 09:07] brandhaug opened #1501 "(hook:mongoose) wasn't loaded due to missing key 'enabled' in the configuration on NODE_ENV="production""
**Informations**
- **Node.js version**: 10.5.0 / 8.9.4
- **npm version**: 6.1.0 / 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB 3.6.3
- **Operating system**: Windows 10

**What is the current behavior?**
Error on running `node server.js`:
`[2018-07-02T08:24:36.348Z] warn (hook:mongoose) wasn't loaded due to missing key 'enabled' in the configuration`
`(node:16320) UnhandledP

[2018-07-02 09:25] dulgeoion opened #1502 "Migration problem to 12.6 (SQL)"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: pg
- **Operating system**: Ubuntu 17.10

**What is the current behavior?**
After migrating due to migration docs from 12.5 to 12.6, typing `npm run start` at first time got this error.
[code]

**Steps to reproduce the problem**
Don't know, try to migrate with pg.

**What i

[2018-07-02 09:33] Devilla commented on #1498
**Informations**
- **Node.js version : v8.11.3**:
- **npm version : 5.6.0x`**:
- **Strapi version : 3.0.0-alpha.12.6**:
- **Database : MongoDB**:
- **Operating system : Ubuntu 16.04.4 LTS**:

**What is the current behavior?**
 Problem with sending email forms to contact@support within my website .Forms are hitting at strapi but not redirecting to email address.

**Steps to reproduce the problem**s

[2018-07-02 09:34] Devilla commented on #1498
Please reopen the issue.

[2018-07-02 09:40] Devilla opened #1503 "Forms Email not recieved."
**Informations**
- **Node.js version : v8.11.3**:
- **npm version : 5.6.0x`**:
- **Strapi version : 3.0.0-alpha.12.6**:
- **Database : MongoDB**:
- **Operating system : Ubuntu 16.04.4 LTS**:

**What is the current behavior?**
 Problem with sending email forms to contact@support within my website .Forms are hitting at strapi but not redirecting to email address.

**Steps to reproduce the problem**s

[2018-07-02 09:53] #1503 closed

[2018-07-02 10:02] lauriejim commented on #1498
I don't understand your issue. Need more details. Errors you get or anything else.
With info I have now, I can't do nothing for you.

[2018-07-02 10:08] mnlbox commented on #1497
@lauriejim With React-Admin we can generate CRUD page for end user. With this integration we can connect Strapi to React-Admin and generate end user web application. Then we have REST (GraphQL) and admin dashboard on Strapi and user website on React-Admin.

[2018-07-02 10:14] Aurelsicoko commented on #1465
As you said, it's on the long-term roadmap for Strapi. Currently, I don't think the project is mature and stable enough to handle this use case. So many things are still in work in progress, the plugin implementation isn't finished yet and we're still in alpha.

However, I would love to know how you would like to implement this feature. We could anticipate some things and make it easier to develop

[2018-07-02 10:21] soupette commented on #1428
@johannpinson you're right this filter is not needed anymore I started to use it with Mongo to make a full test search but I went for another solution.

It should be removed

[2018-07-02 11:00] bahdcoder opened #1504 "User Roles and Permissions on Production"
**Informations**
- **Node.js version**:
v9.10.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.5
- **Database**:
mongodb
- **Operating system**:
macos high sierra v10.13.2

**What is the current behavior?**
This concerns specifically the `Roles and Permissions` plugin.

Currently, when new content is created on development (for example, a new `Article` model), permissions for this d

[2018-07-02 11:05] Nyeedz commented on #1483
I dont make any custom controllers or services, just create an model in strapi interface

my model:
{
  "connection": "default",
  "collectionName": "combo",
  "info": {
    "name": "combo",
    "description": ""
  },
  "options": {
    "timestamps": true
  },
  "attributes": {
    "title": {
      "type": "string"
    },
    "price": {
      "type": "float"
    },
    "auxServices": {
      "coll

[2018-07-02 11:46] derrickmehaffy commented on #1499
@fleshgakker you need to create a temporary "new" project with `strapi new blah` and ignore the database bit (you can use your current one) after it's generated copy over the admin/plugins folders to your project

[2018-07-02 11:49] derrickmehaffy commented on #1504
@bahdcoder are you using the same database for all your node env?

[2018-07-02 11:50] derrickmehaffy commented on #1502
@dulgeoion have you made any modifications to your models other than the `blah.settings.json` file?

[2018-07-02 11:53] derrickmehaffy commented on #1501
@brandhaug bookshelf won't help you here. Its for MySQL and Postgres. Most likely your database.json file isn't setup properly in `config/environments/staging` or `config/environments/production` I believe by default those two files use environment variable for connection information. If you copy over the config from your development folder to those and attempt to start it should work, although re

[2018-07-02 11:55] derrickmehaffy commented on #1498
@Devilla I also don't understand what the issue is here. Can you provide some context to the problem?

[2018-07-02 11:57] derrickmehaffy commented on #1497
@lauriejim its basically a way to quickly tie in Strapi into this frontend CRUD. I've used it in the past with loopback. If you look at some of the other examples (like loopback since it has a similar feature set).

@mnlbox I think this is something that could use the StrapiSDK to build it out pretty easily.

[2018-07-02 11:58] bahdcoder commented on #1504
@derrickmehaffy no. All environments have separate databases.

[2018-07-02 11:58] derrickmehaffy commented on #1494
@ghufr I don't believe there is on the admin page, as for the API itself I know there isn't. I believe thats coming with the `rate limit` feature listed on the vote page.

[2018-07-02 11:59] derrickmehaffy commented on #1493
@lauriejim Yes this is something that should be added to the validations entry on the vote page. Since regex itself is a validation. :stuck_out_tongue:

[2018-07-02 12:02] derrickmehaffy commented on #1504
@bahdcoder Hmmm if you purge your staging/production database and restart are the permissions shown?

(Permissions are stored in the database)

[2018-07-02 12:02] derrickmehaffy commented on #1504
@Aurelsicoko wasn't something added that checks existing models and if the permission isn't found or a duplicate is found it is deleted/recreated?

[2018-07-02 12:22] bahdcoder commented on #1504
@derrickmehaffy yes, if I do this, I see the permissions.

[2018-07-02 12:24] derrickmehaffy commented on #1489
@lauriejim there is an issue in the users-permission plugin. the `it.json` file doesn't exist.

See an example of my project: https://github.com/canonn-science/CAPIv2-Strapi/tree/development/plugins/users-permissions/admin/src/translations

That was generated new with Strapi 12.6.

@reskwer as for the other bugs, can you elaborate? If the password is saying its wrong its because they are different

[2018-07-02 12:28] derrickmehaffy commented on #1504
Yeah so strapi isn't checking the permissions table/collection on boot if it exists

My guess for now @bahdcoder is to export that collection from your development and import/overwrite for staging production (I don't use mongo, so I have no idea on a simple way to do this. With MySQL I can just export CSV and import it to the other database)

[2018-07-02 12:31] lauriejim commented on #1387
Some news about it, if you are create the relation manually it will work on the content manager.

[2018-07-02 12:36] dulgeoion commented on #1502
@derrickmehaffy I modified only `User.settings.json`

[2018-07-02 12:37] dulgeoion commented on #1490
@lauriejim Yes, it still exists.

[2018-07-02 12:41] bahdcoder commented on #1504
@derrickmehaffy thanks for your suggestion.
The main problem with this suggestion is that it's not scalable.
At the moment, with the current bug, It means no one can actually work on a strapi application after it is deployed, which is not a good thing if you think about it, because software products will keep progressing over time.

I am looking through the source code to see if there is any contr

[2018-07-02 12:47] derrickmehaffy commented on #1504
@bahdcoder @Aurelsicoko is working on a permissions export/import feature. Right now permissions are stored in the database and only in the database. Regardless of the fact new models aren't being added into the permissions table, even if they were with default values they wouldn't be the same values you may have set in development.

[2018-07-02 12:49] derrickmehaffy commented on #891
@lauriejim if our provider is that list, what would be the easiest way to add them to Strapi? In my case I would like to add `Discord`.

[2018-07-02 13:02] derrickmehaffy commented on #1387
@lauriejim I believe this is related the issues that have been reported with oneWay in general. I think there is a bug with the adminUI that may be causing this issue.

[2018-07-02 13:03] derrickmehaffy commented on #1387
Likely related: https://github.com/strapi/strapi/issues/1477

[2018-07-02 13:04] derrickmehaffy commented on #1502
@dulgeoion can you give me the user.settings.json file with your modifications?

[2018-07-02 13:05] derrickmehaffy commented on #1502
The better question is in which model are you using the JSON data type @dulgeoion

[2018-07-02 13:14] dulgeoion commented on #1502
@derrickmehaffy [Gist link for user.settings.json](https://gist.github.com/dulgeoion/65e7b186c6d43e5c7c92212182da1dce)

I don't use json model at all, I found that in DB it is only in one table and that table is `core_store`

[2018-07-02 13:18] derrickmehaffy commented on #1502
@dulgeoion can you create a new fresh project with a new postgres database and test if you have the same issue?

[2018-07-02 13:25] dulgeoion opened #1505 "Strapi-bookshelf Model.create() is not a function."
**Informations**
- **Node.js version**: v.9.11.1
- **npm version**: v.5.6.0
- **Strapi version**: 3.0.0-alpha12.6
- **Database**: PG
- **Operating system**: Linux Ubuntu 17.10

**What is the current behavior?**
First time I faced this bug when I tried to migrate to 12.5, now I created 12.6 new project, I faced it again. So, each service have this code:
[code]
On row `const entry = await Transactio

[2018-07-02 13:44] derrickmehaffy commented on #1502
@dulgeoion typically when I update I create a new project, create all the same models as the previous project (usually with just a string called `test`) then after I delete the database I copy over all my `model.settings.json` Since I don't typically modify the services,config,ect files.

My guess is something didn't get properly updated. I would recreate your project in a fresh one and use someth

[2018-07-02 13:46] johannpinson commented on #1428
@soupette Ok, I will let you remove it in next release and close this issue btw 😉

[2018-07-02 13:47] dulgeoion commented on #1502
@derrickmehaffy thanks, I'll do as you told

[2018-07-02 13:47] #1502 closed

[2018-07-02 14:12] Devilla commented on #1498
@lauriejim  @derrickmehaffy  please checkout the following snaps :
1. I create Affiliate Register Request.
2. It's  API getting response from strapi.
3. But now showing any mails in Freshdesk account.

![screenshot from 2018-07-02 19-25-23](https://user-images.githubusercontent.com/15603274/42168873-cb068f02-7e2f-11e8-860c-4d31d2485bad.png)
![screenshot from 2018-07-02 19-25-29](https://user-image

[2018-07-02 14:57] MattAurich commented on #1443
![image](https://user-images.githubusercontent.com/5571444/42171164-336f6d68-7dde-11e8-9a84-cb94f3b32fd5.png)

[2018-07-02 14:59] MattAurich commented on #1443
My model, though it is freshly generated with just some console logs. I updated strapi to the latest version (3.0.0-alpha.12.6) to generate the above response.
[code]

[2018-07-02 15:03] MattAurich commented on #1443
From my understanding of the comments in the model file, the generated output for an 'update' should be:
[code]
And the generated output for a create should be:
[code]

[2018-07-02 17:23] BroTrue opened #1507 "Plugin - Content Internalization"
Hello everyone, in Strapi Road Map found this Feature "Plugin - Content Internalization". And I got question and when it will be developed? Maybe someone already started?

Expected behavior:

Translate the content of your API in any language, from the admin panel.

[2018-07-02 17:44] maru3l commented on #1507
I'm actually working on something. The way a see it's to make a entry of the same content type for each language and link them together with a relation.

[2018-07-02 18:04] decimoseptimo commented on #1493
@lauriejim I agree

[2018-07-02 18:12] Pavel-Mishalov opened #1508 "CSRF-token not showing"
**Informations**
- **Node.js version 9.3.0**:
- **npm version 5.5.1**:
- **Strapi version 3.0.0-alpha.12.6**:
- **Database (MongoDB v4.0.0)**:
- **Operating system (Ubuntu 18.04 LTS)**:

**What is the current behavior?**

In the file `config / environments / ** / security.json` I set the parameters csrf

[code]

Couldn't receive csrf token for my requests to your api

**Steps to reproduce the prob

[2018-07-02 18:16] BroTrue commented on #1507
@maru3l can I take a look? some exaples etc.? it will be great if you can :)

[2018-07-02 18:45] maru3l commented on #1507
The test I've made is only to create a relation and a select field in the entry. I use the select to select the language and the relation to relate the article. It's working perfectly.

What I'm working on, it's to make a plugin who automatically create they's field, make it invisible and add a widget in the creation page to make the link between the post easier.

[2018-07-02 19:06] mnlbox commented on #1497
@derrickmehaffy I don't know. Can you more cleaner guide to how to use StrapiSDK for this?

[2018-07-02 20:12] johntom commented on #1417
sorry, went to mongo-world and schedule became crazed. At any rate the problem no longer exists with 3.0.0-apha.,12.6

[2018-07-02 21:10] brandhaug commented on #1501
Thanks for the tip, I previously used environment variables for hostname, port, database, username and password. The problem was fixed when I removed these, and replaced them by using the environment variable for database uri.

[2018-07-02 21:10] #1501 closed

[2018-07-02 22:46] bahdcoder commented on #1504
@derrickmehaffy @Aurelsicoko

I was able to find the problem with the current implementation and fix this (I still do not know if this is a bug, or if this requires fixing 😄).

Please, could someone explain to me why we have the `actions.json` config file in the `user-permissions` plugin? I would love to understand more so I can make meaningful contributions to the project. 🙇

[2018-07-02 23:14] JonasJustus opened #1509 "When create Entry with post method it brings {"statusCode":404,"error":"Not Found","message":"Not Found"}"
Node 9.11.1
npm 5.6.0
3.0.0-alpha.12.6
mongodb 3.4.14
Ubuntu 1604

**What is the current behavior?**
If you create a entry over an public post create call the system creates the entry but shows you afterwards
 {"statusCode":404,"error":"Not Found","message":"Not Found"}

**Steps to reproduce the problem**
on www.florian89.de
click on Neue Karte erstellen
type in something random in the first field

[2018-07-03 01:54] svjp commented on #463
@ialmanzaj How's the mobile support going? I'd like to help! But also I don't want to step over your feet.

[2018-07-03 04:09] derrickmehaffy commented on #1498
@Devilla this doesn't help us, what is the bug with Strapi itself? We dont need to know your frontend or another backend. We need to know what kind of issue this is with Strapi itself.

[2018-07-03 04:13] derrickmehaffy commented on #1497
@mnlbox there isn't a guide, I'm saying use the strapiSDK to develop a connector. If you look at some of the other examples of connectors it shouldn't take much. The sdk pretty much offers everything up on a silver platter for you :p

[2018-07-03 08:03] lauriejim commented on #1509
Hello @JonasJustus , Can you make sure your form is well send to the correct URL.
Try with postman. If it's work with postman, it mean your front-end implementation is wrong.

[2018-07-03 08:03] #1509 closed

[2018-07-03 09:42] lauriejim commented on #1504
Hello @bahdcoder !

Can you tell me where is hosted your application. and what is your deployment process ?
Did you restart your production application after deploy it?

[2018-07-03 09:44] bahdcoder commented on #1504
Hello @lauriejim thanks for reaching out.
I deployed my application on a Digital Ocean droplet.
After every deployment, I restart my app using PM2.

[2018-07-03 10:00] lauriejim commented on #1505
Hello @dulgeoion
Did you follow migration guide instruction to move from `alpha.12.5` to `alpha.12.6` ?

[2018-07-03 10:33] lauriejim commented on #1443
Please update to `alpha.12.6` to have `save` fire on `update`.

About `update` on `create` action, it's because the content manager `create` then entry data and then `update` for relations data.

[2018-07-03 10:44] lauriejim commented on #1484
If you want migrate your application you have to follow migration guides https://github.com/strapi/strapi/wiki
I thinks it's why you have your issue.

If you create a new project with alpha.12.6 and you make your graphql query I think it will work. Can you confirm that ?

[2018-07-03 10:57] doebi opened #1511 "mongoose error when creating instance of model with only 2 one-to-many relations"
**Informations**
**Running latest docker image**
- **Node.js version**: (derived from docker image)
- **npm version**:  (derived from docker image)
- **Strapi version**: 3.0.0-alpha.12.4  (derived from docker image)
- **Database**: mongo
- **Operating system**: docker (Host: ubuntu 18.04)

**What is the current behavior?**

When creating a model i get this error:
[code]

**Steps to reproduce the p

[2018-07-03 11:46] lauriejim commented on #1499
Hello @fleshgakker , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-07-03 11:46] #1499 closed

[2018-07-03 11:48] lauriejim commented on #1504
Okay and you can see all your content types in the left menu ?

[2018-07-03 11:50] lauriejim commented on #1511
Can you please open this issue in `strapi-docker` repo please.

[2018-07-03 11:50] #1511 closed

[2018-07-03 12:10] dulgeoion commented on #1505
Hello @lauriejim! O created new project on 12.6, so this issue is not related to migration

[2018-07-03 12:17] doebi commented on #1511
Why?

If the application is broke, why should the error be in the environment?
Do you open a issue on linux, if your node javascript code fails to run?

Read. Think. Then think again before you answer. Please.

This issue is more related to the mongoose package than your docker deployment.

[2018-07-03 12:18] doebi commented on #1511
@lauriejim I request to reopen this issue.

[2018-07-03 12:26] bahdcoder opened #1512 "Update providers not persisted to database issue"
**Informations**
- **Node.js version**:
9.10.1
- **npm version**:
5.6.0
- **Strapi version**:
 v3.0.0-alpha.12.6
- **Database**:
mongodb
- **Operating system**:
macosHighSierra

**What is the current behavior?**

Updating the authentication providers does not work. When providers are updated (and enabled, for example github), a successful confirmation message is received, but when trying to use sa

[2018-07-03 12:33] derrickmehaffy commented on #1511
@doebi Because you are using docker on Strapi 12.4 (the latest version in that repo), the current release of Strapi is 12.6. We generally always ask for users to update to the latest release to confirm the issue, however the docker is not currently updated to the latest release.

Thus your issue is with Strapi 12.4 not Strapi 12.6, please open the issue for your environment, in this case docker. P

[2018-07-03 12:41] Nyeedz commented on #1483
yep this works, i created a new project with the latest version of strapi, and i reproduce my models from the start.

thx

[2018-07-03 12:50] bahdcoder commented on #1504
@lauriejim yes I can. @lauriejim I would love to submit a PR with a fix, that's if you have all the information you need.

[2018-07-03 13:03] derrickmehaffy commented on #1504
(I'm not quite sure what that file is for @bahdcoder, I believe @Aurelsicoko would be the best person to answer that.)

[2018-07-03 13:13] derrickmehaffy commented on #1512
Nice catch, I should be able to test this myself here soon as well. I would say go ahead and create the PR and submit it, further testing can be done and documented on the PR :+1:

[2018-07-03 14:03] lauriejim commented on #1483
Something in the migration look having failed :/

[2018-07-03 14:13] lauriejim commented on #1512
@bahdcoder Thank you for your PR ! Will review it soon as possible ! Appreciate

[2018-07-03 14:35] MattAurich commented on #1443
I did a fresh install of ```alpha.12.6``` after doing an uninstall of strapi, then created a brand new project for the above example. You've tried it with a PUT request?

Interesting, about the update action being how strapi works for relations data, so does it run across every object in the model? (Just for clarity, it can't be the actual 'Content Manager' plugin, as it still does it on curl requ

[2018-07-03 15:33] Blacknosaur commented on #1484
We have just tried with a clean project in alpha.12.6, same result. When I try to filter a nested object it returns null instead of the filtered array, if the filter is out it returns the complete array without any problems

[2018-07-03 15:34] #1477 closed

[2018-07-03 16:29] BroTrue commented on #1507
Maybe Strapi Team can tell us ,when it will be developed?  ;)

[2018-07-03 17:09] yummyelin commented on #1395
ok

[2018-07-03 19:05] reskwer opened #1515 "admin panel crashed!"
**Informations**
- **Node.js version**: 9.11
- **npm version**: 5.6
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongo
- **Operating system**: windows 10 LTSB

**What is the current behavior?**
Yesterday I worked on the creation of the API-today the admin panel stopped working, did nothing, just tried to log in.

[Video](https://github.com/strapi/strapi/files/2160691/bug.zip)
**Steps to

[2018-07-03 19:50] daqst commented on #1491
I think this issue is addressed and solved in issue #1512

The problem is when on the providers tab in roles & permissions, changing provider settings and clicking save does not send just the 'providers' object, rather an object with 'providers' as one of the keys.  This means that the code looking for provider settings (user-permissions/controllers/Auth.js:150) looks in the wrong place.

[2018-07-03 21:29] leiyangyou opened #1516 "Error when accessing a resource for which permission does not exist"
**Informations**
- **Node.js version**: 9.4.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongodb
- **Operating system**: Mac OSX

**What is the current behavior?**
when accessing an object through the api for which a permission isn't defined, the following error in printed in console

[code]

**Steps to reproduce the problem**

create a new strapi project
run
[

[2018-07-03 22:07] nicroto commented on #370
Had the same issue. Indeed, removing package-lock.json worked. But it kind of makes the locking useless. I don't know why the issue was closed, this happened to me with `3.0.0-alpha.12.6` ...

[2018-07-03 22:38] nicroto commented on #1483
I'm running `strapi@alpha.12.6`, but I am seeing this same error. I thought it happens only if I use the middleware functions for before/afterDestroy, but just tried with and without and there is no difference.

I am creating owned (by the created instance) entries in different collections on beforeCreate. Then I need to clean up those same entries (cascading delete) when a document of this type i

[2018-07-04 01:47] heyjaypray commented on #1466
I followed the guide step by step - and it works with v12.2 - here are my server logs

2018-07-02T02:34:01.004210+00:00 heroku[web.1]: State changed from crashed to starting
2018-07-02T02:34:09.345495+00:00 heroku[web.1]: Starting process with command `npm start`
2018-07-02T02:34:12.299066+00:00 app[web.1]:
2018-07-02T02:34:12.299085+00:00 app[web.1]: > kitchen@0.1.0 start /app
2018-07-02T02:34:12

[2018-07-04 06:37] johanalkstal commented on #1094
I know this one is closed but I am giving Strapi a try and I am experiencing exactly this issue.

I have created my first content type, it has a Media field.
When I create a new one of that type and fill in all the fields, I can upload an image and see it in the UI before I save (all uploaded images are also in media files).
I save.
I call the API to get the content but the media property on the r

[2018-07-04 09:02] johannpinson commented on #1476
@lauriejim @derrickmehaffy

I'll try to look it around the end of the week.
If someone else want to fix it, just do it 👍

[2018-07-04 09:02] nicroto commented on #1483
I will try to make a reproducible example and will get back to you.

[2018-07-04 09:03] lauriejim commented on #1507
There is no date for this feature. We will not work on it for next months.

[2018-07-04 09:03] johannpinson commented on #1484
@Blacknosaur

Can you give me an example of your db structure?
If you can, feel free to copy/paste your models json file.

[2018-07-04 09:04] lauriejim commented on #1395
But thank you for this bug report.

[2018-07-04 09:07] lauriejim commented on #1515
Hello @reskwer , did you change your database ?
It's look coming from your user permissions, can you logout from your admin and try to login again.

[2018-07-04 09:11] lauriejim commented on #1466
You have to use a remote database like mlab or anything else.

[2018-07-04 09:11] #1466 closed

[2018-07-04 10:31] nicroto commented on #1483
OK, I created a repo specifically to be able to report issues AND give you a reproducible example. Each branch there will be a different issues with all commits as atomic steps in setting up the environment for the issue to occur (from install to error). And in the README.md I have explained in detail how to reproduce the error with the last commit in the repo: https://github.com/nicroto/strapi-is

[2018-07-04 10:50] #1491 closed

[2018-07-04 10:50] davidmarcoes commented on #1491
Issued in #1512

[2018-07-04 10:57] kevinhaesendonckx commented on #1281
Issue for me was fixed by downgrading from Node v10 to node v8

[2018-07-04 11:00] doebi commented on #1511
I cannot leave this uncommented. Yes I was being rude, but I was being rude in response. If someone takes the time to report a problem in order to contribute making this project more stable and mature, then closing that issue, without providing any meaningful or helpful content, is just plain rude aswell.

I can understand if you as a maintainer are overwhelmed by the amount of issues opened, but

[2018-07-04 11:36] derrickmehaffy commented on #1511
@doebi can you provide re-producible steps to re-create this error outside of a docker container on Strapi 12.6.

Issues are closed as needed, typically if its a duplicate issue, not reproducible, outside the scope of this repo (IE docker environments) or not enough information is provided to re-produce the error for troubleshooting.

I just created a fresh Strapi 12.6 project using node 10, npm 6

[2018-07-04 11:37] bahdcoder commented on #1469
@lauriejim are you working on this? I could have a look and raise a PR later today if you haven't started yet. 🤔

[2018-07-04 15:21] heyjaypray commented on #1466
yes - i am using mLab.  like i said i followed the guide step by step - and this isn't the first time i've deployed a strapi project.  everything works when I used 12.2 - I haven't tried 12.5 since having this issue, but not having a remote database is _not_ the issue.

<img width="1249" alt="screen shot 2018-07-04 at 11 17 16 am" src="https://user-images.githubusercontent.com/25106794/42284925-fc

[2018-07-04 16:39] derrickmehaffy commented on #1468
As an addition to this topic, I believe some extra attention to applying the proper HTTP response codes to errors is also an important one, an example of such codes: https://www.restapitutorial.com/httpstatuscodes.html

There have been quite a few instances where a user error happens but the server responds with a 500 code (Server Error) such as forgetting a required field in a POST request which

[2018-07-04 16:57] lauriejim commented on #1511
@doebi Thank you to report issue
I just ask you if you can create this issue in `strapi-doker`. It's every time the same message I send.
See https://github.com/strapi/strapi/issues/1455 https://github.com/strapi/strapi/issues/1430 https://github.com/strapi/strapi/issues/1368 It's not a rude message I think, no one of this guys was hurt by my message. Just have to copy and past your issue content i

[2018-07-04 17:00] lauriejim commented on #1466
You got this issue because Strapi is not able to be connected to your database.

[2018-07-04 18:19] jsamr commented on #1007
@lauriejim [Tab session manager](https://crowdin.com/project/tab-session-manager)

[2018-07-04 18:43] reskwer opened #1518 "Image not show on content manager"
**Informations**
- **Node.js version**: 9.11
- **npm version**:  5.11
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: mongo
- **Operating system**: win10 LTSB

**What is the current behavior?**
image not show
![image](https://user-images.githubusercontent.com/8849299/42291232-21b9914c-7fd3-11e8-88b4-fe8a2e6898f2.png)

**Steps to reuser imageproduce the problem**

add user image

**What is t

[2018-07-04 18:46] reskwer commented on #1489
@lauriejim this error could not be reproduced in 2 days. As soon as I can, I'll get the materials for you to know.

[2018-07-04 18:46] #1489 closed

[2018-07-05 07:05] lauriejim commented on #1466
Did you set `production` database settings with your mLab database ?

[2018-07-05 07:14] lauriejim commented on #1007
Thank you @jsamr  !

[2018-07-05 10:13] BroTrue commented on #1484
Got the same problem. I already try to create clean db, make such sturcture
products
--title
--logo
contact
--name
--surname

and relation between them many -to-many

when I try it on `http://localhost:1337/playground `query with ` where: {}` its give me  `Cannot convert object to primitive value`

[2018-07-05 10:49] bahdcoder opened #1521 "Users can't sign up with social authentication"
**Informations**
- **Node.js version**:
9.10.1
- **npm version**:
5.6.0
- **Strapi version**:
 v3.0.0-alpha.12.6
- **Database**:
mongodb
- **Operating system**:
macosHighSierra

**What is the current behavior?**

When users try to sign up with provider authentication, even if it's their first time, api responds with `Auth.form.

This issue is exactly what is described in #1358.

**Steps to reprodu

[2018-07-05 10:53] derrickmehaffy commented on #1521
I've seen some other issues related to providers, I think more than just this part probably needs a double check to make sure everything is working as intended.

[2018-07-05 11:17] BroTrue commented on #1149
@Aurelsicoko Is it already available?

[2018-07-05 11:56] derrickmehaffy commented on #1149
@BroTrue no I don't believe this feature is done yet. It is being developed in the following branch I believe: https://github.com/strapi/strapi/tree/settings-ctm

[2018-07-05 14:06] BroTrue commented on #1289
All is working well, i got small question. After all of this, dist "strapi" (that contains files from fork rep) is need or I can delete it ? =)

[2018-07-05 14:45] asos-VasilisKortsimelidis commented on #1518
Also, in case its helpful, when you make a `GET` request you can't see the url of the image, its empty.

![screen shot 2018-07-05 at 15 42 59](https://user-images.githubusercontent.com/35957481/42330158-5ff78670-806a-11e8-91dd-9bd6875c3bb5.png)

[2018-07-05 14:56] marceloavf opened #1522 "Custom api routes and controllers return 404 not found"
**Informations**
- **Node.js version**: 9.11.2
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.6
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**
After creating an API with `Content Type Builder`, I tried to include a new `router` and `controller` in a GET method, but it returns 404 status with not found error.

[code]

**Steps to reproduc

[2018-07-05 15:25] Nyeedz commented on #1483
after a couple hours i'm getting the same error
MongoError: '$pull' is empty. You must specify a field like so: {$pull: {: ...}}

like @nicroto said, delete from database but the response returns an that error

[2018-07-05 15:38] marceloavf commented on #1522
Changing the order make it work again, any reason why ?

[code]

[2018-07-05 15:42] albertorm95 commented on #645
Is this issue related to this one: https://github.com/strapi/strapi-docker/issues/35?

[2018-07-05 16:00] maturano commented on #370
Same issue with `3.0.0-alpha.12.6`. @Aurelsicoko reopen or new issue?

[2018-07-05 16:24] Aurelsicoko commented on #370
@nicroto @maturano We can reopen it to investigate again but it seems more related to npm than Strapi. The package.lock never worked for me whatever the project I'm building. I'm constantly adding it in the .gitignore file to avoid this kind of issue.

[2018-07-05 16:30] derrickmehaffy commented on #1139
@Aurelsicoko I have noticed something similar when using camelCase in a relation name on some of them. Strapi is creating the relation model using the same camelCase instead of dropping it to lower case.

IE:
[code]

[2018-07-05 16:41] Aurelsicoko commented on #415
@decimoseptimo It seems the issue is now related to Windows...

[2018-07-05 16:44] MechJosh0 commented on #1459
I'm getting the same issue but the opposite column names. MySQL has the column name of `.id` and the query it's running is `._id`. See below for my issue template.

**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.5
- **Database**: MySQL
- **Operating system**: Ubuntu

**What is the current behavior?**
When you attempt to delete an image

[2018-07-05 16:51] Aurelsicoko commented on #1149
Here the final design, we already started working on it 💪

![content manager - settings view - single](https://user-images.githubusercontent.com/4144726/42336569-6318383a-8084-11e8-9573-fc48dc6bc67d.png)

[2018-07-05 16:57] Aurelsicoko commented on #1468
I 💯 agreed with this, it should be easy to implement but it will generate breaking changes on many projects...

[2018-07-05 17:00] derrickmehaffy commented on #1468
@Aurelsicoko I do agree, but hopefully most will agree to follow normal API standards is fairly important.

That being said Strapi is Alpha so breaking changes should be common practice anyway :nerd_face:

[2018-07-05 17:39] soupette commented on #1521
@bahdcoder while working on this [boilerplate](https://github.com/strapi/strapi-examples/tree/update-boilerplate/create-react-app-sdk) I have tested the providers again and it was working.

Can you try again? If you registered to strapi with the same email address that you use when you try to register with per say 'Facebook' you need to disable the `unique email address` option.

[2018-07-05 17:55] derrickmehaffy commented on #1452
@lauriejim I just tested changing the admin path and it does work fine on 12.6, there is still an issue with the prefix though. I think it should be safe to close this issue.

[2018-07-05 18:03] derrickmehaffy commented on #1323
I can confirm this issue still exist in 12.6 using the following in `config/environments/development/request.json`

[code]

Results in the following:

localhost:1337/

![image](https://user-images.githubusercontent.com/8593673/42339700-9ba3fd48-8042-11e8-8689-431060448640.png)

localhost:1337/admin

![image](https://user-images.githubusercontent.com/8593673/42339721-a71dc74e-8042-11e8-9fec-7fef0b0

[2018-07-05 18:05] derrickmehaffy commented on #1323
Changing the prefix for requests should change the restAPI model requests, but the /public and /admin should remain the same. IE `localhost:1337/admin` and `localhost:1337/v2/modelTest`