[2018-04-05 09:07] forsetius commented on #838
@soupette: could you help me by suggesting what else should be done beyond calling `strapi.reload()`?

[2018-04-05 09:19] soupette commented on #905
This issue has already been [referenced](https://github.com/strapi/strapi/issues/578).

[2018-04-05 09:28] oeddyo commented on #905
Thanks @soupette that's great
But I guess I was trying to say support in admin since it's the editors who need to assign the enum values to the instances : )

[2018-04-05 10:14] arnorhs commented on #795
i'm guessing nobody has gotten around to this - i might have a swing at it myself if i have some time this weekend.

[2018-04-05 12:47] HorvathDavid opened #908 "Email address has been taken error message, Oauth2 login flow"
I may or may not wrong but I found that this part blocks me to create Oauth2 login and registration flow.

This valued always true: `advanced.unique_email` is it neccessary? Is there case when there are users with same email address but with different provider?

Please check the link below. Means, if there are any users with different provider than the actual, then evaluate it true.

I only tested

[2018-04-05 13:37] mnlbox commented on #905
I think something like wordpress tag and category system as a separate module can be useful for many projects.

[2018-04-05 14:03] derrickmehaffy commented on #905
Its also related to my closed issue: https://github.com/strapi/strapi/issues/566

I believe you can edit ones created in the CLI but you cannot add them through the admin panel.

[2018-04-05 15:08] dsibaja-dnamyc commented on #905
But are we still gonna get and admin way to add enum types? because that would be so neat.

[2018-04-05 15:18] derrickmehaffy commented on #905
I believe it is on their to-do list but not very high right now I'd imagine.

[2018-04-05 15:27] soupette commented on #905
Currently you can't add the enu type from the `content-type-builder` however if you set it manually the `content-manager` plugin will display it

[2018-04-05 16:41] abdonrd commented on #870
@lauriejim yes, with MongoDB.

I just tried with the last version of Strapi (v3.0.0-alpha.11.3) and it still doesn't work. 😕

[2018-04-05 21:41] changalberto commented on #908
I'm having similar issue with Facebook Auth

[2018-04-05 23:56] 99darwin commented on #783
Yes I see that in a new project, but how do I see it in the one I'm currently working on? Or is there some way to migrate everything from my current project to a new one seamlessly?

[2018-04-06 02:47] AlexKhare4 commented on #630
+1

[2018-04-06 07:59] julienvedebe commented on #883
Hi,

I ran into the same issue following your tutorial for Heroku deploy.

Everything works but at final step when app boot it says : "Make sure your MongoDB database is running ..."

I have DATABASE_URI vars defined in Heroku.

I have tried to add NODE_ENV=production before node server.js in start command.

I have tried also to add vars for host, login .... for MongoDB

API works fine on my lapto

[2018-04-06 08:15] Aurelsicoko commented on #900
@99darwin Are you talking about organizing the left menu in the dashboard?

[2018-04-06 08:25] Aurelsicoko commented on #900
Not possible yet. However, it's a new configuration that should be available through the `Configurations` link at the bottom left of the menu. In my mind, this `Configurations` page will have the same layout as the Settings Manager.

[2018-04-06 08:28] lauriejim commented on #783
You can check migration guides on the documentation. But be careful if you did update in plugins.

[2018-04-06 09:53] pierreburgy commented on #883
This is due to the fact that the `ssl` value of the `config/environments/production/database.json` file, is considered as `"false"` instead of `false`.

Then, `strapi-mongoose` considers that the `ssl` option is actived: https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/index.js#L58.

To fix that, and easily deploy to Heroku, set the `ssl` value to `false` in `config/enviro

[2018-04-06 10:06] lauriejim commented on #908
Hi @HorvathDavid
You can easily change the `advanced.unique_email` value going in admin panel > groups & permission > advanced and switch off `One account per email address`. It's will allow you to have one email for your Google provider and same email for local email provider.

@changalberto maybe, be sure the email you use is not already used by a user. Same as @HorvathDavid , switch off the opt

[2018-04-06 10:25] lauriejim commented on #902
Hi @doublemarked.

- Did you use the content manager to create/save your data or you use generated API ?
- The data in your mongo document have the key `options` with empty object ?

Can you take a look if the problem is coming from mongoose. By writing a small script to test it.

[2018-04-06 11:50] lauriejim commented on #894
@pierreburgy Did some updates about that.

[2018-04-06 11:50] #894 closed

[2018-04-06 12:10] lauriejim commented on #891
You can check in plugins/users-permissions/controllers/Providers.js L.130 (connect action) if the grant middleware is correctly setup when you try to connect with `/connect/myProvider `

[2018-04-06 12:14] abdonrd commented on #891
@lauriejim I can't find this file:

<img width="306" alt="screen shot 2018-04-06 at 14 13 45" src="https://user-images.githubusercontent.com/1007051/38420650-c297e73c-39a4-11e8-927d-f86efd86b929.png">

[2018-04-06 12:25] doublemarked commented on #902
Hello @lauriejim !

1. This was via the generated API
2. Yes, the mongo document has the key options with empty object
3. Good idea. So I've done that and then done a bunch of debugging.

Here's the result: first, I as mistaken in saying that `fetch` is returning the wrong data. `fetch` actually works fine, but the result returned to the browser is missing the data. I've tracked that down to the s

[2018-04-06 12:29] lauriejim commented on #886
Hello @XcrossD I reproduce step by step your case and it work fine on my side.

Can you try with the last version of Strapi (alpha.11.3) and reproduce step by step your case and tell me if it works on your side.

Don't know where it can come from.

[2018-04-06 12:37] Thyvo opened #909 "Decimal/float fields only stores 2 numbers after the decimal point"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: MongoDB
- **Operating system**: Win10pro

**What is the current behavior?**
I'm trying to store some coordinates in the database using the admin panel, after saving only the first 2 numbers after the decimal point are stored

**Steps to reproduce the problem**
Create a ne

[2018-04-06 13:54] lauriejim commented on #877
You will have to do something like that:

[code]

[2018-04-06 14:29] lauriejim commented on #870
Whoa that is strange ! Really no idea why.

Can you check if this Mongoose schema still working with your version of Mongo.
Or maybe the `definition.options.timestamp` is false.

https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/index.js#L167

[2018-04-06 14:33] lauriejim commented on #866
Don't understand your issue. Please provide a screenshot of your terminal.
Actually I'm not able to help you.

[2018-04-06 15:23] lauriejim opened #911 "Be able to use a custom email provider"
**What is the expected behavior?**

Be able to easily use an other email provider.
That mean update the plugin `email` structure to be more modular and look like the `upload` plugin.

This feature request come from here https://github.com/strapi/strapi/issues/864

[2018-04-06 15:24] #864 closed, assigned to lauriejim

[2018-04-06 15:42] lauriejim commented on #802
@mnlbox and @forsetius you are using SQL database ?

[2018-04-06 15:43] lauriejim commented on #849
I don't think, #802 don't let you start the server and here you can.

I think it's come from permissions on `/users-permissions/init` route.

Can you try to reset your permissions from your database please.

[2018-04-06 15:53] lauriejim commented on #905
Duplicate - https://github.com/strapi/strapi/issues/905

[2018-04-06 15:55] lauriejim commented on #884
Lets discuss about this on this issue https://github.com/strapi/strapi/issues/884

[2018-04-06 15:56] #905 closed

[2018-04-06 15:59] lauriejim commented on #846
Hi @tranthebao don't really understand your issue

[2018-04-06 16:01] lauriejim commented on #841
@TheWebsDoor Have you update about this point ?

[2018-04-06 16:09] lauriejim commented on #803
@mrikirill sorry for delay (lot of work), but you can use `/user/me` with JWT to get you user infos and then do something like that`GET /companies?AccountId=user.id`.
In this case `AccountId` is your relation key in company model.

[2018-04-06 16:09] #803 closed

[2018-04-06 16:19] forsetius commented on #802
No, I'm using Mongo

[2018-04-06 16:26] lauriejim commented on #886
I think this is a duplicate on this one https://github.com/strapi/strapi/issues/795

[2018-04-06 16:36] lauriejim commented on #785
Also probably linked to https://github.com/strapi/strapi/issues/724 too

Come from path resolver I think.

[2018-04-06 18:42] bugvish commented on #858
Quick and dirty hack:

Change Line 140 of /strapi/packages/strapi-helper-plugin/node_modules/babel-core/lib/transformation/file/index.js to:
      plugins: ["jsx","flow","objectRestSpread"]

[2018-04-06 19:29] wadeziegler commented on #883
I think it might be because I was trying to make it work under docker. It's
unfortunate because I want to use Cloud9 running under docker for
development.

On Fri, Apr 6, 2018 at 12:59 AM, julienvedebe <notifications@github.com>
wrote:

[2018-04-07 07:25] abdonrd commented on #884
@lauriejim you link to the same issue. 😅

[2018-04-07 07:25] abdonrd commented on #905
@lauriejim you link to the same issue. 😅

[2018-04-07 21:15] L8NiteOwl commented on #858
Thanks, @bugvish! I was really scratching my head on this one. This temporary hack worked perfectly for me.

[2018-04-08 08:10] HorvathDavid commented on #908
Thank for the answer! @lauriejim
In my case, - I believe the Facebook provider struggling with similar issue, there is no registered user on the mail address. Fresh registration. The problem with the line which I marked in my  previous comment:
https://github.com/strapi/strapi/blob/479ab61b6b9e9aabd7a3a83c38e2f47e2bba5539/packages/strapi-plugin-users-permissions/services/Providers.js#L69
Now I kno

[2018-04-08 12:56] lauriejim commented on #779
Hi @e2o, what is your Strapi version ?

[2018-04-08 13:02] #778 closed

[2018-04-08 13:14] lauriejim commented on #727
I close this issue. This is the same issue as https://github.com/strapi/strapi/issues/785 but for uninstall plugin.

[2018-04-08 13:14] #727 closed

[2018-04-08 13:26] #698 closed

[2018-04-08 13:28] lauriejim commented on #698
A PR will be rewrite about this point - https://github.com/strapi/strapi/pull/793

[2018-04-08 14:00] lauriejim commented on #503
Will be fixed in this PR https://github.com/strapi/strapi/pull/903

[2018-04-08 14:00] #503 closed

[2018-04-08 16:52] changalberto commented on #908
@lauriejim yes, I made certain that the emails that I'm using are not already registered. The issue might be what @HorvathDavid described above.

[2018-04-08 21:53] antipin opened #914 "CORS. OPTIONS request always returns header Access-Control-Allow-Origin equal to *"
**Informations**
- **Strapi version: 3.0.0-alpha.11.3**
- **Browser: chrome**

**What is the current behaviour?**
CORS environment: strapi runs on `api.doman.com` and a client runs on `domain.com`.
Response from strapi has a header `Access-Control-Allow-Origin: *`, despite of `origin` being configured to `domain.com`.

**Steps to reproduce the problem**
Send an OPTIONS request to strapi with `stra

[2018-04-09 02:01] XcrossD commented on #886
It is the same error that I saw. The difference is that I am adding a relation from another content type, not from itself. I don't know if that counts as the same error.

I updated to alpha.11.3 and the issue is still not resolved. Hopefully the gif video will help a bit - at least you can see it is really going wrong.
![recording1](https://user-images.githubusercontent.com/6669029/38475791-eacd21

[2018-04-09 08:05] billgo opened #915 "npm run setup have problem ?"
*BUG TEMPLATE*

**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

---

*FEATURE REQUEST TEMPLATE*

**What is the expected behavior?**

---

- [ ] I'm sure that this issue hasn't already been refer

[2018-04-09 08:18] ackro opened #916 "Server fails to start when package.json contains shell parameter expansions"
**Information**

- **Node.js version**: 9.6.1
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: MongoDB
- **Operating system**: MacOS

**What is the current behavior?**

Strapi server fails to start when package.json contains shell parameter syntax, e.g. a script containing `FOO=${BAZ:-foo}`.

Shell parameters could normally be used with npm but Strapi interprets them

[2018-04-09 08:56] lauriejim commented on #886
@XcrossD can you share with me your models (maybe it's coming from here). I probably will be able to reproduce it to help you.

[2018-04-09 09:08] lauriejim commented on #908
@HorvathDavid Can you submit a PR to fix it please.

[2018-04-09 09:15] lauriejim commented on #915
Hello @billgo I just tried with `node 9.4.0` and `npm 5.6.0` and it works.

Can you tried to relaunch `npm run setup` again.

[2018-04-09 09:58] e2o commented on #779
`3.0.0-alpha.10.2`

[2018-04-09 10:06] XcrossD commented on #886
@lauriejim Can you tell me exactly what is the necessary data for you to reproduce, and where to find it? I know it's best if you have all the data but we are building this website for a client, and I don't think they will be too happy if we leak out their data.

[2018-04-09 10:06] billgo commented on #915
Dear @lauriejim I just tried with `node 9.4.0` and `npm 5.6.0` but it can't works.
The same question.

![screen shot 2018-04-09 at 6 06 13 pm](https://user-images.githubusercontent.com/5780482/38492173-b5c9b6b0-3c20-11e8-8127-9d7a6dff6d70.png)

[2018-04-09 10:13] billgo commented on #915
Hello @lauriejim I find the solution, use `sudo npm run setup` is ok . Maybe we can change the document.

[2018-04-09 11:42] ackro commented on #875
I can reproduce this by using `npm start` instead of `strapi start`. Behaviour is same as shown in the issue gif. Sometimes the restart message overlay does appear briefly, other times is not visible (perhaps removed too quickly).

---
* **Node.js version**: 9.6.1
* **npm version**: 5.8.0
* **Strapi version**: 3.0.0-alpha.11.3
* **Database**: MongoDB
* **Operating system**: MacOS

[2018-04-09 12:47] lauriejim commented on #779
@e2o Can you update to the last version of strapi (guides or in documentation).

[2018-04-09 12:57] lauriejim commented on #886
I need all your models.settings.json files. Don't need any database data.

If you are agree to share it with me, you can join our Slack (https://slack.strapi.io) and send me these files. Will stay confidential with your shared files.

[2018-04-09 13:02] lauriejim commented on #915
@billgo So ti's come from your folder permissions ?

[2018-04-09 17:13] lucaperret opened #917 "Data protection: ask for sending data to analytics.strapi.io"
**What is the expected behavior?**

Because of the new [GDPR European law](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation), Strapi's CLI should prompt the user to accept sending analytics data to Strapi. The user can also change this configuration.

- [x] I'm sure that this issue hasn't already been referenced

[2018-04-09 18:48] pedrosimao opened #919 "Relations not being saved with POST API request, only with PUT"
**Informations**
- **Node.js version**: 9.7.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: MongoDB
- **Operating system**: Ubuntu

**What is the current behavior?**
When doing a POST API request, fields with relations to other collections are ignored.
I have later tried doing a PUT request with the exact same JSON in the body and it works just fine. So, I guess t

[2018-04-10 00:57] amouratoglou commented on #731
hey @daominhsangvn how did you manage to make it work? I have the same error message.

[2018-04-10 01:01] billgo commented on #415
I still have this issue in latest version of strapi.  v3.0.0-alpha.13
Node: 9.4.0
NPM: 5.6.0
MAC OS 10.13.3

[2018-04-10 01:02] billgo commented on #915
@lauriejim yes, but I'm not sure which folder to be.

[2018-04-10 01:06] astewes opened #920 "How to create custom content type for article tags?"
I've created a custom content type - _Article_ - with some comprising fields you'd typically see: title, description, author

How would I go about adding a field for tags (for blog articles)? I'm pretty sure this will need to be of type _Relation_, _many to many_ (since many articles can have many tags, and vice versa) -- but I've had trouble finding guidance in the documentation.

Any insights wo

[2018-04-10 08:01] lauriejim commented on #920
Hello @astewes.

You have to create a tag content type and add relation attribute.

[2018-04-10 08:04] piere129 commented on #767
Can we re-open this issue until the fix is in master branch?

[2018-04-10 08:13] lauriejim commented on #600
A part of this issue here https://github.com/strapi/strapi/issues/767

[2018-04-10 08:52] lauriejim commented on #886
@XcrossD I create a new application and use your `api` folder and I wasn't able to reproduce your issue. I follow step by step your case.

Can you also try on your computer with new application and use just your `api` folder.

[2018-04-10 08:53] lauriejim commented on #915
That's good question. It can be your `strapi` folder. what are permissions on this folder ?
`drwxr-xr-x` in my side.

[2018-04-10 09:31] billgo commented on #474
I have the same question ?

[2018-04-10 09:49] XcrossD commented on #886
@lauriejim I just tried using a new application but the error still persists. What I did was `strapi new test`, copy api folder to "test", `strapi start`. I also noticed that my global strapi version is still at alpha.11.1, so I updated to alpha.11.3, created a new application again, but it still doesn't work. Are there any other tests that I can do?

[2018-04-10 09:53] billgo commented on #915
@lauriejim I just run  `chmod -R 777 strapi` then run well. thanks man

[2018-04-10 10:40] abdonrd commented on #870
Sorry, how can I check it? Thanks in advance!

---

When I run `npm start`...

`_.get(definition, 'options.timestamps')` is `true`

<img width="1552" alt="screen shot 2018-04-10 at 12 37 57" src="https://user-images.githubusercontent.com/1007051/38552319-126634f2-3cbc-11e8-9003-a63b5b8f833b.png">

[2018-04-10 11:51] pedrosimao commented on #919
Just making a small update.
I have managed to fix the API by editing the API services on the "add" function.
Basically, I had to delete the loadash function that omits the associations from the "values".
By default Strapi makes the API request like this:
```const data = await Pageshistory.create(_.omit(values, _.keys(_.groupBy(strapi.models.pageshistory.associations, 'alias')))); ```

So, I simply

[2018-04-10 12:08] pedrosimao commented on #919
New update:
I have just done a test using two collections that have a different relation.
This time I had a "many-to-one" relation, instead of a "one-way" relation.
And again I had the exact same problem.
So I suggest to delete the loadash omit function from the POST APIs services.

[2018-04-10 14:24] oeddyo commented on #920
@astewes Need this feature too.

in your design, are those tags clickable (like, when you click a specific tag, all the articles shall be found efficiently) or just plain text tags?

If it's the latter you can use array content type for now I guess

[2018-04-10 14:53] HorvathDavid commented on #908
Hi @lauriejim ,
I have made a PR, but disabled it due to I found another related bug.

The bug is when we query the user. I marked the line below:
https://github.com/strapi/strapi/blob/479ab61b6b9e9aabd7a3a83c38e2f47e2bba5539/packages/strapi-plugin-users-permissions/services/Providers.js#L49
The query should look like this:
`{
         where: {email: profile.email
}
        }`

I have a question r

[2018-04-10 14:57] harwinvoid opened #922 "Marketplace is blocked by Chinese GFW"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: v9.2
- **npm version**: 5.5.1
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: mongod
- **Operating system**: mac os

**What is the current behavior?**
[code]
**Steps to reproduce the problem**
click  Roles & Permissions then click a role row
**What is the expected behavior?**

**Suggested solutions**

---

*FEATURE REQUEST TEMPLATE*

*

[2018-04-10 20:20] TheWebsDoor commented on #841
I didn't try to reproduce it since the last time, I'll check it tonight and I'll let you know !

[2018-04-10 20:38] lauriejim commented on #909
The issue is caused by the `type` detection. Generate `Double` instead of `Float` and I think it can come from here https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/utils/index.js

Can you try to debug it please an submit a PR :) will appreciate your help !

[2018-04-10 20:53] lauriejim commented on #916
Hi @ackro that's a good point. Can you please submit a PR to fix it.
Will appreciate your help.

[2018-04-10 21:03] lauriejim commented on #922
Can you give us more informations about your previous steps.
Did you custom admin or other plugin things ?

[2018-04-10 21:13] astewes commented on #920
The tags will be hyperlinked. Would this involve a Relation field with many to many?

[2018-04-10 21:40] lauriejim commented on #908
@HorvathDavid When you register a new user there is an advanced settings for the role to link.
It' here for local register https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/controllers/Auth.js#L246

You have to set the same thing for providers register (use `default_role`)

[2018-04-10 21:47] lauriejim commented on #920
@astewes What do you mean by `hyperlinked`, I not sure to understand.

[2018-04-10 23:41] astewes commented on #920
@lauriejim I was just answering a question posed by @oeddyo -- if an article has tags associated with it, the tag list would appear underneath the article title.

Each of these tags would contain a link to the tag template page, where all articles with that tag would be displayed.

Hopefully this clarifies what I meant, but let me know if you need additional info.

[2018-04-11 03:00] harwinvoid commented on #922
I know what happend to this. the request in backend take two steps, the first step is getPlugins, which address is blocked by Chinese GFW. so the request is timeout.
[code]

[2018-04-11 03:55] zhuang17 commented on #891
Hi, @abdonrd  did you work out how to add a `Grant Custom Provider` to strapi yet?

I also need to add a Custom Provider to the strapi backend.
I got the same code structure as you in dir `plugins/users-permissions/controllers`
and i only find this in the strap document for how to enable the provider.
https://strapi.io/documentation/guides/authentication.html#providers

can anyone give any suggest

[2018-04-11 04:23] whodevrim opened #923 "MySQL UTF8 problem - remove 🔑"
https://github.com/strapi/strapi/blob/6934661845b375a6f4dd7b9f1e6f43ea32ee438a/packages/strapi-plugin-users-permissions/config/functions/bootstrap.js#L93

we get a UTF 8 error when lifting the project to the foot because of the key mark on the line. the problem will be solved if you remove the key mark.

[2018-04-11 05:06] NoahHahm opened #924 "Loose file relation on update content manager"
After uploading and saving the image with the latest strapi CONTENT MANAGER,
go to this post.
When you resave (modify) the post, the image is no longer linked.
If you change other fields without changing the image, the image is unlinked,
That's the problem.
Can not you keep existing image links even if fixes happen?

[2018-04-11 08:01] lauriejim commented on #923
Hey @whodevrim can you remove  🔑 from the template and submit a PR please.

Will appreciate to see you as Strapi contributor.

[2018-04-11 08:38] JonasJustus opened #925 "Heroku shows that an error occurd when you try to create fields in the Content Type"
Heroku shows that an error occurd when you try to create fields in the Content Type
Log doesnt show anything
same happens when you deploy it with the deploybutton from the website

Heroku should have the latest version of Node and npm

**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

**Steps

[2018-04-11 08:53] Aurelsicoko opened #926 "There is no redirection or success notification when using SQL databases."
**Informations**
- **Node.js version**: 9.6.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: MySQL
- **Operating system**: Macintosh

**What is the current behavior?**
When I'm using a SQL database, and when I tried to save something a new CT or a new entry, I'm not redirected to the previous page or I cannot see any success notification.

**Steps to reproduce the

[2018-04-11 09:15] lauriejim commented on #925
Please can you check heroku related issues and follow issue template before posting issue.

See here: https://github.com/strapi/strapi/issues/770

[2018-04-11 09:15] #925 closed

[2018-04-11 09:17] lauriejim commented on #924
@NoahHahm Can you please follow the issue template with all needed informations.

We will take a look.

[2018-04-11 09:32] lauriejim commented on #922
Okay ! So you have to use a VPN. What we can do for this point ?

[2018-04-11 09:34] lauriejim commented on #924
And I think it's the same issue as https://github.com/strapi/strapi/issues/825

[2018-04-11 09:36] abdonrd commented on #891
@zhuang17 not yet! 😕

---

@lauriejim the `grantConfig` constant from the `connect` function:

https://github.com/strapi/strapi/blob/6934661845b375a6f4dd7b9f1e6f43ea32ee438a/packages/strapi-plugin-users-permissions/controllers/Auth.js#L131-L136

it doesn't have my new provider (called `ibm`):

<img width="516" alt="screen shot 2018-04-11 at 11 35 48" src="https://user-images.githubusercontent.com/

[2018-04-11 09:54] abdonrd commented on #891
@lauriejim these are my current changes:

https://github.com/abdonrd/strapi-demo/compare/new-provider?expand=1

[2018-04-11 10:07] zhuang17 commented on #891
@abdonrd

did you add your custom provider (`ibm`) to the auth providers of grant in DB ?

you may first need to add some code in [plugins/users-permissions/config/functions/bootstrap.js](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/functions/bootstrap.js#L38) to add the custom provider config.

[2018-04-11 10:11] abdonrd commented on #891
I have not changed anything in the DB. These are my current changes:

https://github.com/abdonrd/strapi-demo/compare/new-provider?expand=1

[2018-04-11 10:26] zhuang17 commented on #891
@abdonrd

that bootstrap.js code will only store grant values into db when the first time setup the db.
That code will not do merge providers and save into db if you add one grant provider there.
unless you create a new db to setup.

[2018-04-11 10:26] zhuang17 commented on #891
I guess you can also add custom code after https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/functions/bootstrap.js#L81

[code]

[2018-04-11 10:52] abdonrd commented on #891
@zhuang17 Oh! I had not realized that! I will try wiht a new database.

[2018-04-11 11:43] Froelund commented on #633
Has the exact same issue. Fixed by removing my `package-lock.json` and running `npm i`.

[2018-04-11 11:46] abdonrd opened #927 "Question about the providers redirect URLs"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.8.0
- **Strapi version**: 3.0.0-alpha.11.1
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

Facebook | Google | GitHub | Twitter
---------- | ------- | ------- | -------
![screen shot 2018-04-11 at 13 27 11](https://user-images.githubusercontent.com/1007051/38614205-93f4623e-3d8c-11e8-98e

[2018-04-11 11:57] paulintrognon commented on #396
I don't really get how you want to become the Wordpress alternative for Node.js while not being a CMS, isn't Wordpress a CMS?

The absence of the wysiwyg is a no-go for me right now, but I love what you have done so far, and can't wait for the stable release :slightly_smiling_face:

[2018-04-11 15:15] oeddyo commented on #920
In that case, I think it's a N:M relationship IMHO

[2018-04-11 16:45] lauriejim commented on #396
This PR will be merge in few days https://github.com/strapi/strapi/pull/831

[2018-04-11 17:56] #825 closed

[2018-04-12 00:39] astewes commented on #920
@oeddyo to clarify, do you mean a one to many relationship? In the Edit Relation overlay, would i put "tag" on the left input, and "articles" in the right input?

[2018-04-12 06:07] piere129 commented on #702
I'm curious about this as well, it seems like writing a dedicated url route for logging out could save a lot of confusion

[2018-04-12 06:34] piere129 opened #930 "Adding a Logout Route to Strapi"
**Informations**
- **Node.js version**:
 v9.11.1
- **npm version**:
5.6.0
- **Strapi version**:
v3.0.0-alpha 11.3
- **Database**:
MySQL Database
- **Operating system**:
Windows 10

**What is the expected behavior?**

Feature request to add a log-out Route to Strapi. Currently we have to delete the jwt from the session but a dedicated url for logging out could prove very useful! Has been referenced

[2018-04-12 08:58] cece95 commented on #886
I'm experiencing the very same issue

-**Node.js version:**
9.10.1
-**npm version:**
5.6.0
-**Strapi version:**
3.0.0-alpha.11.3
-**Database:**
MongoDB
-**Operating system:**
Ubuntu 14.04

[2018-04-12 09:53] sejersbol opened #931 "Customise hide areas of the Admin interface per roles"
Hi,

I'm new to Strapi and are wondering if I would be able to use it for a current project. The Strapi Admin interface gives me, the developer, everything I need. However I would like to have "superusers" that also have access to the Admin interface, but only be able to work with certain content types, e.g. add/remove/update Products. These "superusers" should not be able to access the Content Ty

[2018-04-12 10:07] soupette commented on #931
@sejersbol, currently your can
- uninstall de content type builder when you're done using it (plugins link on the admin)
- create role for your users with specific permissions for each content type
- the admin is currently available to admin users only
- you can display specific content types in the [admin](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/doc/customize-menu.md)

[2018-04-12 10:12] exera opened #932 "Setting user with numeric password fails"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: mongo
- **Operating system**: macOS Sierra

**What is the current behavior?**
Updating user password if password contains only numeric characters, hashing password fails.

**Steps to reproduce the problem**
Set user password something like 123456, password is empty or not

[2018-04-12 12:01] sejersbol commented on #931
Thanks for your reply. I tried to remove some plugins and it worked, no problems. However if I want to remove the "Roles & Permissions" plugin, so that the "superusers" can't change roles and permissions they can't login. Hmmm...

Another thing, would it be possible to have two different admin panels running? One that is minimal and one that gives more options/access?

[2018-04-12 12:41] lauriejim commented on #930
Hi @piere129, on login route we don't store the JWT in session.

An explication about the issue you linked. Your ctx.session is on a server instance. If you have multiple servers with a load balancer, your user requests will not hit the same server each time. So you don't have to store the JWT in session if you want a logout function. Refer to my comment on the issue.

[2018-04-12 12:45] lauriejim commented on #788
See this PR https://github.com/strapi/strapi/pull/933 to fix this issue. Will be release soon.

[2018-04-12 12:46] lauriejim commented on #919
Hi @pedrosimao can you submit a PR to fix it please. Will appreciate your help.

[2018-04-12 12:49] lauriejim commented on #932
Hello @exera ! Thank you for this issue.

Did you test your suggested solution ? And if you did it can you submit a PR to fix it.

[2018-04-12 13:27] #799 closed

[2018-04-12 13:27] #832 closed

[2018-04-12 13:37] pedrosimao commented on #788
That's great news!

[2018-04-12 13:40] pedrosimao commented on #919
Sure, I was just a bit afraid of doing changes that mess up something else.
For example, it would be usefull to know if there is any reason for you to use the `lodash` omit function on `values`object? Or if you just forgot this piece of code from a much earlier version?
```_.omit(values, _.keys(_.groupBy(strapi.models.pageshistory.associations, 'alias'))) ````

[2018-04-12 15:20] Aurelsicoko commented on #396
@paulintrognon CMS means Content Management System. We don't like the word **Content** and **System** because it means that you stuck in a **system** and you can only manage **content**.

We have a different approach. We are designing Strapi as an ecosystem based on a **framework** to manage **data**. It means that we're returning raw data (JSON) and you can customise the backend as you want. Almo

[2018-04-12 15:35] soupette commented on #931
Yes if you 'hack' the admin and you set the menu depending on the user...

[2018-04-12 15:38] soupette commented on #824
I'm working on migrating to webpack 4 it should reduce the building time a bit.
Also, I'm implementing the build of each plugin in async wich should also decrease the time.

[2018-04-12 15:52] RyanSusana commented on #680
I am having this issue as well

[2018-04-13 07:01] paulintrognon commented on #396
OK thanks a lot for that clarification, can't wait for that next release ;)

[2018-04-13 07:45] soupette commented on #931
Let me know if you need any help on implementing a temporary solution. Join us on [Slack](https://slack.strapi.io/)

[2018-04-13 08:31] abdonrd commented on #824
Sounds really great, thanks @soupette! 👏

[2018-04-13 08:49] oeddyo opened #939 "Question: permission on row level?"
Hi,

I'm trying to allow multiple users to publish articles, and they can only operate on their articles (i.e. update, delete etc). But seems strapi currently only support role level, i.e. either an user can edit all articles or not.

Is there anyway I can achieve this?

[2018-04-13 11:29] lauriejim commented on #939
Can you please check existing issues if one already exist : https://github.com/strapi/strapi/issues/624

[2018-04-13 11:29] #939 closed

[2018-04-13 13:11] #810 closed

[2018-04-13 17:11] lddd opened #942 "POST Request using Postman?"
Hey there,

i am new to Strapi and API development at all and would like to know how a Post Request using Postman will have to look like to create a new api object with its attributes.

When i send a raw JSON post request like:

http://localhost:1337/car/

[code]

It creates a new car object with an id but all the attributes are not stored like name, year, license...

[2018-04-13 19:28] soupette commented on #640
What is status on this issue?

[2018-04-13 21:00] thebetterjort commented on #794
I have same issue from strapi-docker.

[2018-04-14 10:01] lauriejim commented on #939
I write this search to find this issue https://github.com/strapi/strapi/issues?utf8=✓&q=is%3Aissue+is%3Aopen+data+owner

[2018-04-14 10:05] lauriejim commented on #942
Please can you use the issue template, we need to know you node, npm, strapi version and if you are using mongo or sql database.

[2018-04-14 10:06] lauriejim commented on #942
Your Car.settings.json has `name`, `year` and `licence` attributes with text type ?

[2018-04-14 14:53] ulaDEVEL opened #943 "Disable plural"
Hi

Can I disable plurals in the admin panel?

[2018-04-14 17:54] lddd commented on #942
Yes

[2018-04-14 17:57] lddd commented on #942
All just latest technologies following the starter docs at Strapi.io

[2018-04-15 06:09] carmelyne commented on #779
Node.js version:
v9.8.0
npm version:
5.6.0
Strapi version:
3.0.0-alpha.11.1
Operating system:
macOs High Sierra 10.12.6

Experiencing the same issue with disappearing models.

On local dev, there is such issue and I can set all the allowed actions for all the models. e.g. checking find and findone.

On production, the models do not appear under the **APPLICATION — Define all your project's allowed

[2018-04-15 09:14] lauriejim commented on #943
Hello @ulaDEVEL can you be more explicit on your question please.

[2018-04-15 10:38] JonasJustus opened #946 "net::ERR_CONNECTION_REFUSED with bash scritpt on ubuntu 16.4"
Node

**Informations**
- **Node.js version**: node 9.11.1
- **npm version**: npm 5.6.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: mongo v3.4.14
- **Operating system**: Ubuntu 16.04.4 LTS

**What is the current behavior?**
I installed it with the bash script from your Blog
I can access Admin console and create stuff
If I want to make a get with my website in the public folder I get net:

[2018-04-15 11:49] storm1er commented on #943
Hi,

Exemple: In french, I wish to name a content type "voiture" (car) and link it with another content type "conducteur" (driver).
I create a field in "voiture": "chauffeur attitré" (recognized driver)

In English, plural would be "recognized driverS", no prob.
In French, plural would be "chauffeurS attitréS", but your system provide "chauffeur attitréS".

Either strapi has to provide a way to se

[2018-04-15 12:12] ulaDEVEL commented on #943
@storm1er That's exactly what I meant

[2018-04-15 16:42] jikotw74 commented on #680
@XcrossD It works. thank you!

[2018-04-15 22:35] bugvish commented on #942
@lddd are any of 'name' 'year' or 'license' their own tables (e.g are they 'relational')?  For what it's worth - I had a similar issue with my collections containing relational components.  I needed to modify my generated APIs' service to NOT reject relational values in order make a POST, like the following:
https://github.com/strapi/strapi-examples/blob/master/cheesecakes/api/cake/services/Cake.j

[2018-04-16 03:27] zhuang17 commented on #908
Hi @lauriejim , @HorvathDavid
is there any document on how to use global.strapi or global.strapi.query ?

I've met the same issue as @HorvathDavid mentioned here.
[strapi/packages/strapi-plugin-users-permissions/services/Providers.js Line 49](https://github.com/strapi/strapi/blob/479ab61b6b9e9aabd7a3a83c38e2f47e2bba5539/packages/strapi-plugin-users-permissions/services/Providers.js#L49)

The email

[2018-04-16 13:15] lauriejim commented on #919
Hey @pedrosimao I test it with master branch and I have no problem with relations...

So I can't actually accept your PR. And as you can see, if your issue come from relations, you probably have to investigate on `await strapi.hook.mongoose.manageRelations('article', _.merge(_.clone(data), { values }));` function. It's this part of code that handle relations. You don't have to update `.create()` p

[2018-04-16 13:49] pedrosimao commented on #919
@lauriejim have you tested with One-Way relationship? I am pretty sure you will have a problem.
Also, it would be nice if you clarify the reason you have used lodash in that particular situation. It doesn't seem needed to me, and suppressing it fixed the issue to me.
Anyway, I will look into the part of the code you pointed out.

[2018-04-16 14:05] pedrosimao commented on #919
@lauriejim I just checked again, and I think you are not correct about the issue.
I did a `console.log(data); ` and the data object simply does not contain the relation. Which clearly indicates that the problem comes from before `await strapi.hook.mongoose.manageRelations(...)` is executed. If we are sending the incorrect `data` to `manageRelations()` method, the relation will never be stablished.

[2018-04-16 14:06] pedrosimao commented on #919
This is my `data` when `lodash omit` is used:
[code]

And this is without `lodash omit`:
[code]

[2018-04-16 14:38] thebetterjort commented on #946
I have the same issue. I'm currently debugging this.

[2018-04-16 14:39] thebetterjort opened #949 "self signed certificate in certificate chain"
[2018-04-16T14:34:27.048Z] debug GET /users-permissions/routes (16 ms)
[2018-04-16T14:34:27.441Z] error self signed certificate in certificate chain

How do I disable? My corporate firewall inspects SSL traffic. We self sign our key.

[2018-04-16 14:45] LuisLoureiro commented on #802
I think this issue is somehow related with #886.
I've also found a similar problem when adding a relationship.
I tried the _dockerized_ version and couldn't reproduce this problem.

**Node.js version:**
9.11.1
**npm version:**
5.6.0
**Strapi version:**
3.0.0-alpha.11.3
**Database:**
MongoDB
**Operating system:**
Linux Manjaro 17.1.8

[2018-04-16 16:05] lauriejim commented on #949
Hi @thebetterjort , can you follow the issue template please. Need more information about node, npm strapi version you use. And also if you are using mongo or sql database.

And please give us more detail on where this issue happen. Actually I can't help you, need more informations.

[2018-04-16 16:08] lauriejim commented on #946
Hello, can you give me more informations please. Can you link the script you use.
What is the file path you try to get in your public folder ?

[2018-04-16 16:14] lauriejim commented on #943
@ulaDEVEL Can you update your issue with the issue template please. Are you using SQL database ? What is the Strapi version you use ?

Can you be more precise on where you set your field "chauffeur attitré". I don't see where you are in the admin interface.
Your field is a relation ? You are talking about attributes name or table/collection name ?

Actually I don't really understand the issue.

[2018-04-16 16:50] JonasJustus commented on #946
script: wget -qO - https://strapi.io/install.sh | sudo -E bash && source ~/.bashrc
from here: [https://blog.strapi.io/how-to-deploy-a-strapi-application/](https://blog.strapi.io/how-to-deploy-a-strapi-application/)

File path: /home/user/Project(Strapi Project)/public/

[2018-04-16 18:34] thebetterjort commented on #949
No I will not follow the template.

[2018-04-16 19:34] suanter commented on #640
Hi, sorry for the delay..

Before describing the error, this is my actual configuration:

- Node v9.4.0
- Strapi  3.0.0-alpha.11.3
- The strapi app was also updated ( I re-created all models and code..etc ).So i wanted to be sure that it was not my code...

Situation:
1) I create a User.
2) I login and get the user id(_id)
3) I use this id to create an object (License) and associated this user to

[2018-04-17 01:15] oeddyo commented on #949
@thebetterjort The reason @lauriejim is asking everyone to follow template is to identify problems sooner and avoid back and fourth tedious questions like "what's your npm version". It makes helping people including you and me faster

[2018-04-17 03:25] NoahHahm commented on #924
@lauriejim Register the one of the image, enter the post again and press the correction button, the image has been disconnected. Verification please.

[2018-04-17 08:48] breinkober opened #952 "Can't download/install plugin"
**Can't install "Roles and Permissions" Plugin**
- **9.10.0**:
- **5.8.0**:
- **Strapi version: 3.0.0-alpha.11.3**
- **MongoDB**
- **Linux Mint Latest**

**What is the current behavior?**
I want to install the Roles and Permissions Plugin. When I click on "Download" nothing happens. Just a green ✔ pops up for a 1/10 second.

**Steps to reproduce the problem**
Go to Plugins and click download.

[X]

[2018-04-17 08:50] lauriejim commented on #952
Hello @breinkober, this plugin is installed by default. You delete it and try to install it again ?

[2018-04-17 08:54] breinkober commented on #952
I was wondering because it is not installed by default (for me atleast). The other plugins have the label "already installed" but the permissions plugin is not.

Oh wait. I remember an error while the installation...
[2018-04-17T08:16:24.782Z] error An error occurred during users-permissions plugin installation.
[2018-04-17T08:16:24.783Z] error Command failed: node /usr/local/lib/node_modules/stra

[2018-04-17 09:53] lauriejim commented on #952
Ho it's strange. Can you just test to create new project and tell me if the plugin installation fail again.

[2018-04-17 10:14] breinkober commented on #952
I just made a new test project and everything worked fine.

How can i delete a stripe project?

[2018-04-17 11:03] lauriejim commented on #952
Don't know where this issue come from. And we haven't steps to reproduce it..
Maybe we can close this issue now.

[2018-04-17 11:03] #952 closed

[2018-04-17 11:27] lauriejim commented on #949
Thank you @oeddyo for this explication.

I close this issue cause you don't want give us informations about you issue.

[2018-04-17 11:27] #949 closed

[2018-04-17 12:35] adneneBen commented on #891
Hello,
Have you found any solution to do it, i'm facing the same problem
Thank you

[2018-04-17 13:20] ShankyRana opened #954 "Guest Permission"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: strapi@3.0.0-alpha.11.3
- **Database**: MongoDB
- **Operating system**:  MacOS High Sierra v10.13.4

How can we provide guest permission to a route manually?
Not from the Strapi dashboard.
As API is not visible on Production environment but on Local environment in Roles and Permissions.
Simliar to the iss

[2018-04-17 15:22] samawong opened #955 "Cannot create table when create a Content Types"
*BUG TEMPLATE*

**Informations**
- **Node.js version**:v9.3.0
- **npm version**:v5.8.0
- **Strapi version**:3.0.0-alpha.11.3
- **Database**:PostgreSQL 10.3 (Ubuntu 10.3-1.pgdg16.04+1)
- **Operating system**:Ubuntu 17.10

**What is the current behavior?**
When I create a content types, and i  fields in this content type,the system notice an error,i find some information about this error,like:
 Unha

[2018-04-17 15:52] ulaDEVEL commented on #943
No i use Mongo

v3.0.0-alpha.11.3

Example:
I have model called "Samochod" which means "Car" in english. In stapi admin on left menu my model display like this "Samochod**s**" and I do not want to have this extra **s**.

[2018-04-17 18:23] Lengatox opened #957 "How to install graphql plugin to strapi V3.x.x"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: MongoDB
- **Operating system**: Ubuntu 16.0.4

Maybe someone could give me information, about how to install strapi-plugin-graphql on strapi 3.0.0-alpha.11.3 ?

[2018-04-17 18:51] lauriejim commented on #955
Hi @samawong have you manually create your table and column ?

[2018-04-17 18:53] lauriejim commented on #957
This feature is not available on npm. So you can't, we will try to release it tomorrow.

If you have a local setup of Strapi (see contributing guide) run `strapi install graphql --dev`

[2018-04-17 18:53] #957 closed

[2018-04-17 19:01] lauriejim commented on #954
You will have to create custom routes on your project.
And check how works loops to manage roles (https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/services/UsersPermissions.js#L269) that will help you to create our own role management routes.

[2018-04-17 19:34] Lengatox commented on #957
ok, i will wait for the release.

thanks for your answer.

[2018-04-17 19:49] Lengatox commented on #957
ok, i will wait for the release.

Maybe you could help me, to find an alternative way to execute complex nested requests? :) :+1:

[2018-04-17 19:57] soupette commented on #640
@suanter how can I reproduce the issue?

It is the admin which is breaking or another app?

[2018-04-17 20:10] suanter commented on #640
Hi, I fix it. Apparently it was some code that, in the process of creating a new instance (via docker), old code was still there. What i did was to rebuild the admin. Everything is fine now. Although i noticed one thing... that these methods are not working properly.

// Before saving a value.
  // Fired before an `insert` or `update` query.
  // beforeSave: async (model) => {},

  // After saving

[2018-04-18 01:24] samawong commented on #955
Do I have to manually create the table myself? If it is necessary, then there is no problem

[2018-04-18 05:12] #955 closed

[2018-04-18 05:42] storm1er commented on #672
Hi,

💯 ! Great work, my mind was near that idea but I couldn't find a way to make it "universal" for every strapi's components.

The only comment I have is; files are human-readable, which is perfect but,
- Why not use YAML files instead ? (not really important)
- Why using unix timestamp instead of date ? (kind of important, especially for rollback feature)

[2018-04-18 08:37] lauriejim commented on #955
Actually yes, we will work on SQL experience during next months.

[2018-04-18 09:17] Aurelsicoko commented on #672
We don't have any YAML file in the project. We are always using JSON files, it's easier to manipulate in JavaScript even if there are YAML to JSON converters.

Great idea to use a more readable date format 👍

-----

As promised, a preview screenshot of the UI. We are also thinking about renaming the `Settings Manager` plugin to `Configurations` and make it accessible through the `Configurations` l

[2018-04-18 09:29] crackhopper opened #958 "Plugin development setup failed"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**: 5.8.0
- **Strapi version**: 3.0.0-alpha.11.3 (clone from github today)
- **Database**: mongodb (runing in docker, latest version)
- **Operating system**: ubuntu 16.04

**What is the current behavior?**

when I follow the online document https://strapi.io/documentation/plugin-development/quick-start.html , I got following error when

[2018-04-18 09:32] oeddyo opened #959 "Search doesn't work in relation data"
**Informations**
- **Node.js version**: 9.0
- **npm version**: 3.10.8
- **Strapi version**:  3.0.0-alpha.11.2
- **Database**: Mongo
- **Operating system**: OSX

**What is the current behavior?**
Type in relation and it doesn't do filtering
**Steps to reproduce the problem**
create a model Bag
create a model Brand
associate bag with brand. Then create two brands like LV, Chanel
Then create a bag an

[2018-04-18 09:33] oeddyo commented on #959
see screenshot above

the right side, when I tried to associate Chanel with this bag. It's only two thus quite trivial, but image there are 100 brands :D

[2018-04-18 09:35] soupette commented on #958
Hi @crackhopper just to make you did `npm run setup` after cloning the repository?

Also, why are you using the `3000` port?

[2018-04-18 09:37] oeddyo commented on #959
oh my god that's fast

[2018-04-18 09:37] lauriejim commented on #959
I think this issue can be linked to this one https://github.com/strapi/strapi/issues/766

[2018-04-18 09:42] soupette commented on #959
@lauriejim I need to fix both issue in the same time.
I need to investigate but IMO the React Select query options is not implemented...

[2018-04-18 10:31] Froelund commented on #883
Can you verify that the PR fixed this issue @wadeziegler ?

[2018-04-18 11:32] abdonrd commented on #875
Yep! It works if I use `strapi start`, but not if I use `npm start`.

[2018-04-18 11:52] abdonrd opened #962 "Can't install GraphQL plugin"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.8.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

<img width="545" alt="screen shot 2018-04-18 at 13 39 43" src="https://user-images.githubusercontent.com/1007051/38930222-6fedd93c-430f-11e8-8464-f3bd53536841.png">

Maybe related with #709, because

[2018-04-18 12:11] abdonrd opened #964 "Wrong require node version in package.json"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.8.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

`package.json`:

[code]

**Steps to reproduce the problem**

Create new strapi application.

**What is the expected behavior?**

`package.json`:

[code]

- [x] I'm sure that this issue hasn't already

[2018-04-18 12:13] lauriejim commented on #962
Hey @abdonrd, probably yes ! Can you test with it in folder with no space please.

[2018-04-18 12:37] samawong commented on #955
Thanks!

[2018-04-18 12:42] soupette commented on #962
@abdonrd, you're seeing the download option in the marketplace because the admin uses the `context` where all the plugins with an Admin are set. Since this [commit](https://github.com/strapi/strapi/commit/0f2ebfa997c99137b3753c55caaa1babb40aa0c2) a plugin can be installed without the Admin folder, therefore it's not injected into the admin panel.

In this way the previous logic that checks if whet

[2018-04-18 12:44] pierreburgy commented on #946
It's because the script setup the server but does not generate and start the Strapi project. After running the script please run the following command:
[code]

Maybe we should add these commands in the scripts?

[2018-04-18 12:51] #755 closed

[2018-04-18 13:06] crackhopper commented on #958
I have also tried to log out the webpack configuration, it is listed partly as below:

[code]
I will track it down to figure out why it doesn't work.  and post it here.

[2018-04-18 13:26] soupette commented on #958
You're right it's completely due to webpack. What's weird is that I've never faced this issue before...

Can you try to install Strapi from the `reduce-setup-monorepo` and create a new app?

[2018-04-18 13:56] abdonrd commented on #858
I just tried with the new version (`v3.0.0-alpha.12`) and it still happens.

[2018-04-18 14:39] #883 closed

[2018-04-18 14:44] garytube commented on #800
same issue here...

you need to set a process.env HOST = 'your-domain.com'

and restart the server

[2018-04-18 16:19] nklayman opened #968 "strapi new my-project fails when strapi is installed globally with yarn"
**Informations**
- **Node.js version**: 9.11.1 (installed with scoop)
- **npm version**: 5.8.0
- **Yarn version**: 1.6.0 (installed with scoop)
- **Strapi version**: 3.0.0-alpha.12 (installed with yarn)
- **Database**: MongoDB community 3.6.4
- **Operating system**: Windows 10 64bit professional

**What is the current behavior?**
When installing Strapi globally with yarn, creating a new project fa

[2018-04-18 17:07] Joshfindit commented on #744
@lauriejim; For users who are fresh to the node ecosystem, could you do explain how they would hook a script in and be able to use that `await strapi.services.product.add(entryObject);` successfully?

[2018-04-18 17:56] Joshfindit opened #970 "JSON type gives `"[object Object]"`"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: `v9.9.0`
- **npm version**: `5.6.0`
- **Strapi version**: `image: strapi/strapi`
- **Database**: mongodb
- **Operating system**: docker

**What is the current behavior?**
Saving the following:
[code]
Works most of the time, but once in a while the admin interface saves the field and it returns  `[object Object]`

**Steps to reproduce the prob

[2018-04-18 22:02] Lengatox opened #971 "Error trying to install graphql on Strapi 3.12"
Node.js version: 9.11.1
npm version: 5.6.0
Strapi version: 3.0.0-alpha.12
Database: MongoDB
Operating system: Ubuntu 16.0.4

When i tried to start strapi with the installation of graphql on the latest version occurs the next problem:

 Error: Cannot find module '/home/ubuntu/strapiTest/node_modules/strapi/lib/utils'

which one could be the problem?

[2018-04-18 23:50] nurikabe commented on #644
I think this may now be broken out of the box with alpha.12

[2018-04-19 00:59] JonasJustus commented on #946
It was my fault. The error was in my code, had still a localhost in it :(
Thanks for your help guys
Solved

[2018-04-19 00:59] #946 closed

[2018-04-19 01:33] changalberto commented on #908
@HorvathDavid what is the state of this issue? Did you submit a PR for your [fix](https://github.com/HorvathDavid/strapi/commit/00eba760dcbd706e5b7f686462e600c7f5f6a5c4) yet =)?

[2018-04-19 02:11] crackhopper commented on #958
I guess I figure out where is the problem.  The webpack configuration is load from `strapi/packages/strapi-helper-plugin/lib/internals/webpack/webpack.base.babel.js`,  and it defines the babel-loader's include directory as
[code]

if I `npm start` from plugin's `admin` folder, then it would not include the `myDevelopmentProject/admin` folder which is a soft link to `strapi/packages/strapi-admin/`.

[2018-04-19 02:44] crackhopper commented on #958
by adding `.concat([path.join(appPath, 'admin','admin','src'),path.join(appPath,'admin', 'node_modules', 'strapi-helper-plugin', 'lib', 'src')])` to the `include` entry, I can start up the frontend now.

But, another issue, the frontend page cannot retrieve the layout.  Don't know why.

[2018-04-19 04:06] XcrossD commented on #802
@LuisLoureiro Thanks for linking the issues up. I didn't notice this one before. And yes I think it is exactly the same problem. Seems like there are quite a few users facing this problem, hopefully it can be fixed soon.

[2018-04-19 06:15] Dane411 commented on #871
@lauriejim Yes, I still have this issue, as the only feedback I got was the one of @soupette to upgrade node version, and that didn't fix anything at all, and haven´t messed with source files

[2018-04-19 07:43] abdonrd opened #972 "Use yarn workspaces"
Reference: https://yarnpkg.com/lang/en/docs/workspaces/

Reference at `Yarn Workspaces` of [One vs. many — Why we moved from multiple git repos to a monorepo and how we set it up](https://hackernoon.com/one-vs-many-why-we-moved-from-multiple-git-repos-to-a-monorepo-and-how-we-set-it-up-f4abb0cfe469).

[2018-04-19 07:51] lauriejim commented on #971
Hello @Lengatox did you use Strapi CLI or admin interface to install graphql plugin ?

[2018-04-19 07:56] lauriejim commented on #972
Hello @abdonrd can you check this issue please https://github.com/strapi/strapi/issues/885

[2018-04-19 07:56] #972 closed

[2018-04-19 07:57] lauriejim commented on #972
We have to regroup all informations in one issue.

[2018-04-19 08:00] abdonrd commented on #972
Ouch! Thanks @lauriejim!

[2018-04-19 08:06] pedrosimao commented on #919
@lauriejim ?

[2018-04-19 08:15] lauriejim commented on #871
Did you change your npm registry ?

[2018-04-19 10:31] Dane411 commented on #871
Nope, should I?

[2018-04-19 11:47] lauriejim commented on #968
Hi @nklayman ! We actually developed Strapi to work with npm. Yarn is not supported so you can have bugs.

We will not work on it, it's not an high priority for us.

Hope the community will be able to help you.

[2018-04-19 11:55] abdonrd commented on #968
I have used yarn since the first day and I have not had any problems.

Operating system: macOS

[2018-04-19 13:37] lauriejim commented on #970
Hello, can you check this issue.

[2018-04-19 13:37] #970 closed

[2018-04-19 14:26] Lengatox commented on #971
Hello @lauriejim  I use Strapi CLI, but i made a test and verified that those directory doesn't exist before installation of graphql, and even after installation of the plugin.

[2018-04-19 14:55] piere129 commented on #930
thank you, figured it out!

[2018-04-19 15:17] Joshfindit commented on #970
@lauriejim I checked again, and cannot find a duplicate of this issue. Can someone please connect the two?

[2018-04-19 15:28] soupette commented on #766
https://github.com/strapi/strapi/pull/974

[2018-04-19 18:59] mikekoro opened #975 "app breaks after generating a new service"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: mongo
- **Operating system**: macOS Sierra

**Steps to reproduce the problem**

generate a new service by running

`strapi generate:service email`

and then run

`strapi start`

`(node:36917) UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to o

[2018-04-19 23:10] Moeface commented on #971
Having the same issue.

Running on Windows 10 x64.

Starting the Strapi server without the graphql plugin installed works fine, however when I install the graphql plugin and then try to start the Strapi server, I get the following error:

[code]
Uninstalling the plugin and starting the server then works again.

[2018-04-20 01:15] horaciomoreno10 commented on #779
any update about of this?

[2018-04-20 02:57] gchrskgroup opened #976 "GraphQL issue with Content Type Builder"
**Information**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: Mongod v3.6.4
- **Operating system**: Ubuntu 16.04.3

**What is the current behavior?**
Upon creation of new content type at save, the system locks up. An error in the logs indicates an issue with GraphQL:

0|aspis    | GraphQLError: Syntax Error: Invalid number, expected d

[2018-04-20 04:25] XcrossD opened #977 "Permission ticks disappear from UI"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
alpha.12
- **Database**:
mongodb
- **Operating system**:
windows 10

**What is the current behavior?**
Permissions in public role can be saved, but does not reflect on UI.

**Steps to reproduce the problem**
Tick desired route, save, ticks disappeared.
![recording1](https://user-images.githubusercontent.co

[2018-04-20 07:23] hanyuei opened #978 "Insert image into Wysiwyg Editor in selected position"
Informations

Operating system:
Mac 10.12
Web Browser
Google Version 65

**What is the current behavior?**
insert image into Editor will append text to the end rather than append text in the selection place.

**Steps to reproduce the problem**
using  `click image button in the toolbar` or the `dragging & dropping, selecting` way

**What is the expected behavior?**
insert image markdown in the curr

[2018-04-20 08:07] soupette commented on #978
In order to prevent this bug you can paste an image into the selection.

[2018-04-20 08:17] #930 closed

[2018-04-20 08:20] #975 closed, assigned to nobody

[2018-04-20 08:24] lauriejim commented on #779
Hey ! we will work on product stabilization for next months, we split important issues in milestones.
For this issue, we will work on it after 3.0.0-alpha.12.1

[2018-04-20 08:42] lauriejim commented on #977
Thank for issue reporting. Will take a look.

[2018-04-20 08:46] soupette opened #979 "Changing the limit in the content manager puts undefined in the URL"
**Informations**
- **Node.js version**: v.9.10.1
- **npm version**: v.5.8.0
- **Strapi version**: v3.12
- **Database**:
- **Operating system**:

**What is the current behavior?**
Changing the limit in the content manager puts undefined in the URL

**What is the expected behavior?**
The page query should be the one you're currently on

[2018-04-20 08:47] #785 closed

[2018-04-20 08:47] #962 closed

[2018-04-20 08:52] zhuang17 commented on #978
@soupette  `paste an image into the editor` work nearly the same on my side. (with an extra filename `xxx.png` will be append in the current selection place, )
but the markdown text `![text](http://localhost:1337/uploads/892ec69c7d45428d9d034050434cbf9a.png)` will be append to the end as well.

![1](https://user-images.githubusercontent.com/6997095/39041238-f91d15cc-44ba-11e8-87bc-0b3507d57d52.gif

[2018-04-20 09:26] soupette commented on #978
@zhuang17 I see, I'm going to make a fix then

[2018-04-20 09:46] zhuang17 commented on #978
@soupette
thanks for your confirmation and quick response.
the editor is awesome, great work.

[2018-04-20 09:55] zhuang17 commented on #891
@adneneBen,
i suggest you can reference to abdonrd’s demo here,
https://github.com/abdonrd/strapi-demo/compare/new-provider?expand=1

and pay a attention to the bootstrap code here when you are using grant.
https://github.com/strapi/strapi/issues/891#issuecomment-380404414

you can integrate with other auth provider (no matter based on grant or not)

[2018-04-20 10:03] zhuang17 commented on #891
@lauriejim

for now we have to add some code directly into the plugin code when adding new auth provider.

it maybe a little troublesome when we upgrade the strap version.
(when we upgrade to new version, we will need to install the new user_permission plugin code into the old codebase, which means we will need to merge our code change with the changes of the user_permission plugin itself. please

[2018-04-20 10:17] abdonrd opened #983 "Restart server after install plugin (GraphQL) from the admin panel"
**Informations**
- **Node.js version**: v9.10.0
- **npm version**: v5.8.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: MongoDB
- **Operating system**: macOS

**What is the current behavior?**

From: https://github.com/strapi/strapi/issues/962:

After install a plugin from the admin panel (GraphQL for example), we have needed to restart the server to see the plugin installed in the Plugins

[2018-04-20 10:28] Aurelsicoko commented on #976
@gchrskgroup I cannot reproduce the issue on my machine. I also tried on Ubuntu. Can you give us the schema of the model?

When I'm reading the returned error, it seems that the schema doesn't match with the data `Syntax Error: Invalid number, expected digit but got: "a".`...

[2018-04-20 10:28] #979 closed

[2018-04-20 11:26] kopecmi8 commented on #839
Hello,
I have been working on semantic version of content type builder plugin and I would like you introduce into it. Firstly I thinking that I will make brand new plugin but instead of this I made decision that I will edit the original CTB, because changes that I made will be better saw in GIT and in my situation of forked version on Strapi I can easyli upadate to the new version and in future pl

[2018-04-20 11:49] #971 closed

[2018-04-20 11:52] Aurelsicoko commented on #962
The issue has been fixed (https://github.com/strapi/strapi/pull/982). The other solution is to run this command at the root of your project to remove the symlink of the `node_modules/strapi` folder.

[code]

[2018-04-20 12:03] abdonrd commented on #962
Sorry, @Aurelsicoko, maybe you write in the wrong issue?
I think #973 has fixed this issue.

[2018-04-20 12:24] pierreburgy opened #985 "WYSIWYG cursor going at the end of the text area"
**Informations**
- **Node.js version**: 9.5.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12
- **Database**: MongoDB
- **Operating system**: MacOS 10.12.4
- **Web Browser**: Safari 10.1

**What is the current behavior?**
On Safari (10.1), when using the controls of the Rich Text Editor, the cursor is going at the end of the text area.

![strapi-safari-bug](https://user-images.github

[2018-04-20 12:31] gchrskgroup commented on #976
Below is a full build run. I was able to successfully create a base schema called "Case" with two elements [subject:string and description:text(wysiwyg)] without issue.

I went back and attempted to create another field relationship: cases to uploads (1 to many)

At this point, I got the error below

errn@errn:~$ strapi new test
[2018-04-20T12:18:57.916Z] info Creating your application... It might

[2018-04-20 14:06] noid2 opened #987 "Admin initial setup error"
*BUG TEMPLATE*

**Informations**
- **Node.js version**:9.11.1
- **npm version**:5.6
- **Strapi version**:3 a12
- **Database**: mongoDB
- **Operating system**: Linux

**What is the current behavior?**

**Steps to reproduce the problem**
after install I changed the port (/config/environments/development/server.json) to 8080 (I can only use this port).  The main page is displayed but  the /Admin show

[2018-04-20 14:06] ChristopherJohnson25 opened #988 "Relationships not returning file upload data"
**Informations**
- **Node.js version**: v9.9.0
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.11.3
- **Database**: Mongo
- **Operating system**: Docker

**What is the current behavior?**
Currently when adding a relation to a model, the relationship's s3 image is responding as null.

See image of JSON response ('logo' should have all the typical file fields, instead comes back as 'null

[2018-04-20 14:40] Aurelsicoko commented on #971
The issue has been fixed (https://github.com/strapi/strapi/pull/982). The other solution is to run this command at the root of your project to remove the symlink of the `node_modules/strapi` folder.

[code]

[2018-04-20 14:48] lauriejim commented on #988
Hello @ChristopherJohnson25, It's because by default we are not deep populate data.

Please check this issue : https://github.com/strapi/strapi/issues/877

[2018-04-20 14:56] lauriejim commented on #891
Hi @zhuang17 you are right, the migration process is really not optimized and the experience it not good! It's one of big things we have to improve in Strapi.

Actually nop, I haven't solution for that.

[2018-04-20 14:56] #782 closed

[2018-04-20 16:02] lauriejim commented on #485
We are stoping sqlite support.

[2018-04-20 16:02] #485 closed

[2018-04-20 16:49] yashha commented on #485
Thats sad, it is a good way to quickstart.
I liked that about django. you start it, it runs and eventually you switch to mysql.

[2018-04-20 21:59] Joshfindit commented on #970
@lauriejim excellent, thank you.

[2018-04-20 22:01] Joshfindit commented on #496
Having a different but related issue: saving a json object in the content manager is changing it to `[object Object]` (see #970)

[2018-04-20 23:37] lauriejim commented on #485
Yes you are right ! But actually the experience si not good with sqlite and it's not our priority to fix this connector.
We will work on a great experience with MySQL and Postgres and don't focus on sqlite.
Remove it is the best way to omit bugs on this part.

[2018-04-20 23:44] #976 closed

[2018-04-21 00:39] manishsg opened #990 "Redirect to Login after successful login for admin page"
*BUG TEMPLATE*

Node - v9.11.1
npm 5.6.0
strapi 3.0.0
Database - MySQL - mysql  Ver 14.14 Distrib 5.7.21, for Linux (x86_64)
OS - Ubuntu - 4.13.0-1012

**What is the current behavior?**
After successful login it redirect back to login page for admin user.

**Steps to reproduce the problem**

**What is the expected behavior?**
It should go to the admin panel.
It used to work fine. created a api als

[2018-04-21 10:41] lauriejim commented on #990
Hello @manishsg can you specify the alpha version of Strapi you use.

Can you try to login with postman (https://strapi.io/documentation/guides/authentication.html#login) and tell me if it works.

[2018-04-21 10:50] ahgood commented on #584
cd strapi_directory
pm2 start server.js

[2018-04-21 22:40] intoku opened #992 "Language selector not visible"
latest strapi

**Informations**

**What is the current behavior?**
When browser is german, the admin of strapi is automatically german (Even if specifically defined in the config to be english). The usual dropdown language selector is not visible in this case. There is no way to switch the language

**Steps to reproduce the problem**

**What is the expected behavior?**
The language dropdown should

[2018-04-22 10:25] lauriejim commented on #992
Hello @intoku thank you for this issue.
Actually it's some `css` update to fix the position on the language selector when `Powered by` translation is to long.

Will appreciate your contribution on this issue !

[2018-04-22 11:51] GerhardMes commented on #485
sad to hear that.

[2018-04-22 16:00] alexandrecanuto opened #994 "Created automatically MySQL tables and columns"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: v3.0.0-alpha.12.0.1
- **Database**: MySQL
- **Operating system**: macOS Sierra

**What is the current behavior?**
Content Type tables and fields are not created. Message *Make sure to create table `project` in your database* is shown.

**Steps to reproduce the problem**
Follow quick star

[2018-04-22 16:51] dzuncoi commented on #994
I had the same problem with Mongodb database, v3.0.0-alpha.12.0.1

**What is the current behavior?**
I created a Article type in Content-type Builder and added some fields, but when I click on Article on left menu, it shows "There are no fields yet Add your first field to your Content Type".
This bug doesn't happen in the previous version.

[2018-04-22 17:05] manishsg commented on #990
3.0.0-alpha.11.3

I had to re-create the api (deleted the old one) and its working fine.

Regards

[2018-04-22 17:06] manishsg commented on #994
I had to manually run the scripts on MYSQL

[2018-04-22 17:15] manishsg commented on #990
It happens after creating the first api - content.

I am able to reproduce the issue.

Still haven't created the back end table for the api

[2018-04-22 17:44] scipe opened #995 "Conversion of long integers"
**Informations**
- **Node.js version**: 9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.3
- **Database**: MongoDB v.3.6.0
- **Operating system**: Mac OS X

**What is the current behavior?**
Problem with edit field. When i try put in (text field or number field, nevermind, same problem) 76561198009194284, after save strapi change it on 76561198009194230.
Its not only on number t

[2018-04-22 18:10] alexandrecanuto commented on #994
@dzuncoi Previous as in v12.0.0 or v11.x? Might test it here.

[2018-04-22 18:13] kamalbennani commented on #994
I have the exact same problem as @dzuncoi

[2018-04-22 18:33] manishsg commented on #990
It pop's up an error message - error occurred while gaconfig.js and redirects back

[2018-04-22 18:45] alexandrecanuto commented on #994
Thanks for the info, @dzuncoi !

In my case, with MySQL, it happens when running both `strapi start` and `npm start`.

I might downgrade strapi to `v11.x` for the time being while this issue is investigated.

[2018-04-22 19:09] manishsg commented on #990
MongoDB back end works fine. Seems to be issue with MYSQL DB back end.

[2018-04-23 03:38] Lengatox opened #997 "Execute Complex query using Graphql"
Node.js version: 9.11.1
npm version: 5.6.0
Strapi version: 3.0.0-alpha.12
Database: MongoDB
Operating system: Ubuntu 16.0.4

Hi guys, I was trying to execute a complex query using graphql, i can run the query using the interface (GraphiQL), but when i create the new file named: schema.graphql in the next directory: ./api/*/config/schema.graphql, and then tryied to run strapi server throws me the n

[2018-04-23 03:54] Lengatox commented on #997
this is a copy of the file that has to be placed in the : ./api/wllogin/config/
[schema.txt](https://github.com/strapi/strapi/files/1936563/schema.txt)(with graphql extension)

I use to test the query that generate the graphql plugin for the model, but the complex query that i want to use it's something like this:
[graphql- query.txt](https://github.com/strapi/strapi/files/1936577/graphql-.query.t

[2018-04-23 05:45] JunQiGenYuan opened #998 "Add feature that custom `created_at` and `updated_at` column name in database"
https://github.com/strapi/strapi/blob/6b8f430872b248dcc7510c9a540fbd55c50116f3/packages/strapi-bookshelf/lib/index.js#L90

If change line above to `hasTimestamps: _.get(definition, 'options.timestamps'),`, remove logic equal to `true`.
Then can set the [model].settings.json `options.timestamps` as an array like this `["createTime", "updateTime"]` to add a feature that custom `created_at` and `upda

[2018-04-23 06:34] JunQiGenYuan commented on #870
I think the problem is caused by bookshelf version at 0.12.1:
https://github.com/bookshelf/bookshelf/blob/e64aa358ef96c24f5c60441551a580dedca9fbcc/src/model.js#L997

after 0.13, this change into:
https://github.com/bookshelf/bookshelf/blob/880f3bf17f3557fe2c491866aaa2c5694eb65577/src/model.js#L1003

The differece is check the keys of `created_at` and `updated_at` exist or not and detect override o

[2018-04-23 07:50] Luukth commented on #800
I can confirm that @garytube workaround works.

[2018-04-23 07:52] piere129 commented on #995
I have the same problem with my User. Trying to edit its' username to a new value results in "an error occured during update". I'm using MySQL as a database. Other self-created content-types get updated, but editing fields of the user always results in an error when saving.

[2018-04-23 08:26] soupette commented on #995
Hi @scipe I'm having a hard time understanding your issue...

Can you provide the steps to reproduce it and the expected behavior?

[2018-04-23 08:48] profjefferson commented on #995
I have same problem here, when i try edit a number field occur this error:
This field is not editable for the moment...😮, its a fresh install

[2018-04-23 09:01] piere129 commented on #995
@soupette Is my comment related with this issue? Or should I create a new issue?

[2018-04-23 09:10] #923 closed

[2018-04-23 09:10] profjefferson opened #1000 "Can't connect with Postman using a authentication"
When i do a request with postman this error occur:

{
    "statusCode": 401,
    "error": "Unauthorized",
    "message": "Unauthorized"
}

when i choose basic auth, and pass a user and password created in the GUI Admin Panel, this error occur:

{
    "statusCode": 401,
    "error": "Unauthorized",
    "message": "Invalid token."
}

i dont know how to create a token, i dont see any option in the GU

[2018-04-23 09:25] lauriejim commented on #990
You create content type with the dashboard ? after restart you get an error ?
Did you manually create your table ?

I think you are with the same interrogation as https://github.com/strapi/strapi/issues/994

[2018-04-23 09:27] lauriejim commented on #998
Hello @JunQiGenYuan this feature is not a priority for us, but fill free to submit a PR !

[2018-04-23 09:48] lauriejim commented on #870
@JunQiGenYuan, @abdonrd use Mongoose.

@abdonrd I tried again and no problem (MongoDB shell version v3.2.11) I have to try with your version of Mongo.

[2018-04-23 09:48] lauriejim commented on #995
@profjefferson what is you Strapi version ?

[2018-04-23 09:50] lauriejim commented on #1000
Hello @profjefferson can you check the documentation https://strapi.io/documentation/guides/authentication.html

[2018-04-23 10:16] profjefferson commented on #1000
I readed the documentation before, but now i can get the token with postman, was a mistake with params, thank you!

[2018-04-23 10:34] Aurelsicoko commented on #924
@NoahHahm I can reproduce it when the image field allows multiples files. I'm going to fix it today.

[2018-04-23 10:35] #1000 closed

[2018-04-23 10:38] NoahHahm commented on #924
@Aurelsicoko thank you.

[2018-04-23 10:43] #964 closed

[2018-04-23 11:51] #959 closed

[2018-04-23 11:51] #766 closed

[2018-04-23 12:13] alexandrecanuto commented on #994
@lauriejim Thanks for the info and thanks for adding it as a new feature! Based on the Quick Start tutorial video, I was under the impression that tables and fields were created automatically. Probably because it's based on a MongoDB installation and there's no need to create tables.

[2018-04-23 12:55] Aurelsicoko commented on #977
@XcrossD Can you give us the MongoDB version? Are you using a hosted database? The requests seem pretty slow... I can't reproduce this on my machine, I need more information.

[2018-04-23 13:32] Aurelsicoko commented on #862
@piere129 I'm closing this issue. The solution proposed by @ArkhipovK is working perfectly (one-way relationship).

[2018-04-23 13:32] #862 closed

[2018-04-23 13:37] derrickmehaffy commented on #909
Just wanted to note that previously a change was made on the Decimal and Float types (I think V10?) that might be causing this. https://github.com/strapi/strapi/pull/589

Decimal type previously before this change did store more than 2 decimal points until it was removed and replaced with float.

[2018-04-23 13:46] derrickmehaffy commented on #744
I also 2nd this, it would be extremely helpful to be able to dump data from csv in quickly (export would also be very helpful but I digress, stability > feature additions)

[2018-04-23 13:59] scipe commented on #995
@soupette hello.

Create field with string type.
Go add new item.
Put it in this field 765611980091942**84**
After you save entity, field autochange on 765611980091942**30**

[2018-04-23 14:02] scipe commented on #995
@piere129 i have same problem with integer strings. But i think its another issue.

[2018-04-23 14:16] ShankyRana commented on #954
Thanks.

[2018-04-23 14:16] #954 closed

[2018-04-23 14:30] #926 closed

[2018-04-23 15:00] Aurelsicoko commented on #919
@pedrosimao You were right the one-way relationship wasn't supported in the generated API and the data wasn't sent correctly to the `manageRelations` method. I opened a PR https://github.com/strapi/strapi/pull/1004

[2018-04-23 15:49] praveenbethapudi opened #1005 "I am unable to access API routes/endpoints."
Strapi is deployed in production mode.. everything looks fine.. no errors in the mongodb database either..
![image](https://user-images.githubusercontent.com/11560534/39136753-8ff123d2-4739-11e8-966f-e2016c19fbb2.png)

Guest role is active with one user and permissions for the collection are set properly..
![image](https://user-images.githubusercontent.com/11560534/39137143-83555b7e-473a-11e8-8902

[2018-04-23 16:00] manishsg commented on #990
What's the script to create the table in MySQL

[2018-04-23 16:03] manishsg commented on #990
In case of relationship how do we specify that in the table creation.

[2018-04-23 16:49] Aurelsicoko commented on #839
I'm very very impressed with the work done! Congratulations 👍

I can clearly understand the benefits for everyone. It allows to easily group field into an entity. I would love to merge this work but we need to update the UI because most of the users might don't need this and the UI has been complexified for everyone.

I think you should use the list fields view to create the entities. Then, each f

[2018-04-23 16:54] Aurelsicoko commented on #744
@derrickmehaffy @kitsunekyo Did you up-vote the feature on the [vote page](https://strapi.io/vote)? We're currently working on the issues which are causing the feeling that Strapi is unstable. We need to stabilize all the work we've done during the last months to get back to the development new features then.

[2018-04-23 16:59] Aurelsicoko commented on #997
You don't need to `{` in the query property. Also the `type` property is a JSON object so you've to follow the JSON format to make it work.

[code]

[2018-04-23 17:01] kitsunekyo commented on #744
sure :) was just wondering how you'd propose us to maybe help building such features. as this is open source after all

[2018-04-23 17:02] kitsunekyo commented on #744
feel free to close the issue though if the intent is to build this inhouse for you.

[2018-04-23 17:02] Aurelsicoko commented on #909
@derrickmehaffy I remember it but it seems that the support of decimal in MongoDB is still complicated. I would love to know how we could fix it definitely because the previous implementation allowed us to remove the `mongoose-double` plugin.

[2018-04-23 17:33] kitsunekyo opened #1006 "fresh admin `npm start` throwing syntax error"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: mongodb
- **Operating system**: windows 10 x64

**What is the current behavior?**

running npm start after installing `./admin` throws an error

[code]

**Steps to reproduce the problem**

followed the tutorial

`strapi new strapi` -> success

- plugin settings-manager h

[2018-04-23 17:57] jsamr opened #1007 "Community translations with Crowdin"
*ENABLE COMMUNITY TRANSLATIONS WITH [CROWDIN](https://crowdin.com/)*

[Crowdin](https://crowdin.com/) allows easy translations from the community, [free for OS projects after submitting a request](https://crowdin.com/page/open-source-project-setup-request). I've contributed recently to few projects for french translations and I found it very user friendly and efficient. Would be glad to contribute

[2018-04-23 19:42] bartoszgajda55 opened #1008 "Running Strapi in process manager doesn't reload the app on saving changes"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**:  v3.0.0-alpha.12
- **Database**: MongoDB
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
Strapi run using PM2 or Forever doesn't reload on saving content change (like adding new content type) and therefore changes are not seen

**Steps to reproduce the problem**
Run Strapi using pr

[2018-04-23 19:42] lukaszskup commented on #1008
i have the same problem

[2018-04-23 20:16] Joshfindit commented on #744
@Aurelsicoko If it were 'import existing data' instead of just CSV import, it would probably be ranked higher. Many of us know how convert our existing data to CSV and import, but others might only vote if they see more general terms.

[2018-04-23 20:47] soupette commented on #1006
Hi @kitsunekyo you need to have the development environment setup in order to fully customize the admin panel.

In order to do so, you need to :
- clone the monorepo : `git clone git@github.com:strapi/strapi.git`.
- run `cd strapi && npm run setup`.
- create a new Strapi project : `strapi new my-app --dev`.
- launch the strapi server : `cd my-app && strapi start`.
- add the `strapi-helper-plugin`

[2018-04-23 20:56] lauriejim commented on #1005
Can you log in this file if role and permission is well detected for what you want https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/policies/permissions.js

[2018-04-23 21:01] lauriejim commented on #994
It's actually doesn't exist. Working on it https://github.com/strapi/strapi/tree/sql-xp

[2018-04-23 21:02] lauriejim commented on #1007
I will take a look. Thank you for the link.

[2018-04-23 21:15] lauriejim commented on #1008
Hello @bartoszgajda55 you just have to use `strapi start` when you develop your app (using content type builder and custom .js files) there is a file watcher and auto reload.

So if you use pm2 it will not work. It hasn't be design for your use case.

[2018-04-23 21:27] kitsunekyo commented on #1006
thanks @soupette

thats my bad. i overlooked the [https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md](https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md) link as it was not my intent to Contribute, but just to adapt the admin section for my usecase.

[2018-04-23 21:27] #1006 closed

[2018-04-23 21:35] soupette commented on #1006
I understand. We have guides in our **[documentation](https://strapi.io/documentation/advanced/customize-admin.html)** to customize the *'basics'* things in the admin... However, if you want to make deeper changes you have to use the development mode *[CONTRIBUTING GUIDE](https://github.com/strapi/strapi/blob/master/.github/CONTRIBUTING.md)*.

🏗 ***PRs** are welcome ! 🏗

[2018-04-23 21:36] kitsunekyo commented on #1006
if i have something that might be of use for others, of course ;) thanks again

[2018-04-23 21:42] #919 closed

[2018-04-23 21:44] #640 closed

[2018-04-23 22:29] mekeor commented on #315
I'm still experiencing this bug. Shall I open a new one?

[code]

Here's a screenshot of the same thing (for colors):

![2018-04-24-002654_1279x710_scrot](https://user-images.githubusercontent.com/812632/39156428-5a09f1f0-4756-11e8-9294-9a1710b20341.png)

Does anyone have an idea what's going on there? Could we re-open this issue, @Aurelsicoko? Or should I open a new one?

[2018-04-23 22:33] mekeor commented on #968
I'm experiencing the same error when I try to create a new project with strapi after installing it with NPM locally. See https://github.com/strapi/strapi/issues/315#issuecomment-383743350

[2018-04-23 22:48] mekeor commented on #315
The PR #317 is included in strapi@3.0.0-alpha.12.0.1, right?

[2018-04-24 02:02] profjefferson opened #1010 "Strapi with MongoDB in Replication Set"
I have 3 servers with MongoDB, 1 are master and the others are replication, when the master is off, one of the replications turn master, how configure strapi for this case? i was able to define only 1 ip host, i need registry the 3 nodes and strapi detect the master of nodes when fail conection

[2018-04-24 02:59] XcrossD commented on #977
@Aurelsicoko Hosted with mLab. From the dashboard - mongod version: 3.4.14. Happy to provide more information.

Actually the route permissions have been saved, it's just after 1 second the saved route permissions disappeared.

[2018-04-24 03:47] laputaclover opened #1011 "Can not test the connection of database when create new project"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**:  3.0.0-alpha.12.0.1
- **Database**: MongoDB
- **Operating system**: CentOS Linux release 7.4.1708 (Core)

**What is the current behavior?**
When I followed the quick start to create a new project, it stopped at "Testiong database connection..."
I have waited for a few minutes, it didn't show any other mes

[2018-04-24 05:34] oeddyo commented on #995
same problem +1

[2018-04-24 05:54] derrickmehaffy commented on #909
I agree @Aurelsicoko I think this might have something to do with defining the accuracy of the float option. I know in MySQL you can define the integer accuracy before and after the decimal.

If I understand mongo's method for storing floats its using IEEE 754 and really the only good suggestion is to store them as stringified decimals (which is a super ugly solution)

[2018-04-24 06:56] piere129 opened #1013 "Editing User fields throws an error in MySQL"
**Informations**

- **Node.js version**: 9.0.0
- **npm version**: 5.6.0
- **Strapi version**: v3.0.0-alpha.12
- **Database**: MySQL
- **Operating system**: Windows 10

**What is the current behavior?**

Editing a User always returns a "An error occured during record update". I always get this error, no matter which User i edit, even the newly created ones.
![image](https://user-images.githubuserco

[2018-04-24 07:27] scipe commented on #1008
Maybe pm2 --watch help?

[2018-04-24 08:06] #924 closed

[2018-04-24 08:12] scipe commented on #995
@soupette hi mate! now clear? you understand the problem?

[2018-04-24 08:14] scipe commented on #1013
Whats console said right this time?

[2018-04-24 08:15] scipe commented on #1007
+1

[2018-04-24 08:30] zhuang17 opened #1015 "`update file field data` save failed."
**Informations**
- **Node.js version**:
v9.11.1

- **npm version**:
5.6.0

- **Strapi version**:
3.0.0-alpha.12

- **Database**:
MongoDb

- **Operating system**:
MacOS 10.12

**What is the current behavior?**
When I tried to edit the data of image `file field`,
(try both `upload a new image`, or `delete the previous image then upload a new image`)
The UI show upload image file successfully, and wh

[2018-04-24 08:31] soupette commented on #995
Hi @scipe the error is coming the ContentManager services at `parser` function.

[2018-04-24 08:31] zhuang17 commented on #1015
screen for updating `headerImage` field of `Test` Model
![update-image-field](https://user-images.githubusercontent.com/6997095/39175396-c7ad8c5e-47dc-11e8-9a3a-32a521d0a04c.gif)

[2018-04-24 08:32] piere129 commented on #1013
@scipe I updated my issue

[2018-04-24 08:33] zhuang17 commented on #1015
screens for `remove and re-upload` the `headerImage`  field of `Test` Model.

![delete-and-reupload-image-field](https://user-images.githubusercontent.com/6997095/39175508-1e4d89ec-47dd-11e8-991c-2d6904134825.gif)

[2018-04-24 08:37] scipe commented on #995
@soupette with type "TEXT" same problem.

Thanks you for your work!

[2018-04-24 08:39] soupette commented on #995
Yes apparently Json.parse can't work with long numbers. I found this link on [stackoverflow](https://stackoverflow.com/questions/15689790/parse-json-in-javascript-long-numbers-get-rounded).

[2018-04-24 08:40] soupette commented on #1013
I think your issue is related with your SQL database. I have tried to reproduce your issue using mongoDB it was working fine

[2018-04-24 08:44] soupette commented on #1015
Duplicate of https://github.com/strapi/strapi/issues/924. See https://github.com/strapi/strapi/pull/1001

[2018-04-24 08:46] derrickmehaffy commented on #943
@lauriejim this is likely related to my old issue here: https://github.com/strapi/strapi/issues/661

The user wants to disable the plural functionality completely though it would play into my suggestion.

[2018-04-24 08:47] scipe commented on #995
@soupette but its if field is number. Why its doesnt work if field is string or text?

[2018-04-24 08:50] lauriejim commented on #1010
Please check this issue https://github.com/strapi/strapi/issues/432

[2018-04-24 08:50] #1010 closed

[2018-04-24 08:50] piere129 commented on #1013
@soupette I think there is not support for MySQL?

[2018-04-24 08:53] scipe commented on #995
So my entity bigger when Number.MAX_SAFE_INTEGER

[2018-04-24 08:53] Aurelsicoko commented on #744
@kitsunekyo @Joshfindit If you want to help us, feel free to reach me on Slack (@aureliengeorget), it would be a pleasure to discuss with you about this feature and how we could integrate it in the Content Manager plugin. The goal is to define what we want exactly and where we should implement it in the codebase and the UI.

[2018-04-24 08:53] derrickmehaffy commented on #1013
@piere129 There is minimal support for MySQL AFAIK and it is being worked on in another branch/milestone

MySQL Dev branch: https://github.com/strapi/strapi/tree/sql-xp
MySQL Milestone Tracking: https://github.com/strapi/strapi/milestone/13

[2018-04-24 08:56] lauriejim commented on #1011
Hello @laputaclover !

Can you confirm you have a `tmp` folder with `strapi-mongoose` as node modules.

[2018-04-24 08:57] derrickmehaffy commented on #567
For those curious and have found this with a search, I recommend you vote for the feature on the strapi vote page. Its listed as:

[code]

[2018-04-24 08:58] piere129 commented on #1013
@derrickmehaffy this is useful, but it doesn't diminish the fact that MySQL is unusable for any decent project at this moment. It seems like this should be hotfixed...

[2018-04-24 08:59] derrickmehaffy commented on #1013
@piere129 Development is on going, I'm sure if you wished to help with it, the Strapi team would love some pull requests :)

There is no simple hotfix as the differences between MySQL and Mongo are night and day. I'm sure its being worked on as fast as they can.

[2018-04-24 09:02] piere129 commented on #1013
@derrickmehaffy I'll try creating a brand new database and see if it fixes it. The problem might be in my database (I hope)

[2018-04-24 09:03] soupette commented on #995
A possible fix could be the following (if @lauriejim agrees):

[code]

[2018-04-24 09:10] piere129 commented on #1013
Nope it still doesn't work. @lauriejim can you elaborate on how this isn't reproducable for you? :)

[2018-04-24 09:10] lauriejim commented on #1008
@bartoszgajda55 you can replace `"start": "node_modules/strapi/bin/strapi.js start",` in your `package.json` and then start the app with `pm2 start npm -- start`

[2018-04-24 09:13] zhuang17 commented on #924
@Aurelsicoko  @soupette  the issue is a little different on my side, can you help confirm this ?

file relations save successfully on update content manager which allow multiple files.

but single file relation save failed (`in UI show save succesfully, but don't actually store into db.`) when updating content manager which don't allows multiples files.
https://github.com/strapi/strapi/issues/1015

[2018-04-24 09:25] Aurelsicoko commented on #909
After some readings, it seems that the decimal supports was improved from MongoDB 3.4. Mongoose seems to support the Decimal128 type (http://mongoosejs.com/docs/schematypes.html). I've already tried to implement it but it wasn't working as expected. I should give another try...

[2018-04-24 09:28] Aurelsicoko commented on #1015
@zhuang17 You're lucky! When I was fixing #924 I faced this issue too. It has been fixed with this PR https://github.com/strapi/strapi/pull/1001

[2018-04-24 09:28] #1015 closed

[2018-04-24 09:48] XcrossD commented on #977
[api.zip](https://github.com/strapi/strapi/files/1942131/api.zip)
I will test a fresh app later and let you know.

[2018-04-24 10:00] lauriejim commented on #943
Plural of this link is set here https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-manager/admin/src/containers/App/sagas.js#L33

There is no option to disable it. If you want you can update this file and rebuild your admin.

[2018-04-24 10:00] #943 closed

[2018-04-24 10:06] lauriejim commented on #1013
Fail label attribution*

[2018-04-24 10:11] XcrossD commented on #977
Fresh install shows the same. I could DM you my server details on slack for further testing.

[2018-04-24 10:29] Aurelsicoko commented on #802
In this issue, the problem is that you've created a Many-to-one relation but the attribute in the `one` side is missing. The `Test.settings.json` model should look like this:
[code]

and the `User.settings.json` like this:
[code]

However, there is a similarity in both issues is that you have the `multiple` property. I don't know why because we're not using it...

[2018-04-24 10:31] Aurelsicoko commented on #886
@XcrossD I can't reproduce it too. I followed the GIF and it works well on my machine. Can you test with the latest release alpha.12?

[2018-04-24 10:34] Aurelsicoko commented on #977
Thank, I just tried and it works fine on my machine again... Are you still running the app on Windows?

[2018-04-24 11:32] XcrossD commented on #977
Yes running on windows

[2018-04-24 11:41] Luukth commented on #875
When using pm2 start strapi server.js the same happens. No restart and quick flash of server restarting.

[2018-04-24 11:45] Michael-Reich opened #1016 "Adding fields not working on Heroku + mLab Mongo"
*BUG TEMPLATE*
https://github.com/strapi/strapi-heroku-app

**What is the current behavior?**
Adding content types is not available even in local development and development mode turned on.

**Steps to reproduce the problem**
Using Heroku button in this article: https://blog.strapi.io/deploying-a-strapi-api-on-heroku/ and try to add Content types and fields.

**What is the expected behavior?**
Add

[2018-04-24 12:14] Michael-Reich commented on #1016
fixed it by myself -> did changes locally and needed to restart npm start to make it work

[2018-04-24 12:14] #1016 closed

[2018-04-24 13:21] imjustd opened #1018 "Automatic update for existing projects"
It would be nice to be able to update existing project with the latest Strapi release. Something like `strapi update` in the project's folder would be handy. I don't know if this is possible/simple to achieve, but it's a nice to have feature instead of manually updating the project files/folders.

[2018-04-24 13:28] Aurelsicoko commented on #909
Woohoo, I made it! The PR is open https://github.com/strapi/strapi/pull/1019, it should be working 👍

[2018-04-24 13:47] derrickmehaffy commented on #909
Nice job @Aurelsicoko this was a huge killer for the project I was working on, can't wait for it to go live :grin:

[2018-04-24 14:45] derrickmehaffy commented on #1018
Absolutely have a +1 from me on this. Especially with some of the previous FR for migrating from dev -> staging -> beta -> prod. This would make development stage updates so much easier and user friendly.

Might be a ways out, especially with the focus on stability instead of features but this should certainly be added the strapi vote page.

[2018-04-24 14:45] derrickmehaffy commented on #1007
+1

[2018-04-24 14:48] derrickmehaffy commented on #1013
@piere129 I'm also looking for more in depth mysql support I'll see if I can reproduce this as well. My guess is it has something to do with the creation of tables in the database.

[2018-04-24 15:45] #992 closed

[2018-04-24 15:58] Aurelsicoko commented on #909
Already merged by the awesome @lauriejim! I'm closing the issue...

[2018-04-24 15:58] #909 closed

[2018-04-24 16:03] Aurelsicoko commented on #1013
@derrickmehaffy We're currently working on a way to automate the table creation, update, etc. It should be released soon. Strapi is almost unusable with SQL database... you've to create the table manually which is not very convenient for a project like us when the added value is to reduce the time of development.

[2018-04-24 19:13] msgeissler commented on #1018
I agree this would be nice. Maybe something worth looking into towards the end of the alpha, when the architecture and API has been ironed out more. Especially for minor and patch level updates this would be a great win and time saver. If a major update needs some manual steps that is totally fine, not everything can be automated especially with the flexibility that strapi provides under the hood.

[2018-04-24 19:27] msgeissler commented on #968
Maybe this is a bug in yarn? There are a few old issues with similar errors:
https://github.com/yarnpkg/yarn/issues/2206

Maybe the update posted by peteroid can help you: https://github.com/yarnpkg/yarn/issues/2206#issuecomment-266351947

As it works for abdonrd, it does not seem to be a global problem.

[2018-04-24 20:59] soupette commented on #958
Hi @crackhopper did you find a solution to your issue?

[2018-04-24 21:06] kamalbennani opened #1022 "Bug when having the same attributes in connected entities"
*BUG TEMPLATE*

**Informations**
- **Node.js version**:
v9.6.0
- **npm version**:
v6.0.0
- **Strapi version**:
v3.0.0-alpha.12.0.1
- **Database**:
MongoDB
- **Operating system**:
Linux
**What is the current behavior?**
When I created multiple Content Entities for instance:
[code]
It doesn't let me to for attach a Batch to a Course for instance of a Subject to a Course, I'm getting this error:
![im

[2018-04-24 21:15] elialber opened #1023 "error plugins.find is not a function"
production error
error plugins.find is not a function

[2018-04-24 23:08] nainsworthrv opened #1024 "Model cannot open with multiple connections in strapi admin"
Information
- Node.js version: 8.11.1
- npm version: 5.8.0
- Strapi version: 3.0.0-alpha.12
- Database: mongodb 3.6.4
- Operating system: Ubuntu 16.04.4 LTS Server

**What is the current behavior?**
If the model has many connections and there is a lot of data contained, then it can not be opened in strapi admin panel

TypeError: Cannot read property 'id' of undefined
    at main.js:32
    at Array

[2018-04-24 23:09] lauriejim commented on #1023
Please follow the issue template.

[2018-04-24 23:55] sorob commented on #736
This happens when you do npm install. I think the roles and permission plugin re-inserts its 200 something records to mongo every time without checking if they already exist.

[2018-04-25 01:52] XcrossD commented on #886
@Aurelsicoko Tested again with alpha.12, no luck. Same setup with the [permission ticks issue](https://github.com/strapi/strapi/issues/977)

[2018-04-25 02:03] XcrossD commented on #802
I checked again and this behavior is the same in #886. I think the relations on the `one` side should be created automatically, but even if I wanted to create each of them manually I cannot do it because one of them has to be saved first, and saving causes error...

[2018-04-25 02:59] laputaclover commented on #1011
Thanks for you reply : )
In the  `tmp` folder there is only an empty  `etc`  folder, and I have checked the globe modules, no `strapi-mongoose` found.

I tryed install `strapi-mongoose` module not only in the project also as globe.
`+ strapi-mongoose@3.0.0-alpha.4.3`
When create new project,  nothing changed. The only message is "Testing database connection..."

[2018-04-25 05:52] derrickmehaffy commented on #1013
@Aurelsicoko Yeah I've been following the sql-xp branch looking like solid progress is being made.

[2018-04-25 07:43] piere129 commented on #1013
@derrickmehaffy  creation of tables isn't the problem I think. My second screenshot has a comment saying the implementation is for mongoDB, not for mysql. So my guess is that's where it goes wrong. @Aurelsicoko automatic table creation would be amazing, but it's do-able without it, as long as everything else works :p

[2018-04-25 08:08] lauriejim commented on #875
@abdonrd did you use pm2 to start your project or npm start

If it's the case check this issue https://github.com/strapi/strapi/issues/1008

[2018-04-25 08:25] lauriejim commented on #1022
Hello @kamalbennani. It's the relation between batch and course.

[code]

This format doesn't exit. Did you write it manually or using admin content type builder ?

Remove `course` in Batch model and `batches` in Course model and start again.

[2018-04-25 08:29] Luukth commented on #1008
Hello, I also found a solution for this problem. With this command you don't have to edit the `package.json` file. Just make sure you start it inside the strapi project folder.

`pm2 start strapi --no-automation --name {{app name}} -- start`

[2018-04-25 08:45] lauriejim commented on #1011
You have to install `strapi-mongoose@alpha` all modules are publish with alpha and the version has to be `3.0.0-alpha.12.0.1`

Can you try to not use `-` in your app name (maybe can come from here)

[2018-04-25 08:47] XcrossD commented on #802
@Aurelsicoko I found the error. I manually adjust the settings to be what you listed out and remove `plugin` property from both sides. The server can start again without error. This is currently what my settings look like.
![product-setting](https://user-images.githubusercontent.com/6669029/39235393-5ed362c2-48a8-11e8-8027-687947848408.PNG)
![productspecification-settings](https://user-images.gith

[2018-04-25 09:42] #1023 closed

[2018-04-25 10:12] XcrossD opened #1027 "Fail update relation when field "value" is present"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
alpha.12
- **Database**:
mongodb 3.4.14
- **Operating system**:
windows 10

**What is the current behavior?**
Relations cannot be updated successfully when content type linked to contains the field "value"

**Steps to reproduce the problem**
1. Create a content type A containing a field "value"
2. Create c

[2018-04-25 12:59] #481 closed

[2018-04-25 13:51] soupette commented on #1024
Hi @nainsworthrv what do mean by many connections?
Can you paste the info object from the console?

[2018-04-25 13:59] lauriejim commented on #1027
Hello @XcrossD can you confirm it's the same as this issue https://github.com/strapi/strapi/issues/791 but with `value`

[2018-04-25 14:19] lauriejim commented on #990
You have to run SQL query as logged when you start your server for the first time to create plugins tables.
And you need relation table only for manyToMany relation.

But I recommend you to use MongoDB if you can, SQL experience will be release increase when this PR will merged and publish on npm https://github.com/strapi/strapi/pull/1025

[2018-04-25 14:19] #990 closed

[2018-04-25 14:35] kamalbennani commented on #1022
@lauriejim via the admin :(

[2018-04-25 14:35] lauriejim commented on #987
Hello @noid2 did you follow https://strapi.io/documentation/guides/deployment.html ?

[2018-04-25 14:51] Dronozavr opened #1031 "Extraction depth"
Hello, I have a Content-Type "Mentor" which is equal to obj
`tjtjtj6`

[2018-04-25 14:53] #1031 closed

[2018-04-25 14:58] lauriejim commented on #1022
And what happened if you manually delete and try to recreate relation ?
What is the type of relation you want create ?

[2018-04-25 15:00] lauriejim commented on #932
Maybe can be related to this issue https://github.com/strapi/strapi/issues/995

[2018-04-25 15:01] Dronozavr opened #1032 "Extraction depth"
Hello. I have created Content Type `Mentor`, it has a field  `avatar` which is equal to media field type.
Also I have a Content type `Course` which can include a lot of `Mentors` . My issue is that when I extract all `Courses` all data inside nested `mentors`  field are there except the `avatar` which is equal to `null`. When I extract `mentors` in separated request everything is fine. It looks li

[2018-04-25 15:16] lauriejim commented on #927
Sorry for delay.

That's good question. I would love the same url or all providers. But when we tried redirect urls with each providers, it doesn't work. So we display the good one for each providers.

[2018-04-25 15:38] lauriejim commented on #908
@zhuang17 Query or in `/config/queries/` folder of the plugin. After it will use bookshelf or mongoose file depending of the database you use. We haven't doc about that.

Some one can try with latest version of Strapi (`alpha.12.0.1`) and clean database and tell me if it's still happened. (mongodb and mysql)

[2018-04-25 15:40] #904 closed

[2018-04-25 15:47] lauriejim commented on #902
Sorry for delay.

You can make the same as this line https://github.com/strapi/strapi/blob/master/packages/strapi-mongoose/lib/index.js#L180 but for `minimize` settings.

I think it's could be great to update the way we set models `options` in schema to make it more modular. With a loop attribution.

[2018-04-25 15:49] lauriejim commented on #891
Hey @abdonrd what's the state of this issue ?

[2018-04-25 15:56] lauriejim commented on #871
Can you give me the full logs. I don't know where this issue come from.

[2018-04-25 15:57] #866 closed

[2018-04-25 15:58] soupette commented on #838
Hi @forsetius are you still working on this issue? How can I help you?

[2018-04-25 16:02] soupette commented on #770
@mortendybdal the `babel-polyfill` error should be fixed with #1033

[2018-04-25 16:02] lauriejim commented on #860
Hey @oeddyo sorry for the delay but actually no time to investigate on this issue. I hope I will be able soon to work on it.

Appreciate your help if you can check in `admin/src` folder of the `content-type-builder` plugin where the match is apply.

[2018-04-25 16:03] #859 closed

[2018-04-25 16:07] lauriejim commented on #849
This PR (https://github.com/strapi/strapi/pull/1025) will fix it

[2018-04-25 16:07] #849 closed

[2018-04-25 16:07] #847 closed

[2018-04-25 16:08] lauriejim commented on #846
This PR (https://github.com/strapi/strapi/pull/1025) will help to fix your issue

[2018-04-25 16:08] #846 closed

[2018-04-25 16:12] soupette commented on #824
See #1033

[2018-04-25 16:15] nainsworthrv commented on #1024
[code]

[2018-04-25 16:17] nainsworthrv commented on #1024
Many connections I just mean that when there is alot of relational data it wont open

This one opens because there is minimal relational data, but most of the others do not as they have more linked fields

![image](https://user-images.githubusercontent.com/29033972/39258666-84277e6c-4882-11e8-95aa-65ee66517896.png)

[2018-04-25 16:17] soupette commented on #1024
Can we talk on slack so I can reproduce your bug or can you link you api folder?

[2018-04-25 16:26] lauriejim commented on #767
Fixed here https://github.com/strapi/strapi/pull/969

[2018-04-25 16:26] #767 closed

[2018-04-25 16:27] #747 closed

[2018-04-25 16:31] #600 closed

[2018-04-25 16:33] soupette commented on #742
@mnlbox `npx -p strapi@alpha strapi new my-app && strapi start` should work. Maybe we need to update the doc

[2018-04-25 16:33] #511 closed

[2018-04-25 16:35] Aurelsicoko commented on #917
@lucaperret We're currently working on this topic with our lawyers. We're not collecting any personal data so we aren't directly concerned about the GDPR on this specific part. However, it doesn't mean we've nothing to do on our side to respect the European regulation. You should see some changes in the next weeks!

[2018-04-25 16:35] #917 closed

[2018-04-25 17:07] lauriejim commented on #1032
Please follow the issue template. I will re-open this issue when it's will done.

[2018-04-25 17:07] #1032 closed

[2018-04-25 17:29] omar1989omb opened #1034 "Problem when deleting or searching files"
**Informations**
- **Node.js 9.11.1**:
- **npm 5.8.0**:
- **Strapi 3.0.0-alpha.12.0.1**:
- **MySQL**:
- **Ubuntu 17.10**:

**What is the current behavior?**
Problem when deleting or searching files

**Steps to reproduce the problem**
Uploading files works fine::

[code]

But when I delete a file, or try to find a file, it shows a 404 error:

{
"statusCode": 404,
"error": "Not Found",
}

[code]
[co

[2018-04-25 17:35] omar1989omb commented on #1034
My error, the correct URL  is : http://localhost:1337/upload/files

[2018-04-25 17:35] #1034 closed

[2018-04-25 17:56] kamalbennani commented on #1022
<Course> OneToMany <Batch>
<Course> OneToMany <Subject>
<Batch> ManyToMany <Subject>

[2018-04-25 18:30] VerbindApp opened #1036 "Error running admin project"
**Informations**
- **Node.js version**:  9.8.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: postgres
- **Operating system**: Windows 8.1

**What is the current behavior?** When i try to run only admin project it shows this error npm ERR! strapi-admin@3.0.0-alpha.12.0.1 start: `node ./node_modules/strapi-helper-plugin/node_modules/.bin/cross-env NODE_ENV=develop

[2018-04-25 18:33] omar1989omb opened #1037 "Error with the request /upload/files/:id in MySQL"
**Informations**
- **Node.js**:  9.11.1
- **npm**: 5.8.0
- **Strapi**: 3.0.0-alpha.12.0.1
- **Database**: MySQL
- **Operating system**: Ubuntu 17.10

**What is the current behavior?**

Using the request /upload /files/:id with the GET or DELETE methods, the console displays the error:

`[2018-04-25T17:46:54.220Z] error select `upload_file`.* from `upload_file` where `upload_file`.`_id` = '_2' limi

[2018-04-25 18:36] soupette commented on #1036
You have to start your project in dev mode to do that. Please refer to the [PLUGIN DEVELOPMENT section](https://strapi.io/documentation/plugin-development/quick-start.html).

[2018-04-25 18:36] #1036 closed

[2018-04-25 20:53] kamalbennani commented on #1022
I deleted them and when I recreate the relation I get this error
![image](https://user-images.githubusercontent.com/14129459/39272161-6d55104c-48db-11e8-9586-234d5423ba2a.png)

[2018-04-25 23:40] JoshR604 opened #1038 "AWS Upload Provider config location in admin"
I am confused with the file upload documentation and perhaps you can point me in the right direction?

I have now installed the aws provider by running the npm command, but I am unable to locate the configuration file(s) as shown in the documentation where it says visit:
“/admin/plugins/upload/configurations/development” — this path does not exist in my project?

I tried looking at the Upload boot

[2018-04-26 02:32] JoshR604 commented on #1038
Ah I found it now!

For people who can't find it in the future the configuration can be found under the Plugins tab on the side bar.

Plugins >Files Upload -- *hit the gear icon* and the installed provider should be in the drop down list. 👍

[2018-04-26 03:11] XcrossD commented on #1027
@lauriejim I confirm that this is not a duplicate. Only the field "value" will prevent relation from updating. Although the end behavior seems like the same the error message is different.
`{"statusCode":400,"error":"Bad Request","message":[{"messages":[{"id":"Cannot read property 'toString' of undefined"}]}]}`

[2018-04-26 05:38] zhuang17 commented on #779
I am using the latest 3.0.0-alpha.12 version,
i got the same issue here.

1. add a new model `blog` in `Content Type Builder` in local.
2. i can choose `blog` actions(find, findOne,...) in `Application` section of `Users & Permissions` in local.
3. when i use the same code to deploy in my prod server, however i can't see that model in `Application` section of `Users & Permissions`

I check the dat

[2018-04-26 05:48] zhuang17 commented on #779
and btw,  for workaround, looks like dropping the `users-permissions_permission` collection in database and restart server can work( it will reload all your models' users-permissions from your code).

(but it will remove all your previous users-permissions config, so you need to re-configure again in `Application` section of `Users & Permissions` page)

[2018-04-26 06:42] oeddyo opened #1039 "Confirmation before reset data in content manager"
Hi Strapi,

We are starting to use strapi (like seriously use it) in my company. One complaint from our ops people is (since they are using it as CMS in admin dashboard) there's no confirmation for "Reset" button and because of mis-conduction they lost a couple of hours worth of work : |

Wondering if it's reasonable to add a confirmation before dangerous ops like this

Thanks!

![image](https://u

[2018-04-26 08:03] lauriejim commented on #1039
Hello @oeddyo I think it's an easy thing to add on Strapi.
You can make this update by yourself and submit a PR.

@soupette Can help you to make it.

[2018-04-26 08:06] lauriejim commented on #779
Thank you @zhuang17 for these details ! Will help to fix it.

[2018-04-26 08:07] soupette commented on #1039
Hi @oeddyo

I'm not sure we're going to develop such feature however here's how you can do it.

First create a project in dev mode ()[plugin development](https://strapi.io/documentation/plugin-development/quick-start.html)).

In the `content-manager/admin/src/containers/index.js` you can make the following modifications:

[code]

You'll also have to create the associated translations in the plugin

[2018-04-26 08:47] moklick opened #1041 "Date picker not displayed correctly when editing a content type"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MongoDB
- **Operating system**: macOs High Sierra

**What is the current behavior?**

The date picker is not displayed correctly. The icon is outside the input field, the date picker is open and you can't close it.

![screen shot 2018-04-26 at 10 39 37]

[2018-04-26 08:59] lauriejim commented on #1038
That is strange, I test the path `/admin/plugins/upload/configurations/development` and it works.

[2018-04-26 08:59] #1038 closed

[2018-04-26 09:01] #1022 closed

[2018-04-26 09:12] lauriejim commented on #1037
Hello @omar1989omb You are in a good way to fix it and submit a PR.

Actually your update will broke mongoose applications. You have to investigate in `bookshelf queries` I think instead of `services`

[2018-04-26 09:15] Dronozavr opened #1042 "Cannot retrieve media types for nested sets."
**Informations**
- **Node.js version**:
9.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.11.3
- **Database**:
mongoDB (mongoLab)
- **Operating system**:
Kubutntu

**What is the current behavior?**
Cannot retrieve media types for nested sets.
**Steps to reproduce the problem**
I have created CT "Course", which has relation with CT "Mentors".  Every "Mentor" in "Mentors" has media f

[2018-04-26 09:15] Aurelsicoko commented on #736
@sorob To make sure I understand it correctly, you run `npm install <dependency>` in your project, then you start the server and some permissions disappear?

[2018-04-26 09:28] #729 closed

[2018-04-26 09:29] #764 closed

[2018-04-26 09:32] #824 closed

[2018-04-26 09:35] soupette commented on #1024
I'm closing this issue. Here's the the explanation:

[code]

[2018-04-26 09:35] #1024 closed

[2018-04-26 09:39] soupette commented on #958
@crackhopper I found the bug!

You have to start your dev server from the admin folder:

`cd my-app/admin && npm start`

You were starting your server from the a plugin folder therefore the path for webpack weren't good

[2018-04-26 09:39] #958 closed

[2018-04-26 09:45] XcrossD commented on #877
@lauriejim I'm trying to solve this issue, but I can't wrap my head around it. Can you give me some hints? Thank you.

I have 1 to many relation - one product has many productfeatures, and I want to populate the image in productfeature when I obtain product data.

So far I have gotten to `myProject/api/product/controllers/Product.js` and `myProject/api/product/services/Project.js` (maybe the same

[2018-04-26 10:02] Aurelsicoko commented on #736
I also tried to run `npm install` at the root of the project with the `node_modules` already existing or not. It works fine as well. It's driving me crazy... 🤯

[2018-04-26 10:05] XcrossD commented on #1042
This is duplicate with #877. I'm trying to get it to work, but I need some guidance from the maintainers.

[2018-04-26 11:14] #1042 closed

[2018-04-26 11:44] nainsworthrv commented on #1024
Thanks very much Cyril.

Nicholas

On Thu, Apr 26, 2018 at 5:35 PM, cyril lopez <notifications@github.com>
wrote:

[2018-04-26 12:47] #860 closed

[2018-04-26 12:56] #1041 closed

[2018-04-26 13:15] soupette commented on #858
#1033

[2018-04-26 13:15] #858 closed

[2018-04-26 13:16] moklick opened #1048 "The image gets removed/ resetted when changing another field"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MongoDB
- **Operating system**: macOs High Sierra

**What is the current behavior?**

The image gets removed/ resetted when changing another field.

**Steps to reproduce the problem**

1. Create a content type with fields `image` (image) and `string` (n

[2018-04-26 13:29] seleckis commented on #432
Hi! I have the same problem connecting to MongoDB Cluster. I have followed the @adamflater guide, but I get this error:
[code]

[2018-04-26 14:24] lauriejim commented on #432
@seleckis can you try to update in `/config/hook.json` the timeout time.

[2018-04-26 14:25] #838 closed

[2018-04-26 14:57] derrickmehaffy commented on #171
@SupremeTechnopriest This is not an un-common solution to node.js projects, generally speaking most node.js projects run on localhost and a proxy is generally used to display it over port 80/443. Nginx is extremely simple to setup for proxying SSL to a local service.

[2018-04-26 14:58] SupremeTechnopriest commented on #171
You cant set up nginx on heroku.  I dont want proxies in front of my server.

[2018-04-26 14:59] SupremeTechnopriest commented on #171
You should have used express instead of koa.  KOA is trash.

[2018-04-26 15:00] derrickmehaffy commented on #171
@SupremeTechnopriest then should you feel a feature should be added, maybe you can help develop such a feature or plugin yourself? Else if you feel the project should be done differently I'm sure your welcome to fork the project and rebuild it how you feel, the source code is open source.

[2018-04-26 15:01] SupremeTechnopriest commented on #171
Ill just write my own cms.  All good.  Go ahead and thumbs down some more.  Ill be sure to let everyone i know not to use strapi.

[2018-04-26 15:01] SupremeTechnopriest commented on #171
No SSL.... LOL

[2018-04-26 15:03] derrickmehaffy commented on #171
@SupremeTechnopriest just in case you decide to change your mind, here is a nice guide for node.js and nginx: https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-16-04

[2018-04-26 15:05] Aurelsicoko commented on #171
@SupremeTechnopriest I recommend you to read [this article from RisingStack](https://blog.risingstack.com/node-js-10-lts-feature-breakdown/).

It's a very common pattern to use a nginx in front of a Node.js server.

[2018-04-26 15:06] SupremeTechnopriest commented on #171
Appreciate it.  I've installed 1000s of nginx services in the past.  It's not that I'm lazy, its that its impossible on heroku (my clients preferred deployment).  Stapi is also their preferred backend. So I'm stuck between a rock and hard place. The only solution here is to move ssl to the DNS level with cloudflare.  Thank god for cloudflare.

[2018-04-26 15:08] derrickmehaffy commented on #171
And since on linux based systems you can't run a service on a port below 1024 unless your a superuser.

But yes @SupremeTechnopriest cloudflare is another option to secure strapi if you can't run something like nginx in front of it.

[2018-04-26 15:10] jezperp opened #1050 "Can't generate controller"
Hello!

I'm trying to generate a controller but it doesn't seem to work, I've tested and successfully generated a api though...

I'm trying to do:
strapi generate:controller hello

It gives me:
error No generator called `controller` found.

**Informations**
- **Node.js version**: v10.0.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MySQL
- **Operating system**:

[2018-04-26 15:12] SupremeTechnopriest commented on #171
It seems a bit premature to be ripping out SSL from your project IMO.  Node wont have http/2 in LTS for a long time... From other issues im seeing here, it looks like you didn't have much choice in the matter, because KOA is not good and still requires iojs or something.

[2018-04-26 15:12] lauriejim commented on #1050
Hello @jezperp it's a duplicate of this issue https://github.com/strapi/strapi/issues/644
You don't take time to check it

[2018-04-26 15:12] #1050 closed

[2018-04-26 15:17] Aurelsicoko commented on #171
Okay, it makes more sense! However, it's not the right thing to tell that the project is "shit" because we don't want to handle the SSL part. We're doing the right thing (best practice) and avoid bad performances for our users. I know it can be tricky (especially in your case) but it doesn't mean it's our fault.

This good practice doesn't come with HTTP/2, it has always been the right way to hand

[2018-04-26 15:33] soupette commented on #496
Hi @Joshfindit, we haven't started to implement the JSON input yet.
However you can 'easily' implement your own in the content manager ([I found this one](https://github.com/mac-s-g/react-json-view)) that shouldn't be hard to add.

In order to do you have to create an JSONInput in ` plugins/content-manager/admin/src/components/JSONInput/index.js`;

then you need to import it in the `Edit` componen

[2018-04-26 16:44] derrickmehaffy commented on #557
It should be noted that in some cases the required attribute may be only one-sided (thinking Many to One relationship)

Manufacturer may have multiple models, but you shouldn't need to specify a model when adding a manufacturer, however you should need to specify a manufacturer when adding a model if that makes any sense.

[2018-04-26 18:15] abdonrd commented on #875
@lauriejim if I use `npm start` the server restart doesn't work. If I use `strapi start` it works.

[2018-04-27 09:01] lauriejim commented on #875
Okay, it's normal check my comments for #1008 issue.

[2018-04-27 09:01] #875 closed

[2018-04-27 09:02] Luukth commented on #800
@lauriejim should I close this issue?

[2018-04-27 09:09] lauriejim commented on #927
In your application side, you just have to use `/connect/:provider`

I'm not sure to understand your question.

[2018-04-27 09:11] lauriejim commented on #891
Okay great :)

[2018-04-27 09:34] Aurelsicoko commented on #1007
It looks awesome! I don't think there is a major issue with the translation in Strapi at this time. However, we should keep in mind that we have to switch on a more conventional way to manage them in the future.

[2018-04-27 09:41] lauriejim commented on #800
Yes please :) @Luukth

[2018-04-27 09:45] Aurelsicoko commented on #902
@doublemarked I think we should use the `options` attributes in the models.

[code]

[2018-04-27 09:50] Aurelsicoko commented on #876
@pedrosimao What do you think about launching the index build every time there is a change in the unique key of an attribute? We have access to the previous state and the next state of the attribute, so we could easily do that. However, if you have a lot of data in your database it could take some time to rebuild the index. But, you're not changing this kind of validation every day so when it's do

[2018-04-27 09:57] Aurelsicoko commented on #845
@tranthebao You've pointed out a great feature that we have to implement to make the framework better. There is already a feature request about the validation layer on the [community vote page](https://strapi.io/vote).

We're thinking about implementing Joi directly on the router like Hapi does. It works great and it's perfect to validate incoming and outcoming data. What do you think about that?

[2018-04-27 09:59] pedrosimao commented on #876
@Aurelsicoko ok, thanks for your guidance. I will look into that this weekend! =)

[2018-04-27 10:03] Aurelsicoko commented on #661
Love the idea! It could be easily handled. It's more like an "end-user" issue but as you can see we like clean UI so we definitely have to add this feature in the near future. Recently, we already did something similar with the policies.

[code]

It allows you to add description and label to a policy. We'll use this label and description to improve the Permissions page in the adminstration panel.

[2018-04-27 10:12] #800 closed

[2018-04-27 10:27] Aurelsicoko commented on #876
Awesome, I'm looking forward to seeing your PR!

[2018-04-27 12:44] Aurelsicoko commented on #802
@XcrossD Did you add the `plugin` property manually or it comes from the Content-Type Builder?

[2018-04-27 13:32] jsamr commented on #1007
@Aurelsicoko I don't unfortunately :-)

Je n'avais pas réalisé que c'était un projet français ! Un beau projet, bravo à l'équipe.

[2018-04-27 13:46] nurikabe opened #1051 "Move :_id validation to routes.json?"
**What is the expected behavior?**

More of a refactor than a feature.  Right now strapi generates parameter validation code in the actions like this:

    if (!ctx.params._id.match(/^[0-9a-fA-F]{24}$/)) {
      return ctx.notFound();
    }

Would it make more sense for this kind of validation to live in `routes.json`?:

      "method": "GET",
      "path": "/blah/:_id([0-9a-fA-F]{24})",

---

- [

[2018-04-27 13:48] nurikabe commented on #845
I was just looking at https://github.com/koajs/joi-router.  Looks very good for this.

[2018-04-27 13:52] Aurelsicoko commented on #802
Okay, I found the issue! It should be fixed https://github.com/strapi/strapi/pull/1052

[2018-04-27 13:54] Aurelsicoko commented on #886
@XcrossD Maybe [this change](https://github.com/strapi/strapi/pull/1052) has fixed this issue as well?

[2018-04-27 14:21] jsamr opened #1053 "Add a `name` property in attribute entry (model)"
**What is the expected behavior?**

Allow separation between model attributes names and domain names. I.E, I'd like content editors to read "user-friendly" names when they generate content. Perhaps this could go along with content internationalization.

Sample `*.settings.json`

[code]

---

- [x] I'm sure that this issue hasn't already been referenced

[2018-04-27 14:31] jsamr opened #1055 "Separation between api, table and UI names"
**What is the expected behavior?**

In models, I'd like to have a clear separation between:

- database collection/table names
- api route names (often the same)
- UI localized names

With the same rationale as in #1053, UI names or domain names are consumed by content creators, which might not master the language database collection names were written in.

---

- [x] I'm sure that this issue hasn

[2018-04-27 14:40] #1013 closed

[2018-04-27 14:53] #802 closed

[2018-04-27 14:54] Aurelsicoko opened #1057 "Follow OpenCRUD specification"
**What is the expected behavior?**

We should follow the [OpenCRUD specification ](https://github.com/opencrud/opencrud)for our GraphQL API. It will allow everyone to enjoy futures generic services like documentation (as Swagger does with REST API) and easily switch between different GraphQL APIs which are following the same specification.

Thank @schickling for the proposal! We'll add this to our

[2018-04-27 16:56] LuisLoureiro commented on #802
@Aurelsicoko As you recommended I updated my **strapi** version to 3.0.0-alpha.12.0.1 and tried again.
I started a new project with the default database configurations and created my first two content types: **Clubs** and **Teams**.
Everything was ok until I decided to relate the two content types.
I chose Clubs to relate with Teams and when I selected Teams, in the right-side box, the header got

[2018-04-27 21:26] lauriejim commented on #1053
I think it's in the same way as this issue https://github.com/strapi/strapi/issues/661#issuecomment-368846919 can you confirm that @jsamr

[2018-04-28 02:00] nodox commented on #530
I do wish this would support firebase as the database. How do I write my own plugin or data provider to connect with Firebase?

[2018-04-28 07:43] derrickmehaffy commented on #661
@Aurelsicoko glad to hear it should be fairly easy. I'm new to admin panel design, or I would take a look at solving it myself. No rush though, I know you guys are focusing on making things stable which is much more important that QOL features :P

[2018-04-28 07:47] derrickmehaffy commented on #1057
If I might poke a little bit more at this, I think the general restAPI should as well to allow for easy use of swagger. I suggested such a feature a few months back to have swagger documentation included in strapi, but it wasn't in the pipeline.

[2018-04-28 07:50] derrickmehaffy commented on #1057
OpenAPI Specification: https://github.com/OAI/OpenAPI-Specification

For the same reason as OpenCRUD and would allow for easy use of swagger with strapi (extremely useful for documenting the API without having to "try" and decipher the documentations page: https://strapi.io/documentation/guides/requests.html#api-reference

[2018-04-28 07:53] oeddyo commented on #860
Thanks @lauriejim
missed your msg.

do you want me to upload the folder? or how shall I help checking admin/src?

[2018-04-28 07:53] oeddyo commented on #860
oh i saw #1022 did you fix it already?

[2018-04-28 07:56] soupette commented on #860
Hi @oeddyo you need to edit this [file](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-type-builder/admin/src/containers/Form/utils/attributeValidations.js) and rebuild the plugin.

[2018-04-28 10:19] f2net opened #1058 "GraphQL nesting security limit"
**What is the expected behavior?**

I think there should be a limit (set by admin interface) to the nesting depth of a GraphQL query.
Otherwise launching queries like the one below could overload the server:
[code]

What do you think about it?

---

- [X] I'm sure that this issue hasn't already been referenced

[2018-04-28 10:29] abdonrd commented on #875
@lauriejim I just see the:

But in my `package.json`, the `start` script is `"start": "node server.js",`

[2018-04-28 14:27] bartoszgajda55 commented on #875
@abdonrd You have to replace `"start": "node server.js"` with `"start": "node_modules/strapi/bin/strapi.js start"` in your `package.json` file, and then you can run it with PM2 `pm2 start npm -- start`

[2018-04-28 15:25] abdonrd commented on #885
From https://github.com/strapi/strapi/issues/972#issue-315762164:

[2018-04-28 15:30] jsamr commented on #1053
@lauriejim Almost, but ideally it would also be integrated with UI localization, so I have attribute names updated when I switch to another locale.

[2018-04-28 15:33] jsamr commented on #1053
@lauriejim I close this issue and I'll put my suggestion in the aforementioned ticket.

[2018-04-28 15:33] #1053 closed

[2018-04-28 15:34] jsamr commented on #661
@derrickmehaffy Great proposition. It would be even nicer if it was pluggable in UI localization module.

[2018-04-28 18:46] kamalbennani opened #1059 "OneToMany Relationship is considered as OneToManyMorph"
**Informations**
- **Node.js version**:
v9.6
- **npm version**:
v6
- **Strapi version**:
Latest 3.0.0-alpha.12.0.1
- **Database**:
Mongo
- **Operating system**:
Linux

**What is the current behavior?**
When creating `OneToMany` relationships with the same relation attribute name in this case `batches` in the `Course` Entity and `batches` in the `Subject` Entity it's considered as OneToManyMorph wh

[2018-04-28 19:12] ujal commented on #875
@lauriejim pm2 works just fine with the `--no-pmx` flag - `pm2 start strapi --no-pmx -- start`

[2018-04-29 18:25] normanzb opened #1061 "GraphQL query error: "TypeError: Cannot read property 'primaryKey' of undefined""
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: mongodb
- **Operating system**: macos 10.13.1

**What is the current behavior?**
Error thrown after sending graphql query to custom content type that has a manyToMany relation to user type.

**Steps to reproduce the problem**
1. Create a "custom" content-type with manyT

[2018-04-29 18:28] kadaan opened #1062 ""Add New Content Type" modal dialog displayed bottom aligned"
### Configuration
| Node Version  | NPM Version |     Strapi Version    | Database |           OS                     | Resolution | Browser |
| ------------- | -------------- | ------------------ | --------- | --------------------- | ----------- | -----|
| v9.11.1            | 5.6.0                | 3.0.0-alpha.12.0.1  | Mongo     | Os X 10.13.3 (17D47) | 2880 x 1800 | Chrome  65.0.3325.181 |

##

[2018-04-29 20:34] normanzb opened #1063 "v1.6.4 why not enable graphql post by default?"
**What is the expected behavior?**

on 1.6.4, post to /graphql doesn't work, because of below line:
https://github.com/strapi/strapi/blob/1.6.4/lib/configuration/hooks/router/index.js#L111
Looks like `get` should be replaced with `all` instead?

Also it seems apollo by default using POST for sending request no matter it is read only or not, fixing graphql to `get` is kind make it difficult to inte

[2018-04-29 22:15] lags opened #1064 "Lost relate data from image after update document"
*BUG TEMPLATE*

**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 6.0.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MongoDB v3.6.4
- **Operating system**: Ubuntu 16.04.4 LTS 64bit

**What is the current behavior?**
I have create a new api called: 'shops' and I put media content type with allow multiple file, any information field string (ex. name, description, etc...)

[2018-04-30 01:56] Lengatox commented on #997
Thanks, it works with the changes that you made in the syntax, but when i try to replace the query generated by graphql, for a personalized query it tells me that  expected a ",".

Maybe you could help me by giving me an example of how to make a complex query and Link it to a controller action.

[2018-04-30 02:02] Lengatox commented on #997
@lauriejim
This is an example of the query I try to execute following the guide that is in the Strapi documentation.

I already have models and relationships created.

module.exports = {
  definition: '',
  query:
	 'wllogins { status errorMessage form { user{ name placeholder width errorText validation } } } ',
  type: {},
  resolver: {
     Query: {
	wllogin: {
	  description: 'Return  login',

[2018-04-30 02:18] XcrossD opened #1065 "Number field cannot be edited"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
alpha.12.0.1
- **Database**:
mongod version: 3.4.14
- **Operating system**:
Windows 10

**What is the current behavior?**
Only number field cannot be edited in content type builder. It shows `This field is not editable at the moment...`

**Steps to reproduce the problem**
1. Add a new number field
2. Click

[2018-04-30 02:50] XcrossD commented on #886
@Aurelsicoko This is a browser issue. I updated to alpha.12.0.1 and it works on chrome but not on firefox. I'm really out of luck using firefox as my main development browser. Maybe I should switch to chrome.

[2018-04-30 08:13] lauriejim commented on #1062
Hello @kadaan, can you provide a screenshot please.

[2018-04-30 08:14] damtsnkff commented on #871
@Dane411 which version of node are you using?

As mentioned in the documentation, Strapio requires Node >= 9. _(Requirements [here](https://strapi.io/documentation/getting-started/installation.html#requirements))_

I had the exact same issue because I was using Node > 8.

Tip: If you have to switch between nodes version for different projects, you might like [NVM](https://github.com/creationix/nvm

[2018-04-30 08:15] kadaan commented on #1062
Crud.  Totally took the screenshot and forgot to attach it.  Here you go:

<img width="1440" alt="screen shot 2018-04-29 at 11 08 50 am" src="https://user-images.githubusercontent.com/1904898/39419270-ee53a5c4-4c13-11e8-97db-d6186859839b.png">

[2018-04-30 08:51] jezperp opened #1066 "Can't save new content type"
First of all I'm sorry if this issue already exists, I have searched for it but can't find it.

**Issue:**
I've set up my environment using your Getting Started Guide. I can get started as in logging in to the Admin panel, but it seems I can't create a new Content Type. I just get an error (see image).
I've also set up my table in my database with id and name as columns. The error type is 500 with

[2018-04-30 08:59] notedit commented on #1066
yes,  same  error

[2018-04-30 08:59] jezperp commented on #1066
Apparently you get this error if you've already generated an API with CLI, so to fix this I deleted my generated API from the API-folder and clicked save.

[2018-04-30 08:59] #1066 closed

[2018-04-30 09:27] abdonrd commented on #870
Yes, I use Mongoose.

Thanks @lauriejim!

[2018-04-30 10:15] jezperp commented on #1000
Had this same problem, fixed by setting Body to x-www-form-urlencoded and using the params "identifier" and "password"

[2018-04-30 13:42] gnpretorius commented on #485
@lauriejim

I think this is a mistake. MySQL, Postgre & MongoDB are complete overkill for 90% of use cases out there. Also, having a development version which is completely isolated and self contained goes a long way in help evaluating the framework as well as spiking out new work.

For the additional 5% effort needed to support Sqllite (I'm assuming most of the data access is abstracted through a

[2018-04-30 13:45] subhero24 commented on #485
I feel the same way. Not supporting SQLite has also stopped me from trying out strapi. SQLite lowers the barrier for entry significantly, and is even enough for most use cases beyond tryout.

[2018-04-30 14:30] lschans opened #1069 "Hash is placed and stored in password field when editing a user in the admin"
Node: v8.9.4
npm: 5.6.0
Strapi: 3.0.0-alpha.12.0.1
Database : mongodb v3.4.4
OS: macOS 10.13.4

Behavior:
When I edit a user in the admin, the password field gets filled with the hash of the password. You can verify this inspecting the generated source using the element inspector. When you save the user, the password gets replaced with the hash instead of the password. Next time the user tries to

[2018-04-30 14:39] daru23 commented on #1069
I am having the same issue. Could somebody please take a look to solve it.

[2018-04-30 15:12] lschans commented on #1069
Update:
It seems to only happen when you have touched the password field before saving.
In MongoDB the password field goes to 'null' also when I use a password starting with '$2a$10$' this happens.

So if my password is '$2a$10$Awes0mePa5s' it's setting it to 'null' in the database.

[2018-04-30 15:14] soorur commented on #977
Same bug, running also on Windows :D

[2018-04-30 15:57] lauriejim commented on #1061
Hello @normanzb can you update your issue and follow the issue template please. We will not work on your issue until it's done.
Thank you.

[2018-04-30 16:05] lauriejim commented on #1063
Hello @normanzb, we stop to support `1.6.4` version and now we fully work on v3.
Mutation on in a specific branch of the module https://github.com/strapi/waterline-graphql/tree/improve/mutations

[2018-04-30 16:05] #1063 closed

[2018-04-30 16:07] lauriejim commented on #1064
https://github.com/strapi/strapi/issues/1048

[2018-04-30 16:07] #1064 closed

[2018-04-30 16:19] lauriejim commented on #752
Hi @thucxuong We will not work on this feature request. If you want it, feel free to submit a PR. Will appreciate your contribution.

[2018-05-01 07:19] kadaan opened #1075 "After adding date, cannot add relation"
### Configuration
| Node Version  | NPM Version |     Strapi Version    | Database |           OS                     | Resolution | Browser |
| ------------- | -------------- | ------------------ | --------- | --------------------- | ----------- | -----|
| v9.11.1            | 5.6.0                | 3.0.0-alpha.12.0.1  | Mongo     | Os X 10.13.3 (17D47) | 2880 x 1800 | Chrome  65.0.3325.181 |

##

[2018-05-01 07:31] kadaan opened #1076 "Text overflow on Content Type Builder list page"
### Configuration
| Node Version  | NPM Version |     Strapi Version    | Database |           OS                     | Resolution | Browser |
| ------------- | -------------- | ------------------ | --------- | --------------------- | ----------- | -----|
| v9.11.1            | 5.6.0                | 3.0.0-alpha.12.0.1  | Mongo     | Os X 10.13.3 (17D47) | 2880 x 1800 | Chrome  65.0.3325.181 |

##

[2018-05-01 07:47] kadaan commented on #661
Following what @derrickmehaffy stated, the api naming should be automatically generated, but able to be overridden.

[2018-05-01 07:58] kadaan commented on #1041
Just to confirm, did this fix also resolve the same issue on the "New Entry" pages?

[2018-05-01 08:28] lauriejim commented on #1062
@kadaan thank you for this issue. We will not work on this issue cause it’s not a priority for us and we miss time to did it (I'm sure you can understand we work on more important things for you).
Feel free to submit a PR. Will appreciate your contribution on Strapi!
Check the contributing guide to start: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-05-01 08:29] kadaan commented on #1062
@lauriejim No worries.  Am I correct in assuming that the issue will remain open until fixed?

[2018-05-01 08:34] lauriejim commented on #1062
Yes. we need the community help to fix this kind of issues.

[2018-05-01 08:44] derrickmehaffy commented on #661
@jsamr and @kadaan I agree on both, going with localization it should be automatically generated as kadaan had said using the language specified but able to be overwritten for the admin view. Personally on the backend I think it should remain in English as almost all projects tend to stick to English backend anyway but that is just my opinion.

But I fully agree on localization on the front end, e

[2018-05-01 08:46] lauriejim commented on #1076
Hello @kadaan The same answer as your previous issue https://github.com/strapi/strapi/issues/1062#issuecomment-385624371

[2018-05-01 08:48] lauriejim commented on #1075
I think this PR https://github.com/strapi/strapi/pull/1068 will fix this issue.

[2018-05-01 08:54] derrickmehaffy opened #1077 "Numerical Field does not properly show value Zero"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v5.6.0
- **Strapi version**: 12.0.1
- **Database**: MongoDB v3.6.4
- **Operating system**: Ubuntu Server 16.04 LTS

**What is the current behavior?**
When using numerical field (Int, Dec, or Float) if a value of `0` is entered the content manager will show a `-` instead of the value. Also while editing a record if you place any val

[2018-05-01 09:26] Aurelsicoko commented on #530
@nodox We already have two connectors [Mongoose](https://github.com/strapi/strapi/tree/master/packages/strapi-mongoose) and [Bookshelf](https://github.com/strapi/strapi/tree/master/packages/strapi-bookshelf). I didn't check how we could support Firebase but it could be a great thing 👍

[2018-05-01 09:29] Aurelsicoko commented on #1058
You can already use the `limit` parameter for avoiding this.

[code]

Also, I'm not sure it's a great thing to put a default limit because how do you handle the case when you want to display all the articles of a user?

[code]

[2018-05-01 09:34] Aurelsicoko commented on #997
[code]

Did you try something like this?

[2018-05-01 09:35] Aurelsicoko commented on #886
Oh damn! I tried on Chrome, Safari and Opera, I forgot to test on Firefox. I'm going to check again on this browser and make a PR to fix it.

[2018-05-01 09:36] Aurelsicoko commented on #977
@XcrossD @soorur Which browser are you using?

[2018-05-01 09:37] normanzb commented on #1061
updated

[2018-05-01 09:37] #1065 closed

[2018-05-01 09:48] kadaan commented on #1062
@lauriejim Seems like it was just addition of a huge margin-top to the bootstrap-overrides.scss that was causing the issue.  Any idea why that existed?

[2018-05-01 10:03] #1059 closed

[2018-05-01 10:36] XcrossD commented on #977
Tested both on Chrome and Firefox.

On 2018 M05 1, Tue 5:36 PM Aurélien GEORGET <notifications@github.com<mailto:notifications@github.com>> wrote:

@XcrossD<https://github.com/XcrossD> @soorur<https://github.com/soorur> Which browser are you using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/strapi/strapi/issues/977#issue

[2018-05-01 11:41] soorur commented on #977
Latest Chrome as well - funny thing is it only reproduces for the first entity in the permission list

[2018-05-01 12:38] Aurelsicoko commented on #886
@XcrossD It fixed https://github.com/strapi/strapi/pull/1081

[2018-05-01 12:59] oeddyo commented on #860
Trying to setup dev env. Following the guide but getting:

Strapi plugin succesfully started in development mode. ✓

-----------------------------------
Access URL: http://localhost:4000/admin
-----------------------------------
Press CTRL-C to stop

webpack built 395a2e61c045eded74f9 in 44308ms

ERROR in /Users/exie/workspace/fix-strapi-fork/plugins/analytics/admin/src/containers/NotFoundPage/ind

[2018-05-01 14:40] nurikabe opened #1082 "Routing from plugin"
**What is the expected behavior?**

I'm working on a documentation plugin.  Ideally I want the base route to show the documentation depending on user permissions.  In other words, I would like the docs to live here:

http://example.com/

rather than here:

http://example.com/admin/plugins/plugin-name/

I may be able to implement this as a configurable feature and submit a PR, but need some hints a

[2018-05-02 01:38] XcrossD commented on #977
@Aurelsicoko I didn't do anything extra in mLab after following [this tutorial](https://blog.strapi.io/using-mlab-with-strapi/). I think by default on mLab I have write permission? I don't see where I can set write permissions for individual collections either. As I mentioned before, the route permissions are saved. If I don't have write permission, how can the route permissions be saved? Maybe th

[2018-05-02 01:44] XcrossD commented on #977
@Aurelsicoko Also before you said it was running fine after I gave you the mLab. What is causing the difference now?

[2018-05-02 06:31] piere129 commented on #1013
This issue is closed but it seems like it hasn't been merged with master branch yet.. Any idea when this will happen? As of today, installing with npm install@alpha -g and creating a new strapi application still throws errors when editing fields of a created User.

[2018-05-02 06:41] derrickmehaffy commented on #1013
@piere129 thats because the pull request for this isn't pushed to live yet, it can take a bit for them to finish multiple patches and deploy a new build to npm

My guess is these fixes will come in 12.1 or 12.2.

You can check milestone progress towards the next build here: https://github.com/strapi/strapi/milestones

[2018-05-02 06:42] derrickmehaffy commented on #1013
Based on the progress and commits for 12.1, I would expect to see it within a few days to a weeks time.

[2018-05-02 06:51] piere129 commented on #1013
@derrickmehaffy  thank you for the quick response! This issue hasn't been added to a milestone yet, which is why I wanted to check whether or not progress was being made. Hopefully it gets added soon 😄

[2018-05-02 07:05] piere129 commented on #862
@ArkhipovK @Aurelsicoko  could you explain how you got this to work? I am struggling to understand how exactly to configure the json to handle this one-way relation. I get how adding new attributes works with the json for strings & booleans etc. , but not how to link an attribute to another content-type.

[2018-05-02 08:55] soupette commented on #1082
Well, in order to change the routing you have to create a new `Route` in the `AdminPage` container and modify the `LeftMenuLink` component so it doesn't redirect to `plugins/:pluginID`.

[2018-05-02 09:01] lauriejim commented on #1051
Actually this code is for mongoose controller template and not for bookshelf template.

If we move it in routes.json file. It will be applied on both, mongoose and bookshelf and it's not what we want.

[2018-05-02 09:01] #1051 closed

[2018-05-02 09:02] lauriejim commented on #860
@oeddyo We update the contributing guide. You have to link `strapi-helper-plugin` in analytics plugin. Or you have to remove the analytics plugin.

[2018-05-02 09:05] #1075 closed

[2018-05-02 11:00] nurikabe commented on #1051
Ah, right :bulb:

[2018-05-02 13:35] f2net commented on #1058
Aurelien, I didn't mean a limit on the number of records, but a limit on the depth of the nesting.
If it is possible to nest unlimited sub-queries, the api is subject to performance attacks causing heavy loads on the server.
@Aurelsicoko @pierreburgy

See this article by Max Stoiber:
https://dev-blog.apollodata.com/securing-your-graphql-api-from-malicious-queries-16130a324a6b

[2018-05-02 14:10] abdonrd opened #1086 "OAuth Apps & Personal access tokens"
**What is the expected behavior?**

As we are creating APIs... It is very likely that many of us want to offer these APIs to the public. It would be great to have a plugin that allows registered users to create OAuth Apps & Personal access tokens.

Example with GitHub:
* OAuth Apps: https://github.com/settings/developers
* Personal access tokens: https://github.com/settings/tokens

---

- ✅ I'm su

[2018-05-02 14:32] Matschik opened #1088 "404 message every route after creating the project"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MongoDB 3.6
- **Operating system**: Debian 8 (64 bits)

**What is the current behavior?**
I get a 404 message when I'm going to `mydomain.com/strapi`.
I redirect `mydomain.com/strapi` to port 1337 with Nginx.

mydomain.com/strapi
[code]

PM2 logs
[code]

Nginx config
[co

[2018-05-02 15:54] lauriejim commented on #1086
Hello @abdonrd, it's a commun usage of APIs you are right.

Anyone feel free to develop this plugin. Not a priority for us now.
Start here: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-05-02 18:35] Devhound opened #1093 "running npm run setup returns 'SyntaxError'"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**:  3.0.0-alpha.12.0.1
- **Database**: mongodb
- **Operating system**: ubuntu 16.0.4

**What is the current behavior?**

ran npm run setup after changin admin config. Got error message
[code]

**Steps to reproduce the problem**
Followed this tutorial
https://blog.strapi.io/how-to-deploy-a-strapi-application

[2018-05-02 18:42] Devhound commented on #1093
I'm also getting 401 errors when trying to create new content types. This doesn't happen locally but on a ubuntu 16.0.4 server it's a different story. I tried to change my admin config to the ip instead of localhost but when I ran npm run setup I got the above error message. I followed the docs and blog post I linked above.

[2018-05-02 18:50] enoy opened #1094 "image is missing when I edit the content again in admin."
**Informations**
- **Node.js version**:
v9.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0 alpha 12.0.1
- **Database**:
mongo
- **Operating system**:
Mac 10.13.4 (17E199)

**What is the current behavior?**
update image & edit it again, the image is missing in media field.

**Steps to reproduce the problem**
1. Use Content Type Builder to add a contenttype named product.
2. Add some field

[2018-05-02 19:41] nathanmarks commented on #1093
I'm seeing the same issue. Happens during the `build` task in admin

[2018-05-02 22:14] commentatorboy commented on #783
Just wanted to add to this current problem.
Because even when I use postman and try to login it does not work.
Please refer to the pictures

![image](https://user-images.githubusercontent.com/1793964/39551816-dcee84ca-4e66-11e8-9e2f-5976c5e93dbe.png)

![image](https://user-images.githubusercontent.com/1793964/39551825-e816907c-4e66-11e8-8329-e08a23dd385a.png)

[2018-05-03 06:40] kadaan commented on #1076
The issue here seems to be that the height of the `li` tags which make up the list rows is fixed at 5.7rem.  One possible solution is to change this from height to min-height.  One thing that still should be fixed is specifying a min width for the table.

![min_height](https://user-images.githubusercontent.com/1904898/39562715-18d6fa9e-4e62-11e8-9cf0-012724e588c3.gif)

[2018-05-03 07:31] kperveen opened #1095 "user/me api returns only _id for admin and both _id and id for authenticated users"
**Informations**
- **Node.js version**: 9.10.1
- **npm version**:  3.0.0-alpha.12
- **Strapi version**: 3.0.0-alpha.12
- **Database**: monogdb
- **Operating system**: Ubuntu 14.04

**What is the current behavior?**
 When `/user/me` is called for an admin user, the response data does not contain the `id` attribute. However, when the same api is called for an authenticated user, the api returns both

[2018-05-03 07:33] soupette commented on #1093
This issue has been fixed already but we haven't released it #1033 . The patch should be available today.

[2018-05-03 07:49] underbayan commented on #1094
It also happened to me, This issue is not an accidental phenomenon

[2018-05-03 09:58] latata opened #1096 "CSRF mismatch with login request"
I'm testing production environment in strapi (v3) with csrf enabled and I realised I can't login because I'm getting CSRF token mismatch. This is because I don't send any csrf token from frontend. Is there a way to get this token from api or something like this? Should /auth/local request require csrf token as it can be executed by non authenticated users?

[2018-05-03 12:22] piere129 opened #1101 "Strapi Start not compiling with existing MySQL database"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: MySQL
- **Operating system**: Windows

**What is the current behavior?**

Starting the application with strapi start after installation returns the following error:
`[2018-05-03T12:12:28.984Z] debug Server wasn't able to start properly.
(hook:bookshelf) takes too long to

[2018-05-03 12:31] lauriejim commented on #783
@commentatorboy Can you user `raw` format.
Check your permissions in admin panel. Public role have to be authorized to create new user.

[2018-05-03 12:36] lauriejim commented on #1094
Hello @enoy and @underbayan ! We just release new version of Strapi, can you try to update your version of Strapi and test it again please.

[2018-05-03 12:37] lauriejim commented on #1101
Hello @piere129 can you update `/config/hook.json` key `timeout` and tell me if it works.

[2018-05-03 12:38] piere129 commented on #1101
@lauriejim what should i update it to?

[2018-05-03 12:41] piere129 commented on #1101
I found the issue: the new strapi update 12.1 auto-generates tables in your database, i was not aware of this because I had existing tables already. These probably caused the error!

[2018-05-03 12:49] commentatorboy commented on #783
@lauriejim
What do you mean by raw format? The input parameters is in json in the body, when I send my request.
I login as an admin while I create a new user.
You can see the first picture, that I login as an admin (which is the first user I created)
The funny thing is that it works when I login through the login page, but not here.

[2018-05-03 12:54] storm1er commented on #672
@lauriejim I see this has been deleted from 3.0.0-alpha.12.3 milestone, can we have some follow up on this ? Thanks :)

[2018-05-03 12:55] piere129 commented on #1101
That did the trick! Apparantly the app automatically stops compiling when the loading time exceeds the timeout number, making this number higher fixed my problem!

[2018-05-03 13:01] lauriejim commented on #1095
Every data created with the content manager have `id` key. If you create data from another way, the `id` key will not exist.

[2018-05-03 13:01] #1095 closed

[2018-05-03 13:04] lauriejim commented on #1101
There is no issue here, it's normal. If the load time exceed the timeout, we haven't database connection (in this case) so we have to stop the app cause it will be not usable.

[2018-05-03 13:05] lauriejim commented on #1096
Hello @latata can you follow the issue template please. Will reopen this issue when you did it.

[2018-05-03 13:05] #1096 closed

[2018-05-03 13:08] lauriejim commented on #783
Did you follow this guide https://strapi.io/documentation/guides/authentication.html ?

[2018-05-03 13:17] #1101 closed

[2018-05-03 13:49] Matschik commented on #1088
I changed Nginx config to:
[code]

It worked ! I must load Strapi only on server root. That's why all `/strapi/*` routes return 404.

**Possible fix**
Strapi must support other than root server url `/`.

[2018-05-03 14:02] kperveen commented on #1095
hey @lauriejim
Yeah, it creates an `id` for admin data (when registered via the admin panel) but it's not returning that `id` when `/user/me` is called for admin

[2018-05-03 14:12] manojkumar7488 opened #1102 "SSL support not working in strapi v3, we need it for facebook authentication"
SSL support not working in strapi v3
we can try :
1.
![screen shot 2018-05-03 at 7 30 25 pm](https://user-images.githubusercontent.com/13350196/39581699-d0d502f6-4f09-11e8-9677-66441568c1b1.png)

but in this way render only  https://site_urlindex.html

please give me suggession how to do facebook authentication using strapi framework locally

[2018-05-03 14:14] soupette commented on #1102
Hi @manojkumar7488 maybe you can try to follow this [tutorial](https://github.com/strapi/strapi-examples/blob/master/login-react/doc/github_setup.md) but with Facebook

[2018-05-03 14:20] derrickmehaffy commented on #661
This is an example of one of the terrible automated plural forms created by default:
![image](https://user-images.githubusercontent.com/8593673/39582201-48b3a420-4ea2-11e8-875e-063cd4785e0f.png)

siteGr -> Sitegrs
siteGs -> Sitegs
siteGy -> SiteGies (completely wrong lol)

[2018-05-03 14:29] Aurelsicoko commented on #977
The issue was due to permissions duplication, I made a PR to fix it (https://github.com/strapi/strapi/pull/1103)

[2018-05-03 14:30] commentatorboy commented on #783
Yeah it works, but did not want to use ajax calls and just wanted to test it through postman.
But nevermind that. I might have done something wrong in the postman configurations.

[2018-05-03 14:40] soupette commented on #1093
You need to remove the `analytics` plugin then it should be working with the latest release

[2018-05-03 14:41] #865 closed

[2018-05-03 14:42] #1093 closed

[2018-05-03 14:55] Aurelsicoko commented on #736
I've some news about this issue. I've fixed another one #977 and the [PR](https://github.com/strapi/strapi/pull/1103) could also solve this one.

[2018-05-03 14:56] #977 closed

[2018-05-03 14:58] BedzOne opened #1104 "s"
*BUG TEMPLATE*

**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

**Steps to reproduce the problem**

**What is the expected behavior?**

**Suggested solutions**

---

*FEATURE REQUEST TEMPLATE*

**What is the expected behavior?**

---

- [ ] I'm sure that this issue hasn't already been refer

[2018-05-03 15:07] #1104 closed

[2018-05-03 15:08] lauriejim commented on #1104
Please update your issue if you have something to report.

[2018-05-03 15:39] #126 closed

[2018-05-03 15:56] derrickmehaffy opened #1105 "Bookshelf Error - Unhandled promise"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**
After starting a new strapi project using mysql (mariadb) bookshelf throws a nice big error:

**Edit to remove wall of log text**

 Logfile: https://pastebin.com/FuAuR96n

**Step

[2018-05-03 15:58] andrejko opened #1106 "Client side routing"
Does anyone know the way to make Strapi serve index.html for all requests?
Initial problem is that some React routes like /location/2 are handled by backend, instead of serving index.html and, by that, handling them on front.

[2018-05-03 15:58] derrickmehaffy commented on #1105
Looks like after shutting down the server and restarting it causes this error:

`dmehaffy@capi1:~/api/CAPIv2-Strapi$ strapi start
[2018-05-03T15:58:13.223Z] debug Server wasn't able to start properly.
(hook:bookshelf) takes too long to load
`

[2018-05-03 17:06] blaasvaer opened #1108 "Creating project fails ..."
I get this when following your get started guide:

[code]

[2018-05-03 17:09] blaasvaer commented on #1108
Well, running the wrong npm version for whatever reason.

[2018-05-03 17:09] #1108 closed

[2018-05-03 17:16] JasonAtallah opened #1109 "Content Type Builder not working on AWS"
**Informations**
- **Node.js version**: 9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.0.1
- **Database**: MongoDb
- **Operating system**: Linux Ubuntu

**What is the current behavior?**
Cannot create new content types
**Steps to reproduce the problem**
Deploy app to AWS, try to create a Content Type
**What is the expected behavior?**
To create a Content Type

Everything work

[2018-05-03 21:13] Aurelyn10 opened #1111 "Need Array Fields about general data types."
How can I create multiple items (array) in the number or string fields in Content Type Builder plugin?
I want same key name/different value pairs, like as array or list.
I want to put multiple datas in one field like as current media field ( It has  the option of “Allow multiple files”.)
Thank you.

[2018-05-03 21:21] Aurelyn10 opened #1112 "How can I add search bar and CSV file download button on the content manager page?"
Keystone.js has the feature.
http://demo.keystonejs.com/keystone/galleries
(Sign in with the username _demo@keystonejs.com_ and the password **_demo_**)
I attached the screenshot.
![screenshot](https://user-images.githubusercontent.com/35254636/39603401-d02a946e-4f5a-11e8-992a-e42b2ab9a413.png)

Thank you.

[2018-05-04 01:31] micahscopes commented on #485
I just wanted to chime in and say "sad!"  I hope some day there's room for sqlite or something like it!

[2018-05-04 01:45] XcrossD commented on #977
@Aurelsicoko  Weird, I just updated to 12.2 and this issue still persists. I see some permissions are ticked, some are not, so I tick those that are unticked and save, but only those that were originally ticked are visible.

[2018-05-04 02:13] xkawi commented on #1105
having the same error too when creating new project using postgres as database:

[code]

It's this line of code: `Promise.all(toRemove.map(action => strapi.query('permission', 'users-permissions').removePermission(action)))` at [here](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/services/UsersPermissions.js#L279)

I am not familiar with user-permission plug

[2018-05-04 05:26] manojkumar7488 commented on #1102
Hello @soupette  after login i got

{"statusCode":400,"error":"Bad Request","message":"This provider is disabled."}

Why this error

[2018-05-04 06:07] derrickmehaffy commented on #1105
In my case I did the initial setup the server started with those errors, however past that I cannot restart it after shutting it down.

[2018-05-04 06:08] derrickmehaffy commented on #1105
@lauriejim any thoughts on troubleshooting and/or what other information do you need?

[2018-05-04 08:11] piere129 opened #1113 "Debug environment setup crashes at building Admin UI"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: MySQL
- **Operating system**: Windows 10

**What is the current behavior?**

I'm following the steps at the contributing guide (https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md) to install my development environment. After cloning the strapi repository and run

[2018-05-04 08:42] XcrossD commented on #977
Nevermind, I saw it's going to roll out in the next update. Although I'd like to come out sooner though.

[2018-05-04 08:42] soupette commented on #1102
Did you enable it in the `users-permissions` plugin?

[2018-05-04 08:44] derrickmehaffy commented on #1105
@piere129 ahhh good catch ill test and report back

[2018-05-04 08:55] lauriejim commented on #1109
I supposed you are using `npm start` to start your project on ec2 instance.
Please check old issues https://github.com/strapi/strapi/issues/1008

[2018-05-04 08:58] soupette commented on #1113
Hi @piere129 the `setup:build` is broken however the `npm run setup` works fine.

You can fix the first one by making those changes (it's not mandatory since the command `npm run setup --plugins` works when ran in a generated app):

**Path -** `./scripts/setup.js`

[code]

**Path -**: `./strapi-helper-plugin/lib/internals/scripts/loadAdminConfigurations.js`

[code]

Then you need to change the web

[2018-05-04 09:32] piere129 opened #1114 "Deleting/Updating content-type doesn't drop/migrate the database"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha 12.1.2
- **Database**: MySQL
- **Operating system**: Windows 10

**What is the current behavior?**

Deleting a content-type does not drop the database table in MySQL, & when I navigate to roles & permissions, I can still see the deleted content-type and edit its permissions. When i create a new

[2018-05-04 09:38] manojkumar7488 commented on #1102
yes i enable it

[2018-05-04 09:41] soupette commented on #1114
Hi @piere129!
As stated in #1025, we don't delete your tables we just create new ones, therefore the behavior you described is the correct one.

However, the behavior you about the `users-permissions` plugin is not the one expected.

[2018-05-04 09:56] piere129 commented on #1113
update: I added the code you mentioned in a brand new cloned strapi project, and ran npm run setup:build from the root directory, but now I get the following error:
`🏗  Building admin...
'IS_MONOREPO' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @3.0.0-alpha.12.1.2 setup: `npm run clean:all && npm install

[2018-05-04 10:02] derrickmehaffy commented on #1105
Can confirm that increasing the variable in hook.json from `3000` to `6000` allowed the server to start.

[2018-05-04 10:04] derrickmehaffy commented on #1114
@soupette for ease of use and general non-technical users I think the delete function is quite important. I referenced something similar with MongoDB before as well. If you create a endpoint, then remove it, it should drop those tables.

We wouldn't want in-experienced people having to drop tables manually in mysql, there is no case in which that is the proper way to handle it :P

[2018-05-04 10:05] derrickmehaffy commented on #1114
If its not already in the works to do, I think its something that should be looked at again, I understand it isn't possible currently but in the future it will need to be. Everything should be possible via the adminUI.

[2018-05-04 10:38] derrickmehaffy opened #1115 "Strapi states you need to create database manually"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**
When creating a new content type the adminUI still states to create the table manually:

![image](https://user-images.githubusercontent.com/8593673/39623958-46a34fe6-4f4c-11e8-86

[2018-05-04 10:41] Aurelyn10 opened #1116 "Error when customise admin dashboard"
*BUG TEMPLATE*

**Informations**
- **Node.js version:   9.10.1**:
- **npm version:     5.6.0**:
- **Strapi version:  3.0.0-alpha.12.1.2**:
- **Database: Mongodb 3.4 ( mLab) **:
- **Operating system:  macOS 10.13.4**:

**What is the current behavior?**
I want to know how I customise the admin dash board.
For example, I want to change the left top logo icon.
https://strapi.io/documentation/advanced/

[2018-05-04 11:06] derrickmehaffy opened #1118 "MySQL relations attempt to store json in an INT column"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: 10.2.14-MariaDB
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**
Based on this error:

[code]
Strapi is trying to put:
[code]
into the `system` column, whereas strapi created this column with an INT (likely to use the ID of the foreign table)

[2018-05-04 11:12] derrickmehaffy commented on #1118
For context here is my System/Body Content:

![image](https://user-images.githubusercontent.com/8593673/39625212-56261016-4f51-11e8-8974-8cc02486e8d6.png)

![image](https://user-images.githubusercontent.com/8593673/39625224-6239dbda-4f51-11e8-8299-ee83efefc8e0.png)

[2018-05-04 11:30] piere129 opened #1119 "Editing content-types in MySQL throws errors due to timestamps"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha-12.1.2
- **Database**: MySQL
- **Operating system**: Windows

**What is the current behavior?**

Updating a content-type with timestamps returns the following error in MySQL:
` error update 'tests' set 'id' = 2, 'teststring' = 'test2', 'created_at' = '2018-05-03T13:11:33.000Z', 'updated_at' = '

[2018-05-04 13:40] lauriejim commented on #1116
Hello @Aurelyn10 can you fix your issue message template (it's little bit unreadable)

[2018-05-04 13:43] srishti-56 opened #1120 "mongo_client error after adding field in existing Content Builder Type"
**Information**

Node.js version: v9.9.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.12.1.2
Database: v3.6.4-MongoDB
Operating system: Ubuntu 14.04 LTS

**What is the current behavior?**
I added an integer column to a Content Builder Type, called "Likes".
After clicking on Save, the server crashes and the following error is logged in the terminal:

[code]

**What is the expected behavior?**
Aft

[2018-05-04 14:07] kamalbennani commented on #1120
Please check your [Model].settings.json you are probably missing a model|collection key in the definition.

[2018-05-04 14:19] srishti-56 commented on #1120
Thanks for the quick reply!
I haven't seen a collection key in any of the files, is there a way to insert it manually?
The Blogpost.settings.json file looks like this (the other [Model].settings.json file has a similar format with no new keys so I've only added this one for reference)

[code]

[2018-05-04 14:32] soupette commented on #1116
Hi @Aurelyn10

We need to update the documentation but in order to rebuild the admin you need to run
**`npm run setup`** at the root of your project

[2018-05-04 14:36] derrickmehaffy commented on #1105
Update to the above comment, I've had to progressively increase that limit the more that is added. Right now I'm sitting at 20000 (~20 seconds) so something isn't quite working right :P

[2018-05-04 14:36] Aurelyn10 commented on #1116
Ok I attached the terminal log screenshot and updated.

[2018-05-04 14:54] Aurelyn10 commented on #1116
Whenever changing something, is it taking time with installing package?
There is no auto compilation feature like as webpack?

[2018-05-04 15:03] lauriejim commented on #994
It's have been release in alpha.12.1.2

[2018-05-04 15:03] #994 closed

[2018-05-04 15:11] soupette commented on #1116
You need to start your app in dev mode to have the autoreload.
Please refer to the [documentation](https://strapi.io/documentation/plugin-development/quick-start.html#plugin-development-setup)

[2018-05-04 15:16] kaasasolut opened #1124 "error: column "id" specified more than once"
**Informations**
- **Node.js version**: v10.0.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: PostgreSQL 10.3
- **Operating system**: macOS High Sierra 10.13.4

**What is the current behavior?**

strapi crashes on start with the following error message:

    UnhandledPromiseRejectionWarning: error: column "id" specified more than once

**Steps to reproduce the p

[2018-05-04 17:04] Aurelyn10 commented on #1116
I followed and did like this:
1. Development Environment Setup
   To setup the development environment please follow the instructions below:
      1)  Fork the repository to your own GitHub account.
      2) Clone it to your computer git clone git@github.com:strapi/strapi.git.
      3) Run npm run setup at the root of the directory.
2. Plugin development Setup
   Create a development project

[2018-05-04 17:34] Aurelyn10 commented on #1116
In my test project folder, run command : cd plugins/analytics && npm link strapi-helper-plugin.
so the error was disappeared, but admin page is blank in web browser, where is your admin page?

[2018-05-04 19:34] soupette commented on #1116
@Aurelyn10 do you have your `strapi server` running?

***Did you follow these instructions?***
[code]
If you followed this instructions it should be working localhost:4000/admin and register your first user.

[2018-05-04 20:01] gstazure commented on #532
Just started with strapi and got stuck in a similar issue.
Consider a simple model. A list of contacts,  and a list of cards. Contacts can have many cards but each card will have only 1 contact. Simple 1 to many relationship.

Stuck in catch 22. Cant add Contact without choosing Card and vice versa.
Its so ridiculous that I am sure that I am doing something stupid, but any help to fix it would be

[2018-05-04 20:02] soupette commented on #1113
@piere129 I think the bug is related with Windows...

Also, regarding your questions:

When customizing the `admin` (other than just changing the logo) you have two servers running:
- One that handles your back-end, the **Strapi** one ` strapi start` which runs on `PORT=1337`
- Another that handles your front-end which runs the admin `npm start` launched from the `my-app/admin` folder.

So, you wo

[2018-05-04 20:04] soupette commented on #1112
You can either modify the `content-manager` plugin or create a new plugin for that.

If you feel like developing one we can provide you with our thoughts on how it should be working and what the design will look like.

[2018-05-04 20:12] krestaino commented on #875
@ujal That works, but it's not loading Strapi in production. I tried `NODE_ENV=production pm2 start strapi --no-pmx --name="example.com" -- start` which loads it in production, but then I get the same error where the server isn't restarting correctly after adding new content types with fields.

Any suggestions?

[2018-05-04 22:19] ujal commented on #875
@krestaino Try the latest strapi@alpha. The error msgs got more descriptive.

[2018-05-05 02:15] Aurelyn10 commented on #1116
It works now, Thank you for your help.

I will wait for more detailed documentation.

[2018-05-05 02:16] #1116 closed

[2018-05-05 02:33] Aurelyn10 opened #1125 "Array fields for general data types in the Content Type Builder plugin"
**What is the expected behavior?**

How can I create multiple items (array) in the number or string fields in Content Type Builder plugin?
I want same key name/different value pairs, like as array or list.
I want to put multiple datas in one field like as current media field ( It has the option of “Allow multiple files”.)
I selected mongodb as database.
I already was suggested to create new plugin

[2018-05-05 07:16] storm1er commented on #1106
It depends on your server configuration, see https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#serving-apps-with-client-side-routing for exemple.

Note that you can also fix this through apache or ngynx depending on your server configuration.

[2018-05-05 07:43] enoy commented on #1125
I also often need to create multiple items (array or list) in the number/string/text/media fields in Content Type Builder plugin. Is there a way to do this?

[2018-05-05 07:46] enoy commented on #1111
I also often need to create multiple items (array or list) in the number/string/text/media fields in Content Type Builder plugin. Is there a way to do this?

[2018-05-05 11:17] doublemarked commented on #432
Annoyed by this problem, I took a few minutes to debug it. The solution is actually surprisingly simple - Strapi is passing a default `ssl: false` when connecting to the URI, and it's required to be true. The following works:

[code]

Use the driver 3.6+ style URI (`mongodb+srv`) as shown to you in the Atlas config modal.

[2018-05-05 13:38] dsheyp commented on #864
hi

for evaluation purposes I installed strapi for the first time, then created a user for the admin tool etc. etc... and the next day I had forgotten username and password. what I remembered was the email I had provided. so I went through the reset password process, got an email with a link which I followed. This brought me back to the login form, where I was asked to enter username and password.

[2018-05-05 16:29] hammad786 opened #1127 "Strapi Admin Panel taking too much time to load."
**Informations**
- **Node.js version**: latest
- **npm version**: latest
- **Strapi version**: Alpha
- **Database**: Mongo
- **Operating system**: Ubuntu

**What is the current behavior?**

I've done a fresh installation and it worked. Admin Panel taking too much time to load/render the body.

Console Error: It looks like the language "zh-Hans" is not supported by "react-intl" module.

**Steps to

[2018-05-05 16:51] nurikabe opened #1128 "ctx.session inside policies is always an empty object?"
**Informations**
- **Node.js version**:

9.11.1

- **npm version**:

5.6.0

- **Strapi version**:

3.0.0-alpha.12.1.2

- **Database**:

MongoDB

- **Operating system**:

Windows 10

**What is the current behavior?**

`ctx.session` inside of policies is currently an empty `{}` object

**What is the expected behavior?**

https://strapi.io/documentation/guides/policies.html indicates that we should b

[2018-05-06 07:24] Aurelyn10 opened #1129 "Browser New Window Title has always "Strai - ", Where Can I remove text ?"
**What is the expected behavior?**

I want to remove the text "strapi" on browser new tab, when open new routing. where is the setting?

---

- [ ] I'm sure that this issue hasn't already been referenced.

[2018-05-06 11:10] bzhr opened #1130 "Gatsby Strapi Tutorial: Error when creating content with relationship"
**Informations**
- **Node.js v9.11.1**:
- **npm v5.6.0**:
- **Strapi 3.0.0-alpha.12.1.2**:
- **MongoDB 3.6.4**:
- **Operating system**:

**What is the current behavior?**
I am following the [tutorial](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/) for using Strapi with Gatsby and after creating the first content type - article - I can't add an article with an author rel

[2018-05-06 11:26] Aurelyn10 commented on #1129
I found.
admin/admin/src/containers/Homepage
return (
      <div>
        <Helmet
          title={`Strapi- ${pluginName}`}
        />
        {containers}
      </div>

Change here.

[2018-05-06 11:26] #1129 closed

[2018-05-06 12:06] underbayan opened #1131 "Auto upgrade to latest version"
Strapi is excellent and very impressive. But when I want to upgrade it,The process is struggling. If there be possible a cli command like `strapi update` to make all plugins and packages upgrade.

[2018-05-06 14:13] wi4er opened #1132 "Google provider error"
**Informations**
- **Node.js version**: 9.11
- **npm version**: 5.6
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: mongodb
- **Operating system**: ubuntu 16.04

**What is the current behavior?**
When I am trying to set auth provider for google, I have completed all steps. But in last step I getting this error in back end:

**error undefined is not a function**

and in front end:

**{"mes

[2018-05-06 16:42] derrickmehaffy commented on #1131
@underbayan please search before creating new issues, this is exactly like https://github.com/strapi/strapi/issues/1018

If you will note in the issue template (which was deleted here) there is a checkbox stating you are sure this hasn't been referenced before.

Not trying to be rude or mean, just trying to help out the strapi team by cutting down on duplicate issues.

[2018-05-06 16:55] derrickmehaffy commented on #1127
@hammad786 I really wouldn't recommend openly putting that on here, and not much can be done from only the admin panel.

Also with the current bug of strapi showing password hashes this is a huge security issue for you.
I would remove that comment ASAP.

side note, I have no issues rendering the admin panel on chrome.

[2018-05-06 17:03] raulriera commented on #1125
As a workaround, why not create a new contentType and set the relationship of one to many? A little bit of boilerplate, but doable today

[2018-05-06 17:28] hammad786 commented on #1127
Thanks for the response :)

No worries about credentials since it is a testing droplet.

I just checked the settings tab where I had to enable GZip compression and it started to respond fast as expected. GZip compression is disabled by default due to development mode.

[2018-05-06 17:28] #1127 closed

[2018-05-07 02:28] Aurelyn10 commented on #1125
I think it will increase complexity, if there is many items to be listed as array to even base data type such as string and number.

[2018-05-07 02:29] #1111 closed

[2018-05-07 02:45] Aurelyn10 opened #1133 ""(hook:mongoose) takes too long to load” on hosting server."
**Informations**
- **Node.js version  9.10.1**:
- **npm version  5.6.0**:
- **Strapi version 3.0.0-alpha.12.1.2**:
- **Database mLab (mongo client 3.4)**:
- **Operating system , Hosting server : Linux version 2.6.32-896.16.1.lve1.4.53.el6.x86_64 (Red Hat 4.4.7-18)**:

**What is the current behavior?**
I linked mLab to my strapi sample project,
 I can run it on Linux hosting server without installi

[2018-05-07 02:47] #1112 closed

[2018-05-07 03:24] XcrossD opened #1134 "Cannot reach login page in plugin development environment"
**Informations**
- **Node.js version**:
9.8.0
- **npm version**:
5.6.0
- **Strapi version**:
alpha.12.1.2
- **Database**:
mongodb 3.6
- **Operating system**:
windows 10

**What is the current behavior?**
Cannot reach login page at `localhost:4000`. It tries to redirect but it is blocked by unauthorized response. Currently it only shows blank page.
![capture](https://user-images.githubusercontent.c

[2018-05-07 03:30] XcrossD commented on #1134
Regarding the translation thing I was able to make it go away by copying the `zh.js` files and renaming it to `zh-Hans.js`.

[2018-05-07 05:06] liming commented on #1130
I have the same error. The error is something like this:

[code]

[2018-05-07 06:07] piere129 commented on #1133
Take a look at #1105 , the error seems similar to the bookshelf error described there

[2018-05-07 07:32] piere129 opened #1135 "User throws _id error when calling update user api call in MySQL"
**Informations**
- **Node.js version**: 9.9.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: MySQL
- **Operating system**: Windows

**What is the current behavior?**

Updating a User with the api call '/user/:id' throws the following error in MySQL:
`{"statusCode":400,"error":"Bad Request","message":"select `users-permissions_user`.* from `users-permissions_user`

[2018-05-07 07:34] commentatorboy commented on #432
That does not work for me.
It still says:

Make sure your MongoDB database is running

[2018-05-07 07:35] doublemarked commented on #432
@commentatorboy hmm, really! And you're able to connect to the same URL using the mongo cli tools, yes?

[2018-05-07 07:41] commentatorboy commented on #432
Yes. I just use the default shell connection
`mongo "mongodb+srv://CLUSTERNAME-cluster-8z8rl.mongodb.net/DBNAME" --username USERNAME`

Btw. should there not be a password in the uri?

[2018-05-07 07:42] doublemarked commented on #432
@commentatorboy yes, there must be both username and password in the URI. they go at the front, before the hostname, and are separated by a colon `mongo+srv://USERNAME:PASSWORD@HOSTNAME`

[2018-05-07 07:45] liming commented on #1130
I figured this out. It's because the author field in article is a multiple selection instead of single selection. To make it as single selection, we need add a dominant flag in the Article.settings.json:

[code]

Then edit article field doing nothing but it can display "save" button. Save the configuration to restart & reindex the api. Edit an article. It would display author in article as single

[2018-05-07 08:00] commentatorboy commented on #432
Ok I tried it this way:
`mongodb+srv://USERNAME:PASSWORD@CLUSTERNAME.mongodb.net/DBNAME`
 But still says the same thing.

[2018-05-07 08:08] Dane411 commented on #871
@damtsnkff Thank you! Reviewing my previous comments I just realised when I first tried to use strapi I had an outdated node version (v6.10.2), but at some point trying to get this to work, I upgraded everything:
**Node.js version:** v9.10.0
**npm version:** 6.0.0

Now not only strapi still doesnt work, but npm hangs during fetch operation when running install command... View https://github.com/np

[2018-05-07 08:33] commentatorboy commented on #432
Ah Ok I just found something out...

I created a new database called strapi.

This returned the following error:

      throw er; // Unhandled 'error' event
      ^

Error: write EPIPE
    at _errnoException (util.js:1022:11)
    at ChildProcess.target._send (internal/child_process.js:702:20)
    at ChildProcess.target.send (internal/child_process.js:586:19)
    at sendHelper (internal/cluster/uti

[2018-05-07 09:10] Aurelsicoko commented on #862
@piere129 If you want to make a one-way relationship, for example, an article has an author, you've to update your `Article.settings.json` model like this:

[code]

However, you won't be able to retrieve all the articles related to a user. To do that, you've to make a one-to-many relationship between Article and User.

[code]

[code]

[2018-05-07 09:18] Aurelsicoko commented on #1058
@f2net Oh yes, I already read it! You're right we have to limit the depth of the nesting.

[2018-05-07 09:32] #1109 closed

[2018-05-07 09:36] Aurelsicoko commented on #672
@storm1er We're still focusing our efforts on the stability. Some of our resources aren't available as expected so we made the choice to delay the development of this feature.

[2018-05-07 09:38] Aurelsicoko commented on #1088
@Matschik You can prefix the API routes, check out the documentation https://strapi.io/documentation/configurations/configurations.html#request

[2018-05-07 09:38] #1088 closed

[2018-05-07 09:40] Aurelsicoko commented on #1095
It think it's related to the work started in https://github.com/strapi/strapi/pull/913

[2018-05-07 09:46] bzhr commented on #1130
@liming - Thanks for finding the solution, I will try it out right away. It seems that this needs to be created automatically. Is there more info in the docs on configurations of models?

[2018-05-07 09:53] Aurelsicoko commented on #1114
@derrickmehaffy I don't agree, we have to think for more use cases. What happens if you start the project with a production database and one the model name doesn't match with one of the tables in your database? Do we drop it? No, we can't do that. We want to avoid as many as we can to delete tables and data. We don't want to be the cause of data loss.

I think the best solution is to add a strict

[2018-05-07 10:01] Aurelsicoko commented on #532
@gstazure Try something like that

[code]

[code]

[2018-05-07 10:02] liming commented on #1130
@bzhr , I believe it's a bug. What I proposed is just a workaround.

[2018-05-07 10:14] bzhr commented on #1130
@liming yes, I agree, the solution to the issue is to integrate this in the program so that workaround isn't needed.

[2018-05-07 10:15] lauriejim commented on #1131
Thank you @derrickmehaffy for your message.

[2018-05-07 10:15] #1131 closed

[2018-05-07 10:31] lauriejim commented on #1130
@bzhr Can you update your global Strapi version `npm i strapi@alpha -g` and try again with a new project. We just patch it. Need to know if it works on your side.

[2018-05-07 10:35] lauriejim commented on #988
I am closing this issue because we don’t have any update/needed informations about it.

[2018-05-07 10:35] #988 closed

[2018-05-07 10:36] lauriejim commented on #942
I am closing this issue because we don’t have any update/needed informations about it.

[2018-05-07 10:36] #942 closed

[2018-05-07 10:37] bzhr commented on #1130
@lauriejim do I need to only update the strapi version, anything else to change in the project?

[2018-05-07 10:44] #1133 closed

[2018-05-07 10:46] lauriejim commented on #1130
1.Install new version of strapi
2. Create new app
3. Replace your plugin/content-manager/admin with the new one

Or just try with a new project

[2018-05-07 10:48] bzhr commented on #1130
How do I do number 3:

[2018-05-07 10:51] bzhr commented on #1130
Yes, it does work!

[2018-05-07 10:51] lauriejim commented on #1128
Hello @nurikabe what is your use case ?
Did you allow `sessions` in your request config ?
Maybe you also want tu use `ctx.state` as here https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-users-permissions/config/policies/permissions.js#L12

[2018-05-07 10:54] lauriejim commented on #1130
Perfect thank you !

[2018-05-07 10:54] #1130 closed

[2018-05-07 10:55] liming commented on #1130
Hi @lauriejim ,

I just curious about the design of plugins. The plugins are the features of strapi, and these features need to be updated constantly. On the other hand, the user changes are also saved into plugins. For example User.settings.json in users-permission/models. I can see the plugins need to be changed by both strapi and users. That's a design flaw, which will result in:

* It makes st

[2018-05-07 12:03] piere129 commented on #1119
Setting the timestamps option to false fixed my issue, but it seems like this shouldn't happen. I currently can't seem to find where the error occurs..

[2018-05-07 12:08] lauriejim commented on #1120
@srishti-56 Can you give me a log of variables used on the line 12 please.

[2018-05-07 12:10] lauriejim commented on #1119
Can you give me the column type you have in your database please.

[2018-05-07 12:13] lauriejim commented on #1118
You are using the content-manager ?

[2018-05-07 12:23] #1094 closed, assigned to lauriejim

[2018-05-07 12:28] lauriejim commented on #1076
@soupette It's the best guy to answer you.

[2018-05-07 12:30] lauriejim commented on #1069
Hello, can you try with new project on the last version of Strapi and tell me if it still happening

[2018-05-07 12:33] lauriejim commented on #1061
@normanzb Can you try with the last version of Strapi please.

[2018-05-07 12:37] piere129 commented on #1118
I just got the exact same error as @derrickmehaffy . For me at least, it is using the content manager. This is the api call:
`[2018-05-07T12:32:38.675Z] debug POST /content-manager/explorer/term/?source=content-manager (37 ms)
`
in my example, I have a content-type 'term' that adds a 'project' content-type. I'm guessing it tries to add a json object in the 'term' schema, to the project column, whi

[2018-05-07 12:38] lauriejim commented on #1130
Yes we know it's difficult, there is an issue about this point https://github.com/strapi/strapi/issues/1018. We have an hard work to do on it.

[2018-05-07 12:42] piere129 commented on #1119
@lauriejim both created_at as updated_at are datatype: timestamp

[2018-05-07 12:49] nurikabe commented on #1128
Ah, perhaps I'm not allowing sessions.  Is there a special config for this that I'm missing?

I basically just want to check `if (ctx.session.isAuthenticated === true)` inside a policy applied to a specific route.

[2018-05-07 13:03] damtsnkff commented on #871
@Dane411
I can't reproduce, with the same environment as yours. I recorded it, and can't reproduce.
https://youtu.be/mkqk_cqNrFY

Personally using NVM (as mentioned before) really helped me to get save time on my different environments.

Maybe try another version of Node with a new clean install of npm ?

Without any additional informations it's kinda hard to debug. :)

[2018-05-07 13:39] #736 closed

[2018-05-07 13:41] lschans commented on #1069
No in the latest version this is solved. Can close this ticket.

[2018-05-07 13:57] #1069 closed

[2018-05-07 15:08] dsheyp opened #1139 "Reviews Models and Attributes format"
**Informations**
- **Node.js version**: v10.0.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.12.1.2
- **Database**: mongodb
- **Operating system**: Windows 10 64

**What is the current behavior?**
After creating relation between content-types, strapi doesn't restart. Console says:

[2018-05-07T14:46:37.554Z] error Something went wrong in the model `Container` with the attribute `cont

[2018-05-07 15:34] Kinzi commented on #864
I have a similar issue.

When trying to reset the password I get: "This email is invalid." (400 from API) BUT it's the exact same email as in the db document here: `collections/users-permissions_user`

strapi 3.0.0-alpha.12.1.2
node 10

[2018-05-07 16:12] Aurelsicoko commented on #1115
We should update the message but we also need to consider this issue https://github.com/strapi/strapi/issues/1114#issuecomment-387016732

[2018-05-07 16:13] derrickmehaffy commented on #1114
@Aurelsicoko I think the strict mode is a great solution, even if it's enabled by default. I just wanted to share my opinion that the delete functions shouldn't be axed completely to be used as a data safety net for inexperienced developers.

After all in order to learn from mistakes they have to be made by someone :) And by axing a, as I feel, a very important feature for the power users, it isol

[2018-05-07 16:16] derrickmehaffy commented on #1114
As a side note, I'm not sure with Mongo as I'm not as experienced with it, but with MySQL it is extremely easy to export a database as a backup. Obviously this is something that could be extremely taxing to the system. However it could prove useful if you needed to make a so called emergency backup before major deletes are done. Especially in regards to Strapi version changes where it's possible a

[2018-05-07 16:17] derrickmehaffy commented on #1115
I agree instead of removing the message it should be updated to state how Strapi currently handles the database.

[2018-05-08 07:43] zhuang17 opened #1142 "api endpoint's pagination params converted wrongly"
**Informations**
- **Node.js version**:
v9.11.1
- **npm version**:
5.6.0
- **Strapi version**:
3.0.0-alpha.12.1.2
- **Database**:
MongoDB
3.6.3
- **Operating system**:
MacOS 10.12

**What is the current behavior?**
The pagination params parsed error.

**Steps to reproduce the problem**
1. Create a `article` ContentType in Admin UI,
2. add some records for article collection,
3. try access api endp