[2018-10-16 14:33] lauriejim commented on #2142
Hello @caoer thank you for this question.

When we will work on plugin interactions / configurations etc... we will make it configurable from your project config instead of override the plugin core code.

So today you have to modify the plugin file.

[2018-10-16 14:33] #2142 closed

[2018-10-16 14:52] derrickmehaffy commented on #2131
@lauriejim This is the same case problem there have been multiple issues with previously the relations are not properly handling case types, a lot of that is documented in https://github.com/strapi/strapi/issues/1139

In many cases if you attempt to use camelCase or capitals in a relation it will break because it cannot find "Blah" because the related model is "blah".

As I suggested in the linked

[2018-10-16 14:53] derrickmehaffy commented on #2131
Another related issue: https://github.com/strapi/strapi/issues/2097

[2018-10-16 15:13] lauriejim commented on #2143
Hi @goras . Thank you to report this issue.

@TokenChingy did you have an idea about this issue.

[2018-10-16 15:15] soupette commented on #2131
I agree with @derrickmehaffy it will be easier for both the backend and the front-end. Especially when the backend breaks when editing or removing a new entry it messes up with the `plugin_content_manager_schema` thus breaking the content manager.

[2018-10-16 15:18] pauldariye opened #2149 "Can't use File as content type name"
**Informations**
- **Node.js version**: `v10.11.0`
- **npm version**: `6.4.1`
- **Strapi version**: `3.0.0-alpha.14.3`
- **Database**: `MongoDB`
- **Operating system**:  `macOS Mojave 10.14 (18A391)`

**What is the current behavior?**
Adding the graphql plugin throws an error for content fields with the media type.

**Steps to reproduce the problem**
1. `strapi new test-app` # then cd into strapi

[2018-10-16 16:09] maturanomx commented on #1875
Totally  agree!

I'm deploying the library and and a project in a private registry. I share part of my script (remove private things and stuff). Hope helps; if not reduce your problem and maybe I can help you.

[code]

[2018-10-16 16:42] soupette commented on #1875
@MWalid  can you detail your issue a bit more, I'm not sure if you're trying to deploy a custom plugin or try to deploy a dev app as we understand it ( created with the `--dev` flag).

[2018-10-16 16:44] soupette commented on #1450
@sebj54 we don't use the markdown plugin because it didn't have all the needed functionalities.
What we might add is an option to have either markdown or HTML.

**cc/ @Aurelsicoko**

[2018-10-16 16:48] soupette commented on #1578
I'm also pretty sure the bug occurs with `strapi-hook-mongoose` as well, I need to check with your app as well...

[2018-10-16 16:54] lauriejim commented on #2146
@abdonrd Can you try with npm 6 ?

[2018-10-16 16:56] lauriejim commented on #2146
And can you give me steps you did with Google Cloud Platform to deploy your app please.

[2018-10-16 17:02] lauriejim commented on #2149
When ? I'm not able to reproduce. I need more informations.

[2018-10-16 17:11] abdonrd commented on #2146
I just tried with npm 6, but the same behaviour.

Steps:

1. Add `app.yaml` file:

[code]

2. Update the `engines` option from `package.json` to:

[code]

3. Run this command:
[code]

[2018-10-16 18:39] Christilut commented on #2076
I'm not sure what you mean by relation attribute name. I don't have the attributes defined in Strapi which seems to cause this.

I've tried it some more now and what I'm seeing now is that all my subdocuments that are not defined in the Content Manager are replaced with an ObjectId as string, eg:
[code]
turns into:

[code]

[2018-10-16 18:58] jrperdomoz opened #2151 "Aggregation not send correct values"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: mongo 4.01
- **Operating system**: macOS 10.14

**What is the current behavior?**
using the ${model}Connection query I do not receive the correct values

**Steps to reproduce the problem**
I'm trying to get the number of documents from a query. I have a Contact model, so

[2018-10-16 21:00] greatwitenorth opened #2152 "Rename custom schema.graphql to schema.graphql.js"
**What is the expected behavior?**
I'd like the custom graphql schema defined in ```./api/*/config/schema.graphql``` to allow the use of a ```.js``` file ending.

Since these files are not actually .graphql formatted files it causes a lot of issues with syntax highlighting in IDE's. Also they aren't truly .graphql files so they should really be labelled as such.

I'd propose that to acheive backwa

[2018-10-16 23:42] nickkrein commented on #2092
I have a similar problem. I created a Guest user and then logged out and attempted to log in as the guest to make sure the proper permissions were in place. I was unable to access the admin panel, and when logging in again as admin I received a blank white screen when attempting to access anything related to me users. Let me know if I need to open a separate issue or provide additional information

[2018-10-16 23:43] pauldariye commented on #2149
hey @lauriejim, did you create a new content type with at least one media field type?

[2018-10-17 01:07] juansaab commented on #2136
Same issue here. Using the latest version. I remember to deploy using "strapi": "3.0.0-alpha.14" without problems. This is my current output:

`(node:22) DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.
2018-10-17T00:57:45.610653+00:00 app[web.1]: error { MongoError: not authorized on strapi-production to execute command { find: "core_store", filter: { key: "plu

[2018-10-17 01:33] juansaab commented on #2136
I managed to detect the release that stopped working on Heroku. I did downgrade the strapi dependency on my package.json from 14.3 to 14 and it deployed well. However, as soon as I updated to **3.0.0-alpha.14.1** it crashes.

Hope it can help the team to start looking for the failure.

[2018-10-17 01:58] Downloaddave commented on #2131
If we are encountering the same issue as @tacone what's the best way of reverting something that was already done in camelCase (or anything, someone might have messed up making in the Content Type Builder)?

So far my guess would be to do the following

1. Stop the Strapi Server
1. Drop the collection "samplecontent" in MongoDB (with the assumption you created "sampleContent"
1. Go to the Strapi P

[2018-10-17 02:49] kidtango commented on #2136
@lauriejim, I tried everything! I even uploaded a test project to Heroku just to make sure it's nothing something else other than Strapi that may cause the remote server to not run. I even try to go through the Deliveroo project and followed the deployment instructions there! Same issue... I'm really not sure what is the problem. https://blog.strapi.io/strapi-next-deploy/

[2018-10-17 03:06] juansaab commented on #2136
If you're in a hurry, downgrade to version 14.0. I just did it and have it running. In order to downgrade you can update your package.json

`"dependencies": {
    "lodash": "^4.17.5",
    "strapi": "3.0.0-alpha.14",
    "strapi-hook-mongoose": "3.0.0-alpha.14"
  },`

[2018-10-17 03:11] kidtango opened #2153 "Same errors trying to deploy the Heroku"
I get the same set of errors deploying to Heroku. I tried everything! Follow all the instructions available from Strapi posts and no luck. Please help!

Here are my logs:

"App boot timeout" method=GET path="/" host=stormy-taiga-78319.herokuapp.com request_id=98f8cc54-31ae-4417-98b2-abeda17daa71 fwd="73.136.77.41" dyno= connect= service= status=503 bytes= protocol=https
2018-10-17T03:04:15.878172+

[2018-10-17 04:19] juansaab commented on #2136
This issue might be related to #1831 but I'm not sure. @sundaycrafts

[2018-10-17 04:41] juansaab commented on #2136
@lauriejim I finally got alpha.14.3 working on heroku by applying #2153 last comment. It is important to note that on alpha.14 it was enough to set DATABASE_URI environment variable, this time, I was forced to set all the variables by hand.

I took a long time checking diffs between both 14.0 and 14.3 tags and the only thing I noted was related to Mongo settings was the file modified by #1831 It m

[2018-10-17 08:15] soupette commented on #1943
@betomoretti @derrickmehaffy here's how I handle the switch from a dev app to a prod

## Steps to modify the front-end

### 1. Setup
*Here I'm going to detail my setup*

- Node.js version : v.10.10.0
- Npm version : 6.4..1
- Database: Mongod, Postgresql
- O.S: MacOs Mojave v.10.14.1 Beta

*Install the dev environment :*

[code]

### 2. Once the setup is completed create a dev app

[code]

### 3. S

[2018-10-17 09:10] kamalbennani commented on #2151
Weird, I'll try to investigate this afternoon, I'll keep updated. thanks for reporting this bug.

[2018-10-17 09:32] #2153 closed

[2018-10-17 09:47] #2136 closed

[2018-10-17 09:59] Keatooon commented on #1957
**Informations**
Node.js version: v10.2.0
npm version: 5.6.0
Strapi version: 3.0.0-alpha.14.3
Database: Mongodb
Operating system: Ubuntu 18.04.1 LTS

**What is the current behavior?**
When trying to creating a new entry, admin panel never stop loading

**Steps to reproduce the problem**

1) go to Content Type Builder
2) create a new Content Type named "division"
3) add 2 fields to this Content Typ

[2018-10-17 10:08] lauriejim commented on #2149
Yap, I exactly reproduce steps you wrote.

[2018-10-17 10:19] soupette commented on #2111
@cuvanhung here are my thoughts on how to change the current editor:

## 1. Create a dev application

[Please refer to this issue](https://github.com/strapi/strapi/issues/1943#issuecomment-430533710)

## 2. Install CKEditor

[code]

## 3. Create the following structure

[code]

## 4. Create the CKEditorWithError

This component should be the wrapper of the CKEditor which handles the :
- `<Label />

[2018-10-17 10:29] jinnkhan88 commented on #2146
@abdonrd what you can do is put the complete code on the google app engine by changing the cloud ignore files and putting up node_modules folder on the server as well.

[2018-10-17 10:43] soupette commented on #2131
@Downloaddave the best way to revert it is a bit simpler:
Delete the `plugin_content_manager_schema` document in your `core_store` and restart your strapi server.

Can the above steps be used to resolve spacing as well?

Strapi can't handle spacing for the moment.

[2018-10-17 10:46] inoisy commented on #1957
I understood why this is happening to me. after updating the strapi. that is, he does not want to create new entry to old content type. with new created everything is fine

[2018-10-17 11:02] andrewmee commented on #2134
@lauriejim Oh I intended this as a feature request, so I used that template instead.  Is the behaviour I've described something you expect should already be happening?

I assumed this would be a new feature.

[2018-10-17 11:41] abdonrd commented on #2146
@jinnkhan88 I can't:

[code]

[2018-10-17 11:50] jinnkhan88 commented on #2146
@abdonrd Apologies i just read that you are using Standard environment. Can you try using the flex environment? as this works for me

[2018-10-17 11:51] mbaez commented on #624
hi guys, i got really excited about strapi isOwner policy and then find out strapi content-manager plugin don't trigger the any policy. So, a been working to solve the problem. The solution was make a [proxy policy form content-manager plugin](https://github.com/mbaez/strapi-proxy-policy). This policy aims to be a a proxy between content-manager requests, and at the same time trigger for all the p

[2018-10-17 11:57] abdonrd commented on #2146
@jinnkhan88 right now I'm not interested in the flexible environment because pricing. I want to use the standard environment.

https://cloud.google.com/appengine/docs/the-appengine-environments

[2018-10-17 12:06] jinnkhan88 commented on #2146
@abdonrd oh alright. I did the deployment on Flex after messing around with standard environment. As i was facing the same issues. However once on flex it was all good.

[2018-10-17 12:11] #2010 closed

[2018-10-17 12:12] lauriejim commented on #1919
@hansemannn Did you follow the documentation ?

[2018-10-17 12:51] lauriejim commented on #1543
Hello @entwicklerfr ! Yap, setup (and dev experience) is not completely ready for Windows; Sorry for that.

Yap you can! I think it's an issue about parsing the API `description` params.

[2018-10-17 13:00] lauriejim commented on #1748
Hello @ganeshkbhat you can use `JSON` type and store an array inside.

[2018-10-17 13:08] lauriejim commented on #745
Follow the documentation https://strapi.io/documentation/3.x.x/guides/upload.html#install-providers

[2018-10-17 13:16] #2144 closed

[2018-10-17 13:20] lauriejim commented on #2076
I mean use `costspecification` instead of `costSpecification `

[2018-10-17 14:02] lauriejim commented on #2134
In fact it's already working. I tested and it works.
So I think you have an issue.

[2018-10-17 14:13] entwicklerfr commented on #1543
Hello @lauriejim,

Ok, I saw you are assigned to review on my PR https://github.com/strapi/strapi/pull/2140.

Thx.

[2018-10-17 15:44] alling1505 opened #2154 "Strapi "type value is already exists" when I create any relation between specific models."
**Informations**
- **Node.js version**: 10.11.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: mongo
- **Operating system**: Amazon Linux AMI

**What is the current behavior?**
I have some content types that I can not create the field relation with other content types, but just with specifc content types.
When I try to create any type of relation, in the Content Ty

[2018-10-17 16:53] derrickmehaffy commented on #1748
@lauriejim this `manyWay` is another relation type

[2018-10-17 20:32] jwlawrence opened #2158 "Make setup script prompts more descriptive"
**Informations**
- **Node.js version**: 10.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: MongoDB 4.0.2
- **Operating system**: MacOS 10.13.6

**What is the current behavior?**
After setting up MongoDB with Homebrew on mac, the `strapi new <project>` script fails to connect to the running DB.

**Steps to reproduce the problem**
Install MongoDB following the di

[2018-10-17 21:28] typerory commented on #2158
Is Mongo running on port 27017?

[2018-10-17 21:53] nickkrein commented on #1452
Solved that issue. Now having the same issue as https://github.com/strapi/strapi/issues/2092

[2018-10-17 22:02] jwlawrence commented on #2158
According to lsof, yes:
mongod  20864 ... TCP localhost:27017 (LISTEN)

[2018-10-17 22:52] jwlawrence commented on #2158
Ok, figured it out. I mistakenly thought the prompt for Username and Password was to create credentials for the admin user of the app, rather than for the db itself. Leaving them blank worked.

So, I think this ticket should be changed to make the fields in the setup process clearer. You already have "Database name" so why not prefix all of them with "Database"? For example:

? Choose your main da

[2018-10-18 04:31] NickBolles opened #2161 "Field Level Permissions - Users-Permissions - Discussion"
# Edited by @derrickmehaffy on 2021/0329

I have morphed this feature request to point at the Users-Permissions specifically to support Field level permissions.

---

## Summary
**This feature request is for permissions on fields.**

### Currrently
Currently we have permissions on controller actions by roles. This is good for completely restricting access to certain actions, but there are some big

[2018-10-18 05:38] trieutritam opened #2162 "Could not re-login using Facebook provider due to error "Email is already taken.""
**Informations**
- **Node.js version**: 8.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: MongoDB 4.0.3
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Could not re-login by call callback "auth/facebook/callback" due to error "Email is already taken."

**Steps to reproduce the problem**
- Call auth/facebook/callback?access_token=<TOKEN>

[2018-10-18 08:40] #1856 closed

[2018-10-18 08:40] #2097 closed

[2018-10-18 12:09] pauldariye commented on #2149
How can I provide more info?

[2018-10-18 12:12] Aurelsicoko commented on #2020
It should be an option in the Content Manager but it's more complicated than you can imagine. An image can theoretically be associated with multiple entries. So it means that the image shouldn't be deleted until it still related to another entry. But, if it was the latest entry related to this image, the image should be deleted, only if, the option has been checked.

[2018-10-18 12:18] Aurelsicoko commented on #474
The Content-Type builder is disabled in production, it means that you can't create files new content-type in production. However, it doesn't mean that Strapi doesn't write files in production. I'm thinking about the `plugins.json` file which is written at every start.

Does it cause any issues?

[2018-10-18 12:45] Aurelsicoko commented on #2122
This part is not automated at all... I stopped my work at this step because everyone can have a different deployment workflow. You should create a script that copies the plugins build into a `/plugins/*` folders on the front-end server.

It perfectly normal that the `host` is always prepended with a slash but the real issue is the value after the first slash, why is there **/http://localhost:8000*

[2018-10-18 12:54] Aurelsicoko commented on #2100
Oh yeah! It could be so coooool 👍

I'm closing this issue, as it's a feature request we continue on ProductBoard https://portal.productboard.com/strapi/c/25-data-diagram-or-entity-relationship-chart

[2018-10-18 12:54] #2100 closed

[2018-10-18 13:41] Aurelsicoko commented on #1450
I think we should provide a markdown, HTML and WYSIWYG editor. It should be an option in the `Advanced settings` tab in the Content-Type builder.

[2018-10-18 13:44] Aurelsicoko commented on #2152
Sure! Can you make a PR? A good start point could be the hook which loads the files into the AST https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-graphql/hooks/graphql/index.js#L34

[2018-10-18 14:54] MWalid commented on #1875
I created a custom plugin with a dev app (created with `--dev` flag), it's not clear from the documentation that I should use the `--dev` flag when writing a custom plugin or no ....

[2018-10-18 16:46] maturanomx commented on #1875
So, you created a strapi project with and then you begin coding in a new directory under `/plugins`? 🤔

[2018-10-18 16:52] MWalid commented on #1875
Yep I think so

[2018-10-18 17:03] maturanomx commented on #1875
So, when you said you are deploying your project, you mean all this created code along with you plug-in, right?.

If that's the case, forget about the `--dev` flag and share your deployment process and your error...

[2018-10-18 17:38] entwicklerfr commented on #1427
Hello @Aurelsicoko,

You are currently using `pino` and `pino-std-serializers`.
Is it possible to use the core package pino-tee for an easier implementation of this feature ?

[2018-10-18 18:17] bjnsn opened #2166 "Respect relation items order"
NOTE: This a duplicate of this (closed) issue that was not submitted with a proper template:
https://github.com/strapi/strapi/issues/2134

**Informations**
- Node.js version: 10.12.0
- npm version: 6.4.1
- Strapi version:  3.0.0-alpha.14.3
- Database: MongoDB (4.0.0)
- Operating system: Mac OS 10.13.2

(NOTE: also seeing same behavior on server configured as follows)
- Node.js version: 9.9.0
- npm

[2018-10-19 07:20] #1621 closed

[2018-10-19 09:40] #1850 closed

[2018-10-19 12:03] PashalisN commented on #2161
If I understand it correctly I think you have the same issue as I have.
What is the meaning of relations when for Example:
I have a new content type 'articles' and the pre-installed users.
If I have 2 users (user A, user B) in authenticated role and each user has for example 2 articles and I want to find (display) only these articles which are related to user A and not just every single article in

[2018-10-19 12:32] PashalisN opened #2172 "Relations user driven data"
Informations

Node.js version: 10.12.0
npm version: 6.4.1
Strapi version: 3.0.0-alpha.14.3
Database: MongoDB 4.0.2
Operating system: MacOS 10.13.6

What is the current behavior?
What is the meaning of relations for example when:
I have a new content type 'articles' and the pre-installed users.
If I have 2 users (user A, user B) in authenticated role and each user has for example 2 articles and I w

[2018-10-19 14:16] pierreburgy commented on #2136
@juansaab yes it is related to #1831, please see my comment: https://github.com/strapi/strapi/pull/1831/files#diff-43153381da5552c728ec8acf21724e86R77.

[2018-10-19 15:20] NickBolles commented on #2161
Exactly! This is exactly what I proposed the "owner" concept for. Maybe it would make sense for this to be a property on the field. So any model that has a relationship to `users` and has the field property `owner` the user would be able to access if that user is the logged in user.
________________________________
From: PashalisN <notifications@github.com>
Sent: Friday, October 19, 2018 7:03 AM
T

[2018-10-19 15:51] PashalisN commented on #2161
So, then I ask you guys (devs) why do you release a version with user roles and permission without having such an essential thing like this. In my opinion it doesnt make sense.
use case:
Imagine, If I have a bank account and I am related to my account with "MY" sensitive data, and any other authenticated user can make a request to all bank accounts, so for what do I need these user permission role

[2018-10-19 16:16] PashalisN commented on #2161
another solution could be to make api endpoints more flexible, if I want to have my own articles I should be able to define it like this:
api/user/articles ... this could make sense if you dont use nonsql databases.

[2018-10-19 19:00] NickBolles commented on #2172
See my response in #2161 even though you deleted your response :)

I think the only way to do this right now is with custom controller actions such as `findMine` that do something like this. (warning, this is not tested, treat this as psuedo code)
[code]

[2018-10-19 19:04] NickBolles commented on #2161
You do have a point, we could just add a "my<data model name>" controller action for everything. That could be a way to do it, which is basically the work around right now, to make a custom controller that forces adding a filter to the query. but we could add it as part of the generation of a model. I think that's a lot less flexible than field level permissions, and it's more of the "owner" conce

[2018-10-19 22:33] maturanomx opened #2174 "Error with INDEX when change field type from string to something else"
**Informations**
- **Node.js version**: v10.10.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: MySQL 5.7.12
- **Operating system**: Ubuntu 18.04 on WSL

**What is the current behavior?**
Error with index after changing field type from `string` to another thing.
[code]

**Steps to reproduce the problem**
1. On new project, create a model with a field of type `strin

[2018-10-20 08:52] gianniskarmas commented on #1102
Why do you just keep closing issues?
The problems are still there unfixed and create so much frustration.

I'm also trying to enable ssl in strapi and followed [this](https://github.com/strapi/strapi/issues/171#issuecomment-384679495) but it gives the wrong redirect of "https://site_urlindex.html".

In nuxt 2.0 they very nicely implemented a simple solution to enable ssl in nuxt.config.
This is ju

[2018-10-20 13:49] derrickmehaffy commented on #1102
@gianniskarmas all SSL native support was removed from Strapi and isn't supported here, you will need to proxy it. As for the https URI for providers, the issue is known and is being worked on.

Using a 3rd party software for proxying SSL for node.js based applications is not new and is typically the industry standard when you are working with nodejs (A google search will show you that).

If you w

[2018-10-20 17:07] derrickmehaffy commented on #2154
@alling1505 are you using firefox? If yes please try with chrome. That error has been around for a while and is difficult to track down the exact cause, you should just be able to hit continue. You can try selecting another relation then reselect the oneWay.

This bug is usually only isolated to Firefox.

[2018-10-20 17:08] derrickmehaffy commented on #2154
@soupette I could of swore this got a fixed a while back?

[2018-10-21 03:43] ryanbelke commented on #2024
Where do these values come from? Are they under the Strapi Dashboard Settings?

[2018-10-21 08:02] MTM-Suhail opened #2175 "Implementation of soft delete"
Hello, I would like to have soft delete functionality for graphql and normal API. what should i do?

[2018-10-21 08:20] MTM-Suhail opened #2176 "Dynamic Database Change on MongoDB"
How can I change database name from controller or Service? One of my project need to access multiple DB based on logged in user.  I am using mongoDB,

[2018-10-21 12:46] Froelund commented on #1999
I needed this as well, and I've started making a plugin. There's still a lot of optimisations and testing to be done, so please don't use it in production just yet.

Any feedback is welcome :)

https://github.com/Froelund/strapi-plugin-images

[2018-10-21 13:47] EliyaFerdinand commented on #1687
The problem may be caused by Syntax Error: for instance a space between...

Example:
in a file 'myproject/api/song/models/Song.settings.json'

**PROBLEM**

"attributes": {
"_record labe_l": {
      "model": "_record label_",
      "via": "songs"
    }
}

**SOLUTION**

=> remove space, it worked for me

"attributes": {
"_recordlabel_": {
      "model": "_recordlabel_",
      "via": "songs"
    }
}

[2018-10-21 15:02] ikennobunga opened #2179 "strapi content-type-builder not installing."
Am using os mojave
node v 10.12.0
npm v 6.4.1
strapi v 3.0.0-alpha.14.3
database mongodb v 4.0.2

when running strapi new project all the plugins install fine appart from the content type builder i get this error.
 An error occurred during content-type-builder plugin installation.
{ Error: Command failed: node /usr/local/lib/node_modules/strapi/bin/strapi.js install content-type-builder

    at Ch

[2018-10-21 18:14] denys-aponiuk opened #2180 "How to use auth providers (fb, g+) of strapi with fron-end (angular)"
**What is the expected behavior?**

I try to build front-end (angular) with the backend (strapi). But I can't understand how to use auth providers (fb, g+). as i see, documentation has api for it /connect/provider. how should I use it because firstly I've tried to use this api on front-end but then I was told that this api for the backend. I don't understand how to use it. Please help me

[2018-10-22 07:52] abdonrd commented on #2086
Also interested in includes/excludes fields!

[2018-10-22 09:39] Jan10 opened #2181 "Database installation fails"
**Informations**
- **Node.js version**:  v10.7.0
- **npm version**:  6.1.0
- **Strapi version**: 3.0.0-alpha.14.2
- **Database**:
- **Operating system**:  Windows 10 Enterprise

**What is the current behavior?**
After I have selected the database, nothing happens. I'm not sure if it's a problem with our corporate
proxy.

![Uploading 2018-10-22-000014.png…]()

**Steps to reproduce the problem**
- S

[2018-10-22 09:45] Jan10 opened #2182 "Database installation fails"
**Informations**
- **Node.js version**:  v10.7.0
- **npm version**:  6.1.0
- **Strapi version**: 3.0.0-alpha.14.2
- **Database**:
- **Operating system**:  Windows 10 Enterprise

**What is the current behavior?**
After I have selected the database, nothing happens. I'm not sure if it's a problem with our corporate
proxy.

<img width="546" alt="2018-10-22-000014" src="https://user-images.githubuserc

[2018-10-22 12:18] entwicklerfr commented on #1427
Hello @derrickmehaffy ,

I pushed a PR this morning: "Save application logs in .log file" :  #2183

[2018-10-22 12:56] lauriejim commented on #2076
It's define in your `Model.settings.json` file and also in the model you made the relation with.

[2018-10-22 13:07] lauriejim commented on #2158
Hello @jwlawrence! Thank you for this feedback.

There is a sentence of the beginning of the form: `Lets configurate the connection to your database:`
Then all questions are about your database connection (Name, Host, Port ...) it's natural to have `Username` and `Password` to be connected to the database.

For now we will let the form like it is. If more user have the same feedback we will recons

[2018-10-22 13:07] #2158 closed

[2018-10-22 13:09] lauriejim commented on #2149
Can you tell me where/when the **step 4** happen.

[2018-10-22 13:33] lauriejim commented on #2172
There is an  PR for that https://github.com/strapi/strapi/pull/1948

[2018-10-22 13:33] #2172 closed

[2018-10-22 13:39] lauriejim commented on #2174
Hi @maturanomx, thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-10-22 14:12] lauriejim commented on #2175
By default this feature is not offered by Strapi.

You have to add `deleted` attribute to all your models.
Then update all delete functions (in your `./**/services/**.js` and `./**/queries/**.js`) to set `update` instead of `delete` by setting  `deleted` to `true`.
And update `fetch` and `fetchAll` functions to add an excluding filter based on `deleted` attribute value.

[2018-10-22 14:14] lauriejim commented on #2176
Can you be little more precise of what you want to do please.
I'm not sure to understand.

[2018-10-22 14:32] lauriejim commented on #2181
We can't access to your log image

[2018-10-22 14:32] #2181 closed

[2018-10-22 14:33] lauriejim commented on #2182
https://github.com/strapi/strapi/issues/1927

[2018-10-22 14:33] #2182 closed

[2018-10-22 14:36] intensr commented on #968
also experiencing permission problems and so on with yarn

[2018-10-22 14:42] entwicklerfr commented on #2182
Hallo @Jan10,

Ich hatte das selbe Problem mit meinem Windows Installation. :-)

I don't remember exactly but I believer I had to stop/deactivate the mongo windows service and start mono with "mongod" command instead of.

Hope this helps.

Note that I definitively abandonned ther idea of working with windows with this framework. I have hd so many problems (even with the WSL feature).

[2018-10-22 14:42] lauriejim commented on #1427
I will review you RP @entwicklerfr

[2018-10-22 16:11] alling1505 commented on #2154
I am using Chrome and the problem is there. At first time in some content types it allowed me to create the  relations but when I checked the relation had been changed but later in other content types I tried to select another relation but the error continues with alm type of relations.

[2018-10-22 18:39] denys-aponiuk commented on #2180
thanks for the answer. But I've seen this example. in front-end site the
method is called <a href="https://..../connect/provider"... then open the
new tab and displaying user data. I've tried to use it. I did
[code]

[2018-10-22 19:29] MTM-Suhail commented on #2176
I need to know is there any option to change database name at runtime without restart or downtime.

[2018-10-22 19:30] MTM-Suhail commented on #2175
Thank you for the support

[2018-10-22 19:32] derrickmehaffy commented on #1427
awesome @entwicklerfr I look forward to taking a look, pm2 does a pretty decent job but having actual log files will be handy

[2018-10-22 19:33] MTM-Suhail commented on #2175
I think it's better to add in framework level than api level. We may ask by the time of api creation in admin panel.

[2018-10-22 19:50] synth3tk commented on #1102
@gianniskarmas They mentioned (at least in this issue) that the issue creation template must be followed, or else they'll close the ticket until it's updated to reflect the template. It's not that they're saying it's an invalid or fixed issue.

[2018-10-22 21:06] maturanomx commented on #2181
Search; it's a know issue on Windows. One workaround is pass all parameters to the cli.

[2018-10-22 21:35] Downloaddave commented on #2131
Is there a recent ticket relating to the Spacing in in the Content Type Builder so we can see "Sample Content" in the Content Types CMS?

[2018-10-22 21:40] derrickmehaffy commented on #2176
@MTM-Suhail no as that info is stored in a file, in order for those changes to take effect the server as to be restarted (that is a node.js thing, not a strapi thing. Any file modifications require a restart)

[2018-10-22 21:42] derrickmehaffy commented on #1102
Yes that is the case, if you do not follow the template your issue/FR is closed with absolutely no additional troubleshooting done, the same applies if your issue is a duplicate.

See the below snippet of the issue template:

[code]

[2018-10-22 22:01] wdavidw opened #2185 "Self referencing content types many to many"
I am trying to model a relation of type many-to-many between records of the same content types.

Here is an example use case. I am creating articles. Each article can be translated into multiple languages. I wish to end up with a list of translated articles. Here is how my WordPress looks like:

![Wordpress Translations](http://www.adaltas.com/wp-content/uploads/2018/10/wordpress_translations.png)

[2018-10-23 00:36] wisniewski94 commented on #1927
I don't think it has something to do with Windows. This function doesn't work in Powershell and CMD but with Git Bash you can install strapi normally. Just look around for other cmd-type programs. Maybe even emulators will do it.

[2018-10-23 00:39] wisniewski94 commented on #1355
Add a flag --dev=true. It won't help much with installation anyway. See #https://github.com/strapi/strapi/issues/1927#issuecomment-432040364

[2018-10-23 02:59] buixuanlam commented on #2111
@soupette Thanks for your instructions! I followed each step in the tutorial but I am having difficulty in step 5: implements the ckeditor. You can provide more detailed instructions on step 5? Thank you!

[2018-10-23 05:48] derrickmehaffy commented on #2111
@HoangDinhVan see Soupette's above comment for instructions, this is not an easy process and is beyond the scope of this github issue. Issues are related to Strapi core, modifications are not.

[2018-10-23 07:07] cuvanhung commented on #2111
sorry. My English is not good. i have issue that when i used postman to get data from sever. It return markdown text format not html code format. So my front-end team can not work with it. i want to get html code format from server. i try replace Wysiwyg by CKEditor. But not easy. i can't do it. Please help me how to get html code format from Wysiwyg of strapi. Thanks a lot.

[2018-10-23 08:13] ikennobunga commented on #2179
Hi Jim

Have a look at this error and maybe u can have a clear picture of the issue am having

✔ Copy dashboard
✔ Install plugin settings-manager.
⚠ An error occurred during content-type-builder plugin installation.
{ Error: Command failed: node /usr/local/lib/node_modules/strapi/bin/strapi.js install content-type-builder

    at ChildProcess.exithandler (child_process.js:289:12)
    at ChildProce

[2018-10-23 08:58] fsc7 commented on #1912
That did the trick. Thanks for the information.

[2018-10-23 10:20] Matildahermansson commented on #1912
Hi,

I'm working with a React + Strapi project and when I ran strapi start in my terminal I get to my admin page. However, when I press Content Manager I am met by Content Manager
Configure the default settings for all your Content types where I can either Save or Cancel. Whichever one I choose sends me to a blank page called http://localhost:1337/admin/plugins/content-manager/ctm-configurations
I

[2018-10-23 10:23] Matildahermansson opened #2186 "Content Manager sends me to blank page"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:
- **Database**:
- **Operating system**:

**What is the current behavior?**

I'm working with a React + Strapi project and when I ran strapi start in my terminal I get to my admin page. However, when I press Content Manager I am met by Content Manager
Configure the default settings for all your Content types where I ca

[2018-10-23 10:26] diana4397 opened #2187 "Plugin Development Documentation"
**Informations**
- **Node.js version**: 10.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: MongoDb
- **Operating system**: Ubuntu 16.04 LTS

**What is the current behavior?**
$ is not defined

**Steps to reproduce the problem**
1) Generate a plugin using strapi generate: plugin my-plugin
2) Link with npm link strapi-helper-plugin
3) I am using  generated api ro

[2018-10-23 14:13] rcpassos commented on #2115
Some problem here using MySQL database

[2018-10-23 15:19] rw3iss commented on #2115
Hi lauriejim, could you please tell me your exact environment setup, OS, npm version, node version, db version, etc?

[2018-10-23 15:26] MartinMuzatko opened #2189 "Create db schema from models"
**What is the expected behavior?**

Hey there!

It would be nice to have the Schema generated based on the schema. This would help to easily migrate between servers where I do not need the data. Also, the tables that strapi created during adding models is incomplete or missing.

Having a mechanism to regenerate the schema or have the schema saved as file would be very nice.

[2018-10-23 20:32] soupette commented on #2111
@cuvanhung why don't you try to convert the markdown to html?

[2018-10-23 20:57] maturanomx commented on #2122
As use a domain as the documentation says; just replacing `http://yourfrontend.com/dashboard` by `http://localhost:8000`:
![deployhostparam](https://user-images.githubusercontent.com/5768813/47389774-45153600-d6db-11e8-8290-f09547ce3264.png)

But nothing (even the structure of the build) is as the documentation said.

I [worked on a fix for that](https://github.com/maturanomx/strapi/commit/4664658

[2018-10-23 22:33] Globerada commented on #1911
Until new fix, go to folder plugins\graphql.
Then,` npm install graphql@git://github.com/graphql/graphql-js.git#npm`

[2018-10-24 04:58] #2187 closed

[2018-10-24 05:01] diana4397 commented on #2187
I have solved this issue but can you provide the plugin development documentation with example where data is fetch from API

[2018-10-24 06:02] derrickmehaffy commented on #1927
I mean if your going to use bash on windows, you might as well just use WSL and get all the benefits of linux.... lol.

[2018-10-24 06:29] jrasm91 commented on #1927
I actually was running into the same, or a very similar problem. I was able to get the new project to create by bypassing the prompt and running the command with the cli arguments.

`strapi new myApp --dbclient=mongo --dbhost=<host> --dbport=27017 --dbname=development --dbusername=admin --dbpassword=admin --dbssl=true --dbauth=admin`

[2018-10-24 06:57] wisniewski94 commented on #1927
@jrasm91 in my case that also didn't work. I got same error as here -> https://github.com/strapi/strapi/issues/1355#issue-330891506

[2018-10-24 11:40] pbov commented on #2166
Same here. Some more details:

- the relations are saved in the order you added them in the first save. So 1) adding foo3, foo2, foo1 2) save -> works as expected, but rearranging relations won't work after saving.
- in MySQL the order isn't saved in a separate field but in the admin panel it's displayed in the order of the internal IDs (and saved in this way). So it will work for the first save -

[2018-10-24 12:13] pbov opened #2192 "Graphql data includes all relational objects when no relation is selected"
**Informations**
- **Node.js version**: v10.0.0
- **npm version**: 6.0.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**:  MySQL 5.7.24
- **Operating system**: macOS 10.14 (Mojave)

**What is the current behavior?**
Having a many-to-many relation, graphql shows the list of all foreign elements of a relation when none is selected in an element.

**Steps to reproduce the problem**
1. fresh str

[2018-10-24 13:02] GuillaumeLe commented on #2162
I'm faced with the same issue with the Discord provider.

I think the true question is why the provider field is removed from the the schema ?

[2018-10-24 13:09] g-div commented on #1729
@lauriejim the bug is pretty easy to reproduce: create a `manyToMany` relation and add more than one single entry to the relation.
 I've found that the bug is coming from [these](https://github.com/strapi/strapi/blob/fa94519c1d6a4daba2ed5238afc1060e97f47ea1/packages/strapi-hook-mongoose/lib/relations.js#L133_L135) lines. IMHO these lines can be just deleted, but I don't understand at all what @Aur

[2018-10-24 13:11] g-div commented on #1729
BTW the bug is still there in version 3.0.0-alpha.14.2

[2018-10-24 15:42] hyingreborn commented on #2117
need it too...

[2018-10-24 16:19] maturanomx commented on #1427
Just to make visible my opinion about why I think this should not be a feature of Strapi: https://github.com/strapi/strapi/pull/2183#pullrequestreview-167650420

[2018-10-24 17:08] derrickmehaffy commented on #2166
I can also confirm the thoughts @pbov is stating, right now Strapi is ordering based on IDs so with MySQL this is likely to be the order in which they are created, since MySQL will return them in the order of the IDs

With Mongo this is basically impossible as the IDs are actually randomly generated UUID strings.

As it was stated GraphQL won't keep their order at least with the current way data i

[2018-10-24 17:09] derrickmehaffy commented on #2162
I have also noticed some odd issues with providers, I believe the plan in the future is to split them into their own plugins (one per provider similar to the upload plugins).

If you guys have example code to try and reproduce I think it would be helpful to track the problem down.

[2018-10-24 22:42] pauldariye commented on #2149
It happens when I run `strapi start`. I think it has to do with graphql and the file type.

[2018-10-25 06:19] MTM-Suhail commented on #2176
i can do it by using mongoose, I need to backup local db to server db. did it by adding a crone job

'use strict';
const mongoose = require('mongoose');
var _ = require('lodash');
var Helper = require('./custom/helper');
var isCompleted=[];
var models = [];
var isInitialRun = true;
var isErrorToReset = false;
var server = '127.0.0.1:27017';
var database = 'default';
var username = '';
var password

[2018-10-25 07:05] byoungd commented on #2063
Same problem.
V3@alpha 14.3
Node 10.12.0
macOS 10.13.4
---

It happens when I use Enum type in model/field.

Hope any solution for this.

[2018-10-25 08:44] mhavci opened #2195 "strapi-helper-plugin install node-sass error"
Downloading binary from https://github.com/sass/node-sass/releases/download/v4.9                                                                                                                                     .4/win32-x64-67_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v4.9.4/win3

[2018-10-25 08:48] mhavci commented on #2195
this node-sass bug ?

[2018-10-25 08:56] mhavci commented on #2195
node-sass not supported node 11

[2018-10-25 08:56] #2195 closed

[2018-10-25 09:14] g-div commented on #1443
If `beforeSave`/`afterSave` aren't fired on *update* but only on *insert* then means that using `beforeSave`/`afterSave` is the same as using `beforeCreate`/`afterCreate`. In this case I don't really understand why do we need both.
Otherwise means that the following comment it's wrong or at least misleading:

this is somehow related to Strapi.

[2018-10-25 09:32] fatifleu commented on #914
can someone explain to me how to use strapi in my angular app i have the same problem but i cant find the solution

[2018-10-25 10:10] g-div commented on #1859
This issue isn't completely solved. The content type manager will set `"default": ""` to a new created float field, which will cause the error popping up again on save (since we are trying to save an empty string as decimal value). Removing the default value will fix it.

[2018-10-25 10:38] karimation commented on #2146
same here.

[2018-10-25 10:48] mhavci opened #2196 "Error: EPERM: operation not permitted, symlink ( strapi-admin)"
⏳ Testing database connection...
fs.js:115
    throw err;
    ^

Error: EPERM: operation not permitted, symlink 'C:\Users\user\Documents\repositories\strapi\packages\strapi-admin' -> 'C:\Users\user\Documents\repositories\cms\admin'
    at Object.symlinkSync (fs.js:902:3)

....

node v10.12.0
npm 6.4.1

[2018-10-25 11:52] Moldieman commented on #2118
@lauriejim any progress with this? I would really like to finish off my app and deploy to production 👍

[2018-10-25 12:42] jacargentina commented on #752
@Aurelsicoko i can start working on this if you can give me the OK

[2018-10-25 13:02] MartinMuzatko opened #2197 ""Powered by version" should link to changelog"
**What is the expected behavior?**

Hey there!

Right now, the link in the bottom left corner goes to `strapi.io`

![image](https://user-images.githubusercontent.com/2950505/47501906-dc5ac480-d866-11e8-8453-ba4d3f517f70.png)

I think it would make sense to have this link to the changelog.
Either overall or specific: https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.14.3

[2018-10-25 13:07] derrickmehaffy commented on #2197
Agreed that is a solid idea

[2018-10-25 13:13] jacargentina commented on #752
@abdonrd

Having a field type can make this easy; but i think it can be done already using https://strapi.io/documentation/3.x.x/guides/models.html#lifecycle-callbacks right? At least with `beforeSave`, make the required transliteration and put the resulting slug on a given field on the model.

[2018-10-25 15:43] abdullaalsayyed opened #2200 "Cannot find folder /admin to run in development mode"
**Informations**
- **Node.js version**: 10.2.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: mongodb
- **Operating system**: ubuntu 16.04

**What is the current behavior?**
- when running "strapi" it returns:
`
1internal/modules/cjs/loader.js:582
    throw err;
    ^

Error: Cannot find module 'strapi-utils'
    at Function.Module._resolveFilename (internal/module

[2018-10-25 15:57] jacargentina commented on #2200
I've had some problems with installing the sources; thanks to a folk on slack i've found that i've got to correctly setup by running in a root shell

[2018-10-25 17:12] jacargentina commented on #2186
Looking at #1912 and to this one:in my case the problem is that **i've created a content type with some fields** , then later i've **renamed those fields** like this

## Original content type
[code]

## Modified content type

[code]

## The problem

Basically the reason for the blank page is there is now inconsistency between the **editDisplay** and the available fields. Here is the schema on the

[2018-10-25 17:55] soupette commented on #2197
Agreed!

[2018-10-25 18:03] jacargentina commented on #2186
@soupette I've fixed this already. Sending a PR right now.

[2018-10-25 18:09] soupette commented on #2186
Thanks @jacargentina I'll test it

[2018-10-25 18:20] pauldariye commented on #2186
Thanks @jacargentina, just ran into this issue

[2018-10-25 20:22] z-ax commented on #752
I also think it is something that is better to be added programmatically. A lot of content in my projects generate slug out of more than 1 field, sometimes connected collections used (like `artist-year-album` slug for releases). Plus, localization. I also have localized slugs for each locale, etc.

[2018-10-25 21:15] abdonrd commented on #752
Yes, we can do it programmatically. But being able to define it from the UI would be great.

[2018-10-26 01:26] stiko opened #2205 "'Schema hasn't been registered for model "ModelName".\nUse mongoose.model(name, schema)',"
**Informations**
- **Node.js version**: v10.11.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: Mongo
- **Operating system**: Mac

**What is the current behavior?**
When navigating to `Files upload` it gives an error
[code]

**Steps to reproduce the problem**
Upload images to content_type then remove the files from uploads folder.

**What is the expected behavior?*

[2018-10-26 02:26] xiehai001 opened #2206 "strapi start 报错"
![image](https://user-images.githubusercontent.com/24218743/47540863-96a30800-d909-11e8-900f-9d4838e84a62.png)

[2018-10-26 03:41] derrickmehaffy commented on #2206
Please follow the bug report format, failure to do so will result in your issue being closed until the issue is updated.

[2018-10-26 03:47] j-rewerts commented on #1960
It also seems like the text field can't be edited directly. I can take a look at this.

[2018-10-26 07:18] lauriejim commented on #2206
Hello @xiehai001 , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-10-26 07:18] #2206 closed

[2018-10-26 10:34] ishakuta commented on #2073
to make it impossible to use it, e.g. removing it is not an option, imagine it should work only if there's some env var set to true, otherwise should not be accessible

[2018-10-26 12:33] jacargentina opened #2207 "Controllers not running when posting via content-manager"
Strapi newbbie here. Are controllers supposed to be run when:

1. using the API (via POST)
2. using the content-manager UI

2 is no happening at all.

Maybe my understanding of controllers is incorrect?

[2018-10-26 14:10] jacargentina commented on #2115
Can be related to #2186, fix here https://github.com/strapi/strapi/pull/2203

[2018-10-26 14:11] #1798 closed

[2018-10-26 14:46] #1628 closed

[2018-10-26 14:46] lauriejim opened #2208 "Translation keys missing in JA language"
This is a list of missing translation keys. Feel free to submit a PR to help us.

📦 strapi-admin - [/packages/strapi-admin/admin/src/translations/ja.json](https://github.com/strapi/strapi/blob/master/packages/strapi-admin/admin/src/translations/ja.json)

| Translation key | English default value |
|-----------------|:---------------------:|
|app.utils.delete | Delete|

📦 strapi-plugin-content-mana

[2018-10-26 14:49] #2196 closed

[2018-10-26 14:50] lauriejim commented on #1729
Hello @g-div, yes can you submit a PR please.
Will appreciate your contribution on this issue. We definitively miss time to fix all issues, we need your help.

[2018-10-26 14:58] lauriejim commented on #2017
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-10-26 14:58] #2017 closed

[2018-10-26 15:05] lauriejim commented on #2063
@derrickmehaffy Thank you for your help and your time

[2018-10-26 15:05] #2063 closed

[2018-10-26 16:07] feysalikbal commented on #2208
Hi,
I am working on it :)

[2018-10-26 16:31] feysalikbal commented on #2208
#2209

[2018-10-26 16:36] feysalikbal commented on #2208
https://github.com/strapi/strapi/pull/2209

[2018-10-26 16:41] stiko opened #2210 "An error occurred during record deletion."
**Informations**
- **Node.js version**: v10.11.0
- **npm version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: Mongo
- **Operating system**: Mac

**What is the current behavior?**
When you filter for content then try to remove a content, it gives an error
[code]

**Steps to reproduce the problem**
1- Go to content type
2- filter for a content
3- remove a content

**What is the e

[2018-10-26 16:45] jacargentina opened #2211 "Content-Manager: save not handling beforeSave hook throw error"
**Informations**
- **Node.js version**: latest
- **npm version**: latest
- **Strapi version**: latest
- **Database**: mongo
- **Operating system**:  linux

**What is the current behavior?**
On a Blog API, i've added beforeSave hook, which throws some error; when using content-manager for saving, the UI gets stuck waiting, and showing any error on the UI

**Steps to reproduce the problem**
The give

[2018-10-26 19:08] cesarvarela commented on #1339
This is happening to me now

[2018-10-26 19:27] cesarvarela opened #2213 "Newly created Content Types do not appear in the Content Types list"
- 10.12.0
- 6.4.1
- 3.0.0-alpha.14.4.0
- 5.7.23
- Mojave

**What is the current behavior?**
Newly created types do not appear in the content types list.

**Steps to reproduce the problem**
Just follow the Quick Start guide

**What is the expected behavior?**
They should appear. I see them in the database and in the Content Manager.

**Suggested solutions**
🤷‍♂️

[2018-10-26 19:47] abdonrd commented on #2213
Same issue here! :)

[2018-10-27 14:13] lauriejim commented on #2162
Hello @trieutritam can you try with last version of Strapi (3.0.0-alpha.14.4.0) it was fixed normally.

[2018-10-27 14:18] lauriejim commented on #2179
Did you re-install Strapi and re-create a new app ?

[2018-10-27 15:37] lauriejim commented on #2205
Hello @stiko Can you precise steps to reproduce please.
I'm not able to reproduce.

[2018-10-27 15:39] lauriejim commented on #2207
API and content manager use differents controller.
API use generated controllers in `api` folder.
Content manager use controllers inside the plugin folder.

[2018-10-27 15:39] #2207 closed

[2018-10-27 15:42] #2208 closed

[2018-10-27 15:47] lauriejim commented on #2210
Hello @stiko, can you give more precise steps please.

[2018-10-27 16:11] stiko commented on #2210
@lauriejim Sure,
1. Visit a content type
2. Filter to search (3 letters or more)
3. try to delete one of the contents
4. You should get an error. If not, try again with more letters.

[2018-10-27 16:14] #2211 closed

[2018-10-27 16:14] stiko commented on #2205
@lauriejim I don't seem to able to reproduce. It happened while I was developing and testing.

[2018-10-27 16:15] jacargentina commented on #2207
@lauriejim where do I put this logic ( ONE central place ): for a given created API model
1. Get the current authenticated user
2. Assign the user ID to a field on the model

Thanks

[2018-10-27 16:29] stiko commented on #2210
**Update:** I just tested it with a different content type and it works, so I started looking at the calls it makes and when it fails (Only with this one content type).
When I delete without filtering it makes this successful call
`http://localhost:1337/content-manager/explorer/[content_type_singular_name]/5bd237a9f0ba82d37c8a4907?source=content-manager`
But when I filter it fails while it's makin

[2018-10-27 16:32] lauriejim commented on #2187
@soupette Something for you here.

[2018-10-27 16:37] lauriejim commented on #1859
Hello @g-div , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-10-27 17:45] stiko commented on #2210
Updating to 14.4 does not solve this issue in addition to the weird behavior of 14.4.
This happens only with contents that were added via POST request (not via UI).

[2018-10-27 17:59] lauriejim commented on #2207
In the Model.js file of your API models folder (before create function)

[2018-10-27 18:30] jacobgelman opened #2215 "Computed Attributes"
**What is the expected behavior?**

I have a basic product model with the following attributes:
- title [string]
- description [text]
- price [decimal]
- stock [int]

When fetching products for use in my frontend, I need to know whether or not the product is in stock without revealing the actual number of items in stock.

Is it currently possible to have a computed attribute: an attribute that is

[2018-10-27 19:02] pbov commented on #2213
For for debug reasons: Works for me on High Sierra with a fresh install (with npm)

- npm: 6.4.1
- node: v9.11.1
- strapi: 3.0.0-alpha.14.4.0
- mongodb 4.0.3
- macOS 10.13.6

[2018-10-27 20:08] wdavidw commented on #2185
Without a direction, I could think of a few use cases:
- friends in a user content type
- related pages in a page content type

Also, we could have a checkbox option to filter out the current entity (eg, related pages should not propose the current page being edited)

[2018-10-27 22:16] jacargentina commented on #2207
So... How do I get "the current user" there? AFAIK there is no "ctx" in there (it is available on controllers)

[2018-10-27 22:46] masiya255 commented on #2215
Does not work when upgrading from version 14.3 (

[2018-10-27 22:47] masiya255 commented on #2213
Does not work when upgrading from version 14.3 (

[2018-10-27 23:12] jacobgelman commented on #2213
Same issue. I'm running the same version of everything as cesarvarela.

[2018-10-27 23:14] z-ax commented on #1683
Still an issue. Just created 2 types: Publication and Tag, added many-to-many relation and it doesn't respond properly for one of them: publication can query tags, tags can't query publications.

Just in case: Publication has "tags" Array in Mongo when created via admin, none of Tag has "publications".

[2018-10-28 00:32] cesarvarela commented on #2213
I've tried both mongo and mysql and got the same result.

once thing I've noticed is that If I manually delete my user from the db and then signup again, I do see the new Types, but if I refresh the page the items disappear again...

[2018-10-28 01:08] joakgord commented on #2213
I have got the same issue as @cesarvarela

[2018-10-28 01:09] stiko commented on #2213
Same issue here. I had to roll back to 14.3

[2018-10-28 01:52] cesarvarela commented on #2213
I've found more stuff, maybe this can help you guys::

I can access the new types If I do what I mention above, but when I add new fields to this new types, they don't work immediately, the `Type.settings.json` gets modified with the new field definition, but only gets visible in the UI if I restart strapi.

Is this a caching issue maybe?

[2018-10-28 01:55] stiko commented on #2213
All my content types disappear if I modify a content type from content type builder. I only get them visible if I clear cache from browser settings.

[2018-10-28 10:15] orangesmartie92 commented on #2213
@stiko same here.

[2018-10-28 10:35] mnlbox opened #2219 "Group content fields"
**What is the expected behavior?**
If we want to create an object with big list of fields I think it's better to able to group field in some group. For example:
group of fields called **general info**:
* name
* family

and another group called **contacts**:
* email
* mobile number
* address

then we can show fields in a **collapse** view (if we set group for field view switch to collapse)

[2018-10-28 10:49] mnlbox commented on #2215
I like it :heart:
It can be a code block and anyone can write simple code snippet there for manage computed fields. :thinking:

[2018-10-28 10:52] mnlbox commented on #2213
I have same issue. After upgrade to 14.4.0
My other issue (#2114) fixed but now I can't see my new content types in side bar.

[2018-10-28 11:01] mnlbox commented on #2175
interesting +1

[2018-10-28 11:13] abdonrd commented on #2213
With npm!

[2018-10-28 12:45] mnlbox commented on #2213
I also installed from npm based on this migration guide: https://github.com/strapi/strapi/issues/2213

[2018-10-28 13:09] lauriejim commented on #2213
Was it a app migration or new app ?

[2018-10-28 13:11] mnlbox commented on #2213
@lauriejim I test new app and also migrate an old app. Both have same issue.

[2018-10-28 13:15] mnlbox commented on #2213
@lauriejim I think it's based on browser. In chromium anything is OK but I have issue in Firefox. Is it a cache problem?

[2018-10-28 16:16] orangesmartie92 commented on #2213
@mnlbox I also tried migrating to 14.3 but same issues too

[2018-10-28 16:38] orangesmartie92 commented on #2213
I have all the same versions for all of the above but my node version is v10.10.0.

It works on my mac, but when I try on a remote ubuntu 16.04, it doesn't work

[2018-10-28 17:03] drieshooghe opened #2220 "Content type builder extension installed but not visible in menu"
**Informations**
- **Node.js version**:  v11.0.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: Debian 9

**What is the current behavior?**
I just did a fresh install and configuration of Strapi and even though the 'Content Type Builder' extension is displayed as enabled in the Plugins page, the plugin isn't listed in the menu.

![

[2018-10-28 17:29] abdonrd commented on #2213
I have tried both!

[2018-10-29 02:02] wsalazar-peakactivity commented on #511
Any resolution on this? 3.0.0-alpha.14 and I'm still getting this. Not sure why this issue was closed.

[2018-10-29 05:51] trieutritam commented on #2162
@lauriejim: I've just tried with latest version (14.4.0) and this issue was fixed.

[2018-10-29 05:52] #2162 closed

[2018-10-29 06:08] derrickmehaffy commented on #511
@wsalazar-peakactivity If no one responds with updated information on how to reproduce the issue is closed. Also the current version is v14.4. If you can test on the latest and provided detailed step by step instructions to reproduce the issue, then I'm sure it can be reopened.

[2018-10-29 09:16] GlennCarroy opened #2222 "What to save on github?"
Hey there,

I am curently using a docker-compose containing the official images used to make strapi run.

I would like to know which folders have to be saved on github when you want to commit your code?

For now, after some research, it looks llike everything (all folders) are pushed, which might get pretty heavy with a project growing up, is there a reason for that? Cannot the admin / functionnal

[2018-10-29 09:37] lauriejim commented on #2222
Hi @GlennCarroy can you create this issue on https://github.com/strapi/strapi-docker repo please.
Thank you.

[2018-10-29 09:37] #2222 closed

[2018-10-29 09:38] xiehai001 opened #2223 "start error"
![image](https://user-images.githubusercontent.com/24218743/47641527-4c3bb880-dba1-11e8-925e-fc1c293620fa.png)

start error

[2018-10-29 09:43] derrickmehaffy commented on #2223
You have multiple auto_update timestamp fields on a single model O_o FYI by default all models already have `created_at` and `updated_at` with the updated field being `on update`

Check your models and delete any manual auto_update date fields.

Also please follow the issue template, without providing additional information your issue will be closed.

[2018-10-29 10:42] lauriejim commented on #2223
Hello @, please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.
Thank you.

[2018-10-29 10:43] #2223 closed

[2018-10-29 13:38] #1840 closed

[2018-10-29 14:28] lauriejim commented on #2207
To do that you have to update controllers (API and Content-Manager), it's not possible to get the context in lifecycle of models

[2018-10-29 15:06] jacargentina commented on #2207
So, it is not possible what i've asked first (the part where i put _ONE central place).

Following the reasoning, i think content-manager controllers could call the API controllers. If you agree, i could try to make a PR to implement it.

I think it _is a must_: to have a central place to make centralized logic for the models. Dont you?

[2018-10-29 18:18] #2197 closed

[2018-10-29 18:21] lauriejim commented on #2220
Are you in `production` env ?

[2018-10-29 18:53] drieshooghe commented on #2220
@lauriejim I am, I launched strapi with pm2 with this command, which gave no errors:
[code]

[2018-10-29 19:01] lauriejim commented on #2220
Check here https://github.com/strapi/strapi/wiki/Create-files-on-Heroku

[2018-10-29 19:02] lauriejim commented on #2220
The plugin is not available in production env.
You have to create your content type in dev mode, the deploy your ap in your dev mode.

[2018-10-29 19:52] drieshooghe commented on #2220
Okay, sure explains a lot. Perhaps something to point out in the tutorial.
Much appreciated!

[2018-10-29 19:52] #2220 closed

[2018-10-29 21:04] aissa-bouguern commented on #1683
When do you think this issue to be fixed ?!!

[2018-10-29 21:50] davidenq commented on #2213
Hi,
I've same issue, but after some steps I've achieved that the table for a new content type appears.

How to reproduce it.

- First, I've run the application.
- Next, I've tried to create a new content type, then that issue appears (the table doesn't appear in database but all files inside api folder have been created).
- After that, I've stopped the application and I've run again it.
- Finally,

[2018-10-30 00:13] nilsontan opened #2227 "Sorting data using GraphQL"
**Informations**
- **Node.js version**:  10
- **npm version**:  6.4.1
- **Strapi version**: 0.14.4
- **Database**: mongodb
- **Operating system**: Win 10

I have a model like this
[code]
I am trying to sort by date using graphQL.
[code]

**What is the current behavior?**
the query does not throw an error but returns same result as "dob ASC"

**Steps to reproduce the problem**
as above

**What is t

[2018-10-30 08:37] mhavci commented on #2196
node install dir C:\nodejs , the problem is caused by the space in the user name

[2018-10-30 09:49] lauriejim commented on #2227
Hello @nilsontan.
Please check the documentation about GraphQL.
Your sort syntax is not correct https://strapi.io/documentation/3.x.x/guides/graphql.html#configurations

[2018-10-30 09:50] #2227 closed

[2018-10-30 09:52] nilsontan commented on #2227
Oops I was looking at 1.x.x docs.
Thanks @lauriejim

[2018-10-30 10:52] lauriejim commented on #2227
No problem!

[2018-10-30 10:57] wyamout commented on #1450
Yep my client already complaining about the editor as it's non-tech friendly, I guess they got used to wordpress. I tried iframes they didnt work also. Any idea how to add iframes to posts for example?

[2018-10-30 13:49] abdonrd commented on #2146
Same issue with the new App Engine version supported:

[code]

[2018-10-30 13:57] beeplin opened #2228 "Use facebook/dataloader to improve GraphQL performance"
**What is the expected behavior?**

The current graphql plugin redundantly fetches data from mongodb and suffers from n+1 problem, which is very common for un-optimized graphql resolvers implementations. Example:

[code]

And the mongodb log:

![image](https://user-images.githubusercontent.com/13058150/47723037-a9616800-dc8e-11e8-9792-b970988be1e5.png)

Notice that different posts may have same bi

[2018-10-30 14:20] soupette commented on #2213
Well the problem seems to be with Firefox when running the build. The error doesn't appear in dev mode (on `localhost:4000`).

[2018-10-30 14:24] abdonrd commented on #2213
I always use Chrome. 😕

[2018-10-30 14:31] davidenq commented on #2213
I've been working with Chrome but, I have same issue.
Google Chrome Version 69.0.3497.100 (Official Build) (64-bit) on MacOS X El Capitan Version 10.11.6 (15G31)

[2018-10-30 14:59] mkasprzyk commented on #1996
@soupette I've got the same issue in v3.0.0-alpha.14.3 🐙
The same error occurs, when i want to chose Role from dropdown menu for new user.

[2018-10-30 15:28] abdonrd commented on #2213
I can't see the `/content-manager/models` request in the Network tab when the content doesn't appear.

[2018-10-30 17:11] soupette commented on #2186
@jacargentina I'm having a hard time reproducing the issue.
I've tried to create a `Blog` content type with `titulo` and `cuerpo`, then I've renamed them to `title` and `text` and the app is still working great. Do you have any `camelCase` content type in your app?

[2018-10-30 18:27] betomoretti opened #2231 "WYSIWYG not working properly"
**Informations**
- **Node.js version**: 10.7.0
- **npm version**: 6.4.0
- **Strapi version**: 3.0.0-alpha.14.1
- **Database**: Mongo
- **Operating system**: Linux

**What is the current behavior?**
On my local setup, I'm changing an text attribute to show it as WYSIWYG text attribute. After the server is restarted, the attribute is showed as WYSIWYG text attribute but no file has change. So, I hav

[2018-10-30 18:34] derrickmehaffy commented on #2231
`3.0.0-alpha.14.1`

As stated in the issue template, please update to the latest version.

[2018-10-30 18:41] jacargentina commented on #2186
@soupette  no, no camelCase at all.

Maybe there are some server restarts in between ?

[2018-10-30 22:09] soupette commented on #2231
In order to display the WYSIWYG you will need to migrate your `core_store` collection

[2018-10-30 22:11] soupette commented on #2186
Well the servers restart each time you modify a file, so and the `content-type-builder` is blocked when the option is disabled, I did set the `admin: { autoOpen: false } }` in the server config though.

[2018-10-31 03:43] frodoe7 commented on #1788
I'm facing this same issue
what's the updates please?

[2018-10-31 06:07] mnlbox commented on #2213
@soupette Is it related to #1271 ?? :thinking:
If it is I think it's better to fix both of them in #2229 PR. :wink:

[2018-10-31 06:11] mnlbox commented on #786
@Pritoj I think this library is more better than other :thinking:
Take a look to it :wink:

[2018-10-31 09:59] Dogtiti commented on #2213
I have the same issue.
and I have tried many times to reinstall it with Quick Start guide，but it still doesn't appear in the content types list.

[2018-10-31 11:38] betomoretti commented on #2231
Hi @soupette, thanks for answer!
Do you mean copy everything in core_store from my local db to my production db?

[2018-10-31 12:55] fsc7 opened #2238 "Graphql query return incorrect value for related data on One-to-Many relation"
**Informations**
- **Node.js version**: v11.0.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: PostgreSQL
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
I have one table RFQ (Request for Quotation) which has a Purchaser, a purchaser may have many RFQs.
My query is
[code]

In the database and Strapi Admin Interface I receive the right info

[2018-10-31 13:02] fsc7 commented on #2238
REST Request works fine.

[2018-10-31 13:48] soupette commented on #2213
@mnlbox the fix I made should also fix #1271.
@Dogtiti there's a PR open #2229 until this is released you can just take the code and run the following command at the root of your project `npm run setup` your app should work properly after that.

[2018-10-31 21:58] thetre97 commented on #474
Can you deploy with Docker? According to the [Zeit docs](https://zeit.co/docs/deployment-types/docker#file-system-specifications)...

## File System Specifications
There are no limitations inside Docker deployments when it comes to the file system. It's always writable and readable.

[2018-11-01 02:55] mikebutts commented on #1911
This fixed it for me

[2018-11-01 03:42] maturanomx commented on #1427
**Otherwise:** Application handling log routing === hard to scale, loss of logs, poor separation of concerns

More extensive argumentation: https://github.com/i0natan/nodebestpractices/pull/272/files

Totally support that.

[2018-11-01 07:38] amitmalagi opened #2241 "User role selection results in blank page"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:  v3.0.0-alpha.14.3 using docker-compose
- **Database**:
- **Operating system**: Ubuntu

**What is the current behavior?**
Clicking on role selection takes user to blank page.

**Steps to reproduce the problem**
Install Strapi using docker-compose. Register new user as admin and sign-in. Click on 'add new user' and cli

[2018-11-01 08:20] Dogtiti commented on #2213
@soupette  thx.
however,I need it Immediately，I have took your code but I can't build them, so how can I do?
maybe I have built them ,but it didn't change any more, so what should be the right steps?###

[2018-11-01 11:04] Aurelsicoko commented on #315
You're right, we should also support local installation. However, I would suggest making a PR to support local installation because it's not one of our priorities for now.

[2018-11-01 11:11] omkarpg0931 opened #2242 "Click on c"
**Informations**
- Node.js version: 10.X
- npm version:6.4.1
- Strapi version: v3.0.0-alpha.14.3 using docker-compose
- Database: Postgres
- Operating system: Ubuntu

**What is the current behavior?**
- Clicking on "Add New Language" results in Blank Page.

**Steps to reproduce the problem**
- Install Strapi.
- Register new user as admin and sign-in.
- Click on 'Configurations' -> languages
- Clic

[2018-11-01 11:18] Aurelsicoko commented on #1999
I've added a new card on our public roadmap. Feel free to upvote the feature and give us insights (https://portal.productboard.com/strapi/c/28-media-library-with-edit-crop-resize-capabilities).

[2018-11-01 11:42] Aurelsicoko commented on #2161
I completely agree with all of you about this security issue. Currently, the policy system that we have is great but it only works for REST. I think we could reuse/extend this system and apply it to the field level. Or maybe we should rethink it entirely.

IMHO, the issue is specific to GraphQL. We do not have that kind of issues with REST because the queries are not nested like it can be using Gr

[2018-11-01 12:51] NickBolles commented on #2161
@Aurelsicoko thanks for your comments.

I think the idea here is that all of the other plugins respect the core plugins. So for graphql it should respect the user-permissions permissions policies. I think that there was a pull request out there to fix this deficiency in the graphql plugin.

I really think that this should be a field level policy, not a query level setting.
If it's a field level po

[2018-11-01 12:59] betomoretti commented on #2231
To give some context, if change the layout.json file, delete de plugin-content_manager-schema document in the core_store db, and then restart the server, the new document is created empty. That is, the attributes appearance value stay empty and the text areas don't shows with wysiwyg.

[2018-11-01 13:37] lauriejim commented on #2238
I think your issue is a duplicate of this one. Can you confirm https://github.com/strapi/strapi/issues/2192

[2018-11-01 13:58] lauriejim commented on #315
In this case (for non global installation), you can use npx

[2018-11-01 14:12] NickBolles commented on #630
I would also contribute a lot to the typescript implementation.

I think that having defined classes, interfaces and types for Services/Controllers/ORMs etc would be extremely beneficial to Strapi.

@John0x  @erikvullings  @TimMensch have any of you made any progress on this? Should we get something going?

Maybe we start with a small part and get the tooling in place and do things one by one

[2018-11-01 14:40] Aurelsicoko commented on #1427
@maturanomx Me too. It's the exact same situation we had with SSL. We could handle it but it's not part of our job. There are plenty of others solutions that write logs better than us.

We're offering a Node.js application that allows people to build API quickly with a dashboard to manage the content. We should not handle SSL, logs, views, etc. We can do it but we won't do it because it's not in o

[2018-11-01 14:58] Aurelsicoko commented on #752
@jacargentina You can start working on it, sure. Feel free to reach me on Slack to discuss more precisely about the feature.

I read all the comments here, there are a lot of good insights. I understand the need behind. I created a new card on the public portal, please upvote the feature and feel free to give me more insights (https://portal.productboard.com/strapi/c/29-support-slug-type-seo).

[2018-11-01 15:20] Aurelsicoko commented on #1729
@g-div If my memories are correct, I added this line because the `manyToOne` relation wasn't working correctly either. Maybe this part of the code should be only executed in a specific scenario.

If you remove these lines, please make sure that the `manyToMany`, `manyToOne` and `oneToMany` relations work perfectly by using the admin panel with multiples entries. Also, test the relation from both s

[2018-11-01 15:21] Aurelsicoko commented on #2189
Excellent feature request as always 👍

[2018-11-01 16:11] entwicklerfr commented on #1427
@Aurelsicoko,

I simply took an User Story in the strapi backlog.
If the Owner of this Product finally decides to not implement this feature it's absolutely not a problem for me.
I simply stop my current work on this Pull Request.
At least things are clear.
:ok_hand:

[2018-11-01 16:15] TimMensch commented on #630
@NickBolles I was serious when I said I would be ignoring `strapi`. My comment above resulted in excuses and a request for someone else to do all the work -- which is non-trivial and would require the cooperation of the project.

And then I get more downvotes than upvotes, so this community clearly hasn't gotten the memo that TypeScript is where we _all_ should be. As I said, it's a best practice

[2018-11-01 16:39] #2152 closed

[2018-11-01 16:45] abdonrd commented on #630
I think TypeScript could be a good thing. 🙂

[2018-11-01 17:04] lauriejim commented on #2228
Hello @beeplin , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-01 17:18] Aurelsicoko commented on #630
@TimMensch You're talking about Loopback 4, not LP2. We aren't reluctant to move to TS or Flow but there is a way to explain to a community why we should move to this kind of technology.

I'm 100% sure as well we should at least use Flow or move to TypeScript. However, even the Facebook team recommends using TS instead of Flow (https://twitter.com/sebmck/status/1056948355941584896). The only cons

[2018-11-01 17:29] fsc7 commented on #2238
@lauriejim It is not exact the same problem but it can be related. My problem happens with simple one-to-many relation.

[2018-11-01 17:54] TimMensch commented on #630
Sorry, haven't looked at Loopback for a while. You're right, it's 4.

Flow is just a non-starter. TypeScript has really won that battle, and it wasn't even a battle. As you point out, even Facebook isn't backing their own project any more. Tons of projects have built-in TypeScript support, or good `@types`, and the only ones I've seen in the wild with built-in Flow support have been Facebook proje

[2018-11-01 18:06] NickBolles commented on #630
I would actually argue that contributing to a typescript project is much easier after you understand the absolute basics of typescript (maybe a couple hours).

It improves the visibility and discovarability of the APIs and data structures. Which is actually why I started looking for this issue... I'm having trouble figuring out where strapi keeps the model data that I want.

[2018-11-01 18:52] jacargentina opened #2244 "Customized id field not working when trying to query with GraphQL"
**What is the expected behavior?**
I've customized my model to have a `String` as the `id`. Then tried to query with graphql like this:
[code]
I've got the error:

`variable "$id" of type "String!" used in position expecting type "ID!"`

By looking at the sources, i see that the graphql plugin, defines Query for any given model with `(id: ID)` without even looking at the model customization (chang

[2018-11-01 19:00] christiandelangel commented on #1968
loginData: {
          identifier: "yourAdmin",
          password: "passYourAdmin",
}

[2018-11-01 19:04] rpedroni commented on #1317
Hey guys, any update one this?
Just started using Strapi today (fresh alpha install) and can confirm GraphQL accepts anything for "Authorization" header.

![whatsapp image 2018-11-01 at 16 04 24](https://user-images.githubusercontent.com/759187/47873378-d4170200-ddef-11e8-92b1-660337754d50.jpeg)

[2018-11-01 19:27] usb248 opened #2245 "CORS security API"
**Informations**
- **Node.js version**: 8.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: mongoDB
- **Operating system**: Win10

**Question**
I develop a web application with a framework (NUXT) and i would like to know how api is secured. (yes we can required a authentificated user, but in my most cases, my endpoints need to be public (pagination, insert post i

[2018-11-01 19:37] creativeesprit opened #2246 "Adding Range header to video/audio file"
**Informations**
- **Node.js version**: 10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: mongo
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**

Video/Audio files not working in Safari 9+

**Steps to reproduce the problem**

This could fall under a feature request, though I assume users would expect video/audio files to work in Safari

[2018-11-01 20:53] maturanomx commented on #630
Last time I saw, TS could do type checking with JS files for free, nothing needed, and the type annotations could be done with JSdoc syntax. Is a big advantage of been a superset of JS. So, TS could be introduced gradually and at certain point, not need it to use all the characteristics and syntax.

Said that... also is not a **need** for the project, just a "*nice to have*". Bee careful when eval

[2018-11-01 22:08] TimMensch commented on #630
"Best practices" are well beyond "nice to have" IMO.

That said, I was asking for TypeScript _support_. Porting the project to TypeScript isn't required for _support._

[2018-11-01 22:41] rejifald opened #2247 "Creating nested models"
**What is the expected behavior?**
When I send object with nested model, for example Company: {name: "newCompany", CompanyBanner: {
url: "example.com/newCompany.jpg"
}}
Saving both models is expecting result.
Also if CompanyBanner has _id field, then update this model too.
So, WDYT ?
I saw FR where been proposed create related models directly from same page, where created parent model.
Best.

[2018-11-01 23:04] maturanomx commented on #630
Agree. And you don't need TS to follow best practices 🤷‍♂️ ...

But well. You could add support without much effort... Strapi is always been welcome contributions 👍

[2018-11-02 03:16] rpedroni commented on #1687
Strapi seems to struggle quite a bit with camelCase or spaced names

[2018-11-02 11:22] ykit9 opened #2248 "Adding a file to api config folder disables those api"
**Informations**
- **Node.js version**:  v10.10.0
- **npm version**:  6.4.1

- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: 3.6.4
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**

Generated api returns 404 response on all related routes.

**Steps to reproduce the problem**

1. Install new project using command `strapi new projectname`
2. Perform commands
[code]
3.

[2018-11-02 12:34] mastermsd opened #2249 "Unique field not working"
**Informations**
- **Node.js version**: v10.13.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: PostgreSQL 10.5
- **Operating system**: MacOS Mojave (v 10.14)

**What is the current behavior?**
Setting a field to be unique still makes it possible to fill in ununique value.

**What is the expected behavior?**
Should throw an error.

**Suggested solutions**
I have

[2018-11-02 15:59] gridviewdesign opened #2251 "Cannot create Float or Decimal Fields"
**Informations**
- **Node.js version**: 10.12.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**
When creating a number field, if "Float" or "Decimal" are selected from within Number Format, the server throws an error on restart:

[code]

**Steps to reproduce the problem**
I have a conten

[2018-11-02 16:09] dannydtk commented on #1592
Bump.

MongoDB: 4.0.3
Strapi: v3.0.0-alpha.14.4.0
Node: 10.12.0
NPM: 6.4.1

1. strapi start
2. Logs:
[code]

[2018-11-02 16:14] Leo1003 opened #2252 "Server crash on start after added Decimal/Float type in models"
**Informations**
- **Node.js version**: 10.13.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0 (dev mode)
- **Database**: mongodb 4.0.3
- **Operating system**: Archlinux
- **mongoose version**: 5.3.8
- **mongoose-float**: 1.0.2

**What is the current behavior?**
When restarting the server, it crashed.
[code]

**Steps to reproduce the problem**
Add a Float or Decimal field in Con

[2018-11-02 16:19] TimMensch commented on #630
TypeScript really _should_ be considered a best practice.

I've written a lot about this [elsewhere](https://realmensch.org/2017/01/03/static-types-considered-helpful/). I even wrote about [what made me change my mind about dynamic types](https://www.quora.com/What-was-the-final-straw-that-made-you-stop-programming-with-JavaScript/answer/Tim-Mensch), which didn't happen until I'd been using dynami

[2018-11-02 16:36] Aurelsicoko commented on #2185
Interesting... IMO, there is another way to modelize the scenario. You can create a first entry which will be the parent. Then, every other entry is linked with this parent entry (one-to-many relationship).

Let's take an example, this is my parent entry.
[code]

You can easily display the related articles by populating the `parentArticle` relationship to retrieve the `relatedArticles` property.
[

[2018-11-02 16:37] dannydtk opened #2253 "The FE crashes when going through the content types"
**Informations**
- **Node.js version**: 10.12.0
- **npm version**: 6.4.1
- **Strapi version**: v3.0.0-alpha.14.4.0
- **Database**: MongoDB 4.0.3
- **Operating system**: macOS Mojave 10.14.1

**What is the current behavior?**
The app crashes when viewing the content types. Refreshing the page fixes the issue.
Screen recording: https://streamable.com/udfwa

**Steps to reproduce the problem**
See the

[2018-11-02 16:40] Aurelsicoko commented on #1450
Maybe @soupette can give you some insights?

@wyamout What's the real issue with the current editor? Is this due to markdown? Or something else?

[2018-11-02 16:53] Aurelsicoko commented on #2161
@NickBolles Oh, I like this approach of field policy. I think we should add the support a new `policy` attribute in the model instead. So, the GraphQL plugin will be able to easily retrieve policies associated with a field and execute them in order to let the user access to the data or not.

[code]

However, I'm worried about the format of our current policy. I would like to keep a generic format

[2018-11-02 17:00] Aurelsicoko commented on #1427
@entwicklerfr Thank you for your understanding 👍

Can you give me the link where you saw this task? I'll remove it and maybe remove the whole backlog because it doesn't seem up-to-date.

[2018-11-02 17:04] Aurelsicoko commented on #2219
I already started to work on something similar in the UI. What's the final goal of this? In my understanding, it'll expose a cleaner API. Are there others advantages?

![Uploading Content Type Builder - Content Type view Copy.png…]()

[2018-11-02 17:14] Aurelsicoko commented on #1317
I'll fix it next week, it's in my todo list 💪

[2018-11-02 17:51] Aurelsicoko commented on #630
I created a card on Product Board, feel free to upvote and give me more insights (see https://portal.productboard.com/strapi/c/30-support-typescript).

[2018-11-02 18:12] danielmahon commented on #2161
@NickBolles @Aurelsicoko Might be worth looking into: https://github.com/maticzav/graphql-shield

[2018-11-02 20:32] wdavidw commented on #2185
Yes, I have been thinking about this solution. I came to the conclusion that even if I can apply it to myself, it would be very hard to explain it to my content editors. Also, it is error-prone to creating parent records without children over time.

[2018-11-02 20:34] wyamout commented on #1450
@Aurelsicoko Yes the whole bullets, numbering are kinda annoying. Basically all my 17 editors started complaining I gave them a go at froala they liked it so I will replace draft with froala.

Basically as editors they need more flexibility with creating content moving things around etc..

[2018-11-02 22:49] mtmsuhail commented on #2251
I can confirm this issue.

[2018-11-03 00:02] derrickmehaffy commented on #2251
@gridviewdesign please include your strapi version `Strapi version:`

If you are not on the latest please update to it.

[2018-11-03 00:02] mtmsuhail commented on #2251
3.0.0-alpha.14.4.0

[2018-11-03 00:05] mtmsuhail commented on #2251
The issue solved for me by changing the file **node_modules/strapi-hook-mongoose/lib/utils/index.js**

`module.exports = mongoose => {
  return {
    convertType: mongooseType => {
      switch (mongooseType.toLowerCase()) {
        case 'array':
          return Array;
        case 'boolean':
          return 'Boolean';
        case 'binary':
          return 'Buffer';
        case 'date':

[2018-11-03 00:06] mtmsuhail commented on #2251
The issue solved for me by changing the file node_modules/strapi-hook-mongoose/lib/utils/index.js

`module.exports = mongoose => { return { convertType: mongooseType => { switch (mongooseType.toLowerCase()) { case 'array': return Array; case 'boolean': return 'Boolean'; case 'binary': return 'Buffer'; case 'date': case 'datetime': case 'time': case 'timestamp': return Date; case 'decimal': return

[2018-11-03 00:07] mtmsuhail commented on #2251
The issue solved for me by changing the file node_modules/strapi-hook-mongoose/lib/utils/index.js

`'use strict';

/**
 * Module dependencies
 */

module.exports = mongoose => {
  return {
    convertType: mongooseType => {
      switch (mongooseType.toLowerCase()) {
        case 'array':
          return Array;
        case 'boolean':
          return 'Boolean';
        case 'binary':
          r

[2018-11-03 00:46] wsalazar-peakactivity opened #2255 "Querying _id results in an error every time."
**Informations**
- **Node.js version**: v10.6.0
- **npm version**: 6.1.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: Mongo db version v4.0.0
- **Operating system**: OSX 10.13.4

**What is the current behavior?**
Any time I add _id to any of my queries, I get the following error:
ID cannot represent value: {_bsontype: \"ObjectID\", id: <Buffer 5b db 47 78 37 6c 1f 2b 60 8a d4 0a>}

**S

[2018-11-03 00:47] gridviewdesign commented on #2251
I can confirm, Im on 3.0.0-alpha.14.4.0 as well.

[2018-11-03 03:24] benjamin21st opened #2256 "New content types can be created but does not show up in left column: MySQL 5.7.21 / Mac OSX High Sierra"
**Informations**
- **Node.js version**: v10.13.0
- **npm version**: 6.4.1
- **Strapi version**:
- **Database**: MySQL
- **Operating system**: Mac OS X High Sierra

**What is the current behavior?**
New content type not showing up in the left column after creation, even when following the official start up guide of creating the `post` content type. But oddly, newly created content type shows up in

[2018-11-03 03:56] benjamin21st commented on #2256
![screen shot 2018-11-02 at 11 12 02 pm](https://user-images.githubusercontent.com/8607086/47947828-b4203500-defa-11e8-8197-478e9819ea07.jpg)

Anyway, I'll close this for now. If similar issues arise I'll re-open.

Thank you all for the awesome work!

[2018-11-03 03:59] benjamin21st commented on #2256
Forget what I said earlier, after deleting a content type, the left column went back to just having the "users" item. I'll re-open this for further discussion 😂

[2018-11-03 06:33] Leo1003 commented on #2251
I also have this issue
#2252

[2018-11-03 07:04] wemod123 opened #2257 "Use mongoose plugins"
**Informations**

**Node.js** version: v10.13.0
**npm version:** 6.4.1
**Strapi version:**
**Database:** MongoDB
**Operating system:** Windows

**A general question:**
There are many powerful mongoose plugins, which may improve coding experience significantly, especially who are used to it.  "mongoose-mpath" plugin for example.

is that possible we integrate it in a simple way in case we use the m

[2018-11-03 07:12] shuzootani commented on #1867
I get 400 following [this example with axios](https://github.com/strapi/strapi/blob/8e393492d22cb4eb5a501ebde88b52a3d5eb79f9/docs/3.x.x/guides/authentication.md#local)

[2018-11-03 07:13] Leo1003 commented on #1630
Hello, I opened a PR for ZH translations.
#2258

[2018-11-03 07:17] shuzootani commented on #730
Hi @Perseus

I got 400 error for requesting login with axios [this example with axios](https://github.com/strapi/strapi/blob/8e393492d22cb4eb5a501ebde88b52a3d5eb79f9/docs/3.x.x/guides/authentication.md#local)
Did you figure something out?
Thanks

[2018-11-03 08:19] mnlbox commented on #2219
@Aurelsicoko In my mind It's a simple collapse view and just help to browse content type fields more simpler in admin ui when we have a big content type with so many fields and have not any result in API endpoints.

[2018-11-03 09:12] gonzochic commented on #504
To be honest, this is a breaking change for Strapi (isn't it?). At least it might be smart to version the API. For me it is breaking the ecosystem that i have built to work with Strapi + other things in your ecosystem (see https://github.com/strapi/gatsby-source-strapi/pull/26)

[2018-11-03 11:02] mtmsuhail commented on #2257
I think strapi used mongoose with some custom functionalities that have devoloping and maintaining with strapi. If you want to use any other plugin you may required to alter core functionalities. Or you can also try for side by side with both.

[2018-11-03 16:07] pauldariye opened #2259 "Replacing /admin with a different route for production results in endless loading."
**Informations**
- **Node.js version**: v11.0.0
- **npm version**: v6.4.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: Mongo
- **Operating system**: macOS Mojave 10.14

**What is the current behavior?**

Per the instructions in the documentation, I updated my server configuration for production only to get a loading screen that just keeps loading.
<img width="1326" alt="screen_shot_201

[2018-11-03 20:01] mtmsuhail opened #2260 "Graphql Error while retrieving "_id""
**Informations**
- **Node.js version**: 10.0.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: Windows 10

**What is the current behavior?**
Showing error of

 while` retrieving "_id" of any collection

**Steps to reproduce the problem**

Just use

on any collection from playground

**What is the expected behavior?**

this was worke

[2018-11-03 21:14] oacstevens commented on #2146
Looks like in the more limited standard app engine environment the `postinstall` script isn't run, only basic `npm install`, which leaves the plugins without dependencies. In the flex environment the build script does run, so it all gets setup correctly.

[2018-11-03 22:38] derrickmehaffy commented on #504
It is and was warned about :p. As this is alpha you should assume every change is a breaking one.

[2018-11-04 00:33] kenn44 opened #2262 "Unable to “Add Content Type”"
**Informations**
- **Node.js version**: v11.1.0
- **npm version**: 6.4.1
- **Strapi version**: v3.0.0-alpha.14.3
- **Database**: MongoDB
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
Unable to “Add Content Type”. When I click on, I just have blanck page at the url http://localhost:1337/admin/plugins/content-type-builder/#create::contentType::baseSettings

**Steps to repro

[2018-11-04 00:37] kenn44 commented on #1912
I have the same problem in a fresh project

[2018-11-04 00:57] vanpana opened #2263 "403 when making PUT request /users/:id"
Node.js version: v11.1.0
npm version: 6.4.1
Strapi version: v3.0.0-alpha.14.3
Database: MongoDB
Operating system: macOS Mojave

**What is the current behavior?**
When making a PUT request at /users/:my_id with the user's JWT as Authentication Header with correct json body, you get 403 Forbidden.

**Steps to reproduce the problem**
Create a non-admin user,  make a PUT request at /users/:id with the

[2018-11-04 04:06] derrickmehaffy commented on #2263
Check your permissions on the users plugin. I don't believe update is enabled by default on /me

[2018-11-04 05:19] jdmann commented on #2161
I found this thread while searching for a way to customize Strapi so that I can completely separate user or organization-level data from each other, without having to use multiple applications. If users could belong to an "organization" and all access was restricted within that organization, that would seem very useful.

[2018-11-04 09:30] vanpana commented on #2263
/me was enabled. But if I make a PUT request on /me, it gives me an error that "me" isn't an id. If I check the user update permission, one user can update another user, so that's not really the behaviour I was expecting.

[2018-11-04 13:10] mtmsuhail commented on #2175
can you explain a bit?

[2018-11-04 15:18] adprof commented on #2024
@JulioPablo I experienced the same issue. Try to check URI's in Heroku Settings/Config Vars :D In my case there was URI of another instance of db (as the new one is created on deployment). So first click on addon icon in Heroku/Resources to check which db instance it uses, then edit or create in Config Vars proper MONGOLAB_URI entry. For now I have there 2 env variables MONGOLAB_URI and DATABASE_U

[2018-11-04 17:23] stiko opened #2266 "Duplicate fields"
**Informations**
- **Node.js version**: 10.11.0
- **npm version**: 6.4.1
- **Strapi version**:  v3.0.0-alpha.14.3
- **Database**: Mongo
- **Operating system**: macOS 10.14.1

**What is the current behavior?**
If I modify `models/model.settings.json` and move a field up/down, it will duplicate that field on the frontend. If I put it back to the old order it will duplicate it again. And if I remove

[2018-11-05 01:04] wemod123 commented on #2257
@mtmsuhail, correct.
When I look into the module 'strapi-hook-mongoose', there was integration with mongoose in a way, and plugin to mongoose can be implemented just as what need be done as with only mongoose.
So simply say, we can use mongoose plugins within 'strapi-hook-mongoose'.
While I think further issues of this kind of integration need be tested case by case.

[2018-11-05 04:16] nicfitzgerald opened #2267 "error URI malformed, cannot be parsed URI malformed, cannot be parsed"
**Informations**
- **Node.js version**: 10.13.0
- **npm version**: 6.4.1
- **Strapi version**:
- **Database**: MongoDB v4.0
- **Operating system**: Windows 10

**What is the current behavior?**
After follow [this](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/) tutorial, I get to the `strapi start` and I get the error
`[2018-11-05T04:13:20.830Z] debug ⛔️ Server wasn't ab

[2018-11-05 05:57] wyamout commented on #900
@Aurelsicoko hope this will be coming soon, being able to have a customized cms is why many users choosing to move away from wordpress.

[2018-11-05 09:30] alexisab opened #2268 "Database names cannot contain the character '.'"
**Informations**
- **Node.js version**: v10.9.0
- **npm version**: 6.4.1
- **Strapi version**: v3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
When I create a new strapi project with a `.` in the name and if I keep the generated name for the database I get an error :
[code]

**Steps to reproduce the problem**
`npx strapi@3.0.0-alp

[2018-11-05 10:01] derrickmehaffy commented on #2268
@lauriejim maybe a check to make sure that certain symbols aren't used when creating the project?

(honestly have no idea why someone would want a project with a period but that is a whole other issue :stuck_out_tongue_closed_eyes:  )

[2018-11-05 10:12] alexisab commented on #2268
in my case I was updating my project and I created a new project using the version number as the name (14.4)

[2018-11-05 10:42] soupette commented on #2266
@stiko There's a PR waiting to be merged that fixes this bug #2203 you can apply the modifications directly in your project and the bug won't happen again.

[2018-11-05 11:42] skdigital commented on #2252
I have exactly the same issue, I cant add decimal or float numbers in content type generator, server crashes with exactly the same message as above. I tried development on both linux and windows env but no luck crashes on both. I have also tried using different versions of node from 8xx to 10xx. I have have reinstalled node, rebooted servers, deleted node modules and this crash continues to happen

[2018-11-05 13:06] rzylber commented on #2252
I have the same issue!

[2018-11-05 14:00] wemod123 commented on #1837
Is there any updates of this issues?
For some reason, there be some big amout of coder have to work with windows, This issue definitely happend to windows, specifically win10 when I tested.
Is there any plan to fully support win10 of this project.
**We love this project, and hope it could spread widely in possible way, thus windows support are essential!**

[2018-11-05 14:41] lauriejim commented on #2245
Hello @usb248.

What is you CORS configurations ?

The PHP method you speak about is `csrf`. You can do it when you have server side rendering.
1 page = 1 token and if the request come from an invalide page, it's blocked.

[2018-11-05 14:43] lauriejim commented on #2244
Hello @jacargentina , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 14:46] lauriejim commented on #2246
Hello @creativeesprit , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 14:47] lauriejim commented on #2247
Hello @rejifald , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.
Thank you.

[2018-11-05 14:47] #2247 closed

[2018-11-05 14:54] lauriejim commented on #2248
Hello @ykit9 , thank you for reporting this issue. Really strange...
We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 14:56] lauriejim commented on #2249
Related to this issue https://github.com/strapi/strapi/issues/1189

[2018-11-05 14:56] #2249 closed

[2018-11-05 14:59] lauriejim commented on #2251
Hello, thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

BTW please don't forgot to well template your messages to be more readable. We read more than 300 of your messages every days.

Check out the contributing guide to get started: https:

[2018-11-05 15:02] lauriejim commented on #2253
Can you try to remove in your DB `core_store` > key: `plugin_content-manager_schema`

[2018-11-05 15:03] lauriejim commented on #2255
Can you check this issue please: https://github.com/strapi/strapi/issues/1911

[2018-11-05 15:04] lauriejim commented on #2255
Duplicate of this one (https://github.com/strapi/strapi/issues/2260)
Created after but more documented.

[2018-11-05 15:04] #2255 closed

[2018-11-05 15:05] lauriejim commented on #2260
Hello @mtmsuhail , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 15:17] jacargentina commented on #2244
@lauriejim already fixed in my PR... Maybe you don't saw that 😄

[2018-11-05 15:27] slecorvaisier opened #2269 "Cannot edit role permissions"
**Informations**
- **Node.js version**: v9.10.1
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB v4.0.2
- **Operating system**: macOS v10.14

**What is the current behavior?**
While accessing to role permission edition page, the app goes full white and 2 errors appear in dev tools:
[code]

[code]

**Steps to reproduce the problem**
I came across this issue

[2018-11-05 15:30] lauriejim commented on #2257
Hello @wemod123 , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free to submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 15:30] devaublanc commented on #2262
Same issue on `v3.0.0-alpha.14.3`

[2018-11-05 15:36] lauriejim commented on #2263
`PUT /users/me` not exist.

[2018-11-05 15:36] #2263 closed

[2018-11-05 15:38] fsc7 commented on #2238
Hello @lauriejim ,

I will not submit it as a merge request because I think is not yet a complete solution. But it solves partially the problem and I believe it might help somehow to identify where the problem is.
In plugins/graphql/services/Resolvers.js
line 376
I changed
[code]
to
[code]
And now I can get the correct response.
Hope it helps somehow and you can find the proper solution.

Best reg

[2018-11-05 15:39] vanpana commented on #2263
I know /users/me does not exist. I was wondering how to update an user if /:id does not work

[2018-11-05 15:48] devaublanc commented on #2262
Sorry it's works for me I just forgot to replace the admin folder during the migration

[2018-11-05 15:51] lauriejim commented on #2268
Hello @alexisab , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-05 15:58] lauriejim commented on #504
It was wrote in the migration / change log

[2018-11-05 16:01] slecorvaisier commented on #2269
Can be related to #1912 as every content-builder fails the same way.
I tried to purge the content-manager schema in the core_store, but no success.  I should add that I didn't migrate from a previous version of Strapi.

[2018-11-05 16:21] #2132 closed

[2018-11-05 17:12] lauriejim commented on #2175
I think this issue is related to your message @Aurelsicoko  https://github.com/strapi/strapi/issues/2257

[2018-11-05 17:34] lauriejim commented on #2244
I saw that just after posting my message.

[2018-11-05 17:35] lauriejim commented on #2263
More documentation about polices here https://strapi.io/documentation/3.x.x/guides/policies.html#how-to-create-a-policy

[2018-11-05 18:11] soupette commented on #2269
@slecorvaisier It's not related to #1912 can you try to rebuild your app? `npm run setup --plugins` at the root of your strapi project?

[2018-11-05 18:36] Leo1003 commented on #2251
I believed that I found the reason of this bug.
#### Mongoose 5.3.8 (2018-10-30):
 - fix(mongoose): handle setting custom type on a separate mongoose global #7158 [c7f216c](https://github.com/Automattic/mongoose/commit/c7f216cb4349ea157ac3279cb6fd32c88892cfa8#diff-f412f4722a52cf22ed3d0a9a694b837d)

So, mongoose-float no longer worked because the custom type is separate now.

[2018-11-05 19:11] hutchgrant commented on #2267
I can't reproduce it, even intentionally trying to break mongo config. Though I'm pretty sure that's mongo error. Double check the Mongo configuration in your ./api/config/development/database.json e.g. IP, port, user, password and make sure Mongo is running

[2018-11-05 19:13] Globerada commented on #488
Hi.
I am experiencing the same error.

[code]

I have a model Website which should have several categories:

![error](https://i.imgur.com/Bw70B7R.png)

**website.settings.json:**

[code]

**Category.settings.json**
[code]
Any ideas?

[2018-11-05 20:10] derrickmehaffy commented on #1837
@wemod123 they will work on it when they have time, if you on the other hand have free time and want to work on it please do :stuck_out_tongue:

This is an Alpha, open sourced project that anyone can contribute to, the Strapi team have their hands full working on critical issues and framework changes needed to get a stable release.

To be completely honest windows support is not highly important,

[2018-11-05 20:41] soupette commented on #2253
I'm going to need more info do you have a repo to share?

[2018-11-05 20:50] dannydtk commented on #2253
@soupette [https://github.com/dannydtk/barn-io-be](https://github.com/dannydtk/barn-io-be) - not much has been done there.

[2018-11-05 20:51] NickBolles commented on #1837
I 100% disagree. Node is a cross platform language, which some parts (such as shell commands or file system actions) need platform specific logic, but there are plenty of solutions to this with the node ecosystem, and even built into node.js itself. When you build a project (especially an open source frameworks that you want people to contribute to) you need to use cross platform methods. Period,

[2018-11-05 21:08] soupette commented on #2253
@dannydtk I manage to reproduce the bug.

I have found a way to fix it, you can make the following changes :
**Path -**: `./plugins/content-manager/admin/src/components/TableRow`

[code]
Then you'll just need to run `npm run setup --plugins` at the root of your app.

[2018-11-05 21:21] derrickmehaffy commented on #1837
@NickBolles your correct in most of that, however it worked on node 8 (creating the project) and with node 10 it does not. This was due to a change in node, thus it was a node issue. That being said, it can be fixed on the strapi side.

I do agree that strapi is quite complex (sometimes to a fault).

[2018-11-05 22:20] NickBolles commented on #1837
@derrickmehaffy I think you're confused. None of the issues in the OP are about node issues, they are all trying to use BASH syntax in CMD/Powershell. Those are all bad practices with node and it's associated tooling.

There is a seperate issue that you run into when you run `strapi new`, which is documented in #1281, and also has a workaround of passing in the options as parameters (see the[ this

[2018-11-05 22:31] roghernandez commented on #2260
Have been experiencing this issue as well

[2018-11-05 22:33] roghernandez commented on #2260
Wouldn't this be related to this PR?
https://github.com/strapi/strapi/pull/2261

[2018-11-05 23:59] hunterbecton commented on #2269
I had the same issue @soupette, but everything is back to normal after running the `npm run setup --plugins`

[2018-11-06 05:21] mnlbox opened #2272 "Generate api doc with ReDoc"
**What is the expected behavior?**

Hi,
I think if we can integrate Strapi with ReDoc it can very useful feature. :wink:

https://github.com/Rebilly/ReDoc

[2018-11-06 05:29] roghernandez commented on #2213
Hey @soupette :)
I'm running
node `v11.1.0`
strapi `3.0.0-alpha.14.4.0`
Mac OSX 10.14.1 here,

When I run `npm run setup` and start the server again, I'm still not seeing that newly created content type.

[2018-11-06 06:30] mnlbox commented on #786
Also I think it's good if we have two setting for 2FA:
* One system wide setting that admin can set through admin panel.
* And one setting that can be set through API for each user and save in user profile.

[2018-11-06 06:41] mnlbox commented on #752
Guys please note that slug in UTF-8 languages like Arabic is a little different.
Please also support UTF-8 in this feature implementation for more general approach.

Thanks :wink:

[2018-11-06 07:35] derrickmehaffy commented on #1837
@NickBolles you are right I didn't read the whole thread, my bad.

I'm so used to seeing duplicate windows threads that I jumped to my default response when people don't read open/closed issues, to the point I didn't read the issue haha.

In regards to the plugins, the Strapi team are more or less completely rebuilding the plugins framework right now I believe and over the course of the next month

[2018-11-06 07:37] Globerada commented on #2213
Same issue here. Itis strange, because my app deployed at Heroku shows the content types :S

BTW, at localhost, only users type is show.

[2018-11-06 07:48] Globerada commented on #2256
https://github.com/strapi/strapi/issues/2213

[2018-11-06 08:37] slecorvaisier commented on #2269
@soupette `npm run setup --plugins` solved the problem, thank you.
I close this issue.

[2018-11-06 08:37] #2269 closed

[2018-11-06 11:57] Blacknosaur commented on #2260
This bug is related with breaking changes in GraphQL 14.0.x
You can downgrade to GraphQL 0.13.2, wait for GraphQL 14.1 (it should be released soon) or install the git version of GraphQL (probably unstable)

We have been talking about this [here](https://github.com/strapi/strapi/issues/1911)

[2018-11-06 15:41] Aurelsicoko commented on #1317
Done 💪

[2018-11-06 16:11] Globerada commented on #2262
I think is related to https://github.com/strapi/strapi/issues/2213

[2018-11-06 16:23] Aurelsicoko commented on #2257
We should expose the Mongoose connection initialized in the hook `strapi-mongoose`, so we'll be able to apply plugin in the `bootstrap.js` files.

For example, we have a similar system for Bookshelf which requires a `bookshelf.js` inside the `./config/functions` folder (see https://github.com/strapi/strapi/blob/master/packages/strapi-hook-bookshelf/lib/index.js#L57).

It lets us create a `bookshel

[2018-11-06 16:27] Aurelsicoko commented on #2219
Ok, what you're proposing should be only applied on the UI. We could certainly implement that in the future 👍

I've taken notes of your comment in Product Board. I won't create a public card in the roadmap because it's not a priority for now. I'm closing the issue to keep the repository as clear as possible, however, everyone can still comment on this issue and upvote it.

[2018-11-06 16:27] #2219 closed

[2018-11-06 16:31] Aurelsicoko commented on #2189
I'm closing the issue to keep the repository as clear as possible. If anyone has any feedback, please send us on Product Board, instead, you can still use this issue, if you want to discuss the feature because Product Board doesn't allow public comments for now.

[2018-11-06 16:31] #2189 closed

[2018-11-06 16:32] Aurelsicoko commented on #2185
@wdavidw Did you try to create the association without using the UI? Does it work?

[2018-11-06 16:36] Aurelsicoko commented on #2175
I'm closing this issue, but I've added a new private card on Product Board to consider it in the roadmap. It doesn't seem to be a priority (that's why the card isn't public for now), but feel free to upvote this issue and comment if you've more insights. As I said, the feature can be easily added, PRs are welcomed as usual 👍

[2018-11-06 16:36] #2175 closed

[2018-11-06 16:37] Gillinghammer commented on #2213
Same issue, on Chrome.
Got it working though by pushing my changes to my production server - then added content to the content type and pulled my changes locally... now I have it in the side bar.

[2018-11-06 16:37] Aurelsicoko commented on #2133
Sure! We will do it when we'll develop the Media Library plugin. I'm closing the issue to keep the repository as clear as possible. Thank you again for pointing this out!

[2018-11-06 16:37] #2133 closed

[2018-11-06 16:48] Aurelsicoko commented on #2086
I created a new public card on Product Board, feel free to give me more insights. I think this feature can be very useful and easily implemented (https://portal.productboard.com/strapi/c/31-exclude-include-fields-from-query-request).

I added more details about my thoughts:

- Fetch every relations:
`/categories`

- Exclude the product relation but returns the others:
`/categories?exclude=products

[2018-11-06 16:48] #2086 closed

[2018-11-06 17:03] kenn44 commented on #2262
@Globerada not really, I can't Add Content Type

[2018-11-06 17:08] Aurelsicoko commented on #2020
Recently, we decided to close issues which are not real issues. However, everyone can still comment and give his thoughts on the issue. Some features requests will be transfered on the Product Board, sometimes privately or in the public roadmap.

This is the reason, I'm closing the issue. The debate is still open though...

[2018-11-06 17:08] #2020 closed

[2018-11-06 17:18] #2008 closed

[2018-11-06 17:19] Aurelsicoko commented on #2006
I'm closing this issue, we can continue the discussion in the #1114 issue.

[2018-11-06 17:19] #2006 closed

[2018-11-06 17:19] Aurelsicoko commented on #1999
To keep the repository as clear as possible, I'm closing this issue. Feel free to continue the discussion on it or on Product Board.

[2018-11-06 17:19] #1999 closed

[2018-11-06 17:40] Aurelsicoko commented on #1942
I recommend to read the full explanations of how the current implementation of the validators works (see https://github.com/strapi/strapi/pull/158#issue-90647904).

I'm closing this issue because there is already a public card on Product Board (https://portal.productboard.com/strapi/c/14-validations).

[2018-11-06 17:40] #1942 closed

[2018-11-06 18:46] soupette commented on #2262
@kenn44 there is a PR open #2229 you can directly apply the modification in your project and run `npm run setup --plugins` at the root of your project

[2018-11-06 19:18] carlosmarinho commented on #1152
Any news if this feature was released? ...

[2018-11-06 21:07] derrickmehaffy commented on #1152
@carlosmarinho nope not yet, and probably not in the next few months.

[2018-11-06 22:43] asharamseervi commented on #1687
I too got stuck here. I'm learning & exploring strapi with Strapi Deliveroo clone with Next.js & GraphQL (https://blog.strapi.io/strapi-next-restaurants/). After hitting (installing) `strapi install graphql` even downgrading and without downgrading both outputs same error.
_PS: Obviously, I made `restaurant` Content Type already as demonstrated in blog._

[code]

[2018-11-07 00:31] kenn44 commented on #2262
This https://stackoverflow.com/a/53163646/7932879 work well. I have to run: npm run setup

[2018-11-07 00:44] gianca970226 commented on #2186
I found a solution when you get a white screen, or other reasons for the admin.

Whatever you see in the core_store there were inconsistencies, then delete that collection from the mongo db and restart the server he returned to create it full

[2018-11-07 03:38] wsalazar-peakactivity commented on #2255
Thanks @lauriejim Downgrading to 0.13.2 solved the problem.

[2018-11-07 04:14] gkarmas commented on #1980
@Aurelsicoko  this is still unresolved. Did you confirm ? **Users -> DeepPopulate** is still locked and no way to deep populate any custom fields.

[2018-11-07 10:39] tugal commented on #2128
Same issue here, how do you find out that this fields cause redirect ?

thanks,

[2018-11-07 10:48] Laureian commented on #630
I'm also waiting for TS in strapi as this will improve my productivity and I think this will help new strapi developers to start with. If there will be someone who will start with this feature I will help him.

[2018-11-07 13:51] andrewmee commented on #2185
@Aurelsicoko I'm not sure if this is what you mean, but I just tried creating a many-to-many relationship from a content type ("product") to itself, manually using this in `product.settings.json`

[code]

It looks as though it works, but then when I try to associate one product with another and save, I get a loop in strapi;

[code]

[2018-11-07 14:14] andre-av opened #2276 "Can't use GraphQL in a Heroku instance"
**Informations**
- **Node.js version**: 11.1.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: mLab

**What is the current behavior?**

Graphql playground and requests works fine on the local environment, but when I build it on Heroku I get this response when I request anything:

`Status Code: 400 Bad Request`

Sometimes I get the data I want, other times server r

[2018-11-07 14:15] RasCarlito commented on #2014
Hi @NickBolles I was just trying setting up a Strapi hook to integrate next.js into Strapi and I ran into similar issues.

This is very much a WIP so the implementation may look a bit brutal 😅

My hook looks like this:
[code]

Then I setup a `Core` controller with the following route config:
[code]

And the controller:
[code]

There was an issue with using the next request handler so I tried to fo

[2018-11-07 14:28] NickBolles commented on #2014
@RasCarlito see my PR for a next.js hook. It might end up being published separately from next.js though

#2125

I think my approach is cleaner than 2 files, and it just straight up uses next.js as a fallback for anything strapi can't handle

[2018-11-07 14:34] RasCarlito commented on #2014
Nice! Thanks @NickBolles

But how do you handle custom routes with Next.js render method?

Looking at your PR you don't seem to expose the Next.js instance

I think it'd be good to expose the Next.js instance like I was trying to do to be able to point custom routes to a specific Next.js page 😃

Maybe I just missed something looked very quickly!

Awesome work 👍

[2018-11-07 15:47] andre-av commented on #2276
The response happens with any query: `

[2018-11-07 15:50] lauriejim commented on #2251
@Leo1003 I think you can submit a PR to https://github.com/Vnkitaev/mongoose-float
Thank you for this details. Hope it can be made rapidly to fix our issue.
Thank you @Leo1003

[2018-11-07 15:53] lauriejim commented on #488
@Globerada what is the Strapi version you use please

[2018-11-07 17:44] Globerada commented on #488
14.4.0 alpha.
For this I just followed your tutorial on the relation for restaurant - dishes.
But now, I can't edit or add new models because off the bug of the blank screen in "/#create::contentType::baseSettings". So I am waiting

[2018-11-07 18:07] #1271 closed

[2018-11-07 18:07] #2213 closed

[2018-11-07 19:13] soupette commented on #2259
Do you have any error on the chrome console?

[2018-11-07 19:17] soupette commented on #2115
@brandonin do you have repo that I can check?

[2018-11-08 04:07] Dogtiti commented on #2111
so who has successfully solved it?
I have trouble in replacing it with CKEditor,who can show more details?
Thanks so much !

[2018-11-08 04:31] NickBolles commented on #2238
Possibly fixed by #1948? @kamalbennani could you weigh in?

[2018-11-08 04:35] quangchien opened #2277 "Button show translate id in register page"
**Informations**
- **Node.js version**: v9.11.1
- **npm version**: v6.4.1
- **Strapi version**: v3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: macOS High Sierra

**What is the current behavior?**
I want to enable register page and show a register button in login page to move register but I have no find it, I goto advanced settings in user permission and I have seen that the re

[2018-11-08 04:43] NickBolles commented on #2161
@danielmahon graphql-shield, and graphql-yoga look awesome, and perfect for a framework like strapi. It seems like it would allow the schema to be modularized a ton, so that each plugin could maintain it's own schema and queries could be routed to the right places. On top of that shield (or even just a schema directive), could enforce permissions

It seems like a good direction for strapi to go, b

[2018-11-08 05:37] pauldariye opened #2278 "Unable construct Graphql query for current user in production (heroku)"
**Informations**
- **Node.js version**: 10.11.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.3
- **Database**: Mongo
- **Operating system**:  macOS Mojave 10.14

**What is the current behavior?**
I'm trying to query the current authenticated user's profile but it keeps loading without providing any results.

This feature was implemented [here](https://github.com/strapi/strapi/pull

[2018-11-08 08:17] fsc7 commented on #2238
Hello @NickBolles,

Thanks for the response, I really liked to give it a try but unfortunately my knowledge is limited.
Sorry for the newbie question, but here it goes anyway: I have a strapi server running, how can I test this pull request and revert it for the original state if necessary?

[2018-11-08 09:39] soupette commented on #2277
@quangchien the url is wrong it should be `/admin/plugins/users-permissions/auth/register` to enable the register page you will need to modify the following file:

https://github.com/strapi/strapi/blob/d377da29cab7f59e9d721eda28dd2de9e7e47715/packages/strapi-admin/admin/src/containers/AdminPage/index.js#L98-L105

[2018-11-08 09:55] quangchien commented on #2277
@soupette I see there is a hasAdminUser function so it means that the register page only work when there is no admin user. Is it correctly ? and what do I need to modify these files bro ?

[2018-11-08 10:28] #2186 closed, assigned to soupette

[2018-11-08 11:29] Aurelsicoko commented on #1874
I added this feature in our Product Board (not in the public roadmap though) to think about it. I'm closing this issue to keep the repository as clear as possible and references the features requests in one place.

[2018-11-08 11:29] #1874 closed

[2018-11-08 11:42] Aurelsicoko commented on #1819
We will support this feature for sure! Please give me more insights on Product Board (https://portal.productboard.com/strapi/c/32-authentication-providers). I'm closing this issue because the need has been explained enough to me. However, feel free to comments and ping me if you want 👍

[2018-11-08 11:42] #1819 closed

[2018-11-08 11:43] wdavidw commented on #2185
@Aurelsicoko I haven't tried to create the association manually. I am not sure how I would create the model to support it while preserving the integrity of the content type in case one of the sides of the relation is deleted or modified. Also, I am using a MongoDB backend but my understanding is that Strapi also using some additionnal ORM to interact with other DBMS.

[2018-11-08 11:58] Aurelsicoko commented on #1797
I created a public card on Product Board. I think the feature is pretty simple to understand but if you want to give me more insights, feel free to do it (https://portal.productboard.com/strapi/c/33-add-notcontains-filter).

[2018-11-08 11:58] #1797 closed

[2018-11-08 12:00] Aurelsicoko commented on #1779
I'm closing this issue because we'll add this feature soon. Please give me more insights about your needs on Product Board (https://portal.productboard.com/strapi/c/24-list-components-repeatable-field).

[2018-11-08 12:00] #1779 closed

[2018-11-08 12:02] Aurelsicoko commented on #1756
I'm closing this issue to keep the repository as clear as possible. We have a public roadmap available on Product Board, and there is a feature called "validations" that matches perfectly with this feature request (see https://portal.productboard.com/strapi/c/14-validations).

[2018-11-08 12:02] #1756 closed

[2018-11-08 12:07] Aurelsicoko commented on #1748
Tell me if I'm wrong but maybe the solution to all our problems should be to distinguish between relations and references.

The relations are strict. It means they impact both models. If you can create a relation in one side, you can populate on the other side.

- oneToOne
- oneToMany
- manyToOne
- manyToMany

The references are just links. You link two entity together, there is no strong relation

[2018-11-08 12:10] Aurelsicoko commented on #1678
See https://github.com/strapi/strapi/issues/2161

[2018-11-08 12:10] #1678 closed

[2018-11-08 12:16] Aurelsicoko commented on #1676
I agree that we should support this feature. There is a public card on Product Board (https://portal.productboard.com/strapi/c/34-refresh-token-jwt), feel free to upvote it and give me more insights.

[2018-11-08 12:16] #1676 closed

[2018-11-08 14:04] Aurelsicoko commented on #1562
I added it on Product Board. Feel free to upvote and give us insights to justify the development of this new database connector (see https://portal.productboard.com/strapi/c/35-support-sqlite-database).

[2018-11-08 14:04] #1562 closed

[2018-11-08 14:09] Aurelsicoko commented on #1533
Please refers to this card on Product Board (https://portal.productboard.com/strapi/c/26-new-plugin-architecture). I'm closing the issue because we will implement and write tests with the new plugin architecture.

[2018-11-08 14:11] Aurelsicoko commented on #1507
I'm closing this issue to keep the repository as clear as possible. We're moving the feature request on Product Board. Please refers to this card (https://portal.productboard.com/strapi/c/19-content-internationalization) about the content internationalization. Feel free to give us more insights and examples using Product Board.

[2018-11-08 14:11] #1507 closed

[2018-11-08 14:13] Aurelsicoko commented on #1497
I'm closing the issue because it has been resolved thanks to the amazing work done by @Pritoj. You can still comment and ping us if needed.

[2018-11-08 14:13] #1497 closed

[2018-11-08 14:14] Aurelsicoko commented on #1494
The rate limitation has been added. I'm closing the issue.

[2018-11-08 14:14] #1494 closed

[2018-11-08 14:16] Aurelsicoko commented on #1493
Please refers to the "Validations" card available on Product Board (https://portal.productboard.com/strapi/c/14-validations). The validations should also support regexp like it was discussed in this issue.

I'm closing this issue because we're moving all the features requests on Product Board.

[2018-11-08 14:16] #1493 closed

[2018-11-08 14:18] Aurelsicoko commented on #1488
The hook system will be added with the rework of the plugins' architecture. Please refers to this card in our public roadmap https://portal.productboard.com/strapi/c/26-new-plugin-architecture.

Since we will implement this feature, I'm closing this issue.

[2018-11-08 14:18] #1488 closed

[2018-11-08 14:25] #1465 closed, assigned to Aurelsicoko

[2018-11-08 14:53] Aurelsicoko commented on #1454
I'm closing this issue because we will change our way of handling administrators and users. Currently, there is one collection/table for both. We will create a true administrator system. So this feature won't make sense anymore or the approach will be different.

Feel free to continue the discussion and ping me if needed.

[2018-11-08 14:53] #1454 closed

[2018-11-08 15:01] Aurelsicoko commented on #1450
I created a new card in our public roadmap available on Product Board. Feel free to give me more insights (https://portal.productboard.com/strapi/c/37-wysiwyg-html-editor).

Since we're considering to support HTML in our editor, I'm closing this issue.

[2018-11-08 15:01] #1450 closed

[2018-11-08 15:13] Aurelsicoko commented on #1449
We are considering to develop something similar. Please refers to this card (https://portal.productboard.com/strapi/c/9-blocks-manage-static-content) on Product Board.

I'm closing the issue, but feel free to comment or ping me if needed.

[2018-11-08 15:13] #1449 closed

[2018-11-08 15:14] #1427 closed

[2018-11-08 15:15] Aurelsicoko commented on #1388
I think we should continue the discussion in the other issue #1114. I'm closing this one, but I keep it in mind. It could be very useful!

[2018-11-08 15:15] #1388 closed

[2018-11-08 15:16] dreaddymck commented on #1300
I am using pm2  with watch and useFsEvents enabled. The setup should automatically reload the application if change detected.

My ecosystem.config

[code]
command:
`pm2 start ecosystem.config`

[2018-11-08 15:18] Aurelsicoko commented on #1330
@derrickmehaffy What should we do with this issue? I understand the need but it doesn't seem a priority for now.

[2018-11-08 15:40] eduardotkoller opened #2280 "Running the server with 'npm start' bugs when editing content-type fields"
**Informations**
- **Node.js version**:  10.8.0
- **npm version**:  6.4.0
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: Ubuntu 18.04

**What is the current behavior?**
Some NodeJS server providers require your start script to be `npm start`, but when you start strapi by using it, anytime you create a field on a content type, the server doesn't restart its

[2018-11-08 15:43] jckw commented on #1729
Shouldn't this be a high priority issue? Many to Many fields are completely unusable until this is solved.

[2018-11-08 16:11] Aurelsicoko commented on #1291
I'm closing this issue, please refers to this public card on Product Board (see https://portal.productboard.com/strapi/c/37-wysiwyg-html-editor). Even if the title doesn't express that we'll change the editor, we will certainly take a look at free & open-source alternatives like Froala.

[2018-11-08 16:11] #1291 closed

[2018-11-08 16:18] Aurelsicoko commented on #1225
I create a new card on Product Board (see https://portal.productboard.com/strapi/c/39-extensible-cli). Feel free to give us more insights.

Since we're considering to implement the feature, I'm closing this issue but you can still comment below this message and ping me if needed.

[2018-11-08 16:18] #1225 closed

[2018-11-08 16:19] #1218 closed

[2018-11-08 16:21] Aurelsicoko commented on #1215
IMO, this is another way to talk about validations. We're considering to implementing them (see https://portal.productboard.com/strapi/c/14-validations). I'm closing the issue but feel free to give me insights on Product Board or comment on this issue.

[2018-11-08 16:21] #1215 closed

[2018-11-08 16:23] Aurelsicoko commented on #1191
@gfelot Any update? I'm closing this issue, I'll reopen it when someone will be able to work on it, or if there are more people asking for it. By the way, please use our public roadmap to submit a new idea (https://portal.productboard.com/strapi/).

[2018-11-08 16:23] #1191 closed

[2018-11-08 16:30] nicfitzgerald commented on #2267
I have been testing this. I saw in a different thread that Strapi is iffy on Windows, so I installed Ubuntu 18.04 in WSL. I am still running Node 8.12.x with Strapi@alpha latest. I am still following the same guide linked above, and just to make things even more strict, I am copying the commands directly. I also wanted to remove another variable and I decided to use mLab for my MongoDB instance. I

[2018-11-08 16:32] Aurelsicoko commented on #1086
I've created a new card on our public portal (see https://portal.productboard.com/strapi/c/40-personal-access-token). Can you give me more insights to make sure I'll have enough information to understand the use cases?

Since we're considering to implement this feature, I'm closing this issue. We are moving all the features requests on Product Board.

[2018-11-08 16:32] #1086 closed

[2018-11-08 16:39] nicfitzgerald commented on #2267
Update: I was able to follow [#636](https://github.com/strapi/strapi/issues/636#issuecomment-422484168).
The `uri` line is missing from the development config. As soon as I added that, it was able to start. I'm not sure why that line was not added.

[2018-11-08 16:59] donaldr opened #2281 "Lato font not loading"
**Informations**
- **Node.js version**:  v9.11.1 (from the docker instance strapi/strapi)
- **npm version**: 5.6.0 (as installed by docker instance)
- **Strapi version**: 3.0.0-alpha.14.3

Lato font not loaded when running strapi from docker instance. Many pages have a sans serif font.

[2018-11-08 17:00] donaldr commented on #2281
Is the strapi docker instance not official? If it is it should probably be updated to match the requirements for nodejs and npm versions.

[2018-11-08 17:05] Aurelsicoko commented on #1018
I created a new card on our public portal. I just noticed the number of upvotes on this issue. Please go upvote the feature on Product Board as well (https://portal.productboard.com/strapi/c/41-automatic-project-update).

Since we're considering to implement this feature, I'm closing this issue. We are moving all the features requests on Product Board.

[2018-11-08 17:05] #1018 closed

[2018-11-08 17:37] #1317 closed

[2018-11-08 17:49] Leo1003 opened #2282 "Wrong Decimal/Float precision"
**Informations**
- **Node.js version**: 10.13.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0 (dev mode)
- **Database**: mongodb 4.0.3
- **Operating system**: Archlinux
- **mongoose version**: 5.3.8
- **mongoose-float**: 1.0.2

**What is the current behavior?**
Decimal: 3.14159265358979
Float: 3.14159265358979

**Steps to reproduce the problem**
Create a content type containing

[2018-11-08 17:57] Leo1003 commented on #2251
I submitted a [PR](https://github.com/Vnkitaev/mongoose-float/pull/4) to mongoose-float.
But during the process, I found a new issue about the schema types problem between Decimal and Float.
#2282

[2018-11-08 21:43] derrickmehaffy commented on #1819
No extra comments needed @Aurelsicoko :stuck_out_tongue_winking_eye: If you get the gist of what I was thinking I think it would make everything much easier in the future.

[2018-11-08 21:58] derrickmehaffy commented on #1748
@Aurelsicoko Good point, that lays it out pretty clearly.

[2018-11-08 22:04] derrickmehaffy commented on #1330
@Aurelsicoko I mean at least on bookshelf you just need to define some default accuracy values and allow for users to overwrite it. This would also require an addition to the adminUI.

I don't think should should be closed, and either should be kept as a Good for new contributors. I personally think this is an important issue as without it you are basically locking users in to use only the defined

[2018-11-08 22:06] derrickmehaffy commented on #1191
@Aurelsicoko this really needs to be added to product board, sending nested POST requests (with or without nested relation data) is a fairly important feature I think.

[2018-11-08 22:19] maturanomx commented on #2281
Related? #1928 & #2112

[2018-11-09 13:00] gonzochic commented on #504
@derrickmehaffy i have to admin, you are right. It is an alpha version and therefore the API can/will break.

[2018-11-09 14:37] lauriejim commented on #2278
This PR will be published in next version of Strapi https://github.com/strapi/strapi/pull/2116

[2018-11-09 14:37] #2278 closed

[2018-11-09 15:01] lauriejim commented on #2280
Hello @eduardotkoller !

Content type builder need `auto reload` feature. And it's only available on `strapi start` (https://github.com/strapi/strapi/issues/1008)
So when you create content type with `npm start` or `npx strapi start` it will fire an error (you have to restart the server).

Maybe we can display a specific message to tell `You have to restart your server`.

For production mode, when

[2018-11-09 15:01] #2280 closed

[2018-11-09 15:38] lauriejim commented on #1729
Th PR will be merged for the next release if all is correct.

[2018-11-09 15:55] Vadorequest commented on #747
Also interested

[2018-11-09 16:20] #1729 closed

[2018-11-09 16:40] Aurelsicoko commented on #900
Feel free to upvote the feature on Product Board and give me more insights (see https://portal.productboard.com/strapi/c/13-administration-menu). I'm closing this issue because we're going to implement it. However, feel free to comment or ping me if needed.

[2018-11-09 16:40] #900 closed

[2018-11-09 16:47] Aurelsicoko commented on #1980
It seems that no one has this issue. Can you try to identify why this is not working as excepted in your case?

[2018-11-09 16:48] Aurelsicoko commented on #1152
Please see https://portal.productboard.com/strapi/c/8-administrators-roles-permissions for more details.

[2018-11-09 16:59] Aurelsicoko commented on #1191
@derrickmehaffy I created a card on Product Board (https://portal.productboard.com/strapi/c/42-add-bulk-route-to-create-multiple-entries).

[2018-11-09 20:00] cosydney commented on #1966
Can you elaborate on that ?

[2018-11-09 20:43] cosydney commented on #1966
I've tried all solutions provided, recreating new project I have same error ```content-type-builder fails with a blank page and Minified React error #188;```

[2018-11-09 21:55] derrickmehaffy commented on #744
@Aurelsicoko This issue can probably be closed in favor of https://portal.productboard.com/strapi/c/23-import-export-data

[2018-11-09 21:56] derrickmehaffy commented on #786
@Aurelsicoko should probably add this to productboard for API Design, I think it will fit in nicely with the purposed changes to the providers and such.

[2018-11-09 21:57] derrickmehaffy commented on #884
@Aurelsicoko can probably close this issue in favor of https://portal.productboard.com/strapi/c/12-migrate-across-environments

[2018-11-09 21:58] derrickmehaffy commented on #1292
@Aurelsicoko can probably close this issue in favor of: https://portal.productboard.com/strapi/c/38-filters-on-relational-attributes

[2018-11-09 21:59] derrickmehaffy commented on #672
@Aurelsicoko similar here, can probably close this in favor of: https://portal.productboard.com/strapi/c/12-migrate-across-environments

[2018-11-10 10:46] #1683 closed

[2018-11-10 16:43] nom4da commented on #1339
It's happening to me as well. It only shows the Content Types first time I login, but if I refresh the browser only Users is shown.

Seems that on refresh it doesn't make this request:
http://localhost:1337/content-manager/models

[2018-11-10 18:52] sidharthv96 opened #2285 "Users with same display name in Google cannot signup from different accounts"
**Informations**
- **Node.js version**: 8.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: MacOS

**What is the current behavior?**
If two users have same `displayName` set in Google, the second user will not be able to register with google login as it will show User Name already taken.

**Steps to reproduce the problem**
Signup

[2018-11-10 19:00] sidharthv96 commented on #2285
Fixed in #2286

[2018-11-10 19:50] cosydney commented on #1966
Resolved:
It seemed I had conflict between Strapi installed on my computer (here 14.4) and the one I was running (which I saw in the bottom left of the admin panel 'powered by 3.0.0-alpha.14.2.0)....
![image](https://user-images.githubusercontent.com/10532381/48305415-47132d80-e500-11e8-924c-17b837b35983.png)

I just had to follow the migration guide for React minified error to disappear:
https://

[2018-11-10 20:48] abdonrd commented on #2260
I have the same issue!

[2018-11-10 23:42] ahmdsdk commented on #1483
Any news on this?

[2018-11-11 03:40] selected-pixel-jameson commented on #483
+1

[2018-11-11 05:03] derrickmehaffy commented on #2111
@dottgonzo The issue here is that it is not good practice to store direct html in a database.

1) It's bit and bloated, taking up far more space than just standard markdown
2) It opens up to security concerns on malicious html being loaded on the frontend
3) It's a very ugly solution and is difficult to maintain.

Markdown is being used because it basically looks like normal text and is much small

[2018-11-11 07:34] dalirnet opened #2287 "Can't delete Content Type from admin panel"
**Node.js** v8.12.0
**Npm** 6.4.1
**Strapi** 3.0.0-alpha.14.4.0
**Database** mongodb
**Operating system** win64

i get fault message **(Bad Request)** after delete e content type from admin panel.
after check http request for this action:

- **my http request**
`[DELETE] http://localhost:1337/content-type-builder/models/list`

- **my http response body**
`{"statusCode":400,"error":"Bad Request","m

[2018-11-11 08:33] derrickmehaffy commented on #2287
@dalirnet please follow the issue template, failure to do so will result in your issue being closed without any additional troubleshooting or support done.

[2018-11-11 08:52] derrickmehaffy commented on #2282
@Aurelsicoko I believe this is related to: https://github.com/strapi/strapi/issues/1330 in some way, I'm not sure how mongo handles accuracy for decimal/float

[2018-11-11 09:11] masehitam opened #2288 "An error occurd on upload page"
**Informations**
- **Node.js version**: v11.1.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: OSX

**What is the current behavior?**
I got this error message on upload page, and the list images that I've upload empty, even though I have uploaded several pictures
<img width="1440" alt="strapi - files upload 2018-11-11 16-05-22" src

[2018-11-11 09:17] shuzootani commented on #2238
Bonjour @lauriejim
I guess I'm having the same kind of error.
GraphQL query returns wrong values.(rest looks good)

on my side, even for `role` that has a relation with user model by default, it returns `Administrator` for all users, which is supposed to be owned by only one user.

<img width="1279" alt="screen shot 2018-11-11 at 1 01 18" src="https://user-images.githubusercontent.com/19385183/483

[2018-11-11 10:23] masehitam opened #2289 "Error occurs when the field only consists of json input"
**Informations**
- **Node.js version**: v11.1.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: MongoDB
- **Operating system**: OSX

**What is the current behavior?**
<img width="1440" alt="never ending" src="https://user-images.githubusercontent.com/16290327/48311700-5f557c00-e5d6-11e8-873a-aef22f4f0c1d.png">

**Steps to reproduce the problem**
when input field i

[2018-11-11 14:00] #1292 closed

[2018-11-11 14:06] Aurelsicoko commented on #1007
I'm closing it because we created our own automatic system to handle translations with GitHub issues. It works pretty well right now. After discussions with the core team, we don't feel necessary to switch to Crowdin or others similar solutions. We'll reopen this issue if needed. Thanks for the proposal 👍

[2018-11-11 14:06] #1007 closed

[2018-11-11 14:07] Aurelsicoko commented on #885
I'm closing the issue because we don't plan to use Yarn workspace for now.

[2018-11-11 14:07] #885 closed

[2018-11-11 14:07] #884 closed

[2018-11-11 14:08] Aurelsicoko commented on #845
I'm closing this issue because we'll implement it (see https://portal.productboard.com/strapi/c/14-validations). Feel free to give me more insights or upvote the card.

[2018-11-11 14:08] #845 closed

[2018-11-11 14:10] Aurelsicoko commented on #839
I really appreciated the work done here! It helped me a lot to understand new usages and how we could improve the Content-Type Builder plugin in the future. Unfortunately, we won't implement JSON-LD support for now. Thank you @kopecmi8 for the great work 👍

[2018-11-11 14:10] #839 closed

[2018-11-11 14:16] Aurelsicoko commented on #786
The card has been created, please upvote it and give us more insights (https://portal.productboard.com/strapi/c/43-support-2fa-via-users-permissions-plugin). I'm closing the issue but feel free to comment on it.

[2018-11-11 14:16] #786 closed

[2018-11-11 14:19] Aurelsicoko commented on #784
IMO, the array field is a repeatable-field with only one string (in the repeatable schema). We won't implement two different field types for the same usage. I'm closing the issue, I think I have enough use cases. Please upvote the feature on Product Board (https://portal.productboard.com/strapi/c/24-list-components-repeatable-field) 👍

[2018-11-11 14:37] Aurelsicoko commented on #624
I've created a card on Product Board (https://portal.productboard.com/strapi/c/44-data-ownership). I'm closing this issue, I think we have enough information and use cases to develop this feature. When we tried to implement it we faced many technical issues due to Mongoose and Bookshelf. I hope we'll find the solution this time.

[2018-11-11 14:37] #624 closed

[2018-11-11 14:41] Aurelsicoko commented on #530
I've created a private card on Product Board (you can see the public roadmap [here](https://portal.productboard.com/strapi)). I'm closing this issue because we've enough information and use cases to develop the feature. However, this is not our priority and we would love to see the community create the connector. Feel free to ping me if you want more details.

[2018-11-11 14:41] #530 closed

[2018-11-11 14:41] Aurelsicoko commented on #483
This feature will be implemented. Please upvote and give us more insights via Product Board (https://portal.productboard.com/strapi/c/10-custom-fields).

[2018-11-11 14:41] #483 closed

[2018-11-11 16:40] asharamseervi commented on #1687
Hey @lauriejim & @pierreburgy, is this not a serious bug which needs to be resolved?
Is there any workaround if you're not working over this? Why the priority set to medium??

I can't move ahead strapi-deliveroo tutorial after installing graphql plugin, how did you made rest of tutorial series even you stuck at this point? haah !!

[2018-11-11 17:32] abdonrd commented on #1086
@Aurelsicoko I think GitHub is the best example: https://github.com/strapi/strapi/issues/1086#issue-319568700

[2018-11-11 17:47] lauriejim commented on #1178
Hello @kamalbennani.

Can you try again this issue please. (And I think there is an issue in you model description `subject` model is missing)

[2018-11-11 19:58] #1233 closed

[2018-11-11 20:00] #1543 closed

[2018-11-11 20:06] lauriejim commented on #1578
Hey @derrickmehaffy can you take a look with last version of Strapi if it still exist please.

[2018-11-11 22:05] lauriejim commented on #1905
Thank you for this feedback. We will work on this point.

[2018-11-11 22:05] #1905 closed

[2018-11-11 22:06] lauriejim commented on #1919
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-11-11 22:06] #1919 closed

[2018-11-11 22:09] lauriejim commented on #1931
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-11-11 22:09] #1931 closed

[2018-11-11 22:11] #1943 closed

[2018-11-11 22:51] MartinMuzatko commented on #1612
I can't even install via CLI:
![image](https://user-images.githubusercontent.com/2950505/48319311-b2e2bc80-e60c-11e8-8149-8112e5f27bb0.png)

[2018-11-11 22:52] pkail commented on #487
Does anything work in Strapi?  The install f**ks up, the very first example in the documentation f**ks up.  It doesn't work with Node 10, it doesn't work with Node <10.

[2018-11-11 23:54] derrickmehaffy commented on #1578
Yes @lauriejim, it's usually the first thing I check after I updated. It is still happening on 14.4.

[2018-11-11 23:58] derrickmehaffy commented on #487
@pkail .... Strapi is alpha and changes rapidly right now. There is a lot of core stuff being reworked.

This issue your talking about seems to be related to windows, which has been documented to have issues. Please use WSL or a Linux VM.

[2018-11-12 00:13] pkail commented on #487
If it doesn't work on Windows why doesn't it say so on the GitHub page, to stop people wasting hours of their time?  Why doesn't it say that it doesn't install with Yarn?  It also has a large list of unsupported dependencies, even when it does install.

The database setup wouldn't work unless I downgraded my Node version to 8.  Then the document type wouldn't save unless I upgraded my Node version

[2018-11-12 02:13] derrickmehaffy commented on #487
@pkail Hence the term "Alpha" there is no mention of windows and yarn because they worked in the past and will be eventually supported in the future. A quick glance through open and closed issues and you will realize that support for windows is minimal and that is being worked on.

Unless someone is working on better windows support, all issues related to building projects on windows are closed an

[2018-11-12 02:40] pkail commented on #487
Node projects normally work equally well on any platform, so that's what people expect. If it doesn't work using Windows or Yarn that's fine: it would just be helpful if it said this.

[2018-11-12 03:33] derrickmehaffy commented on #487
@pkail If you want the most up to date information, I recommend you join the slack as bugs are typically discussed more so there.

[2018-11-12 06:57] sravanireddyl opened #2291 "Can not use(or request) retryable writes with multi=true"
**Informations**
- **Node.js version**:  v8.10.0
- **npm version**: 5.6.0
- **Strapi version**: 3.0.0-alpha.11.2
- **Database**: MongoDB
- **Operating system**: windows

**What is the current behavior?**
When I use multiple true for update query , throwing error as follows :
can not use(or request) retryable writes with multi=true

**Steps to reproduce the problem**

**What is the expected behavio

[2018-11-12 07:53] yann-yinn opened #2293 "Ignore public/uploads directory in git"
Hey here, Strapi is a very great experience so far , thanks for the hard work !

![screencapture-localhost-3000-2018-11-11-18_20_10](https://user-images.githubusercontent.com/335495/48333508-fa426a80-e657-11e8-80fb-5cc1d6497c56.png)

**What is the expected behavior?**

I'm went to the admin, added the above photos for my users fake accounts, for fun.
A then, I typed on my terminal `git add . && gi

[2018-11-12 08:07] mnlbox opened #2294 "Workflow Feature"
**What is the expected behavior?**
Hi guys,
I think http://orchardproject.net is a great CMS for get some idea. For example it's [workflow](http://docs.orchardproject.net/en/latest/Documentation/Workflows/) feature is very attractive for me:

![screenshot from 2018-10-22 16-25-10](http://docs.orchardproject.net/en/latest/Upload/workflows/addingsendemail.PNG)

We can integrate this with web hook to

[2018-11-12 08:09] fsc7 commented on #2238
@shuzootani You are doing nothing wrong. Strapi is. GraphQL plugin is not fully functional right now.

[2018-11-12 08:23] sidsaxena0 opened #2295 "Can't use number field in content"
**Informations**
- **Node.js version**: v10.13.0
- **npm version**:  6.4.1
- **Strapi version**:  3.0.0-alpha.14.4.0
- **Database**:  MongoDb
- **Operating system**:  Mac, Ubuntu 17.04 and Debian 9

**What is the current behavior?**

I can't add any number in a new content type, i am using admin ui to do that, below is my model :

[code]

App just begin crashing immediately after saving, below is

[2018-11-12 10:07] lauriejim commented on #2257
Same type of issue with bookshelf https://github.com/strapi/strapi/issues/2030

[2018-11-12 10:13] lauriejim commented on #2032
This issue has been fixed (don't remember the version, the link has not been made with this issue.)
But not present in last version of Strapi (3.0.0-alpha.14.4.0)

[2018-11-12 10:13] #2032 closed

[2018-11-12 10:15] #2042 closed

[2018-11-12 10:20] #2076 closed

[2018-11-12 10:32] lauriejim commented on #2117
Thank you for this feedback.
Actually you have to check `ioredis` options for that or in your redis server.

[2018-11-12 10:32] #2117 closed

[2018-11-12 10:33] #2120 closed

[2018-11-12 10:57] lauriejim commented on #2141
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-11-12 10:57] #2141 closed

[2018-11-12 11:00] lauriejim commented on #2149
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

And I still can't reproduce this issue. If you can try with an other machine or VM.
Maybe related to your strapi install or your project generation.

[2018-11-12 11:17] #2176 closed

[2018-11-12 11:18] lauriejim commented on #2179
I am closing this issue because we don’t have any update/needed informations about it.
Will reopen it if activity come back.

[2018-11-12 11:18] #2179 closed

[2018-11-12 11:27] #2205 closed, assigned to lauriejim

[2018-11-12 11:32] lauriejim commented on #2210
What is the name of your content type ?

[2018-11-12 11:53] soupette commented on #2277
Yes exactly!

[2018-11-12 12:41] softerboy commented on #2063
Hi. After many attempts, I solve this problem this way. So you need to do step-by-step actions as below:

1) go to "api/your_content_type/models/your_content_type.settings.json file and open it
2) if you have enum type with white space fields, remove all white spaces
3) restart strapi

I hope this will help.

[2018-11-12 15:35] vlknakin commented on #2260
Another workaround if you decide to wait for the stable version;
[code]
query;

{
  allCats {
    **id**
    name
  }
}

I known bad solution.

[2018-11-12 16:05] stiko commented on #2210
I found the issue. I had a json field that was empty. It makes sense for it to not save, but I think I should be able to remove it. I'm not sure if that was intentional or it's a bug.
If you're curious how I had an empty json field on the first place, I added the content via HTTP POST

[2018-11-12 16:23] lauriejim commented on #2295
Can you please search open / close issue. Github provide a feature to avoid duplicate issue.
https://github.com/strapi/strapi/issues/2251

[2018-11-12 16:23] #2295 closed

[2018-11-12 16:27] #2266 closed, assigned to soupette

[2018-11-12 16:43] Aurelsicoko commented on #1877
I've created a new card on Product Board (https://portal.productboard.com/strapi/c/45-graphql-subscriptions). Please upvote and share your insights through PB, I'm closing this issue.

[2018-11-12 16:43] #1877 closed

[2018-11-12 16:51] Aurelsicoko commented on #2073
You can remove the folder if you don't want the admin. Or, you can create policy an apply it on every admin route `strapi.admin.config.routes`. In this policy, you'll be able to check if the option is set to true or not.

`./config/functions/bootstrap.js`
[code]

`./config/policies/shouldAccessToAdmin.js`
[code]

As there is an easy workaround, I'm closing this issue... Feel free to comment on it

[2018-11-12 16:51] #2073 closed

[2018-11-12 17:29] lauriejim commented on #2287
Hello @dalirnet , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Please update your issue.
Thank you.

[2018-11-12 17:31] lauriejim commented on #2288
Hello @masehitam

Did you use the default provider (upload on your local machine) ?
Did you have error logs ?

Need more informations.

[2018-11-12 17:35] lauriejim commented on #2289
Please check open issue about your load error.
Check your chrome console. I'm sure your issue already exist.

[2018-11-12 17:35] #2289 closed

[2018-11-12 17:39] lauriejim commented on #2291
Hello @sravanireddyl

Can you precise your issue. Need more information. I don't understand what you did.

[2018-11-12 17:41] lauriejim commented on #2293
Hey @yann-yinn. thank you for this feedback.
Feel free tp submit a PR. Appreciate your contribution on this issue.

[2018-11-12 17:59] Aurelsicoko commented on #2294
Oh, is it like Zappier?

[2018-11-12 18:54] usb248 commented on #2245
i've put my local base url, Origine : http://localhost:3000.
Yes exactly, my node app have server side rendering, but i use strapi to render my pages. for example : what are security policies to prevent form tampering in create() ( = PUT request) on my sign up page ?

[2018-11-12 19:58] #2285 closed

[2018-11-12 20:13] lauriejim commented on #1578
Okay dac. Thank you for this detail.

[2018-11-12 20:30] lauriejim commented on #2210
Empty JSON field ? Can you precise please.

[2018-11-12 21:35] #2253 closed

[2018-11-12 21:42] stiko commented on #2210
Sure, Let me clarify some things before I explain
**Background**
Json field: even if it's not required, it can NOT be empty. At least you have to add `{}` to it in order to be able to save. The UI (after the update) is smart enough to add `{}`, but if you make a POST request without the json field, it will leave it empty.

**Issue**
For clarity let's add a content type called `test` and It's field

[2018-11-12 23:39] MartinMuzatko opened #2296 "GraphQL umlaut problems"
**Informations**
- **Node.js version**:  10.8.0
- **npm version**:  6.2.0
- **Strapi version**:  alpha 14.4
- **Database**:  pg
- **Operating system**:  windows/WSL

**What is the current behavior?**

When there is an umlaut in an enum, graphql will fail to properly recognize them.

**Steps to reproduce the problem**

create an enum with characters such as umalut or dash (-).

This is the definiti

[2018-11-13 04:13] pauldariye commented on #2259
I'll retry this again @soupette and share any errors on the console.

[2018-11-13 04:39] mnlbox commented on #2294
@Aurelsicoko yes something like this but I think we can implement and integrate this with webhook (visual webhook based workflow designer)

[2018-11-13 06:53] dalirnet commented on #2287
@lauriejim updated,thanks

[2018-11-13 07:25] rejifald opened #2297 "Advanced filtering API"
**What is the expected behavior?**
I think will be better to have more complex filtering on generated API. For example `{type:{$in: ['Financial', 'Political']}, status: {$not: 'DEPRECATED'}}`, or `{type:null}`, or `{type:undefined}`.
I am not sure about `undefined`, maybe some special value should be here. Like '$undefined', to preserve this value during sending via HTTP.
I have some experience wi

[2018-11-13 08:17] derrickmehaffy commented on #2287
@dalirnet can you please provide a screenshot of where are you are getting this error message?

[2018-11-13 08:33] derrickmehaffy commented on #2297
Duplicate: https://github.com/strapi/strapi/issues/1944 for the null values

Also @rejifald it is not a good idea to use symbols like that with restAPIs as everything is done via the URI.

From the looks of it you are building filters based on graphQL?

[2018-11-13 08:39] rejifald commented on #2297
@derrickmehaffy this is not duplicate. Because this feature not about filtering by null value, but more common feature.
I want just filter records via REST, by specifying multiple values, or null values, or exception values.
JSON can be encoded as URI, so, why it is not good idea ?
Are u mean that i should use GraphQL to more complex filtering ?

[2018-11-13 08:48] derrickmehaffy commented on #2297
I agree with this `I want just filter records via REST, by specifying multiple values, or null values, or exception values.`

This is absolutely not a good idea: `JSON can be encoded as URI, so, why it is not good idea ?`

you shouldn't be encoding anything for filters, that is just isn't standard practice nor is it even remotely user friendly.

And no I think that filters should be fairly similar

[2018-11-13 08:50] derrickmehaffy commented on #2297
an example of industry standards is something like this: https://jsonapi.org/recommendations/#filtering

[2018-11-13 08:56] rejifald commented on #2297
I am agree with you. Following industry standards is better.
U are agree with feature purpose that i\`ve described. So implementation is another question. I want to add more one example of complex filtering.
Nested fields.
For example:
`{'Book.Author.name': 'Peter'}`

[2018-11-13 08:58] derrickmehaffy commented on #2297
@rejifald I believe filtering on nested data is already being worked on in a way similar to that.

https://github.com/strapi/strapi/pull/1948

[2018-11-13 09:02] rejifald commented on #2297
Great !
But, WDYT about this feature ?
What prio it has, by your point of view ?

[2018-11-13 09:05] derrickmehaffy commented on #2297
@rejifald I'm not a member of the Strapi team myself, but to be frank I think this plays into a few other suggestions for filtering related items listed on the productboard:

https://portal.productboard.com/strapi/c/31-exclude-include-fields-from-query-request
https://portal.productboard.com/strapi/c/33-add-notcontains-filter

Right now it is not in the Strapi Team's high priority, their current f

[2018-11-13 09:53] MartinMuzatko opened #2298 "GraphQL get objects by relation ID"
**Informations**
- **Node.js version**:  10.8.0
- **npm version**:  6.2.0
- **Strapi version**: alpha 14.4
- **Database**: pg
- **Operating system**: windows/wsl

**What is the current behavior?**

When I define the `where` clause of a related object for the parent ID, I get wrong information for nested properties.

**Steps to reproduce the problem**

So my model `event` consists of multiple `regi

[2018-11-13 14:27] derrickmehaffy opened #2300 "Bookshelf Date field autofills with current date"
**Informations**
- **Node.js version**: v10
- **npm version**: v6
- **Strapi version**: 14.5
- **Database**: MySQL (MariaDB 10.2)
- **Operating system**: Linux Mint 19 (Ubuntu 18.04)

**What is the current behavior?**

When using bookshelf with MySQL if you leave a date field empty it will auto-fill with the current date.

**Steps to reproduce the problem**

Create a model with a date field, creat

[2018-11-13 14:31] derrickmehaffy commented on #2300
Related code to issue:
https://github.com/strapi/strapi/blob/042784debd6fa97fd0bff46a5bec0d2633c09bf4/packages/strapi-hook-bookshelf/lib/index.js#L425-L433

[2018-11-13 14:40] dalirnet commented on #2287
@derrickmehaffy sorry,no i cleared my project folder after this fault and generate a new strapi project

[2018-11-13 15:52] dalirnet opened #2301 "beforeFetchAll callback not work in bookshelf connection"
**Informations**
- **Node.js version**: v8.12.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: Mysql
- **Operating system**: Win64

my model file: **[api\list\models\List.js]**
[code]

- **[beforeSave]** it is ok
- **[beforeFetch]** it is ok
- **[beforeFetchAll]** not work!

and [your documentation](https://strapi.io/documentation/3.x.x/guides/models.html#lifecyc

[2018-11-13 16:23] dalirnet commented on #2301
I reviewed the **[node_modules\strapi-hook-bookshelf\lib\index.js]** file and find **beforeFetchCollection** case in bookshelf lifecycle.

**beforeFetchCollection** work for me :)

[code]
- **[beforeSave]** it is ok
- **[beforeFetch]** it is ok
- **[beforeFetchCollection]** it is ok

[2018-11-13 17:46] derrickmehaffy commented on #2287
@dalirnet my guess is this is an environment error and we won't be able to reproduce it. @lauriejim I recommend closing this issue unless this can be reproduced

[2018-11-13 18:29] olimart opened #2303 "Crashing on Heroku"
**Informations**
- **Node.js version**: Whatever is set as part of Heroku button
- **npm version**: Whatever is set as part of Heroku button
- **Strapi version**: The latest since it clones repo upon installation
- **Database**: MongoDB
- **Operating system**: Mac/Linux

**What is the current behavior?**

App crashing on Heroku. From the logs, it seems that server cannot start.

[code]

**Steps to

[2018-11-13 18:34] derrickmehaffy commented on #2303
Not a heroku issue, you have an issue with your database:

[code]

[2018-11-13 19:24] olimart commented on #2303
Thanks @derrickmehaffy
The MongoDB is provisioned and I can access it. Any suggestion?

[2018-11-13 19:39] derrickmehaffy commented on #2303
I'm guessing you either don't the correct authDB in the database.json (or you should be using env variables) that or your DB password contains an `@` symbol which has been known to cause issues.

[2018-11-13 20:13] rsternagel commented on #474
What about Now 2.0 ([apparently released on 08/11/18](https://zeit.co/blog/now-2))? Would it work with Strapi?

[2018-11-13 20:18] Froelund commented on #2303
The default strapi database configuration sets the database to 'strapi-production' if the `DATABASE_NAME` is not set.
When running on heroku though your database name dictated by the database provider, e.g. Mongolab.
So what you need to do is either add the `DATABASE_NAME` environment variable in heroku. Or modify `config/environments/production/database.json` file from
[code]
To:
[code]

[2018-11-13 20:20] derrickmehaffy commented on #474
@rsternagel `static files and serverless functions` Strapi is not just static files and really cannot function "serverless" as it is a dynamic system that runs code on the server itself. Some nodejs projects can be "built" and deployed in serverless environments but that isn't Strapi. That would pose a huge security risk, and honestly isn't feasible to run your API on a clients machine (many of th

[2018-11-13 21:05] cupofnestor opened #2304 "Content Types are missing metadata"
**Informations**
- **Node.js version**:
v10.1.0
- **npm version**:
- **Strapi version**:
3.0.0-alpha.14.5
- **Database**:
mongo
- **Operating system**:
OSX/Linux

**What is the current behavior?**
Content Types are missing metadata (labels, placeholders, ...)   when checked out from a repository.

**Steps to reproduce the problem**

1. Joe creates default strapi project using a local `mongo` insta

[2018-11-13 22:07] lauriejim commented on #2303
Please check this wiki article https://github.com/strapi/strapi/wiki/Deploy-on-Heroku

[2018-11-14 01:09] nom4da opened #2306 "Strapi Dashboard only show Content Types after a fresh login. Once browser refreshes only Users is shown."
**Informations**
- **Node.js version**:  10.13.0
- **npm version**:  6.4.1
- **Strapi version**: 3.0.0-alpha.14.5
- **Database**:  MongoDB 3.4.17
- **Operating system**: Ubuntu 16.04

**What is the current behavior?**
Created content types are only shown on a fresh login. If you refresh browser only Users is shown.

**Steps to reproduce the problem**
1. Create a couple (or one) of content types.
2

[2018-11-14 02:02] funkhauscreative commented on #637
Hi @lauriejim,

I'm running the CLI on alpha14.5. `strapi generate:api test` is still creating a Mongoose service page.

These are my database setting (for all environments):
{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-hook-bookshelf",
      "settings": {
        "client": "mysql",
        "host": "127.0.0.1",
        "srv": false,
        "po

[2018-11-14 05:40] street2geek opened #2307 "WYSIWYG text fields not displaying as expected in Production ENV"
**Informations**
- **Node.js 10.12.0**:
- **npm 6.4.1**:
- **Strapi 3.0.0-alpha.14.3**:
- **MongoDB**:
- **Ubuntu 18.04 x64**:

** After setting the content type text fields  to use the wsywyg editor option in the advanced settings whilst started in development, once deployed and run in production the wsywyg editor no longer displays and the field is rendered as a regular text field**

**I'd expec

[2018-11-14 06:19] derrickmehaffy commented on #2304
This isn't really a bug... its more of a feature request and has been suggested. See: https://portal.productboard.com/strapi/c/23-import-export-data

The "metadata" your talking about is stored in the database. I do manual exports in my project as "seed files" for other developers, however I use MySQL.

@lauriejim I recommend closing this issue as there is no bug to reproduce and is a duplicate.

[2018-11-14 06:28] Froelund commented on #2303
@lauriejim This is marked as help-wanted. Could you be specific on what to help with?

[2018-11-14 06:31] derrickmehaffy commented on #2303
@Froelund it just means the user needs help (IE us, giving help)

[2018-11-14 09:35] derrickmehaffy opened #2308 "GraphQL not working properly with oneWay relations on MySQL (Bookshelf)"
**Informations**
- **Node.js version**: v10
- **npm version**: v6
- **Strapi version**: 14.5
- **Database**: MySQL (MariaDB 10.2)
- **Operating system**: Ubuntu 18.04 Server

**What is the current behavior?**

When querying against graphQL on models that use oneWay relations, the data is not properly referenced and the first "entry" is just repeated for all other entries.

**Steps to reproduce the

[2018-11-14 09:42] derrickmehaffy opened #2309 "If GraphQL playground isn't enabled you cannot reach the graphQL endpoint"
**Informations**
- **Node.js version**: v10
- **npm version**: v6
- **Strapi version**: 14.5
- **Database**: MySQL (MariaDB 10.2)
- **Operating system**: Ubuntu 18.04 Server

**What is the current behavior?**

If you don't have the graphQL playground enabled (such as in production) the /graphql endpoint responses with `GET query missing.` And will not provide the schema to the client.

**Steps to

[2018-11-14 09:47] derrickmehaffy commented on #2309
This was using a locally installed (as in the snap package in ubuntu) version of playground testing both servers:

![image](https://user-images.githubusercontent.com/8593673/48474394-b1092c80-e7b7-11e8-9242-e52fd6b02749.png)

[2018-11-14 10:14] mnlbox commented on #2306
Me too :cry:

[2018-11-14 10:15] kameas commented on #2306
I re-created the project with alpha 14.5 and the problem is solved

[2018-11-14 10:19] derrickmehaffy opened #2310 "Attempting to edit or create a user results in blank screen when using proxy"
**Informations**
- **Node.js version**: v10
- **npm version**: v6
- **Strapi version**: 14.5
- **Database**: MySQL (MariaDB 10.2)
- **Operating system**: Ubuntu 18.04 Server

**What is the current behavior?**

When using Strapi in production and you attempt to click on a user or create a new one you are given a white screen with the following error:

Edit User:
![image](https://user-images.githubu

[2018-11-14 10:21] derrickmehaffy commented on #2306
For those of you who tried to migrate using the wiki migration article, you may try instead to use my method to update: https://github.com/strapi/strapi/issues/1880

My guess is there was a problem when you copied over the new build folders somewhere.

[2018-11-14 10:36] merijnvanessen commented on #2213
Hi,
![schermafbeelding 2018-11-14 om 11 32 51](https://user-images.githubusercontent.com/23075300/48477247-67453400-e801-11e8-81f7-0df4de104a19.png)
It's still there.

They appear when I clear my cookies / local storage. After the first login.
They disappear when I refresh

No errors in my console

[2018-11-14 10:46] derrickmehaffy commented on #2213
Related: https://github.com/strapi/strapi/issues/2306

@merijnvanessen can you post your comment on the new issue. Also can you please include a screenshot of the error in your browser console.

[2018-11-14 10:47] derrickmehaffy commented on #2306
@mnlbox @kameas @nom4da

I'm going to guess all 3 of you are on Firefox and not chrome, most likely OSX as your client OS?

[2018-11-14 10:48] derrickmehaffy commented on #2306
Also make sure all of you completely clear your browser cache. Your browser may have an old cached copy of 14.4's files

[2018-11-14 10:48] derrickmehaffy commented on #2306
@soupette @lauriejim I could not reproduce this issue on Ubuntu Chrome nor Firefox.

[2018-11-14 10:49] mnlbox commented on #2306
@derrickmehaffy I'm using Linux Mint + Firefox.

[2018-11-14 11:00] derrickmehaffy commented on #2306
same @mnlbox and I can't reproduce this :cry:

[2018-11-14 11:14] soupette commented on #2306
It should have been fixed in 14.5

http://localhost:1337/content-manager/models , thus the content types are not loaded. I see this request happens in plugins/content-manager/bootstrap.js, but seems is only running once after logging in. Why?

If you have the `users-permissions` plugin installed, you need to be authenticated to get the data so the request is made after login in.

[2018-11-14 11:21] santhan456 opened #2311 "Could you please provide documentation to run test scripts in strapi. We need to run strapi and get access to strapi global in the testing scripts. Is that possible?"
**What is the expected behavior?**

[2018-11-14 11:31] derrickmehaffy commented on #2311
@santhan456 can you please not write the whole question in the title and properly use body field for the issue?

[2018-11-14 11:40] mnlbox opened #2312 "LDAP and CAS authentication support"
**What is the expected behavior?**
Hi guys,
I suggest to add LDAP and CAS authentication support too.
Please add new productboard card if you agree with this. :wink:

[2018-11-14 11:40] merijnvanessen commented on #2306
It seems that only when fresh logged in the strapi admin,
the GET to models is in my XHR requests

Fresh login
![schermafbeelding 2018-11-14 om 12 27 26](https://user-images.githubusercontent.com/23075300/48480024-657f6e80-e809-11e8-996f-1bf1a8a33d72.png)

Refresh
![schermafbeelding 2018-11-14 om 12 30 55](https://user-images.githubusercontent.com/23075300/48480022-644e4180-e809-11e8-9397-45d291fa

[2018-11-14 11:43] derrickmehaffy commented on #2312
I agree but this is going to be a bit tricker than normal oauth, more than likely won't happen until the provider plugins are split and use passport

[2018-11-14 12:48] nom4da commented on #2306
I created a new project on Strapi 14.5 and issue persist. On both, Chrome and Firefox.

Here's Firefox:
![image](https://user-images.githubusercontent.com/1816294/48483450-7b793900-e7e1-11e8-8084-d4c8f56a743e.png)

After refresh:
![image](https://user-images.githubusercontent.com/1816294/48483476-8d5adc00-e7e1-11e8-8565-1ec87695fdf6.png)

[2018-11-14 12:51] derrickmehaffy commented on #2306
Provide your browser console screenshot please to see if there is an error being given

[2018-11-14 12:52] derrickmehaffy commented on #2306
Also try opening the admin in incognito mode and see if the same issue

[2018-11-14 13:00] nom4da commented on #2306
On fresh login on Chrome (incognito mode):
![image](https://user-images.githubusercontent.com/1816294/48484068-250cfa00-e7e3-11e8-9647-de7ef487b58d.png)

On refresh:
![image](https://user-images.githubusercontent.com/1816294/48484109-44a42280-e7e3-11e8-8bf5-1175e9a962f2.png)

[2018-11-14 13:19] lauriejim commented on #2296
Hello @MartinMuzatko I think it's the same issue as https://github.com/strapi/strapi/issues/1698

[2018-11-14 13:36] MartinMuzatko commented on #2296
correct! couldn't find it when searching :) closing this here

[2018-11-14 13:36] #2296 closed

[2018-11-14 13:37] MartinMuzatko commented on #1698
if you add double quotes to the graphql definition, then there are no problems.

e.g.:

[code]

[2018-11-14 14:29] cupofnestor commented on #2304
Can it be labelled as such? I don't think that this is a duplicate as we don't actually _want_ to export the data, just the metadata.  I can easily import/export **data** using mongodump and have developed a solution that only exports the collections (core_store, users-permissions_permission, users-permissions_role, users-permissions_use) but it is platform-dependant.

[2018-11-14 14:31] cupofnestor commented on #2304
I should add that I am happy to work on it, but might need to be pointed in the right direction as I am not up-to-speed on the ecosystem/src.

[2018-11-14 14:59] derrickmehaffy commented on #2310
Worked with @soupette via slack, he is deploying a fix. Marking as resolved for now.

[2018-11-14 14:59] #2310 closed

[2018-11-14 15:02] derrickmehaffy commented on #2304
@cupofnestor your talking about basically migrating strapi only data between environments which @Aurelsicoko has covered on the product board. (There is a closed issue somewhere on here about it)

[2018-11-14 15:03] derrickmehaffy commented on #2304
Given you could also use this to "migrate" between developers as well. I understand your point but I do believe this is a duplicate

[2018-11-14 15:04] derrickmehaffy commented on #2304
Here we go:

https://github.com/strapi/strapi/issues/672

https://portal.productboard.com/strapi/c/12-migrate-across-environments

[2018-11-14 15:05] lauriejim commented on #2300
Hello @derrickmehaffy , thank you for reporting this issue. We are currently on another feature and bug fix. Since time is lacking on our side, feel free investigate and submit a PR, we’ll appreciate your contribution on this issue!

Check out the contributing guide to get started: https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md

[2018-11-14 15:05] derrickmehaffy commented on #2300
related: https://github.com/strapi/strapi/pull/1439

[2018-11-14 15:07] soupette commented on #2213
It's weird is that's it's working on my side in both Firefox and Chrome.

[2018-11-14 15:08] lauriejim commented on #2303
Some info about labels https://github.com/strapi/strapi/wiki#issues-labels

[2018-11-14 15:10] derrickmehaffy commented on #2213
@soupette like I said in 2306 I couldn't duplicate it either on Linux Mint in both Chrome Stable/Beta & Firefox stable

[2018-11-14 15:10] soupette commented on #2306
@nom4da do you have a repository I can check I'm unable to reproduce the bug

[2018-11-14 15:12] lauriejim commented on #2304
Thank you for this feedback. Send your feedback in productboard please.

[2018-11-14 15:12] #2304 closed

[2018-11-14 15:29] nom4da commented on #2306
All I did was "Strapi new test", created a "test" content type, and tested with it.

Here's the repository:
git@github.com:nom4da/strapitest.git

[2018-11-14 15:34] witek1902 commented on #1281
I I confirm, works with npm v8 (8.11.3).

[2018-11-14 15:43] maciekkus commented on #952
@lauriejim
Hi, recently I got that error also
[2018-11-14T15:34:41.550Z] debug Moving the `node_modules/strapi-plugin-user-permissions` folder to the `./plugins` folder.
[2018-11-14T15:34:41.626Z] error An error occurred during plugin installation.

I've checked the content of plugins dir, and this plugin exists, but not all files were copied.
there is no "services" directory.
the same issue is wi

[2018-11-14 16:18] olimart commented on #2303
Setting up the environment variable `DATABASE_NAME` in Heroku resolved the "issue".
Thanks for your help.

[2018-11-14 16:18] #2303 closed

[2018-11-14 17:23] soupette commented on #2307
Did you migrate your core_store?

[2018-11-14 17:41] nom4da commented on #2306
@soupette oh wow, I recall my global version being 14.5 when I created "test".

I created a new one, made sure it was 14.5, and it works. Sorry for that guys. Will double check next time I think there's an issue.

Thanks a lot for everything. This is a great tool.
Best

[2018-11-14 18:11] duurland commented on #1443
Just installed my 1st strapi app to test it out and was quite confused about the callbacks.

- When creating an entry `*Update` is triggered.
- When updating `*Save` is not triggered.
- When deleting a single entry `*Destroy` is not triggered.
- When deleting multiple/all `*Destroy` is not triggered, however `*Update` is.

Surely this can't be intended?

![https://i.imgur.com/sMoBw9H.png](https://

[2018-11-14 18:34] street2geek commented on #2307
I didn't migrate anything from my development db as the collections seemed to have already been generated, when I have changed the config to use the dev database it works as expected so I expect that is the issue.

Whether its related or not I read in the docs regarding get settings but this isn't clear to me.

![screenshot from 2018-11-14 18-32-20](https://user-images.githubusercontent.com/112459

[2018-11-14 23:02] yummyelin commented on #1353
@soupette Sorry to bother you. Have you submitted the PR? I met the same issue.

[2018-11-15 00:14] #2306 closed

[2018-11-15 02:46] vfan opened #2314 "js file is too big for admin"
first open admin panel,8M js files without compressed will be loaded,so slow.
you need to load js dynamically and compress them

[2018-11-15 03:19] gianniskarmas commented on #2251
Still a problem in 14.5 so for future reference and while It took me a few minutes to go line by line as to understand the correct solution in @mtmsuhail 's [post](https://github.com/strapi/strapi/issues/2251?_pjax=%23js-repo-pjax-container#issuecomment-435543117) it is to change the following lines in `node_modules/strapi-hook-mongoose/lib/utils/index.js` to return **'Number'** and not **Decimal/

[2018-11-15 06:09] derrickmehaffy commented on #2314
Hello @vfan , please follow the issue template so we can get a better understanding about the origin of your bug.

Please update your issue.

[2018-11-15 06:10] derrickmehaffy commented on #2314
Side note not sure where you are seeing 8Mb worth of JS files:

![image](https://user-images.githubusercontent.com/8593673/48533629-87590f80-e862-11e8-92db-3d5691acec08.png)

[2018-11-15 08:08] vfan commented on #2314
![2018-11-15 16-06-30](https://user-images.githubusercontent.com/1477088/48538864-8b337300-e8f0-11e8-95e3-672382545906.png)

[2018-11-15 08:37] sajjad-shirazy commented on #2251
Seems mongoose-float merged the fix of @Leo1003, but i don't can deploy yet. any idea?

[2018-11-15 08:53] derrickmehaffy commented on #2314
@vfan update your OP with version information, it honestly looks like you are running an older version with the size of those main.js files. They should be about half that:

![image](https://user-images.githubusercontent.com/8593673/48541171-48828400-e879-11e8-807f-123471f82567.png)

[2018-11-15 10:39] avirankatzsofi commented on #1912
I still experience this bug in alpha 14.5 - but only on my server (on my local machine everything is fine). On my server, this bug occurs on a fresh project as well.

[2018-11-15 10:58] simonfranzen opened #2315 "Field types are not updated in UI"
Informations
* Node.js version: 11.1.0
* npm version: 6.4.1
* Strapi version: 3.0.0-alpha.14.5
* Database: Postgres
* Operating system: macOS Mojave

**What is the current behavior?**

I added a field with the name “isOnline” to an existing type. Then I edited the field directly in the api Model.settings.json and changed its type to boolean and the default to false. On restart, the field is correc

[2018-11-15 11:54] PeterKey commented on #1210
@lauriejim I noticed this bug just now on alpha 14.5. This issue is no duplicate and should be reopened.

[2018-11-15 13:07] derrickmehaffy commented on #1210
@PeterKey this is a duplicate of: https://github.com/strapi/strapi/issues/1114

It is not currently a "bug" it was intended the way it is, and leaving room for future improvement, see the linked issue from above.

[2018-11-15 13:12] lauriejim commented on #2210
You speak about the search bar ? Not the filter section.

[2018-11-15 13:19] lauriejim commented on #2287
And all works on your new project ?

[2018-11-15 13:52] PeterKey commented on #1210
@derrickmehaffy But why is there even a possibility on the admin page to rename content-types if it just breaks any further functionality?

[2018-11-15 13:56] lauriejim commented on #952
Hello @maciekkus can you open a new issue please.

Title: "Catch plugin install error"

We have to catch installation error and delete the generated plugin folder if an error happen.

[2018-11-15 14:04] Aurelsicoko commented on #2272
We will release the documentation plugin at the end of the year! Like @derrickmehaffy said, the plugin is using SwaggerUI. It automatically generates an OpenAPI file based on the models of the project.

[2018-11-15 14:04] #2272 closed

[2018-11-15 14:09] Aurelsicoko commented on #2185
I would love to see someone trying to dig into the `strapi-mongoose/lib/relation.js` file to understand what happens... It should work but it doesn't seem to work. I guess this is a case which is not handled.

Currently, we have others priorities. @wdavidw or @andrewmee are you able to take a look?

[2018-11-15 14:16] Aurelsicoko commented on #2281
It's crazy... we reverted the changes made because it wasn't working on our side. The issue seems related to Docker because no one complains about it otherwise.

@lauriejim should we move this issue inside the strapi-docker repo?

[2018-11-15 14:20] Aurelsicoko commented on #2219
@mnlboxAs I said, I won't create a public card in the roadmap because it's not a priority for now.

[2018-11-15 14:34] avirankatzsofi commented on #2092
I'm experiencing this bug on a new strapi installation when trying to add a new user from the admin panel. Blank screen, and the same minified error.

[2018-11-15 14:37] Aurelsicoko commented on #2297
You should really use GraphQL for that kind of purpose. I'm closing this issue because we won't implement something like that in our generated REST API. Thanks for the proposal though 👍

[2018-11-15 14:37] #2297 closed

[2018-11-15 14:40] derrickmehaffy commented on #2092
@avirankatzsofi I had a similar issue: https://github.com/strapi/strapi/issues/2310

@soupette is already working on a fix that will come out with the next release. It's a problem with the content manager plugin and the `core_store`

[2018-11-15 14:40] Aurelsicoko commented on #2304
@cupofnestor We will provide an easy way to switch between environment. We know that currently, it's a real pain. However, we will continue to store the metadata in the database because these metadata can be changed on the fly without restarting the server. This is the only reason why we're storing them in the database instead of local JSON files. It avoids server restart.

[2018-11-15 15:21] soupette commented on #2092
@avirankatzsofi Did you try a with a complete new app and db or did you migrate your data?

[2018-11-15 16:12] jmchza opened #2317 "How to retrieve the knex function when using strapi-hook-knex, strapi-hook-bookshelf"
**What is the expected behavior?**
I expect execute complex queries through the knex function:

How can I retrieve the knex function from the context to execute queries like this one:
[code]
my connection configuration is as follow: "connector": "strapi-hook-bookshelf",
and importing the knex module doesn't suppose to be a good practice

my project includes:
* strapi-hook-knex
* strapi-hook-booksh

[2018-11-15 16:22] Aurelsicoko commented on #2192
@pbov I've followed the instructions and I wasn't able to reproduce using MongoDB and MySQL. I'm closing this issue. Can you try to re-test with the latest version of Strapi and ping me if needed.

[2018-11-15 16:22] #2192 closed

[2018-11-15 16:55] jmchza commented on #2098
Hi @lauriejim, sorry about the delay. but yes that is a POST request.
and yes Ideally this should work out of the box right ?

The POST is really a previous request with only one attribute changed to test the update through the whooe data structure/tree.

The interesting thing here is that there is no Error thrown, bear in mind that this is running with strapi-hook-knex and strapi-hook-bookshelf w

[2018-11-15 17:36] dalirnet commented on #2287
@lauriejim yes,thanks

[2018-11-15 20:34] ericbharding commented on #747
Also interested in a Dynamo connector

[2018-11-15 22:51] patrikniebur commented on #1036
I'm having the same issue and I followed the documentation. Was able to resolve it by running:
`cd ./node_modules/strapi-helper-plugin/ && npm install`

Then it starts admin on port 4000 (specified in package.json) while trying to load other resources from port 1337 (specified in server.json). When I make those consistent it still fails on loading non-json file as json

[2018-11-15 23:16] mroverton1 commented on #2309
I think playground should have a different path than the API. How about using /graphiql/ for the playground.

[2018-11-15 23:17] bohdan-shulha opened #2321 "Enhance pre-commit hook with Prettier"
**Steps to reproduce the problem**
Navigate to different files of the project, look at endless lines and inconsistent code.

**What is the expected behavior?**
The code looks clean and neat ;)

**Suggested solutions**
Use [Prettier](https://prettier.io) to automatically format the source code and maintain consistency. It would require one extra large commit to fix the styling or it can be done inc

[2018-11-15 23:20] mroverton1 commented on #2260
Not sure but looks like you are exposing the mongo record id? Strapi should generate the IDs so future datasource migrations can occur.

[2018-11-16 00:12] maxime1992 opened #2322 "Dashboard for content contributors only"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

As an admin I can create update remove edit content types, add plugins etc.
But as an admin I'm the one taking care of the architecture, not the one supposed to write t

[2018-11-16 01:19] stiko commented on #2210
I think it can go both ways. It is the only search/filter bar on that page.

[2018-11-16 05:43] alex88 commented on #2287
I've the same question:

![screen shot 2018-11-15 at 9 42 58 pm](https://user-images.githubusercontent.com/436888/48600126-81753400-e91f-11e8-9eff-016259ad32e5.png)

how do I delete a content type from the admin panel?

[2018-11-16 07:38] dalirnet opened #2323 "Added strapi-admin FA (persian) translations"
my FA (persian) translations file in [.../strapi-admin/admin/src/translations/fa.json](https://github.com/dalirnet/strapi/blob/master/packages/strapi-admin/admin/src/translations/fa.json)

[code]

**and i changed other files in my project:**

- Added flag of Iran [.../admin/src/containers/LocaleToggle/index.js](https://github.com/dalirnet/strapi/commit/b15e54a0b07d8d4deee37de9cc507c06667d6a4d)

-

[2018-11-16 08:47] maciekkus opened #2324 "Catch plugin install error / yarn related"
**Informations**
- **Node.js version**: v11.1.0
- **npm version**: 6.4.1
- **yarn**: 1.12.3
- **Strapi version**:
- **Database**: MongoDB 4.0.2
- **Operating system**: MacOs mojave

related comment: https://github.com/strapi/strapi/issues/952#issuecomment-438708074
**What is the current behavior?**
[code]

Later I've found out that using yarn is not recommended.
After I switched to npm all install

[2018-11-16 08:47] maciekkus commented on #952
@lauriejim
Hi, created an issue, but then found out this one: https://github.com/strapi/strapi/issues/1866
which is about the same thing.

[2018-11-16 10:42] minhdo89 commented on #212
Do you have an example? I am very eager to see this

[2018-11-16 11:51] kudo108 commented on #212
Example: I have a Model name Track, which have 2 value, count_wrong & count_right
this is model function:
[code]
this is Track.settings.json in /models folder (this will show the variable current_stats to view)
`"attributes": {
    "count_right": {
      "type": "integer"
    },
    "count_wrong": {
      "type": "integer"
    },
    "current_stats": {
      "type": "integer"
    }
  }`

[2018-11-16 15:02] donaldr opened #2326 "Auto-reload does not work when adding new files."
**Informations**
- **Node.js version**: 10.13.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.4.0
- **Database**: Mongo
- **Operating system**: Alpine

Auto-reload does not work when adding new files. For example, running strapi generate:api hello does not cause a reload in development mode.

[2018-11-16 15:03] derrickmehaffy commented on #2326
@donaldr are you running it with `strapi start`?

To be honest you really shouldn't be using the generate command while the server is running, it isn't really designed for that (other than when Strapi itself calls that function)

[2018-11-16 15:05] derrickmehaffy commented on #2326
Also just a heads up `Strapi version: 3.0.0-alpha.14.4.0` Issues created here should be running the latest version to get any real support. Issues created with an older version are going to be closed until testing is done on the latest.

See the following note in the issue template:

[code]

[2018-11-16 15:40] engmagdy87 commented on #2205
the same error appears to me

[2018-11-16 15:42] donaldr commented on #2326
I'll update to the latest and test but the behavior will be the same as the code in strapi-start.sh hasn't changed.

I'm create a development docker instance and would prefer not to have to restart the docker instance when developing. You're already restarting when modifying files just not when adding them. I'm wondering if this functionality got dropped when switching from forever-monitor to usin

[2018-11-16 15:46] derrickmehaffy commented on #2326
[code]

I understand your concern there, that bit was added as blanket "no more of this" on people submitting issues for Strapi versions a good 3 or 4 behind on bugs that were already fixed. Hence the change, it isn't directly aimed at your issue.

Trying to make @lauriejim 's life easier :stuck_out_tongue:

[2018-11-16 15:48] derrickmehaffy commented on #2322
Duplicate: https://portal.productboard.com/strapi/c/8-administrators-roles-permissions

[2018-11-16 15:49] derrickmehaffy commented on #2322
@lauriejim recommend closing issue

[2018-11-16 16:15] leafnetjake opened #2327 "GraphQL updateUser mutations doesn't work"
**Informations**
- **Node.js version**:  10.13.0
- **npm version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.14.5
- **Database**: mongodb
- **Operating system**: macos 10.14

**What is the current behavior?**
Error updating an existing User record via graphql mutation with varying results

**Steps to reproduce the problem**
[code]
**Error:** Username and Email are required fields.
[code]
**Error:**

[2018-11-16 17:05] bringmethecode commented on #1452
I am still experimenting this issue... Strapi 3.0.0-alpha.14.4.0

I see there are severals hardcoded urls in the Admin:

`admin/src/containers/AdminPage/saga.js`:

[code]

`admin/src/containers/ListPluginsPage/saga.js`:

[code]
I see you define `remoteURL`, should these files make use of it?

[2018-11-16 17:44] soupette commented on #1452
@bringmethecode the hardcoded urls are the one used to make the api calls the admin is like a standalone app so it's intended.
Also you should upgrade to 14.5

[2018-11-16 19:24] StefKors opened #2328 "Creating custom content type fields (Dynamic)?"
I'm looking to use an application like Strapi for buliding custom / interactive articles. Is it possible to have a more dynamic content fields system?

Like a system where it's possible to dynamically change the order of text, image, data, video ect (possibly code) to build an article post?

Would it be possible to build a plugin like that? or is the Content type builder a quite rigid system?

[2018-11-16 19:33] derrickmehaffy commented on #2328
@StefKors Strapi is built to be a headless CMS. It's goal is to just provide a restAPI and a GraphQL API.

That is a bit outside the scope of what strapi is designed to do. Most of that should be handled by your frontend.

[2018-11-16 19:34] derrickmehaffy commented on #2328
You're welcome to request the feature on the product board if you want (please update your original post to follow the feature request template)

https://portal.productboard.com/strapi/tabs/2-under-consideration/submit-idea

[2018-11-16 19:34] derrickmehaffy commented on #2328
[code]

[2018-11-16 19:39] StefKors commented on #2328
Thanks for the info!

[2018-11-16 19:39] #2328 closed

[2018-11-16 20:40] tapvt commented on #2143
I am also experiencing this issue with `3.0.0-alpha.14.2`.

Anyone know if this is resolved with `14.5`? We'll be upgrading over the weekend either way. Just curious.

[2018-11-17 03:16] cuvanhung commented on #2111
Hi. Thank you so much @sdubrez  and @derrickmehaffy . I followed your instructions and have successfully implemented. I have replace the WYSIWYG component with the CK Editor successed.  But I have a problem saving the data. After I entered the data it was not saved.
Example :" If I write text then i choose "save" . It not save.  Check out my pictures for more information. Help me please. Sorry for

[2018-11-17 12:09] sajjad-shirazy commented on #2251
it's working in my case by downgrading "strapi-hook-mongoose" in `package.json`:
[code]

[2018-11-17 13:01] #2301 closed

[2018-11-17 13:40] jacargentina commented on #2244
@lauriejim that Travis thing about formating, the files are different from the ones involved. If you want I can apply the needed changes?

[2018-11-17 15:59] Leo1003 commented on #2251
The latest release of mongoose-float is 3 years ago. Maybe someone have to ask the author to release next version.

[2018-11-17 16:04] Leo1003 commented on #2282
Maybe I can do this. But I don't know when can I complete it.

[2018-11-17 20:38] alexDrinkwater commented on #557
@derrickmehaffy I agree. Anyone working on this?

[2018-11-17 20:40] derrickmehaffy commented on #557
Not yet @alexDrinkwater, if you wanted to take it up and submit a PR that would be awesome. It is above my skill level.