[2022-04-14 22:21] crocco95 commented on #8893
Is there a date for when this fix will be in production as npm package without patch trick?

[2022-04-14 22:25] derrickmehaffy commented on #8193
Not sure what your asking, how to do what?

[2022-04-14 22:35] derrickmehaffy commented on #8893
We merged and fixed this back in v4.0.5

[2022-04-14 22:35] #8893 closed

[2022-04-15 07:43] thucltzigvy commented on #12522
This is my patch file. Try it
[code]

[2022-04-15 07:47] giacomoforlani opened #13134 "[4.2.0] Can't override admin endpoint"
## Bug report

### Required System information

- Node.js version: 14.17.6
- NPM version: 8.5.2
- Strapi version: 4.2.0-beta.0
- Database: sqlite
- Operating system: macOS Monterey 12.0.1

### Describe the bug

### Steps to reproduce the behavior

1. Create quickstart project with TypeScript `npx create-strapi-app@latest my-project --quickstart`
2. Modify start command on package.json with `"start

[2022-04-15 08:32] benderillo opened #13135 "One-to-many relation is handled via separate entity-to-entity table (like many-to-many)."
## Bug report

### Required System information
- Strapi version: 4.1.5
- Database: MySQL
- Operating system: MacOS

### Describe the bug

**When creating a one-to-many relationship in the content builder, the resulting DB schema is like it is many-to-many.**

**Example:**
We have two Collection types: Review and Course.
The Course can have many reviews. Review belongs to only one Course.
So in Str

[2022-04-15 14:28] ScyDev opened #13136 "Entries found count and number of entries listed doesn't match in backend and GraphQL"
## Bug report

### Required System information

- Node.js version: v14.17.0
- NPM version: 6.14.13
- Strapi version: 4.1.8
- Database: PostgreSQL 13.0 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit
- Operating system: Ubuntu 20.04

### Describe the bug

Strapi backend and GraphQL API return different numbers for total entries found and actual entries listed. Triggered by a m

[2022-04-15 18:08] dlujan commented on #13100
Oh sh*t dude! @bublinec That fixed the problem! Getting an email now to reset password!

Gonna close this now but it would be great to **have a better error message for this issue** that isn't just "Forbidden".

[2022-04-15 18:08] #13100 closed

[2022-04-15 20:25] rozenteno commented on #12809
Hello, I'm having the same problem as the issue describes. Is there any solution or workaround for this?
Thank you ☺️

[2022-04-15 21:25] dogunbound commented on #11909
Similar issue to https://github.com/strapi/strapi/issues/11955

video explaining why I think so: https://www.youtube.com/watch?v=j-TYly0s0L0

[2022-04-15 21:26] dogunbound commented on #11955
Similar issue to: https://github.com/strapi/strapi/issues/11909

Video explaining: https://github.com/strapi/strapi/issues/11955video explaining why I think so: https://www.youtube.com/watch?v=j-TYly0s0L0

[2022-04-16 05:59] Cpaczek commented on #11738
Currently debating on waiting until this issue is fixed on cockroach's side or figure out a work around with Strapi https://github.com/cockroachdb/cockroach/issues/49329

See PR for more details

[2022-04-16 10:57] sp595 commented on #13136
After update of 4.1.8 my graphql collections lost params
filters: ArticleFiltersInput
pagination: PaginationArg = {}
sort: [String] = []

now i have just
sort

[2022-04-16 13:50] niklasfjeldberg commented on #13126
Have the same issue.

[2022-04-16 15:07] pcriadoperez opened #13137 "Filters and pagination not showing in graphql Schema"
## Bug report

### Required System information

- Node.js version: v16.14.0
- NPM version: 8.3.1
- Strapi version: 4.1.8
- Database: Postgres
- Operating system: Linux

### Describe the bug

In my latest builds the filters and pagination attributes are not included in the schema. The only difference if found is that I've add some custom-routes, but I'm not sure how that would affect it.

### Steps

[2022-04-16 16:31] quornik commented on #12321
# SOLUTION PROPOSITION
I found a pretty specific way of handling such error.

It worked for me, since I had error / duplicates it postgres tables containing API model information, and this was the reason my app did not start. I wanted my database back, with posts / pages and rest of the content, and decided that I can restore the API fields naming and sizes just by editing it manually.

If you are

[2022-04-16 17:18] MaroueneA commented on #13126
Hello Community,

When updating Strapi to its latest version 4.1.8 , I encountered the same deployment problem.

[2022-04-16 21:18] dawnerd opened #13138 "strapi develop --watch-admin doesn't work"
Trying to upgrade my v3 app by starting over, used the quickstart.

Working on updating my admin plugins and restarting docker is getting old so looked at the docs and saw there was a watch-admin flag.

When running with this flag the admin 404s at `http://localhost:1337/admin`, it does show the welcome screen at the root.

If I try to visit `http://localhost:8000/admin/` that just times out.

Jus

[2022-04-16 23:42] KarimIO commented on #13137
I'm having the same issue. I'm not sure if we have to create custom resolvers to use filters? But either way it's very confusing.

[2022-04-17 01:22] semdzh commented on #13137
I have the same problem with the latest version. In version 4.1.5 everything works fine.

[2022-04-17 02:34] pcriadoperez commented on #13137
I upgraded again to 4.1.8, ran `npm install` and now its working again. Not sure what caused the issue or how I solved it.

[2022-04-17 02:47] semdzh commented on #13137
I did the same, but still facing this problem.

[2022-04-17 02:50] or2e commented on #13137
same propblem, only sort in args
![image](https://user-images.githubusercontent.com/33551334/163698137-5ffa22dc-6187-4148-8ea8-7ff4dde94469.png)

[2022-04-17 05:16] diegolameira commented on #9109
got same error with yarn@3.2.0 and strapi@4.1.8

[code]

[2022-04-17 05:32] shyamlohar commented on #12702
@derrickmehaffy We are not using `strapi-middleware-cache` will be removing that from dependencies. did you mean I should have same versions for `@strapi/plugin-graphql` ,`@strapi/plugin-i18n` ,`@strapi/plugin-sentry` and `@strapi/strapi`

[2022-04-17 05:35] iyansr opened #13139 "Admin Page Blank After Deploy to App Engine"
## Bug report

### Required System information

- Node.js version: 16
- NPM version: >=6
- Strapi version: 4.1.8
- Database: PostgreSQL
- Operating system: App Engine

### Describe the bug

Hi, After deploying to App Engine, admin panel show loading and show white blank page after that.
Already changing default admin URL by following this [Post Setup Documentation](https://docs.strapi.io/developer

[2022-04-17 06:15] aquadesk commented on #12837
[code]

This solved it for me on the version 4.1.8
Thanks

[2022-04-17 07:01] kalves commented on #13137
Hi, I'm facing the same issue. Everything is fine in development mode, but in production only "sort".

Graphql : 1.7.41
Strapi: 4.1.8

[2022-04-17 08:23] John0x commented on #12261
Has this been released?
Can't really find any documentation
@vincentbpro

[2022-04-17 10:02] kalves commented on #13139
Hi,

Did you run
`NODE_ENV=production npm run build`
If so, what's the content of your build folder ?

[2022-04-17 10:06] iyansr commented on #13139
Hi, @kalves i already set to production, hovewer, the /api route seems fine.
Here some content of build folder

![image](https://user-images.githubusercontent.com/42711013/163709939-a5fa6103-8c48-4ab8-93e0-208d8e493125.png)

[2022-04-17 11:04] EGGamer commented on #13139
Hi! I have a similar issue. I deploy the CMS to our VPS. In our case, we build everything, we start it, and everything works correctly. Though, after some time, a similar issue to this appears. The dashboard page basically just stays blank. In the console, it gives a Javascript error. I have seen that Cloudflare might be causing this issue in my case. Though, this has just started happening after

[2022-04-17 11:06] iyansr commented on #13139
Have you try downgrading? Will it work?

[2022-04-17 11:22] EGGamer opened #13141 "Can't update users in the administration panel"
## Bug report
There's a bug in the User section of the Admin panel, where I can't edit users (change roles for instance).

### Required System information

- Node.js version: 14.19.0
- NPM version: 6.14.16
- Strapi version: 4.1.8
- Database: MySQL
- Operating system: CentOS 8

### Describe the bug

I'd like to go to a user, and be able to change their roles in the Administration panel. But there's

[2022-04-17 11:32] iyansr commented on #13139
Upate: even after downgrading to 4.1.7, issue still same

[2022-04-17 12:15] kalves commented on #13139
Apparently, the admin panel runs on `/admin` by default. Did you refer to this part [https://docs.strapi.io/developer-docs/latest/development/admin-customization.html#access-url](url) of the doc ?

[2022-04-17 12:17] iyansr commented on #13139
Let me try

[2022-04-17 12:26] iyansr commented on #13139
Strill Blank, even after setup url, and visit /dashboard

[2022-04-17 12:29] kalves commented on #13139
Are you with `pm2` ?

[2022-04-17 12:39] iyansr commented on #13139
no, honestly, never heard before 😅

[2022-04-17 12:40] iyansr commented on #13139
Additonal info: Page become blank after login. If user not logged it yet, it shows login form normally

[2022-04-17 14:15] geodiv commented on #13137
In `/home/yoyo/Documents/my-strapi/node_modules/@strapi/plugin-graphql/server/services/content-api/index.js` there is a call to `pruneSchema` from `@graphql-tools/utils` package which leaves only the **sort** argument in the generated content type schemas. It seems that this happens with the latest version **8.6.8** of `@graphql-tools/utils`. If we force the version **8.6.7** the schemas are gener

[2022-04-17 16:16] kevinmamaqi opened #13143 "error: create table "strapi_core_store_settings" already exists"
## Bug report
Strapi throws create table error always after updating a content-type or using a database backup that contains data:
[code]

### Required System information

- Node.js version: 14.17.1
- NPM version: 8.1.4
- Strapi version: 4.1.8
- Database: Postgresql 14.1:alpine
- Operating system: Macos 12.2.1

### Describe the bug

Each time a modify a content type or use a previously saved datab

[2022-04-17 17:15] iyansr commented on #13139
Turns out i have simmilar issue with https://github.com/strapi/strapi/issues/12869

[2022-04-17 17:15] #13139 closed

[2022-04-17 22:27] aquadesk commented on #12869
I built with `npm` and try to empty `.cache` and `build` and `node_modules`

after building

I still get the errors.

I checked `package-lock.json` to see if I somehow depend on react18 but there is no react18 installed.

[code]

[2022-04-18 08:52] ravichadda opened #13144 "Unable to Remove Tutorials/Code Examples/Documentations/Blogs section and Join the community links from Home Page"
## Bug report

### Required System information

- Node.js version:14.15.0
- NPM version:6.14.8
- Strapi version:4.1.7
- Database:Sqlite
- Operating system:Windows 10

### Describe the bug

Hi Team,

I am able to change the Logo, Title, Subtitle, But unable to remove the Sections from Home Page as:

1. Tutorials/Code Examples/Documentations/Blogs
2. Join the community links

### Steps to reproduce

[2022-04-18 09:56] buddudevelopers opened #13147 "strapi develop --watch-admin , Uncaught ReferenceError: __webpack_require__ is not defined"
## Bug report

### Required System information

- Node.js version: v16.14.2
- NPM version: 8.5.0
- Strapi version: "@strapi/strapi": "4.1.8",
- Database: sqlite
- Operating system: Ubuntu 21.10

### Describe the bug

Running `npm run strapi develop -- --watch-admin` shows a blank webpage with an error in the js console `Uncaught ReferenceError: __webpack_require__ is not defined`

`Uncaught Refere

[2022-04-18 09:59] ASIM-SAMI opened #13148 "Concurrent Session"
## Bug report

### Required System information

- Node.js version: v14.15.0
- NPM version: 8.3.0
- Strapi version: 4.1.7
- Database: sqllite
- Operating system: windows

### Describe the bug

Hi guys,

when I logged in to the admin panel and open a new tab/browser i still can logged in from other tab or browser at the same time,

I want if there's user using the account from the browser of his pho

[2022-04-18 10:01] buddudevelopers commented on #13138
it is similar to the issue I openned and the error in the browser js console is `Uncaught ReferenceError: __webpack_require__ is not defined`

[2022-04-18 12:00] sanjeetCoder commented on #13049
Are u able to remove grid view i'e blogs, tutorials etc

[2022-04-18 14:26] HarryPhillips commented on #726
After experiencing this particular error on/off a fair few times, I finally found the cause for me. As a note to my future self (and perhaps others too, from Google):

The Redirect URL you set in the third-party provider's dev portal *has* to match that of which you define in your server.js config (or in my case, a .env file). If you're using a custom local URL (such as http://my-app.local) then y

[2022-04-18 15:54] derrickmehaffy commented on #12261
Not that I'm aware of, I'll let Vincent expand in case I missed the PR

[2022-04-18 15:55] derrickmehaffy commented on #12702
Yes all packages prefixed with `@strapi/` should have the same version.

[2022-04-18 15:56] derrickmehaffy commented on #12999
@qunu can you please provide a test repo that reproduces the issue?
Thank you :)

[2022-04-18 15:59] derrickmehaffy commented on #8708
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/parent-child-relationshipfield
If you are interested in this feature please feel free to go there and add mo

[2022-04-18 15:59] #8708 closed

[2022-04-18 16:01] derrickmehaffy commented on #7640
They should be reviewing some more PRs here shortly I think.

[2022-04-18 16:04] StephaneP commented on #12479
not even loading it from a mounted drive and gives that error on the latest version

[2022-04-18 16:04] derrickmehaffy commented on #12884
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/add-graphql-federation-v4
If you are interested in this feature please feel free to go there and add

[2022-04-18 16:04] derrickmehaffy commented on #10862
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/add-graphql-federation-v4
If you are interested in this feature please feel free to go there and add

[2022-04-18 16:04] #10862 closed

[2022-04-18 16:06] derrickmehaffy commented on #9429
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/duplicate-a-content-type
If you are interested in this feature please feel free to go there and add m

[2022-04-18 16:06] #9429 closed

[2022-04-18 16:10] derrickmehaffy commented on #13049
@sanjeetCoder

For this type of customization you need to use something like patch-package, we don't have the admin frontend extensions system like v3 had.

---

I'm going to mark this issue as closed as others have showed the configuration updates working properly in latest versions

[2022-04-18 16:10] #13049 closed

[2022-04-18 16:13] derrickmehaffy commented on #11637
This only applies to us-east1 as all other AWS region S3 buckets NEED the region

[2022-04-18 16:16] derrickmehaffy commented on #13112
We will need some more information as to the outgoing calls, could you try something like https://httptoolkit.tech/ to try and grab the actual request?

[2022-04-18 16:17] derrickmehaffy commented on #13017
Yup, I think the only way forward is that split display/actual enum as we can't continue to tweak the logic and still support them properly in GraphQL

[2022-04-18 16:19] derrickmehaffy commented on #13098
You are missing the session middleware: https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.html

[2022-04-18 16:19] #13098 closed

[2022-04-18 16:55] Audit-a-la-Carte commented on #13106
I haven't had any issues for a few days (upgraded to 4.1.8) not sure why, but the settings do persist now. Let's close this one and come back in case this reoccurs. Appreciate your follow up @derrickmehaffy, thanks!

[2022-04-18 16:56] derrickmehaffy commented on #12216
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/option-to-change-the-date-format-in-the-admin-dashboard
If you are interested in this feature please

[2022-04-18 16:56] #12216 closed

[2022-04-18 17:00] derrickmehaffy commented on #12696
@mithenks technically this is already possible by setting the `serveAdminPanel: env.bool('SERVE_ADMIN', true)` which would allow you to do something like `SERVE_ADMIN=false yarn start`

Would that work for you, I'm just not sure we really need to add flags for every little thing when it's better to handle via environment variables.

[2022-04-18 17:05] derrickmehaffy commented on #1735
Hello!

Can you please create a new GitHub issue by using the GitHub issue template, providing all required information.

Your issue looks related to that topic but it's an old one. Using another thread (GitHub issue) will be able to manage your case.

Thank you and have a good day.

[2022-04-18 17:14] derrickmehaffy commented on #12641
https://github.com/strapi/strapi/issues/12208

[2022-04-18 17:22] derrickmehaffy commented on #13014
Closing in favor of tracking issue: https://github.com/strapi/strapi/issues/13117

[2022-04-18 17:22] #13014 closed

[2022-04-18 17:24] derrickmehaffy commented on #13013
Closing as we won't fix this

[2022-04-18 17:24] #13013 closed

[2022-04-18 17:25] derrickmehaffy commented on #12720
Moved to an enhancement not a bug

[2022-04-18 17:28] derrickmehaffy commented on #12478
duplicate: https://github.com/strapi/strapi/issues/12280

[2022-04-18 17:28] #12478 closed

[2022-04-18 17:35] derrickmehaffy commented on #13039
closing for now as we won't change anything

[2022-04-18 17:35] #13039 closed

[2022-04-18 17:38] derrickmehaffy commented on #13047
Marking as closed as this doesn't really look like a bug, just a misunderstanding of the lifecycles

[2022-04-18 17:38] #13047 closed

[2022-04-18 17:40] dogunbound opened #13149 "Strapi [v4] css color for relation search unreadable on dark mode."
## Bug report

### Required System information

- Node.js version: 16.14.0
- NPM version: 8.3.1
- Strapi version: 4.1.7
- Database: PostgreSQL
- Operating system: Linux

### Describe the bug

When searching for a specific value in a relation, the typed search query is unreadable on dark mode due to the query text also being dark.

### Steps to reproduce the behavior

1. Create a collection.
2. Cre

[2022-04-18 17:41] derrickmehaffy commented on #12832
Generally yes but the `deleteMany` didn't exist in v3 and was only added in v4. The content-manager plugin is using old logic from v3 and was never migrated to use the deleteMany thus it's not really a bug and is an enhancement to change over to the new API

[2022-04-18 17:45] derrickmehaffy commented on #13119
You can't just set the charset in the database.js if your database isn't actually using this charset, you'll also need to convert all your tables over to that charset.

https://stackoverflow.com/questions/6115612/how-to-convert-an-entire-mysql-database-characterset-and-collation-to-utf-8

This isn't a Strapi issue

[2022-04-18 17:45] #13119 closed

[2022-04-18 17:47] derrickmehaffy commented on #12837
Marking as closed as the issue was a cached admin build

[2022-04-18 18:16] jonrrivera commented on #13137
<img width="1440" alt="Screen Shot 2022-04-18 at 11 15 48 AM" src="https://user-images.githubusercontent.com/18686388/163854426-2bd49cc3-7abc-419e-b19a-09914a1d7260.png">

I continue to get `"Unknown argument \"where\"` on all Queries, unless I use sort

whats going on :(

[2022-04-18 18:36] aquadesk commented on #13137
I get similar error for login. It lost input params..

[2022-04-18 18:38] jonrrivera commented on #13137
I am now able to filter other parameters using:

`
  "overrides": {
    "@graphql-tools/utils": "8.6.7"
  }
`

[2022-04-18 18:43] jonrrivera opened #13150 "GraphQL only accepting sorting filter"
## Bug report

### Required System information

- Node.js version: 16.14.2
- NPM version: 8.5.0
- Strapi version: 8.5.0
- Database: postgres
- Operating system: MacOS

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to `http://localhost:1337/graphql` and make any Query, you will notice you can only sort, but not filter, where or

[2022-04-18 20:02] derrickmehaffy commented on #10699
Can't reproduce on v4.1.8 using SQLite. Marking as closed until additional information is given to reproduce

[2022-04-18 20:02] #10699 closed

[2022-04-18 20:04] derrickmehaffy commented on #13044
Confirmed on v4.1.8, pretty annoying honestly >.<

[2022-04-18 20:08] derrickmehaffy commented on #13058
I can confirm this on v4.1.8

- content-type builder won't let you do this at all
- manually editing singularName and pluralName in the schema won't work (throws an error on boot
- Using the `yarn strapi generate content-type` allows you to do this just fine and the server will boot (no idea what's different if I were just to manually edit the schema). But adding/removing fields will throw errors.

[2022-04-18 20:22] derrickmehaffy commented on #12098
Tested on v4.1.8 and works fine all the way down to various levels.

Tested compo => compo => relation

![image](https://user-images.githubusercontent.com/8593673/163871870-8ee688e4-d258-4446-8cfc-756de3b2990b.png)

[2022-04-18 20:22] #12098 closed

[2022-04-18 20:26] derrickmehaffy commented on #12723
Can't reproduce on v4.1.8, see the arrow in the screenshot showing that the file was ran without error. Need more information on what was in the migration file.

Marking as closed until we get new information

![image](https://user-images.githubusercontent.com/8593673/163872488-2c17d3b6-c1f1-43c7-960e-77fb759a0926.png)

[2022-04-18 20:26] #12723 closed

[2022-04-18 20:27] derrickmehaffy commented on #12289
Confirmed on v4.1.8

[2022-04-18 20:29] derrickmehaffy commented on #11821
Confirmed on v4.1.8

[2022-04-18 20:51] derrickmehaffy commented on #12702
@strapi/developer-experience / @strapi/expansion I'm not sure the root cause on this and it could be either package so I've set it to both of your projects for now.

[2022-04-18 20:52] derrickmehaffy commented on #13150
Just noticed this myself while testing another bug, confirmed on v4.1.8

[2022-04-18 20:53] derrickmehaffy commented on #13137
duplicate: https://github.com/strapi/strapi/issues/13150

[2022-04-18 20:53] #13137 closed

[2022-04-18 20:54] derrickmehaffy commented on #13149
Confirmed v4.1.8

[2022-04-18 20:55] derrickmehaffy commented on #13148
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-04-18 20:55] #13148 closed

[2022-04-18 20:57] derrickmehaffy commented on #13144
duplicate: https://github.com/strapi/strapi/issues/13049

[2022-04-18 20:57] #13144 closed

[2022-04-18 20:58] derrickmehaffy commented on #13143
Cannot reproduce on v4.1.8 with information provided, closing until better/more reproduction steps are provided

[2022-04-18 20:58] #13143 closed

[2022-04-18 21:00] derrickmehaffy commented on #13124
I believe we removed some babel packages in v4.1.8: https://github.com/strapi/strapi/pull/13089

This isn't really a "bug" per-say since it's customization. I'll poke @soupette to see if he has anything to add but will close this since we won't revert that PR.

[2022-04-18 21:00] #13124 closed

[2022-04-18 21:01] derrickmehaffy commented on #13129
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-04-18 21:03] derrickmehaffy commented on #13132
Confirmed on v4.1.8
![image](https://user-images.githubusercontent.com/8593673/163877666-07ca60d2-151e-4a4a-8171-db7a695b6499.png)

[2022-04-18 21:10] derrickmehaffy commented on #13135
This is intended as we when we implement content-versioning, we will also need to be able to version relations too (think multiple drafts of an entity that share a oneToOne relation with something else.

[2022-04-18 21:10] #13135 closed

[2022-04-18 21:11] derrickmehaffy commented on #13136
duplicate: https://github.com/strapi/strapi/issues/7631

[2022-04-18 21:11] #13136 closed

[2022-04-18 21:13] derrickmehaffy commented on #13126
I recently wrote a PR for our heroku guide: https://github.com/strapi/documentation/pull/850

But yes outside of development environment you need to define your secrets now, we will be adding a small migration guide for v4.1.8 to cover this. cc @StrapiShaun / @pwizla

[2022-04-18 21:14] derrickmehaffy commented on #13126
@LokutS2i Did you get this error in production or a deployed environment or locally?

[2022-04-18 21:16] derrickmehaffy commented on #13141
What browser are you using and what method of storing your user information are you using? (native chrome? some extension like 1password? ect)

[2022-04-19 00:38] benderillo commented on #12256
This is a downgrade of developer experience for whoever works with GraphQL. This approach requires significantly more unneeded boilerplate to get things done.

If GraphQL resolvers (shadowCRUD) used the core services provided by corresponding APIs that would make for a better experience.
In v3. they used the controllers (shared with REST API) which is no longer the case in v4.
As far as I know, gr

[2022-04-19 01:13] benderillo commented on #13135
oh well... this is another one of those changes I am seeing in v4 made for the future "content versioning" but negatively impacting my current use/experience with Strapi.
The example I have provided is simplistic. but I have another one that I just ported from v3. It had only one JOIN initially. Now I had to rewrite it to 4 JOINS (four joins!).

With this cost, the "content versioning" feature bet

[2022-04-19 01:41] benderillo commented on #13135
@derrickmehaffy I am sorry for not giving up this one just yet. But I have just realised that this schema design also makes it impossible to leverage SQL `Unique` constrains on relations any more.
Given the same example of a Review entity that has a restriction of  one review per user per course. Previously, a single UNIQUE constraint on the table that makes (user, course) UNIQUE would do.
Now I n

[2022-04-19 02:49] dogunbound commented on #13132
@derrickmehaffy I just realized that this is a security problem too because someone malicious can upload image data through the upload params if their frontend requires the ability to upload images.
![image](https://user-images.githubusercontent.com/64436119/163910295-013d278a-81f8-4fcd-92ed-f8eb24a9b209.png)

This allows bad actors to hard crash a strapi server for those who intend use the upload

[2022-04-19 04:29] ravichadda commented on #13049
Hi Team,

I am using the latest version of the Strapi@4.1.8. Still, I am facing the same issue.
<img width="1792" alt="Screenshot 2022-04-18 at 1 59 07 PM" src="https://user-images.githubusercontent.com/47782607/163920226-51bad87f-3b6e-4073-9a70-136c93873430.png">
<img width="1139" alt="Screenshot 2022-04-18 at 2 15 56 PM" src="https://user-images.githubusercontent.com/47782607/163920236-599fc473-

[2022-04-19 06:15] RolfVeinoeSorensen opened #13151 "Package subpath './v4' is not defined by "exports""
## Bug report

### Required System information

- Node.js version: v16.13.1
- NPM version: 8.1.2
- Strapi version: 4.1.8
- Database: PostgreSQL
- Operating system: Debian + MacOs + Centos same error on all

### Describe the bug

Upgrading from 4.1.7 to 4.1.8 causes error when trying to run strapi
`Package subpath './v4' is not defined by "exports"`

1. Update all strapi core, i18n and plugins from

[2022-04-19 06:43] benderillo commented on #11792
Anyone stumbling upon this issue please consider to go to this PR and show your support :) https://github.com/strapi/strapi/pull/12715

Missing transactions is a show stopper for me and I'm pretty sure for many others.

There is not way to do a safe payment support without transactions. Not even that, there is no safe way to ensure uniqueness for a relationship attribute in v4 without transaction

[2022-04-19 07:49] sanjeetCoder commented on #13049
Thank you very much, finally patch-package helped to customize grid view i'e blogs, tutorials, docs, social links etc.

Note : Steps to follow
step 1: Install patch-package https://www.npmjs.com/package/patch-package
step 2: Change content inside node modules package. For ec
step 3: run command : npx patch-package @strapi/admin  [Be sure to add subpackage : here I had change inside admin folder. I

[2022-04-19 09:25] VictorienTardif opened #13153 "Sorting by nested relation attribute duplicates entries"
## Bug report

### Required System information

- Node.js version: 16.13.1
- NPM version: 8.3.0
- Strapi version: 4.1.8
- Database: mysql
- Operating system: MacOS

### Describe the bug

When sorting entries by an attribute of a related entry, the parent entry is duplicated.

### Steps to reproduce the behavior

1. Create a collection type "Articles" and create some entries.
2. Create a collection

[2022-04-19 09:56] mhagmajer commented on #12960
We've also run into this problem. When can we expect a stable release of Strapi 4.2?

[2022-04-19 10:08] aldovandus commented on #13126
Same issue. I added this and it works now:
![image](https://user-images.githubusercontent.com/12563425/163981087-0030dabc-d9a0-4c4d-a689-202dfbe828be.png)
https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/configuration.html#admin-panel-configuration

[2022-04-19 11:14] NidMo opened #13154 "I found that when deleting SVG files, the delete method implemented by the provider will not be triggered"
## Bug report

### Required System information

- Node.js version: v16.13.1
- NPM version: 8.1.2
- Strapi version: 4.1.5
- Database: mysql：5.7
- Operating system: window10

### Describe the bug

I found that when deleting SVG files, the delete method implemented by the provider will not be triggered

### Steps to reproduce the behavior

1. Create a local provider
2. upload svg file
3. delete svg f

[2022-04-19 11:15] NidMo commented on #13154
when I delete .png file ,the delete function is work.

[2022-04-19 11:29] oscardemadriz opened #13155 "Relation one-to-one allows multiple inserts"
## Bug report

### Required System information

- Node.js version: v14.19.0
- NPM version: 6.14.16
- Strapi version:  4.1.2
- Database: PostgreSQL 13.2 (Debian 13.2-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit (Docker)
- Operating system: Windows 10

### Describe the bug

There is a race condition on creating new elements with one-to-one relations, creating 1

[2022-04-19 11:33] kevinmamaqi commented on #13143
@derrickmehaffy I understand it is not easily reproducible, but any idea or guidance of why strapi tries to recreate that specific table?

[2022-04-19 12:21] bidoubiwa commented on #12832
In `v3`  the lifecycle was `afterDelete` and returned an array or a simple object depending if it delete multiple entries or not.

This was my code in v3:
[code]

In v4 it changed its usage to the following: https://github.com/meilisearch/strapi-plugin-meilisearch/blob/aad2a1e4802808e2b6e0a374fb746881ff4ee242/server/services/lifecycle/lifecycle.js#L64

I think that it is not using the old logic bu

[2022-04-19 13:12] StrapiShaun commented on #13126
Hello all, I am a technical writer at Strapi. There is now a draft migration guide available: [v4.1.8 migration- Add API_TOKEN_SALT #851
](https://github.com/strapi/documentation/pull/851). Comments are always appreciated.

[2022-04-19 13:50] sanjeetCoder opened #13156 "I am not able to open Strapi in Iframe"
## Bug report
I am not able to open Strapi in Iframe. I am trying to open Strapi in React Iframe, but it's not opening.

### Required System information

- Node.js version: 14.15
- NPM version: 6.14.8
- Strapi version: 4.1.8
- Database: Sqlite
- Operating system: Windows

### Describe the bug

While trying to open Strapi inside React Iframe, it's showing refuse to connect. How to make it's embedde

[2022-04-19 14:46] gvocale commented on #11786
Running in the same issue as well.

I am removing a relationship from two models (Product and User), but while running the automatic migration in production I get this error:
[code]
The error happens only on production, not on local.
Any idea why?

System
[code]

[2022-04-19 15:22] #13156 closed

[2022-04-19 15:35] dmnkvd commented on #12669
+1

[2022-04-19 16:33] benramsay opened #13157 "No pagination When using Strapi + GraphQL + MySQL"
Hello,
I was using strapi with sqlite + graphQL. In this context it was possible to use "pagination".
After that I started a new project, but based on mySQL + graphQL. And in this new context
the same queries using pagination, that has been working with sqlite context , does not work anymore with the new MySQL context.

You can see in images: with sqlite I have : {pagination, filters, sort,... }
W

[2022-04-19 17:15] steve-rodri commented on #4491
@Lith What are you setting for "the redirect url to your front end app" in the strapi provider panel? Or are you not using it?

I've tried @Gherciu 's method but unless the google provider is activated it won't return the jwt

[2022-04-19 18:53] sitoftonic commented on #12384
@julesrenaud Have tried your solution, adding this to my package.json to force 6.10.1:
[code]
However, after removing node_modules, package-lock and the build folder (this actions only should be the solution as provided in the docs) and doing npm install again it did not force every dependency in package-lock to have qs at that version, which makes me wonder if I'm doing something wrong: https://d

[2022-04-19 19:34] FanghanHu commented on #13157
I am also using MYSQL here, and my schema doesn't have anything other than sort as well.
![image](https://user-images.githubusercontent.com/3207447/164081690-75f8dccd-925f-4bf1-8dde-d1b3838daa7e.png)

[2022-04-19 19:44] derrickmehaffy commented on #13135
We don't have the full design done yet and the first iteration of this is just gonna be `draft and publish v2` initially. The problem we had was we needed to make any breaking changes before we developed the feature so a lot of choices were made in Q4 2021 with the expectation we would build the feature later this year or early next year.

But to follow semver we needed to give us some freedom to

[2022-04-19 19:45] derrickmehaffy commented on #13135
It's like clearing trees and flatting the ground before you design the house, you kinda have to know how much land you have to determine how best to design the house. We aren't to the point where we are drawing up plans yet.

[2022-04-19 19:48] derrickmehaffy commented on #13143
Generally it means Strapi doesn't see that the table exists. You can try purging the core_store table and rebooting the app but that will flush all plugin configs too, or you can dive into the core_store and delete all the db schema keys

[2022-04-19 19:50] derrickmehaffy commented on #12384
Simple suggestion is to delete your `node_modules` and lock files and reinstall node_modules

[2022-04-20 00:51] gvocale commented on #11786
The same error doesn't happen on localhost where I have no data.

In most of my collections, like `Article`, or `Browse` or `Shop`, I have a field UID `slug`. The field is unique within each collection, but the same slug is used in different collections. For example I have a `Browse` entity with slug `all` and a Shop entity with slug `all`.

I have checked all slugs in Article (I only have 20 entr

[2022-04-20 01:04] MitchEff opened #13158 ""Cannot read property 'isSubmitting' of undefined""
So after a full week of drama trying to get the world's most simple Strapi instance to work, we're giving up.

* Quickstart guide for DigitalOcean doesn't work
* Render.com takes 10 minutes to build a 'hello world'
* Heroku _works_ but you need to use their Git as GH is no longer supported
* You can't make any meaningful changes (e.g layouts, settings) without pushing and recompiling for "security

[2022-04-20 05:25] Alecattie opened #13159 "Can't run npm start using meilisearch"
## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system: Linux Ubuntu

### Describe the bug

I can't start the project on an ubuntu machine after installing meilisearch the log is:

`> my-project@0.1.0 start /home/ubuntu/cybertiks-strapi

[2022-04-20 04:41:25.581] debug: ⛔️ Server wasn't able to start properly.
[2022-04-20

[2022-04-20 05:40] faiqali1 opened #13160 "Rich Text Fields do not have spell check"
## Bug report
Rich text field do not have spell check

### Required System information

- Strapi version: 4.1.7
- Database: Postgress

Deployed on heroku
### Describe the bug
Rich text Field do not have spell check, even tools like Grammarly won't work.

A clear and concise description of what the bug is.

### Steps to reproduce the behavior
1. Go to any rich text field and make a spelling mistake

[2022-04-20 06:32] nikhil-shrestha opened #13161 "Strapi AWS Deployment"
## Bug report

Link to the documentation page or resource
https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.html

### Required System information
Node.js version: v14.19.1
Strapi version: 4.1.7

Deployed on AWS Elastic Beanstalk

### Describe the bug
I have followed the instructions steps for step and was able to host the application to AWS E

[2022-04-20 07:30] sitoftonic commented on #12384
@derrickmehaffy This is what I have done several times without any signal of improvement. Is there something else I can do to debug the problem?

[2022-04-20 07:37] #13161 closed

[2022-04-20 07:44] bulby97 commented on #13157
I don't think it's related to mySQL. We were using a long time project with Strapi + gQL + Postgres and after updating the dependencies, we lost filters and pagination

[2022-04-20 07:47] Convly commented on #13157
Hi, thanks for opening this issue, which version are you using?

[2022-04-20 07:48] bulby97 commented on #13157
@Convly Thanks for replying. 4.1.7

[code]

[2022-04-20 07:49] Convly commented on #13157
I'll look into it later today and try to reproduce/fix it. I'll keep you posted.

[2022-04-20 09:27] james-theretreater commented on #9415
I am having this same problem, `forgotPassword` is checked in Users and Permissions for Public user. My mutations...

[code]

Response
[code]

Strapi Log
[code]

[2022-04-20 09:39] james-theretreater commented on #2724
This worked for me, I had to set the shipper email to match my registered domain with sendgrid.

[2022-04-20 10:36] james-theretreater commented on #12016
Would this be adjustable to solve the issue with user roles not coming back?
https://github.com/strapi/strapi/issues/11957

[2022-04-20 10:37] james-theretreater commented on #12016
Would this be adjustable to solve the issue with user roles not coming back?
https://github.com/strapi/strapi/issues/11957

[2022-04-20 11:00] james-theretreater commented on #11957
I was able to solve this for the `me` query at least by extending `src/index.js` with this. Inspiration taken from https://github.com/strapi/strapi/issues/12016#issuecomment-1040378232

[code]

[2022-04-20 12:23] KirillTovpinets opened #13162 "Graphql filters parameter doesn't filter by date string"
## Bug report

### Required System information

- Node.js version: 16.14.0
- NPM version: 8.3.1
- Strapi version: v4
- Database: postgress
- Operating system: Windows

### Describe the bug

I try to filter my collection by date field but graphql doesn't filter collection by given date filter.

### Steps to reproduce the behavior

1. Go to 'https://api-dev.metus-cms.com/graphql'
2. Use filter param

[2022-04-20 12:55] bulby97 commented on #13157
@Convly for whatever reason, the issue has been fixed for me by updating the yarn.lock file.

[2022-04-20 13:06] yohanBarilleau commented on #12145
Another workaround that doesn't change the node_modules package, is to intercept the render of your component :
[https://github.com/akcyp/strapi-plugin-point-list/blob/main/admin/src/index.js#L9-L20](https://github.com/akcyp/strapi-plugin-point-list/blob/main/admin/src/index.js#L9-L20)
Find in this discussion : #https://github.com/strapi/strapi/issues/12506
Use this file too for the workaround : [

[2022-04-20 13:38] Convly commented on #13157
Hey, glad you were able to fix it by updating the lockfile.
On my side I tried to reproduce it on a clean 4.1.7 application and failed to do so.
![image](https://user-images.githubusercontent.com/25851739/164243150-6dab42d1-1748-4cd5-a8db-355d9624634e.png)

![image](https://user-images.githubusercontent.com/25851739/164242841-9457dfd5-0b7f-4ce6-8f4a-abcf4896781f.png)

[2022-04-20 18:09] pcriadoperez opened #13164 "Cannot load user permissions pages in dashboard - Error Cannot read properties of undefined (reading 'allPermissions')"
## Bug report

### Required System information

- Node.js version: 16
- NPM version: 8
- Strapi version: 4.1.8
- Database: Postgres
- Operating system: Linux

### Describe the bug

When loading user permissions pages in admin panel I get a blank page and the following error in the console:
[code]
### Steps to reproduce the behavior

1. Go to /admin/settings/users-permissions/advanced-settings
2. G

[2022-04-20 18:36] Keetta commented on #12062
up

[2022-04-20 18:44] bornschlegell81 commented on #12062
up

[2022-04-20 18:46] jpcmf commented on #12062
up

[2022-04-21 02:36] aquadesk commented on #13137
@jonrrivera it does solve the issue on the graphql side but 4.1.8 has an issue with frontend side

https://github.com/strapi/strapi/issues/13158
https://github.com/strapi/strapi/issues/13164

so on.. issues are coming

[2022-04-21 03:38] aquadesk commented on #13164
This worked for me but not sure it would for you

replace `v4.1.8` to `4.1.7` in package.json

use `npm ci` instead of `npm i` to install dependencies.

Let me know if this works.

[2022-04-21 06:26] RioChndr commented on #7489
My Solution is follow [Copy some file to extentions](https://github.com/strapi/strapi/issues/12907#issuecomment-1081411799).

then, edit file `src/extensions/users-permissions/services/providers-list.js` on section `google`

[code]

[2022-04-21 06:31] siemen-subbaiah commented on #11637
I have the same error, but the provider which I'm using is cloudinary!

[2022-04-21 07:19] siemen-subbaiah commented on #11637
For people wondering how to do the same with cloudinary :

[code]

[2022-04-21 07:22] SujayPrabhu96 commented on #12702
Folks, does it have to do anything with https://github.com/getsentry/sentry-javascript/issues/4956

Strapi v4 by default adds sentry 6.3.0 to yarn lock file which has some bugs. Can we update sentry version to 6.3.2 as mentioned https://github.com/getsentry/sentry-javascript/issues/4956#issuecomment-1103679589

[2022-04-21 09:29] Dinesh-m4 commented on #12998
Yes unique applies to entire content type but I'm using that meta component enum field values, will those values be unique for content types.

[2022-04-21 09:29] dzcpy commented on #13124
@derrickmehaffy Could you please shed some lights on how to make it work with jsx? It seems that webpack cannot process jsx files anymore. How can I add it back?

[2022-04-21 09:44] phastari commented on #13164
I had simular issues with /admin/plugins/upload and /admin/plugins/documentation
removing node_modules, .cache, build and package-lock.json then reinstalling (npm install) solved the issues, I did not have to downgrade to 4.1.7

@aquadesk Thank you!

[2022-04-21 10:15] spenya commented on #13061
Same on 4.1.8

[2022-04-21 11:20] pcriadoperez commented on #13164
It happens also when trying to upload files. Will try rebuilding.

[2022-04-21 11:31] durashere opened #13165 "GraphQL Shadow CRUD enum response not supporting UTF8"
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: yarn v1.22.18
- Strapi version: v4.1.8
- Database: PostgreSQL
- Operating system: MacOS

### Describe the bug

Strapi dont response with polish / non-english characters when using Shadow CRUD

### Steps to reproduce the behavior

1. Create content with any non-english character for example ł ą ę ż ź
2. Go to

[2022-04-21 12:07] martincapek opened #13166 "Image optimalization breaks WebP animations in Media Gallery"
## Bug report

Media Gallery image optimalization breaks animation in WebP images.

### Required System information

- Node.js version: v16
- NPM version:  v8
- Strapi version: 4.1.8
- Database: PG
- Operating system: macOS

### Steps to reproduce the behavior

1. Go to Media Gallery
2. Upload WebP animation (link for image https://drive.google.com/file/d/1cEpWI3tay4ovhGCgtps-az60QevSSgIw/view?usp

[2022-04-21 12:16] #13147 closed

[2022-04-21 12:17] buddudevelopers commented on #13147
ignored by @strapi

[2022-04-21 12:23] soupette commented on #13147
@buddudevelopers did you solve the issue?

[2022-04-21 14:15] sultanfendonus opened #13167 "Uncaught SyntaxError: Invalid or unexpected token (at main.f878bb6e.js:2:26089)"
Admin panel frontend not working after migrating from 4.1.7 to 4.1.8
Blank page showing with this console error in the browser
`Uncaught SyntaxError: Invalid or unexpected token (at main.f878bb6e.js:2:26089)
`
**Required System information**

- Node.js version: v16.14.2
- NPM version: v8.5.0
- Strapi version: 4.1.8
- Database: PG
- Operating system: Ubuntu 20.04

**Steps to reproduce the behavior*

[2022-04-21 14:30] thexpand commented on #2546
@mustafa-kahraman
What is the provider field for in the `UsersPermissionsLoginInput` input type? I see that you're setting it to `"local"` in the variables for the mutation, but can't understand its purpose. It's not documented on Strapi's documentation https://docs.strapi.io/developer-docs/latest/plugins/graphql.html#authentication

[2022-04-21 14:36] krisstern commented on #9917
Hi, I tried the fix with `--excludeCollection strapi_administrator` for the `mongorestore` command but to no avail. We have just migrated all data from an old MongoDB database to a new one. Is there any other way to attempt a patch?

[2022-04-21 15:16] derrickmehaffy commented on #13124
Honestly I have no idea, let me try poking the frontend engineers and see what they think

[2022-04-21 15:20] derrickmehaffy commented on #12062
Locking this as the `up` comments are not useful. This is something we will work on once we have some free time, else if anyone wants to submit a PR please feel free, but we do need to keep backwards compatibility with `mysql` and not just replace it with `mysql2`

[2022-04-21 15:22] derrickmehaffy commented on #12384
Because we cannot reproduce it and everyone who I've helped on our discord fixed it by doing exactly what I've said before:

Delete `build`, `.cache`, `node_modules`, `yarn.lock`, package-lock.json` then reinstall your node_modules (and optionally rebuilding the admin). That all permissions error is 100% the fault of a cached admin build. If those steps don't work, it's likely your system has a ha

[2022-04-21 15:42] derrickmehaffy commented on #12998
Component unique will not apply to the parent content-type

[2022-04-21 16:43] derrickmehaffy commented on #10610
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:43] #10610 closed

[2022-04-21 16:43] derrickmehaffy commented on #10643
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:43] #10643 closed

[2022-04-21 16:43] derrickmehaffy commented on #10645
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:43] #10645 closed

[2022-04-21 16:44] derrickmehaffy commented on #10741
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:44] #10741 closed

[2022-04-21 16:44] #10807 closed, assigned to nobody

[2022-04-21 16:44] derrickmehaffy commented on #10820
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:44] #10820 closed

[2022-04-21 16:44] derrickmehaffy commented on #10825
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:44] derrickmehaffy commented on #10855
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:44] #10855 closed

[2022-04-21 16:45] derrickmehaffy commented on #10879
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:45] #10879 closed

[2022-04-21 16:45] derrickmehaffy commented on #11226
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:45] #11226 closed

[2022-04-21 16:45] derrickmehaffy commented on #11259
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:45] #11259 closed

[2022-04-21 16:45] derrickmehaffy commented on #11421
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:45] #11421 closed

[2022-04-21 16:45] derrickmehaffy commented on #11448
Given how old this issue is, I'll set it as closed for now but if someone can reproduce on Strapi v4 please feel free to open a new issue and link back to this one. Thanks!

[2022-04-21 16:45] #11448 closed

[2022-04-21 16:50] derrickmehaffy commented on #13121
Confirmed on v4.1.8 but man you **really** have to slow the network down for it to happen. To the point where I'm not sure if you would ever have users with that slow of a connection (I dropped it to like 56k dial-up speeds)

[2022-04-21 16:51] derrickmehaffy commented on #13138
Unable to reproduce on v4.1.8. @buddudevelopers can you share your project code?

[2022-04-21 16:52] derrickmehaffy commented on #13151
Can't reproduce, can you please try deleting your `package-lock.json` and/or `yarn.lock` in addition to your node_modules and try to reinstall again.

[2022-04-21 17:11] derrickmehaffy commented on #13155
confirmed on v4.1.8, but I have no idea the root cause. It feels like a race condition that might not be an easy solve

[2022-04-21 17:13] derrickmehaffy commented on #13159
As this isn't a Strapi maintained plugin I'll set this as closed, please reach out the plugin author

[2022-04-21 17:13] #13159 closed

[2022-04-21 17:30] derrickmehaffy commented on #13167
Can you please try following the steps in this: https://docs.strapi.io/developer-docs/latest/update-migration-guides/update-version.html#upgrading-the-dependencies

Specifically:
![image](https://user-images.githubusercontent.com/8593673/164517347-1edc1efa-08fd-4ef7-a8b8-67e16dfd9e00.png)

Also be sure you took a look at:
https://docs.strapi.io/developer-docs/latest/update-migration-guides/migrati

[2022-04-21 17:30] derrickmehaffy commented on #13166
duplicate: https://github.com/strapi/strapi/issues/10420

[2022-04-21 17:30] #13166 closed

[2022-04-21 17:31] derrickmehaffy commented on #13165
duplicate: https://github.com/strapi/strapi/issues/13017

see this comment: https://github.com/strapi/strapi/issues/13017#issuecomment-1101536552

[2022-04-21 17:31] #13165 closed

[2022-04-21 17:32] derrickmehaffy commented on #13164
Closing as the comment made by @aquadesk is exactly correct.

[2022-04-21 17:32] #13164 closed

[2022-04-21 17:43] derrickmehaffy commented on #13154
Tested the following providers and they all functioned properly:

- https://github.com/strapi/strapi/tree/master/packages/providers/upload-aws-s3
- https://github.com/strapi/strapi/tree/master/packages/providers/upload-cloudinary
- https://github.com/strapi/strapi/tree/master/packages/providers/upload-local

Didn't test rackspace but we are gonna get rid of that one soon anyway and it's practicall

[2022-04-21 17:43] #13154 closed

[2022-04-21 17:45] aquadesk commented on #13164
I know this solves the problem that OP is posted but if you use 4.1.8 there possibly a problem with graphql plugin.
so watch out.

[2022-04-21 17:46] aquadesk commented on #13162
This worked for me but not sure it would for you

replace v4.1.8 to 4.1.7 in package.json

and do this.

rm -rf node_modules .cache build package-lock.json && npm ci && npm run develop
what this command does are

remove node_modules .cache build package-lock.json
use npm ci instead of npm i to install dependencies.
and then npm run develop
Let me know if this works.

[2022-04-21 17:53] derrickmehaffy commented on #13162
I don't think this one is the same error, I believe this a database filtering issue. Trying to reproduce it now

[2022-04-21 17:58] aquadesk commented on #13158
try what I said in https://github.com/strapi/strapi/issues/13164#issuecomment-1104674079

[2022-04-21 18:38] durashere commented on #13017
What do you think will be the best workaround for displaying proper characters on frontend if response is bad? Or maybe not using enum at all?

[2022-04-21 18:50] dawnerd commented on #13138
Whelp turns out it was user error. Had a mistyped port in the docker-compose 🤦‍♂️

Can confirm it's working great now.

[2022-04-21 18:50] #13138 closed

[2022-04-21 18:53] matoushavlena commented on #13121
@derrickmehaffy This happens on one of our instances running on IBM Public Cloud (Openshift cluster) without any network throttling. You need to hit the refresh like 30 times, but it occasionally happens even on fast network.

[2022-04-21 19:55] sultanfendonus commented on #13167
Thanks for the migration guides. Actually, I found the issue. This was happening for the Cloudflare cache. I purged the cache and it is working fine now.

[2022-04-21 20:27] krisstern commented on #9917
Turns out I was able to fix the problem by having an empty `strapi_administrator` collection in our `mongodb` database. So it is a non-issue after all.

[2022-04-21 20:51] ikoif commented on #5868
For anyone seeing `AccessControlListNotSupported: The bucket does not allow ACLs` when using the official strapi plugin `@strapi/provider-upload-aws-s3` in its most basic use case.

I don't know what exactly the case is for CDNs, but for the most basic use case of uploading a file via an AWS IAM programmatic user and then being able to view the file publicly (using the URL on a public web page) th

[2022-04-22 04:11] torres-leo commented on #11729
It works for me!
Node Version: 16.14.2
npm: 8.7.0
strapi: 4.1.8

command: npx create-strapi-app@latest name-project --quickstart

[2022-04-22 06:44] ahmadjoya opened #13169 "filters parameter doen't work via graphql query"
in the recent version of strapi (4.1.8) the filters paramter in graphql query doen't work. it says Unknown argument \"filters\" on field \"Query.article\" but it was ok in the previous version like: 4.1.1

here is my query
[code]

and here is the response
[code]

[2022-04-22 07:44] robdmoore commented on #12383
@derrickmehaffy I'm getting this same error (go to a role in admin, don't change anything and click save) on version 4.

[2022-04-22 08:24] martincapek commented on #13166
Hi Derrick, I don't think so. I saw #10420 and that issue is about add option to create WebP copies of images. My issue is about broken optimalization of WebP images. Or am I wrong? If yes can you please clarify it. Thanks!

[2022-04-22 10:19] HonzaVrkota opened #13171 "Boolean field value not visible when is not editable"
## Bug report - Boolean field value not visible when is not editable

### Required System information

- Node.js version: 14.19.1
- NPM version: 6.14.16
- Strapi version: 4.1.8
- Database: sqlite
- Operating system: Windows 10

### Describe the bug

Boolean fields value is not visible, when is disable editing in administration. Value is correctly saved in field, but editor cannot see the value. Wh

[2022-04-22 10:28] jorgeRambla commented on #13011
Waiting for first pull request workflow approval

[2022-04-22 10:30] ScyDev commented on #12004
Unfortunately I still have the same issue on Strapi 4.1.8.
A category that has 5000 products will take upwards of 30 seconds to load in the content manager.
That's on a very powerful dev machine.

Do I need to configure something to make this have an effect? From what I gathered, in Strapi 4 we can't configure the populating behavior of a model, correct?

[2022-04-22 11:01] EGGamer commented on #13141
@derrickmehaffy After doing some tests I concluded that the issue is caused by LastPass. This didn't happen previously so I thought it was an issue with Strapi.

I'll close the issue.

[2022-04-22 11:01] #13141 closed

[2022-04-22 11:39] PrinzJuliano opened #13172 "Users-Permissions Roles Route Config does not include prefix config"
## Bug report

### Required System information

- Node.js version: 16.13.2
- NPM version: 8.5.1
- Strapi version: 4.1.2
- Database: MariaDB 10.6
- Operating system: MacOS

### Describe the bug

The Users-Permissions plugin includes REST API Route definitions for its resources and I have trouble getting the `roles` part working.

Precisely when I do 'GET /api/roles' I always get a 404 Not Found. Be

[2022-04-22 12:11] Vidski commented on #13134
Facing the same issue

[2022-04-22 12:19] Eli-Nathan commented on #12493
@ibnlanre's [answer](https://github.com/strapi/strapi/issues/12493#issuecomment-1044724834) did the trick for me.
After trying to import some data, it hit a conflict and stopped the import leaving some IDs in a bad state in the DB.

I had to tweak it a bunch so if anyone is hitting repeated errors such as:
[code]

Then try wrapping the table name in single quotes as well as doubles.

My table was

[2022-04-22 12:33] jobehi commented on #12894
Thank you that worked for me.

[2022-04-22 14:02] ScyDev opened #13173 "Entity Service is populating a relation, even though: { populate: { products: false } }"
## Bug report

### Required System information

- Node.js version: v14.17.0
- NPM version: 6.14.13
- Strapi version: 4.1.8
- Database: PostgreSQL 13.0 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit
- Operating system: Ubuntu 20.04

### Describe the bug

Entity Service is populating a relation, even though I explicitly tell it not to and the docs state "The Entity Service API

[2022-04-22 14:34] thonatos commented on #12837
the way to reproduce

1. create a pnpm workspace
2. init strapi with name 'demo' at packages/apps/demo
3. install deps with `pnpm i --filter demo...`
4. run build under demo app with `pnpm run build`
5. copy deps to demo's package.json from package.json under .cache
6. open the browser after building admin

[2022-04-22 20:08] negprof commented on #13134
Same problem here.

[2022-04-23 01:21] hughobrien opened #13174 "Missing mime-type with API upload breaks Web UI"
## Bug report

### Required System information

- Node.js version: v14.18.2
- NPM version: 6.14.15
- Strapi version: v4.1.8
- Database: Postgres 11
- Operating system: Azure Kubernetes (Ubuntu 18.04 IIRC)

### Describe the bug

When creating an entry with an image via an API call, certain fields, such as `mime-type` are stored as null. When a browser attempts to view such an entry, or to open the

[2022-04-23 01:39] hughobrien commented on #13174
Confirming that correcting the python code to set the mime-type results in a successful upload AND a non-broken web UI

[2022-04-23 12:07] tomh4 commented on #8280
Any updates to this?

[2022-04-23 14:41] Olli1080 commented on #13169
Same here. It still works in 4.1.7 but in 4.1.8 the Graphql input IDFilterInput is omitted in introspection and filters in general

[2022-04-23 16:14] evle commented on #12869
same error here and my version is **4.1.7**
use yarn and npm both not working, still got the error:
**TypeError: Cannot read properties of undefined (reading 'toggleNotification')**

[2022-04-23 18:29] Zharkan commented on #12766
Then I probably opened a duplicate issue [here](https://github.com/strapi/strapi/issues/12823).

[2022-04-24 03:49] hamzehparsi opened #13176 "Error install"
npm 6.14.16
node v16.14.2
windows 10

Building your admin UI with development configuration ...
Admin UI built successfully
[2022-04-24 08:06:52.120] debug: ⛔️ Server wasn't able to start properly.
[2022-04-24 08:06:52.121] error: Could not load js config file C:\Users\837256\my-strapi\node_modules\@strapi\plugin-upload\strapi-server.js:
Something went wrong installing the "sharp" module

The spec

[2022-04-24 12:22] Audit-a-la-Carte commented on #13106
I just had the same issue once more, I am not sure what was different. I haven't touched much...

Once I adjust the settings from the admin panel, I can see the changes reflected on the CloudSQL database. So I am sure this isn't some default NoSQL database within the container. I am afraid there is something being executed at build time, which affects the database. I have tried reviewing migration

[2022-04-24 14:36] Audit-a-la-Carte commented on #13106
I am also losing data regularly, so this seems to be related to each other (settings or other database values).

[2022-04-24 16:01] hariangr commented on #463
Got any updates?

[2022-04-24 20:01] DevJuliox commented on #12897
Can someone help me with this, it's happening to me as soon as I click on upload image, Thanks

[2022-04-24 20:29] ColinSather commented on #13176
I had this issue as well on my Windows 10 machine too. I decided to run Strapi on my Debian Linux server instead. Worked like a charm.

[2022-04-25 01:47] mNutella commented on #13159
I had the same problem with node version 12, then I just upgraded it to 14
I hope this helps

[2022-04-25 04:19] Dinesh-m4 commented on #12998
Its not component unique, I've used enum field in a component, I need multiple values of enum field should not be selected multiple times.

[2022-04-25 06:04] maxpropp commented on #12897
Hey, can you please explain your issue and what you are trying to achieve?

I did not fix my problem, I just don't upload the wrong file type.

[2022-04-25 07:03] sjoukedv commented on #3757
I was also getting the `ApplicationError: username already exsists`. For me it had nothing to do with the username. Maybe this helps someone:

1. Enable debug in `database.js`

[code]
   2. Hit the endpoint and manually execute the queries (the ones on the `up_users` table) to see which one fails.

 In my case the issue was the `up_users_id_seq` sequence which tried to insert an entry with an ID t

[2022-04-25 07:50] ScyDev commented on #7631
@derrickmehaffy can you please give us a hint where this query is generated, so we could have a workaround?

[2022-04-25 08:21] soupette commented on #13124
@dzcpy babel-loader is only used to process some specific files otherwise we use esbuild-loader so I guess the customisation you are trying to do is not the correct one. Currently the loader is not used to parsed `.jsx` files so I am going to make a PR to fix the issue.

[2022-04-25 09:08] Convly commented on #13157
@benramsay / @FanghanHu if you're also using v4.1.7, could you try updating your yarn.lock file? I wasn't able to reproduce the issue on my side

[2022-04-25 09:49] petersg83 commented on #12004
@ScyDev Would you be able to share the response content of the request for this category? Taken from the browser developer console?

I don't think there are more quick fixes for the moment, however it is planned that we rework the relation management in the next months and the loading problem will be gone

[2022-04-25 09:55] petersg83 commented on #13017
You can play with https://github.com/sindresorhus/slugify to see if the words you use can be casted in something different than `""`. If no words work, I guess I would suggest to not use enum if displayed characters are mandatory. Maybe using a text area or a relation.

Also, is it mandatory to display in native language in Strapi or in your front-end application?
If it is only in your front-end a

[2022-04-25 10:07] kdurek commented on #13017
Hey, thanks for reply!
I don't plan to use strapi dashboard at all for my users, so I need words in my frontend app.
I ended up using textarea and validating it on front-end, but thanks to your idea I will think about using english words and mapping them.

[2022-04-25 10:43] cur1ou5soul commented on #12869
also on 4.1.7 I got the same error - switched back and forth on yarn and npm but somehow it never worked.

[2022-04-25 10:44] Audit-a-la-Carte commented on #13106
Today the rights were dropped again and I lost my single types on production. I trust this has to do with migrations on a restart of a container, as the database seems persistent but I can't wrap my head around why this happens. If I know how to stop migrations or log the output somewhere I can better trace it.

[2022-04-25 14:04] kibblerz commented on #13061
Can we prioritize this? We have clients that have complained about this issue, either we need to fix the drag and drop or change the text to something else until the drag and drop is fixed. Makes it a bit confusing for end users

[2022-04-25 14:14] kibblerz commented on #13061
Just tested and noticed that one field which allows all file types works, but the one that only allows images fails

[2022-04-25 15:06] james-theretreater commented on #11957
Thank you! This works for me to get the `role` on the login response. It will do until this is fixed, I will have to manually check & update this file if it changes in future Strapi releases (except the one that fixes the populate role data).

[2022-04-25 18:15] z0lo13 commented on #10472
I think it is related to #12999

[2022-04-25 19:34] laugepetersen commented on #12741
+1 Icon's either doesn't fit the component and can't be reused for similar components. We absolutely need this to be optional!

[2022-04-25 19:34] axufurisamu commented on #11852
I really wish they did not change how the API's worked before making sure we could mimic what the API's did before.  To me, the change to V4 is actually breaking!  I haven't been able to get my subobjects to populate properly in V4 and it is really frustrating that the most basic things you need from a CMS API were not thought out before changing it.

[2022-04-25 19:42] laugepetersen commented on #7941
+1 For the option to reorder dynamic zone components by drag and drop.

[2022-04-25 21:13] TartagliaEG commented on #13157
I was having the same issue, but reinstalling the plugin fixed it.

[code]

My setup was made on v4.1.8 with postgres, so it doesn't seems to be related with the database choice.

Also, #13137 seems to be related.

[2022-04-25 22:03] derrickmehaffy commented on #8769
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/show-git-sha-in-root-page
If you are interested in this feature please feel free to go there and add

[2022-04-25 22:03] #8769 closed

[2022-04-26 04:56] kimstewartca commented on #13056
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: 8.5.5
- Strapi version: 4.1.8
- Database: AWS RDS Postgres 14.2
- Operating system: Ubuntu Server 20

### Describe the bug

Strapi 4.1.8 Content Manager, Collection Type Relationships:
Typing an integer values will not auto complete if they are too far down the list, you must first scroll all the way down th

[2022-04-26 05:00] kimstewartca commented on #13056
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: 8.5.5
- Strapi version: 4.1.8
- Database: AWS RDS Postgres 14.2
- Operating system: Ubuntu Server 20

### Describe the bug

Strapi 4.1.7 Content Manager, Collection Type Relationships:
Auto complete does not work for case sensitive values. For example, if the value is "United States", typing "united" will no

[2022-04-26 05:13] kimstewartca opened #13179 "Renaming Collection Type Entry With Many Items "Internal Server Error""
## Bug report

### Required System information

Node.js version: v14.19.1
NPM version: 8.5.5
Strapi version: 4.1.8
Database: AWS RDS Postgres 14.2
Operating system: Ubuntu Server 20

### Describe the bug

Renaming a collection type entry with many items attached to it causes an "Internal Server Error", thus removing all of the pre-existing relationships to that collection type entry.

### Steps to

[2022-04-26 06:52] gu-stav commented on #13174
@derrickmehaffy FYI:I've already opened a PR to fix the issue: https://github.com/strapi/strapi/pull/12881, because the problem was reported in https://github.com/strapi/strapi/issues/12761 earlier already. It seems that Alex was not happy with the proposed solution and it seemed as if this existed before, but was removed in v4 intentionally.

I'm not sure about the direction here: both ways (API

[2022-04-26 09:33] kaij opened #13182 "Adding same component in plural form corrupts table"
## Bug report

### Required System information

- Node.js version: 16.13.1
- NPM version: 8.1.2
- Strapi version: 4.1.8
- Database: MariaDB 10.7
- Operating system: Debian

### Describe the bug

The two independently created components "content.Teaser" and "content.Teasers" share the same table. This gives column not found errors when saving data and corrupts data (columns are deleted from the dat

[2022-04-26 09:33] ScyDev commented on #12004
@petersg83 Yes, here it is:
[Strapi Content Manager Category Response.zip](https://github.com/strapi/strapi/files/8561808/Strapi.Content.Manager.Category.Response.zip)

Is there another issue I can track for progress on that rework?

[2022-04-26 12:04] Tragio opened #13184 "better-sqlite3 fails to install"
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: 6.14.16
- Strapi version: 4.1.8
- Database: better-sqlite3
- Operating system: MacOS 12.3.1

### Describe the bug

I'm using an M1 Pro with the latest Node 14 version. Better-sqlite3 fails to install. I already tried to install it locally and globally and it always fails, also tried to clear all cache, packa

[2022-04-26 12:14] Tragio commented on #13184
Fixed by upgrading npm to 8.7.0.

[2022-04-26 12:14] #13184 closed

[2022-04-26 15:45] tsmith1024 commented on #11821
Seeing the same behavior as @akerd -- though it looks like it's only a display issue, while the full data is being saved into the DB.

Would a solution be to add a "Fractional Precision" option (or some other better name) for number fields and use that value as an override to the `minimumFractionDigits` option on NumberFormat? Setting a value in that option as a Strapi-wide default looks like it c

[2022-04-26 17:19] georgiod9 commented on #10685
so how do we fix this?

[2022-04-26 18:50] timur-khakhalev commented on #12226
Any updates? Its same for me.
I trying to create a new entry with some relations and with custom routes:

`{
      method: 'POST',
      path: '/sp',
      handler: 'sprite.create'
    },`

Its work good. But If I set
`config: {
auth: false
}
`
its not working. I just need to use no auth endpoints with custom handler. Any ideas?

[2022-04-26 20:56] MoOx opened #13190 "Regular development crash because of knex/postgres/tarn ?"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.7.0
- Strapi version:
[code]
- Database:  PostgreSQL 14.2 (inside Docker container Debian 14.2-1.pgdg110+1)
- Operating system: macOS 12.3.1 (21E258)

### Describe the bug

Regularly, I got failure from the API (I am developing an app with Next.js + Strapi/GraphQL)

Then a crash randomly append::

[code]

[2022-04-26 22:43] hughobrien commented on #13174
For what it's worth, as a user I'd rather get the error and then correct it client-side over accidentally relying on some magic. Especially if that magic leads to something unexpected further down the line.

But -- I'm probably in the minority so I think the auto option (if not provided) is probably the smoothest from a developer experience point of view.

[2022-04-27 06:02] Audit-a-la-Carte commented on #13106
I tried a couple of extra things but was not successful. This morning once more part of my database content was gone! What happens here?

So for clarity, it does not lose connectivity to the database as the admin panel just works. It also does not revert to install mode. I just loose data I entered yesterday in an entity I created.

I tried Pool options on the database, but also no luck. What coul

[2022-04-27 08:29] soupette commented on #12923
I am closing this issue as the fix has already been merged.

[2022-04-27 08:29] #12923 closed

[2022-04-27 08:32] soupette commented on #12926
I am closing it as #13108 has been merged

[2022-04-27 08:32] #12926 closed

[2022-04-27 08:33] #12898 closed

[2022-04-27 08:33] soupette commented on #12927
I am closing this issue as it has been fixed

[2022-04-27 08:33] #12927 closed

[2022-04-27 08:48] aique commented on #12381
Hi!.

Same problem here.

I fixed it by adding an `id` to de object:

[code]

[2022-04-27 09:23] Mcastres opened #13192 "Bootstrap API related files in strapi generate command doesn't create exports for plugins"
## Bug report

### Required System information

- Node.js version: 14
- NPM version: 6.14
- Strapi version: 4.1.8
- Database: Sqlite3
- Operating system: MacOs

### Describe the bug

When generating a content-type for a plugin using the `strapi generate` command. Only the schema.json file is created but not the export that is needed to make it work.

[code]

### Steps to reproduce the behavior

1.

[2022-04-27 09:24] Uniiq commented on #12766
I have the same issue with strapi version: 4.1.8.

[2022-04-27 10:26] ExtravagantBiscuit opened #13193 "Admin JWT Unauthorized on Content API Requests"
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: v6.14.16
- Strapi version:  4.1.8
- Database: Sqlite
- Operating system: MacOS (M1)

### Describe the bug

Using the jwt of an authenticated admin user, I am unable to make authenticated requests to the Content API.

I have tested with a superadmin and normal admin with table access enabled both on the Admin

[2022-04-27 10:42] ihmpavel commented on #11739
Easy fix for PostgreSQL

If you do not know the name, comment ` and conname = 'TYPE CHECK NAME'`
[code]

We need to drop the constraint first. Update table name and type check name
[code]

Update the desired constraint and check
[code]

[2022-04-27 11:19] james-theretreater commented on #11813
I've just come across this same issue... I noticed my `owner` field which points to a users-permissions.user was bring stripped in the core update controller and was going to raise an issue before finding this.

Enable `find` for users-permissions.user would be required in my case which I obviously cannot do.

My workaround solution for now is to instead of a relation field just put the `id` of th

[2022-04-27 13:29] NicoHof commented on #11860
@gvocale It has been a while since last activity in this issue.
I am still facing this issue and it costs a lot of time and causes frustration.
- Did you solve this problem finally?
- Do you have a workaround with your current settings? (For me sometimes just redeploying works, but sometimes even after 5 tries, not)
- Is it maybe an issue with render.com? Did you try another hosting?

@derrickmeha

[2022-04-27 13:54] meganoob1337 opened #13194 "Content-Type-Builder Freezes on Collection-Types with Dynamic-Zones that have a lot of Components (Performance, Fontawesome)"
## Bug report

### Required System information

- Node.js version: 14.7.6
- NPM version: 8.5.3
- Strapi version: 4.1.5
- Database: postgresql
- Operating system: Mac OS

### Describe the bug
I Have a Collection-Type with a Dynamic Zone that has around 70+ Selectable Components
When i open the Content-Type-Builder and select the Collection-Type
The Browser Freezes for 30-60 seconds and is unrespons

[2022-04-27 14:15] MoOx opened #13195 "GraphQL errors doesn't have code to help for i18n"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.7.0
- Strapi version:
[code]
- Database:  PostgreSQL 14.2 (inside Docker container Debian 14.2-1.pgdg110+1)
- Operating system: macOS 12.3.1 (21E258)

### Describe the bug

Currently calling GraphQL api doesn't provide error code that can be used to translated safely error message.
Relying on English sente

[2022-04-27 15:16] Manishmg3994 opened #13196 "firebase phone auth not found"
#request
*need firebase phone auth

## Bug report

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise des

[2022-04-27 16:34] petersg83 commented on #13017
Ok :) With pleasure, thank you!

[2022-04-27 18:05] aquadesk commented on #13164
I don't have one but I see some already filed

https://github.com/strapi/strapi/issues?q=+4.1.8+graphql+

Solutions suggested in the comments of issues didn't work for me so I am sticking with 4.1.7 for now.

[2022-04-27 18:06] krichard-gg commented on #11409
Checking to see if there is further update since @derrickmehaffy comment on December 28th?

[2022-04-27 18:07] aquadesk commented on #13158
Try what I said in the link above.
follow the instruction precisely since there is small differences from what you usually do.
it would be best if you can just copy the command and paste it in your terminal.

[2022-04-27 18:27] derrickmehaffy commented on #11409
No, no further updates at this time.

[2022-04-27 19:46] lexa18 commented on #12766
Confirm problem version: 4.1.9

[2022-04-28 00:27] MitchEff commented on #13158
We tried those, in case anyone's wondering. Did not work on anyone's machine.

Creating a new project from scratch and then copying the relevant files _worked_, but then if anyone cloned the project and installed all the deps they'd just run into the same error again.

I know it's not the place to say so, but you're all better of with headless WP. Infinitely easier to set up, never needs to be reb

[2022-04-28 01:14] detodos commented on #13121
@matoushavlena  confirmed on v4.1.8. It's happening the same on the EC2 instance ( c5a.xlarge ) (Production mode).

* Have you found any solution?

* How many admin/editor users do you have in your Strapi? I ask you because this issue started to show up when I created some admin/editor users.

[2022-04-28 01:33] gvocale commented on #11860
@NicoHof

I didn't solve the issue... in fact it cause lots of frustration on this side too 😢

We finally switched from PostgreSQL to MariaDB. We don’t get anymore the `Knex: Timeout acquiring a connection`, but we get some more descriptive errors.

One bug we figure out is sometimes columns name were too long (more then 64 characters), like described into this bug #13117 . So for now we manually

[2022-04-28 02:42] aquadesk commented on #13158
Thats too bad if even `npm ci` didnt work.

Some issues are pretty hard to solve.

[2022-04-28 06:12] lexa18 commented on #12823
facing the same issue, SVG height and weight is empty in 4.1.9.

[2022-04-28 07:05] MrChrisRodriguez commented on #13158
For future searchers that end up here, in our case this was caused by React 18.

If you version lock to 17 (which strapi doesn't but should do) this issue should go away.

[2022-04-28 07:51] KirillTovpinets commented on #13162
Sorry guys, I haven't mentioned the whole version of my strapi, which was 4.1.1. But now I've upgraded version to 4.1.9 and the bug was disappeared. All work as expected. Thanks for reply to this issue. Now this issue can be closed. Thanks a lot

[2022-04-28 10:56] hidden-primary-net commented on #13112
Sorry, I do not get the point. Which additional information would be gathered?

What I see is a direct connection attempt to 104.16.17.35, this violates the local rules (rule: use the local proxy).

Your suggested HTTP toolkit would be just another proxy actually trampling my local setup. That would affect the result by the measurment. Or am I missing an important point here?

Opening the firewall

[2022-04-28 11:08] riteshtailor2002 commented on #12911
Does anybody found the solution?

[2022-04-28 11:18] gu-stav commented on #13171
I think this issue should be fixed by upgrading to the latest release. Can you confirm this, @HonzaVrkota ?

[2022-04-28 11:20] nhvu1988 opened #13202 "The upload files response from API contains stream object"
## Bug report

### Required System information

- Node.js version: 16 LTS
- NPM version: 8.5.0
- Strapi version: 4.1.9
- Database: mysql

### Describe the bug

The upload files response from API contains `stream` object in the `formats` property. It only occurs on the cropped files. And maybe it only occurs on cloud upload providers that require an `async upload` function?

### Steps to reproduce

[2022-04-28 12:11] TheBit commented on #12837
@thonatos the same problem can be reproduced in a Rush.js monorepo with pnpm as the selected package manager.
Because of this, I can't move Strapi to Rush monorepo to store its sources together with the front-ends which consume Strapi (to get benefits of performing breaking changes in a single MR (Strapi + FE)... :(

[2022-04-28 14:19] rajeshg opened #13204 "REST API - unable to update image associated with a model"
I have a model called Product which has an image.

![image](https://user-images.githubusercontent.com/143390/165772000-caad02b8-fb2a-4883-9f83-7e8fda7d3061.png)

**Here is what works:**
Create a product with image by using a POST request with FormData
`
{
  "data": {
      'department': ''xyz',
     'name': 'xyz'
  },
  "files": {
      "image": <File Object>
   }
}
`

**What doesn't work:**
Updat

[2022-04-28 15:27] de-soul opened #13205 "500 error on new user registration with existing username"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.6.0
- Strapi version: v4.1.8-v4.1.9
- Database: sqlite
- Operating system: MacOS

### Describe the bug

I get 500 error when i trying to register user with username already exists on strapi. I expect that strapi will return error callback like: "This username is already taken", but got 500 error on server

[2022-04-28 15:44] gastuti-reply opened #13206 "Admin portal is unable to load all the images"
Hi,
maybe I'm doing something wrong, I'm quite sure, actually 🤣

I installed the plugin correctly and I'm able to upload media to the blob storage on azure.

What should I do to have the correct base-url of images and thumbnails while navigating the admin portal?

All my media are like this
![Screenshot 2022-04-28 at 17 42 00](https://user-images.githubusercontent.com/91313526/165791330-a1d6f64e-8

[2022-04-28 16:34] aquadesk commented on #1676
Best practice for refresh token is to use http only cookie and it could be restrictive since it involes cors and cookie settings. Currently i have my own logic built on graphql plugin and it works great

[2022-04-28 18:09] jgoslow commented on #7941
Wanted to weigh in here - I think the UX would be improved and this issue would be solved by having Content Components minimized by default and allowing drag-and-drop re-ordering of the components.  The Components list would be much easier to see at a glance, and to re-arrange.

<img width="1774" alt="image" src="https://user-images.githubusercontent.com/8441994/165818804-b7da5012-db49-470e-88bb-5

[2022-04-28 18:25] MrChrisRodriguez commented on #9109
Yeah, this is not working in yarn@3.2.0 and strapi@4.1.8 or strapi@4.1.9.

A lot of dependencies just aren't strictly defined (and they should be -- it's caused me problems in other places unrelated to yarn pnp)

[2022-04-28 20:06] RolfVeinoeSorensen commented on #13151
I have an extension for the permission plugin and it was a require that had been changed which caused the issue..
Thank you for replying I will close the issue.

[2022-04-28 20:06] #13151 closed

[2022-04-28 21:53] derrickmehaffy commented on #11955
Confirmed via an EE customer:

![image](https://user-images.githubusercontent.com/8593673/165853817-712db3cf-e8f9-4e0a-8896-853d5d42f15f.png)
![image](https://user-images.githubusercontent.com/8593673/165853880-c8b3af6f-0af6-4cf0-a4e9-8df2a5c0a52a.png)

on v4.1.8

[2022-04-29 00:24] dcrendon commented on #13205
I am having a similar issue but with a password validation error. It used to return the error in the response but now I get a generic `An error occurred during account creation` and the actual error is logged in the server console:
`
[2022-04-28 19:14:18.351] error: password must be at least 6 characters
ValidationError: password must be at least 6 characters
    at handleYupError (C:\Users\Bebo\D

[2022-04-29 00:57] vietlongn opened #13208 "useJoinTable: false on manyToOne relation break populate"
## Bug report

### Required System information

- Node.js version: 16
- NPM version: 8.1.2
- Strapi version: 4.1.9
- Database: mysql/sqlite
- Operating system: windows

### Describe the bug

Add `"useJoinTable": false` to `manyToOne` relation break population when combined with `select`

### Steps to reproduce the behavior

1. Create `audio` content types with `name` attribute
2. Create `playlist`

[2022-04-29 06:21] callumgare opened #13209 "Support HTTP_PROXY when sending webhooks"
## Bug report

### Describe the bug

Our hosting setup requires all outbound connections originating from the container to be to be sent though a [web proxy](https://en.wikipedia.org/wiki/Proxy_server#Web_proxy_servers). Setting `HTTP_PROXY` to specify that a program should send requests though the specified proxy is [a common convention](https://about.gitlab.com/blog/2021/01/27/we-need-to-talk-no

[2022-04-29 09:57] fadhilx opened #13213 "Basic Responsive UI. please!"
Dear Strapi team

please make strapi admin UI to be responsive
all you need to do is
hide this mf sidebar
![image](https://user-images.githubusercontent.com/15516786/165921716-f9f380a3-f02f-4080-860c-137bd83f321d.png)
and then, put a button somewhere to toggle it
and the the result is
![image](https://user-images.githubusercontent.com/15516786/165922430-9e71e1c1-42f3-483f-b3ae-daa016323333.png)

[2022-04-29 10:54] gastuti-reply commented on #13206
Fixed.
I wasn't considering that the database tracks where from where the files are uploaded, all my images were uploaded with provider local since they have been migrated from a version without the azure storage provider.

[2022-04-29 10:54] #13206 closed

[2022-04-29 12:20] jonadeline opened #13214 "Webhook does not trigger any event for related entries"
## Bug report
When updating a relation in an entry, the webhook doesn't trigger any `entry.update` event for the related entry.

### Required System information

- Node.js version: 16.3.1
- NPM version: 8.1.2
- Strapi version:4.1.8
- Database: SQLite
- Operating system: macOS Monterrey

### Steps to reproduce the behavior

1. Create a collection type with a many to many relation with an other coll

[2022-04-29 12:51] HonzaVrkota commented on #13171
Confirm, this issues is fixed. 🎉

[2022-04-29 12:51] #13171 closed

[2022-04-29 13:56] raimonds-wrong commented on #11955
+1; Strapi v.4.1.8. This seems to be due to a repeatable field name. Common structure: dynamic zone component > repeatable > image field. If the name of a repeatable field matches in several dynamic zone components, for example – named 'items', the image disappears in the editor view when saved, but is available in the API data.

I have encountered this problem several times because it is not easi

[2022-04-29 14:13] raimonds-wrong commented on #11955
Just updated to v4.1.9. Deleted .cache and rebuild admin UI. The problem persists ➕

[2022-04-29 19:02] pcriadoperez commented on #13205
Having a similar issue, I was ignoring username in previous version, now it's asking me for it to be unique and can't edit any users

[2022-04-29 21:15] Kzai commented on #13190
+1
Node v14.7.1,
Strapi 4.1.8,
PostgreSQL 12.0 (Debian 12.0-2.pgdg100+1)

[2022-04-29 21:22] MoOx commented on #13190
Some workarounds:
- don't use `develop` if you don't need it (use start, no watcher on db files, no crash)
- don't put db files on your actual fs and keep them in docker instance if possible

[2022-04-30 01:32] deanpeterson opened #13215 "Multiple back end pods in Kubernetes"
If I run Strapi on Kubernetes. Can I spin up multiple pods for the back end or will that cause conflicts?

The forums appear to be a bit of a ghost town so hoping to get some insight if this is possible here.

[2022-04-30 08:35] blackinitial commented on #13213
yeah, need responsive on mobile

[2022-04-30 09:32] gautamkrishnar commented on #10488
@derrickmehaffy i just got this issue on one of our open source projects when we migrated from v3 to v4, we used `@strapi/codemods` to migrate. Here is the source code in which you can reproduce this issue: https://github.com/Kites-Foundation/hellomunnar-cms/tree/v4migration

I used ndoe js version 14.17.0

[2022-04-30 12:06] oriooctopus opened #13216 "Lifecycles are not called when on relations on page load of parent collection"
## Bug report

Let's say I have collection A with relation of collection B. If I go to the content page for collection A I expect 4 things to happen:
1. The data for collection A will load
2. The lifecycles for Collection A will run
3. The relevant data for collection B will load (since collection A has a relation field for collection B)
4. The lifecycles for collection B will run

Item number 4 d

[2022-04-30 16:07] brezhitskiy42 opened #13217 "Twitter Provider doesn't work"
## Bug report

### Required System information

- Node.js version: 16.14.2
- NPM version: 8.5.0
- Strapi version: 4.1.9
- Database: PostgreSQL 14
- Operating system: Ubuntu 20.04 (LTS) x64

### Bug description

Twitter provider doesn't work. When requesting `/api/auth/twitter/callback?access_token=ACCESS_TOKEN&access_secret=ACCESS_SECRET`, Strapi return `400 Error`.

The error seems to occur here

[2022-04-30 18:56] kwiat1990 commented on #9958
Hi, i have encountered the same problem with Strapi `4.1.7`. I have registered yesterday a new user and today I can't register another one. After I deleted the first one, I get an error response, which states that I should pass email and password as they both are required fields. Oddly enough, I set both fields.

[code]

And the response from server looks like this:
[code]

[2022-05-01 04:12] Krito1997 commented on #13132
Can you explain what a "faulty/unreadable" picture is?

[2022-05-01 05:47] Krito1997 commented on #12319
Has this issue been fixed yet?

[2022-05-01 06:26] Krito1997 commented on #12319
I would love to work on this issue

[2022-05-01 11:37] saintego commented on #11313
any update on custom error messages from policy?

[2022-05-01 12:39] MyKrzysiu commented on #1008
[code]

If you start with server.js, try it.

[2022-05-01 14:53] mattpr commented on #13061
If you click to open the media-library uploader modal, the drag-drop area there works.  it is just the drag-drop area for the media field on the content type that doesn't work.  This media field is type image (not all).

![Screen Shot 2022-05-01 at 16 48 51](https://user-images.githubusercontent.com/1196252/166151338-bf9ee75a-3a96-4b66-ac87-f60e82642c0c.png)

![Screen Shot 2022-05-01 at 16 46 41](

[2022-05-01 18:40] vitor-mariano commented on #13193
I guess you're confusing admin users, who have access to the Strapi admin panel, with regular users, who have access to API resources.

Admin users are intended to access only the admin resources, not the API itself. You can find them through Settings > Administration Panel > Users

<img width="1075" alt="CleanShot 2022-05-01 at 15 18 35@2x" src="https://user-images.githubusercontent.com/2306588/1

[2022-05-01 18:53] vitor-mariano commented on #13176
Looks like it's a problem with Sharp getting SO dependencies.
https://github.com/lovell/sharp/issues/3086

In the past I had the same problem to install Sharp on Alpine Linux too.
When I'm using Windows for development, I always prefer to use WSL2. It might be an option for you too.

[2022-05-01 19:01] vitor-mariano commented on #13215
I left a comment in your topic there with my personal experience running multiple instances of Strapi. I hope it should help you.

https://forum.strapi.io/t/multiple-backend-pods-in-kubernetes/18119/2

[2022-05-01 20:27] ExtravagantBiscuit commented on #13193
I understand the distinction; however, the use case I'm targeting _is_ admin users.  I'm trying to migrate a plugin from v3 to v4 that's targeted towards admin users who are using the admin panel, part of this functionality requires the plugin UI to be able to update the 'content'.

I've found this is possible by building new plugin endpoints and using the entity service but this is pretty frustra

[2022-05-02 04:03] carlos-duran commented on #12741
+1 because I started using random icons for my components :(

[2022-05-02 06:09] mchrapek commented on #7631
I’m still having this issue in **4.1.8**

[2022-05-02 06:52] gu-stav commented on #12741
Hello everyone. We decided to make the icon optional and will allow reusing the same icon.

I'll start working on this as soon as I have some capacity. 💫

[2022-05-02 06:57] kwang1198 commented on #13217
@brezhitskiy42 have you tried to pass your client id/secret in `.auth('ID', 'SECRET')`? Or print out `query.access_secret` to make sure if the value is correct.

[2022-05-02 08:16] soupette commented on #12655
What do you mean by the format if export is wrong? What should be the correct one?

[2022-05-02 10:11] Dinesh-m4 opened #13218 "Unique option not working"
## Bug report

### Required System information

- Node.js version: 14.18.1
- NPM version:6.14.15
- Strapi version:4.1.9
- Database: Postgresql
- Operating system: Ubuntu

### Describe the bug

I've created a single type with one component and that component contains two fields one is name [Text field] and another is order field [Number Field] I've given these two field as unique fields but even if

[2022-05-02 10:32] thbwd commented on #11955
Please note that we provided a minimal, fully reproducible example of this bug in https://github.com/strapi/strapi/issues/12930. This really is a deal-breaker.

[2022-05-02 13:07] marcoautiero commented on #13150
I can't reproduce this bug, I can apply filters in my graphql queries

[2022-05-02 14:05] tilman opened #13220 "Error in processPopulate if different components in a dynamic zone share the same attribute name"
## Bug report

### Required System information

- Node.js version: v14.18.2
- NPM version: yarn 1.22.17
- Strapi version: 4.0.5
- Database: psql
- Operating system: mac

### Describe the bug

If a dynamic zone includes two different components and both of the components have a field with the same name but one is from a primitive type (string, boolean etc.) and the other from a relation type (relat

[2022-05-02 15:07] evle opened #13222 "TypeError: Cannot read properties of undefined (reading 'toggleNotification')"
## Bug report

### Required System information

- Node.js version: 14.16.2
- NPM version: 8.5.0
- Strapi version: 4.1.7
- Database: postgres
- Operating system: Centos / MacOS

### Describe the bug

Document (Swagger) plugin not working

### Steps to reproduce the behavior

1. Install document plugin
2. Click `documents` on Strapi admin
3. Showing a blank page
4. See error in chrome console, **Typ

[2022-05-02 15:16] brezhitskiy42 commented on #13217
@kwang1198 The value of `query.access_secret` is correct.

Shouldn't these values be passed automatically? (`Client ID` and `Client Secret`)

[2022-05-02 15:52] dogunbound commented on #13132
@Krito1997 Computers aren't perfect. Sometimes I get a read or write error moving a bunch of images around on my PC. I sometimes produce "faulty/unreadable" images. If you download the image in the original post https://user-images.githubusercontent.com/64436119/163405278-26d062f5-a695-452d-b88b-01db0d26fa00.png That is a faulty/unreadable picture.

[2022-05-02 15:54] dogunbound commented on #11955
There is a workaround. Watch this video: https://www.youtube.com/watch?v=j-TYly0s0L0

[2022-05-02 17:11] kwang1198 commented on #13217
@brezhitskiy42 did you get the `access_token` and `access_secret` from Twitter oauth callback? These values should be passed as parameters from Twitter Oauth Callback.

[2022-05-02 18:15] brezhitskiy42 commented on #13217
@kwang1198 Yes, I wrote about it above - When requesting `/api/auth/twitter/callback?access_token=ACCESS_TOKEN&access_secret=ACCESS_SECRET`, Strapi return `400 Error`.

[2022-05-02 20:47] derrickmehaffy commented on #13222
Delete your node_modules and any of the following if they exist:
- build
- .cache
- yarn.lock
- package-lock.json

Make sure you are only installing the Strapi v4 packages (excludes community packages), meaning all Strapi official v4 packages start with `@strapi/*`. So in your case `@strapi/plugin-documentation`

Reinstall your node_modules, rebuild the admin panel, and try running again.

Respond

[2022-05-02 20:48] derrickmehaffy commented on #13215
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2022-05-02 20:48] #13215 closed

[2022-05-02 20:48] derrickmehaffy commented on #13213
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-02 20:48] #13213 closed

[2022-05-02 20:49] derrickmehaffy commented on #13204
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-02 20:49] #13204 closed

[2022-05-02 20:50] derrickmehaffy commented on #13196
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-02 20:50] #13196 closed

[2022-05-02 20:52] derrickmehaffy commented on #13193
This is entirely intended, we split the Admin and Content-API's in v4 and we will not allow them to cross mix ourselves anymore.

It was a security issue in v3 that this could happen. Eventually the plugin that will replace U&P will have some method to use the Admin users as a provider but we won't build this into the current U&P.

In v4 you build specific routes for end-users and admins, you shou

[2022-05-02 20:52] #13193 closed

[2022-05-02 20:54] derrickmehaffy commented on #13176
you are missing the build tools when you installed node. Reinstall node and when you get to the step which asks you to check the box to install build tools, check it.

You might be able to access the script that does this in your start menu, find the node folder and the script should be listed there.

[2022-05-02 20:54] #13176 closed

[2022-05-02 20:55] derrickmehaffy commented on #13173
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2022-05-02 20:55] derrickmehaffy commented on #13169
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-02 20:55] #13169 closed

[2022-05-02 22:03] rajeshg opened #13223 "REST API - unable to update image associated with a model"
## Bug report

### Required System information

- Node.js version: v16.14.2
- NPM version: v8.7.0
- Strapi version: v4.1.9
- Database: Postgres v13.6 (on heroku)
- Operating system: linux (heroku basic dyno)

### Describe the bug
I am unable to update an image associated with a model. i.e., PUT request on a model doesn't update the image (other properties on the model get updated without issue)

I

[2022-05-02 22:04] rajeshg commented on #13223
This is previous reported in #13204

[2022-05-02 23:37] sean-rallycry opened #13224 "HTTP/2 is not supported"
## Bug report

### Required System information

- Node.js version:  v14.19.1
- NPM version:  v8.3.1
- Strapi version:  v4.1.8
- Database: Postgres
- Operating system:  Google Cloud Run

### Describe the bug

When deployed with HTTP/2 enabled, the Strapi application does not fall back to HTTP/1.1

### Steps to reproduce the behavior

1. Start the application with `yarn develop` or `yarn start`
2. I

[2022-05-03 04:15] evle commented on #13222
Hi @derrickmehaffy, thanks for help, I got the same error again after build. Before build, I have removed node_modules, .cache, build and *.lock.

My document plugin version:  "@strapi/plugin-documentation": "^4.1.8",

<img width="762" alt="image" src="https://user-images.githubusercontent.com/3981092/166403686-46c695cc-b872-492b-8e74-6535f6b8f788.png">

[2022-05-03 07:16] ScyDev commented on #13173
@derrickmehaffy How is this not a bug? The docs say that Entity Service does not populate relations by default. Yet it clearly does, in my example.

[2022-05-03 07:21] Martijn-Schoenmaker-Webbio commented on #13150
This is definitely still a bug. I'm on 4.1.9 and it still occurs. The only arguments graphQL gives me on a collectiontype is sort. Nothing is.

[2022-05-03 09:47] rweintraub-cycleon commented on #12418
@derrickmehaffy Please re-open this. Telling the community that a unconventional behaviour "is expected" doesn't change the fact that it's non-standard. as @cloakedninjas mentioned there are valid reasons to do it this way

[2022-05-03 12:54] petersg83 commented on #9308
@derrickmehaffy Hello :) I don't understand everything about this issue. Would you have time to explain it a bit more in sync?

[2022-05-03 16:16] IanField90 opened #13228 "Re-publishing a record created by another SuperAdmin hides all their created records"
## Bug report

### Required System information

- Node.js version: 14.8.2
- NPM version: 6.14.15
- Strapi version: 4.1.7
- Database: Postgres
- Operating system: macOS 12.3.1

### Describe the bug

If a second super admin unpublished and publishes a record the other of the first super-admin's created records disappear.

### Steps to reproduce the behavior

With user roles: User A (SuperAdmin), Use

[2022-05-03 16:19] btd1337 opened #13229 "Project dependencies error | Peer-dependencies"
## Bug report

### Required System information

- Node.js version: `v16.14.2`
- NPM version: `8.5.0`
- Strapi version: `4.2.0-beta.1`
- Database: `---`
- Operating system: `Mac OS 12.3.1`

### Describe the bug

It project contains peer-dependencies error

### Steps to reproduce the behavior

1. Run `npm install --strict-peer-deps`
2. See error:

[code]

### Expected behavior

No dependencies error

[2022-05-03 17:01] AndreasFaust opened #13230 "Image-Upload: Dimensions of animated GIF are missing"
## Bug report

### Required System information

- Node.js version: v16.14.2
- Yarn version: 1.22.18
- Strapi version: 4.1.9
- Database: MariaDB
- Operating system: Mac OSX 12.3.1

### Describe the bug

When uploading an animated GIF, its dimensions are missing.
The dimensions therefore cannot be requested via GraphQL.

### Steps to reproduce the behavior

1. Go to Media Library
2. Upload animated

[2022-05-03 21:37] jmwohl commented on #13032
Running into this too. The behavior is unexpected and incorrect — in fact the data gets saved correctly to the postgres jsonb field because it is valid json, but when it gets [pulled out and parsed it errors](https://github.com/strapi/strapi/blob/master/packages/core/database/lib/fields.js#L37). As far as I can tell it's only a problem for simple string values like the original example, numbers wo

[2022-05-04 01:33] garfiaslopez commented on #11957
this is something i did that worked taking into account `filters` and `populate`.

[code]

[2022-05-04 09:06] Convly commented on #13095
Hey, it should be fixed in v4.2.0-beta.2, I'll close it for now but don't hesitate to reopen it if you're still having the issue.
Have a nice day!

[2022-05-04 09:06] #13095 closed

[2022-05-04 09:32] 99michel99 opened #13234 "Strapi can't handle basic authorization header with bearer token"
## Bug report

### Required System information

- Node.js version: v14.18.2
- NPM version: 6.14.15
- Strapi version: 4.1.7
- Database: PostgresQL
- Operating system: Rocky Linux 8

### Describe the bug

When the requesting server uses basic authentication and sends an authorization header with "Basic [TOKEN]" and "Bearer [TOKEN]" the server doesn't separate the 2 and responds with 401. This happen

[2022-05-04 09:49] #12092 closed

[2022-05-04 10:12] Keith-Hon commented on #12004
Experiencing performance issues when i have about 200k entities on a collection. Only the first 10 records shown should populate. But it takes ~8s to load the first page.

[2022-05-04 10:41] rcdk commented on #11998
I would also love to get this fixed :-)

[2022-05-04 11:21] domantasjurkus commented on #11959
Agree that this would be nice, unfortunate that no follow-up issue was opened.

[2022-05-04 12:43] Sylchi commented on #12371
For some reason if I changed the workdir to /opt/app/strapi then the styles magically returned. Could be something to do with root directory

[2022-05-04 14:53] 99michel99 commented on #13230
They are missing for .webm files as well

[2022-05-04 15:02] kgrosvenor commented on #13167
I can reproduce this, ill try some of the above

[2022-05-04 18:34] derrickmehaffy commented on #13167
That could be part of the cause, CloudFlare didn't update it's cache or wasn't aware it needed to bust it's cache.

[2022-05-04 18:41] rodgeraraujo opened #13237 "[4.2 beta] - Error: Unknown dialect undefined on strapi app when start develop"
## Bug report

### Required System information

- Node.js version: `v16.14.0`
- NPM version: `8.5.4`
- Strapi version: `4.2.0-beta.2`
- Database: `postgres`
- Operating system: `Mac OS (M1)`

### Describe the bug

When using the `4.2.0-beta.2` with typescript I get an error.

### Steps to reproduce the behavior

1. `strapi develop`
2. See error

### Expected behavior
Strapi start develop correctly

[2022-05-04 19:17] mehrad-meraji commented on #12897
having the same issue here, the files get uploaded and are visible in the database-- also the entries get created but (the images) don't actually appear on the entry. **Also the Media Library breaks the entire dashboard and just shows a blank screen**

[code]

[2022-05-04 20:41] MichaelEvtushenko opened #13238 "refactor: Remove unneeded passing parameter `asset` to `useUpload`"
As the title says, [useUpload](https://github.com/strapi/strapi/blob/master/packages/core/upload/admin/src/hooks/useUpload.js#L37) doesn't accept any argument, so [passing](https://github.com/strapi/strapi/blob/39047e9f8476c435d12f5bf58d664d925a9adb35/packages/core/upload/admin/src/components/AssetCard/UploadingAssetCard.js#L32
) `asset` totally redundant and confusing to me personallly.

[2022-05-04 20:54] Nikoxx99 commented on #12384
Also try installing dependencies with yarn and it fix the error. Npm is doing some weird things...

[2022-05-04 20:55] rcdk commented on #12555
Dear Strapi could you please please fix this - one thing is that we can work arround the endpoints not showing up, however since the endpoints that then show up are generated wrong its pretty useless especially when using swagger to auto generate a servicelayer for the frontend :-)

I.e : /api/users-permissions/auth/local => /api/auth/local

We just need a way to remove the /users-permissions/ par

[2022-05-04 21:43] derrickmehaffy opened #13239 "Database migrations occur AFTER data is deleted when disabling i18n on a content type"
## Bug report

### Required System information

- Node.js version: v14.18.3
- NPM version: v6.14.15
- Strapi version: v4.1.9
- Database: SQLite
- Operating system: Linux Mint 20.3

### Describe the bug

When disabling i18n on a content-type, if you build a custom database migration file to be ran on boot when deploying to other environments all i18n data is deleted as that action runs before the c

[2022-05-04 21:44] derrickmehaffy commented on #13239
@strapi/expansion / @strapi/content I don't know which team the i18n plugin belongs to so I set it to both of your squads. Whichever one has ownership, please remove it from the other squad's project.

[2022-05-04 21:45] derrickmehaffy commented on #13239
This issue relates to internal TID1479, for questions about this ticket please speak to @strapi/support.

[2022-05-04 21:57] derrickmehaffy commented on #12384
Lol yup, no idea why but yarn > npm

[2022-05-04 22:33] DzmitryG commented on #463
I'm waiting for updates too :)

[2022-05-04 23:27] joshjung opened #13241 "[4.2.0-beta.2] `createCoreController` type definition issues"
## Bug report

### Required System information

- Node.js version: 16.15.0
- NPM version: 8.5.5
- Strapi version: 4.2.0-beta.2
- Database: postgres
- Operating system: Mac OSX

### Describe the bug

Heads up there is an issue with the `createCoreController` type in 4.2.0-beta.2:

The definition is:

`export function createCoreController(uid: string, cfg?: ControllerConfig = {}): () => Controller;`

[2022-05-05 00:02] Saad-ISAA commented on #463
https://github.com/Saad-ISAA/strapi-mobile
It's public now.
We are working on getting it on the stores. meanwhile you can use the apk attached in the releases of this repo

@DzmitryG @hariangr @havardox @cKhoff
CC: @derrickmehaffy

[2022-05-05 00:06] digitalextremist commented on #11836
Many thanks to @LarssonHenrik. That did the trick. Now to limit the fields returned 😅

[2022-05-05 07:20] gu-stav commented on #13238
Thank you for opening the issue. I've realized the same in the last couple of days - the argument will be gone with the release of folders in the media library.

[2022-05-05 07:20] #13238 closed

[2022-05-05 08:37] SANDEEP-226 commented on #10550
I am using the latest version v4.1.8, But I am not able to edit the nested components. Ex:- if I have a collection type in which I have a component as General Setting which has 4 fields the either all 4 of them can be selected or none of them will be selected

![image](https://user-images.githubusercontent.com/64078817/166888787-c5781c6f-ccb3-4050-836f-df8c5b0ba799.png)

like this, I can I have co

[2022-05-05 09:14] mashiat-work opened #13242 "Cannot read properties of undefined (reading 'isSubmitting'"
Trying to clone a project and with strapi and on the /auth/register-admin page, keep getting the error: Cannot read properties of undefined (reading 'isSubmitting')

**Required System information**
Node.js version: 14.15
NPM version: 8
Strapi version: 4.1.7
Database: Postgres
Operating system: MacOS

What we tried:
- Downgrading node to 14.15 from 16
- Downgrading Strapi from 4.1.9 to 4.1.7
- Dele

[2022-05-05 11:04] gu-stav commented on #12897
@mehrad-meraji Thanks for adding this use case. Could you give https://github.com/strapi/strapi/pull/12881 a try and see if it solves your problem?

[2022-05-05 12:58] #13052 closed

[2022-05-05 13:21] marcoautiero commented on #13237
Did you create the TypeScript project from zero?

[2022-05-05 13:28] Hazeman28 opened #13244 "i18n plugin create locale: [29] is not an existing permission action"
## Bug report

### Required System information

- Node.js version: `v16.13.1`
- NPM version: `v8.1.2`
- Strapi version: `v4.1.9`
- Database: `SQLite`
- Operating system: `macOS 12.3.1`

### Describe the bug

When trying to create a locale within the `bootstrap` function using the i18n plugin service, following error is thrown upon starting the server:
[code]
However, despite the error, **locale is

[2022-05-05 13:44] lexa18 commented on #13230
Also missing for .svg.
Before version 4.0.8 everything worked fine.

[2022-05-05 15:51] mehrad-meraji commented on #12897
@gu-stav thank you! i updated in the other issue but repeating here for posterity

I used type instead of mime and everything works like a charm!
I assumed that the column name of mime is the same as the property passed to the upload method

Thank you for all your help

[2022-05-05 18:44] rodgeraraujo commented on #13237
Yes, was create from zero with TS, using  version `4.2.0-beta.0` of Strapi.

[2022-05-05 20:37] derrickmehaffy commented on #12593
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/allow-configuration-of-null-sorting-first-or-last
If you are interested in this feature please feel f

[2022-05-05 20:37] #12593 closed

[2022-05-05 20:41] derrickmehaffy commented on #11827
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/add-option-to-populate-only-an-array-of-ids-for-relations-and-maybe-others
If you are interested in t

[2022-05-05 20:41] #11827 closed

[2022-05-05 20:44] derrickmehaffy commented on #11792
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/support-database-transactions-with-knex
If you are interested in this feature please feel free to go

[2022-05-05 20:44] #11792 closed

[2022-05-05 20:46] derrickmehaffy commented on #10706
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/count-characters-in-textbox-when-writing-a-new-entry
If you are interested in this feature please feel free

[2022-05-05 20:46] #10706 closed

[2022-05-05 20:48] derrickmehaffy commented on #10420
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/add-webp-and-avif-conversion-to-strapi-plugin-upload
If you are interested in this feature please feel free

[2022-05-05 20:48] #10420 closed

[2022-05-05 20:49] derrickmehaffy commented on #9798
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/modifying-filters-in-admin-panel
If you are interested in this feature please feel free to go there and add

[2022-05-05 20:49] #9798 closed

[2022-05-05 20:50] derrickmehaffy commented on #9437
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/plugin-requests/p/cron-in-plugins
If you are interested in this feature please feel free to go there and add more comments a

[2022-05-05 20:50] #9437 closed

[2022-05-05 20:52] derrickmehaffy commented on #7948
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/be-able-to-use-sendgrid-in-sandbox-mode
If you are interested in this feature please feel free to go

[2022-05-05 20:52] #7948 closed

[2022-05-05 20:53] derrickmehaffy commented on #6831
Duplicate: https://feedback.strapi.io/customization/p/manage-polymorphic-relations-in-the-admin

[2022-05-05 20:53] #6831 closed

[2022-05-05 20:55] derrickmehaffy commented on #11409
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/feature-requests/p/current-sso-implementation-too-restrictive
If you are interested in this feature please feel free to go t

[2022-05-05 20:55] #11409 closed

[2022-05-05 20:56] derrickmehaffy commented on #5767
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/retry-webhook-requests-if-error-happens
If you are interested in this feature please feel free to go

[2022-05-05 20:56] #5767 closed

[2022-05-05 20:57] derrickmehaffy commented on #11698
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/move-thumbnail-resize-option-to-settings
If you are interested in this feature please feel free to go there

[2022-05-05 20:57] #11698 closed

[2022-05-05 20:59] derrickmehaffy commented on #12539
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/permission-control-over-dynamic-zones-and-components-limit-adding-new-components
If you are interested in th

[2022-05-05 20:59] #12539 closed

[2022-05-05 20:59] derrickmehaffy commented on #8745
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/permission-control-over-dynamic-zones-and-components-limit-adding-new-components
If you are interested in th

[2022-05-05 20:59] #8745 closed

[2022-05-05 21:04] derrickmehaffy commented on #13153
https://github.com/strapi/strapi/issues/11892

[2022-05-05 21:04] #13153 closed

[2022-05-05 21:06] derrickmehaffy commented on #13234
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-05 21:06] #13234 closed

[2022-05-05 21:07] derrickmehaffy commented on #13224
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-05 21:07] #13224 closed

[2022-05-05 21:08] derrickmehaffy commented on #13220
Please test on the latest version (v4.1.9 as of writing) as you are quite a few versions behind. If the issue still occurs on the latest version, rely back and we will reopen.

[2022-05-05 21:09] derrickmehaffy commented on #13216
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-05 21:09] #13216 closed

[2022-05-05 21:10] derrickmehaffy commented on #13214
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-05 21:10] #13214 closed

[2022-05-05 21:10] derrickmehaffy commented on #13209
Hello!

First thank you for reporting this feature need.

To manage feature requests and the Strapi roadmap, we are using [[Canny](https://feedback.strapi.io/)[](https://feedback.strapi.io/)](https://feedback.strapi.io//).
You will be able to access the Public Roadmap here: [https://feedback.strapi.io](https://feedback.strapi.io/).

In your message, please mention the URL of this thread in case so

[2022-05-05 21:10] #13209 closed

[2022-05-05 21:11] derrickmehaffy commented on #13190
We do not recommend running Strapi in development mode while in production. Development mode is logically designed for local development (hence auto-restarting on file changes, ect). Closing this as we won't fix an issue that results from using Strapi in a way we do not recommend.

[2022-05-05 21:11] #13190 closed

[2022-05-05 21:12] derrickmehaffy commented on #13182
Duplicate: https://github.com/strapi/strapi/issues/1198

[2022-05-05 21:12] #13182 closed

[2022-05-05 21:14] derrickmehaffy commented on #13179
duplicate: https://github.com/strapi/strapi/issues/12083

[2022-05-05 21:14] #13179 closed

[2022-05-05 21:15] derrickmehaffy commented on #9150
Duplicate: https://github.com/strapi/strapi/issues/1198

[2022-05-05 21:15] #9150 closed

[2022-05-05 21:15] derrickmehaffy commented on #10357
Duplicate: https://github.com/strapi/strapi/issues/1198

[2022-05-05 21:15] #10357 closed

[2022-05-05 21:16] derrickmehaffy commented on #11909
Duplicate: https://github.com/strapi/strapi/issues/1198

[2022-05-05 21:16] #11909 closed

[2022-05-05 21:21] derrickmehaffy commented on #1198
Summery of related (closed/duplicate) issues:

- https://github.com/strapi/strapi/issues/8060
- https://github.com/strapi/strapi/issues/8646
- https://github.com/strapi/strapi/issues/8713
- https://github.com/strapi/strapi/issues/9540
- https://github.com/strapi/strapi/issues/7187
- https://github.com/strapi/strapi/issues/7098
- https://github.com/strapi/strapi/issues/9266
- https://github.com/str

[2022-05-05 21:21] reimertz opened #13248 "GraphQL `filters` not working with Components"
## Bug report

### Required System information

- Node.js version: v14.19.1
- NPM version: 0.39.1
- Strapi version: 4.1.9
- Database: sqlite and postgres
- Operating system: macOS 12.3.1 (21E258)

### Describe the bug

I am trying to use GraphQL `filters` functionality  over component values. Sadly, components are not included in the generated GraphQL schema.

### Steps to reproduce the behavior

[2022-05-05 21:56] petersg83 commented on #12004
Thank you @ScyDev! From what you sent I confirm it doesn't look like a quick fix can be made.
@Keith-Hon What do you mean by "Only the first 10 records shown should populate." ? Do you think about and infinite scroll ?

[2022-05-05 22:53] brzonatto opened #13250 "Custom errors do not show on the screen in singleTypes."
## Bug report

### Required System information

- Node.js version: `v16.13.2`
- NPM version: `8.1.2`
- Strapi version: `4.1.8`
- Database: `SQLite`
- Operating system: `Windows 10`

### Describe the bug

Does not show custom errors on screen in `singleType`.

### Steps to reproduce the behavior

1. Create the lifecycles.js file in some `singleType` and enter the following code.
`src\api\single-typ

[2022-05-06 00:18] insivika commented on #12595
Thank you @didiamuri !!!

[2022-05-06 03:46] kwang1198 commented on #13217
After checking previous versions using `purest@3.x.x`, I think consumer key and secret is needed for accessing the Twitter API as pointed out in [here](https://github.com/simov/purest/issues/24).
Thus the code should be:
[code]

[2022-05-06 03:56] Keith-Hon commented on #12004
Hi @petersg83, im not thinking about infinite scroll. I was wondering what caused the slowness in loading only the first 10 records from a collection.

![image](https://user-images.githubusercontent.com/23226987/167064203-e3c9491d-b479-4555-87dd-6ef9724d7ff1.png)

When there are 10 records per page, only these 10 records, and the count of the total number of records in such table should be selecte

[2022-05-06 06:25] Keith-Hon commented on #9546
Hi @derrickmehaffy , Could you please include that database pooling not supported in the strapi documentation and suggest an official way to setup a database cluster with strapi?

[2022-05-06 06:25] sofyan-ahmad commented on #13237
Hey, I'm having a similar problem.
Any work arround?

[2022-05-06 06:55] ScyDev commented on #12004
@petersg83 Is there another issue we can track for progress on that rework, so we can be updated? Btw. this was not a problem in Strapi v3, really strange that v4 performs that much worse.

[2022-05-06 07:15] rktyt commented on #12766
Same issue https://github.com/strapi/strapi/issues/13230

[2022-05-06 07:46] 99michel99 commented on #13234
I wouldn't exactly call this a feature request, it's a basic feature of webserver

[2022-05-06 07:47] petersg83 commented on #12004
oh ok @Keith-Hon. So you are talking about the `list view` and @ScyDev is talking about the `edit view`. Is it correct?
@Keith-Hon Can you share the schema of your collection please? If it has relations, could you estimate the average number of entities for each xToMany entity? So I can try to reproduce with your usecase.

@ScyDev I think you can follow this feature on Canny https://strapi.canny.i

[2022-05-06 07:51] ScyDev commented on #12004
@petersg83 Yes, I'm talking about the `edit view` of an entity that has a relation with thousands of child entries. Thanks, I'll check that issue.

[2022-05-06 07:59] petersg83 commented on #12004
@ScyDev Yes we will more likely add pagination on the relation so the performance will be impacted to :)

[2022-05-06 09:05] MoOx commented on #13190
My setup was for development. My project is not in production and I do not intent to use develop command for production.
Is there a way to ignore some files to restart the server ?

[2022-05-06 12:33] #13160 closed

[2022-05-06 13:33] #13230 closed

[2022-05-06 14:38] oybek1024 opened #13258 "Socket error when connection with flutter application server.handleUpgrade()"
/root/agsat-agromart-admin/node_modules/engine.io/node_modules/ws/lib/websocket-server.js:340
      throw new Error(
      ^

Error: server.handleUpgrade() was called more than once with the same socket, possibly due to a misconfiguration
    at WebSocketServer.completeUpgrade (/root/agsat-agromart-admin/node_modules/engine.io/node_modules/ws/lib/websocket-server.js:340:13)
    at WebSocketServer.

[2022-05-06 14:49] MarionLemaire opened #13259 "On Windows, with Chrome and FireFox browsers, icon for Invite new user is broken"
### Describe the bug

When SuperAdmin user goes through Settings > Users > Invite new user, after filling all the fields and press [Invite], the icon on the left of URL to copy to give access to new user is broken :

### Steps to reproduce the behavior

1. Go to Settings > Users > Invite new user
2. After filling all the fields and press [Invite]
3. Pop-up appears with URL to send to new user for

[2022-05-06 15:43] derrickmehaffy commented on #13259
*sly cough* :pray: just to keep things fair with the community can we also fill out the version information

https://media.giphy.com/media/Pnh0Lou03fv92J4puZ/giphy.gif

[2022-05-06 15:44] derrickmehaffy commented on #13258
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-06 15:44] #13258 closed

[2022-05-06 15:47] gu-stav commented on #13222
@derrickmehaffy I was able to reproduce the issue. It doesn't happen with our development setup, but with a clean Strapi installation as an end-user. I've pinned down the root cause, but I don't understand yet, why it is happening and will need to talk to soupette about it next week.

[2022-05-06 15:53] julesrenaud commented on #11860
That's how I fixed the same issue. This was a total production showstopper and a very obscure solution, so it would be wise to add a note about it in the official Strapi doc. Resources per say aren't at play here, because I went up to 4 CPU / 8GB RAM on both Strapi's and postgres' servers. The issues occurs on Strapi installations that have a lot of tables and relations. When Strapi goes in to upd

[2022-05-06 15:58] derrickmehaffy commented on #12598
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/right-relationship-field-name-should-have-a-search-input-above-the-dropdown
If you are interested in this fe

[2022-05-06 15:58] #12598 closed

[2022-05-06 15:59] derrickmehaffy commented on #11719
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/allow-description-on-component-attribute
If you are interested in this feature please feel free to go there

[2022-05-06 15:59] #11719 closed

[2022-05-06 16:01] derrickmehaffy commented on #12083
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/gracefully-handle-renaming-of-content-types-and-fields-in-the-ctb
If you are interested in this featu

[2022-05-06 16:01] #12083 closed

[2022-05-06 16:04] derrickmehaffy commented on #12175
closing as duplicate of: https://github.com/strapi/strapi/issues/10510

[2022-05-06 16:04] #12175 closed

[2022-05-06 16:10] derrickmehaffy commented on #11237
Duplicate: https://github.com/strapi/strapi/issues/8708

[2022-05-06 16:10] #11237 closed

[2022-05-06 16:12] derrickmehaffy commented on #10581
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/manage-polymorphic-relations-in-the-admin
If you are interested in this feature please feel free to go there

[2022-05-06 16:12] #10581 closed

[2022-05-06 16:13] evle commented on #13222
hi, @gu-stav & @derrickmehaffy ,  I think this issue caused by dependency versions mismatch. After check yarn.lock, I downgrade from **@strapi/helper-plugin: 4.1.9**  to  **@strapi/helper-plugin: 4.1.7** and it works well now.

[2022-05-06 16:18] derrickmehaffy commented on #8280
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/entry-title-dropdown-in-edit-view-doesnt-list-fields-with-relation-type
If you are interested in this featur

[2022-05-06 16:18] #8280 closed

[2022-05-06 16:20] derrickmehaffy commented on #12499
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/customization/p/dynamiczone-extend-friendlyname-with-mainvalue-like-repeatablecomponent
If you are interested in this featur

[2022-05-06 16:21] derrickmehaffy commented on #12527
I believe as of v4.1.18 (might have been slightly earlier) we massively increased the performance of the admin build. I'll set this issue as closed/fixed but if you still notice speed problems feel free to respond back and we will reopen.

[2022-05-06 16:21] #12527 closed

[2022-05-06 16:24] derrickmehaffy commented on #13222
I'll set the issue to the content squad @gu-stav but if this belongs to expansion feel free to move it.

[2022-05-06 16:56] derrickmehaffy commented on #11745
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/graphql-aggregations
If you are interested in this feature please feel free to go there and add more

[2022-05-06 16:58] derrickmehaffy commented on #1330
Already possible now in v4 using the experimental database field modifications: https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#database-validations-and-settings

[2022-05-06 16:58] #1330 closed

[2022-05-06 16:58] derrickmehaffy commented on #2527
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/plugin-requests/p/geo-mapping-plugin
If you are interested in this feature please feel free to go there and add more comment

[2022-05-06 16:58] #2527 closed

[2022-05-06 17:00] derrickmehaffy commented on #12207
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/security/p/use-strapi-as-resource-server-when-integrating-with-oauth2
If you are interested in this feature please feel free

[2022-05-06 17:00] #12207 closed

[2022-05-06 17:01] derrickmehaffy commented on #10806
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/language-fallback-when-language-not-yet-maintained
If you are interested in this feature please feel

[2022-05-06 17:01] #10806 closed

[2022-05-06 17:10] derrickmehaffy commented on #12062
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/add-support-for-mysql2-mysql-v8-auth-system
If you are interested in this feature please feel free to

[2022-05-06 17:10] #12062 closed

[2022-05-06 17:12] derrickmehaffy commented on #2784
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/add-auto-increment-option-to-the-model-attributes
If you are interested in this feature please feel f

[2022-05-06 17:12] #2784 closed

[2022-05-06 17:50] derrickmehaffy commented on #11860
@NicoHof

The problem is that we don't consider the issue to be a bug, so I agree further discussion is required but for that type of discussion it should happen in the community spaces like on the forum: https://forum.strapi.io/t/strapi-postgres-connection-pool-breaks-connection/17926/5

GitHub issues should be for bugs where a PR could/should fix the problem. I don't believe that is the case her

[2022-05-06 17:51] derrickmehaffy commented on #9546
Most likely not as database clustering is extremely subjective and would require a lot of effort on our side to provide documentation on a part of some software that we do not build, maintain, or have any open communication channels with. There are far better resources out there than our docs on how to build a MariaDB Galera cluster

[2022-05-06 17:52] #12702 closed

[2022-05-06 17:55] gu-stav commented on #12499
@derrickmehaffy I think we can leave this one open, since a PR is already being worked on.

[2022-05-06 17:59] derrickmehaffy commented on #9308
Yeah sure poke me next week @petersg83 but basically if you create a relation field inside of component (multiple levels or single) you can't see that relation on the media side.

[2022-05-06 18:08] derrickmehaffy commented on #12418
Can you please open a feature request on https://feedback.strapi.io

As this isn't really a bug report but would be considered a feature request.

[2022-05-06 18:10] derrickmehaffy commented on #13132
Aye yeah I informed the PM about this as well.

[2022-05-06 18:16] derrickmehaffy commented on #1676
Hey all, we are currently moving many feature requests to our new feedback and feature request website to help clean up the GitHub issues and make it easier for us to review bug reports and fix them.

I have moved this feature to the following URL: https://feedback.strapi.io/developer-experience/p/refresh-token
If you are interested in this feature please feel free to go there and add more comment

[2022-05-06 19:00] Audit-a-la-Carte commented on #13106
Closing this ticket and expecting the Google CloudSQL infrastructure to abstract the database engine in a way, that the data doesn't always persist in combination with Strapi. Moving the setup to Digital Ocean, resolved the issue. Still it does lose connection on the container but does reconnect the database after a few minutes. Acceptable for now...

[2022-05-06 19:00] #13106 closed

[2022-05-06 19:13] Audit-a-la-Carte opened #13260 "Video upload via media library cannot be selected for removal"
## Bug report

### Required System information
NODE VERSION: v16.15.0
Strapi V4.1.9
Chrome on Mac 101.0.4951.54 (x86_64)
Managed database on Digital Ocean
App on Digital Ocean

### Describe the bug
As a user, I can upload images (photos) and store them on DigitalOcean Spaces. I can select multiple pictures and delete them. Once I upload a video, this works and the video will be stored on the Space

[2022-05-06 19:52] derrickmehaffy commented on #13106
If you are using docker on DO try setting your DB pooling min to 0 instead of 1

[2022-05-06 19:53] derrickmehaffy commented on #12499
Ah alright sounds good :)

[2022-05-06 20:28] gvocale opened #13261 "Column displaying relationship to user fails to load for users not Super Admin"
## Bug report

### Required System information

- Node.js version: 16
- NPM version:
- Strapi version: 4.1.9
- Database: mariadb
- Operating system: Mac

### Describe the bug

For users with roles `Author` and `Editor`, opening a Collection type `Article` throws a blank page after few seconds, with console log error:
[code]

This error happens only to `Author` and `Editor` role users. A user with

[2022-05-06 20:52] gvocale commented on #13261
To add to it....`Editor` was set to not have rights to query for `User`, which I guess would contribute to causing the error...although a more graceful fallback could be desired 😄

<img width="2002" alt="Screen Shot 2022-05-06 at 4 50 57 PM" src="https://user-images.githubusercontent.com/1319291/167214834-f24246da-3369-45b6-9c1d-ba6dbd8a16ac.png">

[2022-05-06 21:28] jfmontanaro commented on #3654
@StianOvrevage Did you ever have any luck with optimizing the image size? I'm encountering the same difficulty. I tried [node-prune](https://github.com/tj/node-prune), but that only got rid of ~36MB. I suspect dead-code elimination would get rid of a lot more.

[2022-05-07 02:17] Keith-Hon commented on #9546
How about separating the read and write database connections at the application level? When there are more collection types, the initial startup time for strapi becomes very slow even with connection pooling. Separating the read connections to a scalable read replica could solve this issue. (I'm using Postgres in my case)

[2022-05-07 06:45] ziayamin commented on #9137
Hi! Same issue in v4. Is there any way to solve this? thx!

[2022-05-07 09:57] ynechaev opened #13263 "[v4] GraphQL create mutation returns error, however entity is properly created"
## Bug report

### Required System information

- Node.js version: 14.17.0
- NPM version: 8.8.0
- Strapi version: 4.1.5
- Database: SQLite
- Operating system: Mac OS 12.3.1

### Describe the bug

GraphQL mutation returns error and malformed data, however entity is created.

### Steps to reproduce the behavior

1. Install strapi graphql plugin
2. Create new content type with one text field (for ex.

[2022-05-07 10:17] oybek1024 opened #13264 "Socket error when connection with flutter application server.handleUpgrade()"
**Socket error when connection with flutter application server.handleUpgrade()**

**Required System information**
- NODE version: v14.15.0
- NPM version: 6.14.8
- Strapi version: 3.6.8
- Socket version: ^4.4.1
- Database: PostgreSQL
- Operating system: Ubuntu 20.04

**Describe the bug**

according to the requirements given in Pub.dev, we are using a beta version. the following information is for a

[2022-05-07 11:04] hsnbsst commented on #13167
I'm facing the same problem, I tried all of them but it didn't work. With google chrome and edge web browser, white screen occurs, safari also enters smoothly.

[2022-05-07 18:32] pcktm opened #13265 "Admin Panel ignores color scheme settings"
## Bug report

### Required System information

- Node.js version: v16.14.2
- Strapi version: 4.1.9
- Database: PostgreSQL
- Operating system: Linux

### Describe the bug

The Strapi Admin Panel does not care about user theme settings and leaves some elements with default brand color.

### Steps to reproduce the behavior

1. Change the primary color scheme in ./src/admin/app.js, for example:
[code

[2022-05-08 10:56] c3s4 opened #13266 "Admin web interface does not work if I change default port"
## Bug report

### Required System information

- Node.js version: 14.18.1
- NPM version: 6.14.15
- Strapi version: 4.1.9
- Database: Postgres
- Operating system: MacOS but also on Docker from node-alpine

### Describe the bug

If I change the default port, the admin web interface stops to work because calls for `/admin/project-type` on `http://localhost:1337` instead of my chosen port. This happe

[2022-05-08 20:33] Estheryu991 opened #13268 "Strapi und digital Ocean"
Darf ich fragen was ist die Unterschied zwischen Digital Ocean und Strappi?

bei unserer Firma benutzt das

[2022-05-08 20:52] MrChrisRodriguez commented on #12505
FYI the lack of explicitly defined dependencies is [causing issues for new users](https://github.com/strapi/strapi/issues/13158#issuecomment-1111825777) (now that React 18 launched). Explicitly defining dependencies would also protect against issues like that in the future.

[2022-05-08 21:04] MrChrisRodriguez commented on #12452
@iicdii, if you want  the extracted node_modules, you can use the nodeLinker as @jpizzle34 described and it'll work fine.

If you want PnP mode you're in luck; as of Strapi 4 that also works!

Strapi doesn't explicitly list all of its dependencies, though, so you need to run Yarn PnP in [loose mode](https://yarnpkg.com/features/pnp#pnp-loose-mode).

You'll see error messages like this one, but the

[2022-05-08 22:55] nachaos commented on #12098
I have the same issue.
As @abdonrd mentioned on the provided example this happens when trying to filter using graphql and not the REST API.
@derrickmehaffy can you please test this again using a graphql query instead?

Thanks!

[2022-05-08 23:16] dogunbound opened #13269 "Strapi hard crashes when labeling field name ID or id_ or some variation of id"
## Bug report

### Required System information

- Node.js version: 16.14.0
- NPM version: 8.3.1
- Strapi version: 4.1.8
- Database: pg
- Operating system: linux

### Describe the bug

[code]

Labeling field names as ID, or id_ (possibly others) hard crashes strapi.
### Steps to reproduce the behavior

1. Create single type / collection
2. add field with field name ID, id_, possibly other variation

[2022-05-08 23:47] ayalor commented on #12137
worked for me, ty a lot

[2022-05-09 02:23] thiagobutignon commented on #13268
Strapi é um gerenciador de conteúdo e o Digital ocean é onde hospedamos aplicações backend, front end e banco de dados.

[2022-05-09 07:39] #13250 closed

[2022-05-09 08:07] Convly commented on #11892
Hey, sorry for the time it's taking and for the time it took me to answer you, I've been dealing with Typescript support for the last month and it left very little time for anything else. It's definitely something I've on my radar but I cannot promise any ETA right now. Really sorry for this situation. I'll keep you updated when I'll work on it.

[2022-05-09 09:32] egornmore commented on #11957
The solution works but the role is populated only after page reload.

[2022-05-09 10:40] n-sikka commented on #11943
@soupette I also have a similar question and the documentation doesn't provide much help relating to this.
I understand that the validators execute when publishing the page, but what if we want to execute them even in drafts?

My use case is of a staging environment. We have Strapi as headless cms and Gatsby pulling the data using GraphQL and rendering the page. So all the unpublished pages need t

[2022-05-09 11:11] IanField90 commented on #13228
This was to do with migration from v3 -> v4 of Strapi, where the migrated data does not have `vuid` set, as per the `content-versioning` plugin. So https://github.com/notum-cz/strapi-plugin-content-versioning/blob/b53d86076b266dacff9f33009cd86a29680fa0d7/server/services/core-api.js#L57 causes them all to disappear.

[2022-05-09 11:11] #13228 closed

[2022-05-09 13:12] kosnkow opened #13273 "strapi reset password alwasy call localhost"
I configured template to use URL to send reset password email.

I alwasy got this email with link to localhost so on the server it does not work.

I checked the implementation and seems there this is no way to override it:

[code]

[2022-05-09 13:18] n-sikka commented on #9707
Following up on @dmurphy779 's perspective. I have the exact same use case. Any idea if this is something that can be achieved in any possible way in v3?

[2022-05-09 14:07] shetshrikant commented on #9463
I've noticed this issue in V4.1.2 as well.

[2022-05-09 14:41] shifajaman commented on #13266
Hi @c3s4 ,

I was able to reproduce this bug.
![image](https://user-images.githubusercontent.com/85345302/167434747-478d28b1-c048-4cfa-b866-3df71937c7ec.png)

@c3s4 , can I start to fix it?

[2022-05-09 15:01] c3s4 commented on #13266
Hi @shifajaman, I would appreciate it so much :)

[2022-05-09 15:03] bolg55 commented on #13269
Duplicate of #1198

[2022-05-09 15:03] #13269 closed

[2022-05-09 16:48] z27lgueg opened #13274 "[4.2.0-beta.2] Lifecycles hooks seems to not be executed"
## Bug report

### Required System information

- Node.js version: v14.17.0
- NPM version: 8.8.0
- Strapi version: 4.2.0-beta.2
- Database: SQLite
- Operating system: MacOS BigSur

### Describe the bug

Hello,

On a fresh install of the 4.2.0-beta.2 in typescript mode. I create a new content-type.
Next to The schema.json of the content-type I created the file lifecycles.ts with the content:
[code]

[2022-05-09 19:05] #11762 closed

[2022-05-09 19:17] ReyRod commented on #11892
This is happening on my end too, had to manually sort in the frontend

[2022-05-09 19:51] derrickmehaffy commented on #13239
Temporary workaround: https://github.com/derrickmehaffy/strapi-test-v4-draft-and-publish-fix

[2022-05-09 21:30] davidkobielski opened #13278 "Internal Server Error when trying to login"
## Bug report

### Required System information

Strapi Version: 4.1.8
Operating System: Windows 10 and macOS Monterey
Database: sqlite
Node Version: 16.14.2
NPM Version: 8.5.0

### Describe the bug

When trying to login using api it throws me an error.
It seems like Strapi is not compatible with redis rn.

### Steps to reproduce the behavior

1. send POST request with data as identifier and passwo

[2022-05-09 22:31] MoOx opened #13279 "GraphQL mutation register() is unclear when failing"
## Bug report

### Required System information

- Node.js version: v16.13.2
- NPM version: 8.7.0
- Strapi version:
[code]
- Database:  PostgreSQL 14.2 (inside Docker container Debian 14.2-1.pgdg110+1)
- Operating system: macOS 12.3.1 (21E258)

### Describe the bug

When trying to create a user using a graphql mutation, some errors are not specified (too generic)

"An error occurred during account

[2022-05-09 22:46] kasonde commented on #13122
Setting this as a duplicate of #11955 as the issues are related, (we can track progress from one source).

[2022-05-09 22:46] #13122 closed

[2022-05-10 03:08] heyalbertdev opened #13280 "Slow load time and crashes in production"
## Bug report
I have a blog application hosted on heroku. For some reason, when I trying accessing any of the content type, it loads for long period of time and if I reresh the dashboard. I get error from heroku `Application Error` and then when I check the logs, I had this message

### Required System information

- Node.js version:
- NPM version:
- Strapi version:
- Database:
- Operating system:

[2022-05-10 04:43] yhrchan commented on #12136
@mercale I am encountering the exact same issue, were you able to resolve it and if so, what was the solution? thanks

[2022-05-10 05:41] Convly commented on #12894
Starting from v4.2.0-beta.2, you should be able to only use `strapi start` instead of `strapi start dist`. I'll close this issue as it has been answered.

Please note that we're also working on providing better errors when Strapi has been started without the correct directories.

[2022-05-10 05:41] #12894 closed

[2022-05-10 07:18] #13278 closed

[2022-05-10 07:27] kentnek commented on #12884
Hi @derrickmehaffy, may I know which plugin you used to add federation and how to integrate it with strapi? Thanks!

[2022-05-10 08:05] heyalbertdev commented on #13280
I upgraded to 4.1.7 and its still the same

[2022-05-10 08:57] umcai opened #13282 "sizeLimit in @strapi/provider-upload-local is in kilobytes, not bytes."
## Bug report

### Required System information

- Node.js version: 14.16.0
- NPM version: 6.14.11
- Strapi version: v4.1.9
- Database: postgres
- Operating system: WSL(Docker build from strapi/base)

### Describe the bug
`sizeLimit` in @strapi/provider-upload-local is in **kilobytes**, not bytes.

### Steps to reproduce the behavior
Set sizeLimit to 1000, and upload a file of size 900KB.

### Expe

[2022-05-10 09:01] Martijn-Schoenmaker-Webbio commented on #13150
Reinstalling graphql in strapi fixed the issue for me! Like mentioned here https://github.com/strapi/strapi/issues/13157#issuecomment-1109046546

[2022-05-10 09:04] umcai commented on #13282
My mistake.😅

[2022-05-10 10:12] AdrianoLupossa commented on #12185
I just spent the same amount of time, trying to understand this, that's a huge change from other versions and at least you guys should include this in release notes.

[2022-05-10 13:52] mengqing commented on #12884
@kentnek I use graphql-transform-federation to transform the strapi schema into a federated spec

[2022-05-10 13:55] kentnek commented on #12884
Hi, I also found that transform plugin but I'm not sure how to add that to my existing Strapi instance. Do you add it as a Strapi extension? Any code example would be greatly appreciated!

[2022-05-10 14:03] mengqing commented on #12884
I basically followed this [blog](https://www.apollographql.com/blog/backend/using-apollo-federation-with-local-schemas/) to achieve what I needed

[2022-05-10 14:42] c3s4 commented on #13280
Hi, we hase a similar issue. We found out that is something related to double relations, at least in our use case.
Think about the typical "category" <--> "product" double relationship, in case we open a category with a bunch of product (~100) the admin page takes very long time to load and with a low end machine crashes with the same error.

We think that strapi is performing an huge number of qu

[2022-05-10 15:14] bolg55 commented on #13218
Duplicate of #12541

[2022-05-10 15:20] oyedeletemitope commented on #11729
mine didn't work. Any ideas why?

[2022-05-10 16:56] nicoworq commented on #11860
Was having the same issue, but on MySQL. After dealing with it for about 1 hour, just a simple MySQL server restart do the job 🤣🤣

[2022-05-10 19:25] DCaiena opened #13284 "Lifecycle update a article"
## Bug report

### Required System information

- Node.js version:
- 16
- NPM version:
- 1.22.18
- Strapi version:
- 4.1.9
- Database:
- mysql
- Operating system:
- BigSur

### Describe the bug

I’m trying to give a update in the database but i am getting

FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
this is a lifecycle file:

module.expo

[2022-05-10 19:33] chiragkanjariya commented on #10469
anyone has worked on [Wasabi](https://wasabi.com/) Provider?

[2022-05-10 23:50] albertdugba commented on #13280
What version of strapi are you currently running on ?  I had the same issue too and my fix around was to upgrade to the latest version [https://strapi.io/changelog](https://strapi.io/changelog) which fixed the issue for me. You can also look at their migration guide on how you can do that. [https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides.html](https://docs.str

[2022-05-11 02:38] mashiat-work commented on #13242
hey @sauldeleon , yes so we also fixed it by downgrading to React 17. Ours was a monorepo so in the root package.json, added an object:
"resolutions": {
    "react": "17"
  },

The reason is that they didn't lock the react version in this new version of Strapi.
For reference, Yarn2 yarn set resolution : https://yarnpkg.com/cli/set/resolution

[2022-05-11 03:44] fingeg opened #13285 "Changing the port creates an error that makes the admin page unusable (v4.2.0-beta.2)"
## Bug report

### Required System information

- Node.js version: v16.13.0
- NPM version: 8.1.0
- Strapi version: 4.2.0-beta.2
- Database: postgres
- Operating system: Ubuntu-20.04

### Describe the bug
Changing the default port from 1337 to anything else creates an error when accessing the admin console. It seems like somewhere the port 1337 is hard coded and is not listening to the .env or the

[2022-05-11 04:01] derrickmehaffy commented on #9546
That's the main issue I see is you really only need to do this for PostgreSQL as for example MySQL and MariaDB have options that don't require the application to do any of that.

EG: ProxySQL or MariaDB Maxscale which allow for read/write splitting, monitoring, logging, and even caching which far exceed anything we can (or will do) at the application level.

[2022-05-11 04:42] Kahtaf commented on #13126
Adding this in my `config/admin.js` doesn't seem to be working for me in production (GCP). Works locally.

[code]

After deploying to GCP, everything works for about a minute or two, and then I see this in the logs and then content manager stops loading, and my newly added collection type tables get deleted.

[code]

[2022-05-11 04:57] WardenCommander commented on #13284
Thats because you are using it wrong, you just created loop. This updates entry in collection type and it triggers lifecycle hooks: `strapi.query(‘api::article.article’).update({id: 4},{title:“cccccc”});`

`beforeUpdate(event) {
console.log(event)
event.params.title='ccccc':
} `

Something like this, check console.log output

[2022-05-11 08:18] #6088 closed

[2022-05-11 08:18] #12297 closed

[2022-05-11 08:39] #11957 closed

[2022-05-11 10:37] #12761 closed

[2022-05-11 10:37] #12897 closed

[2022-05-11 10:37] #13174 closed

[2022-05-11 11:53] genocideaon commented on #10488
I saw you still use `const { sanitizeEntity } = require('strapi-utils');`
Still response `Cannot find module 'strapi-utils'`

[2022-05-11 12:58] DCaiena commented on #13284
it works great! thanks

[2022-05-11 12:58] #13284 closed

[2022-05-11 13:03] vinzenzweber commented on #8157
I am on 3.6.9 and using strapi-plugin-graphql. With GraphQL and Apollo Server, the issue actually is that the config is never passed down to the koa-bodyparser, which will fall back to '1mb'. [See this related issue](https://github.com/strapi/documentation/issues/498).

[2022-05-11 13:26] komape opened #13286 "Images are not shown in Media Library after upload via REST API"
## Bug report

### Required System information

- Node.js version: v16.13.0
- NPM version: 8.8.0
- Strapi version: v4.1.9
- Database: SQLite
- Operating system: macOS v12.3.1

### Describe the bug

After uploading images via the REST API they are listed in the Media Library but you cannot see the image itself, only a placeholder. I can download the image and open the image in a new tab without pro

[2022-05-11 13:37] Nikoxx99 commented on #13286
Does they shown when uploading directly from the strapi UI ?

[2022-05-11 13:40] petersg83 commented on #13286
Hello :) Which upload provider do you use ? (local, cloudinary etc.)

[2022-05-11 13:43] keshav1123 commented on #13286
I am also facing the same issue.
I am using this package @strapi/provider-upload-aws-s3. When I am using default Strapi uploader it's working, but when using a provider it does not show the image thumbnail inside the Media Library

[2022-05-11 14:39] fingeg opened #13287 "[4.2.0-beta.2] Type definition for WhereParams in query(...).findMany and other query functions is missing attributes"
## Bug report
The `WhereParams` type in [`@strapi/database`](https://github.com/strapi/strapi/blob/master/packages/core/database/lib/index.d.ts) is not complete. It only has support for `$and`, `$or` and `$not`, so most of the functions described in the [docs](https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/query-engine/filtering.html#lt) are missing.

###

[2022-05-11 14:42] keshav1123 commented on #13286
Thanks, It's working as intended now.

[2022-05-11 14:52] komape commented on #13286
If I upload them via the admin panel they are shown.

The whole Strapi app is local.

[2022-05-11 15:01] komape opened #13288 "Strapi REST API responses are very slow if `populate=*` is used"
## Bug report

### Required System information

- Node.js version: v16.13.0
- NPM version: 8.8.0
- Strapi version: v4.1.9
- Database: SQLite
- Operating system: macOS v12.3.1

### Describe the bug

Requesting the first page with a page size of 10 and an overall count of around 3500 elements takes nearly 20 seconds if I add `populate=*` to the query params. Without it takes 20 to 30ms (Strapi runs

[2022-05-11 15:19] komape commented on #13286
<img width="1248" alt="image" src="https://user-images.githubusercontent.com/25869589/167886249-30ae0bdf-a2ad-4b99-9a28-19a1321727f4.png">

[2022-05-11 15:45] derrickmehaffy commented on #13288
I wouldn't called 20 seconds "normal" but there should be an exponential increase yes, though it would largely depend on how many items are populated because of it. Caching could help here I think via something like the [REST Cache](https://market.strapi.io/plugins/strapi-plugin-rest-cache)

[2022-05-11 15:56] gautamkrishnar commented on #10488
@genocideaon thanks a lot for the suggestion. Will fix it and try to update it according to the latest docs.

[2022-05-11 16:25] violabg commented on #11957
it stil doesn't work on graphQl after updating to version 4.1.10

[code]

[code]

[2022-05-11 17:33] derrickmehaffy commented on #13268
Hello!

To be inclusive of everyone in the community and to provide the best possible answer that everyone can refer to, we require that everyone uses English on all of our respective platforms.

Thank you and have a wonderful day!

---

Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission

[2022-05-11 17:33] #13268 closed

[2022-05-11 17:34] derrickmehaffy commented on #13280
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-11 17:34] #13280 closed

[2022-05-11 17:36] derrickmehaffy commented on #13282
Can you try editing your the local upload provider here: https://github.com/strapi/strapi/blob/cf33ce0b63ab7e07e75c46b3f4382cf3a9c0956c/packages/providers/upload-local/lib/index.js#L18-L22 and put a console.log to log out the `file.size` and the `sizeLimit`?

[2022-05-11 18:45] avirankatz commented on #7631
Any news on this issue? @derrickmehaffy could you please point us to the relevant query?

[2022-05-11 18:46] derrickmehaffy commented on #7631
I haven't explored the issue in depth to be honest. I know the issue will likely be in the database package or in the core entityService but I haven't dug to locate the exact location.

[2022-05-11 20:15] jack3898 opened #13293 "Strapi white screen with GraphQL plugin (TypeError: Cannot destructure property 'startSection' of '(0 , build.useGuidedTour)(...)' as it is undefined.)"
## Bug report

### Required System information

- Node.js version: 16.13.2
- NPM version: 8.4.1
- Strapi version: 4.1.10
- Database: sqlite
- Operating system: Windows 11 Professional

### Describe the bug

Installing the GraphQL plugin (4.1.10) causes multiple areas of the dashboard to display a white screen with the following error in the browser console:

![image](https://user-images.githubuser

[2022-05-11 20:41] derrickmehaffy commented on #13293
Could not reproduce on v4.1.10, most likely environmental based, likely due to cache.

Will reopen if more reproduction information is provided.

[2022-05-11 20:41] #13293 closed

[2022-05-11 20:41] Nikoxx99 commented on #13293
Try deleting package-lock.json and node_modules then using yarn instead of npm

`npm install --global yarn`
then
`yarn`

now you can do `npm run develop`

Npm is doing some strange things lately

[2022-05-11 20:42] derrickmehaffy commented on #13293
Understatement of the year :100:

[2022-05-12 00:26] loicy opened #13294 "API Filters $eq = problem with the results"
### Required System information

- Node.js version: 16.15.0
- NPM version: 8.10.0
- Strapi version: 4.1.9 (tested on 4.1.10)
- Database: 10.5.8-MariaDB
- Operating system: Windows (dev) & Linux (prod)

### Describe the bug

I've done the research with some of the guys on Discord and we haven't found a solution.

When searching via populate and a filter, the answers that don't match are displayed w

[2022-05-12 03:15] umcai commented on #13282
@derrickmehaffy this is the output:
![image](https://user-images.githubusercontent.com/11835233/167983231-d96673b5-2f09-41ff-aeeb-ea38a07f37b4.png)

I uploaded a file less than 1KB:
![image](https://user-images.githubusercontent.com/11835233/167983415-ce49aced-da20-4796-92e6-59f8ef788d10.png)

And a file larger than 1MB (Of course, the upload failed this time, but setting the sizeLimit to 6000 can

[2022-05-12 06:06] Keith-Hon commented on #9546
Thanks for the reply. I ended up using pgpool to solve the issue.
https://pgpool.net/mediawiki/index.php/Main_Page

[2022-05-12 09:12] sven-ra opened #13295 "provider-upload-aws-s3: image upload fills caption and alt text with file name"
### Required System information

- Node.js version: 16.14.0
- Yarn version: 1.22.17
- Strapi version: 4.1.9
- Database: MySQL
- Operating system: MacOS 12.1

### Describe the bug

I use `@strapi/provider-upload-aws-s3` to upload files to AWS S3. Whenever I upload an image the alternative text and caption fields get filled with file name value.

### Steps to reproduce the behavior

1. Set up `@stra

[2022-05-12 09:32] kentnek commented on #12884
@mengqing Thank you for the link. I tried to use it in my project but got this error while running:
[code]

It looks like the transform plugin needs GraphQL 15 and below:
[code]

My project is using GraphQL 16.5.0. May I ask if you encounter the same issue?

[2022-05-12 09:36] dimonenkov opened #13296 "The `populate=*` query param not working for `/me` endpoint"
## Bug report

### Required System information
- Node.js version: v16.15.0
- NPM version: 8.5.5
- Strapi version: 4.1.10
- Database: SQLite
- Operating system: Linux

### Describe the bug

The `populate=*` query param for deep nested component fields is not working for `/me` endpoint.
For example, `users/?populate=*` or `users/1?populate=*`  are returning deep nested component relations but `users

[2022-05-12 09:40] 43ClicksNorthDevs commented on #7631
Be nice if this one was looked at - any data filtered by more than one filter returns an incorrect count.
This means pagination is impossible without a jank workaround. Impacting live projects for us now.

[2022-05-12 10:30] klikkn opened #13297 "Email confirmation is failed"
## Bug report

Email confirmation is failed

### Required System information

- Node.js version: 14.17.6
- NPM version: 8.3.0
- Strapi version: 14.1.10
- Database: sqllite
- Operating system: macos

### Describe the bug

Email confirmation is failed

### Steps to reproduce the behavior

1. GET `/api/auth/email-confirmation?${confirmationLink}`

### Expected behavior

302 status

### Code snippets

[2022-05-12 10:51] laohanme commented on #5869
Hi is there any solution for this in Strapi v4

[2022-05-12 11:08] Fluxium2006 opened #13299 "Blank pages in admin panel after upgrade to 4.1.10"
## Bug report

### Required System information

- Node.js version: 16.14.2
- NPM version: 8.5.0
- Strapi version: 4.1.10
- Database: SQLite
- Operating system: Win 10 Pro 64 Bit

### Describe the bug

After upgrading Strapi from version 4.1.8 to 4.1.10, some pages of the admin panel show a blank page. Upon page refresh, the left sidebars flash and you see a loading spinner and then the page is bla

[2022-05-12 11:35] Fluxium2006 commented on #13299
I also tried upgrading from 4.1.8 to 4.1.10 without a migration guide (as I noticed that I didn't need it). I just edited my `package.json`, ran `npm install`, `npm run build` and `npm run develop`, but the error still occurs.

[2022-05-12 12:14] komape commented on #13288
REST Cache isn't really improving the response time :/

[2022-05-12 12:31] Fluxium2006 commented on #13299
I found a solution for this:

1. Have Strapi 4.1.10 installed
2. Delete `.cache` and `build` folders
3. Delete `package-lock.json`
4. Run `yarn install` (install yarn first if you haven't)
5. Run `yarn build` - `npm run build` seems to not do a correct job for some reason
6. Run `yarn develop`

Now, the media library, content types builder and users-permissions settings load again.

[2022-05-12 12:31] #13299 closed

[2022-05-12 12:36] zainullinramil opened #13300 "Invite link not working"
## Bug report

### Required System information

- Node.js version: v16.15.0
- Yarn version: v1.22.18
- Strapi version: v4.1.10
- Database: PostgreSQL
- Operating system: aws t3a.medium

### Describe the bug

When adding a new user, the registrationToken is not substituted into the registration link

### Steps to reproduce the behavior

1. Go to '/admin/settings/users'
2. Click on 'Invite new user'

[2022-05-12 13:15] Nikoxx99 commented on #13296
Also noted this. I review the commit tests and see nothing for this endpoint. Maybe it's not planned to support population for it?

[2022-05-12 14:26] jseashell commented on #9513
@abdonrd you could create a custom Component with an Enumeration field for timezone, like this
![image](https://user-images.githubusercontent.com/35895180/168098262-a2241c8a-b0f4-4985-af38-e356229da3e5.png)

[2022-05-12 15:21] Juggern4ut opened #13301 "Images uploaded via Cloudinary no longer visible"
## Bug report

### Required System information

- Node.js version: v16.15.0
- Strapi version: v4.1.10
- Database: PostgreSQL on Heroku
- Operating system: Heroku Linux dyno

### Describe the bug

When uploading assets using the Cloudinary provider, the upload works as intended and the images can be used correctly but I don't seem to be able to see the images in the admin-panel. Instead it just sho

[2022-05-12 17:04] derrickmehaffy commented on #13300
can't reproduce on v4.1.10, need more information. Will mark as closed until additional information can be provided.

[2022-05-12 17:10] derrickmehaffy commented on #13286
Looks like there are some errors in the console, can you share those as well? (I assume most are related to the tracking block)

[2022-05-12 17:14] derrickmehaffy commented on #13273
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-12 17:14] #13273 closed

[2022-05-12 17:27] derrickmehaffy commented on #13264
Hello,

Thank you for reporting this potential bug report, please keep in mind that we are no longer accepting bug reports unless they could be deemed high or critical severity or related to security in nature.

The recommended action we suggest for v3 users is to utilize the various migration resources to upgrade your package from Strapi v3 to Strapi v4:

- [Code Migration Guide](https://docs.str

[2022-05-12 17:27] #13264 closed

[2022-05-12 17:29] derrickmehaffy commented on #13263
Can you please try to upgrade your project to the latest version v4.1.10 and validate the issue exists here also?

For now I'll mark as closed but please do reply once you have tested on the latest version and if the issue still exists we can reopen.

Thank you!

[2022-05-12 17:31] derrickmehaffy commented on #13244
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2022-05-12 17:31] #13244 closed

[2022-05-12 17:33] derrickmehaffy commented on #13223
Thank you for properly filling out the bug report but this isn't really a bug but more of a usage question

---

Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io). Please see the following contributing guidelines for asking a question

[2022-05-12 17:33] #13223 closed

[2022-05-12 17:36] derrickmehaffy commented on #13194
Moving this to the design system repo as it's not really an issue for the main code-base I don't believe.

[2022-05-12 17:37] derrickmehaffy commented on #13162
Sure no problem, marking as closed!

[2022-05-12 17:37] #13162 closed

[2022-05-12 17:39] derrickmehaffy commented on #13294
You need to also filter on the parent if that's what you are trying to filter, not just/or filtering within the populate.

Going to mark this as closed though as it's not a bug report but a question.

---

Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https:

[2022-05-12 17:39] #13294 closed

[2022-05-12 17:49] derrickmehaffy commented on #7631
We know the problem is troublesome, if anyone is willing and has the free time to dive into the issue to submit a pull request please feel free, else we will get it to in due course once we have some engineers free.

[2022-05-12 17:54] derrickmehaffy commented on #13288
There are some key information missing here:

- We don't know how complex your model structure is
- We don't know how many different types of relations/components/ect you are populating

Likewise

This limits the database input/output to the speed of your storage (assuming nothing else is pulling/pushing from your storage at the same time) as SQLite has absolutely no speed benefits from indexes, d

[2022-05-12 17:55] MrChrisRodriguez commented on #13242
@derrickmehaffy shouldn't Strapi version lock its dependency to React 17?

[2022-05-12 17:56] 0speedy commented on #1217
So, 4 years later, is there any existing solution, please? The request is closed so it looks like the original plans to integrate this feature were dropped :(

[2022-05-12 17:59] derrickmehaffy commented on #13242
Generally I would agree but I assume our frontend engineers didn't for a reason, couldn't hurt to submit a PR and I'm sure they can add some feedback.

[2022-05-12 18:00] derrickmehaffy commented on #1217
See this feedback thread (it's still open but not decided if we will do it or not): https://feedback.strapi.io/customization/p/ordering-content-type-entries-in-the-list-view

[2022-05-12 19:28] kasonde commented on #9463
Bumping this up to high as there is currently no work-around for this (for relations to single content-types). Applyting the publication state to relations to many content-types applies the publication state filter to the result set

[2022-05-12 19:43] derrickmehaffy commented on #13300
Ah I see it now, reopening

[2022-05-12 20:32] M1CK431 commented on #12016
:information_source: The workaround kindly provided by @iicdii is not working anymore in v4.1.10. See [here](https://github.com/strapi/strapi/pull/11960#issuecomment-1124385835) for details.

Ironically, it seems to happens after the merge of #11960, written by @iicdii himself... :smirk:

[2022-05-12 21:18] derrickmehaffy commented on #13301
Tested on Heroku using cloudinary and Strapi v4.1.10 and cannot reproduce. We need some more debug information.

My guess is that `NODE_ENV` isn't set at all in Heroku (eg set it to production)

Will mark as closed for now until we have more information, reply back once you have some info and we can reopen it. Thanks!

[2022-05-12 21:18] #13301 closed

[2022-05-12 21:45] derrickmehaffy commented on #13297
Am able to reproduce this issue on v4.1.10 using sendgrid

[2022-05-12 21:58] derrickmehaffy commented on #13296
confirmed on v4.1.10

[2022-05-12 22:23] elanizi43998 commented on #12522
Yes, I have the same issue, and I can't figure out the solution.

[2022-05-13 00:51] JosueTavaress opened #13304 "motification table database"
- Node.js version: 16.0
- NPM version: 7.10.0
- Strapi version: v4
- Database: postgreSQL
- Operating system: ubuntu

bug: when I delete the schema the data is deleted in the database

how can I change the table name in the database without losing the content?

[2022-05-13 07:26] Juggern4ut commented on #13301
Hello, thank you for your quick response :)

The `NODE_ENV` seems to be set correclty since it shows when visiting the base-url of strapi. Just to be sure, I also set it manually in Heroku but it did not change the behaviour.

<img width="368" alt="Screenshot 2022-05-13 092411" src="https://user-images.githubusercontent.com/12249085/168232865-207f9731-ad52-423e-a08f-209a3e1376e3.png">

What more I

[2022-05-13 07:36] #13297 closed

[2022-05-13 07:36] markkaylor commented on #12522
Hello thank you for reporting this. We are aware of the issue. I will be working on this soon.

[2022-05-13 10:19] Convly commented on #13300
Hey, thanks a lot for reporting this issue. I've submitted a fix and it should be reviewed, merged & released in the next version (4.1.11).

[2022-05-13 10:21] zainullinramil commented on #13300
thank! this is great news!

[2022-05-13 11:30] nachaos commented on #12098
@derrickmehaffy can this issue be re-opened?

thanks in advance 🙂

[2022-05-13 11:48] twobyte commented on #12197
Dear @soupette, how do we rename the controller as you suggest?
I am also seeing this same issue error when trying to build Gatsby:

`[2022-05-13 12:37:13.158] http: GET /api/content-type-builder/content-types (3 ms) 403
[2022-05-13 12:37:13.161] http: GET /api/content-type-builder/components (2 ms) 403`

Confusingly, `gatsby develop` works fine, but `gatsby build` does not. They are both using th

[2022-05-13 11:52] gu-stav commented on #13149
Fixed by https://github.com/strapi/strapi/pull/13291

[2022-05-13 11:52] #13149 closed

[2022-05-13 13:39] markkaylor commented on #12879
Hi @timyboy12345  sorry I am not able to reproduce the issue described on [huntr](https://huntr.dev/bounties/001d1c29-805a-4035-93bb-71a0e81da3e5/) for Strapi version 3.x.

The security issue was introduced in v4.0.0 when we changed how we create projects with starters and templates via the CLI and fixed in v4.1.1. I believe it only exists between these versions.

Please let me know if I’ve missed

[2022-05-13 13:46] martinomg commented on #13296
Here are some related threads
https://forum.strapi.io/t/populate-users-permissions-to-get-user-avatar/13701
https://forum.strapi.io/t/how-to-populate-users-strapi-v4/15353

How is severity determined? because this forces either to hard code the **/users/me/** endpoint (is not hard but it adds a different treatment for one specific file and endpoint to the code base) or to expose **/users/1** endpo

[2022-05-13 13:46] Zharkan commented on #13285
Have you tried to rebuild the admin ?

[2022-05-13 13:47] Zharkan commented on #13266
Have you tried to rebuild the admin ?

[2022-05-13 14:27] WardenCommander opened #13311 "API Token not working with, custom plugin"
## Bug report

### Required System information

- Node.js version:14
- NPM version:6.8
- Strapi version:4.1.10
- Database:postgres
- Operating system:railway

### Describe the bug
Hello, so im not sure if its a bug or not. Im trying to use API Token(Bearer Token) from Settings to pull data from plugin collection type, if i use Bearer token on native collection type from stapi authorization works a

[2022-05-13 17:50] gvocale opened #13316 "provider-upload-cloudinary missing a catch makes production app restart"
[code]
## Bug report

### Required System information

- Node.js version: 16
- NPM version:
- Strapi version: 4.1
- Database: MariaDB
- Operating system: Mac OS

### Describe the bug

I am uploading files via node and @strapi/provider-upload-cloudinary. In some situation, an error thrown by cloudinary would make my production app crash and restart. The error says there is a missing catch for a pro

[2022-05-13 21:58] gvocale commented on #13316
I have also tried to use `onPart` and `filter` in formidable to see if I can detect an invalid image file there, but without luck. This doesn't console log anything:

[code]

[2022-05-14 04:33] koseki opened #13317 "Unable to start after editing `config/server.js` using Emacs"
## Bug report

### Required System information

- Node.js version: 14.16.1
- NPM version: 6.14.12
- Strapi version: 4.1.11
- Database: SQLite
- Operating system: macOS Mojave

### Describe the bug

After editing `config/server.js`, Emacs generates a backup file named `config/server.js~`.
This backup file overwrites and erases all the `server` configurations.

https://github.com/strapi/strapi/blob/

[2022-05-14 12:01] Leviathan91 commented on #11729
How  is this closed, I just tried again today and still not fixed. Such a bad experience

[2022-05-14 18:42] renegadevi commented on #13222
I experience same error message.. but with 4.1.9. Using docker with nginx. I downgraded from 4.1.9 to 4.1.8 and it worked again.

[2022-05-14 23:15] sauldeleon commented on #13242
@derrickmehaffy do you know if the roadmap includes when will strapi be compatible with React 18?

[2022-05-15 05:53] Keith-Hon opened #13318 "Users related rest apis do not conform to entity type format"
Describe the bug
A clear and concise description of what the bug is.
1. Users rest api does not conform to entity type format
2. Populated fields from users rest api do not conform to entity type format

Steps to reproduce the behavior
1. Call api/users, the returned data doesn't conform to the format of, but got flatten out

Expected: {
    "data": [
        {
            "id": 1,
            "at

[2022-05-15 05:58] Keith-Hon commented on #13318
I am writing an ts sdk which has the following function:

 const { success: boolean, entity?: UsersPermissionsUserEntity} = await strapi.getEntity<UsersPermissionsUserEntity>({
            types: "users",
            populateParams: ["membership"],
            attributes: [{
                key: "email", value: abc@gmail.com
            }]
 });

the sdk then calls a rest api to get the entity from

[2022-05-15 07:00] Keith-Hon commented on #13318
The types are generated using graphql-codegen on strapi graphql endpoint

[2022-05-15 11:25] MichaelEvtushenko opened #13319 "fix(content-manger): Check `datetime` type on an empty state"
https://github.com/strapi/strapi/blob/2edd2ae00c04b973f9bc2c91a9e83efb4a7b93a9/packages/core/admin/admin/src/content-manager/components/EditViewDataManagerProvider/index.js#L238
As the title says, need to add the following check for `datetime` type as well:
[code]

[2022-05-15 13:52] kamal-choudhary opened #13320 "[v4] [Admin Panel] Weird bug on Media Library page due to formatDuration function"
## Bug report

### Required System information

- Node.js version: 16.14.0
- NPM version: 8.3.1
- Strapi version: 4.1.5
- Database: MySQL
- Operating system: macOS Big Sur

### Describe the bug

After uploading videos through GraphQL mutations, the Media Library page on Strapi Admin Panel gets broken and gives this error `RangeError: Invalid time value -> at formatDuration.js -> at VideoAssetCard.

[2022-05-15 18:38] sargreal opened #13322 "CTB: extendFields can only be used once for each field"
## Bug report

### Required System information

- Node.js version: v14.17.0
- NPM version: 8.5.5
- Strapi version: 4.1.11
- Database: sqlite
- Operating system: Manjaro Linux

### Describe the bug

When trying to extend field types in the content type builder with some custom settings, only the first registered one is actually shown in the base/advanced settings of a field.

The problematic code i

[2022-05-15 19:27] DanieleAurilio commented on #13282
Hi @derrickmehaffy @umcai,
i think put `sizeLimit = sizeLimit/1024;` in [strapi/packages/providers/upload-local/lib/index.js](https://github.com/strapi/strapi/blob/cf33ce0b63ab7e07e75c46b3f4382cf3a9c0956c/packages/providers/upload-local/lib/index.js#L17-L18) can solve this behaviour.
Could it be a good solution?

If it will be a good solution i can pickup this issue and will make a pr.

[2022-05-16 08:24] #13150 closed

[2022-05-16 09:08] #12349 closed

[2022-05-16 09:31] fdel-car opened #13327 "Incomplete context in policies and 403 PolicyError not logged"
## Bug report

### Required System information

- Node.js version: 14.17.2
- NPM version: 6.14.13
- Strapi version: 4.1.9
- Database: PostgreSQL
- Operating system: macOS

### Describe the bug

It seems that when reaching a policy, some middlewares didn't run yet.
For example, `ctx.query` is `undefined` inside the policy code - it's defined in the controller code on the other hand. Or when you blo

[2022-05-16 09:44] nwokolawrence6 opened #13328 "Mysql ER_NOT_SUPPORTED_AUTH_MODE ERORR Temp Fix"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@strapi/database@4.1.11` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-05-16 10:09] Keith-Hon opened #13329 "Error creating entity with component via rest api"
Describe the bug
A clear and concise description of what the bug is.

1. I am using the rest api (/api/product-categories) to create entities, which has a component field called "name". "name" has 3 fields of text (var 255 length). The api sometimes return 500 error from time to time

{
    "data": null,
    "error": {
        "status": 500,
        "name": "InternalServerError",
        "message"

[2022-05-16 10:42] davidspura opened #13330 "[V4] Can't detect relation between language variants of an entry in collection-type"
## Bug report

### Required System information

- Node.js version: v16.6.0
- NPM version: 8.5.5
- Strapi version: 4.1.9
- Database: postgres
- Operating system: MacOS

### Describe the bug

When requesting e.g. article entry, there is currently no way to detect if it has any language variants, even though the admin panel knows the relation between the entries.

Strapi admin already knows the relat

[2022-05-16 12:53] RazvanCretu commented on #12110
Hi @derrickmehaffy

I've tried to update the report as in the issue template, let me know if I missed something.

Could this issue be reopened as it still persists?

Thanks.

[2022-05-16 13:35] ynechaev commented on #13263
@derrickmehaffy I can confirm this issue persists on both `4.1.10` and `4.1.11` versions

[2022-05-16 14:59] tefkah opened #13333 "403 when requesting content via /api/{resources} in beta"
## Bug report

### Required System information

- Node.js version: 16
- NPM version: 8.6.0
- Strapi version: 4.2.0-beta2
- Database: any
- Operating system: MacOS

### Describe the bug

When upgrading to typescript in the beta, Strapi allows you to keep the api exports in .js, but will fail when requesting the resources via `strapi routes:list` and yield a 403 through `/api/{resources}`.

### Step

[2022-05-16 15:54] fingeg opened #13334 "[users-permissions]: Extending the user model with relations doesn't work in v4/postgres anymore"
## Bug report
In strapi v3 with MongoDB it was not a problem to extend the user model with a new relation. That relation was automatically included into the response of `auth/local` and therefore was easily accessible.
Now it doesn't show up in the response at all anymore, which is because the SQL based relations need the `populate: true` argument on a `query(...).findOne(...)`, which is not speci

[2022-05-16 16:06] fingeg commented on #13334
I looked into what `populate: true` does in case there are no relations present and when the attribute is set to true the function:
https://github.com/strapi/strapi/blob/27639fa67ee100f23d805301f9f91e440c7b210e/packages/core/database/lib/query/helpers/populate.js#L8
is called, which just iterates through the attributes of the collection model to find relations. If there are no relations it simply

[2022-05-17 02:11] kentnek commented on #13167
@sultanfendonus please reopen this issue as purging cache only works temporarily.

[2022-05-17 02:15] sultanfendonus commented on #13167
Thanks. I reopened it. Hopefully Strapi team will solve this soon.

[2022-05-17 03:09] brandonratz commented on #13293
**Reproduced**

- Yarn 3.2.1
- Node 14.17.0
- Strapi 4.1.11

1. `yarn create strapi-app my-project --quickstart`
2. `yarn strapi install graphql`
3. `yarn develop`
4. Browse to http://localhost:1337/admin/plugins/content-type-builder

Console error and WSOD
[code]

[2022-05-17 03:18] WuHanMuMu opened #13337 "wrong column in relation"
## Bug report

### Required System information

- Node.js version: 16
- NPM version: 7
- Strapi version: 4.1.9
- Database: sqlite
- Operating system: macos

### Describe the bug

create a contentType named test-i18-n which  have a many-to-many relationship with caps.
there is a relationship table in the db, test_i_18_ns_caps_links.

why the name not the same with the test-i18-n table (named test_i

[2022-05-17 07:34] agursoy commented on #13242
Hi I faced same issue, same upgrading v3 to v4. I removed node_modules and package-lock.json and installed dependencies solves issue.

[code]

[2022-05-17 08:14] martinloretzzz opened #13338 "[plugin:documentation]: Missing locale parameter in the openapi schema"
## Bug report

### Required System information

- Node.js version: v14.18.1
- NPM version: 6.14.15
- Strapi version: 4.1.10
- Database: sqlite
- Operating system: windows 11

### Describe the bug

The documentation plugin isn't adding the locale parameter to GET Requests, when i18n is enabled for the endpoint.
I'm using the openapi schema to generate the typescript interfaces and client code with

[2022-05-17 09:13] ShreyashSalian15 commented on #2897
Hello there I wanted to integrate MariaDB in strapi but when I execute this command "npx create-strapi-app my-project
" and select custom setting I am not getting an option of selecting MariaDB I am getting only these three options did anyone know how am I supposed to do this?

![image](https://user-images.githubusercontent.com/105337128/168775566-6464d9b7-a2f1-4606-9a6d-8de23fa704d0.png)

[2022-05-17 09:30] #12879 closed

[2022-05-17 09:34] Solero007 opened #13340 "Error saving view configuration on random collections"
## Bug report

### Required System information

- Node.js version: v16
- NPM version:  8.5.5
- Strapi version: 4.1.11
- Database: Postgres
- Operating system: Windows 11

### Describe the bug

When trying to configure a view, it displays and error on save.

"main.a8c4bf62.js:8404 TypeError: Cannot read properties of undefined (reading 'settings')
    at content-manager.c5f5fb6a.chunk.js:70:9499

[2022-05-17 10:19] ShreyashSalian15 opened #13341 "Database integration with strapi"
Hello there I wanted to integrate MariaDB in strapi but when I execute this command "npx create-strapi-app my-project
" and select custom setting I am not getting an option of selecting MariaDB I am getting only these three options did anyone know how am I supposed to do this?

![image](https://user-images.githubusercontent.com/105337128/168789314-d23a9a94-f626-412e-8918-b7decdef839d.png)

[2022-05-17 10:26] ShreyashSalian15 commented on #13341
I am using this documentation for installation
https://docs-v3.strapi.io/developer-docs/latest/setup-deployment-guides/installation/cli.html#creating-a-strapi-project

[2022-05-17 12:03] kjoscha opened #13342 "Cannot move cursor in input fields of repeatable components"
## Bug report

### Required System information

- Node.js version: v16
- NPM version: 8.5.5
- Strapi version: 4.1.7
- Database: sqlite
- Operating system: Ubuntu

### Describe the bug

If I use a repeatable component in a collection or a singular type, inside all inputs the arrow keys do not move the cursor. Nevrtheless, with the mouse the cursor can be moved to all positions.

### Steps to reprod

[2022-05-17 12:31] JMartinCollins commented on #12827
https://github.com/strapi/strapi/blob/698ae33e0007811ce24b568cc5d873d7a4d2a832/packages/core/database/lib/entity-manager.js#L339

This problem is still present in 4.1.11

[2022-05-17 12:47] ynechaev commented on #13263
Bump

[2022-05-17 13:29] kevinvugts commented on #13193
Hi @derrickmehaffy,

What would you advise if you are logged in as admin in the back-end and want to  trigger a function that creates localizations for a collection-type item in each language that you've had enabled in the strapi back-end?

As an admin you do not have access to the /api resources. So what will be the best way, apart from making the route public which is a very bad idea, of doing t

[2022-05-17 15:14] ddrosatosimode commented on #11860
I was having the same error after i added new field to existing content type. Removing the new field opens the admin again.
Its a huge issue generally and i dont think its knex only related. Strapi version 4.1.8 on Heroku with Postgr. Pool options in database.js dont resolve the issue.

Honestly i dont see the reason behind these issues. I cant understand why a slight change of a content type sche

[2022-05-17 15:50] derrickmehaffy commented on #13193
You build an admin route, I would suggest looking at some of the existing community plugins that are already using this method to get some real world examples.

[2022-05-17 15:52] derrickmehaffy commented on #13341
You just select MySQL, MariaDB is a drop in replacement for MySQL and in v4 we go off of Knex dialects in that menu. Within Knex both MySQL and MariaDB function off the MySQL dialect

Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io).

[2022-05-17 15:52] #13341 closed

[2022-05-17 17:48] derrickmehaffy commented on #12098
won't reopen this one but instead will stick with https://github.com/strapi/strapi/issues/13248

[2022-05-17 17:53] derrickmehaffy commented on #13242
No, we have no roadmap entry for that.

[2022-05-17 17:56] derrickmehaffy commented on #13319
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2022-05-17 17:56] #13319 closed

[2022-05-17 17:57] derrickmehaffy commented on #13304
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io) or our [Discord](https://discord.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).